GML/PS/OLFV_NV/2.37/23.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        version="2.28">
   <annotation>
      <documentation>23: Fysisk hinder for å kunne stenge en veg.  F.eks i forbindelse med rasfare, tunnel, høgfjell etc.</documentation>
   </annotation>
   <include schemaLocation="OLFV_SVV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeVegbomType">
      <annotation>
         <documentation>1252: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1252</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1252</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeVegbomEnumerationType nvdb:BruksområdeVegbomOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeVegbomEnumerationType">
      <annotation>
         <documentation>1252: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1252</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1252</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Høyfjellsovergang">
            <annotation>
               <documentation>2495: Vegbom benyttes til å stenge vegstrekning som karakteriseres som høyfjellsstrekning. Dette er strekninger som er ekstra utsatt for snø og vind.  De behøver ikke ligge høyt over havet, men er over tregrensen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2495</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Høyfjellsovergang</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Tunnel">
            <annotation>
               <documentation>2753: Vegbom benyttes for å stenge veg i tunnel. Merknad: Slike vegbommer kan være plassert utenfor selve tunnelen. Vegbommer med bruksområde tunnel skal knyttes til Tunnelløp.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2753</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vanlig vegstrekning">
            <annotation>
               <documentation>2496: Vegbom benyttes for å stenge vanlig vegstrekning. Kan f.eks være i forbindelse med skredutsatt veg eller værutsatt veg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2496</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vanlig vegstrekning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bomstasjon">
            <annotation>
               <documentation>2497: Vegbom benyttes i forbindelse med bomstasjon. Åpnes når betaling er ok.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2497</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ferjekai">
            <annotation>
               <documentation>10247: Bom som stenger ferjelem. Merknad: Disse skal knyttes til Ferjeleie</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10247</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ferjekai</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Gang-/sykkelveg, sluse">
            <annotation>
               <documentation>5485: Vegbom benyttes på eller i tilknytning til gang-/sykkelveg. eller fortau.  Vegbommene er   plassert slik at de stenger for biltrafikk, men har åpning for at myke trafikanter kan passere (sluses gjennom).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5485</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gang-/sykkelveg, sluse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Annet bruksområde">
            <annotation>
               <documentation>19821: Ingen av de øvrige bruksområdene er beskrivende. Det skal angis nærmere beskrivelse av bruksområde under egenskapstype "Tilleggsinformasjon"</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19821</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet bruksområde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeVegbomOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FjernstyringVegbomType">
      <annotation>
         <documentation>1738: Angir om vegobjektet kan fjernstyres.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FjernstyringVegbomEnumerationType nvdb:FjernstyringVegbomOtherType"/>
   </simpleType>
   <simpleType name="FjernstyringVegbomEnumerationType">
      <annotation>
         <documentation>1738: Angir om vegobjektet kan fjernstyres.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>3517: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3517</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>3555: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3555</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FjernstyringVegbomOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MarkeringsskiltPåmontertType">
      <annotation>
         <documentation>4610: Angir om det er montert markeringsskilt på vegbom/stengsel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4610</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">4610</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Markeringsskilt påmontert</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MarkeringsskiltPåmontertEnumerationType nvdb:MarkeringsskiltPåmontertOtherType"/>
   </simpleType>
   <simpleType name="MarkeringsskiltPåmontertEnumerationType">
      <annotation>
         <documentation>4610: Angir om det er montert markeringsskilt på vegbom/stengsel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4610</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">4610</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Markeringsskilt påmontert</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Nei">
            <annotation>
               <documentation>5566: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5566</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ikke relevant">
            <annotation>
               <documentation>21307: Angis dersom det ikke er behov/krav om påmonterte markeringsskilt</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21307</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke relevant</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MarkeringsskiltPåmontertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeVegbomType">
      <annotation>
         <documentation>4596: Angir materialtype.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4596</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">4596</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeVegbomEnumerationType nvdb:MaterialtypeVegbomOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeVegbomEnumerationType">
      <annotation>
         <documentation>4596: Angir materialtype.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4596</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">4596</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Stål">
            <annotation>
               <documentation>5535: Stål</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5535</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Aluminium">
            <annotation>
               <documentation>8189: Aluminium</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8189</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Tre">
            <annotation>
               <documentation>5537: Tre</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5537</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Plast">
            <annotation>
               <documentation>5536: Plast</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5536</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Betong">
            <annotation>
               <documentation>19818: Betong</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19818</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stein">
            <annotation>
               <documentation>19819: Stein</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19819</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeVegbomOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegbomType">
      <annotation>
         <documentation>1105: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1105</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1105</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeVegbomEnumerationType nvdb:TypeVegbomOtherType"/>
   </simpleType>
   <simpleType name="TypeVegbomEnumerationType">
      <annotation>
         <documentation>1105: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1105</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1105</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Heve-/senkebom">
            <annotation>
               <documentation>2498: Heve-/senkebommer åpnes og lukkes ved å heve/senke vegbommen.  Heve-/senkebom kan sperre hele eller deler av vegbanen. Merknad: I tilfeller med heve-/senkebommer på begge side av vegen i samme snitt skal det registreres to forekomster av vegbom.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2498</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Heve-/senkebom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Svingbom">
            <annotation>
               <documentation>2501: Svingbommer åpnes og lukkes ved at de svinges til side.  Svingbommer kan sperre hele eller deler av vegbanen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2501</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Svingbom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stolpe/pullert/kjegle">
            <annotation>
               <documentation>5486: En eller flere stolper, pullerter eller kjegler satt opp på rekke med innbyrdes avstand slik at veg sperres for biltrafikk. Kan være permanent, fjernes manuelt eller fjernes ved automatisk nedsenkning. Informasjon om dette angis under ET 3839 "Type åpning/lukking"</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5486</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stolpe/pullert/kjegle</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Rørgelender">
            <annotation>
               <documentation>5487: Disse vegbommene kan være sammensatt av en eller flere deler, f,eks som to parallellle sideforskyvde gelender/trafikkgjerder med passasje for myke trafikanter mellom. Denne type vegbom må normalt løftes til side eller demonteres for å åpne for biltrafik.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5487</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rørgelender</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Steinblokk">
            <annotation>
               <documentation>5488: En eller flere steinblokker plassert på tvers av veg. Normalt mulig for myke trafikanter å passere</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5488</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Steinblokk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="New jersey">
            <annotation>
               <documentation>5489: En eller flere New-Jersy/betongblokker plassert på tvers av veg. Normalt mulig for myke trafikanter å passere</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5489</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">New jersey</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Annen type vegbom/sperring">
            <annotation>
               <documentation>5490: Benyttes om vegbommerr/sperringer som ikke dekkes av de øvrige verdiene. Beskrivelse skal angis under tilleggsinformasjon</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5490</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen type vegbom/sperring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegbomOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeÅpningLukkingType">
      <annotation>
         <documentation>3839: Angir hvordan åpning/lukking foregår.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3839</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">3839</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type åpning/lukking</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeÅpningLukkingEnumerationType nvdb:TypeÅpningLukkingOtherType"/>
   </simpleType>
   <simpleType name="TypeÅpningLukkingEnumerationType">
      <annotation>
         <documentation>3839: Angir hvordan åpning/lukking foregår.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3839</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">3839</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type åpning/lukking</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Automatisert/elektrisk">
            <annotation>
               <documentation>4704: Åpning/lukking foregår ved at en f.eks. noen «trykker på en knapp» eller av brikke i kjøretøy el. lign.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4704</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Automatisert/elektrisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Manuell">
            <annotation>
               <documentation>4705: Må åpnes/lukkes fysisk på stedet.  Noen vegbommer kan være låst med hengelås.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4705</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Manuell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ikke åpne-/lukkemulighet">
            <annotation>
               <documentation>19820: Vegbom har ikke åpne lukke-mulighet. For å passeres må eventuelt hele vegbom/sperring fjernes. Relevant for noen typer rørgelender, stolper/puller/kjegle, mm</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19820</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke åpne-/lukkemulighet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeÅpningLukkingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VarselblinkPåmontertType">
      <annotation>
         <documentation>4611: Angir om det er montert varselblink på vegbom/stengsel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4611</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">4611</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varselblink påmontert</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VarselblinkPåmontertEnumerationType nvdb:VarselblinkPåmontertOtherType"/>
   </simpleType>
   <simpleType name="VarselblinkPåmontertEnumerationType">
      <annotation>
         <documentation>4611: Angir om det er montert varselblink på vegbom/stengsel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4611</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">4611</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varselblink påmontert</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>5567: Det er montert varselblink</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5567</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>5568: Benyttes i tilfeller hvor det ikke er montert varselblink, men det er relevant å montere varselblink</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5568</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ikke relevant">
            <annotation>
               <documentation>17303: Angis i tilfeller hvor det ikke er relevant å montere varselblink.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17303</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke relevant</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VarselblinkPåmontertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegbom"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:VegbomType">
      <annotation>
         <documentation>23: Fysisk hinder for å kunne stenge en veg.  F.eks i forbindelse med rasfare, tunnel, høgfjell etc.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">23</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">23</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegbom</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VegbomType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeVegbomType">
                  <annotation>
                     <documentation>1252: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1252</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeVegbomType">
                  <annotation>
                     <documentation>1105: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1105</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialtype" type="nvdb:MaterialtypeVegbomType">
                  <annotation>
                     <documentation>4596: Angir materialtype.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4596</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typeÅpningLukking" type="nvdb:TypeÅpningLukkingType">
                  <annotation>
                     <documentation>3839: Angir hvordan åpning/lukking foregår.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3839</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type åpning/lukking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="markeringsskiltPåmontert"
                        type="nvdb:MarkeringsskiltPåmontertType">
                  <annotation>
                     <documentation>4610: Angir om det er montert markeringsskilt på vegbom/stengsel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4610</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Markeringsskilt påmontert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="varselblinkPåmontert" type="nvdb:VarselblinkPåmontertType">
                  <annotation>
                     <documentation>4611: Angir om det er montert varselblink på vegbom/stengsel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4611</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Varselblink påmontert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="fjernstyring" type="nvdb:FjernstyringVegbomType">
                  <annotation>
                     <documentation>1738: Angir om vegobjektet kan fjernstyres.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1738</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10394: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10394</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10490: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10490</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent" type="string">
                  <annotation>
                     <documentation>3519: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3519</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>4050: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4050</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9426: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9426</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VegbomPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegbom"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
