GML/PS/OLFV_NV/2.37/721.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>721: Høyeste tillatte hastighet på en vegstrekning innenfor et avgrenset tidsrom.</documentation>
   </annotation>
   <include schemaLocation="OLFV_NV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Fartsgrense, variabel"
            substitutionGroup="nvdb:AbstraktFartsgrenseVariabel"
            type="nvdb:Fartsgrense, variabelType">
      <annotation>
         <documentation>721: Høyeste tillatte hastighet på en vegstrekning innenfor et avgrenset tidsrom.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">721</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fartsgrense, variabel</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Fartsgrense, variabelType">
      <complexContent>
         <extension base="nvdb:AbstraktFartsgrenseVariabelType">
            <sequence>
               <element name="fartsgrenseVerdi">
                  <annotation>
                     <documentation>7023: Verdien på fartsgrensen i angitt tidsrom.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7023</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fartsgrense</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeFartsgrense, variabelType">
                  <annotation>
                     <documentation>7016: Angir hvilken type variabel fartsgrense det er.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7016</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="ukedag"
                        type="nvdb:UkedagFartsgrense, variabelType">
                  <annotation>
                     <documentation>9401: Angir ukedager en variabel fartsgrense gjelder for.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9401</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Ukedag</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoFra" type="string">
                  <annotation>
                     <documentation>7019: Angir dato (mmdd) som variabel fartsgrense gjelder fra og med i et normalår.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7019</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato, fra</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoTil" type="string">
                  <annotation>
                     <documentation>7022: Angir dato (mmdd) som variabel fartsgrense gjelder til og med i et normalår.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7022</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato, til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="klokkeslettFra" type="time">
                  <annotation>
                     <documentation>7017: Angir tidspunkt (hhmm) på døgnet som variabel fartsgrense gjelder fra.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7017</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Klokkeslett, fra</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="klokkeslettTil" type="time">
                  <annotation>
                     <documentation>7018: Angir tidspunkt på døgnet (hhmm) som variabel fartsgrense gjelder til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7018</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Klokkeslett, til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="gyldigFraDato" type="date">
                  <annotation>
                     <documentation>9400: Dato for når fartsgrense ble satt i drift. Den dato skiltene ble "avduket".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9400</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gyldig fra dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11465: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11465</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Fartsgrense, variabelPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fartsgrense, variabel"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="FartsgrenseVerdiFartsgrense, variabelType">
      <annotation>
         <documentation>7023: Verdien på fartsgrensen i angitt tidsrom.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7023</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fartsgrense</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FartsgrenseVerdiFartsgrense, variabelEnumerationType nvdb:FartsgrenseVerdiFartsgrense, variabelOtherType"/>
   </simpleType>
   <simpleType name="FartsgrenseVerdiFartsgrense, variabelEnumerationType">
      <annotation>
         <documentation>7023: Verdien på fartsgrensen i angitt tidsrom.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7023</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fartsgrense</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="100">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9340</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">100</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="110">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16591</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="20">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11577</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">20</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="30">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9333</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">30</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="40">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9334</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">40</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9335</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="60">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9336</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">60</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="70">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9337</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">70</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="80">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9338</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="90">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9339</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">90</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FartsgrenseVerdiFartsgrense, variabelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeFartsgrense, variabelType">
      <annotation>
         <documentation>7016: Angir hvilken type variabel fartsgrense det er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7016</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeFartsgrense, variabelEnumerationType nvdb:TypeFartsgrense, variabelOtherType"/>
   </simpleType>
   <simpleType name="TypeFartsgrense, variabelEnumerationType">
      <annotation>
         <documentation>7016: Angir hvilken type variabel fartsgrense det er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7016</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="M">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13241</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Miljøfartsgrense</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9328</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skole</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="So">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13242</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sommerfartsgrense</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vinterfartsgrense</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeFartsgrense, variabelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UkedagFartsgrense, variabelType">
      <annotation>
         <documentation>9401: Angir ukedager en variabel fartsgrense gjelder for.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9401</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukedag</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UkedagFartsgrense, variabelEnumerationType nvdb:UkedagFartsgrense, variabelOtherType"/>
   </simpleType>
   <simpleType name="UkedagFartsgrense, variabelEnumerationType">
      <annotation>
         <documentation>9401: Angir ukedager en variabel fartsgrense gjelder for.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9401</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukedag</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="F">
            <annotation>
               <documentation>13250: Fredag.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13250</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fredag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="H">
            <annotation>
               <documentation>13243: Mandag - Lørdag.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13243</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hverdager</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="HuL">
            <annotation>
               <documentation>13244: Mandag - Fredag.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13244</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hverdager u/ lørdag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <documentation>13251: Lørdag.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13251</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lørdag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LS">
            <annotation>
               <documentation>13245: Lørdag - Søndag.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13245</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lørdag og søndag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="M">
            <annotation>
               <documentation>13246: Mandag.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13246</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mandag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O">
            <annotation>
               <documentation>13248: Onsdag.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13248</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Onsdag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <documentation>13252: Søndag.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13252</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søndag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ti">
            <annotation>
               <documentation>13247: Tirsdag.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13247</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tirsdag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="To">
            <annotation>
               <documentation>13249: Torsdag.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13249</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Torsdag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UkedagFartsgrense, variabelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
