GML/PS/OLFV_NV/2.36/214.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        version="2.28">
   <annotation>
      <documentation>214: Utstyr for å måle sikt, særlig aktuelt i tunnel</documentation>
   </annotation>
   <include schemaLocation="OLFV_SVV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Siktmåler"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:SiktmålerType">
      <annotation>
         <documentation>214: Utstyr for å måle sikt, særlig aktuelt i tunnel</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">214</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">214</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Siktmåler</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SiktmålerType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="typeIO" type="nvdb:TypeIOType">
                  <annotation>
                     <documentation>4056: Angir om det er digital eller analog tilkopling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4056</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type I/O</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10357: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10357</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10478: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10478</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent" type="string">
                  <annotation>
                     <documentation>1544: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1544</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>1464: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1464</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4854: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4854</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SiktmålerPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Siktmåler"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeIOType">
      <annotation>
         <documentation>4056: Angir om det er digital eller analog tilkopling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4056</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">4056</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type I/O</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeIOEnumerationType nvdb:TypeIOOtherType"/>
   </simpleType>
   <simpleType name="TypeIOEnumerationType">
      <annotation>
         <documentation>4056: Angir om det er digital eller analog tilkopling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4056</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">4056</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type I/O</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Analog">
            <annotation>
               <documentation>5065: Analog</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5065</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Analog</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Digital">
            <annotation>
               <documentation>5071: Digital</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5071</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Digital</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeIOOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
