GML/PS/OLFV_NV/2.36/28.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        version="2.28">
   <annotation>
      <documentation>28: Møbler som benyttes ute i samband med vegsystemet.  Dette kan f.eks være på rasteplasser, ferjeoppstillingsplasser etc.</documentation>
   </annotation>
   <include schemaLocation="OLFV_SVV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="FastmontertUtemøblerType">
      <annotation>
         <documentation>9451: Angir om utemøblet er fastmontert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9451</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9451</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fastmontert</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FastmontertUtemøblerEnumerationType nvdb:FastmontertUtemøblerOtherType"/>
   </simpleType>
   <simpleType name="FastmontertUtemøblerEnumerationType">
      <annotation>
         <documentation>9451: Angir om utemøblet er fastmontert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9451</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9451</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fastmontert</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>13314: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13314</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>13315: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13315</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FastmontertUtemøblerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeUtemøblerType">
      <annotation>
         <documentation>1402: Angir primær materialtype for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1402</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1402</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeUtemøblerEnumerationType nvdb:MaterialtypeUtemøblerOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeUtemøblerEnumerationType">
      <annotation>
         <documentation>1402: Angir primær materialtype for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1402</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1402</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Tre">
            <annotation>
               <documentation>2189: Tre</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2189</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Betong">
            <annotation>
               <documentation>2207: Betong</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2207</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Metall, stål, galvanisert">
            <annotation>
               <documentation>2230: Metall, stål, galvanisert</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2230</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, stål, galvanisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Naturstein">
            <annotation>
               <documentation>2254: Naturstein</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2254</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Plast">
            <annotation>
               <documentation>2269: Plast</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2269</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeUtemøblerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingUtemøblerType">
      <annotation>
         <documentation>1602: Angir hvordan vegobjektet er overflatebehandla.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1602</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1602</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OverflatebehandlingUtemøblerEnumerationType nvdb:OverflatebehandlingUtemøblerOtherType"/>
   </simpleType>
   <simpleType name="OverflatebehandlingUtemøblerEnumerationType">
      <annotation>
         <documentation>1602: Angir hvordan vegobjektet er overflatebehandla.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1602</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1602</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Malt">
            <annotation>
               <documentation>2154: Malt</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2154</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Malt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Beiset">
            <annotation>
               <documentation>2161: Beiset</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2161</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Beiset</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Impregnert">
            <annotation>
               <documentation>2167: Impregnert</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2167</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Impregnert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Oljet">
            <annotation>
               <documentation>2173: Oljet</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2173</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oljet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Lakkert">
            <annotation>
               <documentation>2179: Lakkert</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2179</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lakkert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Emaljert">
            <annotation>
               <documentation>2180: Emaljert</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2180</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emaljert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ingen overflatebehandling">
            <annotation>
               <documentation>19083: Vegobjektet har ingen overflatebehandling.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19083</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen overflatebehandling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingUtemøblerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeUtemøblerType">
      <annotation>
         <documentation>1109: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1109</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1109</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeUtemøblerEnumerationType nvdb:TypeUtemøblerOtherType"/>
   </simpleType>
   <simpleType name="TypeUtemøblerEnumerationType">
      <annotation>
         <documentation>1109: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1109</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1109</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Sittegruppe">
            <annotation>
               <documentation>2518: Sittegruppe</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2518</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sittegruppe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sittegruppe, bord/benk">
            <annotation>
               <documentation>2519: Sittegruppe, bord/benk</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2519</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sittegruppe, bord/benk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sittegruppe, bord/benk m tak">
            <annotation>
               <documentation>2520: Sittegruppe, bord/benk m tak</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2520</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sittegruppe, bord/benk m tak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sittegruppe, bord/stoler">
            <annotation>
               <documentation>2521: Sittegruppe, bord/stoler</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2521</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sittegruppe, bord/stoler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sittegruppe, bord/stoler m tak">
            <annotation>
               <documentation>13316: Sittegruppe, bord/stoler m tak</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13316</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sittegruppe, bord/stoler m tak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Benk">
            <annotation>
               <documentation>3793: Benk</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3793</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Benk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeUtemøblerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Utemøbler"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:UtemøblerType">
      <annotation>
         <documentation>28: Møbler som benyttes ute i samband med vegsystemet.  Dette kan f.eks være på rasteplasser, ferjeoppstillingsplasser etc.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">28</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">28</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utemøbler</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="UtemøblerType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="type" type="nvdb:TypeUtemøblerType">
                  <annotation>
                     <documentation>1109: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1109</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialtype" type="nvdb:MaterialtypeUtemøblerType">
                  <annotation>
                     <documentation>1402: Angir primær materialtype for vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1402</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="overflatebehandling"
                        type="nvdb:OverflatebehandlingUtemøblerType">
                  <annotation>
                     <documentation>1602: Angir hvordan vegobjektet er overflatebehandla.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1602</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="fastmontert" type="nvdb:FastmontertUtemøblerType">
                  <annotation>
                     <documentation>9451: Angir om utemøblet er fastmontert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9451</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fastmontert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10390: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10390</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4736: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4736</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="assosiertHoldeplassutrustning"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Holdeplassutrustning</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="assosiertRasteplass" type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Rasteplass</targetElement>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="UtemøblerPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Utemøbler"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
