GML/PS/OLFV_NV/2.36/623.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        version="2.28">
   <annotation>
      <documentation>623: Konstruksjon beregnet for oppsetting av informasjon til trafikkanter, eksempelvis informasjon rettet mot turister. Disse er normalt lokalisert til vegens sideanlegg som f.eks rasteplasser eller lommer, og det er forutsatt at trafikkant står i ro ved lesing av informajson. Informasjonstavler som oppfyller krav til  skiltnummer 560 (Håndbok N300, del 3) skal registreres som skiltpunkt/skiltplate.</documentation>
   </annotation>
   <include schemaLocation="OLFV_SVV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BelystStativForTuristinfoType">
      <annotation>
         <documentation>5649: Angir om tavle er belyst eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5649</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5649</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belyst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelystStativForTuristinfoEnumerationType nvdb:BelystStativForTuristinfoOtherType"/>
   </simpleType>
   <simpleType name="BelystStativForTuristinfoEnumerationType">
      <annotation>
         <documentation>5649: Angir om tavle er belyst eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5649</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5649</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belyst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>7946: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7946</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>7947: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7947</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelystStativForTuristinfoOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FestetPåType">
      <annotation>
         <documentation>5656: Angir om stativet er festet på vegg etc.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5656</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5656</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Festet på</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FestetPåEnumerationType nvdb:FestetPåOtherType"/>
   </simpleType>
   <simpleType name="FestetPåEnumerationType">
      <annotation>
         <documentation>5656: Angir om stativet er festet på vegg etc.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5656</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5656</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Festet på</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Bygning">
            <annotation>
               <documentation>7960: Bygning</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7960</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bygning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fjellvegg">
            <annotation>
               <documentation>7961: Fjellvegg</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7961</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjellvegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Mur">
            <annotation>
               <documentation>7962: Mur</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7962</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FestetPåOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringStativForTuristinfoType">
      <annotation>
         <documentation>5654: Angir hvordan stativet er fundamentert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5654</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5654</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FundamenteringStativForTuristinfoEnumerationType nvdb:FundamenteringStativForTuristinfoOtherType"/>
   </simpleType>
   <simpleType name="FundamenteringStativForTuristinfoEnumerationType">
      <annotation>
         <documentation>5654: Angir hvordan stativet er fundamentert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5654</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5654</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Betongsåle">
            <annotation>
               <documentation>7956: Betongsåle</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7956</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongsåle</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stolpefundament">
            <annotation>
               <documentation>7957: Stolpefundament</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7957</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stolpefundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringStativForTuristinfoOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeStativForTuristinfoType">
      <annotation>
         <documentation>5647: Angir primær materialtype stativet er oppført i.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5647</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5647</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeStativForTuristinfoEnumerationType nvdb:MaterialtypeStativForTuristinfoOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeStativForTuristinfoEnumerationType">
      <annotation>
         <documentation>5647: Angir primær materialtype stativet er oppført i.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5647</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5647</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Tre">
            <annotation>
               <documentation>7968: Tre</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7968</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Metall">
            <annotation>
               <documentation>7969: Metall</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7969</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Naturstein">
            <annotation>
               <documentation>7970: Naturstein</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7970</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Betong">
            <annotation>
               <documentation>7971: Betong</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7971</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Betongstein">
            <annotation>
               <documentation>7972: Betongstein</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7972</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Plast">
            <annotation>
               <documentation>7973: Plast</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7973</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Pleksiglass">
            <annotation>
               <documentation>7974: Pleksiglass</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7974</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pleksiglass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kombinasjon av flere">
            <annotation>
               <documentation>7975: Kombinasjon av flere</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7975</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kombinasjon av flere</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeStativForTuristinfoOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingStativForTuristinfoType">
      <annotation>
         <documentation>5657: Angir hvilken type overflatebehandling det er på stativet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5657</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5657</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OverflatebehandlingStativForTuristinfoEnumerationType nvdb:OverflatebehandlingStativForTuristinfoOtherType"/>
   </simpleType>
   <simpleType name="OverflatebehandlingStativForTuristinfoEnumerationType">
      <annotation>
         <documentation>5657: Angir hvilken type overflatebehandling det er på stativet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5657</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5657</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Malt">
            <annotation>
               <documentation>7963: Malt</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7963</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Malt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Beiset">
            <annotation>
               <documentation>7964: Beiset</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7964</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Beiset</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Lakkert">
            <annotation>
               <documentation>7965: Lakkert</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7965</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lakkert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Impregnert">
            <annotation>
               <documentation>7966: Impregnert</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7966</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Impregnert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ubehandlet">
            <annotation>
               <documentation>7967: Ubehandlet</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7967</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ubehandlet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingStativForTuristinfoOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlexiglassUtenpåInfoplaterType">
      <annotation>
         <documentation>5650: Angir om det er plexiglass utenpå infoplatene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5650</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5650</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plexiglass utenpå infoplater</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlexiglassUtenpåInfoplaterEnumerationType nvdb:PlexiglassUtenpåInfoplaterOtherType"/>
   </simpleType>
   <simpleType name="PlexiglassUtenpåInfoplaterEnumerationType">
      <annotation>
         <documentation>5650: Angir om det er plexiglass utenpå infoplatene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5650</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5650</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plexiglass utenpå infoplater</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>7948: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7948</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>7949: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7949</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlexiglassUtenpåInfoplaterOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="StativForTuristinfo"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:StativForTuristinfoType">
      <annotation>
         <documentation>623: Konstruksjon beregnet for oppsetting av informasjon til trafikkanter, eksempelvis informasjon rettet mot turister. Disse er normalt lokalisert til vegens sideanlegg som f.eks rasteplasser eller lommer, og det er forutsatt at trafikkant står i ro ved lesing av informajson. Informasjonstavler som oppfyller krav til  skiltnummer 560 (Håndbok N300, del 3) skal registreres som skiltpunkt/skiltplate.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">623</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">623</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stativ for turistinfo</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="StativForTuristinfoType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="materialtype" type="nvdb:MaterialtypeStativForTuristinfoType">
                  <annotation>
                     <documentation>5647: Angir primær materialtype stativet er oppført i.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5647</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="belyst"
                        type="nvdb:BelystStativForTuristinfoType">
                  <annotation>
                     <documentation>5649: Angir om tavle er belyst eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5649</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belyst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plexiglassUtenpåInfoplater"
                        type="nvdb:PlexiglassUtenpåInfoplaterType">
                  <annotation>
                     <documentation>5650: Angir om det er plexiglass utenpå infoplatene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5650</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plexiglass utenpå infoplater</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallInfoplater" type="integer">
                  <annotation>
                     <documentation>5651: Angir hvor mange infoplater det er på stativet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5651</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall infoplater</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="fundamentering"
                        type="nvdb:FundamenteringStativForTuristinfoType">
                  <annotation>
                     <documentation>5654: Angir hvordan stativet er fundamentert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5654</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tak" type="nvdb:TakType">
                  <annotation>
                     <documentation>5655: Angir om det er tak over stativet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5655</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tak</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="festetPå" type="nvdb:FestetPåType">
                  <annotation>
                     <documentation>5656: Angir om stativet er festet på vegg etc.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5656</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Festet på</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="overflatebehandling"
                        type="nvdb:OverflatebehandlingStativForTuristinfoType">
                  <annotation>
                     <documentation>5657: Angir hvilken type overflatebehandling det er på stativet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5657</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="beskrivelse" type="string">
                  <annotation>
                     <documentation>5658: Angir beskrivelse knyttet til stativet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5658</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10363: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10363</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>6893: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6893</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="assosiertRasteplass" type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Rasteplass</targetElement>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="StativForTuristinfoPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:StativForTuristinfo"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TakType">
      <annotation>
         <documentation>5655: Angir om det er tak over stativet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5655</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5655</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tak</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TakEnumerationType nvdb:TakOtherType"/>
   </simpleType>
   <simpleType name="TakEnumerationType">
      <annotation>
         <documentation>5655: Angir om det er tak over stativet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5655</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5655</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tak</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>7958: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7958</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>7959: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7959</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TakOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
