GML/PS/OLFV_NV/2.36/64.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>64: Sted med en eller flere ferjelemmer hvor ferje anløper for å ta om bord og slippe av kjøretøy og passasjerer. Inkluderer også område for kjøretøyoppstilling og oppholdsareal for reisende.</documentation>
   </annotation>
   <include schemaLocation="OLFV_NV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="DriftsstatusFerjekaiType">
      <annotation>
         <documentation>9229: Angir driftsstatus til ferjekai.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9229</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Driftsstatus</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DriftsstatusFerjekaiEnumerationType nvdb:DriftsstatusFerjekaiOtherType"/>
   </simpleType>
   <simpleType name="DriftsstatusFerjekaiEnumerationType">
      <annotation>
         <documentation>9229: Angir driftsstatus til ferjekai.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9229</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Driftsstatus</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="N">
            <annotation>
               <documentation>12866: Ferjekai benyttes ikke lenger i trafikk. Verdi skal kun benyttes for historiske data.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12866</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nedlagt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <documentation>12865: Ferjekai benyttes i normal rutetrafikk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12865</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkeres</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DriftsstatusFerjekaiOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EgenGangbaneTilFerjeFerjekaiType">
      <annotation>
         <documentation>9493: Angir om det er egen gangbane for gående for ombordstigning til ferje.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9493</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Egen gangbane til ferje</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EgenGangbaneTilFerjeFerjekaiEnumerationType nvdb:EgenGangbaneTilFerjeFerjekaiOtherType"/>
   </simpleType>
   <simpleType name="EgenGangbaneTilFerjeFerjekaiEnumerationType">
      <annotation>
         <documentation>9493: Angir om det er egen gangbane for gående for ombordstigning til ferje.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9493</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Egen gangbane til ferje</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="D">
            <annotation>
               <documentation>17378: Angir at det delvis er egen gangbane og/eller at det er gangbane til ei ferje/ferjelem og ikke til annen. Det skal gis mer informasjon under "Tilleggsinformasjon".</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17378</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Delvis</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13373</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13374</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EgenGangbaneTilFerjeFerjekaiOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierFerjeleieFerjekaiType">
      <annotation>
         <documentation>7559: Angir hvem som eier vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7559</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierFerjeleieFerjekaiEnumerationType nvdb:EierFerjeleieFerjekaiOtherType"/>
   </simpleType>
   <simpleType name="EierFerjeleieFerjekaiEnumerationType">
      <annotation>
         <documentation>7559: Angir hvem som eier vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7559</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9825</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9823</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9824</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18565</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9822</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17608: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17608</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierFerjeleieFerjekaiOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Ferjekai"
            substitutionGroup="nvdb:AbstraktFerjekai"
            type="nvdb:FerjekaiType">
      <annotation>
         <documentation>64: Sted med en eller flere ferjelemmer hvor ferje anløper for å ta om bord og slippe av kjøretøy og passasjerer. Inkluderer også område for kjøretøyoppstilling og oppholdsareal for reisende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">64</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferjekai</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FerjekaiType">
      <complexContent>
         <extension base="nvdb:AbstraktFerjekaiType">
            <sequence>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>2179: Angir navn på ferjekai. Navnet skal samsvare med navn på tilsvarende stoppested i NSR - Nasjonalt Stoppestedsregister (Entur).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2179</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsstatus" type="nvdb:DriftsstatusFerjekaiType">
                  <annotation>
                     <documentation>9229: Angir driftsstatus til ferjekai.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9229</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsstatus</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallFerjelemmer" type="integer">
                  <annotation>
                     <documentation>9491: Angir antall ferjelemmer på ferjekai.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9491</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall ferjelemmer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="NSR_Stopplace_ID" type="string">
                  <annotation>
                     <documentation>10727: Unik identitet som refererer til det stoppestedet i Nasjonalt Stoppestedregister (NSR) som tilsvarer gitt ferjekai i NVDB. Identitet benyttes for datautveksling mellom NVDB og NSR. Identiteten skal skives fullt ut på formen: "NSR:StopPlace:xxxxx", xxxxx er et unikt løpenummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10727</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">NSR_Stopplace_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="arealTotaltØvrig" type="integer">
                  <annotation>
                     <documentation>9487: Angir totalt areal av ferjekaiområdet. Dette inkluderer både kjørbart areal ikke kjørbart areal i tilknytning til ferjeleiet som eier har ansvar for.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9487</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal, totalt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="arealKjørbartØvrig" type="integer">
                  <annotation>
                     <documentation>9488: Angir øvrig kjørbart areal på ferjekaia. Dvs. kjørbart areal som kommer i tillegg til areal av oppstillingsområde, parkeringsområde og areal av veger med eget vegnett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9488</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal, kjørbart øvrig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="egenGangbaneTilFerje">
                  <annotation>
                     <documentation>9493: Angir om det er egen gangbane for gående for ombordstigning til ferje.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9493</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Egen gangbane til ferje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kaikantsikring" type="nvdb:KaikantsikringFerjekaiType">
                  <annotation>
                     <documentation>9492: Beskriver om ferjekaia har en form for sikring mot vann.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9492</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kaikantsikring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="venterom" type="nvdb:VenteromFerjekaiType">
                  <annotation>
                     <documentation>10729: Angir om det er venterom i tilknytning til ferjekaia.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10729</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Venterom</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10291: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10291</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11467: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11467</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12296: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12296</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="eierFerjeleie">
                  <annotation>
                     <documentation>7559: Angir hvem som eier vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7559</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vedlikeholdsansvarligFerjeleie">
                  <annotation>
                     <documentation>7560: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7560</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FerjekaiPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Ferjekai"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="KaikantsikringFerjekaiType">
      <annotation>
         <documentation>9492: Beskriver om ferjekaia har en form for sikring mot vann.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9492</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kaikantsikring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KaikantsikringFerjekaiEnumerationType nvdb:KaikantsikringFerjekaiOtherType"/>
   </simpleType>
   <simpleType name="KaikantsikringFerjekaiEnumerationType">
      <annotation>
         <documentation>9492: Beskriver om ferjekaia har en form for sikring mot vann.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9492</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kaikantsikring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Delvis">
            <annotation>
               <documentation>13371: Deler av kaikant er sikret/markert.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13371</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Delvis</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="J">
            <annotation>
               <documentation>13370: Hele kaikanten er sikret/markert.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13370</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>13372: Kaikant er ikke sikret/markert.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13372</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KaikantsikringFerjekaiOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFerjeleieFerjekaiType">
      <annotation>
         <documentation>7560: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7560</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligFerjeleieFerjekaiEnumerationType nvdb:VedlikeholdsansvarligFerjeleieFerjekaiOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFerjeleieFerjekaiEnumerationType">
      <annotation>
         <documentation>7560: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7560</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9829</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9827</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18690</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18819</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9828</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9826</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17700</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFerjeleieFerjekaiOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VenteromFerjekaiType">
      <annotation>
         <documentation>10729: Angir om det er venterom i tilknytning til ferjekaia.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10729</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Venterom</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VenteromFerjekaiEnumerationType nvdb:VenteromFerjekaiOtherType"/>
   </simpleType>
   <simpleType name="VenteromFerjekaiEnumerationType">
      <annotation>
         <documentation>10729: Angir om det er venterom i tilknytning til ferjekaia.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10729</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Venterom</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17383</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17384</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VenteromFerjekaiOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
