GML/100.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>100: Sted i vegnettet hvor veg og jernbane krysses.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Jernbanekryssing"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:JernbanekryssingType">
      <annotation>
         <documentation>100: Sted i vegnettet hvor veg og jernbane krysses.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">100</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jernbanekryssing</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="JernbanekryssingType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="typeJernbanekryssing">
                  <annotation>
                     <documentation>1153: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1153</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11576: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11576</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4799: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4799</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="JernbanekryssingPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Jernbanekryssing"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeJernbanekryssingJernbanekryssingType">
      <annotation>
         <documentation>1153: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1153</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeJernbanekryssingJernbanekryssingEnumerationType nvdb:TypeJernbanekryssingJernbanekryssingOtherType"/>
   </simpleType>
   <simpleType name="TypeJernbanekryssingJernbanekryssingEnumerationType">
      <annotation>
         <documentation>1153: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1153</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2767</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I plan</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2770</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I plan, lysregulert og bommer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3907</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I plan, lysregulert, grind</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3906</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I plan, lysregulert, halve bommer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3905</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I plan, lysregulert, hele bommer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2769</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I plan, lysregulert, uten bommer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2768</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I plan, uten lysregulering og bommer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vo">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2771</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg over</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2772</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg under</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeJernbanekryssingJernbanekryssingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
