GML/100.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Jernbanekryssing" substitutionGroup="nvdb:AbstraktJernbanekryssing" type="nvdb:JernbanekryssingType">
    <annotation>
      <documentation>100: Sted i vegnettet hvor veg og jernbane krysses.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">100</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">100</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Jernbanekryssing</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="JernbanekryssingType">
    <complexContent>
      <extension base="nvdb:AbstraktJernbanekryssingType">
        <sequence>
          <element minOccurs="0" name="typeJernbanekryssing" type="nvdb:TypeJernbanekryssingType">
            <annotation>
              <documentation>1153: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1153</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11576: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11576</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4799: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4799</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="JernbanekryssingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Jernbanekryssing"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeJernbanekryssingType">
    <annotation>
      <documentation>1153: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1153</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1153</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeJernbanekryssingEnumerationType nvdb:TypeJernbanekryssingOtherType"/>
  </simpleType>
  <simpleType name="TypeJernbanekryssingEnumerationType">
    <annotation>
      <documentation>1153: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1153</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1153</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="vegUnder">
        <annotation>
          <documentation>2772: Veg krysser i et plan under jernbanen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2772</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg under</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegOver">
        <annotation>
          <documentation>2771: Veg krysser i et plan over jernbanen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2771</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg over</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="iPlan">
        <annotation>
          <documentation>2767: Veg og jernbane krysser i samme plan. Ikke kjent om det er lysregulering og/eller bommer.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2767</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I plan</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="iPlan_UtenSikring">
        <annotation>
          <documentation>2768: Veg og jernbane krysser i samme plan. Det er verken lysregulering eller bommer.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2768</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I plan, uten lysregulering og bommer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="iPlan_Lysregulert">
        <annotation>
          <documentation>2769: Veg og jernbane krysser i samme plan. Kryssing er lysregulert, men det er ikke bommer.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2769</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I plan, lysregulert, uten bommer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="iPlan_LysregulertOgBom">
        <annotation>
          <documentation>2770: Veg og jernbane krysser i samme plan. Kryssing er lysregulert og det er bommer for å stenge vegen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2770</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I plan, lysregulert og bommer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="iPlan_LysregulertBomHel">
        <annotation>
          <documentation>3905: Veg og jernbane krysser i samme plan. Kryssing er lysregulert og det er bommer for å stenge vegen i hele vegens bredde.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3905</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I plan, lysregulert, hele bommer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="iPlan_LysregulertBomHalv">
        <annotation>
          <documentation>3906: Veg og jernbane krysser i samme plan. Kryssing er lysregulert og det er bommer for å stenge vegen for trafikk inn mot jernbanen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3906</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I plan, lysregulert, halve bommer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="iPlan_LysregulertGrind">
        <annotation>
          <documentation>3907: Veg og jernbane krysser i samme plan. Kryssing er lysregulert og det er grinder for å stenge trafikk inn mot jernbanen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3907</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I plan, lysregulert, grind</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeJernbanekryssingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
