GML/1004.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierKoblingspunkt (test)Type">
      <annotation>
         <documentation>13129: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13129</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierKoblingspunkt (test)EnumerationType nvdb:EierKoblingspunkt (test)OtherType"/>
   </simpleType>
   <simpleType name="EierKoblingspunkt (test)EnumerationType">
      <annotation>
         <documentation>13129: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13129</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22814</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22815</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22816</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22813</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22812</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>22817: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22817</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierKoblingspunkt (test)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Koblingspunkt (test)"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Koblingspunkt (test)Type">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1004</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Koblingspunkt (test)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Koblingspunkt (test)Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeKoblingspunkt (test)Type">
                  <annotation>
                     <documentation>13116: Angir type koblingspunkt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13116</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="nvdb:PlasseringKoblingspunkt (test)Type">
                  <annotation>
                     <documentation>13117: Angir hvor vegobjektet er plassert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13117</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="materiale"
                        type="nvdb:MaterialeKoblingspunkt (test)Type">
                  <annotation>
                     <documentation>13118: Angir materiale.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13118</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="spenning" type="nvdb:SpenningKoblingspunkt (test)Type">
                  <annotation>
                     <documentation>13119: Angir spenningen som leveres til enheten.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13119</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stedsangivelse" type="string">
                  <annotation>
                     <documentation>13120: Angir stedsnavn og/eller eventuell beskrivelse av koblingspunktets plassering.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13120</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stedsangivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>13121: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13121</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="driftsmerking" type="string">
                  <annotation>
                     <documentation>13122: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13122</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="SCADA_Merking" type="string">
                  <annotation>
                     <documentation>13123: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13123</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">SCADA-merking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produsent" type="string">
                  <annotation>
                     <documentation>13124: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13124</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produktnavn" type="string">
                  <annotation>
                     <documentation>13125: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13125</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>13126: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13126</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>13127: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13127</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>13128: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13128</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierKoblingspunkt (test)Type">
                  <annotation>
                     <documentation>13129: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13129</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier_Navn" type="string">
                  <annotation>
                     <documentation>13130: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13130</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligKoblingspunkt (test)Type">
                  <annotation>
                     <documentation>13131: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13131</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>13132: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13132</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Koblingspunkt (test)PropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Koblingspunkt (test)"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaterialeKoblingspunkt (test)Type">
      <annotation>
         <documentation>13118: Angir materiale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13118</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeKoblingspunkt (test)EnumerationType nvdb:MaterialeKoblingspunkt (test)OtherType"/>
   </simpleType>
   <simpleType name="MaterialeKoblingspunkt (test)EnumerationType">
      <annotation>
         <documentation>13118: Angir materiale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13118</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22831</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <documentation>22832: Plast/kompositt</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22832</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22830</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeKoblingspunkt (test)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringKoblingspunkt (test)Type">
      <annotation>
         <documentation>13117: Angir hvor vegobjektet er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13117</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlasseringKoblingspunkt (test)EnumerationType nvdb:PlasseringKoblingspunkt (test)OtherType"/>
   </simpleType>
   <simpleType name="PlasseringKoblingspunkt (test)EnumerationType">
      <annotation>
         <documentation>13117: Angir hvor vegobjektet er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13117</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <documentation>22829: Plassering angis i feltet Tilleggsinformasjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22829</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kum">
            <annotation>
               <documentation>22827: Koblingspunktet er plassert i trekkekum.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22827</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I trekkekum</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ned">
            <annotation>
               <documentation>22826: Koblingspunktet ligger i bakken, typisk kabelskjøt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22826</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nedgravd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bru">
            <annotation>
               <documentation>22828: Koblingspunktet er plassert på kabelbru/stige.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22828</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På kabelbru/stige</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ute">
            <annotation>
               <documentation>22825: Koblingspunktet er plassert utendørs i det fri.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22825</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ute over bakken</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringKoblingspunkt (test)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SpenningKoblingspunkt (test)Type">
      <annotation>
         <documentation>13119: Angir spenningen som leveres til enheten.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13119</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SpenningKoblingspunkt (test)EnumerationType nvdb:SpenningKoblingspunkt (test)OtherType"/>
   </simpleType>
   <simpleType name="SpenningKoblingspunkt (test)EnumerationType">
      <annotation>
         <documentation>13119: Angir spenningen som leveres til enheten.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13119</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="12">
            <annotation>
               <documentation>22806: 12 volt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22806</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="230">
            <annotation>
               <documentation>22808: 230 volt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22808</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">230</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="230/400">
            <annotation>
               <documentation>22810: 230 og 400 volt (TN-nett).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22810</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">230/400</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <documentation>22807: 24 volt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22807</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">24</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400">
            <annotation>
               <documentation>22809: 400 volt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22809</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">400</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="690">
            <annotation>
               <documentation>22811: 690 volt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22811</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">690</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SpenningKoblingspunkt (test)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeKoblingspunkt (test)Type">
      <annotation>
         <documentation>13116: Angir type koblingspunkt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13116</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeKoblingspunkt (test)EnumerationType nvdb:TypeKoblingspunkt (test)OtherType"/>
   </simpleType>
   <simpleType name="TypeKoblingspunkt (test)EnumerationType">
      <annotation>
         <documentation>13116: Angir type koblingspunkt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13116</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <documentation>22805: Type koblingspunkt angis i feltet Tilleggsinformasjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22805</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ks">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22804</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kabelskjøt med skjøtehylser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kd">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22802</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Koblingsboks for drivere</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22803</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Koblingspunkt for kabelskjøt/forgreining</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeKoblingspunkt (test)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKoblingspunkt (test)Type">
      <annotation>
         <documentation>13131: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13131</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligKoblingspunkt (test)EnumerationType nvdb:VedlikeholdsansvarligKoblingspunkt (test)OtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKoblingspunkt (test)EnumerationType">
      <annotation>
         <documentation>13131: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13131</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22820</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22822</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22819</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22821</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22823</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22818</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22824</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKoblingspunkt (test)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
