GML/1006.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>1006: Sikkerhetssone rundt objekt som skal utløse spesielle tiltak.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Hensynssone (test)"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Hensynssone (test)Type">
      <annotation>
         <documentation>1006: Sikkerhetssone rundt objekt som skal utløse spesielle tiltak.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1006</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hensynssone (test)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Hensynssone (test)Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="tilhørighet" type="nvdb:TilhørighetHensynssone (test)Type">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13171</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilhørighet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>13236: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13236</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Hensynssone (test)PropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Hensynssone (test)"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TilhørighetHensynssone (test)Type">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13171</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilhørighet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilhørighetHensynssone (test)EnumerationType nvdb:TilhørighetHensynssone (test)OtherType"/>
   </simpleType>
   <simpleType name="TilhørighetHensynssone (test)EnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13171</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilhørighet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23055</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23056</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilhørighetHensynssone (test)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
