GML/1007.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>1007: Vindpølse er et konisk formet instrument, vanligvis produsert i polyester, som viser vindretning og vindhastighet.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeVindpølse (test)Type">
      <annotation>
         <documentation>13209: Angir hva vegobjektet brukes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13209</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeVindpølse (test)EnumerationType nvdb:BruksområdeVindpølse (test)OtherType"/>
   </simpleType>
   <simpleType name="BruksområdeVindpølse (test)EnumerationType">
      <annotation>
         <documentation>13209: Angir hva vegobjektet brukes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13209</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23105</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23106</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeVindpølse (test)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FargeVindpølse (test)Type">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13211</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FargeVindpølse (test)EnumerationType nvdb:FargeVindpølse (test)OtherType"/>
   </simpleType>
   <simpleType name="FargeVindpølse (test)EnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13211</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="oh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23108</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oransje/hvit</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23109</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rød</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23107</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rød/hvit</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FargeVindpølse (test)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeVindpølse (test)Type">
      <annotation>
         <documentation>13215: Angir materiale. "Annet" skal spesifiseres i Tilleggsinformasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13215</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeVindpølse (test)EnumerationType nvdb:MaterialeVindpølse (test)OtherType"/>
   </simpleType>
   <simpleType name="MaterialeVindpølse (test)EnumerationType">
      <annotation>
         <documentation>13215: Angir materiale. "Annet" skal spesifiseres i Tilleggsinformasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13215</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="an">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23112</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pa">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23111</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Polyamid</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pe">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23110</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Polyester</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeVindpølse (test)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OppsettingsutstyrVindpølse (test)Type">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OppsettingsutstyrVindpølse (test)EnumerationType nvdb:OppsettingsutstyrVindpølse (test)OtherType"/>
   </simpleType>
   <simpleType name="OppsettingsutstyrVindpølse (test)EnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="es">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23103</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Egen stolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23104</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På lysmast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OppsettingsutstyrVindpølse (test)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vindpølse (test)"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Vindpølse (test)Type">
      <annotation>
         <documentation>1007: Vindpølse er et konisk formet instrument, vanligvis produsert i polyester, som viser vindretning og vindhastighet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1007</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vindpølse (test)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Vindpølse (test)Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="oppsettingsutstyr"
                        type="nvdb:OppsettingsutstyrVindpølse (test)Type">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13207</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bruksområde" type="nvdb:BruksområdeVindpølse (test)Type">
                  <annotation>
                     <documentation>13209: Angir hva vegobjektet brukes til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13209</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="farge" type="nvdb:FargeVindpølse (test)Type">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13211</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengde" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13212</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="størsteDiameter" type="double">
                  <annotation>
                     <documentation>13213: Største diameter i åpning til vindpølse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13213</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Største diameter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="minsteDiameter" type="double">
                  <annotation>
                     <documentation>13214: Minste diameter i åpning til vindpølse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13214</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Minste diameter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materiale" type="nvdb:MaterialeVindpølse (test)Type">
                  <annotation>
                     <documentation>13215: Angir materiale. "Annet" skal spesifiseres i Tilleggsinformasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13215</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høydeOverVegbane" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13216</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde over vegbane</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="etableringsår" type="integer">
                  <annotation>
                     <documentation>13218: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13218</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produsent" type="string">
                  <annotation>
                     <documentation>13217: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13217</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>13219: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13219</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>13210: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13210</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>13235: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13235</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Vindpølse (test)PropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vindpølse (test)"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
