GML/1008.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>1008: Ytre del av vegoverbygning er forsterket ut til grøft langs gitt strekning. Dersom det er kantforsterkning på begge sider av vegen registreres det en forekomst på hver side av vegen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="Bærelag_TypeKantforsterkning (test)Type">
      <annotation>
         <documentation>13243: Angir hvilken type bærelag som er benyttet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13243</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bærelag, type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Bærelag_TypeKantforsterkning (test)EnumerationType nvdb:Bærelag_TypeKantforsterkning (test)OtherType"/>
   </simpleType>
   <simpleType name="Bærelag_TypeKantforsterkning (test)EnumerationType">
      <annotation>
         <documentation>13243: Angir hvilken type bærelag som er benyttet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13243</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bærelag, type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ag">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23141</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltert grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ap">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23142</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltert pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bag">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23157</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bitumenanriket grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23140</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bitumenstabiliserte materialer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23144</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bitumesnstabilisert grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Dypfrest, bitumenstabilisert">
            <annotation>
               <documentation>23156: Resultat av dypfresing av dekke/bærelag. Blandede masser stabilisert med bitumen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23156</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dypfrest, bitumenstabilisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="dl">
            <annotation>
               <documentation>23154: Resultat av dypfresing av dekke/bærelag. Blandede masser stabilisert med lignin.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23154</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dypfrest, ligninstabilisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Dypfrest, mekanisk stabilisert">
            <annotation>
               <documentation>23153: Resultat av dypfresing av dekke/bærelag. Blandede masser mekanisk stabilisert.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23153</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dypfrest, mekanisk stabilisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Eg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23158</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emulsjonsgrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ep">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23159</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emulsjonspukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fp">
            <annotation>
               <documentation>23139: Mest aktuelle sorteringer: 16/56, 22/63, 22/90.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23139</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forkilt pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Gjb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23151</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gjenbruksbetong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ak">
            <annotation>
               <documentation>23152: Benyttes ikke om dypfresing. Forutsetter at masser er tilført utenfra.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23152</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Knust asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fk">
            <annotation>
               <documentation>23150: Knuste steinmaterialer. Mest aktuelle sorteringer: 0/32, 0/45, 0/63.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23150</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Knust berg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Gk">
            <annotation>
               <documentation>23149: Mest aktuelle sorteringer: 0/22, 0/32, 0/45, 0/63.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23149</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Knust grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ls">
            <annotation>
               <documentation>23155: Grus-/Steinmaterialer stabilisert med lignin.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23155</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ligninstabilisert materiale</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Msm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23138</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mekanisk stabiliserte materialer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Pp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23143</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Penetrert pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Cg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23147</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sementstabilisert grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Cp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23146</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sementstabilisert pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="C">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23145</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sementstabiliserte materialer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23148</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skumgrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Bærelag_TypeKantforsterkning (test)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Kantforsterkning (test)"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Kantforsterkning (test)Type">
      <annotation>
         <documentation>1008: Ytre del av vegoverbygning er forsterket ut til grøft langs gitt strekning. Dersom det er kantforsterkning på begge sider av vegen registreres det en forekomst på hver side av vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1008</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kantforsterkning (test)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Kantforsterkning (test)Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="slitelag_Type" type="string">
                  <annotation>
                     <documentation>13249: Angir hvilken type bærelag som er benyttet. Oppgi kortnavn for massetype og maks steinstørrelse. Eksempel Agb 11.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13249</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Slitelag, type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="slitelag_Tykkelse" type="integer">
                  <annotation>
                     <documentation>13240: Angir tykkelse av slitelag</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13240</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Slitelag, tykkelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bindlag_Type" type="string">
                  <annotation>
                     <documentation>13248: Angir hvilken type bærelag som er benyttet. Oppgi kortnavn for massetype og maks steinstørrelse. Eksempel Agb 11.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13248</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bindlag, type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bindlag_Tykkelse" type="integer">
                  <annotation>
                     <documentation>13237: angir tykkelse av bindlag</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13237</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bindlag, tykkelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bærelag_Type">
                  <annotation>
                     <documentation>13243: Angir hvilken type bærelag som er benyttet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13243</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bærelag, type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bærelag_Steinstørrelse" type="double">
                  <annotation>
                     <documentation>13242: Angir største steinstørrelse for bærelag.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13242</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bærelag, steinstørrelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bærelag_Tykkelse" type="integer">
                  <annotation>
                     <documentation>13238: Angir tykkelse av bærelag</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13238</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bærelag, tykkelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="forsterkningslag_Steinstørrelse" type="double">
                  <annotation>
                     <documentation>13241: Angir største steinstørrelse for forsterkningslag.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13241</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Forsterkningslag, steinstørrelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="forsterkningslag_Tykkelse" type="integer">
                  <annotation>
                     <documentation>13239: Angir tykkelse av forsterkningslag</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13239</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Forsterkningslag, tykkelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>13244: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13244</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>13247: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13247</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>13245: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13245</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>13246: Gir flate/polygon som geometrisk avgrenser vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13246</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Kantforsterkning (test)PropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kantforsterkning (test)"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
