GML/103.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Fartsdemper" substitutionGroup="nvdb:AbstraktFartsdemper" type="nvdb:FartsdemperType">
    <annotation>
      <documentation>103: Fysisk tiltak for å holde fartsnivået lavt.</documentation>
    </annotation>
  </element>
  <complexType name="FartsdemperType">
    <complexContent>
      <extension base="nvdb:AbstraktFartsdemperType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeFartsdemperType">
            <annotation>
              <documentation>1156: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="profil" type="nvdb:ProfilType">
            <annotation>
              <documentation>8799: Angir hvilket humpprofil som er benyttet.  Jfr kategorisering i Håndbok V128 (072). Fartsdempende tiltak.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="materialeBelegning" type="nvdb:MaterialeBelegningType">
            <annotation>
              <documentation>8798: Angir hvilket materiale vegobjektet er laget av/ hvilken belegning som er brukt. Mest aktuelt for humper og puter.  Kan også være romlefelt f.eks av "stein, brostein"</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1331: Angir lengde av vegobjektet.  Måles på tvers av vegen
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>1589: Angir vegobjektets egenhøyde.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>1691: Angir bredde av vegobjektet.  Måles på tvers av fartsdemperens lengderetning, det vil vanligvis si i vegens lengderetning.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10288: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11577: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11083: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4801: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertGangfelt" type="nvdb:AbstraktGangfeltPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="nvdb:AbstraktTilstandSkade_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegoppmerking_Tverrgående" type="nvdb:AbstraktVegoppmerking_TverrgåendePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Punkt" type="nvdb:AbstraktTilstandSkadeFU_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSystemobjekt" type="nvdb:AbstraktSystemobjektPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FartsdemperPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fartsdemper"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaterialeBelegningType">
    <annotation>
      <documentation>8798: Angir hvilket materiale vegobjektet er laget av/ hvilken belegning som er brukt. Mest aktuelt for humper og puter.  Kan også være romlefelt f.eks av "stein, brostein"</documentation>
    </annotation>
    <union memberTypes="nvdb:MaterialeBelegningEnumerationType nvdb:MaterialeBelegningOtherType"/>
  </simpleType>
  <simpleType name="MaterialeBelegningEnumerationType">
    <annotation>
      <documentation>8798: Angir hvilket materiale vegobjektet er laget av/ hvilken belegning som er brukt. Mest aktuelt for humper og puter.  Kan også være romlefelt f.eks av "stein, brostein"</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stein_Brostein">
        <annotation>
          <documentation>11634: Stein, brostein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfalt">
        <annotation>
          <documentation>11635: Asfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>11636: Betongstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong_Prefabrikkert">
        <annotation>
          <documentation>11637: Betong, prefabrikkert</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeBelegningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ProfilType">
    <annotation>
      <documentation>8799: Angir hvilket humpprofil som er benyttet.  Jfr kategorisering i Håndbok V128 (072). Fartsdempende tiltak.</documentation>
    </annotation>
    <union memberTypes="nvdb:ProfilEnumerationType nvdb:ProfilOtherType"/>
  </simpleType>
  <simpleType name="ProfilEnumerationType">
    <annotation>
      <documentation>8799: Angir hvilket humpprofil som er benyttet.  Jfr kategorisering i Håndbok V128 (072). Fartsdempende tiltak.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="profil1_Sirkel_30">
        <annotation>
          <documentation>11641: Profil 1, sirkel-30</documentation>
        </annotation>
      </enumeration>
      <enumeration value="profil2_Sirkel_40">
        <annotation>
          <documentation>11642: Profil 2, sirkel-40</documentation>
        </annotation>
      </enumeration>
      <enumeration value="profil3_Sirkel_50">
        <annotation>
          <documentation>11643: Profil 3, sirkel-50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="profil4_ModifisertSirkel_30">
        <annotation>
          <documentation>11644: Profil 4, modifisert sirkel-30</documentation>
        </annotation>
      </enumeration>
      <enumeration value="profil5_ModifisertSirkel_40">
        <annotation>
          <documentation>11645: Profil 5, modifisert sirkel-40</documentation>
        </annotation>
      </enumeration>
      <enumeration value="profil6_ModifisertSirkel_50">
        <annotation>
          <documentation>11646: Profil 6, modifisert sirkel-50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="profil7_Trapes_30">
        <annotation>
          <documentation>11647: Profil 7, trapes-30</documentation>
        </annotation>
      </enumeration>
      <enumeration value="profil8_Trapes_40">
        <annotation>
          <documentation>11648: Profil 8, trapes-40</documentation>
        </annotation>
      </enumeration>
      <enumeration value="profil9_Trapes_50">
        <annotation>
          <documentation>11649: Profil 9, trapes-50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="profil10_Pute_30">
        <annotation>
          <documentation>11741: Profil 10, Pute-30</documentation>
        </annotation>
      </enumeration>
      <enumeration value="profil11_Pute_40">
        <annotation>
          <documentation>11742: Profil 11, Pute-40</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kuleflate">
        <annotation>
          <documentation>11779: Kuleflate</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sopp">
        <annotation>
          <documentation>11780: Sopp</documentation>
        </annotation>
      </enumeration>
      <enumeration value="H_Hump">
        <annotation>
          <documentation>11781: H-hump</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S_Hump">
        <annotation>
          <documentation>11782: S-Hump</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dobbelHump">
        <annotation>
          <documentation>11783: Dobbel hump</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProfilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeFartsdemperType">
    <annotation>
      <documentation>1156: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeFartsdemperEnumerationType nvdb:TypeFartsdemperOtherType"/>
  </simpleType>
  <simpleType name="TypeFartsdemperEnumerationType">
    <annotation>
      <documentation>1156: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="fartshump">
        <annotation>
          <documentation>3594: Fartshump</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fartsputer">
        <annotation>
          <documentation>5543: Fartsputer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="busshump">
        <annotation>
          <documentation>3595: Busshump</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafikkøy">
        <annotation>
          <documentation>7918: Trafikkøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="innsnevring">
        <annotation>
          <documentation>7917: Innsnevring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sideforskyvning">
        <annotation>
          <documentation>7919: Sideforskyvning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="innsnevringOgSideforskyvning">
        <annotation>
          <documentation>11778: Både og</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rumlefelt">
        <annotation>
          <documentation>7920: Rumlefelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fortausutvidelseIKryss">
        <annotation>
          <documentation>7921: Fortausutvidelse i kryss</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fartsdump">
        <annotation>
          <documentation>11652: Forsenkning i vegbanen</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFartsdemperOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
