GML/105.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>105: Høyeste tillatte hastighet på en vegstrekning.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Fartsgrense"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:FartsgrenseType">
      <annotation>
         <documentation>105: Høyeste tillatte hastighet på en vegstrekning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">105</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fartsgrense</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FartsgrenseType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="fartsgrenseVerdi">
                  <annotation>
                     <documentation>2021: Fartsgrense.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2021</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fartsgrense</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vedtaksnummer" type="string">
                  <annotation>
                     <documentation>1891: Angir vedtaksnummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1891</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedtaksnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>11845: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11845</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="gyldigFraDato" type="date">
                  <annotation>
                     <documentation>5127: Dato for når fartsgrense ble satt i drift. Den dato skiltene ble "avduket".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5127</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gyldig fra dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivnummer" type="string">
                  <annotation>
                     <documentation>9155: Gir referanse til relevant sak i vegeiers arkivsystem.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9155</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FartsgrensePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fartsgrense"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="FartsgrenseVerdiFartsgrenseType">
      <annotation>
         <documentation>2021: Fartsgrense.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2021</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fartsgrense</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FartsgrenseVerdiFartsgrenseEnumerationType nvdb:FartsgrenseVerdiFartsgrenseOtherType"/>
   </simpleType>
   <simpleType name="FartsgrenseVerdiFartsgrenseEnumerationType">
      <annotation>
         <documentation>2021: Fartsgrense.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2021</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fartsgrense</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="100">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5087</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">100</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="110">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9721</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="120">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19642</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">120</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="20">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11576</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">20</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="30">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2726</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">30</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="40">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2728</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">40</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="05">
            <annotation>
               <documentation>19885: Til bruk i forbindelse med gatetun, gågater, etc.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19885</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2730</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="60">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2732</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">60</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="70">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2735</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">70</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="80">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2738</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="90">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2741</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">90</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FartsgrenseVerdiFartsgrenseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
