GML/106.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>106: Angir hvilken strategi det skal være i forhold til vinterdrift på strekningen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="TypeStrategiVinterdriftsstrategiType">
      <annotation>
         <documentation>1158: Angir hvilken type vinterstrategi det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1158</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type strategi</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeStrategiVinterdriftsstrategiEnumerationType nvdb:TypeStrategiVinterdriftsstrategiOtherType"/>
   </simpleType>
   <simpleType name="TypeStrategiVinterdriftsstrategiEnumerationType">
      <annotation>
         <documentation>1158: Angir hvilken type vinterstrategi det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1158</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type strategi</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="M">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2723</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mellomstrategi</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BV">
            <annotation>
               <documentation>2721: Omfatter strekninger som skal være snø- og isfrie hele vinteren. "Bar veg" skal omfatte kjørebane mellom ytterkant av kantlinjene.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2721</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Strategi bar veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <documentation>2722: Omfatter strekninger hvor det er akseptabelt med snø- og isdekke hele eller deler av vinteren.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2722</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Strategi vinterveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeStrategiVinterdriftsstrategiOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vinterdriftsstrategi"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:VinterdriftsstrategiType">
      <annotation>
         <documentation>106: Angir hvilken strategi det skal være i forhold til vinterdrift på strekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">106</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterdriftsstrategi</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VinterdriftsstrategiType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="typeStrategi">
                  <annotation>
                     <documentation>1158: Angir hvilken type vinterstrategi det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1158</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type strategi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>7838: Angir merknad. Statisk informasjon knyttet til forekomst.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7838</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4804: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4804</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VinterdriftsstrategiPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vinterdriftsstrategi"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
