GML/107.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GjentakelsesintervallVærutsattVegType">
    <annotation>
      <documentation>9958: Angir hvor ofte dette problemet statistisk sett oppstår. Det defineres som at problemet har inntruffet ikke bare om vegen blir stengt, men også om det er behov for økt beredskap og enkelte restriksjoner som f.eks nedsatt hastighet, sperring av ett kjørefe</documentation>
    </annotation>
    <union memberTypes="nvdb:GjentakelsesintervallVærutsattVegEnumerationType nvdb:GjentakelsesintervallVærutsattVegOtherType"/>
  </simpleType>
  <simpleType name="GjentakelsesintervallVærutsattVegEnumerationType">
    <annotation>
      <documentation>9958: Angir hvor ofte dette problemet statistisk sett oppstår. Det defineres som at problemet har inntruffet ikke bare om vegen blir stengt, men også om det er behov for økt beredskap og enkelte restriksjoner som f.eks nedsatt hastighet, sperring av ett kjørefe</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="flereGangerPerMåned">
        <annotation>
          <documentation>16171: Flere ganger per måned</documentation>
        </annotation>
      </enumeration>
      <enumeration value="flereGangerPerÅr">
        <annotation>
          <documentation>16172: Flere ganger per år</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fra1til2GangerÅrlig">
        <annotation>
          <documentation>16173: 1-2 ganger årlig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hver2til5År">
        <annotation>
          <documentation>16174: Hver 2.-5. år</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sjeldnereEnnHvert5År">
        <annotation>
          <documentation>16175: Sjeldnere enn hvert 5. år</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjentakelsesintervallVærutsattVegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HovedproblemVærutsattVegType">
    <annotation>
      <documentation>9957: Angir hva som er hovedproblem for værutsatt veg.</documentation>
    </annotation>
    <union memberTypes="nvdb:HovedproblemVærutsattVegEnumerationType nvdb:HovedproblemVærutsattVegOtherType"/>
  </simpleType>
  <simpleType name="HovedproblemVærutsattVegEnumerationType">
    <annotation>
      <documentation>9957: Angir hva som er hovedproblem for værutsatt veg.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="snøfokk">
        <annotation>
          <documentation>16166: Problem med dårlig sikt og oppbygging av snøfonner, vind uten snø er mindre problematisk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vind">
        <annotation>
          <documentation>16167: Problem med sterk vind selv om det ikke snør eller er bølger.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bølger">
        <annotation>
          <documentation>16168: Problem med bølger som slår over veg selv om det ikke nødvendigvis er stormflo</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stormflo">
        <annotation>
          <documentation>16169: Kan være problem med oversvømmelse av vegen (selv uten vind/bølger). Vurderes med tanke på stormflonivået i 2050</documentation>
        </annotation>
      </enumeration>
      <enumeration value="flom">
        <annotation>
          <documentation>19014: Strekning utsatt for sterk vind og sandtransport som kan gi redusert sikt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sandflukt">
        <annotation>
          <documentation>16969: Stor vannføring som kan føre til erosjon og/ eller oversvømmelse som er til hinder for trafikkavvikling. Kan være som følge av regn og/ eller snøsmelting.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="isgang">
        <annotation>
          <documentation>16970: Det at isen i elver og innsjøer brekkes opp på grunn av økt vannføring, og føres med strømmen nedover vassdraget. Dette skaper periodevis  trafikale problemer på gitt vegstrekning</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HovedproblemVærutsattVegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HøyfjellsstrekningType">
    <annotation>
      <documentation>8835: Angir om denne vegstrekningen kan kategoriseres som høgfjellsstrekning eller ikke.  Med høgfjellsstrekning menes: Veger ekstra utsatt for snø og vind.  De behøver ikke ligge høyt over havet, men er over tregrensen.</documentation>
    </annotation>
    <union memberTypes="nvdb:HøyfjellsstrekningEnumerationType nvdb:HøyfjellsstrekningOtherType"/>
  </simpleType>
  <simpleType name="HøyfjellsstrekningEnumerationType">
    <annotation>
      <documentation>8835: Angir om denne vegstrekningen kan kategoriseres som høgfjellsstrekning eller ikke.  Med høgfjellsstrekning menes: Veger ekstra utsatt for snø og vind.  De behøver ikke ligge høyt over havet, men er over tregrensen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>11776: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11777: Nei</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17891: Angis dersom det ikke er vurdert/tatt stilling til om det er høyfjellsstrekning eller ikke.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HøyfjellsstrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StedligBeredskapType">
    <annotation>
      <documentation>3107: Angir om det er stedlig beredskap knyttet til vegstrekningen.</documentation>
    </annotation>
    <union memberTypes="nvdb:StedligBeredskapEnumerationType nvdb:StedligBeredskapOtherType"/>
  </simpleType>
  <simpleType name="StedligBeredskapEnumerationType">
    <annotation>
      <documentation>3107: Angir om det er stedlig beredskap knyttet til vegstrekningen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4614: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4615: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StedligBeredskapOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="VærutsattVeg" substitutionGroup="nvdb:AbstraktVærutsattVeg" type="nvdb:VærutsattVegType">
    <annotation>
      <documentation>107: Vegstrekning som er spesielt utsatt for uvær, og av den grunn kan ha begrenset åpningstid. Merknad: Strekninger kan ikke ha dobbeltregistreringer (overlapp), ved flere likestilte naturfarer beskrives dette under "Tilleggsinformasjon"</documentation>
    </annotation>
  </element>
  <complexType name="VærutsattVegType">
    <complexContent>
      <extension base="nvdb:AbstraktVærutsattVegType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1082: Angir navn på vegstrekning (høyfjellsstrekning)</documentation>
            </annotation>
          </element>
          <element name="høyfjellsstrekning" type="nvdb:HøyfjellsstrekningType">
            <annotation>
              <documentation>8835: Angir om denne vegstrekningen kan kategoriseres som høgfjellsstrekning eller ikke.  Med høgfjellsstrekning menes: Veger ekstra utsatt for snø og vind.  De behøver ikke ligge høyt over havet, men er over tregrensen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stedligBeredskap" type="nvdb:StedligBeredskapType">
            <annotation>
              <documentation>3107: Angir om det er stedlig beredskap knyttet til vegstrekningen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="snødybde" type="integer">
            <annotation>
              <documentation>2103: Angir snødybde ved åpning av vegstrekningen. Gjelder høyfjellsstrekninger.
Enhet: Centimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallStengteDøgn" type="integer">
            <annotation>
              <documentation>1917: Angir hvor mange døgn pr år vegstrekningen normalt er stengt.
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterstengt_FraDato" type="string">
            <annotation>
              <documentation>2074: Angir dato (mmdd) for når vinterstengning starter et normalår.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterstengt_TilDato" type="string">
            <annotation>
              <documentation>2223: Angir dato (mmdd) for når vinterstengning opphører i et normalår.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nattestengt_FraDato" type="string">
            <annotation>
              <documentation>2073: Angir dato (mmdd) for når nattestengning starter i et normalår.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nattestengt_TilDato" type="string">
            <annotation>
              <documentation>2222: Angir dato (mmdd) for når nattestengning avsluttes i et normalår.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="avgrensaVinterdriftFraDato" type="string">
            <annotation>
              <documentation>8836: Angir dato (mmdd) for når avgrensa vinterdrift starter et normalår.  Med avgrenset vinterdrift menes at det er spesielle kriterier knyttet til når vegen skal åpnes og stenges.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="avgrensaVinterdriftTilDato" type="string">
            <annotation>
              <documentation>8837: Angir dato (mmdd) for når avgrensa vinterdrift avsluttes et normalår.  Med avgrenset vinterdrift menes at det er spesielle kriterier knyttet til når vegen skal åpnes og stenges. Det kan innenfor denne perioden være gitt en periode hvor vegen er helt vinterstengt (se egne ET).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="hovedproblem" type="nvdb:HovedproblemVærutsattVegType">
            <annotation>
              <documentation>9957: Angir hva som er hovedproblem for værutsatt veg.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gjentakelsesintervall" type="nvdb:GjentakelsesintervallVærutsattVegType">
            <annotation>
              <documentation>9958: Angir hvor ofte dette problemet statistisk sett oppstår. Det defineres som at problemet har inntruffet ikke bare om vegen blir stengt, men også om det er behov for økt beredskap og enkelte restriksjoner som f.eks nedsatt hastighet, sperring av ett kjørefelt mm</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="terskelverdi" type="string">
            <annotation>
              <documentation>9959: Beskriver hvor mye vær som tåles før problem oppstår. Kan f.eks være vindstyrke, vindretning, bølgehøyde, snømengde osv</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kilde" type="string"/>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10765: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks mer detaljer om problemene</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VærutsattVegPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:VærutsattVeg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
