GML/107.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>107: Vegstrekning som er spesielt utsatt for uvær, og av den grunn kan ha begrenset åpningstid. Strekning defineres fra stengningspunkt til stengningspunkt (gjerne fastmonterte vegbommer). Kortere lokale strekninger med konkrete problemstillinger registreres som Naturfare (VT 957).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AnsvarligVTSVærutsatt vegType">
      <annotation>
         <documentation>12229: Angir ansvarlig vegtrafikksentral for strekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12229</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ansvarlig VTS</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AnsvarligVTSVærutsatt vegEnumerationType nvdb:AnsvarligVTSVærutsatt vegOtherType"/>
   </simpleType>
   <simpleType name="AnsvarligVTSVærutsatt vegEnumerationType">
      <annotation>
         <documentation>12229: Angir ansvarlig vegtrafikksentral for strekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12229</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ansvarlig VTS</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="VM">
            <annotation>
               <documentation>21346: Vegtrafikksentral Midt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21346</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VTS Midt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VN">
            <annotation>
               <documentation>21347: Vegtrafikksentral Nord.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21347</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VTS Nord</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VS">
            <annotation>
               <documentation>21344: Vegtrafikksentral Sør.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21344</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VTS Sør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VV">
            <annotation>
               <documentation>21345: Vegtrafikksentral Vest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21345</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VTS Vest</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VO">
            <annotation>
               <documentation>21343: Vegtrafikksentral Øst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21343</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VTS Øst</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AnsvarligVTSVærutsatt vegOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FjellovergangVærutsatt vegType">
      <annotation>
         <documentation>12228: Angir om værutsatt veg regnes som en offisiell fjellovergang. Fjelloverganger er lengre strekninger utenfor bebyggelse som er særlig utsatt for stengning og problemer på vinterstid pga. snø og dårlig vær. Hoveddelen av en fjellovergang ligger over tregrensa. Værutsatte veger som ikke regnes som offisielle fjelloverganger er gjerne korte, har lite trafikk og mangler utrustning som bommer etc.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12228</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjellovergang</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FjellovergangVærutsatt vegEnumerationType nvdb:FjellovergangVærutsatt vegOtherType"/>
   </simpleType>
   <simpleType name="FjellovergangVærutsatt vegEnumerationType">
      <annotation>
         <documentation>12228: Angir om værutsatt veg regnes som en offisiell fjellovergang. Fjelloverganger er lengre strekninger utenfor bebyggelse som er særlig utsatt for stengning og problemer på vinterstid pga. snø og dårlig vær. Hoveddelen av en fjellovergang ligger over tregrensa. Værutsatte veger som ikke regnes som offisielle fjelloverganger er gjerne korte, har lite trafikk og mangler utrustning som bommer etc.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12228</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjellovergang</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <documentation>21341: Regnes som offisiell fjellovergang.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21341</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>21342: Regnes ikke som offisiell fjellovergang.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21342</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FjellovergangVærutsatt vegOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="HøyfjellsstrekningVærutsatt vegType">
      <annotation>
         <documentation>8835: Angir om denne vegstrekningen krever ekstra vintervedlikehold utover standard vinterdrift. Informasjon benyttes i forbindelse med beregning av vedlikeholdsmidler i MOTIV.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8835</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ekstra vintervedlikehold</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:HøyfjellsstrekningVærutsatt vegEnumerationType nvdb:HøyfjellsstrekningVærutsatt vegOtherType"/>
   </simpleType>
   <simpleType name="HøyfjellsstrekningVærutsatt vegEnumerationType">
      <annotation>
         <documentation>8835: Angir om denne vegstrekningen krever ekstra vintervedlikehold utover standard vinterdrift. Informasjon benyttes i forbindelse med beregning av vedlikeholdsmidler i MOTIV.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8835</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ekstra vintervedlikehold</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11776</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11777</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17891: Angis dersom det ikke er vurdert/tatt stilling til om det er høyfjellsstrekning eller ikke.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17891</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="HøyfjellsstrekningVærutsatt vegOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="StedligBeredskapVærutsatt vegType">
      <annotation>
         <documentation>3107: Angir om det er stedlig beredskap knyttet til vegstrekningen, dvs. at brøytemannskap bor på brøytestasjon knyttet til strekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3107</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stedlig beredskap</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StedligBeredskapVærutsatt vegEnumerationType nvdb:StedligBeredskapVærutsatt vegOtherType"/>
   </simpleType>
   <simpleType name="StedligBeredskapVærutsatt vegEnumerationType">
      <annotation>
         <documentation>3107: Angir om det er stedlig beredskap knyttet til vegstrekningen, dvs. at brøytemannskap bor på brøytestasjon knyttet til strekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3107</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stedlig beredskap</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ja">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4614</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4615</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StedligBeredskapVærutsatt vegOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Værutsatt veg"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Værutsatt vegType">
      <annotation>
         <documentation>107: Vegstrekning som er spesielt utsatt for uvær, og av den grunn kan ha begrenset åpningstid. Strekning defineres fra stengningspunkt til stengningspunkt (gjerne fastmonterte vegbommer). Kortere lokale strekninger med konkrete problemstillinger registreres som Naturfare (VT 957).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">107</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Værutsatt veg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Værutsatt vegType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="fjellovergang" type="nvdb:FjellovergangVærutsatt vegType">
                  <annotation>
                     <documentation>12228: Angir om værutsatt veg regnes som en offisiell fjellovergang. Fjelloverganger er lengre strekninger utenfor bebyggelse som er særlig utsatt for stengning og problemer på vinterstid pga. snø og dårlig vær. Hoveddelen av en fjellovergang ligger over tregrensa. Værutsatte veger som ikke regnes som offisielle fjelloverganger er gjerne korte, har lite trafikk og mangler utrustning som bommer etc.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12228</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fjellovergang</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>1082: Angir navn på værutsatt veg/fjellovergang.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1082</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sted_Fra" type="string">
                  <annotation>
                     <documentation>12220: Offisielt stedsnavn der strekning starter. Her benyttes stedsnavn på tettsted/område. Det skal benyttes stedsnavn fra TMC-Location Table.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12220</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sted, fra</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sted_Til" type="string">
                  <annotation>
                     <documentation>12221: Offisielt stedsnavn der strekning slutter. Her benyttes stedsnavn på tettsted/område. Det skal benyttes stedsnavn fra TMC-Location Table.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12221</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sted, til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stedLokalt_Fra" type="string">
                  <annotation>
                     <documentation>12222: Lokalt stedsnavn der strekning starter. Her benyttes stedsnavn der bom er plassert. Det skal benyttes stedsnavn fra TMC-Location Table.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12222</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sted lokalt, fra</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stedLokalt_Til" type="string">
                  <annotation>
                     <documentation>12223: Lokalt stedsnavn der strekning slutter. Her benyttes stedsnavn der bom er plassert. Det skal benyttes stedsnavn fra TMC-Location Table.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12223</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sted lokalt, til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="ansvarligVTS">
                  <annotation>
                     <documentation>12229: Angir ansvarlig vegtrafikksentral for strekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12229</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Ansvarlig VTS</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="stedligBeredskap">
                  <annotation>
                     <documentation>3107: Angir om det er stedlig beredskap knyttet til vegstrekningen, dvs. at brøytemannskap bor på brøytestasjon knyttet til strekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3107</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stedlig beredskap</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyfjellsstrekning">
                  <annotation>
                     <documentation>8835: Angir om denne vegstrekningen krever ekstra vintervedlikehold utover standard vinterdrift. Informasjon benyttes i forbindelse med beregning av vedlikeholdsmidler i MOTIV.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8835</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Ekstra vintervedlikehold</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="snødybde" type="integer">
                  <annotation>
                     <documentation>2103: Angir snødybde ved åpning av vegstrekningen. Gjelder høyfjellsstrekninger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2103</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Snødybde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallStengteDøgn" type="integer">
                  <annotation>
                     <documentation>1917: Angir hvor mange døgn pr år vegstrekningen normalt er stengt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1917</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall stengte døgn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vinterstengt_FraDato" type="string">
                  <annotation>
                     <documentation>2074: Angir dato (mmdd) for når vinterstengning starter et normalår.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2074</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vinterstengt, fra dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vinterstengt_TilDato" type="string">
                  <annotation>
                     <documentation>2223: Angir dato (mmdd) for når vinterstengning opphører i et normalår.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2223</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vinterstengt, til dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="nattestengt_FraDato" type="string">
                  <annotation>
                     <documentation>2073: Angir dato (mmdd) for når nattestengning starter i et normalår.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2073</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nattestengt, fra dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="nattestengt_TilDato" type="string">
                  <annotation>
                     <documentation>2222: Angir dato (mmdd) for når nattestengning avsluttes i et normalår.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2222</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nattestengt, til dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="avgrensaVinterdriftFraDato" type="string">
                  <annotation>
                     <documentation>8836: Angir dato (mmdd) for når avgrensa vinterdrift starter et normalår. Med avgrenset vinterdrift menes at det er spesielle kriterier knyttet til når vegen skal åpnes og stenges.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8836</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avgrensa vinterdrift, fra dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="avgrensaVinterdriftTilDato" type="string">
                  <annotation>
                     <documentation>8837: Angir dato (mmdd) for når avgrensa vinterdrift avsluttes et normalår. Med avgrenset vinterdrift menes at det er spesielle kriterier knyttet til når vegen skal åpnes og stenges. Det kan innenfor denne perioden være gitt en periode hvor vegen er helt vinterstengt (se egne ET).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8837</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avgrensa vinterdrift, til dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>10765: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks. mer detaljer om problemene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10765</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Værutsatt vegPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Værutsatt veg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
