GML/107.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AnsvarligVTSType">
    <annotation>
      <documentation>12229: Angir ansvarlig vegtrafikksentral for strekningen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12229</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12229</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ansvarlig VTS</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AnsvarligVTSEnumerationType nvdb:AnsvarligVTSOtherType"/>
  </simpleType>
  <simpleType name="AnsvarligVTSEnumerationType">
    <annotation>
      <documentation>12229: Angir ansvarlig vegtrafikksentral for strekningen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12229</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12229</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ansvarlig VTS</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="VTS Øst">
        <annotation>
          <documentation>21343: Vegtrafikksentral Øst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21343</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS Øst</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VTS Sør">
        <annotation>
          <documentation>21344: Vegtrafikksentral Sør</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21344</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS Sør</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VTS Vest">
        <annotation>
          <documentation>21345: Vegtrafikksentral Vest</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21345</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS Vest</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VTS Midt">
        <annotation>
          <documentation>21346: Vegtrafikksentral Midt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21346</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS Midt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VTS Nord">
        <annotation>
          <documentation>21347: Vegtrafikksentral Nord</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21347</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS Nord</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AnsvarligVTSOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FjellovergangType">
    <annotation>
      <documentation>12228: Angir om værutsatt veg regnes som en offisiell fjellovergang. Fjelloverganger er lengre strekninger utenfor bebyggelse som er særlig utsatt for stengning og problemer på vinterstid pga snø og dårlig vær. Hoveddelen av en fjelloverang ligger over tregrensa</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12228</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12228</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fjellovergang</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FjellovergangEnumerationType nvdb:FjellovergangOtherType"/>
  </simpleType>
  <simpleType name="FjellovergangEnumerationType">
    <annotation>
      <documentation>12228: Angir om værutsatt veg regnes som en offisiell fjellovergang. Fjelloverganger er lengre strekninger utenfor bebyggelse som er særlig utsatt for stengning og problemer på vinterstid pga snø og dårlig vær. Hoveddelen av en fjelloverang ligger over tregrensa</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12228</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12228</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fjellovergang</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>21341: Regnes som offisiell fjellovergang</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21341</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>21342: Regnes ikke som offisiell fjellovergang</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21342</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FjellovergangOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HøyfjellsstrekningType">
    <annotation>
      <documentation>8835: Angir om denne vegstrekningen krever ekstra vintervedlikehold utover standard vinterdrift. Informasjon benyttes i forbindelse med beregning av vedlikeholdsmidler i MOTIV.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8835</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8835</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ekstra vintervedlikehold</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HøyfjellsstrekningEnumerationType nvdb:HøyfjellsstrekningOtherType"/>
  </simpleType>
  <simpleType name="HøyfjellsstrekningEnumerationType">
    <annotation>
      <documentation>8835: Angir om denne vegstrekningen krever ekstra vintervedlikehold utover standard vinterdrift. Informasjon benyttes i forbindelse med beregning av vedlikeholdsmidler i MOTIV.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8835</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8835</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ekstra vintervedlikehold</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>11776: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11776</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11777: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11777</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17891: Angis dersom det ikke er vurdert/tatt stilling til om det er høyfjellsstrekning eller ikke.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17891</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HøyfjellsstrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StedligBeredskapType">
    <annotation>
      <documentation>3107: Angir om det er stedlig beredskap knyttet til vegstrekningen, dvs at brøytemannskap bor på brøytestasjon knyttet til strekningen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Stedlig beredskap</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StedligBeredskapEnumerationType nvdb:StedligBeredskapOtherType"/>
  </simpleType>
  <simpleType name="StedligBeredskapEnumerationType">
    <annotation>
      <documentation>3107: Angir om det er stedlig beredskap knyttet til vegstrekningen, dvs at brøytemannskap bor på brøytestasjon knyttet til strekningen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Stedlig beredskap</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4614: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4614</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4615: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4615</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StedligBeredskapOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="VærutsattVeg" substitutionGroup="nvdb:AbstraktVærutsattVeg" type="nvdb:VærutsattVegType">
    <annotation>
      <documentation>107: Vegstrekning som er spesielt utsatt for uvær, og av den grunn kan ha begrenset åpningstid. Strekning defineres fra stengningspunkt til stengningspunkt (gjerne fastmonterte vegbommer). Kortere lokale strekninger med konkrete problemstillinger regsitreres som Naturfare (VT 957)</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Værutsatt veg</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VærutsattVegType">
    <complexContent>
      <extension base="nvdb:AbstraktVærutsattVegType">
        <sequence>
          <element minOccurs="0" name="fjellovergang" type="nvdb:FjellovergangType">
            <annotation>
              <documentation>12228: Angir om værutsatt veg regnes som en offisiell fjellovergang. Fjelloverganger er lengre strekninger utenfor bebyggelse som er særlig utsatt for stengning og problemer på vinterstid pga snø og dårlig vær. Hoveddelen av en fjelloverang ligger over tregrensa. Værutsatte veger som ikke regnes som offisielle fjelloverganger er gjerne korte, har lite trafikk og mangler utrustning som bommer etc.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12228</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fjellovergang</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1082: Angir navn på værutsatt veg/fjellovergang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1082</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sted_Fra" type="string">
            <annotation>
              <documentation>12220: Offisielt stedsnavn der strekning starter. Her benyttes stedsnavn på tettsted/område. Det skal benyttes stedsnavn fra TMC-Location Table.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12220</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sted, fra</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sted_Til" type="string">
            <annotation>
              <documentation>12221: Offisielt stedsnavn der strekning slutter. Her benyttes stedsnavn på tettsted/område. Det skal benyttes stedsnavn fra TMC-Location Table.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12221</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sted, til</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedLokalt_Fra" type="string">
            <annotation>
              <documentation>12222: Lokalt stedsnavn der strekning starter. Her benyttes stedsnavn der bom er plassert. Det skal benyttes stedsnavn fra TMC-Location Table.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12222</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sted lokalt, fra</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedLokalt_Til" type="string">
            <annotation>
              <documentation>12223: Lokalt stedsnavn der strekning slutter. Her benyttes stedsnavn der bom er plassert. Det skal benyttes stedsnavn fra TMC-Location Table.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12223</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sted lokalt, til</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ansvarligVTS" type="nvdb:AnsvarligVTSType">
            <annotation>
              <documentation>12229: Angir ansvarlig vegtrafikksentral for strekningen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12229</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Ansvarlig VTS</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedligBeredskap" type="nvdb:StedligBeredskapType">
            <annotation>
              <documentation>3107: Angir om det er stedlig beredskap knyttet til vegstrekningen, dvs at brøytemannskap bor på brøytestasjon knyttet til strekningen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3107</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Stedlig beredskap</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høyfjellsstrekning" type="nvdb:HøyfjellsstrekningType">
            <annotation>
              <documentation>8835: Angir om denne vegstrekningen krever ekstra vintervedlikehold utover standard vinterdrift. Informasjon benyttes i forbindelse med beregning av vedlikeholdsmidler i MOTIV.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8835</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Ekstra vintervedlikehold</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="snødybde" type="integer">
            <annotation>
              <documentation>2103: Angir snødybde ved åpning av vegstrekningen. Gjelder høyfjellsstrekninger.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2103</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Snødybde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallStengteDøgn" type="integer">
            <annotation>
              <documentation>1917: Angir hvor mange døgn pr år vegstrekningen normalt er stengt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1917</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall stengte døgn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterstengt_FraDato" type="string">
            <annotation>
              <documentation>2074: Angir dato (mmdd) for når vinterstengning starter et normalår.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2074</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vinterstengt, fra dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterstengt_TilDato" type="string">
            <annotation>
              <documentation>2223: Angir dato (mmdd) for når vinterstengning opphører i et normalår.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2223</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vinterstengt, til dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nattestengt_FraDato" type="string">
            <annotation>
              <documentation>2073: Angir dato (mmdd) for når nattestengning starter i et normalår.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2073</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Nattestengt, fra dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nattestengt_TilDato" type="string">
            <annotation>
              <documentation>2222: Angir dato (mmdd) for når nattestengning avsluttes i et normalår.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2222</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Nattestengt, til dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avgrensaVinterdriftFraDato" type="string">
            <annotation>
              <documentation>8836: Angir dato (mmdd) for når avgrensa vinterdrift starter et normalår.  Med avgrenset vinterdrift menes at det er spesielle kriterier knyttet til når vegen skal åpnes og stenges.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8836</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Avgrensa vinterdrift, fra dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avgrensaVinterdriftTilDato" type="string">
            <annotation>
              <documentation>8837: Angir dato (mmdd) for når avgrensa vinterdrift avsluttes et normalår.  Med avgrenset vinterdrift menes at det er spesielle kriterier knyttet til når vegen skal åpnes og stenges. Det kan innenfor denne perioden være gitt en periode hvor vegen er helt vinterstengt (se egne ET).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8837</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Avgrensa vinterdrift, til dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10765: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks mer detaljer om problemene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10765</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VærutsattVegPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:VærutsattVeg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
