GML/110.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.25">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Service" substitutionGroup="nvdb:AbstraktService" type="nvdb:ServiceType">
    <annotation>
      <documentation>110: Vegobjekt som gir informasjon om service som er aktuell for trafikantene</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">110</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">110</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Service</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="ServiceType">
    <complexContent>
      <extension base="nvdb:AbstraktServiceType">
        <sequence>
          <element minOccurs="0" name="informasjon" type="string">
            <annotation>
              <documentation>1918: Her kan gis utfyllende informasjon om servicen.  F.eks åpningstid, vareutvalg, navn, adresse, etc.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1918</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Informasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeServiceType">
            <annotation>
              <documentation>1159: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1159</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10351: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10351</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etableringsår</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11578: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11578</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4806: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4806</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ServicePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Service"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeServiceType">
    <annotation>
      <documentation>1159: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1159</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1159</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeServiceEnumerationType nvdb:TypeServiceOtherType"/>
  </simpleType>
  <simpleType name="TypeServiceEnumerationType">
    <annotation>
      <documentation>1159: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1159</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1159</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Badeplass">
        <annotation>
          <documentation>5348: Angir at det er lagt til rette for bading</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5348</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Badeplass</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kiosk">
        <annotation>
          <documentation>2691: Kiosk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2691</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kiosk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gatekjøkken">
        <annotation>
          <documentation>2692: Gatekjøkken</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2692</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gatekjøkken</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kafe">
        <annotation>
          <documentation>2693: Kafe</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2693</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kafe</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegkro">
        <annotation>
          <documentation>2694: Vegkro</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2694</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegkro</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Telefon">
        <annotation>
          <documentation>2695: Telefon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2695</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Telefon</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Venterom">
        <annotation>
          <documentation>2696: Venterom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2696</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Venterom</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Offentlig toalett">
        <annotation>
          <documentation>2697: Toalett som Statens Vegvesen eier/drifter skal registreres som egne objekt av type Toalett (243)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2697</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Offentlig toalett</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Offentlig toalett, handikap">
        <annotation>
          <documentation>2698: Toalett som Statens Vegvesen eier/drifter skal registreres som egne objekt av type Toalett (243)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2698</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Offentlig toalett, handikap</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stellerom">
        <annotation>
          <documentation>2699: Stellerom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2699</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stellerom</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Butikk, dagligvarer">
        <annotation>
          <documentation>2700: Butikk, dagligvarer</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2700</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Butikk, dagligvarer</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bensinstasjon">
        <annotation>
          <documentation>2701: Bensinstasjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2701</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bensinstasjon</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tømmeanlegg bobil">
        <annotation>
          <documentation>2702: Tømmeanlegg bobil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2702</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tømmeanlegg bobil</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hotell">
        <annotation>
          <documentation>2703: Hotell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2703</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hotell</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pensjonat">
        <annotation>
          <documentation>2704: Pensjonat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2704</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pensjonat</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Post">
        <annotation>
          <documentation>2705: Post</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2705</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Post</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bank">
        <annotation>
          <documentation>2706: Bank</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2706</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bank</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Turistinformasjon, kontor">
        <annotation>
          <documentation>2707: Turistinformasjon, kontor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2707</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Turistinformasjon, kontor</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Turistinformasjon, infotavle">
        <annotation>
          <documentation>2708: Standard infotavle med skiltnummer 636 skal registreres som Skiltpunkt (95)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2708</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Turistinformasjon, infotavle</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Campingplass">
        <annotation>
          <documentation>2709: Campingplass</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2709</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Campingplass</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hytteutleie">
        <annotation>
          <documentation>2710: Hytteutleie</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2710</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hytteutleie</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hvileplass for langtransport">
        <annotation>
          <documentation>2711: Hvileplass for langtransport</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2711</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hvileplass for langtransport</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Severdighet">
        <annotation>
          <documentation>2712: Severdighet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2712</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Severdighet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Utsiktspunkt">
        <annotation>
          <documentation>2713: Utsiktspunkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2713</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utsiktspunkt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rastemulighet">
        <annotation>
          <documentation>3908: Rasteplasser som Statens Vegvesen eier/driver skal registreres som Rasteplass (39)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3908</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rastemulighet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parkeringsanlegg">
        <annotation>
          <documentation>3909: Parkeringsanlegg som Statens Vegvesen eier/driver skal registreres som Parkeringsområde (43)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3909</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Parkeringsanlegg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parkeringsanlegg, langtidsparkering">
        <annotation>
          <documentation>3910: Parkeringsanlegg som Statens Vegvesen eier/driver skal registreres som Parkeringsområde (43)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3910</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Parkeringsanlegg, langtidsparkering</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeServiceOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
