GML/110.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>110: Vegobjekt som gir informasjon om service som er aktuell for trafikantene.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Service"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:ServiceType">
      <annotation>
         <documentation>110: Vegobjekt som gir informasjon om service som er aktuell for trafikantene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">110</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Service</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="ServiceType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeServiceType">
                  <annotation>
                     <documentation>1159: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1159</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="informasjon" type="string">
                  <annotation>
                     <documentation>1918: Her kan gis utfyllende informasjon om servicen. F.eks. åpningstid, vareutvalg, navn, adresse, etc.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1918</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Informasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10351: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10351</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11578: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11578</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4806: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4806</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ServicePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Service"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeServiceType">
      <annotation>
         <documentation>1159: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1159</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeServiceEnumerationType nvdb:TypeServiceOtherType"/>
   </simpleType>
   <simpleType name="TypeServiceEnumerationType">
      <annotation>
         <documentation>1159: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1159</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Badeplass">
            <annotation>
               <documentation>5348: Angir at det er lagt til rette for bading.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5348</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Badeplass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2706</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bank</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bz">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2701</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bensinstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="d">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2700</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Butikk, dagligvarer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="c">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2709</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Campingplass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2692</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gatekjøkken</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2703</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hotell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hl">
            <annotation>
               <documentation>2711: Merknad: Døgnhvileplasser som vegeier eier/driver skal registreres som Døgnhvileplass (809).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2711</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hvileplass for langtransport</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2710</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hytteutleie</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2693</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kafe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ki">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2691</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kiosk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <documentation>2697: Merknad: Toalett som vegeier eier/drifter skal registreres som egne vegobjekt av type Toalettanlegg (243).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2697</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Offentlig toalett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="th">
            <annotation>
               <documentation>2698: Merknad: Toalett som vegeier eier/drifter skal registreres som egne vegobjekt av type Toalettanlegg (243).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2698</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Offentlig toalett, handikap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pa">
            <annotation>
               <documentation>3909: Merknad: Parkeringsanlegg som vegeier eier/driver skal registreres som Parkeringsområde (43).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3909</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Parkeringsanlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pl">
            <annotation>
               <documentation>3910: Merknad: Parkeringsanlegg som vegeier eier/driver skal registreres som Parkeringsområde (43).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3910</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Parkeringsanlegg, langtidsparkering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2704</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pensjonat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="po">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2705</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Post</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rp">
            <annotation>
               <documentation>3908: Merknad: Skilta rasteplasser som eies av vegeier skal registreres som Rasteplass (39).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3908</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rastemulighet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2712</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Severdighet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2699</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stellerom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2695</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Telefon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tt">
            <annotation>
               <documentation>2708: Merknad: Standard infotavle med skiltnummer 636 skal registreres som Skiltpunkt (95).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2708</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Turistinformasjon, infotavle</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2707</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Turistinformasjon, kontor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2702</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tømmeanlegg bobil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="up">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2713</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utsiktspunkt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2694</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegkro</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2696</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Venterom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeServiceOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
