GML/113.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>113: Strekning med gitt høyde relatert til bestemt vegobjektforekomst. Inneholder egenhøyde start/slutt, samt høyde over vegkant.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Høydemåling"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:HøydemålingType">
      <annotation>
         <documentation>113: Strekning med gitt høyde relatert til bestemt vegobjektforekomst. Inneholder egenhøyde start/slutt, samt høyde over vegkant.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">113</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Høydemåling</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="HøydemålingType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="høyde_Start" type="double">
                  <annotation>
                     <documentation>1591: Angir høyde (egenhøyde) i start av målestrekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1591</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, start</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde_Slutt" type="double">
                  <annotation>
                     <documentation>7568: Angir høyde (egenhøyde) i slutt av målestrekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7568</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, slutt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høydeOverVeg_Start" type="double">
                  <annotation>
                     <documentation>2252: Angir høyde relativt til vegkant i start av målestrekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2252</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde over veg, start</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høydeOverVeg_Slutt" type="double">
                  <annotation>
                     <documentation>7569: Angir høyde relativt til vegkant i slutt av målestrekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7569</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde over veg, slutt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kvalitet">
                  <annotation>
                     <documentation>2109: Angir kvalitet på måling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2109</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kvalitet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="måltÅr" type="integer">
                  <annotation>
                     <documentation>10310: Angir årstall målingen er utført.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10310</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Målt år</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4809: Gir linje/kurve som geometrisk representerer objektet. Kan benyttes for arvet geoemetri fra morobjekt eller alternativt som hjelpelinje ved etablering av forekomst.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4809</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="HøydemålingPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Høydemåling"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="HøydemålingKvalitetType">
      <annotation>
         <documentation>2109: Angir kvalitet på måling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2109</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kvalitet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:HøydemålingKvalitetEnumerationType nvdb:HøydemålingKvalitetOtherType"/>
   </simpleType>
   <simpleType name="HøydemålingKvalitetEnumerationType">
      <annotation>
         <documentation>2109: Angir kvalitet på måling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2109</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kvalitet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="mt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4627</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Målt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4626</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skjønn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="HøydemålingKvalitetOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
