GML/123.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AlvorlighetsgradType">
    <annotation>
      <documentation>1998: Angir hvor alvorlig en skade/tilstand er.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1998</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1998</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Alvorlighetsgrad</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AlvorlighetsgradEnumerationType nvdb:AlvorlighetsgradOtherType"/>
  </simpleType>
  <simpleType name="AlvorlighetsgradEnumerationType">
    <annotation>
      <documentation>1998: Angir hvor alvorlig en skade/tilstand er.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1998</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1998</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Alvorlighetsgrad</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Liten">
        <annotation>
          <documentation>2623: Liten</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2623</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Liten</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Middels">
        <annotation>
          <documentation>2628: Middels</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2628</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Middels</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stor">
        <annotation>
          <documentation>2633: Stor</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2633</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kritisk">
        <annotation>
          <documentation>2637: Kritisk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2637</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kritisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AlvorlighetsgradOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkade_DekkeType">
    <annotation>
      <documentation>1162: Angir hvilken type skade det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1162</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1162</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadetypeTilstandSkade_DekkeEnumerationType nvdb:SkadetypeTilstandSkade_DekkeOtherType"/>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkade_DekkeEnumerationType">
    <annotation>
      <documentation>1162: Angir hvilken type skade det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1162</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1162</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Område med krakkelering">
        <annotation>
          <documentation>2617: Område med krakkelering</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2617</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Område med krakkelering</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Langsgående dekkesprekk">
        <annotation>
          <documentation>2618: Langsgående dekkesprekk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2618</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Langsgående dekkesprekk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tverrsgående dekkesprekk">
        <annotation>
          <documentation>2619: Tverrsgående dekkesprekk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2619</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tverrsgående dekkesprekk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Overflateskade">
        <annotation>
          <documentation>2620: Overflateskade</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2620</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflateskade</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sporslitasje">
        <annotation>
          <documentation>17906: Spordannelse grunnet slitasje</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17906</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sporslitasje</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hull">
        <annotation>
          <documentation>20083: Hull</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20083</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hull</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkade_DekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkade_Dekke" substitutionGroup="nvdb:AbstraktTilstandSkade_Dekke" type="nvdb:TilstandSkade_DekkeType">
    <annotation>
      <documentation>123: Gir informasjon om tilstand og eventuell skade på vegdekke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">123</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">123</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand/skade, dekke</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TilstandSkade_DekkeType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkade_DekkeType">
        <sequence>
          <element minOccurs="0" name="antall" type="integer">
            <annotation>
              <documentation>2205: Vegobjektet kan representere flere objekt av samme type. Vi angir her hvor mange objekt dette objektet representerer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2205</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadetype" type="nvdb:SkadetypeTilstandSkade_DekkeType">
            <annotation>
              <documentation>1162: Angir hvilken type skade det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1162</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="årsakTilSkadeMangel" type="nvdb:ÅrsakTilSkadeMangelType">
            <annotation>
              <documentation>2001: Angir årsak til en skade eller mangel.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2001</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Årsak til skade/mangel</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>8775: Angir dato for når kontroll ble foretatt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8775</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>2009: Angir dato da vegobjektet ble registrert. Datoformat: ååååmmdd.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2009</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Registreringsdato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>7852: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7852</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4814: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4814</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>12187: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12187</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alvorlighetsgrad" type="nvdb:AlvorlighetsgradType">
            <annotation>
              <documentation>1998: Angir hvor alvorlig en skade/tilstand er.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1998</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Alvorlighetsgrad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utbredelse" type="nvdb:UtbredelseType">
            <annotation>
              <documentation>2000: Angir hvor utbredt en skade/tilstand er.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2000</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utbredelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFortau" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFortau</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegdekke" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegdekke</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkade_DekkePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkade_Dekke"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="UtbredelseType">
    <annotation>
      <documentation>2000: Angir hvor utbredt en skade/tilstand er.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2000</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2000</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utbredelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtbredelseEnumerationType nvdb:UtbredelseOtherType"/>
  </simpleType>
  <simpleType name="UtbredelseEnumerationType">
    <annotation>
      <documentation>2000: Angir hvor utbredt en skade/tilstand er.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2000</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2000</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utbredelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Liten">
        <annotation>
          <documentation>2625: Liten</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2625</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Liten</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Middels">
        <annotation>
          <documentation>2630: Middels</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2630</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Middels</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stor">
        <annotation>
          <documentation>2635: Stor</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2635</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtbredelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ÅrsakTilSkadeMangelType">
    <annotation>
      <documentation>2001: Angir årsak til en skade eller mangel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2001</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2001</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Årsak til skade/mangel</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ÅrsakTilSkadeMangelEnumerationType nvdb:ÅrsakTilSkadeMangelOtherType"/>
  </simpleType>
  <simpleType name="ÅrsakTilSkadeMangelEnumerationType">
    <annotation>
      <documentation>2001: Angir årsak til en skade eller mangel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2001</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2001</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Årsak til skade/mangel</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Dårlige grunnforhold">
        <annotation>
          <documentation>2639: Dårlige grunnforhold</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2639</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dårlige grunnforhold</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dårlig vegfundament">
        <annotation>
          <documentation>2640: Dårlig vegfundament</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2640</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dårlig vegfundament</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Telefarlig materiale">
        <annotation>
          <documentation>2641: Telefarlig materiale</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2641</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Telefarlig materiale</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dårlig drenering">
        <annotation>
          <documentation>2642: Dårlig drenering</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2642</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dårlig drenering</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sporslitasje">
        <annotation>
          <documentation>17878: Sporslitasje</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17878</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sporslitasje</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ÅrsakTilSkadeMangelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
