GML/123.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>123: Gir informasjon om tilstand og eventuell skade på vegdekke.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AlvorlighetsgradTilstandskade, dekkeType">
      <annotation>
         <documentation>1998: Angir hvor alvorlig en skade/tilstand er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1998</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Alvorlighetsgrad</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AlvorlighetsgradTilstandskade, dekkeEnumerationType nvdb:AlvorlighetsgradTilstandskade, dekkeOtherType"/>
   </simpleType>
   <simpleType name="AlvorlighetsgradTilstandskade, dekkeEnumerationType">
      <annotation>
         <documentation>1998: Angir hvor alvorlig en skade/tilstand er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1998</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Alvorlighetsgrad</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2637</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kritisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2623</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Liten</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2628</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Middels</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2633</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AlvorlighetsgradTilstandskade, dekkeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SkadetypeTilstandskade, dekkeType">
      <annotation>
         <documentation>1162: Angir hvilken type skade det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1162</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkadetypeTilstandskade, dekkeEnumerationType nvdb:SkadetypeTilstandskade, dekkeOtherType"/>
   </simpleType>
   <simpleType name="SkadetypeTilstandskade, dekkeEnumerationType">
      <annotation>
         <documentation>1162: Angir hvilken type skade det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1162</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="H">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20083</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hull</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ls">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2618</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Langsgående dekkesprekk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2617</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Område med krakkelering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="os">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2620</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Overflateskade</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17906</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sporslitasje</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ts">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2619</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tversgående dekkesprekk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkadetypeTilstandskade, dekkeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tilstandskade, dekke"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandskade, dekkeType">
      <annotation>
         <documentation>123: Gir informasjon om tilstand og eventuell skade på vegdekke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">123</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandskade, dekke</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandskade, dekkeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="skadetype" type="nvdb:SkadetypeTilstandskade, dekkeType">
                  <annotation>
                     <documentation>1162: Angir hvilken type skade det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1162</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="alvorlighetsgrad"
                        type="nvdb:AlvorlighetsgradTilstandskade, dekkeType">
                  <annotation>
                     <documentation>1998: Angir hvor alvorlig en skade/tilstand er.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1998</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Alvorlighetsgrad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="utbredelse" type="nvdb:UtbredelseTilstandskade, dekkeType">
                  <annotation>
                     <documentation>2000: Angir hvor utbredt en skade/tilstand er.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2000</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utbredelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="årsakTilSkadeMangel">
                  <annotation>
                     <documentation>2001: Angir årsak til en skade eller mangel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2001</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Årsak til skade/mangel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="datoKontrollert" type="date">
                  <annotation>
                     <documentation>8775: Angir dato for når kontroll ble foretatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8775</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="registreringsdato" type="date">
                  <annotation>
                     <documentation>2009: Angir dato da vegobjektet ble registrert. Datoformat: ååååmmdd.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2009</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Registreringsdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antall" type="integer">
                  <annotation>
                     <documentation>2205: Vegobjektet kan representere flere objekt av samme type. Vi angir her hvor mange objekt dette objektet representerer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2205</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>7852: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7852</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4814: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4814</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>12187: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12187</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandskade, dekkePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandskade, dekke"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="UtbredelseTilstandskade, dekkeType">
      <annotation>
         <documentation>2000: Angir hvor utbredt en skade/tilstand er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2000</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utbredelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UtbredelseTilstandskade, dekkeEnumerationType nvdb:UtbredelseTilstandskade, dekkeOtherType"/>
   </simpleType>
   <simpleType name="UtbredelseTilstandskade, dekkeEnumerationType">
      <annotation>
         <documentation>2000: Angir hvor utbredt en skade/tilstand er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2000</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utbredelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2625</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Liten</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2630</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Middels</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2635</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UtbredelseTilstandskade, dekkeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ÅrsakTilSkadeMangelTilstandskade, dekkeType">
      <annotation>
         <documentation>2001: Angir årsak til en skade eller mangel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2001</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Årsak til skade/mangel</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ÅrsakTilSkadeMangelTilstandskade, dekkeEnumerationType nvdb:ÅrsakTilSkadeMangelTilstandskade, dekkeOtherType"/>
   </simpleType>
   <simpleType name="ÅrsakTilSkadeMangelTilstandskade, dekkeEnumerationType">
      <annotation>
         <documentation>2001: Angir årsak til en skade eller mangel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2001</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Årsak til skade/mangel</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="d">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2642</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dårlig drenering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2640</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dårlig vegfundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2639</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dårlige grunnforhold</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17878</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sporslitasje</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2641</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Telefarlig materiale</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ÅrsakTilSkadeMangelTilstandskade, dekkeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
