GML/123.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.23">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AlvorlighetsgradType">
    <annotation>
      <documentation>1998: Angir hvor alvorlig en skade/tilstand er</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1998</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1998</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alvorlighetsgrad</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AlvorlighetsgradEnumerationType nvdb:AlvorlighetsgradOtherType"/>
  </simpleType>
  <simpleType name="AlvorlighetsgradEnumerationType">
    <annotation>
      <documentation>1998: Angir hvor alvorlig en skade/tilstand er</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1998</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1998</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alvorlighetsgrad</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Liten">
        <annotation>
          <documentation>2623: Liten</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2623</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Liten</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Middels">
        <annotation>
          <documentation>2628: Middels</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2628</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Middels</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stor">
        <annotation>
          <documentation>2633: Stor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2633</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stor</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kritisk">
        <annotation>
          <documentation>2637: Kritisk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2637</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kritisk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AlvorlighetsgradOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkade_DekkeType">
    <annotation>
      <documentation>1162: Angir hvilken type skade det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1162</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1162</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadetype</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadetypeTilstandSkade_DekkeEnumerationType nvdb:SkadetypeTilstandSkade_DekkeOtherType"/>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkade_DekkeEnumerationType">
    <annotation>
      <documentation>1162: Angir hvilken type skade det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1162</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1162</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadetype</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Område med krakkelering">
        <annotation>
          <documentation>2617: Område med krakkelering</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2617</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Område med krakkelering</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Langsgående dekkesprekk">
        <annotation>
          <documentation>2618: Langsgående dekkesprekk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2618</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Langsgående dekkesprekk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tverrsgående dekkesprekk">
        <annotation>
          <documentation>2619: Tverrsgående dekkesprekk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2619</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tverrsgående dekkesprekk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Overflateskade">
        <annotation>
          <documentation>2620: Overflateskade</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2620</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Overflateskade</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sporslitasje">
        <annotation>
          <documentation>17906: Spordannelse grunnet slitasje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17906</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sporslitasje</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hull">
        <annotation>
          <documentation>20083: Hull</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20083</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hull</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkade_DekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkade_Dekke" substitutionGroup="nvdb:AbstraktTilstandSkade_Dekke" type="nvdb:TilstandSkade_DekkeType">
    <annotation>
      <documentation>123: Gir informasjon om tilstand og eventuell skade på vegdekke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">123</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">123</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilstand/skade, dekke</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TilstandSkade_DekkeType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkade_DekkeType">
        <sequence>
          <element minOccurs="0" name="antall" type="integer">
            <annotation>
              <documentation>2205: Vegobjektet kan representere flere objekt av samme type.  Vi angir her hvor mange objekt dette objektet representerer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2205</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadetype" type="nvdb:SkadetypeTilstandSkade_DekkeType">
            <annotation>
              <documentation>1162: Angir hvilken type skade det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1162</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadetype</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="årsakTilSkadeMangel" type="nvdb:ÅrsakTilSkadeMangelType">
            <annotation>
              <documentation>2001: Angir årsak til en skade eller mangel</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2001</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Årsak til skade/mangel</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>8775: Angir dato for når kontroll ble foretatt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8775</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dato kontrollert</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>2009: Angir dato da vegobjektet ble registrert.  Datoformat: ååååmmdd</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2009</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Registreringsdato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>7852: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7852</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4814: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4814</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, linje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alvorlighetsgrad" type="nvdb:AlvorlighetsgradType">
            <annotation>
              <documentation>1998: Angir hvor alvorlig en skade/tilstand er</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1998</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alvorlighetsgrad</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utbredelse" type="nvdb:UtbredelseType">
            <annotation>
              <documentation>2000: Angir hvor utbredt en skade/tilstand er</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2000</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utbredelse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFortau" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFortau</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegdekke" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegdekke</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkade_DekkePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkade_Dekke"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="UtbredelseType">
    <annotation>
      <documentation>2000: Angir hvor utbredt en skade/tilstand er</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2000</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2000</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utbredelse</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtbredelseEnumerationType nvdb:UtbredelseOtherType"/>
  </simpleType>
  <simpleType name="UtbredelseEnumerationType">
    <annotation>
      <documentation>2000: Angir hvor utbredt en skade/tilstand er</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2000</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2000</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utbredelse</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Liten">
        <annotation>
          <documentation>2625: Liten</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2625</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Liten</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Middels">
        <annotation>
          <documentation>2630: Middels</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2630</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Middels</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stor">
        <annotation>
          <documentation>2635: Stor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2635</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stor</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtbredelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ÅrsakTilSkadeMangelType">
    <annotation>
      <documentation>2001: Angir årsak til en skade eller mangel</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2001</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2001</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Årsak til skade/mangel</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ÅrsakTilSkadeMangelEnumerationType nvdb:ÅrsakTilSkadeMangelOtherType"/>
  </simpleType>
  <simpleType name="ÅrsakTilSkadeMangelEnumerationType">
    <annotation>
      <documentation>2001: Angir årsak til en skade eller mangel</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2001</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2001</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Årsak til skade/mangel</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Dårlige grunnforhold">
        <annotation>
          <documentation>2639: Dårlige grunnforhold</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2639</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dårlige grunnforhold</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dårlig vegfundament">
        <annotation>
          <documentation>2640: Dårlig vegfundament</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2640</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dårlig vegfundament</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Telefarlig materiale">
        <annotation>
          <documentation>2641: Telefarlig materiale</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2641</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Telefarlig materiale</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dårlig drenering">
        <annotation>
          <documentation>2642: Dårlig drenering</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2642</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dårlig drenering</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sporslitasje">
        <annotation>
          <documentation>17878: Sporslitasje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17878</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sporslitasje</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ÅrsakTilSkadeMangelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
