GML/137.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.28">
   <annotation>
      <documentation>137: Skråflate som er del av begrensningen av en fylling.</documentation>
   </annotation>
   <include schemaLocation="304.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierFyllingsskråningType">
      <annotation>
         <documentation>11968: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11968</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11968</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierFyllingsskråningEnumerationType nvdb:EierFyllingsskråningOtherType"/>
   </simpleType>
   <simpleType name="EierFyllingsskråningEnumerationType">
      <annotation>
         <documentation>11968: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11968</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11968</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Stat, Statens vegvesen">
            <annotation>
               <documentation>20509: Stat, Statens vegvesen</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20509</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stat, Nye Veier">
            <annotation>
               <documentation>20510: Stat, Nye Veier</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20510</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fylkeskommune">
            <annotation>
               <documentation>20511: Fylkeskommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20511</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kommune">
            <annotation>
               <documentation>20512: Kommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20512</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Privat">
            <annotation>
               <documentation>20513: Privat</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20513</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Uavklart">
            <annotation>
               <documentation>20514: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20514</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierFyllingsskråningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Fyllingsskråning"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:FyllingsskråningType">
      <annotation>
         <documentation>137: Skråflate som er del av begrensningen av en fylling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">137</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">137</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fyllingsskråning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FyllingsskråningType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="helning" type="nvdb:HelningType">
                  <annotation>
                     <documentation>11528: Gir representativ helning for fyllingsskråning. For skråninger med ulike helninger angis den som er brattest. Detaljer kan beskrives under tilleggsinformajson.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11528</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Helning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde_Maksimal" type="double">
                  <annotation>
                     <documentation>1871: Angir maksimal høydeforskjell mellom vegkant og fyllingsfot. Måles vertikalt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1871</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, maksimal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>2242: Angir gjennomsnittlig bredde målt parallelt med fyllingsskråning (ikke horisontalt).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2242</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="integer">
                  <annotation>
                     <documentation>1392: Angir areal av fylling (skråflate).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1392</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10298: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10298</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11084: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11084</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12324: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12324</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierFyllingsskråningType">
                  <annotation>
                     <documentation>11968: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11968</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligFyllingsskråningType">
                  <annotation>
                     <documentation>12000: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12000</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10961: Gir flate/polygon som geometrisk avgrenser fyllingsskråning. Fyllingsfot i nedkant, vegskulderkant i overkant.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10961</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="assosiertFylling_Volum"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Fylling_Volum</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="assosiertPlastringErosjonssikring"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:PlastringErosjonssikring</targetElement>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FyllingsskråningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fyllingsskråning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="HelningType">
      <annotation>
         <documentation>11528: Gir representativ helning for fyllingsskråning. For skråninger med ulike helninger angis den som er brattest. Detaljer kan beskrives under tilleggsinformajson.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11528</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11528</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Helning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:HelningEnumerationType nvdb:HelningOtherType"/>
   </simpleType>
   <simpleType name="HelningEnumerationType">
      <annotation>
         <documentation>11528: Gir representativ helning for fyllingsskråning. For skråninger med ulike helninger angis den som er brattest. Detaljer kan beskrives under tilleggsinformajson.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11528</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11528</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Helning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Brattere enn 1:1,25">
            <annotation>
               <documentation>19584: Brattere enn 1:1,25</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19584</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brattere enn 1:1,25</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1:1,25">
            <annotation>
               <documentation>19585: 1:1,25</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19585</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1:1,25</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1:1,5">
            <annotation>
               <documentation>19586: 1:1,5</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19586</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1:1,5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1:2">
            <annotation>
               <documentation>19587: 1:2</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19587</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1:2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1:3">
            <annotation>
               <documentation>19588: 1:3</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19588</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1:3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1:4">
            <annotation>
               <documentation>19589: 1:4</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19589</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1:4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1:5">
            <annotation>
               <documentation>19590: 1:5</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19590</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1:5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Slakere enn 1:5">
            <annotation>
               <documentation>19591: Slakere enn 1:5</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19591</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slakere enn 1:5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="HelningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFyllingsskråningType">
      <annotation>
         <documentation>12000: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12000</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">12000</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligFyllingsskråningEnumerationType nvdb:VedlikeholdsansvarligFyllingsskråningOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFyllingsskråningEnumerationType">
      <annotation>
         <documentation>12000: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12000</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">12000</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Statens vegvesen">
            <annotation>
               <documentation>20707: Statens vegvesen</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20707</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nye Veier">
            <annotation>
               <documentation>20708: Nye Veier</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20708</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fylkeskommune">
            <annotation>
               <documentation>20709: Fylkeskommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20709</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <documentation>20710: OPS</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20710</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kommune">
            <annotation>
               <documentation>20711: Kommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20711</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Privat">
            <annotation>
               <documentation>20712: Privat</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20712</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Uavklart">
            <annotation>
               <documentation>20713: Uavklart</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20713</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFyllingsskråningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
