GML/137.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Fyllingsskråning" substitutionGroup="nvdb:AbstraktFyllingsskråning" type="nvdb:FyllingsskråningType">
    <annotation>
      <documentation>137: Skråflate som er del av begrensningen av en fylling.</documentation>
    </annotation>
  </element>
  <complexType name="FyllingsskråningType">
    <complexContent>
      <extension base="nvdb:AbstraktFyllingsskråningType">
        <sequence>
          <element minOccurs="0" name="helning" type="nvdb:HelningType">
            <annotation>
              <documentation>11528: Gir representativ helning for fyllingsskråning. For skråninger med ulike helninger angis den som er brattest. Detaljer kan beskrives under tilleggsinformajson.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde_Maksimal" type="double">
            <annotation>
              <documentation>1871: Angir maksimal høydeforskjell mellom vegkant og fyllingsfot. Måles vertikalt.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Gjennomsnitt" type="double">
            <annotation>
              <documentation>2242: Angir gjennomsnittlig bredde målt parallelt med fyllingsskråning (ikke horisontalt).
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>1392: Angir areal av fylling (skråflate).
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10298: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11579: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11084: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4817: Gir linje/kurve som geometrisk representerer objektet. Fyllingsfot</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10961: Gir flate/polygon som geometrisk avgrenser fyllingsskråning. Fyllingsfot i nedkant, vegskulderkant i overkant</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFylling_Volum" type="nvdb:AbstraktFylling_VolumPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBreddemåling" type="nvdb:AbstraktBreddemålingPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertPlastringErosjonssikring" type="nvdb:AbstraktPlastringErosjonssikringPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FyllingsskråningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fyllingsskråning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="HelningType">
    <annotation>
      <documentation>11528: Gir representativ helning for fyllingsskråning. For skråninger med ulike helninger angis den som er brattest. Detaljer kan beskrives under tilleggsinformajson.</documentation>
    </annotation>
    <union memberTypes="nvdb:HelningEnumerationType nvdb:HelningOtherType"/>
  </simpleType>
  <simpleType name="HelningEnumerationType">
    <annotation>
      <documentation>11528: Gir representativ helning for fyllingsskråning. For skråninger med ulike helninger angis den som er brattest. Detaljer kan beskrives under tilleggsinformajson.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="brattereEnn1til1_25">
        <annotation>
          <documentation>19584: Brattere enn 1:1,25</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1til1_25">
        <annotation>
          <documentation>19585: 1:1,25</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1til1_5">
        <annotation>
          <documentation>19586: 1:1,5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1til2">
        <annotation>
          <documentation>19587: 1:2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1til3">
        <annotation>
          <documentation>19588: 1:3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1til4">
        <annotation>
          <documentation>19589: 1:4</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1til5">
        <annotation>
          <documentation>19590: 1:5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="slakereEnn1til5">
        <annotation>
          <documentation>19591: Slakere enn 1:5</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HelningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
