GML/14.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="ProduktnavnTypegodkjenningRekkverksendeType">
    <annotation>
      <documentation>10724: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for rekkverksender godkjent  av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt.  Aktuelt for ettergivende rekkverksender</documentation>
    </annotation>
    <union memberTypes="nvdb:ProduktnavnTypegodkjenningRekkverksendeEnumerationType nvdb:ProduktnavnTypegodkjenningRekkverksendeOtherType"/>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningRekkverksendeEnumerationType">
    <annotation>
      <documentation>10724: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for rekkverksender godkjent  av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt.  Aktuelt for ettergivende rekkverksender</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ABC_Terminal_P2">
        <annotation>
          <documentation>17321: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512254&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ABC_Terminal_P3">
        <annotation>
          <documentation>17320: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512257&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ABC_Terminal_P4">
        <annotation>
          <documentation>17319: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512261&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ESPEN_P4">
        <annotation>
          <documentation>17322: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511712&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="euroET_P4">
        <annotation>
          <documentation>17323: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511735&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MCG_TE_P4_P4">
        <annotation>
          <documentation>17324: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=974999&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="primusP2">
        <annotation>
          <documentation>17325: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512362&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="safeEnd_P2">
        <annotation>
          <documentation>18507: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1414206&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="safeEnd_P4">
        <annotation>
          <documentation>17326: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=694845&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="safeEnd80T_NO_Tunnel">
        <annotation>
          <documentation>18510: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1975435&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SMAT1">
        <annotation>
          <documentation>20343: Mer informasjon om produkt finnes på vegvesen.no:  https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2690011&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SMAT2">
        <annotation>
          <documentation>18508: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1093849&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SMAT4">
        <annotation>
          <documentation>18509: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1093697&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trendDS_P2">
        <annotation>
          <documentation>17327: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512348&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trendDS_P4">
        <annotation>
          <documentation>17328: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512349&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trendSS_P2">
        <annotation>
          <documentation>17330: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512327&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trendSS_P4">
        <annotation>
          <documentation>17329: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512330&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="XT_110_P4">
        <annotation>
          <documentation>17331: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512292&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="XTD_110_P4">
        <annotation>
          <documentation>17332: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512295&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ZT1_P4">
        <annotation>
          <documentation>17333: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=627947&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ZT2_P4">
        <annotation>
          <documentation>17334: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=576154&amp;method=alle&amp;produkttype=12622</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningRekkverksendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Rekkverksende" substitutionGroup="nvdb:AbstraktRekkverksende" type="nvdb:RekkverksendeType">
    <annotation>
      <documentation>14: En spesiell konstruksjon i begynnelsen eller slutten på et rekkverk. Det må være utformet og montert slik at faren for alvorlig personskade ved påkjøresel blir minst mulig (Håndbok N101)</documentation>
    </annotation>
  </element>
  <complexType name="RekkverksendeType">
    <complexContent>
      <extension base="nvdb:AbstraktRekkverksendeType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeRekkverksendeType">
            <annotation>
              <documentation>1096: Angir hvilken type rekkverksavslutning/overgangselemet det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavnTypegodkjenning" type="nvdb:ProduktnavnTypegodkjenningRekkverksendeType">
            <annotation>
              <documentation>10724: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for rekkverksender godkjent  av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt.  Aktuelt for ettergivende rekkverksender</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1303: Angir lengde av vegobjektet
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stolpeavstand" type="nvdb:StolpeavstandRekkverksendeType">
            <annotation>
              <documentation>4660: Angir stolpeavstand for rekkverksende
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10346: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9550: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11035: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4722: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RekkverksendePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Rekkverksende"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="StolpeavstandRekkverksendeType">
    <annotation>
      <documentation>4660: Angir stolpeavstand for rekkverksende</documentation>
    </annotation>
    <union memberTypes="nvdb:StolpeavstandRekkverksendeEnumerationType nvdb:StolpeavstandRekkverksendeOtherType"/>
  </simpleType>
  <simpleType name="StolpeavstandRekkverksendeEnumerationType">
    <annotation>
      <documentation>4660: Angir stolpeavstand for rekkverksende</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>5745: 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1_33">
        <annotation>
          <documentation>13716: 1,33</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1_8">
        <annotation>
          <documentation>13717: 1,8</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>5746: 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2_3">
        <annotation>
          <documentation>13719: 2,3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>5747: Brukes kun i forbindelse med wirerekkverk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>5748: 4</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StolpeavstandRekkverksendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeRekkverksendeType">
    <annotation>
      <documentation>1096: Angir hvilken type rekkverksavslutning/overgangselemet det er tale om</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeRekkverksendeEnumerationType nvdb:TypeRekkverksendeOtherType"/>
  </simpleType>
  <simpleType name="TypeRekkverksendeEnumerationType">
    <annotation>
      <documentation>1096: Angir hvilken type rekkverksavslutning/overgangselemet det er tale om</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="sideforankring">
        <annotation>
          <documentation>5733: Rekkverket forankres i sideterreng, mur, tunnelportal ol i full rekkverkshøyde.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sideforankringIFjellskjæring">
        <annotation>
          <documentation>5723: Rekkverket forankres i fjellskjæring i full rekkverkshøyde.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sideforankringIJordskjæring">
        <annotation>
          <documentation>5724: Rekkverket forankres i jordskjæring i full rekkverkshøyde.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sideforankringIMur">
        <annotation>
          <documentation>5725: Rekkverket forankres i mur i full rekkverkshøyde.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sideforankringITunnelportal">
        <annotation>
          <documentation>5726: Rekkverket forankres i tunnelportal i full rekkverkshøyde.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sideforankringINaboelement">
        <annotation>
          <documentation>5727: Rekkverket forankres i naboelement i full rekkverkshøyde.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ettergivende">
        <annotation>
          <documentation>5734: Rekkverksende er konstruert slik at den gir etter/klapper sammen ved påkjøring. Type/produkt kan angis under egenskapstype 10724</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nedføringIBakkenUtenUtsvinging">
        <annotation>
          <documentation>2458: Rekkverket er forankret ned i bakken, men er ikke avbøyd sideveis</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nedføringIBakkenOgUtsvinget">
        <annotation>
          <documentation>2459: Rekkverket er forankret ned i bakken og avbøyd sideveis, men avsluttes innenfor vegens sikkerhetssone</documentation>
        </annotation>
      </enumeration>
      <enumeration value="avslutningIFullHøydeUtenUtsvingning">
        <annotation>
          <documentation>5735: Rekkverket avsluttes i full høyde med avrundings/avslutningselement. Rekkverket er ikke  utsvingning sidevegs. Rekkverksende er ikke ettergivende.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="avslutningIFullHøydeOgUtsvinget">
        <annotation>
          <documentation>13721: Rekkverket avsluttes i full høyde med avrundings/avslutningselement og er avbøyd sidevegs, men avsluttes innenfor vegens sikkerhetssone. Rekkverksende er ikke ettergivende.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rekkverkAvsluttetUtenforSikkerhetssonen">
        <annotation>
          <documentation>13720: Rekkverk avbøyes og avsluttes utenfor vegens sikkerhetssone (Håndokb 231, kap. 4.3.1, måte 5)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="avslutningIAnnetVegobjekt">
        <annotation>
          <documentation>2460: Rekkverket avsluttes/forankres i annet vegobjekt.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeRekkverksendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
