GML/144.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdePlastringErosjonssikringType">
    <annotation>
      <documentation>1277: Angir hvilken type erosjon/glidning det sikres mot.</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdePlastringErosjonssikringEnumerationType nvdb:BruksområdePlastringErosjonssikringOtherType"/>
  </simpleType>
  <simpleType name="BruksområdePlastringErosjonssikringEnumerationType">
    <annotation>
      <documentation>1277: Angir hvilken type erosjon/glidning det sikres mot.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="elveerosjon">
        <annotation>
          <documentation>3280: Elveerosjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bølgeerosjon">
        <annotation>
          <documentation>3281: Bølgeerosjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="overflateerosjonISkråning">
        <annotation>
          <documentation>3282: Overflateerosjon i skråning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="overflateglidningerISkråning">
        <annotation>
          <documentation>3960: Overflateglidninger i skråning</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdePlastringErosjonssikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierPlastringErosjonssikringType">
    <annotation>
      <documentation>8001: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierPlastringErosjonssikringEnumerationType nvdb:EierPlastringErosjonssikringOtherType"/>
  </simpleType>
  <simpleType name="EierPlastringErosjonssikringEnumerationType">
    <annotation>
      <documentation>8001: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10267: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18566: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10729: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10331: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10395: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17572: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierPlastringErosjonssikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="PlastringErosjonssikring" substitutionGroup="nvdb:AbstraktPlastringErosjonssikring" type="nvdb:PlastringErosjonssikringType">
    <annotation>
      <documentation>144: Enklere forebygning utført av stein, evt med underliggende filterlag (1). Benyttes i forbindelse med sikring av skråninger mot vannerosjon.</documentation>
    </annotation>
  </element>
  <complexType name="PlastringErosjonssikringType">
    <complexContent>
      <extension base="nvdb:AbstraktPlastringErosjonssikringType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdePlastringErosjonssikringType">
            <annotation>
              <documentation>1277: Angir hvilken type erosjon/glidning det sikres mot.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypePlastringErosjonssikringType">
            <annotation>
              <documentation>1171: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>11392: Angir areal av vegobjektet
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10337: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11393: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11327: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11085: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierPlastringErosjonssikringType">
            <annotation>
              <documentation>8001: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligPlastringErosjonssikringType">
            <annotation>
              <documentation>8066: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4820: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8878: Gir flate/polygon som avgrenser område med plastring/erosjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vannoverdekning" type="nvdb:VannoverdekningType">
            <annotation>
              <documentation>1873: Angir hvor mye av konstruksjonen som er under vann</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PlastringErosjonssikringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:PlastringErosjonssikring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypePlastringErosjonssikringType">
    <annotation>
      <documentation>1171: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypePlastringErosjonssikringEnumerationType nvdb:TypePlastringErosjonssikringOtherType"/>
  </simpleType>
  <simpleType name="TypePlastringErosjonssikringEnumerationType">
    <annotation>
      <documentation>1171: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="sprengtStein">
        <annotation>
          <documentation>3047: Sprengt stein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sprengtSteinMFilterlag">
        <annotation>
          <documentation>3807: Sprengt stein m filterlag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="geotekstiler">
        <annotation>
          <documentation>19230: Geotekstiler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grusKnusteMasser">
        <annotation>
          <documentation>2305: Grus/knuste masser</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypePlastringErosjonssikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VannoverdekningType">
    <annotation>
      <documentation>1873: Angir hvor mye av konstruksjonen som er under vann</documentation>
    </annotation>
    <union memberTypes="nvdb:VannoverdekningEnumerationType nvdb:VannoverdekningOtherType"/>
  </simpleType>
  <simpleType name="VannoverdekningEnumerationType">
    <annotation>
      <documentation>1873: Angir hvor mye av konstruksjonen som er under vann</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3525: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3563: Nei</documentation>
        </annotation>
      </enumeration>
      <enumeration value="delvis">
        <annotation>
          <documentation>3806: Delvis</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VannoverdekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPlastringErosjonssikringType">
    <annotation>
      <documentation>8066: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligPlastringErosjonssikringEnumerationType nvdb:VedlikeholdsansvarligPlastringErosjonssikringOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPlastringErosjonssikringEnumerationType">
    <annotation>
      <documentation>8066: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10460: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18781: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19933: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18910: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10538: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10616: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17716: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPlastringErosjonssikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
