GML/147.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Bergrom" substitutionGroup="nvdb:AbstraktBergrom" type="nvdb:BergromType">
    <annotation>
      <documentation>147: Utsprengt del av tunnel som er avgrenset fra selve tunnelløpet med vegg/dør.</documentation>
    </annotation>
  </element>
  <complexType name="BergromType">
    <complexContent>
      <extension base="nvdb:AbstraktBergromType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeBergromType">
            <annotation>
              <documentation>1279: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10293: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11581: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11087: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierBergromType">
            <annotation>
              <documentation>8002: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligBergromType">
            <annotation>
              <documentation>8067: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4822: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8934: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10964: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BergromPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bergrom"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="BruksområdeBergromType">
    <annotation>
      <documentation>1279: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdeBergromEnumerationType nvdb:BruksområdeBergromOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeBergromEnumerationType">
    <annotation>
      <documentation>1279: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="betjeningsstasjonTunnel">
        <annotation>
          <documentation>4610: Betjeningsstasjon tunnel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kioskTrafoSkap">
        <annotation>
          <documentation>4611: Kiosk/trafo/skap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pumpestasjonBasseng">
        <annotation>
          <documentation>4612: Pumpestasjon/basseng</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lager">
        <annotation>
          <documentation>4613: Lager</documentation>
        </annotation>
      </enumeration>
      <enumeration value="avstengtIkkeIBruk">
        <annotation>
          <documentation>19461: Bergrom har ingen funksjon lenger. Normalt er det avstengt og er ikke i bruk.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeBergromOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierBergromType">
    <annotation>
      <documentation>8002: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierBergromEnumerationType nvdb:EierBergromOtherType"/>
  </simpleType>
  <simpleType name="EierBergromEnumerationType">
    <annotation>
      <documentation>8002: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10268: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18568: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10730: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10332: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10396: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17579: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierBergromOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBergromType">
    <annotation>
      <documentation>8067: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligBergromEnumerationType nvdb:VedlikeholdsansvarligBergromOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBergromEnumerationType">
    <annotation>
      <documentation>8067: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10461: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18784: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19934: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18913: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10539: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10617: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17717: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBergromOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
