GML/153.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierVærstasjonType">
    <annotation>
      <documentation>8003: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierVærstasjonEnumerationType nvdb:EierVærstasjonOtherType"/>
  </simpleType>
  <simpleType name="EierVærstasjonEnumerationType">
    <annotation>
      <documentation>8003: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10269: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18552: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10731: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10333: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10397: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17591: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierVærstasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StatusVærstasjonType">
    <annotation>
      <documentation>11179: Angir hvilken status værstasjon har</documentation>
    </annotation>
    <union memberTypes="nvdb:StatusVærstasjonEnumerationType nvdb:StatusVærstasjonOtherType"/>
  </simpleType>
  <simpleType name="StatusVærstasjonEnumerationType">
    <annotation>
      <documentation>11179: Angir hvilken status værstasjon har</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="operativ">
        <annotation>
          <documentation>18462: Operativ</documentation>
        </annotation>
      </enumeration>
      <enumeration value="midlertidigUteAvDrift">
        <annotation>
          <documentation>18463: Midlertidig ute av drift</documentation>
        </annotation>
      </enumeration>
      <enumeration value="test">
        <annotation>
          <documentation>18464: Test</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nedlagt_KanGjenopprettes">
        <annotation>
          <documentation>18465: Nedlagt, kan gjenopprettes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nedlagt_IkkeLovÅBruke">
        <annotation>
          <documentation>18466: Nedlagt, ikke lov å bruke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nedlagt">
        <annotation>
          <documentation>18467: Nedlagt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StatusVærstasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Værstasjon" substitutionGroup="nvdb:AbstraktVærstasjon" type="nvdb:VærstasjonType">
    <annotation>
      <documentation>153: Målestasjon som har instrument for å måle værdata som temperatur, luftfuktighet, med mer</documentation>
    </annotation>
  </element>
  <complexType name="VærstasjonType">
    <complexContent>
      <extension base="nvdb:AbstraktVærstasjonType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1083: Angir navn på værstasjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="målestasjonsnummer" type="integer">
            <annotation>
              <documentation>3591: Referanse til unikt målestasjonsnummer i NorTraf</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sistOppdatertFraMSR" type="date">
            <annotation>
              <documentation>10940: Angir dato vegobjekttype sist ble oppdatert fra Målestasjonsregisteret.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sistOppdatertINorTraf" type="date">
            <annotation>
              <documentation>9394: Angir hvilken dato informasjonen sist var oppdatert i NorTraf</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="status" type="nvdb:StatusVærstasjonType">
            <annotation>
              <documentation>11179: Angir hvilken status værstasjon har</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10941: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11088: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierVærstasjonType">
            <annotation>
              <documentation>8003: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4824: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VærstasjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Værstasjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
