GML/153.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierVærstasjonType">
    <annotation>
      <documentation>8003: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8003</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8003</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierVærstasjonEnumerationType nvdb:EierVærstasjonOtherType"/>
  </simpleType>
  <simpleType name="EierVærstasjonEnumerationType">
    <annotation>
      <documentation>8003: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8003</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8003</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10269: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10269</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18552: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18552</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10731: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10731</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10333: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10333</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10397: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10397</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17591: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17591</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierVærstasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StatusVærstasjonType">
    <annotation>
      <documentation>11179: Angir hvilken status værstasjon har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11179</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11179</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StatusVærstasjonEnumerationType nvdb:StatusVærstasjonOtherType"/>
  </simpleType>
  <simpleType name="StatusVærstasjonEnumerationType">
    <annotation>
      <documentation>11179: Angir hvilken status værstasjon har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11179</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11179</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Operativ">
        <annotation>
          <documentation>18462: Stasjonen er operativ og registrerer data.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18462</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Operativ</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Midlertidig ute av drift">
        <annotation>
          <documentation>18463: Stasjonen er ute av drift i en periode, datainnsamling vil bli gjenopptatt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18463</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Midlertidig ute av drift</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nedlagt, kan gjenopprettes">
        <annotation>
          <documentation>18465: Stasjonen er nedlagt, men det er ikke utelukket at den kan bli tatt i bruk igjen for datainnsamling i framtiden.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18465</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nedlagt, kan gjenopprettes</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nedlagt, ikke lov å bruke">
        <annotation>
          <documentation>18466: Stasjonen er nedlagt og vil ikke bli brukt for datainnsamling i framtiden.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18466</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nedlagt, ikke lov å bruke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StatusVærstasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Værstasjon" substitutionGroup="nvdb:AbstraktVærstasjon" type="nvdb:VærstasjonType">
    <annotation>
      <documentation>153: Målestasjon som har instrument for å måle værdata som temperatur, luftfuktighet, med mer.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">153</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">153</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Værstasjon</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VærstasjonType">
    <complexContent>
      <extension base="nvdb:AbstraktVærstasjonType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1083: Angir navn på værstasjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1083</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="målestasjonsnummer" type="integer">
            <annotation>
              <documentation>3591: Referanse til unikt målestasjonsnummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3591</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Målestasjonsnummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sistOppdatertFraMSR" type="date">
            <annotation>
              <documentation>10940: Angir dato vegobjekttype sist ble oppdatert fra Målestasjonsregisteret.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10940</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sist oppdatert fra MSR</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sistOppdatertINorTraf" type="date">
            <annotation>
              <documentation>9394: Angir hvilken dato informasjonen sist var oppdatert i NorTraf.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9394</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sist oppdatert i NorTraf</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="status" type="nvdb:StatusVærstasjonType">
            <annotation>
              <documentation>11179: Angir hvilken status værstasjon har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11179</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>12091: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12091</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10941: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10941</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11088: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11088</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12328: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12328</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierVærstasjonType">
            <annotation>
              <documentation>8003: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8003</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4824: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4824</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VærstasjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Værstasjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
