GML/162.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="ATK_Punkt" substitutionGroup="nvdb:AbstraktATK_Punkt" type="nvdb:ATK_PunktType">
    <annotation>
      <documentation>162: Punkt hvor det gjennomføres automatisk trafikkontroll (ATK) på passerende kjøretøy ved hjelp av en fartsmåler og kamera som fotograferer fartsovertredere.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">162</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">162</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">ATK-punkt</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="ATK_PunktType">
    <complexContent>
      <extension base="nvdb:AbstraktATK_PunktType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>9522: Navn på ATK-punkt. Hentes fra ATK-registerert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9522</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="idNummer" type="string">
            <annotation>
              <documentation>3594: Id-nummer fra ATK-registeret.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3594</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Id nummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kontollretning" type="nvdb:KontollretningType">
            <annotation>
              <documentation>9527: Angir hvilken kjøreretning som blir kontrollert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9527</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kontollretning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fartsmåler_Type" type="nvdb:Fartsmåler_TypeType">
            <annotation>
              <documentation>9525: Angir hvilken type fartsmåler det er i tilknytning til ATK-punkt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9525</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fartsmåler, type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kamera_Type" type="string">
            <annotation>
              <documentation>9523: Angir hvilken type kamera det er montert i tlknytning til ATK-punkt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9523</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kamera, type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fartsmåler_Installeringsår" type="integer">
            <annotation>
              <documentation>9526: Angir hvilket år fartsmåler ble installert og satt i drift.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9526</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fartsmåler, installeringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kamera_Installeringsår" type="integer">
            <annotation>
              <documentation>9524: Angir hvilket år kameraet ble installert og satt i drift.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9524</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kamera, installeringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11583: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11583</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11461: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11461</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12329: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12329</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierATK_PunktType">
            <annotation>
              <documentation>9521: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9521</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4828: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4828</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDetektor_Trafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDetektor_Trafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKamera" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKamera</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStreknings_ATK" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStreknings_ATK</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkadeFU_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertATK_Influensstrekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktATK_Influensstrekning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ATK_PunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:ATK_Punkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="EierATK_PunktType">
    <annotation>
      <documentation>9521: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9521</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9521</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierATK_PunktEnumerationType nvdb:EierATK_PunktOtherType"/>
  </simpleType>
  <simpleType name="EierATK_PunktEnumerationType">
    <annotation>
      <documentation>9521: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9521</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9521</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>13448: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13448</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18649: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18649</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17620: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17620</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierATK_PunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Fartsmåler_TypeType">
    <annotation>
      <documentation>9525: Angir hvilken type fartsmåler det er i tilknytning til ATK-punkt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9525</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9525</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fartsmåler, type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Fartsmåler_TypeEnumerationType nvdb:Fartsmåler_TypeOtherType"/>
  </simpleType>
  <simpleType name="Fartsmåler_TypeEnumerationType">
    <annotation>
      <documentation>9525: Angir hvilken type fartsmåler det er i tilknytning til ATK-punkt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9525</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9525</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fartsmåler, type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="DR 410">
        <annotation>
          <documentation>13444: DR 410</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13444</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DR 410</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Axspeed">
        <annotation>
          <documentation>13445: Axspeed</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13445</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Axspeed</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Fartsmåler_TypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KontollretningType">
    <annotation>
      <documentation>9527: Angir hvilken kjøreretning som blir kontrollert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9527</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9527</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kontollretning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KontollretningEnumerationType nvdb:KontollretningOtherType"/>
  </simpleType>
  <simpleType name="KontollretningEnumerationType">
    <annotation>
      <documentation>9527: Angir hvilken kjøreretning som blir kontrollert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9527</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9527</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kontollretning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Med metreringsretning">
        <annotation>
          <documentation>13446: Kontrollerer trafikk som kjører i samme retning som vegens metreringsretning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13446</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Med metreringsretning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mot metreringsretning">
        <annotation>
          <documentation>13447: Kontrollerer trafikk som kjører i motsatt retning av vegens metreringsretning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13447</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mot metreringsretning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KontollretningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
