GML/162.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>162: Punkt hvor det gjennomføres automatisk trafikkontroll (ATK) på passerende kjøretøy ved hjelp av en fartsmåler og kamera som fotograferer fartsovertredere.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="ATK-punkt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:ATK-punktType">
      <annotation>
         <documentation>162: Punkt hvor det gjennomføres automatisk trafikkontroll (ATK) på passerende kjøretøy ved hjelp av en fartsmåler og kamera som fotograferer fartsovertredere.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">162</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">ATK-punkt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="ATK-punktType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>9522: Navn på ATK-punkt. Hentes fra ATK-registeret.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9522</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="idNummer" type="string">
                  <annotation>
                     <documentation>3594: Id-nummer fra ATK-registeret.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3594</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Id nummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kontollretning" type="nvdb:KontollretningATK-punktType">
                  <annotation>
                     <documentation>9527: Angir hvilken kjøreretning som blir kontrollert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9527</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kontollretning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="fartsmåler_Type">
                  <annotation>
                     <documentation>9525: Angir hvilken type fartsmåler det er i tilknytning til ATK-punkt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9525</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fartsmåler, type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kamera_Type" type="string">
                  <annotation>
                     <documentation>9523: Angir hvilken type kamera det er montert i tiknytning til ATK-punkt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9523</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kamera, type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="fartsmåler_Installeringsår" type="integer">
                  <annotation>
                     <documentation>9526: Angir hvilket år fartsmåler ble installert og satt i drift.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9526</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fartsmåler, installeringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kamera_Installeringsår" type="integer">
                  <annotation>
                     <documentation>9524: Angir hvilket år kameraet ble installert og satt i drift.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9524</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kamera, installeringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11583: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11583</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11461: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11461</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12329: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12329</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierATK-punktType">
                  <annotation>
                     <documentation>9521: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9521</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligATK-punktType">
                  <annotation>
                     <documentation>12789: Angir hvem som er ansvarlig for vedlikehold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12789</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4828: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4828</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ATK-punktPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:ATK-punkt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="EierATK-punktType">
      <annotation>
         <documentation>9521: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9521</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierATK-punktEnumerationType nvdb:EierATK-punktOtherType"/>
   </simpleType>
   <simpleType name="EierATK-punktEnumerationType">
      <annotation>
         <documentation>9521: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9521</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13449</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13450</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18649</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13448</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17620: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17620</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierATK-punktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Fartsmåler_TypeATK-punktType">
      <annotation>
         <documentation>9525: Angir hvilken type fartsmåler det er i tilknytning til ATK-punkt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9525</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fartsmåler, type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Fartsmåler_TypeATK-punktEnumerationType nvdb:Fartsmåler_TypeATK-punktOtherType"/>
   </simpleType>
   <simpleType name="Fartsmåler_TypeATK-punktEnumerationType">
      <annotation>
         <documentation>9525: Angir hvilken type fartsmåler det er i tilknytning til ATK-punkt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9525</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fartsmåler, type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ax">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13445</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Axspeed</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="410">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13444</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">DR 410</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Fartsmåler_TypeATK-punktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KontollretningATK-punktType">
      <annotation>
         <documentation>9527: Angir hvilken kjøreretning som blir kontrollert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9527</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kontollretning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KontollretningATK-punktEnumerationType nvdb:KontollretningATK-punktOtherType"/>
   </simpleType>
   <simpleType name="KontollretningATK-punktEnumerationType">
      <annotation>
         <documentation>9527: Angir hvilken kjøreretning som blir kontrollert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9527</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kontollretning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Med">
            <annotation>
               <documentation>13446: Kontrollerer trafikk som kjører i samme retning som vegens metreringsretning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13446</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Med metreringsretning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Mot">
            <annotation>
               <documentation>13447: Kontrollerer trafikk som kjører i motsatt retning av vegens metreringsretning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13447</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mot metreringsretning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KontollretningATK-punktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligATK-punktType">
      <annotation>
         <documentation>12789: Angir hvem som er ansvarlig for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12789</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligATK-punktEnumerationType nvdb:VedlikeholdsansvarligATK-punktOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligATK-punktEnumerationType">
      <annotation>
         <documentation>12789: Angir hvem som er ansvarlig for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12789</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22078</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22080</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22077</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22079</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22076</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligATK-punktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
