GML/162.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="ATK_Punkt" substitutionGroup="nvdb:AbstraktATK_Punkt" type="nvdb:ATK_PunktType">
    <annotation>
      <documentation>162: Punkt hvor det gjennomføres automatisk trafikkontroll (ATK) på passerende kjøretøy ved hjelp av en fartsmåler og kamera som fotograferer fartsovertredere.</documentation>
    </annotation>
  </element>
  <complexType name="ATK_PunktType">
    <complexContent>
      <extension base="nvdb:AbstraktATK_PunktType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>9522: Navn på ATK-punkt. Hentes fra ATK-registerert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="idNummer" type="string">
            <annotation>
              <documentation>3594: Id-nummer fra ATK-registeret</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kontollretning" type="nvdb:KontollretningType">
            <annotation>
              <documentation>9527: Angir hvilken kjøreretning som blir kontrollert.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fartsmåler_Type" type="nvdb:Fartsmåler_TypeType">
            <annotation>
              <documentation>9525: Angir hvilken type fartsmåler det er i tilknytning til ATK-punkt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kamera_Type" type="string">
            <annotation>
              <documentation>9523: Angir hvilken type kamera det er montert i tlknytning til ATK-punkt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fartsmåler_Installeringsår" type="integer">
            <annotation>
              <documentation>9526: Angir hvilket år fartsmåler ble installert og satt i drift.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kamera_Installeringsår" type="integer">
            <annotation>
              <documentation>9524: Angir hvilket år kameraet ble installert og satt i drift.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11583: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11461: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierATK_PunktType">
            <annotation>
              <documentation>9521: Angir hvem som er eier av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4828: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDetektor_Trafikk" type="nvdb:AbstraktDetektor_TrafikkPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKamera" type="nvdb:AbstraktKameraPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertStreknings_ATK" type="nvdb:AbstraktStreknings_ATKPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="nvdb:AbstraktTilstandSkade_PunktPropertyType"/>
          <element minOccurs="0" name="assosiertATK_Influensstrekning" type="nvdb:AbstraktATK_InfluensstrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Punkt" type="nvdb:AbstraktTilstandSkadeFU_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ATK_PunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:ATK_Punkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="EierATK_PunktType">
    <annotation>
      <documentation>9521: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:EierATK_PunktEnumerationType nvdb:EierATK_PunktOtherType"/>
  </simpleType>
  <simpleType name="EierATK_PunktEnumerationType">
    <annotation>
      <documentation>9521: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>13448: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18649: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17620: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierATK_PunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Fartsmåler_TypeType">
    <annotation>
      <documentation>9525: Angir hvilken type fartsmåler det er i tilknytning til ATK-punkt</documentation>
    </annotation>
    <union memberTypes="nvdb:Fartsmåler_TypeEnumerationType nvdb:Fartsmåler_TypeOtherType"/>
  </simpleType>
  <simpleType name="Fartsmåler_TypeEnumerationType">
    <annotation>
      <documentation>9525: Angir hvilken type fartsmåler det er i tilknytning til ATK-punkt</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="DR_410">
        <annotation>
          <documentation>13444: DR 410</documentation>
        </annotation>
      </enumeration>
      <enumeration value="axspeed">
        <annotation>
          <documentation>13445: Axspeed</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Fartsmåler_TypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KontollretningType">
    <annotation>
      <documentation>9527: Angir hvilken kjøreretning som blir kontrollert.</documentation>
    </annotation>
    <union memberTypes="nvdb:KontollretningEnumerationType nvdb:KontollretningOtherType"/>
  </simpleType>
  <simpleType name="KontollretningEnumerationType">
    <annotation>
      <documentation>9527: Angir hvilken kjøreretning som blir kontrollert.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="medMetreringsretning">
        <annotation>
          <documentation>13446: Kontrollerer trafikk som kjører i samme retning som vegens metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="motMetreringsretning">
        <annotation>
          <documentation>13447: Kontrollerer trafikk som kjører i motsatt retning av vegens metreringsretning.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KontollretningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
