GML/163.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeKameraType">
    <annotation>
      <documentation>10971: Angir hva vegobjektet brukes til</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdeKameraEnumerationType nvdb:BruksområdeKameraOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeKameraEnumerationType">
    <annotation>
      <documentation>10971: Angir hva vegobjektet brukes til</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="værFørforhold">
        <annotation>
          <documentation>18310: Vær-/førforhold</documentation>
        </annotation>
      </enumeration>
      <enumeration value="signalanlegg_Trafikkdetektering">
        <annotation>
          <documentation>18311: Signalanlegg, trafikkdetektering</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafikkovervåkning">
        <annotation>
          <documentation>18316: Trafikkovervåkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tunnel_Trafikkdetektering">
        <annotation>
          <documentation>18312: Tunnel, trafikkdetektering</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tunnel_BrannVarme">
        <annotation>
          <documentation>18315: Tunnel, brann/varme</documentation>
        </annotation>
      </enumeration>
      <enumeration value="webkamera">
        <annotation>
          <documentation>18474: Webkamera</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bomstasjon">
        <annotation>
          <documentation>18313: Bomstasjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annetFormål">
        <annotation>
          <documentation>18314: Annet formål</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeKameraOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DigitaltType">
    <annotation>
      <documentation>7015: Angir om kameraet er digitalt eller ikke</documentation>
    </annotation>
    <union memberTypes="nvdb:DigitaltEnumerationType nvdb:DigitaltOtherType"/>
  </simpleType>
  <simpleType name="DigitaltEnumerationType">
    <annotation>
      <documentation>7015: Angir om kameraet er digitalt eller ikke</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>9298: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>9299: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DigitaltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierKameraType">
    <annotation>
      <documentation>8004: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierKameraEnumerationType nvdb:EierKameraOtherType"/>
  </simpleType>
  <simpleType name="EierKameraEnumerationType">
    <annotation>
      <documentation>8004: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10270: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18569: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10732: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10334: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10398: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17581: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierKameraOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Kamera" substitutionGroup="nvdb:AbstraktKamera" type="nvdb:KameraType">
    <annotation>
      <documentation>163: Fastmontert video- eller fotokamera for trafikkovervåkning.</documentation>
    </annotation>
  </element>
  <complexType name="KameraType">
    <complexContent>
      <extension base="nvdb:AbstraktKameraType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeKameraType">
            <annotation>
              <documentation>10971: Angir hva vegobjektet brukes til</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeKameraType">
            <annotation>
              <documentation>1179: Angir hvilken type kamera det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrType">
            <annotation>
              <documentation>3734: Angir hva utstyret er festet på</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="digitalt" type="nvdb:DigitaltType">
            <annotation>
              <documentation>7015: Angir om kameraet er digitalt eller ikke</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="link" type="string">
            <annotation>
              <documentation>8140: Kan her legge inn url eller ip-adresse til kamera.  Benyttes av Visveg for å få fram bilder</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="offentligTilgjengelig" type="nvdb:OffentligTilgjengeligType">
            <annotation>
              <documentation>9336: Angir om det er klarert at bilde/video kan gjøres tilgjengelig utenfor Statesn vegvesen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>4075: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10468: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="SCADA_Merking" type="string">
            <annotation>
              <documentation>11714: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>1536: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>1457: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="leverandør" type="string">
            <annotation>
              <documentation>1497: Angir navn på firma som har levert vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11584: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11666: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11089: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierKameraType">
            <annotation>
              <documentation>8004: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligKameraType">
            <annotation>
              <documentation>8069: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4829: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KameraPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kamera"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="OffentligTilgjengeligType">
    <annotation>
      <documentation>9336: Angir om det er klarert at bilde/video kan gjøres tilgjengelig utenfor Statesn vegvesen</documentation>
    </annotation>
    <union memberTypes="nvdb:OffentligTilgjengeligEnumerationType nvdb:OffentligTilgjengeligOtherType"/>
  </simpleType>
  <simpleType name="OffentligTilgjengeligEnumerationType">
    <annotation>
      <documentation>9336: Angir om det er klarert at bilde/video kan gjøres tilgjengelig utenfor Statesn vegvesen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13058: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13059: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OffentligTilgjengeligOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrType">
    <annotation>
      <documentation>3734: Angir hva utstyret er festet på</documentation>
    </annotation>
    <union memberTypes="nvdb:OppsettingsutstyrEnumerationType nvdb:OppsettingsutstyrOtherType"/>
  </simpleType>
  <simpleType name="OppsettingsutstyrEnumerationType">
    <annotation>
      <documentation>3734: Angir hva utstyret er festet på</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="tunnelportal">
        <annotation>
          <documentation>4738: Tunnelportal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lysmast">
        <annotation>
          <documentation>4737: Lysmast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegg">
        <annotation>
          <documentation>4739: Vegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="egenMastStolpe">
        <annotation>
          <documentation>4736: Egen mast/stolpe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skiltportal">
        <annotation>
          <documentation>16948: Skiltportal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skiltstolpe">
        <annotation>
          <documentation>17366: Skiltstolpe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kabelstige">
        <annotation>
          <documentation>16949: Kabelstige</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bru">
        <annotation>
          <documentation>16950: Bru</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeKameraType">
    <annotation>
      <documentation>1179: Angir hvilken type kamera det er tale om</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeKameraEnumerationType nvdb:TypeKameraOtherType"/>
  </simpleType>
  <simpleType name="TypeKameraEnumerationType">
    <annotation>
      <documentation>1179: Angir hvilken type kamera det er tale om</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="videokamera">
        <annotation>
          <documentation>9296: Videokamera</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fotokamera">
        <annotation>
          <documentation>9297: Fotokamera</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP_Kamera">
        <annotation>
          <documentation>18473: IP-kamera</documentation>
        </annotation>
      </enumeration>
      <enumeration value="termokamera">
        <annotation>
          <documentation>19478: Kamera som benyttes for å avlese temperatur på en overflate</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeKameraOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKameraType">
    <annotation>
      <documentation>8069: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligKameraEnumerationType nvdb:VedlikeholdsansvarligKameraOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKameraEnumerationType">
    <annotation>
      <documentation>8069: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10463: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18793: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19935: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18922: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10541: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10619: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17718: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKameraOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
