GML/164.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierMåleutstyr_SvevestøvType">
    <annotation>
      <documentation>8005: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8005</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8005</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierMåleutstyr_SvevestøvEnumerationType nvdb:EierMåleutstyr_SvevestøvOtherType"/>
  </simpleType>
  <simpleType name="EierMåleutstyr_SvevestøvEnumerationType">
    <annotation>
      <documentation>8005: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8005</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8005</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10271: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10271</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18582: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18582</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10733: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10733</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10335: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10335</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10399: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10399</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17582: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17582</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierMåleutstyr_SvevestøvOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Måleutstyr_Svevestøv" substitutionGroup="nvdb:AbstraktMåleutstyr_Svevestøv" type="nvdb:Måleutstyr_SvevestøvType">
    <annotation>
      <documentation>164: Måleutstyr for å måle svevestøvinnhold i luft.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">164</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">164</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Måleutstyr, svevestøv</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Måleutstyr_SvevestøvType">
    <complexContent>
      <extension base="nvdb:AbstraktMåleutstyr_SvevestøvType">
        <sequence>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10329: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10329</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10472: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10472</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="SCADA_Merking" type="string">
            <annotation>
              <documentation>11715: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11715</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">SCADA-merking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>1537: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1537</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>1458: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1458</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11667: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11667</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11090: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11090</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12331: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12331</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierMåleutstyr_SvevestøvType">
            <annotation>
              <documentation>8005: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8005</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligMåleutstyr_SvevestøvType">
            <annotation>
              <documentation>8070: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8070</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4830: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4830</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Måleutstyr_SvevestøvPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Måleutstyr_Svevestøv"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligMåleutstyr_SvevestøvType">
    <annotation>
      <documentation>8070: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8070</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8070</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligMåleutstyr_SvevestøvEnumerationType nvdb:VedlikeholdsansvarligMåleutstyr_SvevestøvOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligMåleutstyr_SvevestøvEnumerationType">
    <annotation>
      <documentation>8070: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8070</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8070</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10464: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10464</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18759: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18759</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19936: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19936</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18888: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18888</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10542: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10542</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10620: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10620</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17719: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17719</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligMåleutstyr_SvevestøvOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
