GML/167.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.28">
   <annotation>
      <documentation>167: En enhet som gir en impuls til styreapparatet når den blir aktivert av en trafikant</documentation>
   </annotation>
   <include schemaLocation="304.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeDetektor_TrafikkType">
      <annotation>
         <documentation>3513: Angir hva detektoren hovedsaklig brukes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3513</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">3513</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeDetektor_TrafikkEnumerationType nvdb:BruksområdeDetektor_TrafikkOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeDetektor_TrafikkEnumerationType">
      <annotation>
         <documentation>3513: Angir hva detektoren hovedsaklig brukes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3513</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">3513</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Signalregulering motorkjøretøy">
            <annotation>
               <documentation>13703: Signalregulering motorkjøretøy</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13703</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signalregulering motorkjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Signalregulering sykkel">
            <annotation>
               <documentation>13704: Signalregulering sykkel</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13704</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signalregulering sykkel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Signalregulering, fotgjenger">
            <annotation>
               <documentation>18405: Signalregulering, fotgjenger</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18405</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signalregulering, fotgjenger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Trafikkregistrering motorkjøretøy">
            <annotation>
               <documentation>13705: Trafikkregistrering motorkjøretøy</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13705</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkregistrering motorkjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Trafikkregistrering sykkel">
            <annotation>
               <documentation>13706: Trafikkregistrering sykkel</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13706</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkregistrering sykkel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vegbom">
            <annotation>
               <documentation>20907: For å dektektere om det er kjøretøy under en vegbom i forbindelse med automatisk lukking av bommen</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20907</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegbom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Trafikkregistrering, fotgjenger">
            <annotation>
               <documentation>18406: Trafikkregistrering, fotgjenger</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18406</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkregistrering, fotgjenger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ATK">
            <annotation>
               <documentation>16760: Detektor benyttet i forbindelse med ATK</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16760</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">ATK</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeDetektor_TrafikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Detektor_Trafikk"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:Detektor_TrafikkType">
      <annotation>
         <documentation>167: En enhet som gir en impuls til styreapparatet når den blir aktivert av en trafikant</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">167</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">167</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Detektor,trafikk</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Detektor_TrafikkType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeDetektor_TrafikkType">
                  <annotation>
                     <documentation>3513: Angir hva detektoren hovedsaklig brukes til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3513</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeDetektor_TrafikkType">
                  <annotation>
                     <documentation>1183: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1183</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>3876: Angir lengde (i vegens retning).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3876</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde" type="double">
                  <annotation>
                     <documentation>3849: Angir bredde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3849</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10283: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10283</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11092: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11092</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12333: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12333</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierDetektor_TrafikkType">
                  <annotation>
                     <documentation>11970: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11970</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligDetektor_TrafikkType">
                  <annotation>
                     <documentation>12002: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12002</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4833: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4833</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="assosiertSignalanlegg" type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Signalanlegg</targetElement>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Detektor_TrafikkPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Detektor_Trafikk"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="EierDetektor_TrafikkType">
      <annotation>
         <documentation>11970: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11970</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11970</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierDetektor_TrafikkEnumerationType nvdb:EierDetektor_TrafikkOtherType"/>
   </simpleType>
   <simpleType name="EierDetektor_TrafikkEnumerationType">
      <annotation>
         <documentation>11970: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11970</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11970</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Stat, Statens vegvesen">
            <annotation>
               <documentation>20521: Stat, Statens vegvesen</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20521</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stat, Nye Veier">
            <annotation>
               <documentation>20522: Stat, Nye Veier</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20522</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fylkeskommune">
            <annotation>
               <documentation>20523: Fylkeskommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20523</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kommune">
            <annotation>
               <documentation>20524: Kommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20524</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Privat">
            <annotation>
               <documentation>20525: Privat</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20525</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Uavklart">
            <annotation>
               <documentation>20526: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20526</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierDetektor_TrafikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeDetektor_TrafikkType">
      <annotation>
         <documentation>1183: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1183</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1183</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeDetektor_TrafikkEnumerationType nvdb:TypeDetektor_TrafikkOtherType"/>
   </simpleType>
   <simpleType name="TypeDetektor_TrafikkEnumerationType">
      <annotation>
         <documentation>1183: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1183</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1183</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Induktivsløyfe, motorkjøretøy">
            <annotation>
               <documentation>4895: Induktivsløyfe, motorkjøretøy</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4895</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Induktivsløyfe, motorkjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Induktivsløyfe, sykkel">
            <annotation>
               <documentation>4896: Induktivsløyfe, sykkel</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4896</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Induktivsløyfe, sykkel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Piezo-elektrisk kabel">
            <annotation>
               <documentation>4897: Piezo-elektrisk kabel</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4897</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Piezo-elektrisk kabel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Infrarød detektor">
            <annotation>
               <documentation>4898: Infrarød detektor</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4898</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Infrarød detektor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Videodetektor">
            <annotation>
               <documentation>4899: Videodetektor</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4899</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Videodetektor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Video, varmesøkende">
            <annotation>
               <documentation>18407: Video, varmesøkende</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18407</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Video, varmesøkende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Radardetektor">
            <annotation>
               <documentation>4900: Radardetektor</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4900</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Radardetektor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeDetektor_TrafikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligDetektor_TrafikkType">
      <annotation>
         <documentation>12002: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12002</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">12002</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligDetektor_TrafikkEnumerationType nvdb:VedlikeholdsansvarligDetektor_TrafikkOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligDetektor_TrafikkEnumerationType">
      <annotation>
         <documentation>12002: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12002</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">12002</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Statens vegvesen">
            <annotation>
               <documentation>20721: Statens vegvesen</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20721</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nye Veier">
            <annotation>
               <documentation>20722: Nye Veier</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20722</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fylkeskommune">
            <annotation>
               <documentation>20723: Fylkeskommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20723</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <documentation>20724: OPS</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20724</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kommune">
            <annotation>
               <documentation>20725: Kommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20725</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Privat">
            <annotation>
               <documentation>20726: Privat</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20726</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Uavklart">
            <annotation>
               <documentation>20727: Uavklart</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20727</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligDetektor_TrafikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
