GML/172.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelegningTrafikkdelerType">
    <annotation>
      <documentation>2158: Angir hvilken type belegning det er på trafikkdeler</documentation>
    </annotation>
    <union memberTypes="nvdb:BelegningTrafikkdelerEnumerationType nvdb:BelegningTrafikkdelerOtherType"/>
  </simpleType>
  <simpleType name="BelegningTrafikkdelerEnumerationType">
    <annotation>
      <documentation>2158: Angir hvilken type belegning det er på trafikkdeler</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="betong">
        <annotation>
          <documentation>5407: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong_Farget">
        <annotation>
          <documentation>5556: Betong, farget</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong_Mønstret">
        <annotation>
          <documentation>5557: Betong, mønstret</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grøntBeplantning">
        <annotation>
          <documentation>4052: Grønt/beplantning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong_MønstretOgFarget">
        <annotation>
          <documentation>5558: Betong, mønstret og farget</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongheller">
        <annotation>
          <documentation>5559: Betongheller</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>7933: Betongstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="granitt">
        <annotation>
          <documentation>11233: Granitt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skiferheller">
        <annotation>
          <documentation>11232: Skiferheller</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stein">
        <annotation>
          <documentation>4050: Stein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stein_FaststøptIBetong">
        <annotation>
          <documentation>5561: Stein, faststøpt i betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stein_Rundstein">
        <annotation>
          <documentation>5562: Stein, rundstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stein_Brostein">
        <annotation>
          <documentation>5563: Stein, brostein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pukk">
        <annotation>
          <documentation>5564: Pukk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfalt">
        <annotation>
          <documentation>4054: Asfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bark">
        <annotation>
          <documentation>4051: Bark</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelegningTrafikkdelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTrafikkdelerType">
    <annotation>
      <documentation>1281: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdeTrafikkdelerEnumerationType nvdb:BruksområdeTrafikkdelerOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeTrafikkdelerEnumerationType">
    <annotation>
      <documentation>1281: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="midtdeler">
        <annotation>
          <documentation>3215: Midtdeler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafikkdeler_Ved_Lomme">
        <annotation>
          <documentation>3216: Trafikkdeler v lomme</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafikkdelerHovedvegGSveg">
        <annotation>
          <documentation>3217: Trafikkdeler hovedveg g/sveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafikkdelerHovedvegLokalveg">
        <annotation>
          <documentation>3218: Trafikkdeler hovedveg/lokalveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafikkdelerMellomParallelleStrømmer">
        <annotation>
          <documentation>3914: Trafikkdeler mellom parallelle strømmer</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTrafikkdelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MøtefriVegType">
    <annotation>
      <documentation>9499: Angir om trafikkdeler er utformet slik at det kan regnes møtefri veg på strekningen. Med møtefri veg menes at det er rekkverk eller tilsvarende som hindrer kjøretøy å komme over i motgående kjørefelt. Veg med trafikkdeler (midtdeler) over 7 meter regnes s</documentation>
    </annotation>
    <union memberTypes="nvdb:MøtefriVegEnumerationType nvdb:MøtefriVegOtherType"/>
  </simpleType>
  <simpleType name="MøtefriVegEnumerationType">
    <annotation>
      <documentation>9499: Angir om trafikkdeler er utformet slik at det kan regnes møtefri veg på strekningen. Med møtefri veg menes at det er rekkverk eller tilsvarende som hindrer kjøretøy å komme over i motgående kjørefelt. Veg med trafikkdeler (midtdeler) over 7 meter regnes s</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13382: "Ja" hvis trafikkdeler har fysisk hinder som rekkverk, etc, eller er bredere enn 7 meter.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13383: "Nei" hvis det er kun forhøyet med kantstein, adskilt med gjerde etc.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MøtefriVegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkdeler" substitutionGroup="nvdb:AbstraktTrafikkdeler" type="nvdb:TrafikkdelerType">
    <annotation>
      <documentation>172: Fysisk skille mellom trafikkstrømmer (1)</documentation>
    </annotation>
  </element>
  <complexType name="TrafikkdelerType">
    <complexContent>
      <extension base="nvdb:AbstraktTrafikkdelerType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeTrafikkdelerType">
            <annotation>
              <documentation>1281: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="møtefriVeg" type="nvdb:MøtefriVegType">
            <annotation>
              <documentation>9499: Angir om trafikkdeler er utformet slik at det kan regnes møtefri veg på strekningen. Med møtefri veg menes at det er rekkverk eller tilsvarende som hindrer kjøretøy å komme over i motgående kjørefelt. Veg med trafikkdeler (midtdeler) over 7 meter regnes som møtefri selv om det ikke er fysisk hinder.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="belegning" type="nvdb:BelegningTrafikkdelerType">
            <annotation>
              <documentation>2158: Angir hvilken type belegning det er på trafikkdeler</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>2243: Angir standardbredde av trafikkdeleren, det vil si den bredden som er mest representativ.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1336: Angir lengde av vegobjektet, er normalt avledet fra geometri/stedfesting
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10376: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11587: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11093: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTrafikkdelerType">
            <annotation>
              <documentation>8073: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4834: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8879: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkdelerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkdeler"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligTrafikkdelerType">
    <annotation>
      <documentation>8073: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTrafikkdelerEnumerationType nvdb:VedlikeholdsansvarligTrafikkdelerOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkdelerEnumerationType">
    <annotation>
      <documentation>8073: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10467: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18752: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19939: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18881: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10545: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10623: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17722: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkdelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
