GML/174.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="Belegning_TypeType">
    <annotation>
      <documentation>8736: Angir type belegning for gangfeltet.</documentation>
    </annotation>
    <union memberTypes="nvdb:Belegning_TypeEnumerationType nvdb:Belegning_TypeOtherType"/>
  </simpleType>
  <simpleType name="Belegning_TypeEnumerationType">
    <annotation>
      <documentation>8736: Angir type belegning for gangfeltet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stein">
        <annotation>
          <documentation>11566: Belegningsstein f.eks av type granitt , brostein etc</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>11564: Betongstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongheller">
        <annotation>
          <documentation>11563: Betongheller</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skiferheller">
        <annotation>
          <documentation>11565: Skiferheller</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>11559: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfalt">
        <annotation>
          <documentation>11567: Asfalt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Belegning_TypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BelysningGangfeltType">
    <annotation>
      <documentation>1880: Angir om det er belysning i tilknytning til vegobjektet og eventuelt hvilken type belysning det er.</documentation>
    </annotation>
    <union memberTypes="nvdb:BelysningGangfeltEnumerationType nvdb:BelysningGangfeltOtherType"/>
  </simpleType>
  <simpleType name="BelysningGangfeltEnumerationType">
    <annotation>
      <documentation>1880: Angir om det er belysning i tilknytning til vegobjektet og eventuelt hvilken type belysning det er.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3526: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3564: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelysningGangfeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Gangfelt" substitutionGroup="nvdb:AbstraktGangfelt" type="nvdb:GangfeltType">
    <annotation>
      <documentation>174: Oppmerket felt for fotgjengere (1)</documentation>
    </annotation>
  </element>
  <complexType name="GangfeltType">
    <complexContent>
      <extension base="nvdb:AbstraktGangfeltType">
        <sequence>
          <element minOccurs="0" name="stedsangivelse" type="string">
            <annotation>
              <documentation>7904: Stedsnavn hvor forekomst er lokalisert.  Evt plassering i forhold til stedsnavn. Detalplassering i kryssområder</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="markeringAvStriper" type="nvdb:MarkeringAvStriperType">
            <annotation>
              <documentation>8738: Angir hvordan striper er markert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="hevet" type="nvdb:HevetType">
            <annotation>
              <documentation>8739: Angir om gangfeltet er hevet i forhold til vegplanet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skiltet" type="nvdb:SkiltetType">
            <annotation>
              <documentation>2033: Angir om det er skiltet eller ikke i forbindelse med vegobjektet.  Angir om det er skiltet for gangfelt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lysregulert" type="nvdb:LysregulertType">
            <annotation>
              <documentation>2034: Angir om vegobjektet er lysregulert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="belysning" type="nvdb:BelysningGangfeltType">
            <annotation>
              <documentation>1880: Angir om det er belysning i tilknytning til vegobjektet og eventuelt hvilken type belysning det er.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="trafikkøy" type="nvdb:TrafikkøyGangfeltType">
            <annotation>
              <documentation>2035: Angir om det er trafikkøy i tilknytning til vegobjektet.  Angir om det er trafikkøy i gangfeltet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nedsenketKantstein" type="nvdb:NedsenketKantsteinType">
            <annotation>
              <documentation>2128: Angir om det er nedsenket kantstein eller ikke i forbindelse med vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="belegning_Type" type="nvdb:Belegning_TypeType">
            <annotation>
              <documentation>8736: Angir type belegning for gangfeltet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="belegning_Areal" type="integer">
            <annotation>
              <documentation>8737: Angir areal av belegning i forbindelse med gangfelt
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedtaksnummer" type="string">
            <annotation>
              <documentation>2262: Angir vedtaksnummer</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10300: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>4519: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer" type="string">
            <annotation>
              <documentation>9589: Gir referanse til relevant sak i vegeiers arkivsystem</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11094: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="FKB_ID" type="string">
            <annotation>
              <documentation>10862: Refererer til FKB-identitet. Benyttes i forbindelse med felles forvaltning av geometri.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligGangfeltType">
            <annotation>
              <documentation>8074: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4836: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9434: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTaktileIndikatorer" type="nvdb:AbstraktTaktileIndikatorerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertFartsdemper" type="nvdb:AbstraktFartsdemperPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="nvdb:AbstraktTilstandSkade_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegoppmerking_Tverrgående" type="nvdb:AbstraktVegoppmerking_TverrgåendePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Punkt" type="nvdb:AbstraktTilstandSkadeFU_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSystemobjekt" type="nvdb:AbstraktSystemobjektPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GangfeltPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Gangfelt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="HevetType">
    <annotation>
      <documentation>8739: Angir om gangfeltet er hevet i forhold til vegplanet.</documentation>
    </annotation>
    <union memberTypes="nvdb:HevetEnumerationType nvdb:HevetOtherType"/>
  </simpleType>
  <simpleType name="HevetEnumerationType">
    <annotation>
      <documentation>8739: Angir om gangfeltet er hevet i forhold til vegplanet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>11557: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11558: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HevetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LysregulertType">
    <annotation>
      <documentation>2034: Angir om vegobjektet er lysregulert</documentation>
    </annotation>
    <union memberTypes="nvdb:LysregulertEnumerationType nvdb:LysregulertOtherType"/>
  </simpleType>
  <simpleType name="LysregulertEnumerationType">
    <annotation>
      <documentation>2034: Angir om vegobjektet er lysregulert</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3539: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3577: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LysregulertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MarkeringAvStriperType">
    <annotation>
      <documentation>8738: Angir hvordan striper er markert</documentation>
    </annotation>
    <union memberTypes="nvdb:MarkeringAvStriperEnumerationType nvdb:MarkeringAvStriperOtherType"/>
  </simpleType>
  <simpleType name="MarkeringAvStriperEnumerationType">
    <annotation>
      <documentation>8738: Angir hvordan striper er markert</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="malteStriper">
        <annotation>
          <documentation>11555: Malte striper</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vekslendeMaterialtype">
        <annotation>
          <documentation>11556: Striper framkommer av vekslende materialbruk, for eksempel forskjellig type stein med ulik farge.  Ikke benyttet maling.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeStriper">
        <annotation>
          <documentation>11568: Gangfeltet har ikke markerte striper</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MarkeringAvStriperOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NedsenketKantsteinType">
    <annotation>
      <documentation>2128: Angir om det er nedsenket kantstein eller ikke i forbindelse med vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:NedsenketKantsteinEnumerationType nvdb:NedsenketKantsteinOtherType"/>
  </simpleType>
  <simpleType name="NedsenketKantsteinEnumerationType">
    <annotation>
      <documentation>2128: Angir om det er nedsenket kantstein eller ikke i forbindelse med vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3548: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3585: Nei</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeKantstein">
        <annotation>
          <documentation>16028: Ikke kantstein</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NedsenketKantsteinOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkiltetType">
    <annotation>
      <documentation>2033: Angir om det er skiltet eller ikke i forbindelse med vegobjektet.  Angir om det er skiltet for gangfelt</documentation>
    </annotation>
    <union memberTypes="nvdb:SkiltetEnumerationType nvdb:SkiltetOtherType"/>
  </simpleType>
  <simpleType name="SkiltetEnumerationType">
    <annotation>
      <documentation>2033: Angir om det er skiltet eller ikke i forbindelse med vegobjektet.  Angir om det er skiltet for gangfelt</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3538: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3576: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkiltetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TrafikkøyGangfeltType">
    <annotation>
      <documentation>2035: Angir om det er trafikkøy i tilknytning til vegobjektet.  Angir om det er trafikkøy i gangfeltet</documentation>
    </annotation>
    <union memberTypes="nvdb:TrafikkøyGangfeltEnumerationType nvdb:TrafikkøyGangfeltOtherType"/>
  </simpleType>
  <simpleType name="TrafikkøyGangfeltEnumerationType">
    <annotation>
      <documentation>2035: Angir om det er trafikkøy i tilknytning til vegobjektet.  Angir om det er trafikkøy i gangfeltet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3540: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3578: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrafikkøyGangfeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGangfeltType">
    <annotation>
      <documentation>8074: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligGangfeltEnumerationType nvdb:VedlikeholdsansvarligGangfeltOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGangfeltEnumerationType">
    <annotation>
      <documentation>8074: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10468: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18760: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19940: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18889: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10546: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10624: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17723: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGangfeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
