GML/18.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierPlantekasseUrneType">
    <annotation>
      <documentation>5818: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5818</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5818</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierPlantekasseUrneEnumerationType nvdb:EierPlantekasseUrneOtherType"/>
  </simpleType>
  <simpleType name="EierPlantekasseUrneEnumerationType">
    <annotation>
      <documentation>5818: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5818</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5818</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>8213: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8213</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18550: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18550</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10705: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10705</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>8239: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8239</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>8265: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8265</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17602: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17602</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierPlantekasseUrneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypePlantekasseUrneType">
    <annotation>
      <documentation>1399: Angir primær materialtype for vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1399</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1399</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialtypePlantekasseUrneEnumerationType nvdb:MaterialtypePlantekasseUrneOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypePlantekasseUrneEnumerationType">
    <annotation>
      <documentation>1399: Angir primær materialtype for vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1399</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1399</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betong">
        <annotation>
          <documentation>2205: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2205</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metall">
        <annotation>
          <documentation>19235: Metall</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19235</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metall</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast/kompositt">
        <annotation>
          <documentation>2266: Plast/kompositt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2266</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast/kompositt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tre">
        <annotation>
          <documentation>2186: Tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2186</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypePlantekasseUrneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="PlantekasseUrne" substitutionGroup="nvdb:AbstraktPlantekasseUrne" type="nvdb:PlantekasseUrneType">
    <annotation>
      <documentation>18: Kasse, urne, krukke etc. med blomster/busker. Er plassert på terreng, ikke nedgravd.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">18</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">18</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plantekasse/urne</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="PlantekasseUrneType">
    <complexContent>
      <extension base="nvdb:AbstraktPlantekasseUrneType">
        <sequence>
          <element minOccurs="0" name="materialtype" type="nvdb:MaterialtypePlantekasseUrneType">
            <annotation>
              <documentation>1399: Angir primær materialtype for vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1399</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>1579: Angir vegobjektets egenhøyde (inkludert fot).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1579</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeDiameter" type="double">
            <annotation>
              <documentation>6871: Angir hvor bredt vegobjektet er, Benyttes til å angi diameter om det er sirkulær form.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6871</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde/diameter</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1304: Angir lengde av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1304</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterlagring" type="nvdb:VinterlagringPlantekasseUrneType">
            <annotation>
              <documentation>11406: Angir om Plantekasse/urne blir flyttet til annet sted for vinterlagring eller ikke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11406</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vinterlagring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10336: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10336</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>1436: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper. Kan f.eks. være produktnavn/typebetegnelse, kan også ta med typenummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1436</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierPlantekasseUrneType">
            <annotation>
              <documentation>5818: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5818</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligPlantekasseUrneType">
            <annotation>
              <documentation>5805: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5805</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4726: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4726</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGrøntanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGrøntanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PlantekasseUrnePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:PlantekasseUrne"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligPlantekasseUrneType">
    <annotation>
      <documentation>5805: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5805</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5805</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligPlantekasseUrneEnumerationType nvdb:VedlikeholdsansvarligPlantekasseUrneOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPlantekasseUrneEnumerationType">
    <annotation>
      <documentation>5805: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5805</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5805</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>8200: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8200</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18727: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18727</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19914: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19914</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18856: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18856</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>8226: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8226</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>8252: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8252</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17693: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17693</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPlantekasseUrneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VinterlagringPlantekasseUrneType">
    <annotation>
      <documentation>11406: Angir om Plantekasse/urne blir flyttet til annet sted for vinterlagring eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11406</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11406</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vinterlagring</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VinterlagringPlantekasseUrneEnumerationType nvdb:VinterlagringPlantekasseUrneOtherType"/>
  </simpleType>
  <simpleType name="VinterlagringPlantekasseUrneEnumerationType">
    <annotation>
      <documentation>11406: Angir om Plantekasse/urne blir flyttet til annet sted for vinterlagring eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11406</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11406</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vinterlagring</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>19236: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19236</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>19237: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19237</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VinterlagringPlantekasseUrneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
