GML/181.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BardunStreverType">
    <annotation>
      <documentation>4528: Angir om lysmast/lysstolpe har bardun eller strever</documentation>
    </annotation>
    <union memberTypes="nvdb:BardunStreverEnumerationType nvdb:BardunStreverOtherType"/>
  </simpleType>
  <simpleType name="BardunStreverEnumerationType">
    <annotation>
      <documentation>4528: Angir om lysmast/lysstolpe har bardun eller strever</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5408: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11764: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BardunStreverOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BoltavstandFotplateType">
    <annotation>
      <documentation>10017: Avstand mellom boltene på fotplaten</documentation>
    </annotation>
    <union memberTypes="nvdb:BoltavstandFotplateEnumerationType nvdb:BoltavstandFotplateOtherType"/>
  </simpleType>
  <simpleType name="BoltavstandFotplateEnumerationType">
    <annotation>
      <documentation>10017: Avstand mellom boltene på fotplaten</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="CCBolter160Mm">
        <annotation>
          <documentation>16289: c/c bolter 160 mm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CCBolter200Mm">
        <annotation>
          <documentation>16290: c/c bolter 200 mm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CCBolter240Mm">
        <annotation>
          <documentation>16291: c/c bolter 240 mm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeStandardAvstand">
        <annotation>
          <documentation>16292: Ikke standard avstand</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BoltavstandFotplateOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeLysmastType">
    <annotation>
      <documentation>10889: Angir bruksområde for lysmast.</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdeLysmastEnumerationType nvdb:BruksområdeLysmastOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeLysmastEnumerationType">
    <annotation>
      <documentation>10889: Angir bruksområde for lysmast.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="lys">
        <annotation>
          <documentation>18162: Lysmast benyttes til å holde oppe lysarmatur</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kunKabelframføring">
        <annotation>
          <documentation>18163: Lysmast benyttes til kabelframføring, ikke lysarmatur</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeLysmastOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierLysmastType">
    <annotation>
      <documentation>9954: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierLysmastEnumerationType nvdb:EierLysmastOtherType"/>
  </simpleType>
  <simpleType name="EierLysmastEnumerationType">
    <annotation>
      <documentation>9954: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>16154: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18620: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>16155: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>16156: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nettselskap">
        <annotation>
          <documentation>17292: Nettselskap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>16157: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17617: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierLysmastOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EttergivendeMastType">
    <annotation>
      <documentation>1662: Angir om mast  gir etter ved påkjørsel</documentation>
    </annotation>
    <union memberTypes="nvdb:EttergivendeMastEnumerationType nvdb:EttergivendeMastOtherType"/>
  </simpleType>
  <simpleType name="EttergivendeMastEnumerationType">
    <annotation>
      <documentation>1662: Angir om mast  gir etter ved påkjørsel</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja_UkjentType">
        <annotation>
          <documentation>3515: Ja, ukjent type</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ja_Deformasjon_TypeHE">
        <annotation>
          <documentation>16272: Ja, deformasjon, type HE</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ja_Avskjæringsledd_TypeNE">
        <annotation>
          <documentation>16273: Ja, avskjæringsledd, type NE</documentation>
        </annotation>
      </enumeration>
      <enumeration value="jaTremastMedSvekking">
        <annotation>
          <documentation>16274: Ja,tremast med svekking</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3553: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EttergivendeMastOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringType">
    <annotation>
      <documentation>10016: Angir hvilken type fundamentering masten har</documentation>
    </annotation>
    <union memberTypes="nvdb:FundamenteringEnumerationType nvdb:FundamenteringOtherType"/>
  </simpleType>
  <simpleType name="FundamenteringEnumerationType">
    <annotation>
      <documentation>10016: Angir hvilken type fundamentering masten har</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="betongfundament">
        <annotation>
          <documentation>16279: Betongfundament</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plasstøpt">
        <annotation>
          <documentation>16287: Plasstøpt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stålfundament">
        <annotation>
          <documentation>16288: Stålfundament</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fotplate">
        <annotation>
          <documentation>16280: Fotplate</documentation>
        </annotation>
      </enumeration>
      <enumeration value="jordstikk">
        <annotation>
          <documentation>16284: Jordstikk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nedstikk">
        <annotation>
          <documentation>16285: Nedstikk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IPåFjell">
        <annotation>
          <documentation>16281: I/på fjell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IPåFjellfundament">
        <annotation>
          <documentation>16282: I/på fjellfundament</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IPåJordfundament">
        <annotation>
          <documentation>16283: I/på jordfundament</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Lysmast" substitutionGroup="nvdb:AbstraktLysmast" type="nvdb:LysmastType">
    <annotation>
      <documentation>181: Mast i forbindelse med veg/gatebelysning. Normalt har mast påmontert lysarmatur, men kan også være mast uten lysarmatur som benyttes for framføring av kabel.</documentation>
    </annotation>
  </element>
  <complexType name="LysmastType">
    <complexContent>
      <extension base="nvdb:AbstraktLysmastType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeLysmastType">
            <annotation>
              <documentation>1189: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="ettergivendeMast" type="nvdb:EttergivendeMastType">
            <annotation>
              <documentation>1662: Angir om mast  gir etter ved påkjørsel</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fundamentering" type="nvdb:FundamenteringType">
            <annotation>
              <documentation>10016: Angir hvilken type fundamentering masten har</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="boltavstandFotplate" type="nvdb:BoltavstandFotplateType">
            <annotation>
              <documentation>10017: Avstand mellom boltene på fotplaten</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="diameter" type="integer">
            <annotation>
              <documentation>1627: Angir diameter av vegobjektet
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="diameter_Topp" type="integer">
            <annotation>
              <documentation>10586: Angir diameter for topp lysmast
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="totalMastelengde" type="double">
            <annotation>
              <documentation>1338: Angir lengde av mast.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeLysmastType">
            <annotation>
              <documentation>10889: Angir bruksområde for lysmast.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utligger" type="nvdb:UtliggerType"/>
          <element minOccurs="0" name="utliggerarmensLengde" type="double">
            <annotation>
              <documentation>10020: Lengde på rørarmen som er festet på stolpen og som lampearmaturen er festet på.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bardunStrever" type="nvdb:BardunStreverType">
            <annotation>
              <documentation>4528: Angir om lysmast/lysstolpe har bardun eller strever</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="overflatebehandling" type="nvdb:OverflatebehandlingLysmastType">
            <annotation>
              <documentation>10587: Angir overflatebehandling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="RAL_Kode" type="string">
            <annotation>
              <documentation>3886: Angir lakkfargekode for mast.  Bare aktuelt for lakkerte master</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10324: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>3887: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>1541: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>10019: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="leverandør" type="string">
            <annotation>
              <documentation>1502: Angir navn på firma som har levert vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10888: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11671: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11096: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="FKB_ID" type="string">
            <annotation>
              <documentation>10972: Refererer til FKB-identitet. Benyttes i forbindelse med felles forvaltning av geometri.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierLysmastType">
            <annotation>
              <documentation>9954: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>10015: Navn på eier av  vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligLysmastType">
            <annotation>
              <documentation>9956: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4838: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="nvdb:AbstraktTilstandSkade_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSystemobjekt" type="nvdb:AbstraktSystemobjektPropertyType"/>
          <element minOccurs="0" name="assosiertBelysningspunkt" type="nvdb:AbstraktBelysningspunktPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LysmastPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Lysmast"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="OverflatebehandlingLysmastType">
    <annotation>
      <documentation>10587: Angir overflatebehandling</documentation>
    </annotation>
    <union memberTypes="nvdb:OverflatebehandlingLysmastEnumerationType nvdb:OverflatebehandlingLysmastOtherType"/>
  </simpleType>
  <simpleType name="OverflatebehandlingLysmastEnumerationType">
    <annotation>
      <documentation>10587: Angir overflatebehandling</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="galvanisert">
        <annotation>
          <documentation>16974: Galvanisert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="galvanisertOgPulverlakkert">
        <annotation>
          <documentation>16975: Galvanisert og pulverlakkert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="galvanisertOgVåtlakkert">
        <annotation>
          <documentation>16976: Galvanisert og våtlakkert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="eloksertAluminium">
        <annotation>
          <documentation>16977: Eloksert aluminium</documentation>
        </annotation>
      </enumeration>
      <enumeration value="beiset">
        <annotation>
          <documentation>16978: Beiset</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingLysmastOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeLysmastType">
    <annotation>
      <documentation>1189: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeLysmastEnumerationType nvdb:TypeLysmastOtherType"/>
  </simpleType>
  <simpleType name="TypeLysmastEnumerationType">
    <annotation>
      <documentation>1189: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stålmast">
        <annotation>
          <documentation>2225: Stålmast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stålmast_Rett">
        <annotation>
          <documentation>4690: Stålmast, rett</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stålmast_Sylindrisk">
        <annotation>
          <documentation>16302: Stålmast, sylindrisk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stålmast_Konisk">
        <annotation>
          <documentation>4685: Stålmast, konisk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stålmast_6Kantet_Konisk">
        <annotation>
          <documentation>3769: Stålmast, 6-kantet, konisk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stålmast_Teleskop">
        <annotation>
          <documentation>4691: Stålmast, teleskop</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tremast">
        <annotation>
          <documentation>2183: Tremast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tremast_Svekket">
        <annotation>
          <documentation>16300: Tremast, svekket</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gittermast">
        <annotation>
          <documentation>3767: Gittermast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="komposittmast">
        <annotation>
          <documentation>16301: Komposittmast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="alumini_Mm_St">
        <annotation>
          <documentation>16304: Aluminiumsmast</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeLysmastOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtliggerType">
    <union memberTypes="nvdb:UtliggerEnumerationType nvdb:UtliggerOtherType"/>
  </simpleType>
  <simpleType name="UtliggerEnumerationType">
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4692: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4693: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtliggerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysmastType">
    <annotation>
      <documentation>9956: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligLysmastEnumerationType nvdb:VedlikeholdsansvarligLysmastOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysmastEnumerationType">
    <annotation>
      <documentation>9956: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>16161: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18728: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19999: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18857: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>16162: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nettselskap">
        <annotation>
          <documentation>17293: Nettselskap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>16163: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17783: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysmastOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
