GML/183.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierKabelbr_Uten_StigeType">
    <annotation>
      <documentation>8008: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierKabelbr_Uten_StigeEnumerationType nvdb:EierKabelbr_Uten_StigeOtherType"/>
  </simpleType>
  <simpleType name="EierKabelbr_Uten_StigeEnumerationType">
    <annotation>
      <documentation>8008: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10274: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18573: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10736: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10338: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10402: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17585: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierKabelbr_Uten_StigeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Kabelbr_Uten_Stige" substitutionGroup="nvdb:AbstraktKabelbr_Uten_Stige" type="nvdb:Kabelbr_Uten_StigeType">
    <annotation>
      <documentation>183: Anordning for framføring av kabler, f.eks. i tunnel.</documentation>
    </annotation>
  </element>
  <complexType name="Kabelbr_Uten_StigeType">
    <complexContent>
      <extension base="nvdb:AbstraktKabelbr_Uten_StigeType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeKabelbr_Uten_StigeType">
            <annotation>
              <documentation>1191: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="plassering" type="nvdb:PlasseringKabelbr_Uten_StigeType">
            <annotation>
              <documentation>9755: Angir hvor/hvordan kabelbru/stige er plassert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1339: Angir lengde av vegobjektet
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>1697: Angir bredde av vegobjektet
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="materiale" type="nvdb:MaterialeKabelbr_Uten_StigeType">
            <annotation>
              <documentation>9754: Angir type materiale i kum</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produksjonsår" type="integer">
            <annotation>
              <documentation>9751: Angir årstall objektet ble produsert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>4063: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>9753: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>3656: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>9756: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11589: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11672: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11097: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierKabelbr_Uten_StigeType">
            <annotation>
              <documentation>8008: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>9752: Navn på eier av  vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligKabelbr_Uten_StigeType">
            <annotation>
              <documentation>8076: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4839: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrekkerørKanal" type="nvdb:AbstraktTrekkerørKanalPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKabel" type="nvdb:AbstraktKabelPropertyType"/>
          <element minOccurs="0" name="assosiertTunnelløp" type="nvdb:AbstraktTunnelløpPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertTunnelløpUtenTrafikk" type="nvdb:AbstraktTunnelløpUtenTrafikkPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="nvdb:AbstraktTilstandSkade_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Kabelbr_Uten_StigePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kabelbr_Uten_Stige"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaterialeKabelbr_Uten_StigeType">
    <annotation>
      <documentation>9754: Angir type materiale i kum</documentation>
    </annotation>
    <union memberTypes="nvdb:MaterialeKabelbr_Uten_StigeEnumerationType nvdb:MaterialeKabelbr_Uten_StigeOtherType"/>
  </simpleType>
  <simpleType name="MaterialeKabelbr_Uten_StigeEnumerationType">
    <annotation>
      <documentation>9754: Angir type materiale i kum</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stål_Galvanisert">
        <annotation>
          <documentation>14031: Stål, galvanisert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stål_Syrefast">
        <annotation>
          <documentation>14032: Stål, syrefast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="glassfiber">
        <annotation>
          <documentation>14033: Glassfiber</documentation>
        </annotation>
      </enumeration>
      <enumeration value="aluminium">
        <annotation>
          <documentation>14034: Aluminium</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plast">
        <annotation>
          <documentation>15867: Plast</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeKabelbr_Uten_StigeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringKabelbr_Uten_StigeType">
    <annotation>
      <documentation>9755: Angir hvor/hvordan kabelbru/stige er plassert</documentation>
    </annotation>
    <union memberTypes="nvdb:PlasseringKabelbr_Uten_StigeEnumerationType nvdb:PlasseringKabelbr_Uten_StigeOtherType"/>
  </simpleType>
  <simpleType name="PlasseringKabelbr_Uten_StigeEnumerationType">
    <annotation>
      <documentation>9755: Angir hvor/hvordan kabelbru/stige er plassert</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="iDatahimling">
        <annotation>
          <documentation>14035: I datahimling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="iTak">
        <annotation>
          <documentation>14036: I tak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="påVegg">
        <annotation>
          <documentation>14037: På vegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="underDatagulv">
        <annotation>
          <documentation>14038: Under datagulv</documentation>
        </annotation>
      </enumeration>
      <enumeration value="påGulv">
        <annotation>
          <documentation>16001: På gulv innendørs, i tunnelrom e.l.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="påBakken">
        <annotation>
          <documentation>16002: På veg, gate, fortau, terreng osv.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringKabelbr_Uten_StigeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeKabelbr_Uten_StigeType">
    <annotation>
      <documentation>1191: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeKabelbr_Uten_StigeEnumerationType nvdb:TypeKabelbr_Uten_StigeOtherType"/>
  </simpleType>
  <simpleType name="TypeKabelbr_Uten_StigeEnumerationType">
    <annotation>
      <documentation>1191: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="bru">
        <annotation>
          <documentation>14029: Bru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stige">
        <annotation>
          <documentation>13035: Stige</documentation>
        </annotation>
      </enumeration>
      <enumeration value="renne">
        <annotation>
          <documentation>14030: Renne</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bærewire">
        <annotation>
          <documentation>20094: Wire for oppheng av kabel</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeKabelbr_Uten_StigeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKabelbr_Uten_StigeType">
    <annotation>
      <documentation>8076: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligKabelbr_Uten_StigeEnumerationType nvdb:VedlikeholdsansvarligKabelbr_Uten_StigeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKabelbr_Uten_StigeEnumerationType">
    <annotation>
      <documentation>8076: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10470: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18768: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19942: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18897: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10548: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10626: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17725: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKabelbr_Uten_StigeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
