GML/183.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierKabelbr_Uten_StigeType">
    <annotation>
      <documentation>8008: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8008</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8008</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierKabelbr_Uten_StigeEnumerationType nvdb:EierKabelbr_Uten_StigeOtherType"/>
  </simpleType>
  <simpleType name="EierKabelbr_Uten_StigeEnumerationType">
    <annotation>
      <documentation>8008: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8008</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8008</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10274: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10274</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18573: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18573</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10736: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10736</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10338: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10338</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10402: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10402</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17585: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17585</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierKabelbr_Uten_StigeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Kabelbr_Uten_Stige" substitutionGroup="nvdb:AbstraktKabelbr_Uten_Stige" type="nvdb:Kabelbr_Uten_StigeType">
    <annotation>
      <documentation>183: Anordning for framføring av kabler, f.eks. i tunnel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">183</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">183</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kabelbru/stige</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Kabelbr_Uten_StigeType">
    <complexContent>
      <extension base="nvdb:AbstraktKabelbr_Uten_StigeType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeKabelbr_Uten_StigeType">
            <annotation>
              <documentation>1191: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1191</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="plassering" type="nvdb:PlasseringKabelbr_Uten_StigeType">
            <annotation>
              <documentation>9755: Angir hvor/hvordan kabelbru/stige er plassert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9755</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1339: Angir lengde av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1339</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>1697: Angir bredde av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1697</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materiale" type="nvdb:MaterialeKabelbr_Uten_StigeType">
            <annotation>
              <documentation>9754: Angir type materiale.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9754</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produksjonsår" type="integer">
            <annotation>
              <documentation>9751: Angir årstall objektet ble produsert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9751</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produksjonsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>4063: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4063</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>9753: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9753</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>3656: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3656</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>9756: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9756</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11589: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11589</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11672: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11672</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11097: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11097</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12338: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12338</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierKabelbr_Uten_StigeType">
            <annotation>
              <documentation>8008: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8008</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>9752: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9752</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligKabelbr_Uten_StigeType">
            <annotation>
              <documentation>8076: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8076</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4839: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4839</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKabel" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKabel</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Strekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrekkerørKanal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrekkerørKanal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløpUtenTrafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløpUtenTrafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Kabelbr_Uten_StigePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kabelbr_Uten_Stige"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaterialeKabelbr_Uten_StigeType">
    <annotation>
      <documentation>9754: Angir type materiale.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9754</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9754</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeKabelbr_Uten_StigeEnumerationType nvdb:MaterialeKabelbr_Uten_StigeOtherType"/>
  </simpleType>
  <simpleType name="MaterialeKabelbr_Uten_StigeEnumerationType">
    <annotation>
      <documentation>9754: Angir type materiale.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9754</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9754</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stål, galvanisert">
        <annotation>
          <documentation>14031: Stål, galvanisert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14031</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål, galvanisert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stål, syrefast">
        <annotation>
          <documentation>14032: Stål, syrefast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14032</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål, syrefast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glassfiber">
        <annotation>
          <documentation>14033: Glassfiber</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14033</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glassfiber</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Aluminium">
        <annotation>
          <documentation>14034: Aluminium</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14034</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>15867: Plast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15867</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeKabelbr_Uten_StigeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringKabelbr_Uten_StigeType">
    <annotation>
      <documentation>9755: Angir hvor/hvordan kabelbru/stige er plassert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9755</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9755</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringKabelbr_Uten_StigeEnumerationType nvdb:PlasseringKabelbr_Uten_StigeOtherType"/>
  </simpleType>
  <simpleType name="PlasseringKabelbr_Uten_StigeEnumerationType">
    <annotation>
      <documentation>9755: Angir hvor/hvordan kabelbru/stige er plassert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9755</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9755</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="I datahimling">
        <annotation>
          <documentation>14035: I datahimling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14035</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I datahimling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I tak">
        <annotation>
          <documentation>14036: I tak</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14036</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I tak</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="På vegg">
        <annotation>
          <documentation>14037: På vegg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14037</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">På vegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Under datagulv">
        <annotation>
          <documentation>14038: Under datagulv</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14038</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Under datagulv</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="På gulv">
        <annotation>
          <documentation>16001: På gulv innendørs, i tunnelrom e.l.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16001</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">På gulv</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="På bakken">
        <annotation>
          <documentation>16002: På veg, gate, fortau, terreng osv.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16002</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">På bakken</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringKabelbr_Uten_StigeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeKabelbr_Uten_StigeType">
    <annotation>
      <documentation>1191: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1191</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1191</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeKabelbr_Uten_StigeEnumerationType nvdb:TypeKabelbr_Uten_StigeOtherType"/>
  </simpleType>
  <simpleType name="TypeKabelbr_Uten_StigeEnumerationType">
    <annotation>
      <documentation>1191: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1191</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1191</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Bru">
        <annotation>
          <documentation>14029: Bru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14029</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stige">
        <annotation>
          <documentation>13035: Stige</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13035</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stige</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Renne">
        <annotation>
          <documentation>14030: Renne</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14030</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Renne</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bærewire">
        <annotation>
          <documentation>20094: Wire for oppheng av kabel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20094</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bærewire</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeKabelbr_Uten_StigeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKabelbr_Uten_StigeType">
    <annotation>
      <documentation>8076: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8076</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8076</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligKabelbr_Uten_StigeEnumerationType nvdb:VedlikeholdsansvarligKabelbr_Uten_StigeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKabelbr_Uten_StigeEnumerationType">
    <annotation>
      <documentation>8076: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8076</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8076</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10470: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10470</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18768: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18768</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19942: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19942</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18897: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18897</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10548: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10548</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10626: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10626</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17725: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17725</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKabelbr_Uten_StigeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
