GML/19.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierKunstUtsmykkingType">
    <annotation>
      <documentation>5814: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierKunstUtsmykkingEnumerationType nvdb:EierKunstUtsmykkingOtherType"/>
  </simpleType>
  <simpleType name="EierKunstUtsmykkingEnumerationType">
    <annotation>
      <documentation>5814: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>8209: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18591: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10701: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>8235: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>8261: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17599: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierKunstUtsmykkingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="KunstUtsmykking" substitutionGroup="nvdb:AbstraktKunstUtsmykking" type="nvdb:KunstUtsmykkingType">
    <annotation>
      <documentation>19: Kunst/utsmykking i forbindelse med et veganlegg.  Kan være skulpturer, relieff mm</documentation>
    </annotation>
  </element>
  <complexType name="KunstUtsmykkingType">
    <complexContent>
      <extension base="nvdb:AbstraktKunstUtsmykkingType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeKunstUtsmykkingType">
            <annotation>
              <documentation>1101: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tittel" type="string">
            <annotation>
              <documentation>1733: Angir tittel på kunst/utsmykking</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="navnPåKunstner" type="string">
            <annotation>
              <documentation>1734: Angir navn på kunstner.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10320: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10833: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11037: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierKunstUtsmykkingType">
            <annotation>
              <documentation>5814: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligKunstUtsmykkingType">
            <annotation>
              <documentation>5800: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4727: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KunstUtsmykkingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:KunstUtsmykking"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeKunstUtsmykkingType">
    <annotation>
      <documentation>1101: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeKunstUtsmykkingEnumerationType nvdb:TypeKunstUtsmykkingOtherType"/>
  </simpleType>
  <simpleType name="TypeKunstUtsmykkingEnumerationType">
    <annotation>
      <documentation>1101: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="skulptur">
        <annotation>
          <documentation>2489: Skulptur</documentation>
        </annotation>
      </enumeration>
      <enumeration value="veggbilde">
        <annotation>
          <documentation>2490: Veggbilde</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mosaikk">
        <annotation>
          <documentation>2491: Mosaikk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="byggverk">
        <annotation>
          <documentation>16795: Spesielle byggverk f.eks utsiktstårn i tilknytning til rasteplasser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annenType">
        <annotation>
          <documentation>17856: Kunstverket passer ikke inn i noen av de øvrige typene. Gi beskrivelse i feltet "Tilleggsinformajson"</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeKunstUtsmykkingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKunstUtsmykkingType">
    <annotation>
      <documentation>5800: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligKunstUtsmykkingEnumerationType nvdb:VedlikeholdsansvarligKunstUtsmykkingOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKunstUtsmykkingEnumerationType">
    <annotation>
      <documentation>5800: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>8195: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18735: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19909: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18864: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>8221: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>8247: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17688: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKunstUtsmykkingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
