GML/199.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierTrærType">
    <annotation>
      <documentation>8009: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierTrærEnumerationType nvdb:EierTrærOtherType"/>
  </simpleType>
  <simpleType name="EierTrærEnumerationType">
    <annotation>
      <documentation>8009: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10275: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18574: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10737: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10339: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10403: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17586: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTrærOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KravOmYtterligereOppfølgingType">
    <annotation>
      <documentation>10799: Gjelder trær som trenger å sjekkes oftere pga alder, tilstand eller fordi det står plassert i et stressende voksemiljø som f.eks. trær med for lite jordvolum, eller som står nær veien der det i tillegg er utsatt for grøfting. Hvis ja, beskriv type oppfølg</documentation>
    </annotation>
    <union memberTypes="nvdb:KravOmYtterligereOppfølgingEnumerationType nvdb:KravOmYtterligereOppfølgingOtherType"/>
  </simpleType>
  <simpleType name="KravOmYtterligereOppfølgingEnumerationType">
    <annotation>
      <documentation>10799: Gjelder trær som trenger å sjekkes oftere pga alder, tilstand eller fordi det står plassert i et stressende voksemiljø som f.eks. trær med for lite jordvolum, eller som står nær veien der det i tillegg er utsatt for grøfting. Hvis ja, beskriv type oppfølg</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>17552: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>17553: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KravOmYtterligereOppfølgingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KroneOgStammestrukturType">
    <annotation>
      <documentation>10798: Vurdering hvorvidt kronens struktur er robust og som ligger til grunn for hva slags type oppfølging som kan være aktuelt. 1 er best og 3 er dårligst. Kategori 3 krever snarlig oppfølging og tiltak. For kategori 2 må videre oppfølging og tiltak vurderes. D</documentation>
    </annotation>
    <union memberTypes="nvdb:KroneOgStammestrukturEnumerationType nvdb:KroneOgStammestrukturOtherType"/>
  </simpleType>
  <simpleType name="KroneOgStammestrukturEnumerationType">
    <annotation>
      <documentation>10798: Vurdering hvorvidt kronens struktur er robust og som ligger til grunn for hva slags type oppfølging som kan være aktuelt. 1 er best og 3 er dårligst. Kategori 3 krever snarlig oppfølging og tiltak. For kategori 2 må videre oppfølging og tiltak vurderes. D</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1_God">
        <annotation>
          <documentation>17549: Treet har én gjennomgående stamme. God stammeavsmaling (koning). Forholdet høyde/ Stammediameter (H/D) = 30-40 (stammediameter måles 1 meter over basis). Hovedstammen er rett. Diameter hovedgreiner &lt; 2/3 av stammediameter (stammediameteren måles like over barkåsen). Vinkelen mellom stammen og hovedgreinene skal være &gt; 25°. Tyngdepunktet i krona skal være balansert slik at den statiske vertikale vaktbelastningen føres ned gjennom stammen. Passe avstand mellom greinene. Dette gjelder både i vertikal og lateral retning. Avstanden mellom greinene skal være stor nok til at det ikke oppstår mekanisk kontakt. Avstanden mellom selve greinfestene må være god nok til at hvert greinfeste får utvikle seg fritt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2_Middels">
        <annotation>
          <documentation>17550: Treet kan ha 2, eller flere stammer, men sammenføyningen i kløften mellom stammene må være åpen og «U-formet». Treet kan ha sterktvoksende «stillasgreiner» med diameter tilnærmet lik stammediameteren. God stammeavsmaling (koning). Forholdet høyde/ Stammediameter (H/D) = = 50 (stammediameter måles 1 meter over basis). Greinvinkler &gt; 25°. Krona og/ eller enkeltgreiner kan ha moderat overtyngde med et tyngdepunkt som ligger til siden for stammen. Stammen kan helle moderat, men viser tegn til å korrigere ubalansen ved at veksten i den øvre delen av treet orienterer seg i motsatt retning av den retningen stammen heller. Stammen(e) kan være moderat krokete. Tilnærmet passe avstand mellom greinene. Dette gjelder både i vertikal og lateral retning. Avstanden mellom greinene skal være stor nok til at det ikke oppstår mekanisk kontakt. Avstanden mellom selve greinfestene må være god nok til at hvert greinfeste får utvikle seg fritt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3_Dårlig">
        <annotation>
          <documentation>17551: Treet har 2, eller flere stammer. Stammekløftene er vanligvis trange med en spiss karakteristisk «V-formet» vinkel &lt; 25°. Treet heller og har betydelig overtyngde uten tydelige tegn til korrigerende vekst. Treet har en, eller flere enkeltgreiner med betydelig overtyngde. Treet har en, eller flere sterktvoksende "stillasgreiner" med trange greinfester der vinkelen mellom stamme og grein er &lt; 25° med diameter større enn 50 % av stammediameteren målt like over barkåsen. Stammen er betydelig kroket.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KroneOgStammestrukturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LøvfellendeVintergrønneTrærType">
    <annotation>
      <documentation>4160: Angir om trær tilhører kategori løvfellende eller vintergrønne</documentation>
    </annotation>
    <union memberTypes="nvdb:LøvfellendeVintergrønneTrærEnumerationType nvdb:LøvfellendeVintergrønneTrærOtherType"/>
  </simpleType>
  <simpleType name="LøvfellendeVintergrønneTrærEnumerationType">
    <annotation>
      <documentation>4160: Angir om trær tilhører kategori løvfellende eller vintergrønne</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="løvfellende">
        <annotation>
          <documentation>5119: Løvfellende trær har flate og tynne blader og hører til den botaniske underavdelingen Magnoliophýtina (dekkfrøete planter)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vintergrønne">
        <annotation>
          <documentation>5120: Vintergrønne trær har lange og smale blader og hører til den botaniske underavdelingen Coniferophýtina (nakenfrøete planter)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LøvfellendeVintergrønneTrærOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NaturlikeVerdifulleTrærType">
    <annotation>
      <documentation>10671: Angis for naturlike trær som skal tas spesielt hensyn til. Naturlike trær som er hule grove inngår her under biologisk verdi. Kontroll og skjøtsel utdypes under "Tilleggsinformasjon". Hvis treet kan ha flere verdier velges den verdien som er mest fremtred</documentation>
    </annotation>
    <union memberTypes="nvdb:NaturlikeVerdifulleTrærEnumerationType nvdb:NaturlikeVerdifulleTrærOtherType"/>
  </simpleType>
  <simpleType name="NaturlikeVerdifulleTrærEnumerationType">
    <annotation>
      <documentation>10671: Angis for naturlike trær som skal tas spesielt hensyn til. Naturlike trær som er hule grove inngår her under biologisk verdi. Kontroll og skjøtsel utdypes under "Tilleggsinformasjon". Hvis treet kan ha flere verdier velges den verdien som er mest fremtred</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="estetisk">
        <annotation>
          <documentation>17228: Treet er vakkert og står som et viktig landskapselement, gjerne landemerke. Treet er ofte solitært, men kan også være en del av alle eller trerekke.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="biologisk">
        <annotation>
          <documentation>17229: Treet har hulrom og tørr vedmold, minst noen partier med dødved. Grove hule eiker (jf.forskriften) og ask inngår her.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kulturhistorisk">
        <annotation>
          <documentation>17230: Treet står i tilknytning til en gård eller historisk anlegg. Kan være registrert som kulturminne. Ofte solitære, m en kan også inngå i trerekke.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NaturlikeVerdifulleTrærOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppbindingType">
    <annotation>
      <documentation>11422: Angir om det er noen form for oppbinding av treet/stammen.  Oppbinding består vanligvis av  trestolper og et bånd der båndet går rundt treet og er fest i stolpene.</documentation>
    </annotation>
    <union memberTypes="nvdb:OppbindingEnumerationType nvdb:OppbindingOtherType"/>
  </simpleType>
  <simpleType name="OppbindingEnumerationType">
    <annotation>
      <documentation>11422: Angir om det er noen form for oppbinding av treet/stammen.  Oppbinding består vanligvis av  trestolper og et bånd der båndet går rundt treet og er fest i stolpene.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>19278: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>19279: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppbindingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpesielleRestriksjonerType">
    <annotation>
      <documentation>9986: Angir om det er knyttet spesielle restriksjoner til tre/trær.</documentation>
    </annotation>
    <union memberTypes="nvdb:SpesielleRestriksjonerEnumerationType nvdb:SpesielleRestriksjonerOtherType"/>
  </simpleType>
  <simpleType name="SpesielleRestriksjonerEnumerationType">
    <annotation>
      <documentation>9986: Angir om det er knyttet spesielle restriksjoner til tre/trær.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16207: Det er knyttet spesielle restriksjoner til tre/trær</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeAvgjort">
        <annotation>
          <documentation>16208: Tre/Trær er under vurdering, men ikke endelig avklart</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16209: Det er ikke knyttet spesielle restriksjoner til tre/trær</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpesielleRestriksjonerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TrebeskytterType">
    <annotation>
      <documentation>11416: Angir om det er satt opp trebeskytter for å beskytte treet/stammen mot påkjørsel, klatring, hærverk etc..</documentation>
    </annotation>
    <union memberTypes="nvdb:TrebeskytterEnumerationType nvdb:TrebeskytterOtherType"/>
  </simpleType>
  <simpleType name="TrebeskytterEnumerationType">
    <annotation>
      <documentation>11416: Angir om det er satt opp trebeskytter for å beskytte treet/stammen mot påkjørsel, klatring, hærverk etc..</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>19258: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>19259: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrebeskytterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TregruberistType">
    <annotation>
      <documentation>11415: Angir om det er tregruberist, dvs beskyttelse på bakkenivå over røtter inn mot stamme.</documentation>
    </annotation>
    <union memberTypes="nvdb:TregruberistEnumerationType nvdb:TregruberistOtherType"/>
  </simpleType>
  <simpleType name="TregruberistEnumerationType">
    <annotation>
      <documentation>11415: Angir om det er tregruberist, dvs beskyttelse på bakkenivå over røtter inn mot stamme.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="støpejern">
        <annotation>
          <documentation>19254: Støpejern</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>19255: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="smågatestein">
        <annotation>
          <documentation>19256: Smågatestein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="granittblokk">
        <annotation>
          <documentation>19277: Granittblokk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ingen">
        <annotation>
          <documentation>19257: Ingen</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TregruberistOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trær" substitutionGroup="nvdb:AbstraktTrær" type="nvdb:TrærType">
    <annotation>
      <documentation>199: Trær er flerårige vedaktige planter som har definert stamme og krone.</documentation>
    </annotation>
  </element>
  <complexType name="TrærType">
    <complexContent>
      <extension base="nvdb:AbstraktTrærType">
        <sequence>
          <element minOccurs="0" name="typeGruppering" type="nvdb:TypeGrupperingType">
            <annotation>
              <documentation>4134: Angir om det er frittstående tre eller om treet inngår i ei gruppe med trær.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="løvfellendeVintergrønne" type="nvdb:LøvfellendeVintergrønneTrærType">
            <annotation>
              <documentation>4160: Angir om trær tilhører kategori løvfellende eller vintergrønne</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="typeForm" type="nvdb:TypeFormType">
            <annotation>
              <documentation>9985: Angir at treet/trærne er formet etter beskjæring  og hvilken type form det er gitt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antall" type="integer">
            <annotation>
              <documentation>4142: Angir hvor mange forekomster som er representert
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="avstand_Innbyrdes" type="integer">
            <annotation>
              <documentation>4495: Angir innbyrdes avstand mellom trærne
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>1377: Angir arealet av vegobjektet
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="treslag_NorskNavn" type="string">
            <annotation>
              <documentation>4161: Angir norsk navn på treslag.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="naturlikeVerdifulleTrær" type="nvdb:NaturlikeVerdifulleTrærType">
            <annotation>
              <documentation>10671: Angis for naturlike trær som skal tas spesielt hensyn til. Naturlike trær som er hule grove inngår her under biologisk verdi. Kontroll og skjøtsel utdypes under "Tilleggsinformasjon". Hvis treet kan ha flere verdier velges den verdien som er mest fremtredende for treet.»</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="treslag_BotaniskNavn" type="string">
            <annotation>
              <documentation>4494: Angir botanisk navn på treslag</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sortHerkomst" type="string">
            <annotation>
              <documentation>7552: Sort er en varietet av en plante som er oppformert med bestemte egenskaper til bruk i hage, park eller landbruk. Formeres vegetativt. Herkomst angir plantenes geografiske eller genetiske opprinnelse.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utplantingsår" type="integer">
            <annotation>
              <documentation>7553: Angir hvilket årstall trær ble plantet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utplantingsmåned" type="integer">
            <annotation>
              <documentation>11270: Angir hvilken måned treet ble plantet.  1= Januar...12=Desember</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>9984: Angir dato da Stammediameter,  Høyde, Kronediameter og Vekstfase sist ble registrert.  Datoformat: ååååmmdd</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utviklingsfase" type="nvdb:UtviklingsfaseType">
            <annotation>
              <documentation>9988: Angir treets utviklingsstadie og dermed hvilken type skjøtsel som kreves.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>1902: Angir egenhøyde.  Dersom forekomsten representerer mer enn ett tre regnes det gjennomsnittlig høyde av alle trærne.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stammediameter" type="integer">
            <annotation>
              <documentation>1731: Angir stammediameter. Stammediameter skal måles 1 meter over bakken. Dersom forekomsten representerer mer enn ett tre regnes det gjennomsnittlig stammediameter.
Enhet: Centimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kronediameter" type="double">
            <annotation>
              <documentation>7551: Angir gjennomsnittlig kronediameter for angitte trær.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kroneOgStammestruktur" type="nvdb:KroneOgStammestrukturType">
            <annotation>
              <documentation>10798: Vurdering hvorvidt kronens struktur er robust og som ligger til grunn for hva slags type oppfølging som kan være aktuelt. 1 er best og 3 er dårligst. Kategori 3 krever snarlig oppfølging og tiltak. For kategori 2 må videre oppfølging og tiltak vurderes. Denne type kartlegging krever at personen som utfører registreringen har tilstrekkelig kunnskapsgrunnlag.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kravOmYtterligereOppfølging" type="nvdb:KravOmYtterligereOppfølgingType">
            <annotation>
              <documentation>10799: Gjelder trær som trenger å sjekkes oftere pga alder, tilstand eller fordi det står plassert i et stressende voksemiljø som f.eks. trær med for lite jordvolum, eller som står nær veien der det i tillegg er utsatt for grøfting. Hvis ja, beskriv type oppfølging i tilleggsinformasjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spesielleRestriksjoner" type="nvdb:SpesielleRestriksjonerType">
            <annotation>
              <documentation>9986: Angir om det er knyttet spesielle restriksjoner til tre/trær.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sluttdatoForGarantitid" type="date">
            <annotation>
              <documentation>10562: Angir sluttdato for garantitid</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="trebeskytter" type="nvdb:TrebeskytterType">
            <annotation>
              <documentation>11416: Angir om det er satt opp trebeskytter for å beskytte treet/stammen mot påkjørsel, klatring, hærverk etc..</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="oppbinding" type="nvdb:OppbindingType">
            <annotation>
              <documentation>11422: Angir om det er noen form for oppbinding av treet/stammen.  Oppbinding består vanligvis av  trestolper og et bånd der båndet går rundt treet og er fest i stolpene.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tregruberist" type="nvdb:TregruberistType">
            <annotation>
              <documentation>11415: Angir om det er tregruberist, dvs beskyttelse på bakkenivå over røtter inn mot stamme.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>7554: Utfyllende informasjon om tilstand, ved spesielle restriksjoner, eller annen info som har verdi for skjøtsel /hensyn oppgis her</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11098: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierTrærType">
            <annotation>
              <documentation>8009: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTrærType">
            <annotation>
              <documentation>9135: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5896: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4840: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>5903: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrærPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trær"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeFormType">
    <annotation>
      <documentation>9985: Angir at treet/trærne er formet etter beskjæring  og hvilken type form det er gitt.</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeFormEnumerationType nvdb:TypeFormOtherType"/>
  </simpleType>
  <simpleType name="TypeFormEnumerationType">
    <annotation>
      <documentation>9985: Angir at treet/trærne er formet etter beskjæring  og hvilken type form det er gitt.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="knutekollet">
        <annotation>
          <documentation>16205: Greinene blir kuttet tilbake årlig til hvert annet år til samme punkt inntil de store knutene som vi kan se på trærne når de står uten løv</documentation>
        </annotation>
      </enumeration>
      <enumeration value="formklippet">
        <annotation>
          <documentation>16206: Greiner skjæres for å gi kronen ønsket form, f.eks. kuleformet eller kjegleformet.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFormOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeGrupperingType">
    <annotation>
      <documentation>4134: Angir om det er frittstående tre eller om treet inngår i ei gruppe med trær.</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeGrupperingEnumerationType nvdb:TypeGrupperingOtherType"/>
  </simpleType>
  <simpleType name="TypeGrupperingEnumerationType">
    <annotation>
      <documentation>4134: Angir om det er frittstående tre eller om treet inngår i ei gruppe med trær.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="frittståendeTre">
        <annotation>
          <documentation>5118: Enkeltstående/ solitære trær.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tregruppe">
        <annotation>
          <documentation>5115: Tre inngår i en tregruppe. Tregruppe består av minst 3 trær som står med relativ nærhet til hverandre. Gruppen skal ikke være særlig bredere enn høyden på trærne.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="all">
        <annotation>
          <documentation>5117: Tre inngår i en allé. Allé er regelmessige rekker av trær på hver sin side av en veg, gate eller gangsti.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trerekke">
        <annotation>
          <documentation>16216: Tre inngår i en trerekke. Trerekke består av minst 3 trær som står på linje med relativ nærhet.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeGrupperingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtviklingsfaseType">
    <annotation>
      <documentation>9988: Angir treets utviklingsstadie og dermed hvilken type skjøtsel som kreves.</documentation>
    </annotation>
    <union memberTypes="nvdb:UtviklingsfaseEnumerationType nvdb:UtviklingsfaseOtherType"/>
  </simpleType>
  <simpleType name="UtviklingsfaseEnumerationType">
    <annotation>
      <documentation>9988: Angir treets utviklingsstadie og dermed hvilken type skjøtsel som kreves.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="etableringsfase">
        <annotation>
          <documentation>16212: Etableringsfasen starter rett etter treet er plantet og varer vanligvis frem til treet er i tilnærmet normal vekst igjen. Normalt 3-5 år.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vekstfase">
        <annotation>
          <documentation>16213: Vekstfasen karakteriseres av markant strekningsvekst med typisk en opprett vekst og relativ smal kroneform. Toppen av krona hos trær i vekstfasen skiller seg fra trær i klimaksfasen ved at den er spissere.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="klimaksfase">
        <annotation>
          <documentation>16214: For flere treslag karakteriseres klimaksfasen ved at endeknoppen aborteres og de nærmeste knoppene bak bryter og danner mange små sideskudd. Veksten orienterer seg mer i lateral retning enn i vertikalretningen. Krona blir bredere og utvikler et mer finmasket web av småkvist fra kronemarginen og et lite stykke innover i krona (vanligvis 1/3).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="huleGroveTrær">
        <annotation>
          <documentation>16597: Gamle spesielle trær. Gjerne eik, ask, alm eller lind</documentation>
        </annotation>
      </enumeration>
      <enumeration value="avviklingsfase">
        <annotation>
          <documentation>16215: Skuddavdøing og glisne partier i krona – særlig i toppen. Produksjonen av døde greiner øker markant. For noen treslag som for eksempel bjerk og spisslønn er det som regel bare noen få år fra dette stadiet og frem til treet dør.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtviklingsfaseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrærType">
    <annotation>
      <documentation>9135: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTrærEnumerationType nvdb:VedlikeholdsansvarligTrærOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrærEnumerationType">
    <annotation>
      <documentation>9135: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>12178: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18785: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19979: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18914: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>12179: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>12180: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17767: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrærOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
