GML/199.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierTrærType">
    <annotation>
      <documentation>8009: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8009</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8009</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierTrærEnumerationType nvdb:EierTrærOtherType"/>
  </simpleType>
  <simpleType name="EierTrærEnumerationType">
    <annotation>
      <documentation>8009: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8009</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8009</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10275: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10275</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18574: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18574</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10737: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10737</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10339: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10339</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10403: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10403</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17586: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17586</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTrærOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KravOmYtterligereOppfølgingType">
    <annotation>
      <documentation>10799: Gjelder trær som trenger å sjekkes oftere pga. alder, tilstand eller fordi det står plassert i et stressende voksemiljø som f.eks. trær med for lite jordvolum, eller som står nær veien der det i tillegg er utsatt for grøfting. Hvis ja, beskriv type oppføl</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10799</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10799</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Krav om ytterligere oppfølging</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KravOmYtterligereOppfølgingEnumerationType nvdb:KravOmYtterligereOppfølgingOtherType"/>
  </simpleType>
  <simpleType name="KravOmYtterligereOppfølgingEnumerationType">
    <annotation>
      <documentation>10799: Gjelder trær som trenger å sjekkes oftere pga. alder, tilstand eller fordi det står plassert i et stressende voksemiljø som f.eks. trær med for lite jordvolum, eller som står nær veien der det i tillegg er utsatt for grøfting. Hvis ja, beskriv type oppføl</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10799</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10799</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Krav om ytterligere oppfølging</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>17552: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17552</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>17553: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17553</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KravOmYtterligereOppfølgingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KroneOgStammestrukturType">
    <annotation>
      <documentation>10798: Vurdering hvorvidt kronens struktur er robust og som ligger til grunn for hva slags type oppfølging som kan være aktuelt. 1 er best og 3 er dårligst. Kategori 3 krever snarlig oppfølging og tiltak. For kategori 2 må videre oppfølging og tiltak vurderes. D</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10798</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10798</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Krone- og stammestruktur</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KroneOgStammestrukturEnumerationType nvdb:KroneOgStammestrukturOtherType"/>
  </simpleType>
  <simpleType name="KroneOgStammestrukturEnumerationType">
    <annotation>
      <documentation>10798: Vurdering hvorvidt kronens struktur er robust og som ligger til grunn for hva slags type oppfølging som kan være aktuelt. 1 er best og 3 er dårligst. Kategori 3 krever snarlig oppfølging og tiltak. For kategori 2 må videre oppfølging og tiltak vurderes. D</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10798</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10798</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Krone- og stammestruktur</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1-God">
        <annotation>
          <documentation>17549: Treet har én gjennomgående stamme. God stammeavsmaling (koning). Forholdet høyde/ Stammediameter (H/D) = 30-40 (stammediameter måles 1 meter over basis). Hovedstammen er rett. Diameter hovedgreiner &lt; 2/3 av stammediameter (stammediameteren måles like over barkåsen). Vinkelen mellom stammen og hovedgreinene skal være &gt; 25°. Tyngdepunktet i krona skal være balansert slik at den statiske vertikale vaktbelastningen føres ned gjennom stammen. Passe avstand mellom greinene. Dette gjelder både i vertikal og lateral retning. Avstanden mellom greinene skal være stor nok til at det ikke oppstår mekanisk kontakt. Avstanden mellom selve greinfestene må være god nok til at hvert greinfeste får utvikle seg fritt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17549</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1-God</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2-Middels">
        <annotation>
          <documentation>17550: Treet kan ha 2, eller flere stammer, men sammenføyningen i kløften mellom stammene må være åpen og «U-formet». Treet kan ha sterktvoksende «stillasgreiner» med diameter tilnærmet lik stammediameteren. God stammeavsmaling (koning). Forholdet høyde/ Stammediameter (H/D) = ≤ 50 (stammediameter måles 1 meter over basis). Greinvinkler &gt; 25°. Krona og/ eller enkeltgreiner kan ha moderat overtyngde med et tyngdepunkt som ligger til siden for stammen. Stammen kan helle moderat, men viser tegn til å korrigere ubalansen ved at veksten i den øvre delen av treet orienterer seg i motsatt retning av den retningen stammen heller. Stammen(e) kan være moderat krokete. Tilnærmet passe avstand mellom greinene. Dette gjelder både i vertikal og lateral retning. Avstanden mellom greinene skal være stor nok til at det ikke oppstår mekanisk kontakt. Avstanden mellom selve greinfestene må være god nok til at hvert greinfeste får utvikle seg fritt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17550</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2-Middels</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3-Dårlig">
        <annotation>
          <documentation>17551: Treet har 2, eller flere stammer. Stammekløftene er vanligvis trange med en spiss karakteristisk «V-formet» vinkel &lt; 25°. Treet heller og har betydelig overtyngde uten tydelige tegn til korrigerende vekst. Treet har en, eller flere enkeltgreiner med betydelig overtyngde. Treet har en, eller flere sterktvoksende "stillasgreiner" med trange greinfester der vinkelen mellom stamme og grein er &lt; 25° med diameter større enn 50 % av stammediameteren målt like over barkåsen. Stammen er betydelig kroket.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17551</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3-Dårlig</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KroneOgStammestrukturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LøvfellendeVintergrønneTrærType">
    <annotation>
      <documentation>4160: Angir om trær tilhører kategori løvfellende eller vintergrønne.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4160</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4160</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Løvfellende/vintergrønne</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LøvfellendeVintergrønneTrærEnumerationType nvdb:LøvfellendeVintergrønneTrærOtherType"/>
  </simpleType>
  <simpleType name="LøvfellendeVintergrønneTrærEnumerationType">
    <annotation>
      <documentation>4160: Angir om trær tilhører kategori løvfellende eller vintergrønne.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4160</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4160</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Løvfellende/vintergrønne</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Løvfellende">
        <annotation>
          <documentation>5119: Løvfellende trær har flate og tynne blader og hører til den botaniske underavdelingen Magnoliophýtina (dekkfrøete planter).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5119</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Løvfellende</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vintergrønne">
        <annotation>
          <documentation>5120: Vintergrønne trær har lange og smale blader og hører til den botaniske underavdelingen Coniferophýtina (nakenfrøete planter).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5120</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vintergrønne</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LøvfellendeVintergrønneTrærOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NaturlikeVerdifulleTrærType">
    <annotation>
      <documentation>10671: Angis for naturlike trær som skal tas spesielt hensyn til. Naturlike trær som er hule grove inngår her under biologisk verdi. Kontroll og skjøtsel utdypes under "Tilleggsinformasjon". Hvis treet kan ha flere verdier velges den verdien som er mest fremtred</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10671</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10671</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Naturlike verdifulle trær</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NaturlikeVerdifulleTrærEnumerationType nvdb:NaturlikeVerdifulleTrærOtherType"/>
  </simpleType>
  <simpleType name="NaturlikeVerdifulleTrærEnumerationType">
    <annotation>
      <documentation>10671: Angis for naturlike trær som skal tas spesielt hensyn til. Naturlike trær som er hule grove inngår her under biologisk verdi. Kontroll og skjøtsel utdypes under "Tilleggsinformasjon". Hvis treet kan ha flere verdier velges den verdien som er mest fremtred</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10671</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10671</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Naturlike verdifulle trær</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Estetisk">
        <annotation>
          <documentation>17228: Treet er vakkert og står som et viktig landskapselement, gjerne landemerke. Treet er ofte solitært, men kan også være en del av alle eller trerekke.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17228</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Estetisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Biologisk">
        <annotation>
          <documentation>17229: Treet har hulrom og tørr vedmold, minst noen partier med dødved. Grove hule eiker (jf.forskriften) og ask inngår her.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17229</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Biologisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kulturhistorisk">
        <annotation>
          <documentation>17230: Treet står i tilknytning til en gård eller historisk anlegg. Kan være registrert som kulturminne. Ofte solitære, m en kan også inngå i trerekke.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17230</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kulturhistorisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NaturlikeVerdifulleTrærOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppbindingType">
    <annotation>
      <documentation>11422: Angir om det er noen form for oppbinding av treet/stammen. Oppbinding består vanligvis av trestolper og et bånd der båndet går rundt treet og er fest i stolpene.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11422</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11422</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppbinding</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppbindingEnumerationType nvdb:OppbindingOtherType"/>
  </simpleType>
  <simpleType name="OppbindingEnumerationType">
    <annotation>
      <documentation>11422: Angir om det er noen form for oppbinding av treet/stammen. Oppbinding består vanligvis av trestolper og et bånd der båndet går rundt treet og er fest i stolpene.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11422</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11422</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppbinding</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>19278: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19278</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>19279: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19279</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppbindingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppstammingType">
    <annotation>
      <documentation>12120: Angir om tre/trær er oppstammet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12120</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12120</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppstamming</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppstammingEnumerationType nvdb:OppstammingOtherType"/>
  </simpleType>
  <simpleType name="OppstammingEnumerationType">
    <annotation>
      <documentation>12120: Angir om tre/trær er oppstammet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12120</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12120</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppstamming</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>21092: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21092</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>21093: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21093</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppstammingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpesielleRestriksjonerType">
    <annotation>
      <documentation>9986: Angir om det er knyttet spesielle restriksjoner til tre/trær.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9986</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9986</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spesielle restriksjoner</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SpesielleRestriksjonerEnumerationType nvdb:SpesielleRestriksjonerOtherType"/>
  </simpleType>
  <simpleType name="SpesielleRestriksjonerEnumerationType">
    <annotation>
      <documentation>9986: Angir om det er knyttet spesielle restriksjoner til tre/trær.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9986</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9986</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spesielle restriksjoner</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16207: Det er knyttet spesielle restriksjoner til tre/trær.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke avgjort">
        <annotation>
          <documentation>16208: Tre/Trær er under vurdering, men ikke endelig avklart.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16208</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke avgjort</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16209: Det er ikke knyttet spesielle restriksjoner til tre/trær.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16209</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpesielleRestriksjonerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TrebeskytterType">
    <annotation>
      <documentation>11416: Angir om det er satt opp trebeskytter for å beskytte treet/stammen mot påkjørsel, klatring, hærverk etc.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11416</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11416</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trebeskytter</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TrebeskytterEnumerationType nvdb:TrebeskytterOtherType"/>
  </simpleType>
  <simpleType name="TrebeskytterEnumerationType">
    <annotation>
      <documentation>11416: Angir om det er satt opp trebeskytter for å beskytte treet/stammen mot påkjørsel, klatring, hærverk etc.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11416</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11416</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trebeskytter</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>19258: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19258</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>19259: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19259</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrebeskytterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TregruberistType">
    <annotation>
      <documentation>11415: Angir om det er tregruberist, dvs. beskyttelse på bakkenivå over røtter inn mot stamme.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11415</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11415</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tregruberist</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TregruberistEnumerationType nvdb:TregruberistOtherType"/>
  </simpleType>
  <simpleType name="TregruberistEnumerationType">
    <annotation>
      <documentation>11415: Angir om det er tregruberist, dvs. beskyttelse på bakkenivå over røtter inn mot stamme.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11415</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11415</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tregruberist</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Støpejern">
        <annotation>
          <documentation>19254: Støpejern</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19254</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støpejern</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>19255: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19255</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Smågatestein">
        <annotation>
          <documentation>19256: Smågatestein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19256</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Smågatestein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Granittblokk">
        <annotation>
          <documentation>19277: Granittblokk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19277</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Granittblokk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen">
        <annotation>
          <documentation>19257: Ingen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19257</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TregruberistOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trær" substitutionGroup="nvdb:AbstraktTrær" type="nvdb:TrærType">
    <annotation>
      <documentation>199: Trær er flerårige vedaktige planter som har definert stamme og krone.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">199</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">199</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trær</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrærType">
    <complexContent>
      <extension base="nvdb:AbstraktTrærType">
        <sequence>
          <element minOccurs="0" name="typeGruppering" type="nvdb:TypeGrupperingType">
            <annotation>
              <documentation>4134: Angir om det er frittstående tre eller om treet inngår i ei gruppe med trær.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4134</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type/gruppering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="løvfellendeVintergrønne" type="nvdb:LøvfellendeVintergrønneTrærType">
            <annotation>
              <documentation>4160: Angir om trær tilhører kategori løvfellende eller vintergrønne.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4160</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Løvfellende/vintergrønne</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeForm" type="nvdb:TypeFormType">
            <annotation>
              <documentation>9985: Angir at treet/trærne er formet etter beskjæring og hvilken type form det er gitt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9985</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type/form</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antall" type="integer">
            <annotation>
              <documentation>4142: Angir hvor mange forekomster som er representert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4142</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avstand_Innbyrdes" type="integer">
            <annotation>
              <documentation>4495: Angir innbyrdes avstand mellom trærne.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4495</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Avstand, innbyrdes</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>1377: Angir arealet av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1377</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="treslag_NorskNavn" type="string">
            <annotation>
              <documentation>4161: Angir norsk navn på treslag.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4161</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Treslag, norsk navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="naturlikeVerdifulleTrær" type="nvdb:NaturlikeVerdifulleTrærType">
            <annotation>
              <documentation>10671: Angis for naturlike trær som skal tas spesielt hensyn til. Naturlike trær som er hule grove inngår her under biologisk verdi. Kontroll og skjøtsel utdypes under "Tilleggsinformasjon". Hvis treet kan ha flere verdier velges den verdien som er mest fremtredende for treet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10671</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Naturlike verdifulle trær</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="treslag_BotaniskNavn" type="string">
            <annotation>
              <documentation>4494: Angir botanisk navn på treslag.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4494</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Treslag, botanisk navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sortHerkomst" type="string">
            <annotation>
              <documentation>7552: Sort er en varietet av en plante som er oppformert med bestemte egenskaper til bruk i hage, park eller landbruk. Formeres vegetativt. Herkomst angir plantenes geografiske eller genetiske opprinnelse.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7552</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sort/herkomst</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utplantingsår" type="integer">
            <annotation>
              <documentation>7553: Angir hvilket årstall trær ble plantet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7553</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utplantingsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utplantingsmåned" type="integer">
            <annotation>
              <documentation>11270: Angir hvilken måned treet ble plantet. 1= Januar...12=Desember.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11270</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utplantingsmåned</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>9984: Angir dato da Stammediameter, Høyde, Kronediameter og Vekstfase sist ble registrert. Datoformat: ååååmmdd.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9984</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Registreringsdato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utviklingsfase" type="nvdb:UtviklingsfaseType">
            <annotation>
              <documentation>9988: Angir treets utviklingsstadie og dermed hvilken type skjøtsel som kreves.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9988</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utviklingsfase</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>1902: Angir egenhøyde. Dersom forekomsten representerer mer enn ett tre regnes det gjennomsnittlig høyde av alle trærne.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1902</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stammediameter" type="integer">
            <annotation>
              <documentation>1731: Angir stammediameter. Stammediameter skal måles 1 meter over bakken. Dersom forekomsten representerer mer enn ett tre regnes det gjennomsnittlig stammediameter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1731</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Stammediameter</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kronediameter" type="double">
            <annotation>
              <documentation>7551: Angir gjennomsnittlig kronediameter for angitte trær.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7551</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kronediameter</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kroneOgStammestruktur" type="nvdb:KroneOgStammestrukturType">
            <annotation>
              <documentation>10798: Vurdering hvorvidt kronens struktur er robust og som ligger til grunn for hva slags type oppfølging som kan være aktuelt. 1 er best og 3 er dårligst. Kategori 3 krever snarlig oppfølging og tiltak. For kategori 2 må videre oppfølging og tiltak vurderes. Denne type kartlegging krever at personen som utfører registreringen har tilstrekkelig kunnskapsgrunnlag.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10798</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Krone- og stammestruktur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kravOmYtterligereOppfølging" type="nvdb:KravOmYtterligereOppfølgingType">
            <annotation>
              <documentation>10799: Gjelder trær som trenger å sjekkes oftere pga. alder, tilstand eller fordi det står plassert i et stressende voksemiljø som f.eks. trær med for lite jordvolum, eller som står nær veien der det i tillegg er utsatt for grøfting. Hvis ja, beskriv type oppfølging i tilleggsinformasjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10799</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Krav om ytterligere oppfølging</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spesielleRestriksjoner" type="nvdb:SpesielleRestriksjonerType">
            <annotation>
              <documentation>9986: Angir om det er knyttet spesielle restriksjoner til tre/trær.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9986</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spesielle restriksjoner</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sluttdatoForGarantitid" type="date">
            <annotation>
              <documentation>10562: Angir sluttdato for garantitid.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10562</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sluttdato for garantitid</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppstamming" type="nvdb:OppstammingType">
            <annotation>
              <documentation>12120: Angir om tre/trær er oppstammet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12120</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Oppstamming</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="trebeskytter" type="nvdb:TrebeskytterType">
            <annotation>
              <documentation>11416: Angir om det er satt opp trebeskytter for å beskytte treet/stammen mot påkjørsel, klatring, hærverk etc.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11416</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Trebeskytter</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppbinding" type="nvdb:OppbindingType">
            <annotation>
              <documentation>11422: Angir om det er noen form for oppbinding av treet/stammen. Oppbinding består vanligvis av trestolper og et bånd der båndet går rundt treet og er fest i stolpene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11422</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Oppbinding</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tregruberist" type="nvdb:TregruberistType">
            <annotation>
              <documentation>11415: Angir om det er tregruberist, dvs. beskyttelse på bakkenivå over røtter inn mot stamme.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11415</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tregruberist</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>7554: Utfyllende informasjon om tilstand, ved spesielle restriksjoner, eller annen info som har verdi for skjøtsel /hensyn oppgis her.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7554</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11098: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11098</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12339: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12339</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierTrærType">
            <annotation>
              <documentation>8009: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8009</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTrærType">
            <annotation>
              <documentation>9135: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9135</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5896: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5896</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4840: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4840</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>5903: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5903</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGrøntanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGrøntanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkdeler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Strekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertPlantekum" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktPlantekum</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Trær" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Trær</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Strekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkadeFU_Strekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkøy" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkøy</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrærPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trær"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeFormType">
    <annotation>
      <documentation>9985: Angir at treet/trærne er formet etter beskjæring og hvilken type form det er gitt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9985</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9985</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type/form</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeFormEnumerationType nvdb:TypeFormOtherType"/>
  </simpleType>
  <simpleType name="TypeFormEnumerationType">
    <annotation>
      <documentation>9985: Angir at treet/trærne er formet etter beskjæring og hvilken type form det er gitt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9985</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9985</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type/form</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Knutekollet">
        <annotation>
          <documentation>16205: Greinene blir kuttet tilbake årlig til hvert annet år til samme punkt inntil de store knutene som vi kan se på trærne når de står uten løv.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16205</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Knutekollet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Formklippet">
        <annotation>
          <documentation>16206: Greiner skjæres for å gi kronen ønsket form, f.eks. kuleformet eller kjegleformet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16206</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Formklippet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFormOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeGrupperingType">
    <annotation>
      <documentation>4134: Angir om det er frittstående tre eller om treet inngår i ei gruppe med trær.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4134</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4134</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type/gruppering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeGrupperingEnumerationType nvdb:TypeGrupperingOtherType"/>
  </simpleType>
  <simpleType name="TypeGrupperingEnumerationType">
    <annotation>
      <documentation>4134: Angir om det er frittstående tre eller om treet inngår i ei gruppe med trær.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4134</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4134</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type/gruppering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Frittstående tre">
        <annotation>
          <documentation>5118: Enkeltstående/ solitære trær.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5118</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Frittstående tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tregruppe">
        <annotation>
          <documentation>5115: Tre inngår i en tregruppe. Tregruppe består av minst 3 trær som står med relativ nærhet til hverandre. Gruppen skal ikke være særlig bredere enn høyden på trærne.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5115</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tregruppe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Allé">
        <annotation>
          <documentation>5117: Tre inngår i en allé. Allé er regelmessige rekker av trær på hver sin side av en veg, gate eller gangsti.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5117</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Allé</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trerekke">
        <annotation>
          <documentation>16216: Tre inngår i en trerekke. Trerekke består av minst 3 trær som står på linje med relativ nærhet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16216</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trerekke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeGrupperingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtviklingsfaseType">
    <annotation>
      <documentation>9988: Angir treets utviklingsstadie og dermed hvilken type skjøtsel som kreves.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9988</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9988</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utviklingsfase</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtviklingsfaseEnumerationType nvdb:UtviklingsfaseOtherType"/>
  </simpleType>
  <simpleType name="UtviklingsfaseEnumerationType">
    <annotation>
      <documentation>9988: Angir treets utviklingsstadie og dermed hvilken type skjøtsel som kreves.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9988</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9988</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utviklingsfase</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Etableringsfase">
        <annotation>
          <documentation>16212: Etableringsfasen starter rett etter treet er plantet og varer vanligvis frem til treet er i tilnærmet normal vekst igjen. Normalt 3-5 år.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16212</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Etableringsfase</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vekstfase">
        <annotation>
          <documentation>16213: Vekstfasen karakteriseres av markant strekningsvekst med typisk en opprett vekst og relativ smal kroneform. Toppen av krona hos trær i vekstfasen skiller seg fra trær i klimaksfasen ved at den er spissere.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16213</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vekstfase</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Klimaksfase">
        <annotation>
          <documentation>16214: For flere treslag karakteriseres klimaksfasen ved at endeknoppen aborteres og de nærmeste knoppene bak bryter og danner mange små sideskudd. Veksten orienterer seg mer i lateral retning enn i vertikalretningen. Krona blir bredere og utvikler et mer finmasket web av småkvist fra kronemarginen og et lite stykke innover i krona (vanligvis 1/3).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16214</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Klimaksfase</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hule/grove trær">
        <annotation>
          <documentation>16597: Gamle spesielle trær. Gjerne eik, ask, alm eller lind.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16597</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hule/grove trær</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Avviklingsfase">
        <annotation>
          <documentation>16215: Skuddavdøing og glisne partier i krona – særlig i toppen. Produksjonen av døde greiner øker markant. For noen treslag som for eksempel bjerk og spisslønn er det som regel bare noen få år fra dette stadiet og frem til treet dør.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16215</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avviklingsfase</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtviklingsfaseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrærType">
    <annotation>
      <documentation>9135: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9135</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9135</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTrærEnumerationType nvdb:VedlikeholdsansvarligTrærOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrærEnumerationType">
    <annotation>
      <documentation>9135: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9135</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9135</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>12178: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12178</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18785: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18785</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19979: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19979</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18914: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18914</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>12179: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12179</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>12180: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12180</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17767: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17767</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrærOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
