GML/207.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>207: Ventil er en teknisk innretning som regulerer eller styrer strømmen av en væske gjennom et rørledningssystem eller i en prosess.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeVentilType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13021</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeVentilEnumerationType nvdb:BruksområdeVentilOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeVentilEnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13021</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="dv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22625</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Over-/drens-/vaskevann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22624</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rent vann/slokkevann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="an">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22699</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet bruksområde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="va">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22698</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vanningsanlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeVentilOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierVentilType">
      <annotation>
         <documentation>13030: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13030</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierVentilEnumerationType nvdb:EierVentilOtherType"/>
   </simpleType>
   <simpleType name="EierVentilEnumerationType">
      <annotation>
         <documentation>13030: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13030</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22635</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22636</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22637</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22639</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22634</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>22638: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22638</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierVentilOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringVentilType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13022</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlasseringVentilEnumerationType nvdb:PlasseringVentilOtherType"/>
   </simpleType>
   <simpleType name="PlasseringVentilEnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13022</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <documentation>22627: Plassert fritt i bygning, ikke i kum.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22627</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I bygning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k">
            <annotation>
               <documentation>22626: Plassert i kum</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22626</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I kum</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <documentation>22628: Plassert fritt i tunnelrom, ikke i bygning eller kum.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22628</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I tunnelrom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringVentilOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="StyringVentilType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13023</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Styring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StyringVentilEnumerationType nvdb:StyringVentilOtherType"/>
   </simpleType>
   <simpleType name="StyringVentilEnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13023</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Styring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="e">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22630</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Elektrisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22629</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Manuell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StyringVentilOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeVentilType">
      <annotation>
         <documentation>1200: Angir hvilken type vegobjektet er av</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1200</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeVentilEnumerationType nvdb:TypeVentilOtherType"/>
   </simpleType>
   <simpleType name="TypeVentilEnumerationType">
      <annotation>
         <documentation>1200: Angir hvilken type vegobjektet er av</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1200</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ku">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22703</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kuleventil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22705</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Shuntventil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <documentation>22702: Omtales også som flenseventil og knivventil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22702</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skyvespjeldventil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22704</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sluseventil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22701</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spjeldventil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ti">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22700</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tilbakeslagsventil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3363</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trykkreduksjonsventil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeVentilOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligVentilType">
      <annotation>
         <documentation>13031: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13031</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligVentilEnumerationType nvdb:VedlikeholdsansvarligVentilOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligVentilEnumerationType">
      <annotation>
         <documentation>13031: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13031</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22646</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22641</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22644</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22645</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22642</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22640</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22643</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligVentilOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Ventil"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:VentilType">
      <annotation>
         <documentation>207: Ventil er en teknisk innretning som regulerer eller styrer strømmen av en væske gjennom et rørledningssystem eller i en prosess.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ventil</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VentilType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeVentilType">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13021</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeVentilType">
                  <annotation>
                     <documentation>1200: Angir hvilken type vegobjektet er av</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1200</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="nvdb:PlasseringVentilType">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13022</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="styring" type="nvdb:StyringVentilType">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13023</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Styring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>13027: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13027</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>13026: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13026</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent" type="string">
                  <annotation>
                     <documentation>13024: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13024</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>13025: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13025</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>13029: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13029</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>13028: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13028</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="eier" type="nvdb:EierVentilType">
                  <annotation>
                     <documentation>13030: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13030</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligVentilType">
                  <annotation>
                     <documentation>13031: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13031</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4847: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4847</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VentilPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Ventil"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
