GML/208.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="BassengMagasin" substitutionGroup="nvdb:AbstraktBassengMagasin" type="nvdb:BassengMagasinType">
    <annotation>
      <documentation>208: Innretning for opplagring av vann.  Eksempelvis i tilknytning til tunneler.</documentation>
    </annotation>
  </element>
  <complexType name="BassengMagasinType">
    <complexContent>
      <extension base="nvdb:AbstraktBassengMagasinType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeBassengMagasinType">
            <annotation>
              <documentation>1283: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="hovedForbasseng" type="nvdb:HovedForbassengType">
            <annotation>
              <documentation>10451: Angir bassenget er regnet som hovedbasseng eller forbasseng</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bunn" type="nvdb:BunnType">
            <annotation>
              <documentation>10452: Angir hvilken type bunn det er i bassenget</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>1378: Angir arealet av vegobjektet
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="innløpsløsning" type="nvdb:InnløpsløsningType"/>
          <element minOccurs="0" name="utløpsløsning" type="nvdb:UtløpsløsningType"/>
          <element minOccurs="0" name="volum" type="integer">
            <annotation>
              <documentation>1394: Angir volum av vann/væske ved fullt basseng
Enhet: Kubikkmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vanndybde_Normal" type="double">
            <annotation>
              <documentation>1660: Angir dybde ved normal vannstand
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dybdeTilOverløp" type="double">
            <annotation>
              <documentation>3850: Angir dybde til overløp
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="filtermasser" type="nvdb:FiltermasserType">
            <annotation>
              <documentation>10685: Angir om det er stedlige eller tilførte filtermasser</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="slukkevann" type="nvdb:SlukkevannType">
            <annotation>
              <documentation>10454: Angir om vannet benyttes til slukkevann i forbindelse med evt. brann. Mest relevant i tunnel</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="oljeutskilling" type="nvdb:OljeutskillingType">
            <annotation>
              <documentation>10456: Basseng har system for utskilling av olje.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10268: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10082: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="SCADA_Merking" type="string">
            <annotation>
              <documentation>11718: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10460: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11673: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11099: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierBassengMagasinType">
            <annotation>
              <documentation>8010: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligBassengMagasinType">
            <annotation>
              <documentation>8077: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4848: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8881: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVannhåndteringsanlegg" type="nvdb:AbstraktVannhåndteringsanleggPropertyType"/>
          <element minOccurs="0" name="assosiertTunnel" type="nvdb:AbstraktTunnelPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Punkt" type="nvdb:AbstraktTilstandSkadeFU_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="nvdb:AbstraktTilstandSkade_PunktPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BassengMagasinPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:BassengMagasin"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="BruksområdeBassengMagasinType">
    <annotation>
      <documentation>1283: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdeBassengMagasinEnumerationType nvdb:BruksområdeBassengMagasinOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeBassengMagasinEnumerationType">
    <annotation>
      <documentation>1283: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="rensebasseng">
        <annotation>
          <documentation>7941: Basseng for å rense vann</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rensebasseng_Sedimentasjon">
        <annotation>
          <documentation>17034: Basseng for å rense vann ved at slam/sediment bunnfaller.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rensebasseng_Infiltrasjon">
        <annotation>
          <documentation>17035: Vann infiltreres. Stedlige masser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rensebasseng_Våtmark">
        <annotation>
          <documentation>17036: Rensebasseng, våtmark</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oppsamlingAvForurensning">
        <annotation>
          <documentation>7943: Basseng for å samle opp eventuelle lekkasjer/søl fra havarerte tankbiler etc.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fordrøyningsbasseng">
        <annotation>
          <documentation>7942: Basseng som benyttes for å utjevne varierende vannføringer slik at nedstrøms ledningsnett og renseanlegg ikke blir overbelastet (Store norske leksikon)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vannmagasin">
        <annotation>
          <documentation>17037: Oppbevaring av vann som skal benyttes til bestemt formål.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pumpesump">
        <annotation>
          <documentation>7944: Basseng i tilknytning til pumpestasjon.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeBassengMagasinOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BunnType">
    <annotation>
      <documentation>10452: Angir hvilken type bunn det er i bassenget</documentation>
    </annotation>
    <union memberTypes="nvdb:BunnEnumerationType nvdb:BunnOtherType"/>
  </simpleType>
  <simpleType name="BunnEnumerationType">
    <annotation>
      <documentation>10452: Angir hvilken type bunn det er i bassenget</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="betongbunn">
        <annotation>
          <documentation>16907: Betongbunn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bunntettingLeire">
        <annotation>
          <documentation>16908: Bunntetting leire</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bunntetting_Mm_Ran">
        <annotation>
          <documentation>16909: Bunntetting membran</documentation>
        </annotation>
      </enumeration>
      <enumeration value="berg">
        <annotation>
          <documentation>17012: Berg</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BunnOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierBassengMagasinType">
    <annotation>
      <documentation>8010: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierBassengMagasinEnumerationType nvdb:EierBassengMagasinOtherType"/>
  </simpleType>
  <simpleType name="EierBassengMagasinEnumerationType">
    <annotation>
      <documentation>8010: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10276: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18575: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10738: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10340: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10404: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17587: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierBassengMagasinOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FiltermasserType">
    <annotation>
      <documentation>10685: Angir om det er stedlige eller tilførte filtermasser</documentation>
    </annotation>
    <union memberTypes="nvdb:FiltermasserEnumerationType nvdb:FiltermasserOtherType"/>
  </simpleType>
  <simpleType name="FiltermasserEnumerationType">
    <annotation>
      <documentation>10685: Angir om det er stedlige eller tilførte filtermasser</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stedligeMasser">
        <annotation>
          <documentation>17278: Stedlige masser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tilførteMasser">
        <annotation>
          <documentation>17279: Tilførte masser</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FiltermasserOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HovedForbassengType">
    <annotation>
      <documentation>10451: Angir bassenget er regnet som hovedbasseng eller forbasseng</documentation>
    </annotation>
    <union memberTypes="nvdb:HovedForbassengEnumerationType nvdb:HovedForbassengOtherType"/>
  </simpleType>
  <simpleType name="HovedForbassengEnumerationType">
    <annotation>
      <documentation>10451: Angir bassenget er regnet som hovedbasseng eller forbasseng</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="hovedbasseng">
        <annotation>
          <documentation>16904: Hovedbasseng</documentation>
        </annotation>
      </enumeration>
      <enumeration value="forbasseng">
        <annotation>
          <documentation>16905: Forbasseng</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HovedForbassengOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="InnløpsløsningType">
    <union memberTypes="nvdb:InnløpsløsningEnumerationType nvdb:InnløpsløsningOtherType"/>
  </simpleType>
  <simpleType name="InnløpsløsningEnumerationType">
    <restriction base="string">
      <enumeration value="dykket">
        <annotation>
          <documentation>16916: Dykket</documentation>
        </annotation>
      </enumeration>
      <enumeration value="åpen">
        <annotation>
          <documentation>16917: Åpen</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InnløpsløsningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OljeutskillingType">
    <annotation>
      <documentation>10456: Basseng har system for utskilling av olje.</documentation>
    </annotation>
    <union memberTypes="nvdb:OljeutskillingEnumerationType nvdb:OljeutskillingOtherType"/>
  </simpleType>
  <simpleType name="OljeutskillingEnumerationType">
    <annotation>
      <documentation>10456: Basseng har system for utskilling av olje.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16918: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16919: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OljeutskillingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SlukkevannType">
    <annotation>
      <documentation>10454: Angir om vannet benyttes til slukkevann i forbindelse med evt. brann. Mest relevant i tunnel</documentation>
    </annotation>
    <union memberTypes="nvdb:SlukkevannEnumerationType nvdb:SlukkevannOtherType"/>
  </simpleType>
  <simpleType name="SlukkevannEnumerationType">
    <annotation>
      <documentation>10454: Angir om vannet benyttes til slukkevann i forbindelse med evt. brann. Mest relevant i tunnel</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16914: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16915: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SlukkevannOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtløpsløsningType">
    <union memberTypes="nvdb:UtløpsløsningEnumerationType nvdb:UtløpsløsningOtherType"/>
  </simpleType>
  <simpleType name="UtløpsløsningEnumerationType">
    <restriction base="string">
      <enumeration value="dykket">
        <annotation>
          <documentation>16920: Dykket</documentation>
        </annotation>
      </enumeration>
      <enumeration value="åpen">
        <annotation>
          <documentation>16921: Åpen</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtløpsløsningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBassengMagasinType">
    <annotation>
      <documentation>8077: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligBassengMagasinEnumerationType nvdb:VedlikeholdsansvarligBassengMagasinOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBassengMagasinEnumerationType">
    <annotation>
      <documentation>8077: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10471: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18776: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19943: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18905: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10549: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10627: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17726: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBassengMagasinOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
