GML/208.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="BassengMagasin" substitutionGroup="nvdb:AbstraktBassengMagasin" type="nvdb:BassengMagasinType">
    <annotation>
      <documentation>208: Innretning for opplagring av vann. Eksempelvis i tilknytning til tunneler.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">208</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">208</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Basseng/Magasin</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="BassengMagasinType">
    <complexContent>
      <extension base="nvdb:AbstraktBassengMagasinType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeBassengMagasinType">
            <annotation>
              <documentation>1283: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1283</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hovedForbasseng" type="nvdb:HovedForbassengType">
            <annotation>
              <documentation>10451: Angir om bassenget er regnet som hovedbasseng eller forbasseng.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10451</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Hoved-/forbasseng</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bunn" type="nvdb:BunnType">
            <annotation>
              <documentation>10452: Angir hvilken type bunn det er i bassenget.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10452</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bunn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>1378: Angir arealet av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1378</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="innløpsløsning" type="nvdb:InnløpsløsningType">
            <annotation>
              <documentation>10455: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10455</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Innløpsløsning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utløpsløsning" type="nvdb:UtløpsløsningType">
            <annotation>
              <documentation>10457: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10457</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utløpsløsning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="volum" type="integer">
            <annotation>
              <documentation>1394: Angir volum av vann/væske ved fullt basseng.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1394</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Volum</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vanndybde_Normal" type="double">
            <annotation>
              <documentation>1660: Angir dybde ved normal vannstand.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1660</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vanndybde, normal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dybdeTilOverløp" type="double">
            <annotation>
              <documentation>3850: Angir dybde til overløp.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3850</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dybde til overløp</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="filtermasser" type="nvdb:FiltermasserType">
            <annotation>
              <documentation>10685: Angir om det er stedlige eller tilførte filtermasser.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10685</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Filtermasser</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="slukkevann" type="nvdb:SlukkevannType">
            <annotation>
              <documentation>10454: Angir om vannet benyttes til slukkevann i forbindelse med ev. brann. Mest relevant i tunnel.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10454</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Slukkevann</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oljeutskilling" type="nvdb:OljeutskillingType">
            <annotation>
              <documentation>10456: Basseng har system for utskilling av olje.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10456</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Oljeutskilling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10268: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10268</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10082: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10082</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="SCADA_Merking" type="string">
            <annotation>
              <documentation>11718: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11718</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">SCADA-merking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10460: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10460</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11673: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11673</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11099: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11099</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12340: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12340</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierBassengMagasinType">
            <annotation>
              <documentation>8010: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8010</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligBassengMagasinType">
            <annotation>
              <documentation>8077: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8077</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4848: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4848</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8881: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8881</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVannhåndteringsanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVannhåndteringsanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnel" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnel</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkadeFU_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BassengMagasinPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:BassengMagasin"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="BruksområdeBassengMagasinType">
    <annotation>
      <documentation>1283: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1283</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1283</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeBassengMagasinEnumerationType nvdb:BruksområdeBassengMagasinOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeBassengMagasinEnumerationType">
    <annotation>
      <documentation>1283: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1283</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1283</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Rensebasseng">
        <annotation>
          <documentation>7941: Basseng for å rense vann.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7941</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rensebasseng</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rensebasseng, sedimentasjon">
        <annotation>
          <documentation>17034: Basseng for å rense vann ved at slam/sediment bunnfaller.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17034</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rensebasseng, sedimentasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rensebasseng, infiltrasjon">
        <annotation>
          <documentation>17035: Vann infiltreres. Stedlige masser.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17035</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rensebasseng, infiltrasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rensebasseng, våtmark">
        <annotation>
          <documentation>17036: Rensebasseng, våtmark</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17036</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rensebasseng, våtmark</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oppsamling av forurensning">
        <annotation>
          <documentation>7943: Basseng for å samle opp eventuelle lekkasjer/søl fra havarerte tankbiler etc.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7943</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsamling av forurensning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fordrøyningsbasseng">
        <annotation>
          <documentation>7942: Basseng som benyttes for å utjevne varierende vannføringer slik at nedstrøms ledningsnett og renseanlegg ikke blir overbelastet (Store norske leksikon).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7942</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fordrøyningsbasseng</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vannmagasin">
        <annotation>
          <documentation>17037: Oppbevaring av vann som skal benyttes til bestemt formål.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17037</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vannmagasin</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pumpesump">
        <annotation>
          <documentation>7944: Basseng i tilknytning til pumpestasjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7944</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pumpesump</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet bruksområde">
        <annotation>
          <documentation>7945: Bruksområde som ikke er dekket av de øvrige verdiene. Bruksområde skal utdypes under egenskap "Tilleggsinformasjon" (10460).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7945</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet bruksområde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeBassengMagasinOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BunnType">
    <annotation>
      <documentation>10452: Angir hvilken type bunn det er i bassenget.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10452</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10452</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bunn</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BunnEnumerationType nvdb:BunnOtherType"/>
  </simpleType>
  <simpleType name="BunnEnumerationType">
    <annotation>
      <documentation>10452: Angir hvilken type bunn det er i bassenget.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10452</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10452</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bunn</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betongbunn">
        <annotation>
          <documentation>16907: Betongbunn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16907</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongbunn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bunntetting leire">
        <annotation>
          <documentation>16908: Bunntetting leire</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16908</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bunntetting leire</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bunntetting membran">
        <annotation>
          <documentation>16909: Bunntetting membran</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16909</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bunntetting membran</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Berg">
        <annotation>
          <documentation>17012: Berg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17012</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Berg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BunnOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierBassengMagasinType">
    <annotation>
      <documentation>8010: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8010</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8010</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierBassengMagasinEnumerationType nvdb:EierBassengMagasinOtherType"/>
  </simpleType>
  <simpleType name="EierBassengMagasinEnumerationType">
    <annotation>
      <documentation>8010: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8010</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8010</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10276: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10276</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18575: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18575</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10738: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10340: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10340</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10404: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10404</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17587: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17587</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierBassengMagasinOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FiltermasserType">
    <annotation>
      <documentation>10685: Angir om det er stedlige eller tilførte filtermasser.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10685</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10685</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Filtermasser</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FiltermasserEnumerationType nvdb:FiltermasserOtherType"/>
  </simpleType>
  <simpleType name="FiltermasserEnumerationType">
    <annotation>
      <documentation>10685: Angir om det er stedlige eller tilførte filtermasser.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10685</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10685</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Filtermasser</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stedlige masser">
        <annotation>
          <documentation>17278: Stedlige masser</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17278</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stedlige masser</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tilførte masser">
        <annotation>
          <documentation>17279: Tilførte masser</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17279</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilførte masser</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FiltermasserOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HovedForbassengType">
    <annotation>
      <documentation>10451: Angir om bassenget er regnet som hovedbasseng eller forbasseng.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10451</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10451</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Hoved-/forbasseng</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HovedForbassengEnumerationType nvdb:HovedForbassengOtherType"/>
  </simpleType>
  <simpleType name="HovedForbassengEnumerationType">
    <annotation>
      <documentation>10451: Angir om bassenget er regnet som hovedbasseng eller forbasseng.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10451</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10451</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Hoved-/forbasseng</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hovedbasseng">
        <annotation>
          <documentation>16904: Hovedbasseng</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16904</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hovedbasseng</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Forbasseng">
        <annotation>
          <documentation>16905: Forbasseng</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16905</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbasseng</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HovedForbassengOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="InnløpsløsningType">
    <annotation>
      <documentation>10455: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10455</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10455</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Innløpsløsning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:InnløpsløsningEnumerationType nvdb:InnløpsløsningOtherType"/>
  </simpleType>
  <simpleType name="InnløpsløsningEnumerationType">
    <annotation>
      <documentation>10455: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10455</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10455</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Innløpsløsning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Dykket">
        <annotation>
          <documentation>16916: Dykket</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16916</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dykket</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Åpen">
        <annotation>
          <documentation>16917: Åpen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16917</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Åpen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InnløpsløsningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OljeutskillingType">
    <annotation>
      <documentation>10456: Basseng har system for utskilling av olje.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10456</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10456</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oljeutskilling</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OljeutskillingEnumerationType nvdb:OljeutskillingOtherType"/>
  </simpleType>
  <simpleType name="OljeutskillingEnumerationType">
    <annotation>
      <documentation>10456: Basseng har system for utskilling av olje.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10456</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10456</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oljeutskilling</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16918: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16918</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16919: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16919</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OljeutskillingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SlukkevannType">
    <annotation>
      <documentation>10454: Angir om vannet benyttes til slukkevann i forbindelse med ev. brann. Mest relevant i tunnel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10454</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10454</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Slukkevann</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SlukkevannEnumerationType nvdb:SlukkevannOtherType"/>
  </simpleType>
  <simpleType name="SlukkevannEnumerationType">
    <annotation>
      <documentation>10454: Angir om vannet benyttes til slukkevann i forbindelse med ev. brann. Mest relevant i tunnel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10454</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10454</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Slukkevann</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16914: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16914</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16915: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16915</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SlukkevannOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtløpsløsningType">
    <annotation>
      <documentation>10457: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10457</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10457</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utløpsløsning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtløpsløsningEnumerationType nvdb:UtløpsløsningOtherType"/>
  </simpleType>
  <simpleType name="UtløpsløsningEnumerationType">
    <annotation>
      <documentation>10457: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10457</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10457</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utløpsløsning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Dykket">
        <annotation>
          <documentation>16920: Dykket</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16920</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dykket</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Åpen">
        <annotation>
          <documentation>16921: Åpen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16921</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Åpen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtløpsløsningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBassengMagasinType">
    <annotation>
      <documentation>8077: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8077</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8077</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligBassengMagasinEnumerationType nvdb:VedlikeholdsansvarligBassengMagasinOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBassengMagasinEnumerationType">
    <annotation>
      <documentation>8077: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8077</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8077</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10471: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10471</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18776: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18776</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19943: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19943</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18905: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18905</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10549: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10549</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10627: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10627</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17726: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17726</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBassengMagasinOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
