GML/21.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>21: Sammenhengende rekke med brøytestikk. Brøytestikk er stav av lauv- eller bartre, bambus e.l. plassert til markering av vegkant for snøbrøytingen (1). Merknad: Det skal registreres separate forekomster av kantstolper/refleks for hver side av vegen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Brøytestikk"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:BrøytestikkType">
      <annotation>
         <documentation>21: Sammenhengende rekke med brøytestikk. Brøytestikk er stav av lauv- eller bartre, bambus e.l. plassert til markering av vegkant for snøbrøytingen (1). Merknad: Det skal registreres separate forekomster av kantstolper/refleks for hver side av vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">21</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brøytestikk</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BrøytestikkType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="antall" type="integer">
                  <annotation>
                     <documentation>2192: Vegobjektet kan representere flere objekt av samme type. Vi angir her hvor mange objekt dette objektet representerer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2192</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="avstand_Innbyrdes" type="integer">
                  <annotation>
                     <documentation>1713: Angir normal innbyrdes avstand mellom vegobjekt som ligger etter hverandre i rekke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1713</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avstand, innbyrdes</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høydeOverVegkant" type="double">
                  <annotation>
                     <documentation>1580: Angir høyde over vegkant for topp brøytestikk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1580</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde over vegkant</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="type" type="nvdb:TypeBrøytestikkType">
                  <annotation>
                     <documentation>1103: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1103</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="optiskLedning">
                  <annotation>
                     <documentation>4553: Angir om brøytestikk benyttes for optisk ledning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4553</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Optisk ledning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="refleks" type="nvdb:RefleksBrøytestikkType">
                  <annotation>
                     <documentation>1920: Angir om det er refleks i tilknytning til vegobjektet og ev. hvilken type. Angir om brøytestikk har refleks eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1920</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Refleks</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="permanent" type="nvdb:PermanentBrøytestikkType">
                  <annotation>
                     <documentation>2068: Angir om vegobjektet er permanent eller midlertidig/sesongbetinga. Angir om brøytestikk er fast montert hele året, eller om de tas ned i sommersesongen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2068</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Permanent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10279: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10279</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11551: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11551</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4729: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4729</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BrøytestikkPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Brøytestikk"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="OptiskLedningBrøytestikkType">
      <annotation>
         <documentation>4553: Angir om brøytestikk benyttes for optisk ledning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4553</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Optisk ledning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OptiskLedningBrøytestikkEnumerationType nvdb:OptiskLedningBrøytestikkOtherType"/>
   </simpleType>
   <simpleType name="OptiskLedningBrøytestikkEnumerationType">
      <annotation>
         <documentation>4553: Angir om brøytestikk benyttes for optisk ledning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4553</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Optisk ledning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5461</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5462</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OptiskLedningBrøytestikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PermanentBrøytestikkType">
      <annotation>
         <documentation>2068: Angir om vegobjektet er permanent eller midlertidig/sesongbetinga. Angir om brøytestikk er fast montert hele året, eller om de tas ned i sommersesongen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2068</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Permanent</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PermanentBrøytestikkEnumerationType nvdb:PermanentBrøytestikkOtherType"/>
   </simpleType>
   <simpleType name="PermanentBrøytestikkEnumerationType">
      <annotation>
         <documentation>2068: Angir om vegobjektet er permanent eller midlertidig/sesongbetinga. Angir om brøytestikk er fast montert hele året, eller om de tas ned i sommersesongen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2068</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Permanent</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3543</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3581</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PermanentBrøytestikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RefleksBrøytestikkType">
      <annotation>
         <documentation>1920: Angir om det er refleks i tilknytning til vegobjektet og ev. hvilken type. Angir om brøytestikk har refleks eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1920</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Refleks</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RefleksBrøytestikkEnumerationType nvdb:RefleksBrøytestikkOtherType"/>
   </simpleType>
   <simpleType name="RefleksBrøytestikkEnumerationType">
      <annotation>
         <documentation>1920: Angir om det er refleks i tilknytning til vegobjektet og ev. hvilken type. Angir om brøytestikk har refleks eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1920</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Refleks</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3529</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3567</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RefleksBrøytestikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeBrøytestikkType">
      <annotation>
         <documentation>1103: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1103</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeBrøytestikkEnumerationType nvdb:TypeBrøytestikkOtherType"/>
   </simpleType>
   <simpleType name="TypeBrøytestikkEnumerationType">
      <annotation>
         <documentation>1103: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1103</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2198</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bambus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2224</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, stål, galvanisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2263</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2197</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeBrøytestikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
