GML/212.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierVifteVentilatorType">
    <annotation>
      <documentation>10992: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10992</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10992</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierVifteVentilatorEnumerationType nvdb:EierVifteVentilatorOtherType"/>
  </simpleType>
  <simpleType name="EierVifteVentilatorEnumerationType">
    <annotation>
      <documentation>10992: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10992</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10992</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>18398: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18398</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18666: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18666</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>18399: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18399</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>18400: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18400</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>18401: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18401</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>18402: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18402</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierVifteVentilatorOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KorrosjonsbeskyttelseType">
    <annotation>
      <documentation>4022: Angir hvilken type korrosjonsbeskyttelse som er benyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4022</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4022</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Korrosjonsbeskyttelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KorrosjonsbeskyttelseEnumerationType nvdb:KorrosjonsbeskyttelseOtherType"/>
  </simpleType>
  <simpleType name="KorrosjonsbeskyttelseEnumerationType">
    <annotation>
      <documentation>4022: Angir hvilken type korrosjonsbeskyttelse som er benyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4022</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4022</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Korrosjonsbeskyttelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Varmforsinket">
        <annotation>
          <documentation>5053: Varmforsinket</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5053</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varmforsinket</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pulverlakkert">
        <annotation>
          <documentation>5054: Pulverlakkert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5054</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pulverlakkert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke behov, rustfritt stål">
        <annotation>
          <documentation>13785: Angis dersom vifte/ventilator er av materiale som ikke trenger korrosjonsbeskyttelse, f.eks. syrefast stål.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13785</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke behov, rustfritt stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KorrosjonsbeskyttelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVifteVentilatorType">
    <annotation>
      <documentation>1205: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1205</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1205</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeVifteVentilatorEnumerationType nvdb:TypeVifteVentilatorOtherType"/>
  </simpleType>
  <simpleType name="TypeVifteVentilatorEnumerationType">
    <annotation>
      <documentation>1205: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1205</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1205</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Symmetrisk">
        <annotation>
          <documentation>4866: Symmetrisk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4866</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Symmetrisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asymmetrisk">
        <annotation>
          <documentation>4867: Asymmetrisk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4867</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asymmetrisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sjaktventilator">
        <annotation>
          <documentation>7453: Sjaktventilator</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7453</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sjaktventilator</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVifteVentilatorOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVifteVentilatorType">
    <annotation>
      <documentation>8079: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8079</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8079</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligVifteVentilatorEnumerationType nvdb:VedlikeholdsansvarligVifteVentilatorOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVifteVentilatorEnumerationType">
    <annotation>
      <documentation>8079: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8079</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8079</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10473: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10473</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18761: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18761</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19945: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19945</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18890: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18890</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10551: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10551</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10629: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10629</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17728: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17728</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVifteVentilatorOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VibrasjonsvaktType">
    <annotation>
      <documentation>11813: En type sensor som måler hvor mye viften vibrer. Det kan på den måten varsles om det er unormalt kraftige vibrasjoner.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11813</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11813</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vibrasjonsvakt</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VibrasjonsvaktEnumerationType nvdb:VibrasjonsvaktOtherType"/>
  </simpleType>
  <simpleType name="VibrasjonsvaktEnumerationType">
    <annotation>
      <documentation>11813: En type sensor som måler hvor mye viften vibrer. Det kan på den måten varsles om det er unormalt kraftige vibrasjoner.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11813</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11813</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vibrasjonsvakt</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>19799: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>19800: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19800</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VibrasjonsvaktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="VifteVentilator" substitutionGroup="nvdb:AbstraktVifteVentilator" type="nvdb:VifteVentilatorType">
    <annotation>
      <documentation>212: Vifte for å ventilere tunneler.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">212</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">212</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vifte/Ventilator</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VifteVentilatorType">
    <complexContent>
      <extension base="nvdb:AbstraktVifteVentilatorType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeVifteVentilatorType">
            <annotation>
              <documentation>1205: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1205</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="effekt" type="integer">
            <annotation>
              <documentation>2150: Angir hvilken effekt tunnelvifta har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2150</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Effekt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spenning" type="integer">
            <annotation>
              <documentation>9575: Angir spenning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9575</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="korrosjonsbeskyttelse" type="nvdb:KorrosjonsbeskyttelseType">
            <annotation>
              <documentation>4022: Angir hvilken type korrosjonsbeskyttelse som er benyttet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4022</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Korrosjonsbeskyttelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vibrasjonsvakt" type="nvdb:VibrasjonsvaktType">
            <annotation>
              <documentation>11813: En type sensor som måler hvor mye viften vibrer. Det kan på den måten varsles om det er unormalt kraftige vibrasjoner.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11813</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vibrasjonsvakt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>4062: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4062</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>3608: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3608</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="SCADA_Merking" type="string">
            <annotation>
              <documentation>11719: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11719</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">SCADA-merking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent_Viftemotor" type="string">
            <annotation>
              <documentation>3556: Angir navn på produsent/fabrikant av viftemotor.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3556</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent, viftemotor</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn_Viftemotor" type="string">
            <annotation>
              <documentation>3816: Angir produktnavn for viftemotor. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3816</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn, viftemotor</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="leverandør_Viftemotor" type="string">
            <annotation>
              <documentation>3689: Angir navn på firma som har levert viftemotor.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3689</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Leverandør, viftemotor</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent_Vifteblad" type="string">
            <annotation>
              <documentation>3557: Angir navn på produsent/fabrikant av vifteblad.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3557</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent, vifteblad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="leverandør_Vifteblad" type="string">
            <annotation>
              <documentation>3690: Angir navn på firma som har levert vifteblad.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3690</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Leverandør, vifteblad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn_Vifteblad" type="string">
            <annotation>
              <documentation>3815: Angir produktnavn for vifteblad. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3815</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn, vifteblad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent_Viftehus" type="string">
            <annotation>
              <documentation>3558: Angir navn på produsent/fabrikant av viftehus.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3558</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent, viftehus</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn_Viftehus" type="string">
            <annotation>
              <documentation>3817: Angir produktnavn for viftehus. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3817</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn, viftehus</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="leverandør_Viftehus" type="string">
            <annotation>
              <documentation>3691: Angir navn på firma som har levert viftehus.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3691</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Leverandør, viftehus</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11592: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11592</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11676: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11676</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11102: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11102</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12343: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12343</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierVifteVentilatorType">
            <annotation>
              <documentation>10992: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10992</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligVifteVentilatorType">
            <annotation>
              <documentation>8079: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8079</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4852: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4852</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløpUtenTrafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløpUtenTrafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVentilasjonsanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVentilasjonsanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkadeFU_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VifteVentilatorPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:VifteVentilator"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
