GML/213.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Brannslokningsapparat" substitutionGroup="nvdb:AbstraktBrannslokningsapparat" type="nvdb:BrannslokningsapparatType">
    <annotation>
      <documentation>213: Apparat for å slokke brann.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">213</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">213</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Brannslokningsapparat</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="BrannslokningsapparatType">
    <complexContent>
      <extension base="nvdb:AbstraktBrannslokningsapparatType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeBrannslokningsapparatType">
            <annotation>
              <documentation>1206: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1206</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kapasitet" type="nvdb:KapasitetType">
            <annotation>
              <documentation>4021: Angir kapasitet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4021</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kapasitet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="plasseringITekniskRom" type="nvdb:PlasseringITekniskRomType">
            <annotation>
              <documentation>3739: Angir om objektet er plassert i teknisk rom.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3739</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Plassering i teknisk rom</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10273: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10273</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11593: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11593</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11103: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11103</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12344: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12344</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4853: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4853</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNødstasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNødstasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkap_Teknisk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkap_Teknisk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkadeFU_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBygning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBygning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BrannslokningsapparatPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Brannslokningsapparat"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KapasitetType">
    <annotation>
      <documentation>4021: Angir kapasitet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4021</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4021</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kapasitet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KapasitetEnumerationType nvdb:KapasitetOtherType"/>
  </simpleType>
  <simpleType name="KapasitetEnumerationType">
    <annotation>
      <documentation>4021: Angir kapasitet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4021</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4021</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kapasitet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="5">
        <annotation>
          <documentation>16018: 5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16018</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>5049: 6</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5049</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>21543: 8</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21543</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>5050: 12</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5050</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KapasitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringITekniskRomType">
    <annotation>
      <documentation>3739: Angir om objektet er plassert i teknisk rom.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3739</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3739</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering i teknisk rom</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringITekniskRomEnumerationType nvdb:PlasseringITekniskRomOtherType"/>
  </simpleType>
  <simpleType name="PlasseringITekniskRomEnumerationType">
    <annotation>
      <documentation>3739: Angir om objektet er plassert i teknisk rom.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3739</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3739</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering i teknisk rom</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16019: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16019</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16020: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16020</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringITekniskRomOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeBrannslokningsapparatType">
    <annotation>
      <documentation>1206: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1206</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1206</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeBrannslokningsapparatEnumerationType nvdb:TypeBrannslokningsapparatOtherType"/>
  </simpleType>
  <simpleType name="TypeBrannslokningsapparatEnumerationType">
    <annotation>
      <documentation>1206: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1206</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1206</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Pulverapparat">
        <annotation>
          <documentation>3373: Pulverapparat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3373</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pulverapparat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skumapparat">
        <annotation>
          <documentation>5048: Skumapparat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5048</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skumapparat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="CO-apparat">
        <annotation>
          <documentation>4917: CO-apparat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4917</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">CO-apparat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeBrannslokningsapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
