GML/226.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BudsjettBærelagType">
    <annotation>
      <documentation>5144: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5144</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5144</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BudsjettBærelagEnumerationType nvdb:BudsjettBærelagOtherType"/>
  </simpleType>
  <simpleType name="BudsjettBærelagEnumerationType">
    <annotation>
      <documentation>5144: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5144</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5144</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Anlegg">
        <annotation>
          <documentation>6942: Anlegg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6942</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Anlegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vedlikehold">
        <annotation>
          <documentation>6943: Vedlikehold</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6943</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikehold</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BudsjettBærelagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Bærelag" substitutionGroup="nvdb:AbstraktBærelag" type="nvdb:BærelagType">
    <annotation>
      <documentation>226: Det øverste lag i vegfundamentet. Deles ofte i nedre og øvre (1).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">226</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">226</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bærelag</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="BærelagType">
    <complexContent>
      <extension base="nvdb:AbstraktBærelagType">
        <sequence>
          <element minOccurs="0" name="lagtype" type="nvdb:LagtypeType">
            <annotation>
              <documentation>8742: Angir om det er tale om øvre eller nedre bærelag.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8742</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lagtype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeBærelagType">
            <annotation>
              <documentation>1211: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1211</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="øvreNominelleSteinstørrelse" type="nvdb:ØvreNominelleSteinstørrelseType">
            <annotation>
              <documentation>5531: Angir øvre nominell steinstørrelse for bærelagsmaterialet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5531</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nedreNominelleSteinstørrelse" type="nvdb:NedreNominelleSteinstørrelseType">
            <annotation>
              <documentation>11305: Angir nedre nominell steinstørrelse for bærelagsmaterialet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11305</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Nedre nominelle steinstørrelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="tykkelse" type="integer">
            <annotation>
              <documentation>1630: Angir tykkelse.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1630</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tykkelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Gjennomsnitt" type="double">
            <annotation>
              <documentation>5143: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5143</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="forbruk" type="integer">
            <annotation>
              <documentation>5150: Angir masseforbruk pr kvm.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5150</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Forbruk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="leggedato" type="date">
            <annotation>
              <documentation>5142: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5142</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Leggedato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="reseptnummer" type="string">
            <annotation>
              <documentation>11304: Gir reseptnummer for oppslag i Labsys.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11304</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Reseptnummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="budsjett" type="nvdb:BudsjettBærelagType">
            <annotation>
              <documentation>5144: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5144</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="modifisertBindemiddel" type="nvdb:ModifisertBindemiddelType">
            <annotation>
              <documentation>5533: Angir om det er brukt modifisert bindemiddel.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5533</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Modifisert bindemiddel</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5547: Gir permanent merknad.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5547</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11106: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11106</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12347: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12347</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4860: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4860</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8882: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8882</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegdekke" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegdekke</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertEntreprenør" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktEntreprenør</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BærelagPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bærelag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="LagtypeType">
    <annotation>
      <documentation>8742: Angir om det er tale om øvre eller nedre bærelag.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8742</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8742</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lagtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LagtypeEnumerationType nvdb:LagtypeOtherType"/>
  </simpleType>
  <simpleType name="LagtypeEnumerationType">
    <annotation>
      <documentation>8742: Angir om det er tale om øvre eller nedre bærelag.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8742</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8742</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lagtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Øvre bærelag">
        <annotation>
          <documentation>11571: Øvre bærelag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11571</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Øvre bærelag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nedre bærelag">
        <annotation>
          <documentation>11572: Nedre bærelag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11572</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nedre bærelag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LagtypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ModifisertBindemiddelType">
    <annotation>
      <documentation>5533: Angir om det er brukt modifisert bindemiddel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5533</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5533</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Modifisert bindemiddel</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ModifisertBindemiddelEnumerationType nvdb:ModifisertBindemiddelOtherType"/>
  </simpleType>
  <simpleType name="ModifisertBindemiddelEnumerationType">
    <annotation>
      <documentation>5533: Angir om det er brukt modifisert bindemiddel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5533</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5533</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Modifisert bindemiddel</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>7878: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7878</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>7879: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7879</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ModifisertBindemiddelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NedreNominelleSteinstørrelseType">
    <annotation>
      <documentation>11305: Angir nedre nominell steinstørrelse for bærelagsmaterialet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11305</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11305</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Nedre nominelle steinstørrelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NedreNominelleSteinstørrelseEnumerationType nvdb:NedreNominelleSteinstørrelseOtherType"/>
  </simpleType>
  <simpleType name="NedreNominelleSteinstørrelseEnumerationType">
    <annotation>
      <documentation>11305: Angir nedre nominell steinstørrelse for bærelagsmaterialet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11305</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11305</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Nedre nominelle steinstørrelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>19077: 0</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19077</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="16">
        <annotation>
          <documentation>19078: 16</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19078</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">16</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>19079: 22</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19079</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">22</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NedreNominelleSteinstørrelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeBærelagType">
    <annotation>
      <documentation>1211: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1211</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1211</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeBærelagEnumerationType nvdb:TypeBærelagOtherType"/>
  </simpleType>
  <simpleType name="TypeBærelagEnumerationType">
    <annotation>
      <documentation>1211: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1211</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1211</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Msm">
        <annotation>
          <documentation>3660: Mekanisk stabiliserte materialer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3660</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mekanisk stabiliserte materialer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fp">
        <annotation>
          <documentation>3665: Mest aktuelle sorteringer: 16/56, 22/63, 22/90.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3665</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forkilt pukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gk">
        <annotation>
          <documentation>6960: Mest aktuelle sorteringer: 0/22, 0/32, 0/45, 0/63.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6960</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Knust grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fk">
        <annotation>
          <documentation>6961: Knuste steinmaterialer. Mest aktuelle sorteringer: 0/32, 0/45, 0/63.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6961</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Knust berg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ak">
        <annotation>
          <documentation>16134: Benyttes ikke om dypfresing. Forutsetter at masser er tilført utenfra.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16134</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Knust asfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dypfrest, mekanisk stabilisert">
        <annotation>
          <documentation>19018: Resultat av dypfresing av dekke/bærelag. Blandede masser mekanisk stabilisert.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19018</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dypfrest, mekanisk stabilisert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bm">
        <annotation>
          <documentation>3666: Bitumenstabiliserte materialer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3666</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bitumenstabiliserte materialer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ag">
        <annotation>
          <documentation>3667: Asfaltert grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3667</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltert grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ap">
        <annotation>
          <documentation>3668: Asfaltert pukk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3668</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltert pukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pp">
        <annotation>
          <documentation>3669: Penetrert pukk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3669</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Penetrert pukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bg">
        <annotation>
          <documentation>3671: Bitumesnstabilisert grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3671</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bitumesnstabilisert grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bag">
        <annotation>
          <documentation>19074: Bitumenanriket grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19074</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bitumenanriket grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Eg">
        <annotation>
          <documentation>19075: Emulsjonsgrus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19075</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Emulsjonsgrus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ep">
        <annotation>
          <documentation>19076: Emulsjonspukk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19076</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Emulsjonspukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sg">
        <annotation>
          <documentation>6957: Skumgrus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6957</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skumgrus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dypfrest, bitumenstabilisert">
        <annotation>
          <documentation>19022: Resultat av dypfresing av dekke/bærelag. Blandede masser stabilisert med bitumen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19022</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dypfrest, bitumenstabilisert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="C">
        <annotation>
          <documentation>3674: Sementstabiliserte materialer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3674</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sementstabiliserte materialer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Cp">
        <annotation>
          <documentation>3675: Sementstabilisert pukk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3675</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sementstabilisert pukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Cg">
        <annotation>
          <documentation>3676: Sementstabilisert grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3676</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sementstabilisert grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gjb">
        <annotation>
          <documentation>6962: Gjenbruksbetong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6962</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjenbruksbetong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ls">
        <annotation>
          <documentation>19020: Grus-/Steinmaterialer stabilisert med lignin.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19020</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ligninstabilisert materiale</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dl">
        <annotation>
          <documentation>19019: Resultat av dypfresing av dekke/bærelag. Blandede masser stabilisert med lignin.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19019</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dypfrest, ligninstabilisert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeBærelagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseType">
    <annotation>
      <documentation>5531: Angir øvre nominell steinstørrelse for bærelagsmaterialet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5531</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5531</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ØvreNominelleSteinstørrelseEnumerationType nvdb:ØvreNominelleSteinstørrelseOtherType"/>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseEnumerationType">
    <annotation>
      <documentation>5531: Angir øvre nominell steinstørrelse for bærelagsmaterialet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5531</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5531</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="11">
        <annotation>
          <documentation>7849: 11</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7849</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">11</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="16">
        <annotation>
          <documentation>7850: 16</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7850</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">16</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="19">
        <annotation>
          <documentation>7851: 19</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7851</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">19</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>7852: 22</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7852</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">22</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="32">
        <annotation>
          <documentation>7855: 32</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7855</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">32</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="63">
        <annotation>
          <documentation>7859: 63</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7859</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">63</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="90">
        <annotation>
          <documentation>7861: 90</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7861</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">90</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
