GML/227.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BudsjettForsterkningslagType">
    <annotation>
      <documentation>5538: Angir hvilket budsjett utlegging går over.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5538</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5538</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BudsjettForsterkningslagEnumerationType nvdb:BudsjettForsterkningslagOtherType"/>
  </simpleType>
  <simpleType name="BudsjettForsterkningslagEnumerationType">
    <annotation>
      <documentation>5538: Angir hvilket budsjett utlegging går over.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5538</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5538</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Anlegg">
        <annotation>
          <documentation>7872: Anlegg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7872</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Anlegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vedlikehold">
        <annotation>
          <documentation>7873: Vedlikehold</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7873</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikehold</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BudsjettForsterkningslagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Forsterkningslag" substitutionGroup="nvdb:AbstraktForsterkningslag" type="nvdb:ForsterkningslagType">
    <annotation>
      <documentation>227: Lag i vegens overbygning mellom planum og bærelag. Hovedfunksjonen er å fordele trafikkbelastningen slik at undergrunnen ikke overbelastes (2).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">227</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">227</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Forsterkningslag</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="ForsterkningslagType">
    <complexContent>
      <extension base="nvdb:AbstraktForsterkningslagType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeForsterkningslagType">
            <annotation>
              <documentation>1212: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1212</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="steinstørrelse" type="integer">
            <annotation>
              <documentation>11275: Angir største steinstørrelse.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11275</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Steinstørrelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tykkelse" type="integer">
            <annotation>
              <documentation>1631: Angir lagets tykkelse.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1631</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tykkelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Gjennomsnitt" type="double">
            <annotation>
              <documentation>7035: Angir gjennomsnittsbredde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7035</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utleggingsdato" type="date">
            <annotation>
              <documentation>5543: Angir dato for utlegging.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5543</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utleggingsdato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="budsjett" type="nvdb:BudsjettForsterkningslagType">
            <annotation>
              <documentation>5538: Angir hvilket budsjett utlegging går over.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5538</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5552: Gir permanent merknad.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5552</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11107: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11107</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12348: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12348</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4861: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4861</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8883: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8883</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertEntreprenør" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktEntreprenør</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ForsterkningslagPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Forsterkningslag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeForsterkningslagType">
    <annotation>
      <documentation>1212: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1212</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1212</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeForsterkningslagEnumerationType nvdb:TypeForsterkningslagOtherType"/>
  </simpleType>
  <simpleType name="TypeForsterkningslagEnumerationType">
    <annotation>
      <documentation>1212: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1212</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1212</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Knuste steinmaterialer">
        <annotation>
          <documentation>3679: Knuste steinmaterialer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3679</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Knuste steinmaterialer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sand/grus">
        <annotation>
          <documentation>3677: Sand/grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3677</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sand/grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gjenbruksbetong/-tegl">
        <annotation>
          <documentation>19023: Gjenbruksbetong/-tegl</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19023</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjenbruksbetong/-tegl</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeForsterkningslagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
