GML/23.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeVegbomType">
    <annotation>
      <documentation>1252: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdeVegbomEnumerationType nvdb:BruksområdeVegbomOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeVegbomEnumerationType">
    <annotation>
      <documentation>1252: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="høyfjellsovergang">
        <annotation>
          <documentation>2495: Vegbom benyttes til å stenge vegstrekning som karakteriseres som høyfjellsstrekning. Dette er strekninger som er ekstra utsatt for snø og vind.  De behøver ikke ligge høyt over havet, men er over tregrensen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tunnel">
        <annotation>
          <documentation>2753: Vegbom benyttes for å stenge veg i tunnel. Merknad: Slike vegbommer kan være plassert utenfor selve tunnelen. Vegbommer med bruksområde tunnel skal knyttes til Tunnelløp.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vanligVegstrekning">
        <annotation>
          <documentation>2496: Vegbom benyttes for å stenge vanlig vegstrekning. Kan f.eks være i forbindelse med skredutsatt veg eller værutsatt veg.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bomstasjon">
        <annotation>
          <documentation>2497: Vegbom benyttes i forbindelse med bomstasjon. Åpnes når betaling er ok.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ferjekai">
        <annotation>
          <documentation>10247: Bom som stenger ferjelem. Merknad: Disse skal knyttes til Ferjeleie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gangSykkelveg_Sluse">
        <annotation>
          <documentation>5485: Vegbom benyttes på eller i tilknytning til gang-/sykkelveg. eller fortau.  Vegbommene er   plassert slik at de stenger for biltrafikk, men har åpning for at myke trafikanter kan passere (sluses gjennom).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="jernbane">
        <annotation>
          <documentation>19817: Vegbom i tilknytning til jernbane. F.eks ved jernbanekryssing.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annetBruksområde">
        <annotation>
          <documentation>19821: Ingen av de øvrige bruksområdene er beskrivende. Det skal angis nærmere beskrivelse av bruksområde under egenskapstype "Tilleggsinformasjon"</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeVegbomOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierVegbomType">
    <annotation>
      <documentation>7986: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierVegbomEnumerationType nvdb:EierVegbomOtherType"/>
  </simpleType>
  <simpleType name="EierVegbomEnumerationType">
    <annotation>
      <documentation>7986: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10252: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18602: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10714: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10316: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10380: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17611: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierVegbomOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FjernesIVintersesongType">
    <annotation>
      <documentation>4609: Angir hvorvidt vegbom/stengsel fjernes i vintersesong, eller settes ut av drift i vintersesong.</documentation>
    </annotation>
    <union memberTypes="nvdb:FjernesIVintersesongEnumerationType nvdb:FjernesIVintersesongOtherType"/>
  </simpleType>
  <simpleType name="FjernesIVintersesongEnumerationType">
    <annotation>
      <documentation>4609: Angir hvorvidt vegbom/stengsel fjernes i vintersesong, eller settes ut av drift i vintersesong.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5545: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5546: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FjernesIVintersesongOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FjernstyringVegbomType">
    <annotation>
      <documentation>1738: Angir om vegobjektet kan fjernstyres</documentation>
    </annotation>
    <union memberTypes="nvdb:FjernstyringVegbomEnumerationType nvdb:FjernstyringVegbomOtherType"/>
  </simpleType>
  <simpleType name="FjernstyringVegbomEnumerationType">
    <annotation>
      <documentation>1738: Angir om vegobjektet kan fjernstyres</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3517: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3555: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FjernstyringVegbomOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MarkeringsskiltPåmontertType">
    <annotation>
      <documentation>4610: Angir om det er montert markeringsskilt på vegbom/stengsel.</documentation>
    </annotation>
    <union memberTypes="nvdb:MarkeringsskiltPåmontertEnumerationType nvdb:MarkeringsskiltPåmontertOtherType"/>
  </simpleType>
  <simpleType name="MarkeringsskiltPåmontertEnumerationType">
    <annotation>
      <documentation>4610: Angir om det er montert markeringsskilt på vegbom/stengsel.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5565: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5566: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MarkeringsskiltPåmontertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeVegbomType">
    <annotation>
      <documentation>4596: Angir materialtype</documentation>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeVegbomEnumerationType nvdb:MaterialtypeVegbomOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeVegbomEnumerationType">
    <annotation>
      <documentation>4596: Angir materialtype</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stål">
        <annotation>
          <documentation>5535: Stål</documentation>
        </annotation>
      </enumeration>
      <enumeration value="aluminium">
        <annotation>
          <documentation>8189: Aluminium</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tre">
        <annotation>
          <documentation>5537: Tre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plast">
        <annotation>
          <documentation>5536: Plast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>19818: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stein">
        <annotation>
          <documentation>19819: Stein</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeVegbomOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegbomType">
    <annotation>
      <documentation>1105: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeVegbomEnumerationType nvdb:TypeVegbomOtherType"/>
  </simpleType>
  <simpleType name="TypeVegbomEnumerationType">
    <annotation>
      <documentation>1105: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="heveSenkebom">
        <annotation>
          <documentation>2498: Heve-/senkebommer åpnes og lukkes ved å heve/senke vegbommen.  Heve-/senkebom kan sperre hele eller deler av vegbanen. Merknad: I tilfeller med heve-/senkebommer på begge side av vegen i samme snitt skal det registreres to forekomster av vegbom.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="svingbom">
        <annotation>
          <documentation>2501: Svingbommer åpnes og lukkes ved at de svinges til side.  Svingbommer kan sperre hele eller deler av vegbanen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stolpePullertKjegle">
        <annotation>
          <documentation>5486: En eller flere stolper, pullerter eller kjegler satt opp på rekke med innbyrdes avstand slik at veg sperres for biltrafikk. Kan være permanent, fjernes manuelt eller fjernes ved automatisk nedsenkning. Informasjon om dette angis under ET 3839 "Type åpning/lukking"</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rørgelender">
        <annotation>
          <documentation>5487: Disse vegbommene kan være sammensatt av en eller flere deler, f,eks som to parallellle sideforskyvde gelender/trafikkgjerder med passasje for myke trafikanter mellom. Denne type vegbom må normalt løftes til side eller demonteres for å åpne for biltrafik.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="steinblokk">
        <annotation>
          <documentation>5488: En eller flere steinblokker plassert på tvers av veg. Normalt mulig for myke trafikanter å passere</documentation>
        </annotation>
      </enumeration>
      <enumeration value="newJersey">
        <annotation>
          <documentation>5489: En eller flere New-Jersy/betongblokker plassert på tvers av veg. Normalt mulig for myke trafikanter å passere</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annenTypeVegbo_Med_Sperring">
        <annotation>
          <documentation>5490: Benyttes om vegbommerr/sperringer som ikke dekkes av de øvrige verdiene. Beskrivelse skal angis under tilleggsinformasjon</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegbomOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeÅpningLukkingType">
    <annotation>
      <documentation>3839: Angir hvordan åpning/lukking foregår</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeÅpningLukkingEnumerationType nvdb:TypeÅpningLukkingOtherType"/>
  </simpleType>
  <simpleType name="TypeÅpningLukkingEnumerationType">
    <annotation>
      <documentation>3839: Angir hvordan åpning/lukking foregår</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="automatisertElektrisk">
        <annotation>
          <documentation>4704: Åpning/lukking foregår ved at en f.eks. noen «trykker på en knapp» eller av brikke i kjøretøy el. lign.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="manuell">
        <annotation>
          <documentation>4705: Må åpnes/lukkes fysisk på stedet.  Noen vegbommer kan være låst med hengelås.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeÅpneLukkemulighet">
        <annotation>
          <documentation>19820: Vegbom har ikke åpne lukke-mulighet. For å passeres må eventuelt hele vegbom/sperring fjernes. Relevant for noen typer rørgelender, stolper/puller/kjegle, mm</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeÅpningLukkingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VarselblinkPåmontertType">
    <annotation>
      <documentation>4611: Angir om det er montert varselblink på vegbom/stengsel</documentation>
    </annotation>
    <union memberTypes="nvdb:VarselblinkPåmontertEnumerationType nvdb:VarselblinkPåmontertOtherType"/>
  </simpleType>
  <simpleType name="VarselblinkPåmontertEnumerationType">
    <annotation>
      <documentation>4611: Angir om det er montert varselblink på vegbom/stengsel</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5567: Det er montert varselblink</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei_Mangler">
        <annotation>
          <documentation>5568: Benyttes i tilfeller hvor det ikke er montert varselblink, men det er relevant å montere varselblink</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei_IkkeRelevant">
        <annotation>
          <documentation>17303: Angis i tilfeller hvor det ikke er relevant å montere varselblink. (Verdi er til uttesting)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VarselblinkPåmontertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVegbomType">
    <annotation>
      <documentation>3819: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligVegbomEnumerationType nvdb:VedlikeholdsansvarligVegbomOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVegbomEnumerationType">
    <annotation>
      <documentation>3819: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>4851: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18696: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19897: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18825: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>5577: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>4852: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17676: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVegbomOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegbom" substitutionGroup="nvdb:AbstraktVegbom" type="nvdb:VegbomType">
    <annotation>
      <documentation>23: Fysisk hinder for å kunne stenge en veg.  F.eks i forbindelse med rasfare, tunnel, høgfjell etc.</documentation>
    </annotation>
  </element>
  <complexType name="VegbomType">
    <complexContent>
      <extension base="nvdb:AbstraktVegbomType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeVegbomType">
            <annotation>
              <documentation>1252: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeVegbomType">
            <annotation>
              <documentation>1105: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="materialtype" type="nvdb:MaterialtypeVegbomType">
            <annotation>
              <documentation>4596: Angir materialtype</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="typeÅpningLukking" type="nvdb:TypeÅpningLukkingType">
            <annotation>
              <documentation>3839: Angir hvordan åpning/lukking foregår</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="markeringsskiltPåmontert" type="nvdb:MarkeringsskiltPåmontertType">
            <annotation>
              <documentation>4610: Angir om det er montert markeringsskilt på vegbom/stengsel.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="varselblinkPåmontert" type="nvdb:VarselblinkPåmontertType">
            <annotation>
              <documentation>4611: Angir om det er montert varselblink på vegbom/stengsel</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fjernstyring" type="nvdb:FjernstyringVegbomType">
            <annotation>
              <documentation>1738: Angir om vegobjektet kan fjernstyres</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>4051: Angir lengde av vegobjekt. Ikke relevant for alle typer. For delte bommer angis lenge av enkelt-bom.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fjernesIVintersesong" type="nvdb:FjernesIVintersesongType">
            <annotation>
              <documentation>4609: Angir hvorvidt vegbom/stengsel fjernes i vintersesong, eller settes ut av drift i vintersesong.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10394: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10490: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="SCADA_Merking" type="string">
            <annotation>
              <documentation>11709: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>3519: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>4050: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11201: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11657: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11040: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierVegbomType">
            <annotation>
              <documentation>7986: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligVegbomType">
            <annotation>
              <documentation>3819: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4731: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9426: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegbomPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegbom"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
