GML/241.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AnrikingType">
    <annotation>
      <documentation>5629: Angir om det er utført anriking.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5629</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5629</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Anriking</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AnrikingEnumerationType nvdb:AnrikingOtherType"/>
  </simpleType>
  <simpleType name="AnrikingEnumerationType">
    <annotation>
      <documentation>5629: Angir om det er utført anriking.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5629</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5629</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Anriking</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>7907: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7907</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11771: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11771</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AnrikingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AvstrøingType">
    <annotation>
      <documentation>5490: Angir om det er utført avstrøing.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5490</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5490</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Avstrøing</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AvstrøingEnumerationType nvdb:AvstrøingOtherType"/>
  </simpleType>
  <simpleType name="AvstrøingEnumerationType">
    <annotation>
      <documentation>5490: Angir om det er utført avstrøing.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5490</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5490</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Avstrøing</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>7460: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7460</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11765: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11765</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AvstrøingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BetongfasthetType">
    <annotation>
      <documentation>5501: Angir betongfasthet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5501</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5501</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Betongfasthet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BetongfasthetEnumerationType nvdb:BetongfasthetOtherType"/>
  </simpleType>
  <simpleType name="BetongfasthetEnumerationType">
    <annotation>
      <documentation>5501: Angir betongfasthet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5501</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5501</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Betongfasthet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="C35">
        <annotation>
          <documentation>7480: C35</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7480</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">C35</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="C45">
        <annotation>
          <documentation>7481: C45</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7481</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">C45</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="C70">
        <annotation>
          <documentation>7482: C70</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7482</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">C70</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BetongfasthetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BudsjettVegdekkeType">
    <annotation>
      <documentation>5141: Angir hvilket budsjett dekkelegging går over.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5141</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5141</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BudsjettVegdekkeEnumerationType nvdb:BudsjettVegdekkeOtherType"/>
  </simpleType>
  <simpleType name="BudsjettVegdekkeEnumerationType">
    <annotation>
      <documentation>5141: Angir hvilket budsjett dekkelegging går over.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5141</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5141</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Anlegg">
        <annotation>
          <documentation>6813: Anlegg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6813</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Anlegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vedlikehold">
        <annotation>
          <documentation>6814: Vedlikehold</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6814</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikehold</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BudsjettVegdekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DekkevariantType">
    <annotation>
      <documentation>5133: Angir detaljer om dekketypen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5133</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5133</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dekkevariant</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DekkevariantEnumerationType nvdb:DekkevariantOtherType"/>
  </simpleType>
  <simpleType name="DekkevariantEnumerationType">
    <annotation>
      <documentation>5133: Angir detaljer om dekketypen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5133</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5133</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dekkevariant</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="å">
        <annotation>
          <documentation>6703: Åpen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6703</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Åpen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t">
        <annotation>
          <documentation>6704: Tett</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6704</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="d">
        <annotation>
          <documentation>6705: Drenerende</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6705</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drenerende</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="g">
        <annotation>
          <documentation>6706: Gjenbruksmasse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6706</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjenbruksmasse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekkevariantOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FibertilsetningType">
    <annotation>
      <documentation>5497: Angir ev. fibertilsetning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5497</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5497</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fibertilsetning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FibertilsetningEnumerationType nvdb:FibertilsetningOtherType"/>
  </simpleType>
  <simpleType name="FibertilsetningEnumerationType">
    <annotation>
      <documentation>5497: Angir ev. fibertilsetning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5497</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5497</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fibertilsetning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Cellulose">
        <annotation>
          <documentation>7473: Cellulose</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7473</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Cellulose</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mineral">
        <annotation>
          <documentation>7474: Mineral</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7474</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mineral</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stål">
        <annotation>
          <documentation>7475: Stål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7475</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FibertilsetningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ForkilingType">
    <annotation>
      <documentation>5494: Angir om det er utført forkiling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5494</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5494</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Forkiling</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ForkilingEnumerationType nvdb:ForkilingOtherType"/>
  </simpleType>
  <simpleType name="ForkilingEnumerationType">
    <annotation>
      <documentation>5494: Angir om det er utført forkiling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5494</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5494</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Forkiling</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>7465: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7465</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11768: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11768</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ForkilingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ForseglingType">
    <annotation>
      <documentation>5491: Angir om det er utført forsegling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5491</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5491</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Forsegling</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ForseglingEnumerationType nvdb:ForseglingOtherType"/>
  </simpleType>
  <simpleType name="ForseglingEnumerationType">
    <annotation>
      <documentation>5491: Angir om det er utført forsegling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5491</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5491</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Forsegling</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>7461: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7461</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11766: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11766</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ForseglingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ForvarmingType">
    <annotation>
      <documentation>5492: Angir om det er utført forvarming.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5492</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5492</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Forvarming</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ForvarmingEnumerationType nvdb:ForvarmingOtherType"/>
  </simpleType>
  <simpleType name="ForvarmingEnumerationType">
    <annotation>
      <documentation>5492: Angir om det er utført forvarming.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5492</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5492</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Forvarming</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>7462: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7462</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11767: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11767</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ForvarmingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GummitilsetningType">
    <annotation>
      <documentation>5498: Angir ev. gummitilsetning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5498</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5498</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gummitilsetning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GummitilsetningEnumerationType nvdb:GummitilsetningOtherType"/>
  </simpleType>
  <simpleType name="GummitilsetningEnumerationType">
    <annotation>
      <documentation>5498: Angir ev. gummitilsetning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5498</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5498</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gummitilsetning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Gummipulver">
        <annotation>
          <documentation>7476: Gummipulver</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7476</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gummipulver</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Revet gummi">
        <annotation>
          <documentation>7477: Revet gummi</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7477</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Revet gummi</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GummitilsetningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LagtypeVegdekkeType">
    <annotation>
      <documentation>8741: Angir om vegdekke opprinnelig er lagt som bindlag eller slitelag.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8741</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8741</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lagtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LagtypeVegdekkeEnumerationType nvdb:LagtypeVegdekkeOtherType"/>
  </simpleType>
  <simpleType name="LagtypeVegdekkeEnumerationType">
    <annotation>
      <documentation>8741: Angir om vegdekke opprinnelig er lagt som bindlag eller slitelag.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8741</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8741</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lagtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Slitelag">
        <annotation>
          <documentation>11569: Slitelag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11569</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Slitelag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bindlag">
        <annotation>
          <documentation>11570: Bindlag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11570</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bindlag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LagtypeVegdekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LavtemperaturasfaltType">
    <annotation>
      <documentation>10255: Angir om utlagt dekke er produsert som lavtemperaturasfalt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10255</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10255</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lavtemperaturasfalt</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LavtemperaturasfaltEnumerationType nvdb:LavtemperaturasfaltOtherType"/>
  </simpleType>
  <simpleType name="LavtemperaturasfaltEnumerationType">
    <annotation>
      <documentation>10255: Angir om utlagt dekke er produsert som lavtemperaturasfalt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10255</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10255</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lavtemperaturasfalt</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16746: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16746</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16747: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16747</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LavtemperaturasfaltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MassetypeType">
    <annotation>
      <documentation>1216: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1216</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1216</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MassetypeEnumerationType nvdb:MassetypeOtherType"/>
  </simpleType>
  <simpleType name="MassetypeEnumerationType">
    <annotation>
      <documentation>1216: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1216</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1216</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>3615: g.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3615</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>6958: Tynndekke</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6958</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tynndekke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="A">
        <annotation>
          <documentation>3616: Samlebetegnelse for asfaltdekker.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3616</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt (historisk)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ag">
        <annotation>
          <documentation>3624: Asfaltert grus (historisk)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3624</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltert grus (historisk)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sta">
        <annotation>
          <documentation>3629: Støpeasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3629</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støpeasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Top">
        <annotation>
          <documentation>3636: Topeka</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3636</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Topeka</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ska">
        <annotation>
          <documentation>3626: Skjelettasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3626</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjelettasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ab">
        <annotation>
          <documentation>3628: Asfaltbetong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3628</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltbetong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Da">
        <annotation>
          <documentation>3627: Drensasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3627</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drensasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Agb">
        <annotation>
          <documentation>3625: Asfaltgrusbetong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3625</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltgrusbetong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ma">
        <annotation>
          <documentation>3621: Mykasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3621</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mykasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Af">
        <annotation>
          <documentation>5282: Asfaltert finpukk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5282</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltert finpukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Alg">
        <annotation>
          <documentation>6710: Asfaltløsningsgrus (historisk)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6710</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltløsningsgrus (historisk)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Egt">
        <annotation>
          <documentation>3618: Emulsjonsgrus, tett</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3618</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Emulsjonsgrus, tett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asg">
        <annotation>
          <documentation>3630: Utgår.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3630</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltskumgrus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Og">
        <annotation>
          <documentation>5283: Oljegrus (historisk)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5283</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oljegrus (historisk)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Eo">
        <annotation>
          <documentation>5284: Enkel overflatebehandling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5284</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Enkel overflatebehandling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Do">
        <annotation>
          <documentation>5285: Dobbel overflatebehandling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5285</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dobbel overflatebehandling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Eog">
        <annotation>
          <documentation>5286: Enkel overflatebehandling grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5286</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Enkel overflatebehandling grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dog">
        <annotation>
          <documentation>5287: Dobbel overflatebehandling grus (historisk)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5287</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dobbel overflatebehandling grus (historisk)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gja">
        <annotation>
          <documentation>3632: Gjenbruksasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3632</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjenbruksasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>5288: Forsegling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5288</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forsegling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sla">
        <annotation>
          <documentation>3634: Slamasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3634</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Slamasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>3653: b.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3653</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bu">
        <annotation>
          <documentation>3654: Betongdekke, uarmert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3654</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongdekke, uarmert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vb">
        <annotation>
          <documentation>6723: Valsebetong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6723</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Valsebetong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Be">
        <annotation>
          <documentation>5671: Betongelementer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5671</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongelementer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bs">
        <annotation>
          <documentation>3658: Belegningsstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3658</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegningsstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Br">
        <annotation>
          <documentation>3659: Brostein/Gatestein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3659</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brostein/Gatestein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stål">
        <annotation>
          <documentation>3959: Stålgitter (bru)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3959</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stålgitter (bru)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tre">
        <annotation>
          <documentation>5281: Tre (bru)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5281</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre (bru)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MassetypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ModifisertBindemiddelVegdekkeType">
    <annotation>
      <documentation>5499: Angir om det er brukt modifisert bindemiddel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5499</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5499</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Modifisert bindemiddel</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ModifisertBindemiddelVegdekkeEnumerationType nvdb:ModifisertBindemiddelVegdekkeOtherType"/>
  </simpleType>
  <simpleType name="ModifisertBindemiddelVegdekkeEnumerationType">
    <annotation>
      <documentation>5499: Angir om det er brukt modifisert bindemiddel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5499</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5499</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Modifisert bindemiddel</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>7478: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7478</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11769: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11769</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ModifisertBindemiddelVegdekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PolypropylenType">
    <annotation>
      <documentation>5500: Angir om det er benyttet polypropylen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5500</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5500</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Polypropylen</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PolypropylenEnumerationType nvdb:PolypropylenOtherType"/>
  </simpleType>
  <simpleType name="PolypropylenEnumerationType">
    <annotation>
      <documentation>5500: Angir om det er benyttet polypropylen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5500</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5500</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Polypropylen</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>7479: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7479</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11770: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11770</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PolypropylenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RepaverType">
    <annotation>
      <documentation>10254: «halvsålings»-metode med stedlig gjenbruk av eksisterende asfalt som det legges et tynt slitelag på (50 kg/m2). Ingen klebing da det legges varmt mot varmt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10254</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10254</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Repaver</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RepaverEnumerationType nvdb:RepaverOtherType"/>
  </simpleType>
  <simpleType name="RepaverEnumerationType">
    <annotation>
      <documentation>10254: «halvsålings»-metode med stedlig gjenbruk av eksisterende asfalt som det legges et tynt slitelag på (50 kg/m2). Ingen klebing da det legges varmt mot varmt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10254</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10254</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Repaver</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16744: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16744</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16745: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16745</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RepaverOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpesialSteinmaterialeType">
    <annotation>
      <documentation>5496: Angir bruk av ev. spesial steinmateriale.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5496</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5496</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spesial steinmateriale</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SpesialSteinmaterialeEnumerationType nvdb:SpesialSteinmaterialeOtherType"/>
  </simpleType>
  <simpleType name="SpesialSteinmaterialeEnumerationType">
    <annotation>
      <documentation>5496: Angir bruk av ev. spesial steinmateriale.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5496</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5496</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spesial steinmateriale</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Slagg">
        <annotation>
          <documentation>7470: Slagg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7470</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Slagg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lys stein">
        <annotation>
          <documentation>7471: Lys stein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7471</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lys stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dynagrip">
        <annotation>
          <documentation>7472: Dynagrip</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7472</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dynagrip</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpesialSteinmaterialeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpesialasfaltType">
    <annotation>
      <documentation>5495: Angir bruk av eventuell spesialasfalt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5495</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5495</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spesialasfalt</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SpesialasfaltEnumerationType nvdb:SpesialasfaltOtherType"/>
  </simpleType>
  <simpleType name="SpesialasfaltEnumerationType">
    <annotation>
      <documentation>5495: Angir bruk av eventuell spesialasfalt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5495</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5495</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spesialasfalt</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Asfaltert finpukk">
        <annotation>
          <documentation>7880: Asfaltert finpukk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7880</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltert finpukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Chemcrete">
        <annotation>
          <documentation>7466: Chemcrete</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7466</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Chemcrete</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sipernat">
        <annotation>
          <documentation>7467: Sipernat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7467</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sipernat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trinidadasf.">
        <annotation>
          <documentation>7468: Trinidadasf.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7468</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trinidadasf.</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gilsonite">
        <annotation>
          <documentation>7469: Gilsonite</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7469</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gilsonite</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpesialasfaltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpesiellPlasseringType">
    <annotation>
      <documentation>5493: Angir om dekke har spesiell plassering.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5493</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5493</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spesiell plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SpesiellPlasseringEnumerationType nvdb:SpesiellPlasseringOtherType"/>
  </simpleType>
  <simpleType name="SpesiellPlasseringEnumerationType">
    <annotation>
      <documentation>5493: Angir om dekke har spesiell plassering.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5493</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5493</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spesiell plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="På bru">
        <annotation>
          <documentation>7463: På bru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7463</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">På bru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I tunnel">
        <annotation>
          <documentation>7464: I tunnel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7464</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpesiellPlasseringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVegdekkeType">
    <annotation>
      <documentation>8083: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8083</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8083</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligVegdekkeEnumerationType nvdb:VedlikeholdsansvarligVegdekkeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVegdekkeEnumerationType">
    <annotation>
      <documentation>8083: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8083</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8083</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10477: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10477</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18762: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18762</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19948: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19948</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18891: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18891</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10555: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10555</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10633: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10633</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17731: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17731</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVegdekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegdekke" substitutionGroup="nvdb:AbstraktVegdekke" type="nvdb:VegdekkeType">
    <annotation>
      <documentation>241: Den øverste del av overbygningen, består vanligvis av et bindlag og et slitelag. (1)</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">241</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">241</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vegdekke</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegdekkeType">
    <complexContent>
      <extension base="nvdb:AbstraktVegdekkeType">
        <sequence>
          <element minOccurs="0" name="lagtype" type="nvdb:LagtypeVegdekkeType">
            <annotation>
              <documentation>8741: Angir om vegdekke opprinnelig er lagt som bindlag eller slitelag.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8741</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lagtype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="massetype" type="nvdb:MassetypeType">
            <annotation>
              <documentation>1216: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1216</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="øvreNominelleSteinstørrelse" type="nvdb:ØvreNominelleSteinstørrelseVegdekkeType">
            <annotation>
              <documentation>2288: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2288</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="dekketykkelse" type="integer">
            <annotation>
              <documentation>1642: Angir representativ dekketykkelse i millimeter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1642</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dekketykkelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="dekkebredde_Gjennomsnitt" type="double">
            <annotation>
              <documentation>5135: Angir gjennomsnittlig bredde for dekket i meter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5135</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dekkebredde, gjennomsnitt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="masseforbruk" type="integer">
            <annotation>
              <documentation>5134: Angir masseforbruk i kg/kvm.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5134</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Masseforbruk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkeleggingsdato" type="date">
            <annotation>
              <documentation>5136: Angir dato for dekkelegging.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5136</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dekkeleggingsdato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="reseptnummer" type="string">
            <annotation>
              <documentation>11303: Gir reseptnummer for oppslag i Labsys.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11303</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Reseptnummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="budsjett" type="nvdb:BudsjettVegdekkeType">
            <annotation>
              <documentation>5141: Angir hvilket budsjett dekkelegging går over.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5141</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>2157: Angir arealet av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2157</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spesiellPlassering" type="nvdb:SpesiellPlasseringType">
            <annotation>
              <documentation>5493: Angir om dekke har spesiell plassering.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5493</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spesiell plassering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkevariant" type="nvdb:DekkevariantType">
            <annotation>
              <documentation>5133: Angir detaljer om dekketypen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5133</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dekkevariant</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spesialasfalt" type="nvdb:SpesialasfaltType">
            <annotation>
              <documentation>5495: Angir bruk av eventuell spesialasfalt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5495</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spesialasfalt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spesialSteinmateriale" type="nvdb:SpesialSteinmaterialeType">
            <annotation>
              <documentation>5496: Angir bruk av ev. spesial steinmateriale.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5496</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spesial steinmateriale</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lavtemperaturasfalt" type="nvdb:LavtemperaturasfaltType">
            <annotation>
              <documentation>10255: Angir om utlagt dekke er produsert som lavtemperaturasfalt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10255</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lavtemperaturasfalt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="repaver" type="nvdb:RepaverType">
            <annotation>
              <documentation>10254: «halvsålings»-metode med stedlig gjenbruk av eksisterende asfalt som det legges et tynt slitelag på (50 kg/m2). Ingen klebing da det legges varmt mot varmt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10254</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Repaver</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avstrøing" type="nvdb:AvstrøingType">
            <annotation>
              <documentation>5490: Angir om det er utført avstrøing.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5490</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Avstrøing</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="forsegling" type="nvdb:ForseglingType">
            <annotation>
              <documentation>5491: Angir om det er utført forsegling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5491</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Forsegling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="forvarming" type="nvdb:ForvarmingType">
            <annotation>
              <documentation>5492: Angir om det er utført forvarming.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5492</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Forvarming</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="forkiling" type="nvdb:ForkilingType">
            <annotation>
              <documentation>5494: Angir om det er utført forkiling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5494</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Forkiling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="anriking" type="nvdb:AnrikingType">
            <annotation>
              <documentation>5629: Angir om det er utført anriking.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5629</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Anriking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fibertilsetning" type="nvdb:FibertilsetningType">
            <annotation>
              <documentation>5497: Angir ev. fibertilsetning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5497</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fibertilsetning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gummitilsetning" type="nvdb:GummitilsetningType">
            <annotation>
              <documentation>5498: Angir ev. gummitilsetning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5498</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gummitilsetning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="modifisertBindemiddel" type="nvdb:ModifisertBindemiddelVegdekkeType">
            <annotation>
              <documentation>5499: Angir om det er brukt modifisert bindemiddel.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5499</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Modifisert bindemiddel</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="polypropylen" type="nvdb:PolypropylenType">
            <annotation>
              <documentation>5500: Angir om det er benyttet polypropylen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5500</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Polypropylen</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="betongfasthet" type="nvdb:BetongfasthetType">
            <annotation>
              <documentation>5501: Angir betongfasthet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5501</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Betongfasthet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5554: Gir permanent merknad.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5554</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kostnad" type="integer">
            <annotation>
              <documentation>6874: Angir endelig kostnad for dekke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6874</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kostnad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11110: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11110</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12351: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12351</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligVegdekkeType">
            <annotation>
              <documentation>8083: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8083</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4867: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4867</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8887: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8887</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegdekke_Flatelapping" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegdekke_Flatelapping</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBærelag" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBærelag</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegdekke_Fresing" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegdekke_Fresing</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertEntreprenør" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktEntreprenør</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegdekke_Sporfylling" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegdekke_Sporfylling</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Dekke" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Dekke</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Strekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkadeFU_Strekning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegdekkePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegdekke"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekkeType">
    <annotation>
      <documentation>2288: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2288</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2288</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ØvreNominelleSteinstørrelseVegdekkeEnumerationType nvdb:ØvreNominelleSteinstørrelseVegdekkeOtherType"/>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekkeEnumerationType">
    <annotation>
      <documentation>2288: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2288</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2288</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="2">
        <annotation>
          <documentation>4134: 2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4134</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>4135: 4</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4135</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>6726: 6</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6726</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>4136: 8</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4136</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation>4137: 11</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4137</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">11</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>4138: 12</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4138</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="14">
        <annotation>
          <documentation>4139: 14</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4139</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">14</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="16">
        <annotation>
          <documentation>4140: 16</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4140</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">16</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>4141: 22</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4141</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">22</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="28">
        <annotation>
          <documentation>4142: 28</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4142</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">28</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="32">
        <annotation>
          <documentation>4143: 32</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4143</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">32</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
