GML/241.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AnrikingType">
    <union memberTypes="nvdb:AnrikingEnumerationType nvdb:AnrikingOtherType"/>
  </simpleType>
  <simpleType name="AnrikingEnumerationType">
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>7907: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11771: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AnrikingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AvstrøingType">
    <annotation>
      <documentation>5490: Angir om det er utført avstrøing</documentation>
    </annotation>
    <union memberTypes="nvdb:AvstrøingEnumerationType nvdb:AvstrøingOtherType"/>
  </simpleType>
  <simpleType name="AvstrøingEnumerationType">
    <annotation>
      <documentation>5490: Angir om det er utført avstrøing</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>7460: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11765: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AvstrøingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BetongfasthetType">
    <annotation>
      <documentation>5501: Angir betongfasthet</documentation>
    </annotation>
    <union memberTypes="nvdb:BetongfasthetEnumerationType nvdb:BetongfasthetOtherType"/>
  </simpleType>
  <simpleType name="BetongfasthetEnumerationType">
    <annotation>
      <documentation>5501: Angir betongfasthet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="C35">
        <annotation>
          <documentation>7480: C35</documentation>
        </annotation>
      </enumeration>
      <enumeration value="C45">
        <annotation>
          <documentation>7481: C45</documentation>
        </annotation>
      </enumeration>
      <enumeration value="C70">
        <annotation>
          <documentation>7482: C70</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BetongfasthetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BudsjettVegdekkeType">
    <annotation>
      <documentation>5141: Angir hvilket budsjett dekkelegging går over</documentation>
    </annotation>
    <union memberTypes="nvdb:BudsjettVegdekkeEnumerationType nvdb:BudsjettVegdekkeOtherType"/>
  </simpleType>
  <simpleType name="BudsjettVegdekkeEnumerationType">
    <annotation>
      <documentation>5141: Angir hvilket budsjett dekkelegging går over</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="anlegg">
        <annotation>
          <documentation>6813: Anlegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vedlikehold">
        <annotation>
          <documentation>6814: Vedlikehold</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BudsjettVegdekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DekkevariantType">
    <annotation>
      <documentation>5133: Angir detaljer om dekketypen</documentation>
    </annotation>
    <union memberTypes="nvdb:DekkevariantEnumerationType nvdb:DekkevariantOtherType"/>
  </simpleType>
  <simpleType name="DekkevariantEnumerationType">
    <annotation>
      <documentation>5133: Angir detaljer om dekketypen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="å">
        <annotation>
          <documentation>6703: Åpen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="t">
        <annotation>
          <documentation>6704: Tett</documentation>
        </annotation>
      </enumeration>
      <enumeration value="d">
        <annotation>
          <documentation>6705: Drenerende</documentation>
        </annotation>
      </enumeration>
      <enumeration value="g">
        <annotation>
          <documentation>6706: Gjenbruksmasse</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekkevariantOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FibertilsetningType">
    <annotation>
      <documentation>5497: Angir evt fibertilsetning</documentation>
    </annotation>
    <union memberTypes="nvdb:FibertilsetningEnumerationType nvdb:FibertilsetningOtherType"/>
  </simpleType>
  <simpleType name="FibertilsetningEnumerationType">
    <annotation>
      <documentation>5497: Angir evt fibertilsetning</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="cellulose">
        <annotation>
          <documentation>7473: Cellulose</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mineral">
        <annotation>
          <documentation>7474: Mineral</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stål">
        <annotation>
          <documentation>7475: Stål</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FibertilsetningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ForkilingType">
    <annotation>
      <documentation>5494: Angir om det er utført forkiling</documentation>
    </annotation>
    <union memberTypes="nvdb:ForkilingEnumerationType nvdb:ForkilingOtherType"/>
  </simpleType>
  <simpleType name="ForkilingEnumerationType">
    <annotation>
      <documentation>5494: Angir om det er utført forkiling</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>7465: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11768: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ForkilingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ForseglingType">
    <annotation>
      <documentation>5491: Angir om det er utført forsegling</documentation>
    </annotation>
    <union memberTypes="nvdb:ForseglingEnumerationType nvdb:ForseglingOtherType"/>
  </simpleType>
  <simpleType name="ForseglingEnumerationType">
    <annotation>
      <documentation>5491: Angir om det er utført forsegling</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>7461: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11766: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ForseglingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ForvarmingType">
    <annotation>
      <documentation>5492: Angir om det er utført forvarming</documentation>
    </annotation>
    <union memberTypes="nvdb:ForvarmingEnumerationType nvdb:ForvarmingOtherType"/>
  </simpleType>
  <simpleType name="ForvarmingEnumerationType">
    <annotation>
      <documentation>5492: Angir om det er utført forvarming</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>7462: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11767: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ForvarmingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GummitilsetningType">
    <annotation>
      <documentation>5498: Angir evt. gummitilsetning</documentation>
    </annotation>
    <union memberTypes="nvdb:GummitilsetningEnumerationType nvdb:GummitilsetningOtherType"/>
  </simpleType>
  <simpleType name="GummitilsetningEnumerationType">
    <annotation>
      <documentation>5498: Angir evt. gummitilsetning</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="gummipulver">
        <annotation>
          <documentation>7476: Gummipulver</documentation>
        </annotation>
      </enumeration>
      <enumeration value="revetGummi">
        <annotation>
          <documentation>7477: Revet gummi</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GummitilsetningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LagtypeVegdekkeType">
    <annotation>
      <documentation>8741: Angir om vegdekke opprinnelig er lagt som bindlag eller slitelag</documentation>
    </annotation>
    <union memberTypes="nvdb:LagtypeVegdekkeEnumerationType nvdb:LagtypeVegdekkeOtherType"/>
  </simpleType>
  <simpleType name="LagtypeVegdekkeEnumerationType">
    <annotation>
      <documentation>8741: Angir om vegdekke opprinnelig er lagt som bindlag eller slitelag</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="slitelag">
        <annotation>
          <documentation>11569: Slitelag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bindlag">
        <annotation>
          <documentation>11570: Bindlag</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LagtypeVegdekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LavtemperaturasfaltType">
    <annotation>
      <documentation>10255: Angir om utlagt dekke er produsert som lavtemperaturasfalt</documentation>
    </annotation>
    <union memberTypes="nvdb:LavtemperaturasfaltEnumerationType nvdb:LavtemperaturasfaltOtherType"/>
  </simpleType>
  <simpleType name="LavtemperaturasfaltEnumerationType">
    <annotation>
      <documentation>10255: Angir om utlagt dekke er produsert som lavtemperaturasfalt</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16746: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16747: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LavtemperaturasfaltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MassetypeType">
    <annotation>
      <documentation>1216: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:MassetypeEnumerationType nvdb:MassetypeOtherType"/>
  </simpleType>
  <simpleType name="MassetypeEnumerationType">
    <annotation>
      <documentation>1216: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>3615: g</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>6958: Tynndekke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="A">
        <annotation>
          <documentation>3616: Samlebetegnelse for asfaltdekker</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Ag">
        <annotation>
          <documentation>3624: Asfaltert grus (historisk)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Sta">
        <annotation>
          <documentation>3629: Støpeasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Top">
        <annotation>
          <documentation>3636: Topeka</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Ska">
        <annotation>
          <documentation>3626: Skjelettasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Ab">
        <annotation>
          <documentation>3628: Asfaltbetong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Da">
        <annotation>
          <documentation>3627: Drensasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Agb">
        <annotation>
          <documentation>3625: Asfaltgrusbetong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Ma">
        <annotation>
          <documentation>3621: Mykasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Af">
        <annotation>
          <documentation>5282: Asfaltert finpukk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Alg">
        <annotation>
          <documentation>6710: Asfaltløsningsgrus (historisk)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Egt">
        <annotation>
          <documentation>3618: Emulsjonsgrus, tett</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Asg">
        <annotation>
          <documentation>3630: Utgår</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Og">
        <annotation>
          <documentation>5283: Oljegrus (historisk)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Eo">
        <annotation>
          <documentation>5284: Enkel overflatebehandling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Do">
        <annotation>
          <documentation>5285: Dobbel overflatebehandling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Eog">
        <annotation>
          <documentation>5286: Enkel overflatebehandling grus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Dog">
        <annotation>
          <documentation>5287: Dobbel overflatebehandling grus (historisk)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Gja">
        <annotation>
          <documentation>3632: Gjenbruksasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>5288: Forsegling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Sla">
        <annotation>
          <documentation>3634: Slamasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>3653: b</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Bu">
        <annotation>
          <documentation>3654: Betongdekke, uarmert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Vb">
        <annotation>
          <documentation>6723: Valsebetong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Be">
        <annotation>
          <documentation>5671: Betongelementer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Bs">
        <annotation>
          <documentation>3658: Belegningsstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Br">
        <annotation>
          <documentation>3659: Brostein/Gatestein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Stål">
        <annotation>
          <documentation>3959: Stålgitter (bru)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Tre">
        <annotation>
          <documentation>5281: Tre (bru)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MassetypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ModifisertBindemiddelVegdekkeType">
    <annotation>
      <documentation>5499: Angir om det er brukt modifisert bindemiddel</documentation>
    </annotation>
    <union memberTypes="nvdb:ModifisertBindemiddelVegdekkeEnumerationType nvdb:ModifisertBindemiddelVegdekkeOtherType"/>
  </simpleType>
  <simpleType name="ModifisertBindemiddelVegdekkeEnumerationType">
    <annotation>
      <documentation>5499: Angir om det er brukt modifisert bindemiddel</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>7478: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11769: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ModifisertBindemiddelVegdekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PolypropylenType">
    <annotation>
      <documentation>5500: Angir om det er benyttet polypropylen</documentation>
    </annotation>
    <union memberTypes="nvdb:PolypropylenEnumerationType nvdb:PolypropylenOtherType"/>
  </simpleType>
  <simpleType name="PolypropylenEnumerationType">
    <annotation>
      <documentation>5500: Angir om det er benyttet polypropylen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>7479: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11770: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PolypropylenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RepaverType">
    <annotation>
      <documentation>10254: «halvsålings»-metode med stedlig gjenbruk av eksisterende asfalt som det legges et tynt slitelag på (50 kg/m2). Ingen klebing da det legges varmt mot varmt.</documentation>
    </annotation>
    <union memberTypes="nvdb:RepaverEnumerationType nvdb:RepaverOtherType"/>
  </simpleType>
  <simpleType name="RepaverEnumerationType">
    <annotation>
      <documentation>10254: «halvsålings»-metode med stedlig gjenbruk av eksisterende asfalt som det legges et tynt slitelag på (50 kg/m2). Ingen klebing da det legges varmt mot varmt.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16744: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16745: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RepaverOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpesialSteinmaterialeType">
    <annotation>
      <documentation>5496: Angir bruk av evt. spesial steinmateriale</documentation>
    </annotation>
    <union memberTypes="nvdb:SpesialSteinmaterialeEnumerationType nvdb:SpesialSteinmaterialeOtherType"/>
  </simpleType>
  <simpleType name="SpesialSteinmaterialeEnumerationType">
    <annotation>
      <documentation>5496: Angir bruk av evt. spesial steinmateriale</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="slagg">
        <annotation>
          <documentation>7470: Slagg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lysStein">
        <annotation>
          <documentation>7471: Lys stein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dynagrip">
        <annotation>
          <documentation>7472: Dynagrip</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpesialSteinmaterialeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpesialasfaltType">
    <annotation>
      <documentation>5495: Angir bruk av eventuell spesialasfalt</documentation>
    </annotation>
    <union memberTypes="nvdb:SpesialasfaltEnumerationType nvdb:SpesialasfaltOtherType"/>
  </simpleType>
  <simpleType name="SpesialasfaltEnumerationType">
    <annotation>
      <documentation>5495: Angir bruk av eventuell spesialasfalt</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="asfaltertFinpukk">
        <annotation>
          <documentation>7880: Asfaltert finpukk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="chemcrete">
        <annotation>
          <documentation>7466: Chemcrete</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sipernat">
        <annotation>
          <documentation>7467: Sipernat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trinidadasf">
        <annotation>
          <documentation>7468: Trinidadasf.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gilsonite">
        <annotation>
          <documentation>7469: Gilsonite</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpesialasfaltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpesiellPlasseringType">
    <annotation>
      <documentation>5493: Angir om dekke har spesiell plassering</documentation>
    </annotation>
    <union memberTypes="nvdb:SpesiellPlasseringEnumerationType nvdb:SpesiellPlasseringOtherType"/>
  </simpleType>
  <simpleType name="SpesiellPlasseringEnumerationType">
    <annotation>
      <documentation>5493: Angir om dekke har spesiell plassering</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="påBru">
        <annotation>
          <documentation>7463: På bru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="iTunnel">
        <annotation>
          <documentation>7464: I tunnel</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpesiellPlasseringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVegdekkeType">
    <annotation>
      <documentation>8083: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligVegdekkeEnumerationType nvdb:VedlikeholdsansvarligVegdekkeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVegdekkeEnumerationType">
    <annotation>
      <documentation>8083: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10477: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18762: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19948: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18891: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10555: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10633: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17731: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVegdekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegdekke" substitutionGroup="nvdb:AbstraktVegdekke" type="nvdb:VegdekkeType">
    <annotation>
      <documentation>241: Den øverste del av overbygningen, består vanligvis av et bindlag og et slitelag. (1)</documentation>
    </annotation>
  </element>
  <complexType name="VegdekkeType">
    <complexContent>
      <extension base="nvdb:AbstraktVegdekkeType">
        <sequence>
          <element minOccurs="0" name="lagtype" type="nvdb:LagtypeVegdekkeType">
            <annotation>
              <documentation>8741: Angir om vegdekke opprinnelig er lagt som bindlag eller slitelag</documentation>
            </annotation>
          </element>
          <element name="massetype" type="nvdb:MassetypeType">
            <annotation>
              <documentation>1216: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="øvreNominelleSteinstørrelse" type="nvdb:ØvreNominelleSteinstørrelseVegdekkeType">
            <annotation>
              <documentation>2288: Angir øvre nominelle steinstørrelse for asfaltmateriale.
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element name="dekketykkelse" type="integer">
            <annotation>
              <documentation>1642: Angir representativ dekketykkelse
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element name="dekkebredde_GjSnitt" type="double">
            <annotation>
              <documentation>5135: Angir gjennomsnittlig bredde for dekket.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element name="masseforbruk" type="integer">
            <annotation>
              <documentation>5134: Angir masseforbruk i kg/kvm
Enhet: Kilo/kvadratmeter</documentation>
            </annotation>
          </element>
          <element name="dekkeleggingsdato" type="date">
            <annotation>
              <documentation>5136: Angir dato for dekkelegging.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="reseptnummer" type="string">
            <annotation>
              <documentation>11303: Gir reseptnummer for oppslag i Labsys</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="budsjett" type="nvdb:BudsjettVegdekkeType">
            <annotation>
              <documentation>5141: Angir hvilket budsjett dekkelegging går over</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>2157: Angir arealet av vegobjektet.
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spesiellPlassering" type="nvdb:SpesiellPlasseringType">
            <annotation>
              <documentation>5493: Angir om dekke har spesiell plassering</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkevariant" type="nvdb:DekkevariantType">
            <annotation>
              <documentation>5133: Angir detaljer om dekketypen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spesialasfalt" type="nvdb:SpesialasfaltType">
            <annotation>
              <documentation>5495: Angir bruk av eventuell spesialasfalt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spesialSteinmateriale" type="nvdb:SpesialSteinmaterialeType">
            <annotation>
              <documentation>5496: Angir bruk av evt. spesial steinmateriale</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lavtemperaturasfalt" type="nvdb:LavtemperaturasfaltType">
            <annotation>
              <documentation>10255: Angir om utlagt dekke er produsert som lavtemperaturasfalt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="repaver" type="nvdb:RepaverType">
            <annotation>
              <documentation>10254: «halvsålings»-metode med stedlig gjenbruk av eksisterende asfalt som det legges et tynt slitelag på (50 kg/m2). Ingen klebing da det legges varmt mot varmt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="avstrøing" type="nvdb:AvstrøingType">
            <annotation>
              <documentation>5490: Angir om det er utført avstrøing</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="forsegling" type="nvdb:ForseglingType">
            <annotation>
              <documentation>5491: Angir om det er utført forsegling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="forvarming" type="nvdb:ForvarmingType">
            <annotation>
              <documentation>5492: Angir om det er utført forvarming</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="forkiling" type="nvdb:ForkilingType">
            <annotation>
              <documentation>5494: Angir om det er utført forkiling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="anriking" type="nvdb:AnrikingType"/>
          <element minOccurs="0" name="fibertilsetning" type="nvdb:FibertilsetningType">
            <annotation>
              <documentation>5497: Angir evt fibertilsetning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gummitilsetning" type="nvdb:GummitilsetningType">
            <annotation>
              <documentation>5498: Angir evt. gummitilsetning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="modifisertBindemiddel" type="nvdb:ModifisertBindemiddelVegdekkeType">
            <annotation>
              <documentation>5499: Angir om det er brukt modifisert bindemiddel</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="polypropylen" type="nvdb:PolypropylenType">
            <annotation>
              <documentation>5500: Angir om det er benyttet polypropylen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="betongfasthet" type="nvdb:BetongfasthetType">
            <annotation>
              <documentation>5501: Angir betongfasthet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5554: Gir permanent merknad</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kostnad" type="integer">
            <annotation>
              <documentation>6874: Angir endelig kostnad for dekke.
Enhet: Kroner</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11110: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligVegdekkeType">
            <annotation>
              <documentation>8083: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4867: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8887: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegdekkePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegdekke"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekkeType">
    <annotation>
      <documentation>2288: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
    </annotation>
    <union memberTypes="nvdb:ØvreNominelleSteinstørrelseVegdekkeEnumerationType nvdb:ØvreNominelleSteinstørrelseVegdekkeOtherType"/>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekkeEnumerationType">
    <annotation>
      <documentation>2288: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="2">
        <annotation>
          <documentation>4134: 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>4135: 4</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>6726: 6</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>4136: 8</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation>4137: 11</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>4138: 12</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14">
        <annotation>
          <documentation>4139: 14</documentation>
        </annotation>
      </enumeration>
      <enumeration value="16">
        <annotation>
          <documentation>4140: 16</documentation>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>4141: 22</documentation>
        </annotation>
      </enumeration>
      <enumeration value="28">
        <annotation>
          <documentation>4142: 28</documentation>
        </annotation>
      </enumeration>
      <enumeration value="32">
        <annotation>
          <documentation>4143: 32</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
