GML/243.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AvløpTilType">
    <annotation>
      <documentation>3987: Angir hvor avløpet føres.  (Ikke aktuelt for tørrklosset)</documentation>
    </annotation>
    <union memberTypes="nvdb:AvløpTilEnumerationType nvdb:AvløpTilOtherType"/>
  </simpleType>
  <simpleType name="AvløpTilEnumerationType">
    <annotation>
      <documentation>3987: Angir hvor avløpet føres.  (Ikke aktuelt for tørrklosset)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="offentligNett">
        <annotation>
          <documentation>4996: Offentlig nett</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lukketTank">
        <annotation>
          <documentation>4997: Lukket tank</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privatNett">
        <annotation>
          <documentation>8191: Privat nett</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AvløpTilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierToalettanleggType">
    <annotation>
      <documentation>4523: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierToalettanleggEnumerationType nvdb:EierToalettanleggOtherType"/>
  </simpleType>
  <simpleType name="EierToalettanleggEnumerationType">
    <annotation>
      <documentation>4523: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>5352: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18585: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10695: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>5354: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>5353: Eier kan f.eks være bensinstasjon, kafe, gatekjøkken etc.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17594: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierToalettanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PrivatAvtaleType">
    <annotation>
      <documentation>9285: Angir om det finnes avtale med privat eier om bruk av toalett.</documentation>
    </annotation>
    <union memberTypes="nvdb:PrivatAvtaleEnumerationType nvdb:PrivatAvtaleOtherType"/>
  </simpleType>
  <simpleType name="PrivatAvtaleEnumerationType">
    <annotation>
      <documentation>9285: Angir om det finnes avtale med privat eier om bruk av toalett.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>12961: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>12962: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PrivatAvtaleOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Toalettanlegg" substitutionGroup="nvdb:AbstraktToalettanlegg" type="nvdb:ToalettanleggType">
    <annotation>
      <documentation>243: Ett eller flere rom i en bygning med ett eller flere klosett/toalettskåler/pissoarer.</documentation>
    </annotation>
  </element>
  <complexType name="ToalettanleggType">
    <complexContent>
      <extension base="nvdb:AbstraktToalettanleggType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeToalettanleggType">
            <annotation>
              <documentation>1217: Angir hvilken type toalett det er i toalettanlegget</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallKlosett" type="integer">
            <annotation>
              <documentation>2217: Angir hvor mange klosett/toalettskåler/pissoarer det finnes på toalettanlegget
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="universeltUtformet" type="nvdb:UniverseltUtformetType">
            <annotation>
              <documentation>2083: Angir om det finnes universelt utformet toalett</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="avløpTil" type="nvdb:AvløpTilType">
            <annotation>
              <documentation>3987: Angir hvor avløpet føres.  (Ikke aktuelt for tørrklosset)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="privatAvtale" type="nvdb:PrivatAvtaleType">
            <annotation>
              <documentation>9285: Angir om det finnes avtale med privat eier om bruk av toalett.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10375: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>9446: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>9448: Angir produktnavn for toalettene. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="leverandør" type="string">
            <annotation>
              <documentation>9447: Angir navn på firma som har levert vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10735: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks utfyllende informasjon om toalettanlegg. Kan f.eks være ang. tilgjengelighet, eierforhold osv</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11111: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierToalettanleggType">
            <annotation>
              <documentation>4523: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligToalettanleggType">
            <annotation>
              <documentation>5808: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4868: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFerjeleie" type="nvdb:AbstraktFerjeleiePropertyType"/>
          <element minOccurs="0" name="assosiertRasteplass" type="nvdb:AbstraktRasteplassPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTaktileIndikatorer" type="nvdb:AbstraktTaktileIndikatorerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="nvdb:AbstraktTilstandSkade_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Punkt" type="nvdb:AbstraktTilstandSkadeFU_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ToalettanleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Toalettanlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeToalettanleggType">
    <annotation>
      <documentation>1217: Angir hvilken type toalett det er i toalettanlegget</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeToalettanleggEnumerationType nvdb:TypeToalettanleggOtherType"/>
  </simpleType>
  <simpleType name="TypeToalettanleggEnumerationType">
    <annotation>
      <documentation>1217: Angir hvilken type toalett det er i toalettanlegget</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="vannklosett">
        <annotation>
          <documentation>3819: Vannklosett</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tørrklosett">
        <annotation>
          <documentation>3820: Tørrklosett</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeToalettanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UniverseltUtformetType">
    <annotation>
      <documentation>2083: Angir om det finnes universelt utformet toalett</documentation>
    </annotation>
    <union memberTypes="nvdb:UniverseltUtformetEnumerationType nvdb:UniverseltUtformetOtherType"/>
  </simpleType>
  <simpleType name="UniverseltUtformetEnumerationType">
    <annotation>
      <documentation>2083: Angir om det finnes universelt utformet toalett</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3544: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3582: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UniverseltUtformetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligToalettanleggType">
    <annotation>
      <documentation>5808: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligToalettanleggEnumerationType nvdb:VedlikeholdsansvarligToalettanleggOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligToalettanleggEnumerationType">
    <annotation>
      <documentation>5808: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>8203: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18722: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19917: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18851: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>8229: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>8255: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17696: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligToalettanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
