GML/270.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierSkråningType">
    <annotation>
      <documentation>11975: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11975</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11975</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierSkråningEnumerationType nvdb:EierSkråningOtherType"/>
  </simpleType>
  <simpleType name="EierSkråningEnumerationType">
    <annotation>
      <documentation>11975: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11975</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11975</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>20551: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20551</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20552: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20552</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20553: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20553</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20554: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20554</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20555: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20555</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20556: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20556</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSkråningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skråning" substitutionGroup="nvdb:AbstraktSkråning" type="nvdb:SkråningType">
    <annotation>
      <documentation>270: Skråflate som er dannet ut fra geologiske prosesser. Benyttes ikke i forbindelse med fylling og skjæring.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">270</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">270</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skråning</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkråningType">
    <complexContent>
      <extension base="nvdb:AbstraktSkråningType">
        <sequence>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>1381: Angir areal av skråning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1381</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>1348: Angir lengde av vegobjektet, oppgis bare hvis den avviker fra geometri/stedfesting.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1348</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeSkråningType">
            <annotation>
              <documentation>1225: Angir hvilken type skråning det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1225</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Gjennomsnitt" type="integer">
            <annotation>
              <documentation>1702: Angir gjennomsnittlig bredde av skråning. Måles parallelt med skråning på tvers av vegens lengderetning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1702</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11597: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11597</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierSkråningType">
            <annotation>
              <documentation>11975: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11975</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSkråningType">
            <annotation>
              <documentation>12004: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12004</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4877: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4877</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8890: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8890</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkråningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skråning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeSkråningType">
    <annotation>
      <documentation>1225: Angir hvilken type skråning det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1225</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1225</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSkråningEnumerationType nvdb:TypeSkråningOtherType"/>
  </simpleType>
  <simpleType name="TypeSkråningEnumerationType">
    <annotation>
      <documentation>1225: Angir hvilken type skråning det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1225</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1225</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Bergvegg">
        <annotation>
          <documentation>2586: Skråning bestående av naturlig bergvegg/skrenter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2586</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bergvegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kombinert jordskråning og bergvegg">
        <annotation>
          <documentation>2584: Skråning bestående av både jordskråning, bergvegger og skrenter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2584</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kombinert jordskråning og bergvegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jordskråning">
        <annotation>
          <documentation>2588: Naturlig jordskråning, ikke menneskeskapt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2588</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jordskråning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSkråningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkråningType">
    <annotation>
      <documentation>12004: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12004</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12004</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSkråningEnumerationType nvdb:VedlikeholdsansvarligSkråningOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkråningEnumerationType">
    <annotation>
      <documentation>12004: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12004</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12004</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>20735: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20735</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>20736: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20736</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20737: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20737</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>20738: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20739: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20739</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20740: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20740</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20741: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20741</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkråningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
