GML/274.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Blomsterbeplantning" substitutionGroup="nvdb:AbstraktBlomsterbeplantning" type="nvdb:BlomsterbeplantningType">
    <annotation>
      <documentation>274: Blomsterbeplantinger skal fremvise blomsterprakt, form, farge og duft. Det menes her planter som kommer i kategorien stauder, utplantingsplanter, løk, roser og klatreplanter.</documentation>
    </annotation>
  </element>
  <complexType name="BlomsterbeplantningType">
    <complexContent>
      <extension base="nvdb:AbstraktBlomsterbeplantningType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeBlomsterbeplantningType">
            <annotation>
              <documentation>4130: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>1383: Angir arealet av vegobjektet
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="norskNavn" type="string">
            <annotation>
              <documentation>7555: Angir norsk navn på beplantninger</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="botaniskNavn" type="string">
            <annotation>
              <documentation>7556: Angir botanisk navn på beplantninger</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sortHerkomst" type="string">
            <annotation>
              <documentation>9965: Sort er en varietet av en plante som er oppformert med bestemte egenskaper til bruk i hage, park eller landbruk. Formeres vegetativt. Herkomst angir plantenes geografiske eller genetiske opprinnelse.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="plantetidspunkt" type="integer">
            <annotation>
              <documentation>10270: Angir hvilket år området med blomsterbeplantninger ble satt i drift</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sluttdatoForGarantitid" type="date">
            <annotation>
              <documentation>10564: Angir sluttdato for garantitid</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9966: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks. ytterligere beskrivelse dersom det finnes flere arter i arealet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11112: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierBlomsterbeplantningType">
            <annotation>
              <documentation>10873: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligBlomsterbeplantningType">
            <annotation>
              <documentation>8783: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4881: Gir linje/kurve som geometrisk representerer objektet. Benyttes primært for langstrakte forekomster</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8891: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertGrøntanlegg" type="nvdb:AbstraktGrøntanleggPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="nvdb:AbstraktTrafikkdelerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="nvdb:AbstraktTilstandSkade_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkøy" type="nvdb:AbstraktTrafikkøyPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BlomsterbeplantningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Blomsterbeplantning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="EierBlomsterbeplantningType">
    <annotation>
      <documentation>10873: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierBlomsterbeplantningEnumerationType nvdb:EierBlomsterbeplantningOtherType"/>
  </simpleType>
  <simpleType name="EierBlomsterbeplantningEnumerationType">
    <annotation>
      <documentation>10873: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>17912: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18630: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>17915: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>17913: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>17914: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17916: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierBlomsterbeplantningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeBlomsterbeplantningType">
    <annotation>
      <documentation>4130: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeBlomsterbeplantningEnumerationType nvdb:TypeBlomsterbeplantningOtherType"/>
  </simpleType>
  <simpleType name="TypeBlomsterbeplantningEnumerationType">
    <annotation>
      <documentation>4130: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stauder">
        <annotation>
          <documentation>5096: Stauder er flerårige urteaktige planter som visner ned om vinteren og bryter nye skudd om våren. Unntaksvis er noen staudeslag vintergrønne. Gruppen omfatter rabattstauder, markdekkere, sukkulenter og prydgras.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="utplantningsplanter">
        <annotation>
          <documentation>5098: Utplantingsplanter er ettårige blomsterrike planter som plantes ut om våren/forsommeren for så å blomstre i hele vekstsesongen. Slike planter er skjøtselskrevende.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="løkbeplantninger">
        <annotation>
          <documentation>5099: Løbekplanter omfatter flerårige og ettårige løk og knoller. Løk har næringslager og beskyttende fortykning av grunnblad nederst på stengelen. Eksempler på løkfamilie er er hyasint-, løk-, påskelilje- og liljefamilien. Knoll er oppsvulmet rot eller stengel som inneholder opplagsnæring. Eksempler på knoller er krokus og georginer. Merknad: I tilfeller der løkplantningene er mer sporadisk spredt utover en gressplen skal det ikke registreres Blomsterbeplantninger, men Grasdekker istedet, ref. innsamlingsreglene for Blomsterbeplanininger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="roser">
        <annotation>
          <documentation>9814: Blomsterrike rosebusker fra rose-slekta som har høy prydverdi. Disse er skjøtselskrevende med tanke på gjødsling/jordforbedring, luking og  beskjæring for å oppnå rik blomstring. Buskroser tilhører kategorien busker, og skal ikke registrerer som roser. Buskroser er mer robuste roseplanter som krever tilsvarende oppfølging som busker generelt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="klatreplanter">
        <annotation>
          <documentation>9818: Klatreplanter klatrer eller slynger seg på vertikal flate (mur, gjerde, vegg, espalier), rundt stolper, søyler el.l., med eller uten hjelp. Slike planter kan ha slyngtråder, kroker, hefteskiver, luft/klatrerørtter.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sedummatter">
        <annotation>
          <documentation>16181: Sedum/bergknapp tilhører bergknappfamilien (Crassulaceae) og er sukkulente stauder med lav vekst og tykke blader. Mindre skjøtselskrevende enn vanlige stauder. Sedum utenom matter registreres som stauder.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeBlomsterbeplantningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBlomsterbeplantningType">
    <annotation>
      <documentation>8783: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligBlomsterbeplantningEnumerationType nvdb:VedlikeholdsansvarligBlomsterbeplantningOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBlomsterbeplantningEnumerationType">
    <annotation>
      <documentation>8783: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>11623: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18758: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19977: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18887: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>11621: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>11622: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17760: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBlomsterbeplantningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
