GML/276.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>276: Gir informasjon om tilstand og eventuell skade på skiltpunkt.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="SkadetypeTilstandskade, skiltpunktType">
      <annotation>
         <documentation>1229: Angir hvilken type skade det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1229</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkadetypeTilstandskade, skiltpunktEnumerationType nvdb:SkadetypeTilstandskade, skiltpunktOtherType"/>
   </simpleType>
   <simpleType name="SkadetypeTilstandskade, skiltpunktEnumerationType">
      <annotation>
         <documentation>1229: Angir hvilken type skade det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1229</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3501</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brøyteskade</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="d">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2646</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Defekt/ute av funksjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2666</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hærverk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="på">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2658</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Påkjørsel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3833</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skjevhet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ns">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3504</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stor nedsmussing</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkadetypeTilstandskade, skiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandTilstandskade, skiltpunktType">
      <annotation>
         <documentation>2270: Angir tilstand til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2270</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandTilstandskade, skiltpunktEnumerationType nvdb:TilstandTilstandskade, skiltpunktOtherType"/>
   </simpleType>
   <simpleType name="TilstandTilstandskade, skiltpunktEnumerationType">
      <annotation>
         <documentation>2270: Angir tilstand til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2270</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4633</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Funksjonell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4131</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mangler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ok">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4129</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ok</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4130</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tiltaksbehov</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandTilstandskade, skiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tilstandskade, skiltpunkt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandskade, skiltpunktType">
      <annotation>
         <documentation>276: Gir informasjon om tilstand og eventuell skade på skiltpunkt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">276</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandskade, skiltpunkt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandskade, skiltpunktType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0"
                        name="tilstand"
                        type="nvdb:TilstandTilstandskade, skiltpunktType">
                  <annotation>
                     <documentation>2270: Angir tilstand til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2270</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="skadetype"
                        type="nvdb:SkadetypeTilstandskade, skiltpunktType">
                  <annotation>
                     <documentation>1229: Angir hvilken type skade det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1229</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoKontrollert" type="date">
                  <annotation>
                     <documentation>8780: Angir dato for når kontroll ble foretatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8780</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="tiltak"
                        type="nvdb:TiltakTilstandskade, skiltpunktType">
                  <annotation>
                     <documentation>2058: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2058</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="test_Tilstandsindeks" type="double">
                  <annotation>
                     <documentation>9836: Angir tilstand. Til testformål.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9836</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Test_Tilstandsindeks</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>7856: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7856</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4882: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4882</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandskade, skiltpunktPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandskade, skiltpunkt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TiltakTilstandskade, skiltpunktType">
      <annotation>
         <documentation>2058: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2058</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TiltakTilstandskade, skiltpunktEnumerationType nvdb:TiltakTilstandskade, skiltpunktOtherType"/>
   </simpleType>
   <simpleType name="TiltakTilstandskade, skiltpunktEnumerationType">
      <annotation>
         <documentation>2058: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2058</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3709</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjernes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3494</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flyttes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3496</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forsterkes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3492</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rettes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3498</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Siktrydding</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3488</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiftes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TiltakTilstandskade, skiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
