GML/277.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>277: Gir informasjon om tilstand og eventuell skade på belysning.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="SkadetypeTilstandskade, belysningType">
      <annotation>
         <documentation>1230: Angir hvilken type skade det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1230</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkadetypeTilstandskade, belysningEnumerationType nvdb:SkadetypeTilstandskade, belysningOtherType"/>
   </simpleType>
   <simpleType name="SkadetypeTilstandskade, belysningEnumerationType">
      <annotation>
         <documentation>1230: Angir hvilken type skade det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1230</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ka">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3755</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Knust armatur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3756</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mørk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3754</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skjev mast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkadetypeTilstandskade, belysningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandTilstandskade, belysningType">
      <annotation>
         <documentation>2268: Angir tilstand til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2268</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandTilstandskade, belysningEnumerationType nvdb:TilstandTilstandskade, belysningOtherType"/>
   </simpleType>
   <simpleType name="TilstandTilstandskade, belysningEnumerationType">
      <annotation>
         <documentation>2268: Angir tilstand til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2268</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4629</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Funksjonell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4105</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mangler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ok">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4103</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ok</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4104</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tiltaksbehov</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandTilstandskade, belysningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tilstandskade, belysning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandskade, belysningType">
      <annotation>
         <documentation>277: Gir informasjon om tilstand og eventuell skade på belysning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">277</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandskade, belysning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandskade, belysningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0"
                        name="tilstand"
                        type="nvdb:TilstandTilstandskade, belysningType">
                  <annotation>
                     <documentation>2268: Angir tilstand til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2268</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="skadetype"
                        type="nvdb:SkadetypeTilstandskade, belysningType">
                  <annotation>
                     <documentation>1230: Angir hvilken type skade det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1230</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoKontrollert" type="date">
                  <annotation>
                     <documentation>8774: Angir dato for når kontroll ble foretatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8774</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tiltak" type="string">
                  <annotation>
                     <documentation>2059: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2059</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tiltakNår">
                  <annotation>
                     <documentation>2111: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2111</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>7851: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7851</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4883: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4883</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandskade, belysningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandskade, belysning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TiltakNårTilstandskade, belysningType">
      <annotation>
         <documentation>2111: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2111</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TiltakNårTilstandskade, belysningEnumerationType nvdb:TiltakNårTilstandskade, belysningOtherType"/>
   </simpleType>
   <simpleType name="TiltakNårTilstandskade, belysningEnumerationType">
      <annotation>
         <documentation>2111: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2111</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="14">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3865</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">14 dager</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3867</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3 mnd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3863</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Straks</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TiltakNårTilstandskade, belysningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
