GML/277.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="SkadetypeType">
    <annotation>
      <documentation>1230: Angir hvilken type skade det er tale om</documentation>
    </annotation>
    <union memberTypes="nvdb:SkadetypeEnumerationType nvdb:SkadetypeOtherType"/>
  </simpleType>
  <simpleType name="SkadetypeEnumerationType">
    <annotation>
      <documentation>1230: Angir hvilken type skade det er tale om</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="skjevMast">
        <annotation>
          <documentation>3754: Skjev mast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="knustArmatur">
        <annotation>
          <documentation>3755: Knust armatur</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mørk">
        <annotation>
          <documentation>3756: Mørk</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadetypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandType">
    <annotation>
      <documentation>2268: Angir tilstand til vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:TilstandEnumerationType nvdb:TilstandOtherType"/>
  </simpleType>
  <simpleType name="TilstandEnumerationType">
    <annotation>
      <documentation>2268: Angir tilstand til vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ok">
        <annotation>
          <documentation>4103: Ok</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tiltaksbehov">
        <annotation>
          <documentation>4104: Tiltaksbehov</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mangler">
        <annotation>
          <documentation>4105: Mangler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="funksjonell">
        <annotation>
          <documentation>4629: Funksjonell</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkade_Belysning" substitutionGroup="nvdb:AbstraktTilstandSkade_Belysning" type="nvdb:TilstandSkade_BelysningType">
    <annotation>
      <documentation>277: Gir informasjon om tilstand og eventuell skade på belysning.</documentation>
    </annotation>
  </element>
  <complexType name="TilstandSkade_BelysningType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkade_BelysningType">
        <sequence>
          <element minOccurs="0" name="tilstand" type="nvdb:TilstandType">
            <annotation>
              <documentation>2268: Angir tilstand til vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skadetype" type="nvdb:SkadetypeType">
            <annotation>
              <documentation>1230: Angir hvilken type skade det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>8774: Angir dato for når kontroll ble foretatt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltak" type="string">
            <annotation>
              <documentation>2059: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltakNår" type="nvdb:TiltakNårType">
            <annotation>
              <documentation>2111: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>7851: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4883: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkade_BelysningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkade_Belysning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TiltakNårType">
    <annotation>
      <documentation>2111: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
    </annotation>
    <union memberTypes="nvdb:TiltakNårEnumerationType nvdb:TiltakNårOtherType"/>
  </simpleType>
  <simpleType name="TiltakNårEnumerationType">
    <annotation>
      <documentation>2111: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="straks">
        <annotation>
          <documentation>3863: Straks</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14Dager">
        <annotation>
          <documentation>3865: 14 dager</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3Mnd">
        <annotation>
          <documentation>3867: 3 mnd</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltakNårOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
