GML/278.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DimensjonerendeBranneffektType">
    <annotation>
      <documentation>11820: Dimensjonerende branneffekt iht N500</documentation>
    </annotation>
    <union memberTypes="nvdb:DimensjonerendeBranneffektEnumerationType nvdb:DimensjonerendeBranneffektOtherType"/>
  </simpleType>
  <simpleType name="DimensjonerendeBranneffektEnumerationType">
    <annotation>
      <documentation>11820: Dimensjonerende branneffekt iht N500</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="50_MW">
        <annotation>
          <documentation>19810: 50 MW</documentation>
        </annotation>
      </enumeration>
      <enumeration value="100_MW">
        <annotation>
          <documentation>19811: 100 MW</documentation>
        </annotation>
      </enumeration>
      <enumeration value="200_MW">
        <annotation>
          <documentation>19812: 200 MW</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annenVerdi">
        <annotation>
          <documentation>19813: Annen verdi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjentVerdi">
        <annotation>
          <documentation>19814: Ukjent verdi</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DimensjonerendeBranneffektOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierVentilasjonsanleggType">
    <annotation>
      <documentation>8015: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierVentilasjonsanleggEnumerationType nvdb:EierVentilasjonsanleggOtherType"/>
  </simpleType>
  <simpleType name="EierVentilasjonsanleggEnumerationType">
    <annotation>
      <documentation>8015: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10281: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18578: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10743: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10345: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10409: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17590: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierVentilasjonsanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LokalStyringType">
    <annotation>
      <documentation>3694: Angir om det er mulighet for lokal styring</documentation>
    </annotation>
    <union memberTypes="nvdb:LokalStyringEnumerationType nvdb:LokalStyringOtherType"/>
  </simpleType>
  <simpleType name="LokalStyringEnumerationType">
    <annotation>
      <documentation>3694: Angir om det er mulighet for lokal styring</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4752: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4753: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LokalStyringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StyringFraVTSVentilasjonsanleggType">
    <annotation>
      <documentation>3757: Angir om det er mulig å styre anlegg fra VTS</documentation>
    </annotation>
    <union memberTypes="nvdb:StyringFraVTSVentilasjonsanleggEnumerationType nvdb:StyringFraVTSVentilasjonsanleggOtherType"/>
  </simpleType>
  <simpleType name="StyringFraVTSVentilasjonsanleggEnumerationType">
    <annotation>
      <documentation>3757: Angir om det er mulig å styre anlegg fra VTS</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4756: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4757: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StyringFraVTSVentilasjonsanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVentilasjonsanleggType">
    <annotation>
      <documentation>3822: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligVentilasjonsanleggEnumerationType nvdb:VedlikeholdsansvarligVentilasjonsanleggOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVentilasjonsanleggEnumerationType">
    <annotation>
      <documentation>3822: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>4864: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18703: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19900: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18832: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>4865: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17678: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVentilasjonsanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Ventilasjonsanlegg" substitutionGroup="nvdb:AbstraktVentilasjonsanlegg" type="nvdb:VentilasjonsanleggType">
    <annotation>
      <documentation>278: Anlegg for å ventilere tunneler. Merknad: Vegobjekttype skal ikke benyttes for ventilasjonsanlegg i bygninger/tekniske rom</documentation>
    </annotation>
  </element>
  <complexType name="VentilasjonsanleggType">
    <complexContent>
      <extension base="nvdb:AbstraktVentilasjonsanleggType">
        <sequence>
          <element minOccurs="0" name="dimensjonerendeBranneffekt" type="nvdb:DimensjonerendeBranneffektType">
            <annotation>
              <documentation>11820: Dimensjonerende branneffekt iht N500</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dimensjonerendeNettoSkyvkraft" type="integer">
            <annotation>
              <documentation>11821: Skyvkraften som skal til for å overvinne trykktapsbidraget fra mekaniske og de meteorologiske ventilasjonskreftene og stempeleffekt fra kjøretøyene (V520)
Enhet: Newton</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dimensjonerendeSkyvkraft" type="integer">
            <annotation>
              <documentation>11822: Dimensjonerende skyvkraft er dimensjonerende netto skyvkraft delt med en systemkoeffisient for impulsvifter (Se V520)
Enhet: Newton</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="styringFraVTS" type="nvdb:StyringFraVTSVentilasjonsanleggType">
            <annotation>
              <documentation>3757: Angir om det er mulig å styre anlegg fra VTS</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lokalStyring" type="nvdb:LokalStyringType">
            <annotation>
              <documentation>3694: Angir om det er mulighet for lokal styring</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10400: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11599: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11113: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierVentilasjonsanleggType">
            <annotation>
              <documentation>8015: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligVentilasjonsanleggType">
            <annotation>
              <documentation>3822: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4884: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8933: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VentilasjonsanleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Ventilasjonsanlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
