GML/28.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierUtemøblerType">
    <annotation>
      <documentation>9449: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:EierUtemøblerEnumerationType nvdb:EierUtemøblerOtherType"/>
  </simpleType>
  <simpleType name="EierUtemøblerEnumerationType">
    <annotation>
      <documentation>9449: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>13307: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18650: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>13308: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>13309: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>13310: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17653: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierUtemøblerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FastmontertUtemøblerType">
    <annotation>
      <documentation>9451: Angir om utemøblet er fastmontert</documentation>
    </annotation>
    <union memberTypes="nvdb:FastmontertUtemøblerEnumerationType nvdb:FastmontertUtemøblerOtherType"/>
  </simpleType>
  <simpleType name="FastmontertUtemøblerEnumerationType">
    <annotation>
      <documentation>9451: Angir om utemøblet er fastmontert</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13314: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13315: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FastmontertUtemøblerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeUtemøblerType">
    <annotation>
      <documentation>1402: Angir primær materialtype for vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeUtemøblerEnumerationType nvdb:MaterialtypeUtemøblerOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeUtemøblerEnumerationType">
    <annotation>
      <documentation>1402: Angir primær materialtype for vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="tre">
        <annotation>
          <documentation>2189: Tre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>2207: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="metall_Stål_Galvanisert">
        <annotation>
          <documentation>2230: Metall, stål, galvanisert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="naturstein">
        <annotation>
          <documentation>2254: Naturstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plast">
        <annotation>
          <documentation>2269: Plast</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeUtemøblerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingUtemøblerType">
    <annotation>
      <documentation>1602: Angir hvordan vegobjektet er overflatebehandla</documentation>
    </annotation>
    <union memberTypes="nvdb:OverflatebehandlingUtemøblerEnumerationType nvdb:OverflatebehandlingUtemøblerOtherType"/>
  </simpleType>
  <simpleType name="OverflatebehandlingUtemøblerEnumerationType">
    <annotation>
      <documentation>1602: Angir hvordan vegobjektet er overflatebehandla</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="malt">
        <annotation>
          <documentation>2154: Malt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="beiset">
        <annotation>
          <documentation>2161: Beiset</documentation>
        </annotation>
      </enumeration>
      <enumeration value="impregnert">
        <annotation>
          <documentation>2167: Impregnert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oljet">
        <annotation>
          <documentation>2173: Oljet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lakkert">
        <annotation>
          <documentation>2179: Lakkert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="emaljert">
        <annotation>
          <documentation>2180: Emaljert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ingenOverflatebehandling">
        <annotation>
          <documentation>19083: Vegobjektet har ingen overflatebehandling.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingUtemøblerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeUtemøblerType">
    <annotation>
      <documentation>1109: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeUtemøblerEnumerationType nvdb:TypeUtemøblerOtherType"/>
  </simpleType>
  <simpleType name="TypeUtemøblerEnumerationType">
    <annotation>
      <documentation>1109: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="sittegruppe">
        <annotation>
          <documentation>2518: Sittegruppe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sittegruppe_BordBenk">
        <annotation>
          <documentation>2519: Sittegruppe, bord/benk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sittegruppe_BordBenkMTak">
        <annotation>
          <documentation>2520: Sittegruppe, bord/benk m tak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sittegruppe_BordStoler">
        <annotation>
          <documentation>2521: Sittegruppe, bord/stoler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sittegruppe_BordStolerMTak">
        <annotation>
          <documentation>13316: Sittegruppe, bord/stoler m tak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="benk">
        <annotation>
          <documentation>3793: Benk</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeUtemøblerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Utemøbler" substitutionGroup="nvdb:AbstraktUtemøbler" type="nvdb:UtemøblerType">
    <annotation>
      <documentation>28: Møbler som benyttes ute i samband med vegsystemet.  Dette kan f.eks være på rasteplasser, ferjeoppstillingsplasser etc.</documentation>
    </annotation>
  </element>
  <complexType name="UtemøblerType">
    <complexContent>
      <extension base="nvdb:AbstraktUtemøblerType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeUtemøblerType">
            <annotation>
              <documentation>1109: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antall" type="integer">
            <annotation>
              <documentation>2195: Vegobjektet kan representere flere objekt av samme type.  Vi angir her hvor mange objekt dette objektet representerer.
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsavtale" type="string">
            <annotation>
              <documentation>1561: Angir arkivnummer for henvisning til eventuell vedlikeholdsavtale for vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterlagring" type="nvdb:VinterlagringUtemøblerType">
            <annotation>
              <documentation>4593: Angir om utemøbler blir vinterlagret</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="materialtype" type="nvdb:MaterialtypeUtemøblerType">
            <annotation>
              <documentation>1402: Angir primær materialtype for vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="overflatebehandling" type="nvdb:OverflatebehandlingUtemøblerType">
            <annotation>
              <documentation>1602: Angir hvordan vegobjektet er overflatebehandla</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fastmontert" type="nvdb:FastmontertUtemøblerType">
            <annotation>
              <documentation>9451: Angir om utemøblet er fastmontert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10390: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>1518: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>1441: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="leverandør" type="string">
            <annotation>
              <documentation>1478: Angir navn på firma som har levert vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11557: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11045: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierUtemøblerType">
            <annotation>
              <documentation>9449: Angir hvem som er eier av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligUtemøblerType">
            <annotation>
              <documentation>9450: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4736: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UtemøblerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Utemøbler"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligUtemøblerType">
    <annotation>
      <documentation>9450: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligUtemøblerEnumerationType nvdb:VedlikeholdsansvarligUtemøblerOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligUtemøblerEnumerationType">
    <annotation>
      <documentation>9450: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>13311: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18693: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19984: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18822: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>13313: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>13312: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17773: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligUtemøblerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VinterlagringUtemøblerType">
    <annotation>
      <documentation>4593: Angir om utemøbler blir vinterlagret</documentation>
    </annotation>
    <union memberTypes="nvdb:VinterlagringUtemøblerEnumerationType nvdb:VinterlagringUtemøblerOtherType"/>
  </simpleType>
  <simpleType name="VinterlagringUtemøblerEnumerationType">
    <annotation>
      <documentation>4593: Angir om utemøbler blir vinterlagret</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5529: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5530: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VinterlagringUtemøblerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
