GML/284.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>284: Gir informasjon om tilstand og eventuell skade på rekkverk.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="SkadetypeTilstandskade, rekkverkType">
      <annotation>
         <documentation>1235: Angir hvilken type skade det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1235</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkadetypeTilstandskade, rekkverkEnumerationType nvdb:SkadetypeTilstandskade, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="SkadetypeTilstandskade, rekkverkEnumerationType">
      <annotation>
         <documentation>1235: Angir hvilken type skade det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1235</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3502</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brøyteskade</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="d">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2647</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Defekt/ute av funksjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkadetypeTilstandskade, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandTilstandskade, rekkverkType">
      <annotation>
         <documentation>2269: Angir tilstand til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2269</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandTilstandskade, rekkverkEnumerationType nvdb:TilstandTilstandskade, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="TilstandTilstandskade, rekkverkEnumerationType">
      <annotation>
         <documentation>2269: Angir tilstand til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2269</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Funksjonell">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4631</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Funksjonell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4128</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mangler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ok">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4126</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ok</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4127</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tiltaksbehov</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandTilstandskade, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tilstandskade, rekkverk"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandskade, rekkverkType">
      <annotation>
         <documentation>284: Gir informasjon om tilstand og eventuell skade på rekkverk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">284</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandskade, rekkverk</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandskade, rekkverkType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0"
                        name="tilstand"
                        type="nvdb:TilstandTilstandskade, rekkverkType">
                  <annotation>
                     <documentation>2269: Angir tilstand til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2269</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="skadetype"
                        type="nvdb:SkadetypeTilstandskade, rekkverkType">
                  <annotation>
                     <documentation>1235: Angir hvilken type skade det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1235</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoKontrollert" type="date">
                  <annotation>
                     <documentation>8778: Angir dato for når kontroll ble foretatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8778</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="tiltak"
                        type="nvdb:TiltakTilstandskade, rekkverkType">
                  <annotation>
                     <documentation>2062: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2062</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tiltakNår">
                  <annotation>
                     <documentation>2112: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2112</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="test_Tilstandsindeks" type="double">
                  <annotation>
                     <documentation>9838: Angir tilstand. Til testformål.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9838</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Test_Tilstandsindeks</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>7854: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7854</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4886: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4886</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandskade, rekkverkPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandskade, rekkverk"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TiltakNårTilstandskade, rekkverkType">
      <annotation>
         <documentation>2112: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2112</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TiltakNårTilstandskade, rekkverkEnumerationType nvdb:TiltakNårTilstandskade, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="TiltakNårTilstandskade, rekkverkEnumerationType">
      <annotation>
         <documentation>2112: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2112</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3870</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1-2 år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="&lt;1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3887</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&lt; 1år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="&gt;2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3873</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&gt; 2år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TiltakNårTilstandskade, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TiltakTilstandskade, rekkverkType">
      <annotation>
         <documentation>2062: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2062</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TiltakTilstandskade, rekkverkEnumerationType nvdb:TiltakTilstandskade, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="TiltakTilstandskade, rekkverkEnumerationType">
      <annotation>
         <documentation>2062: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2062</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3710</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjernes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3489</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiftes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TiltakTilstandskade, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
