GML/293.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>293: Målt bredde gjeldende over en strekning. Breddemåling må være "datter" til annet vegojekt.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Breddemåling"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:BreddemålingType">
      <annotation>
         <documentation>293: Målt bredde gjeldende over en strekning. Breddemåling må være "datter" til annet vegojekt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">293</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Breddemåling</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BreddemålingType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bredde_Start" type="double">
                  <annotation>
                     <documentation>1705: Angir bredde i start av målestrekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1705</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, start</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde_Slutt" type="double">
                  <annotation>
                     <documentation>7565: Angir bredde i slutt av målestrekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7565</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, slutt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kvalitet">
                  <annotation>
                     <documentation>2110: Angir kvalitet på måling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2110</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kvalitet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="måltÅr" type="integer">
                  <annotation>
                     <documentation>10276: Angir årstall målingen er utført.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10276</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Målt år</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4892: Gir linje/kurve som geometrisk representerer objektet. Kan benyttes for arvet geoemetri fra morobjekt eller alternativt som hjelpelinje ved etablering av forekomst.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4892</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BreddemålingPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Breddemåling"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="BreddemålingKvalitetType">
      <annotation>
         <documentation>2110: Angir kvalitet på måling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2110</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kvalitet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BreddemålingKvalitetEnumerationType nvdb:BreddemålingKvalitetOtherType"/>
   </simpleType>
   <simpleType name="BreddemålingKvalitetEnumerationType">
      <annotation>
         <documentation>2110: Angir kvalitet på måling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2110</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kvalitet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="mt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4625</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Målt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4624</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skjønn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BreddemålingKvalitetOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
