GML/293.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Breddemåling" substitutionGroup="nvdb:AbstraktBreddemåling" type="nvdb:BreddemålingType">
    <annotation>
      <documentation>293: Målt bredde gjeldende over en strekning.  Breddemåling må være "datter" til annet vegojekt.</documentation>
    </annotation>
  </element>
  <complexType name="BreddemålingType">
    <complexContent>
      <extension base="nvdb:AbstraktBreddemålingType">
        <sequence>
          <element minOccurs="0" name="bredde_Start" type="double">
            <annotation>
              <documentation>1705: Angir bredde i start av målestrekning.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Slutt" type="double">
            <annotation>
              <documentation>7565: Angir bredde i slutt av målestrekning.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitet" type="nvdb:KvalitetBreddemålingType">
            <annotation>
              <documentation>2110: Angir kvalitet på måling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="måltÅr" type="integer">
            <annotation>
              <documentation>10276: Angir årstall målingen er utført</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4892: Gir koordinatsett for å avgrense vegobjektets utstrekning. Vegobjektet representeres med vegnettsgeometri på strekning mellom startpunkt og sluttpunkt. Eventuelt mellomliggende punkt benyttes for å sikre at riktig veglinje benyttes for hele strekningen</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkråning" type="nvdb:AbstraktSkråningPropertyType"/>
          <element minOccurs="0" name="assosiertKantklippareal" type="nvdb:AbstraktKantklipparealPropertyType"/>
          <element minOccurs="0" name="assosiertVoll" type="nvdb:AbstraktVollPropertyType"/>
          <element minOccurs="0" name="assosiertFyllingsskråning" type="nvdb:AbstraktFyllingsskråningPropertyType"/>
          <element minOccurs="0" name="assosiertSidearealTunnel" type="nvdb:AbstraktSidearealTunnelPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertGrøft_Åpen" type="nvdb:AbstraktGrøft_ÅpenPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="nvdb:AbstraktTrafikkdelerPropertyType"/>
          <element minOccurs="0" name="assosiertFortau" type="nvdb:AbstraktFortauPropertyType"/>
          <element minOccurs="0" name="assosiertGrasdekker" type="nvdb:AbstraktGrasdekkerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BreddemålingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Breddemåling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KvalitetBreddemålingType">
    <annotation>
      <documentation>2110: Angir kvalitet på måling</documentation>
    </annotation>
    <union memberTypes="nvdb:KvalitetBreddemålingEnumerationType nvdb:KvalitetBreddemålingOtherType"/>
  </simpleType>
  <simpleType name="KvalitetBreddemålingEnumerationType">
    <annotation>
      <documentation>2110: Angir kvalitet på måling</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="skjønn">
        <annotation>
          <documentation>4624: Skjønn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="målt">
        <annotation>
          <documentation>4625: Målt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KvalitetBreddemålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
