GML/294.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="TilstandSkade_Strekning" substitutionGroup="nvdb:AbstraktTilstandSkade_Strekning" type="nvdb:TilstandSkade_StrekningType">
    <annotation>
      <documentation>294: Gir informasjon om tilstand og eventuell skade. Normalt knyttet til et spesifikt strekningsobjekt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">294</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">294</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand/skade, strekning</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TilstandSkade_StrekningType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkade_StrekningType">
        <sequence>
          <element minOccurs="0" name="tilstand" type="nvdb:TilstandTilstandSkade_StrekningType">
            <annotation>
              <documentation>2267: Angir tilstand til vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2267</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadetype" type="string">
            <annotation>
              <documentation>1241: Angir hvilken type skade det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1241</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>8782: Angir dato for når kontroll ble foretatt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8782</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltak" type="nvdb:TiltakTilstandSkade_StrekningType">
            <annotation>
              <documentation>2063: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2063</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltakNår" type="nvdb:TiltakNårTilstandSkade_StrekningType">
            <annotation>
              <documentation>2113: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2113</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="test_Tilstandsindeks" type="integer">
            <annotation>
              <documentation>9835: Angir tilstand. Til testformål.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9835</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Test_Tilstandsindeks</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>7858: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7858</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4893: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4893</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegoppmerking_Langsgående" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegoppmerking_Langsgående</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSnøskjerm" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSnøskjerm</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBremsekjegler_Snøskred" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBremsekjegler_Snøskred</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrekkerørKanal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrekkerørKanal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRasteplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRasteplass</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBergsikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBergsikring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertUndergang" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktUndergang</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVoll" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVoll</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFanggjerde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFanggjerde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkjerm" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkjerm</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkredutløsningstiltak" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkredutløsningstiltak</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStøttekonstruksjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStøttekonstruksjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRørledning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRørledning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSiktsone" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSiktsone</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKantstein" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKantstein</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGjerde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGjerde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBergrom" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBergrom</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertViltfare" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktViltfare</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkdeler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBetongutstøping" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBetongutstøping</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNaturområde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNaturområde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrær" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrær</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBusker" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBusker</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKabelbr_Uten_Stige" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKabelbr_Uten_Stige</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBlomsterbeplantning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBlomsterbeplantning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFortau" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFortau</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStøtteforbygning_Snø" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStøtteforbygning_Snø</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGrasdekker" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGrasdekker</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHydraveg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHydraveg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkredoverbygg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkredoverbygg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVannOgFrostsikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVannOgFrostsikring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBrøytestikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBrøytestikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertArmeringsnett" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktArmeringsnett</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertPlastringErosjonssikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktPlastringErosjonssikring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertViltskremmereVarslere" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktViltskremmereVarslere</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKantstolperRefleks" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKantstolperRefleks</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkøy" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkøy</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkredmagasinFanggrøft" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkredmagasinFanggrøft</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkred_VarslingOvervåkning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkred_VarslingOvervåkning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLukketRørgrøft" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLukketRørgrøft</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkade_StrekningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkade_Strekning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilstandTilstandSkade_StrekningType">
    <annotation>
      <documentation>2267: Angir tilstand til vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2267</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2267</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandTilstandSkade_StrekningEnumerationType nvdb:TilstandTilstandSkade_StrekningOtherType"/>
  </simpleType>
  <simpleType name="TilstandTilstandSkade_StrekningEnumerationType">
    <annotation>
      <documentation>2267: Angir tilstand til vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2267</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2267</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ok">
        <annotation>
          <documentation>4100: Ok</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4100</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ok</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tiltaksbehov">
        <annotation>
          <documentation>4101: Tiltaksbehov</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4101</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltaksbehov</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mangler">
        <annotation>
          <documentation>4102: Mangler</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4102</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mangler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Funksjonell">
        <annotation>
          <documentation>4628: Funksjonell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4628</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Funksjonell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandTilstandSkade_StrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkade_StrekningType">
    <annotation>
      <documentation>2113: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2113</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2113</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TiltakNårTilstandSkade_StrekningEnumerationType nvdb:TiltakNårTilstandSkade_StrekningOtherType"/>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkade_StrekningEnumerationType">
    <annotation>
      <documentation>2113: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2113</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2113</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Straks">
        <annotation>
          <documentation>3864: Straks</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3864</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Straks</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="14 dager">
        <annotation>
          <documentation>3866: 14 dager</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3866</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">14 dager</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3 mnd">
        <annotation>
          <documentation>3868: 3 mnd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3868</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3 mnd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1 år">
        <annotation>
          <documentation>3869: 1 år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3869</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1 år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1-2 år">
        <annotation>
          <documentation>3871: 1-2 år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3871</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1-2 år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&gt; 2år">
        <annotation>
          <documentation>3874: &gt; 2år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3874</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">&gt; 2år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="på sikt">
        <annotation>
          <documentation>3876: på sikt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3876</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">på sikt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkade_StrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TiltakTilstandSkade_StrekningType">
    <annotation>
      <documentation>2063: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2063</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2063</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TiltakTilstandSkade_StrekningEnumerationType nvdb:TiltakTilstandSkade_StrekningOtherType"/>
  </simpleType>
  <simpleType name="TiltakTilstandSkade_StrekningEnumerationType">
    <annotation>
      <documentation>2063: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2063</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2063</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Skiftes">
        <annotation>
          <documentation>3490: Skiftes</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3490</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiftes</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fjernes">
        <annotation>
          <documentation>3711: Fjernes</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3711</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjernes</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Utbedres på stedet">
        <annotation>
          <documentation>3862: Utbedres på stedet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3862</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utbedres på stedet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ryddes">
        <annotation>
          <documentation>5741: Ryddes</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5741</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ryddes</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltakTilstandSkade_StrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
