GML/294.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>294: Gir informasjon om tilstand og eventuell skade. Normalt knyttet til et spesifikt strekningsobjekt.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="TilstandTilstandskade, strekningType">
      <annotation>
         <documentation>2267: Angir tilstand til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2267</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandTilstandskade, strekningEnumerationType nvdb:TilstandTilstandskade, strekningOtherType"/>
   </simpleType>
   <simpleType name="TilstandTilstandskade, strekningEnumerationType">
      <annotation>
         <documentation>2267: Angir tilstand til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2267</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4628</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Funksjonell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4102</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mangler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ok">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4100</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ok</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4101</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tiltaksbehov</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandTilstandskade, strekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tilstandskade, strekning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandskade, strekningType">
      <annotation>
         <documentation>294: Gir informasjon om tilstand og eventuell skade. Normalt knyttet til et spesifikt strekningsobjekt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">294</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandskade, strekning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandskade, strekningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0"
                        name="tilstand"
                        type="nvdb:TilstandTilstandskade, strekningType">
                  <annotation>
                     <documentation>2267: Angir tilstand til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2267</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="skadetype" type="string">
                  <annotation>
                     <documentation>1241: Angir hvilken type skade det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1241</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoKontrollert" type="date">
                  <annotation>
                     <documentation>8782: Angir dato for når kontroll ble foretatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8782</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="tiltak"
                        type="nvdb:TiltakTilstandskade, strekningType">
                  <annotation>
                     <documentation>2063: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2063</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tiltakNår">
                  <annotation>
                     <documentation>2113: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2113</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="test_Tilstandsindeks" type="double">
                  <annotation>
                     <documentation>9835: Angir tilstand. Til testformål.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9835</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Test_Tilstandsindeks</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>7858: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7858</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4893: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4893</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandskade, strekningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandskade, strekning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TiltakNårTilstandskade, strekningType">
      <annotation>
         <documentation>2113: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2113</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TiltakNårTilstandskade, strekningEnumerationType nvdb:TiltakNårTilstandskade, strekningOtherType"/>
   </simpleType>
   <simpleType name="TiltakNårTilstandskade, strekningEnumerationType">
      <annotation>
         <documentation>2113: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2113</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3869</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1 år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3871</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1-2 år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3866</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">14 dager</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3868</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3 mnd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="&gt;2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3874</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&gt; 2år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ps">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3876</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">på sikt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3864</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Straks</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TiltakNårTilstandskade, strekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TiltakTilstandskade, strekningType">
      <annotation>
         <documentation>2063: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2063</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TiltakTilstandskade, strekningEnumerationType nvdb:TiltakTilstandskade, strekningOtherType"/>
   </simpleType>
   <simpleType name="TiltakTilstandskade, strekningEnumerationType">
      <annotation>
         <documentation>2063: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2063</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3711</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjernes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ry">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5741</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ryddes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3490</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiftes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="us">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3862</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utbedres på stedet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TiltakTilstandskade, strekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
