GML/297.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Kommentar" substitutionGroup="nvdb:AbstraktKommentar" type="nvdb:KommentarType">
    <annotation>
      <documentation>297: Vegobjekt beskriver spesielle forhold for det objektet det er knyttet til</documentation>
    </annotation>
  </element>
  <complexType name="KommentarType">
    <complexContent>
      <extension base="nvdb:AbstraktKommentarType">
        <sequence>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>1086: Gir beskrivelse til vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4894: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSanntidsinformasjon_Kollektivtrafikk" type="nvdb:AbstraktSanntidsinformasjon_KollektivtrafikkPropertyType"/>
          <element minOccurs="0" name="assosiertOppgravingsdata" type="nvdb:AbstraktOppgravingsdataPropertyType"/>
          <element minOccurs="0" name="assosiertFerjeoppstillingsplass" type="nvdb:AbstraktFerjeoppstillingsplassPropertyType"/>
          <element minOccurs="0" name="assosiertNedbøyningsmåling" type="nvdb:AbstraktNedbøyningsmålingPropertyType"/>
          <element minOccurs="0" name="assosiertLedelysstrekning_Optisk" type="nvdb:AbstraktLedelysstrekning_OptiskPropertyType"/>
          <element minOccurs="0" name="assosiertFylling_Volum" type="nvdb:AbstraktFylling_VolumPropertyType"/>
          <element minOccurs="0" name="assosiertDetektor_Trafikk" type="nvdb:AbstraktDetektor_TrafikkPropertyType"/>
          <element minOccurs="0" name="assosiertBelysningsstrekning" type="nvdb:AbstraktBelysningsstrekningPropertyType"/>
          <element minOccurs="0" name="assosiertVegoppmerking_Langsgående" type="nvdb:AbstraktVegoppmerking_LangsgåendePropertyType"/>
          <element minOccurs="0" name="assosiertFerjeleie" type="nvdb:AbstraktFerjeleiePropertyType"/>
          <element minOccurs="0" name="assosiertTennpunkt" type="nvdb:AbstraktTennpunktPropertyType"/>
          <element minOccurs="0" name="assosiertFordelingstavle" type="nvdb:AbstraktFordelingstavlePropertyType"/>
          <element minOccurs="0" name="assosiertUtemøbler" type="nvdb:AbstraktUtemøblerPropertyType"/>
          <element minOccurs="0" name="assosiertSnøskjerm" type="nvdb:AbstraktSnøskjermPropertyType"/>
          <element minOccurs="0" name="assosiertSkredsikring_Bremsekjegler" type="nvdb:AbstraktSkredsikring_BremsekjeglerPropertyType"/>
          <element minOccurs="0" name="assosiertParkeringsområde" type="nvdb:AbstraktParkeringsområdePropertyType"/>
          <element minOccurs="0" name="assosiertBærelag" type="nvdb:AbstraktBærelagPropertyType"/>
          <element minOccurs="0" name="assosiertSkråning" type="nvdb:AbstraktSkråningPropertyType"/>
          <element minOccurs="0" name="assosiertKantklippareal" type="nvdb:AbstraktKantklipparealPropertyType"/>
          <element minOccurs="0" name="assosiertVegstengning" type="nvdb:AbstraktVegstengningPropertyType"/>
          <element minOccurs="0" name="assosiertTrekkerørKanal" type="nvdb:AbstraktTrekkerørKanalPropertyType"/>
          <element minOccurs="0" name="assosiertTunnel" type="nvdb:AbstraktTunnelPropertyType"/>
          <element minOccurs="0" name="assosiertRasteplass" type="nvdb:AbstraktRasteplassPropertyType"/>
          <element minOccurs="0" name="assosiertStrøsandkasse" type="nvdb:AbstraktStrøsandkassePropertyType"/>
          <element minOccurs="0" name="assosiertKabel" type="nvdb:AbstraktKabelPropertyType"/>
          <element minOccurs="0" name="assosiertSnøIsrydding" type="nvdb:AbstraktSnøIsryddingPropertyType"/>
          <element minOccurs="0" name="assosiertGravetillatelse" type="nvdb:AbstraktGravetillatelsePropertyType"/>
          <element minOccurs="0" name="assosiertKamera" type="nvdb:AbstraktKameraPropertyType"/>
          <element minOccurs="0" name="assosiertSykkelrute_HovednettByTettsted" type="nvdb:AbstraktSykkelrute_HovednettByTettstedPropertyType"/>
          <element minOccurs="0" name="assosiertBergsikring" type="nvdb:AbstraktBergsikringPropertyType"/>
          <element minOccurs="0" name="assosiertForkjørsveg" type="nvdb:AbstraktForkjørsvegPropertyType"/>
          <element minOccurs="0" name="assosiertUndergang" type="nvdb:AbstraktUndergangPropertyType"/>
          <element minOccurs="0" name="assosiertFremmedeArter" type="nvdb:AbstraktFremmedeArterPropertyType"/>
          <element minOccurs="0" name="assosiertVoll" type="nvdb:AbstraktVollPropertyType"/>
          <element minOccurs="0" name="assosiertTelehiv" type="nvdb:AbstraktTelehivPropertyType"/>
          <element minOccurs="0" name="assosiertSkiltportal" type="nvdb:AbstraktSkiltportalPropertyType"/>
          <element minOccurs="0" name="assosiertVegbredde" type="nvdb:AbstraktVegbreddePropertyType"/>
          <element minOccurs="0" name="assosiertStrørode" type="nvdb:AbstraktStrørodePropertyType"/>
          <element minOccurs="0" name="assosiertTrekkekum" type="nvdb:AbstraktTrekkekumPropertyType"/>
          <element minOccurs="0" name="assosiertTuristveg" type="nvdb:AbstraktTuristvegPropertyType"/>
          <element minOccurs="0" name="assosiertOppgravingslag" type="nvdb:AbstraktOppgravingslagPropertyType"/>
          <element minOccurs="0" name="assosiertTaljerLøfteutstyr" type="nvdb:AbstraktTaljerLøfteutstyrPropertyType"/>
          <element minOccurs="0" name="assosiertRist" type="nvdb:AbstraktRistPropertyType"/>
          <element minOccurs="0" name="assosiertKalksementpeler" type="nvdb:AbstraktKalksementpelerPropertyType"/>
          <element minOccurs="0" name="assosiertSkiltpunkt" type="nvdb:AbstraktSkiltpunktPropertyType"/>
          <element minOccurs="0" name="assosiertVinterdriftsstrategi" type="nvdb:AbstraktVinterdriftsstrategiPropertyType"/>
          <element minOccurs="0" name="assosiertFanggjerde" type="nvdb:AbstraktFanggjerdePropertyType"/>
          <element minOccurs="0" name="assosiertFyllingsskråning" type="nvdb:AbstraktFyllingsskråningPropertyType"/>
          <element minOccurs="0" name="assosiertVærrelatertStrekning" type="nvdb:AbstraktVærrelatertStrekningPropertyType"/>
          <element minOccurs="0" name="assosiertStøtpute" type="nvdb:AbstraktStøtputePropertyType"/>
          <element minOccurs="0" name="assosiertTunnelløp" type="nvdb:AbstraktTunnelløpPropertyType"/>
          <element minOccurs="0" name="assosiertGjerdeport" type="nvdb:AbstraktGjerdeportPropertyType"/>
          <element minOccurs="0" name="assosiertRenovasjon" type="nvdb:AbstraktRenovasjonPropertyType"/>
          <element minOccurs="0" name="assosiertDekketilstandsmåling" type="nvdb:AbstraktDekketilstandsmålingPropertyType"/>
          <element minOccurs="0" name="assosiertAvkjørsel_Holdningsklasse" type="nvdb:AbstraktAvkjørsel_HoldningsklassePropertyType"/>
          <element minOccurs="0" name="assosiertForbikjøringsstrekning" type="nvdb:AbstraktForbikjøringsstrekningPropertyType"/>
          <element minOccurs="0" name="assosiertTaktileIndikatorer" type="nvdb:AbstraktTaktileIndikatorerPropertyType"/>
          <element minOccurs="0" name="assosiertNedføringsrenne" type="nvdb:AbstraktNedføringsrennePropertyType"/>
          <element minOccurs="0" name="assosiertMotorveg" type="nvdb:AbstraktMotorvegPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkulykke" type="nvdb:AbstraktTrafikkulykkePropertyType"/>
          <element minOccurs="0" name="assosiertGrøft_Åpen" type="nvdb:AbstraktGrøft_ÅpenPropertyType"/>
          <element minOccurs="0" name="assosiertVegstandard" type="nvdb:AbstraktVegstandardPropertyType"/>
          <element minOccurs="0" name="assosiertFerjesamband" type="nvdb:AbstraktFerjesambandPropertyType"/>
          <element minOccurs="0" name="assosiertDøgnhvileplass" type="nvdb:AbstraktDøgnhvileplassPropertyType"/>
          <element minOccurs="0" name="assosiertPumpe" type="nvdb:AbstraktPumpePropertyType"/>
          <element minOccurs="0" name="assosiertBrøyterode" type="nvdb:AbstraktBrøyterodePropertyType"/>
          <element minOccurs="0" name="assosiertUlykkesinvolvertPerson" type="nvdb:AbstraktUlykkesinvolvertPersonPropertyType"/>
          <element minOccurs="0" name="assosiertReferansestrekning" type="nvdb:AbstraktReferansestrekningPropertyType"/>
          <element minOccurs="0" name="assosiertFerist" type="nvdb:AbstraktFeristPropertyType"/>
          <element minOccurs="0" name="assosiertSkjerm" type="nvdb:AbstraktSkjermPropertyType"/>
          <element minOccurs="0" name="assosiertPMS_Parsell" type="nvdb:AbstraktPMS_ParsellPropertyType"/>
          <element minOccurs="0" name="assosiertGangadkomst" type="nvdb:AbstraktGangadkomstPropertyType"/>
          <element minOccurs="0" name="assosiertSkredutløsningstiltak" type="nvdb:AbstraktSkredutløsningstiltakPropertyType"/>
          <element minOccurs="0" name="assosiertRømningslysstrekning" type="nvdb:AbstraktRømningslysstrekningPropertyType"/>
          <element minOccurs="0" name="assosiertLeskur" type="nvdb:AbstraktLeskurPropertyType"/>
          <element minOccurs="0" name="assosiertSkiltplate" type="nvdb:AbstraktSkiltplatePropertyType"/>
          <element minOccurs="0" name="assosiertVinterdriftsklasse" type="nvdb:AbstraktVinterdriftsklassePropertyType"/>
          <element minOccurs="0" name="assosiertKontraktsområde" type="nvdb:AbstraktKontraktsområdePropertyType"/>
          <element minOccurs="0" name="assosiertDyresperre" type="nvdb:AbstraktDyresperrePropertyType"/>
          <element minOccurs="0" name="assosiertATK_Punkt" type="nvdb:AbstraktATK_PunktPropertyType"/>
          <element minOccurs="0" name="assosiertElektriskAnlegg" type="nvdb:AbstraktElektriskAnleggPropertyType"/>
          <element minOccurs="0" name="assosiertFartsdemper" type="nvdb:AbstraktFartsdemperPropertyType"/>
          <element minOccurs="0" name="assosiertTank" type="nvdb:AbstraktTankPropertyType"/>
          <element minOccurs="0" name="assosiertArtsrikVegkant" type="nvdb:AbstraktArtsrikVegkantPropertyType"/>
          <element minOccurs="0" name="assosiertNedbøyningsmåleserie" type="nvdb:AbstraktNedbøyningsmåleseriePropertyType"/>
          <element minOccurs="0" name="assosiertPlantekasseUrne" type="nvdb:AbstraktPlantekasseUrnePropertyType"/>
          <element minOccurs="0" name="assosiertTunnelløpUtenTrafikk" type="nvdb:AbstraktTunnelløpUtenTrafikkPropertyType"/>
          <element minOccurs="0" name="assosiertSignalanlegg" type="nvdb:AbstraktSignalanleggPropertyType"/>
          <element minOccurs="0" name="assosiertSikringsbolt" type="nvdb:AbstraktSikringsboltPropertyType"/>
          <element minOccurs="0" name="assosiertBassengMagasin" type="nvdb:AbstraktBassengMagasinPropertyType"/>
          <element minOccurs="0" name="assosiertStøttekonstruksjon" type="nvdb:AbstraktStøttekonstruksjonPropertyType"/>
          <element minOccurs="0" name="assosiertKontrollVeieplass" type="nvdb:AbstraktKontrollVeieplassPropertyType"/>
          <element minOccurs="0" name="assosiertVentilasjonsanlegg" type="nvdb:AbstraktVentilasjonsanleggPropertyType"/>
          <element minOccurs="0" name="assosiertFriksjonsforbedring" type="nvdb:AbstraktFriksjonsforbedringPropertyType"/>
          <element minOccurs="0" name="assosiertToalettanlegg" type="nvdb:AbstraktToalettanleggPropertyType"/>
          <element minOccurs="0" name="assosiertFrostsikringslag" type="nvdb:AbstraktFrostsikringslagPropertyType"/>
          <element minOccurs="0" name="assosiertSykkelrute_TurFritid" type="nvdb:AbstraktSykkelrute_TurFritidPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikanttilbud" type="nvdb:AbstraktTrafikanttilbudPropertyType"/>
          <element minOccurs="0" name="assosiertVegskulderVegkant" type="nvdb:AbstraktVegskulderVegkantPropertyType"/>
          <element minOccurs="0" name="assosiertSkredpunkt" type="nvdb:AbstraktSkredpunktPropertyType"/>
          <element minOccurs="0" name="assosiertKabelgrøft" type="nvdb:AbstraktKabelgrøftPropertyType"/>
          <element minOccurs="0" name="assosiertGangfelt" type="nvdb:AbstraktGangfeltPropertyType"/>
          <element minOccurs="0" name="assosiertReferansestolpe" type="nvdb:AbstraktReferansestolpePropertyType"/>
          <element minOccurs="0" name="assosiertRørledning" type="nvdb:AbstraktRørledningPropertyType"/>
          <element minOccurs="0" name="assosiertUlykkesinvolvertEnhet" type="nvdb:AbstraktUlykkesinvolvertEnhetPropertyType"/>
          <element minOccurs="0" name="assosiertRekkverksende" type="nvdb:AbstraktRekkverksendePropertyType"/>
          <element minOccurs="0" name="assosiertSiktsone" type="nvdb:AbstraktSiktsonePropertyType"/>
          <element minOccurs="0" name="assosiertVegnormalstrekning" type="nvdb:AbstraktVegnormalstrekningPropertyType"/>
          <element minOccurs="0" name="assosiertFeierode" type="nvdb:AbstraktFeierodePropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkspeil" type="nvdb:AbstraktTrafikkspeilPropertyType"/>
          <element minOccurs="0" name="assosiertKantstein" type="nvdb:AbstraktKantsteinPropertyType"/>
          <element minOccurs="0" name="assosiertSignalpunkt" type="nvdb:AbstraktSignalpunktPropertyType"/>
          <element minOccurs="0" name="assosiertStativForTuristinfo" type="nvdb:AbstraktStativForTuristinfoPropertyType"/>
          <element minOccurs="0" name="assosiertTrapp" type="nvdb:AbstraktTrappPropertyType"/>
          <element minOccurs="0" name="assosiertJernbanekryssing" type="nvdb:AbstraktJernbanekryssingPropertyType"/>
          <element minOccurs="0" name="assosiertPolitidistrikt" type="nvdb:AbstraktPolitidistriktPropertyType"/>
          <element minOccurs="0" name="assosiertSkred" type="nvdb:AbstraktSkredPropertyType"/>
          <element minOccurs="0" name="assosiertStandardklasse" type="nvdb:AbstraktStandardklassePropertyType"/>
          <element minOccurs="0" name="assosiertGjerde" type="nvdb:AbstraktGjerdePropertyType"/>
          <element minOccurs="0" name="assosiertGrøntanlegg" type="nvdb:AbstraktGrøntanleggPropertyType"/>
          <element minOccurs="0" name="assosiertBergrom" type="nvdb:AbstraktBergromPropertyType"/>
          <element minOccurs="0" name="assosiertBreddemåling" type="nvdb:AbstraktBreddemålingPropertyType"/>
          <element minOccurs="0" name="assosiertSignalhode" type="nvdb:AbstraktSignalhodePropertyType"/>
          <element minOccurs="0" name="assosiertAvkjørsel" type="nvdb:AbstraktAvkjørselPropertyType"/>
          <element minOccurs="0" name="assosiertViltfare" type="nvdb:AbstraktViltfarePropertyType"/>
          <element minOccurs="0" name="assosiertSkjæring" type="nvdb:AbstraktSkjæringPropertyType"/>
          <element minOccurs="0" name="assosiertVindmåler" type="nvdb:AbstraktVindmålerPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="nvdb:AbstraktTrafikkdelerPropertyType"/>
          <element minOccurs="0" name="assosiertNødutgang" type="nvdb:AbstraktNødutgangPropertyType"/>
          <element minOccurs="0" name="assosiertStreknings_ATK" type="nvdb:AbstraktStreknings_ATKPropertyType"/>
          <element minOccurs="0" name="assosiertTunnelportal" type="nvdb:AbstraktTunnelportalPropertyType"/>
          <element minOccurs="0" name="assosiertFartsgrense" type="nvdb:AbstraktFartsgrensePropertyType"/>
          <element minOccurs="0" name="assosiertBetongutstøping" type="nvdb:AbstraktBetongutstøpingPropertyType"/>
          <element minOccurs="0" name="assosiertSiktmåler" type="nvdb:AbstraktSiktmålerPropertyType"/>
          <element minOccurs="0" name="assosiertNaturområde" type="nvdb:AbstraktNaturområdePropertyType"/>
          <element minOccurs="0" name="assosiertPortDør" type="nvdb:AbstraktPortDørPropertyType"/>
          <element minOccurs="0" name="assosiertKlimaanlegg" type="nvdb:AbstraktKlimaanleggPropertyType"/>
          <element minOccurs="0" name="assosiertSnuplass" type="nvdb:AbstraktSnuplassPropertyType"/>
          <element minOccurs="0" name="assosiertTrær" type="nvdb:AbstraktTrærPropertyType"/>
          <element minOccurs="0" name="assosiertByggegrense" type="nvdb:AbstraktByggegrensePropertyType"/>
          <element minOccurs="0" name="assosiertVegkryss" type="nvdb:AbstraktVegkryssPropertyType"/>
          <element minOccurs="0" name="assosiertTEN_TVeg" type="nvdb:AbstraktTEN_TVegPropertyType"/>
          <element minOccurs="0" name="assosiertBusker" type="nvdb:AbstraktBuskerPropertyType"/>
          <element minOccurs="0" name="assosiertTverrprofil" type="nvdb:AbstraktTverrprofilPropertyType"/>
          <element minOccurs="0" name="assosiertService" type="nvdb:AbstraktServicePropertyType"/>
          <element minOccurs="0" name="assosiertKabelbr_Uten_Stige" type="nvdb:AbstraktKabelbr_Uten_StigePropertyType"/>
          <element minOccurs="0" name="assosiertBlomsterbeplantning" type="nvdb:AbstraktBlomsterbeplantningPropertyType"/>
          <element minOccurs="0" name="assosiertReisetidsregistreringspunkt" type="nvdb:AbstraktReisetidsregistreringspunktPropertyType"/>
          <element minOccurs="0" name="assosiertVegbom" type="nvdb:AbstraktVegbomPropertyType"/>
          <element minOccurs="0" name="assosiertPumpestasjon" type="nvdb:AbstraktPumpestasjonPropertyType"/>
          <element minOccurs="0" name="assosiertVariabeltSkilt" type="nvdb:AbstraktVariabeltSkiltPropertyType"/>
          <element minOccurs="0" name="assosiertKolonnestrekning" type="nvdb:AbstraktKolonnestrekningPropertyType"/>
          <element minOccurs="0" name="assosiertJevnhetsmåling_AvledaPr20M" type="nvdb:AbstraktJevnhetsmåling_AvledaPr20MPropertyType"/>
          <element minOccurs="0" name="assosiertSykkelfelt" type="nvdb:AbstraktSykkelfeltPropertyType"/>
          <element minOccurs="0" name="assosiertFortau" type="nvdb:AbstraktFortauPropertyType"/>
          <element minOccurs="0" name="assosiertSpormåling_AvledaPr20M" type="nvdb:AbstraktSpormåling_AvledaPr20MPropertyType"/>
          <element minOccurs="0" name="assosiertLandbruksvegklasse" type="nvdb:AbstraktLandbruksvegklassePropertyType"/>
          <element minOccurs="0" name="assosiertVegoppmerking_Tverrgående" type="nvdb:AbstraktVegoppmerking_TverrgåendePropertyType"/>
          <element minOccurs="0" name="assosiertNedsenkaKantstein" type="nvdb:AbstraktNedsenkaKantsteinPropertyType"/>
          <element minOccurs="0" name="assosiertBomstasjon" type="nvdb:AbstraktBomstasjonPropertyType"/>
          <element minOccurs="0" name="assosiertATK_Influensstrekning" type="nvdb:AbstraktATK_InfluensstrekningPropertyType"/>
          <element minOccurs="0" name="assosiertVannOgFrostsikring" type="nvdb:AbstraktVannOgFrostsikringPropertyType"/>
          <element minOccurs="0" name="assosiertForsterkningslag" type="nvdb:AbstraktForsterkningslagPropertyType"/>
          <element minOccurs="0" name="assosiertVegdekke" type="nvdb:AbstraktVegdekkePropertyType"/>
          <element minOccurs="0" name="assosiertSkredoverbygg" type="nvdb:AbstraktSkredoverbyggPropertyType"/>
          <element minOccurs="0" name="assosiertKum" type="nvdb:AbstraktKumPropertyType"/>
          <element minOccurs="0" name="assosiertHoldeplassutrustning" type="nvdb:AbstraktHoldeplassutrustningPropertyType"/>
          <element minOccurs="0" name="assosiertHydraveg" type="nvdb:AbstraktHydravegPropertyType"/>
          <element minOccurs="0" name="assosiertVegminne" type="nvdb:AbstraktVegminnePropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkmengde" type="nvdb:AbstraktTrafikkmengdePropertyType"/>
          <element minOccurs="0" name="assosiertGatevarme" type="nvdb:AbstraktGatevarmePropertyType"/>
          <element minOccurs="0" name="assosiertGrasdekker" type="nvdb:AbstraktGrasdekkerPropertyType"/>
          <element minOccurs="0" name="assosiertSkredsikring_Forbygning" type="nvdb:AbstraktSkredsikring_ForbygningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element minOccurs="0" name="assosiertSykkeltilbud_Riksvegrute" type="nvdb:AbstraktSykkeltilbud_RiksvegrutePropertyType"/>
          <element minOccurs="0" name="assosiertTilstandSkade_Fjellskjæring" type="nvdb:AbstraktTilstandSkade_FjellskjæringPropertyType"/>
          <element minOccurs="0" name="assosiertVærstasjon" type="nvdb:AbstraktVærstasjonPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkmengde_Kjørefelt" type="nvdb:AbstraktTrafikkmengde_KjørefeltPropertyType"/>
          <element minOccurs="0" name="assosiertPlastringErosjonssikring" type="nvdb:AbstraktPlastringErosjonssikringPropertyType"/>
          <element minOccurs="0" name="assosiertKollektivknutepunkt" type="nvdb:AbstraktKollektivknutepunktPropertyType"/>
          <element minOccurs="0" name="assosiertHydrant" type="nvdb:AbstraktHydrantPropertyType"/>
          <element minOccurs="0" name="assosiertBrøytestikk" type="nvdb:AbstraktBrøytestikkPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikklomme" type="nvdb:AbstraktTrafikklommePropertyType"/>
          <element minOccurs="0" name="assosiertFiberduk" type="nvdb:AbstraktFiberdukPropertyType"/>
          <element minOccurs="0" name="assosiertLekeapparat" type="nvdb:AbstraktLekeapparatPropertyType"/>
          <element minOccurs="0" name="assosiertKantstolperRefleks" type="nvdb:AbstraktKantstolperRefleksPropertyType"/>
          <element minOccurs="0" name="assosiertKunstUtsmykking" type="nvdb:AbstraktKunstUtsmykkingPropertyType"/>
          <element minOccurs="0" name="assosiertLysarmatur" type="nvdb:AbstraktLysarmaturPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkregistreringsstasjon" type="nvdb:AbstraktTrafikkregistreringsstasjonPropertyType"/>
          <element minOccurs="0" name="assosiertSkredmagasinFanggrøft" type="nvdb:AbstraktSkredmagasinFanggrøftPropertyType"/>
          <element minOccurs="0" name="assosiertLysmast" type="nvdb:AbstraktLysmastPropertyType"/>
          <element minOccurs="0" name="assosiertHøydemåling" type="nvdb:AbstraktHøydemålingPropertyType"/>
          <element minOccurs="0" name="assosiertInspeksjonsluke" type="nvdb:AbstraktInspeksjonslukePropertyType"/>
          <element minOccurs="0" name="assosiertVærutsattVeg" type="nvdb:AbstraktVærutsattVegPropertyType"/>
          <element minOccurs="0" name="assosiertTunnelport" type="nvdb:AbstraktTunnelportPropertyType"/>
          <element minOccurs="0" name="assosiertStikkrenneKulvert" type="nvdb:AbstraktStikkrenneKulvertPropertyType"/>
          <element minOccurs="0" name="assosiertSkred_VarslingOvervåkning" type="nvdb:AbstraktSkred_VarslingOvervåkningPropertyType"/>
          <element minOccurs="0" name="assosiertBygning" type="nvdb:AbstraktBygningPropertyType"/>
          <element minOccurs="0" name="assosiertHøydebegrensning" type="nvdb:AbstraktHøydebegrensningPropertyType"/>
          <element minOccurs="0" name="assosiertLukketRørgrøft" type="nvdb:AbstraktLukketRørgrøftPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkøy" type="nvdb:AbstraktTrafikkøyPropertyType"/>
          <element minOccurs="0" name="assosiertFaunapassasje" type="nvdb:AbstraktFaunapassasjePropertyType"/>
          <element minOccurs="0" name="assosiertBelysningspunkt" type="nvdb:AbstraktBelysningspunktPropertyType"/>
          <element minOccurs="0" name="assosiertRekkverk" type="nvdb:AbstraktRekkverkPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KommentarPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kommentar"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
