GML/297.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.22">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Kommentar" substitutionGroup="nvdb:AbstraktKommentar" type="nvdb:KommentarType">
    <annotation>
      <documentation>297: Vegobjekt beskriver spesielle forhold for det objektet det er knyttet til</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">297</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">297</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kommentar</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KommentarType">
    <complexContent>
      <extension base="nvdb:AbstraktKommentarType">
        <sequence>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>1086: Gir beskrivelse til vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1086</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Beskrivelse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4894: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4894</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFeierode" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFeierode</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFerist" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFerist</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFerjeleie" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFerjeleie</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFerjeoppstillingsplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFerjeoppstillingsplass</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFerjesamband" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFerjesamband</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFiberduk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFiberduk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertForbikjøringsstrekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktForbikjøringsstrekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFordelingstavle" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFordelingstavle</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertForkjørsveg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktForkjørsveg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertForsterkningslag" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktForsterkningslag</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFortau" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFortau</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFremmedeArter" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFremmedeArter</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFriksjonsforbedring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFriksjonsforbedring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFrostsikringslag" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFrostsikringslag</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFylling_Volum" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFylling_Volum</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFyllingsskråning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFyllingsskråning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGangadkomst" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGangadkomst</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGangfelt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGangfelt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGatevarme" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGatevarme</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGjerde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGjerde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGjerdeport" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGjerdeport</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGrasdekker" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGrasdekker</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGravetillatelse" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGravetillatelse</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGrøft_Åpen" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGrøft_Åpen</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGrøntanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGrøntanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHoldeplassutrustning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHoldeplassutrustning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHydrant" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHydrant</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHydraveg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHydraveg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHøydebegrensning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHøydebegrensning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHøydemåling" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHøydemåling</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertInspeksjonsluke" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktInspeksjonsluke</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertJernbanekryssing" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktJernbanekryssing</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertJevnhetsmåling_AvledaPr20M" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktJevnhetsmåling_AvledaPr20M</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKabel" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKabel</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKabelbr_Uten_Stige" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKabelbr_Uten_Stige</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKabelgrøft" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKabelgrøft</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKalksementpeler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKalksementpeler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKamera" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKamera</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKantklippareal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKantklippareal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKantstein" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKantstein</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKantstolperRefleks" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKantstolperRefleks</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKlimaanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKlimaanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKollektivknutepunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKollektivknutepunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKolonnestrekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKolonnestrekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKontraktsområde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKontraktsområde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKontrollVeieplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKontrollVeieplass</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKum" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKum</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKunstUtsmykking" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKunstUtsmykking</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLandbruksvegklasse" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLandbruksvegklasse</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLedelysstrekning_Optisk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLedelysstrekning_Optisk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLekeapparat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLekeapparat</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLeskur" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLeskur</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLukketRørgrøft" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLukketRørgrøft</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLysarmatur" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLysarmatur</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLysmast" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLysmast</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertMotorveg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktMotorveg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNaturområde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNaturområde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNedbøyningsmåleserie" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNedbøyningsmåleserie</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNedbøyningsmåling" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNedbøyningsmåling</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNedføringsrenne" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNedføringsrenne</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNedsenkaKantstein" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNedsenkaKantstein</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNødutgang" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNødutgang</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertOppgravingsdata" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktOppgravingsdata</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertOppgravingslag" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktOppgravingslag</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertParkeringsområde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktParkeringsområde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertPlantekasseUrne" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktPlantekasseUrne</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertPlastringErosjonssikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktPlastringErosjonssikring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertPMS_Parsell" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktPMS_Parsell</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertPolitidistrikt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktPolitidistrikt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertPortDør" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktPortDør</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertPumpe" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktPumpe</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertPumpestasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktPumpestasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRasteplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRasteplass</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertReferansestolpe" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktReferansestolpe</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertReferansestrekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktReferansestrekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertReisetidsregistreringspunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktReisetidsregistreringspunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRekkverk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRekkverk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRekkverksende" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRekkverksende</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRenovasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRenovasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRist" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRist</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRømningslysstrekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRømningslysstrekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRørledning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRørledning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSanntidsinformasjon_Kollektivtrafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSanntidsinformasjon_Kollektivtrafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertService" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktService</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSignalanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSignalanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSignalhode" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSignalhode</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSignalpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSignalpunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSikringsbolt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSikringsbolt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSiktmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSiktmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSiktsone" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSiktsone</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkiltplate" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkiltplate</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkiltportal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkiltportal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkiltpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkiltpunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkjerm" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkjerm</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkjæring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkjæring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkred" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkred</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkred_VarslingOvervåkning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkred_VarslingOvervåkning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkredmagasinFanggrøft" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkredmagasinFanggrøft</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkredoverbygg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkredoverbygg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkredpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkredpunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBremsekjegler_Snøskred" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkredsikring_Bremsekjegler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStøtteforbygning_Snø" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkredsikring_Forbygning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkredutløsningstiltak" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkredutløsningstiltak</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkråning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkråning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSnuplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSnuplass</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSnøIsrydding" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSnøIsrydding</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSnøskjerm" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSnøskjerm</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSpormåling_AvledaPr20M" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSpormåling_AvledaPr20M</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStandardklasse" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStandardklasse</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStativForTuristinfo" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStativForTuristinfo</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStikkrenneKulvert" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStikkrenneKulvert</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStreknings_ATK" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStreknings_ATK</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStrørode" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStrørode</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStrøsandkasse" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStrøsandkasse</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStøtpute" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStøtpute</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStøttekonstruksjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStøttekonstruksjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSykkelfelt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSykkelfelt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSykkelrute_HovednettByTettsted" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSykkelrute_HovednettByTettsted</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSykkelrute_TurFritid" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSykkelrute_TurFritid</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSykkeltilbud_Riksvegrute" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSykkeltilbud_Riksvegrute</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTaktileIndikatorer" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTaktileIndikatorer</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTaljerLøfteutstyr" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTaljerLøfteutstyr</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTank" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTank</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTelehiv" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTelehiv</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTEN_TVeg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTEN_TVeg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTennpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTennpunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTilstandSkade_Fjellskjæring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Fjellskjæring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertToalettanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktToalettanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikanttilbud" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikanttilbud</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkdeler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikklomme" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikklomme</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkmengde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkmengde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkmengde_Kjørefelt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkmengde_Kjørefelt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkregistreringsstasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkregistreringsstasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkspeil" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkspeil</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkulykke" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkulykke</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkøy" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkøy</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrapp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrapp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVærutsattVeg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVærutsattVeg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVærstasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVærstasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVærrelatertStrekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVærrelatertStrekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVoll" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVoll</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVinterdriftsstrategi" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVinterdriftsstrategi</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVinterdriftsklasse" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVinterdriftsklasse</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVindmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVindmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertViltfare" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktViltfare</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVentilasjonsanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVentilasjonsanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegstengning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegstengning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegstandard" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegstandard</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegskulderVegkant" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegskulderVegkant</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegoppmerking_Tverrgående" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegoppmerking_Tverrgående</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegoppmerking_Langsgående" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegoppmerking_Langsgående</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegnormalstrekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegnormalstrekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegminne" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegminne</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegkryss" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegkryss</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegdekke" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegdekke</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegbredde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegbredde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegbom" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegbom</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVariabeltSkilt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVariabeltSkilt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVannOgFrostsikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVannOgFrostsikring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertUtemøbler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktUtemøbler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertUndergang" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktUndergang</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertUlykkesinvolvertPerson" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktUlykkesinvolvertPerson</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertUlykkesinvolvertEnhet" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktUlykkesinvolvertEnhet</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTverrprofil" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTverrprofil</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTuristveg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTuristveg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelportal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelportal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelport" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelport</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløpUtenTrafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløpUtenTrafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnel" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnel</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrær" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrær</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrekkerørKanal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrekkerørKanal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrekkekum" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrekkekum</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFaunapassasje" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFaunapassasje</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFartsgrense" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFartsgrense</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFartsdemper" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFartsdemper</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFanggjerde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFanggjerde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertElektriskAnlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktElektriskAnlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertDøgnhvileplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDøgnhvileplass</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertDyresperre" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDyresperre</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertDetektor_Trafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDetektor_Trafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertDekketilstandsmåling" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDekketilstandsmåling</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBærelag" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBærelag</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBygning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBygning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertByggegrense" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktByggegrense</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBusker" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBusker</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBrøytestikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBrøytestikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBrøyterode" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBrøyterode</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBreddemåling" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBreddemåling</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBomstasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBomstasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBlomsterbeplantning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBlomsterbeplantning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBetongutstøping" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBetongutstøping</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBergsikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBergsikring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBergrom" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBergrom</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBelysningsstrekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBelysningsstrekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBelysningspunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBelysningspunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBassengMagasin" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBassengMagasin</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertAvkjørsel_Holdningsklasse" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktAvkjørsel_Holdningsklasse</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertAvkjørsel" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktAvkjørsel</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertATK_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktATK_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertATK_Influensstrekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktATK_Influensstrekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertArtsrikVegkant" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktArtsrikVegkant</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KommentarPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kommentar"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
