GML/30.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierVeganleggType">
    <annotation>
      <documentation>11869: Angir hvem som er prosjekteier</documentation>
    </annotation>
    <union memberTypes="nvdb:EierVeganleggEnumerationType nvdb:EierVeganleggOtherType"/>
  </simpleType>
  <simpleType name="EierVeganleggEnumerationType">
    <annotation>
      <documentation>11869: Angir hvem som er prosjekteier</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>20104: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>20105: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vikenFylkeskommune">
        <annotation>
          <documentation>20108: Viken Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="innlandetFylkeskommune">
        <annotation>
          <documentation>20106: Innlandet Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vestfoldOgTelemarkFylkeskommune">
        <annotation>
          <documentation>20103: Vestfold og Telemark Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="agderFylkeskommune">
        <annotation>
          <documentation>20102: Agder Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rogalandFylkeskommune">
        <annotation>
          <documentation>20101: Rogaland Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vestlandFylkeskommune">
        <annotation>
          <documentation>20100: Vestland Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="møreOgRomsdalFylkeskommune">
        <annotation>
          <documentation>20099: Møre og Romsdal Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trøndelagFylkeskommune">
        <annotation>
          <documentation>20098: Trøndelag Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nordlandFylkeskommune">
        <annotation>
          <documentation>20097: Nordland Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tromsOgFinnmarkFylkeskommune">
        <annotation>
          <documentation>20096: Troms og Finnmark Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="osloKommune">
        <annotation>
          <documentation>20095: Oslo Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>20107: Kommune</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierVeganleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Kategori3_LeveranseType">
    <annotation>
      <documentation>11880: Gir informasjon om hvorvidt det legges inn data for kategori 3 i NVDB</documentation>
    </annotation>
    <union memberTypes="nvdb:Kategori3_LeveranseEnumerationType nvdb:Kategori3_LeveranseOtherType"/>
  </simpleType>
  <simpleType name="Kategori3_LeveranseEnumerationType">
    <annotation>
      <documentation>11880: Gir informasjon om hvorvidt det legges inn data for kategori 3 i NVDB</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="påNivåMedObjektliste1">
        <annotation>
          <documentation>20118: Det legges inn kategori 3 data minimum på nivå med krav i Objektliste 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="delvis">
        <annotation>
          <documentation>20119: Det legges inn noe data på nivå 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tilnærmetIkke">
        <annotation>
          <documentation>20120: Bare sporadiske data blir lagt inn for lkategori 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeAvklart">
        <annotation>
          <documentation>20125: Benyttes i fase fram til det er tatt stilling til om kategori 3-data skal leveres</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Kategori3_LeveranseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MedførerVegnettsendringType">
    <annotation>
      <documentation>11871: Angir om prosjektet medfører endringer i vegnettet. Dette gjelder endring i horisontalplan, vertikalplan, vegtype, vegstatus mm</documentation>
    </annotation>
    <union memberTypes="nvdb:MedførerVegnettsendringEnumerationType nvdb:MedførerVegnettsendringOtherType"/>
  </simpleType>
  <simpleType name="MedførerVegnettsendringEnumerationType">
    <annotation>
      <documentation>11871: Angir om prosjektet medfører endringer i vegnettet. Dette gjelder endring i horisontalplan, vertikalplan, vegtype, vegstatus mm</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>20111: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>20112: Eksempelvis</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeAvklart">
        <annotation>
          <documentation>20110: Ikke avklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MedførerVegnettsendringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeProsjektType">
    <annotation>
      <documentation>1111: Angir hvilken type prosjekt dette er</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeProsjektEnumerationType nvdb:TypeProsjektOtherType"/>
  </simpleType>
  <simpleType name="TypeProsjektEnumerationType">
    <annotation>
      <documentation>1111: Angir hvilken type prosjekt dette er</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="nyVeg">
        <annotation>
          <documentation>3238: Prosjekt hvor det inngår bygging av ny veg. Deler av prosjektet kan bestå av utbedring av eksisterende anlegg.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="utbedringAvVeg">
        <annotation>
          <documentation>3239: Prosjekt for å utbedre veg. Normalt er det endring i vegens linjeføring, men for det meste innenfor eksisterende vegtrase. Eksempel  Oppgradering av veg til gitt vegnormalstandard,</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vedlikeholdstiltakVeg">
        <annotation>
          <documentation>11573: Prosjekt der det inngår avgrensa vedlikeholdstiltak knyttet til veg. Medfører normalt ikke endring av vegens linjeføring. Kan f.eks være forsterkning av veg, skifting av stikkrenner, utbedring av drenering, siktforhold mm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="anleggForGåendeSyklende">
        <annotation>
          <documentation>20132: Prosjekt for å etablere nytt anlegg for gående/syklende eller for å oppgradere eksisterende anlegg.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tunneloppgradering">
        <annotation>
          <documentation>20109: Prosjekt der det gjennomføres oppgradering/rehabilitering av tunnel.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skredsikring">
        <annotation>
          <documentation>20130: Prosjekt for å etablere ny skredsikring eller for å oppgradere eksisterende skredsikring.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegbelysning">
        <annotation>
          <documentation>20126: Prosjekt for å etablere ny vegbelysning eller for å oppgradere eksisterende vegbelysning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafikksikkerhetstiltak">
        <annotation>
          <documentation>20131: Prosjekt for å etablere nye sikringstiltak langs veg eller for større oppgradering av eksisterende. Eksempel på sikringstiltak kan være etablering av rekkverk, støtputer, mm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="signal_Skilt_Oppmerking">
        <annotation>
          <documentation>20128: Prosjekt for å etablere nye signalanlegg, skilt, oppmerking, o,l, eller for å oppgradere eksisterende</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sideanlegg">
        <annotation>
          <documentation>20127: Prosjekt for å etablere sideanlegg eller for å oppgradere eksisterende sideanlegg. Med sideanlegg menes f.eks rasteplasser, kollektivknutepunkt, holdeplasser, vektstasjoner, etc,</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grøntanlegg_Miljø">
        <annotation>
          <documentation>20129: Prosjekt for å etablere nye grøntanlegg, miljøtiltak, støyskjerming eller for å oppgradere eksisterende.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annenTypeProsjekt">
        <annotation>
          <documentation>20133: Prosjekt som kommer i annen kategori</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeProsjektOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Veganlegg" substitutionGroup="nvdb:AbstraktVeganlegg" type="nvdb:VeganleggType">
    <annotation>
      <documentation>30: Omfatter alle vegområder/traseer og tilhørende system som skal utføres i et vegprosjekt. Veganlegg i jomfruelig terreng stedfestes til vegstrekning som erstattes, evt del av veg som erstattes.</documentation>
    </annotation>
  </element>
  <complexType name="VeganleggType">
    <complexContent>
      <extension base="nvdb:AbstraktVeganleggType">
        <sequence>
          <element minOccurs="0" name="typeProsjekt" type="nvdb:TypeProsjektType">
            <annotation>
              <documentation>1111: Angir hvilken type prosjekt dette er</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1071: Angir fullstendig navn på veganlegget.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>8752: Gir kort beskrivelse av veganlegget.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="datoByggestart" type="date">
            <annotation>
              <documentation>2031: Angir startdato for bygging av veganlegget. Dato fram i tid ansees som estimert tidspunkt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="datoFerdigstilt" type="date">
            <annotation>
              <documentation>2032: Dato for ferdigstillelse av anlegget.  Dato fram i tid ansees som estimert tidtspunkt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medførerVegnettsendring" type="nvdb:MedførerVegnettsendringType">
            <annotation>
              <documentation>11871: Angir om prosjektet medfører endringer i vegnettet. Dette gjelder endring i horisontalplan, vertikalplan, vegtype, vegstatus mm</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kategori1_DatoGrunnlagLevert" type="date">
            <annotation>
              <documentation>11876: Angir dato for når grunnlag for kategori 1 data til NVDB sist ble overlevert Statens vegvesen.  Skal angis av vegeier</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kategori2_DatoOK" type="date">
            <annotation>
              <documentation>11877: Angir dato for når kategori 2-data var OK i NVDB. Legges inn av aktuell vegeier.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kategori3_Leveranse" type="nvdb:Kategori3_LeveranseType">
            <annotation>
              <documentation>11880: Gir informasjon om hvorvidt det legges inn data for kategori 3 i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadDataleveranse" type="string">
            <annotation>
              <documentation>11879: Merknad som gir informasjon omkring dataleveranser</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="linkTilProsjektinformasjon" type="string">
            <annotation>
              <documentation>11881: Gir URL til informasjonsside om veganlegget/prosjektet i vegeiers egne sytem.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11882: Gir link til arkivreferanse</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11870: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierVeganleggType">
            <annotation>
              <documentation>11869: Angir hvem som er prosjekteier</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>4738: Gir flate som  representerer objektet. Flate gir grovt omriss av ferdig anlegg.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VeganleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Veganlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
