GML/30.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.28">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierVeganleggType">
    <annotation>
      <documentation>11869: Angir hvem som er prosjekteier.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11869</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11869</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierVeganleggEnumerationType nvdb:EierVeganleggOtherType"/>
  </simpleType>
  <simpleType name="EierVeganleggEnumerationType">
    <annotation>
      <documentation>11869: Angir hvem som er prosjekteier.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11869</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11869</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>20104: Stat, Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20104</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stat, Statens vegvesen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20105: Stat, Nye Veier</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20105</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stat, Nye Veier</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Viken fylkeskommune">
        <annotation>
          <documentation>20108: Viken fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20108</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Viken fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Innlandet fylkeskommune">
        <annotation>
          <documentation>20106: Innlandet fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20106</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Innlandet fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vestfold og Telemark fylkeskommune">
        <annotation>
          <documentation>20103: Vestfold og Telemark fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20103</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vestfold og Telemark fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Agder fylkeskommune">
        <annotation>
          <documentation>20102: Agder fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20102</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Agder fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rogaland fylkeskommune">
        <annotation>
          <documentation>20101: Rogaland fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20101</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rogaland fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vestland fylkeskommune">
        <annotation>
          <documentation>20100: Vestland fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20100</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vestland fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Møre og Romsdal fylkeskommune">
        <annotation>
          <documentation>20099: Møre og Romsdal fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20099</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Møre og Romsdal fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trøndelag fylkeskommune">
        <annotation>
          <documentation>20098: Trøndelag fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20098</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trøndelag fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nordland fylkeskommune">
        <annotation>
          <documentation>20097: Nordland fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20097</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nordland fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Troms og Finnmark fylkeskommune">
        <annotation>
          <documentation>20096: Troms og Finnmark fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20096</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Troms og Finnmark fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oslo kommune">
        <annotation>
          <documentation>20095: Oslo kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20095</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oslo kommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20107: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20107</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierVeganleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Kategori3_LeveranseType">
    <annotation>
      <documentation>11880: Gir informasjon om hvorvidt det legges inn data for kategori 3 i NVDB.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11880</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11880</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kategori 3, leveranse</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Kategori3_LeveranseEnumerationType nvdb:Kategori3_LeveranseOtherType"/>
  </simpleType>
  <simpleType name="Kategori3_LeveranseEnumerationType">
    <annotation>
      <documentation>11880: Gir informasjon om hvorvidt det legges inn data for kategori 3 i NVDB.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11880</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11880</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kategori 3, leveranse</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="På nivå med Objektliste1">
        <annotation>
          <documentation>20118: Det legges inn kategori 3 data minimum på nivå med krav i Objektliste 1.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20118</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">På nivå med Objektliste1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Delvis">
        <annotation>
          <documentation>20119: Det legges inn noe data på nivå 3.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20119</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Delvis</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tilnærmet ikke">
        <annotation>
          <documentation>20120: Bare sporadiske data blir lagt inn for kategori 3.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20120</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilnærmet ikke</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke avklart">
        <annotation>
          <documentation>20125: Benyttes i fase fram til det er tatt stilling til om kategori 3-data skal leveres.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20125</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ikke avklart</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Kategori3_LeveranseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MedførerVegnettsendringType">
    <annotation>
      <documentation>11871: Angir om prosjektet medfører endringer i vegnettet. Dette gjelder endring i horisontalplan, vertikalplan, vegtype, vegstatus mm.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11871</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11871</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Medfører vegnettsendring</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MedførerVegnettsendringEnumerationType nvdb:MedførerVegnettsendringOtherType"/>
  </simpleType>
  <simpleType name="MedførerVegnettsendringEnumerationType">
    <annotation>
      <documentation>11871: Angir om prosjektet medfører endringer i vegnettet. Dette gjelder endring i horisontalplan, vertikalplan, vegtype, vegstatus mm.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11871</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11871</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Medfører vegnettsendring</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>20111: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20111</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>20112: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20112</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke avklart">
        <annotation>
          <documentation>20110: Ikke avklart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20110</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ikke avklart</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MedførerVegnettsendringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RelevantForEkomportalenVeganleggType">
    <annotation>
      <documentation>12450: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12450</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12450</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Relevant for Ekomportalen</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RelevantForEkomportalenVeganleggEnumerationType nvdb:RelevantForEkomportalenVeganleggOtherType"/>
  </simpleType>
  <simpleType name="RelevantForEkomportalenVeganleggEnumerationType">
    <annotation>
      <documentation>12450: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12450</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12450</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Relevant for Ekomportalen</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>21364: Indikerer at vegobjektet er relevant for overføring til Ekomportelen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21364</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>21365: Indikerer at vegobjektet er relevant for overføring til Ekomportelen. Klient for overføring av data fra NVDB til Ekom-portalen vil ikke kunne overføre denne forekomsten.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21365</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RelevantForEkomportalenVeganleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StatusVeganleggType">
    <annotation>
      <documentation>12021: Angir hvilken status veganlegg har. NB! Egenskapstypen har til dels sammenheng med egenskapstype 2031 "Dato byggestart" og 2032 "Dato ferdigstilt".</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12021</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12021</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Status</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StatusVeganleggEnumerationType nvdb:StatusVeganleggOtherType"/>
  </simpleType>
  <simpleType name="StatusVeganleggEnumerationType">
    <annotation>
      <documentation>12021: Angir hvilken status veganlegg har. NB! Egenskapstypen har til dels sammenheng med egenskapstype 2031 "Dato byggestart" og 2032 "Dato ferdigstilt".</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12021</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12021</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Status</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Planstadiet">
        <annotation>
          <documentation>20854: Veganlegget er på planstadiet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20854</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Planstadiet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Under bygging">
        <annotation>
          <documentation>20855: Veganlegget er under bygging</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20855</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Under bygging</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferdigstilt">
        <annotation>
          <documentation>20856: Veganlegget er ferdigstilt og satt i drift</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20856</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ferdigstilt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StatusVeganleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeProsjektType">
    <annotation>
      <documentation>1111: Angir hvilken type prosjekt dette er.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1111</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1111</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type prosjekt</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeProsjektEnumerationType nvdb:TypeProsjektOtherType"/>
  </simpleType>
  <simpleType name="TypeProsjektEnumerationType">
    <annotation>
      <documentation>1111: Angir hvilken type prosjekt dette er.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1111</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1111</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type prosjekt</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ny veg">
        <annotation>
          <documentation>3238: Prosjekt hvor det inngår bygging av ny veg. Deler av prosjektet kan bestå av utbedring av eksisterende anlegg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3238</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ny veg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Utbedring av veg">
        <annotation>
          <documentation>3239: Prosjekt for å utbedre veg. Normalt er det endring i vegens linjeføring, men for det meste innenfor eksisterende vegtrase. Eksempel: Oppgradering av veg til gitt vegnormalstandard.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3239</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utbedring av veg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vedlikeholdstiltak veg">
        <annotation>
          <documentation>11573: Prosjekt der det inngår avgrensa vedlikeholdstiltak knyttet til veg. Medfører normalt ikke endring av vegens linjeføring. Kan f.eks være forsterkning av veg, skifting av stikkrenner, utbedring av drenering, siktforhold mm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11573</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vedlikeholdstiltak veg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Anlegg for gående/syklende">
        <annotation>
          <documentation>20132: Prosjekt for å etablere nytt anlegg for gående/syklende eller for å oppgradere eksisterende anlegg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20132</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Anlegg for gående/syklende</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunneloppgradering">
        <annotation>
          <documentation>20109: Prosjekt der det gjennomføres oppgradering/rehabilitering av tunnel.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20109</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tunneloppgradering</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skredsikring">
        <annotation>
          <documentation>20130: Prosjekt for å etablere ny skredsikring eller for å oppgradere eksisterende skredsikring.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20130</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skredsikring</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegbelysning">
        <annotation>
          <documentation>20126: Prosjekt for å etablere ny vegbelysning eller for å oppgradere eksisterende vegbelysning.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20126</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegbelysning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikksikkerhetstiltak">
        <annotation>
          <documentation>20131: Prosjekt for å etablere nye sikringstiltak langs veg eller for større oppgradering av eksisterende. Eksempel på sikringstiltak kan være etablering av rekkverk, støtputer, mm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20131</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trafikksikkerhetstiltak</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, skilt, oppmerking">
        <annotation>
          <documentation>20128: Prosjekt for å etablere nye signalanlegg, skilt, oppmerking, o,l. eller for å oppgradere eksisterende.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20128</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, skilt, oppmerking</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sideanlegg">
        <annotation>
          <documentation>20127: Prosjekt for å etablere sideanlegg eller for å oppgradere eksisterende sideanlegg. Med sideanlegg menes f.eks rasteplasser, kollektivknutepunkt, holdeplasser, kontroll-/veieplasser, etc.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20127</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sideanlegg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grøntanlegg, miljø">
        <annotation>
          <documentation>20129: Prosjekt for å etablere nye grøntanlegg, miljøtiltak, støyskjerming eller for å oppgradere eksisterende.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20129</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Grøntanlegg, miljø</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen type prosjekt">
        <annotation>
          <documentation>20133: Prosjekt som kommer i annen kategori.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20133</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Annen type prosjekt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeProsjektOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Veganlegg" substitutionGroup="nvdb:AbstraktVeganlegg" type="nvdb:VeganleggType">
    <annotation>
      <documentation>30: Omfatter alle vegområder/traseer og tilhørende system som skal utføres i et vegprosjekt. Veganlegg i jomfruelig terreng stedfestes til vegstrekning som erstattes, evt del av veg som erstattes.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">30</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">30</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veganlegg</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VeganleggType">
    <complexContent>
      <extension base="nvdb:AbstraktVeganleggType">
        <sequence>
          <element minOccurs="0" name="typeProsjekt" type="nvdb:TypeProsjektType">
            <annotation>
              <documentation>1111: Angir hvilken type prosjekt dette er.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1111</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type prosjekt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1071: Angir fullstendig navn på veganlegget.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1071</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Navn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>8752: Gir kort beskrivelse av veganlegget.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8752</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Beskrivelse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="status" type="nvdb:StatusVeganleggType">
            <annotation>
              <documentation>12021: Angir hvilken status veganlegg har. NB! Egenskapstypen har til dels sammenheng med egenskapstype 2031 "Dato byggestart" og 2032 "Dato ferdigstilt".</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12021</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Status</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoByggestart" type="date">
            <annotation>
              <documentation>2031: Angir startdato for bygging av veganlegget. Dato fram i tid ansees som estimert tidspunkt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2031</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dato byggestart</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoFerdigstilt" type="date">
            <annotation>
              <documentation>2032: Dato for ferdigstillelse av anlegget.  Dato fram i tid ansees som estimert tidspunkt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2032</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dato ferdigstilt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="medførerVegnettsendring" type="nvdb:MedførerVegnettsendringType">
            <annotation>
              <documentation>11871: Angir om prosjektet medfører endringer i vegnettet. Dette gjelder endring i horisontalplan, vertikalplan, vegtype, vegstatus mm.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11871</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Medfører vegnettsendring</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kategori1_DatoGrunnlagLevert" type="date">
            <annotation>
              <documentation>11876: Angir dato for når grunnlag for kategori 1 data til NVDB sist ble overlevert Statens vegvesen.  Skal angis av vegforvalter.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11876</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kategori 1, dato grunnlag levert</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kategori1_DatoOKINVDB" type="date">
            <annotation>
              <documentation>12147: Angir dato da kategori 1 data var oppdatert og OK i NVDB. Statens vegvesen melder fra til vegforvalter. Vegforvalter legger inn informasjon.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12147</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kategori 1, dato OK i NVDB</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kategori2_DatoOK" type="date">
            <annotation>
              <documentation>11877: Angir dato for når kategori 2-data var OK i NVDB. Legges inn av aktuell vegforvalter.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11877</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kategori 2, dato OK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kategori3_Leveranse" type="nvdb:Kategori3_LeveranseType">
            <annotation>
              <documentation>11880: Gir informasjon om hvorvidt det legges inn data for kategori 3 i NVDB.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11880</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kategori 3, leveranse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadDataleveranse" type="string">
            <annotation>
              <documentation>11879: Merknad som gir informasjon omkring dataleveranser.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11879</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Merknad dataleveranse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datafangstprosjekt" type="string">
            <annotation>
              <documentation>12148: Gir informasjon om eventuelle datafangstprosjekt tilhørende veganlegget.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12148</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Datafangstprosjekt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="linkTilProsjektinformasjon" type="string">
            <annotation>
              <documentation>11881: Gir URL til informasjonsside om veganlegget/prosjektet i vegforvalters egne system.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11881</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Link til prosjektinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11882: Gir link til arkivreferanse.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11882</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Arkivreferanse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="FKBDataLevertDato" type="date">
            <annotation>
              <documentation>12056: Gir dato for når FKB-dataleveranse for veganlegget ble levert.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12056</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">FKB data levert dato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>12155: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12155</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11870: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11870</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Prosjektreferanse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="relevantForEkomportalen" type="nvdb:RelevantForEkomportalenVeganleggType">
            <annotation>
              <documentation>12450: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12450</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Relevant for Ekomportalen</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierVeganleggType">
            <annotation>
              <documentation>11869: Angir hvem som er prosjekteier.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11869</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>4738: Gir flate som representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4738</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, flate</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VeganleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Veganlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
