GML/300.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AktuellArbeidsoperasjonType">
    <annotation>
      <documentation>1243: Angir aktuelt arbeidsoperasjon for området.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1243</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1243</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Aktuell arbeidsoperasjon</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AktuellArbeidsoperasjonEnumerationType nvdb:AktuellArbeidsoperasjonOtherType"/>
  </simpleType>
  <simpleType name="AktuellArbeidsoperasjonEnumerationType">
    <annotation>
      <documentation>1243: Angir aktuelt arbeidsoperasjon for området.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1243</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1243</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Aktuell arbeidsoperasjon</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Eng/gress klippes">
        <annotation>
          <documentation>16946: Eng/gress klippes</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16946</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eng/gress klippes</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gress/kratt fjernes">
        <annotation>
          <documentation>3948: Gress/kratt fjernes</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3948</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gress/kratt fjernes</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Busker/kratt holdes nede">
        <annotation>
          <documentation>3946: Busker/kratt holdes nede</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3946</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Busker/kratt holdes nede</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Busker/kratt fjernes">
        <annotation>
          <documentation>3945: Busker/kratt fjernes</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3945</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Busker/kratt fjernes</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skog tynnes">
        <annotation>
          <documentation>3944: Skog tynnes</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3944</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skog tynnes</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skog fjernes">
        <annotation>
          <documentation>3943: Skog fjernes</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3943</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skog fjernes</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trær beskjæres">
        <annotation>
          <documentation>3947: Trær stammes opp /døde greiner fjernes på faglig riktig måte.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3947</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trær beskjæres</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Krever ikke tiltak, kun hensyn">
        <annotation>
          <documentation>16947: Krever ikke tiltak, kun hensyn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16947</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Krever ikke tiltak, kun hensyn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AktuellArbeidsoperasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierNaturområdeType">
    <annotation>
      <documentation>10876: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10876</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10876</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierNaturområdeEnumerationType nvdb:EierNaturområdeOtherType"/>
  </simpleType>
  <simpleType name="EierNaturområdeEnumerationType">
    <annotation>
      <documentation>10876: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10876</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10876</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>17927: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17927</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18553: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18553</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>17930: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17930</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>17928: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17928</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>17929: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17929</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17931: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17931</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierNaturområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FormålNaturområdeType">
    <annotation>
      <documentation>4667: Angir formål med å skjøtte området.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4667</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4667</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FormålNaturområdeEnumerationType nvdb:FormålNaturområdeOtherType"/>
  </simpleType>
  <simpleType name="FormålNaturområdeEnumerationType">
    <annotation>
      <documentation>4667: Angir formål med å skjøtte området.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4667</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4667</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Bevare naturområde/kulturlandskap">
        <annotation>
          <documentation>16255: Areal skal skjøttes for å sikre område sin egenart.  
Merknad: Områdets egenart kommer fram av egen egenskapstyp (Type)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16255</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bevare naturområde/kulturlandskap</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sikre utsikt fra vegen, sikkerhet, estetikk.">
        <annotation>
          <documentation>16240: Holde vegetasjonen nede/ jevnlig rydding av estetiske eller sikkerhetsmessige grunner. Felt med masseplanter går ofte inn her.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16240</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sikre utsikt fra vegen, sikkerhet, estetikk.</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hensyn til naboeiendom">
        <annotation>
          <documentation>5739: Holde nede vegetasjonen av hensyn til naboeiendom</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5739</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hensyn til naboeiendom</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hindre lokalt glatt veg">
        <annotation>
          <documentation>5738: Holde nede vegetasjonen for å hindre skygge på veg som kan gi is/glatt vegbane</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hindre lokalt glatt veg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Matområde, vilt">
        <annotation>
          <documentation>5740: Holde nede vegetasjonen for å hindre at vilt beiter for nær inntil vegen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5740</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Matområde, vilt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FormålNaturområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HyppighetTiltakType">
    <annotation>
      <documentation>9996: Angir hvor ofte tiltak skal gjennomføres.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9996</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9996</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Hyppighet tiltak</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HyppighetTiltakEnumerationType nvdb:HyppighetTiltakOtherType"/>
  </simpleType>
  <simpleType name="HyppighetTiltakEnumerationType">
    <annotation>
      <documentation>9996: Angir hvor ofte tiltak skal gjennomføres.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9996</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9996</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Hyppighet tiltak</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hvert år">
        <annotation>
          <documentation>16252: Hvert år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16252</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hvert år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet hvert år">
        <annotation>
          <documentation>16248: Annet hvert år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16248</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet hvert år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="To ganger i løpet av 5 år">
        <annotation>
          <documentation>16249: To ganger i løpet av 5 år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16249</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">To ganger i løpet av 5 år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="En gang i løpet av 5 år">
        <annotation>
          <documentation>16250: En gang i løpet av 5 år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16250</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">En gang i løpet av 5 år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sjeldnere enn 5 år">
        <annotation>
          <documentation>16251: Sjeldnere enn 5 år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16251</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sjeldnere enn 5 år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HyppighetTiltakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Naturområde" substitutionGroup="nvdb:AbstraktNaturområde" type="nvdb:NaturområdeType">
    <annotation>
      <documentation>300: Naturlike områder som det skal tas hensyn til og/eller krever en definert form for skjøtsel (se aktuell arbeidsoperasjon + hyppighet). Slike steder kan være spesielle siktsoner, naturtyper, opprettholdelse av skogryddingstiltak, landskapspleieområde m.m.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">300</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">300</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Naturområde</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NaturområdeType">
    <complexContent>
      <extension base="nvdb:AbstraktNaturområdeType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeNaturområdeType">
            <annotation>
              <documentation>10565: Angir hvilken type område det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10565</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="formål" type="nvdb:FormålNaturområdeType">
            <annotation>
              <documentation>4667: Angir formål med å skjøtte området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4667</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="aktuellArbeidsoperasjon" type="nvdb:AktuellArbeidsoperasjonType">
            <annotation>
              <documentation>1243: Angir aktuelt arbeidsoperasjon for området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1243</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Aktuell arbeidsoperasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hyppighetTiltak" type="nvdb:HyppighetTiltakType">
            <annotation>
              <documentation>9996: Angir hvor ofte tiltak skal gjennomføres.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9996</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Hyppighet tiltak</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>4080: Angir areal av område som skal ryddes.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4080</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avstandFraVeg" type="integer">
            <annotation>
              <documentation>4559: Angir minste avstand mellom veg og vegetasjonsområde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4559</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Avstand fra veg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9995: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks hvilken type område dette er.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9995</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>12052: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12052</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12358: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12358</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierNaturområdeType">
            <annotation>
              <documentation>10876: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10876</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4897: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4897</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10566: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10566</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGrøntanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGrøntanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Strekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Strekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkadeFU_Strekning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NaturområdePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Naturområde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeNaturområdeType">
    <annotation>
      <documentation>10565: Angir hvilken type område det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10565</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10565</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeNaturområdeEnumerationType nvdb:TypeNaturområdeOtherType"/>
  </simpleType>
  <simpleType name="TypeNaturområdeEnumerationType">
    <annotation>
      <documentation>10565: Angir hvilken type område det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10565</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10565</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Eng">
        <annotation>
          <documentation>16938: Eng består av blomstrende urter og gras. Slike områder er ikke beregnet for tråkk men skal fremstå som prydelement langs vegskråninger, vegkanter eller i kryssområde. Klippefrekvens er lav, men tilpasset frøsetting og ikke såpass lav at oppslag av kratt får dominere arealet. klippetidspunkt er med på å bestemme hvilke arter som skal vokse der.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16938</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eng</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Masseplanter">
        <annotation>
          <documentation>16939: Ungplanter, tidlig stadie av skog. Hvis denne skal tilhøre skog, bør masseplanter stå i definisjonen av skog/tregruppe.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16939</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Masseplanter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skog/tregruppe">
        <annotation>
          <documentation>16940: En gruppe eller samling trær med undervegetasjon som skal tynnes/ ryddes jevnlig for å åpne for inn- og utsyn. Består av store eller små trær, med bunnvegetasjon av gress, urter eller lavtvoksende busk-kratt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16940</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skog/tregruppe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Naturmark, impediment">
        <annotation>
          <documentation>16941: Skrinne områder med lav bonitet og mye fjell i dagen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16941</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturmark, impediment</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferksvanns-/våtmarksområder">
        <annotation>
          <documentation>16942: Viktige bekkedrag, dammer, rik kultur­landskapssjø, evjer/bukter/viker, kroksjøer/ flomdammer, kalksjøer (inkl. utvalgt naturtype), deltaområde. Se DN håndbok 13</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16942</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferksvanns-/våtmarksområder</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kulturlandsskap">
        <annotation>
          <documentation>16943: Naturbeitemark, hagemark, slåttemark (inkl. utvalgt naturtype), slåtte- og beitemyr, kantkratt. Se DN håndbok 13</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16943</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kulturlandsskap</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Verdifull naturtype">
        <annotation>
          <documentation>16945: Ensartet type natur som er verdifull og omfatter alle levende organismer (planter og dyr), og de miljøfaktorene som virker der, eller spesielle typer naturforekomster som dammer, åkerholmer eller lignende, samt spesielle typer geologiske forekomster.Kilde: Naturmangfoldloven/Artsdatabanken</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16945</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Verdifull naturtype</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeNaturområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
