GML/300.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AktuellArbeidsoperasjonType">
    <annotation>
      <documentation>1243: Angir aktuelt arbeidsoperasjon for området.</documentation>
    </annotation>
    <union memberTypes="nvdb:AktuellArbeidsoperasjonEnumerationType nvdb:AktuellArbeidsoperasjonOtherType"/>
  </simpleType>
  <simpleType name="AktuellArbeidsoperasjonEnumerationType">
    <annotation>
      <documentation>1243: Angir aktuelt arbeidsoperasjon for området.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="engGressKlippes">
        <annotation>
          <documentation>16946: Eng/gress klippes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gressKrattFjernes">
        <annotation>
          <documentation>3948: Gress/kratt fjernes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="buskerKrattHoldesNede">
        <annotation>
          <documentation>3946: Busker/kratt holdes nede</documentation>
        </annotation>
      </enumeration>
      <enumeration value="buskerKrattFjernes">
        <annotation>
          <documentation>3945: Busker/kratt fjernes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skogTynnes">
        <annotation>
          <documentation>3944: Skog tynnes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skogFjernes">
        <annotation>
          <documentation>3943: Skog fjernes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trærBeskjæres">
        <annotation>
          <documentation>3947: Trær stammes opp /døde greiner fjernes på faglig riktig måte.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kreverIkkeTiltak_KunHensyn">
        <annotation>
          <documentation>16947: Krever ikke tiltak, kun hensyn</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AktuellArbeidsoperasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierNaturområdeType">
    <annotation>
      <documentation>10876: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierNaturområdeEnumerationType nvdb:EierNaturområdeOtherType"/>
  </simpleType>
  <simpleType name="EierNaturområdeEnumerationType">
    <annotation>
      <documentation>10876: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>17927: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18553: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>17930: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>17928: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>17929: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17931: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierNaturområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FormålNaturområdeType">
    <annotation>
      <documentation>4667: Angir formål med å skjøtte området.</documentation>
    </annotation>
    <union memberTypes="nvdb:FormålNaturområdeEnumerationType nvdb:FormålNaturområdeOtherType"/>
  </simpleType>
  <simpleType name="FormålNaturområdeEnumerationType">
    <annotation>
      <documentation>4667: Angir formål med å skjøtte området.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="bevareNaturområdeKulturlandskap">
        <annotation>
          <documentation>16255: Areal skal skjøttes for å sikre område sin egenart.  
Merknad: Områdets egenart kommer fram av egen egenskapstyp (Type)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sikreUtsiktFraVegen_Sikkerhet_Estetikk">
        <annotation>
          <documentation>16240: Holde vegetasjonen nede/ jevnlig rydding av estetiske eller sikkerhetsmessige grunner. Felt med masseplanter går ofte inn her.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hensynTilNaboeiendom">
        <annotation>
          <documentation>5739: Holde nede vegetasjonen av hensyn til naboeiendom</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hindreLokaltGlattVeg">
        <annotation>
          <documentation>5738: Holde nede vegetasjonen for å hindre skygge på veg som kan gi is/glatt vegbane</documentation>
        </annotation>
      </enumeration>
      <enumeration value="matområde_Vilt">
        <annotation>
          <documentation>5740: Holde nede vegetasjonen for å hindre at vilt beiter for nær inntil vegen</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FormålNaturområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HyppighetTiltakType">
    <annotation>
      <documentation>9996: Angir hvor ofte tiltak skal gjennomføres</documentation>
    </annotation>
    <union memberTypes="nvdb:HyppighetTiltakEnumerationType nvdb:HyppighetTiltakOtherType"/>
  </simpleType>
  <simpleType name="HyppighetTiltakEnumerationType">
    <annotation>
      <documentation>9996: Angir hvor ofte tiltak skal gjennomføres</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="hvertÅr">
        <annotation>
          <documentation>16252: Hvert år</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annetHvertÅr">
        <annotation>
          <documentation>16248: Annet hvert år</documentation>
        </annotation>
      </enumeration>
      <enumeration value="toGangerILøpetAv5År">
        <annotation>
          <documentation>16249: To ganger i løpet av 5 år</documentation>
        </annotation>
      </enumeration>
      <enumeration value="enGangILøpetAv5År">
        <annotation>
          <documentation>16250: En gang i løpet av 5 år</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sjeldnereEnn5År">
        <annotation>
          <documentation>16251: Sjeldnere enn 5 år</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HyppighetTiltakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Naturområde" substitutionGroup="nvdb:AbstraktNaturområde" type="nvdb:NaturområdeType">
    <annotation>
      <documentation>300: Naturlike områder som det skal tas hensyn til og/eller krever en definert form for skjøtsel (se aktuell arbeidsoperasjon + hyppighet). Slike steder kan være spesielle siktsoner, naturtyper, opprettholdelse av skogryddingstiltak, landskapspleieområde m.m.</documentation>
    </annotation>
  </element>
  <complexType name="NaturområdeType">
    <complexContent>
      <extension base="nvdb:AbstraktNaturområdeType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeNaturområdeType">
            <annotation>
              <documentation>10565: Angir hvilken type område det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="formål" type="nvdb:FormålNaturområdeType">
            <annotation>
              <documentation>4667: Angir formål med å skjøtte området.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="aktuellArbeidsoperasjon" type="nvdb:AktuellArbeidsoperasjonType">
            <annotation>
              <documentation>1243: Angir aktuelt arbeidsoperasjon for området.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="hyppighetTiltak" type="nvdb:HyppighetTiltakType">
            <annotation>
              <documentation>9996: Angir hvor ofte tiltak skal gjennomføres</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>4080: Angir areal av område som skal ryddes.
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="avstandFraVeg" type="integer">
            <annotation>
              <documentation>4559: Angir minste avstand mellom veg og vegetasjonsområde.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9995: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks  hvilken type område dette er</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierNaturområdeType">
            <annotation>
              <documentation>10876: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4897: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10566: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertGrøntanlegg" type="nvdb:AbstraktGrøntanleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="nvdb:AbstraktTilstandSkade_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Strekning" type="nvdb:AbstraktTilstandSkadeFU_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NaturområdePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Naturområde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeNaturområdeType">
    <annotation>
      <documentation>10565: Angir hvilken type område det er tale om</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeNaturområdeEnumerationType nvdb:TypeNaturområdeOtherType"/>
  </simpleType>
  <simpleType name="TypeNaturområdeEnumerationType">
    <annotation>
      <documentation>10565: Angir hvilken type område det er tale om</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="eng">
        <annotation>
          <documentation>16938: Eng består av blomstrende urter og gras. Slike områder er ikke beregnet for tråkk men skal fremstå som prydelement langs vegskråninger, vegkanter eller i kryssområde. Klippefrekvens er lav, men tilpasset frøsetting og ikke såpass lav at oppslag av kratt får dominere arealet. klippetidspunkt er med på å bestemme hvilke arter som skal vokse der.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="masseplanter">
        <annotation>
          <documentation>16939: Ungplanter, tidlig stadie av skog. Hvis denne skal tilhøre skog, bør masseplanter stå i definisjonen av skog/tregruppe.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skogTregruppe">
        <annotation>
          <documentation>16940: En gruppe eller samling trær med undervegetasjon som skal tynnes/ ryddes jevnlig for å åpne for inn- og utsyn. Består av store eller små trær, med bunnvegetasjon av gress, urter eller lavtvoksende busk-kratt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="naturmark_Impediment">
        <annotation>
          <documentation>16941: Skrinne områder med lav bonitet og mye fjell i dagen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ferksvannsVåtmarksområder">
        <annotation>
          <documentation>16942: Viktige bekkedrag, dammer, rik kultur­landskapssjø, evjer/bukter/viker, kroksjøer/ flomdammer, kalksjøer (inkl. utvalgt naturtype), deltaområde. Se DN håndbok 13</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kulturlandsskap">
        <annotation>
          <documentation>16943: Naturbeitemark, hagemark, slåttemark (inkl. utvalgt naturtype), slåtte- og beitemyr, kantkratt. Se DN håndbok 13</documentation>
        </annotation>
      </enumeration>
      <enumeration value="verdifullNaturtype">
        <annotation>
          <documentation>16945: Ensartet type natur som er verdifull og omfatter alle levende organismer (planter og dyr), og de miljøfaktorene som virker der, eller spesielle typer naturforekomster som dammer, åkerholmer eller lignende, samt spesielle typer geologiske forekomster.Kilde: Naturmangfoldloven/Artsdatabanken</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeNaturområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
