GML/302.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>302: Gir informasjon om tilstand og eventuell skade på åpen grøft.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="SkadetypeTilstandskade, grøftType">
      <annotation>
         <documentation>2272: Angir hvilken type skade det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2272</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkadetypeTilstandskade, grøftEnumerationType nvdb:SkadetypeTilstandskade, grøftOtherType"/>
   </simpleType>
   <simpleType name="SkadetypeTilstandskade, grøftEnumerationType">
      <annotation>
         <documentation>2272: Angir hvilken type skade det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2272</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="tr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4110</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tettet pga ras</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4109</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tilgrodd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkadetypeTilstandskade, grøftOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandTilstandskade, grøftType">
      <annotation>
         <documentation>2271: Angir tilstand til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2271</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandTilstandskade, grøftEnumerationType nvdb:TilstandTilstandskade, grøftOtherType"/>
   </simpleType>
   <simpleType name="TilstandTilstandskade, grøftEnumerationType">
      <annotation>
         <documentation>2271: Angir tilstand til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2271</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4630</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Funksjonell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4108</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mangler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ok">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4106</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ok</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4107</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tiltaksbehov</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandTilstandskade, grøftOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tilstandskade, grøft"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandskade, grøftType">
      <annotation>
         <documentation>302: Gir informasjon om tilstand og eventuell skade på åpen grøft.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">302</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandskade, grøft</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandskade, grøftType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0"
                        name="tilstand"
                        type="nvdb:TilstandTilstandskade, grøftType">
                  <annotation>
                     <documentation>2271: Angir tilstand til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2271</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="skadetype"
                        type="nvdb:SkadetypeTilstandskade, grøftType">
                  <annotation>
                     <documentation>2272: Angir hvilken type skade det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2272</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoKontrollert" type="date">
                  <annotation>
                     <documentation>8776: Angir dato for når kontroll ble foretatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8776</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="tiltak"
                        type="nvdb:TiltakTilstandskade, grøftType">
                  <annotation>
                     <documentation>1244: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1244</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tiltakNår" type="string">
                  <annotation>
                     <documentation>2273: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2273</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>7853: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7853</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4899: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4899</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandskade, grøftPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandskade, grøft"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TiltakTilstandskade, grøftType">
      <annotation>
         <documentation>1244: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1244</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TiltakTilstandskade, grøftEnumerationType nvdb:TiltakTilstandskade, grøftOtherType"/>
   </simpleType>
   <simpleType name="TiltakTilstandskade, grøftEnumerationType">
      <annotation>
         <documentation>1244: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1244</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3822</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grøfterensk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TiltakTilstandskade, grøftOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
