GML/302.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="SkadetypeTilstandSkade_GrøftType">
    <annotation>
      <documentation>2272: Angir hvilken type skade det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2272</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2272</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadetypeTilstandSkade_GrøftEnumerationType nvdb:SkadetypeTilstandSkade_GrøftOtherType"/>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkade_GrøftEnumerationType">
    <annotation>
      <documentation>2272: Angir hvilken type skade det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2272</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2272</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tilgrodd">
        <annotation>
          <documentation>4109: Tilgrodd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4109</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilgrodd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tettet pga ras">
        <annotation>
          <documentation>4110: Tettet pga ras</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4110</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tettet pga ras</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkade_GrøftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkade_Grøft" substitutionGroup="nvdb:AbstraktTilstandSkade_Grøft" type="nvdb:TilstandSkade_GrøftType">
    <annotation>
      <documentation>302: Gir informasjon om tilstand og eventuell skade på åpen grøft.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">302</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">302</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand/skade, grøft</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TilstandSkade_GrøftType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkade_GrøftType">
        <sequence>
          <element minOccurs="0" name="tilstand" type="nvdb:TilstandTilstandSkade_GrøftType">
            <annotation>
              <documentation>2271: Angir tilstand til vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2271</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadetype" type="nvdb:SkadetypeTilstandSkade_GrøftType">
            <annotation>
              <documentation>2272: Angir hvilken type skade det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2272</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>8776: Angir dato for når kontroll ble foretatt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8776</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltak" type="nvdb:TiltakType">
            <annotation>
              <documentation>1244: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1244</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltakNår" type="string">
            <annotation>
              <documentation>2273: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2273</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>7853: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7853</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4899: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4899</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGrøft_Åpen" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGrøft_Åpen</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkade_GrøftPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkade_Grøft"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilstandTilstandSkade_GrøftType">
    <annotation>
      <documentation>2271: Angir tilstand til vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2271</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2271</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandTilstandSkade_GrøftEnumerationType nvdb:TilstandTilstandSkade_GrøftOtherType"/>
  </simpleType>
  <simpleType name="TilstandTilstandSkade_GrøftEnumerationType">
    <annotation>
      <documentation>2271: Angir tilstand til vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2271</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2271</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ok">
        <annotation>
          <documentation>4106: Ok</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4106</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ok</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tiltaksbehov">
        <annotation>
          <documentation>4107: Tiltaksbehov</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4107</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltaksbehov</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mangler">
        <annotation>
          <documentation>4108: Mangler</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4108</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mangler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Funksjonell">
        <annotation>
          <documentation>4630: Funksjonell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4630</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Funksjonell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandTilstandSkade_GrøftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TiltakType">
    <annotation>
      <documentation>1244: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1244</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1244</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TiltakEnumerationType nvdb:TiltakOtherType"/>
  </simpleType>
  <simpleType name="TiltakEnumerationType">
    <annotation>
      <documentation>1244: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1244</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1244</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Grøfterensk">
        <annotation>
          <documentation>3822: Grøfterensk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3822</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grøfterensk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
