GML/303.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="TypeUndergrunnType">
    <annotation>
      <documentation>1245: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1245</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1245</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeUndergrunnEnumerationType nvdb:TypeUndergrunnOtherType"/>
  </simpleType>
  <simpleType name="TypeUndergrunnEnumerationType">
    <annotation>
      <documentation>1245: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1245</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1245</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Fjell">
        <annotation>
          <documentation>2330: Fjell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2330</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein/fjell, sprengt">
        <annotation>
          <documentation>2260: Stein/fjell, sprengt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2260</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein/fjell, sprengt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Løsmasse">
        <annotation>
          <documentation>2285: Løsmasse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2285</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Løsmasse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jord">
        <annotation>
          <documentation>2292: Jord</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2292</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jord</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Leire">
        <annotation>
          <documentation>2294: Leire</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2294</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Leire</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Silt/sand">
        <annotation>
          <documentation>2299: Silt/sand</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2299</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Silt/sand</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sand">
        <annotation>
          <documentation>2301: Sand</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2301</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sand</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sand/grus">
        <annotation>
          <documentation>2303: Sand/grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2303</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sand/grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grus">
        <annotation>
          <documentation>2306: Grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2306</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Morenejord">
        <annotation>
          <documentation>2319: Morenejord</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2319</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Morenejord</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Myr">
        <annotation>
          <documentation>3931: Myr</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3931</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Myr</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bru">
        <annotation>
          <documentation>2762: Bru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2762</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pæler/plater">
        <annotation>
          <documentation>3961: Pæler/plater</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3961</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pæler/plater</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeUndergrunnOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Undergrunn" substitutionGroup="nvdb:AbstraktUndergrunn" type="nvdb:UndergrunnType">
    <annotation>
      <documentation>303: Angir hvilken undergrunn vegen hviler på.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">303</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">303</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Undergrunn</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="UndergrunnType">
    <complexContent>
      <extension base="nvdb:AbstraktUndergrunnType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeUndergrunnType">
            <annotation>
              <documentation>1245: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1245</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11601: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11601</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11114: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11114</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12359: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12359</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4900: Gir koordinatsett for å avgrense vegobjektets utstrekning. Vegobjektet representeres med vegnettsgeometri på strekning mellom startpunkt og sluttpunkt. Eventuelt mellomliggende punkt benyttes for å sikre at riktig veglinje benyttes for hele strekningen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4900</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8908: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8908</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UndergrunnPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Undergrunn"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
