GML/304.xsd_SchematronSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron"
        xmlns:sch="http://purl.oclc.org/dsdl/schematron">
   <title>Schematron constraints for schema 'NVDB-data NV'</title>
   <ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
   <ns prefix="nvdb"
       uri="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"/>
   <pattern>
      <rule context="nvdb:LineærPosisjonStrekning">
         <assert test="nvdb:fraPosisjon &lt; nvdb:tilPosisjon">fraPosisjon mindre enn tilPosisjon</assert>
      </rule>
   </pattern>
</schema>
