GML/319.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Kolonnestrekning" substitutionGroup="nvdb:AbstraktKolonnestrekning" type="nvdb:KolonnestrekningType">
    <annotation>
      <documentation>319: Strekning hvor det vanligvis er kolonnekjøring i løpet av en vinter</documentation>
    </annotation>
  </element>
  <complexType name="KolonnestrekningType">
    <complexContent>
      <extension base="nvdb:AbstraktKolonnestrekningType">
        <sequence>
          <element minOccurs="0" name="kolonneAntall" type="integer">
            <annotation>
              <documentation>1916: Angir hvor mange kolonner det føres over fjellet hvert år.  Gjennomsnitt av siste 10? År
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kolonneFart" type="integer">
            <annotation>
              <documentation>2072: Angir normal fart på kolonne
Enhet: Kilometer/time</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kolonneAntallTimer" type="integer">
            <annotation>
              <documentation>2096: Angir hvor mange timer det normalt er med kolonnekjøring på denne strekningen i løpet av en sesong.
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11602: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11471: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KolonnestrekningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kolonnestrekning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
