GML/335.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>335: Målt avstand på tvers av vegen mellom gitt referansepunkt og et vegobjekt.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Avstandsmåling"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:AvstandsmålingType">
      <annotation>
         <documentation>335: Målt avstand på tvers av vegen mellom gitt referansepunkt og et vegobjekt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">335</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avstandsmåling</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="AvstandsmålingType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="avstandVegkant_Start" type="double">
                  <annotation>
                     <documentation>2248: Angir avstand fra vegkant i start av målestrekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2248</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avstand vegkant, start</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="avstandVegkant_Slutt" type="double">
                  <annotation>
                     <documentation>7566: Angir avstand fra vegkant i slutt av målestrekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7566</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avstand vegkant, slutt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="avstandReferanselinje_Start" type="double">
                  <annotation>
                     <documentation>2249: Angir avstand fra referanselinje i start av målestrekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2249</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avstand referanselinje, start</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="avstandReferanselinje_Slutt" type="double">
                  <annotation>
                     <documentation>7567: Angir avstand fra referanselinje i slutt av målestrekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7567</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avstand referanselinje, slutt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kvalitet">
                  <annotation>
                     <documentation>2250: Angir kvalitet på måling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2250</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kvalitet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4912: Gir linje/kurve som geometrisk representerer objektet. Kan benyttes for arvet geoemetri fra morobjekt eller alternativt som hjelpelinje ved etablering av forekomst.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4912</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="AvstandsmålingPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Avstandsmåling"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="AvstandsmålingKvalitetType">
      <annotation>
         <documentation>2250: Angir kvalitet på måling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2250</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kvalitet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AvstandsmålingKvalitetEnumerationType nvdb:AvstandsmålingKvalitetOtherType"/>
   </simpleType>
   <simpleType name="AvstandsmålingKvalitetEnumerationType">
      <annotation>
         <documentation>2250: Angir kvalitet på måling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2250</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kvalitet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="mt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4623</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Målt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4622</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skjønn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AvstandsmålingKvalitetOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
