GML/342.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierTrafikkspeilType">
    <annotation>
      <documentation>8017: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierTrafikkspeilEnumerationType nvdb:EierTrafikkspeilOtherType"/>
  </simpleType>
  <simpleType name="EierTrafikkspeilEnumerationType">
    <annotation>
      <documentation>8017: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10283: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18580: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10745: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10347: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10411: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17618: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTrafikkspeilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Materialtype_SpeilType">
    <annotation>
      <documentation>7936: Angir hvilken materialtype trafikkspeilet er laget av</documentation>
    </annotation>
    <union memberTypes="nvdb:Materialtype_SpeilEnumerationType nvdb:Materialtype_SpeilOtherType"/>
  </simpleType>
  <simpleType name="Materialtype_SpeilEnumerationType">
    <annotation>
      <documentation>7936: Angir hvilken materialtype trafikkspeilet er laget av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="polycarbonat">
        <annotation>
          <documentation>10140: Polycarbonat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stål">
        <annotation>
          <documentation>10141: Stål</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Materialtype_SpeilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrTrafikkspeilType">
    <annotation>
      <documentation>7935: Angir hva trafikkspeilet er festet på.</documentation>
    </annotation>
    <union memberTypes="nvdb:OppsettingsutstyrTrafikkspeilEnumerationType nvdb:OppsettingsutstyrTrafikkspeilOtherType"/>
  </simpleType>
  <simpleType name="OppsettingsutstyrTrafikkspeilEnumerationType">
    <annotation>
      <documentation>7935: Angir hva trafikkspeilet er festet på.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stolpe3">
        <annotation>
          <documentation>10136: Stolpe 3''</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stolpe2">
        <annotation>
          <documentation>10137: Stolpe 2''</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trestolpe">
        <annotation>
          <documentation>10139: Trestolpe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegg">
        <annotation>
          <documentation>10138: Vegg</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrTrafikkspeilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkspeil" substitutionGroup="nvdb:AbstraktTrafikkspeil" type="nvdb:TrafikkspeilType">
    <annotation>
      <documentation>342: Speil satt opp for å bedre siktforholdene v avkjørsler/kryss/busslommer mm.</documentation>
    </annotation>
  </element>
  <complexType name="TrafikkspeilType">
    <complexContent>
      <extension base="nvdb:AbstraktTrafikkspeilType">
        <sequence>
          <element minOccurs="0" name="utforming" type="nvdb:UtformingTrafikkspeilType">
            <annotation>
              <documentation>7934: Angir hvordan trafikkspeilet er utformet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="materialtype_Speil" type="nvdb:Materialtype_SpeilType">
            <annotation>
              <documentation>7936: Angir hvilken materialtype trafikkspeilet er laget av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrTrafikkspeilType">
            <annotation>
              <documentation>7935: Angir hva trafikkspeilet er festet på.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="diameter" type="integer">
            <annotation>
              <documentation>2275: Angir diameter av trafikkspeil
Enhet: Centimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Firkant" type="integer">
            <annotation>
              <documentation>7937: Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde_Firkant" type="integer">
            <annotation>
              <documentation>7938: Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter
Enhet: Centimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10379: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10487: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11603: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11115: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierTrafikkspeilType">
            <annotation>
              <documentation>8017: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTrafikkspeilType">
            <annotation>
              <documentation>8090: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4918: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkspeilPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkspeil"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="UtformingTrafikkspeilType">
    <annotation>
      <documentation>7934: Angir hvordan trafikkspeilet er utformet</documentation>
    </annotation>
    <union memberTypes="nvdb:UtformingTrafikkspeilEnumerationType nvdb:UtformingTrafikkspeilOtherType"/>
  </simpleType>
  <simpleType name="UtformingTrafikkspeilEnumerationType">
    <annotation>
      <documentation>7934: Angir hvordan trafikkspeilet er utformet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="rundt">
        <annotation>
          <documentation>10134: Rundt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="firkantet">
        <annotation>
          <documentation>10135: Firkantet</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtformingTrafikkspeilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkspeilType">
    <annotation>
      <documentation>8090: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTrafikkspeilEnumerationType nvdb:VedlikeholdsansvarligTrafikkspeilOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkspeilEnumerationType">
    <annotation>
      <documentation>8090: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10484: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18753: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19952: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18882: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10562: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10640: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17735: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkspeilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
