GML/343.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="NivåStedsnavnType">
    <annotation>
      <documentation>2278: Angir om det er et navn på overordna-, lokalt- eller detaljert nivå.</documentation>
    </annotation>
    <union memberTypes="nvdb:NivåStedsnavnEnumerationType nvdb:NivåStedsnavnOtherType"/>
  </simpleType>
  <simpleType name="NivåStedsnavnEnumerationType">
    <annotation>
      <documentation>2278: Angir om det er et navn på overordna-, lokalt- eller detaljert nivå.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="nivå7">
        <annotation>
          <documentation>4178: 07</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nivå8">
        <annotation>
          <documentation>4179: 08</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nivå9">
        <annotation>
          <documentation>4180: 09</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NivåStedsnavnOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OpprinnelseType">
    <annotation>
      <documentation>7979: Angir hvor stedsnavnet har sin opprinnelse</documentation>
    </annotation>
    <union memberTypes="nvdb:OpprinnelseEnumerationType nvdb:OpprinnelseOtherType"/>
  </simpleType>
  <simpleType name="OpprinnelseEnumerationType">
    <annotation>
      <documentation>7979: Angir hvor stedsnavnet har sin opprinnelse</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="VDB">
        <annotation>
          <documentation>10231: VDB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="holdeplassregister">
        <annotation>
          <documentation>10233: Holdeplassregister</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stedsnavnsregisteret">
        <annotation>
          <documentation>10232: Stedsnavnsregisteret</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OpprinnelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Stedsnavn" substitutionGroup="nvdb:AbstraktStedsnavn" type="nvdb:StedsnavnType">
    <annotation>
      <documentation>343: Angir stedsnavn.</documentation>
    </annotation>
  </element>
  <complexType name="StedsnavnType">
    <complexContent>
      <extension base="nvdb:AbstraktStedsnavnType">
        <sequence>
          <element name="egennavn" type="string">
            <annotation>
              <documentation>2276: Angir selve stedsnavnet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="navnetype" type="string">
            <annotation>
              <documentation>2277: Angir hvilken navnetype navnet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsnavnsregister_Id" type="string">
            <annotation>
              <documentation>7977: Gir referanse til stedsnavnsregister</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nivå" type="nvdb:NivåStedsnavnType">
            <annotation>
              <documentation>2278: Angir om det er et navn på overordna-, lokalt- eller detaljert nivå.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="opprinnelse" type="nvdb:OpprinnelseType">
            <annotation>
              <documentation>7979: Angir hvor stedsnavnet har sin opprinnelse</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eksternReferanse" type="string">
            <annotation>
              <documentation>7978: Feltet kan benyttes for referanse til stedsnavn tilknyttet Holdeplasser</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="VDB_Register" type="integer">
            <annotation>
              <documentation>5132: Angir hvilket VDB-register dette navnet er brukt i</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4919: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8914: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8909: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StedsnavnPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Stedsnavn"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
