GML/343.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>343: Angir stedsnavn.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Stedsnavn"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:StedsnavnType">
      <annotation>
         <documentation>343: Angir stedsnavn.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">343</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stedsnavn</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="StedsnavnType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="egennavn" type="string">
                  <annotation>
                     <documentation>2276: Angir selve stedsnavnet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2276</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Egennavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="stedsnavnsregister_Id" type="string">
                  <annotation>
                     <documentation>7977: Gir referanse til stedsnavnsregister.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7977</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stedsnavnsregister, id</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4919: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4919</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="StedsnavnPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Stedsnavn"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
