GML/37.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>37: Sted der offentlige veger møtes eller krysser hverandre med mulighet for utveksling av trafikk.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AntallArmerIRundkjøringVegkryssType">
      <annotation>
         <documentation>1789: Angir hvor mange armer det er i en rundkjøring.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1789</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antall armer i rundkjøring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AntallArmerIRundkjøringVegkryssEnumerationType nvdb:AntallArmerIRundkjøringVegkryssOtherType"/>
   </simpleType>
   <simpleType name="AntallArmerIRundkjøringVegkryssEnumerationType">
      <annotation>
         <documentation>1789: Angir hvor mange armer det er i en rundkjøring.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1789</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antall armer i rundkjøring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="01">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3726</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="02">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3735</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="03">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3743</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="04">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3016</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="05">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3778</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="06">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3781</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16137</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16138</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AntallArmerIRundkjøringVegkryssOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Cube_TilknytningVegkryssType">
      <annotation>
         <documentation>9548: Angir om vegkrysset benyttes i Cube-systemet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9548</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Cube-tilknytning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Cube_TilknytningVegkryssEnumerationType nvdb:Cube_TilknytningVegkryssOtherType"/>
   </simpleType>
   <simpleType name="Cube_TilknytningVegkryssEnumerationType">
      <annotation>
         <documentation>9548: Angir om vegkrysset benyttes i Cube-systemet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9548</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Cube-tilknytning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13698</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13699</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Cube_TilknytningVegkryssOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierVegkryssType">
      <annotation>
         <documentation>11959: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11959</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierVegkryssEnumerationType nvdb:EierVegkryssOtherType"/>
   </simpleType>
   <simpleType name="EierVegkryssEnumerationType">
      <annotation>
         <documentation>11959: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11959</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20901</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20902</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20903</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20906</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20904</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>20905: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20905</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierVegkryssOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KanaliseringPrimærvegVegkryssType">
      <annotation>
         <documentation>1788: Angir hvilken type kanalisering det er i kryssets primærveg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1788</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kanalisering primærveg</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KanaliseringPrimærvegVegkryssEnumerationType nvdb:KanaliseringPrimærvegVegkryssOtherType"/>
   </simpleType>
   <simpleType name="KanaliseringPrimærvegVegkryssEnumerationType">
      <annotation>
         <documentation>1788: Angir hvilken type kanalisering det er i kryssets primærveg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1788</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kanalisering primærveg</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3223</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fysisk m kantstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="i">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3475</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3219</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Malt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KanaliseringPrimærvegVegkryssOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KanaliseringSekundærvegerVegkryssType">
      <annotation>
         <documentation>2080: Angir hvilken type kanalisering det er i sekundærvegene i et kryss.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2080</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kanalisering sekundærveger</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KanaliseringSekundærvegerVegkryssEnumerationType nvdb:KanaliseringSekundærvegerVegkryssOtherType"/>
   </simpleType>
   <simpleType name="KanaliseringSekundærvegerVegkryssEnumerationType">
      <annotation>
         <documentation>2080: Angir hvilken type kanalisering det er i sekundærvegene i et kryss.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2080</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kanalisering sekundærveger</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3226</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fysisk m kantstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="i">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3478</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3222</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Malt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="uk">
            <annotation>
               <documentation>3784: Verdi gis om det er ulik kanalisering i sekundærvegene.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3784</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ulik kanalisering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KanaliseringSekundærvegerVegkryssOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegkryssType">
      <annotation>
         <documentation>1114: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1114</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeVegkryssEnumerationType nvdb:TypeVegkryssOtherType"/>
   </simpleType>
   <simpleType name="TypeVegkryssEnumerationType">
      <annotation>
         <documentation>1114: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1114</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="p">
            <annotation>
               <documentation>4077: Spesielle plankryss som ikke kan defineres som enten T-kryss, x-kryss eller rundkjøring.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4077</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plankryss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>3137: Kryss bestående av kombinasjoner av ulike typer planskilt kryss, eller andre spesielle løsninger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3137</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Planskilt kryss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ph">
            <annotation>
               <documentation>3141: Planskilt kryss mellom primærveg og sekundærveg der rampene kobles til primær- og sekundærveg med plankryss T-kryss.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3141</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Planskilt kryss, hankkryss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Pk">
            <annotation>
               <documentation>3140: Planskilt kryss med ramper i to eller alle fire kvadrantene mellom de to kryssende vegene.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3140</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Planskilt kryss, kløverbladkryss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Pr">
            <annotation>
               <documentation>3139: Planskilt kryss mellom gjennomgående veger med ramper i alle kvadranter. Avkjøringsrampene fra primærvegen ligger alltid foran krysset, påkjøringsrampene etter. På sekundærvegen vil de ulike trafikkstrømmene krysse hverandre. Krysstypen kalles også diamantkryss.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3139</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Planskilt kryss, ruterkryss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Pt">
            <annotation>
               <documentation>3138: Trompetkryss er et planskilt T-kryss med direkteførte ramper.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3138</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Planskilt kryss, trompetkryss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r">
            <annotation>
               <documentation>3136: Betegnelse på kryss i plan der forbindelsen mellom de kryssende veger skjer ved envegskjøring rundt en trafikkøy.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3136</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rundkjøring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <documentation>3134: Trearmet veg-/gatekryss som ikke er regulert som rundkjøring.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3134</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T-kryss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="x">
            <annotation>
               <documentation>3135: Vegkryss hvor fire vegarmer møtes i samme plan og ikke er regulert som rundkjøring.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3135</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">X-kryss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegkryssOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligVegkryssType">
      <annotation>
         <documentation>11994: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11994</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligVegkryssEnumerationType nvdb:VedlikeholdsansvarligVegkryssOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligVegkryssEnumerationType">
      <annotation>
         <documentation>11994: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11994</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20667</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20669</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20666</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20668</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20670</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20665</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20671</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligVegkryssOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegkryss"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:VegkryssType">
      <annotation>
         <documentation>37: Sted der offentlige veger møtes eller krysser hverandre med mulighet for utveksling av trafikk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">37</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegkryss</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VegkryssType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeVegkryssType">
                  <annotation>
                     <documentation>1114: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1114</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="navn" type="string">
                  <annotation>
                     <documentation>1073: Angir lokalt navn på vegkrysset.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1073</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kryssnummer" type="string">
                  <annotation>
                     <documentation>7822: Angir kryssnummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7822</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kryssnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallArmerIRundkjøring">
                  <annotation>
                     <documentation>1789: Angir hvor mange armer det er i en rundkjøring.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1789</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall armer i rundkjøring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rundkjøring_IndreDiameter" type="double">
                  <annotation>
                     <documentation>1792: Angir indre diameter i rundkjøring. Dvs. sentraløyens diameter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1792</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rundkjøring, indre diameter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rundkjøring_YtreDiameter" type="double">
                  <annotation>
                     <documentation>1791: Angir ytre diameter av rundkjøring.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1791</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rundkjøring, ytre diameter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kanaliseringSekundærveger">
                  <annotation>
                     <documentation>2080: Angir hvilken type kanalisering det er i sekundærvegene i et kryss.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2080</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kanalisering sekundærveger</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kanaliseringPrimærveg">
                  <annotation>
                     <documentation>1788: Angir hvilken type kanalisering det er i kryssets primærveg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1788</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kanalisering primærveg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>5512: Gir merknad.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5512</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="cube_Tilknytning">
                  <annotation>
                     <documentation>9548: Angir om vegkrysset benyttes i Cube-systemet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9548</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Cube-tilknytning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="valideringsdato_Test" type="date">
                  <annotation>
                     <documentation>12680: Dato vegobjektet sist ble validert/påvist. (Til testformål).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12680</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Valideringsdato (test)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="valideringskode_Test" type="string">
                  <annotation>
                     <documentation>12681: Kode som angir hvilken type validering som er gjort. Foreløpig til testformål.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12681</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Valideringskode (test)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10395: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10395</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11479: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11479</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12282: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12282</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierVegkryssType">
                  <annotation>
                     <documentation>11959: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11959</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligVegkryssType">
                  <annotation>
                     <documentation>11994: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11994</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4744: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4744</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VegkryssPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegkryss"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
