GML/37.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AntallArmerIRundkjøringType">
    <annotation>
      <documentation>1789: Angir hvor mange armer det er i en rundkjøring</documentation>
    </annotation>
    <union memberTypes="nvdb:AntallArmerIRundkjøringEnumerationType nvdb:AntallArmerIRundkjøringOtherType"/>
  </simpleType>
  <simpleType name="AntallArmerIRundkjøringEnumerationType">
    <annotation>
      <documentation>1789: Angir hvor mange armer det er i en rundkjøring</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>3726: 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>3735: 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>3743: 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>3016: 4</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>3778: 5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>3781: 6</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7">
        <annotation>
          <documentation>16137: 7</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>16138: 8</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallArmerIRundkjøringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Cube_TilknytningType">
    <annotation>
      <documentation>9548: Angir om vegkrysset benyttes i Cube-systemet</documentation>
    </annotation>
    <union memberTypes="nvdb:Cube_TilknytningEnumerationType nvdb:Cube_TilknytningOtherType"/>
  </simpleType>
  <simpleType name="Cube_TilknytningEnumerationType">
    <annotation>
      <documentation>9548: Angir om vegkrysset benyttes i Cube-systemet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13698: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13699: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Cube_TilknytningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KanaliseringPrimærvegType">
    <annotation>
      <documentation>1788: Angir hvilken type kanalisering det er i kryssets primærveg</documentation>
    </annotation>
    <union memberTypes="nvdb:KanaliseringPrimærvegEnumerationType nvdb:KanaliseringPrimærvegOtherType"/>
  </simpleType>
  <simpleType name="KanaliseringPrimærvegEnumerationType">
    <annotation>
      <documentation>1788: Angir hvilken type kanalisering det er i kryssets primærveg</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ingen">
        <annotation>
          <documentation>3475: Ingen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="malt">
        <annotation>
          <documentation>3219: Malt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fysiskMKantstein">
        <annotation>
          <documentation>3223: Fysisk m kantstein</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KanaliseringPrimærvegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KanaliseringSekundærvegerType">
    <annotation>
      <documentation>2080: Angir hvilken type kanalisering det er i sekundærvegene i et kryss.  Hvis ulik kanalisering i ulike sekundærveger angi: ulik kanalisering</documentation>
    </annotation>
    <union memberTypes="nvdb:KanaliseringSekundærvegerEnumerationType nvdb:KanaliseringSekundærvegerOtherType"/>
  </simpleType>
  <simpleType name="KanaliseringSekundærvegerEnumerationType">
    <annotation>
      <documentation>2080: Angir hvilken type kanalisering det er i sekundærvegene i et kryss.  Hvis ulik kanalisering i ulike sekundærveger angi: ulik kanalisering</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ingen">
        <annotation>
          <documentation>3478: Ingen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="malt">
        <annotation>
          <documentation>3222: Malt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fysiskMKantstein">
        <annotation>
          <documentation>3226: Fysisk m kantstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ulikKanalisering">
        <annotation>
          <documentation>3784: Ulik kanalisering</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KanaliseringSekundærvegerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegkryssType">
    <annotation>
      <documentation>1114: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeVegkryssEnumerationType nvdb:TypeVegkryssOtherType"/>
  </simpleType>
  <simpleType name="TypeVegkryssEnumerationType">
    <annotation>
      <documentation>1114: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="plankryss">
        <annotation>
          <documentation>4077: Spesielle plankryss som ikke kan defineres som enten t-kryss, x-kryss eller rundkjøring.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T_Kryss">
        <annotation>
          <documentation>3134: T-kryss</documentation>
        </annotation>
      </enumeration>
      <enumeration value="X_Kryss">
        <annotation>
          <documentation>3135: X-kryss</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rundkjøring">
        <annotation>
          <documentation>3136: Rundkjøring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="planskiltKryss">
        <annotation>
          <documentation>3137: Kryss bestående av kombinasjoner av ulike typer planskilt kryss, eller andre spesielle løsninger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="planskiltKryss_Trompetkryss">
        <annotation>
          <documentation>3138: Planskilt kryss, trompetkryss</documentation>
        </annotation>
      </enumeration>
      <enumeration value="planskiltKryss_Ruterkryss">
        <annotation>
          <documentation>3139: Planskilt kryss, ruterkryss</documentation>
        </annotation>
      </enumeration>
      <enumeration value="planskiltKryss_Kløverbladkryss">
        <annotation>
          <documentation>3140: Planskilt kryss, kløverbladkryss</documentation>
        </annotation>
      </enumeration>
      <enumeration value="planskiltKryss_Hankkryss">
        <annotation>
          <documentation>3141: Planskilt kryss, hankkryss</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegkryssOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegkryss" substitutionGroup="nvdb:AbstraktVegkryss" type="nvdb:VegkryssType">
    <annotation>
      <documentation>37: Sted der veger møtes eller krysser hverandre med mulighet for utveksling av trafikk (1).</documentation>
    </annotation>
  </element>
  <complexType name="VegkryssType">
    <complexContent>
      <extension base="nvdb:AbstraktVegkryssType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1073: Angir lokalt navn på vegkrysset</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeVegkryssType">
            <annotation>
              <documentation>1114: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallArmerIRundkjøring" type="nvdb:AntallArmerIRundkjøringType">
            <annotation>
              <documentation>1789: Angir hvor mange armer det er i en rundkjøring
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kryssnummer" type="string">
            <annotation>
              <documentation>7822: Angir kryssnummer</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rundkjøring_IndreDiameter" type="double">
            <annotation>
              <documentation>1792: Angir indre diameter i rundkjøring.  Dvs sentraløyens diameter
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rundkjøring_YtreDiameter" type="double">
            <annotation>
              <documentation>1791: Angir ytre diameter av rundkjøring
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kanaliseringSekundærveger" type="nvdb:KanaliseringSekundærvegerType">
            <annotation>
              <documentation>2080: Angir hvilken type kanalisering det er i sekundærvegene i et kryss.  Hvis ulik kanalisering i ulike sekundærveger angi: ulik kanalisering</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kanaliseringPrimærveg" type="nvdb:KanaliseringPrimærvegType">
            <annotation>
              <documentation>1788: Angir hvilken type kanalisering det er i kryssets primærveg</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5512: Gir merknad</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="cube_Tilknytning" type="nvdb:Cube_TilknytningType">
            <annotation>
              <documentation>9548: Angir om vegkrysset benyttes i Cube-systemet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10395: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11479: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4744: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegkryssPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegkryss"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
