GML/39.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DrikkevannType">
    <annotation>
      <documentation>9417: Angir om det er drikkevann på rasteplassen</documentation>
    </annotation>
    <union memberTypes="nvdb:DrikkevannEnumerationType nvdb:DrikkevannOtherType"/>
  </simpleType>
  <simpleType name="DrikkevannEnumerationType">
    <annotation>
      <documentation>9417: Angir om det er drikkevann på rasteplassen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13262: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13263: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DrikkevannOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DusjRasteplassType">
    <annotation>
      <documentation>9418: Angir om det er dusj på rasteplassen</documentation>
    </annotation>
    <union memberTypes="nvdb:DusjRasteplassEnumerationType nvdb:DusjRasteplassOtherType"/>
  </simpleType>
  <simpleType name="DusjRasteplassEnumerationType">
    <annotation>
      <documentation>9418: Angir om det er dusj på rasteplassen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja_IkkeTilpassetBevegelseshemmede">
        <annotation>
          <documentation>13265: Angir at rasteplassen har dusj, men at denne ikke er tilpasset bevegelseshemmede</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ja_TilpassetBevegelseshemmede">
        <annotation>
          <documentation>13264: Angir at rasteplassen har dusj, og at denne er tilpasset bevegelseshemmede</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13266: Angir at rasteplassen ikke ar dusj</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DusjRasteplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierRasteplassType">
    <annotation>
      <documentation>5819: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierRasteplassEnumerationType nvdb:EierRasteplassOtherType"/>
  </simpleType>
  <simpleType name="EierRasteplassEnumerationType">
    <annotation>
      <documentation>5819: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>8214: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18595: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10706: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>8240: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>8266: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17616: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierRasteplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FastDekkeType">
    <annotation>
      <documentation>4564: Angir om det er fast dekke på rasteplassen</documentation>
    </annotation>
    <union memberTypes="nvdb:FastDekkeEnumerationType nvdb:FastDekkeOtherType"/>
  </simpleType>
  <simpleType name="FastDekkeEnumerationType">
    <annotation>
      <documentation>4564: Angir om det er fast dekke på rasteplassen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5477: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5478: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FastDekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Kjøretøytype_DimensjonerendeRasteplassType">
    <annotation>
      <documentation>1773: Anir største kjøretøytype rasteplassens innkjøring, utkjøring og øvrig kjørearealer er dimensjonert for å romme.</documentation>
    </annotation>
    <union memberTypes="nvdb:Kjøretøytype_DimensjonerendeRasteplassEnumerationType nvdb:Kjøretøytype_DimensjonerendeRasteplassOtherType"/>
  </simpleType>
  <simpleType name="Kjøretøytype_DimensjonerendeRasteplassEnumerationType">
    <annotation>
      <documentation>1773: Anir største kjøretøytype rasteplassens innkjøring, utkjøring og øvrig kjørearealer er dimensjonert for å romme.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="personbil">
        <annotation>
          <documentation>3109: Personbil</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lastebil">
        <annotation>
          <documentation>3119: Lastebil</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vogntog">
        <annotation>
          <documentation>3130: Vogntog</documentation>
        </annotation>
      </enumeration>
      <enumeration value="buss">
        <annotation>
          <documentation>3250: Buss</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Kjøretøytype_DimensjonerendeRasteplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LovligAdkomstType">
    <annotation>
      <documentation>2037: Angir om rasteplassen har lovlig adkomst fra en eller begge kjøreretninger.</documentation>
    </annotation>
    <union memberTypes="nvdb:LovligAdkomstEnumerationType nvdb:LovligAdkomstOtherType"/>
  </simpleType>
  <simpleType name="LovligAdkomstEnumerationType">
    <annotation>
      <documentation>2037: Angir om rasteplassen har lovlig adkomst fra en eller begge kjøreretninger.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="enRetning">
        <annotation>
          <documentation>3252: Det er kun lovlig adkomst til rasteplassen for en kjøreretning. Den andre kjøreretningen har ikke tilgang til rasteplassen pga. enten skilting, vegoppmerking eller fysisk sperring.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="beggeRetninger">
        <annotation>
          <documentation>3251: Rasteplassen er tilgjengelig for begge kjøreretninger.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LovligAdkomstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Rasteplass" substitutionGroup="nvdb:AbstraktRasteplass" type="nvdb:RasteplassType">
    <annotation>
      <documentation>39: Sted ved vegen der vegtrafikanter kan parkere og hvile. (Ordbok for veg- og Trafikkteknikk).</documentation>
    </annotation>
  </element>
  <complexType name="RasteplassType">
    <complexContent>
      <extension base="nvdb:AbstraktRasteplassType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1074: Angir navn på rasteplassen. Der det er to rasteplasser på samme sted, en på hver side, kan samme navn brukes med tillegg av 1 og 2 eller himmelretning i forhold til vegen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeRasteplassType">
            <annotation>
              <documentation>2036: Angir hvilken type rasteplass det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallOppstillingsplSmåKjt" type="integer">
            <annotation>
              <documentation>1805: Angir hvor mange plasser det totalt er tilgjengelig for oppstilling av små kjøretøy (personbiler) på rasteplassen. For områder hvor det er lovlig å stå parkert for små kjøretøy, men som ikke har oppmerka oppstillingsplasser må det gjøres et anslag på hvor mange små kjøretøy det er plass til.  Det forutsettes at områder hvor det er lovlig å stå både for små og store kjøretøy kun er benyttet av små kjøretøy.
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallOppstillingsplStoreKjt" type="integer">
            <annotation>
              <documentation>1816: Angir hvor mange plasser det totalt er tilgjengelig for oppstilling av store kjøretøy (vogntog) på rasteplassen. For områder hvor det er lovlig å stå parkert for store kjøretøy, men som ikke har oppmerka oppstillingsplasser må det gjøres et anslag på hvor mange kjøretøy det er plass til.  Det forutsettes at områder hvor det er lovlig å stå både for små og store kjøretøy kun er benyttet av store kjøretøy.
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallOppstillingsplForflytningshemmede" type="integer">
            <annotation>
              <documentation>9415: Angir hvor mange merka oppstillingsplasser det er for forflytningshemmede</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal_Totalt" type="integer">
            <annotation>
              <documentation>1355: Angir totalt areal av rasteplassen.  Dette inkluderer både kjørbart og ikke kjørbart areal innenfor rasteplassen sin avgrensning.  For mer informasjon om ulike arealtyper henvises til aktuelle "datterobjekt" .
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal_Kjørbart" type="integer">
            <annotation>
              <documentation>8766: Angir kjørbart areal av rasteplassen, inkludert areal for oppstilling og parkering.
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal_Belyst" type="integer">
            <annotation>
              <documentation>9416: Gir anslag av belyst areal av rasteplassen
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kjøretøytype_Dimensjonerende" type="nvdb:Kjøretøytype_DimensjonerendeRasteplassType">
            <annotation>
              <documentation>1773: Anir største kjøretøytype rasteplassens innkjøring, utkjøring og øvrig kjørearealer er dimensjonert for å romme.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lovligAdkomst" type="nvdb:LovligAdkomstType">
            <annotation>
              <documentation>2037: Angir om rasteplassen har lovlig adkomst fra en eller begge kjøreretninger.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fastDekke" type="nvdb:FastDekkeType">
            <annotation>
              <documentation>4564: Angir om det er fast dekke på rasteplassen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterstengning" type="nvdb:VinterstengningType">
            <annotation>
              <documentation>8765: Angir i hvilken grad rasteplassen stenges om vinteren</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterstengning_Dato" type="date">
            <annotation>
              <documentation>10769: Angir måned og dato (mmdd) for når rasteplass normalt vinterstenges.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterdriftsklasse" type="nvdb:VinterdriftsklasseRasteplassType">
            <annotation>
              <documentation>9549: Beskriver hvilken standard for vinterdrift som skal gjelde for rasteplassen. (Se også vegobjekttype 819-Vinterdriftsklasse)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dusj" type="nvdb:DusjRasteplassType">
            <annotation>
              <documentation>9418: Angir om det er dusj på rasteplassen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="drikkevann" type="nvdb:DrikkevannType">
            <annotation>
              <documentation>9417: Angir om det er drikkevann på rasteplassen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="strømuttak" type="nvdb:StrømuttakType">
            <annotation>
              <documentation>9419: Angir om det er strømuttak i tilknytning til servicebygg eller toalettanlegg tilgjengelig for besøkende</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10343: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11559: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11046: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierRasteplassType">
            <annotation>
              <documentation>5819: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligRasteplassType">
            <annotation>
              <documentation>4565: Angir hvem som er vedlikeholdsansvarlig for rasteplassen som helhet  Det kan alternativt gis informasjon om dette til de ulike bestanddelene på rasteplassen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8913: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>5131: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertUtemøbler" type="nvdb:AbstraktUtemøblerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertParkeringsområde" type="nvdb:AbstraktParkeringsområdePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertRenovasjon" type="nvdb:AbstraktRenovasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTaktileIndikatorer" type="nvdb:AbstraktTaktileIndikatorerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGangadkomst" type="nvdb:AbstraktGangadkomstPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertToalettanlegg" type="nvdb:AbstraktToalettanleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertStativForTuristinfo" type="nvdb:AbstraktStativForTuristinfoPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGrøntanlegg" type="nvdb:AbstraktGrøntanleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="nvdb:AbstraktTilstandSkade_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertService" type="nvdb:AbstraktServicePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Strekning" type="nvdb:AbstraktTilstandSkadeFU_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLekeapparat" type="nvdb:AbstraktLekeapparatPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBygning" type="nvdb:AbstraktBygningPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RasteplassPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Rasteplass"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="StrømuttakType">
    <annotation>
      <documentation>9419: Angir om det er strømuttak i tilknytning til servicebygg eller toalettanlegg tilgjengelig for besøkende</documentation>
    </annotation>
    <union memberTypes="nvdb:StrømuttakEnumerationType nvdb:StrømuttakOtherType"/>
  </simpleType>
  <simpleType name="StrømuttakEnumerationType">
    <annotation>
      <documentation>9419: Angir om det er strømuttak i tilknytning til servicebygg eller toalettanlegg tilgjengelig for besøkende</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13267: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13268: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StrømuttakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeRasteplassType">
    <annotation>
      <documentation>2036: Angir hvilken type rasteplass det er tale om</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeRasteplassEnumerationType nvdb:TypeRasteplassOtherType"/>
  </simpleType>
  <simpleType name="TypeRasteplassEnumerationType">
    <annotation>
      <documentation>2036: Angir hvilken type rasteplass det er tale om</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="hovedrasteplass">
        <annotation>
          <documentation>3240: Rasteplass som skal gi vegfarende mulighet til en noe lenger rast og som er utrustet til en relativt høyere standard med mer romslig geometri (017)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="litenMellomstorRasteplass">
        <annotation>
          <documentation>3249: Rasteplass som normalt er utstyrt med avfallsbeholder og 2-4 bord.  Liten/mellomstor rasteplass vil stort sett være aktuelt på avkjørselsregulerte veger (017)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeRasteplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligRasteplassType">
    <annotation>
      <documentation>4565: Angir hvem som er vedlikeholdsansvarlig for rasteplassen som helhet  Det kan alternativt gis informasjon om dette til de ulike bestanddelene på rasteplassen</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligRasteplassEnumerationType nvdb:VedlikeholdsansvarligRasteplassOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligRasteplassEnumerationType">
    <annotation>
      <documentation>4565: Angir hvem som er vedlikeholdsansvarlig for rasteplassen som helhet  Det kan alternativt gis informasjon om dette til de ulike bestanddelene på rasteplassen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>5479: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18730: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19903: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18859: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>5480: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>5481: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17681: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligRasteplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VinterdriftsklasseRasteplassType">
    <annotation>
      <documentation>9549: Beskriver hvilken standard for vinterdrift som skal gjelde for rasteplassen. (Se også vegobjekttype 819-Vinterdriftsklasse)</documentation>
    </annotation>
    <union memberTypes="nvdb:VinterdriftsklasseRasteplassEnumerationType nvdb:VinterdriftsklasseRasteplassOtherType"/>
  </simpleType>
  <simpleType name="VinterdriftsklasseRasteplassEnumerationType">
    <annotation>
      <documentation>9549: Beskriver hvilken standard for vinterdrift som skal gjelde for rasteplassen. (Se også vegobjekttype 819-Vinterdriftsklasse)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="dkA">
        <annotation>
          <documentation>13709: Godkjent føreforhold er bar veg (tørr eller våt). Håndbok R610 (111)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dkB_Lav">
        <annotation>
          <documentation>13710: Godkjent føreforhold er bar veg (tørr eller våt), hard snø/is  tillates utenom hjulspor i begrenset tidsrom. Lavt tidskrav. Håndbok R610 (111)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dkB_Middels">
        <annotation>
          <documentation>13711: Godkjent føreforhold er bar veg (tørr eller våt), hard snø/is tillates utenom hjulspor i begrenset tidsrom. Middels tidskrav. Håndbok R610 (111)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dkB_Høy">
        <annotation>
          <documentation>13712: Godkjent føreforhold er bar veg (tørr eller våt), hard snø/is  tillates utenom hjulspor i begrenset tidsrom. Høyt tidskrav. Håndbok R610 (111)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dkC">
        <annotation>
          <documentation>13713: Godkjent føreforhold er bar veg (tørr eller våt) i milde perioder og  hard snø/is i kalde perioder. Håndbok R610 (111)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dkD">
        <annotation>
          <documentation>13714: Godkjent føreforhold er hard snø/is. Håndbok R610 (111)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dkE">
        <annotation>
          <documentation>13715: Godkjent føreforhold er hard snø/is. Friksjon ned til 0,20 aksepteres. DkE skal ikke nyttes på riksveg. Håndbok R610 (111)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sideanlegg">
        <annotation>
          <documentation>15873: Spesiell standard for sideanlegg</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VinterdriftsklasseRasteplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VinterstengningType">
    <annotation>
      <documentation>8765: Angir i hvilken grad rasteplassen stenges om vinteren</documentation>
    </annotation>
    <union memberTypes="nvdb:VinterstengningEnumerationType nvdb:VinterstengningOtherType"/>
  </simpleType>
  <simpleType name="VinterstengningEnumerationType">
    <annotation>
      <documentation>8765: Angir i hvilken grad rasteplassen stenges om vinteren</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ikkeVinterstengt">
        <annotation>
          <documentation>17304: Rasteplass inkludert servicetilbud er åpen hele vinteren.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vinterdriftAvKjøreareal">
        <annotation>
          <documentation>11604: Vinterdrift av rasteplassens kjøreareal.  Rasteplassens servicetilbud er stengt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="heltVinterstengt">
        <annotation>
          <documentation>11603: Ingen vinterdrift.  Avkjøring stengt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VinterstengningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
