GML/40.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>40: Plass som er beregnet for snuing av kjøretøy (3)</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BelystSnuplassType">
      <annotation>
         <documentation>9880: Angir om snuplass er belyst.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9880</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belyst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelystSnuplassEnumerationType nvdb:BelystSnuplassOtherType"/>
   </simpleType>
   <simpleType name="BelystSnuplassEnumerationType">
      <annotation>
         <documentation>9880: Angir om snuplass er belyst.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9880</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belyst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <documentation>16029: Ja.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16029</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>16030: Nei.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16030</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelystSnuplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="DekketypeSnuplassType">
      <annotation>
         <documentation>4613: Angir hvilken type dekke det er på snuplassen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4613</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dekketype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DekketypeSnuplassEnumerationType nvdb:DekketypeSnuplassOtherType"/>
   </simpleType>
   <simpleType name="DekketypeSnuplassEnumerationType">
      <annotation>
         <documentation>4613: Angir hvilken type dekke det er på snuplassen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4613</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dekketype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5574</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5575</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5573</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5576</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DekketypeSnuplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierSnuplassType">
      <annotation>
         <documentation>7988: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7988</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierSnuplassEnumerationType nvdb:EierSnuplassOtherType"/>
   </simpleType>
   <simpleType name="EierSnuplassEnumerationType">
      <annotation>
         <documentation>7988: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7988</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10716</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10318</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10382</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18604</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10254</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17613: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17613</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierSnuplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Kjøretøytype_DimensjonerendeSnuplassType">
      <annotation>
         <documentation>1774: Dimensjonerende kjøretøytype for snuplassen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1774</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjøretøytype, dimensjonerende</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Kjøretøytype_DimensjonerendeSnuplassEnumerationType nvdb:Kjøretøytype_DimensjonerendeSnuplassOtherType"/>
   </simpleType>
   <simpleType name="Kjøretøytype_DimensjonerendeSnuplassEnumerationType">
      <annotation>
         <documentation>1774: Dimensjonerende kjøretøytype for snuplassen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1774</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjøretøytype, dimensjonerende</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3120</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lastebil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ll">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3115</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Liten lastebil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3110</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Personbil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3125</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Semitrailer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3131</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vogntog</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Kjøretøytype_DimensjonerendeSnuplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Snuplass"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:SnuplassType">
      <annotation>
         <documentation>40: Plass som er beregnet for snuing av kjøretøy (3)</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">40</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Snuplass</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SnuplassType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeSnuplassType">
                  <annotation>
                     <documentation>9881: Angir hvilken type snuplass det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9881</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="spesialformål"
                        type="nvdb:SpesialformålSnuplassType">
                  <annotation>
                     <documentation>1254: Angir spesiell bruk av snuplass.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1254</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spesialformål</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="utforming" type="nvdb:UtformingSnuplassType">
                  <annotation>
                     <documentation>1115: Angir hvordan snuplass er utformet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1115</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dekketype" type="nvdb:DekketypeSnuplassType">
                  <annotation>
                     <documentation>4613: Angir hvilken type dekke det er på snuplassen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4613</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dekketype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="belyst" type="nvdb:BelystSnuplassType">
                  <annotation>
                     <documentation>9880: Angir om snuplass er belyst.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9880</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belyst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="integer">
                  <annotation>
                     <documentation>1356: Angir arealet av vegobjektet. Areal som har vegdekke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1356</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengdeArm" type="double">
                  <annotation>
                     <documentation>9878: Angir lengde av arm i T-formede snuplasser.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9878</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde arm</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeArm" type="double">
                  <annotation>
                     <documentation>9879: Angir bredde av arm i T-formede snuplasser.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9879</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde arm</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kjøretøytype_Dimensjonerende">
                  <annotation>
                     <documentation>1774: Dimensjonerende kjøretøytype for snuplassen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1774</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kjøretøytype, dimensjonerende</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10362: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10362</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11560: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11560</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11047: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11047</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12284: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12284</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierSnuplassType">
                  <annotation>
                     <documentation>7988: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7988</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligSnuplassType">
                  <annotation>
                     <documentation>8052: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8052</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4747: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4747</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10890: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10890</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SnuplassPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Snuplass"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="SpesialformålSnuplassType">
      <annotation>
         <documentation>1254: Angir spesiell bruk av snuplass.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1254</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesialformål</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SpesialformålSnuplassEnumerationType nvdb:SpesialformålSnuplassOtherType"/>
   </simpleType>
   <simpleType name="SpesialformålSnuplassEnumerationType">
      <annotation>
         <documentation>1254: Angir spesiell bruk av snuplass.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1254</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesialformål</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="IS">
            <annotation>
               <documentation>19463: Snuplass har ikke spesialformål.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19463</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke spesialformål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3153</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snuplass brøytebil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3154</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snuplass buss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SpesialformålSnuplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeSnuplassType">
      <annotation>
         <documentation>9881: Angir hvilken type snuplass det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9881</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeSnuplassEnumerationType nvdb:TypeSnuplassOtherType"/>
   </simpleType>
   <simpleType name="TypeSnuplassEnumerationType">
      <annotation>
         <documentation>9881: Angir hvilken type snuplass det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9881</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="T">
            <annotation>
               <documentation>16031: Snunisje plassert i tunnel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16031</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snunisje i tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="E">
            <annotation>
               <documentation>16032: Snuplass er plassert i enden av en veg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16032</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snuplass i ende av veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <documentation>16033: Snuplass er plassert til side for veg. Skal kun benyttes om snuplasser i dagen (ikke i tunnel).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16033</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snuplass ved veg i dagen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeSnuplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UtformingSnuplassType">
      <annotation>
         <documentation>1115: Angir hvordan snuplass er utformet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1115</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UtformingSnuplassEnumerationType nvdb:UtformingSnuplassOtherType"/>
   </simpleType>
   <simpleType name="UtformingSnuplassEnumerationType">
      <annotation>
         <documentation>1115: Angir hvordan snuplass er utformet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1115</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3157</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sirkulær</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3158</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sirkulær m trafikkøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3156</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T-formet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UtformingSnuplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSnuplassType">
      <annotation>
         <documentation>8052: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8052</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligSnuplassEnumerationType nvdb:VedlikeholdsansvarligSnuplassOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSnuplassEnumerationType">
      <annotation>
         <documentation>8052: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8052</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19922</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10524</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18687</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18816</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10602</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10446</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17705</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSnuplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
