GML/42.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BillettsalgType">
    <annotation>
      <documentation>10594: Angir om det er billettsalg i tilknytning til kollektivknutepunktet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10594</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10594</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Billettsalg</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BillettsalgEnumerationType nvdb:BillettsalgOtherType"/>
  </simpleType>
  <simpleType name="BillettsalgEnumerationType">
    <annotation>
      <documentation>10594: Angir om det er billettsalg i tilknytning til kollektivknutepunktet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10594</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10594</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Billettsalg</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16996: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16996</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, kiosk/skranke">
        <annotation>
          <documentation>16997: Ja, kiosk/skranke</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16997</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, kiosk/skranke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, automat">
        <annotation>
          <documentation>16998: Ja, automat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16998</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, automat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, kiosk/skranke og automat">
        <annotation>
          <documentation>16999: Ja, kiosk/skranke og automat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16999</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, kiosk/skranke og automat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>17000: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17000</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BillettsalgOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierKollektivknutepunktType">
    <annotation>
      <documentation>10589: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10589</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10589</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierKollektivknutepunktEnumerationType nvdb:EierKollektivknutepunktOtherType"/>
  </simpleType>
  <simpleType name="EierKollektivknutepunktEnumerationType">
    <annotation>
      <documentation>10589: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10589</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10589</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>17008: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17008</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18626: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18626</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>17005: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17005</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>17006: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17006</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>17007: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17007</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17638: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17638</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierKollektivknutepunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GjelderBussType">
    <annotation>
      <documentation>2026: Angir om kollektivknutepunktet benyttes av buss.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2026</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2026</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder buss</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GjelderBussEnumerationType nvdb:GjelderBussOtherType"/>
  </simpleType>
  <simpleType name="GjelderBussEnumerationType">
    <annotation>
      <documentation>2026: Angir om kollektivknutepunktet benyttes av buss.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2026</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2026</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder buss</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>3534: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3534</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>3572: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3572</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjelderBussOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GjelderDrosjeType">
    <annotation>
      <documentation>2029: Angir om kollektivknutepunktet benyttes av drosje.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2029</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2029</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder drosje</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GjelderDrosjeEnumerationType nvdb:GjelderDrosjeOtherType"/>
  </simpleType>
  <simpleType name="GjelderDrosjeEnumerationType">
    <annotation>
      <documentation>2029: Angir om kollektivknutepunktet benyttes av drosje.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2029</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2029</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder drosje</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>3537: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3537</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>3575: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3575</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjelderDrosjeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GjelderFerjeType">
    <annotation>
      <documentation>10256: Angir om kollektivknutepunktet benyttes av ferje.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10256</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10256</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder ferje</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GjelderFerjeEnumerationType nvdb:GjelderFerjeOtherType"/>
  </simpleType>
  <simpleType name="GjelderFerjeEnumerationType">
    <annotation>
      <documentation>10256: Angir om kollektivknutepunktet benyttes av ferje.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10256</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10256</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder ferje</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16748: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16748</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16749: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16749</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjelderFerjeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GjelderFlyType">
    <annotation>
      <documentation>10598: Angir om kollektivknutepunktet benyttes av fly.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10598</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10598</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder fly</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GjelderFlyEnumerationType nvdb:GjelderFlyOtherType"/>
  </simpleType>
  <simpleType name="GjelderFlyEnumerationType">
    <annotation>
      <documentation>10598: Angir om kollektivknutepunktet benyttes av fly.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10598</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10598</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder fly</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16988: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16988</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16989: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16989</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjelderFlyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GjelderRutebåtType">
    <annotation>
      <documentation>2028: Angir om kollektivknutepunktet benyttes av rutebåt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2028</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2028</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder rutebåt</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GjelderRutebåtEnumerationType nvdb:GjelderRutebåtOtherType"/>
  </simpleType>
  <simpleType name="GjelderRutebåtEnumerationType">
    <annotation>
      <documentation>2028: Angir om kollektivknutepunktet benyttes av rutebåt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2028</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2028</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder rutebåt</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>3536: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3536</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>3574: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3574</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjelderRutebåtOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GjelderTogType">
    <annotation>
      <documentation>2027: Angir om kollektivknutepunktet benyttes av tog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2027</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2027</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder tog</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GjelderTogEnumerationType nvdb:GjelderTogOtherType"/>
  </simpleType>
  <simpleType name="GjelderTogEnumerationType">
    <annotation>
      <documentation>2027: Angir om kollektivknutepunktet benyttes av tog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2027</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2027</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder tog</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>3535: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3535</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>3573: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3573</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjelderTogOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GjelderTrikkBybaneType">
    <annotation>
      <documentation>10596: Angir om kollektivknutepunktet benyttes av trikk/bybane.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10596</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10596</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder trikk/bybane</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GjelderTrikkBybaneEnumerationType nvdb:GjelderTrikkBybaneOtherType"/>
  </simpleType>
  <simpleType name="GjelderTrikkBybaneEnumerationType">
    <annotation>
      <documentation>10596: Angir om kollektivknutepunktet benyttes av trikk/bybane.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10596</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10596</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder trikk/bybane</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16986: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16986</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16987: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16987</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjelderTrikkBybaneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Kollektivknutepunkt" substitutionGroup="nvdb:AbstraktKollektivknutepunkt" type="nvdb:KollektivknutepunktType">
    <annotation>
      <documentation>42: Sted i kollektivnettet der kollektivlinjer krysser eller tangerer hverandre. Knutepunktets funksjon er å binde kollektivnettet sammen til et nettverk slik at den reisende ved hjelp av tilrettelagt omstigning/bytte kan nå sitt bestemmelsessted. Et knutepunkt har ofte begrepet terminal eller stasjon i navnet (HB V123).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">42</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">42</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kollektivknutepunkt</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KollektivknutepunktType">
    <complexContent>
      <extension base="nvdb:AbstraktKollektivknutepunktType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1075: Angir navn på kollektivknutepunktet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1075</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nivå" type="nvdb:NivåType">
            <annotation>
              <documentation>10588: Angir hvilket nivå kollektivknutepunktet tilhører.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10588</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Nivå</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjelderBuss" type="nvdb:GjelderBussType">
            <annotation>
              <documentation>2026: Angir om kollektivknutepunktet benyttes av buss.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2026</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder buss</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjelderTrikkBybane" type="nvdb:GjelderTrikkBybaneType">
            <annotation>
              <documentation>10596: Angir om kollektivknutepunktet benyttes av trikk/bybane.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10596</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder trikk/bybane</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="NSR_Stopplace_ID" type="string">
            <annotation>
              <documentation>10956: Unik ID som refererer til Stopplace (stoppested) i Nasjonalt stoppestedsregister (NSR). Benyttes for datautveksling mellom NVDB og NSR.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10956</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">NSR_Stopplace_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjelderTog" type="nvdb:GjelderTogType">
            <annotation>
              <documentation>2027: Angir om kollektivknutepunktet benyttes av tog.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2027</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder tog</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjelderRutebåt" type="nvdb:GjelderRutebåtType">
            <annotation>
              <documentation>2028: Angir om kollektivknutepunktet benyttes av rutebåt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2028</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder rutebåt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjelderFerje" type="nvdb:GjelderFerjeType">
            <annotation>
              <documentation>10256: Angir om kollektivknutepunktet benyttes av ferje.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10256</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder ferje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjelderFly" type="nvdb:GjelderFlyType">
            <annotation>
              <documentation>10598: Angir om kollektivknutepunktet benyttes av fly.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10598</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder fly</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjelderDrosje" type="nvdb:GjelderDrosjeType">
            <annotation>
              <documentation>2029: Angir om kollektivknutepunktet benyttes av drosje.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2029</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder drosje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallStoppunkt_Test" type="integer">
            <annotation>
              <documentation>10592: Angir hvor mange stoppunkt det er knyttet til kollektivknutepunktet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10592</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall stoppunkt (test)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="venterom" type="nvdb:VenteromKollektivknutepunktType">
            <annotation>
              <documentation>10593: Angir om det er venterom i tilknytning til kollektivknutepunktet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10593</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Venterom</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="toalett_Test" type="nvdb:Toalett_TestType">
            <annotation>
              <documentation>1803: Angir om det er offentlig toalett i tilknytning til kollektivknutepunktet, og om det eventuelt er tilgjengelig for forflytningshemmede.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1803</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Toalett (test)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="billettsalg" type="nvdb:BillettsalgType">
            <annotation>
              <documentation>10594: Angir om det er billettsalg i tilknytning til kollektivknutepunktet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10594</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Billettsalg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sykkelparkering_Test" type="nvdb:Sykkelparkering_TestType">
            <annotation>
              <documentation>10595: Angir om det er sykkelparkering i tilknytning til kollektivknutepunktet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10595</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sykkelparkering (test)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="parkering_Test" type="nvdb:Parkering_TestType">
            <annotation>
              <documentation>1814: Angir om det er parkeringsplass i tilknytning til kollektivknutepunktet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1814</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Parkering (test)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="parkeringForForflytningshemmede_Test" type="nvdb:ParkeringForForflytningshemmede_TestType">
            <annotation>
              <documentation>10597: Angir om det er parkering for forflytningshemmede i tilknytning til kollektivknutepunktet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10597</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Parkering for forflytningshemmede (test)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sistVerifisert" type="date">
            <annotation>
              <documentation>10591: Angir data for når egenskapene sist var verifisert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10591</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sist verifisert</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10317: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10317</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11562: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11562</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11470: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11470</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12286: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12286</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierKollektivknutepunktType">
            <annotation>
              <documentation>10589: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10589</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligKollektivknutepunktType">
            <annotation>
              <documentation>10590: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10590</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4749: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4749</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9430: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9430</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>12585: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12585</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHoldeplassutrustning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHoldeplassutrustning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KollektivknutepunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kollektivknutepunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="NivåType">
    <annotation>
      <documentation>10588: Angir hvilket nivå kollektivknutepunktet tilhører.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10588</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10588</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Nivå</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NivåEnumerationType nvdb:NivåOtherType"/>
  </simpleType>
  <simpleType name="NivåEnumerationType">
    <annotation>
      <documentation>10588: Angir hvilket nivå kollektivknutepunktet tilhører.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10588</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10588</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Nivå</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Nasjonalt">
        <annotation>
          <documentation>16982: Knutepunkter hvorfra man kan reise både lokalt, regionalt og til andre landsdeler i Norge. Noen nasjonale knutepunkter har internasjonale reisemål. Det finnes et fåtall nasjonale knutepunkter som alle krever spesiell utforming.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16982</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nasjonalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Regionalt">
        <annotation>
          <documentation>16983: Knutepunkter der man kan reise lokalt og regionalt i betydningen i og til de nærmeste fylkene.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16983</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Regionalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lokalt">
        <annotation>
          <documentation>16984: Knutepunkter hvorfra man kan reise lokalt innen samme kommune og/eller samme fylke.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16984</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lokalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mindre">
        <annotation>
          <documentation>16985: Det aller enkleste knutepunktet der det er tilrettelagt for omstigning. I sin enkleste form er et mindre knutepunkt en holdeplass der det er lagt til rette for overgang mellom to eller flere transportmidler i kollektivsystemet (buss, båt, taxi i rute).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16985</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mindre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NivåOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ParkeringForForflytningshemmede_TestType">
    <annotation>
      <documentation>10597: Angir om det er parkering for forflytningshemmede i tilknytning til kollektivknutepunktet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10597</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10597</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Parkering for forflytningshemmede (test)</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ParkeringForForflytningshemmede_TestEnumerationType nvdb:ParkeringForForflytningshemmede_TestOtherType"/>
  </simpleType>
  <simpleType name="ParkeringForForflytningshemmede_TestEnumerationType">
    <annotation>
      <documentation>10597: Angir om det er parkering for forflytningshemmede i tilknytning til kollektivknutepunktet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10597</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10597</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Parkering for forflytningshemmede (test)</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>17003: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17003</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>17004: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17004</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ParkeringForForflytningshemmede_TestOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Parkering_TestType">
    <annotation>
      <documentation>1814: Angir om det er parkeringsplass i tilknytning til kollektivknutepunktet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1814</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1814</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Parkering (test)</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Parkering_TestEnumerationType nvdb:Parkering_TestOtherType"/>
  </simpleType>
  <simpleType name="Parkering_TestEnumerationType">
    <annotation>
      <documentation>1814: Angir om det er parkeringsplass i tilknytning til kollektivknutepunktet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1814</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1814</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Parkering (test)</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>3520: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3520</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>3558: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3558</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Parkering_TestOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Sykkelparkering_TestType">
    <annotation>
      <documentation>10595: Angir om det er sykkelparkering i tilknytning til kollektivknutepunktet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10595</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10595</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sykkelparkering (test)</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Sykkelparkering_TestEnumerationType nvdb:Sykkelparkering_TestOtherType"/>
  </simpleType>
  <simpleType name="Sykkelparkering_TestEnumerationType">
    <annotation>
      <documentation>10595: Angir om det er sykkelparkering i tilknytning til kollektivknutepunktet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10595</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10595</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sykkelparkering (test)</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>17001: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17001</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>17002: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17002</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Sykkelparkering_TestOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Toalett_TestType">
    <annotation>
      <documentation>1803: Angir om det er offentlig toalett i tilknytning til kollektivknutepunktet, og om det eventuelt er tilgjengelig for forflytningshemmede.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1803</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1803</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Toalett (test)</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Toalett_TestEnumerationType nvdb:Toalett_TestOtherType"/>
  </simpleType>
  <simpleType name="Toalett_TestEnumerationType">
    <annotation>
      <documentation>1803: Angir om det er offentlig toalett i tilknytning til kollektivknutepunktet, og om det eventuelt er tilgjengelig for forflytningshemmede.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1803</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1803</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Toalett (test)</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16993: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16993</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, tilgjengelig">
        <annotation>
          <documentation>16994: Ja, tilgjengelig</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16994</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, tilgjengelig</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16995: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16995</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Toalett_TestOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKollektivknutepunktType">
    <annotation>
      <documentation>10590: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10590</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10590</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligKollektivknutepunktEnumerationType nvdb:VedlikeholdsansvarligKollektivknutepunktOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKollektivknutepunktEnumerationType">
    <annotation>
      <documentation>10590: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10590</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10590</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>17011: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17011</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18739: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18739</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20002: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20002</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18868: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18868</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>17009: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17009</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>17010: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17010</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17787: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17787</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKollektivknutepunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VenteromKollektivknutepunktType">
    <annotation>
      <documentation>10593: Angir om det er venterom i tilknytning til kollektivknutepunktet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10593</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10593</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Venterom</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VenteromKollektivknutepunktEnumerationType nvdb:VenteromKollektivknutepunktOtherType"/>
  </simpleType>
  <simpleType name="VenteromKollektivknutepunktEnumerationType">
    <annotation>
      <documentation>10593: Angir om det er venterom i tilknytning til kollektivknutepunktet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10593</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10593</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Venterom</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16990: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16990</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, tilgjengelig">
        <annotation>
          <documentation>16991: Ja, tilgjengelig</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16991</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, tilgjengelig</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16992: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16992</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VenteromKollektivknutepunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
