GML/43.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AvgiftType">
    <annotation>
      <documentation>9934: Angir hvorvidt parkeringsområdet er avgiftsbelagt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9934</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9934</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Avgift</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AvgiftEnumerationType nvdb:AvgiftOtherType"/>
  </simpleType>
  <simpleType name="AvgiftEnumerationType">
    <annotation>
      <documentation>9934: Angir hvorvidt parkeringsområdet er avgiftsbelagt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9934</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9934</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Avgift</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16129: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16129</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16130: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16130</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AvgiftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeParkeringsområdeType">
    <annotation>
      <documentation>1255: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1255</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1255</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeParkeringsområdeEnumerationType nvdb:BruksområdeParkeringsområdeOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeParkeringsområdeEnumerationType">
    <annotation>
      <documentation>1255: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1255</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1255</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Utfart, tur">
        <annotation>
          <documentation>3159: Utfart, tur</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3159</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utfart, tur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Handel">
        <annotation>
          <documentation>3160: Handel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3160</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Handel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Idrett">
        <annotation>
          <documentation>3925: Idrett</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3925</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Idrett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skole">
        <annotation>
          <documentation>3926: Skole</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3926</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skole</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="v kollektivterminal/kai">
        <annotation>
          <documentation>3927: v kollektivterminal/kai</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3927</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">v kollektivterminal/kai</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeParkeringsområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierParkeringsområdeType">
    <annotation>
      <documentation>7990: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7990</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7990</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierParkeringsområdeEnumerationType nvdb:EierParkeringsområdeOtherType"/>
  </simpleType>
  <simpleType name="EierParkeringsområdeEnumerationType">
    <annotation>
      <documentation>7990: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7990</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7990</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10256: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10256</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18572: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18572</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10718: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10718</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10320: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10320</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10384: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10384</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17603: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17603</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierParkeringsområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="InnfartsparkeringType">
    <annotation>
      <documentation>5779: Angir om parkeringsområde kan defineres som innfartsparkering.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5779</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5779</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Innfartsparkering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:InnfartsparkeringEnumerationType nvdb:InnfartsparkeringOtherType"/>
  </simpleType>
  <simpleType name="InnfartsparkeringEnumerationType">
    <annotation>
      <documentation>5779: Angir om parkeringsområde kan defineres som innfartsparkering.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5779</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5779</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Innfartsparkering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>8177: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8177</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>8178: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8178</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InnfartsparkeringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Kjøretøytype_DimensjonerendeType">
    <annotation>
      <documentation>1775: Dimensjonerende kjøretøytype for kjøring på parkeringsområde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1775</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1775</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kjøretøytype, dimensjonerende</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Kjøretøytype_DimensjonerendeEnumerationType nvdb:Kjøretøytype_DimensjonerendeOtherType"/>
  </simpleType>
  <simpleType name="Kjøretøytype_DimensjonerendeEnumerationType">
    <annotation>
      <documentation>1775: Dimensjonerende kjøretøytype for kjøring på parkeringsområde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1775</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1775</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kjøretøytype, dimensjonerende</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Personbil">
        <annotation>
          <documentation>3111: Personbil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3111</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Personbil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Liten lastebil">
        <annotation>
          <documentation>3116: Liten lastebil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3116</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Liten lastebil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lastebil">
        <annotation>
          <documentation>3121: Lastebil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3121</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lastebil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Semitrailer">
        <annotation>
          <documentation>3126: Semitrailer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3126</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Semitrailer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vogntog">
        <annotation>
          <documentation>3132: Vogntog</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3132</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vogntog</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Kjøretøytype_DimensjonerendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Parkeringsområde" substitutionGroup="nvdb:AbstraktParkeringsområde" type="nvdb:ParkeringsområdeType">
    <annotation>
      <documentation>43: Område avsatt til parkering for kjøretøy. På et parkeringsområde vil det normalt være en eller flere parkeringsplasser (oppstillingsplasser) som ligger inntil hverandre.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">43</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">43</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Parkeringsområde</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="ParkeringsområdeType">
    <complexContent>
      <extension base="nvdb:AbstraktParkeringsområdeType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1076: Angir navn på vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1076</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeParkeringsområdeType">
            <annotation>
              <documentation>1116: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1116</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeParkeringsområdeType">
            <annotation>
              <documentation>1255: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1255</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="innfartsparkering" type="nvdb:InnfartsparkeringType">
            <annotation>
              <documentation>5779: Angir om parkeringsområde kan defineres som innfartsparkering.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5779</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Innfartsparkering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjøretøytype_Dimensjonerende" type="nvdb:Kjøretøytype_DimensjonerendeType">
            <annotation>
              <documentation>1775: Dimensjonerende kjøretøytype for kjøring på parkeringsområde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1775</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kjøretøytype, dimensjonerende</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallParkeringsplasserSmåKjt" type="integer">
            <annotation>
              <documentation>1807: Angir antall oppmerka parkeringsplasser for små personbiler. For parkeringsområder som ikke har oppmerka plasser gis det anslag på hvor mange personbiler det er plass til. Områder som er skiltet o.l. for buss/lastebil regnes ikke med. Rasteplasser kan ha oppstillingsplasser utenom parkeringsområde (se "Rasteplass").</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1807</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall parkeringsplasser små kjt.</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="plasserReservertHandikappede" type="integer">
            <annotation>
              <documentation>1818: Angir antall parkerings/oppstillingsplasser reservert handikappede.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1818</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Plasser reservert handikappede</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallParkeringsplasserStoreKjt" type="integer">
            <annotation>
              <documentation>1817: Angir antall oppmerka parkeringsplasser for store kjøretøy. For parkeringsområder som ikke har oppmerka plasser telles det kun med antall slike plasser innenfor delområder som er tydelig merka buss/lastebil.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1817</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall parkeringsplasser store kjt.</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>1359: Angir totalt areal. Dette inkluderer kjørbart, ikke kjørbart og bebygd areal innenfor parkeringsområdets avgrensning. Se tilhørende "datterobjekt" for mer detaljert arealinformasjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1359</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avgift" type="nvdb:AvgiftType">
            <annotation>
              <documentation>9934: Angir hvorvidt parkeringsområdet er avgiftsbelagt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9934</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Avgift</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avgiftsRestriksjonsinfo" type="string">
            <annotation>
              <documentation>1815: Informasjon om parkeringsavgift og/eller restriksjoner knyttet til parkeringsområde,.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1815</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Avgifts-/restriksjonsinfo</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterdriftsklasse" type="nvdb:VinterdriftsklasseParkeringsområdeType">
            <annotation>
              <documentation>9555: Beskriver hvilken standard for vinterdrift som skal gjelde for plassen. (Se også vegobjekttype 819-Vinterdriftsklasse).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9555</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vinterdriftsklasse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brøyterodenummer" type="string">
            <annotation>
              <documentation>9868: Angir nummer til brøyterode som dekker parkeringsområde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9868</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Brøyterodenummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="strørodenummer" type="string">
            <annotation>
              <documentation>9869: Angir nummer til strørode som dekker parkeringsområde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9869</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Strørodenummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10335: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10335</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11563: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11563</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11049: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11049</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12287: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12287</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierParkeringsområdeType">
            <annotation>
              <documentation>7990: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7990</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligParkeringsområdeType">
            <annotation>
              <documentation>8054: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8054</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4750: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4750</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9431: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9431</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10891: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10891</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFerjekai" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFerjekai</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRasteplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRasteplass</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHoldeplassutrustning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHoldeplassutrustning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ParkeringsområdePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Parkeringsområde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeParkeringsområdeType">
    <annotation>
      <documentation>1116: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1116</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1116</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeParkeringsområdeEnumerationType nvdb:TypeParkeringsområdeOtherType"/>
  </simpleType>
  <simpleType name="TypeParkeringsområdeEnumerationType">
    <annotation>
      <documentation>1116: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1116</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1116</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Parkering langs kjørebane">
        <annotation>
          <documentation>3161: Parkering langs kjørebane</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3161</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Parkering langs kjørebane</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Avskjermet plass">
        <annotation>
          <documentation>3162: Avskjermet plass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3162</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avskjermet plass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parkeringshus">
        <annotation>
          <documentation>3163: Parkeringshus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3163</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Parkeringshus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeParkeringsområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligParkeringsområdeType">
    <annotation>
      <documentation>8054: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8054</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8054</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligParkeringsområdeEnumerationType nvdb:VedlikeholdsansvarligParkeringsområdeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligParkeringsområdeEnumerationType">
    <annotation>
      <documentation>8054: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8054</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8054</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10448: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10448</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18695: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18695</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19924: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18824: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18824</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10526: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10526</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10604: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10604</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17707: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17707</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligParkeringsområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VinterdriftsklasseParkeringsområdeType">
    <annotation>
      <documentation>9555: Beskriver hvilken standard for vinterdrift som skal gjelde for plassen. (Se også vegobjekttype 819-Vinterdriftsklasse).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9555</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9555</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vinterdriftsklasse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VinterdriftsklasseParkeringsområdeEnumerationType nvdb:VinterdriftsklasseParkeringsområdeOtherType"/>
  </simpleType>
  <simpleType name="VinterdriftsklasseParkeringsområdeEnumerationType">
    <annotation>
      <documentation>9555: Beskriver hvilken standard for vinterdrift som skal gjelde for plassen. (Se også vegobjekttype 819-Vinterdriftsklasse).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9555</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9555</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vinterdriftsklasse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="DkA">
        <annotation>
          <documentation>13759: Godkjent føreforhold er bar veg (tørr eller våt). Håndbok R610 (111).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13759</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DkA</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="DkB, lav">
        <annotation>
          <documentation>13758: Godkjent føreforhold er bar veg (tørr eller våt), hard snø/is tillates utenom hjulspor i begrenset tidsrom. Lavt tidskrav. Håndbok R610 (111).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13758</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DkB, lav</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="DkB, middels">
        <annotation>
          <documentation>13757: Godkjent føreforhold er bar veg (tørr eller våt), hard snø/is tillates utenom hjulspor i begrenset tidsrom. Middels tidskrav. Håndbok R610 (111).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13757</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DkB, middels</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="DkB, høy">
        <annotation>
          <documentation>13756: Godkjent føreforhold er bar veg (tørr eller våt), hard snø/is tillates utenom hjulspor i begrenset tidsrom. Høyt tidskrav. Håndbok R610 (111).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13756</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DkB, høy</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="DkC">
        <annotation>
          <documentation>13755: Godkjent føreforhold er bar veg (tørr eller våt) i milde perioder og hard snø/is i kalde perioder. Håndbok R610 (111).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13755</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DkC</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="DkD">
        <annotation>
          <documentation>13754: Godkjent føreforhold er hard snø/is. Håndbok R610 (111).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13754</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DkD</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="DkE">
        <annotation>
          <documentation>13753: Godkjent føreforhold er hard snø/is. Friksjon ned til 0,20 aksepteres. DkE skal ikke nyttes på riksveg. Håndbok R610 (111).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13753</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DkE</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sideanlegg">
        <annotation>
          <documentation>15874: Spesiell standard for sideanlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15874</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sideanlegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VinterdriftsklasseParkeringsområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
