GML/438.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>438: Gir informasjon om tilstand og eventuell skade på skiltplate.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="SkadetypeTilstandskade, skiltplateType">
      <annotation>
         <documentation>2292: Angir hvilken type skade det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2292</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkadetypeTilstandskade, skiltplateEnumerationType nvdb:SkadetypeTilstandskade, skiltplateOtherType"/>
   </simpleType>
   <simpleType name="SkadetypeTilstandskade, skiltplateEnumerationType">
      <annotation>
         <documentation>2292: Angir hvilken type skade det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2292</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="df">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4171</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Defekt/ute av funksjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="dr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4164</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dårlig refleks</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4167</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Feil bruk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4165</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hærverk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4170</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skjevhet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ug">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4169</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ugyldig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="uv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4166</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Unødvendig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkadetypeTilstandskade, skiltplateOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandTilstandskade, skiltplateType">
      <annotation>
         <documentation>2291: Angir tilstand til skiltplate.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2291</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandTilstandskade, skiltplateEnumerationType nvdb:TilstandTilstandskade, skiltplateOtherType"/>
   </simpleType>
   <simpleType name="TilstandTilstandskade, skiltplateEnumerationType">
      <annotation>
         <documentation>2291: Angir tilstand til skiltplate.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2291</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4632</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Funksjonell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4163</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mangler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ok">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4161</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ok</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4162</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tiltaksbehov</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandTilstandskade, skiltplateOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tilstandskade, skiltplate"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandskade, skiltplateType">
      <annotation>
         <documentation>438: Gir informasjon om tilstand og eventuell skade på skiltplate.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">438</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandskade, skiltplate</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandskade, skiltplateType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0"
                        name="tilstand"
                        type="nvdb:TilstandTilstandskade, skiltplateType">
                  <annotation>
                     <documentation>2291: Angir tilstand til skiltplate.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2291</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="skadetype"
                        type="nvdb:SkadetypeTilstandskade, skiltplateType">
                  <annotation>
                     <documentation>2292: Angir hvilken type skade det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2292</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoKontrollert" type="date">
                  <annotation>
                     <documentation>8779: Angir dato for når kontroll ble foretatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8779</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="tiltak"
                        type="nvdb:TiltakTilstandskade, skiltplateType">
                  <annotation>
                     <documentation>2293: Angir aktuelt tiltak for skiltskade.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2293</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="test_Tilstandsindeks" type="double">
                  <annotation>
                     <documentation>9837: Angir tilstand. Til testformål.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9837</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Test_Tilstandsindeks</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>7855: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7855</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4956: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4956</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandskade, skiltplatePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandskade, skiltplate"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TiltakTilstandskade, skiltplateType">
      <annotation>
         <documentation>2293: Angir aktuelt tiltak for skiltskade.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2293</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TiltakTilstandskade, skiltplateEnumerationType nvdb:TiltakTilstandskade, skiltplateOtherType"/>
   </simpleType>
   <simpleType name="TiltakTilstandskade, skiltplateEnumerationType">
      <annotation>
         <documentation>2293: Angir aktuelt tiltak for skiltskade.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2293</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4174</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjernes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4173</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flyttes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4175</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rettes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4172</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiftes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TiltakTilstandskade, skiltplateOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
