GML/438.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.22">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="SkadetypeTilstandSkade_SkiltplateType">
    <annotation>
      <documentation>2292: Angir hvilken type skade det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2292</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2292</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadetype</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadetypeTilstandSkade_SkiltplateEnumerationType nvdb:SkadetypeTilstandSkade_SkiltplateOtherType"/>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkade_SkiltplateEnumerationType">
    <annotation>
      <documentation>2292: Angir hvilken type skade det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2292</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2292</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadetype</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Dårlig refleks">
        <annotation>
          <documentation>4164: Dårlig refleks</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4164</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dårlig refleks</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hærverk">
        <annotation>
          <documentation>4165: Hærverk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4165</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hærverk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Unødvendig">
        <annotation>
          <documentation>4166: Unødvendig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4166</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Unødvendig</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Feil bruk">
        <annotation>
          <documentation>4167: Feil bruk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4167</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Feil bruk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ugyldig">
        <annotation>
          <documentation>4169: Ugyldig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4169</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ugyldig</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skjevhet">
        <annotation>
          <documentation>4170: Skjevhet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4170</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skjevhet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Defekt/ute av funksjon">
        <annotation>
          <documentation>4171: Defekt/ute av funksjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4171</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Defekt/ute av funksjon</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkade_SkiltplateOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkade_Skiltplate" substitutionGroup="nvdb:AbstraktTilstandSkade_Skiltplate" type="nvdb:TilstandSkade_SkiltplateType">
    <annotation>
      <documentation>438: Gir informasjon om tilstand og eventuell skade på skiltplate</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">438</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">438</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilstand/skade, skiltplate</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TilstandSkade_SkiltplateType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkade_SkiltplateType">
        <sequence>
          <element minOccurs="0" name="tilstand" type="nvdb:TilstandTilstandSkade_SkiltplateType">
            <annotation>
              <documentation>2291: Angir tilstand til skiltplate</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2291</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilstand</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadetype" type="nvdb:SkadetypeTilstandSkade_SkiltplateType">
            <annotation>
              <documentation>2292: Angir hvilken type skade det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2292</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadetype</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>8779: Angir dato for når kontroll ble foretatt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8779</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dato kontrollert</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltak" type="nvdb:TiltakTilstandSkade_SkiltplateType">
            <annotation>
              <documentation>2293: Angir aktuelt tiltak for skiltskade</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2293</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tiltak</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="test_Tilstandsindeks" type="integer">
            <annotation>
              <documentation>9837: Angir tilstand. Til testformål</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9837</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Test_Tilstandsindeks</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>7855: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7855</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4956: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4956</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkiltplate" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkiltplate</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkade_SkiltplatePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkade_Skiltplate"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilstandTilstandSkade_SkiltplateType">
    <annotation>
      <documentation>2291: Angir tilstand til skiltplate</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2291</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2291</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilstand</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandTilstandSkade_SkiltplateEnumerationType nvdb:TilstandTilstandSkade_SkiltplateOtherType"/>
  </simpleType>
  <simpleType name="TilstandTilstandSkade_SkiltplateEnumerationType">
    <annotation>
      <documentation>2291: Angir tilstand til skiltplate</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2291</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2291</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilstand</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ok">
        <annotation>
          <documentation>4161: Ok</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4161</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ok</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tiltaksbehov">
        <annotation>
          <documentation>4162: Tiltaksbehov</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4162</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tiltaksbehov</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mangler">
        <annotation>
          <documentation>4163: Mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4163</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Mangler</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Funksjonell">
        <annotation>
          <documentation>4632: Funksjonell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4632</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Funksjonell</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandTilstandSkade_SkiltplateOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TiltakTilstandSkade_SkiltplateType">
    <annotation>
      <documentation>2293: Angir aktuelt tiltak for skiltskade</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2293</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2293</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tiltak</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TiltakTilstandSkade_SkiltplateEnumerationType nvdb:TiltakTilstandSkade_SkiltplateOtherType"/>
  </simpleType>
  <simpleType name="TiltakTilstandSkade_SkiltplateEnumerationType">
    <annotation>
      <documentation>2293: Angir aktuelt tiltak for skiltskade</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2293</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2293</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tiltak</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Skiftes">
        <annotation>
          <documentation>4172: Skiftes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4172</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skiftes</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flyttes">
        <annotation>
          <documentation>4173: Flyttes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4173</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Flyttes</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fjernes">
        <annotation>
          <documentation>4174: Fjernes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4174</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fjernes</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rettes">
        <annotation>
          <documentation>4175: Rettes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4175</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rettes</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltakTilstandSkade_SkiltplateOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
