GML/44.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierKontrollVeieplassType">
    <annotation>
      <documentation>7991: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierKontrollVeieplassEnumerationType nvdb:EierKontrollVeieplassOtherType"/>
  </simpleType>
  <simpleType name="EierKontrollVeieplassEnumerationType">
    <annotation>
      <documentation>7991: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10257: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18607: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10719: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10321: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10385: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17580: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierKontrollVeieplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="KontrollVeieplass" substitutionGroup="nvdb:AbstraktKontrollVeieplass" type="nvdb:KontrollVeieplassType">
    <annotation>
      <documentation>44: Område spesielt tilrettelagt for å foreta ulike typer kontroll av kjøretøy, bla vektkontroll.</documentation>
    </annotation>
  </element>
  <complexType name="KontrollVeieplassType">
    <complexContent>
      <extension base="nvdb:AbstraktKontrollVeieplassType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1077: Angir navn på vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="veiing" type="nvdb:VeiingType">
            <annotation>
              <documentation>1117: Angir hvilken type veiing som benyttes ved kontroll/veieplassen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>1360: Angir total areal av vegobjektet.  Arealet inkluderer kjørbart, ikke kjørbart og bebygd areal
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallOppstillingsplasser_Lange" type="integer">
            <annotation>
              <documentation>4522: Angir hvor mange oppstillingsplasser det er for lange kjøretøy.  Det er da tale om plasser hvor det er mulighet for å stå parkert ifbm hviletid
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterdriftsklasse" type="nvdb:VinterdriftsklasseKontrollVeieplassType">
            <annotation>
              <documentation>9556: Beskriver hvilken standard for vinterdrift som skal gjelde for plassen. (Se også vegobjekttype 819-Vinterdriftsklasse)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10319: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11564: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11050: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierKontrollVeieplassType">
            <annotation>
              <documentation>7991: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligKontrollVeieplassType">
            <annotation>
              <documentation>8055: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4751: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8932: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10963: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KontrollVeieplassPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:KontrollVeieplass"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligKontrollVeieplassType">
    <annotation>
      <documentation>8055: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligKontrollVeieplassEnumerationType nvdb:VedlikeholdsansvarligKontrollVeieplassOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKontrollVeieplassEnumerationType">
    <annotation>
      <documentation>8055: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10449: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18678: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19925: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18807: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10527: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10605: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17708: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKontrollVeieplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VeiingType">
    <annotation>
      <documentation>1117: Angir hvilken type veiing som benyttes ved kontroll/veieplassen</documentation>
    </annotation>
    <union memberTypes="nvdb:VeiingEnumerationType nvdb:VeiingOtherType"/>
  </simpleType>
  <simpleType name="VeiingEnumerationType">
    <annotation>
      <documentation>1117: Angir hvilken type veiing som benyttes ved kontroll/veieplassen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="fastmontertVekt">
        <annotation>
          <documentation>3923: Fastmontert vekt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fastBremseprøve">
        <annotation>
          <documentation>9913: Fast bremseprøve</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mobiltUtstyr">
        <annotation>
          <documentation>3924: Mobilt utstyr</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mobilHjullast">
        <annotation>
          <documentation>9911: Mobil hjullast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mobilBremseprøve">
        <annotation>
          <documentation>9912: Mobil bremseprøve</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VeiingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VinterdriftsklasseKontrollVeieplassType">
    <annotation>
      <documentation>9556: Beskriver hvilken standard for vinterdrift som skal gjelde for plassen. (Se også vegobjekttype 819-Vinterdriftsklasse)</documentation>
    </annotation>
    <union memberTypes="nvdb:VinterdriftsklasseKontrollVeieplassEnumerationType nvdb:VinterdriftsklasseKontrollVeieplassOtherType"/>
  </simpleType>
  <simpleType name="VinterdriftsklasseKontrollVeieplassEnumerationType">
    <annotation>
      <documentation>9556: Beskriver hvilken standard for vinterdrift som skal gjelde for plassen. (Se også vegobjekttype 819-Vinterdriftsklasse)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="dkA">
        <annotation>
          <documentation>13766: Godkjent føreforhold er bar veg (tørr eller våt). Håndbok R610 (111)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dkB_Lav">
        <annotation>
          <documentation>13765: Godkjent føreforhold er bar veg (tørr eller våt), hard snø/is  tillates utenom hjulspor i begrenset tidsrom. Lavt tidskrav. Håndbok R610 (111)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dkB_Middels">
        <annotation>
          <documentation>13764: Godkjent føreforhold er bar veg (tørr eller våt), hard snø/is tillates utenom hjulspor i begrenset tidsrom. Middels tidskrav. Håndbok R610 (111)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dkB_Høy">
        <annotation>
          <documentation>13763: Godkjent føreforhold er bar veg (tørr eller våt), hard snø/is  tillates utenom hjulspor i begrenset tidsrom. Høyt tidskrav. Håndbok R610 (111)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dkC">
        <annotation>
          <documentation>13762: Godkjent føreforhold er bar veg (tørr eller våt) i milde perioder og  hard snø/is i kalde perioder. Håndbok R610 (111)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dkD">
        <annotation>
          <documentation>13761: Godkjent føreforhold er hard snø/is. Håndbok R610 (111)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dkE">
        <annotation>
          <documentation>13760: Godkjent føreforhold er hard snø/is. Friksjon ned til 0,20 aksepteres. DkE skal ikke nyttes på riksveg. Håndbok R610 (111)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sideanlegg">
        <annotation>
          <documentation>15875: Spesiell standard for sideanlegg</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VinterdriftsklasseKontrollVeieplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
