GML/445.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AntattHovedårsakType">
    <annotation>
      <documentation>11320: Angir hva som er antatt hovedårsak til skredet.</documentation>
    </annotation>
    <union memberTypes="nvdb:AntattHovedårsakEnumerationType nvdb:AntattHovedårsakOtherType"/>
  </simpleType>
  <simpleType name="AntattHovedårsakEnumerationType">
    <annotation>
      <documentation>11320: Angir hva som er antatt hovedårsak til skredet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="fryseOgTineprosesser">
        <annotation>
          <documentation>19098: Fryse- og tineprosesser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rotsprengning">
        <annotation>
          <documentation>19100: Rotsprengning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="langvarigForvitringKryp">
        <annotation>
          <documentation>19101: Langvarig forvitring/kryp</documentation>
        </annotation>
      </enumeration>
      <enumeration value="menneskeligAktivitet">
        <annotation>
          <documentation>19103: Menneskelig aktivitet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="undergravingAvSkråningsfot">
        <annotation>
          <documentation>19104: Undergraving av skråningsfot</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ytrePåvirkningFraSteinsprangSteinskred">
        <annotation>
          <documentation>19105: Ytre påvirkning fra steinsprang/steinskred</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dreneringsforhold">
        <annotation>
          <documentation>19106: Dreneringsforhold</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukontrollertErosjonIElvBekk">
        <annotation>
          <documentation>19107: Ukontrollert erosjon i elv/bekk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stortSnøfall">
        <annotation>
          <documentation>19108: Stort snøfall</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vindOgSnøfokk">
        <annotation>
          <documentation>19109: Vind og snøfokk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skavlfall">
        <annotation>
          <documentation>19102: Skavlfall</documentation>
        </annotation>
      </enumeration>
      <enumeration value="raskTemperaturstigning">
        <annotation>
          <documentation>19110: Rask temperaturstigning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="soloppvarming">
        <annotation>
          <documentation>19111: Soloppvarming</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vedvarendeSvakeLag">
        <annotation>
          <documentation>19112: Vedvarende svake lag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="glidningMotBakken">
        <annotation>
          <documentation>19113: Glidning mot bakken</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mildvær">
        <annotation>
          <documentation>19114: Mildvær</documentation>
        </annotation>
      </enumeration>
      <enumeration value="regnOgSmeltevann">
        <annotation>
          <documentation>19115: Regn og smeltevann</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>19117: Det er ikke grunnlag for å gi en antakelse for hva som er hovedårsak til skredet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kontrollertUtløst">
        <annotation>
          <documentation>19118: Kontrollert utløst</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annet">
        <annotation>
          <documentation>19116: Ingen av verdiene i listen er dekkende for å beskrive hovedårsak til skredet</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntattHovedårsakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BilderType">
    <annotation>
      <documentation>2355: Angir om det finnes bilder av skredet eller ikke.</documentation>
    </annotation>
    <union memberTypes="nvdb:BilderEnumerationType nvdb:BilderOtherType"/>
  </simpleType>
  <simpleType name="BilderEnumerationType">
    <annotation>
      <documentation>2355: Angir om det finnes bilder av skredet eller ikke.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4181: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4182: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BilderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BlokkertGangSykkelvegType">
    <annotation>
      <documentation>2342: Angir om gang/sykkelveg er blitt blokkert av skredet</documentation>
    </annotation>
    <union memberTypes="nvdb:BlokkertGangSykkelvegEnumerationType nvdb:BlokkertGangSykkelvegOtherType"/>
  </simpleType>
  <simpleType name="BlokkertGangSykkelvegEnumerationType">
    <annotation>
      <documentation>2342: Angir om gang/sykkelveg er blitt blokkert av skredet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4183: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4184: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BlokkertGangSykkelvegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BlokkertVeglengdeType">
    <annotation>
      <documentation>2341: Angir lengde av veg som var blokkert av skredet</documentation>
    </annotation>
    <union memberTypes="nvdb:BlokkertVeglengdeEnumerationType nvdb:BlokkertVeglengdeOtherType"/>
  </simpleType>
  <simpleType name="BlokkertVeglengdeEnumerationType">
    <annotation>
      <documentation>2341: Angir lengde av veg som var blokkert av skredet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="kunIGrøft">
        <annotation>
          <documentation>4189: Kun i grøft</documentation>
        </annotation>
      </enumeration>
      <enumeration value="under10M">
        <annotation>
          <documentation>4185: &lt; 10 m</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10_50M">
        <annotation>
          <documentation>4186: 10 - 50 m</documentation>
        </annotation>
      </enumeration>
      <enumeration value="50_100M">
        <annotation>
          <documentation>4187: 50 - 100 m</documentation>
        </annotation>
      </enumeration>
      <enumeration value="over100M">
        <annotation>
          <documentation>4188: &gt; 100 m</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stoppetISikringstiltak_Ny">
        <annotation>
          <documentation>19889: Skredet har stoppet i skredsikringstiltak. Det ville blokkert veg om ikke siikringstiltak var etablert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="passerteVegUtenÅLeggeIgjenSkredmasser_Ny">
        <annotation>
          <documentation>19890: Skredmasser har krysset veg uten å legge igjen nevneverdige skredmasser på vegen.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BlokkertVeglengdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HøydeforskjellVegUtløsningsstedType">
    <annotation>
      <documentation>2330: Angir høydeforskjell mellom skredets utløsningssted og vegen</documentation>
    </annotation>
    <union memberTypes="nvdb:HøydeforskjellVegUtløsningsstedEnumerationType nvdb:HøydeforskjellVegUtløsningsstedOtherType"/>
  </simpleType>
  <simpleType name="HøydeforskjellVegUtløsningsstedEnumerationType">
    <annotation>
      <documentation>2330: Angir høydeforskjell mellom skredets utløsningssted og vegen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0_50M_Historisk">
        <annotation>
          <documentation>4190: Verdi skal ikke benyttes etter 1/10-2019. I stedet benyttes nye verdier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="0_5M_Ny">
        <annotation>
          <documentation>19886: 0 - 5 m (ny)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5_20M_Ny">
        <annotation>
          <documentation>19887: 5 - 20 m (ny)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20_50M_Ny">
        <annotation>
          <documentation>19888: 20 - 50 m (ny)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="50_200M">
        <annotation>
          <documentation>4191: 50 - 200 m</documentation>
        </annotation>
      </enumeration>
      <enumeration value="over200M">
        <annotation>
          <documentation>4192: &gt; 200 m</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nedenforVeg">
        <annotation>
          <documentation>13105: Nedenfor veg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeVurdert">
        <annotation>
          <documentation>4193: Ikke vurdert</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HøydeforskjellVegUtløsningsstedOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LøsneområdeType">
    <annotation>
      <documentation>2328: Angir løsneområde for skredet</documentation>
    </annotation>
    <union memberTypes="nvdb:LøsneområdeEnumerationType nvdb:LøsneområdeOtherType"/>
  </simpleType>
  <simpleType name="LøsneområdeEnumerationType">
    <annotation>
      <documentation>2328: Angir løsneområde for skredet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="tunnelmunning_Historisk">
        <annotation>
          <documentation>4194: Inkluderer område &lt; 50 m fra tunnel. Merknad: Verdi skal ikke benyttes ved nye registreringer, det angis i stedet verdi "Vegskjæring", "Fjell/dalside" eller "Ur"</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegskjæring">
        <annotation>
          <documentation>4195: Vegskjæring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ur">
        <annotation>
          <documentation>4196: Ur</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fjellDalside">
        <annotation>
          <documentation>4197: Fjell/dalside</documentation>
        </annotation>
      </enumeration>
      <enumeration value="inneITunnel">
        <annotation>
          <documentation>5349: Inne i tunnel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegbaneFylling">
        <annotation>
          <documentation>13104: Vegbane/-fylling</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LøsneområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåBruType">
    <annotation>
      <documentation>2335: Angir om skredet har medført skade på bru</documentation>
    </annotation>
    <union memberTypes="nvdb:SkadePåBruEnumerationType nvdb:SkadePåBruOtherType"/>
  </simpleType>
  <simpleType name="SkadePåBruEnumerationType">
    <annotation>
      <documentation>2335: Angir om skredet har medført skade på bru</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4204: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4205: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåBruOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåDreneringType">
    <annotation>
      <documentation>2338: Angir om skredet har medført skade på drenering</documentation>
    </annotation>
    <union memberTypes="nvdb:SkadePåDreneringEnumerationType nvdb:SkadePåDreneringOtherType"/>
  </simpleType>
  <simpleType name="SkadePåDreneringEnumerationType">
    <annotation>
      <documentation>2338: Angir om skredet har medført skade på drenering</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4206: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4207: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåDreneringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåKjøretøyType">
    <annotation>
      <documentation>2333: Angir om skredet har medført skade på kjøretøy</documentation>
    </annotation>
    <union memberTypes="nvdb:SkadePåKjøretøyEnumerationType nvdb:SkadePåKjøretøyOtherType"/>
  </simpleType>
  <simpleType name="SkadePåKjøretøyEnumerationType">
    <annotation>
      <documentation>2333: Angir om skredet har medført skade på kjøretøy</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4208: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4209: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåKjøretøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåPersonType">
    <annotation>
      <documentation>2332: Angir om skredet har medført skade på person</documentation>
    </annotation>
    <union memberTypes="nvdb:SkadePåPersonEnumerationType nvdb:SkadePåPersonOtherType"/>
  </simpleType>
  <simpleType name="SkadePåPersonEnumerationType">
    <annotation>
      <documentation>2332: Angir om skredet har medført skade på person</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4210: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4211: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåPersonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåRekkverkType">
    <annotation>
      <documentation>2336: Angir om skredet har medført skade på rekkverk</documentation>
    </annotation>
    <union memberTypes="nvdb:SkadePåRekkverkEnumerationType nvdb:SkadePåRekkverkOtherType"/>
  </simpleType>
  <simpleType name="SkadePåRekkverkEnumerationType">
    <annotation>
      <documentation>2336: Angir om skredet har medført skade på rekkverk</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4212: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4213: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåRekkverkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåVegdekkeVegkroppType">
    <annotation>
      <documentation>2334: Angir om skredet har medført skade på vegdekke og/eller vegkropp</documentation>
    </annotation>
    <union memberTypes="nvdb:SkadePåVegdekkeVegkroppEnumerationType nvdb:SkadePåVegdekkeVegkroppOtherType"/>
  </simpleType>
  <simpleType name="SkadePåVegdekkeVegkroppEnumerationType">
    <annotation>
      <documentation>2334: Angir om skredet har medført skade på vegdekke og/eller vegkropp</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4214: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4215: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåVegdekkeVegkroppOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skred" substitutionGroup="nvdb:AbstraktSkred" type="nvdb:SkredType">
    <annotation>
      <documentation>445: Masser som løsner</documentation>
    </annotation>
  </element>
  <complexType name="SkredType">
    <complexContent>
      <extension base="nvdb:AbstraktSkredType">
        <sequence>
          <element name="skredDato" type="date">
            <annotation>
              <documentation>2324: Angir dato da skredet gikk</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skredKlokkeslett" type="integer">
            <annotation>
              <documentation>2325: Angir klokkeslett da skredet gikk</documentation>
            </annotation>
          </element>
          <element name="typeSkred" type="nvdb:TypeSkredType">
            <annotation>
              <documentation>2326: Angir hvilken type skred det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="løsneområde" type="nvdb:LøsneområdeType">
            <annotation>
              <documentation>2328: Angir løsneområde for skredet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelse" type="string">
            <annotation>
              <documentation>7905: Stedsnavn hvor forekomst er lokalisert.  Evt plassering i forhold til stedsnavn.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="volumAvSkredmasserPåVeg" type="nvdb:VolumAvSkredmasserPåVegType">
            <annotation>
              <documentation>2327: Angir volum av skredmasser på vegen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="volumAvTotaleSkredmasser" type="integer">
            <annotation>
              <documentation>2329: Anslag over hvor stort det totale skredet har vært
Enhet: Kubikkmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="blokkertVeglengde" type="nvdb:BlokkertVeglengdeType">
            <annotation>
              <documentation>2341: Angir lengde av veg som var blokkert av skredet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="blokkertGangSykkelveg" type="nvdb:BlokkertGangSykkelvegType">
            <annotation>
              <documentation>2342: Angir om gang/sykkelveg er blitt blokkert av skredet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeforskjellVegUtløsningssted" type="nvdb:HøydeforskjellVegUtløsningsstedType">
            <annotation>
              <documentation>2330: Angir høydeforskjell mellom skredets utløsningssted og vegen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="grøftebreddePåSkredside" type="double">
            <annotation>
              <documentation>2343: Angir grøftebredde på skredside
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vesentligeSkader" type="nvdb:VesentligeSkaderType">
            <annotation>
              <documentation>2331: Angir om skredet totalt sett har gitt vesentlige skader eller ikke.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåPerson" type="nvdb:SkadePåPersonType">
            <annotation>
              <documentation>2332: Angir om skredet har medført skade på person</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåKjøretøy" type="nvdb:SkadePåKjøretøyType">
            <annotation>
              <documentation>2333: Angir om skredet har medført skade på kjøretøy</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåVegdekkeVegkropp" type="nvdb:SkadePåVegdekkeVegkroppType">
            <annotation>
              <documentation>2334: Angir om skredet har medført skade på vegdekke og/eller vegkropp</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåBru" type="nvdb:SkadePåBruType">
            <annotation>
              <documentation>2335: Angir om skredet har medført skade på bru</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåRekkverk" type="nvdb:SkadePåRekkverkType">
            <annotation>
              <documentation>2336: Angir om skredet har medført skade på rekkverk</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåDrenering" type="nvdb:SkadePåDreneringType">
            <annotation>
              <documentation>2338: Angir om skredet har medført skade på drenering</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antattHovedårsak" type="nvdb:AntattHovedårsakType">
            <annotation>
              <documentation>11320: Angir hva som er antatt hovedårsak til skredet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stengning" type="nvdb:StengningSkredType">
            <annotation>
              <documentation>2344: Gir informasjon om eventuell stengning av vegen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="værforholdPåVegen" type="nvdb:VærforholdPåVegenType">
            <annotation>
              <documentation>2339: Angir hvilke værforhold det var på vegen da skredet gikk</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vindretning" type="nvdb:VindretningType">
            <annotation>
              <documentation>2340: Angir hvilken vindretning det var på vegen da skredet gikk</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="temperaturPåVeg" type="double">
            <annotation>
              <documentation>5153: Angir lufttemperatur på/ved vegen der skredet har inntruffet.
Enhet: Grader Celcius</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bilder" type="nvdb:BilderType">
            <annotation>
              <documentation>2355: Angir om det finnes bilder av skredet eller ikke.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsansvarlig" type="string">
            <annotation>
              <documentation>7845: Angir hvem som er ansvarlig for registrert informasjon om skredet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11655: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11475: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8938: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4963: Gir koordinatsett for å avgrense vegobjektets utstrekning. Vegobjektet representeres med vegnettsgeometri på strekning mellom startpunkt og sluttpunkt. Eventuelt mellomliggende punkt benyttes for å sikre at riktig veglinje benyttes for hele strekningen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8912: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkredPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skred"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="StengningSkredType">
    <annotation>
      <documentation>2344: Gir informasjon om eventuell stengning av vegen</documentation>
    </annotation>
    <union memberTypes="nvdb:StengningSkredEnumerationType nvdb:StengningSkredOtherType"/>
  </simpleType>
  <simpleType name="StengningSkredEnumerationType">
    <annotation>
      <documentation>2344: Gir informasjon om eventuell stengning av vegen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ingenStengning">
        <annotation>
          <documentation>4216: Ingen stengning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stengningAvDelAvVegbane">
        <annotation>
          <documentation>4217: F.eks stengning av et kjørefelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stengtForTungtrafikk">
        <annotation>
          <documentation>4218: Stengt for tungtrafikk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stengtForPersonbiler">
        <annotation>
          <documentation>4219: Stengt for personbiler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stengtForAllTrafikk">
        <annotation>
          <documentation>4220: Stengt for all trafikk</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StengningSkredOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeSkredType">
    <annotation>
      <documentation>2326: Angir hvilken type skred det er tale om</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeSkredEnumerationType nvdb:TypeSkredOtherType"/>
  </simpleType>
  <simpleType name="TypeSkredEnumerationType">
    <annotation>
      <documentation>2326: Angir hvilken type skred det er tale om</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stein">
        <annotation>
          <documentation>4198: Stein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="jordLøsmasse">
        <annotation>
          <documentation>4199: Jord/løsmasse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="snø">
        <annotation>
          <documentation>4200: Snø</documentation>
        </annotation>
      </enumeration>
      <enumeration value="is">
        <annotation>
          <documentation>4201: Is</documentation>
        </annotation>
      </enumeration>
      <enumeration value="isStein">
        <annotation>
          <documentation>5351: Is/stein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="flomskred_VannSteinJord">
        <annotation>
          <documentation>4202: Består av vann, stein og jord</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sørpeskred_VannSnøStein">
        <annotation>
          <documentation>4203: Består av vann, snø og stein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="utglidningAvVeg">
        <annotation>
          <documentation>13103: Utglidning av veg</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSkredOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VesentligeSkaderType">
    <annotation>
      <documentation>2331: Angir om skredet totalt sett har gitt vesentlige skader eller ikke.</documentation>
    </annotation>
    <union memberTypes="nvdb:VesentligeSkaderEnumerationType nvdb:VesentligeSkaderOtherType"/>
  </simpleType>
  <simpleType name="VesentligeSkaderEnumerationType">
    <annotation>
      <documentation>2331: Angir om skredet totalt sett har gitt vesentlige skader eller ikke.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4221: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4222: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VesentligeSkaderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VindretningType">
    <annotation>
      <documentation>2340: Angir hvilken vindretning det var på vegen da skredet gikk</documentation>
    </annotation>
    <union memberTypes="nvdb:VindretningEnumerationType nvdb:VindretningOtherType"/>
  </simpleType>
  <simpleType name="VindretningEnumerationType">
    <annotation>
      <documentation>2340: Angir hvilken vindretning det var på vegen da skredet gikk</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="S">
        <annotation>
          <documentation>4223: sør</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SSV">
        <annotation>
          <documentation>4224: Sør-sørvest</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SV">
        <annotation>
          <documentation>4225: Sørvest</documentation>
        </annotation>
      </enumeration>
      <enumeration value="VSV">
        <annotation>
          <documentation>4226: Vest-Sørvest</documentation>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>4227: Vest</documentation>
        </annotation>
      </enumeration>
      <enumeration value="VNV">
        <annotation>
          <documentation>4228: Vest-nordvest</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NV">
        <annotation>
          <documentation>4229: Nordvest</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NNV">
        <annotation>
          <documentation>4230: Nord-nordvest</documentation>
        </annotation>
      </enumeration>
      <enumeration value="N">
        <annotation>
          <documentation>4231: Nord</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NNØ">
        <annotation>
          <documentation>4232: Nord-nordøst</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NØ">
        <annotation>
          <documentation>4238: Nordøst</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ØNØ">
        <annotation>
          <documentation>4233: Øst-nordøst</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Ø">
        <annotation>
          <documentation>4234: Øst</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ØSØ">
        <annotation>
          <documentation>4235: Øst-sørøst</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SØ">
        <annotation>
          <documentation>4236: Sørøst</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SSØ">
        <annotation>
          <documentation>4237: Sør-sørøst</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vindstille">
        <annotation>
          <documentation>13240: Vindstille</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VindretningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VolumAvSkredmasserPåVegType">
    <annotation>
      <documentation>2327: Angir volum av skredmasser på vegen</documentation>
    </annotation>
    <union memberTypes="nvdb:VolumAvSkredmasserPåVegEnumerationType nvdb:VolumAvSkredmasserPåVegOtherType"/>
  </simpleType>
  <simpleType name="VolumAvSkredmasserPåVegEnumerationType">
    <annotation>
      <documentation>2327: Angir volum av skredmasser på vegen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="under1Kbm">
        <annotation>
          <documentation>4239: &lt; 1 kbm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="under_10Kbm">
        <annotation>
          <documentation>4240: &lt;10 kbm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="under100Kbm">
        <annotation>
          <documentation>4241: &lt; 100 kbm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="under1000Kbm">
        <annotation>
          <documentation>4242: &lt; 1000 kbm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="over1000Kbm">
        <annotation>
          <documentation>4243: &gt; 1000 kbm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeVurdert">
        <annotation>
          <documentation>4244: Ikke vurdert</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VolumAvSkredmasserPåVegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VærforholdPåVegenType">
    <annotation>
      <documentation>2339: Angir hvilke værforhold det var på vegen da skredet gikk</documentation>
    </annotation>
    <union memberTypes="nvdb:VærforholdPåVegenEnumerationType nvdb:VærforholdPåVegenOtherType"/>
  </simpleType>
  <simpleType name="VærforholdPåVegenEnumerationType">
    <annotation>
      <documentation>2339: Angir hvilke værforhold det var på vegen da skredet gikk</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ingenNedbør">
        <annotation>
          <documentation>4245: Ingen nedbør</documentation>
        </annotation>
      </enumeration>
      <enumeration value="regn">
        <annotation>
          <documentation>4246: Regn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="regn_Lite">
        <annotation>
          <documentation>4247: Regn, lite</documentation>
        </annotation>
      </enumeration>
      <enumeration value="regn_Middels">
        <annotation>
          <documentation>4248: Regn, middels</documentation>
        </annotation>
      </enumeration>
      <enumeration value="regn_Mye">
        <annotation>
          <documentation>4249: Regn, mye</documentation>
        </annotation>
      </enumeration>
      <enumeration value="snø">
        <annotation>
          <documentation>4250: Snø</documentation>
        </annotation>
      </enumeration>
      <enumeration value="snø_Lite">
        <annotation>
          <documentation>4251: Snø, lite</documentation>
        </annotation>
      </enumeration>
      <enumeration value="snø_Middels">
        <annotation>
          <documentation>4252: Snø, middels</documentation>
        </annotation>
      </enumeration>
      <enumeration value="snø_Mye">
        <annotation>
          <documentation>4253: Snø, mye</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VærforholdPåVegenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
