GML/445.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>445: Masser som løsner.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AntattHovedårsakSkredType">
      <annotation>
         <documentation>11320: Angir hva som er antatt hovedårsak til skredet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11320</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antatt hovedårsak</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AntattHovedårsakSkredEnumerationType nvdb:AntattHovedårsakSkredOtherType"/>
   </simpleType>
   <simpleType name="AntattHovedårsakSkredEnumerationType">
      <annotation>
         <documentation>11320: Angir hva som er antatt hovedårsak til skredet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11320</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antatt hovedårsak</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>19116: Ingen av verdiene i listen er dekkende for å beskrive hovedårsak til skredet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19116</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19106</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dreneringsforhold</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19098</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fryse- og tineprosesser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19113</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glidning mot bakken</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19118</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kontrollert utløst</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19101</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Langvarig forvitring/kryp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MA">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19103</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Menneskelig aktivitet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19114</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mildvær</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19110</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rask temperaturstigning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19115</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Regn og smeltevann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19100</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rotsprengning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19102</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skavlfall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SI">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19111</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Soloppvarming</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19108</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stort snøfall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>19117: Det er ikke grunnlag for å gi en antakelse for hva som er hovedårsak til skredet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19117</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UE">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19107</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukontrollert erosjon i elv/bekk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="US">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19104</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Undergraving av skråningsfot</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19112</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vedvarende svake lag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19109</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vind og snøfokk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="PS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19105</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ytre påvirkning fra steinsprang/steinskred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AntattHovedårsakSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BilderSkredType">
      <annotation>
         <documentation>2355: Angir om det finnes bilder av skredet eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2355</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bilder</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BilderSkredEnumerationType nvdb:BilderSkredOtherType"/>
   </simpleType>
   <simpleType name="BilderSkredEnumerationType">
      <annotation>
         <documentation>2355: Angir om det finnes bilder av skredet eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2355</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bilder</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4181</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4182</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BilderSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BlokkertGangSykkelvegSkredType">
      <annotation>
         <documentation>2342: Angir om gang/sykkelveg er blitt blokkert av skredet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2342</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Blokkert gang/sykkelveg</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BlokkertGangSykkelvegSkredEnumerationType nvdb:BlokkertGangSykkelvegSkredOtherType"/>
   </simpleType>
   <simpleType name="BlokkertGangSykkelvegSkredEnumerationType">
      <annotation>
         <documentation>2342: Angir om gang/sykkelveg er blitt blokkert av skredet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2342</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Blokkert gang/sykkelveg</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4183</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4184</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BlokkertGangSykkelvegSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BlokkertVeglengdeSkredType">
      <annotation>
         <documentation>2341: Angir lengde av veg som var blokkert av skredet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2341</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Blokkert veglengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BlokkertVeglengdeSkredEnumerationType nvdb:BlokkertVeglengdeSkredOtherType"/>
   </simpleType>
   <simpleType name="BlokkertVeglengdeSkredEnumerationType">
      <annotation>
         <documentation>2341: Angir lengde av veg som var blokkert av skredet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2341</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Blokkert veglengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="03">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4186</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10 - 50 m</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="04">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4187</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">50 - 100 m</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="02">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4185</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&lt; 10 m</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="05">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4188</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&gt; 100 m</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="01">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4189</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kun i grøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <documentation>19890: Skredmasser har krysset veg uten å legge igjen nevneverdige skredmasser på vegen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19890</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Passerte veg uten å legge igjen skredmasser (ny)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sst">
            <annotation>
               <documentation>19889: Skredet har stoppet i skredsikringstiltak. Det ville blokkert veg om ikke sikringstiltak var etablert.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19889</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stoppet i sikringstiltak (ny)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BlokkertVeglengdeSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="HøydeforskjellVegUtløsningsstedSkredType">
      <annotation>
         <documentation>2330: Angir høydeforskjell mellom skredets utløsningssted og vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2330</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Høydeforskjell veg/utløsningssted</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:HøydeforskjellVegUtløsningsstedSkredEnumerationType nvdb:HøydeforskjellVegUtløsningsstedSkredOtherType"/>
   </simpleType>
   <simpleType name="HøydeforskjellVegUtløsningsstedSkredEnumerationType">
      <annotation>
         <documentation>2330: Angir høydeforskjell mellom skredets utløsningssted og vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2330</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Høydeforskjell veg/utløsningssted</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19886</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0 - 5 m (ny)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hist">
            <annotation>
               <documentation>4190: Verdi skal ikke benyttes etter 1/10-2019. I stedet benyttes nye verdier.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4190</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0 - 50 m (historisk)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19888</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">20 - 50 m (ny)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="20">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19887</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5 - 20 m (ny)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50-200">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4191</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">50 - 200 m</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="&gt;200">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4192</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&gt; 200 m</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4193</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke vurdert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13105</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nedenfor veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="HøydeforskjellVegUtløsningsstedSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="LøsneområdeSkredType">
      <annotation>
         <documentation>2328: Angir løsneområde for skredet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2328</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Løsneområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LøsneområdeSkredEnumerationType nvdb:LøsneområdeSkredOtherType"/>
   </simpleType>
   <simpleType name="LøsneområdeSkredEnumerationType">
      <annotation>
         <documentation>2328: Angir løsneområde for skredet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2328</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Løsneområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fd">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4197</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjell/dalside</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="it">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5349</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Inne i tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tm">
            <annotation>
               <documentation>4194: Inkluderer område &lt; 50 m fra tunnel. Merknad: Verdi skal ikke benyttes ved nye registreringer, det angis i stedet verdi "Vegskjæring", "Fjell/dalside" eller "Ur".</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4194</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnelmunning (historisk)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ur">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4196</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13104</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegbane/-fylling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4195</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegskjæring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LøsneområdeSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SkadePåBruSkredType">
      <annotation>
         <documentation>2335: Angir om skredet har medført skade på bru.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2335</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skade på bru</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkadePåBruSkredEnumerationType nvdb:SkadePåBruSkredOtherType"/>
   </simpleType>
   <simpleType name="SkadePåBruSkredEnumerationType">
      <annotation>
         <documentation>2335: Angir om skredet har medført skade på bru.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2335</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skade på bru</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4204</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4205</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkadePåBruSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SkadePåDreneringSkredType">
      <annotation>
         <documentation>2338: Angir om skredet har medført skade på drenering.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2338</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skade på drenering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkadePåDreneringSkredEnumerationType nvdb:SkadePåDreneringSkredOtherType"/>
   </simpleType>
   <simpleType name="SkadePåDreneringSkredEnumerationType">
      <annotation>
         <documentation>2338: Angir om skredet har medført skade på drenering.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2338</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skade på drenering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4206</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4207</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkadePåDreneringSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SkadePåKjøretøySkredType">
      <annotation>
         <documentation>2333: Angir om skredet har medført skade på kjøretøy.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2333</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skade på kjøretøy</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkadePåKjøretøySkredEnumerationType nvdb:SkadePåKjøretøySkredOtherType"/>
   </simpleType>
   <simpleType name="SkadePåKjøretøySkredEnumerationType">
      <annotation>
         <documentation>2333: Angir om skredet har medført skade på kjøretøy.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2333</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skade på kjøretøy</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4208</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4209</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkadePåKjøretøySkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SkadePåPersonSkredType">
      <annotation>
         <documentation>2332: Angir om skredet har medført skade på person.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2332</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skade på person</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkadePåPersonSkredEnumerationType nvdb:SkadePåPersonSkredOtherType"/>
   </simpleType>
   <simpleType name="SkadePåPersonSkredEnumerationType">
      <annotation>
         <documentation>2332: Angir om skredet har medført skade på person.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2332</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skade på person</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4210</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4211</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkadePåPersonSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SkadePåRekkverkSkredType">
      <annotation>
         <documentation>2336: Angir om skredet har medført skade på rekkverk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2336</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skade på rekkverk</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkadePåRekkverkSkredEnumerationType nvdb:SkadePåRekkverkSkredOtherType"/>
   </simpleType>
   <simpleType name="SkadePåRekkverkSkredEnumerationType">
      <annotation>
         <documentation>2336: Angir om skredet har medført skade på rekkverk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2336</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skade på rekkverk</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4212</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4213</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkadePåRekkverkSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SkadePåVegdekkeVegkroppSkredType">
      <annotation>
         <documentation>2334: Angir om skredet har medført skade på vegdekke og/eller vegkropp.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2334</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skade på vegdekke/vegkropp</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkadePåVegdekkeVegkroppSkredEnumerationType nvdb:SkadePåVegdekkeVegkroppSkredOtherType"/>
   </simpleType>
   <simpleType name="SkadePåVegdekkeVegkroppSkredEnumerationType">
      <annotation>
         <documentation>2334: Angir om skredet har medført skade på vegdekke og/eller vegkropp.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2334</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skade på vegdekke/vegkropp</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4214</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4215</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkadePåVegdekkeVegkroppSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Skred"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:SkredType">
      <annotation>
         <documentation>445: Masser som løsner.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">445</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skred</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SkredType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="skredDato" type="date">
                  <annotation>
                     <documentation>2324: Angir dato da skredet gikk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2324</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skred dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="skredKlokkeslett" type="integer">
                  <annotation>
                     <documentation>2325: Angir klokkeslett da skredet gikk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2325</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skred klokkeslett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typeSkred">
                  <annotation>
                     <documentation>2326: Angir hvilken type skred det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2326</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type skred</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="løsneområde" type="nvdb:LøsneområdeSkredType">
                  <annotation>
                     <documentation>2328: Angir løsneområde for skredet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2328</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Løsneområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stedsangivelse" type="string">
                  <annotation>
                     <documentation>7905: Stedsnavn hvor forekomst er lokalisert. Ev. plassering i forhold til stedsnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7905</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stedsangivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="volumAvSkredmasserPåVeg">
                  <annotation>
                     <documentation>2327: Angir volum av skredmasser på vegen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2327</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Volum av skredmasser på veg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="volumAvTotaleSkredmasser" type="integer">
                  <annotation>
                     <documentation>2329: Anslag over hvor stort det totale skredet har vært.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2329</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Volum av totale skredmasser</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="blokkertVeglengde">
                  <annotation>
                     <documentation>2341: Angir lengde av veg som var blokkert av skredet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2341</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Blokkert veglengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="blokkertGangSykkelveg">
                  <annotation>
                     <documentation>2342: Angir om gang/sykkelveg er blitt blokkert av skredet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2342</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Blokkert gang/sykkelveg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høydeforskjellVegUtløsningssted">
                  <annotation>
                     <documentation>2330: Angir høydeforskjell mellom skredets utløsningssted og vegen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2330</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høydeforskjell veg/utløsningssted</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="grøftebreddePåSkredside" type="double">
                  <annotation>
                     <documentation>2343: Angir grøftebredde på skredside.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2343</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Grøftebredde på skredside</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vesentligeSkader">
                  <annotation>
                     <documentation>2331: Angir om skredet totalt sett har gitt vesentlige skader eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2331</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vesentlige skader</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="skadePåPerson">
                  <annotation>
                     <documentation>2332: Angir om skredet har medført skade på person.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2332</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skade på person</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="skadePåKjøretøy">
                  <annotation>
                     <documentation>2333: Angir om skredet har medført skade på kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2333</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skade på kjøretøy</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="skadePåVegdekkeVegkropp">
                  <annotation>
                     <documentation>2334: Angir om skredet har medført skade på vegdekke og/eller vegkropp.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2334</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skade på vegdekke/vegkropp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="skadePåBru">
                  <annotation>
                     <documentation>2335: Angir om skredet har medført skade på bru.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2335</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skade på bru</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="skadePåRekkverk">
                  <annotation>
                     <documentation>2336: Angir om skredet har medført skade på rekkverk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2336</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skade på rekkverk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="skadePåDrenering">
                  <annotation>
                     <documentation>2338: Angir om skredet har medført skade på drenering.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2338</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skade på drenering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antattHovedårsak">
                  <annotation>
                     <documentation>11320: Angir hva som er antatt hovedårsak til skredet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11320</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antatt hovedårsak</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="stengning" type="nvdb:StengningSkredType">
                  <annotation>
                     <documentation>2344: Gir informasjon om eventuell stengning av vegen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2344</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stengning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="værforholdPåVegen">
                  <annotation>
                     <documentation>2339: Angir hvilke værforhold det var på vegen da skredet gikk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2339</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Værforhold på vegen</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vindretning" type="nvdb:VindretningSkredType">
                  <annotation>
                     <documentation>2340: Angir hvilken vindretning det var på vegen da skredet gikk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2340</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vindretning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="temperaturPåVeg" type="double">
                  <annotation>
                     <documentation>5153: Angir lufttemperatur på/ved vegen der skredet har inntruffet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5153</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Temperatur på veg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bilder" type="nvdb:BilderSkredType">
                  <annotation>
                     <documentation>2355: Angir om det finnes bilder av skredet eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2355</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bilder</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="registreringsansvarlig" type="string">
                  <annotation>
                     <documentation>7845: Angir hvem som er ansvarlig for registrert informasjon om skredet. Det skal angis organisasjon/organisasjonsenhet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7845</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Registreringsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11655: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11655</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11475: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11475</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>8938: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8938</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4963: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4963</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>8912: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8912</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SkredPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Skred"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="StengningSkredType">
      <annotation>
         <documentation>2344: Gir informasjon om eventuell stengning av vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2344</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StengningSkredEnumerationType nvdb:StengningSkredOtherType"/>
   </simpleType>
   <simpleType name="StengningSkredEnumerationType">
      <annotation>
         <documentation>2344: Gir informasjon om eventuell stengning av vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2344</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="i">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4216</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen stengning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="d">
            <annotation>
               <documentation>4217: F.eks. stengning av et kjørefelt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4217</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stengning av del av vegbane</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4220</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stengt for all trafikk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4219</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stengt for personbiler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4218</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stengt for tungtrafikk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StengningSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeSkredSkredType">
      <annotation>
         <documentation>2326: Angir hvilken type skred det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2326</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type skred</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeSkredSkredEnumerationType nvdb:TypeSkredSkredOtherType"/>
   </simpleType>
   <simpleType name="TypeSkredSkredEnumerationType">
      <annotation>
         <documentation>2326: Angir hvilken type skred det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2326</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type skred</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fl">
            <annotation>
               <documentation>4202: Består av vann, stein og jord.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4202</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flomskred (vann+stein+jord)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="is">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4201</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Is</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="si">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5351</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Is/stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="jl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4199</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jord/løsmasse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sn">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4200</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snø</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4198</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sr">
            <annotation>
               <documentation>4203: Består av vann, snø og stein.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4203</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sørpeskred (vann+snø+stein)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Utg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13103</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utglidning av veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeSkredSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VesentligeSkaderSkredType">
      <annotation>
         <documentation>2331: Angir om skredet totalt sett har gitt vesentlige skader eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2331</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vesentlige skader</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VesentligeSkaderSkredEnumerationType nvdb:VesentligeSkaderSkredOtherType"/>
   </simpleType>
   <simpleType name="VesentligeSkaderSkredEnumerationType">
      <annotation>
         <documentation>2331: Angir om skredet totalt sett har gitt vesentlige skader eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2331</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vesentlige skader</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4221</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4222</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VesentligeSkaderSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VindretningSkredType">
      <annotation>
         <documentation>2340: Angir hvilken vindretning det var på vegen da skredet gikk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2340</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vindretning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VindretningSkredEnumerationType nvdb:VindretningSkredOtherType"/>
   </simpleType>
   <simpleType name="VindretningSkredEnumerationType">
      <annotation>
         <documentation>2340: Angir hvilken vindretning det var på vegen da skredet gikk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2340</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vindretning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="n2">
            <annotation>
               <documentation>4231: Nord.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4231</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">N</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n1">
            <annotation>
               <documentation>4230: Nord-nordvest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4230</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NNV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n3">
            <annotation>
               <documentation>4232: Nord-nordøst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4232</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NNØ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nv">
            <annotation>
               <documentation>4229: Nordvest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4229</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="no">
            <annotation>
               <documentation>4238: Nordøst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4238</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NØ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s3">
            <annotation>
               <documentation>4223: Sør.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4223</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s2">
            <annotation>
               <documentation>4224: Sør-sørvest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4224</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SSV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s1">
            <annotation>
               <documentation>4237: Sør-sørøst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4237</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SSØ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sv">
            <annotation>
               <documentation>4225: Sørvest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4225</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="so">
            <annotation>
               <documentation>4236: Sørøst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4236</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SØ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v2">
            <annotation>
               <documentation>4227: Vest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4227</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">V</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13240</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vindstille</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v3">
            <annotation>
               <documentation>4228: Vest-nordvest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4228</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VNV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v1">
            <annotation>
               <documentation>4226: Vest-Sørvest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4226</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VSV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="o2">
            <annotation>
               <documentation>4234: Øst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4234</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ø</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="o1">
            <annotation>
               <documentation>4233: Øst-nordøst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4233</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">ØNØ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="o3">
            <annotation>
               <documentation>4235: Øst-sørøst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4235</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">ØSØ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VindretningSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VolumAvSkredmasserPåVegSkredType">
      <annotation>
         <documentation>2327: Angir volum av skredmasser på vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2327</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Volum av skredmasser på veg</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VolumAvSkredmasserPåVegSkredEnumerationType nvdb:VolumAvSkredmasserPåVegSkredOtherType"/>
   </simpleType>
   <simpleType name="VolumAvSkredmasserPåVegSkredEnumerationType">
      <annotation>
         <documentation>2327: Angir volum av skredmasser på vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2327</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Volum av skredmasser på veg</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="01">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4239</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&lt; 1 kbm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="03">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4241</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&lt; 100 kbm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="04">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4242</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&lt; 1000 kbm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="02">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4240</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&lt;10 kbm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="05">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4243</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&gt; 1000 kbm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="06">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4244</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke vurdert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VolumAvSkredmasserPåVegSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VærforholdPåVegenSkredType">
      <annotation>
         <documentation>2339: Angir hvilke værforhold det var på vegen da skredet gikk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2339</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Værforhold på vegen</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VærforholdPåVegenSkredEnumerationType nvdb:VærforholdPåVegenSkredOtherType"/>
   </simpleType>
   <simpleType name="VærforholdPåVegenSkredEnumerationType">
      <annotation>
         <documentation>2339: Angir hvilke værforhold det var på vegen da skredet gikk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2339</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Værforhold på vegen</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="i">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4245</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen nedbør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4246</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Regn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4247</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Regn, lite</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4248</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Regn, middels</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4249</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Regn, mye</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4250</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snø</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4251</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snø, lite</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4252</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snø, middels</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4253</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snø, mye</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VærforholdPåVegenSkredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
