GML/445.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AntattHovedårsakType">
    <annotation>
      <documentation>11320: Angir hva som er antatt hovedårsak til skredet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11320</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11320</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Antatt hovedårsak</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AntattHovedårsakEnumerationType nvdb:AntattHovedårsakOtherType"/>
  </simpleType>
  <simpleType name="AntattHovedårsakEnumerationType">
    <annotation>
      <documentation>11320: Angir hva som er antatt hovedårsak til skredet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11320</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11320</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Antatt hovedårsak</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Fryse- og tineprosesser">
        <annotation>
          <documentation>19098: Fryse- og tineprosesser</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19098</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fryse- og tineprosesser</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rotsprengning">
        <annotation>
          <documentation>19100: Rotsprengning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19100</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rotsprengning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Langvarig forvitring/kryp">
        <annotation>
          <documentation>19101: Langvarig forvitring/kryp</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19101</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Langvarig forvitring/kryp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Menneskelig aktivitet">
        <annotation>
          <documentation>19103: Menneskelig aktivitet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19103</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Menneskelig aktivitet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Undergraving av skråningsfot">
        <annotation>
          <documentation>19104: Undergraving av skråningsfot</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19104</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Undergraving av skråningsfot</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ytre påvirkning fra steinsprang/steinskred">
        <annotation>
          <documentation>19105: Ytre påvirkning fra steinsprang/steinskred</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19105</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ytre påvirkning fra steinsprang/steinskred</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dreneringsforhold">
        <annotation>
          <documentation>19106: Dreneringsforhold</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19106</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dreneringsforhold</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukontrollert erosjon i elv/bekk">
        <annotation>
          <documentation>19107: Ukontrollert erosjon i elv/bekk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19107</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukontrollert erosjon i elv/bekk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stort snøfall">
        <annotation>
          <documentation>19108: Stort snøfall</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19108</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stort snøfall</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vind og snøfokk">
        <annotation>
          <documentation>19109: Vind og snøfokk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19109</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vind og snøfokk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skavlfall">
        <annotation>
          <documentation>19102: Skavlfall</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19102</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skavlfall</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rask temperaturstigning">
        <annotation>
          <documentation>19110: Rask temperaturstigning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19110</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rask temperaturstigning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Soloppvarming">
        <annotation>
          <documentation>19111: Soloppvarming</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19111</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Soloppvarming</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vedvarende svake lag">
        <annotation>
          <documentation>19112: Vedvarende svake lag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19112</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedvarende svake lag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glidning mot bakken">
        <annotation>
          <documentation>19113: Glidning mot bakken</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19113</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glidning mot bakken</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mildvær">
        <annotation>
          <documentation>19114: Mildvær</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19114</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mildvær</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Regn og smeltevann">
        <annotation>
          <documentation>19115: Regn og smeltevann</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19115</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Regn og smeltevann</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>19117: Det er ikke grunnlag for å gi en antakelse for hva som er hovedårsak til skredet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19117</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kontrollert utløst">
        <annotation>
          <documentation>19118: Kontrollert utløst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19118</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kontrollert utløst</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet">
        <annotation>
          <documentation>19116: Ingen av verdiene i listen er dekkende for å beskrive hovedårsak til skredet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19116</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntattHovedårsakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BilderType">
    <annotation>
      <documentation>2355: Angir om det finnes bilder av skredet eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2355</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2355</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bilder</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BilderEnumerationType nvdb:BilderOtherType"/>
  </simpleType>
  <simpleType name="BilderEnumerationType">
    <annotation>
      <documentation>2355: Angir om det finnes bilder av skredet eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2355</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2355</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bilder</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4181: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4181</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4182: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4182</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BilderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BlokkertGangSykkelvegType">
    <annotation>
      <documentation>2342: Angir om gang/sykkelveg er blitt blokkert av skredet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2342</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2342</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Blokkert gang/sykkelveg</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BlokkertGangSykkelvegEnumerationType nvdb:BlokkertGangSykkelvegOtherType"/>
  </simpleType>
  <simpleType name="BlokkertGangSykkelvegEnumerationType">
    <annotation>
      <documentation>2342: Angir om gang/sykkelveg er blitt blokkert av skredet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2342</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2342</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Blokkert gang/sykkelveg</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4183: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4183</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4184: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4184</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BlokkertGangSykkelvegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BlokkertVeglengdeType">
    <annotation>
      <documentation>2341: Angir lengde av veg som var blokkert av skredet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2341</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2341</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Blokkert veglengde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BlokkertVeglengdeEnumerationType nvdb:BlokkertVeglengdeOtherType"/>
  </simpleType>
  <simpleType name="BlokkertVeglengdeEnumerationType">
    <annotation>
      <documentation>2341: Angir lengde av veg som var blokkert av skredet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2341</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2341</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Blokkert veglengde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Kun i grøft">
        <annotation>
          <documentation>4189: Kun i grøft</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4189</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kun i grøft</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&lt; 10 m">
        <annotation>
          <documentation>4185: &lt; 10 m</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4185</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">&lt; 10 m</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10 - 50 m">
        <annotation>
          <documentation>4186: 10 - 50 m</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4186</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">10 - 50 m</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="50 - 100 m">
        <annotation>
          <documentation>4187: 50 - 100 m</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4187</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">50 - 100 m</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&gt; 100 m">
        <annotation>
          <documentation>4188: &gt; 100 m</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4188</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">&gt; 100 m</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stoppet i sikringstiltak (ny)">
        <annotation>
          <documentation>19889: Skredet har stoppet i skredsikringstiltak. Det ville blokkert veg om ikke siikringstiltak var etablert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19889</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stoppet i sikringstiltak (ny)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Passerte veg uten å legge igjen skredmasser (ny)">
        <annotation>
          <documentation>19890: Skredmasser har krysset veg uten å legge igjen nevneverdige skredmasser på vegen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19890</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Passerte veg uten å legge igjen skredmasser (ny)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BlokkertVeglengdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HøydeforskjellVegUtløsningsstedType">
    <annotation>
      <documentation>2330: Angir høydeforskjell mellom skredets utløsningssted og vegen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2330</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2330</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Høydeforskjell veg/utløsningssted</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HøydeforskjellVegUtløsningsstedEnumerationType nvdb:HøydeforskjellVegUtløsningsstedOtherType"/>
  </simpleType>
  <simpleType name="HøydeforskjellVegUtløsningsstedEnumerationType">
    <annotation>
      <documentation>2330: Angir høydeforskjell mellom skredets utløsningssted og vegen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2330</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2330</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Høydeforskjell veg/utløsningssted</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0 - 50 m (historisk)">
        <annotation>
          <documentation>4190: Verdi skal ikke benyttes etter 1/10-2019. I stedet benyttes nye verdier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4190</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0 - 50 m (historisk)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="0 - 5 m (ny)">
        <annotation>
          <documentation>19886: 0 - 5 m (ny)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19886</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0 - 5 m (ny)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5 - 20 m (ny)">
        <annotation>
          <documentation>19887: 5 - 20 m (ny)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19887</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">5 - 20 m (ny)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="20 - 50 m (ny)">
        <annotation>
          <documentation>19888: 20 - 50 m (ny)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19888</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">20 - 50 m (ny)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="50 - 200 m">
        <annotation>
          <documentation>4191: 50 - 200 m</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4191</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">50 - 200 m</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&gt; 200 m">
        <annotation>
          <documentation>4192: &gt; 200 m</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4192</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">&gt; 200 m</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nedenfor veg">
        <annotation>
          <documentation>13105: Nedenfor veg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13105</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nedenfor veg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke vurdert">
        <annotation>
          <documentation>4193: Ikke vurdert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4193</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke vurdert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HøydeforskjellVegUtløsningsstedOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LøsneområdeType">
    <annotation>
      <documentation>2328: Angir løsneområde for skredet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2328</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2328</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Løsneområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LøsneområdeEnumerationType nvdb:LøsneområdeOtherType"/>
  </simpleType>
  <simpleType name="LøsneområdeEnumerationType">
    <annotation>
      <documentation>2328: Angir løsneområde for skredet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2328</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2328</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Løsneområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tunnelmunning (historisk)">
        <annotation>
          <documentation>4194: Inkluderer område &lt; 50 m fra tunnel. Merknad: Verdi skal ikke benyttes ved nye registreringer, det angis i stedet verdi "Vegskjæring", "Fjell/dalside" eller "Ur"</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4194</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnelmunning (historisk)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegskjæring">
        <annotation>
          <documentation>4195: Vegskjæring</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4195</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegskjæring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ur">
        <annotation>
          <documentation>4196: Ur</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4196</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fjell/dalside">
        <annotation>
          <documentation>4197: Fjell/dalside</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4197</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjell/dalside</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Inne i tunnel">
        <annotation>
          <documentation>5349: Inne i tunnel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5349</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inne i tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegbane/-fylling">
        <annotation>
          <documentation>13104: Vegbane/-fylling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13104</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegbane/-fylling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LøsneområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåBruType">
    <annotation>
      <documentation>2335: Angir om skredet har medført skade på bru.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2335</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2335</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skade på bru</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadePåBruEnumerationType nvdb:SkadePåBruOtherType"/>
  </simpleType>
  <simpleType name="SkadePåBruEnumerationType">
    <annotation>
      <documentation>2335: Angir om skredet har medført skade på bru.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2335</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2335</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skade på bru</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4204: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4204</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4205: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4205</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåBruOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåDreneringType">
    <annotation>
      <documentation>2338: Angir om skredet har medført skade på drenering.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2338</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2338</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skade på drenering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadePåDreneringEnumerationType nvdb:SkadePåDreneringOtherType"/>
  </simpleType>
  <simpleType name="SkadePåDreneringEnumerationType">
    <annotation>
      <documentation>2338: Angir om skredet har medført skade på drenering.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2338</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2338</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skade på drenering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4206: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4206</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4207: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåDreneringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåKjøretøyType">
    <annotation>
      <documentation>2333: Angir om skredet har medført skade på kjøretøy.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2333</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2333</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skade på kjøretøy</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadePåKjøretøyEnumerationType nvdb:SkadePåKjøretøyOtherType"/>
  </simpleType>
  <simpleType name="SkadePåKjøretøyEnumerationType">
    <annotation>
      <documentation>2333: Angir om skredet har medført skade på kjøretøy.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2333</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2333</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skade på kjøretøy</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4208: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4208</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4209: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4209</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåKjøretøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåPersonType">
    <annotation>
      <documentation>2332: Angir om skredet har medført skade på person.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2332</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2332</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skade på person</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadePåPersonEnumerationType nvdb:SkadePåPersonOtherType"/>
  </simpleType>
  <simpleType name="SkadePåPersonEnumerationType">
    <annotation>
      <documentation>2332: Angir om skredet har medført skade på person.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2332</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2332</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skade på person</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4210: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4210</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4211: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4211</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåPersonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåRekkverkType">
    <annotation>
      <documentation>2336: Angir om skredet har medført skade på rekkverk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2336</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2336</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skade på rekkverk</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadePåRekkverkEnumerationType nvdb:SkadePåRekkverkOtherType"/>
  </simpleType>
  <simpleType name="SkadePåRekkverkEnumerationType">
    <annotation>
      <documentation>2336: Angir om skredet har medført skade på rekkverk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2336</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2336</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skade på rekkverk</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4212: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4212</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4213: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4213</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåRekkverkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåVegdekkeVegkroppType">
    <annotation>
      <documentation>2334: Angir om skredet har medført skade på vegdekke og/eller vegkropp.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2334</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2334</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skade på vegdekke/vegkropp</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadePåVegdekkeVegkroppEnumerationType nvdb:SkadePåVegdekkeVegkroppOtherType"/>
  </simpleType>
  <simpleType name="SkadePåVegdekkeVegkroppEnumerationType">
    <annotation>
      <documentation>2334: Angir om skredet har medført skade på vegdekke og/eller vegkropp.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2334</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2334</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skade på vegdekke/vegkropp</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4214: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4214</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4215: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4215</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåVegdekkeVegkroppOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skred" substitutionGroup="nvdb:AbstraktSkred" type="nvdb:SkredType">
    <annotation>
      <documentation>445: Masser som løsner</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">445</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">445</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skred</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkredType">
    <complexContent>
      <extension base="nvdb:AbstraktSkredType">
        <sequence>
          <element name="skredDato" type="date">
            <annotation>
              <documentation>2324: Angir dato da skredet gikk.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2324</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skred dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skredKlokkeslett" type="integer">
            <annotation>
              <documentation>2325: Angir klokkeslett da skredet gikk.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2325</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skred klokkeslett</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="typeSkred" type="nvdb:TypeSkredType">
            <annotation>
              <documentation>2326: Angir hvilken type skred det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2326</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type skred</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="løsneområde" type="nvdb:LøsneområdeType">
            <annotation>
              <documentation>2328: Angir løsneområde for skredet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2328</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Løsneområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelse" type="string">
            <annotation>
              <documentation>7905: Stedsnavn hvor forekomst er lokalisert. Evt plassering i forhold til stedsnavn.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7905</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Stedsangivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="volumAvSkredmasserPåVeg" type="nvdb:VolumAvSkredmasserPåVegType">
            <annotation>
              <documentation>2327: Angir volum av skredmasser på vegen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2327</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Volum av skredmasser på veg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="volumAvTotaleSkredmasser" type="integer">
            <annotation>
              <documentation>2329: Anslag over hvor stort det totale skredet har vært.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2329</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Volum av totale skredmasser</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="blokkertVeglengde" type="nvdb:BlokkertVeglengdeType">
            <annotation>
              <documentation>2341: Angir lengde av veg som var blokkert av skredet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2341</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Blokkert veglengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="blokkertGangSykkelveg" type="nvdb:BlokkertGangSykkelvegType">
            <annotation>
              <documentation>2342: Angir om gang/sykkelveg er blitt blokkert av skredet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2342</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Blokkert gang/sykkelveg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeforskjellVegUtløsningssted" type="nvdb:HøydeforskjellVegUtløsningsstedType">
            <annotation>
              <documentation>2330: Angir høydeforskjell mellom skredets utløsningssted og vegen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2330</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høydeforskjell veg/utløsningssted</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="grøftebreddePåSkredside" type="double">
            <annotation>
              <documentation>2343: Angir grøftebredde på skredside.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2343</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Grøftebredde på skredside</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vesentligeSkader" type="nvdb:VesentligeSkaderType">
            <annotation>
              <documentation>2331: Angir om skredet totalt sett har gitt vesentlige skader eller ikke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2331</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vesentlige skader</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåPerson" type="nvdb:SkadePåPersonType">
            <annotation>
              <documentation>2332: Angir om skredet har medført skade på person.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2332</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skade på person</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåKjøretøy" type="nvdb:SkadePåKjøretøyType">
            <annotation>
              <documentation>2333: Angir om skredet har medført skade på kjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2333</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skade på kjøretøy</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåVegdekkeVegkropp" type="nvdb:SkadePåVegdekkeVegkroppType">
            <annotation>
              <documentation>2334: Angir om skredet har medført skade på vegdekke og/eller vegkropp.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2334</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skade på vegdekke/vegkropp</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåBru" type="nvdb:SkadePåBruType">
            <annotation>
              <documentation>2335: Angir om skredet har medført skade på bru.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2335</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skade på bru</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåRekkverk" type="nvdb:SkadePåRekkverkType">
            <annotation>
              <documentation>2336: Angir om skredet har medført skade på rekkverk.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2336</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skade på rekkverk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåDrenering" type="nvdb:SkadePåDreneringType">
            <annotation>
              <documentation>2338: Angir om skredet har medført skade på drenering.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2338</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skade på drenering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antattHovedårsak" type="nvdb:AntattHovedårsakType">
            <annotation>
              <documentation>11320: Angir hva som er antatt hovedårsak til skredet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11320</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antatt hovedårsak</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stengning" type="nvdb:StengningType">
            <annotation>
              <documentation>2344: Gir informasjon om eventuell stengning av vegen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2344</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Stengning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="værforholdPåVegen" type="nvdb:VærforholdPåVegenType">
            <annotation>
              <documentation>2339: Angir hvilke værforhold det var på vegen da skredet gikk.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2339</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Værforhold på vegen</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vindretning" type="nvdb:VindretningType">
            <annotation>
              <documentation>2340: Angir hvilken vindretning det var på vegen da skredet gikk.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2340</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vindretning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="temperaturPåVeg" type="double">
            <annotation>
              <documentation>5153: Angir lufttemperatur på/ved vegen der skredet har inntruffet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5153</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Temperatur på veg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bilder" type="nvdb:BilderType">
            <annotation>
              <documentation>2355: Angir om det finnes bilder av skredet eller ikke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2355</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bilder</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsansvarlig" type="string">
            <annotation>
              <documentation>7845: Angir hvem som er ansvarlig for registrert informasjon om skredet.  Det skal angis organisasjon/organisasjonsenhet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7845</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Registreringsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11655: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11655</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11475: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11475</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8938: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8938</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4963: Gir koordinatsett for å avgrense vegobjektets utstrekning. Vegobjektet representeres med vegnettsgeometri på strekning mellom startpunkt og sluttpunkt. Eventuelt mellomliggende punkt benyttes for å sikre at riktig veglinje benyttes for hele strekningen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4963</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8912: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8912</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkredPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skred"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="StengningType">
    <annotation>
      <documentation>2344: Gir informasjon om eventuell stengning av vegen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2344</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2344</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Stengning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StengningEnumerationType nvdb:StengningOtherType"/>
  </simpleType>
  <simpleType name="StengningEnumerationType">
    <annotation>
      <documentation>2344: Gir informasjon om eventuell stengning av vegen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2344</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2344</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Stengning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ingen stengning">
        <annotation>
          <documentation>4216: Ingen stengning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4216</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen stengning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stengning av del av vegbane">
        <annotation>
          <documentation>4217: F.eks stengning av et kjørefelt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4217</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengning av del av vegbane</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stengt for tungtrafikk">
        <annotation>
          <documentation>4218: Stengt for tungtrafikk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4218</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengt for tungtrafikk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stengt for personbiler">
        <annotation>
          <documentation>4219: Stengt for personbiler</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4219</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengt for personbiler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stengt for all trafikk">
        <annotation>
          <documentation>4220: Stengt for all trafikk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4220</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengt for all trafikk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StengningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeSkredType">
    <annotation>
      <documentation>2326: Angir hvilken type skred det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2326</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2326</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type skred</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSkredEnumerationType nvdb:TypeSkredOtherType"/>
  </simpleType>
  <simpleType name="TypeSkredEnumerationType">
    <annotation>
      <documentation>2326: Angir hvilken type skred det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2326</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2326</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type skred</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stein">
        <annotation>
          <documentation>4198: Stein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4198</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jord/løsmasse">
        <annotation>
          <documentation>4199: Jord/løsmasse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4199</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jord/løsmasse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Snø">
        <annotation>
          <documentation>4200: Snø</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4200</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Snø</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Is">
        <annotation>
          <documentation>4201: Is</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4201</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Is</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Is/stein">
        <annotation>
          <documentation>5351: Is/stein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5351</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Is/stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flomskred (vann+stein+jord)">
        <annotation>
          <documentation>4202: Består av vann, stein og jord</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4202</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Flomskred (vann+stein+jord)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sørpeskred (vann+snø+stein)">
        <annotation>
          <documentation>4203: Består av vann, snø og stein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4203</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sørpeskred (vann+snø+stein)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Utglidning av veg">
        <annotation>
          <documentation>13103: Utglidning av veg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13103</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utglidning av veg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSkredOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VesentligeSkaderType">
    <annotation>
      <documentation>2331: Angir om skredet totalt sett har gitt vesentlige skader eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2331</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2331</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vesentlige skader</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VesentligeSkaderEnumerationType nvdb:VesentligeSkaderOtherType"/>
  </simpleType>
  <simpleType name="VesentligeSkaderEnumerationType">
    <annotation>
      <documentation>2331: Angir om skredet totalt sett har gitt vesentlige skader eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2331</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2331</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vesentlige skader</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4221: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4221</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4222: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4222</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VesentligeSkaderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VindretningType">
    <annotation>
      <documentation>2340: Angir hvilken vindretning det var på vegen da skredet gikk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2340</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2340</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vindretning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VindretningEnumerationType nvdb:VindretningOtherType"/>
  </simpleType>
  <simpleType name="VindretningEnumerationType">
    <annotation>
      <documentation>2340: Angir hvilken vindretning det var på vegen da skredet gikk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2340</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2340</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vindretning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="S">
        <annotation>
          <documentation>4223: sør</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4223</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">S</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SSV">
        <annotation>
          <documentation>4224: Sør-sørvest</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4224</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">SSV</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SV">
        <annotation>
          <documentation>4225: Sørvest</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4225</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">SV</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VSV">
        <annotation>
          <documentation>4226: Vest-Sørvest</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4226</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VSV</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>4227: Vest</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4227</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">V</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VNV">
        <annotation>
          <documentation>4228: Vest-nordvest</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4228</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VNV</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NV">
        <annotation>
          <documentation>4229: Nordvest</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4229</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NV</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NNV">
        <annotation>
          <documentation>4230: Nord-nordvest</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4230</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NNV</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="N">
        <annotation>
          <documentation>4231: Nord</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4231</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">N</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NNØ">
        <annotation>
          <documentation>4232: Nord-nordøst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4232</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NNØ</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NØ">
        <annotation>
          <documentation>4238: Nordøst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4238</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NØ</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ØNØ">
        <annotation>
          <documentation>4233: Øst-nordøst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4233</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">ØNØ</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ø">
        <annotation>
          <documentation>4234: Øst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4234</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ø</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ØSØ">
        <annotation>
          <documentation>4235: Øst-sørøst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4235</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">ØSØ</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SØ">
        <annotation>
          <documentation>4236: Sørøst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4236</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">SØ</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SSØ">
        <annotation>
          <documentation>4237: Sør-sørøst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4237</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">SSØ</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vindstille">
        <annotation>
          <documentation>13240: Vindstille</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13240</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vindstille</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VindretningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VolumAvSkredmasserPåVegType">
    <annotation>
      <documentation>2327: Angir volum av skredmasser på vegen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2327</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2327</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Volum av skredmasser på veg</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VolumAvSkredmasserPåVegEnumerationType nvdb:VolumAvSkredmasserPåVegOtherType"/>
  </simpleType>
  <simpleType name="VolumAvSkredmasserPåVegEnumerationType">
    <annotation>
      <documentation>2327: Angir volum av skredmasser på vegen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2327</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2327</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Volum av skredmasser på veg</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="&lt; 1 kbm">
        <annotation>
          <documentation>4239: &lt; 1 kbm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4239</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">&lt; 1 kbm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&lt;10 kbm">
        <annotation>
          <documentation>4240: &lt;10 kbm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4240</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">&lt;10 kbm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&lt; 100 kbm">
        <annotation>
          <documentation>4241: &lt; 100 kbm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4241</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">&lt; 100 kbm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&lt; 1000 kbm">
        <annotation>
          <documentation>4242: &lt; 1000 kbm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4242</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">&lt; 1000 kbm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&gt; 1000 kbm">
        <annotation>
          <documentation>4243: &gt; 1000 kbm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4243</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">&gt; 1000 kbm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke vurdert">
        <annotation>
          <documentation>4244: Ikke vurdert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4244</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke vurdert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VolumAvSkredmasserPåVegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VærforholdPåVegenType">
    <annotation>
      <documentation>2339: Angir hvilke værforhold det var på vegen da skredet gikk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2339</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2339</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Værforhold på vegen</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VærforholdPåVegenEnumerationType nvdb:VærforholdPåVegenOtherType"/>
  </simpleType>
  <simpleType name="VærforholdPåVegenEnumerationType">
    <annotation>
      <documentation>2339: Angir hvilke værforhold det var på vegen da skredet gikk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2339</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2339</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Værforhold på vegen</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ingen nedbør">
        <annotation>
          <documentation>4245: Ingen nedbør</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4245</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen nedbør</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Regn">
        <annotation>
          <documentation>4246: Regn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4246</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Regn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Regn, lite">
        <annotation>
          <documentation>4247: Regn, lite</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4247</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Regn, lite</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Regn, middels">
        <annotation>
          <documentation>4248: Regn, middels</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4248</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Regn, middels</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Regn, mye">
        <annotation>
          <documentation>4249: Regn, mye</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4249</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Regn, mye</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Snø">
        <annotation>
          <documentation>4250: Snø</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4250</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Snø</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Snø, lite">
        <annotation>
          <documentation>4251: Snø, lite</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4251</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Snø, lite</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Snø, middels">
        <annotation>
          <documentation>4252: Snø, middels</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4252</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Snø, middels</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Snø, mye">
        <annotation>
          <documentation>4253: Snø, mye</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4253</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Snø, mye</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VærforholdPåVegenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
