GML/446.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Dokumentasjon" substitutionGroup="nvdb:AbstraktDokumentasjon" type="nvdb:DokumentasjonType">
    <annotation>
      <documentation>446: Arkivert informasjon, kan f.eks være bilder, tegninger, tekniske beskrivelser, mm</documentation>
    </annotation>
  </element>
  <complexType name="DokumentasjonType">
    <complexContent>
      <extension base="nvdb:AbstraktDokumentasjonType">
        <sequence>
          <element minOccurs="0" name="dato" type="date">
            <annotation>
              <documentation>2358: Angir dato.  Mest aktuelt i forbindelse med bilder.  Dato da bildet ble tatt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeDokumentasjonType">
            <annotation>
              <documentation>2361: Angir hvilken type dokumentasjon det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlegg">
            <annotation>
              <documentation>7900: Selve dokumentet som det refereres til.  Kan være bilde, tekst, video osv.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="mikrobilde">
            <annotation>
              <documentation>7901: Mikrobilde.  Samme bilde som fullskalabilde, men i mindre format.  Krever lite lagringsplass</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="filnavn" type="string">
            <annotation>
              <documentation>2356: Angir filnavn til bilde/dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="hyperlink" type="string">
            <annotation>
              <documentation>10804: Hyperlink (URL) til angitt dokument.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tekst" type="string">
            <annotation>
              <documentation>2357: Gir forklarende tekst til f.eks bilde, tegning, mm</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="ansvarlig" type="string">
            <annotation>
              <documentation>2359: Angir hvem som er ansvarlig for dokumentasjonen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkiveringskode" type="string">
            <annotation>
              <documentation>2360: Angir arkivkode for dokumentasjon som ligger i manuelle arkiv.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>7903: Gir tilleggsinformasjon om Dokumentasjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4964: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DokumentasjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Dokumentasjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeDokumentasjonType">
    <annotation>
      <documentation>2361: Angir hvilken type dokumentasjon det er tale om</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeDokumentasjonEnumerationType nvdb:TypeDokumentasjonOtherType"/>
  </simpleType>
  <simpleType name="TypeDokumentasjonEnumerationType">
    <annotation>
      <documentation>2361: Angir hvilken type dokumentasjon det er tale om</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="bilde">
        <annotation>
          <documentation>4254: F.eks foto</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tegning">
        <annotation>
          <documentation>4255: F.eks prosjekteringstegninger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dokument">
        <annotation>
          <documentation>10076: F.eks word-dokument, o.l</documentation>
        </annotation>
      </enumeration>
      <enumeration value="video">
        <annotation>
          <documentation>10077: Video</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeDokumentasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
