GML/446.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>446: Arkivert informasjon, kan f.eks. være bilder, tegninger, tekniske beskrivelser eller bare lenker til lokale filer,  websider eller arkivsystem.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Dokumentasjon"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:DokumentasjonType">
      <annotation>
         <documentation>446: Arkivert informasjon, kan f.eks. være bilder, tegninger, tekniske beskrivelser eller bare lenker til lokale filer,  websider eller arkivsystem.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">446</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dokumentasjon</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="DokumentasjonType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeDokumentasjonType">
                  <annotation>
                     <documentation>2361: Angir hvilken type dokumentasjon det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2361</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="publiseringskravErIvaretatt">
                  <annotation>
                     <documentation>12055: Angir hvorvidt krav til publisering av informasjon er ivaretatt. Bilder, dokument etc. som lastes inn som vedlegg blir åpent tilgjengelig. Dersom det lastes inn vedlegg skal det alltid være angitt "Ja" til denne egenskapen. Det gjelder da som en bekreftelse på at dokumentasjon som legges inn ikke er i strid med personvernforordningen (GDPR) eller bryter med andre krav til skjerming av data. Informasjon som ikke skal være offentlig må legges i eksterne system/server hvor det kan settes begrensning på tilgang. Det angis da kun lenkeadresse til informasjonene i NVDB (ET 10804 "Hyperlink"). Verdien "Ikke vurdert" skal kun benyttes midlertidig på tidligere innlagte data.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12055</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Publiseringskrav er ivaretatt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vedlegg">
                  <annotation>
                     <documentation>7900: Selve dokumentet som det refereres til. Kan være bilde, tekst, video osv.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7900</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlegg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="mikrobilde">
                  <annotation>
                     <documentation>7901: Mikrobilde. Samme bilde som fullskalabilde, men i mindre format. Krever lite lagringsplass.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7901</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Mikrobilde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="hyperlink" type="string">
                  <annotation>
                     <documentation>10804: Hyperlink (URL) til angitt dokument.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10804</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Hyperlink</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="filnavn" type="string">
                  <annotation>
                     <documentation>2356: Angir filnavn til bilde/dokument.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2356</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Filnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tekst" type="string">
                  <annotation>
                     <documentation>2357: Gir forklarende tekst til f.eks. bilde, tegning, m.m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2357</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tekst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="ansvarlig" type="string">
                  <annotation>
                     <documentation>2359: Angir hvem som er ansvarlig for dokumentasjonen. Det skal angis navn på organisasjon/organisasjonsenhet. Eier av veg som dokumentasjons-objektet er stedfestet til regnes som ansvarlig om ikke annet er oppgitt. Ansvarlig er også ansvarlig for at informasjon ikke er i strid med personvernforordning (GDPR) eller andre lover forskrifter for publisering av informasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2359</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Ansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dato" type="date">
                  <annotation>
                     <documentation>2358: Angir dato. Mest aktuelt i forbindelse med bilder. Dato da bildet ble tatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2358</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkiveringskode" type="string">
                  <annotation>
                     <documentation>2360: Angir arkivkode for dokumentasjon som ligger i manuelle arkiv.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2360</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkiveringskode</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>7903: Gir tilleggsinformasjon om Dokumentasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7903</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4964: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4964</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="DokumentasjonPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Dokumentasjon"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="PubliseringskravErIvaretattDokumentasjonType">
      <annotation>
         <documentation>12055: Angir hvorvidt krav til publisering av informasjon er ivaretatt. Bilder, dokument etc. som lastes inn som vedlegg blir åpent tilgjengelig. Dersom det lastes inn vedlegg skal det alltid være angitt "Ja" til denne egenskapen. Det gjelder da som en bekreftelse på at dokumentasjon som legges inn ikke er i strid med personvernforordningen (GDPR) eller bryter med andre krav til skjerming av data. Informasjon som ikke skal være offentlig må legges i eksterne system/server hvor det kan settes begrensning på tilgang. Det angis da kun lenkeadresse til informasjonene i NVDB (ET 10804 "Hyperlink"). Verdien "Ikke vurdert" skal kun benyttes midlertidig på tidligere innlagte data.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12055</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Publiseringskrav er ivaretatt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PubliseringskravErIvaretattDokumentasjonEnumerationType nvdb:PubliseringskravErIvaretattDokumentasjonOtherType"/>
   </simpleType>
   <simpleType name="PubliseringskravErIvaretattDokumentasjonEnumerationType">
      <annotation>
         <documentation>12055: Angir hvorvidt krav til publisering av informasjon er ivaretatt. Bilder, dokument etc. som lastes inn som vedlegg blir åpent tilgjengelig. Dersom det lastes inn vedlegg skal det alltid være angitt "Ja" til denne egenskapen. Det gjelder da som en bekreftelse på at dokumentasjon som legges inn ikke er i strid med personvernforordningen (GDPR) eller bryter med andre krav til skjerming av data. Informasjon som ikke skal være offentlig må legges i eksterne system/server hvor det kan settes begrensning på tilgang. Det angis da kun lenkeadresse til informasjonene i NVDB (ET 10804 "Hyperlink"). Verdien "Ikke vurdert" skal kun benyttes midlertidig på tidligere innlagte data.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12055</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Publiseringskrav er ivaretatt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="T">
            <annotation>
               <documentation>20916: Indikerer at dokumentasjon er lagt inn i NVDB før denne egenskapstypen ble opprettet i Datakatalogen. Disse vil bli gjennomgått. Eventuelle vedlegg som ikke er ok blir sladdet eller flyttet. Verdi skal ikke benyttes for nye registreringer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20916</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke vurdert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20915</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PubliseringskravErIvaretattDokumentasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeDokumentasjonType">
      <annotation>
         <documentation>2361: Angir hvilken type dokumentasjon det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2361</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeDokumentasjonEnumerationType nvdb:TypeDokumentasjonOtherType"/>
   </simpleType>
   <simpleType name="TypeDokumentasjonEnumerationType">
      <annotation>
         <documentation>2361: Angir hvilken type dokumentasjon det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2361</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <documentation>4254: F.eks. foto.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4254</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bilde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="D">
            <annotation>
               <documentation>10076: F.eks. Word-dokument, o.l.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10076</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dokument</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <documentation>4255: F.eks. prosjekteringstegninger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4255</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tegning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10077</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Video</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeDokumentasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
