GML/447.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>447: Et tunnelløp hvor det ikke er åpent for ordinær trafikk.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierTunnelløp uten trafikkType">
      <annotation>
         <documentation>11976: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11976</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierTunnelløp uten trafikkEnumerationType nvdb:EierTunnelløp uten trafikkOtherType"/>
   </simpleType>
   <simpleType name="EierTunnelløp uten trafikkEnumerationType">
      <annotation>
         <documentation>11976: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11976</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20559</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20560</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20561</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20558</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20557</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>20562: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20562</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierTunnelløp uten trafikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KjørbarTunnelløp uten trafikkType">
      <annotation>
         <documentation>9179: Angir om det er mulig å kjøre med bil i tunnelløpet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9179</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjørbar</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KjørbarTunnelløp uten trafikkEnumerationType nvdb:KjørbarTunnelløp uten trafikkOtherType"/>
   </simpleType>
   <simpleType name="KjørbarTunnelløp uten trafikkEnumerationType">
      <annotation>
         <documentation>9179: Angir om det er mulig å kjøre med bil i tunnelløpet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9179</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjørbar</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12319</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12320</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KjørbarTunnelløp uten trafikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RømningsvegTunnelløp uten trafikkType">
      <annotation>
         <documentation>9178: Angir om tunnelløp kan benyttes som rømningsveg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9178</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rømningsveg</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RømningsvegTunnelløp uten trafikkEnumerationType nvdb:RømningsvegTunnelløp uten trafikkOtherType"/>
   </simpleType>
   <simpleType name="RømningsvegTunnelløp uten trafikkEnumerationType">
      <annotation>
         <documentation>9178: Angir om tunnelløp kan benyttes som rømningsveg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9178</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rømningsveg</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12317</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12318</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RømningsvegTunnelløp uten trafikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tunnelløp uten trafikk"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tunnelløp uten trafikkType">
      <annotation>
         <documentation>447: Et tunnelløp hvor det ikke er åpent for ordinær trafikk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">447</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnelløp uten trafikk</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tunnelløp uten trafikkType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeTunnelløp uten trafikkType">
                  <annotation>
                     <documentation>9177: Angir hvilken type tunnelløp det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9177</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>9257: Angir navn, kan gjerne være samme som navn på tunnel pluss tillegg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9257</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tunnelprofil" type="nvdb:TunnelprofilTunnelløp uten trafikkType">
                  <annotation>
                     <documentation>3102: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3102</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tunnelprofil</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="integer">
                  <annotation>
                     <documentation>3105: Angir lengde av tunnelløpet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3105</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde" type="double">
                  <annotation>
                     <documentation>3848: Angir minimum bredde fra tunnelvegg til tunnelvegg i kjørebanenivå.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3848</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høyde" type="double">
                  <annotation>
                     <documentation>3873: Angir høyde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3873</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="rømningsveg" type="nvdb:RømningsvegTunnelløp uten trafikkType">
                  <annotation>
                     <documentation>9178: Angir om tunnelløp kan benyttes som rømningsveg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9178</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rømningsveg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kjørbar" type="nvdb:KjørbarTunnelløp uten trafikkType">
                  <annotation>
                     <documentation>9179: Angir om det er mulig å kjøre med bil i tunnelløpet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9179</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kjørbar</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11604: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11604</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11116: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11116</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12363: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12363</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="eier"
                        type="nvdb:EierTunnelløp uten trafikkType">
                  <annotation>
                     <documentation>11976: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11976</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligTunnelløp uten trafikkType">
                  <annotation>
                     <documentation>12005: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12005</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>8920: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8920</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tunnelløp uten trafikkPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tunnelløp uten trafikk"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TunnelprofilTunnelløp uten trafikkType">
      <annotation>
         <documentation>3102: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3102</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnelprofil</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TunnelprofilTunnelløp uten trafikkEnumerationType nvdb:TunnelprofilTunnelløp uten trafikkOtherType"/>
   </simpleType>
   <simpleType name="TunnelprofilTunnelløp uten trafikkEnumerationType">
      <annotation>
         <documentation>3102: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3102</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnelprofil</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12316</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rektangulært tverrsnitt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12309</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T10</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12310</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T11</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12301</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12302</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T5,5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12303</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T5,5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12304</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T6</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12305</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T7</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8,5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12306</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T8,5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T9">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12307</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T9,5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12308</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T9,5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TunnelprofilTunnelløp uten trafikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeTunnelløp uten trafikkType">
      <annotation>
         <documentation>9177: Angir hvilken type tunnelløp det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9177</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeTunnelløp uten trafikkEnumerationType nvdb:TypeTunnelløp uten trafikkOtherType"/>
   </simpleType>
   <simpleType name="TypeTunnelløp uten trafikkEnumerationType">
      <annotation>
         <documentation>9177: Angir hvilken type tunnelløp det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9177</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12323</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Parallelløp til hovedløp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sløyfe">
            <annotation>
               <documentation>13395: Tunnelløp som går i sløyfe, dvs. det starter og slutter i samme løp. Benyttes f.eks. som rensesløyfe.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13395</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sløyfe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TML">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12299</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tverrforbindelse mellom tunnelløp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tverrDag">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12300</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tverrslag til dagen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeTunnelløp uten trafikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTunnelløp uten trafikkType">
      <annotation>
         <documentation>12005: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12005</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligTunnelløp uten trafikkEnumerationType nvdb:VedlikeholdsansvarligTunnelløp uten trafikkOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTunnelløp uten trafikkEnumerationType">
      <annotation>
         <documentation>12005: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12005</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20744</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20746</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20743</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20745</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20747</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20742</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20748</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTunnelløp uten trafikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
