GML/449.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Luminansmåling" substitutionGroup="nvdb:AbstraktLuminansmåling" type="nvdb:LuminansmålingType">
    <annotation>
      <documentation>449: Angir målt luminans for en strekning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">449</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">449</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Luminansmåling</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LuminansmålingType">
    <complexContent>
      <extension base="nvdb:AbstraktLuminansmålingType">
        <sequence>
          <element minOccurs="0" name="luminans" type="double">
            <annotation>
              <documentation>3117: Angir luminans.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3117</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Luminans</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måledato" type="date">
            <annotation>
              <documentation>9932: Angir dato når måling er gjort.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9932</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Måledato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11606: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11606</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4967: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4967</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LuminansmålingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Luminansmåling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
