GML/45.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>45: Et punkt i vegnettet hvor det kreves betaling for å kunne kjøre videre. Kan gjelde i en eller begge retninger.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Bomstasjon"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:BomstasjonType">
      <annotation>
         <documentation>45: Et punkt i vegnettet hvor det kreves betaling for å kunne kjøre videre. Kan gjelde i en eller begge retninger.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">45</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bomstasjon</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BomstasjonType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bomstasjonstype" type="nvdb:BomstasjonstypeBomstasjonType">
                  <annotation>
                     <documentation>9390: Angir hvilken type bomstasjon det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9390</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bomstasjonstype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="navnBompengeanlegg_FraCS" type="string">
                  <annotation>
                     <documentation>10714: Angir navn på bompengeanlegg. Overføres automatisk fra CS-Norge.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10714</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn bompengeanlegg (fra CS)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="navnBomstasjon" type="string">
                  <annotation>
                     <documentation>1078: Gir navn på bomstasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1078</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn bomstasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vedtattTilÅr" type="integer">
                  <annotation>
                     <documentation>9413: Årstall som det er vedtatt at bomstasjonen skal stå fram til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9413</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedtatt til år</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="linkTilBomstasjon" type="string">
                  <annotation>
                     <documentation>10715: Url til detaljer om bomstasjon i CS-Norge.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10715</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Link til bomstasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="innkrevningsretning"
                        type="nvdb:InnkrevningsretningBomstasjonType">
                  <annotation>
                     <documentation>9414: Angir hvilken retning det er betalingsinnkreving i forhold til vegens metreringsretning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9414</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Innkrevningsretning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bomstasjon_Id" type="double">
                  <annotation>
                     <documentation>9595: Angir ID på bomstasjonen. Er grunnlag for å få overført takstinformasjon fra CS-Norge.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9595</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bomstasjon_Id</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="operatør_Id" type="double">
                  <annotation>
                     <documentation>11883: Angir ID på bompengeanleggets operatør. Er grunnlag for å få overført takstinformasjon fra Autopass IP.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11883</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Operatør_Id</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="takstLitenBil" type="double">
                  <annotation>
                     <documentation>1820: Angir ordinær takst for å passere med liten bil. Det skal angis første takst etter midnatt som er har en kostnad over kr 0 på ukedag mandag.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1820</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Takst liten bil</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="takstStorBil" type="double">
                  <annotation>
                     <documentation>1819: Angir ordinær takst for å passere bomstasjon med stor bil. Det skal angis første takst etter midnatt som er har en kostnad over kr 0 på ukedag mandag.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1819</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Takst stor bil</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rushtidstakstLitenBil" type="double">
                  <annotation>
                     <documentation>9410: Angir takst for å passere med liten bil i rushtid.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9410</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rushtidstakst liten bil</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tidsdifferensiertTakst">
                  <annotation>
                     <documentation>9409: Angir om takst for en eller flere vektklasser varierer over døgnet. Det skal også angis Ja om det er gratis i perioder av døgnet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9409</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tidsdifferensiert takst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rushtidstakstStorBil" type="double">
                  <annotation>
                     <documentation>9411: Angir takst for å passere bomstasjon med stor bil i rushtid.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9411</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rushtidstakst stor bil</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rushtidMorgen_Fra" type="time">
                  <annotation>
                     <documentation>9407: Angir tidspunkt eventuell rushtidsavgift starter på morgenen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9407</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rushtid morgen, fra</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rushtidMorgen_Til" type="time">
                  <annotation>
                     <documentation>9408: Angir tidspunkt eventuell rushtidsavgift slutter på morgenen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9408</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rushtid morgen, til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rushtidEttermiddag_Fra" type="time">
                  <annotation>
                     <documentation>9405: Angir tidspunkt eventuell rushtidsavgift starter på ettermiddagen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9405</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rushtid ettermiddag, fra</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rushtidEttermiddag_Til" type="time">
                  <annotation>
                     <documentation>9406: Angir tidspunkt eventuell rushtidsavgift slutter på ettermiddagen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9406</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rushtid ettermiddag, til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="timesregel" type="nvdb:TimesregelBomstasjonType">
                  <annotation>
                     <documentation>9412: Angir ordning der man betaler kun for den første passeringen ved to eller flere passeringer gjennom samme bompengeanlegg i løpet av en time.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9412</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Timesregel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="timesregel_Varighet" type="integer">
                  <annotation>
                     <documentation>10952: Angir hvor lang tid (minutter) det maksimalt kan gå mellom to bomstasjopnspasseringer for at rabatt skal innrømmes basert på timesregel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10952</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Timesregel, varighet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="timesregel_Passeringsgruppe" type="double">
                  <annotation>
                     <documentation>10951: Unik ID som er felles for de bomstasjonene som har samme timesregel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10951</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Timesregel, passeringsgruppe</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="gratisGjennomkjøringVedHC_Brikke">
                  <annotation>
                     <documentation>9404: Angir om gjennomkjøring med HC-brikke er gratis.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9404</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gratis gjennomkjøring ved HC-brikke</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10271: Angir hvilket år bomstasjonen ble satt i drift.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10271</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11565: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11565</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11051: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11051</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12289: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12289</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierBomstasjonType">
                  <annotation>
                     <documentation>7992: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7992</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligBomstasjonType">
                  <annotation>
                     <documentation>5799: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5799</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4752: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4752</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BomstasjonPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Bomstasjon"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="BomstasjonstypeBomstasjonType">
      <annotation>
         <documentation>9390: Angir hvilken type bomstasjon det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9390</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bomstasjonstype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BomstasjonstypeBomstasjonEnumerationType nvdb:BomstasjonstypeBomstasjonOtherType"/>
   </simpleType>
   <simpleType name="BomstasjonstypeBomstasjonEnumerationType">
      <annotation>
         <documentation>9390: Angir hvilken type bomstasjon det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9390</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bomstasjonstype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="AA">
            <annotation>
               <documentation>13133: Bomstasjon har Autopass og automatisk betaling.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13133</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">AutoPASS + automatisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="AM">
            <annotation>
               <documentation>13132: Bomstasjon har Autopass og manuell betaling.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13132</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">AutoPASS + manuell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="M">
            <annotation>
               <documentation>13134: Bomstasjon har kun manuell innkreving.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13134</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kun manuell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BomstasjonstypeBomstasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierBomstasjonType">
      <annotation>
         <documentation>7992: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7992</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierBomstasjonEnumerationType nvdb:EierBomstasjonOtherType"/>
   </simpleType>
   <simpleType name="EierBomstasjonEnumerationType">
      <annotation>
         <documentation>7992: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7992</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10720</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10322</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10386</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18596</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10258</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17577: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17577</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierBomstasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="GratisGjennomkjøringVedHC_BrikkeBomstasjonType">
      <annotation>
         <documentation>9404: Angir om gjennomkjøring med HC-brikke er gratis.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9404</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gratis gjennomkjøring ved HC-brikke</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GratisGjennomkjøringVedHC_BrikkeBomstasjonEnumerationType nvdb:GratisGjennomkjøringVedHC_BrikkeBomstasjonOtherType"/>
   </simpleType>
   <simpleType name="GratisGjennomkjøringVedHC_BrikkeBomstasjonEnumerationType">
      <annotation>
         <documentation>9404: Angir om gjennomkjøring med HC-brikke er gratis.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9404</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gratis gjennomkjøring ved HC-brikke</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13253</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13254</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GratisGjennomkjøringVedHC_BrikkeBomstasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="InnkrevningsretningBomstasjonType">
      <annotation>
         <documentation>9414: Angir hvilken retning det er betalingsinnkreving i forhold til vegens metreringsretning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9414</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innkrevningsretning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:InnkrevningsretningBomstasjonEnumerationType nvdb:InnkrevningsretningBomstasjonOtherType"/>
   </simpleType>
   <simpleType name="InnkrevningsretningBomstasjonEnumerationType">
      <annotation>
         <documentation>9414: Angir hvilken retning det er betalingsinnkreving i forhold til vegens metreringsretning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9414</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innkrevningsretning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Begge">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13261</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Begge retninger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Med">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13259</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Med metrering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Mot">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13260</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mot metrering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="InnkrevningsretningBomstasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TidsdifferensiertTakstBomstasjonType">
      <annotation>
         <documentation>9409: Angir om takst for en eller flere vektklasser varierer over døgnet. Det skal også angis Ja om det er gratis i perioder av døgnet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9409</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tidsdifferensiert takst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TidsdifferensiertTakstBomstasjonEnumerationType nvdb:TidsdifferensiertTakstBomstasjonOtherType"/>
   </simpleType>
   <simpleType name="TidsdifferensiertTakstBomstasjonEnumerationType">
      <annotation>
         <documentation>9409: Angir om takst for en eller flere vektklasser varierer over døgnet. Det skal også angis Ja om det er gratis i perioder av døgnet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9409</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tidsdifferensiert takst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13255</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13256</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TidsdifferensiertTakstBomstasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TimesregelBomstasjonType">
      <annotation>
         <documentation>9412: Angir ordning der man betaler kun for den første passeringen ved to eller flere passeringer gjennom samme bompengeanlegg i løpet av en time.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9412</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Timesregel</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TimesregelBomstasjonEnumerationType nvdb:TimesregelBomstasjonOtherType"/>
   </simpleType>
   <simpleType name="TimesregelBomstasjonEnumerationType">
      <annotation>
         <documentation>9412: Angir ordning der man betaler kun for den første passeringen ved to eller flere passeringer gjennom samme bompengeanlegg i løpet av en time.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9412</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Timesregel</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="SP">
            <annotation>
               <documentation>21834: Det gis fritak/rabatt ved passering av mer enn en bomstasjon innenfor et avgrenset tidsrom (vanligvis 1 time). Det belastes kun for dyreste passering innenfor tidsrommet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21834</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dyreste passering gjelder</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <documentation>13257: Det gis fritak/rabatt ved passering av mer enn en bomstasjon innenfor et avgrenset tidsrom (vanligvis 1 time). Det belastes kun for første passering innenfor tidsrommet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13257</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Første passering gjelder</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>13258: Alle passeringer blir belastet uansett hvor kort tid det er mellom dem.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13258</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke timesregel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TimesregelBomstasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligBomstasjonType">
      <annotation>
         <documentation>5799: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligBomstasjonEnumerationType nvdb:VedlikeholdsansvarligBomstasjonOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligBomstasjonEnumerationType">
      <annotation>
         <documentation>5799: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19908</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8220</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18737</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18866</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8246</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8194</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17687</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligBomstasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
