GML/452.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>452: Passasje for trafikk av ulik art (kjørende, gående, dyr) under bru eller mindre bygning. Se også Tunnelløp og Høydebegrensning. NB: Faunapassasjer skal ikke registreres som Undergang, men som egen vegobjekttype Faunapassasje (VT 872).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BelysningUndergangType">
      <annotation>
         <documentation>5276: Angir om det er belysning i undergangen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5276</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelysningUndergangEnumerationType nvdb:BelysningUndergangOtherType"/>
   </simpleType>
   <simpleType name="BelysningUndergangEnumerationType">
      <annotation>
         <documentation>5276: Angir om det er belysning i undergangen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5276</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7292</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7293</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelysningUndergangOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierUndergangType">
      <annotation>
         <documentation>11825: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11825</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierUndergangEnumerationType nvdb:EierUndergangOtherType"/>
   </simpleType>
   <simpleType name="EierUndergangEnumerationType">
      <annotation>
         <documentation>11825: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11825</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19838</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19836</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19837</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19840</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19835</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19839</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierUndergangOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="GårUnderUndergangType">
      <annotation>
         <documentation>5271: Angir hva som er begrensning i høyde, hva vegen går under.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5271</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Går under</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GårUnderUndergangEnumerationType nvdb:GårUnderUndergangOtherType"/>
   </simpleType>
   <simpleType name="GårUnderUndergangEnumerationType">
      <annotation>
         <documentation>5271: Angir hva som er begrensning i høyde, hva vegen går under.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5271</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Går under</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7909</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bygning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7285</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gangbru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7286</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jernbanebru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8188</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Låvebru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7287</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegbru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vo">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8176</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Viltovergang</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GårUnderUndergangOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Undergang"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:UndergangType">
      <annotation>
         <documentation>452: Passasje for trafikk av ulik art (kjørende, gående, dyr) under bru eller mindre bygning. Se også Tunnelløp og Høydebegrensning. NB: Faunapassasjer skal ikke registreres som Undergang, men som egen vegobjekttype Faunapassasje (VT 872).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">452</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Undergang</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="UndergangType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="navn" type="string">
                  <annotation>
                     <documentation>5630: Gir navn til undergang.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5630</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="gårUnder">
                  <annotation>
                     <documentation>5271: Angir hva som er begrensning i høyde, hva vegen går under.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5271</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Går under</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="belysning" type="nvdb:BelysningUndergangType">
                  <annotation>
                     <documentation>5276: Angir om det er belysning i undergangen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5276</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10389: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10389</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>5284: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5284</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierUndergangType">
                  <annotation>
                     <documentation>11825: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11825</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligUndergangType">
                  <annotation>
                     <documentation>8092: Angir hvem som er ansvarlig for vedlikehold av vegobjektet. Vedlikeholdsansvarlig for Undergang har ansvar knyttet til selve "hullet". Hvem som har ansvar for konstruksjonen som undergangen hører til, f.eks brukonstruksjon framkommer av informasjon</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8092</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4970: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4970</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="UndergangPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Undergang"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VedlikeholdsansvarligUndergangType">
      <annotation>
         <documentation>8092: Angir hvem som er ansvarlig for vedlikehold av vegobjektet. Vedlikeholdsansvarlig for Undergang har ansvar knyttet til selve "hullet". Hvem som har ansvar for konstruksjonen som undergangen hører til, f.eks brukonstruksjon framkommer av informasjon</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8092</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligUndergangEnumerationType nvdb:VedlikeholdsansvarligUndergangOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligUndergangEnumerationType">
      <annotation>
         <documentation>8092: Angir hvem som er ansvarlig for vedlikehold av vegobjektet. Vedlikeholdsansvarlig for Undergang har ansvar knyttet til selve "hullet". Hvem som har ansvar for konstruksjonen som undergangen hører til, f.eks brukonstruksjon framkommer av informasjon</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8092</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19953</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10564</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18745</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18874</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10642</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10486</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17736</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligUndergangOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
