GML/461.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>461: Matepunkt med måler for lavspentnett som forsyner vegvesenets installasjoner med strøm.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeElektrisk anleggType">
      <annotation>
         <documentation>5644: Angir hva som er hovedbruksområdet for det elektriske anlegget. Det bruksområdet som trekker mest strøm regnes som hovedbruksområde. Sekundære bruksområder kan angis under tilleggsinformasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5644</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeElektrisk anleggEnumerationType nvdb:BruksområdeElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeElektrisk anleggEnumerationType">
      <annotation>
         <documentation>5644: Angir hva som er hovedbruksområdet for det elektriske anlegget. Det bruksområdet som trekker mest strøm regnes som hovedbruksområde. Sekundære bruksområder kan angis under tilleggsinformasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5644</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Annen bruk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21335</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen bruk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16308</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7937</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bygning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20081</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ferist</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20922</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ferjeleie</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21334</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Måleutstyr</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16306</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pumper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20923</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rasteplass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Si">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20080</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signalanlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16305</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skilting</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21333</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredvarsling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TR">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18475</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkregistreringsstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16307</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkregulering/overvåking/ITS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7936</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7935</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veglys</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20082</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Værstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ByggetEtterForskriftElektrisk anleggType">
      <annotation>
         <documentation>10021: Angir hvilken "Forskrift om elektriske forsyningsanlegg" anlegget er bygget i forhold til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10021</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bygget etter forskrift</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ByggetEtterForskriftElektrisk anleggEnumerationType nvdb:ByggetEtterForskriftElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="ByggetEtterForskriftElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10021: Angir hvilken "Forskrift om elektriske forsyningsanlegg" anlegget er bygget i forhold til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10021</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bygget etter forskrift</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ann">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16314</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1988">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16312</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK FEB 88</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1991">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16313</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK FEB 91</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2006">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16310</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK FEF 2006</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1998">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16311</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK FEL 1998</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ByggetEtterForskriftElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ByggetEtterNormElektrisk anleggType">
      <annotation>
         <documentation>10022: Angir hvilken "Norm for elektrisk forsyningsanlegg" anlegget er bygget i forhold til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10022</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bygget etter norm</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ByggetEtterNormElektrisk anleggEnumerationType nvdb:ByggetEtterNormElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="ByggetEtterNormElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10022: Angir hvilken "Norm for elektrisk forsyningsanlegg" anlegget er bygget i forhold til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10022</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bygget etter norm</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ann">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16323</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400-1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16315</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK 400</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400-2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16316</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK 400 : 2006</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400-3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16317</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK 400 : 2010</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400-4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18170</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK 400 : 2014</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400-5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19727</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK 400 : 2018</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="440">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16318</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK 440</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="445">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16319</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK 445</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50110">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16321</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK EN 50110-1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="61936">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16320</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK IEC 61936-1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tavle">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16322</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tavlenorm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ByggetEtterNormElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierElektrisk anleggType">
      <annotation>
         <documentation>10026: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10026</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierElektrisk anleggEnumerationType nvdb:EierElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="EierElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10026: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10026</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16324</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16325</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16326</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18635</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16327</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17633</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Elektrisk anlegg"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Elektrisk anleggType">
      <annotation>
         <documentation>461: Matepunkt med måler for lavspentnett som forsyner vegvesenets installasjoner med strøm.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">461</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Elektrisk anlegg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Elektrisk anleggType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="målernummer" type="string">
                  <annotation>
                     <documentation>5641: Angir unikt målernummer for måleren. Nummer må endres om måler blir byttet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5641</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Målernummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="målepunktID" type="string">
                  <annotation>
                     <documentation>5642: Angir MålepunktID. Energibedriftenes Landsforening (EBL) og EAN NORGE har inngått en rammeavtale om innføring av standard nummerserier for målepunktidentifikasjon. Denne standarden fra kalles Global Service Relation Number (GSRN).".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5642</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">MålepunktID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="anleggsadresse" type="string">
                  <annotation>
                     <documentation>12062: Angir navn/adresse på elektrisk anlegg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12062</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Anleggsadresse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bruksområde" type="nvdb:BruksområdeElektrisk anleggType">
                  <annotation>
                     <documentation>5644: Angir hva som er hovedbruksområdet for det elektriske anlegget. Det bruksområdet som trekker mest strøm regnes som hovedbruksområde. Sekundære bruksområder kan angis under tilleggsinformasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5644</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="energikilde" type="nvdb:EnergikildeElektrisk anleggType">
                  <annotation>
                     <documentation>12061: Angir hvilken type energikilde det elektriske anlegget har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12061</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Energikilde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="byggetEtterForskrift">
                  <annotation>
                     <documentation>10021: Angir hvilken "Forskrift om elektriske forsyningsanlegg" anlegget er bygget i forhold til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10021</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bygget etter forskrift</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="plassering_Måler" type="string">
                  <annotation>
                     <documentation>7908: Plassering av forekomst. Ev. plassering i forhold til veg, bygning eller adresse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7908</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering, måler</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="byggetEtterNorm">
                  <annotation>
                     <documentation>10022: Angir hvilken "Norm for elektrisk forsyningsanlegg" anlegget er bygget i forhold til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10022</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bygget etter norm</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="spenning" type="nvdb:SpenningElektrisk anleggType">
                  <annotation>
                     <documentation>10038: Angir spenning(er) på lavspentnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10038</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="årsforbruk" type="double">
                  <annotation>
                     <documentation>12835: Angir estimert årsforbruk. Baserer seg på tall fra strømleverandør.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12835</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Årsforbruk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="manuellAvlesning">
                  <annotation>
                     <documentation>10028: Angir om det er fjernavlesing av målerstand.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10028</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Manuell avlesning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="nettsystem"
                        type="nvdb:NettsystemElektrisk anleggType">
                  <annotation>
                     <documentation>10029: Angir hvordan elkraft er distribuert mellom siste transformator før konsument og konsument.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10029</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nettsystem</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="inngårINødsystemet">
                  <annotation>
                     <documentation>10031: Angir om deler av anlegget inngår i nødsystemet i en tunnel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10031</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Inngår i nødsystemet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="integrertMed" type="string">
                  <annotation>
                     <documentation>10030: Angir hvilke andre organisasjoner enn eier av anlegget som er bruker av anlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10030</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Integrert med</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="jordelektrode" type="nvdb:JordelektrodeElektrisk anleggType">
                  <annotation>
                     <documentation>10032: Angir hvilken type jordelektrode som er benyttet i anlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10032</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Jordelektrode</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="jordfeilbryter"
                        type="nvdb:JordfeilbryterElektrisk anleggType">
                  <annotation>
                     <documentation>10033: Angir hvordan jordfeilbrytere er koblet i anlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10033</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Jordfeilbryter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="jordfeilvarsling"
                        type="nvdb:JordfeilvarslingElektrisk anleggType">
                  <annotation>
                     <documentation>10034: Angir om anlegget har jordfeilvarsling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10034</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Jordfeilvarsling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="målingType">
                  <annotation>
                     <documentation>10035: Angir type måling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10035</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Måling type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="effekt" type="double">
                  <annotation>
                     <documentation>10025: Angir maks effekt anlegget trekker.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10025</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Effekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10023: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10023</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10024: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10024</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>10039: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks. ekstra informasjon om bruksområde, generell eller teknisk informasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10039</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>5646: Kan angi bemerkning som har varig gyldighet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5646</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivreferanse" type="string">
                  <annotation>
                     <documentation>11684: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11684</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11124: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11124</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12371: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12371</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierElektrisk anleggType">
                  <annotation>
                     <documentation>10026: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10026</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier_Navn" type="string">
                  <annotation>
                     <documentation>10027: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10027</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="nettselskap" type="string">
                  <annotation>
                     <documentation>5639: Angir navn på nettselskap som eier nettet inn til måler.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5639</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nettselskap</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligElektrisk anleggType">
                  <annotation>
                     <documentation>8099: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8099</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4978: Gir punkt som geometrisk representerer måleren.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4978</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Elektrisk anleggPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Elektrisk anlegg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="EnergikildeElektrisk anleggType">
      <annotation>
         <documentation>12061: Angir hvilken type energikilde det elektriske anlegget har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12061</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Energikilde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EnergikildeElektrisk anleggEnumerationType nvdb:EnergikildeElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="EnergikildeElektrisk anleggEnumerationType">
      <annotation>
         <documentation>12061: Angir hvilken type energikilde det elektriske anlegget har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12061</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Energikilde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20919</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aggregat, batteri</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20920</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Batteri som byttes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20917</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Offentlig nett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20918</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Solcelle, batteri</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EnergikildeElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="InngårINødsystemetElektrisk anleggType">
      <annotation>
         <documentation>10031: Angir om deler av anlegget inngår i nødsystemet i en tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10031</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inngår i nødsystemet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:InngårINødsystemetElektrisk anleggEnumerationType nvdb:InngårINødsystemetElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="InngårINødsystemetElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10031: Angir om deler av anlegget inngår i nødsystemet i en tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10031</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inngår i nødsystemet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ja">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16335</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nei">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16336</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="InngårINødsystemetElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="JordelektrodeElektrisk anleggType">
      <annotation>
         <documentation>10032: Angir hvilken type jordelektrode som er benyttet i anlegget.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10032</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jordelektrode</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:JordelektrodeElektrisk anleggEnumerationType nvdb:JordelektrodeElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="JordelektrodeElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10032: Angir hvilken type jordelektrode som er benyttet i anlegget.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10032</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jordelektrode</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ann">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16337</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="cuwi">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16339</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Cu wiret</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="samm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16341</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sammenkoplet med annet nett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="spyd">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16340</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spyd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="JordelektrodeElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="JordfeilbryterElektrisk anleggType">
      <annotation>
         <documentation>10033: Angir hvordan jordfeilbrytere er koblet i anlegget.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10033</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jordfeilbryter</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:JordfeilbryterElektrisk anleggEnumerationType nvdb:JordfeilbryterElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="JordfeilbryterElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10033: Angir hvordan jordfeilbrytere er koblet i anlegget.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10033</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jordfeilbryter</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="enKu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16343</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">En for hver kurs</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fell">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16342</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Felles for alle kurser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hvMa">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16344</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hver mast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20079</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="komb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16345</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kombinasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="JordfeilbryterElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="JordfeilvarslingElektrisk anleggType">
      <annotation>
         <documentation>10034: Angir om anlegget har jordfeilvarsling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10034</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jordfeilvarsling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:JordfeilvarslingElektrisk anleggEnumerationType nvdb:JordfeilvarslingElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="JordfeilvarslingElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10034: Angir om anlegget har jordfeilvarsling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10034</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jordfeilvarsling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ann">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16347</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nei">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16346</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="JordfeilvarslingElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ManuellAvlesningElektrisk anleggType">
      <annotation>
         <documentation>10028: Angir om det er fjernavlesing av målerstand.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10028</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Manuell avlesning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ManuellAvlesningElektrisk anleggEnumerationType nvdb:ManuellAvlesningElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="ManuellAvlesningElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10028: Angir om det er fjernavlesing av målerstand.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10028</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Manuell avlesning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16329</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16328</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ManuellAvlesningElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MålingTypeElektrisk anleggType">
      <annotation>
         <documentation>10035: Angir type måling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10035</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Måling type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MålingTypeElektrisk anleggEnumerationType nvdb:MålingTypeElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="MålingTypeElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10035: Angir type måling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10035</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Måling type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="dir">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16348</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Direktemåling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sum">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16350</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Summasjonsmåling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tra">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16349</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafomåling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19730</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Umålt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MålingTypeElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="NettsystemElektrisk anleggType">
      <annotation>
         <documentation>10029: Angir hvordan elkraft er distribuert mellom siste transformator før konsument og konsument.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10029</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nettsystem</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NettsystemElektrisk anleggEnumerationType nvdb:NettsystemElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="NettsystemElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10029: Angir hvordan elkraft er distribuert mellom siste transformator før konsument og konsument.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10029</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nettsystem</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="IT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16330</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">IT</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TN-C">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16332</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TN-C</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TN-C-S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16334</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TN-C-S</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TN-S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16333</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TN-S</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16331</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TT</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NettsystemElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SpenningElektrisk anleggType">
      <annotation>
         <documentation>10038: Angir spenning(er) på lavspentnettet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10038</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SpenningElektrisk anleggEnumerationType nvdb:SpenningElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="SpenningElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10038: Angir spenning(er) på lavspentnettet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10038</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16351</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="230">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16352</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">230</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="230/400">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16355</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">230/400</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16353</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">24</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16354</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">400</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="690">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16717</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">690</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SpenningElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligElektrisk anleggType">
      <annotation>
         <documentation>8099: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8099</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligElektrisk anleggEnumerationType nvdb:VedlikeholdsansvarligElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligElektrisk anleggEnumerationType">
      <annotation>
         <documentation>8099: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8099</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19958</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10571</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18786</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18915</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10649</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10493</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17741</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
