GML/461.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeElektriskAnleggType">
    <annotation>
      <documentation>5644: Angir bruksområde</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdeElektriskAnleggEnumerationType nvdb:BruksområdeElektriskAnleggOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeElektriskAnleggEnumerationType">
    <annotation>
      <documentation>5644: Angir bruksområde</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="belysningIDagen">
        <annotation>
          <documentation>7935: Angis hvis hovedbruksområde er strøm til veglys i dagen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bygning">
        <annotation>
          <documentation>7937: Angis hvis hovedbruksområde er strøm til bygning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="signalanlegg">
        <annotation>
          <documentation>20080: Elektrisk anlegg benyttes primært til signalanlegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skilting">
        <annotation>
          <documentation>16305: Angis hvis hovedbruksområde er strøm til skilting</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tunnel">
        <annotation>
          <documentation>7936: Angis hvis hovedbruksområde er strøm til tunnel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="værstasjon">
        <annotation>
          <documentation>20082: Elektrisk anlegg benyttes primært til værstasjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafikkregistreringsstasjon">
        <annotation>
          <documentation>18475: Trafikkregistreringsstasjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pumper">
        <annotation>
          <documentation>16306: Angis hvis hovedbruksområde er strøm til pumper</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vifter">
        <annotation>
          <documentation>16309: Angis hvis hovedbruksområde er strøm til vifter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="utsmykking_BroerEtc">
        <annotation>
          <documentation>16308: Angis hvis hovedbruksområde er strøm til Utsmykking (broer etc)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafikkreguleringOvervåking">
        <annotation>
          <documentation>16307: Angis hvis hovedbruksområde er strøm til Trafikkregulering/overvåking</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ferist">
        <annotation>
          <documentation>20081: Elektrisk anlegg benyttes primært til elektrisk ferist</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeElektriskAnleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ByggetEtterForskriftType">
    <annotation>
      <documentation>10021: Angir hvilken "Forskrift om elektriske forsyningsanlegg" anlegget er bygget i forhold til</documentation>
    </annotation>
    <union memberTypes="nvdb:ByggetEtterForskriftEnumerationType nvdb:ByggetEtterForskriftOtherType"/>
  </simpleType>
  <simpleType name="ByggetEtterForskriftEnumerationType">
    <annotation>
      <documentation>10021: Angir hvilken "Forskrift om elektriske forsyningsanlegg" anlegget er bygget i forhold til</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="NEK_FEB_88">
        <annotation>
          <documentation>16312: Forskrifter for elektriske anlegg (rødpermen) utgave 1988</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NEK_FEB_91">
        <annotation>
          <documentation>16313: Forskrifter for elektriske anlegg (rødpermen) utgave 1991</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NEK_FEL_1998">
        <annotation>
          <documentation>16311: Forskrift om elektriske lavspenningsanlegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NEK_FEF_2006">
        <annotation>
          <documentation>16310: Forskrift om elektriske forsyningsanlegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annet">
        <annotation>
          <documentation>16314: Annet</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ByggetEtterForskriftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ByggetEtterNormType">
    <annotation>
      <documentation>10022: Angir hvilken "Norm for elektrisk forsyningsanlegg" anlegget er bygget i forhold til</documentation>
    </annotation>
    <union memberTypes="nvdb:ByggetEtterNormEnumerationType nvdb:ByggetEtterNormOtherType"/>
  </simpleType>
  <simpleType name="ByggetEtterNormEnumerationType">
    <annotation>
      <documentation>10022: Angir hvilken "Norm for elektrisk forsyningsanlegg" anlegget er bygget i forhold til</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="NEK_400">
        <annotation>
          <documentation>16315: NEK 400 er en normsamling utarbeidet av NK64 i Norsk Elektroteknisk Komite (NEK), og omhandler krav til elektriske lavspenningsinstallasjoner. Utgitt 1998</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NEK_400_2006">
        <annotation>
          <documentation>16316: NEK 400 er en normsamling utarbeidet av NK64 i Norsk Elektroteknisk Komite (NEK), og omhandler krav til elektriske lavspenningsinstallasjoner. Utgitt 2006</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NEK_400_2010">
        <annotation>
          <documentation>16317: NEK 400 er en normsamling utarbeidet av NK64 i Norsk Elektroteknisk Komite (NEK), og omhandler krav til elektriske lavspenningsinstallasjoner. Utgitt 2010</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NEK_400_2014">
        <annotation>
          <documentation>18170: NEK 400 er en normsamling utarbeidet av NK64 i Norsk Elektroteknisk Komite (NEK), og omhandler krav til elektriske lavspenningsinstallasjoner. Utgitt 2014</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NEK_400_2018">
        <annotation>
          <documentation>19727: NEK 400 er en normsamling utarbeidet av NK64 i Norsk Elektroteknisk Komite (NEK), og omhandler krav til elektriske lavspenningsinstallasjoner. Utgitt 2018</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NEK_440">
        <annotation>
          <documentation>16318: Normsamling for spenningsnivåer over 1kV.  NEK 440 er en norsk implementering av . NEK EN 61936-1:2010 og NEK EN 50522:2010</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NEK_445">
        <annotation>
          <documentation>16319: Normen er en fellesnorm for luftledninger over 1 kV, dvs. NEK?EN 50341 (luftledninger over 45 kV) og NEK EN 50423 (luftledninger i området 1-45 kV) som er utarbeidet av CENELEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NEK_IEC_61936til1">
        <annotation>
          <documentation>16320: Normsamling for spenningsnivåer over 1kV</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NEK_EN_50110til1">
        <annotation>
          <documentation>16321: Norm for sikkerhet ved arbeid i og drift av elektriske anlegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tavlenorm">
        <annotation>
          <documentation>16322: Norm (NEK 439) som omhandler generelle krav til og utforming av elektriske lavspenningstavler og kanalskinnesystemer.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annet">
        <annotation>
          <documentation>16323: Annet</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ByggetEtterNormOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierElektriskAnleggType">
    <annotation>
      <documentation>10026: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:EierElektriskAnleggEnumerationType nvdb:EierElektriskAnleggOtherType"/>
  </simpleType>
  <simpleType name="EierElektriskAnleggEnumerationType">
    <annotation>
      <documentation>10026: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>16327: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18635: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>16324: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>16325: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>16326: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17633: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierElektriskAnleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="ElektriskAnlegg" substitutionGroup="nvdb:AbstraktElektriskAnlegg" type="nvdb:ElektriskAnleggType">
    <annotation>
      <documentation>461: Matepunkt med måler for lavspentnett som forsyner vegvesenets installasjoner med strøm.</documentation>
    </annotation>
  </element>
  <complexType name="ElektriskAnleggType">
    <complexContent>
      <extension base="nvdb:AbstraktElektriskAnleggType">
        <sequence>
          <element minOccurs="0" name="anleggsnummer" type="string">
            <annotation>
              <documentation>10075: Unikt nummer på anlegget gitt av nettselskapet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeElektriskAnleggType">
            <annotation>
              <documentation>5644: Angir bruksområde</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kundenummer" type="string">
            <annotation>
              <documentation>5640: Angir kundenummer for SVV hos nettselskap</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="målernummer" type="string">
            <annotation>
              <documentation>5641: Angir unikt målernummer for måleren. Nummer må endres om måler blir byttet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="målepunktID" type="string">
            <annotation>
              <documentation>5642: Angir MålepunktID.  Energibedriftenes Landforening (EBL) og EAN NORGE har inngått en rammeavtale om innføring av standard nummerserier for målepunktidentifikasjon. Denne standarden fra kalles Global Service Relation Number (GSRN)."</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fjernavlesing" type="nvdb:FjernavlesingType">
            <annotation>
              <documentation>10028: Angir om det er fjernavlesing av målerstand</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="inngårINødsystemet" type="nvdb:InngårINødsystemetType">
            <annotation>
              <documentation>10031: Angir om deler av anlegget inngår i nødsystemet i en tunnel</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="jordelektrode" type="nvdb:JordelektrodeType">
            <annotation>
              <documentation>10032: Angir hvilken type jordelektrode som er benyttet i anlegget</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="jordfeilbryter" type="nvdb:JordfeilbryterType">
            <annotation>
              <documentation>10033: Angir hvordan jordfeilbrytere er koblet i anlegget</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="jordfeilvarsling" type="nvdb:JordfeilvarslingType">
            <annotation>
              <documentation>10034: Angir om anlegget har jordfeilvarsling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="målingType" type="nvdb:MålingTypeType">
            <annotation>
              <documentation>10035: Angir type måling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nettselskap" type="string">
            <annotation>
              <documentation>5639: Angir navn på nettselskap som eier nettet inn til måler</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nettsystem" type="nvdb:NettsystemType">
            <annotation>
              <documentation>10029: Angir hvordan elkraft er distribuert mellom siste transformator før konsument og konsument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="byggetEtterNorm" type="nvdb:ByggetEtterNormType">
            <annotation>
              <documentation>10022: Angir hvilken "Norm for elektrisk forsyningsanlegg" anlegget er bygget i forhold til</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="plassering_Måler" type="string">
            <annotation>
              <documentation>7908: Plassering av forekomst. Evt plassering i forhold til veg, bygning eller adresse.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spenning" type="nvdb:SpenningType">
            <annotation>
              <documentation>10038: Angir spenning(er) på lavspentnettet
Enhet: Volt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="byggetEtterForskrift" type="nvdb:ByggetEtterForskriftType">
            <annotation>
              <documentation>10021: Angir hvilken "Forskrift om elektriske forsyningsanlegg" anlegget er bygget i forhold til</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5646: Kan angi bemerkning som har varig gyldighet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="effekt" type="integer">
            <annotation>
              <documentation>10025: Angir maks effekt anlegget trekker
Enhet: Kilowatt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="integrertMed" type="string">
            <annotation>
              <documentation>10030: Angir hvem anlegget ev. er integrert med</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10023: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10024: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10039: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks ekstra informasjon om bruksområde, generell eller teknisk informasjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11684: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11124: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierElektriskAnleggType">
            <annotation>
              <documentation>10026: Angir hvem som er eier av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>10027: Navn på eier av  vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligElektriskAnleggType">
            <annotation>
              <documentation>8099: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4978: Gir punkt som geometrisk representerer måleren</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBelysningsstrekning" type="nvdb:AbstraktBelysningsstrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTennpunkt" type="nvdb:AbstraktTennpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertFordelingstavle" type="nvdb:AbstraktFordelingstavlePropertyType"/>
          <element minOccurs="0" name="assosiertTunnelløp" type="nvdb:AbstraktTunnelløpPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="nvdb:AbstraktTilstandSkade_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSystemobjekt" type="nvdb:AbstraktSystemobjektPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBelysningspunkt" type="nvdb:AbstraktBelysningspunktPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ElektriskAnleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:ElektriskAnlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="FjernavlesingType">
    <annotation>
      <documentation>10028: Angir om det er fjernavlesing av målerstand</documentation>
    </annotation>
    <union memberTypes="nvdb:FjernavlesingEnumerationType nvdb:FjernavlesingOtherType"/>
  </simpleType>
  <simpleType name="FjernavlesingEnumerationType">
    <annotation>
      <documentation>10028: Angir om det er fjernavlesing av målerstand</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16328: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16329: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FjernavlesingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="InngårINødsystemetType">
    <annotation>
      <documentation>10031: Angir om deler av anlegget inngår i nødsystemet i en tunnel</documentation>
    </annotation>
    <union memberTypes="nvdb:InngårINødsystemetEnumerationType nvdb:InngårINødsystemetOtherType"/>
  </simpleType>
  <simpleType name="InngårINødsystemetEnumerationType">
    <annotation>
      <documentation>10031: Angir om deler av anlegget inngår i nødsystemet i en tunnel</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16335: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16336: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InngårINødsystemetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="JordelektrodeType">
    <annotation>
      <documentation>10032: Angir hvilken type jordelektrode som er benyttet i anlegget</documentation>
    </annotation>
    <union memberTypes="nvdb:JordelektrodeEnumerationType nvdb:JordelektrodeOtherType"/>
  </simpleType>
  <simpleType name="JordelektrodeEnumerationType">
    <annotation>
      <documentation>10032: Angir hvilken type jordelektrode som er benyttet i anlegget</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="spyd">
        <annotation>
          <documentation>16340: Spyd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sammenkopletMedAnnetNett">
        <annotation>
          <documentation>16341: Sammenkoplet med annet nett</documentation>
        </annotation>
      </enumeration>
      <enumeration value="cuWiret">
        <annotation>
          <documentation>16339: Cu wiret</documentation>
        </annotation>
      </enumeration>
      <enumeration value="antallKontrollMålepunkt">
        <annotation>
          <documentation>16338: Antall kontroll/målepunkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annet">
        <annotation>
          <documentation>16337: Annet</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="JordelektrodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="JordfeilbryterType">
    <annotation>
      <documentation>10033: Angir hvordan jordfeilbrytere er koblet i anlegget</documentation>
    </annotation>
    <union memberTypes="nvdb:JordfeilbryterEnumerationType nvdb:JordfeilbryterOtherType"/>
  </simpleType>
  <simpleType name="JordfeilbryterEnumerationType">
    <annotation>
      <documentation>10033: Angir hvordan jordfeilbrytere er koblet i anlegget</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="fellesForAlleKurser">
        <annotation>
          <documentation>16342: Felles for alle kurser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="enForHverKurs">
        <annotation>
          <documentation>16343: En for hver kurs</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hverMast">
        <annotation>
          <documentation>16344: Hver mast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kombinasjon">
        <annotation>
          <documentation>16345: Kombinasjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ingen">
        <annotation>
          <documentation>20079: Elektrisk anlegg har ikke jordfeilbryter</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="JordfeilbryterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="JordfeilvarslingType">
    <annotation>
      <documentation>10034: Angir om anlegget har jordfeilvarsling</documentation>
    </annotation>
    <union memberTypes="nvdb:JordfeilvarslingEnumerationType nvdb:JordfeilvarslingOtherType"/>
  </simpleType>
  <simpleType name="JordfeilvarslingEnumerationType">
    <annotation>
      <documentation>10034: Angir om anlegget har jordfeilvarsling</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16347: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16346: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="JordfeilvarslingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MålingTypeType">
    <annotation>
      <documentation>10035: Angir type måling</documentation>
    </annotation>
    <union memberTypes="nvdb:MålingTypeEnumerationType nvdb:MålingTypeOtherType"/>
  </simpleType>
  <simpleType name="MålingTypeEnumerationType">
    <annotation>
      <documentation>10035: Angir type måling</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="direktemåling">
        <annotation>
          <documentation>16348: Direktemåling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafomåling">
        <annotation>
          <documentation>16349: Trafomåling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="summasjonsmåling">
        <annotation>
          <documentation>16350: Summasjonsmåling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="umålt">
        <annotation>
          <documentation>19730: Det foretas ikke måling av stømforbruk</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MålingTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NettsystemType">
    <annotation>
      <documentation>10029: Angir hvordan elkraft er distribuert mellom siste transformator før konsument og konsument</documentation>
    </annotation>
    <union memberTypes="nvdb:NettsystemEnumerationType nvdb:NettsystemOtherType"/>
  </simpleType>
  <simpleType name="NettsystemEnumerationType">
    <annotation>
      <documentation>10029: Angir hvordan elkraft er distribuert mellom siste transformator før konsument og konsument</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="IT">
        <annotation>
          <documentation>16330: IT-nett (Isolated Terra) er en nett-type der transformatorens nullpunkt ikke er jordet, men er beskyttet med et gnistgap (disneuter) mellom nullpunkt og jord.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TT">
        <annotation>
          <documentation>16331: Et TT-nett (Terra Terra) er lik et IT-nett med den vesentlige forskjellen at transformatorens nullpunkt er jordet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TN_C">
        <annotation>
          <documentation>16332: Nett der PEN-leder fremføres fra trafo til forbrukerens første fordeling (sikringskap). Her splittes PEN-lederen opp i PE-leder (Protective Earth) eller jordleder og N-leder (Neutral). Energien kan taes ut både mellom de tre fasene (400V) og mellom hver av fasene og N-leder (230V). C angir at PEN-lederen frem til første fordeling er en kombinert leder (Combined)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TN_S">
        <annotation>
          <documentation>16333: Nett der PEN-leder fremføres fra trafo til forbrukerens første fordeling (sikringskap). Her splittes PEN-lederen opp i PE-leder (Protective Earth) eller jordleder og N-leder (Neutral). Energien kan taes ut både mellom de tre fasene (400V) og mellom hver av fasene og N-leder (230V). S angir at PEN-leren er delt (Separated) fra første fordeling.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TN_CS">
        <annotation>
          <documentation>16334: TN Nett hvor C angir at PEN-lederen frem til første fordeling er en kombinert leder (Combined). S angir at PEN-leren er delt (Separated) fra første fordeling.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NettsystemOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpenningType">
    <annotation>
      <documentation>10038: Angir spenning(er) på lavspentnettet</documentation>
    </annotation>
    <union memberTypes="nvdb:SpenningEnumerationType nvdb:SpenningOtherType"/>
  </simpleType>
  <simpleType name="SpenningEnumerationType">
    <annotation>
      <documentation>10038: Angir spenning(er) på lavspentnettet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="12">
        <annotation>
          <documentation>16351: 12 volt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>16353: 24 volt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="230">
        <annotation>
          <documentation>16352: 230 volt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="400">
        <annotation>
          <documentation>16354: 400 volt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="230_400">
        <annotation>
          <documentation>16355: 230 og 400 volt (TN-nett)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="690">
        <annotation>
          <documentation>16717: 690 volt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpenningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligElektriskAnleggType">
    <annotation>
      <documentation>8099: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligElektriskAnleggEnumerationType nvdb:VedlikeholdsansvarligElektriskAnleggOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligElektriskAnleggEnumerationType">
    <annotation>
      <documentation>8099: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10493: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18786: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19958: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18915: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10571: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10649: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17741: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligElektriskAnleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
