GML/47.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelysningTrafikklommeType">
    <annotation>
      <documentation>3122: Angir om trafikklommen er belyst.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3122</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3122</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelysningTrafikklommeEnumerationType nvdb:BelysningTrafikklommeOtherType"/>
  </simpleType>
  <simpleType name="BelysningTrafikklommeEnumerationType">
    <annotation>
      <documentation>3122: Angir om trafikklommen er belyst.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3122</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3122</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja, egen belysning">
        <annotation>
          <documentation>4648: Belysning satt opp spesielt for utvendig belysning av bussholdeplass/lomme</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4648</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, egen belysning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, belyst av gatebelysning">
        <annotation>
          <documentation>4649: Ingen ekstraordinær belysning for trafikklomme/bussholdeplass Men belyst av gatebelysning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4649</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, belyst av gatebelysning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4650: Ingen utvendig belysning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4650</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelysningTrafikklommeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTrafikklommeType">
    <annotation>
      <documentation>1257: Angir primært bruksområde for trafikklomma.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1257</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1257</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeTrafikklommeEnumerationType nvdb:BruksområdeTrafikklommeOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeTrafikklommeEnumerationType">
    <annotation>
      <documentation>1257: Angir primært bruksområde for trafikklomma.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1257</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1257</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Busslomme">
        <annotation>
          <documentation>3200: Trafikklomme i forbindelse med stoppunkt for buss</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3200</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Busslomme</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Havarinisje/Stopplomme">
        <annotation>
          <documentation>3201: Trafikklomme hvor det er tilrettelagt for parkering i forbindelse med nødstopp eller kortere stopp ved spesielle behov.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3201</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Havarinisje/Stopplomme</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjørepause/parkering">
        <annotation>
          <documentation>3202: Trafikklomme der det er mulig å parkere for å ta en kjørepause</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3202</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjørepause/parkering</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Møteplass">
        <annotation>
          <documentation>4071: Spesielt anlagt og merket breddeutvidelse hvor kjøretøy kan komme forbi hverandre på enfeltsveg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4071</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Møteplass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Passeringslomme i T-kryss">
        <annotation>
          <documentation>19786: Lomme/breddeutvidelse på utsida i T-kryss, dvs på motsatt side av sideveg. Lomme benyttes  for at trafikk som skal rett fram i krysset skal ha mulighet til å passere på høyre side av kjøretøy som skal svinge til venstre i krysset. Merknad: Dette har tidligere vært egen vegobjekttype</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19786</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Passeringslomme i T-kryss</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Arbeidslomme">
        <annotation>
          <documentation>4674: Trafikklomme som brukes i forbindelse med vegarbeid</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4674</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Arbeidslomme</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lastelomme">
        <annotation>
          <documentation>3203: Trafikklomme for lasting , lossing eller omlasting.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3203</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lastelomme</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Informasjonslomme">
        <annotation>
          <documentation>4969: Trafikklomme hvor skilt eller annen form for informasjon er plassert.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4969</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Informasjonslomme</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjettingplass">
        <annotation>
          <documentation>4970: Trafikklomme for å sette på eller ta av kjettinger</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4970</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjettingplass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kolonneoppstilling">
        <annotation>
          <documentation>8190: Trafikklomme som fungerer som midlertidig parkering mens man venter på å sette i gang kolonnekjøring</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8190</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kolonneoppstilling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lomme, generell">
        <annotation>
          <documentation>4968: Lomme som har bruksområde som ikke dekkes av øvrige tillatte verdier.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4968</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lomme, generell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTrafikklommeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DekketypeTrafikklommeType">
    <annotation>
      <documentation>4612: Angir hvilken type dekke det er på trafikklomma.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4612</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4612</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dekketype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DekketypeTrafikklommeEnumerationType nvdb:DekketypeTrafikklommeOtherType"/>
  </simpleType>
  <simpleType name="DekketypeTrafikklommeEnumerationType">
    <annotation>
      <documentation>4612: Angir hvilken type dekke det er på trafikklomma.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4612</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4612</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dekketype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Asfalt">
        <annotation>
          <documentation>5570: Asfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5570</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grus">
        <annotation>
          <documentation>5569: Grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5569</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein">
        <annotation>
          <documentation>5572: Stein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5572</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>5571: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5571</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekketypeTrafikklommeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierTrafikklommeType">
    <annotation>
      <documentation>11960: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11960</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11960</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierTrafikklommeEnumerationType nvdb:EierTrafikklommeOtherType"/>
  </simpleType>
  <simpleType name="EierTrafikklommeEnumerationType">
    <annotation>
      <documentation>11960: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11960</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11960</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>20461: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20461</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20462: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20462</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20463: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20463</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20464: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20464</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20465: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20465</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20466: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20466</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTrafikklommeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpesieltParkeringsformålType">
    <annotation>
      <documentation>9883: Angir at trafikklomme benyttes til spesielt parkerngsformål.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9883</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9883</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spesielt parkeringsformål</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SpesieltParkeringsformålEnumerationType nvdb:SpesieltParkeringsformålOtherType"/>
  </simpleType>
  <simpleType name="SpesieltParkeringsformålEnumerationType">
    <annotation>
      <documentation>9883: Angir at trafikklomme benyttes til spesielt parkerngsformål.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9883</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9883</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spesielt parkeringsformål</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Teknisk rom">
        <annotation>
          <documentation>16061: Teknisk rom</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16061</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Teknisk rom</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>19462: Det er ikke spesielt parkeringsformål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19462</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpesieltParkeringsformålOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikklomme" substitutionGroup="nvdb:AbstraktTrafikklomme" type="nvdb:TrafikklommeType">
    <annotation>
      <documentation>47: Kjøreareal som ligger inntil ytterste kjørefelt. Der kan være trafikkdeler mellom kjørefelt og trafikklomme.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">47</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">47</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikklomme</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikklommeType">
    <complexContent>
      <extension base="nvdb:AbstraktTrafikklommeType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeTrafikklommeType">
            <annotation>
              <documentation>1257: Angir primært bruksområde for trafikklomma.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1257</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>3120: Angir navn på trafikklomme.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3120</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>1362: Angir arealet av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1362</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeMedFullBredde" type="double">
            <annotation>
              <documentation>1307: Angir lengde av trafikklommen med minimum ca. 3 meter bredde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1307</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde med full bredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>2239: Angir fast bredde for vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2239</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekketype" type="nvdb:DekketypeTrafikklommeType">
            <annotation>
              <documentation>4612: Angir hvilken type dekke det er på trafikklomma.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4612</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dekketype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belysning" type="nvdb:BelysningTrafikklommeType">
            <annotation>
              <documentation>3122: Angir om trafikklommen er belyst.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3122</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vinteråpen" type="nvdb:VinteråpenType">
            <annotation>
              <documentation>4652: Angir om trafikklomma blir holdt åpen gjennom vinteren.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4652</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vinteråpen</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brøytetAreal" type="integer">
            <annotation>
              <documentation>8317: Angir hvor stort areal av trafikklomma som brøytes.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8317</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Brøytet areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spesieltParkeringsformål" type="nvdb:SpesieltParkeringsformålType">
            <annotation>
              <documentation>9883: Angir at trafikklomme benyttes til spesielt parkerngsformål.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9883</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spesielt parkeringsformål</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utforming" type="nvdb:UtformingTrafikklommeType">
            <annotation>
              <documentation>1118: Angir hvordan vegobjektet er utforma.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1118</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10377: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10377</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11567: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11567</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11052: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11052</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12290: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12290</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierTrafikklommeType">
            <annotation>
              <documentation>11960: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11960</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTrafikklommeType">
            <annotation>
              <documentation>3125: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3125</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4754: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4754</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5897: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5897</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>5900: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5900</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHoldeplassutrustning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHoldeplassutrustning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikklommePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikklomme"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="UtformingTrafikklommeType">
    <annotation>
      <documentation>1118: Angir hvordan vegobjektet er utforma.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1118</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1118</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtformingTrafikklommeEnumerationType nvdb:UtformingTrafikklommeOtherType"/>
  </simpleType>
  <simpleType name="UtformingTrafikklommeEnumerationType">
    <annotation>
      <documentation>1118: Angir hvordan vegobjektet er utforma.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1118</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1118</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Lomme med fysisk deleøy">
        <annotation>
          <documentation>3204: Lomme med fysisk deleøy</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3204</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lomme med fysisk deleøy</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lomme med malt deleøy">
        <annotation>
          <documentation>3205: Lomme med malt deleøy</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3205</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lomme med malt deleøy</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lomme uten deleøy">
        <annotation>
          <documentation>3206: Lomme uten deleøy</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3206</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lomme uten deleøy</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtformingTrafikklommeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikklommeType">
    <annotation>
      <documentation>3125: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3125</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3125</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTrafikklommeEnumerationType nvdb:VedlikeholdsansvarligTrafikklommeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikklommeEnumerationType">
    <annotation>
      <documentation>3125: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3125</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3125</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>4655: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4655</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18712: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18712</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19895: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19895</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18841: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18841</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>4656: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4656</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>4657: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4657</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17673: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17673</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikklommeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VinteråpenType">
    <annotation>
      <documentation>4652: Angir om trafikklomma blir holdt åpen gjennom vinteren.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4652</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4652</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vinteråpen</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VinteråpenEnumerationType nvdb:VinteråpenOtherType"/>
  </simpleType>
  <simpleType name="VinteråpenEnumerationType">
    <annotation>
      <documentation>4652: Angir om trafikklomma blir holdt åpen gjennom vinteren.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4652</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4652</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vinteråpen</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5698: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5698</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5699: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5699</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VinteråpenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
