GML/471.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierMobiltelefonsambandType">
    <annotation>
      <documentation>11978: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11978</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11978</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierMobiltelefonsambandEnumerationType nvdb:EierMobiltelefonsambandOtherType"/>
  </simpleType>
  <simpleType name="EierMobiltelefonsambandEnumerationType">
    <annotation>
      <documentation>11978: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11978</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11978</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>20569: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20569</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20570: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20570</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20571: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20571</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20572: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20572</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20573: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20573</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20574: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20574</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierMobiltelefonsambandOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MobiltelefonGSM_TelenorMobilType">
    <annotation>
      <documentation>3703: Angir om det er dekning for denne type mobiltelefonnett.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3703</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3703</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Mobiltelefon GSM, Telenor mobil</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MobiltelefonGSM_TelenorMobilEnumerationType nvdb:MobiltelefonGSM_TelenorMobilOtherType"/>
  </simpleType>
  <simpleType name="MobiltelefonGSM_TelenorMobilEnumerationType">
    <annotation>
      <documentation>3703: Angir om det er dekning for denne type mobiltelefonnett.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3703</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3703</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Mobiltelefon GSM, Telenor mobil</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4825: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4825</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11758: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11758</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MobiltelefonGSM_TelenorMobilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MobiltelefonGSM_TeliaType">
    <annotation>
      <documentation>3702: Angir om det er dekning for denne type mobiltelefonnett.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3702</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3702</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Mobiltelefon GSM, Telia</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MobiltelefonGSM_TeliaEnumerationType nvdb:MobiltelefonGSM_TeliaOtherType"/>
  </simpleType>
  <simpleType name="MobiltelefonGSM_TeliaEnumerationType">
    <annotation>
      <documentation>3702: Angir om det er dekning for denne type mobiltelefonnett.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3702</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3702</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Mobiltelefon GSM, Telia</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4824: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4824</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11757: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11757</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MobiltelefonGSM_TeliaOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Mobiltelefonsamband" substitutionGroup="nvdb:AbstraktMobiltelefonsamband" type="nvdb:MobiltelefonsambandType">
    <annotation>
      <documentation>471: System for innhenting og videreformidling av mobiltelefonsignal f.eks. i tunnel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">471</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">471</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Mobiltelefonsamband</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="MobiltelefonsambandType">
    <complexContent>
      <extension base="nvdb:AbstraktMobiltelefonsambandType">
        <sequence>
          <element minOccurs="0" name="networkNorway" type="nvdb:NetworkNorwayType">
            <annotation>
              <documentation>10577: Angir om det er tilrettelagt for angitt mobilnettverk.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10577</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Network Norway</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="mobiltelefonGSM_Telia" type="nvdb:MobiltelefonGSM_TeliaType">
            <annotation>
              <documentation>3702: Angir om det er dekning for denne type mobiltelefonnett.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3702</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Mobiltelefon GSM, Telia</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="mobiltelefonGSM_TelenorMobil" type="nvdb:MobiltelefonGSM_TelenorMobilType">
            <annotation>
              <documentation>3703: Angir om det er dekning for denne type mobiltelefonnett.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3703</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Mobiltelefon GSM, Telenor mobil</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10327: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10327</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11618: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11618</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11132: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11132</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12379: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12379</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierMobiltelefonsambandType">
            <annotation>
              <documentation>11978: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11978</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligMobiltelefonsambandType">
            <annotation>
              <documentation>12007: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12007</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4988: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4988</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MobiltelefonsambandPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Mobiltelefonsamband"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="NetworkNorwayType">
    <annotation>
      <documentation>10577: Angir om det er tilrettelagt for angitt mobilnettverk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10577</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10577</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Network Norway</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NetworkNorwayEnumerationType nvdb:NetworkNorwayOtherType"/>
  </simpleType>
  <simpleType name="NetworkNorwayEnumerationType">
    <annotation>
      <documentation>10577: Angir om det er tilrettelagt for angitt mobilnettverk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10577</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10577</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Network Norway</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16964: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16964</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16965: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16965</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NetworkNorwayOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligMobiltelefonsambandType">
    <annotation>
      <documentation>12007: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12007</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12007</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligMobiltelefonsambandEnumerationType nvdb:VedlikeholdsansvarligMobiltelefonsambandOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligMobiltelefonsambandEnumerationType">
    <annotation>
      <documentation>12007: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12007</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12007</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>20756: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20756</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>20757: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20757</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20758: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20758</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>20759: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20759</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20760: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20760</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20761: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20761</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20762: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20762</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligMobiltelefonsambandOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
