GML/472.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>472: System for innhenting og videreformidling av radiosignal f.eks. i tunnel.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="DABLokalRadioanleggType">
      <annotation>
         <documentation>10794: Angir om det er DAB lokal.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10794</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DAB Lokal</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DABLokalRadioanleggEnumerationType nvdb:DABLokalRadioanleggOtherType"/>
   </simpleType>
   <simpleType name="DABLokalRadioanleggEnumerationType">
      <annotation>
         <documentation>10794: Angir om det er DAB lokal.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10794</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DAB Lokal</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17543</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17544</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DABLokalRadioanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="DABRegionalRadioanleggType">
      <annotation>
         <documentation>10793: Angir om det er DAB Regional.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10793</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DAB Regional</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DABRegionalRadioanleggEnumerationType nvdb:DABRegionalRadioanleggOtherType"/>
   </simpleType>
   <simpleType name="DABRegionalRadioanleggEnumerationType">
      <annotation>
         <documentation>10793: Angir om det er DAB Regional.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10793</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DAB Regional</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17545</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17546</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DABRegionalRadioanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="DABRiksRadioanleggType">
      <annotation>
         <documentation>10792: Angir om det er DAB Riks.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10792</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DAB Riks</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DABRiksRadioanleggEnumerationType nvdb:DABRiksRadioanleggOtherType"/>
   </simpleType>
   <simpleType name="DABRiksRadioanleggEnumerationType">
      <annotation>
         <documentation>10792: Angir om det er DAB Riks.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10792</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DAB Riks</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17547</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17548</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DABRiksRadioanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierRadioanleggType">
      <annotation>
         <documentation>11979: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11979</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierRadioanleggEnumerationType nvdb:EierRadioanleggOtherType"/>
   </simpleType>
   <simpleType name="EierRadioanleggEnumerationType">
      <annotation>
         <documentation>11979: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11979</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20577</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20578</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20579</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20576</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20575</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>20580: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20580</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierRadioanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="InnsnakkFraVTSRadioanleggType">
      <annotation>
         <documentation>12652: Angir om det er lokalt mulighet for innsnakk fra VTS til radioanlegg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12652</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innsnakk fra VTS</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:InnsnakkFraVTSRadioanleggEnumerationType nvdb:InnsnakkFraVTSRadioanleggOtherType"/>
   </simpleType>
   <simpleType name="InnsnakkFraVTSRadioanleggEnumerationType">
      <annotation>
         <documentation>12652: Angir om det er lokalt mulighet for innsnakk fra VTS til radioanlegg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12652</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innsnakk fra VTS</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21862</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21863</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="InnsnakkFraVTSRadioanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="InnsnakkLokaltRadioanleggType">
      <annotation>
         <documentation>12651: Angir om det er mulighet for lokalt innsnakk I tilknytning til radioanlegg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12651</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innsnakk lokalt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:InnsnakkLokaltRadioanleggEnumerationType nvdb:InnsnakkLokaltRadioanleggOtherType"/>
   </simpleType>
   <simpleType name="InnsnakkLokaltRadioanleggEnumerationType">
      <annotation>
         <documentation>12651: Angir om det er mulighet for lokalt innsnakk I tilknytning til radioanlegg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12651</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innsnakk lokalt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21860</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21861</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="InnsnakkLokaltRadioanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KringkastingRadioanleggType">
      <annotation>
         <documentation>10795: Angir om det er kringkasting.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10795</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kringkasting</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KringkastingRadioanleggEnumerationType nvdb:KringkastingRadioanleggOtherType"/>
   </simpleType>
   <simpleType name="KringkastingRadioanleggEnumerationType">
      <annotation>
         <documentation>10795: Angir om det er kringkasting.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10795</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kringkasting</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17541</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17542</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KringkastingRadioanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="NødnettRadioanleggType">
      <annotation>
         <documentation>10796: Angir om det er nødnett.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10796</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nødnett</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NødnettRadioanleggEnumerationType nvdb:NødnettRadioanleggOtherType"/>
   </simpleType>
   <simpleType name="NødnettRadioanleggEnumerationType">
      <annotation>
         <documentation>10796: Angir om det er nødnett.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10796</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nødnett</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17539</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17540</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NødnettRadioanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Radioanlegg"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:RadioanleggType">
      <annotation>
         <documentation>472: System for innhenting og videreformidling av radiosignal f.eks. i tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">472</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Radioanlegg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="RadioanleggType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="nødnett" type="nvdb:NødnettRadioanleggType">
                  <annotation>
                     <documentation>10796: Angir om det er nødnett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10796</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nødnett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kringkasting" type="nvdb:KringkastingRadioanleggType">
                  <annotation>
                     <documentation>10795: Angir om det er kringkasting.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10795</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kringkasting</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="DABRiks">
                  <annotation>
                     <documentation>10792: Angir om det er DAB Riks.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10792</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">DAB Riks</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="DABRegional">
                  <annotation>
                     <documentation>10793: Angir om det er DAB Regional.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10793</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">DAB Regional</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="DABLokal">
                  <annotation>
                     <documentation>10794: Angir om det er DAB lokal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10794</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">DAB Lokal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="innsnakkLokalt">
                  <annotation>
                     <documentation>12651: Angir om det er mulighet for lokalt innsnakk I tilknytning til radioanlegg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12651</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Innsnakk lokalt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="innsnakkFraVTS">
                  <annotation>
                     <documentation>12652: Angir om det er lokalt mulighet for innsnakk fra VTS til radioanlegg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12652</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Innsnakk fra VTS</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="double">
                  <annotation>
                     <documentation>10791: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10791</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>10580: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks. om radioanlegg forsyner andre tunneler.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10580</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11133: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11133</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12380: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12380</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierRadioanleggType">
                  <annotation>
                     <documentation>11979: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11979</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligRadioanleggType">
                  <annotation>
                     <documentation>12008: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12008</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4989: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4989</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="RadioanleggPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Radioanlegg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VedlikeholdsansvarligRadioanleggType">
      <annotation>
         <documentation>12008: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12008</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligRadioanleggEnumerationType nvdb:VedlikeholdsansvarligRadioanleggOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligRadioanleggEnumerationType">
      <annotation>
         <documentation>12008: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12008</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20765</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20767</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20764</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20766</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20768</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20763</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20769</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligRadioanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
