GML/472.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DABLokalType">
    <annotation>
      <documentation>10794: Angir om det er DAB lokal</documentation>
    </annotation>
    <union memberTypes="nvdb:DABLokalEnumerationType nvdb:DABLokalOtherType"/>
  </simpleType>
  <simpleType name="DABLokalEnumerationType">
    <annotation>
      <documentation>10794: Angir om det er DAB lokal</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>17543: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>17544: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DABLokalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DABRegionalType">
    <annotation>
      <documentation>10793: Angir om det er DAB Reginal</documentation>
    </annotation>
    <union memberTypes="nvdb:DABRegionalEnumerationType nvdb:DABRegionalOtherType"/>
  </simpleType>
  <simpleType name="DABRegionalEnumerationType">
    <annotation>
      <documentation>10793: Angir om det er DAB Reginal</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>17545: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>17546: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DABRegionalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DABRiksType">
    <annotation>
      <documentation>10792: Angir om det er DAB Riks</documentation>
    </annotation>
    <union memberTypes="nvdb:DABRiksEnumerationType nvdb:DABRiksOtherType"/>
  </simpleType>
  <simpleType name="DABRiksEnumerationType">
    <annotation>
      <documentation>10792: Angir om det er DAB Riks</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>17547: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>17548: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DABRiksOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KringkastingType">
    <annotation>
      <documentation>10795: Angir om det er kringkasting</documentation>
    </annotation>
    <union memberTypes="nvdb:KringkastingEnumerationType nvdb:KringkastingOtherType"/>
  </simpleType>
  <simpleType name="KringkastingEnumerationType">
    <annotation>
      <documentation>10795: Angir om det er kringkasting</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>17541: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>17542: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KringkastingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NødnettType">
    <annotation>
      <documentation>10796: Angir om det er nødnett</documentation>
    </annotation>
    <union memberTypes="nvdb:NødnettEnumerationType nvdb:NødnettOtherType"/>
  </simpleType>
  <simpleType name="NødnettEnumerationType">
    <annotation>
      <documentation>10796: Angir om det er nødnett</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>17539: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>17540: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NødnettOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Radioanlegg" substitutionGroup="nvdb:AbstraktRadioanlegg" type="nvdb:RadioanleggType">
    <annotation>
      <documentation>472: System for innhenting og videreformidling av radiosignal feks i tunnel.</documentation>
    </annotation>
  </element>
  <complexType name="RadioanleggType">
    <complexContent>
      <extension base="nvdb:AbstraktRadioanleggType">
        <sequence>
          <element minOccurs="0" name="nødnett" type="nvdb:NødnettType">
            <annotation>
              <documentation>10796: Angir om det er nødnett</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kringkasting" type="nvdb:KringkastingType">
            <annotation>
              <documentation>10795: Angir om det er kringkasting</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="DABRiks" type="nvdb:DABRiksType">
            <annotation>
              <documentation>10792: Angir om det er DAB Riks</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="DABRegional" type="nvdb:DABRegionalType">
            <annotation>
              <documentation>10793: Angir om det er DAB Reginal</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="DABLokal" type="nvdb:DABLokalType">
            <annotation>
              <documentation>10794: Angir om det er DAB lokal</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10791: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10580: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks om radioanlegg forsyner andre tunneler</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11133: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4989: Gir punkt som geometrisk representerer objektet. Der RSEN er plassert</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RadioanleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Radioanlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
