GML/478.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Branndetektor" substitutionGroup="nvdb:AbstraktBranndetektor" type="nvdb:BranndetektorType">
    <annotation>
      <documentation>478: Utstyr til å registrere tilløp til brann.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">478</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">478</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Branndetektor</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="BranndetektorType">
    <complexContent>
      <extension base="nvdb:AbstraktBranndetektorType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeBranndetektorType">
            <annotation>
              <documentation>3774: Angir type.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3774</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10272: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10272</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10139: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10139</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="SCADA_Merking" type="string">
            <annotation>
              <documentation>11735: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11735</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">SCADA-merking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>3550: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3550</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>3809: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3809</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11622: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11622</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11137: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11137</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12384: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12384</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierBranndetektorType">
            <annotation>
              <documentation>8035: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8035</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligBranndetektorType">
            <annotation>
              <documentation>8110: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8110</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>10078: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10078</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBygning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBygning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BranndetektorPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Branndetektor"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="EierBranndetektorType">
    <annotation>
      <documentation>8035: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8035</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8035</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierBranndetektorEnumerationType nvdb:EierBranndetektorOtherType"/>
  </simpleType>
  <simpleType name="EierBranndetektorEnumerationType">
    <annotation>
      <documentation>8035: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8035</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8035</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10301: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10301</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18647: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18647</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10762: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10762</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10365: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10365</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10429: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10429</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17656: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17656</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierBranndetektorOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeBranndetektorType">
    <annotation>
      <documentation>3774: Angir type.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3774</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3774</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeBranndetektorEnumerationType nvdb:TypeBranndetektorOtherType"/>
  </simpleType>
  <simpleType name="TypeBranndetektorEnumerationType">
    <annotation>
      <documentation>3774: Angir type.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3774</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3774</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Optisk">
        <annotation>
          <documentation>4834: Sensor som registrerer røyk optisk.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4834</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Optisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gass">
        <annotation>
          <documentation>16015: Sensor som måler tilstedeværelse av en eller flere gasser.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16015</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Termisk">
        <annotation>
          <documentation>4835: Sensor som registrerer endring i temperatur.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4835</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Termisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IR-kamera">
        <annotation>
          <documentation>16016: Infrarødt kamera for detektering av brann ut fra bildeanalyse.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16016</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IR-kamera</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kombinert">
        <annotation>
          <documentation>16027: Brannvarsler som kombinerer flere metoder for registrering av brann.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16027</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kombinert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Manuell">
        <annotation>
          <documentation>4833: Manuell brannmelder.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4833</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Manuell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeBranndetektorOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBranndetektorType">
    <annotation>
      <documentation>8110: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8110</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8110</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligBranndetektorEnumerationType nvdb:VedlikeholdsansvarligBranndetektorOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBranndetektorEnumerationType">
    <annotation>
      <documentation>8110: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8110</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8110</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10504: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10504</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18774: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18774</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19968: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19968</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18903: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18903</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10582: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10582</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10660: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10660</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17751: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17751</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBranndetektorOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
