GML/48.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>48: Del av vegen reservert for gående. Som regel ligger fortau høyere enn kjørebanen og er atskilt fra denne med kantstein (1).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BelegningFortauType">
      <annotation>
         <documentation>5637: Angir hvilken belegning det er på fortauet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5637</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelegningFortauEnumerationType nvdb:BelegningFortauOtherType"/>
   </simpleType>
   <simpleType name="BelegningFortauEnumerationType">
      <annotation>
         <documentation>5637: Angir hvilken belegning det er på fortauet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5637</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7928</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7922</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7923</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, farget</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7925</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, heller</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7924</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, mønstret og farget</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7926</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="br">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7927</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brostein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gn">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11231</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Granitt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7929</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11230</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiferheller</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelegningFortauOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierFortauType">
      <annotation>
         <documentation>7994: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7994</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierFortauEnumerationType nvdb:EierFortauOtherType"/>
   </simpleType>
   <simpleType name="EierFortauEnumerationType">
      <annotation>
         <documentation>7994: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7994</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10722</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10324</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10388</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18609</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10260</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17575: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17575</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierFortauOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Fortau"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:FortauType">
      <annotation>
         <documentation>48: Del av vegen reservert for gående. Som regel ligger fortau høyere enn kjørebanen og er atskilt fra denne med kantstein (1).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">48</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fortau</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FortauType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="belegning" type="nvdb:BelegningFortauType">
                  <annotation>
                     <documentation>5637: Angir hvilken belegning det er på fortauet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5637</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="belegning_Detaljer" type="string">
                  <annotation>
                     <documentation>10953: Beskrivelse av belegning. Kan angi typebetegnelser, produsent, lagdeling, fundamentering m.m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10953</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belegning, detaljer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>2241: Angir gjennomsnittlig bredde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2241</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde_Punkthinder" type="integer">
                  <annotation>
                     <documentation>10717: Angir bredde på fortau ved mest fremtredende punkthinder.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10717</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, punkthinder</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="punkthinder" type="nvdb:PunkthinderFortauType">
                  <annotation>
                     <documentation>10718: Sted hvor det er markant innsnevring av fortau. Kan være til hinder for gående og drift av fortauet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10718</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Punkthinder</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>11268: Angir lengde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11268</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="varmekabler" type="nvdb:VarmekablerFortauType">
                  <annotation>
                     <documentation>1830: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1830</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vinterstengt"
                        type="nvdb:VinterstengtFortauType">
                  <annotation>
                     <documentation>12902: Angir hvorvidt fortauet er stengt i vintersesongen. "Stengt" betyr at det ikke blir utført vinterdrift på fortauet. I noen slike tilfeller benyttes fortauet som snøopplager.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12902</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vinterstengt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10295: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10295</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11568: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11568</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11053: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11053</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12291: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12291</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierFortauType">
                  <annotation>
                     <documentation>7994: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7994</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligFortauType">
                  <annotation>
                     <documentation>5638: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5638</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vinterdriftsansvarlig"
                        type="nvdb:VinterdriftsansvarligFortauType">
                  <annotation>
                     <documentation>12849: Angir hvem som er ansvarlig for vintervedlikeholdet av fortauet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12849</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vinterdriftsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4755: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4755</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FortauPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fortau"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="PunkthinderFortauType">
      <annotation>
         <documentation>10718: Sted hvor det er markant innsnevring av fortau. Kan være til hinder for gående og drift av fortauet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10718</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Punkthinder</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PunkthinderFortauEnumerationType nvdb:PunkthinderFortauOtherType"/>
   </simpleType>
   <simpleType name="PunkthinderFortauEnumerationType">
      <annotation>
         <documentation>10718: Sted hvor det er markant innsnevring av fortau. Kan være til hinder for gående og drift av fortauet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10718</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Punkthinder</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17375</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet hinder</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17373</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bygning/konstruksjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17374</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Holdeplass/leskur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ip">
            <annotation>
               <documentation>19465: Det er ikke punkthinder knyttet til fortauet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19465</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke punkthinder</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17372</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysmast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17371</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skilt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17370</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre/beplantning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PunkthinderFortauOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VarmekablerFortauType">
      <annotation>
         <documentation>1830: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1830</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VarmekablerFortauEnumerationType nvdb:VarmekablerFortauOtherType"/>
   </simpleType>
   <simpleType name="VarmekablerFortauEnumerationType">
      <annotation>
         <documentation>1830: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1830</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3522</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3560</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VarmekablerFortauOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFortauType">
      <annotation>
         <documentation>5638: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5638</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligFortauEnumerationType nvdb:VedlikeholdsansvarligFortauOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFortauEnumerationType">
      <annotation>
         <documentation>5638: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5638</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19906</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7931</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18740</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18869</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7932</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7930</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17685</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFortauOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VinterdriftsansvarligFortauType">
      <annotation>
         <documentation>12849: Angir hvem som er ansvarlig for vintervedlikeholdet av fortauet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12849</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterdriftsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VinterdriftsansvarligFortauEnumerationType nvdb:VinterdriftsansvarligFortauOtherType"/>
   </simpleType>
   <simpleType name="VinterdriftsansvarligFortauEnumerationType">
      <annotation>
         <documentation>12849: Angir hvem som er ansvarlig for vintervedlikeholdet av fortauet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12849</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterdriftsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22307</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22302</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22305</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22306</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22303</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22301</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22304</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VinterdriftsansvarligFortauOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VinterstengtFortauType">
      <annotation>
         <documentation>12902: Angir hvorvidt fortauet er stengt i vintersesongen. "Stengt" betyr at det ikke blir utført vinterdrift på fortauet. I noen slike tilfeller benyttes fortauet som snøopplager.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12902</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterstengt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VinterstengtFortauEnumerationType nvdb:VinterstengtFortauOtherType"/>
   </simpleType>
   <simpleType name="VinterstengtFortauEnumerationType">
      <annotation>
         <documentation>12902: Angir hvorvidt fortauet er stengt i vintersesongen. "Stengt" betyr at det ikke blir utført vinterdrift på fortauet. I noen slike tilfeller benyttes fortauet som snøopplager.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12902</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterstengt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <documentation>22315: Fortauet er stengt i vintersesongen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22315</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>22316: Fortauet er åpent i vintersesongen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22316</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VinterstengtFortauOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
