GML/482.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>482: Sted der det er installert et trafikkregistreringsapparat for registrering av trafikk. Apparatet kan ha tilkopla trafikkregistreringspunkt på en eller flere tilgrensende veger.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierTrafikkregistreringsstasjonType">
      <annotation>
         <documentation>11981: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11981</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierTrafikkregistreringsstasjonEnumerationType nvdb:EierTrafikkregistreringsstasjonOtherType"/>
   </simpleType>
   <simpleType name="EierTrafikkregistreringsstasjonEnumerationType">
      <annotation>
         <documentation>11981: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11981</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20589</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20590</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20591</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20588</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20587</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>20592: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20592</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierTrafikkregistreringsstasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RegistreringshyppighetTrafikkregistreringsstasjonType">
      <annotation>
         <documentation>3910: Angir registreringshyppighet for trafikkregistreringsstasjonen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3910</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Registreringshyppighet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RegistreringshyppighetTrafikkregistreringsstasjonEnumerationType nvdb:RegistreringshyppighetTrafikkregistreringsstasjonOtherType"/>
   </simpleType>
   <simpleType name="RegistreringshyppighetTrafikkregistreringsstasjonEnumerationType">
      <annotation>
         <documentation>3910: Angir registreringshyppighet for trafikkregistreringsstasjonen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3910</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Registreringshyppighet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="E">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4894</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enkeltmåling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4892</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kontinuerlig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4893</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Periodisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RegistreringshyppighetTrafikkregistreringsstasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="StatusTrafikkregistreringsstasjonType">
      <annotation>
         <documentation>5201: Angir hvilken status registreringspunktet har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5201</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StatusTrafikkregistreringsstasjonEnumerationType nvdb:StatusTrafikkregistreringsstasjonOtherType"/>
   </simpleType>
   <simpleType name="StatusTrafikkregistreringsstasjonEnumerationType">
      <annotation>
         <documentation>5201: Angir hvilken status registreringspunktet har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5201</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="MUD">
            <annotation>
               <documentation>12987: Stasjonen er ute av drift i en periode, datainnsamling vil bli gjenopptatt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12987</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Midlertidig ute av drift</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NI">
            <annotation>
               <documentation>7082: Stasjonen er nedlagt og vil ikke bli brukt for datainnsamling i framtiden.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7082</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nedlagt, ikke lov å bruke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NG">
            <annotation>
               <documentation>12988: Stasjonen er nedlagt, men det er ikke utelukket at den kan bli tatt i bruk igjen for datainnsamling i framtiden.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12988</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nedlagt, kan gjenopprettes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O">
            <annotation>
               <documentation>7081: Stasjonen er operativ og registrerer data.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7081</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Operativ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StatusTrafikkregistreringsstasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TrafikantgruppeTrafikkregistreringsstasjonType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9293</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikantgruppe</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TrafikantgruppeTrafikkregistreringsstasjonEnumerationType nvdb:TrafikantgruppeTrafikkregistreringsstasjonOtherType"/>
   </simpleType>
   <simpleType name="TrafikantgruppeTrafikkregistreringsstasjonEnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9293</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikantgruppe</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="M">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12992</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Motorkjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12993</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sykkel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TrafikantgruppeTrafikkregistreringsstasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Trafikkregistreringsstasjon"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:TrafikkregistreringsstasjonType">
      <annotation>
         <documentation>482: Sted der det er installert et trafikkregistreringsapparat for registrering av trafikk. Apparatet kan ha tilkopla trafikkregistreringspunkt på en eller flere tilgrensende veger.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">482</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkregistreringsstasjon</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TrafikkregistreringsstasjonType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="målestasjonsnummer" type="integer">
                  <annotation>
                     <documentation>4627: Angir er unikt nummer knyttet til trafikkregistreringsstasjon. Benyttes som primærnøkkel i Trafikkdatasystemet og Målestasjonsregisteret.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4627</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Målestasjonsnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="registreringshyppighet"
                        type="nvdb:RegistreringshyppighetTrafikkregistreringsstasjonType">
                  <annotation>
                     <documentation>3910: Angir registreringshyppighet for trafikkregistreringsstasjonen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3910</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Registreringshyppighet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="trafikantgruppe"
                        type="nvdb:TrafikantgruppeTrafikkregistreringsstasjonType">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9293</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Trafikantgruppe</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="status" type="nvdb:StatusTrafikkregistreringsstasjonType">
                  <annotation>
                     <documentation>5201: Angir hvilken status registreringspunktet har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5201</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stasjonsnavn" type="string">
                  <annotation>
                     <documentation>4626: Gir navn på trafikkregistreringsstasjon. Det benyttes gjerne lokalt stedsnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4626</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stasjonsnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sistOppdatertFraTrafikkdatasystemet" type="date">
                  <annotation>
                     <documentation>12958: Angir dato vegobjekt sist ble oppdatert fra Trafikkdatasystemet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12958</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sist oppdatert fra Trafikkdatasystemet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sistOppdatertFraMSR" type="date">
                  <annotation>
                     <documentation>12060: Angir dato vegobjekttype sist ble oppdatert fra Målestasjonsregisteret.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12060</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sist oppdatert fra MSR</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sistOppdatertFraNorTraf" type="date">
                  <annotation>
                     <documentation>9291: Angir dato for sist oppdatering fra NorTraf.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9291</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sist oppdatert fra NorTraf</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallKjørefelt" type="integer">
                  <annotation>
                     <documentation>5192: Angir hvor mange kjørefelt som er knytta til tellepunktet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5192</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall kjørefelt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>12154: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12154</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11140: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11140</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="eier"
                        type="nvdb:EierTrafikkregistreringsstasjonType">
                  <annotation>
                     <documentation>11981: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11981</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligTrafikkregistreringsstasjonType">
                  <annotation>
                     <documentation>12010: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12010</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4997: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4997</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TrafikkregistreringsstasjonPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trafikkregistreringsstasjon"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VedlikeholdsansvarligTrafikkregistreringsstasjonType">
      <annotation>
         <documentation>12010: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12010</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligTrafikkregistreringsstasjonEnumerationType nvdb:VedlikeholdsansvarligTrafikkregistreringsstasjonOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTrafikkregistreringsstasjonEnumerationType">
      <annotation>
         <documentation>12010: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12010</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20779</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20781</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20778</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20780</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20782</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20777</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20783</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTrafikkregistreringsstasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
