GML/485.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>485: Informasjon om periodevis stengning av veg.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="HovedårsakTilStengningVegstengningType">
      <annotation>
         <documentation>9397: Gir informasjon om hva som er hovedårsak til stengning av vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9397</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hovedårsak til stengning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:HovedårsakTilStengningVegstengningEnumerationType nvdb:HovedårsakTilStengningVegstengningOtherType"/>
   </simpleType>
   <simpleType name="HovedårsakTilStengningVegstengningEnumerationType">
      <annotation>
         <documentation>9397: Gir informasjon om hva som er hovedårsak til stengning av vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9397</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hovedårsak til stengning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13239</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen årsak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <documentation>13226: Vegstrekning stengt pga. brann på eller ved vegen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13226</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <documentation>13228: Vesgstrekning stengt pga. sterk vind i kombinasjon med snøfokk og eller nedbør i form av snø.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13228</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Drivsnø/redusert sikt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <documentation>13223: Stengning av vegstrekning pga. for mye vann i vegen. Kan skyldes springflo, flom i vassdrag, oversvømmelser pga. mye regn eller vannlekkasje, vassdrag som har tatt nye løp med mer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13223</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GV">
            <annotation>
               <documentation>13229: Vegen er stengt pga. for lav friksjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13229</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glatt veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <documentation>13221: Stengning av vegstrekning pga. av at ett eller flere skred stenger vegen. Dette kan være alt fra mindre steinsprang til større snøskred.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13221</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SF">
            <annotation>
               <documentation>13222: Stengning av vegstrekning pga. fare for skred. Kan være ulike typer skred.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13222</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredfare</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TF">
            <annotation>
               <documentation>13230: Vegen er stengt pga. teknisk feil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13230</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Teknisk feil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <documentation>13225: Vegen er stengt pga. at det har skjedd en trafikkhendelse, f.eks. trafikkulykke, motorstopp/havari på eller i tilknytning til vegen slik at det ikke er mulig eller ønskelig å ha trafikk på strekningen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13225</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkhendelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="A">
            <annotation>
               <documentation>13227: Vegstrekning er stengt pga. pågående vedlikeholdsarbeid.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13227</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegarbeid</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <documentation>13224: Vegstrekning stengt pga. sterk vind. Ofte i forbindelse med bruer og værutsatte strekninger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13224</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vind</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="HovedårsakTilStengningVegstengningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SkredtypeVegstengningType">
      <annotation>
         <documentation>3921: Angir hvilken type skred det er fare for. Bare aktuell hvis hovedårsak til vegstengning er "Skred" eller "Skredfare".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3921</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkredtypeVegstengningEnumerationType nvdb:SkredtypeVegstengningOtherType"/>
   </simpleType>
   <simpleType name="SkredtypeVegstengningEnumerationType">
      <annotation>
         <documentation>3921: Angir hvilken type skred det er fare for. Bare aktuell hvis hovedårsak til vegstengning er "Skred" eller "Skredfare".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3921</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fl">
            <annotation>
               <documentation>4935: Består av vann, stein og jord.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4935</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flomskred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="is">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4934</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Is</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="si">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5350</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Is/stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="jl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4932</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jord/løsmasse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sn">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4933</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snø</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4931</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sr">
            <annotation>
               <documentation>4936: Består av vann, snø og stein.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4936</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sørpeskred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ug">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13231</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utglidning av veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkredtypeVegstengningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="StengningVegstengningType">
      <annotation>
         <documentation>3924: Gir informasjon om stengning av vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StengningVegstengningEnumerationType nvdb:StengningVegstengningOtherType"/>
   </simpleType>
   <simpleType name="StengningVegstengningEnumerationType">
      <annotation>
         <documentation>3924: Gir informasjon om stengning av vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ks">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13232</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kolonnekjøring/styrt avvikling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ns">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13233</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nattestengt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="d">
            <annotation>
               <documentation>4945: F.eks. stengning av et kjørefelt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4945</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stengning av del av vegbane</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4942</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stengt for all trafikk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13234</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stengt for gående/syklende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4943</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stengt for personbiler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4944</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stengt for tungtrafikk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StengningVegstengningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="StengtRetningVegstengningType">
      <annotation>
         <documentation>9398: Angir hvilken trafikkretning vegen er stengt for. Det er særlig for veger med midtdeler det er aktuelt å stenge for en trafikkretning. Envegskjørte veger angis som "helt stengt".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9398</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengt retning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StengtRetningVegstengningEnumerationType nvdb:StengtRetningVegstengningOtherType"/>
   </simpleType>
   <simpleType name="StengtRetningVegstengningEnumerationType">
      <annotation>
         <documentation>9398: Angir hvilken trafikkretning vegen er stengt for. Det er særlig for veger med midtdeler det er aktuelt å stenge for en trafikkretning. Envegskjørte veger angis som "helt stengt".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9398</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengt retning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <documentation>13235: Stengt for trafikk i begge retninger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13235</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helt stengt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Med">
            <annotation>
               <documentation>13236: Stengt for trafikk som kjører i samme retning som metrering. Åpen for trafikk i motsatt retning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13236</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Med metreringsretning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Mot">
            <annotation>
               <documentation>13237: Stengt for trafikk som kjører i motsatt retning av metreringsretning. Åpen for trafikk med metreringsretning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13237</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mot metreringsretning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StengtRetningVegstengningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegstengning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:VegstengningType">
      <annotation>
         <documentation>485: Informasjon om periodevis stengning av veg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">485</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegstengning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VegstengningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="hovedårsakTilStengning">
                  <annotation>
                     <documentation>9397: Gir informasjon om hva som er hovedårsak til stengning av vegen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9397</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Hovedårsak til stengning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="skredtype"
                        type="nvdb:SkredtypeVegstengningType">
                  <annotation>
                     <documentation>3921: Angir hvilken type skred det er fare for. Bare aktuell hvis hovedårsak til vegstengning er "Skred" eller "Skredfare".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3921</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skredtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="stengtRetning">
                  <annotation>
                     <documentation>9398: Angir hvilken trafikkretning vegen er stengt for. Det er særlig for veger med midtdeler det er aktuelt å stenge for en trafikkretning. Envegskjørte veger angis som "helt stengt".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9398</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stengt retning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stedsangivelse" type="string">
                  <annotation>
                     <documentation>7906: Stedsnavn hvor forekomst er lokalisert. Ev. plassering i forhold til stedsnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7906</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stedsangivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="værforholdPåVegen">
                  <annotation>
                     <documentation>3922: Angir hvilke værforhold det var på vegen i forkant av da vegstengning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3922</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Værforhold på vegen</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vindretning"
                        type="nvdb:VindretningVegstengningType">
                  <annotation>
                     <documentation>3923: Angir hvilken vindretning det var på vegen i forkant av vegstengningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3923</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vindretning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="temperaturPåVeg" type="double">
                  <annotation>
                     <documentation>5292: Angir temperatur på vegen i forkant av vegstengning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5292</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Temperatur på veg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="stengning"
                        type="nvdb:StengningVegstengningType">
                  <annotation>
                     <documentation>3924: Gir informasjon om stengning av vegen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3924</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stengning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stengtFraDato" type="date">
                  <annotation>
                     <documentation>3925: Angir dato for stengning av vegen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3925</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stengt fra dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stengtFraKlokkeslett" type="integer">
                  <annotation>
                     <documentation>3926: Angir klokkeslett for stengning av vegen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3926</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stengt fra klokkeslett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stengtTilDato" type="date">
                  <annotation>
                     <documentation>3927: Angir dato for åpning av vegen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3927</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stengt til dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stengtTilKlokkeslett" type="integer">
                  <annotation>
                     <documentation>3928: Angir klokkeslett for åpning av vegen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3928</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stengt til klokkeslett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4999: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4999</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VegstengningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegstengning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VindretningVegstengningType">
      <annotation>
         <documentation>3923: Angir hvilken vindretning det var på vegen i forkant av vegstengningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vindretning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VindretningVegstengningEnumerationType nvdb:VindretningVegstengningOtherType"/>
   </simpleType>
   <simpleType name="VindretningVegstengningEnumerationType">
      <annotation>
         <documentation>3923: Angir hvilken vindretning det var på vegen i forkant av vegstengningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vindretning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="n2">
            <annotation>
               <documentation>5690: Nord.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5690</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">N</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n1">
            <annotation>
               <documentation>5689: Nord-nordvest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5689</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NNV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n3">
            <annotation>
               <documentation>5691: Nord-nordøst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5691</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NNØ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nv">
            <annotation>
               <documentation>5688: Nordvest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5688</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="no">
            <annotation>
               <documentation>5692: Nordøst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5692</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NØ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s3">
            <annotation>
               <documentation>5682: Sør.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5682</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s2">
            <annotation>
               <documentation>5683: Sør-sørvest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5683</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SSV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s1">
            <annotation>
               <documentation>5697: Sør-sørøst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5697</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SSØ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sv">
            <annotation>
               <documentation>5684: Sørvest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5684</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="so">
            <annotation>
               <documentation>5696: Sørøst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5696</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SØ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v2">
            <annotation>
               <documentation>5686: Vest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5686</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">V</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13238</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vindstille</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v3">
            <annotation>
               <documentation>5687: Vest-nordvest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5687</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VNV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v1">
            <annotation>
               <documentation>5685: Vest-Sørvest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5685</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VSV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="o2">
            <annotation>
               <documentation>5694: Øst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5694</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ø</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="o1">
            <annotation>
               <documentation>5693: Øst-nordøst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5693</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">ØNØ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="o3">
            <annotation>
               <documentation>5695: Øst-sørøst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5695</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">ØSØ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VindretningVegstengningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VærforholdPåVegenVegstengningType">
      <annotation>
         <documentation>3922: Angir hvilke værforhold det var på vegen i forkant av da vegstengning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3922</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Værforhold på vegen</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VærforholdPåVegenVegstengningEnumerationType nvdb:VærforholdPåVegenVegstengningOtherType"/>
   </simpleType>
   <simpleType name="VærforholdPåVegenVegstengningEnumerationType">
      <annotation>
         <documentation>3922: Angir hvilke værforhold det var på vegen i forkant av da vegstengning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3922</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Værforhold på vegen</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="i">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5673</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen nedbør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5674</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Regn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5676</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Regn, lite</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5675</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Regn, middels</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5677</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Regn, mye</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5678</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snø</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5679</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snø, lite</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5680</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snø, middels</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5681</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snø, mye</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VærforholdPåVegenVegstengningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
