GML/49.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelegningTrafikkøyType">
    <annotation>
      <documentation>2127: Angir hva vegobjektet er belagt med</documentation>
    </annotation>
    <union memberTypes="nvdb:BelegningTrafikkøyEnumerationType nvdb:BelegningTrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="BelegningTrafikkøyEnumerationType">
    <annotation>
      <documentation>2127: Angir hva vegobjektet er belagt med</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="grøntBeplantning">
        <annotation>
          <documentation>3917: Grønt/beplantning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>4053: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong_Farget">
        <annotation>
          <documentation>5547: Betong, farget</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong_Mønstret">
        <annotation>
          <documentation>5548: Betong, mønstret</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong_MønstretOgFarget">
        <annotation>
          <documentation>5549: Betong, mønstret og farget</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongheller">
        <annotation>
          <documentation>5550: Betongheller</documentation>
        </annotation>
      </enumeration>
      <enumeration value="granitt">
        <annotation>
          <documentation>11235: Granitt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>7934: Betongstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skiferheller">
        <annotation>
          <documentation>11234: Skiferheller</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stein">
        <annotation>
          <documentation>3277: Stein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stein_FaststøptIBetong">
        <annotation>
          <documentation>5552: Stein, faststøpt i betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stein_Rundstein">
        <annotation>
          <documentation>5553: Stein, rundstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stein_Brostein">
        <annotation>
          <documentation>5554: Stein, brostein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pukk">
        <annotation>
          <documentation>5555: Pukk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfalt">
        <annotation>
          <documentation>2347: Asfalt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelegningTrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Belegning_OverkjørbartArealType">
    <annotation>
      <documentation>8787: Angir hvilken type belegning det er på overkjørbart areal</documentation>
    </annotation>
    <union memberTypes="nvdb:Belegning_OverkjørbartArealEnumerationType nvdb:Belegning_OverkjørbartArealOtherType"/>
  </simpleType>
  <simpleType name="Belegning_OverkjørbartArealEnumerationType">
    <annotation>
      <documentation>8787: Angir hvilken type belegning det er på overkjørbart areal</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stein_Brostein">
        <annotation>
          <documentation>11628: Stein, brostein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfalt">
        <annotation>
          <documentation>11629: Asfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>11786: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>11631: Betongstein</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Belegning_OverkjørbartArealOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierTrafikkøyType">
    <annotation>
      <documentation>10768: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierTrafikkøyEnumerationType nvdb:EierTrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="EierTrafikkøyEnumerationType">
    <annotation>
      <documentation>10768: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>17447: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18628: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>17444: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>17445: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>17446: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17640: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkøy" substitutionGroup="nvdb:AbstraktTrafikkøy" type="nvdb:TrafikkøyType">
    <annotation>
      <documentation>49: Område som er begrenset av kjørefelt på alle sider og som normalt ikke skal benyttes av kjøretøy.  Trafikkøy kan være en forhøyning avgrenset med kantstein, eller malt på vegen</documentation>
    </annotation>
  </element>
  <complexType name="TrafikkøyType">
    <complexContent>
      <extension base="nvdb:AbstraktTrafikkøyType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeTrafikkøyType">
            <annotation>
              <documentation>1119: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utforming" type="nvdb:UtformingTrafikkøyType">
            <annotation>
              <documentation>2024: Utforming av vegobjekt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="belegning" type="nvdb:BelegningTrafikkøyType">
            <annotation>
              <documentation>2127: Angir hva vegobjektet er belagt med</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="belegning_OverkjørbartAreal" type="nvdb:Belegning_OverkjørbartArealType">
            <annotation>
              <documentation>8787: Angir hvilken type belegning det er på overkjørbart areal</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal_Totalt" type="double">
            <annotation>
              <documentation>1363: Angir arealet av vegobjektet.  For fysiske øyer skal arealet regnes til ytterkant kantstein.  Evt. overkjørbart areal skal medregnes.  For malte øyer skal arealet regnes til ytterkant maling.
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal_Overkjørbart" type="double">
            <annotation>
              <documentation>8786: Angir areal av den delen av trafikkøyen som er overkjørbar.  Dette arealet er tiltenkt framkommelighet for store kjøretøy evt spesialkjøretøy.
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10381: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11569: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11054: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="FKB_ID" type="string">
            <annotation>
              <documentation>10858: Refererer til FKB-identitet. Benyttes i forbindelse med felles forvaltning av geometri.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierTrafikkøyType">
            <annotation>
              <documentation>10768: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTrafikkøyType">
            <annotation>
              <documentation>8057: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4756: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8917: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10716: Gir flate/Polygon som geometrisk avgrenser ytterkant av vegobjekt</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegoppmerking_Langsgående" type="nvdb:AbstraktVegoppmerking_LangsgåendePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKantstein" type="nvdb:AbstraktKantsteinPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGjerde" type="nvdb:AbstraktGjerdePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="nvdb:AbstraktTilstandSkade_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrær" type="nvdb:AbstraktTrærPropertyType"/>
          <element minOccurs="0" name="assosiertVegkryss" type="nvdb:AbstraktVegkryssPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBusker" type="nvdb:AbstraktBuskerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBlomsterbeplantning" type="nvdb:AbstraktBlomsterbeplantningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Strekning" type="nvdb:AbstraktTilstandSkadeFU_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGrasdekker" type="nvdb:AbstraktGrasdekkerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKunstUtsmykking" type="nvdb:AbstraktKunstUtsmykkingPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkøyPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkøy"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeTrafikkøyType">
    <annotation>
      <documentation>1119: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeTrafikkøyEnumerationType nvdb:TypeTrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="TypeTrafikkøyEnumerationType">
    <annotation>
      <documentation>1119: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="delendeTrafikkøyUtenVenstresvingefelt">
        <annotation>
          <documentation>3207: Trafikkøy som normalt benyttes i primærveg, hovedsakelig i T-kryss, for å skille motgående trafikkstrømmer. Trafikkøyen har ikke tilliggende venstresvingefelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="delendeTrafikkøyMedVenstresvingefelt">
        <annotation>
          <documentation>3208: Trafikkøy som benyttes i primærveg, i T- og X-kryss,  for å skille motgående trafikkstrømmer. Trafikkøyen har tilliggende venstresvingefelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dråpeøy">
        <annotation>
          <documentation>3209: Trafikkøy som kan benyttes i sekundærveg i T- og X-kryss for å skille motgående trafikkstrømmer.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trekantøy">
        <annotation>
          <documentation>3210: Trafikkøy som benyttes i forbindelse med høyresving i T- og X-kryss. Kan benyttes både ved sving fra primærveg til sekundærveg og motsatt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sentraløy_Rundkjøring">
        <annotation>
          <documentation>3212: Trafikkøy i senter av rundkjøring. Inkluderer også eventuelt overkjørbart areal.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trekantdeleøy_Rundkjøring">
        <annotation>
          <documentation>3211: Trafikkøy i arm av rundkjøring. Benyttes for å adskille motgående trafikkstrømmer samt lede trafikk som kjører inn i rundkjøring. Trafikkøyen har en tilnærmet trekanta utforming.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="parallelldeleøy_Rundkjøring">
        <annotation>
          <documentation>11632: Trafikkøy i arm av rundkjøring. Benyttes for å adskille motgående trafikkstrømmer samt lede trafikk som kjører inn i rundkjøring. Trafikkøyen har tilnærmet jevn bredde.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trompetdeleøy_Rundkjøring">
        <annotation>
          <documentation>11633: Trafikkøy i arm av rundkjøring. Benyttes for å adskille motgående trafikkstrømmer samt lede trafikk som kjører inn i rundkjøring. Trafikkøyen har jen utforming som minner om enden på en trompet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafikkøy_Ved_Filterfelt">
        <annotation>
          <documentation>12976: Trafikkøy mellom filterfelt og kryss.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafikkøy_Ved_Fotgjengerovergang">
        <annotation>
          <documentation>3213: Trafikkøy i forbindelse med fotgjengerfelt. Ligger mellom to kjørefelt. Gir mulighet for fotgjengere å krysse vegen i to etapper.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafikkøy_Ved_Snuplass">
        <annotation>
          <documentation>3214: Trafikkøy i tilknytning til snuplass. Benyttes først og fremst i senter av sirkulære snuplasser</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeTrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtformingTrafikkøyType">
    <annotation>
      <documentation>2024: Utforming av vegobjekt</documentation>
    </annotation>
    <union memberTypes="nvdb:UtformingTrafikkøyEnumerationType nvdb:UtformingTrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="UtformingTrafikkøyEnumerationType">
    <annotation>
      <documentation>2024: Utforming av vegobjekt</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="malt">
        <annotation>
          <documentation>3220: Malt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fysiskMKantstein">
        <annotation>
          <documentation>3224: Fysisk m kantstein</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtformingTrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkøyType">
    <annotation>
      <documentation>8057: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTrafikkøyEnumerationType nvdb:VedlikeholdsansvarligTrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkøyEnumerationType">
    <annotation>
      <documentation>8057: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10451: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18674: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19927: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18803: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10529: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10607: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17710: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
