GML/498.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>498: Strekninger som har permanente eller midlertidige tiltak for å skremme vilt unna vegbanen samt tiltak som varsler bilfører om vilt i nærheten av vegen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierViltskremmerevarslereType">
      <annotation>
         <documentation>8037: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8037</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierViltskremmerevarslereEnumerationType nvdb:EierViltskremmerevarslereOtherType"/>
   </simpleType>
   <simpleType name="EierViltskremmerevarslereEnumerationType">
      <annotation>
         <documentation>8037: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8037</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10764</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10367</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10431</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18554</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10303</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17657: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17657</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierViltskremmerevarslereOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeViltskremmerevarslereType">
      <annotation>
         <documentation>10495: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10495</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeViltskremmerevarslereEnumerationType nvdb:TypeViltskremmerevarslereOtherType"/>
   </simpleType>
   <simpleType name="TypeViltskremmerevarslereEnumerationType">
      <annotation>
         <documentation>10495: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10495</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ann">
            <annotation>
               <documentation>16931: Beskrivelse av tiltaket registreres på egenskapen "Beskrivelse".</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16931</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="luS">
            <annotation>
               <documentation>16929: Luktstoffer er i hovedsak et midlertidig til og det skal registreres gyldighetsdato for denne typen tiltak.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16929</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Luktstoffer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ld">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16927</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lyd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ls">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16928</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lys</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ll">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16926</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lys og lyd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="refl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16934</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Reflektor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vvB">
            <annotation>
               <documentation>16930: Aktiv eller passiv varsling til bilfører om at det er viltfare. Beskrivelse av tiltaket registreres på egenskapen "Beskrivelse".</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16930</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Viltvarslere for bilføreren</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeViltskremmerevarslereOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VarighetViltskremmerevarslereType">
      <annotation>
         <documentation>10496: Angir om det er et midlertidig eller permanent tiltak.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10496</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varighet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VarighetViltskremmerevarslereEnumerationType nvdb:VarighetViltskremmerevarslereOtherType"/>
   </simpleType>
   <simpleType name="VarighetViltskremmerevarslereEnumerationType">
      <annotation>
         <documentation>10496: Angir om det er et midlertidig eller permanent tiltak.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10496</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varighet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="midT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16933</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Midlertidig tiltak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="perT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16932</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Permanent tiltak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VarighetViltskremmerevarslereOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligViltskremmerevarslereType">
      <annotation>
         <documentation>8112: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8112</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligViltskremmerevarslereEnumerationType nvdb:VedlikeholdsansvarligViltskremmerevarslereOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligViltskremmerevarslereEnumerationType">
      <annotation>
         <documentation>8112: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8112</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19969</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10584</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18766</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18895</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10662</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10506</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17752</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligViltskremmerevarslereOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Viltskremmerevarslere"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:ViltskremmerevarslereType">
      <annotation>
         <documentation>498: Strekninger som har permanente eller midlertidige tiltak for å skremme vilt unna vegbanen samt tiltak som varsler bilfører om vilt i nærheten av vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">498</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Viltskremmerevarslere</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="ViltskremmerevarslereType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeViltskremmerevarslereType">
                  <annotation>
                     <documentation>10495: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10495</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antall" type="integer">
                  <annotation>
                     <documentation>3989: Angir hvor mange viltreflektorer objektet representerer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3989</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="beskrivelse" type="string">
                  <annotation>
                     <documentation>10497: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10497</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="varighet" type="nvdb:VarighetViltskremmerevarslereType">
                  <annotation>
                     <documentation>10496: Angir om det er et midlertidig eller permanent tiltak.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10496</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Varighet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gyldigTil" type="date">
                  <annotation>
                     <documentation>10498: Angir hvor lenge tiltaket er gyldig.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10498</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gyldig til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10403: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10403</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produsent" type="string">
                  <annotation>
                     <documentation>4081: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4081</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produktnavn" type="string">
                  <annotation>
                     <documentation>3991: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3991</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="leverandør" type="string">
                  <annotation>
                     <documentation>3990: Angir navn på firma som har levert vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3990</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Leverandør</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierViltskremmerevarslereType">
                  <annotation>
                     <documentation>8037: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8037</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligViltskremmerevarslereType">
                  <annotation>
                     <documentation>8112: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8112</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>5003: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5003</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ViltskremmerevarslerePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Viltskremmerevarslere"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
