GML/498.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierViltskremmereVarslereType">
    <annotation>
      <documentation>8037: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierViltskremmereVarslereEnumerationType nvdb:EierViltskremmereVarslereOtherType"/>
  </simpleType>
  <simpleType name="EierViltskremmereVarslereEnumerationType">
    <annotation>
      <documentation>8037: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10303: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18554: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10764: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10367: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10431: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17657: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierViltskremmereVarslereOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeViltskremmereVarslereType">
    <union memberTypes="nvdb:TypeViltskremmereVarslereEnumerationType nvdb:TypeViltskremmereVarslereOtherType"/>
  </simpleType>
  <simpleType name="TypeViltskremmereVarslereEnumerationType">
    <restriction base="string">
      <enumeration value="lysOgLyd">
        <annotation>
          <documentation>16926: Lys og lyd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lyd">
        <annotation>
          <documentation>16927: Lyd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lys">
        <annotation>
          <documentation>16928: Lys</documentation>
        </annotation>
      </enumeration>
      <enumeration value="luktstoffer">
        <annotation>
          <documentation>16929: Luksffer er i hovedsak et midlertidig til og det skal registreres gyldighetsdat for denne typen tiltak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="viltvarslereForBilføreren">
        <annotation>
          <documentation>16930: Aktiv eller passiv varsling til bilfører om at det er viltfare. Beskrivelse av tiltaket registreres på egenskapen "Beskrivelse"</documentation>
        </annotation>
      </enumeration>
      <enumeration value="reflektor">
        <annotation>
          <documentation>16934: Reflektor</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annet">
        <annotation>
          <documentation>16931: Beskrivelse av tiltaket registreres på egenskapen "Beskrivelse"</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeViltskremmereVarslereOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VarighetType">
    <annotation>
      <documentation>10496: Angir om det er et midlertidig eller permanent tiltak</documentation>
    </annotation>
    <union memberTypes="nvdb:VarighetEnumerationType nvdb:VarighetOtherType"/>
  </simpleType>
  <simpleType name="VarighetEnumerationType">
    <annotation>
      <documentation>10496: Angir om det er et midlertidig eller permanent tiltak</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="permanentTiltak">
        <annotation>
          <documentation>16932: Permanent tiltak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="midlertidigTiltak">
        <annotation>
          <documentation>16933: Midlertidig tiltak</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VarighetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligViltskremmereVarslereType">
    <annotation>
      <documentation>8112: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligViltskremmereVarslereEnumerationType nvdb:VedlikeholdsansvarligViltskremmereVarslereOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligViltskremmereVarslereEnumerationType">
    <annotation>
      <documentation>8112: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10506: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18766: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19969: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18895: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10584: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10662: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17752: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligViltskremmereVarslereOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="ViltskremmereVarslere" substitutionGroup="nvdb:AbstraktViltskremmereVarslere" type="nvdb:ViltskremmereVarslereType">
    <annotation>
      <documentation>498: Strekninger som har permanente eller midlertidige tiltak for å skremme vilt unna vegbanen samt tiltak som varsler bilfører om vilt i nærheten av vegen.</documentation>
    </annotation>
  </element>
  <complexType name="ViltskremmereVarslereType">
    <complexContent>
      <extension base="nvdb:AbstraktViltskremmereVarslereType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeViltskremmereVarslereType"/>
          <element minOccurs="0" name="antall" type="integer">
            <annotation>
              <documentation>3989: Angir hvor mange viltreflektorer objektet representerer
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string"/>
          <element minOccurs="0" name="varighet" type="nvdb:VarighetType">
            <annotation>
              <documentation>10496: Angir om det er et midlertidig eller permanent tiltak</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gyldigTil" type="date">
            <annotation>
              <documentation>10498: Angir hvor lenge tiltaket er gyldig</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10403: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>4081: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>3991: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="leverandør" type="string">
            <annotation>
              <documentation>3990: Angir navn på firma som har levert vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierViltskremmereVarslereType">
            <annotation>
              <documentation>8037: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligViltskremmereVarslereType">
            <annotation>
              <documentation>8112: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5003: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertViltfare" type="nvdb:AbstraktViltfarePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="nvdb:AbstraktTilstandSkade_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Strekning" type="nvdb:AbstraktTilstandSkadeFU_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ViltskremmereVarslerePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:ViltskremmereVarslere"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
