GML/498.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierViltskremmereVarslereType">
    <annotation>
      <documentation>8037: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8037</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8037</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierViltskremmereVarslereEnumerationType nvdb:EierViltskremmereVarslereOtherType"/>
  </simpleType>
  <simpleType name="EierViltskremmereVarslereEnumerationType">
    <annotation>
      <documentation>8037: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8037</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8037</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10303: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10303</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18554: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18554</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10764: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10764</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10367: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10367</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10431: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10431</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17657: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17657</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierViltskremmereVarslereOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeViltskremmereVarslereType">
    <annotation>
      <documentation>10495: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10495</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10495</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeViltskremmereVarslereEnumerationType nvdb:TypeViltskremmereVarslereOtherType"/>
  </simpleType>
  <simpleType name="TypeViltskremmereVarslereEnumerationType">
    <annotation>
      <documentation>10495: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10495</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10495</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Lys og lyd">
        <annotation>
          <documentation>16926: Lys og lyd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16926</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lys og lyd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lyd">
        <annotation>
          <documentation>16927: Lyd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16927</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lyd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lys">
        <annotation>
          <documentation>16928: Lys</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16928</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lys</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Luktstoffer">
        <annotation>
          <documentation>16929: Luksffer er i hovedsak et midlertidig til og det skal registreres gyldighetsdat for denne typen tiltak</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16929</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Luktstoffer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Viltvarslere for bilføreren">
        <annotation>
          <documentation>16930: Aktiv eller passiv varsling til bilfører om at det er viltfare. Beskrivelse av tiltaket registreres på egenskapen "Beskrivelse"</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16930</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Viltvarslere for bilføreren</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Reflektor">
        <annotation>
          <documentation>16934: Reflektor</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16934</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Reflektor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet">
        <annotation>
          <documentation>16931: Beskrivelse av tiltaket registreres på egenskapen "Beskrivelse"</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16931</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeViltskremmereVarslereOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VarighetType">
    <annotation>
      <documentation>10496: Angir om det er et midlertidig eller permanent tiltak.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10496</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10496</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Varighet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VarighetEnumerationType nvdb:VarighetOtherType"/>
  </simpleType>
  <simpleType name="VarighetEnumerationType">
    <annotation>
      <documentation>10496: Angir om det er et midlertidig eller permanent tiltak.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10496</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10496</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Varighet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Permanent tiltak">
        <annotation>
          <documentation>16932: Permanent tiltak</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16932</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Permanent tiltak</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Midlertidig tiltak">
        <annotation>
          <documentation>16933: Midlertidig tiltak</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16933</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Midlertidig tiltak</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VarighetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligViltskremmereVarslereType">
    <annotation>
      <documentation>8112: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8112</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8112</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligViltskremmereVarslereEnumerationType nvdb:VedlikeholdsansvarligViltskremmereVarslereOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligViltskremmereVarslereEnumerationType">
    <annotation>
      <documentation>8112: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8112</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8112</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10506: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10506</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18766: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18766</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19969: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19969</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18895: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18895</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10584: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10584</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10662: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10662</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17752: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17752</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligViltskremmereVarslereOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="ViltskremmereVarslere" substitutionGroup="nvdb:AbstraktViltskremmereVarslere" type="nvdb:ViltskremmereVarslereType">
    <annotation>
      <documentation>498: Strekninger som har permanente eller midlertidige tiltak for å skremme vilt unna vegbanen samt tiltak som varsler bilfører om vilt i nærheten av vegen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">498</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">498</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Viltskremmere/varslere</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="ViltskremmereVarslereType">
    <complexContent>
      <extension base="nvdb:AbstraktViltskremmereVarslereType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeViltskremmereVarslereType">
            <annotation>
              <documentation>10495: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10495</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antall" type="integer">
            <annotation>
              <documentation>3989: Angir hvor mange viltreflektorer objektet representerer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3989</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>10497: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10497</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="varighet" type="nvdb:VarighetType">
            <annotation>
              <documentation>10496: Angir om det er et midlertidig eller permanent tiltak.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10496</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Varighet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gyldigTil" type="date">
            <annotation>
              <documentation>10498: Angir hvor lenge tiltaket er gyldig.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10498</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gyldig til</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10403: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10403</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>4081: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4081</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>3991: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3991</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="leverandør" type="string">
            <annotation>
              <documentation>3990: Angir navn på firma som har levert vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3990</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Leverandør</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierViltskremmereVarslereType">
            <annotation>
              <documentation>8037: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8037</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligViltskremmereVarslereType">
            <annotation>
              <documentation>8112: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8112</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5003: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5003</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertViltfare" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktViltfare</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Strekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Strekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkadeFU_Strekning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ViltskremmereVarslerePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:ViltskremmereVarslere"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
