GML/502.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>502: Skap for oppbevaring/installasjon av utstyr.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BrøytingAvAdkomstSkap, tekniskType">
      <annotation>
         <documentation>12937: Angir om det utføres brøyting av adkamst til Skap, teknisk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12937</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brøyting av adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BrøytingAvAdkomstSkap, tekniskEnumerationType nvdb:BrøytingAvAdkomstSkap, tekniskOtherType"/>
   </simpleType>
   <simpleType name="BrøytingAvAdkomstSkap, tekniskEnumerationType">
      <annotation>
         <documentation>12937: Angir om det utføres brøyting av adkamst til Skap, teknisk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12937</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brøyting av adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="IR">
            <annotation>
               <documentation>22497: Det er ikke behov for spesifikk brøyting/strøing i tilknytning til Skap, teknisk. Gjelder f.eks skap i tunnel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22497</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke relevant</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="J">
            <annotation>
               <documentation>22494: Det utføres brøyting/strøing av adkomst til Skap, teknisk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22494</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>22495: Det utføres ikke brøyting/strøing av adkomst til Skap, teknisk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22495</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BrøytingAvAdkomstSkap, tekniskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierSkap, tekniskType">
      <annotation>
         <documentation>8039: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8039</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierSkap, tekniskEnumerationType nvdb:EierSkap, tekniskOtherType"/>
   </simpleType>
   <simpleType name="EierSkap, tekniskEnumerationType">
      <annotation>
         <documentation>8039: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8039</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10766</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10369</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10433</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18652</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10305</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17658: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17658</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierSkap, tekniskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Skap, teknisk"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Skap, tekniskType">
      <annotation>
         <documentation>502: Skap for oppbevaring/installasjon av utstyr.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">502</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skap, teknisk</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Skap, tekniskType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeSkap, tekniskType">
                  <annotation>
                     <documentation>4013: Angir hvilken type skap det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4013</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høydeOverBakken" type="double">
                  <annotation>
                     <documentation>11313: Angir høyde fra bakken til underkant skap.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11313</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde over bakken</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="brøytingAvAdkomst">
                  <annotation>
                     <documentation>12937: Angir om det utføres brøyting av adkamst til Skap, teknisk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12937</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Brøyting av adkomst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10358: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10358</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10087: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10087</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="SCADA_Merking" type="string">
                  <annotation>
                     <documentation>11738: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11738</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">SCADA-merking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent" type="string">
                  <annotation>
                     <documentation>4016: Angir navn på produsent/fabrikant av selve skapet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4016</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>4018: Angir produktnavn for selve skapet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4018</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11625: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11625</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivreferanse" type="string">
                  <annotation>
                     <documentation>11695: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11695</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11143: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11143</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12391: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12391</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierSkap, tekniskType">
                  <annotation>
                     <documentation>8039: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8039</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligSkap, tekniskType">
                  <annotation>
                     <documentation>8114: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8114</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>5007: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5007</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Skap, tekniskPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Skap, teknisk"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeSkap, tekniskType">
      <annotation>
         <documentation>4013: Angir hvilken type skap det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4013</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeSkap, tekniskEnumerationType nvdb:TypeSkap, tekniskOtherType"/>
   </simpleType>
   <simpleType name="TypeSkap, tekniskEnumerationType">
      <annotation>
         <documentation>4013: Angir hvilken type skap det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4013</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="p">
            <annotation>
               <documentation>5056: Skap for automatisk styring eller fjernstyring av f.eks. kommunikasjon, vifter, belysning eller pumpestasjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5056</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Automasjonsskap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bs">
            <annotation>
               <documentation>7455: Skap for betjening og manuell styring av f.eks. kommunikasjon, vifter, belysning eller pumpestasjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7455</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betjening/styring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BS">
            <annotation>
               <documentation>5046: Skap med brannslukker/brannslukkingsapparat. Der det finnes en nødtelefon i direkte nærhet, defineres nødtelefon og brannslokkere som Nødstasjon iht. N500. Skapet registreres da ikke.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5046</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brannslukkerskap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>12166: Skap for styring av nødsystemet i f.eks. en tunnel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12166</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nødstyreskap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Skredteknisk utstyr">
            <annotation>
               <documentation>21910: Skap som inneholder tekniske komponenter i tilknytning til skredteknisk utstyr.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21910</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredteknisk utstyr</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TP">
            <annotation>
               <documentation>11787: Skap i tilknytning til tellepunkt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11787</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tellepunktskap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeSkap, tekniskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSkap, tekniskType">
      <annotation>
         <documentation>8114: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8114</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligSkap, tekniskEnumerationType nvdb:VedlikeholdsansvarligSkap, tekniskOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSkap, tekniskEnumerationType">
      <annotation>
         <documentation>8114: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8114</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19970</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10586</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18763</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18892</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10664</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10508</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17753</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSkap, tekniskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
