GML/507.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>507: Gir informasjon om funksjonalitet. Normalt knyttet til et spesifikt strekningsobjekt.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EtterslepTilstandskade FU, strekningType">
      <annotation>
         <documentation>4086: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4086</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Etterslep</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EtterslepTilstandskade FU, strekningEnumerationType nvdb:EtterslepTilstandskade FU, strekningOtherType"/>
   </simpleType>
   <simpleType name="EtterslepTilstandskade FU, strekningEnumerationType">
      <annotation>
         <documentation>4086: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4086</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Etterslep</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5085</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5086</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EtterslepTilstandskade FU, strekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tilstandskade FU, strekning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandskade FU, strekningType">
      <annotation>
         <documentation>507: Gir informasjon om funksjonalitet. Normalt knyttet til et spesifikt strekningsobjekt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">507</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandskade FU, strekning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandskade FU, strekningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0"
                        name="etterslep"
                        type="nvdb:EtterslepTilstandskade FU, strekningType">
                  <annotation>
                     <documentation>4086: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4086</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etterslep</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoKontrollert" type="date">
                  <annotation>
                     <documentation>4085: Angir dato for når kontroll ble foretatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4085</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>4087: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4087</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>5011: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5011</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandskade FU, strekningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandskade FU, strekning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
