GML/507.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EtterslepTilstandSkadeFU_StrekningType">
    <annotation>
      <documentation>4086: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4086</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4086</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Etterslep</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EtterslepTilstandSkadeFU_StrekningEnumerationType nvdb:EtterslepTilstandSkadeFU_StrekningOtherType"/>
  </simpleType>
  <simpleType name="EtterslepTilstandSkadeFU_StrekningEnumerationType">
    <annotation>
      <documentation>4086: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4086</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4086</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Etterslep</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5085: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5085</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5086: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5086</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EtterslepTilstandSkadeFU_StrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkadeFU_Strekning" substitutionGroup="nvdb:AbstraktTilstandSkadeFU_Strekning" type="nvdb:TilstandSkadeFU_StrekningType">
    <annotation>
      <documentation>507: Gir informasjon om funksjonalitet. Normalt knyttet til et spesifikt strekningsobjekt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">507</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">507</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand/skade FU, strekning</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TilstandSkadeFU_StrekningType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkadeFU_StrekningType">
        <sequence>
          <element minOccurs="0" name="etterslep" type="nvdb:EtterslepTilstandSkadeFU_StrekningType">
            <annotation>
              <documentation>4086: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4086</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etterslep</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>4085: Angir dato for når kontroll ble foretatt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4085</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>4087: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4087</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5011: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5011</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikklomme" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikklomme</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkadeFU_StrekningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkadeFU_Strekning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
