GML/507.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.22">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EtterslepTilstandSkadeFU_StrekningType">
    <annotation>
      <documentation>4086: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4086</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4086</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etterslep</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EtterslepTilstandSkadeFU_StrekningEnumerationType nvdb:EtterslepTilstandSkadeFU_StrekningOtherType"/>
  </simpleType>
  <simpleType name="EtterslepTilstandSkadeFU_StrekningEnumerationType">
    <annotation>
      <documentation>4086: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4086</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4086</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etterslep</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5085: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5085</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5086: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5086</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EtterslepTilstandSkadeFU_StrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkadeFU_Strekning" substitutionGroup="nvdb:AbstraktTilstandSkadeFU_Strekning" type="nvdb:TilstandSkadeFU_StrekningType">
    <annotation>
      <documentation>507: Gir informasjon om funksjonalitet.  Normalt knyttet til et spesifikt strekningsobjekt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">507</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">507</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilstand/skade FU, strekning</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TilstandSkadeFU_StrekningType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkadeFU_StrekningType">
        <sequence>
          <element minOccurs="0" name="etterslep" type="nvdb:EtterslepTilstandSkadeFU_StrekningType">
            <annotation>
              <documentation>4086: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4086</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etterslep</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>4085: Angir dato for når kontroll ble foretatt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4085</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dato kontrollert</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>4087: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4087</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5011: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5011</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, linje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGjerde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGjerde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGrøft_Åpen" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGrøft_Åpen</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKantstein" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKantstein</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKantstolperRefleks" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKantstolperRefleks</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNaturområde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNaturområde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRasteplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRasteplass</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRekkverk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRekkverk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSiktsone" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSiktsone</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkjerm" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkjerm</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkredmagasinFanggrøft" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkredmagasinFanggrøft</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkredoverbygg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkredoverbygg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSnøskjerm" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSnøskjerm</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStøttekonstruksjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStøttekonstruksjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkdeler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikklomme" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikklomme</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkøy" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkøy</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVoll" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVoll</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertViltskremmereVarslere" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktViltskremmereVarslere</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegskulderVegkant" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegskulderVegkant</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegoppmerking_Langsgående" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegoppmerking_Langsgående</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegdekke" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegdekke</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVannOgFrostsikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVannOgFrostsikring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertUndergang" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktUndergang</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrær" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrær</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBrøytestikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBrøytestikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBranndetektor" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBranndetektor</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBetongutstøping" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBetongutstøping</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertArmeringsnett" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktArmeringsnett</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkadeFU_StrekningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkadeFU_Strekning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
