GML/507.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EtterslepTilstandSkadeFU_StrekningType">
    <annotation>
      <documentation>4086: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
    </annotation>
    <union memberTypes="nvdb:EtterslepTilstandSkadeFU_StrekningEnumerationType nvdb:EtterslepTilstandSkadeFU_StrekningOtherType"/>
  </simpleType>
  <simpleType name="EtterslepTilstandSkadeFU_StrekningEnumerationType">
    <annotation>
      <documentation>4086: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5085: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5086: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EtterslepTilstandSkadeFU_StrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkadeFU_Strekning" substitutionGroup="nvdb:AbstraktTilstandSkadeFU_Strekning" type="nvdb:TilstandSkadeFU_StrekningType">
    <annotation>
      <documentation>507: Gir informasjon om funksjonalitet.  Normalt knyttet til et spesifikt strekningsobjekt.</documentation>
    </annotation>
  </element>
  <complexType name="TilstandSkadeFU_StrekningType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkadeFU_StrekningType">
        <sequence>
          <element minOccurs="0" name="etterslep" type="nvdb:EtterslepTilstandSkadeFU_StrekningType">
            <annotation>
              <documentation>4086: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>4085: Angir dato for når kontroll ble foretatt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>4087: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5011: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegoppmerking_Langsgående" type="nvdb:AbstraktVegoppmerking_LangsgåendePropertyType"/>
          <element minOccurs="0" name="assosiertSnøskjerm" type="nvdb:AbstraktSnøskjermPropertyType"/>
          <element minOccurs="0" name="assosiertRasteplass" type="nvdb:AbstraktRasteplassPropertyType"/>
          <element minOccurs="0" name="assosiertBranndetektor" type="nvdb:AbstraktBranndetektorPropertyType"/>
          <element minOccurs="0" name="assosiertUndergang" type="nvdb:AbstraktUndergangPropertyType"/>
          <element minOccurs="0" name="assosiertVoll" type="nvdb:AbstraktVollPropertyType"/>
          <element minOccurs="0" name="assosiertGrøft_Åpen" type="nvdb:AbstraktGrøft_ÅpenPropertyType"/>
          <element minOccurs="0" name="assosiertSkjerm" type="nvdb:AbstraktSkjermPropertyType"/>
          <element minOccurs="0" name="assosiertStøttekonstruksjon" type="nvdb:AbstraktStøttekonstruksjonPropertyType"/>
          <element minOccurs="0" name="assosiertVegskulderVegkant" type="nvdb:AbstraktVegskulderVegkantPropertyType"/>
          <element minOccurs="0" name="assosiertSiktsone" type="nvdb:AbstraktSiktsonePropertyType"/>
          <element minOccurs="0" name="assosiertKantstein" type="nvdb:AbstraktKantsteinPropertyType"/>
          <element minOccurs="0" name="assosiertGjerde" type="nvdb:AbstraktGjerdePropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="nvdb:AbstraktTrafikkdelerPropertyType"/>
          <element minOccurs="0" name="assosiertBetongutstøping" type="nvdb:AbstraktBetongutstøpingPropertyType"/>
          <element minOccurs="0" name="assosiertNaturområde" type="nvdb:AbstraktNaturområdePropertyType"/>
          <element minOccurs="0" name="assosiertTrær" type="nvdb:AbstraktTrærPropertyType"/>
          <element minOccurs="0" name="assosiertVannOgFrostsikring" type="nvdb:AbstraktVannOgFrostsikringPropertyType"/>
          <element minOccurs="0" name="assosiertVegdekke" type="nvdb:AbstraktVegdekkePropertyType"/>
          <element minOccurs="0" name="assosiertSkredoverbygg" type="nvdb:AbstraktSkredoverbyggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element minOccurs="0" name="assosiertBrøytestikk" type="nvdb:AbstraktBrøytestikkPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikklomme" type="nvdb:AbstraktTrafikklommePropertyType"/>
          <element minOccurs="0" name="assosiertViltskremmereVarslere" type="nvdb:AbstraktViltskremmereVarslerePropertyType"/>
          <element minOccurs="0" name="assosiertKantstolperRefleks" type="nvdb:AbstraktKantstolperRefleksPropertyType"/>
          <element minOccurs="0" name="assosiertSkredmagasinFanggrøft" type="nvdb:AbstraktSkredmagasinFanggrøftPropertyType"/>
          <element minOccurs="0" name="assosiertArmeringsnett" type="nvdb:AbstraktArmeringsnettPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkøy" type="nvdb:AbstraktTrafikkøyPropertyType"/>
          <element minOccurs="0" name="assosiertRekkverk" type="nvdb:AbstraktRekkverkPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkadeFU_StrekningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkadeFU_Strekning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
