GML/508.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>508: Grøntanlegg er arealer som er opparbeidet eller forkommer naturlig overveiende med vegetasjonsobjekter, som busker, blomsterbeplanting, trær og grasdekker, i tilknytning til eller langs veger. Grøntanlegg kan ligge i naturlig terreng eller på helt kunstig opparbeidede flater, for eksempel sentraløyer i rundkjøringer. Grøntanlegget kan inneholde en gruppering grøntobjekter som sammen utgjør en helhet eller kun enkelte grøntobjekter. I tillegg kan det være skjøtselsmessige årsaker til grupperingen. Grøntanlegg kan ha naturskjøtsel eller parkskjøtsel (jfr R610).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierGrøntanleggType">
      <annotation>
         <documentation>9997: Angir hvem som er eier.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9997</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierGrøntanleggEnumerationType nvdb:EierGrøntanleggOtherType"/>
   </simpleType>
   <simpleType name="EierGrøntanleggEnumerationType">
      <annotation>
         <documentation>9997: Angir hvem som er eier.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9997</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16178</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16179</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16180</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18549</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16177</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17631: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17631</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierGrøntanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Grøntanlegg"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:GrøntanleggType">
      <annotation>
         <documentation>508: Grøntanlegg er arealer som er opparbeidet eller forkommer naturlig overveiende med vegetasjonsobjekter, som busker, blomsterbeplanting, trær og grasdekker, i tilknytning til eller langs veger. Grøntanlegg kan ligge i naturlig terreng eller på helt kunstig opparbeidede flater, for eksempel sentraløyer i rundkjøringer. Grøntanlegget kan inneholde en gruppering grøntobjekter som sammen utgjør en helhet eller kun enkelte grøntobjekter. I tillegg kan det være skjøtselsmessige årsaker til grupperingen. Grøntanlegg kan ha naturskjøtsel eller parkskjøtsel (jfr R610).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">508</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grøntanlegg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="GrøntanleggType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>4150: Angir navn på grøntanlegget. Navnet bør kunne knyttes til sted og type grøntanlegg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4150</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeGrøntanleggType">
                  <annotation>
                     <documentation>12560: Angir hvilken type grøntanlegg dette er.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12560</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="nummer" type="string">
                  <annotation>
                     <documentation>4151: Angir nummer for unik identifisering av grøntanlegg innen et område eller en kontrakt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4151</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stedAdresse" type="string">
                  <annotation>
                     <documentation>4156: Felt for å beskrive lokalisering av grøntanlegg i form av sted, adresse, m.m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4156</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sted/Adresse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="skjøtselsnivå" type="nvdb:SkjøtselsnivåGrøntanleggType">
                  <annotation>
                     <documentation>12572: Angi hvilket skjøtselsnivå grøntanlegget skal ha.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12572</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skjøtselsnivå</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="spesielleHensyn">
                  <annotation>
                     <documentation>12561: Angir om det skal tas spesielle hensyn ved skjøtsel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12561</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spesielle hensyn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="etableringsår" type="integer">
                  <annotation>
                     <documentation>4155: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4155</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="beskrivelse" type="string">
                  <annotation>
                     <documentation>12185: Beskrivelse av grøntanlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12185</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11628: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11628</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierGrøntanleggType">
                  <annotation>
                     <documentation>9997: Angir hvem som er eier.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9997</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligGrøntanleggType">
                  <annotation>
                     <documentation>5802: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5802</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>7588: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7588</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>7587: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7587</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="GrøntanleggPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Grøntanlegg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="SkjøtselsnivåGrøntanleggType">
      <annotation>
         <documentation>12572: Angi hvilket skjøtselsnivå grøntanlegget skal ha.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12572</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjøtselsnivå</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkjøtselsnivåGrøntanleggEnumerationType nvdb:SkjøtselsnivåGrøntanleggOtherType"/>
   </simpleType>
   <simpleType name="SkjøtselsnivåGrøntanleggEnumerationType">
      <annotation>
         <documentation>12572: Angi hvilket skjøtselsnivå grøntanlegget skal ha.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12572</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjøtselsnivå</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>21664: Grøntanlegg som har annet skjøtselsnivå som ikke er parkskjøtsel eller naturskjøtsel jfr. R610 eller tilsvarende standard.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21664</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>21663: Ett av to skjøtselsnivå på grøntanlegg jfr R610. Disse områdene driftes mindre intensivt enn parkskjøtsel, men grøntanlegget skal se velholdt ut. Grøntanlegg med naturskjøtsel har som regel naturlig vegetasjon med trær, busker og grasdekke. De er ofte tilknyttet landlige veger. Det kan også gjelde rasteplasser, holdeplasser, lommer, rundkjøringer og kryssområder som er opparbeidet, men som ikke krever så mye skjøtsel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21663</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturskjøtsel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <documentation>21662: Ett av to skjøtselsnivå på grøntanlegg. Disse områdene driftes mer intensivt enn naturskjøtsel, og grøntanlegget skal se velstelt ut. Grøntanlegg med parkskjøtsel er som regel opparbeidet med trær, busker, blomsterbeplanting og grasdekke. De er ofte tilknyttet veger og gater i/ved byer og tettsteder, men det kan også gjelde rasteplasser, holdeplasser, lommer, rundkjøringer og kryssområder. omfatter vanning, gjødsling, ugrashåndtering, opprettholdelse av jorddekkemiddel, beskjæring, grasklipping, fjerning/ supplering av døde planter, håndtering av sykdommer og skadedyr, oppfølging av tregruberist, trebeskytter, oppbindings- og klatreobjekt, samt håndtering av fremmede skadelige og uønskede arter.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21662</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Parkskjøtsel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkjøtselsnivåGrøntanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SpesielleHensynGrøntanleggType">
      <annotation>
         <documentation>12561: Angir om det skal tas spesielle hensyn ved skjøtsel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12561</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesielle hensyn</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SpesielleHensynGrøntanleggEnumerationType nvdb:SpesielleHensynGrøntanleggOtherType"/>
   </simpleType>
   <simpleType name="SpesielleHensynGrøntanleggEnumerationType">
      <annotation>
         <documentation>12561: Angir om det skal tas spesielle hensyn ved skjøtsel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12561</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesielle hensyn</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21637</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21638</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SpesielleHensynGrøntanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeGrøntanleggType">
      <annotation>
         <documentation>12560: Angir hvilken type grøntanlegg dette er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12560</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeGrøntanleggEnumerationType nvdb:TypeGrøntanleggOtherType"/>
   </simpleType>
   <simpleType name="TypeGrøntanleggEnumerationType">
      <annotation>
         <documentation>12560: Angir hvilken type grøntanlegg dette er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12560</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>21636: Hvis ingen av alternativene over passer, bruk denne og angi hvilken type grøntanlegg dette er i beskrivelse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21636</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen type</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21629</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">By/tettsted, gate/kryss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="H">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21634</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hvile-/stopplomme</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KH">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21635</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kollektivholdeplass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21632</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kryssområde veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21633</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rasteplass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21630</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sideareal til g/s-veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21631</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sideareal til veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FK">
            <annotation>
               <documentation>22566: Grøntanlegg i tilknytning til ferjekai/ferjeleie.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22566</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ferjekai</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeGrøntanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligGrøntanleggType">
      <annotation>
         <documentation>5802: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5802</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligGrøntanleggEnumerationType nvdb:VedlikeholdsansvarligGrøntanleggOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligGrøntanleggEnumerationType">
      <annotation>
         <documentation>5802: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5802</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19911</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8223</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18720</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18849</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8249</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8197</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17690</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligGrøntanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
