GML/511.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Busker" substitutionGroup="nvdb:AbstraktBusker" type="nvdb:BuskerType">
    <annotation>
      <documentation>511: Det menes her flerårige planter med forvedet overjordsstamme som grener seg fra grunnen, og ikke har tydelig stamme med krone. Busker er normalt lavere enn 5 meter. Omfatter et stort antall slekter, arter og kultivarer/sorter.</documentation>
    </annotation>
  </element>
  <complexType name="BuskerType">
    <complexContent>
      <extension base="nvdb:AbstraktBuskerType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeBuskerType">
            <annotation>
              <documentation>4131: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>4144: Angir samlet areal
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antall" type="integer">
            <annotation>
              <documentation>4139: Angir hvor mange forekomster som er representert
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="løvfellendeVintergrønne" type="nvdb:LøvfellendeVintergrønneType">
            <annotation>
              <documentation>4157: Angir om buskene er løvfellende eller ikke</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde_GjSnitt" type="double">
            <annotation>
              <documentation>4159: Angir gjennomsnittlig egenhøyde for hele vegobjektet
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="norskNavn" type="string">
            <annotation>
              <documentation>4498: Angir norsk navn på busker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="botaniskNavn" type="string">
            <annotation>
              <documentation>4499: Angir botanisk navn på busker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sortHerkomst" type="string">
            <annotation>
              <documentation>9967: Sort er en varietet av en plante som er oppformert med bestemte egenskaper til bruk i hage, park eller landbruk. Formeres vegetativt. Herkomst angir plantenes geografiske eller genetiske opprinnelse.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="plantetidspunkt" type="integer">
            <annotation>
              <documentation>10280: Angir hvilket år området med busker ble etablert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sluttdatoForGarantitid" type="date">
            <annotation>
              <documentation>10563: Angir sluttdato for garantitid</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10186: Supplerende informasjon som kan være av betydning mhp. skjøtsel/ drift, f.eks. høydemeter på buskfelt på over 2 meters høyde</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11145: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierBuskerType">
            <annotation>
              <documentation>10872: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligBuskerType">
            <annotation>
              <documentation>4505: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>10726: Gir punkt som geometrisk representerer vegobjektet. Benyttes fortrinnsvis for frittstående busker.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5013: Gir linje/kurve som geometrisk representerer objektet. Aktuelt for langstrakte buskfelt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8892: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="planteomgivelser" type="nvdb:PlanteomgivelserType">
            <annotation>
              <documentation>4506: Angir hva som omgir plantene</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkøy" type="nvdb:AbstraktTrafikkøyPropertyType"/>
          <element minOccurs="0" name="assosiertGrøntanlegg" type="nvdb:AbstraktGrøntanleggPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="nvdb:AbstraktTrafikkdelerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="nvdb:AbstraktTilstandSkade_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuskerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Busker"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="EierBuskerType">
    <annotation>
      <documentation>10872: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierBuskerEnumerationType nvdb:EierBuskerOtherType"/>
  </simpleType>
  <simpleType name="EierBuskerEnumerationType">
    <annotation>
      <documentation>10872: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>17907: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18629: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>17910: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>17908: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>17909: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17911: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierBuskerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LøvfellendeVintergrønneType">
    <annotation>
      <documentation>4157: Angir om buskene er løvfellende eller ikke</documentation>
    </annotation>
    <union memberTypes="nvdb:LøvfellendeVintergrønneEnumerationType nvdb:LøvfellendeVintergrønneOtherType"/>
  </simpleType>
  <simpleType name="LøvfellendeVintergrønneEnumerationType">
    <annotation>
      <documentation>4157: Angir om buskene er løvfellende eller ikke</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="løvfellende">
        <annotation>
          <documentation>5107: Løvfellende</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vintergrønne">
        <annotation>
          <documentation>5108: Vintergrønne</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LøvfellendeVintergrønneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlanteomgivelserType">
    <annotation>
      <documentation>4506: Angir hva som omgir plantene</documentation>
    </annotation>
    <union memberTypes="nvdb:PlanteomgivelserEnumerationType nvdb:PlanteomgivelserOtherType"/>
  </simpleType>
  <simpleType name="PlanteomgivelserEnumerationType">
    <annotation>
      <documentation>4506: Angir hva som omgir plantene</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="matjord">
        <annotation>
          <documentation>5290: Matjord</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gress">
        <annotation>
          <documentation>5291: Gress</documentation>
        </annotation>
      </enumeration>
      <enumeration value="barklag">
        <annotation>
          <documentation>5292: Barklag</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlanteomgivelserOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeBuskerType">
    <annotation>
      <documentation>4131: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeBuskerEnumerationType nvdb:TypeBuskerOtherType"/>
  </simpleType>
  <simpleType name="TypeBuskerEnumerationType">
    <annotation>
      <documentation>4131: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="busker_Frittstående">
        <annotation>
          <documentation>5101: Frittstående busker er solitære/ enkeltstående busker. Disse er ofte store og har rik blomstring eller andre karakteristika som gjør dem til et blikkfang.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="buskfelt">
        <annotation>
          <documentation>5102: Buskfelt er områder/areal beplantet med flere enn 2 busker. Inkluderer også frittvoksende hekk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hekk_Formklippet">
        <annotation>
          <documentation>5103: Hekk er en rekke med busker eller større treslag som er plantet tett, og vedlikeholdt på en måte for å markere en grense.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="buskroser">
        <annotation>
          <documentation>5104: Buskroser har kraftigere og mer buskaktig vekst enn vanlige roser. Disse krever tilsvarende lik skjøtsel som busker generelt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="buskas">
        <annotation>
          <documentation>5105: Gjengrodde/ høytvoksende buskfelt med betydelig lavere skjøtseslbehov enn for buskfelt. Buskas er i mange tilfeller gjengrodde buskfelt, som har grodd igjen til å gi et mer naturlikt preg. Helhetsinntrykket skal likevel  være være frisk og frodig.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeBuskerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBuskerType">
    <annotation>
      <documentation>4505: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligBuskerEnumerationType nvdb:VedlikeholdsansvarligBuskerOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBuskerEnumerationType">
    <annotation>
      <documentation>4505: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>5293: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18698: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19902: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18827: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>5294: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>5295: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17680: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBuskerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
