GML/511.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>511: Det menes her flerårige planter med forvedet overjordsstamme som grener seg fra grunnen, og ikke har tydelig stamme med krone. Busker er normalt lavere enn 5 meter. Omfatter et stort antall slekter, arter og kultivarer/sorter.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Busker"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:BuskerType">
      <annotation>
         <documentation>511: Det menes her flerårige planter med forvedet overjordsstamme som grener seg fra grunnen, og ikke har tydelig stamme med krone. Busker er normalt lavere enn 5 meter. Omfatter et stort antall slekter, arter og kultivarer/sorter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">511</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Busker</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BuskerType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeBuskerType">
                  <annotation>
                     <documentation>4131: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4131</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="integer">
                  <annotation>
                     <documentation>4144: Angir samlet areal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4144</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antall" type="integer">
                  <annotation>
                     <documentation>4139: Angir hvor mange forekomster som er representert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4139</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="løvfellendeVintergrønne">
                  <annotation>
                     <documentation>4157: Angir om buskene er løvfellende eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4157</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Løvfellende/Vintergrønne</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høyde_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>4159: Angir gjennomsnittlig egenhøyde for hele vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4159</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="norskNavn" type="string">
                  <annotation>
                     <documentation>4498: Angir norsk navn på busker.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4498</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Norsk navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="botaniskNavn" type="string">
                  <annotation>
                     <documentation>4499: Angir botanisk navn på busker.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4499</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Botanisk navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sortHerkomst" type="string">
                  <annotation>
                     <documentation>9967: Sort er en varietet av en plante som er oppformert med bestemte egenskaper til bruk i hage, park eller landbruk. Formeres vegetativt. Herkomst angir plantenes geografiske eller genetiske opprinnelse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9967</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sort/herkomst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="planteomgivelser" type="nvdb:PlanteomgivelserBuskerType">
                  <annotation>
                     <documentation>4506: Angir hva som omgir plantene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4506</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Planteomgivelser</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="skjøtselsnivå" type="nvdb:SkjøtselsnivåBuskerType">
                  <annotation>
                     <documentation>13202: Angi hvilket skjøtselsnivå buskene skal ha.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13202</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skjøtselsnivå</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="utplantingsår" type="integer">
                  <annotation>
                     <documentation>10280: Angir hvilket år området med busker ble etablert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10280</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utplantingsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sluttdatoForGarantitid" type="date">
                  <annotation>
                     <documentation>10563: Angir sluttdato for garantitid.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10563</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sluttdato for garantitid</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>10186: Supplerende informasjon som kan være av betydning mhp. skjøtsel/ drift, f.eks. høydemeter på buskfelt på over 2 meters høyde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10186</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11145: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11145</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12394: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12394</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierBuskerType">
                  <annotation>
                     <documentation>10872: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10872</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligBuskerType">
                  <annotation>
                     <documentation>4505: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4505</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>10726: Gir punkt som geometrisk representerer vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10726</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>5013: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5013</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>8892: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8892</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BuskerPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Busker"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="EierBuskerType">
      <annotation>
         <documentation>10872: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10872</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierBuskerEnumerationType nvdb:EierBuskerOtherType"/>
   </simpleType>
   <simpleType name="EierBuskerEnumerationType">
      <annotation>
         <documentation>10872: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10872</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17910</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17908</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17909</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18629</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17907</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17911: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17911</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierBuskerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="LøvfellendeVintergrønneBuskerType">
      <annotation>
         <documentation>4157: Angir om buskene er løvfellende eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4157</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Løvfellende/Vintergrønne</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LøvfellendeVintergrønneBuskerEnumerationType nvdb:LøvfellendeVintergrønneBuskerOtherType"/>
   </simpleType>
   <simpleType name="LøvfellendeVintergrønneBuskerEnumerationType">
      <annotation>
         <documentation>4157: Angir om buskene er løvfellende eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4157</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Løvfellende/Vintergrønne</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5107</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Løvfellende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5108</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vintergrønne</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LøvfellendeVintergrønneBuskerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlanteomgivelserBuskerType">
      <annotation>
         <documentation>4506: Angir hva som omgir plantene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4506</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Planteomgivelser</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlanteomgivelserBuskerEnumerationType nvdb:PlanteomgivelserBuskerOtherType"/>
   </simpleType>
   <simpleType name="PlanteomgivelserBuskerEnumerationType">
      <annotation>
         <documentation>4506: Angir hva som omgir plantene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4506</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Planteomgivelser</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5291</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gress</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5292</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jorddekkemiddel, bark/kompost</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21909</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jorddekkemiddel, grus/stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="aj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5290</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpen jord</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SB">
            <annotation>
               <documentation>22562: Busker er omgitt av stauder/blomsterbeplantning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22562</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stauder/blomsterbeplantning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlanteomgivelserBuskerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SkjøtselsnivåBuskerType">
      <annotation>
         <documentation>13202: Angi hvilket skjøtselsnivå buskene skal ha.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13202</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjøtselsnivå</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkjøtselsnivåBuskerEnumerationType nvdb:SkjøtselsnivåBuskerOtherType"/>
   </simpleType>
   <simpleType name="SkjøtselsnivåBuskerEnumerationType">
      <annotation>
         <documentation>13202: Angi hvilket skjøtselsnivå buskene skal ha.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13202</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjøtselsnivå</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>23096: Busker som har annet skjøtselsnivå enn parkskjøtsel eller naturskjøtsel jfr. R610 eller tilsvarende standard.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23096</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>23095: Busker med naturskjøtsel er ofte tilknyttet landlige veger. Det kan også gjelde rasteplasser, holdeplasser, lommer, rundkjøringer og kryssområder som er opparbeidet, men som ikke krever så intensiv skjøtsel. Skjøtsel omfatter beskjæring, fjerning/ supplering av døde planter, håndtering av sykdommer og skadedyr, ugrashåndtering. Vanning og gjødsling ved behov. For skjøtselsbeskrivelse, se R610 eller tilsvarende standard/ beskrivelse</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23095</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturskjøtsel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <documentation>23094: Busker med parkskjøtsel er ofte tilknyttet veger og gater i/ved byer og tettsteder, men det kan også gjelde rasteplasser, holdeplasser, lommer, rundkjøringer og kryssområder. Skjøtsel omfatter vanning, gjødsling, ugrashåndtering, opprettholdelse av jorddekkemiddel, beskjæring, fjerning/ supplering av døde planter, håndtering av sykdommer og skadedyr. For skjøtselsbeskrivelse, se R610 eller tilsvarende standard/ beskrivelse</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23094</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Parkskjøtsel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkjøtselsnivåBuskerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeBuskerType">
      <annotation>
         <documentation>4131: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4131</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeBuskerEnumerationType nvdb:TypeBuskerOtherType"/>
   </simpleType>
   <simpleType name="TypeBuskerEnumerationType">
      <annotation>
         <documentation>4131: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4131</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bu">
            <annotation>
               <documentation>5105: Gjengrodde/ høytvoksende buskfelt med betydelig lavere skjøtselsbehov enn for buskfelt. Buskas er i mange tilfeller gjengrodde buskfelt, som har grodd igjen til å gi et mer naturlikt preg. Helhetsinntrykket skal likevel være frisk og frodig.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5105</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Buskas</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hf">
            <annotation>
               <documentation>5103: Busker (enkeltstående eller buskfelt, inkl hekk) som krever jevnlig beskjæring for å holde en bestemt form eller høyde.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5103</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Busker, formklipt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bf">
            <annotation>
               <documentation>5101: Frittstående busker er solitære/ enkeltstående busker. Disse er ofte store og har rik blomstring eller andre karakteristika som gjør dem til et blikkfang.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5101</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Busker, frittstående</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="f">
            <annotation>
               <documentation>5102: Buskfelt er områder/areal beplantet med flere enn 2 busker. Inkluderer også frittvoksende hekk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5102</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Buskfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ro">
            <annotation>
               <documentation>5104: Roser omfatter alle type roser unntatt klatreroser (som er klatreplante under  objekt Blomsterbeplanting). Spesielle roser angis i tilleggsinformasjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5104</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Roser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeBuskerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligBuskerType">
      <annotation>
         <documentation>4505: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4505</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligBuskerEnumerationType nvdb:VedlikeholdsansvarligBuskerOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligBuskerEnumerationType">
      <annotation>
         <documentation>4505: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4505</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19902</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5294</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18698</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18827</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5295</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5293</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17680</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligBuskerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
