GML/517.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>517: Det kan her legges inn områder som har høy biologisk verdi. Dette vil være nyttig å ta hensyn til ved skjøtsel av vegens sideområde.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Artsrik vegkant"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Artsrik vegkantType">
      <annotation>
         <documentation>517: Det kan her legges inn områder som har høy biologisk verdi. Dette vil være nyttig å ta hensyn til ved skjøtsel av vegens sideområde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">517</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Artsrik vegkant</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Artsrik vegkantType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="plantelivVerdi">
                  <annotation>
                     <documentation>4162: Angir hvor verdifullt planteliv det er i vegens sideområde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4162</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Planteliv/verdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typeVegkant">
                  <annotation>
                     <documentation>9989: Angir hvilken type vegkant objektet gjelder.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9989</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type vegkant</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bakgrunn_Kort" type="string">
                  <annotation>
                     <documentation>4496: Vurdering/beskrivelse av forekomsten. Kun viktig informasjon som ikke finnes i andre felt. Beskriv dominerende arter, typiske arter, ev sjeldne eller rødlista arter. Ev status som naturtypelokalitet (og i tilfelle verdi A, B eller C) nevnes, hvis ikke kommenteres ikke NT-lokalitet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4496</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bakgrunn, kort</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lokalitet" type="string">
                  <annotation>
                     <documentation>10083: Stedsbeskrivelse som angir hvor forekomsten finnes.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10083</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lokalitet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="spesiellBeskrivelseMerknad" type="string">
                  <annotation>
                     <documentation>9994: Gir beskrivelse for skjøtsel, tidsrom for kantklipp, andre hensyn og ev. annen type skjøtsel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9994</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spesiell beskrivelse/merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sone" type="nvdb:SoneArtsrik vegkantType">
                  <annotation>
                     <documentation>9990: Angir hvilken sone beskrivelsen gjelder for.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9990</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sone</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="integer">
                  <annotation>
                     <documentation>4149: Angir samlet areal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4149</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="egenSkjøtselsplan">
                  <annotation>
                     <documentation>9993: Angir om det finnes en egen skjøtselsplan for strekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9993</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Egen skjøtselsplan</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="restriksjonGrøftKantrensk">
                  <annotation>
                     <documentation>4163: Angir om det skal tas spesielle hensyn ved skjøtsel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4163</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Restriksjon grøft/kantrensk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="sprøyteforbud"
                        type="nvdb:SprøyteforbudArtsrik vegkantType">
                  <annotation>
                     <documentation>9991: Angir om det skal tas spesielle hensyn ved bruk av plantevernmidler.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9991</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sprøyteforbud</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="restriksjonKantklipp">
                  <annotation>
                     <documentation>9992: Angir hvordan klipp skal utføres for å ta hensyn til vegetasjonen. Tidsrom for klipp skrives i feltet "Spesiell beskrivelse/ merknad".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9992</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Restriksjon kantklipp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoSistPåvist" type="date">
                  <annotation>
                     <documentation>12059: Angir dato for når forekomsten sist ble påvist.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12059</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato sist påvist</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="registrertDato" type="date">
                  <annotation>
                     <documentation>12507: Angir dato for når forekomsten ble registrert i NVDB første gang.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12507</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Registrert dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>5018: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5018</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>8895: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8895</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Artsrik vegkantPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Artsrik vegkant"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="EgenSkjøtselsplanArtsrik vegkantType">
      <annotation>
         <documentation>9993: Angir om det finnes en egen skjøtselsplan for strekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9993</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Egen skjøtselsplan</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EgenSkjøtselsplanArtsrik vegkantEnumerationType nvdb:EgenSkjøtselsplanArtsrik vegkantOtherType"/>
   </simpleType>
   <simpleType name="EgenSkjøtselsplanArtsrik vegkantEnumerationType">
      <annotation>
         <documentation>9993: Angir om det finnes en egen skjøtselsplan for strekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9993</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Egen skjøtselsplan</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16234</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16235</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EgenSkjøtselsplanArtsrik vegkantOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlantelivVerdiArtsrik vegkantType">
      <annotation>
         <documentation>4162: Angir hvor verdifullt planteliv det er i vegens sideområde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4162</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Planteliv/verdi</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlantelivVerdiArtsrik vegkantEnumerationType nvdb:PlantelivVerdiArtsrik vegkantOtherType"/>
   </simpleType>
   <simpleType name="PlantelivVerdiArtsrik vegkantEnumerationType">
      <annotation>
         <documentation>4162: Angir hvor verdifullt planteliv det er i vegens sideområde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4162</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Planteliv/verdi</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="h">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5134</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Høy verdi</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5135</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Noe høy verdi</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5133</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Svært høy verdi</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlantelivVerdiArtsrik vegkantOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RestriksjonGrøftKantrenskArtsrik vegkantType">
      <annotation>
         <documentation>4163: Angir om det skal tas spesielle hensyn ved skjøtsel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4163</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Restriksjon grøft/kantrensk</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RestriksjonGrøftKantrenskArtsrik vegkantEnumerationType nvdb:RestriksjonGrøftKantrenskArtsrik vegkantOtherType"/>
   </simpleType>
   <simpleType name="RestriksjonGrøftKantrenskArtsrik vegkantEnumerationType">
      <annotation>
         <documentation>4163: Angir om det skal tas spesielle hensyn ved skjøtsel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4163</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Restriksjon grøft/kantrensk</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="sb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5137</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utføres etter særskilt beskrivelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5138</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utføres som avtalt i driftskontrakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RestriksjonGrøftKantrenskArtsrik vegkantOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RestriksjonKantklippArtsrik vegkantType">
      <annotation>
         <documentation>9992: Angir hvordan klipp skal utføres for å ta hensyn til vegetasjonen. Tidsrom for klipp skrives i feltet "Spesiell beskrivelse/ merknad".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9992</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Restriksjon kantklipp</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RestriksjonKantklippArtsrik vegkantEnumerationType nvdb:RestriksjonKantklippArtsrik vegkantOtherType"/>
   </simpleType>
   <simpleType name="RestriksjonKantklippArtsrik vegkantEnumerationType">
      <annotation>
         <documentation>9992: Angir hvordan klipp skal utføres for å ta hensyn til vegetasjonen. Tidsrom for klipp skrives i feltet "Spesiell beskrivelse/ merknad".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9992</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Restriksjon kantklipp</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1m2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19832</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1m bredde slått 1, full bredde slått 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17887</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Følger ordinær kantklipp i kontrakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17888</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Klipp iht. egen skjøtselsplan</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16231</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skal bare ha slått 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16232</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skal bare ha slått 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16233</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skal ha slått 1 og 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RestriksjonKantklippArtsrik vegkantOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SoneArtsrik vegkantType">
      <annotation>
         <documentation>9990: Angir hvilken sone beskrivelsen gjelder for.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9990</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sone</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SoneArtsrik vegkantEnumerationType nvdb:SoneArtsrik vegkantOtherType"/>
   </simpleType>
   <simpleType name="SoneArtsrik vegkantEnumerationType">
      <annotation>
         <documentation>9990: Angir hvilken sone beskrivelsen gjelder for.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9990</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sone</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="alle">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16221</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Alle</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="asfa">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16222</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltkantsone</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bakk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16225</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bakkantsone</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bkgr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16226</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bakkantsone og grøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="grøf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16224</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="midt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16223</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Midtsone</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SoneArtsrik vegkantOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SprøyteforbudArtsrik vegkantType">
      <annotation>
         <documentation>9991: Angir om det skal tas spesielle hensyn ved bruk av plantevernmidler.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9991</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprøyteforbud</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SprøyteforbudArtsrik vegkantEnumerationType nvdb:SprøyteforbudArtsrik vegkantOtherType"/>
   </simpleType>
   <simpleType name="SprøyteforbudArtsrik vegkantEnumerationType">
      <annotation>
         <documentation>9991: Angir om det skal tas spesielle hensyn ved bruk av plantevernmidler.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9991</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprøyteforbud</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ja">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16228</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nei">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16229</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SprøyteforbudArtsrik vegkantOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegkantArtsrik vegkantType">
      <annotation>
         <documentation>9989: Angir hvilken type vegkant objektet gjelder.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9989</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type vegkant</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeVegkantArtsrik vegkantEnumerationType nvdb:TypeVegkantArtsrik vegkantOtherType"/>
   </simpleType>
   <simpleType name="TypeVegkantArtsrik vegkantEnumerationType">
      <annotation>
         <documentation>9989: Angir hvilken type vegkant objektet gjelder.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9989</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type vegkant</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fukt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16254</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen type vegkant</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fris">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16218</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Frisk-fuktig/ høgstaude vegkant</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fukt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16220</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fukteng-våteng vegkant</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nord">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16219</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nordlig/alpin vegkant</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tørr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16217</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tørrengvegkant</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegkantArtsrik vegkantOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
