GML/517.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="ArtsrikVegkant" substitutionGroup="nvdb:AbstraktArtsrikVegkant" type="nvdb:ArtsrikVegkantType">
    <annotation>
      <documentation>517: Det kan her legges inn områder som har høy biologisk verdi. Dette vil være nyttig å ta hensyn til ved skjøtsel av vegens sideområde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">517</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">517</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Artsrik vegkant</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="ArtsrikVegkantType">
    <complexContent>
      <extension base="nvdb:AbstraktArtsrikVegkantType">
        <sequence>
          <element minOccurs="0" name="plantelivVerdi" type="nvdb:PlantelivVerdiType">
            <annotation>
              <documentation>4162: Angir hvor verdifullt planteliv det er i vegens sideområde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4162</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Planteliv/verdi</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeVegkant" type="nvdb:TypeVegkantType">
            <annotation>
              <documentation>9989: Angir hvilken type vegkant objektet gjelder.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9989</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type vegkant</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bakgrunn_Kort" type="string">
            <annotation>
              <documentation>4496: Vurdering/beskrivelse av forekomsten. Kun viktig informasjon som ikke finnes i andre felt. Beskriv dominerende arter, typiske arter, ev sjeldne eller rødlista arter. Ev status som naturtypelokalitet (og i tilfelle verdi A, B eller C) nevnes, hvis ikke kommenteres ikke NT-lokalitet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4496</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bakgrunn, kort</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lokalitet" type="string">
            <annotation>
              <documentation>10083: Stedsbeskrivelse som angir hvor forekomsten finnes.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10083</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lokalitet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spesiellBeskrivelseMerknad" type="string">
            <annotation>
              <documentation>9994: Gir beskrivelse for skjøtsel, tidsrom for kantklipp, andre hensyn og ev. annen type skjøtsel.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9994</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spesiell beskrivelse/merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone" type="nvdb:SoneType">
            <annotation>
              <documentation>9990: Angir hvilken sone beskrivelsen gjelder for.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9990</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sone</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>4149: Angir samlet areal.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4149</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="egenSkjøtselsplan" type="nvdb:EgenSkjøtselsplanType">
            <annotation>
              <documentation>9993: Angir om det finnes en egen skjøtselsplan for strekningen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9993</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Egen skjøtselsplan</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="restriksjonGrøftKantrensk" type="nvdb:RestriksjonGrøftKantrenskType">
            <annotation>
              <documentation>4163: Angir om det skal tas spesielle hensyn ved skjøtsel.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4163</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Restriksjon grøft/kantrensk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sprøyteforbud" type="nvdb:SprøyteforbudType">
            <annotation>
              <documentation>9991: Angir om det skal tas spesielle hensyn ved bruk av plantevernmidler.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9991</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sprøyteforbud</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="restriksjonKantklipp" type="nvdb:RestriksjonKantklippType">
            <annotation>
              <documentation>9992: Angir hvordan klipp skal utføres for å ta hensyn til vegetasjonen. Tidsrom for klipp skrives i feltet "Spesiell beskrivelse/ merknad".</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9992</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Restriksjon kantklipp</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoSistPåvist" type="date">
            <annotation>
              <documentation>12059: Angir dato for når forekomsten sist ble påvist.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12059</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dato sist påvist</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registrertDato" type="date">
            <annotation>
              <documentation>12507: Angir dato for når forekomsten ble registrert i NVDB første gang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12507</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Registrert dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5018: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5018</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8895: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8895</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ArtsrikVegkantPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:ArtsrikVegkant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="EgenSkjøtselsplanType">
    <annotation>
      <documentation>9993: Angir om det finnes en egen skjøtselsplan for strekningen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9993</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9993</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Egen skjøtselsplan</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EgenSkjøtselsplanEnumerationType nvdb:EgenSkjøtselsplanOtherType"/>
  </simpleType>
  <simpleType name="EgenSkjøtselsplanEnumerationType">
    <annotation>
      <documentation>9993: Angir om det finnes en egen skjøtselsplan for strekningen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9993</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9993</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Egen skjøtselsplan</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16234: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16234</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16235: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16235</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EgenSkjøtselsplanOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlantelivVerdiType">
    <annotation>
      <documentation>4162: Angir hvor verdifullt planteliv det er i vegens sideområde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4162</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4162</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Planteliv/verdi</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlantelivVerdiEnumerationType nvdb:PlantelivVerdiOtherType"/>
  </simpleType>
  <simpleType name="PlantelivVerdiEnumerationType">
    <annotation>
      <documentation>4162: Angir hvor verdifullt planteliv det er i vegens sideområde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4162</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4162</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Planteliv/verdi</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Noe høy verdi">
        <annotation>
          <documentation>5135: Noe høy verdi</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5135</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Noe høy verdi</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Høy verdi">
        <annotation>
          <documentation>5134: Høy verdi</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5134</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Høy verdi</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Svært høy verdi">
        <annotation>
          <documentation>5133: Svært høy verdi</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5133</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Svært høy verdi</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlantelivVerdiOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonGrøftKantrenskType">
    <annotation>
      <documentation>4163: Angir om det skal tas spesielle hensyn ved skjøtsel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4163</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4163</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Restriksjon grøft/kantrensk</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RestriksjonGrøftKantrenskEnumerationType nvdb:RestriksjonGrøftKantrenskOtherType"/>
  </simpleType>
  <simpleType name="RestriksjonGrøftKantrenskEnumerationType">
    <annotation>
      <documentation>4163: Angir om det skal tas spesielle hensyn ved skjøtsel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4163</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4163</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Restriksjon grøft/kantrensk</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Utføres etter særskilt beskrivelse">
        <annotation>
          <documentation>5137: Utføres etter særskilt beskrivelse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5137</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utføres etter særskilt beskrivelse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Utføres som avtalt i driftskontrakt">
        <annotation>
          <documentation>5138: Utføres som avtalt i driftskontrakt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5138</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utføres som avtalt i driftskontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonGrøftKantrenskOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonKantklippType">
    <annotation>
      <documentation>9992: Angir hvordan klipp skal utføres for å ta hensyn til vegetasjonen. Tidsrom for klipp skrives i feltet "Spesiell beskrivelse/ merknad".</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9992</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9992</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Restriksjon kantklipp</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RestriksjonKantklippEnumerationType nvdb:RestriksjonKantklippOtherType"/>
  </simpleType>
  <simpleType name="RestriksjonKantklippEnumerationType">
    <annotation>
      <documentation>9992: Angir hvordan klipp skal utføres for å ta hensyn til vegetasjonen. Tidsrom for klipp skrives i feltet "Spesiell beskrivelse/ merknad".</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9992</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9992</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Restriksjon kantklipp</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Skal bare ha slått 1">
        <annotation>
          <documentation>16231: Bare slått 1 skal gjennomføres. Jfr. R 610.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16231</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skal bare ha slått 1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skal bare ha slått 2">
        <annotation>
          <documentation>16232: Bare slått 2 skal gjennomføres. Jfr. R 610.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16232</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skal bare ha slått 2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1m bredde slått 1, full bredde slått 2">
        <annotation>
          <documentation>19832: Det skal kun slås i 1 meters bredde i første slått. Det slås i full bredde i andre slått.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19832</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1m bredde slått 1, full bredde slått 2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skal ha slått 1 og 2">
        <annotation>
          <documentation>16233: Både slått 1 og 2 skal utføres. Jfr. R 610.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16233</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skal ha slått 1 og 2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Følger ordinær kantklipp i kontrakt">
        <annotation>
          <documentation>17887: Klipp følger driftskontaktens regime. Likegyldig antall klipp på stedet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17887</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Følger ordinær kantklipp i kontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Klipp iht. egen skjøtselsplan">
        <annotation>
          <documentation>17888: Egen skjøtselsplan skal følges.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17888</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Klipp iht. egen skjøtselsplan</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonKantklippOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SoneType">
    <annotation>
      <documentation>9990: Angir hvilken sone beskrivelsen gjelder for.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9990</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9990</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sone</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SoneEnumerationType nvdb:SoneOtherType"/>
  </simpleType>
  <simpleType name="SoneEnumerationType">
    <annotation>
      <documentation>9990: Angir hvilken sone beskrivelsen gjelder for.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9990</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9990</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sone</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Alle">
        <annotation>
          <documentation>16221: Hele området utenfor asfaltkant.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16221</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Alle</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltkantsone">
        <annotation>
          <documentation>16222: Smal sone nærmest asfaltkanten.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16222</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltkantsone</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Midtsone">
        <annotation>
          <documentation>16223: Sone mellom asfaltsone og grøft-/fyllingsskråning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16223</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Midtsone</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grøft">
        <annotation>
          <documentation>16224: Grøft.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16224</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grøft</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bakkantsone">
        <annotation>
          <documentation>16225: Sonen utenfor grøft/fylling.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16225</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bakkantsone</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bakkantsone og grøft">
        <annotation>
          <documentation>16226: Sonen utenfor start grøft/fyllingsskråning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16226</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bakkantsone og grøft</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SoneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SprøyteforbudType">
    <annotation>
      <documentation>9991: Angir om det skal tas spesielle hensyn ved bruk av plantevernmidler.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9991</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9991</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sprøyteforbud</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SprøyteforbudEnumerationType nvdb:SprøyteforbudOtherType"/>
  </simpleType>
  <simpleType name="SprøyteforbudEnumerationType">
    <annotation>
      <documentation>9991: Angir om det skal tas spesielle hensyn ved bruk av plantevernmidler.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9991</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9991</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sprøyteforbud</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16228: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16228</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16229: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16229</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SprøyteforbudOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegkantType">
    <annotation>
      <documentation>9989: Angir hvilken type vegkant objektet gjelder.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9989</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9989</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type vegkant</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeVegkantEnumerationType nvdb:TypeVegkantOtherType"/>
  </simpleType>
  <simpleType name="TypeVegkantEnumerationType">
    <annotation>
      <documentation>9989: Angir hvilken type vegkant objektet gjelder.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9989</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9989</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type vegkant</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tørrengvegkant">
        <annotation>
          <documentation>16217: Dette er den klassiske artsrike vegkanten med tørrenger og tørrberg på moderat til sterkt tørkeutsatt og veldrenert mark. Typisk med kortvokste urter og gras, gjerne slåttetolerante/slåttebegunstigete arter som blomstrer tidlig og setter frø i løpet av juni og første halvdel av juli.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16217</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tørrengvegkant</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Frisk-fuktig/ høgstaude vegkant">
        <annotation>
          <documentation>16218: Urterik utforming, ofte dominert av høgstauder og halvgras. Opptrer normalt på veldrenert og frisk mark, men kan også finnes på moderat tørkeutsatt og sesongfuktig mark. Næringsstatus varierer fra næringsfattig til noe næringsrik.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16218</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Frisk-fuktig/ høgstaude vegkant</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nordlig/alpin vegkant">
        <annotation>
          <documentation>16219: Utforming basert på naturgeografisk tilhørighet. Typisk består denne utformingen av tørrengpartier i veksling med eller mosikk med friske enger og kildepregete fuktenger og våtenger. Best utviklet på baserik berggrunn med tørrengpreg eller som reinrosehei. Særlig i beitepåvirkede områder opp mot fjellet i øvre deler av dalførene og på fjellovergangene i Sør-Norge kan det være en rik flora av fjellplanter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16219</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nordlig/alpin vegkant</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fukteng-våteng vegkant">
        <annotation>
          <documentation>16220: Vegkanter rik sumpvegetasjon eller rikmyrspreg, ofte knyttet til stagnerende vann i veggrøfta, eventuelt frisk til våt fuktmark i grøfta og et stykke oppetter skjæring og fylling. Utformingen utvikles som regel inntil verdifulle våtmarksmiljøer, rik myrkantskog (sumpskog) og rikmyr. Med intakt, blottlagt torvjord i skjæring og grøft, vil kravfulle og konkurransesvake arter fra rikmyr ha mulighet til å etablere seg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16220</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fukteng-våteng vegkant</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen type vegkant">
        <annotation>
          <documentation>16254: Vegkant som ikke passer i de beskrevne typene. Spesifiser type og/eller beskrivelse i feltet "Spesiell beskrivelse/ merknad".</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16254</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annen type vegkant</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegkantOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
