GML/518.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Siktsone" substitutionGroup="nvdb:AbstraktSiktsone" type="nvdb:SiktsoneType">
    <annotation>
      <documentation>518: Siktsone er et areal som krever tiltak for å tilfredsstille siktkrav som ikke tilfredsstilles av kantklipp.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">518</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">518</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Siktsone</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SiktsoneType">
    <complexContent>
      <extension base="nvdb:AbstraktSiktsoneType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeSiktsoneType">
            <annotation>
              <documentation>4165: Angir hvilken type siktsone det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4165</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltak_AnbefaltIntervall" type="nvdb:Tiltak_AnbefaltIntervallType">
            <annotation>
              <documentation>9974: Gir anbefaling for hvor ofte og når det bør foretas tiltak. Gjelder areal utenfor kantklipp.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9974</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tiltak, anbefalt intervall</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdePrimærveg" type="integer">
            <annotation>
              <documentation>4561: Angir hvor langt siktsonen strekker seg langs primærvegen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4561</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde primærveg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeSekundærveg" type="integer">
            <annotation>
              <documentation>4560: Angir hvor langt inn i sekundærvegen siktsonen strekker seg.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4560</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde sekundærveg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arealInnenforKantklipp" type="integer">
            <annotation>
              <documentation>9972: Areal innenfor vanlig kantklipp som skal driftes spesielt for å sikre god sikt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9972</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal innenfor kantklipp</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arealUtenforKantklipp" type="integer">
            <annotation>
              <documentation>4166: Areal utenfor vanlig kantklipp som skal driftes spesielt for å sikre god sikt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4166</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal utenfor kantklipp</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9975: Tilleggsinformasjon knyttet til eiendomsforhold, avtaler, innhold eller skjøtsel.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9975</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer_Avtale" type="string">
            <annotation>
              <documentation>9973: Gir arkivnummer for avtale med privat eier for område som skal ryddes.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9973</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Arkivnummer, avtale</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSiktsoneType">
            <annotation>
              <documentation>8116: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8116</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8896: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8896</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SiktsonePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Siktsone"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="Tiltak_AnbefaltIntervallType">
    <annotation>
      <documentation>9974: Gir anbefaling for hvor ofte og når det bør foretas tiltak. Gjelder areal utenfor kantklipp.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9974</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9974</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tiltak, anbefalt intervall</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Tiltak_AnbefaltIntervallEnumerationType nvdb:Tiltak_AnbefaltIntervallOtherType"/>
  </simpleType>
  <simpleType name="Tiltak_AnbefaltIntervallEnumerationType">
    <annotation>
      <documentation>9974: Gir anbefaling for hvor ofte og når det bør foretas tiltak. Gjelder areal utenfor kantklipp.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9974</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9974</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tiltak, anbefalt intervall</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="2 g. pr år">
        <annotation>
          <documentation>16189: 2 g. pr år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16189</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2 g. pr år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1 g. pr år">
        <annotation>
          <documentation>16188: 1 g. pr år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16188</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1 g. pr år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2.hvert år">
        <annotation>
          <documentation>16190: 2.hvert år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16190</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2.hvert år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3-5. hvert år">
        <annotation>
          <documentation>16191: 3-5. hvert år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16191</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3-5. hvert år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Tiltak_AnbefaltIntervallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeSiktsoneType">
    <annotation>
      <documentation>4165: Angir hvilken type siktsone det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4165</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4165</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSiktsoneEnumerationType nvdb:TypeSiktsoneOtherType"/>
  </simpleType>
  <simpleType name="TypeSiktsoneEnumerationType">
    <annotation>
      <documentation>4165: Angir hvilken type siktsone det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4165</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4165</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Kryss/avkjørsel">
        <annotation>
          <documentation>5140: Kryss/avkjørsel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5140</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kryss/avkjørsel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kurve">
        <annotation>
          <documentation>5141: Kurve</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5141</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kurve</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skilt/info">
        <annotation>
          <documentation>5142: Gjelder generelt soner siktsoner knyttet til objekt som skal gi informasjon til trafikanter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5142</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skilt/info</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Siktrydding, vilt">
        <annotation>
          <documentation>5139: Siktrydding, vilt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5139</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Siktrydding, vilt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSiktsoneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSiktsoneType">
    <annotation>
      <documentation>8116: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8116</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8116</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSiktsoneEnumerationType nvdb:VedlikeholdsansvarligSiktsoneOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSiktsoneEnumerationType">
    <annotation>
      <documentation>8116: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8116</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8116</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10510: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10510</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18767: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18767</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19971: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19971</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18896: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18896</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10588: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10588</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10666: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10666</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17754: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17754</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSiktsoneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
