GML/519.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DimensjonerendeForholdForSymbolhøyderType">
    <annotation>
      <documentation>10414: Angir hva som ligger til grunn for størrelse for symbolene</documentation>
    </annotation>
    <union memberTypes="nvdb:DimensjonerendeForholdForSymbolhøyderEnumerationType nvdb:DimensjonerendeForholdForSymbolhøyderOtherType"/>
  </simpleType>
  <simpleType name="DimensjonerendeForholdForSymbolhøyderEnumerationType">
    <annotation>
      <documentation>10414: Angir hva som ligger til grunn for størrelse for symbolene</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="fartsgrenseTom60">
        <annotation>
          <documentation>16786: Fartsgrense tom. 60</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fartsgrenseOver60">
        <annotation>
          <documentation>16787: Fartsgrense over 60</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sykkelveg">
        <annotation>
          <documentation>16788: Sykkelveg</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DimensjonerendeForholdForSymbolhøyderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NedfresingVegoppmerking_TverrgåendeType">
    <annotation>
      <documentation>10930: Angir hvorvidt det er frest ned en plan forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bla at vegmerkingen blir mindre utsatt for brøyteskader.</documentation>
    </annotation>
    <union memberTypes="nvdb:NedfresingVegoppmerking_TverrgåendeEnumerationType nvdb:NedfresingVegoppmerking_TverrgåendeOtherType"/>
  </simpleType>
  <simpleType name="NedfresingVegoppmerking_TverrgåendeEnumerationType">
    <annotation>
      <documentation>10930: Angir hvorvidt det er frest ned en plan forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bla at vegmerkingen blir mindre utsatt for brøyteskader.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>18274: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>18275: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NedfresingVegoppmerking_TverrgåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegoppmerking_TverrgåendeType">
    <annotation>
      <documentation>4167: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeVegoppmerking_TverrgåendeEnumerationType nvdb:TypeVegoppmerking_TverrgåendeOtherType"/>
  </simpleType>
  <simpleType name="TypeVegoppmerking_TverrgåendeEnumerationType">
    <annotation>
      <documentation>4167: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="fartsgrense_1054">
        <annotation>
          <documentation>16781: Fartsgrense (1054)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stopplinje_1020">
        <annotation>
          <documentation>5168: Stopplinje (1020)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vikelinje_1022">
        <annotation>
          <documentation>5167: Vikelinje (1022)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gangfelt_1024">
        <annotation>
          <documentation>5147: Gangfelt (1024)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sykkelkryssing_1026_1">
        <annotation>
          <documentation>5315: Kryssingsfelt beregnet for sykkeltrafikk.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sykkelkryssingInntilGangfelt_1026_2">
        <annotation>
          <documentation>16777: Kryssingsfelt beregnet for sykkeltrafikk som ligger inntil gangfelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fartshump_1027">
        <annotation>
          <documentation>11740: Fartshump (1027)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="parkeringsfelt_1028">
        <annotation>
          <documentation>5261: Parkeringsfelt (1028)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rumlefelt">
        <annotation>
          <documentation>5165: Felt som er utformet slik at det ved kjøring over i stor fart framkommer en rumlende lyd (017) Vegreferanse angis for start rumlefelt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vikesymbol_1036">
        <annotation>
          <documentation>5156: Vikesymbol (1036)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gangsymbol_1038_1">
        <annotation>
          <documentation>5158: Gangsymbol (1038.1)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sykkelsymbol_1038_2">
        <annotation>
          <documentation>5157: Sykkelsymbol (1038.2)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="parkeringssymbol_1040">
        <annotation>
          <documentation>5316: Parkeringssymbol (1040)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="symbolForForflytningshemmede_1042">
        <annotation>
          <documentation>5159: Symbol for forflytningshemmede (1042)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skinnekjøretøy_1044">
        <annotation>
          <documentation>16778: Skinnekjøretøy (1044)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tekst_Stopp_1050_1">
        <annotation>
          <documentation>5162: Tekst, stopp (1050.1)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tekst_Buss_1050_2">
        <annotation>
          <documentation>5163: Tekst, buss (1050.2)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tekst_Taxi_1050_3">
        <annotation>
          <documentation>5164: Tekst, taxi (1050.3)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tekst_Vegvisning_1050_4">
        <annotation>
          <documentation>5161: Tekst, vegvisning (1050.4)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tekst_Skole_1050_5">
        <annotation>
          <documentation>16779: Tekst, skole (1050.5)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tekst_Sambruksfelt_1052">
        <annotation>
          <documentation>16780: F.eks "2+"</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pil_Minirundkjøring_1034">
        <annotation>
          <documentation>16782: Pil, minirundkjøring (1034)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pil_Kjøreretn_1034RH">
        <annotation>
          <documentation>5150: Pil, kjøreretn, (1034.RH)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pil_Kjøreretn_1034RV">
        <annotation>
          <documentation>5151: Pil, kjøreretn, (1034.RV)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pil_Kjøreretn_1034RHV">
        <annotation>
          <documentation>5152: Pil, kjøreretn, (1034.RHV)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pil_Kjøreretn_1034V">
        <annotation>
          <documentation>5153: Pil, kjøreretn, (1034.V)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pil_Kjøreretn_1034H">
        <annotation>
          <documentation>5154: Pil, kjøreretn, (1034.H)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pil_Kjøreretn_1034HV">
        <annotation>
          <documentation>5155: Pil, kjøreretn, (1034.HV)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pil_Feltskifte_1034V">
        <annotation>
          <documentation>5169: Pil, feltskifte, (1034.V)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pil_Kjøreretn_1034R">
        <annotation>
          <documentation>5149: Pil, kjøreretn, (1034.R)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pil_Feltskifte_1034H">
        <annotation>
          <documentation>5170: Pil, feltskifte, (1034.H)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mangler">
        <annotation>
          <documentation>10240: Angir at det mangler informasjon om type.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegoppmerking_TverrgåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegoppmerking_Tverrgående" substitutionGroup="nvdb:AbstraktVegoppmerking_Tverrgående" type="nvdb:Vegoppmerking_TverrgåendeType">
    <annotation>
      <documentation>519: Vegoppmerking som ikke har nevneverdig langsgående utstrekning.  Eks symbol, sperreområder, piler, tekst, gangfelt og annen tverrgående oppmerking.</documentation>
    </annotation>
  </element>
  <complexType name="Vegoppmerking_TverrgåendeType">
    <complexContent>
      <extension base="nvdb:AbstraktVegoppmerking_TverrgåendeType">
        <sequence>
          <element name="type" type="nvdb:TypeVegoppmerking_TverrgåendeType">
            <annotation>
              <documentation>4167: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dimensjonerendeForholdForSymbolhøyder" type="nvdb:DimensjonerendeForholdForSymbolhøyderType">
            <annotation>
              <documentation>10414: Angir hva som ligger til grunn for størrelse for symbolene</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedtaksnummer" type="string">
            <annotation>
              <documentation>7842: Angir vedtaksnummer</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nedfresing" type="nvdb:NedfresingVegoppmerking_TverrgåendeType">
            <annotation>
              <documentation>10930: Angir hvorvidt det er frest ned en plan forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bla at vegmerkingen blir mindre utsatt for brøyteskader.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>4173: Angir bredde av vegobjektet.  Bredde måles på tvers av symbol/tekst sin lengderetning.  Tverrsgående oppmerking som f.eks "gangfelt har lengderetning på tvers av vegen.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>4169: Angir lengde av vegobjektet, måles i oppmerkingens lengderetning.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="double">
            <annotation>
              <documentation>4170: Angir arealet av vegobjektet
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tekst_Vegvisning" type="string">
            <annotation>
              <documentation>4174: Angir vegnummer eller stedsnavn som er tekster i vegbanen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallViketrekanter" type="integer">
            <annotation>
              <documentation>4181: Angir hvor mange viketrekanter det er.
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallRomlelinjer" type="integer">
            <annotation>
              <documentation>4185: Angir hvor mange linjer som inngår i romlefelt
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallGangfeltstaver" type="integer">
            <annotation>
              <documentation>4518: Angir hvor mange staver (striper) det er i et gangfelt
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallMarkeringsfirkanter" type="integer">
            <annotation>
              <documentation>10841: Angir hvor mange markeringsfirkanter det er i tilknytning til tverrgående oppmerking. Aktuelt for sykkelkryssing (1026) og fartshump (1027)
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11424: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11146: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5020: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9395: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Vegoppmerking_TverrgåendePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegoppmerking_Tverrgående"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
