GML/521.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Dekketilstandsmåling" substitutionGroup="nvdb:AbstraktDekketilstandsmåling" type="nvdb:DekketilstandsmålingType">
    <annotation>
      <documentation>521: Inneholder data som er felles for et sett spor- og jevnhetsmålinger (enkeltmålinger) og for avleda spor- og jevnhetsmålinger (20-metersstrekninger) som er beregnet ut fra samme måleserie (rådatafil).</documentation>
    </annotation>
  </element>
  <complexType name="DekketilstandsmålingType">
    <complexContent>
      <extension base="nvdb:AbstraktDekketilstandsmålingType">
        <sequence>
          <element name="måledato" type="date">
            <annotation>
              <documentation>4416: Angir dato for start måling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="klokkeslettStartMåling" type="integer">
            <annotation>
              <documentation>4417: Angir klokkeslett for start måling</documentation>
            </annotation>
          </element>
          <element name="formål" type="nvdb:FormålType">
            <annotation>
              <documentation>4421: Angir formål med måling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelse" type="string">
            <annotation>
              <documentation>7910: Stedsnavn hvor forekomst er lokalisert.  Evt plassering i forhold til stedsnavn.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyr" type="string">
            <annotation>
              <documentation>4428: Angir utstyr.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="målebil" type="string">
            <annotation>
              <documentation>4423: Angir hvilken målebil som var brukt på oppdraget</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spor_Bjelke" type="nvdb:Spor_BjelkeType">
            <annotation>
              <documentation>4418: Angir plassering av målebjelke i tverrprofilet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spor_Laser" type="nvdb:Spor_LaserType">
            <annotation>
              <documentation>4419: Angir plassering av laser i tverrprofilet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stillbilder" type="nvdb:StillbilderType">
            <annotation>
              <documentation>4422: Angir om det blir tatt stillbilder eller ikke</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="idLaser" type="string">
            <annotation>
              <documentation>4424: Gir id/serienummer til laserutstyr som ble brukt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="idUltralydbjelke" type="string">
            <annotation>
              <documentation>4425: Gir id/serienummer til ultralydbjelke som ble brukt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="målebredde" type="double">
            <annotation>
              <documentation>4413: Angir hvilken bredde det er målt i
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="avstandMellomTverrprofil" type="double">
            <annotation>
              <documentation>4414: Angir avstand mellom målte tverrprofil.  Vanlig verdi er 1m
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="avstandMellomHøydeverdier" type="double">
            <annotation>
              <documentation>4415: Angir avstand mellom målte høydeverdier.  Vanlig verdi er 25 cm
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="avstandHøyreSensorTilLaser" type="double">
            <annotation>
              <documentation>4420: Angir nøyaktig plassering av laser i forhold til høyre ende av bjelke
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallHøydeverdierITverrprofilet" type="integer">
            <annotation>
              <documentation>7025: Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="filnavn_Rådatafil" type="string">
            <annotation>
              <documentation>7027: Angir navn på rådatafil hvor enkeltspor- og jevnhetsmålinger finnes.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsprogram" type="string">
            <annotation>
              <documentation>7028: Angir navn på registreringsprogram som er benyttet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsprogram_Versjon" type="string">
            <annotation>
              <documentation>7029: Angir versjonsnummer for registreringsprogram som er benyttet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="beregningsprogram" type="string">
            <annotation>
              <documentation>7030: Angir navn på beregningsprogram som er benyttet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="beregningsprogram_Versjon" type="string">
            <annotation>
              <documentation>7031: Angir versjonsnummer for beregningsprogram som er benyttet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="program20m_Strekning" type="string">
            <annotation>
              <documentation>7032: Angir navn på program som benyttes for å generere spor og jevnhetsdata for 20-metersstrekninger. Kan være forskjellig fra "Beregningsprogram" for data beregnet med ALFSTAT. Vil sannsynligvis ha samme verdi som "Beregningsprogram" for den nye programvaren.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="program20m_Strekning_Versjon" type="string">
            <annotation>
              <documentation>7033: Angir versjon på program som benyttes for å generere spor og jevnhetsdata for 20-metersstrekninger.  Kan være forskjellig fra "Beregningsprogram" for data beregnet med ALFSTAT.  Vil sannsynligvis ha samme verdi som "Beregningsprogram" for den nye programvaren.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rosita_id" type="string">
            <annotation>
              <documentation>8941: Gir id for måledatafil i Rosita</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5021: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertSpormåling_AvledaPr20M" type="nvdb:AbstraktSpormåling_AvledaPr20MPropertyType"/>
          <element minOccurs="0" name="assosiertJevnhetsmåling_AvledaPr20M" type="nvdb:AbstraktJevnhetsmåling_AvledaPr20MPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DekketilstandsmålingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Dekketilstandsmåling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="FormålType">
    <annotation>
      <documentation>4421: Angir formål med måling</documentation>
    </annotation>
    <union memberTypes="nvdb:FormålEnumerationType nvdb:FormålOtherType"/>
  </simpleType>
  <simpleType name="FormålEnumerationType">
    <annotation>
      <documentation>4421: Angir formål med måling</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>5182: Generelle målinger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R1">
        <annotation>
          <documentation>5183: Referanse-1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R2">
        <annotation>
          <documentation>19484: Referanse-2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R3">
        <annotation>
          <documentation>19485: Referanse-3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>5184: Forsøksmålinger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>9723: Teleløsning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>10118: Initiell-1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>10119: Initiell-2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>10120: Initiell-3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="a">
        <annotation>
          <documentation>13048: Måleserie a</documentation>
        </annotation>
      </enumeration>
      <enumeration value="b">
        <annotation>
          <documentation>13049: Måleserie b</documentation>
        </annotation>
      </enumeration>
      <enumeration value="c">
        <annotation>
          <documentation>13050: Måleserie c</documentation>
        </annotation>
      </enumeration>
      <enumeration value="d">
        <annotation>
          <documentation>13051: Måleserie d</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FormålOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Spor_BjelkeType">
    <annotation>
      <documentation>4418: Angir plassering av målebjelke i tverrprofilet</documentation>
    </annotation>
    <union memberTypes="nvdb:Spor_BjelkeEnumerationType nvdb:Spor_BjelkeOtherType"/>
  </simpleType>
  <simpleType name="Spor_BjelkeEnumerationType">
    <annotation>
      <documentation>4418: Angir plassering av målebjelke i tverrprofilet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="indre">
        <annotation>
          <documentation>5175: Indre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mellom">
        <annotation>
          <documentation>5176: Mellom</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ytre">
        <annotation>
          <documentation>5177: Ytre</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Spor_BjelkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Spor_LaserType">
    <annotation>
      <documentation>4419: Angir plassering av laser i tverrprofilet</documentation>
    </annotation>
    <union memberTypes="nvdb:Spor_LaserEnumerationType nvdb:Spor_LaserOtherType"/>
  </simpleType>
  <simpleType name="Spor_LaserEnumerationType">
    <annotation>
      <documentation>4419: Angir plassering av laser i tverrprofilet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="indre">
        <annotation>
          <documentation>5179: Indre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mellom">
        <annotation>
          <documentation>5180: Mellom</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ytre">
        <annotation>
          <documentation>5181: Ytre</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Spor_LaserOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StillbilderType">
    <annotation>
      <documentation>4422: Angir om det blir tatt stillbilder eller ikke</documentation>
    </annotation>
    <union memberTypes="nvdb:StillbilderEnumerationType nvdb:StillbilderOtherType"/>
  </simpleType>
  <simpleType name="StillbilderEnumerationType">
    <annotation>
      <documentation>4422: Angir om det blir tatt stillbilder eller ikke</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5185: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5186: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StillbilderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
