GML/521.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.24">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Dekketilstandsmåling" substitutionGroup="nvdb:AbstraktDekketilstandsmåling" type="nvdb:DekketilstandsmålingType">
    <annotation>
      <documentation>521: Inneholder data som er felles for et sett spor- og jevnhetsmålinger (enkeltmålinger) og for avleda spor- og jevnhetsmålinger (20-metersstrekninger) som er beregnet ut fra samme måleserie (rådatafil).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">521</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">521</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dekketilstandsmåling</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="DekketilstandsmålingType">
    <complexContent>
      <extension base="nvdb:AbstraktDekketilstandsmålingType">
        <sequence>
          <element name="måledato" type="date">
            <annotation>
              <documentation>4416: Angir dato for start måling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4416</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måledato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="klokkeslettStartMåling" type="integer">
            <annotation>
              <documentation>4417: Angir klokkeslett for start måling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4417</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Klokkeslett start måling</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="formål" type="nvdb:FormålType">
            <annotation>
              <documentation>4421: Angir formål med måling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4421</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Formål</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelse" type="string">
            <annotation>
              <documentation>7910: Stedsnavn hvor forekomst er lokalisert.  Evt plassering i forhold til stedsnavn.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7910</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stedsangivelse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyr" type="string">
            <annotation>
              <documentation>4428: Angir utstyr.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4428</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utstyr</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="målebil" type="string">
            <annotation>
              <documentation>4423: Angir hvilken målebil som var brukt på oppdraget</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4423</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Målebil</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spor_Bjelke" type="nvdb:Spor_BjelkeType">
            <annotation>
              <documentation>4418: Angir plassering av målebjelke i tverrprofilet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4418</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor, bjelke</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spor_Laser" type="nvdb:Spor_LaserType">
            <annotation>
              <documentation>4419: Angir plassering av laser i tverrprofilet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4419</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor, laser</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stillbilder" type="nvdb:StillbilderType">
            <annotation>
              <documentation>4422: Angir om det blir tatt stillbilder eller ikke</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4422</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stillbilder</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="idLaser" type="string">
            <annotation>
              <documentation>4424: Gir id/serienummer til laserutstyr som ble brukt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4424</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Id Laser</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="idUltralydbjelke" type="string">
            <annotation>
              <documentation>4425: Gir id/serienummer til ultralydbjelke som ble brukt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4425</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Id Ultralydbjelke</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="målebredde" type="double">
            <annotation>
              <documentation>4413: Angir hvilken bredde det er målt i</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4413</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Målebredde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avstandMellomTverrprofil" type="double">
            <annotation>
              <documentation>4414: Angir avstand mellom målte tverrprofil.  Vanlig verdi er 1m</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4414</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avstand mellom tverrprofil</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avstandMellomHøydeverdier" type="double">
            <annotation>
              <documentation>4415: Angir avstand mellom målte høydeverdier.  Vanlig verdi er 25 cm</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4415</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avstand mellom høydeverdier</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avstandHøyreSensorTilLaser" type="double">
            <annotation>
              <documentation>4420: Angir nøyaktig plassering av laser i forhold til høyre ende av bjelke</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4420</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avstand høyre sensor til laser</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallHøydeverdierITverrprofilet" type="integer">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7025</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall høydeverdier i tverrprofilet</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="filnavn_Rådatafil" type="string">
            <annotation>
              <documentation>7027: Angir navn på rådatafil hvor enkeltspor- og jevnhetsmålinger finnes.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7027</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Filnavn, rådatafil</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsprogram" type="string">
            <annotation>
              <documentation>7028: Angir navn på registreringsprogram som er benyttet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7028</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Registreringsprogram</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsprogram_Versjon" type="string">
            <annotation>
              <documentation>7029: Angir versjonsnummer for registreringsprogram som er benyttet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7029</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Registreringsprogram, versjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beregningsprogram" type="string">
            <annotation>
              <documentation>7030: Angir navn på beregningsprogram som er benyttet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7030</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Beregningsprogram</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beregningsprogram_Versjon" type="string">
            <annotation>
              <documentation>7031: Angir versjonsnummer for beregningsprogram som er benyttet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7031</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Beregningsprogram, versjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="program20m_Strekning" type="string">
            <annotation>
              <documentation>7032: Angir navn på program som benyttes for å generere spor og jevnhetsdata for 20-metersstrekninger. Kan være forskjellig fra "Beregningsprogram" for data beregnet med ALFSTAT. Vil sannsynligvis ha samme verdi som "Beregningsprogram" for den nye programvaren.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7032</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Program 20m-strekning</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="program20m_Strekning_Versjon" type="string">
            <annotation>
              <documentation>7033: Angir versjon på program som benyttes for å generere spor og jevnhetsdata for 20-metersstrekninger.  Kan være forskjellig fra "Beregningsprogram" for data beregnet med ALFSTAT.  Vil sannsynligvis ha samme verdi som "Beregningsprogram" for den nye programvaren.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7033</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Program 20m-strekning, versjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rosita_id" type="string">
            <annotation>
              <documentation>8941: Gir id for måledatafil i Rosita</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8941</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rosita_id</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5021: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5021</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, hjelpelinje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DekketilstandsmålingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Dekketilstandsmåling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="FormålType">
    <annotation>
      <documentation>4421: Angir formål med måling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4421</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4421</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Formål</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FormålEnumerationType nvdb:FormålOtherType"/>
  </simpleType>
  <simpleType name="FormålEnumerationType">
    <annotation>
      <documentation>4421: Angir formål med måling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4421</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4421</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Formål</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>5182: Generelle målinger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5182</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Generelle målinger</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R1">
        <annotation>
          <documentation>5183: Referanse-1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5183</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Referanse-1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R2">
        <annotation>
          <documentation>19484: Referanse-2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19484</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Referanse-2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R3">
        <annotation>
          <documentation>19485: Referanse-3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19485</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Referanse-3</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>5184: Forsøksmålinger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5184</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forsøksmålinger</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>9723: Teleløsning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9723</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Teleløsning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>10118: Initiell-1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10118</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Initiell-1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>10119: Initiell-2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10119</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Initiell-2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>10120: Initiell-3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10120</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Initiell-3</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="a">
        <annotation>
          <documentation>13048: Måleserie a</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13048</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måleserie a</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="b">
        <annotation>
          <documentation>13049: Måleserie b</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13049</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måleserie b</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="c">
        <annotation>
          <documentation>13050: Måleserie c</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13050</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måleserie c</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="d">
        <annotation>
          <documentation>13051: Måleserie d</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13051</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måleserie d</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FormålOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Spor_BjelkeType">
    <annotation>
      <documentation>4418: Angir plassering av målebjelke i tverrprofilet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4418</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4418</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor, bjelke</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Spor_BjelkeEnumerationType nvdb:Spor_BjelkeOtherType"/>
  </simpleType>
  <simpleType name="Spor_BjelkeEnumerationType">
    <annotation>
      <documentation>4418: Angir plassering av målebjelke i tverrprofilet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4418</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4418</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor, bjelke</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Indre">
        <annotation>
          <documentation>5175: Indre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5175</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Indre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mellom">
        <annotation>
          <documentation>5176: Mellom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5176</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Mellom</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ytre">
        <annotation>
          <documentation>5177: Ytre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5177</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ytre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Spor_BjelkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Spor_LaserType">
    <annotation>
      <documentation>4419: Angir plassering av laser i tverrprofilet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4419</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4419</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor, laser</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Spor_LaserEnumerationType nvdb:Spor_LaserOtherType"/>
  </simpleType>
  <simpleType name="Spor_LaserEnumerationType">
    <annotation>
      <documentation>4419: Angir plassering av laser i tverrprofilet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4419</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4419</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor, laser</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Indre">
        <annotation>
          <documentation>5179: Indre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5179</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Indre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mellom">
        <annotation>
          <documentation>5180: Mellom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5180</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Mellom</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ytre">
        <annotation>
          <documentation>5181: Ytre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5181</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ytre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Spor_LaserOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StillbilderType">
    <annotation>
      <documentation>4422: Angir om det blir tatt stillbilder eller ikke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4422</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4422</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stillbilder</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StillbilderEnumerationType nvdb:StillbilderOtherType"/>
  </simpleType>
  <simpleType name="StillbilderEnumerationType">
    <annotation>
      <documentation>4422: Angir om det blir tatt stillbilder eller ikke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4422</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4422</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stillbilder</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5185: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5185</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5186: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5186</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StillbilderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
