GML/524.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.21">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BeregningsmetodeForSpordybdeType">
    <annotation>
      <documentation>4469: Angir hvilken beregningsmetode som er benytta</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4469</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4469</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Beregningsmetode for spordybde</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BeregningsmetodeForSpordybdeEnumerationType nvdb:BeregningsmetodeForSpordybdeOtherType"/>
  </simpleType>
  <simpleType name="BeregningsmetodeForSpordybdeEnumerationType">
    <annotation>
      <documentation>4469: Angir hvilken beregningsmetode som er benytta</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4469</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4469</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Beregningsmetode for spordybde</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="snormetoden">
        <annotation>
          <documentation>5200: Snormetoden</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5200</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Snormetoden</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bjelkemetoden">
        <annotation>
          <documentation>5201: Bjelkemetoden</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5201</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bjelkemetoden</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="krumholtmetoden">
        <annotation>
          <documentation>9722: Krumholtmetoden</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9722</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Krumholtmetoden</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="regresjonsmetoden">
        <annotation>
          <documentation>16139: Metode brukes for måling av ny asfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16139</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Regresjonsmetoden</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikkeAngitt">
        <annotation>
          <documentation>5785: Ikke angitt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5785</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ikke angitt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BeregningsmetodeForSpordybdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålSpormåling_AvledaPr20MType">
    <annotation>
      <documentation>4464: Angir formal med spormåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4464</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4464</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måleformål</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MåleformålSpormåling_AvledaPr20MEnumerationType nvdb:MåleformålSpormåling_AvledaPr20MOtherType"/>
  </simpleType>
  <simpleType name="MåleformålSpormåling_AvledaPr20MEnumerationType">
    <annotation>
      <documentation>4464: Angir formal med spormåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4464</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4464</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måleformål</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>5197: Generelle målinger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5197</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Generelle målinger</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R1">
        <annotation>
          <documentation>5198: Referanse-1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5198</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Referanse-1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R2">
        <annotation>
          <documentation>19488: Referanse-2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19488</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Referanse-2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R3">
        <annotation>
          <documentation>19489: Referanse-3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19489</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Referanse-3</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>5199: Forsøksmålinger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5199</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forsøksmålinger</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>5783: Teleløsning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5783</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Teleløsning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>10128: Initiell-1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10128</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Initiell-1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>10129: Initiell-2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10129</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Initiell-2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>10130: Initiell-3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10130</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Initiell-3</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="a">
        <annotation>
          <documentation>13053: Måleserie a</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13053</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måleserie a</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="b">
        <annotation>
          <documentation>13054: Måleserie b</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13054</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måleserie b</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="c">
        <annotation>
          <documentation>13055: Måleserie c</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13055</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måleserie c</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="d">
        <annotation>
          <documentation>13056: Måleserie d</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13056</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måleserie d</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålSpormåling_AvledaPr20MOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Spor_BjelkeSpormåling_AvledaPr20MType">
    <annotation>
      <documentation>4462: Angir hvilket spor dataene gjelder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4462</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4462</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor, bjelke</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Spor_BjelkeSpormåling_AvledaPr20MEnumerationType nvdb:Spor_BjelkeSpormåling_AvledaPr20MOtherType"/>
  </simpleType>
  <simpleType name="Spor_BjelkeSpormåling_AvledaPr20MEnumerationType">
    <annotation>
      <documentation>4462: Angir hvilket spor dataene gjelder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4462</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4462</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor, bjelke</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="indre">
        <annotation>
          <documentation>5194: Indre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5194</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Indre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mellom">
        <annotation>
          <documentation>5195: Mellom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5195</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Mellom</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ytre">
        <annotation>
          <documentation>5196: Ytre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5196</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ytre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Spor_BjelkeSpormåling_AvledaPr20MOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Spormåling_AvledaPr20M" substitutionGroup="nvdb:AbstraktSpormåling_AvledaPr20M" type="nvdb:Spormåling_AvledaPr20MType">
    <annotation>
      <documentation>524: Resulterende spormåling for en 20-metersstrekning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">524</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">524</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spormåling (avleda pr 20 m)</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Spormåling_AvledaPr20MType">
    <complexContent>
      <extension base="nvdb:AbstraktSpormåling_AvledaPr20MType">
        <sequence>
          <element name="måledato" type="date">
            <annotation>
              <documentation>4461: Angir måledato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4461</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måledato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="måleformål" type="nvdb:MåleformålSpormåling_AvledaPr20MType">
            <annotation>
              <documentation>4464: Angir formal med spormåling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4464</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måleformål</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyrsnummer" type="string">
            <annotation>
              <documentation>4470: Angir hvilket utstyr som er benytta</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4470</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utstyrsnummer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="spor_Bjelke" type="nvdb:Spor_BjelkeSpormåling_AvledaPr20MType">
            <annotation>
              <documentation>4462: Angir hvilket spor dataene gjelder</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4462</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor, bjelke</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beregningsmetodeForSpordybde" type="nvdb:BeregningsmetodeForSpordybdeType">
            <annotation>
              <documentation>4469: Angir hvilken beregningsmetode som er benytta</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4469</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Beregningsmetode for spordybde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="spordybde" type="double">
            <annotation>
              <documentation>4463: Angir spordybde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4463</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spordybde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sporbredde" type="double">
            <annotation>
              <documentation>4465: Angir bredde av spor</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4465</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sporbredde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sporareal" type="integer">
            <annotation>
              <documentation>4466: Angir areal av spor</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4466</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sporareal</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_Spormåling" type="double">
            <annotation>
              <documentation>4467: Angir tverrfall</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4467</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tverrfall, spormåling</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_Spormåling" type="integer">
            <annotation>
              <documentation>4468: Angir kurveradius</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4468</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Horisontalradius, spormåling</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjørefeltbredde" type="integer">
            <annotation>
              <documentation>9494: Angir kjørefeltbredde beregnet på basis av oppmerkingslinjer som avgrenser kjørefeltet. Oppmerkingslinjene er detektert av lasermålingene som gjøres i forbindelse med spor/jevnhetsmålingene. Verdien er gjennomsnittsbredde for 20-metersstrekningen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9494</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjørefeltbredde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitet_Oppmerking_Høyre" type="integer">
            <annotation>
              <documentation>9495: Angir kvalitet på detektert oppmerkingslinje på kjørefeltets høyre side sett i forhold til trafikkretningen, normalt vil det si kantlinje.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9495</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kvalitet, oppmerking, høyre</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitet_Oppmerking_Venstre" type="integer">
            <annotation>
              <documentation>9496: Angir kvalitet på detektert oppmerkingslinje på kjørefeltets venstre side sett i forhold til trafikkretningen, normalt vil det si midtlinje.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9496</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kvalitet, oppmerking, venstre</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitet_EkstraOppmerking_Venstre" type="integer">
            <annotation>
              <documentation>9497: Angir kvalitet på detektert ekstra oppmerkingslinje på kjørefeltets venstre side sett i forhold til trafikkretningen, normalt vil det si ekstra midtlinje.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9497</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kvalitet, ekstra oppmerking, venstre</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rosita_id" type="string">
            <annotation>
              <documentation>8943: Gir id for måledatafil/profil i Rosita</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8943</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rosita_id</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone1Sprekkeandel" type="integer">
            <annotation>
              <documentation>9858: Andel av målt lengde (20m) som har detekterte sprekker i sone 1</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9858</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sone 1 sprekkeandel</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone2Sprekkeandel" type="integer">
            <annotation>
              <documentation>9860: Andel av målt lengde (20m) som har detekterte sprekker i sone 2</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9860</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sone 2 sprekkeandel</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone3Sprekkeandel" type="integer">
            <annotation>
              <documentation>9862: Andel av målt lengde (20m) som har detekterte sprekker i sone 3</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9862</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sone 3 sprekkeandel</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone4Sprekkeandel" type="integer">
            <annotation>
              <documentation>9864: Andel av målt lengde (20m) som har detekterte sprekker i sone 4</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9864</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sone 4 sprekkeandel</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone5Sprekkeandel" type="integer">
            <annotation>
              <documentation>9866: Andel av målt lengde (20m) som har detekterte sprekker i sone 5</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9866</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sone 5 sprekkeandel</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="totalSprekkeandel" type="integer">
            <annotation>
              <documentation>9856: Andel av målt lengde (20m) som har detekterte sprekker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9856</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Total sprekkeandel</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone1Sprekkarealandel" type="integer">
            <annotation>
              <documentation>9859: Andel av målt areal (20x0,25m2) som har detekterte sprekker i sone 1</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9859</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sone 1 sprekkarealandel</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone2Sprekkarealandel" type="integer">
            <annotation>
              <documentation>9861: Andel av målt areal (20x0,75m2) som har detekterte sprekker i sone 2</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9861</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sone 2 sprekkarealandel</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone3Sprekkarealandel" type="integer">
            <annotation>
              <documentation>9863: Andel av målt areal (20x1m2) som har detekterte sprekker i sone 3</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9863</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sone 3 sprekkarealandel</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone4Sprekkarealandel" type="integer">
            <annotation>
              <documentation>9865: Andel av målt areal (20x0,75m2) som har detekterte sprekker i sone 4</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9865</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sone 4 sprekkarealandel</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone5Sprekkarealandel" type="integer">
            <annotation>
              <documentation>9867: Andel av målt areal (20x0,25m2) som har detekterte sprekker i sone 5</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9867</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sone 5 sprekkarealandel</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="totalSprekkarealandel" type="integer">
            <annotation>
              <documentation>9857: Andel av målt areal (20x3m2) som har detekterte sprekker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9857</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Total sprekkarealandel</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="filtreringskonstant" type="integer">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5051</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Filtreringskonstant</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5024: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5024</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, hjelpelinje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element name="assosiertDekketilstandsmåling" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDekketilstandsmåling</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Spormåling_AvledaPr20MPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Spormåling_AvledaPr20M"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
