GML/524.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BeregningsmetodeForSpordybdeType">
    <annotation>
      <documentation>4469: Angir hvilken beregningsmetode som er benytta</documentation>
    </annotation>
    <union memberTypes="nvdb:BeregningsmetodeForSpordybdeEnumerationType nvdb:BeregningsmetodeForSpordybdeOtherType"/>
  </simpleType>
  <simpleType name="BeregningsmetodeForSpordybdeEnumerationType">
    <annotation>
      <documentation>4469: Angir hvilken beregningsmetode som er benytta</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="snormetoden">
        <annotation>
          <documentation>5200: Snormetoden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bjelkemetoden">
        <annotation>
          <documentation>5201: Bjelkemetoden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="krumholtmetoden">
        <annotation>
          <documentation>9722: Krumholtmetoden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="regresjonsmetoden">
        <annotation>
          <documentation>16139: Metode brukes for måling av ny asfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeAngitt">
        <annotation>
          <documentation>5785: Ikke angitt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BeregningsmetodeForSpordybdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålSpormåling_AvledaPr20MType">
    <annotation>
      <documentation>4464: Angir formal med spormåling</documentation>
    </annotation>
    <union memberTypes="nvdb:MåleformålSpormåling_AvledaPr20MEnumerationType nvdb:MåleformålSpormåling_AvledaPr20MOtherType"/>
  </simpleType>
  <simpleType name="MåleformålSpormåling_AvledaPr20MEnumerationType">
    <annotation>
      <documentation>4464: Angir formal med spormåling</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>5197: Generelle målinger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R1">
        <annotation>
          <documentation>5198: Referanse-1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R2">
        <annotation>
          <documentation>19488: Referanse-2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R3">
        <annotation>
          <documentation>19489: Referanse-3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>5199: Forsøksmålinger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>5783: Teleløsning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>10128: Initiell-1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>10129: Initiell-2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>10130: Initiell-3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="a">
        <annotation>
          <documentation>13053: Måleserie a</documentation>
        </annotation>
      </enumeration>
      <enumeration value="b">
        <annotation>
          <documentation>13054: Måleserie b</documentation>
        </annotation>
      </enumeration>
      <enumeration value="c">
        <annotation>
          <documentation>13055: Måleserie c</documentation>
        </annotation>
      </enumeration>
      <enumeration value="d">
        <annotation>
          <documentation>13056: Måleserie d</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålSpormåling_AvledaPr20MOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Spor_BjelkeSpormåling_AvledaPr20MType">
    <annotation>
      <documentation>4462: Angir hvilket spor dataene gjelder</documentation>
    </annotation>
    <union memberTypes="nvdb:Spor_BjelkeSpormåling_AvledaPr20MEnumerationType nvdb:Spor_BjelkeSpormåling_AvledaPr20MOtherType"/>
  </simpleType>
  <simpleType name="Spor_BjelkeSpormåling_AvledaPr20MEnumerationType">
    <annotation>
      <documentation>4462: Angir hvilket spor dataene gjelder</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="indre">
        <annotation>
          <documentation>5194: Indre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mellom">
        <annotation>
          <documentation>5195: Mellom</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ytre">
        <annotation>
          <documentation>5196: Ytre</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Spor_BjelkeSpormåling_AvledaPr20MOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Spormåling_AvledaPr20M" substitutionGroup="nvdb:AbstraktSpormåling_AvledaPr20M" type="nvdb:Spormåling_AvledaPr20MType">
    <annotation>
      <documentation>524: Resulterende spormåling for en 20-metersstrekning</documentation>
    </annotation>
  </element>
  <complexType name="Spormåling_AvledaPr20MType">
    <complexContent>
      <extension base="nvdb:AbstraktSpormåling_AvledaPr20MType">
        <sequence>
          <element name="måledato" type="date">
            <annotation>
              <documentation>4461: Angir måledato</documentation>
            </annotation>
          </element>
          <element name="måleformål" type="nvdb:MåleformålSpormåling_AvledaPr20MType">
            <annotation>
              <documentation>4464: Angir formal med spormåling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyrsnummer" type="string">
            <annotation>
              <documentation>4470: Angir hvilket utstyr som er benytta</documentation>
            </annotation>
          </element>
          <element name="spor_Bjelke" type="nvdb:Spor_BjelkeSpormåling_AvledaPr20MType">
            <annotation>
              <documentation>4462: Angir hvilket spor dataene gjelder</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="beregningsmetodeForSpordybde" type="nvdb:BeregningsmetodeForSpordybdeType">
            <annotation>
              <documentation>4469: Angir hvilken beregningsmetode som er benytta</documentation>
            </annotation>
          </element>
          <element name="spordybde" type="double">
            <annotation>
              <documentation>4463: Angir spordybde
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sporbredde" type="double">
            <annotation>
              <documentation>4465: Angir bredde av spor
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sporareal" type="integer">
            <annotation>
              <documentation>4466: Angir areal av spor
Enhet: Kvadratcentimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_Spormåling" type="double">
            <annotation>
              <documentation>4467: Angir tverrfall
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_Spormåling" type="integer">
            <annotation>
              <documentation>4468: Angir kurveradius
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kjørefeltbredde" type="integer">
            <annotation>
              <documentation>9494: Angir kjørefeltbredde beregnet på basis av oppmerkingslinjer som avgrenser kjørefeltet. Oppmerkingslinjene er detektert av lasermålingene som gjøres i forbindelse med spor/jevnhetsmålingene. Verdien er gjennomsnittsbredde for 20-metersstrekningen.
Enhet: Centimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitet_Oppmerking_Høyre" type="integer">
            <annotation>
              <documentation>9495: Angir kvalitet på detektert oppmerkingslinje på kjørefeltets høyre side sett i forhold til trafikkretningen, normalt vil det si kantlinje.
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitet_Oppmerking_Venstre" type="integer">
            <annotation>
              <documentation>9496: Angir kvalitet på detektert oppmerkingslinje på kjørefeltets venstre side sett i forhold til trafikkretningen, normalt vil det si midtlinje.
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitet_EkstraOppmerking_Venstre" type="integer">
            <annotation>
              <documentation>9497: Angir kvalitet på detektert ekstra oppmerkingslinje på kjørefeltets venstre side sett i forhold til trafikkretningen, normalt vil det si ekstra midtlinje.
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rosita_id" type="string">
            <annotation>
              <documentation>8943: Gir id for måledatafil/profil i Rosita</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sone1Sprekkeandel" type="integer">
            <annotation>
              <documentation>9858: Andel av målt lengde (20m) som har detekterte sprekker i sone 1
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sone2Sprekkeandel" type="integer">
            <annotation>
              <documentation>9860: Andel av målt lengde (20m) som har detekterte sprekker i sone 2
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sone3Sprekkeandel" type="integer">
            <annotation>
              <documentation>9862: Andel av målt lengde (20m) som har detekterte sprekker i sone 3
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sone4Sprekkeandel" type="integer">
            <annotation>
              <documentation>9864: Andel av målt lengde (20m) som har detekterte sprekker i sone 4
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sone5Sprekkeandel" type="integer">
            <annotation>
              <documentation>9866: Andel av målt lengde (20m) som har detekterte sprekker i sone 5
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="totalSprekkeandel" type="integer">
            <annotation>
              <documentation>9856: Andel av målt lengde (20m) som har detekterte sprekker
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sone1Sprekkarealandel" type="integer">
            <annotation>
              <documentation>9859: Andel av målt areal (20x0,25m2) som har detekterte sprekker i sone 1
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sone2Sprekkarealandel" type="integer">
            <annotation>
              <documentation>9861: Andel av målt areal (20x0,75m2) som har detekterte sprekker i sone 2
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sone3Sprekkarealandel" type="integer">
            <annotation>
              <documentation>9863: Andel av målt areal (20x1m2) som har detekterte sprekker i sone 3
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sone4Sprekkarealandel" type="integer">
            <annotation>
              <documentation>9865: Andel av målt areal (20x0,75m2) som har detekterte sprekker i sone 4
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sone5Sprekkarealandel" type="integer">
            <annotation>
              <documentation>9867: Andel av målt areal (20x0,25m2) som har detekterte sprekker i sone 5
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="totalSprekkarealandel" type="integer">
            <annotation>
              <documentation>9857: Andel av målt areal (20x3m2) som har detekterte sprekker
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="filtreringskonstant" type="integer"/>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5024: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Spormåling_AvledaPr20MPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Spormåling_AvledaPr20M"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
