GML/524.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>524: Resulterende spormåling for en 20-metersstrekning.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BeregningsmetodeForSpordybdeType">
      <annotation>
         <documentation>4469: Angir hvilken beregningsmetode som er benytta.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4469</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">4469</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Beregningsmetode for spordybde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BeregningsmetodeForSpordybdeEnumerationType nvdb:BeregningsmetodeForSpordybdeOtherType"/>
   </simpleType>
   <simpleType name="BeregningsmetodeForSpordybdeEnumerationType">
      <annotation>
         <documentation>4469: Angir hvilken beregningsmetode som er benytta.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4469</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">4469</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Beregningsmetode for spordybde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Snormetoden">
            <annotation>
               <documentation>5200: Snormetoden</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5200</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snormetoden</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bjelkemetoden">
            <annotation>
               <documentation>5201: Bjelkemetoden</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5201</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bjelkemetoden</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Krumholtmetoden">
            <annotation>
               <documentation>9722: Krumholtmetoden</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9722</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Krumholtmetoden</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Regresjonsmetoden">
            <annotation>
               <documentation>16139: Metode brukes for måling av ny asfalt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16139</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Regresjonsmetoden</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ikke angitt">
            <annotation>
               <documentation>5785: Ikke angitt</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5785</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke angitt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BeregningsmetodeForSpordybdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MåleformålType">
      <annotation>
         <documentation>4464: Angir formal med spormåling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4464</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">4464</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Måleformål</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MåleformålEnumerationType nvdb:MåleformålOtherType"/>
   </simpleType>
   <simpleType name="MåleformålEnumerationType">
      <annotation>
         <documentation>4464: Angir formal med spormåling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4464</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">4464</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Måleformål</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="G">
            <annotation>
               <documentation>5197: Generelle målinger</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5197</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Generelle målinger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R1">
            <annotation>
               <documentation>5198: Referanse-1</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5198</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Referanse-1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R2">
            <annotation>
               <documentation>19488: Referanse-2</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19488</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Referanse-2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R3">
            <annotation>
               <documentation>19489: Referanse-3</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19489</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Referanse-3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <documentation>5199: Forsøksmålinger</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5199</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forsøksmålinger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <documentation>5783: Teleløsning</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5783</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Teleløsning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>10128: Initiell-1</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10128</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Initiell-1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>10129: Initiell-2</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10129</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Initiell-2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <documentation>10130: Initiell-3</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10130</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Initiell-3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="a">
            <annotation>
               <documentation>13053: Måleserie a</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13053</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Måleserie a</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <documentation>13054: Måleserie b</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13054</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Måleserie b</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="c">
            <annotation>
               <documentation>13055: Måleserie c</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13055</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Måleserie c</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="d">
            <annotation>
               <documentation>13056: Måleserie d</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13056</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Måleserie d</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MåleformålOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Spor_BjelkeSpormåling_AvledaPr20MType">
      <annotation>
         <documentation>4462: Angir hvilket spor dataene gjelder.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4462</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">4462</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spor, bjelke</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Spor_BjelkeSpormåling_AvledaPr20MEnumerationType nvdb:Spor_BjelkeSpormåling_AvledaPr20MOtherType"/>
   </simpleType>
   <simpleType name="Spor_BjelkeSpormåling_AvledaPr20MEnumerationType">
      <annotation>
         <documentation>4462: Angir hvilket spor dataene gjelder.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4462</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">4462</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spor, bjelke</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Indre">
            <annotation>
               <documentation>5194: Indre</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5194</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Indre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Mellom">
            <annotation>
               <documentation>5195: Mellom</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5195</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mellom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ytre">
            <annotation>
               <documentation>5196: Ytre</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5196</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ytre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Spor_BjelkeSpormåling_AvledaPr20MOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Spormåling_AvledaPr20M"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Spormåling_AvledaPr20MType">
      <annotation>
         <documentation>524: Resulterende spormåling for en 20-metersstrekning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">524</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">524</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spormåling (avleda pr 20 m)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Spormåling_AvledaPr20MType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="måledato" type="date">
                  <annotation>
                     <documentation>4461: Angir måledato.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4461</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Måledato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="måleformål" type="nvdb:MåleformålType">
                  <annotation>
                     <documentation>4464: Angir formal med spormåling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4464</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Måleformål</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="utstyrsnummer" type="string">
                  <annotation>
                     <documentation>4470: Angir hvilket utstyr som er benytta.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4470</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utstyrsnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="spor_Bjelke" type="nvdb:Spor_BjelkeSpormåling_AvledaPr20MType">
                  <annotation>
                     <documentation>4462: Angir hvilket spor dataene gjelder.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4462</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spor, bjelke</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="beregningsmetodeForSpordybde"
                        type="nvdb:BeregningsmetodeForSpordybdeType">
                  <annotation>
                     <documentation>4469: Angir hvilken beregningsmetode som er benytta.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4469</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beregningsmetode for spordybde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="spordybde" type="double">
                  <annotation>
                     <documentation>4463: Angir spordybde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4463</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spordybde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sporbredde" type="double">
                  <annotation>
                     <documentation>4465: Angir bredde av spor.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4465</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sporbredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sporareal" type="integer">
                  <annotation>
                     <documentation>4466: Angir areal av spor.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4466</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sporareal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tverrfall_Spormåling" type="double">
                  <annotation>
                     <documentation>4467: Angir tverrfall.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4467</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tverrfall, spormåling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="horisontalradius_Spormåling" type="integer">
                  <annotation>
                     <documentation>4468: Angir kurveradius.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4468</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Horisontalradius, spormåling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kjørefeltbredde" type="integer">
                  <annotation>
                     <documentation>9494: Angir kjørefeltbredde beregnet på basis av oppmerkingslinjer som avgrenser kjørefeltet. Oppmerkingslinjene er detektert av lasermålingene som gjøres i forbindelse med spor/jevnhetsmålingene. Verdien er gjennomsnittsbredde for 20-metersstrekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9494</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kjørefeltbredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kvalitet_Oppmerking_Høyre" type="integer">
                  <annotation>
                     <documentation>9495: Angir kvalitet på detektert oppmerkingslinje på kjørefeltets høyre side sett i forhold til trafikkretningen, normalt vil det si kantlinje.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9495</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kvalitet, oppmerking, høyre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kvalitet_Oppmerking_Venstre" type="integer">
                  <annotation>
                     <documentation>9496: Angir kvalitet på detektert oppmerkingslinje på kjørefeltets venstre side sett i forhold til trafikkretningen, normalt vil det si midtlinje.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9496</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kvalitet, oppmerking, venstre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="kvalitet_EkstraOppmerking_Venstre"
                        type="integer">
                  <annotation>
                     <documentation>9497: Angir kvalitet på detektert ekstra oppmerkingslinje på kjørefeltets venstre side sett i forhold til trafikkretningen, normalt vil det si ekstra midtlinje.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9497</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kvalitet, ekstra oppmerking, venstre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rosita_id" type="string">
                  <annotation>
                     <documentation>8943: Gir id for måledatafil/profil i Rosita.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8943</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rosita_id</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sone1Sprekkeandel" type="integer">
                  <annotation>
                     <documentation>9858: Andel av målt lengde (20m) som har detekterte sprekker i sone 1.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9858</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sone 1 sprekkeandel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sone2Sprekkeandel" type="integer">
                  <annotation>
                     <documentation>9860: Andel av målt lengde (20m) som har detekterte sprekker i sone 2.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9860</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sone 2 sprekkeandel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sone3Sprekkeandel" type="integer">
                  <annotation>
                     <documentation>9862: Andel av målt lengde (20m) som har detekterte sprekker i sone 3.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9862</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sone 3 sprekkeandel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sone4Sprekkeandel" type="integer">
                  <annotation>
                     <documentation>9864: Andel av målt lengde (20m) som har detekterte sprekker i sone 4.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9864</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sone 4 sprekkeandel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sone5Sprekkeandel" type="integer">
                  <annotation>
                     <documentation>9866: Andel av målt lengde (20m) som har detekterte sprekker i sone 5.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9866</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sone 5 sprekkeandel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="totalSprekkeandel" type="integer">
                  <annotation>
                     <documentation>9856: Andel av målt lengde (20m) som har detekterte sprekker.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9856</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Total sprekkeandel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sone1Sprekkarealandel" type="integer">
                  <annotation>
                     <documentation>9859: Andel av målt areal (20x0,25m2) som har detekterte sprekker i sone 1.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9859</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sone 1 sprekkarealandel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sone2Sprekkarealandel" type="integer">
                  <annotation>
                     <documentation>9861: Andel av målt areal (20x0,75m2) som har detekterte sprekker i sone 2.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9861</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sone 2 sprekkarealandel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sone3Sprekkarealandel" type="integer">
                  <annotation>
                     <documentation>9863: Andel av målt areal (20x1m2) som har detekterte sprekker i sone 3.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9863</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sone 3 sprekkarealandel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sone4Sprekkarealandel" type="integer">
                  <annotation>
                     <documentation>9865: Andel av målt areal (20x0,75m2) som har detekterte sprekker i sone 4.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9865</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sone 4 sprekkarealandel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sone5Sprekkarealandel" type="integer">
                  <annotation>
                     <documentation>9867: Andel av målt areal (20x0,25m2) som har detekterte sprekker i sone 5.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9867</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sone 5 sprekkarealandel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="totalSprekkarealandel" type="integer">
                  <annotation>
                     <documentation>9857: Andel av målt areal (20x3m2) som har detekterte sprekker.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9857</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Total sprekkarealandel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="filtreringskonstant" type="integer">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5051</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Filtreringskonstant</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>5024: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5024</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Spormåling_AvledaPr20MPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Spormåling_AvledaPr20M"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
