GML/525.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="JevnhetsformålType">
    <annotation>
      <documentation>4473: Angir formal med spormåling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4473</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4473</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Jevnhetsformål</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:JevnhetsformålEnumerationType nvdb:JevnhetsformålOtherType"/>
  </simpleType>
  <simpleType name="JevnhetsformålEnumerationType">
    <annotation>
      <documentation>4473: Angir formal med spormåling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4473</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4473</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Jevnhetsformål</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>5205: Generelle målinger</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5205</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Generelle målinger</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R1">
        <annotation>
          <documentation>5206: Referanse-1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5206</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Referanse-1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R2">
        <annotation>
          <documentation>19486: Referanse-2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19486</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Referanse-2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R3">
        <annotation>
          <documentation>19487: Referanse-3</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19487</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Referanse-3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>5207: Forsøksmålinger</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forsøksmålinger</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>5784: Teleløsning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5784</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Teleløsning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>10131: Initiell-1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10131</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Initiell-1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>10132: Initiell-2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10132</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Initiell-2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>10133: Initiell-3</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10133</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Initiell-3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="a">
        <annotation>
          <documentation>13044: Måleserie a</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13044</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Måleserie a</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="b">
        <annotation>
          <documentation>13045: Måleserie b</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13045</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Måleserie b</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="c">
        <annotation>
          <documentation>13046: Måleserie c</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13046</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Måleserie c</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="d">
        <annotation>
          <documentation>13047: Måleserie d</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13047</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Måleserie d</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="JevnhetsformålOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Jevnhetsmåling_AvledaPr20M" substitutionGroup="nvdb:AbstraktJevnhetsmåling_AvledaPr20M" type="nvdb:Jevnhetsmåling_AvledaPr20MType">
    <annotation>
      <documentation>525: Resulterende jevnhetsmåling for en 20-metersstrekning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">525</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">525</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Jevnhetsmåling (avleda pr 20 m)</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Jevnhetsmåling_AvledaPr20MType">
    <complexContent>
      <extension base="nvdb:AbstraktJevnhetsmåling_AvledaPr20MType">
        <sequence>
          <element name="måledato" type="date">
            <annotation>
              <documentation>4471: Angir måledato.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4471</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Måledato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="jevnhetsformål" type="nvdb:JevnhetsformålType">
            <annotation>
              <documentation>4473: Angir formal med spormåling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4473</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Jevnhetsformål</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyrsnummer" type="string">
            <annotation>
              <documentation>4476: Angir hvilket utstyr som er benytta.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4476</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utstyrsnummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="spor_Laser" type="nvdb:Spor_LaserJevnhetsmåling_AvledaPr20MType">
            <annotation>
              <documentation>4472: Angir hvilket spor dataene gjelder.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4472</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spor, laser</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="IRI_Beregningslengde" type="integer">
            <annotation>
              <documentation>4475: Angir IRI-Beregningslengde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4475</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">IRI-Beregningslengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="IRI_Jevnhetsindeks" type="double">
            <annotation>
              <documentation>4474: Angir IRI-Jevnhetsindeks.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4474</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">IRI-Jevnhetsindeks</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="MPD_Middelverdi" type="integer">
            <annotation>
              <documentation>5907: Midlere profilhøyde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5907</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">MPD, Middelverdi</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="MPD_Standardavvik" type="integer">
            <annotation>
              <documentation>5908: Midlere profilhøyde, standardavvik.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5908</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">MPD, Standardavvik</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="HV_Median" type="integer">
            <annotation>
              <documentation>5909: Helningsvinkel.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5909</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">HV, Median</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="HV_IQR" type="integer">
            <annotation>
              <documentation>5910: Helningsvinkel, IQR (Inter-quartile range) Innenfor 25-75%.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5910</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">HV, IQR</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rosita_id" type="string">
            <annotation>
              <documentation>8942: Gir id for måledatafil/profil i Rosita.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8942</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Rosita_id</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5025: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5025</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element name="assosiertDekketilstandsmåling" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDekketilstandsmåling</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Jevnhetsmåling_AvledaPr20MPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Jevnhetsmåling_AvledaPr20M"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="Spor_LaserJevnhetsmåling_AvledaPr20MType">
    <annotation>
      <documentation>4472: Angir hvilket spor dataene gjelder.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4472</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4472</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spor, laser</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Spor_LaserJevnhetsmåling_AvledaPr20MEnumerationType nvdb:Spor_LaserJevnhetsmåling_AvledaPr20MOtherType"/>
  </simpleType>
  <simpleType name="Spor_LaserJevnhetsmåling_AvledaPr20MEnumerationType">
    <annotation>
      <documentation>4472: Angir hvilket spor dataene gjelder.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4472</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4472</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spor, laser</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="i">
        <annotation>
          <documentation>5202: Indre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5202</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Indre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="m">
        <annotation>
          <documentation>5203: Mellom</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5203</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mellom</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="y">
        <annotation>
          <documentation>5204: Ytre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5204</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ytre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Spor_LaserJevnhetsmåling_AvledaPr20MOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
