GML/526.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>526: Måling av vegoverflatens friksjon.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Friksjonsmåling"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:FriksjonsmålingType">
      <annotation>
         <documentation>526: Måling av vegoverflatens friksjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">526</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">526</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Friksjonsmåling</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FriksjonsmålingType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="totalDist" type="integer">
                  <annotation>
                     <documentation>5732: Total utkjørt distanse i m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5732</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TotalDist</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="timestamp" type="integer">
                  <annotation>
                     <documentation>5697: Tidspunkt for måling i millisekunder. Gjelder bare fastslippmålinger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5697</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Timestamp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="MWCount" type="integer">
                  <annotation>
                     <documentation>5729: Akkumulerte pulser ifra målehjul. Gjelder bare variabelslippmålinger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5729</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">MW Count</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="spor" type="nvdb:SporFriksjonsmålingType">
                  <annotation>
                     <documentation>11456: Angir i hvilket spor friksjonsmåling er foretatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11456</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spor</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="friction" type="double">
                  <annotation>
                     <documentation>5733: Friksjonskoeffisient [0 - 1.1], maksimum friksjon for hele oppbremsingsperioden. (Der trykket er størst).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5733</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Friction</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="slip_Prosent" type="double">
                  <annotation>
                     <documentation>5728: Slipprosent (mellom MW/TW Speed).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5728</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">slip%</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="akselerasjon" type="double">
                  <annotation>
                     <documentation>5730: Vertikal akselerasjon i G.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5730</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Akselerasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="pressure" type="integer">
                  <annotation>
                     <documentation>5731: Oljetrykk i bar (foran strupe/bremseventil).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5731</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Pressure</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="envTemp" type="double">
                  <annotation>
                     <documentation>5738: Utetemperatur i grader C.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5738</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">EnvTemp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="oilTemp" type="double">
                  <annotation>
                     <documentation>5739: Oljetemperatur i grader C.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5739</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">OilTemp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="type" type="nvdb:TypeFriksjonsmålingType">
                  <annotation>
                     <documentation>7911: Angir type måling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7911</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rosita_id" type="string">
                  <annotation>
                     <documentation>9116: Gir id for måledatafil i Rosita.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9116</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rosita_id</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="surfTemp" type="double">
                  <annotation>
                     <documentation>5740: Overflatetemperatur på vei i grader C.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5740</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">SurfTemp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="TWSpeed" type="double">
                  <annotation>
                     <documentation>5741: Hengerhjulshastighet i km/t.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5741</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TW Speed</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="F60" type="double">
                  <annotation>
                     <documentation>5734: Friksjon ved slipphastighet 60 km/t på målehjulet. Eksempel: Dersom målehjulet starter oppbremsingen ved 80 km/t, er F60 friksjonen når målehjulets hastighet er 20 km/t, altså 60 km/t under det oppbremsingen startet ved. Gjelder bare variabelslippmålinger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5734</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">F60</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="MWSpeed" type="double">
                  <annotation>
                     <documentation>5727: Målehjulshastighet i km/t. Gjelder bare fastslippmålinger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5727</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">MW Speed</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="my_min" type="double">
                  <annotation>
                     <documentation>5735: Laveste målte friksjon etter maksimum friksjon. Gjelder bare variabelslippmålinger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5735</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">My_min</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sp" type="double">
                  <annotation>
                     <documentation>5736: Stigningstall for oppbremsingskurven. Gjelder bare variabelslippmålinger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5736</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="R" type="double">
                  <annotation>
                     <documentation>5737: Godhetsfaktor mellom [-1, 1] hvor -1 er best. Skal ligge i praksis mellom [0, -1]. Gjelder bare variabelslippmålinger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5737</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">R</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="måleformål"
                        type="nvdb:MåleformålFriksjonsmålingType">
                  <annotation>
                     <documentation>7912: Angir formål med friksjonsmåling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7912</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Måleformål</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>5026: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5026</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FriksjonsmålingPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Friksjonsmåling"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MåleformålFriksjonsmålingType">
      <annotation>
         <documentation>7912: Angir formål med friksjonsmåling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7912</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">7912</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Måleformål</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MåleformålFriksjonsmålingEnumerationType nvdb:MåleformålFriksjonsmålingOtherType"/>
   </simpleType>
   <simpleType name="MåleformålFriksjonsmålingEnumerationType">
      <annotation>
         <documentation>7912: Angir formål med friksjonsmåling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7912</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">7912</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Måleformål</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="G">
            <annotation>
               <documentation>10086: Generelle målinger</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10086</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Generelle målinger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <documentation>10085: Forsøk</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10085</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forsøk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <documentation>10084: Kalibrering</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10084</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kalibrering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R1">
            <annotation>
               <documentation>10083: Referanse-1</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10083</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Referanse-1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R2">
            <annotation>
               <documentation>19493: Referanse-2</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19493</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Referanse-2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R3">
            <annotation>
               <documentation>19494: Referanse-3</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19494</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Referanse-3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>18495: Initiell-1</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18495</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Initiell-1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>18496: Initiell-2</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18496</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Initiell-2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <documentation>18497: Initiell-3</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18497</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Initiell-3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MåleformålFriksjonsmålingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SporFriksjonsmålingType">
      <annotation>
         <documentation>11456: Angir i hvilket spor friksjonsmåling er foretatt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11456</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11456</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spor</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SporFriksjonsmålingEnumerationType nvdb:SporFriksjonsmålingOtherType"/>
   </simpleType>
   <simpleType name="SporFriksjonsmålingEnumerationType">
      <annotation>
         <documentation>11456: Angir i hvilket spor friksjonsmåling er foretatt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11456</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11456</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spor</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="i">
            <annotation>
               <documentation>19496: Indre</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19496</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Indre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <documentation>19497: Mellom</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19497</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mellom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="y">
            <annotation>
               <documentation>19498: Ytre</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19498</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ytre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SporFriksjonsmålingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeFriksjonsmålingType">
      <annotation>
         <documentation>7911: Angir type måling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7911</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">7911</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeFriksjonsmålingEnumerationType nvdb:TypeFriksjonsmålingOtherType"/>
   </simpleType>
   <simpleType name="TypeFriksjonsmålingEnumerationType">
      <annotation>
         <documentation>7911: Angir type måling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7911</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">7911</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="F">
            <annotation>
               <documentation>10082: Fast slippmåling</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10082</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fast slippmåling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <documentation>10081: Variabel slippmåling</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10081</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Variabel slippmåling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeFriksjonsmålingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
