GML/526.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Friksjonsmåling" substitutionGroup="nvdb:AbstraktFriksjonsmåling" type="nvdb:FriksjonsmålingType">
    <annotation>
      <documentation>526: Måling av vegoverflatens friksjon</documentation>
    </annotation>
  </element>
  <complexType name="FriksjonsmålingType">
    <complexContent>
      <extension base="nvdb:AbstraktFriksjonsmålingType">
        <sequence>
          <element minOccurs="0" name="totalDist" type="integer">
            <annotation>
              <documentation>5732: Total utkjørt distanse i m
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="timestamp" type="integer">
            <annotation>
              <documentation>5697: Tidspunkt for måling i millisekunder.  Gjelder bare fastslippmålinger
Enhet: Millisekund</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="MWCount" type="integer">
            <annotation>
              <documentation>5729: Akkumulerte pulser ifra målehjul.  Gjelder bare variabelslippmålinger</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spor" type="nvdb:SporFriksjonsmålingType">
            <annotation>
              <documentation>11456: Angir i hvilket spor friksjonsmåling er foretatt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="friction" type="double">
            <annotation>
              <documentation>5733: Friksjonskoeffisient [0 - 1.1], maksimum friksjon for hele oppbremsingsperioden. (Der trykket er størst)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="slip_Prosent" type="double">
            <annotation>
              <documentation>5728: Slipprosent (mellom MW/TW Speed)
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="akselerasjon" type="double">
            <annotation>
              <documentation>5730: Vertikal akselerasjon i G
Enhet: G</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="pressure" type="integer">
            <annotation>
              <documentation>5731: Oljetrykk i bar (foran strupe/bremseventil)
Enhet: Bar</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="envTemp" type="double">
            <annotation>
              <documentation>5738: Utetemperatur i grC
Enhet: Grader Celcius</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="oilTemp" type="double">
            <annotation>
              <documentation>5739: Oljetemperatur i grC
Enhet: Grader Celcius</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeFriksjonsmålingType">
            <annotation>
              <documentation>7911: Angir type måling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rosita_id" type="string">
            <annotation>
              <documentation>9116: Gir id for måledatafil i Rosita</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="surfTemp" type="double">
            <annotation>
              <documentation>5740: Overflatetemperatur på vei i grC
Enhet: Grader Celcius</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TWSpeed" type="double">
            <annotation>
              <documentation>5741: Hengerhjulshastighet i km/t
Enhet: Kilometer/time</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="F60" type="double">
            <annotation>
              <documentation>5734: Friksjon ved slipphastighet 60 km/t på målehjulet. Eksempel: Dersom målehjulet starter oppbremsingen ved 80 km/t, er F60 friksjonen når målehjulets hastighet er 20 km/t, altså 60 km/t under det oppbremsingen startet ved.  Gjelder bare variabelslippmålinger</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="MWSpeed" type="double">
            <annotation>
              <documentation>5727: Målehjulshastighet i km/t.  Gjelder bare fastslippmålinger
Enhet: Kilometer/time</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="my_min" type="double">
            <annotation>
              <documentation>5735: Laveste målte friksjon etter maksimum friksjon.  Gjelder bare variabelslippmålinger</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sp" type="double">
            <annotation>
              <documentation>5736: Stigningstall for oppbremsingskurven.  Gjelder bare variabelslippmålinger</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="R" type="double">
            <annotation>
              <documentation>5737: Godhetsfaktor mellom [-1, 1] hvor -1 er best. Skal ligge i praksis mellom [0, -1].  Gjelder bare variabelslippmålinger</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="måleformål" type="nvdb:MåleformålFriksjonsmålingType">
            <annotation>
              <documentation>7912: Angir formål med friksjonsmåling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5026: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FriksjonsmålingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Friksjonsmåling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MåleformålFriksjonsmålingType">
    <annotation>
      <documentation>7912: Angir formål med friksjonsmåling</documentation>
    </annotation>
    <union memberTypes="nvdb:MåleformålFriksjonsmålingEnumerationType nvdb:MåleformålFriksjonsmålingOtherType"/>
  </simpleType>
  <simpleType name="MåleformålFriksjonsmålingEnumerationType">
    <annotation>
      <documentation>7912: Angir formål med friksjonsmåling</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>10086: Generelle målinger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>10085: Forsøk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K">
        <annotation>
          <documentation>10084: Kalibrering</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R1">
        <annotation>
          <documentation>10083: Referanse-1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R2">
        <annotation>
          <documentation>19493: Referanse-2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R3">
        <annotation>
          <documentation>19494: Referanse-3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>18495: Initiell-1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>18496: Initiell-2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>18497: Initiell-3</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålFriksjonsmålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SporFriksjonsmålingType">
    <annotation>
      <documentation>11456: Angir i hvilket spor friksjonsmåling er foretatt.</documentation>
    </annotation>
    <union memberTypes="nvdb:SporFriksjonsmålingEnumerationType nvdb:SporFriksjonsmålingOtherType"/>
  </simpleType>
  <simpleType name="SporFriksjonsmålingEnumerationType">
    <annotation>
      <documentation>11456: Angir i hvilket spor friksjonsmåling er foretatt.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="i">
        <annotation>
          <documentation>19496: Indre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="m">
        <annotation>
          <documentation>19497: Mellom</documentation>
        </annotation>
      </enumeration>
      <enumeration value="y">
        <annotation>
          <documentation>19498: Ytre</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SporFriksjonsmålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeFriksjonsmålingType">
    <annotation>
      <documentation>7911: Angir type måling</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeFriksjonsmålingEnumerationType nvdb:TypeFriksjonsmålingOtherType"/>
  </simpleType>
  <simpleType name="TypeFriksjonsmålingEnumerationType">
    <annotation>
      <documentation>7911: Angir type måling</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="F">
        <annotation>
          <documentation>10082: Fast slippmåling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>10081: Variabel slippmåling</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFriksjonsmålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
