GML/528.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>528: Snitt av veg vinkelrett på vegens midtlinje. Tverrprofilet er inndelt i flater som har bredde og tverrfall.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="DataopprinnelseTverrprofilType">
      <annotation>
         <documentation>4547: Angir hvilke kilde dataene kommer fra.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4547</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dataopprinnelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DataopprinnelseTverrprofilEnumerationType nvdb:DataopprinnelseTverrprofilOtherType"/>
   </simpleType>
   <simpleType name="DataopprinnelseTverrprofilEnumerationType">
      <annotation>
         <documentation>4547: Angir hvilke kilde dataene kommer fra.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4547</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dataopprinnelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="dr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5447</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dekkeregister</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ra">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5449</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Regneark</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5446</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tverr</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5448</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VegReg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DataopprinnelseTverrprofilOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Målemetode_BreddeTverrprofilType">
      <annotation>
         <documentation>4531: Angir metode for måling av bredde. Kodeverk fra TVERR benyttes.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4531</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Målemetode, bredde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Målemetode_BreddeTverrprofilEnumerationType nvdb:Målemetode_BreddeTverrprofilOtherType"/>
   </simpleType>
   <simpleType name="Målemetode_BreddeTverrprofilEnumerationType">
      <annotation>
         <documentation>4531: Angir metode for måling av bredde. Kodeverk fra TVERR benyttes.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4531</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Målemetode, bredde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ak">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5440</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Anleggskontroll</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="as">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5431</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Anslag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="av">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5439</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Automatisk video</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="dp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5444</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Detaljplan</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="dk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5442</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Digitale kart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5441</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ferdigvegskart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5443</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5435</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kikkert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5445</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Laser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5436</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Manuell video</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5434</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Målebånd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5429</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Målehjul</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5432</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stigningsmåler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ss">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5430</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stikkstang</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="uk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5437</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ws">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5433</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Waterstang</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Målemetode_BreddeTverrprofilOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tverrprofil"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:TverrprofilType">
      <annotation>
         <documentation>528: Snitt av veg vinkelrett på vegens midtlinje. Tverrprofilet er inndelt i flater som har bredde og tverrfall.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">528</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tverrprofil</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TverrprofilType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="breddeRekkverksrom_Venstre" type="double">
                  <annotation>
                     <documentation>4545: Angir bredde rekkverksrom , venstre.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4545</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde rekkverksrom, venstre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeGrusskulder_Venstre" type="double">
                  <annotation>
                     <documentation>4544: Angir bredde grusskulder, venstre.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4544</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde grusskulder, venstre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeAsfaltskulder_Venstre" type="double">
                  <annotation>
                     <documentation>4543: Angir bredde asfaltskulder, venstre.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4543</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde asfaltskulder, venstre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeKjørebane_Del16" type="double">
                  <annotation>
                     <documentation>4619: Angir bredde kjørebane, del16 (venstre side).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4619</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del16</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeKjørebane_Del15" type="double">
                  <annotation>
                     <documentation>4618: Angir bredde kjørebane, del15 (venstre side).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4618</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del15</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeKjørebane_Del14" type="double">
                  <annotation>
                     <documentation>4617: Angir bredde kjørebane, del14 (venstre side).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4617</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del14</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeKjørebane_Del13" type="double">
                  <annotation>
                     <documentation>4542: Angir bredde kjørebane, del13 (venstre side).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4542</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del13</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeKjørebane_Del12" type="double">
                  <annotation>
                     <documentation>4541: Angir bredde kjørebane, del12 (venstre side).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4541</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del12</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeKjørebane_Del11" type="double">
                  <annotation>
                     <documentation>4540: Angir bredde kjørebane, del11 (innerst venstre side).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4540</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del11</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="breddeTrafikkdeler_Asfaltskulder_Venstre"
                        type="double">
                  <annotation>
                     <documentation>4607: Angir bredde av trafikkdeler, asfaltskulder, venstre.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4607</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde trafikkdeler, asfaltskulder, venstre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="breddeTrafikkdeler_Grusskulder_Venstre"
                        type="double">
                  <annotation>
                     <documentation>4606: Angir bredde av trafikkdeler, grusskulder, venstre.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4606</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde trafikkdeler, grusskulder, venstre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeTrafikkdelerMidt" type="double">
                  <annotation>
                     <documentation>4539: Angir bredde av trafikkdeler eks. Skuldre mot trafikkdeler.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4539</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde trafikkdeler midt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="breddeTrafikkdeler_Grusskulder_Høyre"
                        type="double">
                  <annotation>
                     <documentation>4605: Angir bredde av trafikkdeler, grusskulder, høyre.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4605</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde trafikkdeler, grusskulder, høyre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="breddeTrafikkdeler_Asfaltskulder_Høyre"
                        type="double">
                  <annotation>
                     <documentation>4604: Angir bredde av trafikkdeler, asfaltskulder, høyre.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4604</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde trafikkdeler, asfaltskulder, høyre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeKjørebane_Del1" type="double">
                  <annotation>
                     <documentation>4536: Angir bredde av kjørebane, del1 (innerst høyre side).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4536</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del1</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeKjørebane_Del2" type="double">
                  <annotation>
                     <documentation>4537: Angir bredde av kjørebane, del2 (høyre side).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4537</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del2</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeKjørebane_Del3" type="double">
                  <annotation>
                     <documentation>4538: Angir bredde av kjørebane, del3 (høyre side).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4538</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del3</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeKjørebane_Del4" type="double">
                  <annotation>
                     <documentation>4614: Angir bredde av kjørebane, del4 (høyre side).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4614</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del4</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeKjørebane_Del5" type="double">
                  <annotation>
                     <documentation>4615: Angir bredde av kjørebane, del5 (høyre side).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4615</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del5</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeKjørebane_Del6" type="double">
                  <annotation>
                     <documentation>4616: Angir bredde av kjørebane, del6 (høyre side).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4616</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del6</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeDekke_Total" type="double">
                  <annotation>
                     <documentation>4603: Angir total dekkebredde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4603</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde dekke, total</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeKjørebane_Total" type="double">
                  <annotation>
                     <documentation>4602: Angir total kjørebanebredde (mellom hvitstriper).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4602</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, total</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeAsfaltskulder_Høyre" type="double">
                  <annotation>
                     <documentation>4535: Angir bredde av asfaltskulder, høyre.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4535</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde asfaltskulder, høyre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeGrusskulder_Høyre" type="double">
                  <annotation>
                     <documentation>4534: Angir bredde av grusskulder, høyre.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4534</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde grusskulder, høyre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeRekkverksrom_Høyre" type="double">
                  <annotation>
                     <documentation>4533: Angir bredde av rekkverksrom, høyre.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4533</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde rekkverksrom, høyre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="målemetode_Bredde">
                  <annotation>
                     <documentation>4531: Angir metode for måling av bredde. Kodeverk fra TVERR benyttes.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4531</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Målemetode, bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="registreringsdato" type="date">
                  <annotation>
                     <documentation>4546: Angir dato for registrering av tverrprofil.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4546</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Registreringsdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="dataopprinnelse"
                        type="nvdb:DataopprinnelseTverrprofilType">
                  <annotation>
                     <documentation>4547: Angir hvilke kilde dataene kommer fra.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4547</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dataopprinnelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>5028: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5028</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TverrprofilPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tverrprofil"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
