GML/528.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.27">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DataopprinnelseType">
    <annotation>
      <documentation>4547: Angir hvilke kilde dataene kommer fra</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4547</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4547</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dataopprinnelse</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DataopprinnelseEnumerationType nvdb:DataopprinnelseOtherType"/>
  </simpleType>
  <simpleType name="DataopprinnelseEnumerationType">
    <annotation>
      <documentation>4547: Angir hvilke kilde dataene kommer fra</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4547</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4547</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dataopprinnelse</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tverr">
        <annotation>
          <documentation>5446: Tverr</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5446</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tverr</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dekkeregister">
        <annotation>
          <documentation>5447: Dekkeregister</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5447</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dekkeregister</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VegReg">
        <annotation>
          <documentation>5448: VegReg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5448</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">VegReg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Regneark">
        <annotation>
          <documentation>5449: Regneark</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5449</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Regneark</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DataopprinnelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Målemetode_BreddeType">
    <annotation>
      <documentation>4531: Angir metode for måling av bredde.  Kodeverk fra TVERR benyttes</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4531</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4531</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Målemetode, bredde</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Målemetode_BreddeEnumerationType nvdb:Målemetode_BreddeOtherType"/>
  </simpleType>
  <simpleType name="Målemetode_BreddeEnumerationType">
    <annotation>
      <documentation>4531: Angir metode for måling av bredde.  Kodeverk fra TVERR benyttes</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4531</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4531</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Målemetode, bredde</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Målehjul">
        <annotation>
          <documentation>5429: Målehjul</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5429</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Målehjul</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stikkstang">
        <annotation>
          <documentation>5430: Stikkstang</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5430</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stikkstang</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Anslag">
        <annotation>
          <documentation>5431: Anslag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5431</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Anslag</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stigningsmåler">
        <annotation>
          <documentation>5432: Stigningsmåler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5432</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stigningsmåler</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Waterstang">
        <annotation>
          <documentation>5433: Waterstang</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5433</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Waterstang</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Målebånd">
        <annotation>
          <documentation>5434: Målebånd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5434</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Målebånd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kikkert">
        <annotation>
          <documentation>5435: Kikkert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5435</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kikkert</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Manuell video">
        <annotation>
          <documentation>5436: Manuell video</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5436</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Manuell video</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>5437: Ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5437</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ukjent</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Automatisk video">
        <annotation>
          <documentation>5439: Automatisk video</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5439</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Automatisk video</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Anleggskontroll">
        <annotation>
          <documentation>5440: Anleggskontroll</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5440</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Anleggskontroll</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferdigvegskart">
        <annotation>
          <documentation>5441: Ferdigvegskart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5441</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ferdigvegskart</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Digitale kart">
        <annotation>
          <documentation>5442: Digitale kart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5442</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Digitale kart</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kart">
        <annotation>
          <documentation>5443: Kart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5443</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kart</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Detaljplan">
        <annotation>
          <documentation>5444: Detaljplan</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5444</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Detaljplan</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Laser">
        <annotation>
          <documentation>5445: Laser</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5445</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Laser</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Målemetode_BreddeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tverrprofil" substitutionGroup="nvdb:AbstraktTverrprofil" type="nvdb:TverrprofilType">
    <annotation>
      <documentation>528: Snitt av veg vinkelrett på vegens midtlinje</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">528</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">528</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tverrprofil</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TverrprofilType">
    <complexContent>
      <extension base="nvdb:AbstraktTverrprofilType">
        <sequence>
          <element minOccurs="0" name="breddeRekkverksrom_Venstre" type="double">
            <annotation>
              <documentation>4545: Angir bredde rekkverksrom , venstre</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4545</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde rekkverksrom, venstre</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeGrusskulder_Venstre" type="double">
            <annotation>
              <documentation>4544: Angir bredde grusskulder, venstre</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4544</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde grusskulder, venstre</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeAsfaltskulder_Venstre" type="double">
            <annotation>
              <documentation>4543: Angir bredde asfaltskulder, venstre</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4543</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde asfaltskulder, venstre</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del16" type="double">
            <annotation>
              <documentation>4619: Angir bredde kjørebane, del16 (venstre side)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4619</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde kjørebane, del16</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del15" type="double">
            <annotation>
              <documentation>4618: Angir bredde kjørebane, del15 (venstre side)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4618</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde kjørebane, del15</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del14" type="double">
            <annotation>
              <documentation>4617: Angir bredde kjørebane, del14 (venstre side)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4617</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde kjørebane, del14</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del13" type="double">
            <annotation>
              <documentation>4542: Angir bredde kjørebane, del13 (venstre side)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4542</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde kjørebane, del13</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del12" type="double">
            <annotation>
              <documentation>4541: Angir bredde kjørebane, del12 (venstre side)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4541</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde kjørebane, del12</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del11" type="double">
            <annotation>
              <documentation>4540: Angir bredde kjørebane, del11 (innerst venstre side)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4540</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde kjørebane, del11</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdeler_Asfaltskulder_Venstre" type="double">
            <annotation>
              <documentation>4607: Angir bredde av trafikkdeler, asfaltskulder, venstre</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4607</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde trafikkdeler, asfaltskulder, venstre</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdeler_Grusskulder_Venstre" type="double">
            <annotation>
              <documentation>4606: Angir bredde av trafikkdeler, grusskulder, venstre</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4606</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde trafikkdeler, grusskulder, venstre</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdelerMidt" type="double">
            <annotation>
              <documentation>4539: Angir bredde av trafikkdeler eks. Skuldre mot trafikkdeler</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4539</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde trafikkdeler midt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdeler_Grusskulder_Høyre" type="double">
            <annotation>
              <documentation>4605: Angir bredde av trafikkdeler, grusskulder, høyre</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4605</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde trafikkdeler, grusskulder, høyre</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdeler_Asfaltskulder_Høyre" type="double">
            <annotation>
              <documentation>4604: Angir bredde av trafikkdeler, asfaltskulder, høyre</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4604</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde trafikkdeler, asfaltskulder, høyre</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del1" type="double">
            <annotation>
              <documentation>4536: Angir bredde av kjørebane, del1 (innerst høyre side)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4536</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde kjørebane, del1</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del2" type="double">
            <annotation>
              <documentation>4537: Angir bredde av kjørebane, del2 (høyre side)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4537</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde kjørebane, del2</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del3" type="double">
            <annotation>
              <documentation>4538: Angir bredde av kjørebane, del3 (høyre side)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4538</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde kjørebane, del3</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del4" type="double">
            <annotation>
              <documentation>4614: Angir bredde av kjørebane, del4 (høyre side)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4614</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde kjørebane, del4</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del5" type="double">
            <annotation>
              <documentation>4615: Angir bredde av kjørebane, del5 (høyre side)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4615</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde kjørebane, del5</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del6" type="double">
            <annotation>
              <documentation>4616: Angir bredde av kjørebane, del6 (høyre side)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4616</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde kjørebane, del6</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeDekke_Total" type="double">
            <annotation>
              <documentation>4603: Angir total dekkebredde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4603</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde dekke, total</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Total" type="double">
            <annotation>
              <documentation>4602: Angir total kjørebanebredde (mellom hvitstriper)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4602</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde kjørebane, total</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeAsfaltskulder_Høyre" type="double">
            <annotation>
              <documentation>4535: Angir bredde av asfaltskulder, høyre</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4535</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde asfaltskulder, høyre</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeGrusskulder_Høyre" type="double">
            <annotation>
              <documentation>4534: Angir bredde av grusskulder, høyre</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4534</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde grusskulder, høyre</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeRekkverksrom_Høyre" type="double">
            <annotation>
              <documentation>4533: Angir bredde av rekkverksrom, høyre</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4533</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde rekkverksrom, høyre</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="målemetode_Bredde" type="nvdb:Målemetode_BreddeType">
            <annotation>
              <documentation>4531: Angir metode for måling av bredde.  Kodeverk fra TVERR benyttes</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4531</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Målemetode, bredde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>4546: Angir dato for registrering av tverrprofil</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4546</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Registreringsdato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dataopprinnelse" type="nvdb:DataopprinnelseType">
            <annotation>
              <documentation>4547: Angir hvilke kilde dataene kommer fra</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4547</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dataopprinnelse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5028: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5028</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8928: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8928</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, hjelpelinje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TverrprofilPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tverrprofil"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
