GML/528.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DataopprinnelseType">
    <annotation>
      <documentation>4547: Angir hvilke kilde dataene kommer fra</documentation>
    </annotation>
    <union memberTypes="nvdb:DataopprinnelseEnumerationType nvdb:DataopprinnelseOtherType"/>
  </simpleType>
  <simpleType name="DataopprinnelseEnumerationType">
    <annotation>
      <documentation>4547: Angir hvilke kilde dataene kommer fra</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="tverr">
        <annotation>
          <documentation>5446: Tverr</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dekkeregister">
        <annotation>
          <documentation>5447: Dekkeregister</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegReg">
        <annotation>
          <documentation>5448: VegReg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="regneark">
        <annotation>
          <documentation>5449: Regneark</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DataopprinnelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Målemetode_BreddeType">
    <annotation>
      <documentation>4531: Angir metode for måling av bredde.  Kodeverk fra TVERR benyttes</documentation>
    </annotation>
    <union memberTypes="nvdb:Målemetode_BreddeEnumerationType nvdb:Målemetode_BreddeOtherType"/>
  </simpleType>
  <simpleType name="Målemetode_BreddeEnumerationType">
    <annotation>
      <documentation>4531: Angir metode for måling av bredde.  Kodeverk fra TVERR benyttes</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="målehjul">
        <annotation>
          <documentation>5429: Målehjul</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stikkstang">
        <annotation>
          <documentation>5430: Stikkstang</documentation>
        </annotation>
      </enumeration>
      <enumeration value="anslag">
        <annotation>
          <documentation>5431: Anslag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stigningsmåler">
        <annotation>
          <documentation>5432: Stigningsmåler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="waterstang">
        <annotation>
          <documentation>5433: Waterstang</documentation>
        </annotation>
      </enumeration>
      <enumeration value="målebånd">
        <annotation>
          <documentation>5434: Målebånd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kikkert">
        <annotation>
          <documentation>5435: Kikkert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="manuellVideo">
        <annotation>
          <documentation>5436: Manuell video</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>5437: Ukjent</documentation>
        </annotation>
      </enumeration>
      <enumeration value="automatiskVideo">
        <annotation>
          <documentation>5439: Automatisk video</documentation>
        </annotation>
      </enumeration>
      <enumeration value="anleggskontroll">
        <annotation>
          <documentation>5440: Anleggskontroll</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ferdigvegskart">
        <annotation>
          <documentation>5441: Ferdigvegskart</documentation>
        </annotation>
      </enumeration>
      <enumeration value="digitaleKart">
        <annotation>
          <documentation>5442: Digitale kart</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kart">
        <annotation>
          <documentation>5443: Kart</documentation>
        </annotation>
      </enumeration>
      <enumeration value="detaljplan">
        <annotation>
          <documentation>5444: Detaljplan</documentation>
        </annotation>
      </enumeration>
      <enumeration value="laser">
        <annotation>
          <documentation>5445: Laser</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Målemetode_BreddeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tverrprofil" substitutionGroup="nvdb:AbstraktTverrprofil" type="nvdb:TverrprofilType">
    <annotation>
      <documentation>528: Snitt av veg vinkelrett på vegens midtlinje</documentation>
    </annotation>
  </element>
  <complexType name="TverrprofilType">
    <complexContent>
      <extension base="nvdb:AbstraktTverrprofilType">
        <sequence>
          <element minOccurs="0" name="breddeRekkverksrom_Venstre" type="double">
            <annotation>
              <documentation>4545: Angir bredde rekkverksrom , venstre
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeGrusskulder_Venstre" type="double">
            <annotation>
              <documentation>4544: Angir bredde grusskulder, venstre
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeAsfaltskulder_Venstre" type="double">
            <annotation>
              <documentation>4543: Angir bredde asfaltskulder, venstre
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del16" type="double">
            <annotation>
              <documentation>4619: Angir bredde kjørebane, del16 (venstre side)
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del15" type="double">
            <annotation>
              <documentation>4618: Angir bredde kjørebane, del15 (venstre side)
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del14" type="double">
            <annotation>
              <documentation>4617: Angir bredde kjørebane, del14 (venstre side)
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del13" type="double">
            <annotation>
              <documentation>4542: Angir bredde kjørebane, del13 (venstre side)
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del12" type="double">
            <annotation>
              <documentation>4541: Angir bredde kjørebane, del12 (venstre side)
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del11" type="double">
            <annotation>
              <documentation>4540: Angir bredde kjørebane, del11 (innerst venstre side)
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdeler_Asfaltskulder_Venstre" type="double">
            <annotation>
              <documentation>4607: Angir bredde av trafikkdeler, asfaltskulder, venstre
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdeler_Grusskulder_Venstre" type="double">
            <annotation>
              <documentation>4606: Angir bredde av trafikkdeler, grusskulder, venstre
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdelerMidt" type="double">
            <annotation>
              <documentation>4539: Angir bredde av trafikkdeler eks. Skuldre mot trafikkdeler
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdeler_Grusskulder_Høyre" type="double">
            <annotation>
              <documentation>4605: Angir bredde av trafikkdeler, grusskulder, høyre
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdeler_Asfaltskulder_Høyre" type="double">
            <annotation>
              <documentation>4604: Angir bredde av trafikkdeler, asfaltskulder, høyre
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del1" type="double">
            <annotation>
              <documentation>4536: Angir bredde av kjørebane, del1 (innerst høyre side)
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del2" type="double">
            <annotation>
              <documentation>4537: Angir bredde av kjørebane, del2 (høyre side)
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del3" type="double">
            <annotation>
              <documentation>4538: Angir bredde av kjørebane, del3 (høyre side)
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del4" type="double">
            <annotation>
              <documentation>4614: Angir bredde av kjørebane, del4 (høyre side)
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del5" type="double">
            <annotation>
              <documentation>4615: Angir bredde av kjørebane, del5 (høyre side)
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del6" type="double">
            <annotation>
              <documentation>4616: Angir bredde av kjørebane, del6 (høyre side)
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeDekke_Total" type="double">
            <annotation>
              <documentation>4603: Angir total dekkebredde
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Total" type="double">
            <annotation>
              <documentation>4602: Angir total kjørebanebredde (mellom hvitstriper)
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeAsfaltskulder_Høyre" type="double">
            <annotation>
              <documentation>4535: Angir bredde av asfaltskulder, høyre
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeGrusskulder_Høyre" type="double">
            <annotation>
              <documentation>4534: Angir bredde av grusskulder, høyre
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeRekkverksrom_Høyre" type="double">
            <annotation>
              <documentation>4533: Angir bredde av rekkverksrom, høyre
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="målemetode_Bredde" type="nvdb:Målemetode_BreddeType">
            <annotation>
              <documentation>4531: Angir metode for måling av bredde.  Kodeverk fra TVERR benyttes</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>4546: Angir dato for registrering av tverrprofil</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dataopprinnelse" type="nvdb:DataopprinnelseType">
            <annotation>
              <documentation>4547: Angir hvilke kilde dataene kommer fra</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5028: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8928: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TverrprofilPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tverrprofil"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
