GML/528.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DataopprinnelseType">
    <annotation>
      <documentation>4547: Angir hvilke kilde dataene kommer fra.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4547</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4547</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dataopprinnelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DataopprinnelseEnumerationType nvdb:DataopprinnelseOtherType"/>
  </simpleType>
  <simpleType name="DataopprinnelseEnumerationType">
    <annotation>
      <documentation>4547: Angir hvilke kilde dataene kommer fra.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4547</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4547</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dataopprinnelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tverr">
        <annotation>
          <documentation>5446: Tverr</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5446</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tverr</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dekkeregister">
        <annotation>
          <documentation>5447: Dekkeregister</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5447</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dekkeregister</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VegReg">
        <annotation>
          <documentation>5448: VegReg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5448</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VegReg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Regneark">
        <annotation>
          <documentation>5449: Regneark</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5449</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Regneark</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DataopprinnelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Målemetode_BreddeType">
    <annotation>
      <documentation>4531: Angir metode for måling av bredde. Kodeverk fra TVERR benyttes.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4531</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4531</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Målemetode, bredde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Målemetode_BreddeEnumerationType nvdb:Målemetode_BreddeOtherType"/>
  </simpleType>
  <simpleType name="Målemetode_BreddeEnumerationType">
    <annotation>
      <documentation>4531: Angir metode for måling av bredde. Kodeverk fra TVERR benyttes.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4531</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4531</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Målemetode, bredde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Målehjul">
        <annotation>
          <documentation>5429: Målehjul</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5429</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Målehjul</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stikkstang">
        <annotation>
          <documentation>5430: Stikkstang</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5430</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stikkstang</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Anslag">
        <annotation>
          <documentation>5431: Anslag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5431</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Anslag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stigningsmåler">
        <annotation>
          <documentation>5432: Stigningsmåler</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5432</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stigningsmåler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Waterstang">
        <annotation>
          <documentation>5433: Waterstang</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5433</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Waterstang</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Målebånd">
        <annotation>
          <documentation>5434: Målebånd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5434</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Målebånd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kikkert">
        <annotation>
          <documentation>5435: Kikkert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5435</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kikkert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Manuell video">
        <annotation>
          <documentation>5436: Manuell video</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5436</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Manuell video</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>5437: Ukjent</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5437</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Automatisk video">
        <annotation>
          <documentation>5439: Automatisk video</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5439</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Automatisk video</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Anleggskontroll">
        <annotation>
          <documentation>5440: Anleggskontroll</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5440</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Anleggskontroll</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferdigvegskart">
        <annotation>
          <documentation>5441: Ferdigvegskart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5441</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferdigvegskart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Digitale kart">
        <annotation>
          <documentation>5442: Digitale kart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5442</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Digitale kart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kart">
        <annotation>
          <documentation>5443: Kart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5443</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Detaljplan">
        <annotation>
          <documentation>5444: Detaljplan</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5444</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Detaljplan</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Laser">
        <annotation>
          <documentation>5445: Laser</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5445</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Laser</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Målemetode_BreddeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tverrprofil" substitutionGroup="nvdb:AbstraktTverrprofil" type="nvdb:TverrprofilType">
    <annotation>
      <documentation>528: Snitt av veg vinkelrett på vegens midtlinje. Tverrprofilet er inndelt i flater som har bredde og tverrfall.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">528</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">528</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tverrprofil</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TverrprofilType">
    <complexContent>
      <extension base="nvdb:AbstraktTverrprofilType">
        <sequence>
          <element minOccurs="0" name="breddeRekkverksrom_Venstre" type="double">
            <annotation>
              <documentation>4545: Angir bredde rekkverksrom , venstre.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4545</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde rekkverksrom, venstre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeGrusskulder_Venstre" type="double">
            <annotation>
              <documentation>4544: Angir bredde grusskulder, venstre.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4544</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde grusskulder, venstre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeAsfaltskulder_Venstre" type="double">
            <annotation>
              <documentation>4543: Angir bredde asfaltskulder, venstre.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4543</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde asfaltskulder, venstre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del16" type="double">
            <annotation>
              <documentation>4619: Angir bredde kjørebane, del16 (venstre side).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4619</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del16</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del15" type="double">
            <annotation>
              <documentation>4618: Angir bredde kjørebane, del15 (venstre side).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4618</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del15</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del14" type="double">
            <annotation>
              <documentation>4617: Angir bredde kjørebane, del14 (venstre side).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4617</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del14</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del13" type="double">
            <annotation>
              <documentation>4542: Angir bredde kjørebane, del13 (venstre side).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4542</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del13</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del12" type="double">
            <annotation>
              <documentation>4541: Angir bredde kjørebane, del12 (venstre side).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4541</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del12</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del11" type="double">
            <annotation>
              <documentation>4540: Angir bredde kjørebane, del11 (innerst venstre side).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4540</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del11</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdeler_Asfaltskulder_Venstre" type="double">
            <annotation>
              <documentation>4607: Angir bredde av trafikkdeler, asfaltskulder, venstre.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4607</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde trafikkdeler, asfaltskulder, venstre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdeler_Grusskulder_Venstre" type="double">
            <annotation>
              <documentation>4606: Angir bredde av trafikkdeler, grusskulder, venstre.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4606</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde trafikkdeler, grusskulder, venstre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdelerMidt" type="double">
            <annotation>
              <documentation>4539: Angir bredde av trafikkdeler eks. Skuldre mot trafikkdeler.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4539</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde trafikkdeler midt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdeler_Grusskulder_Høyre" type="double">
            <annotation>
              <documentation>4605: Angir bredde av trafikkdeler, grusskulder, høyre.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4605</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde trafikkdeler, grusskulder, høyre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdeler_Asfaltskulder_Høyre" type="double">
            <annotation>
              <documentation>4604: Angir bredde av trafikkdeler, asfaltskulder, høyre.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4604</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde trafikkdeler, asfaltskulder, høyre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del1" type="double">
            <annotation>
              <documentation>4536: Angir bredde av kjørebane, del1 (innerst høyre side).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4536</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del1</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del2" type="double">
            <annotation>
              <documentation>4537: Angir bredde av kjørebane, del2 (høyre side).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4537</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del2</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del3" type="double">
            <annotation>
              <documentation>4538: Angir bredde av kjørebane, del3 (høyre side).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4538</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del3</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del4" type="double">
            <annotation>
              <documentation>4614: Angir bredde av kjørebane, del4 (høyre side).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4614</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del4</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del5" type="double">
            <annotation>
              <documentation>4615: Angir bredde av kjørebane, del5 (høyre side).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4615</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del5</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del6" type="double">
            <annotation>
              <documentation>4616: Angir bredde av kjørebane, del6 (høyre side).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4616</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, del6</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeDekke_Total" type="double">
            <annotation>
              <documentation>4603: Angir total dekkebredde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4603</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde dekke, total</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Total" type="double">
            <annotation>
              <documentation>4602: Angir total kjørebanebredde (mellom hvitstriper).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4602</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde kjørebane, total</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeAsfaltskulder_Høyre" type="double">
            <annotation>
              <documentation>4535: Angir bredde av asfaltskulder, høyre.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4535</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde asfaltskulder, høyre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeGrusskulder_Høyre" type="double">
            <annotation>
              <documentation>4534: Angir bredde av grusskulder, høyre.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4534</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde grusskulder, høyre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeRekkverksrom_Høyre" type="double">
            <annotation>
              <documentation>4533: Angir bredde av rekkverksrom, høyre.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4533</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde rekkverksrom, høyre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="målemetode_Bredde" type="nvdb:Målemetode_BreddeType">
            <annotation>
              <documentation>4531: Angir metode for måling av bredde. Kodeverk fra TVERR benyttes.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4531</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Målemetode, bredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>4546: Angir dato for registrering av tverrprofil.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4546</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Registreringsdato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dataopprinnelse" type="nvdb:DataopprinnelseType">
            <annotation>
              <documentation>4547: Angir hvilke kilde dataene kommer fra.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4547</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dataopprinnelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5028: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5028</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8928: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8928</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TverrprofilPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tverrprofil"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
