GML/529.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="SkadetypeTilstandSkade_SkulderKantType">
    <annotation>
      <documentation>4550: Angir hvilken type skade det er tale om</documentation>
    </annotation>
    <union memberTypes="nvdb:SkadetypeTilstandSkade_SkulderKantEnumerationType nvdb:SkadetypeTilstandSkade_SkulderKantOtherType"/>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkade_SkulderKantEnumerationType">
    <annotation>
      <documentation>4550: Angir hvilken type skade det er tale om</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="tilgroing">
        <annotation>
          <documentation>5455: Tilgroing</documentation>
        </annotation>
      </enumeration>
      <enumeration value="løsmasser">
        <annotation>
          <documentation>5456: Løsmasser</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkade_SkulderKantOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkade_SkulderKant" substitutionGroup="nvdb:AbstraktTilstandSkade_SkulderKant" type="nvdb:TilstandSkade_SkulderKantType">
    <annotation>
      <documentation>529: Angir tilstand/skade knyttet til vegens skulder/vegkant.  Dette er særlig med tanke på tilgroing oppsamling av løsmasse.</documentation>
    </annotation>
  </element>
  <complexType name="TilstandSkade_SkulderKantType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkade_SkulderKantType">
        <sequence>
          <element minOccurs="0" name="tilstand" type="nvdb:TilstandTilstandSkade_SkulderKantType">
            <annotation>
              <documentation>4552: Angir tilstand til vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skadetype" type="nvdb:SkadetypeTilstandSkade_SkulderKantType">
            <annotation>
              <documentation>4550: Angir hvilken type skade det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>8781: Angir dato for når kontroll ble foretatt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltak" type="nvdb:TiltakTilstandSkade_SkulderKantType">
            <annotation>
              <documentation>4551: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltakNår" type="string">
            <annotation>
              <documentation>4555: Angir når tiltak bør gjennomføres innen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>7857: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5029: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegskulderVegkant" type="nvdb:AbstraktVegskulderVegkantPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkade_SkulderKantPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkade_SkulderKant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilstandTilstandSkade_SkulderKantType">
    <annotation>
      <documentation>4552: Angir tilstand til vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:TilstandTilstandSkade_SkulderKantEnumerationType nvdb:TilstandTilstandSkade_SkulderKantOtherType"/>
  </simpleType>
  <simpleType name="TilstandTilstandSkade_SkulderKantEnumerationType">
    <annotation>
      <documentation>4552: Angir tilstand til vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ok">
        <annotation>
          <documentation>5452: Ok</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mangler">
        <annotation>
          <documentation>5454: Mangler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tiltaksbehov">
        <annotation>
          <documentation>5453: Tiltaksbehov</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandTilstandSkade_SkulderKantOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TiltakTilstandSkade_SkulderKantType">
    <annotation>
      <documentation>4551: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot</documentation>
    </annotation>
    <union memberTypes="nvdb:TiltakTilstandSkade_SkulderKantEnumerationType nvdb:TiltakTilstandSkade_SkulderKantOtherType"/>
  </simpleType>
  <simpleType name="TiltakTilstandSkade_SkulderKantEnumerationType">
    <annotation>
      <documentation>4551: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="skulderrensk">
        <annotation>
          <documentation>5457: Skulderrensk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skulderrensk_EtfGrøftrensk">
        <annotation>
          <documentation>5458: Skulderrensk, etf. Grøftrensk</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltakTilstandSkade_SkulderKantOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
