GML/532.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>532: Veg, hp, meter-fra/til Etc (Lovlig del av vegnettet).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="Brkode1VegreferanseType">
      <annotation>
         <documentation>4576: Angir bruddkode 1.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4576</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brkode1</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Brkode1VegreferanseEnumerationType nvdb:Brkode1VegreferanseOtherType"/>
   </simpleType>
   <simpleType name="Brkode1VegreferanseEnumerationType">
      <annotation>
         <documentation>4576: Angir bruddkode 1.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4576</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brkode1</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5519</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5524</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slutt kmbrudd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5521</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Start envegmed</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5522</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Start envegmot</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5775</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Start hovedparsell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Brkode1VegreferanseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Brkode2VegreferanseType">
      <annotation>
         <documentation>4577: Angir bruddkode 2.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4577</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brkode2</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Brkode2VegreferanseEnumerationType nvdb:Brkode2VegreferanseOtherType"/>
   </simpleType>
   <simpleType name="Brkode2VegreferanseEnumerationType">
      <annotation>
         <documentation>4577: Angir bruddkode 2.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4577</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brkode2</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5523</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5525</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slutt envegmed</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5526</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slutt envegmot</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5527</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slutt hovedparsell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <documentation>5528: Slutt veg/delstrekning (Fysisk).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5528</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slutt veg/delstrekn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5520</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Start kmbrudd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Brkode2VegreferanseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EnvegsreguleringVegreferanseType">
      <annotation>
         <documentation>4707: Angir om det er envegsregulert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4707</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Envegsregulering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EnvegsreguleringVegreferanseEnumerationType nvdb:EnvegsreguleringVegreferanseOtherType"/>
   </simpleType>
   <simpleType name="EnvegsreguleringVegreferanseEnumerationType">
      <annotation>
         <documentation>4707: Angir om det er envegsregulert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4707</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Envegsregulering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5778</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5776</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enveg Med</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5777</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enveg Mot</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EnvegsreguleringVegreferanseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FellesvegkodeVegreferanseType">
      <annotation>
         <documentation>4573: Angir fellesvegkode.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4573</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fellesvegkode</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FellesvegkodeVegreferanseEnumerationType nvdb:FellesvegkodeVegreferanseOtherType"/>
   </simpleType>
   <simpleType name="FellesvegkodeVegreferanseEnumerationType">
      <annotation>
         <documentation>4573: Angir fellesvegkode.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4573</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fellesvegkode</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5510</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FellesvegkodeVegreferanseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KonnekteringslenkeVegreferanseType">
      <annotation>
         <documentation>4575: En lenke i vegnettet som eksisterer kun for å knytte sammen andre lenker. For eksempel vil dette være kobling mellom to veger der kryssområdet fysisk hører til den ene vegen, forlengelsen av et svingefelt som beskriver en kjørebevegelse midt i et kryss, eller kobling av en gangveg til kjørevegen der det er naturlig at veglenkene skal være koblet sammen for å danne et nettverk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4575</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Konnekteringslenke</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KonnekteringslenkeVegreferanseEnumerationType nvdb:KonnekteringslenkeVegreferanseOtherType"/>
   </simpleType>
   <simpleType name="KonnekteringslenkeVegreferanseEnumerationType">
      <annotation>
         <documentation>4575: En lenke i vegnettet som eksisterer kun for å knytte sammen andre lenker. For eksempel vil dette være kobling mellom to veger der kryssområdet fysisk hører til den ene vegen, forlengelsen av et svingefelt som beskriver en kjørebevegelse midt i et kryss, eller kobling av en gangveg til kjørevegen der det er naturlig at veglenkene skal være koblet sammen for å danne et nettverk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4575</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Konnekteringslenke</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5517</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5518</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Konnekteringslenke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KonnekteringslenkeVegreferanseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VegkategoriVegreferanseType">
      <annotation>
         <documentation>4566: Angir vegkategori.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4566</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegkategori</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VegkategoriVegreferanseEnumerationType nvdb:VegkategoriVegreferanseOtherType"/>
   </simpleType>
   <simpleType name="VegkategoriVegreferanseEnumerationType">
      <annotation>
         <documentation>4566: Angir vegkategori.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4566</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegkategori</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="E">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5492</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Europaveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5494</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkesveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5495</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommunal veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5496</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5493</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Riksveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5497</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skogsbilveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VegkategoriVegreferanseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegreferanse"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:VegreferanseType">
      <annotation>
         <documentation>532: Veg, hp, meter-fra/til Etc (Lovlig del av vegnettet).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">532</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegreferanse</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VegreferanseType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="fylkesnummer" type="integer">
                  <annotation>
                     <documentation>4591: Angir fylkesnummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4591</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fylkesnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kommunenummer" type="integer">
                  <annotation>
                     <documentation>4592: Angir kommunenummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4592</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kommunenummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vegkategori" type="nvdb:VegkategoriVegreferanseType">
                  <annotation>
                     <documentation>4566: Angir vegkategori.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4566</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegkategori</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vegstatusOver" type="nvdb:VegstatusOverVegreferanseType">
                  <annotation>
                     <documentation>4570: Angir overordnet vegstatus.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4570</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">VegstatusOver</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vegnummer" type="integer">
                  <annotation>
                     <documentation>4568: Angir vegnummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4568</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="hovedparsell" type="integer">
                  <annotation>
                     <documentation>4569: Angir Hovedparsell.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4569</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Hovedparsell</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vegstatus" type="nvdb:VegstatusVegreferanseType">
                  <annotation>
                     <documentation>4567: Angir vegstatus.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4567</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegstatus</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="fraMeter" type="integer">
                  <annotation>
                     <documentation>4571: Frameter innenfor hp-en.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4571</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">FraMeter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tilMeter" type="integer">
                  <annotation>
                     <documentation>4572: Tilmeter innenfor hp-en.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4572</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TilMeter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="brkode1" type="nvdb:Brkode1VegreferanseType">
                  <annotation>
                     <documentation>4576: Angir bruddkode 1.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4576</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Brkode1</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="brkode2" type="nvdb:Brkode2VegreferanseType">
                  <annotation>
                     <documentation>4577: Angir bruddkode 2.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4577</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Brkode2</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vegtype" type="nvdb:VegtypeVegreferanseType">
                  <annotation>
                     <documentation>4574: Angir vegtype.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4574</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="fellesvegkode" type="nvdb:FellesvegkodeVegreferanseType">
                  <annotation>
                     <documentation>4573: Angir fellesvegkode.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4573</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fellesvegkode</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="envegsregulering" type="nvdb:EnvegsreguleringVegreferanseType">
                  <annotation>
                     <documentation>4707: Angir om det er envegsregulert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4707</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Envegsregulering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="konnekteringslenke"
                        type="nvdb:KonnekteringslenkeVegreferanseType">
                  <annotation>
                     <documentation>4575: En lenke i vegnettet som eksisterer kun for å knytte sammen andre lenker. For eksempel vil dette være kobling mellom to veger der kryssområdet fysisk hører til den ene vegen, forlengelsen av et svingefelt som beskriver en kjørebevegelse midt i et kryss, eller kobling av en gangveg til kjørevegen der det er naturlig at veglenkene skal være koblet sammen for å danne et nettverk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4575</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Konnekteringslenke</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="måledato" type="date">
                  <annotation>
                     <documentation>4578: Angir måledato.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4578</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Måledato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VegreferansePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegreferanse"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VegstatusOverVegreferanseType">
      <annotation>
         <documentation>4570: Angir overordnet vegstatus.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4570</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VegstatusOver</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VegstatusOverVegreferanseEnumerationType nvdb:VegstatusOverVegreferanseOtherType"/>
   </simpleType>
   <simpleType name="VegstatusOverVegreferanseEnumerationType">
      <annotation>
         <documentation>4570: Angir overordnet vegstatus.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4570</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VegstatusOver</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>7099: Veg under bygning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7099</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Anleggsveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <documentation>13708: Beredskapsveg, ikke åpen for allmenn ferdsel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13708</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Beredskapsveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <documentation>5506: Veg som er del av operativt vegnett (tatt opp til vedlikehold).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5506</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Eksisterende veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <documentation>12161: Gang-/sykkelveg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12161</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gang-/sykkelveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="H">
            <annotation>
               <documentation>12162: Gang-/sykkelveg anlegg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12162</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gang-/sykkelveg anlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <documentation>5507: Midlertidig status inntil ny kategori er bestemt for vegstrekningen. Denne skal brukes i de tilfeller hvor det formelt ikke er avklart hvem som skal forvalte vegstrekningen, og med det hvilken kategori strekningen skal ha.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5507</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Midlertidig status bilveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>12984: Midlertidig status inntil ny kategori er bestemt for gang- og sykkelvegstrekningen. Denne skal brukes i de tilfeller hvor det formelt ikke er avklart hvem som skal forvalte strekningen, og med det hvilken kategori strekningen skal ha.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12984</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Midlertidig status gang-/sykkelveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Q">
            <annotation>
               <documentation>12985: Planlagt gang- og sykkelveg, vedtatt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12985</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Planlagt gang-/sykkelveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <documentation>7100: Planlagt veg vedtatt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7100</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Planlagt veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="X">
            <annotation>
               <documentation>5508: Rømningstunnel, ikke åpen for allmenn ferdsel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5508</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rømningstunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="M">
            <annotation>
               <documentation>5509: Serviceveg, normalt sett ikke åpen for allmenn ferdsel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5509</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Serviceveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VegstatusOverVegreferanseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VegstatusVegreferanseType">
      <annotation>
         <documentation>4567: Angir vegstatus.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4567</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegstatus</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VegstatusVegreferanseEnumerationType nvdb:VegstatusVegreferanseOtherType"/>
   </simpleType>
   <simpleType name="VegstatusVegreferanseEnumerationType">
      <annotation>
         <documentation>4567: Angir vegstatus.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4567</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegstatus</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>7041: Veg under bygging.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7041</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Anleggsveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <documentation>13707: Beredskapsveg, ikke åpen for allmenn ferdsel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13707</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Beredskapsveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <documentation>5504: Eksisterende ferjestrekning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5504</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Eksisterende ferjestrekning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <documentation>5499: Veg som er del av operativt vegnett (tatt opp til vedlikehold).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5499</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Eksisterende veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <documentation>12159: Gang-/sykkelveg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12159</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gang-/sykkelveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="H">
            <annotation>
               <documentation>12160: Gang-/sykkelveg anlegg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12160</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gang-/sykkelveg anlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <documentation>5502: Midlertidig status inntil ny kategori er bestemt for vegstrekningen. Denne skal brukes i de tilfeller hvor det formelt ikke er avklart hvem som skal forvalte vegstrekningen, og med det hvilken kategori strekningen skal ha.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5502</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Midlertidig status bilveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>12983: Midlertidig status inntil ny kategori er bestemt for gang- og sykkelvegstrekningen. Denne skal brukes i de tilfeller hvor det formelt ikke er avklart hvem som skal forvalte strekningen, og med det hvilken kategori strekningen skal ha.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12983</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Midlertidig status gang-/sykkelveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="W">
            <annotation>
               <documentation>5505: Midlertidig eksisterende veg. Brukes i de tilfeller hvor det bygges en midlertidig veg som blir brukt for avvikling av trafikk for vedkommende veg uten at den er formelt opptatt. Denne statusen benyttes dersom denne vegen blir liggende i 6 måneder eller lengre, men fjernes når veganlegget er ferdig bygget. Kan også benyttes i tilfeller hvor annen veg, riks-, fylkes-, kommunal eller privat veg blir brukt for avvikling av trafikk for vedkommende veg uten at den er formelt opptatt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5505</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Midlertidig veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="E">
            <annotation>
               <documentation>7046: Planlagt ferjestrekning vedtatt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7046</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Planlagt ferjestrekning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Q">
            <annotation>
               <documentation>12986: Planlagt gang- og sykkelveg, vedtatt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12986</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Planlagt gang-/sykkelveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <documentation>7042: Planlagt veg vedtatt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7042</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Planlagt veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="X">
            <annotation>
               <documentation>5500: Rømningstunnel, ikke åpen for allmenn ferdsel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5500</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rømningstunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="M">
            <annotation>
               <documentation>5501: Serviceveg, normalt sett ikke åpen for allmenn ferdsel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5501</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Serviceveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VegstatusVegreferanseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VegtypeVegreferanseType">
      <annotation>
         <documentation>4574: Angir vegtype.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4574</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VegtypeVegreferanseEnumerationType nvdb:VegtypeVegreferanseOtherType"/>
   </simpleType>
   <simpleType name="VegtypeVegreferanseEnumerationType">
      <annotation>
         <documentation>4574: Angir vegtype.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4574</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5513</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <documentation>9725: Benyttes om fiktive veger. F.eks. for å stedfeste ulykker som en ikke kjenner virkelig stedfesting.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9725</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fiktiv</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5515</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rampe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5514</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegarm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VegtypeVegreferanseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
