GML/534.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>534: Region ihht Statens vegvesens nye regioninndeling.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="KoordinatsystemRegionType">
      <annotation>
         <documentation>8147: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8147</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KoordinatsystemRegionEnumerationType nvdb:KoordinatsystemRegionOtherType"/>
   </simpleType>
   <simpleType name="KoordinatsystemRegionEnumerationType">
      <annotation>
         <documentation>8147: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8147</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="53">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10855</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-64A, Møre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="54">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10856</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-64B, Møre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10835</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse I</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10836</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse II</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10837</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse III</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10838</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse IV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10839</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse V</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10840</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse VI</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10841</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse VII</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10842</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse VIII</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="31">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10849</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 31 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="21">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10843</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 31 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="32">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10850</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 32 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="22">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10844</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 32 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="33">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10851</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 33 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="23">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10845</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 33 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="34">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10852</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 34 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10846</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 34 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="35">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10853</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 35 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="25">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10847</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 35 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="36">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10854</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 36 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="26">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10848</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 36 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KoordinatsystemRegionOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Region"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:RegionType">
      <annotation>
         <documentation>534: Region ihht Statens vegvesens nye regioninndeling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">534</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Region</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="RegionType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="regionsnummer" type="integer">
                  <annotation>
                     <documentation>4580: Angir regionsnummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4580</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Regionsnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="regionsnavn" type="string">
                  <annotation>
                     <documentation>4581: Angir regionsnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4581</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Regionsnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="koordinatsystem" type="nvdb:KoordinatsystemRegionType">
                  <annotation>
                     <documentation>8147: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8147</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>5158: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5158</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>4708: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4708</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="RegionPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Region"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
