GML/534.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="KoordinatsystemRegionType">
    <annotation>
      <documentation>8147: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
    </annotation>
    <union memberTypes="nvdb:KoordinatsystemRegionEnumerationType nvdb:KoordinatsystemRegionOtherType"/>
  </simpleType>
  <simpleType name="KoordinatsystemRegionEnumerationType">
    <annotation>
      <documentation>8147: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="NGO_AkseI">
        <annotation>
          <documentation>10835: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseII">
        <annotation>
          <documentation>10836: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseIII">
        <annotation>
          <documentation>10837: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseIV">
        <annotation>
          <documentation>10838: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseV">
        <annotation>
          <documentation>10839: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVI">
        <annotation>
          <documentation>10840: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVII">
        <annotation>
          <documentation>10841: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVIII">
        <annotation>
          <documentation>10842: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone31_EUREF89">
        <annotation>
          <documentation>10843: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone32_EUREF89">
        <annotation>
          <documentation>10844: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone33_EUREF89">
        <annotation>
          <documentation>10845: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone34_EUREF89">
        <annotation>
          <documentation>10846: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone35_EUREF89">
        <annotation>
          <documentation>10847: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone36_EUREF89">
        <annotation>
          <documentation>10848: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone31_ED50">
        <annotation>
          <documentation>10849: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone32_ED50">
        <annotation>
          <documentation>10850: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone33_ED50">
        <annotation>
          <documentation>10851: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone34_ED50">
        <annotation>
          <documentation>10852: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone35_ED50">
        <annotation>
          <documentation>10853: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone36_ED50">
        <annotation>
          <documentation>10854: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_64A_Møre">
        <annotation>
          <documentation>10855: datum NGO1948</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_64B_Møre">
        <annotation>
          <documentation>10856: datum NGO1948</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KoordinatsystemRegionOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Region" substitutionGroup="nvdb:AbstraktRegion" type="nvdb:RegionType">
    <annotation>
      <documentation>534: Region ihht Statens vegvesens nye regioninndeling</documentation>
    </annotation>
  </element>
  <complexType name="RegionType">
    <complexContent>
      <extension base="nvdb:AbstraktRegionType">
        <sequence>
          <element minOccurs="0" name="regionsnummer" type="integer">
            <annotation>
              <documentation>4580: Angir regionsnummer</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="regionsnavn" type="string">
            <annotation>
              <documentation>4581: Angir regionsnavn</documentation>
            </annotation>
          </element>
          <element name="koordinatsystem" type="nvdb:KoordinatsystemRegionType">
            <annotation>
              <documentation>8147: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5158: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>4708: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKontraktsområde" type="nvdb:AbstraktKontraktsområdePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegavdeling" type="nvdb:AbstraktVegavdelingPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertFylke2019" type="nvdb:AbstraktFylke2019PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RegionPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Region"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
