GML/534.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.26">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="KoordinatsystemRegionType">
    <annotation>
      <documentation>8147: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8147</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8147</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Koordinatsystem</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KoordinatsystemRegionEnumerationType nvdb:KoordinatsystemRegionOtherType"/>
  </simpleType>
  <simpleType name="KoordinatsystemRegionEnumerationType">
    <annotation>
      <documentation>8147: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8147</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8147</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Koordinatsystem</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="NGO-akse I">
        <annotation>
          <documentation>10835: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10835</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-akse I</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse II">
        <annotation>
          <documentation>10836: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10836</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-akse II</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse III">
        <annotation>
          <documentation>10837: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10837</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-akse III</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse IV">
        <annotation>
          <documentation>10838: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10838</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-akse IV</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse V">
        <annotation>
          <documentation>10839: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10839</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-akse V</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse VI">
        <annotation>
          <documentation>10840: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10840</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-akse VI</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse VII">
        <annotation>
          <documentation>10841: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10841</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-akse VII</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse VIII">
        <annotation>
          <documentation>10842: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10842</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-akse VIII</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 31 (EUREF89)">
        <annotation>
          <documentation>10843: datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10843</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 31 (EUREF89)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 32 (EUREF89)">
        <annotation>
          <documentation>10844: datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10844</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 32 (EUREF89)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 33 (EUREF89)">
        <annotation>
          <documentation>10845: datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10845</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 33 (EUREF89)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 34 (EUREF89)">
        <annotation>
          <documentation>10846: datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10846</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 34 (EUREF89)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 35 (EUREF89)">
        <annotation>
          <documentation>10847: datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10847</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 35 (EUREF89)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 36 (EUREF89)">
        <annotation>
          <documentation>10848: datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10848</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 36 (EUREF89)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 31 (ED50)">
        <annotation>
          <documentation>10849: datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10849</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 31 (ED50)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 32 (ED50)">
        <annotation>
          <documentation>10850: datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10850</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 32 (ED50)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 33 (ED50)">
        <annotation>
          <documentation>10851: datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10851</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 33 (ED50)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 34 (ED50)">
        <annotation>
          <documentation>10852: datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10852</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 34 (ED50)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 35 (ED50)">
        <annotation>
          <documentation>10853: datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10853</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 35 (ED50)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 36 (ED50)">
        <annotation>
          <documentation>10854: datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10854</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 36 (ED50)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-64A, Møre">
        <annotation>
          <documentation>10855: datum NGO1948</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10855</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-64A, Møre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-64B, Møre">
        <annotation>
          <documentation>10856: datum NGO1948</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10856</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-64B, Møre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KoordinatsystemRegionOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Region" substitutionGroup="nvdb:AbstraktRegion" type="nvdb:RegionType">
    <annotation>
      <documentation>534: Region ihht Statens vegvesens nye regioninndeling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">534</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">534</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Region</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="RegionType">
    <complexContent>
      <extension base="nvdb:AbstraktRegionType">
        <sequence>
          <element minOccurs="0" name="regionsnummer" type="integer">
            <annotation>
              <documentation>4580: Angir regionsnummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4580</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Regionsnummer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="regionsnavn" type="string">
            <annotation>
              <documentation>4581: Angir regionsnavn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4581</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Regionsnavn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="koordinatsystem" type="nvdb:KoordinatsystemRegionType">
            <annotation>
              <documentation>8147: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8147</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Koordinatsystem</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5158: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5158</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>4708: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4708</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, flate</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertFylke2019" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFylke2019</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKontraktsområde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKontraktsområde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegavdeling" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegavdeling</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RegionPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Region"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
