GML/535.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.27">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Fylke2019" substitutionGroup="nvdb:AbstraktFylke2019" type="nvdb:Fylke2019Type">
    <annotation>
      <documentation>535: Fylkesinndeling 2019</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">535</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">535</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fylke 2019</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Fylke2019Type">
    <complexContent>
      <extension base="nvdb:AbstraktFylke2019Type">
        <sequence>
          <element minOccurs="0" name="fylkesnummer" type="integer">
            <annotation>
              <documentation>4582: Angir fylkesnummer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4582</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fylkesnummer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fylkesnavn" type="string">
            <annotation>
              <documentation>4583: Angir fylkesnavn.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4583</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fylkesnavn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="koordinatsystem" type="nvdb:KoordinatsystemFylke2019Type">
            <annotation>
              <documentation>8145: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8145</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Koordinatsystem</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5156: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5156</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geometri_Flate" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>4709: Gir flate/polygon som geometrisk avgrenser området. (mulighet for multiflate).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4709</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, flate</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommune2019" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommune2019</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRegion" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRegion</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Fylke2019PropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fylke2019"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KoordinatsystemFylke2019Type">
    <annotation>
      <documentation>8145: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8145</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8145</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Koordinatsystem</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KoordinatsystemFylke2019EnumerationType nvdb:KoordinatsystemFylke2019OtherType"/>
  </simpleType>
  <simpleType name="KoordinatsystemFylke2019EnumerationType">
    <annotation>
      <documentation>8145: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8145</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8145</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Koordinatsystem</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="NGO-akse I">
        <annotation>
          <documentation>10791: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10791</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-akse I</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse II">
        <annotation>
          <documentation>10792: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10792</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-akse II</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse III">
        <annotation>
          <documentation>10793: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10793</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-akse III</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse IV">
        <annotation>
          <documentation>10794: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10794</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-akse IV</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse V">
        <annotation>
          <documentation>10795: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10795</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-akse V</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse VI">
        <annotation>
          <documentation>10796: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10796</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-akse VI</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse VII">
        <annotation>
          <documentation>10797: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10797</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-akse VII</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse VIII">
        <annotation>
          <documentation>10798: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10798</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-akse VIII</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 31 (EUREF89)">
        <annotation>
          <documentation>10799: datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10799</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 31 (EUREF89)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 32 (EUREF89)">
        <annotation>
          <documentation>10800: datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10800</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 32 (EUREF89)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 33 (EUREF89)">
        <annotation>
          <documentation>10801: datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10801</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 33 (EUREF89)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 34 (EUREF89)">
        <annotation>
          <documentation>10802: datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10802</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 34 (EUREF89)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 35 (EUREF89)">
        <annotation>
          <documentation>10803: datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10803</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 35 (EUREF89)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 36 (EUREF89)">
        <annotation>
          <documentation>10804: datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10804</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 36 (EUREF89)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 31 (ED50)">
        <annotation>
          <documentation>10805: datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10805</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 31 (ED50)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 32 (ED50)">
        <annotation>
          <documentation>10806: datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10806</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 32 (ED50)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 33 (ED50)">
        <annotation>
          <documentation>10807: datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10807</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 33 (ED50)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 34 (ED50)">
        <annotation>
          <documentation>10808: datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10808</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 34 (ED50)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 35 (ED50)">
        <annotation>
          <documentation>10809: datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10809</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 35 (ED50)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 36 (ED50)">
        <annotation>
          <documentation>10810: datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10810</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">UTM sone 36 (ED50)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-64A, Møre">
        <annotation>
          <documentation>10811: datum NGO1948</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10811</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-64A, Møre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-64B, Møre">
        <annotation>
          <documentation>10812: datum NGO1948</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10812</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NGO-64B, Møre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KoordinatsystemFylke2019OtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
