GML/535.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>535: Historiske inndelinger av fylker.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Fylke historisk"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Fylke historiskType">
      <annotation>
         <documentation>535: Historiske inndelinger av fylker.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">535</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylke historisk</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Fylke historiskType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="fylkesnummer" type="integer">
                  <annotation>
                     <documentation>4582: Angir fylkesnummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4582</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fylkesnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="fylkesnavn" type="string">
                  <annotation>
                     <documentation>4583: Angir fylkesnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4583</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fylkesnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="koordinatsystem" type="nvdb:KoordinatsystemFylke historiskType">
                  <annotation>
                     <documentation>8145: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8145</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="organisasjonsnummer" type="double">
                  <annotation>
                     <documentation>12685: Organisasjonsnummer for aktuell fylkeskommune. Organisasjonsnummer er en entydig ni-sifret indikator for en organisasjon tildelt av Enhetsregisteret ved Brønnøysundregistrene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12685</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Organisasjonsnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="gyldigFraDato" type="date">
                  <annotation>
                     <documentation>12706: Angir hviken dato fylket eksisterte fra og med.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12706</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gyldig fra dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="gyldigTilDato" type="date">
                  <annotation>
                     <documentation>12707: Angir hviken dato fylket eksisterte til og med.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12707</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gyldig til dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>5156: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5156</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>4709: Gir flate/polygon som geometrisk avgrenser området. (mulighet for multiflate).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4709</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Fylke historiskPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fylke historisk"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="KoordinatsystemFylke historiskType">
      <annotation>
         <documentation>8145: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8145</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KoordinatsystemFylke historiskEnumerationType nvdb:KoordinatsystemFylke historiskOtherType"/>
   </simpleType>
   <simpleType name="KoordinatsystemFylke historiskEnumerationType">
      <annotation>
         <documentation>8145: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8145</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="53">
            <annotation>
               <documentation>10811: datum NGO1948.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10811</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-64A, Møre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="54">
            <annotation>
               <documentation>10812: datum NGO1948.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10812</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-64B, Møre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>10791: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10791</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse I</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>10792: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10792</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse II</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <documentation>10793: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10793</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse III</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <documentation>10794: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10794</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse IV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <documentation>10795: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10795</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse V</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <documentation>10796: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10796</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse VI</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <documentation>10797: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10797</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse VII</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <documentation>10798: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10798</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse VIII</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="31">
            <annotation>
               <documentation>10805: datum ED50.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10805</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 31 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="21">
            <annotation>
               <documentation>10799: datum EUREF89/WGS84.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10799</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 31 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="32">
            <annotation>
               <documentation>10806: datum ED50.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10806</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 32 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="22">
            <annotation>
               <documentation>10800: datum EUREF89/WGS84.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10800</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 32 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="33">
            <annotation>
               <documentation>10807: datum ED50.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10807</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 33 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="23">
            <annotation>
               <documentation>10801: datum EUREF89/WGS84.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10801</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 33 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="34">
            <annotation>
               <documentation>10808: datum ED50.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10808</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 34 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <documentation>10802: datum EUREF89/WGS84.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10802</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 34 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="35">
            <annotation>
               <documentation>10809: datum ED50.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10809</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 35 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="25">
            <annotation>
               <documentation>10803: datum EUREF89/WGS84.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10803</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 35 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="36">
            <annotation>
               <documentation>10810: datum ED50.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10810</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 36 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="26">
            <annotation>
               <documentation>10804: datum EUREF89/WGS84.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10804</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 36 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KoordinatsystemFylke historiskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
