GML/535.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Fylke2019" substitutionGroup="nvdb:AbstraktFylke2019" type="nvdb:Fylke2019Type">
    <annotation>
      <documentation>535: Fylkesinndeling 2019</documentation>
    </annotation>
  </element>
  <complexType name="Fylke2019Type">
    <complexContent>
      <extension base="nvdb:AbstraktFylke2019Type">
        <sequence>
          <element minOccurs="0" name="fylkesnummer" type="integer">
            <annotation>
              <documentation>4582: Angir fylkesnummer</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fylkesnavn" type="string">
            <annotation>
              <documentation>4583: Angir fylkesnavn</documentation>
            </annotation>
          </element>
          <element name="koordinatsystem" type="nvdb:KoordinatsystemFylke2019Type">
            <annotation>
              <documentation>8145: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5156: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>4709: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommune2019" type="nvdb:AbstraktKommune2019PropertyType"/>
          <element minOccurs="0" name="assosiertRegion" type="nvdb:AbstraktRegionPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Fylke2019PropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fylke2019"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KoordinatsystemFylke2019Type">
    <annotation>
      <documentation>8145: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
    </annotation>
    <union memberTypes="nvdb:KoordinatsystemFylke2019EnumerationType nvdb:KoordinatsystemFylke2019OtherType"/>
  </simpleType>
  <simpleType name="KoordinatsystemFylke2019EnumerationType">
    <annotation>
      <documentation>8145: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="NGO_AkseI">
        <annotation>
          <documentation>10791: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseII">
        <annotation>
          <documentation>10792: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseIII">
        <annotation>
          <documentation>10793: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseIV">
        <annotation>
          <documentation>10794: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseV">
        <annotation>
          <documentation>10795: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVI">
        <annotation>
          <documentation>10796: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVII">
        <annotation>
          <documentation>10797: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVIII">
        <annotation>
          <documentation>10798: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone31_EUREF89">
        <annotation>
          <documentation>10799: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone32_EUREF89">
        <annotation>
          <documentation>10800: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone33_EUREF89">
        <annotation>
          <documentation>10801: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone34_EUREF89">
        <annotation>
          <documentation>10802: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone35_EUREF89">
        <annotation>
          <documentation>10803: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone36_EUREF89">
        <annotation>
          <documentation>10804: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone31_ED50">
        <annotation>
          <documentation>10805: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone32_ED50">
        <annotation>
          <documentation>10806: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone33_ED50">
        <annotation>
          <documentation>10807: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone34_ED50">
        <annotation>
          <documentation>10808: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone35_ED50">
        <annotation>
          <documentation>10809: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone36_ED50">
        <annotation>
          <documentation>10810: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_64A_Møre">
        <annotation>
          <documentation>10811: datum NGO1948</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_64B_Møre">
        <annotation>
          <documentation>10812: datum NGO1948</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KoordinatsystemFylke2019OtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
