GML/536.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Kommune2019" substitutionGroup="nvdb:AbstraktKommune2019" type="nvdb:Kommune2019Type">
    <annotation>
      <documentation>536: Kommuneinndeling 2019.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">536</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">536</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kommune 2019</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Kommune2019Type">
    <complexContent>
      <extension base="nvdb:AbstraktKommune2019Type">
        <sequence>
          <element name="kommunenummer" type="integer">
            <annotation>
              <documentation>4584: Angir kommunenummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4584</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kommunenummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="kommunenavn" type="string">
            <annotation>
              <documentation>4585: Angir kommunenavn.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4585</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kommunenavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="koordinatsystem" type="nvdb:KoordinatsystemKommune2019Type">
            <annotation>
              <documentation>8146: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8146</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5157: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5157</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geometri_Flate" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>4710: Gir flate/polygon som geometrisk avgrenser området (mulighet for multiflate).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4710</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Kommune2019PropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kommune2019"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KoordinatsystemKommune2019Type">
    <annotation>
      <documentation>8146: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8146</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8146</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KoordinatsystemKommune2019EnumerationType nvdb:KoordinatsystemKommune2019OtherType"/>
  </simpleType>
  <simpleType name="KoordinatsystemKommune2019EnumerationType">
    <annotation>
      <documentation>8146: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8146</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8146</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="NGO-akse I">
        <annotation>
          <documentation>10813: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10813</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse I</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse II">
        <annotation>
          <documentation>10814: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10814</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse II</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse III">
        <annotation>
          <documentation>10815: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10815</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse III</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse IV">
        <annotation>
          <documentation>10816: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10816</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse IV</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse V">
        <annotation>
          <documentation>10817: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10817</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse V</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse VI">
        <annotation>
          <documentation>10818: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10818</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse VI</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse VII">
        <annotation>
          <documentation>10819: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10819</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse VII</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse VIII">
        <annotation>
          <documentation>10820: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10820</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse VIII</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 31 (EUREF89)">
        <annotation>
          <documentation>10821: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10821</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 31 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 32 (EUREF89)">
        <annotation>
          <documentation>10822: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10822</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 32 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 33 (EUREF89)">
        <annotation>
          <documentation>10823: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10823</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 33 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 34 (EUREF89)">
        <annotation>
          <documentation>10824: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10824</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 34 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 35 (EUREF89)">
        <annotation>
          <documentation>10825: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10825</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 35 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 36 (EUREF89)">
        <annotation>
          <documentation>10826: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10826</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 36 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 31 (ED50)">
        <annotation>
          <documentation>10827: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10827</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 31 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 32 (ED50)">
        <annotation>
          <documentation>10828: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10828</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 32 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 33 (ED50)">
        <annotation>
          <documentation>10829: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10829</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 33 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 34 (ED50)">
        <annotation>
          <documentation>10830: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10830</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 34 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 35 (ED50)">
        <annotation>
          <documentation>10831: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10831</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 35 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 36 (ED50)">
        <annotation>
          <documentation>10832: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10832</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 36 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-64A, Møre">
        <annotation>
          <documentation>10833: datum NGO1948.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10833</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-64A, Møre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-64B, Møre">
        <annotation>
          <documentation>10834: datum NGO1948.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10834</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-64B, Møre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KoordinatsystemKommune2019OtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
