GML/536.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>536: Historiske inndelinger av kommune.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Kommune historisk"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Kommune historiskType">
      <annotation>
         <documentation>536: Historiske inndelinger av kommune.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">536</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune historisk</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Kommune historiskType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="kommunenummer" type="integer">
                  <annotation>
                     <documentation>4584: Angir kommunenummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4584</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kommunenummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kommunenavn" type="string">
                  <annotation>
                     <documentation>4585: Angir kommunenavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4585</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kommunenavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="koordinatsystem" type="nvdb:KoordinatsystemKommune historiskType">
                  <annotation>
                     <documentation>8146: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8146</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="organisasjonsnummer" type="double">
                  <annotation>
                     <documentation>12684: Organisasjonsnummer for aktuell kommune. Organisasjonsnummer er en entydig ni-sifret indikator for en organisasjon tildelt av Enhetsregisteret ved Brønnøysundregistrene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12684</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Organisasjonsnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="gyldigFraDato" type="date">
                  <annotation>
                     <documentation>12704: Angir hviken dato kommunen eksisterte fra og med.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12704</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gyldig fra dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="gyldigTilDato" type="date">
                  <annotation>
                     <documentation>12705: Angir hviken dato kommunen eksisterte til og med.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12705</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gyldig til dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>5157: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5157</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>4710: Gir flate/polygon som geometrisk avgrenser området (mulighet for multiflate).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4710</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Kommune historiskPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kommune historisk"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="KoordinatsystemKommune historiskType">
      <annotation>
         <documentation>8146: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8146</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KoordinatsystemKommune historiskEnumerationType nvdb:KoordinatsystemKommune historiskOtherType"/>
   </simpleType>
   <simpleType name="KoordinatsystemKommune historiskEnumerationType">
      <annotation>
         <documentation>8146: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8146</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="53">
            <annotation>
               <documentation>10833: datum NGO1948.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10833</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-64A, Møre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="54">
            <annotation>
               <documentation>10834: datum NGO1948.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10834</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-64B, Møre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>10813: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10813</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse I</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>10814: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10814</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse II</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <documentation>10815: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10815</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse III</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <documentation>10816: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10816</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse IV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <documentation>10817: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10817</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse V</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <documentation>10818: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10818</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse VI</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <documentation>10819: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10819</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse VII</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <documentation>10820: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10820</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse VIII</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="31">
            <annotation>
               <documentation>10827: datum ED50.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10827</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 31 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="21">
            <annotation>
               <documentation>10821: datum EUREF89/WGS84.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10821</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 31 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="32">
            <annotation>
               <documentation>10828: datum ED50.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10828</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 32 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="22">
            <annotation>
               <documentation>10822: datum EUREF89/WGS84.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10822</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 32 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="33">
            <annotation>
               <documentation>10829: datum ED50.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10829</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 33 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="23">
            <annotation>
               <documentation>10823: datum EUREF89/WGS84.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10823</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 33 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="34">
            <annotation>
               <documentation>10830: datum ED50.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10830</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 34 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <documentation>10824: datum EUREF89/WGS84.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10824</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 34 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="35">
            <annotation>
               <documentation>10831: datum ED50.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10831</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 35 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="25">
            <annotation>
               <documentation>10825: datum EUREF89/WGS84.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10825</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 35 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="36">
            <annotation>
               <documentation>10832: datum ED50.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10832</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 36 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="26">
            <annotation>
               <documentation>10826: datum EUREF89/WGS84.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10826</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 36 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KoordinatsystemKommune historiskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
