GML/537.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="KoordinatsystemVegavdelingType">
    <annotation>
      <documentation>8149: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
    </annotation>
    <union memberTypes="nvdb:KoordinatsystemVegavdelingEnumerationType nvdb:KoordinatsystemVegavdelingOtherType"/>
  </simpleType>
  <simpleType name="KoordinatsystemVegavdelingEnumerationType">
    <annotation>
      <documentation>8149: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="NGO_AkseI">
        <annotation>
          <documentation>10879: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseII">
        <annotation>
          <documentation>10880: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseIII">
        <annotation>
          <documentation>10881: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseIV">
        <annotation>
          <documentation>10882: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseV">
        <annotation>
          <documentation>10883: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVI">
        <annotation>
          <documentation>10884: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVII">
        <annotation>
          <documentation>10885: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVIII">
        <annotation>
          <documentation>10886: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone31_EUREF89">
        <annotation>
          <documentation>10887: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone32_EUREF89">
        <annotation>
          <documentation>10888: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone33_EUREF89">
        <annotation>
          <documentation>10889: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone34_EUREF89">
        <annotation>
          <documentation>10890: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone35_EUREF89">
        <annotation>
          <documentation>10891: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone36_EUREF89">
        <annotation>
          <documentation>10892: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone31_ED50">
        <annotation>
          <documentation>10893: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone32_ED50">
        <annotation>
          <documentation>10894: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone33_ED50">
        <annotation>
          <documentation>10895: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone34_ED50">
        <annotation>
          <documentation>10896: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone35_ED50">
        <annotation>
          <documentation>10897: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone36_ED50">
        <annotation>
          <documentation>10898: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_64A_Møre">
        <annotation>
          <documentation>10899: datum NGO1948</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_64B_Møre">
        <annotation>
          <documentation>10900: datum NGO1948</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KoordinatsystemVegavdelingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegavdeling" substitutionGroup="nvdb:AbstraktVegavdeling" type="nvdb:VegavdelingType">
    <annotation>
      <documentation>537: Område i henhold til Statens vegvesens inndeling i fylkes/lokalavdelinger.</documentation>
    </annotation>
  </element>
  <complexType name="VegavdelingType">
    <complexContent>
      <extension base="nvdb:AbstraktVegavdelingType">
        <sequence>
          <element minOccurs="0" name="avdelingsnummer" type="integer">
            <annotation>
              <documentation>4586: Angir nummer på vegavdelingsnummer</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="avdelingsnavn" type="string">
            <annotation>
              <documentation>4587: Angir navn på vegavdeling.</documentation>
            </annotation>
          </element>
          <element name="koordinatsystem" type="nvdb:KoordinatsystemVegavdelingType">
            <annotation>
              <documentation>8149: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5155: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>4711: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommune2019" type="nvdb:AbstraktKommune2019PropertyType"/>
          <element minOccurs="0" name="assosiertRegion" type="nvdb:AbstraktRegionPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegavdelingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegavdeling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
