GML/537.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>537: Område i henhold til Statens vegvesens inndeling i fylkes/lokalavdelinger.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="KoordinatsystemVegavdelingType">
      <annotation>
         <documentation>8149: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8149</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KoordinatsystemVegavdelingEnumerationType nvdb:KoordinatsystemVegavdelingOtherType"/>
   </simpleType>
   <simpleType name="KoordinatsystemVegavdelingEnumerationType">
      <annotation>
         <documentation>8149: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8149</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="53">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10899</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-64A, Møre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="54">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10900</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-64B, Møre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10879</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse I</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10880</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse II</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10881</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse III</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10882</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse IV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10883</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse V</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10884</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse VI</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10885</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse VII</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10886</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NGO-akse VIII</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="31">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10893</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 31 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="21">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10887</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 31 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="32">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10894</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 32 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="22">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10888</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 32 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="33">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10895</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 33 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="23">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10889</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 33 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="34">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10896</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 34 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10890</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 34 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="35">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10897</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 35 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="25">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10891</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 35 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="36">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10898</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 36 (ED50)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="26">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10892</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">UTM sone 36 (EUREF89)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KoordinatsystemVegavdelingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegavdeling"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:VegavdelingType">
      <annotation>
         <documentation>537: Område i henhold til Statens vegvesens inndeling i fylkes/lokalavdelinger.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">537</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegavdeling</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VegavdelingType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="avdelingsnummer" type="integer">
                  <annotation>
                     <documentation>4586: Angir nummer på vegavdelingsnummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4586</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avdelingsnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="avdelingsnavn" type="string">
                  <annotation>
                     <documentation>4587: Angir navn på vegavdeling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4587</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avdelingsnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="koordinatsystem" type="nvdb:KoordinatsystemVegavdelingType">
                  <annotation>
                     <documentation>8149: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8149</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>5155: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5155</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>4711: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4711</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VegavdelingPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegavdeling"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
