GML/540.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GrunnlagForÅDTType">
    <annotation>
      <documentation>4625: Angir hva som er grunnlag for "ÅDT, total" og "ÅDT, andel lange kjøretøy". Det er kun verdiene "Trafikkdatasystemet", "Manuell telling og skjønn" og "Skjønn" som benyttes aktivt, øvrige verdier er bare relevant i forhold til historiske data.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4625</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4625</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Grunnlag for ÅDT</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GrunnlagForÅDTEnumerationType nvdb:GrunnlagForÅDTOtherType"/>
  </simpleType>
  <simpleType name="GrunnlagForÅDTEnumerationType">
    <annotation>
      <documentation>4625: Angir hva som er grunnlag for "ÅDT, total" og "ÅDT, andel lange kjøretøy". Det er kun verdiene "Trafikkdatasystemet", "Manuell telling og skjønn" og "Skjønn" som benyttes aktivt, øvrige verdier er bare relevant i forhold til historiske data.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4625</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4625</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Grunnlag for ÅDT</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Trafikkdatasystemet">
        <annotation>
          <documentation>20994: Data er kalkulert direkte ut fra trafikkdata i tellepunkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20994</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkdatasystemet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Telling og skjønn">
        <annotation>
          <documentation>5581: Basert på telling og skjønn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5581</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Telling og skjønn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skjønn">
        <annotation>
          <documentation>5580: Basert på skjønn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5580</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjønn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NorTraf">
        <annotation>
          <documentation>5579: NorTraf</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5579</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NorTraf</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NorTraf Kommune">
        <annotation>
          <documentation>13102: Fra NorTraf Kommune.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13102</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NorTraf Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferjedatabanken">
        <annotation>
          <documentation>5582: Ferjedatabanken.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5582</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferjedatabanken</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegorama">
        <annotation>
          <documentation>5578: Vegorama.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5578</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegorama</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GrunnlagForÅDTOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppdatertFraType">
    <annotation>
      <documentation>6843: Angir hvorfra ÅDT-verdien er kommet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">6843</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">6843</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppdatert fra</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppdatertFraEnumerationType nvdb:OppdatertFraOtherType"/>
  </simpleType>
  <simpleType name="OppdatertFraEnumerationType">
    <annotation>
      <documentation>6843: Angir hvorfra ÅDT-verdien er kommet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">6843</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">6843</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppdatert fra</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Oppskrevet fra primærtellepunktet">
        <annotation>
          <documentation>9030: Oppskrevet fra primærtellepunktet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9030</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppskrevet fra primærtellepunktet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oppskrevet fra nivå-1 tellepunktet">
        <annotation>
          <documentation>9031: Oppskrevet fra nivå-1 tellepunktet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9031</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppskrevet fra nivå-1 tellepunktet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oppskrevet fra fylkesindeksen">
        <annotation>
          <documentation>9032: Oppskrevet fra fylkesindeksen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9032</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppskrevet fra fylkesindeksen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brukersatt">
        <annotation>
          <documentation>9033: Brukersatt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9033</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brukersatt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppdatertFraOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkmengde" substitutionGroup="nvdb:AbstraktTrafikkmengde" type="nvdb:TrafikkmengdeType">
    <annotation>
      <documentation>540: Gir informasjon om representativ trafikkmengde for strekningen. Trafikkmengde kalkuleres på bakgrunn av registrerte passeringer av kjøretøy i kategorien motorvogn av type bil, vogntog, traktor og motorredskap.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">540</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">540</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkmengde</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkmengdeType">
    <complexContent>
      <extension base="nvdb:AbstraktTrafikkmengdeType">
        <sequence>
          <element name="ådtTotal" type="integer">
            <annotation>
              <documentation>4623: Angir total årsdøgntrafikk, dvs. gjennomsnittlig antall kjøretøypasseringer i løpet av et døgn summert for begge trafikkretninger og representativt for gitt strekning. Se også ET 12083 "Trafikkmengde på adskilte løp".</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4623</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ÅDT, total</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="ådtAndelLangeKjøretøy" type="integer">
            <annotation>
              <documentation>4624: Angir total årsdøgntrafikk, dvs. gjennomsnittlig antall kjøretøypasseringer i løpet av et døgn summert for begge trafikkretninger og representativt for gitt strekning. Se også ET 12083 "Trafikkmengde på adskilte løp".</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4624</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ÅDT, andel lange kjøretøy</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="årGjelderFor" type="integer">
            <annotation>
              <documentation>4621: Angir hvilket år trafikkdataene gjelder for.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4621</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">År, gjelder for</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="grunnlagForÅDT" type="nvdb:GrunnlagForÅDTType">
            <annotation>
              <documentation>4625: Angir hva som er grunnlag for "ÅDT, total" og "ÅDT, andel lange kjøretøy". Det er kun verdiene "Trafikkdatasystemet", "Manuell telling og skjønn" og "Skjønn" som benyttes aktivt, øvrige verdier er bare relevant i forhold til historiske data.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4625</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Grunnlag for ÅDT</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppdatertFra" type="nvdb:OppdatertFraType">
            <annotation>
              <documentation>6843: Angir hvorfra ÅDT-verdien er kommet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6843</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Oppdatert fra</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ådtStart" type="integer">
            <annotation>
              <documentation>7475: Angir årsdøgntrafikk i start av gitt strekning. Inkl. tunge kjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7475</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ÅDT, start</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ådtSlutt" type="integer">
            <annotation>
              <documentation>7476: Angir årsdøgntrafikk i slutt av gitt strekning. Inkl. tunge kjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7476</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ÅDT, slutt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="trafikkmengdePåAdskilteLøp" type="nvdb:TrafikkmengdePåAdskilteLøpType">
            <annotation>
              <documentation>12083: Angir hvordan oppgitt ÅDT-verdi for trafikkmengdeforekomster stedfestet på vegstrekning med adskilte løp=Ja eller adskilte løp=Nei skal tolkes.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12083</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Trafikkmengde på adskilte løp</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="trafikkarbeidstall" type="integer">
            <annotation>
              <documentation>7477: Antall vognkilometer pr år. Veglengde x ÅDT x 365.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7477</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Trafikkarbeidstall</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ansvarligId" type="string">
            <annotation>
              <documentation>4620: Angir brukeridentifikasjon til ansvarlig for datainnlegging.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4620</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Historisk_Ansvarlig ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tellepunktPrimært" type="integer">
            <annotation>
              <documentation>5219: Angir hvilket tellepunkt som representerer strekningen primært.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5219</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Historisk_Tellepunkt, primært</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tellepunktSekundært" type="integer">
            <annotation>
              <documentation>5222: Sekundært tellepunkt for kobling av ÅDT-strekninger.(Nivå-1 pkt.).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5222</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Historisk_Tellepunkt, sekundært</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="forholdÅDT" type="double">
            <annotation>
              <documentation>5220: Prosent ÅDT på parsellen. PRSTARTR = 100.0 *VDB-VERDI / TDB-VERDI.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5220</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Historisk_ForholdÅDT</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="forholdLange" type="double">
            <annotation>
              <documentation>5221: Prosent Lange på strekningen ift. prosenttallet i tellepunktet. PRLANGE = 100.0 *VDB-VERDI / TDB-VERDI.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5221</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Historisk_ForholdLange</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="koplingsår" type="integer">
            <annotation>
              <documentation>5223: Årstall koblingen ble utført.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5223</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Historisk_Koplingsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="mfaktor" type="double">
            <annotation>
              <documentation>4622: Multiplikasjonsfaktor. Faktor for å kalkulere ÅDT verdi inne på en strekning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4622</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Historisk_Mfaktor</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5042: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5042</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrafikkmengde_Kjørefelt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkmengde_Kjørefelt</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkmengdePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkmengde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TrafikkmengdePåAdskilteLøpType">
    <annotation>
      <documentation>12083: Angir hvordan oppgitt ÅDT-verdi for trafikkmengdeforekomster stedfestet på vegstrekning med adskilte løp=Ja eller adskilte løp=Nei skal tolkes.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12083</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12083</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkmengde på adskilte løp</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TrafikkmengdePåAdskilteLøpEnumerationType nvdb:TrafikkmengdePåAdskilteLøpOtherType"/>
  </simpleType>
  <simpleType name="TrafikkmengdePåAdskilteLøpEnumerationType">
    <annotation>
      <documentation>12083: Angir hvordan oppgitt ÅDT-verdi for trafikkmengdeforekomster stedfestet på vegstrekning med adskilte løp=Ja eller adskilte løp=Nei skal tolkes.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12083</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12083</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkmengde på adskilte løp</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Sum av trafikk">
        <annotation>
          <documentation>21001: Det er oppgitt ÅDT-verdi som er summen av trafikken for med-strekning og tilhørende mot-strekning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21001</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sum av trafikk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikk i en retning">
        <annotation>
          <documentation>21002: Det er oppgitt ÅDT-verdi som angir summen av trafikken i en retning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21002</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikk i en retning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke relevant">
        <annotation>
          <documentation>21003: Angis for trafikkmengdeforekomster som ikke er stedfestet på enveg med/mot-strekninger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21003</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke relevant</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrafikkmengdePåAdskilteLøpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
