GML/540.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>540: Gir informasjon om representativ trafikkmengde for strekningen. Trafikkmengde kalkuleres på bakgrunn av registrerte passeringer av kjøretøy i kategorien motorvogn av type bil, vogntog, traktor og motorredskap.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="GjelderTrafikkIBeggeRetningerTrafikkmengdeType">
      <annotation>
         <documentation>12083: Angir hvorvidt trafikkmengde gjelder for trafikk i begge retninger eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12083</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjelder trafikk i begge retninger</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GjelderTrafikkIBeggeRetningerTrafikkmengdeEnumerationType nvdb:GjelderTrafikkIBeggeRetningerTrafikkmengdeOtherType"/>
   </simpleType>
   <simpleType name="GjelderTrafikkIBeggeRetningerTrafikkmengdeEnumerationType">
      <annotation>
         <documentation>12083: Angir hvorvidt trafikkmengde gjelder for trafikk i begge retninger eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12083</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjelder trafikk i begge retninger</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <documentation>21001: Vegen har tovegs trafikk. Trafikkmengde er sum av trafikk i begge retninger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21001</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="E">
            <annotation>
               <documentation>21003: Vegen har adskilte løp. Gitt trafikkmengde representerer trafikk for kun ett av de adskilte løpene. For å få fram total trafikkmengde for vegen må det summeres trafikkmengder for med- og motgående løp på stedet. En del 4-feltsveger ligger inne i NVDB med med- og motgående løp.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21003</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei, del av veg med adskilte løp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="E">
            <annotation>
               <documentation>21002: Vegen er envegskjørt. Trafikkmengde gjelder dermed kun trafikk i en retning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21002</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei, envegskjørt veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GjelderTrafikkIBeggeRetningerTrafikkmengdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="GrunnlagForÅDTTrafikkmengdeType">
      <annotation>
         <documentation>4625: Angir hva som er grunnlag for "ÅDT, total" og "ÅDT, andel lange kjøretøy". Det er kun verdiene "Trafikkdatasystemet", "Manuell telling og skjønn" og "Skjønn" som benyttes aktivt, øvrige verdier er bare relevant i forhold til historiske data.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4625</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grunnlag for ÅDT</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GrunnlagForÅDTTrafikkmengdeEnumerationType nvdb:GrunnlagForÅDTTrafikkmengdeOtherType"/>
   </simpleType>
   <simpleType name="GrunnlagForÅDTTrafikkmengdeEnumerationType">
      <annotation>
         <documentation>4625: Angir hva som er grunnlag for "ÅDT, total" og "ÅDT, andel lange kjøretøy". Det er kun verdiene "Trafikkdatasystemet", "Manuell telling og skjønn" og "Skjønn" som benyttes aktivt, øvrige verdier er bare relevant i forhold til historiske data.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4625</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grunnlag for ÅDT</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FB">
            <annotation>
               <documentation>5582: Trafikkmengde er basert på trafikkdata fra Ferjedatabanken.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5582</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ferjedatabanken</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NT">
            <annotation>
               <documentation>5579: Kun aktuell for historiske data.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5579</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NorTraf</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NTK">
            <annotation>
               <documentation>13102: Fra NorTraf Kommune. (Kun aktuell fo rhistoriske data)</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13102</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NorTraf Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <documentation>5580: Basert på skjønn. (Benyttes kun for trafikkmengdedata fra  før 2024)</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5580</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skjønn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TS">
            <annotation>
               <documentation>5581: Basert på telling og skjønn. (Benyttes kun for trafikkmengdedata fra  før 2024)</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5581</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Telling og skjønn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TrafSys">
            <annotation>
               <documentation>20994: Data er kalkulert direkte ut fra trafikkdata i tellepunkt. (Benyttes kun for trafikkmengdedata fra  før 2024)</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20994</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkdatasystemet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <documentation>5578: Kun aktuell for historiske data.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5578</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegorama</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="erfa">
            <annotation>
               <documentation>22754: Trafikkmengde er framkommet ut fra erfaringsbasert estimat.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22754</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Erfaringsbasert estimat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kont">
            <annotation>
               <documentation>22750: Trafikkmengde er basert på trafikkdata fra kontinuerlig trafikkregistrering.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22750</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kontinuerlig trafikkregistrering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="peri">
            <annotation>
               <documentation>22751: Trafikkmengde er basert på trafikkdata fra periodisk trafikkregistrering.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22751</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Periodisk trafikkregistrering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="stat">
            <annotation>
               <documentation>22753: Trafikkmengde er estimert.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22753</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statistisk estimat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="utle">
            <annotation>
               <documentation>22752: Trafikkmengde er utledet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22752</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utledet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GrunnlagForÅDTTrafikkmengdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OppdatertFraTrafikkmengdeType">
      <annotation>
         <documentation>6843: Angir hvorfra ÅDT-verdien er kommet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6843</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppdatert fra</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OppdatertFraTrafikkmengdeEnumerationType nvdb:OppdatertFraTrafikkmengdeOtherType"/>
   </simpleType>
   <simpleType name="OppdatertFraTrafikkmengdeEnumerationType">
      <annotation>
         <documentation>6843: Angir hvorfra ÅDT-verdien er kommet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6843</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppdatert fra</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9033</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brukersatt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ofid">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9032</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oppskrevet fra fylkesindeksen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9031</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oppskrevet fra nivå-1 tellepunktet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9030</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oppskrevet fra primærtellepunktet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OppdatertFraTrafikkmengdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Trafikkmengde"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:TrafikkmengdeType">
      <annotation>
         <documentation>540: Gir informasjon om representativ trafikkmengde for strekningen. Trafikkmengde kalkuleres på bakgrunn av registrerte passeringer av kjøretøy i kategorien motorvogn av type bil, vogntog, traktor og motorredskap.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">540</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkmengde</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TrafikkmengdeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="ådtTotal" type="integer">
                  <annotation>
                     <documentation>4623: Angir total årsdøgntrafikk, dvs. gjennomsnittlig antall kjøretøypasseringer i løpet av et døgn summert for begge trafikkretninger og representativt for gitt strekning. Se også ET 12083 "Trafikkmengde på adskilte løp".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4623</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ÅDT, total</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="ådtAndelLangeKjøretøy" type="integer">
                  <annotation>
                     <documentation>4624: Angir total årsdøgntrafikk, dvs. gjennomsnittlig antall kjøretøypasseringer i løpet av et døgn summert for begge trafikkretninger og representativt for gitt strekning. Se også ET 12083 "Trafikkmengde på adskilte løp".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4624</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ÅDT, andel lange kjøretøy</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="årGjelderFor" type="integer">
                  <annotation>
                     <documentation>4621: Angir hvilket år trafikkdataene gjelder for.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4621</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">År, gjelder for</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="grunnlagForÅDT">
                  <annotation>
                     <documentation>4625: Angir hva som er grunnlag for "ÅDT, total" og "ÅDT, andel lange kjøretøy". Det er kun verdiene "Trafikkdatasystemet", "Manuell telling og skjønn" og "Skjønn" som benyttes aktivt, øvrige verdier er bare relevant i forhold til historiske data.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4625</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Grunnlag for ÅDT</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="oppdatertFra">
                  <annotation>
                     <documentation>6843: Angir hvorfra ÅDT-verdien er kommet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6843</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Oppdatert fra</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="ådtStart" type="integer">
                  <annotation>
                     <documentation>7475: Angir årsdøgntrafikk i start av gitt strekning. Inkl. tunge kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7475</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ÅDT, start</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="ådtSlutt" type="integer">
                  <annotation>
                     <documentation>7476: Angir årsdøgntrafikk i slutt av gitt strekning. Inkl. tunge kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7476</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ÅDT, slutt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="gjelderTrafikkIBeggeRetninger">
                  <annotation>
                     <documentation>12083: Angir hvorvidt trafikkmengde gjelder for trafikk i begge retninger eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12083</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder trafikk i begge retninger</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="trafikkarbeidstall" type="integer">
                  <annotation>
                     <documentation>7477: Antall vognkilometer pr år. Veglengde x ÅDT x 365.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7477</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Trafikkarbeidstall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="ansvarligId" type="string">
                  <annotation>
                     <documentation>4620: Angir brukeridentifikasjon til ansvarlig for datainnlegging.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4620</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Historisk_Ansvarlig ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tellepunktPrimært" type="integer">
                  <annotation>
                     <documentation>5219: Angir hvilket tellepunkt som representerer strekningen primært.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5219</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Historisk_Tellepunkt, primært</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tellepunktSekundært" type="integer">
                  <annotation>
                     <documentation>5222: Sekundært tellepunkt for kobling av ÅDT-strekninger.(Nivå-1 pkt.).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5222</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Historisk_Tellepunkt, sekundært</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="forholdÅDT" type="double">
                  <annotation>
                     <documentation>5220: Prosent ÅDT på parsellen. PRSTARTR = 100.0 *VDB-VERDI / TDB-VERDI.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5220</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Historisk_ForholdÅDT</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="forholdLange" type="double">
                  <annotation>
                     <documentation>5221: Prosent Lange på strekningen ift. prosenttallet i tellepunktet. PRLANGE = 100.0 *VDB-VERDI / TDB-VERDI.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5221</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Historisk_ForholdLange</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="koplingsår" type="integer">
                  <annotation>
                     <documentation>5223: Årstall koblingen ble utført.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5223</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Historisk_Koplingsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="mfaktor" type="double">
                  <annotation>
                     <documentation>4622: Multiplikasjonsfaktor. Faktor for å kalkulere ÅDT verdi inne på en strekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4622</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Historisk_Mfaktor</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>5042: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5042</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TrafikkmengdePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trafikkmengde"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
