GML/541.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="Standard_FaktiskBæreevneType">
    <annotation>
      <documentation>4642: Bæreevne relatert til levetidsfaktor hentet ut fra PMS. Forhold mellom funksjonell dekkelevetid og normert dekkelevetid ( Håndbok N200 (018) Vegbygging )</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_FaktiskBæreevneEnumerationType nvdb:Standard_FaktiskBæreevneOtherType"/>
  </simpleType>
  <simpleType name="Standard_FaktiskBæreevneEnumerationType">
    <annotation>
      <documentation>4642: Bæreevne relatert til levetidsfaktor hentet ut fra PMS. Forhold mellom funksjonell dekkelevetid og normert dekkelevetid ( Håndbok N200 (018) Vegbygging )</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5595: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5629: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_FaktiskBæreevneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_FriHøydeType">
    <annotation>
      <documentation>4639: Relatert til fast fri høgde for 50 meters strekning.</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_FriHøydeEnumerationType nvdb:Standard_FriHøydeOtherType"/>
  </simpleType>
  <simpleType name="Standard_FriHøydeEnumerationType">
    <annotation>
      <documentation>4639: Relatert til fast fri høgde for 50 meters strekning.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5592: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5609: Brukbar</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5626: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_FriHøydeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_GåendeSyklendeType">
    <annotation>
      <documentation>4638: Relatert til tilbud ( ruter ) for gående/syklende i og utenom tettsted.</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_GåendeSyklendeEnumerationType nvdb:Standard_GåendeSyklendeOtherType"/>
  </simpleType>
  <simpleType name="Standard_GåendeSyklendeEnumerationType">
    <annotation>
      <documentation>4638: Relatert til tilbud ( ruter ) for gående/syklende i og utenom tettsted.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5591: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5625: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_GåendeSyklendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_HorisontalkurvaturType">
    <annotation>
      <documentation>4636: Relatert til strekningssammenligning i henhold til Håndbok om stamvegsutredning. Kurvatur framskaffes vha KurvGen.</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_HorisontalkurvaturEnumerationType nvdb:Standard_HorisontalkurvaturOtherType"/>
  </simpleType>
  <simpleType name="Standard_HorisontalkurvaturEnumerationType">
    <annotation>
      <documentation>4636: Relatert til strekningssammenligning i henhold til Håndbok om stamvegsutredning. Kurvatur framskaffes vha KurvGen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5589: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5606: Brukbar</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5623: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_HorisontalkurvaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_HøyfjellType">
    <annotation>
      <documentation>4640: Relatert til data om kolonnekjøring</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_HøyfjellEnumerationType nvdb:Standard_HøyfjellOtherType"/>
  </simpleType>
  <simpleType name="Standard_HøyfjellEnumerationType">
    <annotation>
      <documentation>4640: Relatert til data om kolonnekjøring</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5593: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5610: Brukbar</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5627: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_HøyfjellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_NO2Type">
    <annotation>
      <documentation>4648: Nitrogendioksyd, relatert til timemiddelkonsentrasjon</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_NO2EnumerationType nvdb:Standard_NO2OtherType"/>
  </simpleType>
  <simpleType name="Standard_NO2EnumerationType">
    <annotation>
      <documentation>4648: Nitrogendioksyd, relatert til timemiddelkonsentrasjon</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5601: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5635: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_NO2OtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_PM10Type">
    <annotation>
      <documentation>4647: Svevestøv, relatert til døgnmiddelkonsentrasjon</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_PM10EnumerationType nvdb:Standard_PM10OtherType"/>
  </simpleType>
  <simpleType name="Standard_PM10EnumerationType">
    <annotation>
      <documentation>4647: Svevestøv, relatert til døgnmiddelkonsentrasjon</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5600: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5634: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_PM10OtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_ProblemsonerType">
    <annotation>
      <documentation>4649: : Relatert til problemsoner definert ved vurdering av landskapsbilde, naturmiljø og kulturmiljø, kalt landskap, helhetsvurdering.</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_ProblemsonerEnumerationType nvdb:Standard_ProblemsonerOtherType"/>
  </simpleType>
  <simpleType name="Standard_ProblemsonerEnumerationType">
    <annotation>
      <documentation>4649: : Relatert til problemsoner definert ved vurdering av landskapsbilde, naturmiljø og kulturmiljø, kalt landskap, helhetsvurdering.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5602: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5636: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_ProblemsonerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_RasfareType">
    <annotation>
      <documentation>4641: Relatert til rasutsatte strekninger, dokumentert i internrapport nr 2186</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_RasfareEnumerationType nvdb:Standard_RasfareOtherType"/>
  </simpleType>
  <simpleType name="Standard_RasfareEnumerationType">
    <annotation>
      <documentation>4641: Relatert til rasutsatte strekninger, dokumentert i internrapport nr 2186</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5594: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5628: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_RasfareOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_Samlet_BeregnetType">
    <annotation>
      <documentation>4633: Angir samlet standard</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_Samlet_BeregnetEnumerationType nvdb:Standard_Samlet_BeregnetOtherType"/>
  </simpleType>
  <simpleType name="Standard_Samlet_BeregnetEnumerationType">
    <annotation>
      <documentation>4633: Angir samlet standard</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5586: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5603: Brukbar</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5620: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_Samlet_BeregnetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_Samlet_KorrigertType">
    <annotation>
      <documentation>4634: Angir korrigert samlet standard</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_Samlet_KorrigertEnumerationType nvdb:Standard_Samlet_KorrigertOtherType"/>
  </simpleType>
  <simpleType name="Standard_Samlet_KorrigertEnumerationType">
    <annotation>
      <documentation>4634: Angir korrigert samlet standard</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5587: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5604: Brukbar</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5621: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_Samlet_KorrigertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_Sikkerhetsutstyr_TunnelType">
    <annotation>
      <documentation>4645: Relatert til sikkerhetsutstyr i HB N500 (021)</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_Sikkerhetsutstyr_TunnelEnumerationType nvdb:Standard_Sikkerhetsutstyr_TunnelOtherType"/>
  </simpleType>
  <simpleType name="Standard_Sikkerhetsutstyr_TunnelEnumerationType">
    <annotation>
      <documentation>4645: Relatert til sikkerhetsutstyr i HB N500 (021)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5598: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5615: Brukbar</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5632: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_Sikkerhetsutstyr_TunnelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_SkadegradstetthetType">
    <annotation>
      <documentation>4644: Relatert til sikkerhetsklasser etter forventet skadegradstetthet ( SGT )</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_SkadegradstetthetEnumerationType nvdb:Standard_SkadegradstetthetOtherType"/>
  </simpleType>
  <simpleType name="Standard_SkadegradstetthetEnumerationType">
    <annotation>
      <documentation>4644: Relatert til sikkerhetsklasser etter forventet skadegradstetthet ( SGT )</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5597: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5614: Brukbar</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5631: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_SkadegradstetthetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_StamvegGjennomTettbebyggelseType">
    <annotation>
      <documentation>4643: Relatert til definisjoner gitt i håndbok for stamveger 2002</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_StamvegGjennomTettbebyggelseEnumerationType nvdb:Standard_StamvegGjennomTettbebyggelseOtherType"/>
  </simpleType>
  <simpleType name="Standard_StamvegGjennomTettbebyggelseEnumerationType">
    <annotation>
      <documentation>4643: Relatert til definisjoner gitt i håndbok for stamveger 2002</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5596: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5630: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_StamvegGjennomTettbebyggelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_StigningType">
    <annotation>
      <documentation>4637: Relatert til maksimal stigning over en gitt lengde</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_StigningEnumerationType nvdb:Standard_StigningOtherType"/>
  </simpleType>
  <simpleType name="Standard_StigningEnumerationType">
    <annotation>
      <documentation>4637: Relatert til maksimal stigning over en gitt lengde</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5590: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5607: Brukbar</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5624: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_StigningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_Støy_TotaltType">
    <annotation>
      <documentation>4646: Samlet støy relatert til 500 meters strekninger ( Omfatter 5 deltema om støy )</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_Støy_TotaltEnumerationType nvdb:Standard_Støy_TotaltOtherType"/>
  </simpleType>
  <simpleType name="Standard_Støy_TotaltEnumerationType">
    <annotation>
      <documentation>4646: Samlet støy relatert til 500 meters strekninger ( Omfatter 5 deltema om støy )</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5599: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5616: Brukbar</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5633: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_Støy_TotaltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_VegbreddeType">
    <annotation>
      <documentation>4635: Relatert til vegnormalenes definisjoner</documentation>
    </annotation>
    <union memberTypes="nvdb:Standard_VegbreddeEnumerationType nvdb:Standard_VegbreddeOtherType"/>
  </simpleType>
  <simpleType name="Standard_VegbreddeEnumerationType">
    <annotation>
      <documentation>4635: Relatert til vegnormalenes definisjoner</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5588: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5605: Brukbar</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5622: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_VegbreddeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardklasseVegstandardType">
    <annotation>
      <documentation>4631: Vegnormalenes inndeling i klasser på vegnettet, inkl. gsv.</documentation>
    </annotation>
    <union memberTypes="nvdb:StandardklasseVegstandardEnumerationType nvdb:StandardklasseVegstandardOtherType"/>
  </simpleType>
  <simpleType name="StandardklasseVegstandardEnumerationType">
    <annotation>
      <documentation>4631: Vegnormalenes inndeling i klasser på vegnettet, inkl. gsv.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="H1">
        <annotation>
          <documentation>5637: H1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="H2">
        <annotation>
          <documentation>5638: H2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="H3">
        <annotation>
          <documentation>5639: H3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S1">
        <annotation>
          <documentation>5643: S1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S2">
        <annotation>
          <documentation>5644: S2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S3">
        <annotation>
          <documentation>5645: S3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="A1">
        <annotation>
          <documentation>5646: A1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="A2">
        <annotation>
          <documentation>5647: A2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="A3">
        <annotation>
          <documentation>5648: A3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="G1">
        <annotation>
          <documentation>5649: G1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="G2">
        <annotation>
          <documentation>5650: G2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="G3">
        <annotation>
          <documentation>5651: G3</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardklasseVegstandardOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegstandard" substitutionGroup="nvdb:AbstraktVegstandard" type="nvdb:VegstandardType">
    <annotation>
      <documentation>541: Angir standard på vegstrekning</documentation>
    </annotation>
  </element>
  <complexType name="VegstandardType">
    <complexContent>
      <extension base="nvdb:AbstraktVegstandardType">
        <sequence>
          <element minOccurs="0" name="statusår" type="integer">
            <annotation>
              <documentation>4650: Angir statusår</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bruker" type="string">
            <annotation>
              <documentation>4629: Angir brukerinitialer i vdb ( NVDB )</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>4630: Angir når data er registrert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standardklasse" type="nvdb:StandardklasseVegstandardType">
            <annotation>
              <documentation>4631: Vegnormalenes inndeling i klasser på vegnettet, inkl. gsv.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standardÅDT" type="integer">
            <annotation>
              <documentation>4632: Angir ÅDT</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Samlet_Beregnet" type="nvdb:Standard_Samlet_BeregnetType">
            <annotation>
              <documentation>4633: Angir samlet standard</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Samlet_Korrigert" type="nvdb:Standard_Samlet_KorrigertType">
            <annotation>
              <documentation>4634: Angir korrigert samlet standard</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Vegbredde" type="nvdb:Standard_VegbreddeType">
            <annotation>
              <documentation>4635: Relatert til vegnormalenes definisjoner</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Horisontalkurvatur" type="nvdb:Standard_HorisontalkurvaturType">
            <annotation>
              <documentation>4636: Relatert til strekningssammenligning i henhold til Håndbok om stamvegsutredning. Kurvatur framskaffes vha KurvGen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Stigning" type="nvdb:Standard_StigningType">
            <annotation>
              <documentation>4637: Relatert til maksimal stigning over en gitt lengde</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_GåendeSyklende" type="nvdb:Standard_GåendeSyklendeType">
            <annotation>
              <documentation>4638: Relatert til tilbud ( ruter ) for gående/syklende i og utenom tettsted.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_FriHøyde" type="nvdb:Standard_FriHøydeType">
            <annotation>
              <documentation>4639: Relatert til fast fri høgde for 50 meters strekning.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Høyfjell" type="nvdb:Standard_HøyfjellType">
            <annotation>
              <documentation>4640: Relatert til data om kolonnekjøring</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Rasfare" type="nvdb:Standard_RasfareType">
            <annotation>
              <documentation>4641: Relatert til rasutsatte strekninger, dokumentert i internrapport nr 2186</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_FaktiskBæreevne" type="nvdb:Standard_FaktiskBæreevneType">
            <annotation>
              <documentation>4642: Bæreevne relatert til levetidsfaktor hentet ut fra PMS. Forhold mellom funksjonell dekkelevetid og normert dekkelevetid ( Håndbok N200 (018) Vegbygging )</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_StamvegGjennomTettbebyggelse" type="nvdb:Standard_StamvegGjennomTettbebyggelseType">
            <annotation>
              <documentation>4643: Relatert til definisjoner gitt i håndbok for stamveger 2002</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Skadegradstetthet" type="nvdb:Standard_SkadegradstetthetType">
            <annotation>
              <documentation>4644: Relatert til sikkerhetsklasser etter forventet skadegradstetthet ( SGT )</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Sikkerhetsutstyr_Tunnel" type="nvdb:Standard_Sikkerhetsutstyr_TunnelType">
            <annotation>
              <documentation>4645: Relatert til sikkerhetsutstyr i HB N500 (021)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Støy_Totalt" type="nvdb:Standard_Støy_TotaltType">
            <annotation>
              <documentation>4646: Samlet støy relatert til 500 meters strekninger ( Omfatter 5 deltema om støy )</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_PM10" type="nvdb:Standard_PM10Type">
            <annotation>
              <documentation>4647: Svevestøv, relatert til døgnmiddelkonsentrasjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_NO2" type="nvdb:Standard_NO2Type">
            <annotation>
              <documentation>4648: Nitrogendioksyd, relatert til timemiddelkonsentrasjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Problemsoner" type="nvdb:Standard_ProblemsonerType">
            <annotation>
              <documentation>4649: : Relatert til problemsoner definert ved vurdering av landskapsbilde, naturmiljø og kulturmiljø, kalt landskap, helhetsvurdering.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5041: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegstandardPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegstandard"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
