GML/541.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>541: Angir standard på vegstrekning.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="Standard_FaktiskBæreevneVegstandardType">
      <annotation>
         <documentation>4642: Bæreevne relatert til levetidsfaktor hentet ut fra PMS. Forhold mellom funksjonell dekkelevetid og normert dekkelevetid ( Håndbok N200 (018) Vegbygging ).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4642</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, faktisk bæreevne</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_FaktiskBæreevneVegstandardEnumerationType nvdb:Standard_FaktiskBæreevneVegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_FaktiskBæreevneVegstandardEnumerationType">
      <annotation>
         <documentation>4642: Bæreevne relatert til levetidsfaktor hentet ut fra PMS. Forhold mellom funksjonell dekkelevetid og normert dekkelevetid ( Håndbok N200 (018) Vegbygging ).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4642</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, faktisk bæreevne</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5595</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5629</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_FaktiskBæreevneVegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Standard_FriHøydeVegstandardType">
      <annotation>
         <documentation>4639: Relatert til fast fri høgde for 50 meters strekning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4639</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, fri høyde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_FriHøydeVegstandardEnumerationType nvdb:Standard_FriHøydeVegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_FriHøydeVegstandardEnumerationType">
      <annotation>
         <documentation>4639: Relatert til fast fri høgde for 50 meters strekning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4639</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, fri høyde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5609</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5592</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5626</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_FriHøydeVegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Standard_GåendeSyklendeVegstandardType">
      <annotation>
         <documentation>4638: Relatert til tilbud ( ruter ) for gående/syklende i og utenom tettsted.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4638</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, gående/syklende</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_GåendeSyklendeVegstandardEnumerationType nvdb:Standard_GåendeSyklendeVegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_GåendeSyklendeVegstandardEnumerationType">
      <annotation>
         <documentation>4638: Relatert til tilbud ( ruter ) for gående/syklende i og utenom tettsted.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4638</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, gående/syklende</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5591</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5625</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_GåendeSyklendeVegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Standard_HorisontalkurvaturVegstandardType">
      <annotation>
         <documentation>4636: Relatert til strekningssammenligning i henhold til Håndbok om stamvegsutredning. Kurvatur framskaffes vha. KurvGen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4636</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, horisontalkurvatur</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_HorisontalkurvaturVegstandardEnumerationType nvdb:Standard_HorisontalkurvaturVegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_HorisontalkurvaturVegstandardEnumerationType">
      <annotation>
         <documentation>4636: Relatert til strekningssammenligning i henhold til Håndbok om stamvegsutredning. Kurvatur framskaffes vha. KurvGen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4636</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, horisontalkurvatur</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5606</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5589</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5623</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_HorisontalkurvaturVegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Standard_HøyfjellVegstandardType">
      <annotation>
         <documentation>4640: Relatert til data om kolonnekjøring.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4640</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, høyfjell</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_HøyfjellVegstandardEnumerationType nvdb:Standard_HøyfjellVegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_HøyfjellVegstandardEnumerationType">
      <annotation>
         <documentation>4640: Relatert til data om kolonnekjøring.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4640</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, høyfjell</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5610</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5593</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5627</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_HøyfjellVegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Standard_NO2VegstandardType">
      <annotation>
         <documentation>4648: Nitrogendioksyd, relatert til timemiddelkonsentrasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4648</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, NO2</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_NO2VegstandardEnumerationType nvdb:Standard_NO2VegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_NO2VegstandardEnumerationType">
      <annotation>
         <documentation>4648: Nitrogendioksyd, relatert til timemiddelkonsentrasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4648</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, NO2</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5601</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5635</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_NO2VegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Standard_PM10VegstandardType">
      <annotation>
         <documentation>4647: Svevestøv, relatert til døgnmiddelkonsentrasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4647</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, PM10</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_PM10VegstandardEnumerationType nvdb:Standard_PM10VegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_PM10VegstandardEnumerationType">
      <annotation>
         <documentation>4647: Svevestøv, relatert til døgnmiddelkonsentrasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4647</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, PM10</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5600</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5634</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_PM10VegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Standard_ProblemsonerVegstandardType">
      <annotation>
         <documentation>4649: : Relatert til problemsoner definert ved vurdering av landskapsbilde, naturmiljø og kulturmiljø, kalt landskap, helhetsvurdering.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4649</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, problemsoner</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_ProblemsonerVegstandardEnumerationType nvdb:Standard_ProblemsonerVegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_ProblemsonerVegstandardEnumerationType">
      <annotation>
         <documentation>4649: : Relatert til problemsoner definert ved vurdering av landskapsbilde, naturmiljø og kulturmiljø, kalt landskap, helhetsvurdering.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4649</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, problemsoner</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5602</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5636</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_ProblemsonerVegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Standard_RasfareVegstandardType">
      <annotation>
         <documentation>4641: Relatert til rasutsatte strekninger, dokumentert i internrapport nr 2186.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4641</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, rasfare</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_RasfareVegstandardEnumerationType nvdb:Standard_RasfareVegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_RasfareVegstandardEnumerationType">
      <annotation>
         <documentation>4641: Relatert til rasutsatte strekninger, dokumentert i internrapport nr 2186.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4641</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, rasfare</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5594</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5628</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_RasfareVegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Standard_Samlet_BeregnetVegstandardType">
      <annotation>
         <documentation>4633: Angir samlet standard.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4633</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, samlet, beregnet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_Samlet_BeregnetVegstandardEnumerationType nvdb:Standard_Samlet_BeregnetVegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_Samlet_BeregnetVegstandardEnumerationType">
      <annotation>
         <documentation>4633: Angir samlet standard.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4633</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, samlet, beregnet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5603</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5586</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5620</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_Samlet_BeregnetVegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Standard_Samlet_KorrigertVegstandardType">
      <annotation>
         <documentation>4634: Angir korrigert samlet standard.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4634</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, samlet, korrigert</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_Samlet_KorrigertVegstandardEnumerationType nvdb:Standard_Samlet_KorrigertVegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_Samlet_KorrigertVegstandardEnumerationType">
      <annotation>
         <documentation>4634: Angir korrigert samlet standard.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4634</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, samlet, korrigert</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5604</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5587</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5621</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_Samlet_KorrigertVegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Standard_Sikkerhetsutstyr_TunnelVegstandardType">
      <annotation>
         <documentation>4645: Relatert til sikkerhetsutstyr i HB N500 (021).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4645</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, sikkerhetsutstyr, tunnel</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_Sikkerhetsutstyr_TunnelVegstandardEnumerationType nvdb:Standard_Sikkerhetsutstyr_TunnelVegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_Sikkerhetsutstyr_TunnelVegstandardEnumerationType">
      <annotation>
         <documentation>4645: Relatert til sikkerhetsutstyr i HB N500 (021).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4645</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, sikkerhetsutstyr, tunnel</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5615</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5598</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5632</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_Sikkerhetsutstyr_TunnelVegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Standard_SkadegradstetthetVegstandardType">
      <annotation>
         <documentation>4644: Relatert til sikkerhetsklasser etter forventet skadegradstetthet ( SGT ).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4644</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, skadegradstetthet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_SkadegradstetthetVegstandardEnumerationType nvdb:Standard_SkadegradstetthetVegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_SkadegradstetthetVegstandardEnumerationType">
      <annotation>
         <documentation>4644: Relatert til sikkerhetsklasser etter forventet skadegradstetthet ( SGT ).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4644</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, skadegradstetthet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5614</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5597</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5631</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_SkadegradstetthetVegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Standard_StamvegGjennomTettbebyggelseVegstandardType">
      <annotation>
         <documentation>4643: Relatert til definisjoner gitt i håndbok for stamveger 2002.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4643</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, stamveg gjennom tettbebyggelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_StamvegGjennomTettbebyggelseVegstandardEnumerationType nvdb:Standard_StamvegGjennomTettbebyggelseVegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_StamvegGjennomTettbebyggelseVegstandardEnumerationType">
      <annotation>
         <documentation>4643: Relatert til definisjoner gitt i håndbok for stamveger 2002.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4643</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, stamveg gjennom tettbebyggelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5596</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5630</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_StamvegGjennomTettbebyggelseVegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Standard_StigningVegstandardType">
      <annotation>
         <documentation>4637: Relatert til maksimal stigning over en gitt lengde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4637</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, stigning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_StigningVegstandardEnumerationType nvdb:Standard_StigningVegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_StigningVegstandardEnumerationType">
      <annotation>
         <documentation>4637: Relatert til maksimal stigning over en gitt lengde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4637</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, stigning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5607</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5590</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5624</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_StigningVegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Standard_Støy_TotaltVegstandardType">
      <annotation>
         <documentation>4646: Samlet støy relatert til 500 meters strekninger ( Omfatter 5 deltema om støy ).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4646</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, støy, totalt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_Støy_TotaltVegstandardEnumerationType nvdb:Standard_Støy_TotaltVegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_Støy_TotaltVegstandardEnumerationType">
      <annotation>
         <documentation>4646: Samlet støy relatert til 500 meters strekninger ( Omfatter 5 deltema om støy ).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4646</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, støy, totalt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5616</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5599</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5633</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_Støy_TotaltVegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Standard_VegbreddeVegstandardType">
      <annotation>
         <documentation>4635: Relatert til vegnormalenes definisjoner.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4635</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, vegbredde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Standard_VegbreddeVegstandardEnumerationType nvdb:Standard_VegbreddeVegstandardOtherType"/>
   </simpleType>
   <simpleType name="Standard_VegbreddeVegstandardEnumerationType">
      <annotation>
         <documentation>4635: Relatert til vegnormalenes definisjoner.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4635</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard, vegbredde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5605</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5588</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5622</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Standard_VegbreddeVegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="StandardklasseVegstandardType">
      <annotation>
         <documentation>4631: Vegnormalenes inndeling i klasser på vegnettet, inkl. gsv.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4631</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standardklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StandardklasseVegstandardEnumerationType nvdb:StandardklasseVegstandardOtherType"/>
   </simpleType>
   <simpleType name="StandardklasseVegstandardEnumerationType">
      <annotation>
         <documentation>4631: Vegnormalenes inndeling i klasser på vegnettet, inkl. gsv.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4631</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standardklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5646</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">A1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="A2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5647</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">A2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="A3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5648</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">A3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5649</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">G1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5650</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">G2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5651</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">G3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="H1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5637</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">H1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="H2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5638</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">H2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="H3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5639</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">H3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5643</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5644</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5645</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StandardklasseVegstandardOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegstandard"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:VegstandardType">
      <annotation>
         <documentation>541: Angir standard på vegstrekning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">541</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegstandard</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VegstandardType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="statusår" type="integer">
                  <annotation>
                     <documentation>4650: Angir statusår.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4650</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Statusår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bruker" type="string">
                  <annotation>
                     <documentation>4629: Angir brukerinitialer i vdb ( NVDB ).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4629</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="registreringsdato" type="date">
                  <annotation>
                     <documentation>4630: Angir når data er registrert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4630</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Registreringsdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="standardklasse"
                        type="nvdb:StandardklasseVegstandardType">
                  <annotation>
                     <documentation>4631: Vegnormalenes inndeling i klasser på vegnettet, inkl. gsv.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4631</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standardklasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standardÅDT" type="integer">
                  <annotation>
                     <documentation>4632: Angir ÅDT.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4632</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard ÅDT</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_Samlet_Beregnet">
                  <annotation>
                     <documentation>4633: Angir samlet standard.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4633</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, samlet, beregnet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_Samlet_Korrigert">
                  <annotation>
                     <documentation>4634: Angir korrigert samlet standard.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4634</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, samlet, korrigert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_Vegbredde">
                  <annotation>
                     <documentation>4635: Relatert til vegnormalenes definisjoner.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4635</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, vegbredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_Horisontalkurvatur">
                  <annotation>
                     <documentation>4636: Relatert til strekningssammenligning i henhold til Håndbok om stamvegsutredning. Kurvatur framskaffes vha. KurvGen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4636</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, horisontalkurvatur</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_Stigning">
                  <annotation>
                     <documentation>4637: Relatert til maksimal stigning over en gitt lengde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4637</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, stigning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_GåendeSyklende">
                  <annotation>
                     <documentation>4638: Relatert til tilbud ( ruter ) for gående/syklende i og utenom tettsted.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4638</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, gående/syklende</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_FriHøyde">
                  <annotation>
                     <documentation>4639: Relatert til fast fri høgde for 50 meters strekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4639</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, fri høyde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_Høyfjell">
                  <annotation>
                     <documentation>4640: Relatert til data om kolonnekjøring.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4640</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, høyfjell</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_Rasfare">
                  <annotation>
                     <documentation>4641: Relatert til rasutsatte strekninger, dokumentert i internrapport nr 2186.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4641</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, rasfare</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_FaktiskBæreevne">
                  <annotation>
                     <documentation>4642: Bæreevne relatert til levetidsfaktor hentet ut fra PMS. Forhold mellom funksjonell dekkelevetid og normert dekkelevetid ( Håndbok N200 (018) Vegbygging ).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4642</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, faktisk bæreevne</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_StamvegGjennomTettbebyggelse">
                  <annotation>
                     <documentation>4643: Relatert til definisjoner gitt i håndbok for stamveger 2002.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4643</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, stamveg gjennom tettbebyggelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_Skadegradstetthet">
                  <annotation>
                     <documentation>4644: Relatert til sikkerhetsklasser etter forventet skadegradstetthet ( SGT ).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4644</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, skadegradstetthet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_Sikkerhetsutstyr_Tunnel">
                  <annotation>
                     <documentation>4645: Relatert til sikkerhetsutstyr i HB N500 (021).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4645</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, sikkerhetsutstyr, tunnel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_Støy_Totalt">
                  <annotation>
                     <documentation>4646: Samlet støy relatert til 500 meters strekninger ( Omfatter 5 deltema om støy ).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4646</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, støy, totalt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_PM10">
                  <annotation>
                     <documentation>4647: Svevestøv, relatert til døgnmiddelkonsentrasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4647</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, PM10</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_NO2">
                  <annotation>
                     <documentation>4648: Nitrogendioksyd, relatert til timemiddelkonsentrasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4648</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, NO2</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standard_Problemsoner">
                  <annotation>
                     <documentation>4649: : Relatert til problemsoner definert ved vurdering av landskapsbilde, naturmiljø og kulturmiljø, kalt landskap, helhetsvurdering.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4649</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard, problemsoner</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>5041: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5041</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VegstandardPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegstandard"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
