GML/541.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="Standard_FaktiskBæreevneType">
    <annotation>
      <documentation>4642: Bæreevne relatert til levetidsfaktor hentet ut fra PMS. Forhold mellom funksjonell dekkelevetid og normert dekkelevetid ( Håndbok N200 (018) Vegbygging ).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4642</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4642</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, faktisk bæreevne</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_FaktiskBæreevneEnumerationType nvdb:Standard_FaktiskBæreevneOtherType"/>
  </simpleType>
  <simpleType name="Standard_FaktiskBæreevneEnumerationType">
    <annotation>
      <documentation>4642: Bæreevne relatert til levetidsfaktor hentet ut fra PMS. Forhold mellom funksjonell dekkelevetid og normert dekkelevetid ( Håndbok N200 (018) Vegbygging ).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4642</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4642</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, faktisk bæreevne</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5595: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5595</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5629: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5629</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_FaktiskBæreevneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_FriHøydeType">
    <annotation>
      <documentation>4639: Relatert til fast fri høgde for 50 meters strekning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4639</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4639</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, fri høyde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_FriHøydeEnumerationType nvdb:Standard_FriHøydeOtherType"/>
  </simpleType>
  <simpleType name="Standard_FriHøydeEnumerationType">
    <annotation>
      <documentation>4639: Relatert til fast fri høgde for 50 meters strekning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4639</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4639</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, fri høyde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5592: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5592</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brukbar">
        <annotation>
          <documentation>5609: Brukbar</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5609</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5626: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5626</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_FriHøydeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_GåendeSyklendeType">
    <annotation>
      <documentation>4638: Relatert til tilbud ( ruter ) for gående/syklende i og utenom tettsted.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, gående/syklende</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_GåendeSyklendeEnumerationType nvdb:Standard_GåendeSyklendeOtherType"/>
  </simpleType>
  <simpleType name="Standard_GåendeSyklendeEnumerationType">
    <annotation>
      <documentation>4638: Relatert til tilbud ( ruter ) for gående/syklende i og utenom tettsted.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, gående/syklende</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5591: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5591</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5625: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5625</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_GåendeSyklendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_HorisontalkurvaturType">
    <annotation>
      <documentation>4636: Relatert til strekningssammenligning i henhold til Håndbok om stamvegsutredning. Kurvatur framskaffes vha. KurvGen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4636</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4636</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, horisontalkurvatur</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_HorisontalkurvaturEnumerationType nvdb:Standard_HorisontalkurvaturOtherType"/>
  </simpleType>
  <simpleType name="Standard_HorisontalkurvaturEnumerationType">
    <annotation>
      <documentation>4636: Relatert til strekningssammenligning i henhold til Håndbok om stamvegsutredning. Kurvatur framskaffes vha. KurvGen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4636</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4636</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, horisontalkurvatur</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5589: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5589</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brukbar">
        <annotation>
          <documentation>5606: Brukbar</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5606</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5623: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5623</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_HorisontalkurvaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_HøyfjellType">
    <annotation>
      <documentation>4640: Relatert til data om kolonnekjøring.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4640</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4640</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, høyfjell</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_HøyfjellEnumerationType nvdb:Standard_HøyfjellOtherType"/>
  </simpleType>
  <simpleType name="Standard_HøyfjellEnumerationType">
    <annotation>
      <documentation>4640: Relatert til data om kolonnekjøring.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4640</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4640</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, høyfjell</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5593: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5593</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brukbar">
        <annotation>
          <documentation>5610: Brukbar</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5610</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5627: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5627</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_HøyfjellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_NO2Type">
    <annotation>
      <documentation>4648: Nitrogendioksyd, relatert til timemiddelkonsentrasjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4648</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4648</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, NO2</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_NO2EnumerationType nvdb:Standard_NO2OtherType"/>
  </simpleType>
  <simpleType name="Standard_NO2EnumerationType">
    <annotation>
      <documentation>4648: Nitrogendioksyd, relatert til timemiddelkonsentrasjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4648</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4648</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, NO2</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5601: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5601</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5635: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5635</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_NO2OtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_PM10Type">
    <annotation>
      <documentation>4647: Svevestøv, relatert til døgnmiddelkonsentrasjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4647</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4647</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, PM10</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_PM10EnumerationType nvdb:Standard_PM10OtherType"/>
  </simpleType>
  <simpleType name="Standard_PM10EnumerationType">
    <annotation>
      <documentation>4647: Svevestøv, relatert til døgnmiddelkonsentrasjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4647</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4647</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, PM10</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5600: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5600</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5634: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5634</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_PM10OtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_ProblemsonerType">
    <annotation>
      <documentation>4649: : Relatert til problemsoner definert ved vurdering av landskapsbilde, naturmiljø og kulturmiljø, kalt landskap, helhetsvurdering.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4649</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4649</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, problemsoner</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_ProblemsonerEnumerationType nvdb:Standard_ProblemsonerOtherType"/>
  </simpleType>
  <simpleType name="Standard_ProblemsonerEnumerationType">
    <annotation>
      <documentation>4649: : Relatert til problemsoner definert ved vurdering av landskapsbilde, naturmiljø og kulturmiljø, kalt landskap, helhetsvurdering.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4649</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4649</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, problemsoner</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5602: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5602</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5636: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5636</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_ProblemsonerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_RasfareType">
    <annotation>
      <documentation>4641: Relatert til rasutsatte strekninger, dokumentert i internrapport nr 2186.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4641</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4641</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, rasfare</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_RasfareEnumerationType nvdb:Standard_RasfareOtherType"/>
  </simpleType>
  <simpleType name="Standard_RasfareEnumerationType">
    <annotation>
      <documentation>4641: Relatert til rasutsatte strekninger, dokumentert i internrapport nr 2186.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4641</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4641</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, rasfare</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5594: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5594</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5628: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5628</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_RasfareOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_Samlet_BeregnetType">
    <annotation>
      <documentation>4633: Angir samlet standard.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4633</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4633</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, samlet, beregnet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_Samlet_BeregnetEnumerationType nvdb:Standard_Samlet_BeregnetOtherType"/>
  </simpleType>
  <simpleType name="Standard_Samlet_BeregnetEnumerationType">
    <annotation>
      <documentation>4633: Angir samlet standard.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4633</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4633</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, samlet, beregnet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5586: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5586</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brukbar">
        <annotation>
          <documentation>5603: Brukbar</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5603</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5620: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5620</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_Samlet_BeregnetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_Samlet_KorrigertType">
    <annotation>
      <documentation>4634: Angir korrigert samlet standard.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4634</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4634</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, samlet, korrigert</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_Samlet_KorrigertEnumerationType nvdb:Standard_Samlet_KorrigertOtherType"/>
  </simpleType>
  <simpleType name="Standard_Samlet_KorrigertEnumerationType">
    <annotation>
      <documentation>4634: Angir korrigert samlet standard.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4634</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4634</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, samlet, korrigert</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5587: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5587</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brukbar">
        <annotation>
          <documentation>5604: Brukbar</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5604</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5621: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5621</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_Samlet_KorrigertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_Sikkerhetsutstyr_TunnelType">
    <annotation>
      <documentation>4645: Relatert til sikkerhetsutstyr i HB N500 (021).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4645</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4645</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, sikkerhetsutstyr, tunnel</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_Sikkerhetsutstyr_TunnelEnumerationType nvdb:Standard_Sikkerhetsutstyr_TunnelOtherType"/>
  </simpleType>
  <simpleType name="Standard_Sikkerhetsutstyr_TunnelEnumerationType">
    <annotation>
      <documentation>4645: Relatert til sikkerhetsutstyr i HB N500 (021).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4645</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4645</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, sikkerhetsutstyr, tunnel</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5598: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5598</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brukbar">
        <annotation>
          <documentation>5615: Brukbar</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5615</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5632: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5632</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_Sikkerhetsutstyr_TunnelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_SkadegradstetthetType">
    <annotation>
      <documentation>4644: Relatert til sikkerhetsklasser etter forventet skadegradstetthet ( SGT ).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4644</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4644</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, skadegradstetthet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_SkadegradstetthetEnumerationType nvdb:Standard_SkadegradstetthetOtherType"/>
  </simpleType>
  <simpleType name="Standard_SkadegradstetthetEnumerationType">
    <annotation>
      <documentation>4644: Relatert til sikkerhetsklasser etter forventet skadegradstetthet ( SGT ).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4644</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4644</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, skadegradstetthet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5597: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5597</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brukbar">
        <annotation>
          <documentation>5614: Brukbar</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5614</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5631: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5631</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_SkadegradstetthetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_StamvegGjennomTettbebyggelseType">
    <annotation>
      <documentation>4643: Relatert til definisjoner gitt i håndbok for stamveger 2002.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4643</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4643</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, stamveg gjennom tettbebyggelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_StamvegGjennomTettbebyggelseEnumerationType nvdb:Standard_StamvegGjennomTettbebyggelseOtherType"/>
  </simpleType>
  <simpleType name="Standard_StamvegGjennomTettbebyggelseEnumerationType">
    <annotation>
      <documentation>4643: Relatert til definisjoner gitt i håndbok for stamveger 2002.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4643</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4643</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, stamveg gjennom tettbebyggelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5596: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5596</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5630: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5630</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_StamvegGjennomTettbebyggelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_StigningType">
    <annotation>
      <documentation>4637: Relatert til maksimal stigning over en gitt lengde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4637</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4637</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, stigning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_StigningEnumerationType nvdb:Standard_StigningOtherType"/>
  </simpleType>
  <simpleType name="Standard_StigningEnumerationType">
    <annotation>
      <documentation>4637: Relatert til maksimal stigning over en gitt lengde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4637</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4637</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, stigning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5590: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5590</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brukbar">
        <annotation>
          <documentation>5607: Brukbar</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5607</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5624: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5624</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_StigningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_Støy_TotaltType">
    <annotation>
      <documentation>4646: Samlet støy relatert til 500 meters strekninger ( Omfatter 5 deltema om støy ).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4646</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4646</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, støy, totalt</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_Støy_TotaltEnumerationType nvdb:Standard_Støy_TotaltOtherType"/>
  </simpleType>
  <simpleType name="Standard_Støy_TotaltEnumerationType">
    <annotation>
      <documentation>4646: Samlet støy relatert til 500 meters strekninger ( Omfatter 5 deltema om støy ).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4646</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4646</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, støy, totalt</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5599: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5599</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brukbar">
        <annotation>
          <documentation>5616: Brukbar</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5616</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5633: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5633</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_Støy_TotaltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Standard_VegbreddeType">
    <annotation>
      <documentation>4635: Relatert til vegnormalenes definisjoner.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4635</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4635</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, vegbredde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Standard_VegbreddeEnumerationType nvdb:Standard_VegbreddeOtherType"/>
  </simpleType>
  <simpleType name="Standard_VegbreddeEnumerationType">
    <annotation>
      <documentation>4635: Relatert til vegnormalenes definisjoner.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4635</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4635</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standard, vegbredde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5588: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5588</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brukbar">
        <annotation>
          <documentation>5605: Brukbar</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5605</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brukbar</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5622: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5622</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Standard_VegbreddeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardklasseVegstandardType">
    <annotation>
      <documentation>4631: Vegnormalenes inndeling i klasser på vegnettet, inkl. gsv.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4631</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4631</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standardklasse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardklasseVegstandardEnumerationType nvdb:StandardklasseVegstandardOtherType"/>
  </simpleType>
  <simpleType name="StandardklasseVegstandardEnumerationType">
    <annotation>
      <documentation>4631: Vegnormalenes inndeling i klasser på vegnettet, inkl. gsv.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4631</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4631</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Standardklasse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="H1">
        <annotation>
          <documentation>5637: H1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5637</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">H1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="H2">
        <annotation>
          <documentation>5638: H2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5638</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">H2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="H3">
        <annotation>
          <documentation>5639: H3</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5639</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">H3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S1">
        <annotation>
          <documentation>5643: S1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5643</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">S1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S2">
        <annotation>
          <documentation>5644: S2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5644</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">S2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S3">
        <annotation>
          <documentation>5645: S3</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5645</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">S3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="A1">
        <annotation>
          <documentation>5646: A1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5646</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">A1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="A2">
        <annotation>
          <documentation>5647: A2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5647</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">A2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="A3">
        <annotation>
          <documentation>5648: A3</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5648</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">A3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="G1">
        <annotation>
          <documentation>5649: G1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5649</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">G1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="G2">
        <annotation>
          <documentation>5650: G2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5650</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">G2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="G3">
        <annotation>
          <documentation>5651: G3</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5651</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">G3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardklasseVegstandardOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegstandard" substitutionGroup="nvdb:AbstraktVegstandard" type="nvdb:VegstandardType">
    <annotation>
      <documentation>541: Angir standard på vegstrekning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">541</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">541</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vegstandard</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegstandardType">
    <complexContent>
      <extension base="nvdb:AbstraktVegstandardType">
        <sequence>
          <element minOccurs="0" name="statusår" type="integer">
            <annotation>
              <documentation>4650: Angir statusår.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4650</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Statusår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bruker" type="string">
            <annotation>
              <documentation>4629: Angir brukerinitialer i vdb ( NVDB ).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4629</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruker</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>4630: Angir når data er registrert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4630</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Registreringsdato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardklasse" type="nvdb:StandardklasseVegstandardType">
            <annotation>
              <documentation>4631: Vegnormalenes inndeling i klasser på vegnettet, inkl. gsv.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4631</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standardklasse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardÅDT" type="integer">
            <annotation>
              <documentation>4632: Angir ÅDT.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4632</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard ÅDT</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Samlet_Beregnet" type="nvdb:Standard_Samlet_BeregnetType">
            <annotation>
              <documentation>4633: Angir samlet standard.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4633</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, samlet, beregnet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Samlet_Korrigert" type="nvdb:Standard_Samlet_KorrigertType">
            <annotation>
              <documentation>4634: Angir korrigert samlet standard.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4634</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, samlet, korrigert</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Vegbredde" type="nvdb:Standard_VegbreddeType">
            <annotation>
              <documentation>4635: Relatert til vegnormalenes definisjoner.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4635</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, vegbredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Horisontalkurvatur" type="nvdb:Standard_HorisontalkurvaturType">
            <annotation>
              <documentation>4636: Relatert til strekningssammenligning i henhold til Håndbok om stamvegsutredning. Kurvatur framskaffes vha. KurvGen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4636</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, horisontalkurvatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Stigning" type="nvdb:Standard_StigningType">
            <annotation>
              <documentation>4637: Relatert til maksimal stigning over en gitt lengde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4637</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, stigning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_GåendeSyklende" type="nvdb:Standard_GåendeSyklendeType">
            <annotation>
              <documentation>4638: Relatert til tilbud ( ruter ) for gående/syklende i og utenom tettsted.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4638</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, gående/syklende</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_FriHøyde" type="nvdb:Standard_FriHøydeType">
            <annotation>
              <documentation>4639: Relatert til fast fri høgde for 50 meters strekning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4639</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, fri høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Høyfjell" type="nvdb:Standard_HøyfjellType">
            <annotation>
              <documentation>4640: Relatert til data om kolonnekjøring.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4640</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, høyfjell</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Rasfare" type="nvdb:Standard_RasfareType">
            <annotation>
              <documentation>4641: Relatert til rasutsatte strekninger, dokumentert i internrapport nr 2186.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4641</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, rasfare</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_FaktiskBæreevne" type="nvdb:Standard_FaktiskBæreevneType">
            <annotation>
              <documentation>4642: Bæreevne relatert til levetidsfaktor hentet ut fra PMS. Forhold mellom funksjonell dekkelevetid og normert dekkelevetid ( Håndbok N200 (018) Vegbygging ).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4642</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, faktisk bæreevne</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_StamvegGjennomTettbebyggelse" type="nvdb:Standard_StamvegGjennomTettbebyggelseType">
            <annotation>
              <documentation>4643: Relatert til definisjoner gitt i håndbok for stamveger 2002.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4643</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, stamveg gjennom tettbebyggelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Skadegradstetthet" type="nvdb:Standard_SkadegradstetthetType">
            <annotation>
              <documentation>4644: Relatert til sikkerhetsklasser etter forventet skadegradstetthet ( SGT ).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4644</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, skadegradstetthet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Sikkerhetsutstyr_Tunnel" type="nvdb:Standard_Sikkerhetsutstyr_TunnelType">
            <annotation>
              <documentation>4645: Relatert til sikkerhetsutstyr i HB N500 (021).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4645</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, sikkerhetsutstyr, tunnel</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Støy_Totalt" type="nvdb:Standard_Støy_TotaltType">
            <annotation>
              <documentation>4646: Samlet støy relatert til 500 meters strekninger ( Omfatter 5 deltema om støy ).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4646</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, støy, totalt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_PM10" type="nvdb:Standard_PM10Type">
            <annotation>
              <documentation>4647: Svevestøv, relatert til døgnmiddelkonsentrasjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4647</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, PM10</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_NO2" type="nvdb:Standard_NO2Type">
            <annotation>
              <documentation>4648: Nitrogendioksyd, relatert til timemiddelkonsentrasjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4648</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, NO2</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Problemsoner" type="nvdb:Standard_ProblemsonerType">
            <annotation>
              <documentation>4649: : Relatert til problemsoner definert ved vurdering av landskapsbilde, naturmiljø og kulturmiljø, kalt landskap, helhetsvurdering.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4649</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Standard, problemsoner</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5041: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5041</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegstandardPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegstandard"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
