GML/542.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.28">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AvledningsevneType">
    <annotation>
      <documentation>4654: Støtputer deles inn i to typer etter deres evne til å fange opp og stanse eller avlede kjøretøyet ved en sidepåkjørsel. Kilde: Rekkverksnormal HB N101 (231).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4654</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4654</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avledningsevne</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AvledningsevneEnumerationType nvdb:AvledningsevneOtherType"/>
  </simpleType>
  <simpleType name="AvledningsevneEnumerationType">
    <annotation>
      <documentation>4654: Støtputer deles inn i to typer etter deres evne til å fange opp og stanse eller avlede kjøretøyet ved en sidepåkjørsel. Kilde: Rekkverksnormal HB N101 (231).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4654</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4654</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avledningsevne</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Avledende">
        <annotation>
          <documentation>5706: Avledende</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5706</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avledende</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke avledende">
        <annotation>
          <documentation>5707: Ikke avledende</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5707</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ikke avledende</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AvledningsevneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BevegelsesklasseType">
    <annotation>
      <documentation>4655: Angir bevegelsesklasse.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4655</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4655</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bevegelsesklasse</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BevegelsesklasseEnumerationType nvdb:BevegelsesklasseOtherType"/>
  </simpleType>
  <simpleType name="BevegelsesklasseEnumerationType">
    <annotation>
      <documentation>4655: Angir bevegelsesklasse.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4655</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4655</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bevegelsesklasse</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Z1">
        <annotation>
          <documentation>5708: Z1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5708</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Z1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Z2">
        <annotation>
          <documentation>5709: Z2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5709</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Z2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Z3">
        <annotation>
          <documentation>5710: Z3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5710</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Z3</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Z4">
        <annotation>
          <documentation>5711: Z4</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5711</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Z4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BevegelsesklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierStøtputeType">
    <annotation>
      <documentation>8042: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8042</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8042</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierStøtputeEnumerationType nvdb:EierStøtputeOtherType"/>
  </simpleType>
  <simpleType name="EierStøtputeEnumerationType">
    <annotation>
      <documentation>8042: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8042</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8042</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10308: Stat, Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10308</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stat, Statens vegvesen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18658: Stat, Nye Veier</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18658</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stat, Nye Veier</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10769: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10769</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10372: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10372</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10436: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10436</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Privat</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17659: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17659</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Uavklart</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierStøtputeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningStøtputeType">
    <annotation>
      <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8395</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8395</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produktnavn/typegodkjenning</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ProduktnavnTypegodkjenningStøtputeEnumerationType nvdb:ProduktnavnTypegodkjenningStøtputeOtherType"/>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningStøtputeEnumerationType">
    <annotation>
      <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8395</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8395</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produktnavn/typegodkjenning</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="APM 50 - S50">
        <annotation>
          <documentation>20338: Produktnavn: APM 50. Typegodkjenning: S 50 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2911668&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20338</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">APM 50 - S50</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="APM 80 - S80">
        <annotation>
          <documentation>20339: Produktnavn: APM 80. Typegodkjenning: S 80 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2911601&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20339</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">APM 80 - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="APM 100 - S100">
        <annotation>
          <documentation>20336: Produktnavn: APM 100. Typegodkjenning: S 100 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2911581&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20336</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">APM 100 - S100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="APM 110 - S110">
        <annotation>
          <documentation>20337: Produktnavn: APM 110. Typegodkjenning: S 110 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2911582&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20337</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">APM 110 - S110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brakemaster - uspes">
        <annotation>
          <documentation>11331: Produktnavn "Brakemaster". Typegodkjenning ikke angitt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11331</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Brakemaster - uspes</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="CrashGuard 3S - S80">
        <annotation>
          <documentation>20340: Produktnavn: CrashGuard 35. Typegodkjenning: S 80 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2271975&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20340</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">CrashGuard 3S - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="CrashGuard 3S - S110">
        <annotation>
          <documentation>20341: Produktnavn: CrashGuard 65. Typegodkjenning: S 110 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2271974&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20341</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">CrashGuard 3S - S110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="EuroTRACC S80 - S80">
        <annotation>
          <documentation>17338: Produktnavn: EuroTRACC S80. Typegodkjenning: S 80 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511224&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17338</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">EuroTRACC S80 - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="EuroTRACC S110 - S110">
        <annotation>
          <documentation>17336: Produktnavn: EuroTRACC S110. Typegodkjenning: S 110 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511207&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17336</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">EuroTRACC S110 - S110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="EuroTRACC 80 Wide - S80">
        <annotation>
          <documentation>17335: Produktnavn: EuroTRACC 80 Wide. Typegodkjenning: S 80 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511214&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17335</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">EuroTRACC 80 Wide - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="EuroTRACC S110 Wide - S110">
        <annotation>
          <documentation>17337: Produktnavn: EuroTRACC S110 Wide. Typegodkjenning: S 110 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511222&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17337</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">EuroTRACC S110 Wide - S110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QuadGuard - uspes">
        <annotation>
          <documentation>11332: Produktnavn: QuadGuard. Typegodkjenning: Ikke angitt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11332</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">QuadGuard - uspes</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QuadGuard CEN - S50">
        <annotation>
          <documentation>17341: Produktnavn: QuadGuard CEN. Typegodkjenning: S 50 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511562&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17341</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">QuadGuard CEN - S50</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QuadGuard CEN - S80">
        <annotation>
          <documentation>17340: Produktnavn: QuadGuard CEN. Typegodkjenning: S 80 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511567&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17340</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">QuadGuard CEN - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QuadGuard CEN - S100">
        <annotation>
          <documentation>17342: Produktnavn: QuadGuard CEN. Typegodkjenning: S 100 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511571&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17342</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">QuadGuard CEN - S100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QuadGuard CEN - S110">
        <annotation>
          <documentation>17339: Produktnavn: QuadGuard CEN. Typegodkjenning: S 110 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511575&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17339</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">QuadGuard CEN - S110 </taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Quest CEN - S80">
        <annotation>
          <documentation>17343: Produktnavn: Quest CEN. Typegodkjenning: S 80 Z1 D2. Mer informasjon:  Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511523&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17343</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Quest CEN - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Quest CEN - S100">
        <annotation>
          <documentation>17344: Produktnavn: Quest CEN. Typegodkjenning: S 100 Z1 D2. Mer informasjon:  Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511525&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17344</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Quest CEN - S100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Quest CEN - S110">
        <annotation>
          <documentation>17345: Produktnavn: Quest CEN. Typegodkjenning: S 110 Z1 D2. Mer informasjon:  Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511535&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17345</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Quest CEN - S110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA 50 - S50">
        <annotation>
          <documentation>17348: Produktnavn: SMA 50. Typegodkjenning: S 50 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635629&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17348</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SMA 50 - S50</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA 80  - S80">
        <annotation>
          <documentation>17349: Produktnavn: SMA 80 . Typegodkjenning: S 80 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635624&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17349</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SMA 80  - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA 80/1 - S80/1">
        <annotation>
          <documentation>17350: Produktnavn: SMA 80/1. Typegodkjenning: S 80/1 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1020822&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17350</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SMA 80/1 - S80/1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA 100 - S100">
        <annotation>
          <documentation>17346: Produktnavn: SMA 100. Typegodkjenning: S 100 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635619&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17346</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SMA 100 - S100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA 110 - S110">
        <annotation>
          <documentation>17347: Produktnavn: SMA 110. Typegodkjenning: S 110 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635615&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17347</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SMA 110 - S110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU 60 - S50">
        <annotation>
          <documentation>17352: Produktnavn: TAU 60 . Typegodkjenning: S 50 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=514829&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17352</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TAU 60 - S50</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU 80 - S80">
        <annotation>
          <documentation>17353: Produktnavn: TAU 80. Typegodkjenning: S 80 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=514884&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17353</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TAU 80 - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU 100 - S100">
        <annotation>
          <documentation>17351: Produktnavn: TAU 100. Typegodkjenning: S 100 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511239&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17351</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TAU 100 - S100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU B  - S110">
        <annotation>
          <documentation>17354: Produktnavn: TAU B . Typegodkjenning: S 110 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511202&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17354</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TAU B  - S110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU TUBE P50 - S50">
        <annotation>
          <documentation>17357: Produktnavn: TAU TUBE P50. Typegodkjenning: S 50 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975018&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17357</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TAU TUBE P50 - S50</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU TUBE P80 - S80">
        <annotation>
          <documentation>17358: Produktnavn: TAU TUBE P80. Typegodkjenning: S 80 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975017&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17358</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TAU TUBE P80 - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU TUBE P100 - S100">
        <annotation>
          <documentation>17355: Produktnavn: TAU TUBE P100. Typegodkjenning: S 100 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975012&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17355</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TAU TUBE P100 - S100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU TUBE P110 - S110">
        <annotation>
          <documentation>17356: Produktnavn: TAU TUBE P110. Typegodkjenning: S 110 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975011&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17356</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TAU TUBE P110 - S110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="WALT - S80/1">
        <annotation>
          <documentation>17359: Produktnavn: WALT. Typegodkjenning: S 80/1 Z1 D3. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511217&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17359</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">WALT - S80/1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningStøtputeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SikkerhetsklasseType">
    <annotation>
      <documentation>4653: Angir hvilken sikkerhetsklasse støtpute er dimensjonert for. Jfr Rekkverksnormal HB N101 (231) kap 6.3.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4653</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4653</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sikkerhetsklasse</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SikkerhetsklasseEnumerationType nvdb:SikkerhetsklasseOtherType"/>
  </simpleType>
  <simpleType name="SikkerhetsklasseEnumerationType">
    <annotation>
      <documentation>4653: Angir hvilken sikkerhetsklasse støtpute er dimensjonert for. Jfr Rekkverksnormal HB N101 (231) kap 6.3.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4653</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4653</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sikkerhetsklasse</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="S-50">
        <annotation>
          <documentation>5701: S-50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5701</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S-50</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S-80">
        <annotation>
          <documentation>5702: S-80</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5702</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S-80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S-80-1">
        <annotation>
          <documentation>5703: S-80-1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5703</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S-80-1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S-100">
        <annotation>
          <documentation>5704: S-100</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5704</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S-100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S-110">
        <annotation>
          <documentation>5705: S-110</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5705</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S-110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SikkerhetsklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkaderisikoType">
    <annotation>
      <documentation>4657: Angir skaderisiko.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4657</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4657</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skaderisiko</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkaderisikoEnumerationType nvdb:SkaderisikoOtherType"/>
  </simpleType>
  <simpleType name="SkaderisikoEnumerationType">
    <annotation>
      <documentation>4657: Angir skaderisiko.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4657</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4657</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skaderisiko</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="A">
        <annotation>
          <documentation>5717: A</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5717</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">A</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>5718: B</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5718</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">B</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkaderisikoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Støtpute" substitutionGroup="nvdb:AbstraktStøtpute" type="nvdb:StøtputeType">
    <annotation>
      <documentation>542: En energiabsorberende sikkerhetskonstruksjon som over kort avstand skal bremse et kjøretøy ved frontkollisjon eller sidekollisjon, eller lede det forbi faremomentet. Kilde: Rekkverksnormal.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">542</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">542</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Støtpute</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StøtputeType">
    <complexContent>
      <extension base="nvdb:AbstraktStøtputeType">
        <sequence>
          <element minOccurs="0" name="produktnavnTypegodkjenning" type="nvdb:ProduktnavnTypegodkjenningStøtputeType">
            <annotation>
              <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8395</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produktnavn/typegodkjenning</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sikkerhetsklasse" type="nvdb:SikkerhetsklasseType">
            <annotation>
              <documentation>4653: Angir hvilken sikkerhetsklasse støtpute er dimensjonert for. Jfr Rekkverksnormal HB N101 (231) kap 6.3.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4653</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sikkerhetsklasse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avledningsevne" type="nvdb:AvledningsevneType">
            <annotation>
              <documentation>4654: Støtputer deles inn i to typer etter deres evne til å fange opp og stanse eller avlede kjøretøyet ved en sidepåkjørsel. Kilde: Rekkverksnormal HB N101 (231).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4654</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avledningsevne</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bevegelsesklasse" type="nvdb:BevegelsesklasseType">
            <annotation>
              <documentation>4655: Angir bevegelsesklasse.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4655</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bevegelsesklasse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utbøyningsklasse" type="nvdb:UtbøyningsklasseType">
            <annotation>
              <documentation>4656: Angir utbøyningsklasse.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4656</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utbøyningsklasse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skaderisiko" type="nvdb:SkaderisikoType">
            <annotation>
              <documentation>4657: Angir skaderisiko.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4657</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skaderisiko</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="inspeksjonsdato" type="date">
            <annotation>
              <documentation>12082: Dato for når støtpute sist ble inspisert.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12082</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Inspeksjonsdato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10367: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10367</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etableringsår</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10483: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10483</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Driftsmerking</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11629: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11629</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11147: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11147</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Prosjektreferanse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12396: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12396</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">ProsjektInternObjekt_ID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierStøtputeType">
            <annotation>
              <documentation>8042: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8042</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligStøtputeType">
            <annotation>
              <documentation>8117: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8117</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vedlikeholdsansvarlig</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5040: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5040</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRekkverk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRekkverk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSystemobjekt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSystemobjekt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkadeFU_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StøtputePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Støtpute"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="UtbøyningsklasseType">
    <annotation>
      <documentation>4656: Angir utbøyningsklasse.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4656</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4656</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utbøyningsklasse</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtbøyningsklasseEnumerationType nvdb:UtbøyningsklasseOtherType"/>
  </simpleType>
  <simpleType name="UtbøyningsklasseEnumerationType">
    <annotation>
      <documentation>4656: Angir utbøyningsklasse.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4656</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4656</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utbøyningsklasse</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="D1">
        <annotation>
          <documentation>5712: D1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5712</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">D1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="D2">
        <annotation>
          <documentation>5713: D2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5713</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">D2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="D3">
        <annotation>
          <documentation>5714: D3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5714</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">D3</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="D4">
        <annotation>
          <documentation>5715: D4</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5715</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">D4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="D5">
        <annotation>
          <documentation>5716: D5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5716</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">D5</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="D6">
        <annotation>
          <documentation>5719: D6</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5719</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">D6</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="D7">
        <annotation>
          <documentation>5720: D7</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5720</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">D7</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="D8">
        <annotation>
          <documentation>5721: D8</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5721</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">D8</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtbøyningsklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStøtputeType">
    <annotation>
      <documentation>8117: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8117</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8117</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vedlikeholdsansvarlig</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligStøtputeEnumerationType nvdb:VedlikeholdsansvarligStøtputeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStøtputeEnumerationType">
    <annotation>
      <documentation>8117: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8117</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8117</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vedlikeholdsansvarlig</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10511: Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10511</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Statens vegvesen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18771: Nye Veier</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18771</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nye Veier</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19972: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19972</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18900: OPS</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18900</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">OPS</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10589: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10589</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10667: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10667</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Privat</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17755: Uavklart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17755</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Uavklart</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStøtputeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
