GML/542.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AvledningsevneType">
    <annotation>
      <documentation>4654: Støtputer deles inn i to typer etter deres evne til å fange opp og stanse eller avlede kjøretøyet ved en sidepåkjørsel. Kilde: Rekkverksnormal HB N101 (231)</documentation>
    </annotation>
    <union memberTypes="nvdb:AvledningsevneEnumerationType nvdb:AvledningsevneOtherType"/>
  </simpleType>
  <simpleType name="AvledningsevneEnumerationType">
    <annotation>
      <documentation>4654: Støtputer deles inn i to typer etter deres evne til å fange opp og stanse eller avlede kjøretøyet ved en sidepåkjørsel. Kilde: Rekkverksnormal HB N101 (231)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="avledende">
        <annotation>
          <documentation>5706: Avledende</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeAvledende">
        <annotation>
          <documentation>5707: Ikke avledende</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AvledningsevneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BevegelsesklasseType">
    <annotation>
      <documentation>4655: Angir bevegelsesklasse</documentation>
    </annotation>
    <union memberTypes="nvdb:BevegelsesklasseEnumerationType nvdb:BevegelsesklasseOtherType"/>
  </simpleType>
  <simpleType name="BevegelsesklasseEnumerationType">
    <annotation>
      <documentation>4655: Angir bevegelsesklasse</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Z1">
        <annotation>
          <documentation>5708: Z1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Z2">
        <annotation>
          <documentation>5709: Z2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Z3">
        <annotation>
          <documentation>5710: Z3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Z4">
        <annotation>
          <documentation>5711: Z4</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BevegelsesklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierStøtputeType">
    <annotation>
      <documentation>8042: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierStøtputeEnumerationType nvdb:EierStøtputeOtherType"/>
  </simpleType>
  <simpleType name="EierStøtputeEnumerationType">
    <annotation>
      <documentation>8042: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10308: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18658: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10769: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10372: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10436: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17659: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierStøtputeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningStøtputeType">
    <annotation>
      <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent  av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt</documentation>
    </annotation>
    <union memberTypes="nvdb:ProduktnavnTypegodkjenningStøtputeEnumerationType nvdb:ProduktnavnTypegodkjenningStøtputeOtherType"/>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningStøtputeEnumerationType">
    <annotation>
      <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent  av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="APM_50_S50">
        <annotation>
          <documentation>20338: Produktnavn: APM 50. Typegodkjenning: S 50 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2911668&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="APM_80_S80">
        <annotation>
          <documentation>20339: Produktnavn: APM 80. Typegodkjenning: S 80 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2911601&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="APM_100_S100">
        <annotation>
          <documentation>20336: Produktnavn: APM 100. Typegodkjenning: S 100 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2911581&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="APM_110_S110">
        <annotation>
          <documentation>20337: Produktnavn: APM 110. Typegodkjenning: S 110 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2911582&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brakemaster_Uspes">
        <annotation>
          <documentation>11331: Produktnavn "Brakemaster". Typegodkjenning ikke angitt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="crashGuard3S_S80">
        <annotation>
          <documentation>20340: Produktnavn: CrashGuard 35. Typegodkjenning: S 80 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2271975&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="crashGuard3S_S110">
        <annotation>
          <documentation>20341: Produktnavn: CrashGuard 65. Typegodkjenning: S 110 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2271974&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="euroTRACCS80_S80">
        <annotation>
          <documentation>17338: Produktnavn: EuroTRACC S80. Typegodkjenning: S 80 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511224&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="euroTRACCS110_S110">
        <annotation>
          <documentation>17336: Produktnavn: EuroTRACC S110. Typegodkjenning: S 110 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511207&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="euroTRACC_80_Wide_S80">
        <annotation>
          <documentation>17335: Produktnavn: EuroTRACC 80 Wide. Typegodkjenning: S 80 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511214&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="euroTRACCS110_Wide_S110">
        <annotation>
          <documentation>17337: Produktnavn: EuroTRACC S110 Wide. Typegodkjenning: S 110 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511222&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="quadGuard_Uspes">
        <annotation>
          <documentation>11332: Produktnavn: QuadGuard. Typegodkjenning: Ikke angitt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="quadGuardCEN_S50">
        <annotation>
          <documentation>17341: Produktnavn: QuadGuard CEN. Typegodkjenning: S 50 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511562&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="quadGuardCEN_S80">
        <annotation>
          <documentation>17340: Produktnavn: QuadGuard CEN. Typegodkjenning: S 80 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511567&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="quadGuardCEN_S100">
        <annotation>
          <documentation>17342: Produktnavn: QuadGuard CEN. Typegodkjenning: S 100 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511571&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="quadGuardCEN_S110">
        <annotation>
          <documentation>17339: Produktnavn: QuadGuard CEN. Typegodkjenning: S 110 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511575&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="questCEN_S80">
        <annotation>
          <documentation>17343: Produktnavn: Quest CEN. Typegodkjenning: S 80 Z1 D2. Mer informasjon:  Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511523&amp;method=alle&amp;produkttype=12624.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="questCEN_S100">
        <annotation>
          <documentation>17344: Produktnavn: Quest CEN. Typegodkjenning: S 100 Z1 D2. Mer informasjon:  Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511525&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="questCEN_S110">
        <annotation>
          <documentation>17345: Produktnavn: Quest CEN. Typegodkjenning: S 110 Z1 D2. Mer informasjon:  Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511535&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SMA_50_S50">
        <annotation>
          <documentation>17348: Produktnavn: SMA 50. Typegodkjenning: S 50 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635629&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SMA_80_S80">
        <annotation>
          <documentation>17349: Produktnavn: SMA 80 . Typegodkjenning: S 80 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635624&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SMA_80_1_S80_1">
        <annotation>
          <documentation>17350: Produktnavn: SMA 80/1. Typegodkjenning: S 80/1 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1020822&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SMA_100_S100">
        <annotation>
          <documentation>17346: Produktnavn: SMA 100. Typegodkjenning: S 100 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635619&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SMA_110_S110">
        <annotation>
          <documentation>17347: Produktnavn: SMA 110. Typegodkjenning: S 110 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635615&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TAU_60_S50">
        <annotation>
          <documentation>17352: Produktnavn: TAU 60 . Typegodkjenning: S 50 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=514829&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TAU_80_S80">
        <annotation>
          <documentation>17353: Produktnavn: TAU 80. Typegodkjenning: S 80 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=514884&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TAU_100_S100">
        <annotation>
          <documentation>17351: Produktnavn: TAU 100. Typegodkjenning: S 100 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511239&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TAUB_S110">
        <annotation>
          <documentation>17354: Produktnavn: TAU B . Typegodkjenning: S 110 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511202&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TAU_TUBEP50_S50">
        <annotation>
          <documentation>17357: Produktnavn: TAU TUBE P50. Typegodkjenning: S 50 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975018&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TAU_TUBEP80_S80">
        <annotation>
          <documentation>17358: Produktnavn: TAU TUBE P80. Typegodkjenning: S 80 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975017&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TAU_TUBEP100_S100">
        <annotation>
          <documentation>17355: Produktnavn: TAU TUBE P100. Typegodkjenning: S 100 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975012&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TAU_TUBEP110_S110">
        <annotation>
          <documentation>17356: Produktnavn: TAU TUBE P110. Typegodkjenning: S 110 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975011&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WALT_S80_1">
        <annotation>
          <documentation>17359: Produktnavn: WALT. Typegodkjenning: S 80/1 Z1 D3. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511217&amp;method=alle&amp;produkttype=12624</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningStøtputeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SikkerhetsklasseType">
    <annotation>
      <documentation>4653: Angir hvilken sikkerhetsklasse støtpute er dimensjonert for. Jfr Rekkverksnormal HB N101 (231) kap 6.3</documentation>
    </annotation>
    <union memberTypes="nvdb:SikkerhetsklasseEnumerationType nvdb:SikkerhetsklasseOtherType"/>
  </simpleType>
  <simpleType name="SikkerhetsklasseEnumerationType">
    <annotation>
      <documentation>4653: Angir hvilken sikkerhetsklasse støtpute er dimensjonert for. Jfr Rekkverksnormal HB N101 (231) kap 6.3</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="S_50">
        <annotation>
          <documentation>5701: S-50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S_80">
        <annotation>
          <documentation>5702: S-80</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S_80til1">
        <annotation>
          <documentation>5703: S-80-1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S_100">
        <annotation>
          <documentation>5704: S-100</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S_110">
        <annotation>
          <documentation>5705: S-110</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SikkerhetsklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkaderisikoType">
    <annotation>
      <documentation>4657: Angir skaderisiko</documentation>
    </annotation>
    <union memberTypes="nvdb:SkaderisikoEnumerationType nvdb:SkaderisikoOtherType"/>
  </simpleType>
  <simpleType name="SkaderisikoEnumerationType">
    <annotation>
      <documentation>4657: Angir skaderisiko</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="A">
        <annotation>
          <documentation>5717: A</documentation>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>5718: B</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkaderisikoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Støtpute" substitutionGroup="nvdb:AbstraktStøtpute" type="nvdb:StøtputeType">
    <annotation>
      <documentation>542: En energiabsorberende sikkerhetskonstruksjon som over kort avstand skal bremse et kjøretøy ved frontkollisjon eller sidekollisjon, eller lede det forbi faremomentet. Kilde: Rekkverksnormal.</documentation>
    </annotation>
  </element>
  <complexType name="StøtputeType">
    <complexContent>
      <extension base="nvdb:AbstraktStøtputeType">
        <sequence>
          <element minOccurs="0" name="produktnavnTypegodkjenning" type="nvdb:ProduktnavnTypegodkjenningStøtputeType">
            <annotation>
              <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent  av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sikkerhetsklasse" type="nvdb:SikkerhetsklasseType">
            <annotation>
              <documentation>4653: Angir hvilken sikkerhetsklasse støtpute er dimensjonert for. Jfr Rekkverksnormal HB N101 (231) kap 6.3</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="avledningsevne" type="nvdb:AvledningsevneType">
            <annotation>
              <documentation>4654: Støtputer deles inn i to typer etter deres evne til å fange opp og stanse eller avlede kjøretøyet ved en sidepåkjørsel. Kilde: Rekkverksnormal HB N101 (231)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bevegelsesklasse" type="nvdb:BevegelsesklasseType">
            <annotation>
              <documentation>4655: Angir bevegelsesklasse</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utbøyningsklasse" type="nvdb:UtbøyningsklasseType">
            <annotation>
              <documentation>4656: Angir utbøyningsklasse</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skaderisiko" type="nvdb:SkaderisikoType">
            <annotation>
              <documentation>4657: Angir skaderisiko</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10367: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10483: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11629: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11147: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierStøtputeType">
            <annotation>
              <documentation>8042: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligStøtputeType">
            <annotation>
              <documentation>8117: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5040: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="nvdb:AbstraktTunnelløpPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="nvdb:AbstraktTilstandSkade_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Punkt" type="nvdb:AbstraktTilstandSkadeFU_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSystemobjekt" type="nvdb:AbstraktSystemobjektPropertyType"/>
          <element minOccurs="0" name="assosiertRekkverk" type="nvdb:AbstraktRekkverkPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StøtputePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Støtpute"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="UtbøyningsklasseType">
    <annotation>
      <documentation>4656: Angir utbøyningsklasse</documentation>
    </annotation>
    <union memberTypes="nvdb:UtbøyningsklasseEnumerationType nvdb:UtbøyningsklasseOtherType"/>
  </simpleType>
  <simpleType name="UtbøyningsklasseEnumerationType">
    <annotation>
      <documentation>4656: Angir utbøyningsklasse</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="D1">
        <annotation>
          <documentation>5712: D1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="D2">
        <annotation>
          <documentation>5713: D2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="D3">
        <annotation>
          <documentation>5714: D3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="D4">
        <annotation>
          <documentation>5715: D4</documentation>
        </annotation>
      </enumeration>
      <enumeration value="D5">
        <annotation>
          <documentation>5716: D5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="D6">
        <annotation>
          <documentation>5719: D6</documentation>
        </annotation>
      </enumeration>
      <enumeration value="D7">
        <annotation>
          <documentation>5720: D7</documentation>
        </annotation>
      </enumeration>
      <enumeration value="D8">
        <annotation>
          <documentation>5721: D8</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtbøyningsklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStøtputeType">
    <annotation>
      <documentation>8117: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligStøtputeEnumerationType nvdb:VedlikeholdsansvarligStøtputeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStøtputeEnumerationType">
    <annotation>
      <documentation>8117: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10511: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18771: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19972: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18900: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10589: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10667: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17755: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStøtputeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
