GML/57.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>57: Skråflate som er del av begrensningen av at skjæringsvolum. I tillegg til ei eller to skjæringer (ev. en på hver side av vegen) begrenses skjæringsvolumet av planum. Merknad: Det skal angis sideposisjon for skjæring.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BrattOverBergskjæringSkjæringType">
      <annotation>
         <documentation>9439: Angir om det er bratt sideterreng over skjæring. Bratt vil si helning på minst 30 grader.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9439</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bratt over bergskjæring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BrattOverBergskjæringSkjæringEnumerationType nvdb:BrattOverBergskjæringSkjæringOtherType"/>
   </simpleType>
   <simpleType name="BrattOverBergskjæringSkjæringEnumerationType">
      <annotation>
         <documentation>9439: Angir om det er bratt sideterreng over skjæring. Bratt vil si helning på minst 30 grader.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9439</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bratt over bergskjæring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13285</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13286</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BrattOverBergskjæringSkjæringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierSkjæringType">
      <annotation>
         <documentation>11961: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11961</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierSkjæringEnumerationType nvdb:EierSkjæringOtherType"/>
   </simpleType>
   <simpleType name="EierSkjæringEnumerationType">
      <annotation>
         <documentation>11961: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11961</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20469</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20470</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20471</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20468</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20467</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>20472: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20472</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierSkjæringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Helning_BergskjæringSkjæringType">
      <annotation>
         <documentation>9437: Angir hvilken helning det er på bergskjæring.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9437</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Helning, bergskjæring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Helning_BergskjæringSkjæringEnumerationType nvdb:Helning_BergskjæringSkjæringOtherType"/>
   </simpleType>
   <simpleType name="Helning_BergskjæringSkjæringEnumerationType">
      <annotation>
         <documentation>9437: Angir hvilken helning det er på bergskjæring.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9437</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Helning, bergskjæring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="10">
            <annotation>
               <documentation>13281: Fjellskjæring har helning rundt 10:1.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13281</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10:1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Slak">
            <annotation>
               <documentation>13282: Helning er slakere enn 10:1.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13282</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slakere enn 10:1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13280</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vertikal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Helning_BergskjæringSkjæringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="NærmesteObjektTilBergskjæringSkjæringType">
      <annotation>
         <documentation>9440: Angir hva som er nærmeste objekt til bergskjæring og som dermed vil kunne bli truffet av eventuelt nedfall fra skjæringen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9440</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nærmeste objekt til bergskjæring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NærmesteObjektTilBergskjæringSkjæringEnumerationType nvdb:NærmesteObjektTilBergskjæringSkjæringOtherType"/>
   </simpleType>
   <simpleType name="NærmesteObjektTilBergskjæringSkjæringEnumerationType">
      <annotation>
         <documentation>9440: Angir hva som er nærmeste objekt til bergskjæring og som dermed vil kunne bli truffet av eventuelt nedfall fra skjæringen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9440</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nærmeste objekt til bergskjæring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="av">
            <annotation>
               <documentation>13289: Annet vegareal, for eksempel parkeringsplass, holdeplass, med mer eller annen veg, f.eks. privat veg, skogsbilveg, etc. som ligger mellom oppgitt veg og fjellskjæring.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13289</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet vegareal/veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GS">
            <annotation>
               <documentation>13288: Gang sykkelveg som ligger mellom oppgitt veg og skjæring.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13288</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gang-/sykkelveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OV">
            <annotation>
               <documentation>13287: Veg skjæring er registrert på.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13287</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oppgitt veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vm">
            <annotation>
               <documentation>13290: Voller, murer etc, naturlig eller konstruert fanger opp eventuelt nedfall.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13290</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Voll/mur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NærmesteObjektTilBergskjæringSkjæringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PallSkjæringType">
      <annotation>
         <documentation>9438: Angir om bergskjæring er sprengt i paller.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9438</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pall</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PallSkjæringEnumerationType nvdb:PallSkjæringOtherType"/>
   </simpleType>
   <simpleType name="PallSkjæringEnumerationType">
      <annotation>
         <documentation>9438: Angir om bergskjæring er sprengt i paller.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9438</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pall</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13283</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13284</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PallSkjæringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Skjæring"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:SkjæringType">
      <annotation>
         <documentation>57: Skråflate som er del av begrensningen av at skjæringsvolum. I tillegg til ei eller to skjæringer (ev. en på hver side av vegen) begrenses skjæringsvolumet av planum. Merknad: Det skal angis sideposisjon for skjæring.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">57</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjæring</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SkjæringType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeSkjæringType">
                  <annotation>
                     <documentation>1121: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1121</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="integer">
                  <annotation>
                     <documentation>1311: Angir areal av vegobjektet. Dette arealet overstyrer ev. areal beregnet ut fra "bredde, gj.snitt" og utstrekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1311</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde_Middel" type="double">
                  <annotation>
                     <documentation>9436: Gir gjennomsnittshøyde av skjæring. Måles vertikalt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9436</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, middel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="helning_Bergskjæring">
                  <annotation>
                     <documentation>9437: Angir hvilken helning det er på bergskjæring.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9437</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Helning, bergskjæring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="pall" type="nvdb:PallSkjæringType">
                  <annotation>
                     <documentation>9438: Angir om bergskjæring er sprengt i paller.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9438</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Pall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="brattOverBergskjæring">
                  <annotation>
                     <documentation>9439: Angir om det er bratt sideterreng over skjæring. Bratt vil si helning på minst 30 grader.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9439</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bratt over bergskjæring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde_Maksimal" type="double">
                  <annotation>
                     <documentation>1870: Angir maksimal høyde av skjæring. Måles vertikalt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1870</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, maksimal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="nærmesteObjektTilBergskjæring">
                  <annotation>
                     <documentation>9440: Angir hva som er nærmeste objekt til bergskjæring og som dermed vil kunne bli truffet av eventuelt nedfall fra skjæringen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9440</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nærmeste objekt til bergskjæring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>4669: Angir gjennomsnittlig bredde av skjæring (skråflate). Bredde måles i plan med skjæring (skråflate). Gjennomsnittsbredde kan benyttes som grunnlag for å beregne areal av skjæring (skråflate).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4669</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bergskjærings_ID" type="string">
                  <annotation>
                     <documentation>12094: Identifikator som følger bergskjæring gjennom hele livsløpet. Etableres i planprosessen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12094</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bergskjærings-ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10360: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10360</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11570: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11570</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11055: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11055</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12293: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12293</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierSkjæringType">
                  <annotation>
                     <documentation>11961: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11961</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligSkjæringType">
                  <annotation>
                     <documentation>11995: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11995</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4760: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4760</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10959: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10959</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SkjæringPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Skjæring"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeSkjæringType">
      <annotation>
         <documentation>1121: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1121</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeSkjæringEnumerationType nvdb:TypeSkjæringOtherType"/>
   </simpleType>
   <simpleType name="TypeSkjæringEnumerationType">
      <annotation>
         <documentation>1121: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1121</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2325</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bergskjæring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2286</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jordskjæring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3283</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kombinert jord- og bergskjæring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeSkjæringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSkjæringType">
      <annotation>
         <documentation>11995: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11995</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligSkjæringEnumerationType nvdb:VedlikeholdsansvarligSkjæringOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSkjæringEnumerationType">
      <annotation>
         <documentation>11995: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11995</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20674</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20676</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20673</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20675</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20677</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20672</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20678</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSkjæringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
