GML/570.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AlternativUhellskodeType">
    <annotation>
      <documentation>5067: Angir hvilken type uhell trafikkulykken alternativt kan karakteriseres som. Denne skal bare angis i tilfeller hvor den endelige uhellssituasjonen skiller seg fra den utløsende, eller at en annen uhellskode kan beskrive vesentlige deler av hendelsesforløpe</documentation>
    </annotation>
    <union memberTypes="nvdb:AlternativUhellskodeEnumerationType nvdb:AlternativUhellskodeOtherType"/>
  </simpleType>
  <simpleType name="AlternativUhellskodeEnumerationType">
    <annotation>
      <documentation>5067: Angir hvilken type uhell trafikkulykken alternativt kan karakteriseres som. Denne skal bare angis i tilfeller hvor den endelige uhellssituasjonen skiller seg fra den utløsende, eller at en annen uhellskode kan beskrive vesentlige deler av hendelsesforløpe</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>6343: Uhell med dyr innblandet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>6344: Påkjøring av gjenstand i kjørebanen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>6345: Hull i vegen o.l.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>6346: Enslig kjøretøy veltet i kjørebanen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>6347: Påkjøring av parkert kjøretøy på høyre side</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>6348: Påkjøring av parkert kjøretøy på venstre side</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>6349: Påkjøring av parkert kjøretøy ved forbikjøring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7">
        <annotation>
          <documentation>6350: Øvrige parkeringsuhell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>6351: Uhell ved av- eller påstigning av kjøretøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>6352: Uhell med uklart forløp / uhell som ikke faller inn under noen bestemt uh.kode</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10">
        <annotation>
          <documentation>6353: Forbikjøring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation>6354: Skifte av felt til venstre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>6355: Skifte av felt til høyre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13">
        <annotation>
          <documentation>6356: Kjøring i parallelle kjørefelter forøvrig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14">
        <annotation>
          <documentation>6357: Påkjøring bakfra</documentation>
        </annotation>
      </enumeration>
      <enumeration value="15">
        <annotation>
          <documentation>6358: Påkjøring bakfra etter oppstart fra stanset eller parkert stilling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="16">
        <annotation>
          <documentation>6359: Påkjøring av forankjørende ved skifte av felt til venstre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="17">
        <annotation>
          <documentation>6360: Påkjøring av forankjørende ved skifte av felt til høyre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="19">
        <annotation>
          <documentation>6361: Uhell med uklart forløp mellom kjøretøy med samme kjøreretning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>6362: Møting på rett vegstrekning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="21">
        <annotation>
          <documentation>6363: Møting i kurve</documentation>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>6364: Møting under forbikjøring på rett vegstrekning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="23">
        <annotation>
          <documentation>6365: Møting under forbikjøring i høyrekurve</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>6366: Møting under forbikjøring i venstrekurve</documentation>
        </annotation>
      </enumeration>
      <enumeration value="25">
        <annotation>
          <documentation>6367: Møting under forbikjøring av stanset eller parkert kjøretøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="26">
        <annotation>
          <documentation>6368: Møting etter oppstart fra stanset eller parkert stilling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="29">
        <annotation>
          <documentation>6369: Uhell med uklart forløp ved møting</documentation>
        </annotation>
      </enumeration>
      <enumeration value="30">
        <annotation>
          <documentation>6370: Påkjøring bakfra ved høyresving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31">
        <annotation>
          <documentation>6371: Påkjøring forøvrig ved høyresving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="32">
        <annotation>
          <documentation>6372: Påkjøring bakfra ved venstresving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="33">
        <annotation>
          <documentation>6373: Påkjøring forøvrig ved venstresving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="34">
        <annotation>
          <documentation>6374: Påkjøring ved vending foran kjørende i samme retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="35">
        <annotation>
          <documentation>6375: Påkjøring av kjørende fra fortau eller G/S-veg, ved høyresving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="36">
        <annotation>
          <documentation>6376: Påkjøring av kjørende fra fortau eller G/S-veg, ved venstresving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="39">
        <annotation>
          <documentation>6377: Uhell med uklart forløp ved avsvinging fra samme kjøreretning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="40">
        <annotation>
          <documentation>6378: Avsvingning til venstre foran kjørende i motsatt retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="41">
        <annotation>
          <documentation>6379: Avsvinging i samme retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="42">
        <annotation>
          <documentation>6380: Avsvinging i hver sin retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="43">
        <annotation>
          <documentation>6381: Vending foran kjørende i motsatt retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="44">
        <annotation>
          <documentation>6382: Avsvingning til høyre foran kjørende i motsatt retning fra fortau eller G/S-veg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="45">
        <annotation>
          <documentation>6383: Avsvingning til venstre foran kjørende i motsatt retning fra fortau eller G/S-veg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="49">
        <annotation>
          <documentation>6384: Uhell med uklart forløp ved avsvinging fra motsatte kjøreretninger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="50">
        <annotation>
          <documentation>6385: Kryssende kjøreretninger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="51">
        <annotation>
          <documentation>6386: Forbikjøring på venstre side i kryss eller avkjørsel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="52">
        <annotation>
          <documentation>6387: Forbikjøring på høyre side i kryss eller avkjørsel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="53">
        <annotation>
          <documentation>6388: Kjørende fra fortau eller G/S-veg krysset kjørebanen på hitsiden av krysset</documentation>
        </annotation>
      </enumeration>
      <enumeration value="54">
        <annotation>
          <documentation>6389: Kjørende fra fortau eller G/S-veg krysset kjørebanen på bortsiden av krysset</documentation>
        </annotation>
      </enumeration>
      <enumeration value="55">
        <annotation>
          <documentation>6390: Kjørende fra fortau / G/S-veg krysset kjørebanen utenfor kryss</documentation>
        </annotation>
      </enumeration>
      <enumeration value="59">
        <annotation>
          <documentation>6391: Uhell med uklart forløp ved kryssende kj.retn uten at noen kj.tøy svinger av</documentation>
        </annotation>
      </enumeration>
      <enumeration value="60">
        <annotation>
          <documentation>6392: Høyresving foran kjørende i samme retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="61">
        <annotation>
          <documentation>6393: Høyresving foran kjørende i motsatt retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="62">
        <annotation>
          <documentation>6394: Høyresving foran venstresvingende kjøretøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="63">
        <annotation>
          <documentation>6395: Venstresving foran kjørende i samme retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="64">
        <annotation>
          <documentation>6396: Venstresving foran kjørende i motsatt retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="65">
        <annotation>
          <documentation>6397: Samtidig venstresving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="66">
        <annotation>
          <documentation>6398: Samtidig høyresving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="69">
        <annotation>
          <documentation>6399: Uhell med uklart forløp ved kryssende kj.retn hvor ett el. begge kj.tøy svinger av</documentation>
        </annotation>
      </enumeration>
      <enumeration value="70">
        <annotation>
          <documentation>6400: Fotgjenger krysset kjørebanen på bortsiden av krysset</documentation>
        </annotation>
      </enumeration>
      <enumeration value="71">
        <annotation>
          <documentation>6401: Fotgjenger krysset kjørebanen på hitsiden av krysset</documentation>
        </annotation>
      </enumeration>
      <enumeration value="72">
        <annotation>
          <documentation>6402: Fotgjenger krysset kjørebanen foran høyresvingende kjøretøy i kryss</documentation>
        </annotation>
      </enumeration>
      <enumeration value="73">
        <annotation>
          <documentation>6403: Fotgjenger krysset kjørebanen foran venstresvingende kjøretøy i kryss</documentation>
        </annotation>
      </enumeration>
      <enumeration value="74">
        <annotation>
          <documentation>6404: Fotgjenger krysset kjørebanen i gangfelt utenfor kryss</documentation>
        </annotation>
      </enumeration>
      <enumeration value="75">
        <annotation>
          <documentation>6405: Fotgjenger krysset kjørebanen forøvrig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="76">
        <annotation>
          <documentation>6406: Fotgjenger krysset kjørebanen i kryss bak parkert eller stanset kjøretøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="77">
        <annotation>
          <documentation>6407: Fotgjenger krysset kjørebanen utenfor kryss bak parkert eller stanset kjøretøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="78">
        <annotation>
          <documentation>6408: Fotgjenger krysset kjørebanen og ble påkjørt av ryggende kjøretøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="79">
        <annotation>
          <documentation>6409: Uhell med uklart forløp hvor fotgjenger krysset kjørebanen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="80">
        <annotation>
          <documentation>6410: Fotgjenger gikk på vegens høyre side</documentation>
        </annotation>
      </enumeration>
      <enumeration value="81">
        <annotation>
          <documentation>6411: Fotgjenger gikk på vegens venstre side</documentation>
        </annotation>
      </enumeration>
      <enumeration value="82">
        <annotation>
          <documentation>6412: Fotgjenger påkjørt på fortau</documentation>
        </annotation>
      </enumeration>
      <enumeration value="83">
        <annotation>
          <documentation>6413: Fotgjenger påkjørt ved forbikjøring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="84">
        <annotation>
          <documentation>6414: Fotgjenger stod stille eller oppholdt seg forøvrig i kjørebanen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="85">
        <annotation>
          <documentation>6415: Fotgjenger gikk langs vegen og ble påkjørt av ryggende kjøretøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="86">
        <annotation>
          <documentation>6416: Barn lekte i kjørebanen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="89">
        <annotation>
          <documentation>6417: Uhell med uklart forløp hvor fotgjenger gikk langs eller oppholdt seg i kj.banen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="90">
        <annotation>
          <documentation>6418: Enslig kjøretøy kjørte utfor på høyre side på rett vegstrekning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="91">
        <annotation>
          <documentation>6419: Enslig kjøretøy kjørte utfor på venstre side på rett vegstrekning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="92">
        <annotation>
          <documentation>6420: Enslig kjøretøy kjørte utfor på venstre side i høyrekurve</documentation>
        </annotation>
      </enumeration>
      <enumeration value="93">
        <annotation>
          <documentation>6421: Enslig kjøretøy kjørte utfor på høyre side i høyrekurve</documentation>
        </annotation>
      </enumeration>
      <enumeration value="94">
        <annotation>
          <documentation>6422: Enslig kjøretøy kjørte utfor på høyre side i venstrekurve</documentation>
        </annotation>
      </enumeration>
      <enumeration value="95">
        <annotation>
          <documentation>6423: Enslig kjøretøy kjørte utfor på venstre side i venstrekurve</documentation>
        </annotation>
      </enumeration>
      <enumeration value="96">
        <annotation>
          <documentation>6424: Enslig kjøretøy kjørte utfor ved avsvinging i kryss o.l.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="97">
        <annotation>
          <documentation>6425: Enslig kjøretøy kjørte på trafikkøy eller ende av midtdeler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99">
        <annotation>
          <documentation>6426: Uhell med uklart forløp hvor enslig kjøretøy kjørte utfor vegen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="100">
        <annotation>
          <documentation>13438: Uhell forårsaket av skred/ras</documentation>
        </annotation>
      </enumeration>
      <enumeration value="88">
        <annotation>
          <documentation>6965: Ingen alternativ uhellskode</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AlternativUhellskodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AlvorligsteSkadegradTrafikkulykkeType">
    <annotation>
      <documentation>5074: Alvorligste skadegrad i ulykken</documentation>
    </annotation>
    <union memberTypes="nvdb:AlvorligsteSkadegradTrafikkulykkeEnumerationType nvdb:AlvorligsteSkadegradTrafikkulykkeOtherType"/>
  </simpleType>
  <simpleType name="AlvorligsteSkadegradTrafikkulykkeEnumerationType">
    <annotation>
      <documentation>5074: Alvorligste skadegrad i ulykken</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>6427: Drept</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>6428: Meget alvorlig skadd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>6429: Alvorlig skadd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>6430: Lettere skadd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>6431: Uskadd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>11664: Ikke registrert</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AlvorligsteSkadegradTrafikkulykkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BebyggelseTrafikkulykkeType">
    <annotation>
      <documentation>5083: Bebyggelse på ulykkesstedet.</documentation>
    </annotation>
    <union memberTypes="nvdb:BebyggelseTrafikkulykkeEnumerationType nvdb:BebyggelseTrafikkulykkeOtherType"/>
  </simpleType>
  <simpleType name="BebyggelseTrafikkulykkeEnumerationType">
    <annotation>
      <documentation>5083: Bebyggelse på ulykkesstedet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="innenforTettbebyggelse">
        <annotation>
          <documentation>6493: Innenfor tettbebyggelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="utenforTettbebyggelse">
        <annotation>
          <documentation>6494: Utenfor tettbebyggelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6495: ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BebyggelseTrafikkulykkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DekketypeTrafikkulykkeType">
    <annotation>
      <documentation>5077: Dekketype.</documentation>
    </annotation>
    <union memberTypes="nvdb:DekketypeTrafikkulykkeEnumerationType nvdb:DekketypeTrafikkulykkeOtherType"/>
  </simpleType>
  <simpleType name="DekketypeTrafikkulykkeEnumerationType">
    <annotation>
      <documentation>5077: Dekketype.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="asfalt_Oljegrus">
        <annotation>
          <documentation>6454: Asfalt, oljegrus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grus">
        <annotation>
          <documentation>6455: Grus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gatestein">
        <annotation>
          <documentation>6456: Gatestein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong_Betongstein">
        <annotation>
          <documentation>6457: Betong, betongstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annetDekke">
        <annotation>
          <documentation>6458: Annet dekke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6459: ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekketypeTrafikkulykkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FartsgrenseTrafikkulykkeType">
    <annotation>
      <documentation>5085: Angir fartsgrense på ulykkesstedet</documentation>
    </annotation>
    <union memberTypes="nvdb:FartsgrenseTrafikkulykkeEnumerationType nvdb:FartsgrenseTrafikkulykkeOtherType"/>
  </simpleType>
  <simpleType name="FartsgrenseTrafikkulykkeEnumerationType">
    <annotation>
      <documentation>5085: Angir fartsgrense på ulykkesstedet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="10">
        <annotation>
          <documentation>6967: 10</documentation>
        </annotation>
      </enumeration>
      <enumeration value="15">
        <annotation>
          <documentation>6968: 15</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>6969: 20</documentation>
        </annotation>
      </enumeration>
      <enumeration value="25">
        <annotation>
          <documentation>6970: 25</documentation>
        </annotation>
      </enumeration>
      <enumeration value="30">
        <annotation>
          <documentation>6971: 30</documentation>
        </annotation>
      </enumeration>
      <enumeration value="40">
        <annotation>
          <documentation>6972: 40</documentation>
        </annotation>
      </enumeration>
      <enumeration value="50">
        <annotation>
          <documentation>6973: 50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="60">
        <annotation>
          <documentation>6974: 60</documentation>
        </annotation>
      </enumeration>
      <enumeration value="70">
        <annotation>
          <documentation>6975: 70</documentation>
        </annotation>
      </enumeration>
      <enumeration value="80">
        <annotation>
          <documentation>6976: 80</documentation>
        </annotation>
      </enumeration>
      <enumeration value="90">
        <annotation>
          <documentation>6977: 90</documentation>
        </annotation>
      </enumeration>
      <enumeration value="100">
        <annotation>
          <documentation>6978: 100</documentation>
        </annotation>
      </enumeration>
      <enumeration value="110">
        <annotation>
          <documentation>17282: 110</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FartsgrenseTrafikkulykkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FelttypeType">
    <annotation>
      <documentation>5081: Felttype.</documentation>
    </annotation>
    <union memberTypes="nvdb:FelttypeEnumerationType nvdb:FelttypeOtherType"/>
  </simpleType>
  <simpleType name="FelttypeEnumerationType">
    <annotation>
      <documentation>5081: Felttype.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="vanligKjørefelt">
        <annotation>
          <documentation>6477: Vanlig kjørefelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="forbikjøringsfelt">
        <annotation>
          <documentation>6478: Forbikjøringsfelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="krabbefelt">
        <annotation>
          <documentation>6479: Krabbefelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="flettefelt">
        <annotation>
          <documentation>6480: Flettefelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kollektivfelt">
        <annotation>
          <documentation>6481: Kollektivfelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="svingefeltVenstreHøyre">
        <annotation>
          <documentation>6482: Svingefelt venstre / høyre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="parkeringsfelt_SkiltetMerket">
        <annotation>
          <documentation>6483: Parkeringsfelt (skiltet / merket)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="akselerasjonsfelt">
        <annotation>
          <documentation>6484: Akselerasjonsfelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="retardasjonsfelt">
        <annotation>
          <documentation>6485: Retardasjonsfelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skulder">
        <annotation>
          <documentation>6486: Skulder</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sykkelfelt">
        <annotation>
          <documentation>6487: Sykkelfelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fortau">
        <annotation>
          <documentation>6488: Fortau</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gangSykkelveg">
        <annotation>
          <documentation>6489: Gang- / sykkelveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="busslommeHoldeplass">
        <annotation>
          <documentation>6490: Busslomme / -holdeplass</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annet">
        <annotation>
          <documentation>6491: annet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6492: ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FelttypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ForsterketVegoppmerkingType">
    <annotation>
      <documentation>10736: Angir i hvilken grad vegen der trafikkulykka skjedde hadde forsterket vegoppmerking</documentation>
    </annotation>
    <union memberTypes="nvdb:ForsterketVegoppmerkingEnumerationType nvdb:ForsterketVegoppmerkingOtherType"/>
  </simpleType>
  <simpleType name="ForsterketVegoppmerkingEnumerationType">
    <annotation>
      <documentation>10736: Angir i hvilken grad vegen der trafikkulykka skjedde hadde forsterket vegoppmerking</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="midtoppmerking">
        <annotation>
          <documentation>17386: Vegen har forsterket midtoppmerking, men ikke forsterket kantoppmerking</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kantoppmerking">
        <annotation>
          <documentation>17387: Vegen har forsterket kantoppmerking, men ikke forsterket midtoppmerking</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bådeMidtOgKantoppmerking">
        <annotation>
          <documentation>17388: Vegen har både forsterket midtoppmerking og forsterket kantoppmerking</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ingen">
        <annotation>
          <documentation>17389: Vegen har verken forsterket midtoppmerking eller forsterket kantoppmerking</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>17390: Det er ikke kjent om vegen hadde forsterket midtoppmerking og/eller forterket kantoppmerking på ulykkestidspunktet.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ForsterketVegoppmerkingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FøreforholdType">
    <annotation>
      <documentation>5078: FØREFORHOLD PÅ ULYKKESSTED</documentation>
    </annotation>
    <union memberTypes="nvdb:FøreforholdEnumerationType nvdb:FøreforholdOtherType"/>
  </simpleType>
  <simpleType name="FøreforholdEnumerationType">
    <annotation>
      <documentation>5078: FØREFORHOLD PÅ ULYKKESSTED</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="tørr_BarVeg">
        <annotation>
          <documentation>6460: Tørr, bar veg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="våt_BarVeg">
        <annotation>
          <documentation>6461: Våt, bar veg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="snøIsbelagtVeg">
        <annotation>
          <documentation>6462: Snø / isbelagt veg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="delvisSnøIsbelagtVeg">
        <annotation>
          <documentation>6463: Delvis snø / isbelagt veg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="glattEllers">
        <annotation>
          <documentation>6464: Glatt ellers</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6465: ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FøreforholdOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HistoriskVegkategoriType">
    <annotation>
      <documentation>5115: Vegkategori på ulykkestidspunktet.</documentation>
    </annotation>
    <union memberTypes="nvdb:HistoriskVegkategoriEnumerationType nvdb:HistoriskVegkategoriOtherType"/>
  </simpleType>
  <simpleType name="HistoriskVegkategoriEnumerationType">
    <annotation>
      <documentation>5115: Vegkategori på ulykkestidspunktet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="E">
        <annotation>
          <documentation>6979: Europaveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>9844: Riksveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>6980: Fylkesveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K">
        <annotation>
          <documentation>6981: Kommunal veg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>6982: Privat veg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S">
        <annotation>
          <documentation>6983: Skogsbilveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="G">
        <annotation>
          <documentation>6984: Gang/Sykkelveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>6985: Usikker på definisjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>6986: Usikker på definisjon</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HistoriskVegkategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HistoriskVegstatusType">
    <union memberTypes="nvdb:HistoriskVegstatusEnumerationType nvdb:HistoriskVegstatusOtherType"/>
  </simpleType>
  <simpleType name="HistoriskVegstatusEnumerationType">
    <restriction base="string">
      <enumeration value="V">
        <annotation>
          <documentation>7086: Eksisterende veg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="W">
        <annotation>
          <documentation>7098: Midlertidig veg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>7097: Midlertidig status</documentation>
        </annotation>
      </enumeration>
      <enumeration value="G">
        <annotation>
          <documentation>12324: Gang-/sykkelveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="U">
        <annotation>
          <documentation>17362: Midlertidig status inntil ny status er bestemt for gang- og sykkelvegstrekninngen.  Denne skal brukes i de tilfeller hvor det formelt ikke er avklart hvilken status den gamle gang- og sykkelvegen skal ha.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>17360: Beredskapsveg, ikke åpen for allmenn ferdsel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="M">
        <annotation>
          <documentation>17363: Serviceveg, normalt sett ikke åpen for allmenn ferdsel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S">
        <annotation>
          <documentation>7091: Eksisterende ferjestrekning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="X">
        <annotation>
          <documentation>7096: Veggrunn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="A">
        <annotation>
          <documentation>7087: Anleggsveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="H">
        <annotation>
          <documentation>17361: Gang-/sykkelveg anlegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>17365: Planlagt veg vedtatt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Q">
        <annotation>
          <documentation>17364: Planlagt gang- og sykkelveg, vedtatt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="C">
        <annotation>
          <documentation>7090: Vedtatt ferjekai</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K">
        <annotation>
          <documentation>7089: Eksisterende ferjekai</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>7093: Planlagt ferjestrekning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="E">
        <annotation>
          <documentation>7092: Vedtatt ferjestrekning</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HistoriskVegstatusOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KildeForUlykkenType">
    <annotation>
      <documentation>5062: Kilde for ulykken.</documentation>
    </annotation>
    <union memberTypes="nvdb:KildeForUlykkenEnumerationType nvdb:KildeForUlykkenOtherType"/>
  </simpleType>
  <simpleType name="KildeForUlykkenEnumerationType">
    <annotation>
      <documentation>5062: Kilde for ulykken.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="gammelStraks">
        <annotation>
          <documentation>6250: Gammel Straks</documentation>
        </annotation>
      </enumeration>
      <enumeration value="straks2_0">
        <annotation>
          <documentation>6251: Straks versjon 2.0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SSB">
        <annotation>
          <documentation>6252: SSB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SSB_Skjema1">
        <annotation>
          <documentation>13462: SSB, skjema 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uregViaSSB">
        <annotation>
          <documentation>8860: Ureg via SSB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ureg_Manuelt">
        <annotation>
          <documentation>9841: Ureg, manuelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sykehusulykke">
        <annotation>
          <documentation>10110: Sykehusulykke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="forsikringsulykke">
        <annotation>
          <documentation>10111: Forsikringsulykke</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KildeForUlykkenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LysforholdType">
    <annotation>
      <documentation>5080: Lysforhold på ulykkessted/tidspunkt.</documentation>
    </annotation>
    <union memberTypes="nvdb:LysforholdEnumerationType nvdb:LysforholdOtherType"/>
  </simpleType>
  <simpleType name="LysforholdEnumerationType">
    <annotation>
      <documentation>5080: Lysforhold på ulykkessted/tidspunkt.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="dagslys">
        <annotation>
          <documentation>6472: Dagslys</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tussmørke_Skumring">
        <annotation>
          <documentation>6473: Tussmørke, skumring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mørktMedVegbelysning">
        <annotation>
          <documentation>6474: Mørkt med vegbelysning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mørktUtenVegbelysning">
        <annotation>
          <documentation>6475: Mørkt uten vegbelysning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6476: ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LysforholdOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MidtdelerType">
    <annotation>
      <documentation>5758: Angir om det var midtdeler på vegen hvor ulykka skjedde</documentation>
    </annotation>
    <union memberTypes="nvdb:MidtdelerEnumerationType nvdb:MidtdelerOtherType"/>
  </simpleType>
  <simpleType name="MidtdelerEnumerationType">
    <annotation>
      <documentation>5758: Angir om det var midtdeler på vegen hvor ulykka skjedde</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>7997: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>7998: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MidtdelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OkSSBType">
    <annotation>
      <documentation>5087: Om STRAKS-ulykka er sjekket Ok mot SSB</documentation>
    </annotation>
    <union memberTypes="nvdb:OkSSBEnumerationType nvdb:OkSSBOtherType"/>
  </simpleType>
  <simpleType name="OkSSBEnumerationType">
    <annotation>
      <documentation>5087: Om STRAKS-ulykka er sjekket Ok mot SSB</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>6496: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11772: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OkSSBOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RegistreringStatusType">
    <annotation>
      <documentation>5063: Merke for om alle data om ulykken er registrert eller ikke.</documentation>
    </annotation>
    <union memberTypes="nvdb:RegistreringStatusEnumerationType nvdb:RegistreringStatusOtherType"/>
  </simpleType>
  <simpleType name="RegistreringStatusEnumerationType">
    <annotation>
      <documentation>5063: Merke for om alle data om ulykken er registrert eller ikke.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ikkeFerdigregistrert">
        <annotation>
          <documentation>6253: Ikke ferdigregistrert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ferdigregistrert">
        <annotation>
          <documentation>6254: Ferdigregistrert</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RegistreringStatusOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StedfestingensNøyaktighetType">
    <annotation>
      <documentation>5120: Nøyaktigheten for stedfesting av en ulykke</documentation>
    </annotation>
    <union memberTypes="nvdb:StedfestingensNøyaktighetEnumerationType nvdb:StedfestingensNøyaktighetOtherType"/>
  </simpleType>
  <simpleType name="StedfestingensNøyaktighetEnumerationType">
    <annotation>
      <documentation>5120: Nøyaktigheten for stedfesting av en ulykke</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="nøyaktig">
        <annotation>
          <documentation>6688: Nøyaktig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tilnærmet">
        <annotation>
          <documentation>6689: Tilnærmet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="unøyaktig">
        <annotation>
          <documentation>6690: Unøyaktig</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StedfestingensNøyaktighetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StedsforholdType">
    <annotation>
      <documentation>5076: Stedsforhold på ulykkessted</documentation>
    </annotation>
    <union memberTypes="nvdb:StedsforholdEnumerationType nvdb:StedsforholdOtherType"/>
  </simpleType>
  <simpleType name="StedsforholdEnumerationType">
    <annotation>
      <documentation>5076: Stedsforhold på ulykkessted</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="vegstrekningUtenforKryssAvkjørsel">
        <annotation>
          <documentation>6442: Vegstrekning utenfor kryss/avkjørsel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3_ArmetKryss_TKryss_YKryss">
        <annotation>
          <documentation>6443: 3-armet kryss (T-kryss, Y-kryss)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4ArmetKryss_XKryss">
        <annotation>
          <documentation>6444: 4 armet kryss (X-kryss)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rundkjøring">
        <annotation>
          <documentation>6445: Rundkjøring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annetKryss">
        <annotation>
          <documentation>6446: Annet kryss</documentation>
        </annotation>
      </enumeration>
      <enumeration value="avkjørsel">
        <annotation>
          <documentation>6447: Avkjørsel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="planovergang">
        <annotation>
          <documentation>6448: Planovergang</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bru">
        <annotation>
          <documentation>6449: Bru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bomstasjon">
        <annotation>
          <documentation>6451: Bomstasjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="undergang_GangOgSykkelveg">
        <annotation>
          <documentation>13461: Undergang (gang- og sykkelveg)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tunnel_PrimærtForMotorkjøretøy">
        <annotation>
          <documentation>13460: Tunnel (primært for motorkjøretøy)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annet_PPlass_Torv_OL">
        <annotation>
          <documentation>6452: annet (P-plass, torv, o. l.)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6453: ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StedsforholdOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkulykke" substitutionGroup="nvdb:AbstraktTrafikkulykke" type="nvdb:TrafikkulykkeType">
    <annotation>
      <documentation>570: Informasjon om ulykkessted, værforhold, skadeomfang mm. Gjelder primært ulykker med personskader</documentation>
    </annotation>
  </element>
  <complexType name="TrafikkulykkeType">
    <complexContent>
      <extension base="nvdb:AbstraktTrafikkulykkeType">
        <sequence>
          <element name="alvorligsteSkadegrad" type="nvdb:AlvorligsteSkadegradTrafikkulykkeType">
            <annotation>
              <documentation>5074: Alvorligste skadegrad i ulykken</documentation>
            </annotation>
          </element>
          <element name="ulykkesdato" type="date"/>
          <element minOccurs="0" name="ulykkestidspunkt" type="string"/>
          <element minOccurs="0" name="ukedag" type="nvdb:UkedagTrafikkulykkeType">
            <annotation>
              <documentation>5054: UKEDAG FRA 1 TIL 7 SOM ANGIR DAGEN ULYKKEN INTREFFER PÅ.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdatoForFagdata" type="date"/>
          <element minOccurs="0" name="ulykkeRegistrertAv" type="string">
            <annotation>
              <documentation>5058: Initialer til den som har registrert ulykken.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="meldingsdato" type="date">
            <annotation>
              <documentation>5059: Meldingsdato for ulykken.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="behandlendePolitidistrikt" type="integer">
            <annotation>
              <documentation>5060: Behandlende politidistrikt for ulykken.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="anmeldelsesnummer" type="integer">
            <annotation>
              <documentation>5061: Politiets saksnummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kildeForUlykken" type="nvdb:KildeForUlykkenType">
            <annotation>
              <documentation>5062: Kilde for ulykken.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringStatus" type="nvdb:RegistreringStatusType">
            <annotation>
              <documentation>5063: Merke for om alle data om ulykken er registrert eller ikke.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="uhellKategori" type="nvdb:UhellKategoriType">
            <annotation>
              <documentation>5065: Beskriver ulykken med hensyn på innblanda trafikkanter</documentation>
            </annotation>
          </element>
          <element name="uhellskode" type="nvdb:UhellskodeType">
            <annotation>
              <documentation>5066: Angir hvilken type uhell trafikkulykken er karakterisert som. Uhellskoden bestemmes ut fra hva som er den utløsende trafikksituasjonen. Hvis den enheten/trafikanten som antas å ha vært uhellsutløsende ikke har blitt skadet, og det ikke kan verifiseres at vedkommende har vært part i saken, må den endelige uhellssituasjonen gis som uhellskode, og antatt utløsende situasjon angis ved alternativ uhellskode</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="alternativUhellskode" type="nvdb:AlternativUhellskodeType">
            <annotation>
              <documentation>5067: Angir hvilken type uhell trafikkulykken alternativt kan karakteriseres som. Denne skal bare angis i tilfeller hvor den endelige uhellssituasjonen skiller seg fra den utløsende, eller at en annen uhellskode kan beskrive vesentlige deler av hendelsesforløpet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>5068: Beskrivelse av hendelsesforløp for ulykka.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsbeskrivelse" type="string">
            <annotation>
              <documentation>7571: Kommentarer/beskrivelser fra SSB og eller Politiet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallEnheter" type="integer">
            <annotation>
              <documentation>5069: Antall enheter involvert i ulykken. En fotgjenger regnes også som en enhet. Se Kjøretøytype under Ulykkesinvolvert person
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallDrepteIUlykken" type="integer">
            <annotation>
              <documentation>5070: Antall drepte personer i ulykken for alle involverte enheter.
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallMegetAlvorligSkadet" type="integer">
            <annotation>
              <documentation>5071: Antall personer involvert i ulykken med skadegrad 2.
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallAlvorligSkadet" type="integer">
            <annotation>
              <documentation>5072: Antall personer involvert i ulykken med skadegrad 3.
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLettereSkadet" type="integer">
            <annotation>
              <documentation>5073: Antall personer involvert i ulykken med skadegrad 4.
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="oppgittAntallSkadde" type="integer">
            <annotation>
              <documentation>8764: Sum antall skadde (unntatt drepte) i trafikkulykka som er oppgitt i rubrikken "Antall skadde" i politirapporten for ulykka.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vegtype" type="nvdb:VegtypeType">
            <annotation>
              <documentation>5075: Vegtype.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsforhold" type="nvdb:StedsforholdType">
            <annotation>
              <documentation>5076: Stedsforhold på ulykkessted</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="midtdeler" type="nvdb:MidtdelerType">
            <annotation>
              <documentation>5758: Angir om det var midtdeler på vegen hvor ulykka skjedde</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="forsterketVegoppmerking" type="nvdb:ForsterketVegoppmerkingType">
            <annotation>
              <documentation>10736: Angir i hvilken grad vegen der trafikkulykka skjedde hadde forsterket vegoppmerking</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dekketype" type="nvdb:DekketypeTrafikkulykkeType">
            <annotation>
              <documentation>5077: Dekketype.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="føreforhold" type="nvdb:FøreforholdType">
            <annotation>
              <documentation>5078: FØREFORHOLD PÅ ULYKKESSTED</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="værforhold" type="nvdb:VærforholdType">
            <annotation>
              <documentation>5079: Værforhold på ulykkessted/tidspunkt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lysforhold" type="nvdb:LysforholdType">
            <annotation>
              <documentation>5080: Lysforhold på ulykkessted/tidspunkt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="felttype" type="nvdb:FelttypeType">
            <annotation>
              <documentation>5081: Felttype.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallKjørefelt" type="integer">
            <annotation>
              <documentation>5082: Antall kjørefelt.
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bebyggelse" type="nvdb:BebyggelseTrafikkulykkeType">
            <annotation>
              <documentation>5083: Bebyggelse på ulykkesstedet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vegbredde" type="double">
            <annotation>
              <documentation>5084: Angir vegbredde på ulykkesstedet
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fartsgrense" type="nvdb:FartsgrenseTrafikkulykkeType">
            <annotation>
              <documentation>5085: Angir fartsgrense på ulykkesstedet
Enhet: Kilometer/time</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="temperatur" type="integer">
            <annotation>
              <documentation>5086: Temperatur i grader Celsius.
Enhet: Grader Celcius</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="okSSB" type="nvdb:OkSSBType">
            <annotation>
              <documentation>5087: Om STRAKS-ulykka er sjekket Ok mot SSB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kommunenrSSB" type="integer">
            <annotation>
              <documentation>8796: Kommunenummer.  Kan normalt utledes fra ulykkas stedfesting, men nødvendig pga. mangelfull stedfesting og i kommunikasjon med SSB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="historiskVegstatus" type="nvdb:HistoriskVegstatusType"/>
          <element minOccurs="0" name="historiskVegkategori" type="nvdb:HistoriskVegkategoriType">
            <annotation>
              <documentation>5115: Vegkategori på ulykkestidspunktet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="historiskVegnummer" type="integer">
            <annotation>
              <documentation>5116: Vegnummer på uhellstidspunktet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="historiskHp" type="integer">
            <annotation>
              <documentation>5117: Hovedparsell på uhellstidspunktet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="historiskKilometerverdi" type="integer">
            <annotation>
              <documentation>5118: Kilometerverdi på uhellstidspunkt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vegnavn" type="string">
            <annotation>
              <documentation>5119: Beskrivelse (navn) på vegen. Benyttes i STRAKS 2.0.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stedfestingensNøyaktighet" type="nvdb:StedfestingensNøyaktighetType">
            <annotation>
              <documentation>5120: Nøyaktigheten for stedfesting av en ulykke</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5123: Angir koordinater for å stedfeste ulykke</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertUlykkesstrekning_Egendefinert" type="nvdb:AbstraktUlykkesstrekning_EgendefinertPropertyType"/>
          <element minOccurs="0" name="assosiertUlykkesstrekning" type="nvdb:AbstraktUlykkesstrekningPropertyType"/>
          <element maxOccurs="unbounded" name="assosiertUlykkesinvolvertEnhet" type="nvdb:AbstraktUlykkesinvolvertEnhetPropertyType"/>
          <element minOccurs="0" name="assosiertUlykkespunkt" type="nvdb:AbstraktUlykkespunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkulykkePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkulykke"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="UhellKategoriType">
    <annotation>
      <documentation>5065: Beskriver ulykken med hensyn på innblanda trafikkanter</documentation>
    </annotation>
    <union memberTypes="nvdb:UhellKategoriEnumerationType nvdb:UhellKategoriOtherType"/>
  </simpleType>
  <simpleType name="UhellKategoriEnumerationType">
    <annotation>
      <documentation>5065: Beskriver ulykken med hensyn på innblanda trafikkanter</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="fotgjengerEllerAkendeInvolvert">
        <annotation>
          <documentation>6255: Fotgjenger eller akende involvert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sykkelulykke">
        <annotation>
          <documentation>6256: Sykkelulykke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mcUlykke">
        <annotation>
          <documentation>6257: Mc ulykke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bilulykke">
        <annotation>
          <documentation>6258: Bilulykke</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UhellKategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UhellskodeType">
    <annotation>
      <documentation>5066: Angir hvilken type uhell trafikkulykken er karakterisert som. Uhellskoden bestemmes ut fra hva som er den utløsende trafikksituasjonen. Hvis den enheten/trafikanten som antas å ha vært uhellsutløsende ikke har blitt skadet, og det ikke kan verifiseres at</documentation>
    </annotation>
    <union memberTypes="nvdb:UhellskodeEnumerationType nvdb:UhellskodeOtherType"/>
  </simpleType>
  <simpleType name="UhellskodeEnumerationType">
    <annotation>
      <documentation>5066: Angir hvilken type uhell trafikkulykken er karakterisert som. Uhellskoden bestemmes ut fra hva som er den utløsende trafikksituasjonen. Hvis den enheten/trafikanten som antas å ha vært uhellsutløsende ikke har blitt skadet, og det ikke kan verifiseres at</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>6259: Uhell med dyr innblandet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>6260: Påkjøring av gjenstand i kjørebanen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>6261: Hull i vegen o.l.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>6262: Enslig kjøretøy veltet i kjørebanen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>6263: Påkjøring av parkert kjøretøy på høyre side</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>6264: Påkjøring av parkert kjøretøy på venstre side</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>6265: Påkjøring av parkert kjøretøy ved forbikjøring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7">
        <annotation>
          <documentation>6266: Øvrige parkeringsuhell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>6267: Uhell ved av- eller påstigning av kjøretøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>6268: Uhell med uklart forløp / uhell som ikke faller inn under noen bestemt uh.kode</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10">
        <annotation>
          <documentation>6269: Forbikjøring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation>6270: Skifte av felt til venstre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>6271: Skifte av felt til høyre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13">
        <annotation>
          <documentation>6272: Kjøring i parallelle kjørefelter forøvrig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14">
        <annotation>
          <documentation>6273: Påkjøring bakfra</documentation>
        </annotation>
      </enumeration>
      <enumeration value="15">
        <annotation>
          <documentation>6274: Påkjøring bakfra etter oppstart fra stanset eller parkert stilling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="16">
        <annotation>
          <documentation>6275: Påkjøring av forankjørende ved skifte av felt til venstre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="17">
        <annotation>
          <documentation>6276: Påkjøring av forankjørende ved skifte av felt til høyre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="19">
        <annotation>
          <documentation>6277: Uhell med uklart forløp mellom kjøretøy med samme kjøreretning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>6278: Møting på rett vegstrekning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="21">
        <annotation>
          <documentation>6279: Møting i kurve</documentation>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>6280: Møting under forbikjøring på rett vegstrekning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="23">
        <annotation>
          <documentation>6281: Møting under forbikjøring i høyrekurve</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>6282: Møting under forbikjøring i venstrekurve</documentation>
        </annotation>
      </enumeration>
      <enumeration value="25">
        <annotation>
          <documentation>6283: Møting under forbikjøring av stanset eller parkert kjøretøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="26">
        <annotation>
          <documentation>6284: Møting etter oppstart fra stanset eller parkert stilling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="29">
        <annotation>
          <documentation>6285: Uhell med uklart forløp ved møting</documentation>
        </annotation>
      </enumeration>
      <enumeration value="30">
        <annotation>
          <documentation>6286: Påkjøring bakfra ved høyresving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31">
        <annotation>
          <documentation>6287: Påkjøring forøvrig ved høyresving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="32">
        <annotation>
          <documentation>6288: Påkjøring bakfra ved venstresving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="33">
        <annotation>
          <documentation>6289: Påkjøring forøvrig ved venstresving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="34">
        <annotation>
          <documentation>6290: Påkjøring ved vending foran kjørende i samme retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="35">
        <annotation>
          <documentation>6291: Påkjøring av kjørende fra fortau eller G/S-veg, ved høyresving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="36">
        <annotation>
          <documentation>6292: Påkjøring av kjørende fra fortau eller G/S-veg, ved venstresving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="39">
        <annotation>
          <documentation>6293: Uhell med uklart forløp ved avsvinging fra samme kjøreretning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="40">
        <annotation>
          <documentation>6294: Avsvinging til venstre foran kjørende i motsatt retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="41">
        <annotation>
          <documentation>6295: Avsvinging i samme retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="42">
        <annotation>
          <documentation>6296: Avsvinging i hver sin retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="43">
        <annotation>
          <documentation>6297: Vending foran kjørende i motsatt retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="44">
        <annotation>
          <documentation>6298: Avsvinging til høyre foran kjørende i motsatt retning fra fortau eller G/S-veg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="45">
        <annotation>
          <documentation>6299: Avsvinging til venstre foran kjørende i motsatt retning fra fortau eller G/S-veg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="49">
        <annotation>
          <documentation>6300: Uhell med uklart forløp ved avsvinging fra motsatte kjøreretninger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="50">
        <annotation>
          <documentation>6301: Kryssende kjøreretninger. Benyttes ikke ved avsvinging.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="51">
        <annotation>
          <documentation>6302: Forbikjøring på venstre side i kryss eller avkjørsel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="52">
        <annotation>
          <documentation>6303: Forbikjøring på høyre side i kryss eller avkjørsel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="53">
        <annotation>
          <documentation>6304: Kjørende fra fortau eller G/S-veg krysset kjørebanen på hitsiden av krysset</documentation>
        </annotation>
      </enumeration>
      <enumeration value="54">
        <annotation>
          <documentation>6305: Kjørende fra fortau eller G/S-veg krysset kjørebanen på bortsiden av krysset</documentation>
        </annotation>
      </enumeration>
      <enumeration value="55">
        <annotation>
          <documentation>6306: Kjørende fra fortau / G/S-veg krysset kjørebanen utenfor kryss</documentation>
        </annotation>
      </enumeration>
      <enumeration value="59">
        <annotation>
          <documentation>6307: Uhell med uklart forløp ved kryssende kj.retn uten at noen kj.tøy svinger av</documentation>
        </annotation>
      </enumeration>
      <enumeration value="60">
        <annotation>
          <documentation>6308: Høyresving foran kjørende i samme retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="61">
        <annotation>
          <documentation>6309: Høyresving foran kjørende i motsatt retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="62">
        <annotation>
          <documentation>6310: Høyresving foran venstresvingende kjøretøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="63">
        <annotation>
          <documentation>6311: Venstresving foran kjørende i samme retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="64">
        <annotation>
          <documentation>6312: Venstresving foran kjørende i motsatt retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="65">
        <annotation>
          <documentation>6313: Samtidig venstresving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="66">
        <annotation>
          <documentation>6314: Samtidig høyresving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="69">
        <annotation>
          <documentation>6315: Uhell med uklart forløp ved kryssende kj.retn hvor ett el. begge kj.tøy svinger av</documentation>
        </annotation>
      </enumeration>
      <enumeration value="70">
        <annotation>
          <documentation>6316: Fotgjenger krysset kjørebanen på bortsiden av krysset</documentation>
        </annotation>
      </enumeration>
      <enumeration value="71">
        <annotation>
          <documentation>6317: Fotgjenger krysset kjørebanen på hitsiden av krysset</documentation>
        </annotation>
      </enumeration>
      <enumeration value="72">
        <annotation>
          <documentation>6318: Fotgjenger krysset kjørebanen foran høyresvingende kjøretøy i kryss</documentation>
        </annotation>
      </enumeration>
      <enumeration value="73">
        <annotation>
          <documentation>6319: Fotgjenger krysset kjørebanen foran venstresvingende kjøretøy i kryss</documentation>
        </annotation>
      </enumeration>
      <enumeration value="74">
        <annotation>
          <documentation>6320: Fotgjenger krysset kjørebanen i gangfelt utenfor kryss</documentation>
        </annotation>
      </enumeration>
      <enumeration value="75">
        <annotation>
          <documentation>6321: Fotgjenger krysset kjørebanen forøvrig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="76">
        <annotation>
          <documentation>6322: Fotgjenger krysset kjørebanen i kryss bak parkert eller stanset kjøretøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="77">
        <annotation>
          <documentation>6323: Fotgjenger krysset kjørebanen utenfor kryss bak parkert eller stanset kjøretøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="78">
        <annotation>
          <documentation>6324: Fotgjenger krysset kjørebanen og ble påkjørt av ryggende kjøretøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="79">
        <annotation>
          <documentation>6325: Uhell med uklart forløp hvor fotgjenger krysset kjørebanen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="80">
        <annotation>
          <documentation>6326: Fotgjenger gikk på vegens høyre side</documentation>
        </annotation>
      </enumeration>
      <enumeration value="81">
        <annotation>
          <documentation>6327: Fotgjenger gikk på vegens venstre side</documentation>
        </annotation>
      </enumeration>
      <enumeration value="82">
        <annotation>
          <documentation>6328: Fotgjenger påkjørt på fortau</documentation>
        </annotation>
      </enumeration>
      <enumeration value="83">
        <annotation>
          <documentation>6329: Fotgjenger påkjørt ved forbikjøring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="84">
        <annotation>
          <documentation>6330: Fotgjenger stod stille eller oppholdt seg forøvrig i kjørebanen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="85">
        <annotation>
          <documentation>6331: Fotgjenger gikk langs vegen og ble påkjørt av ryggende kjøretøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="86">
        <annotation>
          <documentation>6332: Barn lekte i kjørebanen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="89">
        <annotation>
          <documentation>6333: Uhell med uklart forløp hvor fotgjenger gikk langs eller oppholdt seg i kj.banen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="90">
        <annotation>
          <documentation>6334: Enslig kjøretøy kjørte utfor på høyre side på rett vegstrekning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="91">
        <annotation>
          <documentation>6335: Enslig kjøretøy kjørte utfor på venstre side på rett vegstrekning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="92">
        <annotation>
          <documentation>6336: Enslig kjøretøy kjørte utfor på venstre side i høyrekurve</documentation>
        </annotation>
      </enumeration>
      <enumeration value="93">
        <annotation>
          <documentation>6337: Enslig kjøretøy kjørte utfor på høyre side i høyrekurve</documentation>
        </annotation>
      </enumeration>
      <enumeration value="94">
        <annotation>
          <documentation>6338: Enslig kjøretøy kjørte utfor på høyre side i venstrekurve</documentation>
        </annotation>
      </enumeration>
      <enumeration value="95">
        <annotation>
          <documentation>6339: Enslig kjøretøy kjørte utfor på venstre side i venstrekurve</documentation>
        </annotation>
      </enumeration>
      <enumeration value="96">
        <annotation>
          <documentation>6340: Enslig kjøretøy kjørte utfor ved avsvinging i kryss o.l.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="97">
        <annotation>
          <documentation>6341: Enslig kjøretøy kjørte på trafikkøy eller ende av midtdeler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99">
        <annotation>
          <documentation>6342: Uhell med uklart forløp hvor enslig kjøretøy kjørte utfor vegen</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UhellskodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UkedagTrafikkulykkeType">
    <annotation>
      <documentation>5054: UKEDAG FRA 1 TIL 7 SOM ANGIR DAGEN ULYKKEN INTREFFER PÅ.</documentation>
    </annotation>
    <union memberTypes="nvdb:UkedagTrafikkulykkeEnumerationType nvdb:UkedagTrafikkulykkeOtherType"/>
  </simpleType>
  <simpleType name="UkedagTrafikkulykkeEnumerationType">
    <annotation>
      <documentation>5054: UKEDAG FRA 1 TIL 7 SOM ANGIR DAGEN ULYKKEN INTREFFER PÅ.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="mandag">
        <annotation>
          <documentation>6243: Mandag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tirsdag">
        <annotation>
          <documentation>6244: Tirsdag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="onsdag">
        <annotation>
          <documentation>6245: Onsdag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="torsdag">
        <annotation>
          <documentation>6246: Torsdag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fredag">
        <annotation>
          <documentation>6247: Fredag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lørdag">
        <annotation>
          <documentation>6248: Lørdag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="søndag">
        <annotation>
          <documentation>6249: Søndag</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UkedagTrafikkulykkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VegtypeType">
    <annotation>
      <documentation>5075: Vegtype.</documentation>
    </annotation>
    <union memberTypes="nvdb:VegtypeEnumerationType nvdb:VegtypeOtherType"/>
  </simpleType>
  <simpleType name="VegtypeEnumerationType">
    <annotation>
      <documentation>5075: Vegtype.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>6432: Vanlig veg/gate</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>6433: Motorveg (tidligere "Motorveg klasse A")(</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>6434: Motortrafikkveg (tidligere "Motorveg klasse B")</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>6435: Rampe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>6436: Gang- / sykkelveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>6437: Gågate / gatetun</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>6438: Boliggate, boligveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7">
        <annotation>
          <documentation>6439: Skogsveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>6440: Annet (plass mm)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>6441: ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VegtypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VærforholdType">
    <annotation>
      <documentation>5079: Værforhold på ulykkessted/tidspunkt.</documentation>
    </annotation>
    <union memberTypes="nvdb:VærforholdEnumerationType nvdb:VærforholdOtherType"/>
  </simpleType>
  <simpleType name="VærforholdEnumerationType">
    <annotation>
      <documentation>5079: Værforhold på ulykkessted/tidspunkt.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="godSikt_Opphold">
        <annotation>
          <documentation>6466: God sikt, opphold</documentation>
        </annotation>
      </enumeration>
      <enumeration value="godSikt_Nedbør">
        <annotation>
          <documentation>6467: God sikt, nedbør</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dårligSikt_Nedbør">
        <annotation>
          <documentation>6468: Dårlig sikt, nedbør</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dårligSikt_TåkeEllerDis">
        <annotation>
          <documentation>6469: Dårlig sikt, tåke eller dis</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dårligSiktForøvrig">
        <annotation>
          <documentation>6470: Dårlig sikt forøvrig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6471: ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VærforholdOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
