GML/571.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>571: Enheter involvert i ulykken. En fotgjenger regnes også som en enhet. Se kjøretøytype.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="Drivstoff_NyUlykkesinvolvert enhetType">
      <annotation>
         <documentation>11888: Angir hvilken type drivstoff enheten bruker.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11888</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drivstoff (Ny)</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Drivstoff_NyUlykkesinvolvert enhetEnumerationType nvdb:Drivstoff_NyUlykkesinvolvert enhetOtherType"/>
   </simpleType>
   <simpleType name="Drivstoff_NyUlykkesinvolvert enhetEnumerationType">
      <annotation>
         <documentation>11888: Angir hvilken type drivstoff enheten bruker.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11888</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drivstoff (Ny)</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="88">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20156</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet drivstoff</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20143</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bensin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20151</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Biobensin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20150</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Biodiesel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="13">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20153</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">CNG-Gass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20144</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Diesel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20147</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Elektrisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20155</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Etanol</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20146</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20149</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hybrid</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20148</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hydrogen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20152</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">LPG-Gass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20154</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metanol</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20145</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Parafin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Drivstoff_NyUlykkesinvolvert enhetOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Enhetstype_EndretUlykkesinvolvert enhetType">
      <annotation>
         <documentation>5090: Alle enhetstyper er gitt sin egen kode fra 01 til 99.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5090</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Enhetstype (endret)</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Enhetstype_EndretUlykkesinvolvert enhetEnumerationType nvdb:Enhetstype_EndretUlykkesinvolvert enhetOtherType"/>
   </simpleType>
   <simpleType name="Enhetstype_EndretUlykkesinvolvert enhetEnumerationType">
      <annotation>
         <documentation>5090: Alle enhetstyper er gitt sin egen kode fra 01 til 99.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5090</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Enhetstype (endret)</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ES">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21800</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">	Elektrisk sparkesykkel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SEK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21801</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">	Selvbalanserende elektriske kjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UEK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21802</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">	Ukjent elektrisk kjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10">
            <annotation>
               <documentation>6504: 2-hjuls trå- og elsykkel (endret 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6504</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2-hjuls trå- og elsykkel (endret 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>6500: Akende.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6500</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Akende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="37">
            <annotation>
               <documentation>6518: Ambulanse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6518</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ambulanse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="44">
            <annotation>
               <documentation>20316: Ambulansebuss, over 5000 kg (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20316</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ambulansebuss, over 5000 kg (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="43">
            <annotation>
               <documentation>20315: Ambulansebuss, under 5001 kg (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20315</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ambulansebuss, under 5001 kg (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="67">
            <annotation>
               <documentation>20322: Anleggsmaskin/motorredskap (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20322</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Anleggsmaskin/motorredskap (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="88">
            <annotation>
               <documentation>6542: Annet kjøretøy.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6542</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet kjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="66">
            <annotation>
               <documentation>6537: Beltebil (ikke anleggsmaskin).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6537</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Beltebil (ikke anleggsmaskin)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="41">
            <annotation>
               <documentation>20314: Buss, over 5000 kg (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20314</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Buss, over 5000 kg (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="42">
            <annotation>
               <documentation>6515: Buss, ukjent (endret 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6515</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Buss, ukjent (endret 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="40">
            <annotation>
               <documentation>6516: Buss, under 5001 kg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6516</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Buss, under 5001 kg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="36">
            <annotation>
               <documentation>6528: Campingbil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6528</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Campingbil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <documentation>6503: Fotgjenger, annet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6503</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fotgjenger, annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>6499: Gående.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6499</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gående</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="13">
            <annotation>
               <documentation>6505: Hest (endret 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6505</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hest (endret 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="75">
            <annotation>
               <documentation>6540: Jernbanetog.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6540</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jernbanetog</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <documentation>20317: Lastebil, 3501 kg - 12000 kg (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20317</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lastebil, 3501 kg - 12000 kg (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="51">
            <annotation>
               <documentation>20318: Lastebil, over 12000 kg (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20318</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lastebil, over 12000 kg (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="52">
            <annotation>
               <documentation>6522: Lastebil, ukjent (endret 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6522</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lastebil, ukjent (endret 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="20">
            <annotation>
               <documentation>6508: Lett MC.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6508</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lett MC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="21">
            <annotation>
               <documentation>20309: Lett MC m/sidevogn (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20309</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lett MC m/sidevogn (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="26">
            <annotation>
               <documentation>20313: MC 3-hjul (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20313</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">MC 3-hjul (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="27">
            <annotation>
               <documentation>13463: MC 4-hjul.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13463</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">MC 4-hjul</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="28">
            <annotation>
               <documentation>9561: MC 4-hjul (ATV).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9561</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">MC 4-hjul (ATV)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="29">
            <annotation>
               <documentation>6510: MC m/sidevogn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6510</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">MC m/sidevogn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="22">
            <annotation>
               <documentation>20310: Mellomtung MC (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20310</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mellomtung MC (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="23">
            <annotation>
               <documentation>20311: Mellomtung MC m/sidevogn (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20311</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mellomtung MC m/sidevogn (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15">
            <annotation>
               <documentation>6507: Moped 2-hjul.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6507</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Moped 2-hjul</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="16">
            <annotation>
               <documentation>20306: Moped 3-hjul (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20306</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Moped 3-hjul (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="18">
            <annotation>
               <documentation>20308: Moped 4-hjul (ATV) (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20308</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Moped 4-hjul (ATV) (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="17">
            <annotation>
               <documentation>20307: Moped 4-hjul (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20307</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Moped 4-hjul (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="35">
            <annotation>
               <documentation>6513: Personbil, stasjonsvogn (endret 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6513</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Personbil, stasjonsvogn (endret 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <documentation>6502: Rullende enheter, ikke motorisert.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6502</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rullende enheter, ikke motorisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <documentation>6512: Rullestol (endret 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6512</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rullestol (endret 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <documentation>6501: Ski.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6501</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ski</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="65">
            <annotation>
               <documentation>6511: Snøscooter, beltemotorsykkel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6511</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snøscooter, beltemotorsykkel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="76">
            <annotation>
               <documentation>6541: Sporvogn/trikk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6541</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sporvogn/trikk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <documentation>20305: Sykkel, annet (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20305</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sykkel, annet (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="70">
            <annotation>
               <documentation>6539: Tilhenger/tilhengerredskap uten trekkvogn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6539</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tilhenger/tilhengerredskap uten trekkvogn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="60">
            <annotation>
               <documentation>6538: Traktor.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6538</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Traktor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="61">
            <annotation>
               <documentation>20321: Traktor (ATV) (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20321</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Traktor (ATV) (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="55">
            <annotation>
               <documentation>20319: Trekkbil, 3501 kg - 12000 kg (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20319</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trekkbil, 3501 kg - 12000 kg (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="56">
            <annotation>
               <documentation>20320: Trekkbil, over 12000 kg (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20320</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trekkbil, over 12000 kg (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="57">
            <annotation>
               <documentation>6535: Trekkbil, ukjent (endret 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6535</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trekkbil, ukjent (endret 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <documentation>6509: Tung MC.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6509</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tung MC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="25">
            <annotation>
               <documentation>20312: Tung MC m/sidevogn (ny 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20312</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tung MC m/sidevogn (ny 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="99">
            <annotation>
               <documentation>6543: Ukjent.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6543</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="45">
            <annotation>
               <documentation>6521: Varebil (endret 2020).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6521</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Varebil (endret 2020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Enhetstype_EndretUlykkesinvolvert enhetOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Enhetstype_Hovedkategori_NyUlykkesinvolvert enhetType">
      <annotation>
         <documentation>11889: Enhetstype, hovedkategori.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11889</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Enhetstype, hovedkategori (Ny)</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Enhetstype_Hovedkategori_NyUlykkesinvolvert enhetEnumerationType nvdb:Enhetstype_Hovedkategori_NyUlykkesinvolvert enhetOtherType"/>
   </simpleType>
   <simpleType name="Enhetstype_Hovedkategori_NyUlykkesinvolvert enhetEnumerationType">
      <annotation>
         <documentation>11889: Enhetstype, hovedkategori.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11889</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Enhetstype, hovedkategori (Ny)</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="8">
            <annotation>
               <documentation>20161: Annet .</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20161</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <documentation>20160: Bil for godstransport.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20160</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bil for godstransport</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <documentation>20159: Bil for persontransport.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20159</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bil for persontransport</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>20157: Fotgjenger og sykkel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20157</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fotgjenger og sykkel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>20158: Moped og MC.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20158</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Moped og MC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <documentation>20162: ukjent.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20162</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Enhetstype_Hovedkategori_NyUlykkesinvolvert enhetOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Enhetstype_Underkategori_NyUlykkesinvolvert enhetType">
      <annotation>
         <documentation>11890: Enhetstype, underkategori.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11890</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Enhetstype, underkategori (Ny)</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Enhetstype_Underkategori_NyUlykkesinvolvert enhetEnumerationType nvdb:Enhetstype_Underkategori_NyUlykkesinvolvert enhetOtherType"/>
   </simpleType>
   <simpleType name="Enhetstype_Underkategori_NyUlykkesinvolvert enhetEnumerationType">
      <annotation>
         <documentation>11890: Enhetstype, underkategori.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11890</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Enhetstype, underkategori (Ny)</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="17">
            <annotation>
               <documentation>20174: Annet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20174</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11">
            <annotation>
               <documentation>20169: Buss.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20169</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Buss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>20163: Fotgjenger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20163</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fotgjenger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="13">
            <annotation>
               <documentation>20171: Lastebil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20171</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lastebil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <documentation>20166: Lett MC.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20166</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lett MC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LEM">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21803</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Liten elektrisk motorvogn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <documentation>20167: MC.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20167</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">MC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <documentation>20165: Moped.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20165</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Moped</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10">
            <annotation>
               <documentation>20168: Personbil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20168</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Personbil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15">
            <annotation>
               <documentation>20173: Skinnegående materiell.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20173</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skinnegående materiell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>20164: Sykkel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20164</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sykkel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14">
            <annotation>
               <documentation>20172: Traktor.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20172</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Traktor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="18">
            <annotation>
               <documentation>20175: Ukjent.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20175</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <documentation>20170: Varebil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20170</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Varebil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Enhetstype_Underkategori_NyUlykkesinvolvert enhetOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="HinderTypeUlykkesinvolvert enhetType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5104</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hinder type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:HinderTypeUlykkesinvolvert enhetEnumerationType nvdb:HinderTypeUlykkesinvolvert enhetOtherType"/>
   </simpleType>
   <simpleType name="HinderTypeUlykkesinvolvert enhetEnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5104</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hinder type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="12">
            <annotation>
               <documentation>6638: Annen gjenstand i kjørebanen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6638</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen gjenstand i kjørebanen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <documentation>6631: Annen mast / stolpe.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6631</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen mast / stolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="88">
            <annotation>
               <documentation>6646: annet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6646</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="18">
            <annotation>
               <documentation>6644: Annet vilt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6644</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet vilt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15">
            <annotation>
               <documentation>6641: Elg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6641</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Elg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <documentation>6633: Gjerde, rekkverk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6633</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gjerde, rekkverk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="0">
            <annotation>
               <documentation>6626: Intet hinder påkjørt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6626</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Intet hinder påkjørt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10">
            <annotation>
               <documentation>6636: Kantstein.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6636</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kantstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <documentation>6630: Lysmast av stål.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6630</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysmast av stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <documentation>6629: Lysmast av tre.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6629</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysmast av tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14">
            <annotation>
               <documentation>6640: Mindre tamdyr ( katt m.m.).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6640</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mindre tamdyr ( katt m.m.)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <documentation>6634: Mur, bygning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6634</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mur, bygning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11">
            <annotation>
               <documentation>6637: Parkert kjøretøy.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6637</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Parkert kjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="16">
            <annotation>
               <documentation>6642: Rein.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6642</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="17">
            <annotation>
               <documentation>6643: Rådyr, hjort.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6643</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rådyr, hjort</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>6628: Signalstolpe.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6628</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signalstolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>6627: Skiltstolpe.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6627</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiltstolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <documentation>6635: Stein, fjellvegg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6635</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein, fjellvegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="13">
            <annotation>
               <documentation>6639: Større tamdyr (ku m.m.).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6639</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Større tamdyr (ku m.m.)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <documentation>6632: Tre.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6632</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="99">
            <annotation>
               <documentation>6647: ukjent.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6647</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="19">
            <annotation>
               <documentation>6645: Ukjent dyr.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6645</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent dyr</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="HinderTypeUlykkesinvolvert enhetOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RegistreringslandUlykkesinvolvert enhetType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5102</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Registreringsland</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RegistreringslandUlykkesinvolvert enhetEnumerationType nvdb:RegistreringslandUlykkesinvolvert enhetOtherType"/>
   </simpleType>
   <simpleType name="RegistreringslandUlykkesinvolvert enhetEnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5102</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Registreringsland</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="91">
            <annotation>
               <documentation>6621: Andre vesteuropeiske land.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6621</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Andre vesteuropeiske land</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="90">
            <annotation>
               <documentation>6620: Andre østeuropeiske land.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6620</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Andre østeuropeiske land</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="98">
            <annotation>
               <documentation>6624: Annet land.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6624</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet land</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <documentation>6613: Belgia.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6613</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belgia</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="20">
            <annotation>
               <documentation>13442: Bulgaria.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13442</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bulgaria</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <documentation>6607: Danmark.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6607</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Danmark</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="95">
            <annotation>
               <documentation>6622: Diplomatbil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6622</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Diplomatbil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="17">
            <annotation>
               <documentation>13439: Estland.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13439</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Estland</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <documentation>6608: Finland.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6608</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Finland</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <documentation>6611: Frankrike.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6611</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Frankrike</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="13">
            <annotation>
               <documentation>6617: Italia.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6617</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Italia</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="21">
            <annotation>
               <documentation>13443: Kroatia.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13443</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kroatia</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="18">
            <annotation>
               <documentation>13440: Latvia.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13440</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Latvia</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="16">
            <annotation>
               <documentation>9805: Litauen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9805</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Litauen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10">
            <annotation>
               <documentation>6614: Luxembourg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6614</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Luxembourg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="96">
            <annotation>
               <documentation>6623: Militært kjøretøy.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6623</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Militært kjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <documentation>6612: Nederland.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6612</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nederland</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>6605: Norge.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6605</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Norge</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14">
            <annotation>
               <documentation>6618: Polen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6618</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Polen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="19">
            <annotation>
               <documentation>13441: Romania.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13441</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Romania</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15">
            <annotation>
               <documentation>6619: Russland.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6619</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Russland</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <documentation>6609: Storbritannia.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6609</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Storbritannia</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <documentation>6616: Sveits.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6616</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sveits</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>6606: Sverige.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6606</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sverige</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <documentation>6610: Tyskland.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6610</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tyskland</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="99">
            <annotation>
               <documentation>6625: Ukjent.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6625</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11">
            <annotation>
               <documentation>6615: Østerrike.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6615</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Østerrike</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RegistreringslandUlykkesinvolvert enhetOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Tilhengertype_NyUlykkesinvolvert enhetType">
      <annotation>
         <documentation>11893: Angir type tilhenger.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11893</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilhengertype (Ny)</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Tilhengertype_NyUlykkesinvolvert enhetEnumerationType nvdb:Tilhengertype_NyUlykkesinvolvert enhetOtherType"/>
   </simpleType>
   <simpleType name="Tilhengertype_NyUlykkesinvolvert enhetEnumerationType">
      <annotation>
         <documentation>11893: Angir type tilhenger.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11893</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilhengertype (Ny)</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1">
            <annotation>
               <documentation>20184: Campingvogn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20184</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Campingvogn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21044</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen tilhenger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <documentation>20187: Påhengsvogn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20187</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Påhengsvogn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <documentation>20186: Semitrailer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20186</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Semitrailer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>20185: Slepevogn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20185</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slepevogn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <documentation>20188: Tilhenger/tilhengerredskap.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20188</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tilhenger/tilhengerredskap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <documentation>20189: Ukjent tilhenger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20189</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent tilhenger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Tilhengertype_NyUlykkesinvolvert enhetOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TungtransportBil_NyUlykkesinvolvert enhetType">
      <annotation>
         <documentation>11894: Tungtransport bil.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11894</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tungtransport bil (Ny)</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TungtransportBil_NyUlykkesinvolvert enhetEnumerationType nvdb:TungtransportBil_NyUlykkesinvolvert enhetOtherType"/>
   </simpleType>
   <simpleType name="TungtransportBil_NyUlykkesinvolvert enhetEnumerationType">
      <annotation>
         <documentation>11894: Tungtransport bil.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11894</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tungtransport bil (Ny)</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="8">
            <annotation>
               <documentation>20194: Annen enhetstype.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20194</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen enhetstype</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <documentation>20192: Lett bil for godstransport.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20192</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lett bil for godstransport</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <documentation>20193: Lett bil for persontransport.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20193</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lett bil for persontransport</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>20190: Tungbil for godstransport.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20190</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tungbil for godstransport</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>20191: Tungbil for persontransport.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20191</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tungbil for persontransport</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <documentation>20195: Ukjent enhetstype.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20195</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent enhetstype</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TungtransportBil_NyUlykkesinvolvert enhetOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Ulykkesinvolvert enhet"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Ulykkesinvolvert enhetType">
      <annotation>
         <documentation>571: Enheter involvert i ulykken. En fotgjenger regnes også som en enhet. Se kjøretøytype.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">571</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ulykkesinvolvert enhet</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Ulykkesinvolvert enhetType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="enhetstype_Endret">
                  <annotation>
                     <documentation>5090: Alle enhetstyper er gitt sin egen kode fra 01 til 99.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5090</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Enhetstype (endret)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="registreringsland"
                        type="nvdb:RegistreringslandUlykkesinvolvert enhetType">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5102</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Registreringsland</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="årsmodellPåKjøretøy" type="integer">
                  <annotation>
                     <documentation>5103: Årsmodell på kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5103</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Årsmodell på kjøretøy</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="EID_Ny" type="string">
                  <annotation>
                     <documentation>11954: Enhetsidentifikasjonsnummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11954</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">EID (Ny)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="hinderType">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5104</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Hinder type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="avstandTilPåkjørtHinder" type="integer">
                  <annotation>
                     <documentation>5105: Avstand fra veg til hinder.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5105</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avstand til påkjørt hinder</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>10737: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10737</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallAksler_Ny" type="integer">
                  <annotation>
                     <documentation>11884: Total antall aksler av enheten.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11884</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall aksler (Ny)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallAkslerMedDrift_Ny" type="integer">
                  <annotation>
                     <documentation>11885: Antall aksler med drift.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11885</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall aksler med drift (Ny)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="drivstoff_Ny">
                  <annotation>
                     <documentation>11888: Angir hvilken type drivstoff enheten bruker.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11888</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Drivstoff (Ny)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="enhetstype_Hovedkategori_Ny">
                  <annotation>
                     <documentation>11889: Enhetstype, hovedkategori.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11889</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Enhetstype, hovedkategori (Ny)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="enhetstype_Underkategori_Ny">
                  <annotation>
                     <documentation>11890: Enhetstype, underkategori.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11890</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Enhetstype, underkategori (Ny)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="motorytelseKjøretøy_Ny" type="double">
                  <annotation>
                     <documentation>11892: Motorytelse kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11892</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Motorytelse kjøretøy (Ny)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilhengertype_Ny">
                  <annotation>
                     <documentation>11893: Angir type tilhenger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11893</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilhengertype (Ny)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tungtransportBil_Ny">
                  <annotation>
                     <documentation>11894: Tungtransport bil.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11894</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tungtransport bil (Ny)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vogntog_Ny">
                  <annotation>
                     <documentation>11895: Vogntog.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11895</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vogntog (Ny)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Ulykkesinvolvert enhetPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Ulykkesinvolvert enhet"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="Vogntog_NyUlykkesinvolvert enhetType">
      <annotation>
         <documentation>11895: Vogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11895</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vogntog (Ny)</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Vogntog_NyUlykkesinvolvert enhetEnumerationType nvdb:Vogntog_NyUlykkesinvolvert enhetOtherType"/>
   </simpleType>
   <simpleType name="Vogntog_NyUlykkesinvolvert enhetEnumerationType">
      <annotation>
         <documentation>11895: Vogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11895</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vogntog (Ny)</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="8">
            <annotation>
               <documentation>20197: Annet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20197</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <documentation>20198: Ukjent.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20198</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>20196: Vogntog.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20196</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vogntog</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Vogntog_NyUlykkesinvolvert enhetOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
