GML/571.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="Drivstoff_NyType">
    <annotation>
      <documentation>11888: Angir hvilken type drivstoff enheten bruker.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11888</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11888</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Drivstoff (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Drivstoff_NyEnumerationType nvdb:Drivstoff_NyOtherType"/>
  </simpleType>
  <simpleType name="Drivstoff_NyEnumerationType">
    <annotation>
      <documentation>11888: Angir hvilken type drivstoff enheten bruker.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11888</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11888</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Drivstoff (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Bensin">
        <annotation>
          <documentation>20143: Bensin</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20143</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bensin</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Diesel">
        <annotation>
          <documentation>20144: Diesel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20144</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Diesel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parafin">
        <annotation>
          <documentation>20145: Parafin</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20145</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Parafin</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gass">
        <annotation>
          <documentation>20146: Gass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20146</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Elektrisk">
        <annotation>
          <documentation>20147: Elektrisk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20147</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Elektrisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hydrogen">
        <annotation>
          <documentation>20148: Hydrogen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20148</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hydrogen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hybrid">
        <annotation>
          <documentation>20149: Hybrid</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20149</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hybrid</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Biodiesel">
        <annotation>
          <documentation>20150: Biodiesel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20150</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Biodiesel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Biobensin">
        <annotation>
          <documentation>20151: Biobensin</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20151</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Biobensin</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="LPG-Gass">
        <annotation>
          <documentation>20152: LPG-Gass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20152</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">LPG-Gass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="CNG-Gass">
        <annotation>
          <documentation>20153: CNG-Gass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20153</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">CNG-Gass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metanol">
        <annotation>
          <documentation>20154: Metanol</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20154</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metanol</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Etanol">
        <annotation>
          <documentation>20155: Etanol</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20155</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Etanol</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet drivstoff">
        <annotation>
          <documentation>20156: Annet drivstoff</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20156</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet drivstoff</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Drivstoff_NyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Enhetstype_EndretType">
    <annotation>
      <documentation>5090: Alle enhetstyper er gitt sin egen kode fra 01 til 99.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5090</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5090</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Enhetstype (endret)</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Enhetstype_EndretEnumerationType nvdb:Enhetstype_EndretOtherType"/>
  </simpleType>
  <simpleType name="Enhetstype_EndretEnumerationType">
    <annotation>
      <documentation>5090: Alle enhetstyper er gitt sin egen kode fra 01 til 99.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5090</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5090</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Enhetstype (endret)</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Gående">
        <annotation>
          <documentation>6499: Gående.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6499</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gående</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Akende">
        <annotation>
          <documentation>6500: Akende.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6500</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Akende</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ski">
        <annotation>
          <documentation>6501: Ski.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6501</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ski</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rullende enheter, ikke motorisert">
        <annotation>
          <documentation>6502: Rullende enheter, ikke motorisert.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6502</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rullende enheter, ikke motorisert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rullestol (endret 2020)">
        <annotation>
          <documentation>6512: Rullestol (endret 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6512</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rullestol (endret 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fotgjenger, annet">
        <annotation>
          <documentation>6503: Fotgjenger, annet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6503</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fotgjenger, annet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2-hjuls trå- og elsykkel (endret 2020)">
        <annotation>
          <documentation>6504: 2-hjuls trå- og elsykkel (endret 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6504</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2-hjuls trå- og elsykkel (endret 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Små elektriske kjøretøy (ny 2020)">
        <annotation>
          <documentation>20304: Små elektriske kjøretøy (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20304</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Små elektriske kjøretøy (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sykkel, annet (ny 2020)">
        <annotation>
          <documentation>20305: Sykkel, annet (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20305</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkel, annet (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hest (endret 2020)">
        <annotation>
          <documentation>6505: Hest (endret 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6505</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hest (endret 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Moped 2-hjul">
        <annotation>
          <documentation>6507: Moped 2-hjul.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6507</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Moped 2-hjul</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Moped 3-hjul (ny 2020)">
        <annotation>
          <documentation>20306: Moped 3-hjul (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20306</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Moped 3-hjul (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Moped 4-hjul (ny 2020)">
        <annotation>
          <documentation>20307: Moped 4-hjul (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20307</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Moped 4-hjul (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Moped 4-hjul (ATV) (ny 2020)">
        <annotation>
          <documentation>20308: Moped 4-hjul (ATV) (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20308</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Moped 4-hjul (ATV) (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lett MC">
        <annotation>
          <documentation>6508: Lett MC.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6508</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lett MC</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lett MC m/sidevogn (ny 2020)">
        <annotation>
          <documentation>20309: Lett MC m/sidevogn (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20309</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lett MC m/sidevogn (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mellomtung MC (ny 2020)">
        <annotation>
          <documentation>20310: Mellomtung MC (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20310</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mellomtung MC (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mellomtung MC m/sidevogn (ny 2020)">
        <annotation>
          <documentation>20311: Mellomtung MC m/sidevogn (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20311</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mellomtung MC m/sidevogn (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tung MC">
        <annotation>
          <documentation>6509: Tung MC.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6509</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tung MC</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tung MC m/sidevogn (ny 2020)">
        <annotation>
          <documentation>20312: Tung MC m/sidevogn (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20312</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tung MC m/sidevogn (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="MC 3-hjul (ny 2020)">
        <annotation>
          <documentation>20313: MC 3-hjul (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20313</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">MC 3-hjul (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="MC 4-hjul">
        <annotation>
          <documentation>13463: MC 4-hjul.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13463</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">MC 4-hjul</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="MC 4-hjul (ATV)">
        <annotation>
          <documentation>9561: MC 4-hjul (ATV).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9561</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">MC 4-hjul (ATV)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="MC m/sidevogn">
        <annotation>
          <documentation>6510: MC m/sidevogn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6510</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">MC m/sidevogn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Personbil, stasjonsvogn (endret 2020)">
        <annotation>
          <documentation>6513: Personbil, stasjonsvogn (endret 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6513</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Personbil, stasjonsvogn (endret 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Campingbil">
        <annotation>
          <documentation>6528: Campingbil.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6528</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Campingbil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ambulanse">
        <annotation>
          <documentation>6518: Ambulanse.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6518</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ambulanse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Buss, under 5001 kg">
        <annotation>
          <documentation>6516: Buss, under 5001 kg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6516</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Buss, under 5001 kg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Buss, over 5000 kg (ny 2020)">
        <annotation>
          <documentation>20314: Buss, over 5000 kg (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20314</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Buss, over 5000 kg (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Buss, ukjent (endret 2020)">
        <annotation>
          <documentation>6515: Buss, ukjent (endret 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6515</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Buss, ukjent (endret 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ambulansebuss, under 5001 kg (ny 2020)">
        <annotation>
          <documentation>20315: Ambulansebuss, under 5001 kg (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20315</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ambulansebuss, under 5001 kg (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ambulansebuss, over 5000 kg (ny 2020)">
        <annotation>
          <documentation>20316: Ambulansebuss, over 5000 kg (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20316</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ambulansebuss, over 5000 kg (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Varebil (endret 2020)">
        <annotation>
          <documentation>6521: Varebil (endret 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6521</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varebil (endret 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lastebil, 3501 kg - 12000 kg (ny 2020)">
        <annotation>
          <documentation>20317: Lastebil, 3501 kg - 12000 kg (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20317</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lastebil, 3501 kg - 12000 kg (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lastebil, over 12000 kg (ny 2020)">
        <annotation>
          <documentation>20318: Lastebil, over 12000 kg (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20318</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lastebil, over 12000 kg (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lastebil, ukjent (endret 2020)">
        <annotation>
          <documentation>6522: Lastebil, ukjent (endret 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6522</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lastebil, ukjent (endret 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trekkbil, 3501 kg - 12000 kg (ny 2020)">
        <annotation>
          <documentation>20319: Trekkbil, 3501 kg - 12000 kg (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20319</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trekkbil, 3501 kg - 12000 kg (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trekkbil, over 12000 kg (ny 2020)">
        <annotation>
          <documentation>20320: Trekkbil, over 12000 kg (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20320</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trekkbil, over 12000 kg (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trekkbil, ukjent (endret 2020)">
        <annotation>
          <documentation>6535: Trekkbil, ukjent (endret 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6535</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trekkbil, ukjent (endret 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Traktor">
        <annotation>
          <documentation>6538: Traktor.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6538</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Traktor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Traktor (ATV) (ny 2020)">
        <annotation>
          <documentation>20321: Traktor (ATV) (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20321</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Traktor (ATV) (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Snøscooter, beltemotorsykkel">
        <annotation>
          <documentation>6511: Snøscooter, beltemotorsykkel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6511</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Snøscooter, beltemotorsykkel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Beltebil (ikke anleggsmaskin)">
        <annotation>
          <documentation>6537: Beltebil (ikke anleggsmaskin).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6537</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Beltebil (ikke anleggsmaskin)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Anleggsmaskin/motorredskap (ny 2020)">
        <annotation>
          <documentation>20322: Anleggsmaskin/motorredskap (ny 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20322</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Anleggsmaskin/motorredskap (ny 2020)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tilhenger/tilhengerredskap uten trekkvogn">
        <annotation>
          <documentation>6539: Tilhenger/tilhengerredskap uten trekkvogn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6539</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilhenger/tilhengerredskap uten trekkvogn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jernbanetog">
        <annotation>
          <documentation>6540: Jernbanetog.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6540</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jernbanetog</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sporvogn/trikk">
        <annotation>
          <documentation>6541: Sporvogn/trikk.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6541</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sporvogn/trikk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet kjøretøy">
        <annotation>
          <documentation>6542: Annet kjøretøy.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6542</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet kjøretøy</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>6543: Ukjent.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6543</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hest med vogn, hestekjøretøy (utgår)">
        <annotation>
          <documentation>6506: Hest med vogn, hestekjøretøy (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6506</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hest med vogn, hestekjøretøy (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="El-bil (utgår)">
        <annotation>
          <documentation>9562: El-bil (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9562</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">El-bil (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Drosje (også minibuss) (utgår)">
        <annotation>
          <documentation>6514: Drosje (også minibuss) (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6514</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drosje (også minibuss) (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Politi under utrykning (blålys og/eller særskilt lydsignal) (utgår)">
        <annotation>
          <documentation>6519: Politi under utrykning (blålys og/eller særskilt lydsignal) (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6519</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Politi under utrykning (blålys og/eller særskilt lydsignal) (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brannbil under utrykning (blålys og/eller særskilt lydsignal) (utgår)">
        <annotation>
          <documentation>6520: Brannbil under utrykning (blålys og/eller særskilt lydsignal) (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6520</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brannbil under utrykning (blålys og/eller særskilt lydsignal) (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen buss, turvogn (utgår)">
        <annotation>
          <documentation>6517: Annen buss, turvogn (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6517</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annen buss, turvogn (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kombinert bil (utgår)">
        <annotation>
          <documentation>6523: Kombinert bil (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6523</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kombinert bil (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Personbil/stasjonsvogn med campingvogn (utgår)">
        <annotation>
          <documentation>6525: Personbil/stasjonsvogn med campingvogn (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6525</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Personbil/stasjonsvogn med campingvogn (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Varebil med campingvogn (utgår)">
        <annotation>
          <documentation>6526: Varebil med campingvogn (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6526</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varebil med campingvogn (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tankbil (utgår)">
        <annotation>
          <documentation>6527: Tankbil (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6527</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tankbil (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Personbil/stasjonsvogn med tilh./tilh.redskap (unntatt camp.vogn) (utgår)">
        <annotation>
          <documentation>6529: Personbil/stasjonsvogn med tilh./tilh.redskap (unntatt camp.vogn) (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6529</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Personbil/stasjonsvogn med tilh./tilh.redskap (unntatt camp.vogn) (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Varebil med tilhenger/tilhengerredskap (unntatt campingvogn) (utgår)">
        <annotation>
          <documentation>6530: Varebil med tilhenger/tilhengerredskap (unntatt campingvogn) (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6530</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varebil med tilhenger/tilhengerredskap (unntatt campingvogn) (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lastebil med påhengsvogn (1-akslet) (utgår)">
        <annotation>
          <documentation>6531: Lastebil med påhengsvogn (1-akslet) (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6531</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lastebil med påhengsvogn (1-akslet) (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lastebil med slepevogn (2-akslet) (utgår)">
        <annotation>
          <documentation>6532: Lastebil med slepevogn (2-akslet) (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6532</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lastebil med slepevogn (2-akslet) (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lastebil med tilhengerredskap (utgår)">
        <annotation>
          <documentation>6533: Lastebil med tilhengerredskap (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6533</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lastebil med tilhengerredskap (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kombinert bil med tilhenger/tilhengerredskap (utgår)">
        <annotation>
          <documentation>6534: Kombinert bil med tilhenger/tilhengerredskap (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6534</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kombinert bil med tilhenger/tilhengerredskap (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trekkbil (uten semitrailer) (utgår)">
        <annotation>
          <documentation>6524: Trekkbil (uten semitrailer) (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6524</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trekkbil (uten semitrailer) (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tankbil med tilhenger (utgår)">
        <annotation>
          <documentation>6536: Tankbil med tilhenger (utgår).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6536</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tankbil med tilhenger (utgår)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Enhetstype_EndretOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Enhetstype_Hovedkategori_NyType">
    <annotation>
      <documentation>11889: Enhetstype, hovedkategori.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11889</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11889</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Enhetstype, hovedkategori (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Enhetstype_Hovedkategori_NyEnumerationType nvdb:Enhetstype_Hovedkategori_NyOtherType"/>
  </simpleType>
  <simpleType name="Enhetstype_Hovedkategori_NyEnumerationType">
    <annotation>
      <documentation>11889: Enhetstype, hovedkategori.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11889</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11889</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Enhetstype, hovedkategori (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Fotgjenger og sykkel">
        <annotation>
          <documentation>20157: Fotgjenger og sykkel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20157</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fotgjenger og sykkel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Moped og MC">
        <annotation>
          <documentation>20158: Moped og MC.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20158</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Moped og MC</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bil for persontransport">
        <annotation>
          <documentation>20159: Bil for persontransport.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20159</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bil for persontransport</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bil for godstransport">
        <annotation>
          <documentation>20160: Bil for godstransport.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20160</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bil for godstransport</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet">
        <annotation>
          <documentation>20161: Annet .</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20161</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>20162: ukjent.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20162</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Enhetstype_Hovedkategori_NyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Enhetstype_Underkategori_NyType">
    <annotation>
      <documentation>11890: Enhetstype, underkategori.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11890</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11890</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Enhetstype, underkategori (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Enhetstype_Underkategori_NyEnumerationType nvdb:Enhetstype_Underkategori_NyOtherType"/>
  </simpleType>
  <simpleType name="Enhetstype_Underkategori_NyEnumerationType">
    <annotation>
      <documentation>11890: Enhetstype, underkategori.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11890</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11890</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Enhetstype, underkategori (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Fotgjenger">
        <annotation>
          <documentation>20163: Fotgjenger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20163</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fotgjenger</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sykkel">
        <annotation>
          <documentation>20164: Sykkel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20164</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Moped">
        <annotation>
          <documentation>20165: Moped.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20165</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Moped</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lett MC">
        <annotation>
          <documentation>20166: Lett MC.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20166</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lett MC</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="MC">
        <annotation>
          <documentation>20167: MC.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20167</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">MC</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Personbil">
        <annotation>
          <documentation>20168: Personbil.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20168</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Personbil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Buss">
        <annotation>
          <documentation>20169: Buss.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20169</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Buss</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Varebil">
        <annotation>
          <documentation>20170: Varebil.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20170</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varebil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lastebil">
        <annotation>
          <documentation>20171: Lastebil.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20171</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lastebil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Traktor">
        <annotation>
          <documentation>20172: Traktor.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20172</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Traktor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skinnegående materiell">
        <annotation>
          <documentation>20173: Skinnegående materiell.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20173</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skinnegående materiell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet">
        <annotation>
          <documentation>20174: Annet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20174</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>20175: Ukjent.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20175</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Enhetstype_Underkategori_NyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HinderTypeType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5104</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5104</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Hinder type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HinderTypeEnumerationType nvdb:HinderTypeOtherType"/>
  </simpleType>
  <simpleType name="HinderTypeEnumerationType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5104</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5104</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Hinder type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Intet hinder påkjørt">
        <annotation>
          <documentation>6626: Intet hinder påkjørt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6626</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Intet hinder påkjørt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skiltstolpe">
        <annotation>
          <documentation>6627: Skiltstolpe.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6627</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltstolpe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signalstolpe">
        <annotation>
          <documentation>6628: Signalstolpe.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6628</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signalstolpe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lysmast av tre">
        <annotation>
          <documentation>6629: Lysmast av tre.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6629</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lysmast av tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lysmast av stål">
        <annotation>
          <documentation>6630: Lysmast av stål.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6630</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lysmast av stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen mast / stolpe">
        <annotation>
          <documentation>6631: Annen mast / stolpe.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6631</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annen mast / stolpe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tre">
        <annotation>
          <documentation>6632: Tre.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6632</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gjerde, rekkverk">
        <annotation>
          <documentation>6633: Gjerde, rekkverk.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6633</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjerde, rekkverk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mur, bygning">
        <annotation>
          <documentation>6634: Mur, bygning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6634</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mur, bygning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein, fjellvegg">
        <annotation>
          <documentation>6635: Stein, fjellvegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6635</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein, fjellvegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kantstein">
        <annotation>
          <documentation>6636: Kantstein.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6636</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kantstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parkert kjøretøy">
        <annotation>
          <documentation>6637: Parkert kjøretøy.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6637</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Parkert kjøretøy</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen gjenstand i kjørebanen">
        <annotation>
          <documentation>6638: Annen gjenstand i kjørebanen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6638</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annen gjenstand i kjørebanen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Større tamdyr (ku m.m.)">
        <annotation>
          <documentation>6639: Større tamdyr (ku m.m.).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6639</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Større tamdyr (ku m.m.)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mindre tamdyr ( katt m.m.)">
        <annotation>
          <documentation>6640: Mindre tamdyr ( katt m.m.).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6640</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mindre tamdyr ( katt m.m.)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Elg">
        <annotation>
          <documentation>6641: Elg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6641</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Elg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rein">
        <annotation>
          <documentation>6642: Rein.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6642</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rådyr, hjort">
        <annotation>
          <documentation>6643: Rådyr, hjort.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6643</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rådyr, hjort</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet vilt">
        <annotation>
          <documentation>6644: Annet vilt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6644</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet vilt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent dyr">
        <annotation>
          <documentation>6645: Ukjent dyr.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6645</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent dyr</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet">
        <annotation>
          <documentation>6646: annet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6646</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>6647: ukjent.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6647</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HinderTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RegistreringslandType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5102</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5102</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Registreringsland</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RegistreringslandEnumerationType nvdb:RegistreringslandOtherType"/>
  </simpleType>
  <simpleType name="RegistreringslandEnumerationType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5102</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5102</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Registreringsland</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Norge">
        <annotation>
          <documentation>6605: Norge.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6605</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Norge</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sverige">
        <annotation>
          <documentation>6606: Sverige.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6606</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sverige</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Danmark">
        <annotation>
          <documentation>6607: Danmark.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6607</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Danmark</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Finland">
        <annotation>
          <documentation>6608: Finland.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6608</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Finland</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Storbritannia">
        <annotation>
          <documentation>6609: Storbritannia.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6609</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Storbritannia</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tyskland">
        <annotation>
          <documentation>6610: Tyskland.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6610</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tyskland</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Frankrike">
        <annotation>
          <documentation>6611: Frankrike.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6611</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Frankrike</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nederland">
        <annotation>
          <documentation>6612: Nederland.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6612</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nederland</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belgia">
        <annotation>
          <documentation>6613: Belgia.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6613</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belgia</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Luxembourg">
        <annotation>
          <documentation>6614: Luxembourg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6614</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Luxembourg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Østerrike">
        <annotation>
          <documentation>6615: Østerrike.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6615</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Østerrike</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sveits">
        <annotation>
          <documentation>6616: Sveits.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6616</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sveits</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Italia">
        <annotation>
          <documentation>6617: Italia.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6617</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Italia</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Polen">
        <annotation>
          <documentation>6618: Polen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6618</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Polen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Russland">
        <annotation>
          <documentation>6619: Russland.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6619</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Russland</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Litauen">
        <annotation>
          <documentation>9805: Litauen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9805</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Litauen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Estland">
        <annotation>
          <documentation>13439: Estland.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13439</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Estland</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Latvia">
        <annotation>
          <documentation>13440: Latvia.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13440</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Latvia</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Romania">
        <annotation>
          <documentation>13441: Romania.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13441</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Romania</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bulgaria">
        <annotation>
          <documentation>13442: Bulgaria.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13442</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bulgaria</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kroatia">
        <annotation>
          <documentation>13443: Kroatia.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13443</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kroatia</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Andre østeuropeiske land">
        <annotation>
          <documentation>6620: Andre østeuropeiske land.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6620</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Andre østeuropeiske land</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Andre vesteuropeiske land">
        <annotation>
          <documentation>6621: Andre vesteuropeiske land.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6621</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Andre vesteuropeiske land</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Diplomatbil">
        <annotation>
          <documentation>6622: Diplomatbil.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6622</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Diplomatbil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Militært kjøretøy">
        <annotation>
          <documentation>6623: Militært kjøretøy.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6623</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Militært kjøretøy</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet land">
        <annotation>
          <documentation>6624: Annet land.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6624</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet land</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>6625: Ukjent.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6625</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RegistreringslandOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Tilhengertype_NyType">
    <annotation>
      <documentation>11893: Angir type tilhenger.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11893</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11893</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilhengertype (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Tilhengertype_NyEnumerationType nvdb:Tilhengertype_NyOtherType"/>
  </simpleType>
  <simpleType name="Tilhengertype_NyEnumerationType">
    <annotation>
      <documentation>11893: Angir type tilhenger.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11893</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11893</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilhengertype (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Campingvogn">
        <annotation>
          <documentation>20184: Campingvogn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20184</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Campingvogn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Slepevogn">
        <annotation>
          <documentation>20185: Slepevogn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20185</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Slepevogn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Semitrailer">
        <annotation>
          <documentation>20186: Semitrailer.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20186</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Semitrailer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Påhengsvogn">
        <annotation>
          <documentation>20187: Påhengsvogn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20187</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Påhengsvogn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tilhenger/tilhengerredskap">
        <annotation>
          <documentation>20188: Tilhenger/tilhengerredskap.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20188</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilhenger/tilhengerredskap</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen tilhenger">
        <annotation>
          <documentation>21044: Ingen tilhenger</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21044</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen tilhenger</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent tilhenger">
        <annotation>
          <documentation>20189: Ukjent tilhenger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20189</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent tilhenger</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Tilhengertype_NyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TungtransportBil_NyType">
    <annotation>
      <documentation>11894: Tungtransport bil.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11894</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11894</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tungtransport bil (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TungtransportBil_NyEnumerationType nvdb:TungtransportBil_NyOtherType"/>
  </simpleType>
  <simpleType name="TungtransportBil_NyEnumerationType">
    <annotation>
      <documentation>11894: Tungtransport bil.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11894</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11894</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tungtransport bil (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tungbil for godstransport">
        <annotation>
          <documentation>20190: Tungbil for godstransport.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20190</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tungbil for godstransport</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tungbil for persontransport">
        <annotation>
          <documentation>20191: Tungbil for persontransport.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20191</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tungbil for persontransport</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lett bil for godstransport">
        <annotation>
          <documentation>20192: Lett bil for godstransport.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20192</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lett bil for godstransport</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lett bil for persontransport">
        <annotation>
          <documentation>20193: Lett bil for persontransport.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20193</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lett bil for persontransport</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen enhetstype">
        <annotation>
          <documentation>20194: Annen enhetstype.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20194</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annen enhetstype</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent enhetstype">
        <annotation>
          <documentation>20195: Ukjent enhetstype.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20195</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent enhetstype</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TungtransportBil_NyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="UlykkesinvolvertEnhet" substitutionGroup="nvdb:AbstraktUlykkesinvolvertEnhet" type="nvdb:UlykkesinvolvertEnhetType">
    <annotation>
      <documentation>571: Enheter involvert i ulykken. En fotgjenger regnes også som en enhet. Se kjøretøytype.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">571</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">571</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ulykkesinvolvert enhet</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="UlykkesinvolvertEnhetType">
    <complexContent>
      <extension base="nvdb:AbstraktUlykkesinvolvertEnhetType">
        <sequence>
          <element minOccurs="0" name="enhetstype_Endret" type="nvdb:Enhetstype_EndretType">
            <annotation>
              <documentation>5090: Alle enhetstyper er gitt sin egen kode fra 01 til 99.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5090</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Enhetstype (endret)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsland" type="nvdb:RegistreringslandType">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5102</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Registreringsland</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="årsmodellPåKjøretøy" type="integer">
            <annotation>
              <documentation>5103: Årsmodell på kjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5103</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Årsmodell på kjøretøy</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="EID_Ny" type="string">
            <annotation>
              <documentation>11954: Enhetsidentifikasjonsnummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11954</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">EID (Ny)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hinderType" type="nvdb:HinderTypeType">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5104</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Hinder type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avstandTilPåkjørtHinder" type="integer">
            <annotation>
              <documentation>5105: Avstand fra veg til hinder.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5105</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Avstand til påkjørt hinder</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>10737: Gir punkt som geometrisk representerer vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10737</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallAksler_Ny" type="integer">
            <annotation>
              <documentation>11884: Total antall aksler av enheten.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11884</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall aksler (Ny)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallAkslerMedDrift_Ny" type="integer">
            <annotation>
              <documentation>11885: Antall aksler med drift.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11885</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall aksler med drift (Ny)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="drivstoff_Ny" type="nvdb:Drivstoff_NyType">
            <annotation>
              <documentation>11888: Angir hvilken type drivstoff enheten bruker.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11888</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Drivstoff (Ny)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="enhetstype_Hovedkategori_Ny" type="nvdb:Enhetstype_Hovedkategori_NyType">
            <annotation>
              <documentation>11889: Enhetstype, hovedkategori.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11889</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Enhetstype, hovedkategori (Ny)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="enhetstype_Underkategori_Ny" type="nvdb:Enhetstype_Underkategori_NyType">
            <annotation>
              <documentation>11890: Enhetstype, underkategori.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11890</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Enhetstype, underkategori (Ny)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="motorytelseKjøretøy_Ny" type="integer">
            <annotation>
              <documentation>11892: Motorytelse kjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11892</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Motorytelse kjøretøy (Ny)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilhengertype_Ny" type="nvdb:Tilhengertype_NyType">
            <annotation>
              <documentation>11893: Angir type tilhenger.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11893</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilhengertype (Ny)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tungtransportBil_Ny" type="nvdb:TungtransportBil_NyType">
            <annotation>
              <documentation>11894: Tungtransport bil.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11894</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tungtransport bil (Ny)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vogntog_Ny" type="nvdb:Vogntog_NyType">
            <annotation>
              <documentation>11895: Vogntog.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11895</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vogntog (Ny)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkulykke" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkulykke</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertUlykkesinvolvertPerson" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktUlykkesinvolvertPerson</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UlykkesinvolvertEnhetPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:UlykkesinvolvertEnhet"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="Vogntog_NyType">
    <annotation>
      <documentation>11895: Vogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11895</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11895</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vogntog (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Vogntog_NyEnumerationType nvdb:Vogntog_NyOtherType"/>
  </simpleType>
  <simpleType name="Vogntog_NyEnumerationType">
    <annotation>
      <documentation>11895: Vogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11895</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11895</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vogntog (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Vogntog">
        <annotation>
          <documentation>20196: Vogntog.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20196</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vogntog</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet">
        <annotation>
          <documentation>20197: Annet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20197</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>20198: Ukjent.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20198</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Vogntog_NyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
