GML/572.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AlderskategoriType">
    <annotation>
      <documentation>11534: Angir hvilken aldersgruppe ulykkesinvolvert person tilhører</documentation>
    </annotation>
    <union memberTypes="nvdb:AlderskategoriEnumerationType nvdb:AlderskategoriOtherType"/>
  </simpleType>
  <simpleType name="AlderskategoriEnumerationType">
    <annotation>
      <documentation>11534: Angir hvilken aldersgruppe ulykkesinvolvert person tilhører</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0til5År">
        <annotation>
          <documentation>19610: 0-5 år</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6til15">
        <annotation>
          <documentation>19612: 6-15</documentation>
        </annotation>
      </enumeration>
      <enumeration value="16til17">
        <annotation>
          <documentation>19613: 16-17</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18til19">
        <annotation>
          <documentation>19614: 18-19</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20til24">
        <annotation>
          <documentation>19615: 20-24</documentation>
        </annotation>
      </enumeration>
      <enumeration value="25til34">
        <annotation>
          <documentation>19616: 25-34</documentation>
        </annotation>
      </enumeration>
      <enumeration value="35til44">
        <annotation>
          <documentation>19617: 35-44</documentation>
        </annotation>
      </enumeration>
      <enumeration value="45til54">
        <annotation>
          <documentation>19618: 45-54</documentation>
        </annotation>
      </enumeration>
      <enumeration value="55til64">
        <annotation>
          <documentation>19619: 55-64</documentation>
        </annotation>
      </enumeration>
      <enumeration value="65til74">
        <annotation>
          <documentation>19620: 65-74</documentation>
        </annotation>
      </enumeration>
      <enumeration value="75til84">
        <annotation>
          <documentation>19621: 75-84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="85ÅrEllerEldre">
        <annotation>
          <documentation>19622: 85 år eller eldre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uoppgittAlder">
        <annotation>
          <documentation>19623: Alder er ikke kjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AlderskategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BeskyttelsesutstyrType">
    <annotation>
      <documentation>5113: Den beskyttelse personen har benyttet seg av</documentation>
    </annotation>
    <union memberTypes="nvdb:BeskyttelsesutstyrEnumerationType nvdb:BeskyttelsesutstyrOtherType"/>
  </simpleType>
  <simpleType name="BeskyttelsesutstyrEnumerationType">
    <annotation>
      <documentation>5113: Den beskyttelse personen har benyttet seg av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ingenBeskyttelse">
        <annotation>
          <documentation>6669: Ingen beskyttelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bilbelte">
        <annotation>
          <documentation>6670: Bilbelte</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kollisjonspute">
        <annotation>
          <documentation>6671: Kollisjonspute</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bilbelteOgKollisjonspute">
        <annotation>
          <documentation>6672: Bilbelte og kollisjonspute</documentation>
        </annotation>
      </enumeration>
      <enumeration value="barnesete">
        <annotation>
          <documentation>6673: Barnesete</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hjelmOgRefleksLykt">
        <annotation>
          <documentation>17391: Hjelm og refleks/lykt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hjelm">
        <annotation>
          <documentation>6674: Hjelm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="refleksLykt">
        <annotation>
          <documentation>6675: Refleks/lykt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annenBeskyttelse">
        <annotation>
          <documentation>6676: Annen beskyttelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6677: ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BeskyttelsesutstyrOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KjønnIUlykkeType">
    <union memberTypes="nvdb:KjønnIUlykkeEnumerationType nvdb:KjønnIUlykkeOtherType"/>
  </simpleType>
  <simpleType name="KjønnIUlykkeEnumerationType">
    <restriction base="string">
      <enumeration value="mann">
        <annotation>
          <documentation>6653: Mann</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kvinne">
        <annotation>
          <documentation>6654: Kvinne</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6655: ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KjønnIUlykkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PersonsPlasseringIKjøretøyType">
    <annotation>
      <documentation>5111: Persons plassering i kjøretøy</documentation>
    </annotation>
    <union memberTypes="nvdb:PersonsPlasseringIKjøretøyEnumerationType nvdb:PersonsPlasseringIKjøretøyOtherType"/>
  </simpleType>
  <simpleType name="PersonsPlasseringIKjøretøyEnumerationType">
    <annotation>
      <documentation>5111: Persons plassering i kjøretøy</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="fører">
        <annotation>
          <documentation>6656: Fører</documentation>
        </annotation>
      </enumeration>
      <enumeration value="passasjerForan">
        <annotation>
          <documentation>6657: Passasjer foran</documentation>
        </annotation>
      </enumeration>
      <enumeration value="passasjerBak">
        <annotation>
          <documentation>6658: Passasjer bak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="passasjerAnnenPlass">
        <annotation>
          <documentation>6659: Passasjer annen plass</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6660: ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PersonsPlasseringIKjøretøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadeforløpType">
    <annotation>
      <documentation>5114: Skadeforløp for person</documentation>
    </annotation>
    <union memberTypes="nvdb:SkadeforløpEnumerationType nvdb:SkadeforløpOtherType"/>
  </simpleType>
  <simpleType name="SkadeforløpEnumerationType">
    <annotation>
      <documentation>5114: Skadeforløp for person</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ikkePersonskade">
        <annotation>
          <documentation>6678: Ikke personskade</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skadeMotInteriør">
        <annotation>
          <documentation>6679: Skade mot interiør</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kastetUtAvKjøretøyet">
        <annotation>
          <documentation>6680: Kastet ut av kjøretøyet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fotgjenger_AkendePåkjørt">
        <annotation>
          <documentation>6681: Fotgjenger, akende påkjørt,</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brann">
        <annotation>
          <documentation>6682: Brann</documentation>
        </annotation>
      </enumeration>
      <enumeration value="drukning">
        <annotation>
          <documentation>6683: Drukning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skaddMotEksteriør">
        <annotation>
          <documentation>6684: Skadd mot eksteriør</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annetForløp">
        <annotation>
          <documentation>6686: Annet forløp</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6687: ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadeforløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadegradType">
    <annotation>
      <documentation>5112: Skadegrad for person innblandet i trafikkulykke</documentation>
    </annotation>
    <union memberTypes="nvdb:SkadegradEnumerationType nvdb:SkadegradOtherType"/>
  </simpleType>
  <simpleType name="SkadegradEnumerationType">
    <annotation>
      <documentation>5112: Skadegrad for person innblandet i trafikkulykke</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="drept">
        <annotation>
          <documentation>6661: Drept</documentation>
        </annotation>
      </enumeration>
      <enumeration value="megetAlvorligSkadd">
        <annotation>
          <documentation>6662: Meget alvorlig skadd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="alvorligSkadd">
        <annotation>
          <documentation>6663: Alvorlig skadd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lettereSkadd">
        <annotation>
          <documentation>6664: Lettere skadd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uskadd">
        <annotation>
          <documentation>6665: Uskadd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6668: ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadegradOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadegradFraSSBType">
    <annotation>
      <documentation>8808: Skadegrad for person innblandet i trafikkulykke.  Rapportert fra SSB</documentation>
    </annotation>
    <union memberTypes="nvdb:SkadegradFraSSBEnumerationType nvdb:SkadegradFraSSBOtherType"/>
  </simpleType>
  <simpleType name="SkadegradFraSSBEnumerationType">
    <annotation>
      <documentation>8808: Skadegrad for person innblandet i trafikkulykke.  Rapportert fra SSB</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="drept">
        <annotation>
          <documentation>11663: Drept</documentation>
        </annotation>
      </enumeration>
      <enumeration value="megetAlvorligSkadd">
        <annotation>
          <documentation>11662: Meget alvorlig skadd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="alvorligSkadd">
        <annotation>
          <documentation>11661: Alvorlig skadd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lettereSkadd">
        <annotation>
          <documentation>11660: Lettere skadd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uskadd">
        <annotation>
          <documentation>11659: Uskadd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>11656: ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadegradFraSSBOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Skjema2_SSBType">
    <annotation>
      <documentation>9574: Angir om personopplysninger fra ulykkesregistreringsskjema 2 er mottatt fra SSB</documentation>
    </annotation>
    <union memberTypes="nvdb:Skjema2_SSBEnumerationType nvdb:Skjema2_SSBOtherType"/>
  </simpleType>
  <simpleType name="Skjema2_SSBEnumerationType">
    <annotation>
      <documentation>9574: Angir om personopplysninger fra ulykkesregistreringsskjema 2 er mottatt fra SSB</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13786: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13787: Nei</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uaktuell">
        <annotation>
          <documentation>13788: Uaktuell</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Skjema2_SSBOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="UlykkesinvolvertPerson" substitutionGroup="nvdb:AbstraktUlykkesinvolvertPerson" type="nvdb:UlykkesinvolvertPersonType">
    <annotation>
      <documentation>572: Personer involvert i trafikkulykke.</documentation>
    </annotation>
  </element>
  <complexType name="UlykkesinvolvertPersonType">
    <complexContent>
      <extension base="nvdb:AbstraktUlykkesinvolvertPersonType">
        <sequence>
          <element minOccurs="0" name="passasjerNummer" type="string">
            <annotation>
              <documentation>5107: Passasjernummer, f.eks. A0.  Satt sammen av ENHETS-bokstav og et fortløpende nummer. Fører=0, resten er fortløpende.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kjønnIUlykke" type="nvdb:KjønnIUlykkeType"/>
          <element minOccurs="0" name="fødselsdato" type="date">
            <annotation>
              <documentation>5109: Fødselsdato</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="alder" type="integer">
            <annotation>
              <documentation>5110: Alder
Enhet: År</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="alderskategori" type="nvdb:AlderskategoriType">
            <annotation>
              <documentation>11534: Angir hvilken aldersgruppe ulykkesinvolvert person tilhører</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="personsPlasseringIKjøretøy" type="nvdb:PersonsPlasseringIKjøretøyType">
            <annotation>
              <documentation>5111: Persons plassering i kjøretøy</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skadegrad" type="nvdb:SkadegradType">
            <annotation>
              <documentation>5112: Skadegrad for person innblandet i trafikkulykke</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skadegradFraSSB" type="nvdb:SkadegradFraSSBType">
            <annotation>
              <documentation>8808: Skadegrad for person innblandet i trafikkulykke.  Rapportert fra SSB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skjema2_SSB" type="nvdb:Skjema2_SSBType">
            <annotation>
              <documentation>9574: Angir om personopplysninger fra ulykkesregistreringsskjema 2 er mottatt fra SSB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="beskyttelsesutstyr" type="nvdb:BeskyttelsesutstyrType">
            <annotation>
              <documentation>5113: Den beskyttelse personen har benyttet seg av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skadeforløp" type="nvdb:SkadeforløpType">
            <annotation>
              <documentation>5114: Skadeforløp for person</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8844: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertUlykkesinvolvertEnhet" type="nvdb:AbstraktUlykkesinvolvertEnhetPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UlykkesinvolvertPersonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:UlykkesinvolvertPerson"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
