GML/572.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="Trafikanttyper_NyType">
    <annotation>
      <documentation>11897: Trafikanttyper.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11897</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11897</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikanttyper (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Trafikanttyper_NyEnumerationType nvdb:Trafikanttyper_NyOtherType"/>
  </simpleType>
  <simpleType name="Trafikanttyper_NyEnumerationType">
    <annotation>
      <documentation>11897: Trafikanttyper.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11897</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11897</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikanttyper (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Fotgjengere">
        <annotation>
          <documentation>20206: Fotgjengere.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20206</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fotgjengere</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Syklister">
        <annotation>
          <documentation>20207: Syklister.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Syklister</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Førere og passasjerer moped">
        <annotation>
          <documentation>20208: Førere og passasjerer moped.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20208</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Førere og passasjerer moped</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Førere og passasjerer lett MC">
        <annotation>
          <documentation>20209: Førere og passasjerer lett MC.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20209</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Førere og passasjerer lett MC</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Førere og passasjerer MC">
        <annotation>
          <documentation>20210: Førere og passasjerer MC.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20210</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Førere og passasjerer MC</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Førere personbil">
        <annotation>
          <documentation>20211: Førere personbil.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20211</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Førere personbil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Passasjerer personbil">
        <annotation>
          <documentation>20212: Passasjerer personbil.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20212</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Passasjerer personbil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Førere og passasjerer varebil">
        <annotation>
          <documentation>20213: Førere og passasjerer varebil.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20213</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Førere og passasjerer varebil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Førere og passasjerer lastebil">
        <annotation>
          <documentation>20214: Førere og passasjerer lastebil.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20214</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Førere og passasjerer lastebil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Førere og passasjerer buss">
        <annotation>
          <documentation>20215: Førere og passasjerer buss.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20215</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Førere og passasjerer buss</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Førere og passasjerer traktor">
        <annotation>
          <documentation>20216: Førere og passasjerer traktor.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20216</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Førere og passasjerer traktor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Andre trafikanter">
        <annotation>
          <documentation>20217: Andre trafikanter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20217</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Andre trafikanter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>20218: Ukjent.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20218</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Trafikanttyper_NyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="UlykkesinvolvertPerson" substitutionGroup="nvdb:AbstraktUlykkesinvolvertPerson" type="nvdb:UlykkesinvolvertPersonType">
    <annotation>
      <documentation>572: Personer involvert i trafikkulykke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">572</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">572</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ulykkesinvolvert person</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="UlykkesinvolvertPersonType">
    <complexContent>
      <extension base="nvdb:AbstraktUlykkesinvolvertPersonType">
        <sequence>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8844: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8844</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="PID_Ny" type="string">
            <annotation>
              <documentation>11896: Personidentifikasjonsnummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11896</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">PID (Ny)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="trafikanttyper_Ny" type="nvdb:Trafikanttyper_NyType">
            <annotation>
              <documentation>11897: Trafikanttyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11897</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Trafikanttyper (Ny)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertUlykkesinvolvertEnhet" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktUlykkesinvolvertEnhet</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UlykkesinvolvertPersonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:UlykkesinvolvertPerson"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
