GML/572.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AlderskategoriType">
    <annotation>
      <documentation>11534: Angir hvilken aldersgruppe ulykkesinvolvert person tilhører.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11534</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11534</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Alderskategori</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AlderskategoriEnumerationType nvdb:AlderskategoriOtherType"/>
  </simpleType>
  <simpleType name="AlderskategoriEnumerationType">
    <annotation>
      <documentation>11534: Angir hvilken aldersgruppe ulykkesinvolvert person tilhører.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11534</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11534</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Alderskategori</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0-5 år">
        <annotation>
          <documentation>19610: 0-5 år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19610</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0-5 år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6-15">
        <annotation>
          <documentation>19612: 6-15</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19612</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">6-15</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="16-17">
        <annotation>
          <documentation>19613: 16-17</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19613</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">16-17</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="18-19">
        <annotation>
          <documentation>19614: 18-19</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19614</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">18-19</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="20-24">
        <annotation>
          <documentation>19615: 20-24</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19615</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">20-24</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="25-34">
        <annotation>
          <documentation>19616: 25-34</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19616</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">25-34</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="35-44">
        <annotation>
          <documentation>19617: 35-44</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19617</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">35-44</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="45-54">
        <annotation>
          <documentation>19618: 45-54</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19618</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">45-54</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="55-64">
        <annotation>
          <documentation>19619: 55-64</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19619</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">55-64</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="65-74">
        <annotation>
          <documentation>19620: 65-74</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19620</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">65-74</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="75-84">
        <annotation>
          <documentation>19621: 75-84</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19621</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">75-84</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="85 år eller eldre">
        <annotation>
          <documentation>19622: 85 år eller eldre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19622</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">85 år eller eldre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uoppgitt alder">
        <annotation>
          <documentation>19623: Alder er ikke kjent</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19623</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uoppgitt alder</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AlderskategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BeskyttelsesutstyrType">
    <annotation>
      <documentation>5113: Den beskyttelse personen har benyttet seg av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5113</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5113</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Beskyttelsesutstyr</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BeskyttelsesutstyrEnumerationType nvdb:BeskyttelsesutstyrOtherType"/>
  </simpleType>
  <simpleType name="BeskyttelsesutstyrEnumerationType">
    <annotation>
      <documentation>5113: Den beskyttelse personen har benyttet seg av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5113</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5113</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Beskyttelsesutstyr</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ingen beskyttelse">
        <annotation>
          <documentation>6669: Ingen beskyttelse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6669</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen beskyttelse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bilbelte">
        <annotation>
          <documentation>6670: Bilbelte</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6670</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bilbelte</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kollisjonspute">
        <annotation>
          <documentation>6671: Kollisjonspute</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6671</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kollisjonspute</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bilbelte og kollisjonspute">
        <annotation>
          <documentation>6672: Bilbelte og kollisjonspute</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6672</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bilbelte og kollisjonspute</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Barnesete">
        <annotation>
          <documentation>6673: Barnesete</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6673</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Barnesete</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hjelm og refleks/lykt">
        <annotation>
          <documentation>17391: Hjelm og refleks/lykt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17391</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hjelm og refleks/lykt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hjelm">
        <annotation>
          <documentation>6674: Hjelm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6674</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hjelm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Refleks/lykt">
        <annotation>
          <documentation>6675: Refleks/lykt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6675</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Refleks/lykt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen beskyttelse">
        <annotation>
          <documentation>6676: Annen beskyttelse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6676</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annen beskyttelse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>6677: ukjent</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6677</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BeskyttelsesutstyrOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Ferdselsformål_NyType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11939</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11939</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ferdselsformål (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Ferdselsformål_NyEnumerationType nvdb:Ferdselsformål_NyOtherType"/>
  </simpleType>
  <simpleType name="Ferdselsformål_NyEnumerationType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11939</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11939</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ferdselsformål (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Til/fra arbeid">
        <annotation>
          <documentation>20199: Til/fra arbeid</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20199</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Til/fra arbeid</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I arbeid">
        <annotation>
          <documentation>20200: I arbeid</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20200</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I arbeid</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Til/fra skole">
        <annotation>
          <documentation>20201: Til/fra skole</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20201</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Til/fra skole</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fritidsreise">
        <annotation>
          <documentation>20202: Fritidsreise</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20202</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fritidsreise</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Øvelseskjøring">
        <annotation>
          <documentation>20203: Øvelseskjøring</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20203</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Øvelseskjøring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet formål">
        <annotation>
          <documentation>20204: Annet formål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20204</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet formål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>20205: Ukjent</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20205</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Ferdselsformål_NyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KjønnIUlykkeType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5108</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5108</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kjønn i ulykke</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KjønnIUlykkeEnumerationType nvdb:KjønnIUlykkeOtherType"/>
  </simpleType>
  <simpleType name="KjønnIUlykkeEnumerationType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5108</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5108</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kjønn i ulykke</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Mann">
        <annotation>
          <documentation>6653: Mann</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6653</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mann</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kvinne">
        <annotation>
          <documentation>6654: Kvinne</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6654</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kvinne</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>6655: ukjent</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6655</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KjønnIUlykkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PersonsPlasseringIKjøretøyType">
    <annotation>
      <documentation>5111: Persons plassering i kjøretøy.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5111</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5111</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Persons plassering i kjøretøy</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PersonsPlasseringIKjøretøyEnumerationType nvdb:PersonsPlasseringIKjøretøyOtherType"/>
  </simpleType>
  <simpleType name="PersonsPlasseringIKjøretøyEnumerationType">
    <annotation>
      <documentation>5111: Persons plassering i kjøretøy.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5111</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5111</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Persons plassering i kjøretøy</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Fører">
        <annotation>
          <documentation>6656: Fører</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6656</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fører</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Passasjer foran">
        <annotation>
          <documentation>6657: Passasjer foran</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6657</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Passasjer foran</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Passasjer bak">
        <annotation>
          <documentation>6658: Passasjer bak</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6658</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Passasjer bak</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Passasjer annen plass">
        <annotation>
          <documentation>6659: Passasjer annen plass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6659</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Passasjer annen plass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>6660: ukjent</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6660</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PersonsPlasseringIKjøretøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadeforløpType">
    <annotation>
      <documentation>5114: Skadeforløp for person.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5114</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5114</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skadeforløp</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadeforløpEnumerationType nvdb:SkadeforløpOtherType"/>
  </simpleType>
  <simpleType name="SkadeforløpEnumerationType">
    <annotation>
      <documentation>5114: Skadeforløp for person.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5114</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5114</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skadeforløp</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ikke personskade">
        <annotation>
          <documentation>6678: Ikke personskade</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6678</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke personskade</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skade mot interiør">
        <annotation>
          <documentation>6679: Skade mot interiør</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6679</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skade mot interiør</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kastet ut av kjøretøyet">
        <annotation>
          <documentation>6680: Kastet ut av kjøretøyet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6680</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kastet ut av kjøretøyet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fotgjenger, akende påkjørt">
        <annotation>
          <documentation>6681: Fotgjenger, akende påkjørt,</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6681</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fotgjenger, akende påkjørt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brann">
        <annotation>
          <documentation>6682: Brann</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6682</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brann</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Drukning">
        <annotation>
          <documentation>6683: Drukning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6683</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drukning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skadd mot eksteriør">
        <annotation>
          <documentation>6684: Skadd mot eksteriør</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6684</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadd mot eksteriør</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet forløp">
        <annotation>
          <documentation>6686: Annet forløp</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6686</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet forløp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>6687: ukjent</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6687</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadeforløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadegradType">
    <annotation>
      <documentation>5112: Skadegrad for person innblandet i trafikkulykke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5112</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5112</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skadegrad</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadegradEnumerationType nvdb:SkadegradOtherType"/>
  </simpleType>
  <simpleType name="SkadegradEnumerationType">
    <annotation>
      <documentation>5112: Skadegrad for person innblandet i trafikkulykke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5112</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5112</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skadegrad</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Drept">
        <annotation>
          <documentation>6661: Drept</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6661</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drept</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Meget alvorlig skadd">
        <annotation>
          <documentation>6662: Meget alvorlig skadd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6662</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Meget alvorlig skadd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Alvorlig skadd">
        <annotation>
          <documentation>6663: Alvorlig skadd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6663</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Alvorlig skadd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lettere skadd">
        <annotation>
          <documentation>6664: Lettere skadd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6664</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lettere skadd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uskadd">
        <annotation>
          <documentation>6665: Uskadd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6665</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uskadd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>6668: ukjent</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">6668</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadegradOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadegradFraSSBType">
    <annotation>
      <documentation>8808: Skadegrad for person innblandet i trafikkulykke.  Rapportert fra SSB.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8808</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8808</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skadegrad fra SSB</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadegradFraSSBEnumerationType nvdb:SkadegradFraSSBOtherType"/>
  </simpleType>
  <simpleType name="SkadegradFraSSBEnumerationType">
    <annotation>
      <documentation>8808: Skadegrad for person innblandet i trafikkulykke.  Rapportert fra SSB.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8808</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8808</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skadegrad fra SSB</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Drept">
        <annotation>
          <documentation>11663: Drept</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11663</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drept</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Meget alvorlig skadd">
        <annotation>
          <documentation>11662: Meget alvorlig skadd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11662</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Meget alvorlig skadd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Alvorlig skadd">
        <annotation>
          <documentation>11661: Alvorlig skadd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11661</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Alvorlig skadd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lettere skadd">
        <annotation>
          <documentation>11660: Lettere skadd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11660</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lettere skadd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uskadd">
        <annotation>
          <documentation>11659: Uskadd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11659</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uskadd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>11656: ukjent</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11656</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadegradFraSSBOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Skjema2_SSBType">
    <annotation>
      <documentation>9574: Angir om personopplysninger fra ulykkesregistreringsskjema 2 er mottatt fra SSB.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9574</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9574</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skjema 2 SSB</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Skjema2_SSBEnumerationType nvdb:Skjema2_SSBOtherType"/>
  </simpleType>
  <simpleType name="Skjema2_SSBEnumerationType">
    <annotation>
      <documentation>9574: Angir om personopplysninger fra ulykkesregistreringsskjema 2 er mottatt fra SSB.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9574</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9574</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skjema 2 SSB</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>13786: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13786</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>13787: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13787</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uaktuell">
        <annotation>
          <documentation>13788: Uaktuell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13788</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uaktuell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Skjema2_SSBOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Trafikanttyper_NyType">
    <annotation>
      <documentation>11897: Trafikanttyper.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11897</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11897</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikanttyper (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Trafikanttyper_NyEnumerationType nvdb:Trafikanttyper_NyOtherType"/>
  </simpleType>
  <simpleType name="Trafikanttyper_NyEnumerationType">
    <annotation>
      <documentation>11897: Trafikanttyper.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11897</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11897</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikanttyper (Ny)</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Fotgjengere">
        <annotation>
          <documentation>20206: Fotgjengere</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20206</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fotgjengere</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Syklister">
        <annotation>
          <documentation>20207: Syklister</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Syklister</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Førere og passasjerer moped">
        <annotation>
          <documentation>20208: Førere og passasjerer moped</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20208</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Førere og passasjerer moped</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Førere og passasjerer lett MC">
        <annotation>
          <documentation>20209: Førere og passasjerer lett MC</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20209</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Førere og passasjerer lett MC</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Førere og passasjerer MC">
        <annotation>
          <documentation>20210: Førere og passasjerer MC</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20210</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Førere og passasjerer MC</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Førere personbil">
        <annotation>
          <documentation>20211: Førere personbil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20211</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Førere personbil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Passasjerer personbil">
        <annotation>
          <documentation>20212: Passasjerer personbil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20212</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Passasjerer personbil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Førere og passasjerer varebil">
        <annotation>
          <documentation>20213: Førere og passasjerer varebil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20213</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Førere og passasjerer varebil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Førere og passasjerer lastebil">
        <annotation>
          <documentation>20214: Førere og passasjerer lastebil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20214</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Førere og passasjerer lastebil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Førere og passasjerer buss">
        <annotation>
          <documentation>20215: Førere og passasjerer buss</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20215</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Førere og passasjerer buss</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Førere og passasjerer traktor">
        <annotation>
          <documentation>20216: Førere og passasjerer traktor</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20216</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Førere og passasjerer traktor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Andre trafikanter">
        <annotation>
          <documentation>20217: Andre trafikanter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20217</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Andre trafikanter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>20218: Ukjent</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20218</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Trafikanttyper_NyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="UlykkesinvolvertPerson" substitutionGroup="nvdb:AbstraktUlykkesinvolvertPerson" type="nvdb:UlykkesinvolvertPersonType">
    <annotation>
      <documentation>572: Personer involvert i trafikkulykke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">572</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">572</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ulykkesinvolvert person</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="UlykkesinvolvertPersonType">
    <complexContent>
      <extension base="nvdb:AbstraktUlykkesinvolvertPersonType">
        <sequence>
          <element minOccurs="0" name="passasjerNummer" type="string">
            <annotation>
              <documentation>5107: Passasjernummer, f.eks. A0.  Satt sammen av ENHETS-bokstav og et fortløpende nummer. Fører=0, resten er fortløpende.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5107</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Passasjer nummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjønnIUlykke" type="nvdb:KjønnIUlykkeType">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5108</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kjønn i ulykke</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fødselsdato" type="date">
            <annotation>
              <documentation>5109: Fødselsdato.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5109</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fødselsdato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alder" type="integer">
            <annotation>
              <documentation>5110: Alder.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5110</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Alder</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alderskategori" type="nvdb:AlderskategoriType">
            <annotation>
              <documentation>11534: Angir hvilken aldersgruppe ulykkesinvolvert person tilhører.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11534</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Alderskategori</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="personsPlasseringIKjøretøy" type="nvdb:PersonsPlasseringIKjøretøyType">
            <annotation>
              <documentation>5111: Persons plassering i kjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5111</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Persons plassering i kjøretøy</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadegrad" type="nvdb:SkadegradType">
            <annotation>
              <documentation>5112: Skadegrad for person innblandet i trafikkulykke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5112</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skadegrad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadegradFraSSB" type="nvdb:SkadegradFraSSBType">
            <annotation>
              <documentation>8808: Skadegrad for person innblandet i trafikkulykke.  Rapportert fra SSB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8808</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skadegrad fra SSB</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skjema2_SSB" type="nvdb:Skjema2_SSBType">
            <annotation>
              <documentation>9574: Angir om personopplysninger fra ulykkesregistreringsskjema 2 er mottatt fra SSB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9574</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skjema 2 SSB</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskyttelsesutstyr" type="nvdb:BeskyttelsesutstyrType">
            <annotation>
              <documentation>5113: Den beskyttelse personen har benyttet seg av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5113</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Beskyttelsesutstyr</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadeforløp" type="nvdb:SkadeforløpType">
            <annotation>
              <documentation>5114: Skadeforløp for person.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5114</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skadeforløp</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ferdselsformål_Ny" type="nvdb:Ferdselsformål_NyType">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11939</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Ferdselsformål (Ny)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8844: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8844</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="PID_Ny" type="string">
            <annotation>
              <documentation>11896: Personidentifikasjonsnummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11896</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">PID (Ny)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="trafikanttyper_Ny" type="nvdb:Trafikanttyper_NyType">
            <annotation>
              <documentation>11897: Trafikanttyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11897</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Trafikanttyper (Ny)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertUlykkesinvolvertEnhet" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktUlykkesinvolvertEnhet</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UlykkesinvolvertPersonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:UlykkesinvolvertPerson"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
