GML/572.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.21">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AlderskategoriType">
    <annotation>
      <documentation>11534: Angir hvilken aldersgruppe ulykkesinvolvert person tilhører</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11534</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11534</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alderskategori</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AlderskategoriEnumerationType nvdb:AlderskategoriOtherType"/>
  </simpleType>
  <simpleType name="AlderskategoriEnumerationType">
    <annotation>
      <documentation>11534: Angir hvilken aldersgruppe ulykkesinvolvert person tilhører</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11534</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11534</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alderskategori</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0til5År">
        <annotation>
          <documentation>19610: 0-5 år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19610</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">0-5 år</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6til15">
        <annotation>
          <documentation>19612: 6-15</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19612</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">6-15</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="16til17">
        <annotation>
          <documentation>19613: 16-17</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19613</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">16-17</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="18til19">
        <annotation>
          <documentation>19614: 18-19</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19614</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">18-19</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="20til24">
        <annotation>
          <documentation>19615: 20-24</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19615</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">20-24</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="25til34">
        <annotation>
          <documentation>19616: 25-34</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19616</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">25-34</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="35til44">
        <annotation>
          <documentation>19617: 35-44</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19617</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">35-44</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="45til54">
        <annotation>
          <documentation>19618: 45-54</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19618</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">45-54</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="55til64">
        <annotation>
          <documentation>19619: 55-64</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19619</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">55-64</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="65til74">
        <annotation>
          <documentation>19620: 65-74</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19620</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">65-74</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="75til84">
        <annotation>
          <documentation>19621: 75-84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19621</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">75-84</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="85ÅrEllerEldre">
        <annotation>
          <documentation>19622: 85 år eller eldre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19622</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">85 år eller eldre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uoppgittAlder">
        <annotation>
          <documentation>19623: Alder er ikke kjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19623</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Uoppgitt alder</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AlderskategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BeskyttelsesutstyrType">
    <annotation>
      <documentation>5113: Den beskyttelse personen har benyttet seg av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5113</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5113</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Beskyttelsesutstyr</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BeskyttelsesutstyrEnumerationType nvdb:BeskyttelsesutstyrOtherType"/>
  </simpleType>
  <simpleType name="BeskyttelsesutstyrEnumerationType">
    <annotation>
      <documentation>5113: Den beskyttelse personen har benyttet seg av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5113</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5113</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Beskyttelsesutstyr</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ingenBeskyttelse">
        <annotation>
          <documentation>6669: Ingen beskyttelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6669</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ingen beskyttelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bilbelte">
        <annotation>
          <documentation>6670: Bilbelte</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6670</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bilbelte</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kollisjonspute">
        <annotation>
          <documentation>6671: Kollisjonspute</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6671</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kollisjonspute</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bilbelteOgKollisjonspute">
        <annotation>
          <documentation>6672: Bilbelte og kollisjonspute</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6672</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bilbelte og kollisjonspute</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="barnesete">
        <annotation>
          <documentation>6673: Barnesete</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6673</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Barnesete</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hjelmOgRefleksLykt">
        <annotation>
          <documentation>17391: Hjelm og refleks/lykt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17391</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hjelm og refleks/lykt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hjelm">
        <annotation>
          <documentation>6674: Hjelm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6674</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hjelm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="refleksLykt">
        <annotation>
          <documentation>6675: Refleks/lykt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6675</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Refleks/lykt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annenBeskyttelse">
        <annotation>
          <documentation>6676: Annen beskyttelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6676</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Annen beskyttelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6677: ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6677</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ukjent</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BeskyttelsesutstyrOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KjønnIUlykkeType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5108</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5108</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjønn i ulykke</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KjønnIUlykkeEnumerationType nvdb:KjønnIUlykkeOtherType"/>
  </simpleType>
  <simpleType name="KjønnIUlykkeEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5108</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5108</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjønn i ulykke</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="mann">
        <annotation>
          <documentation>6653: Mann</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6653</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Mann</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kvinne">
        <annotation>
          <documentation>6654: Kvinne</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6654</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kvinne</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6655: ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6655</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ukjent</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KjønnIUlykkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PersonsPlasseringIKjøretøyType">
    <annotation>
      <documentation>5111: Persons plassering i kjøretøy</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5111</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5111</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Persons plassering i kjøretøy</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PersonsPlasseringIKjøretøyEnumerationType nvdb:PersonsPlasseringIKjøretøyOtherType"/>
  </simpleType>
  <simpleType name="PersonsPlasseringIKjøretøyEnumerationType">
    <annotation>
      <documentation>5111: Persons plassering i kjøretøy</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5111</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5111</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Persons plassering i kjøretøy</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="fører">
        <annotation>
          <documentation>6656: Fører</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6656</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fører</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="passasjerForan">
        <annotation>
          <documentation>6657: Passasjer foran</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6657</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Passasjer foran</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="passasjerBak">
        <annotation>
          <documentation>6658: Passasjer bak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6658</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Passasjer bak</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="passasjerAnnenPlass">
        <annotation>
          <documentation>6659: Passasjer annen plass</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6659</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Passasjer annen plass</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6660: ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6660</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ukjent</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PersonsPlasseringIKjøretøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadeforløpType">
    <annotation>
      <documentation>5114: Skadeforløp for person</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5114</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5114</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadeforløp</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadeforløpEnumerationType nvdb:SkadeforløpOtherType"/>
  </simpleType>
  <simpleType name="SkadeforløpEnumerationType">
    <annotation>
      <documentation>5114: Skadeforløp for person</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5114</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5114</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadeforløp</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ikkePersonskade">
        <annotation>
          <documentation>6678: Ikke personskade</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6678</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ikke personskade</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skadeMotInteriør">
        <annotation>
          <documentation>6679: Skade mot interiør</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6679</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skade mot interiør</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kastetUtAvKjøretøyet">
        <annotation>
          <documentation>6680: Kastet ut av kjøretøyet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6680</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kastet ut av kjøretøyet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fotgjenger_AkendePåkjørt">
        <annotation>
          <documentation>6681: Fotgjenger, akende påkjørt,</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6681</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fotgjenger, akende påkjørt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brann">
        <annotation>
          <documentation>6682: Brann</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6682</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Brann</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="drukning">
        <annotation>
          <documentation>6683: Drukning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6683</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Drukning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skaddMotEksteriør">
        <annotation>
          <documentation>6684: Skadd mot eksteriør</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6684</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadd mot eksteriør</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annetForløp">
        <annotation>
          <documentation>6686: Annet forløp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6686</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Annet forløp</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6687: ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6687</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ukjent</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadeforløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadegradType">
    <annotation>
      <documentation>5112: Skadegrad for person innblandet i trafikkulykke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5112</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5112</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadegrad</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadegradEnumerationType nvdb:SkadegradOtherType"/>
  </simpleType>
  <simpleType name="SkadegradEnumerationType">
    <annotation>
      <documentation>5112: Skadegrad for person innblandet i trafikkulykke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5112</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5112</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadegrad</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="drept">
        <annotation>
          <documentation>6661: Drept</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6661</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Drept</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="megetAlvorligSkadd">
        <annotation>
          <documentation>6662: Meget alvorlig skadd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6662</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Meget alvorlig skadd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="alvorligSkadd">
        <annotation>
          <documentation>6663: Alvorlig skadd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6663</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alvorlig skadd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lettereSkadd">
        <annotation>
          <documentation>6664: Lettere skadd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6664</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lettere skadd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uskadd">
        <annotation>
          <documentation>6665: Uskadd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6665</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Uskadd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6668: ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6668</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ukjent</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadegradOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadegradFraSSBType">
    <annotation>
      <documentation>8808: Skadegrad for person innblandet i trafikkulykke.  Rapportert fra SSB</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8808</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8808</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadegrad fra SSB</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadegradFraSSBEnumerationType nvdb:SkadegradFraSSBOtherType"/>
  </simpleType>
  <simpleType name="SkadegradFraSSBEnumerationType">
    <annotation>
      <documentation>8808: Skadegrad for person innblandet i trafikkulykke.  Rapportert fra SSB</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8808</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8808</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadegrad fra SSB</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="drept">
        <annotation>
          <documentation>11663: Drept</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11663</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Drept</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="megetAlvorligSkadd">
        <annotation>
          <documentation>11662: Meget alvorlig skadd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11662</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Meget alvorlig skadd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="alvorligSkadd">
        <annotation>
          <documentation>11661: Alvorlig skadd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11661</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alvorlig skadd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lettereSkadd">
        <annotation>
          <documentation>11660: Lettere skadd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11660</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lettere skadd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uskadd">
        <annotation>
          <documentation>11659: Uskadd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11659</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Uskadd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>11656: ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11656</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ukjent</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadegradFraSSBOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Skjema2_SSBType">
    <annotation>
      <documentation>9574: Angir om personopplysninger fra ulykkesregistreringsskjema 2 er mottatt fra SSB</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9574</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9574</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skjema 2 SSB</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Skjema2_SSBEnumerationType nvdb:Skjema2_SSBOtherType"/>
  </simpleType>
  <simpleType name="Skjema2_SSBEnumerationType">
    <annotation>
      <documentation>9574: Angir om personopplysninger fra ulykkesregistreringsskjema 2 er mottatt fra SSB</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9574</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9574</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skjema 2 SSB</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13786: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13786</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13787: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13787</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uaktuell">
        <annotation>
          <documentation>13788: Uaktuell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13788</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Uaktuell</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Skjema2_SSBOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="UlykkesinvolvertPerson" substitutionGroup="nvdb:AbstraktUlykkesinvolvertPerson" type="nvdb:UlykkesinvolvertPersonType">
    <annotation>
      <documentation>572: Personer involvert i trafikkulykke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">572</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">572</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ulykkesinvolvert person</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="UlykkesinvolvertPersonType">
    <complexContent>
      <extension base="nvdb:AbstraktUlykkesinvolvertPersonType">
        <sequence>
          <element minOccurs="0" name="passasjerNummer" type="string">
            <annotation>
              <documentation>5107: Passasjernummer, f.eks. A0.  Satt sammen av ENHETS-bokstav og et fortløpende nummer. Fører=0, resten er fortløpende.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5107</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Passasjer nummer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjønnIUlykke" type="nvdb:KjønnIUlykkeType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5108</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjønn i ulykke</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fødselsdato" type="date">
            <annotation>
              <documentation>5109: Fødselsdato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5109</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fødselsdato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alder" type="integer">
            <annotation>
              <documentation>5110: Alder</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5110</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alder</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alderskategori" type="nvdb:AlderskategoriType">
            <annotation>
              <documentation>11534: Angir hvilken aldersgruppe ulykkesinvolvert person tilhører</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11534</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alderskategori</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="personsPlasseringIKjøretøy" type="nvdb:PersonsPlasseringIKjøretøyType">
            <annotation>
              <documentation>5111: Persons plassering i kjøretøy</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5111</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Persons plassering i kjøretøy</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadegrad" type="nvdb:SkadegradType">
            <annotation>
              <documentation>5112: Skadegrad for person innblandet i trafikkulykke</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5112</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadegrad</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadegradFraSSB" type="nvdb:SkadegradFraSSBType">
            <annotation>
              <documentation>8808: Skadegrad for person innblandet i trafikkulykke.  Rapportert fra SSB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8808</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadegrad fra SSB</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skjema2_SSB" type="nvdb:Skjema2_SSBType">
            <annotation>
              <documentation>9574: Angir om personopplysninger fra ulykkesregistreringsskjema 2 er mottatt fra SSB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9574</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skjema 2 SSB</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskyttelsesutstyr" type="nvdb:BeskyttelsesutstyrType">
            <annotation>
              <documentation>5113: Den beskyttelse personen har benyttet seg av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5113</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Beskyttelsesutstyr</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadeforløp" type="nvdb:SkadeforløpType">
            <annotation>
              <documentation>5114: Skadeforløp for person</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5114</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadeforløp</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8844: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8844</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertUlykkesinvolvertEnhet" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktUlykkesinvolvertEnhet</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UlykkesinvolvertPersonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:UlykkesinvolvertPerson"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
