GML/572.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>572: Personer involvert i trafikkulykke.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="Trafikanttyper_NyUlykkesinvolvert personType">
      <annotation>
         <documentation>11897: Trafikanttyper.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11897</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikanttyper (Ny)</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Trafikanttyper_NyUlykkesinvolvert personEnumerationType nvdb:Trafikanttyper_NyUlykkesinvolvert personOtherType"/>
   </simpleType>
   <simpleType name="Trafikanttyper_NyUlykkesinvolvert personEnumerationType">
      <annotation>
         <documentation>11897: Trafikanttyper.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11897</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikanttyper (Ny)</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="88">
            <annotation>
               <documentation>20217: Andre trafikanter.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20217</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Andre trafikanter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>20206: Fotgjengere.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20206</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fotgjengere</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11">
            <annotation>
               <documentation>20215: Førere og passasjerer buss.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20215</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Førere og passasjerer buss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10">
            <annotation>
               <documentation>20214: Førere og passasjerer lastebil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20214</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Førere og passasjerer lastebil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <documentation>20209: Førere og passasjerer lett MC.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20209</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Førere og passasjerer lett MC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21804</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Førere og passasjerer liten elektrisk motorvogn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <documentation>20210: Førere og passasjerer MC.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20210</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Førere og passasjerer MC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <documentation>20208: Førere og passasjerer moped.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20208</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Førere og passasjerer moped</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <documentation>20216: Førere og passasjerer traktor.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20216</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Førere og passasjerer traktor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <documentation>20213: Førere og passasjerer varebil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20213</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Førere og passasjerer varebil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <documentation>20211: Førere personbil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20211</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Førere personbil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <documentation>20212: Passasjerer personbil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20212</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Passasjerer personbil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>20207: Syklister.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20207</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Syklister</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="99">
            <annotation>
               <documentation>20218: Ukjent.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20218</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Trafikanttyper_NyUlykkesinvolvert personOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Ulykkesinvolvert person"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Ulykkesinvolvert personType">
      <annotation>
         <documentation>572: Personer involvert i trafikkulykke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">572</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ulykkesinvolvert person</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Ulykkesinvolvert personType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>8844: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8844</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="PID_Ny" type="string">
                  <annotation>
                     <documentation>11896: Personidentifikasjonsnummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11896</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">PID (Ny)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="trafikanttyper_Ny">
                  <annotation>
                     <documentation>11897: Trafikanttyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11897</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Trafikanttyper (Ny)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Ulykkesinvolvert personPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Ulykkesinvolvert person"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
