GML/573.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Svingerestriksjon" substitutionGroup="nvdb:AbstraktSvingerestriksjon" type="nvdb:SvingerestriksjonType">
    <annotation>
      <documentation>573: Angir svingerestriksjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">573</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">573</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Svingerestriksjon</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SvingerestriksjonType">
    <complexContent>
      <extension base="nvdb:AbstraktSvingerestriksjonType">
        <sequence>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5294: Kan gi permanent merknad. F.eks. "høyresving forbudt".</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5294</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="svingeforbudFra" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>angir hvilken lenke svingerestriksjonen gjelder fra. Merknad: Egenskapen finnes ikke i NVDB, men avledes ut fra stedfesting på referanselenkene</documentation>
            </annotation>
          </element>
          <element name="svingeforbudTil" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>angir hvilken lenke svingerestriksjonen gjelder til. Merknad: Egenskapen finnes ikke i NVDB, men avledes ut fra stedfesting på referanselenkene</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SvingerestriksjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Svingerestriksjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
