GML/576.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BebyggelsestypeType">
    <annotation>
      <documentation>5177: Angir hvilken type bebyggelse som er mest karakteristisk.</documentation>
    </annotation>
    <union memberTypes="nvdb:BebyggelsestypeEnumerationType nvdb:BebyggelsestypeOtherType"/>
  </simpleType>
  <simpleType name="BebyggelsestypeEnumerationType">
    <annotation>
      <documentation>5177: Angir hvilken type bebyggelse som er mest karakteristisk.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="bolig">
        <annotation>
          <documentation>7036: Bolig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="industri">
        <annotation>
          <documentation>7037: Industri</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BebyggelsestypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Standardklasse" substitutionGroup="nvdb:AbstraktStandardklasse" type="nvdb:StandardklasseType">
    <annotation>
      <documentation>576: Angir hvilken standardklasse vegen tilhører</documentation>
    </annotation>
  </element>
  <complexType name="StandardklasseType">
    <complexContent>
      <extension base="nvdb:AbstraktStandardklasseType">
        <sequence>
          <element minOccurs="0" name="standardklasse" type="nvdb:StandardklasseStandardklasseType"/>
          <element minOccurs="0" name="bebyggelsestype" type="nvdb:BebyggelsestypeType">
            <annotation>
              <documentation>5177: Angir hvilken type bebyggelse som er mest karakteristisk.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6920: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StandardklassePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Standardklasse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="StandardklasseStandardklasseType">
    <union memberTypes="nvdb:StandardklasseStandardklasseEnumerationType nvdb:StandardklasseStandardklasseOtherType"/>
  </simpleType>
  <simpleType name="StandardklasseStandardklasseEnumerationType">
    <restriction base="string">
      <enumeration value="hovedveg_UbebygdSpredtBebyggelse">
        <annotation>
          <documentation>7024: Hovedveg i ubebygd eller spredt bebyggelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hovedveg_MiddelsTettBebyggelse">
        <annotation>
          <documentation>7025: Hovedveg i middels tett bebyggelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hovedveg_TettBebyggelse">
        <annotation>
          <documentation>7026: Hovedveg i tett bebyggelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="samleveg_UbebygdSpredtBebyggelse">
        <annotation>
          <documentation>7027: Samleveg i ubebygd eller spredt bebyggelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="samleveg_MiddelsTettBebyggelse">
        <annotation>
          <documentation>7028: Samleveg i middels tett bebyggelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="samlegate_TettBebyggelse">
        <annotation>
          <documentation>7029: Samleveg i tett bebyggelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="atkomstveg_UbebygdSpredtBebyggelse">
        <annotation>
          <documentation>7030: Atkomstveg i ubebygd eller spredt bebyggelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="atkomstveg_MiddelsTettBebyggelse">
        <annotation>
          <documentation>7031: Atkomstveg i middels tett bebyggelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="atkomstgate_TettBebyggelse">
        <annotation>
          <documentation>7032: Atkomstveg i tett bebyggelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gangSykkelveg_UbebygdSpredtBebyggelse">
        <annotation>
          <documentation>7033: Gang-/sykkelveg i ubebygd eller spredt bebyggelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gangSykkelveg_MiddelsTettBebyggelse">
        <annotation>
          <documentation>7034: Gang-/sykkelveg i middels tett bebyggelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gangSykkelveg_TettBebyggelse">
        <annotation>
          <documentation>7035: Gang-/sykkelveg i tett bebyggelse</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardklasseStandardklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
