GML/576.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>576: Angir hvilken standardklasse vegen tilhører.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BebyggelsestypeStandardklasseType">
      <annotation>
         <documentation>5177: Angir hvilken type bebyggelse som er mest karakteristisk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5177</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bebyggelsestype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BebyggelsestypeStandardklasseEnumerationType nvdb:BebyggelsestypeStandardklasseOtherType"/>
   </simpleType>
   <simpleType name="BebyggelsestypeStandardklasseEnumerationType">
      <annotation>
         <documentation>5177: Angir hvilken type bebyggelse som er mest karakteristisk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5177</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bebyggelsestype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7036</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bolig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="i">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7037</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Industri</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BebyggelsestypeStandardklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Standardklasse"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:StandardklasseType">
      <annotation>
         <documentation>576: Angir hvilken standardklasse vegen tilhører.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">576</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standardklasse</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="StandardklasseType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0"
                        name="standardklasse"
                        type="nvdb:StandardklasseStandardklasseType">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5176</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standardklasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="bebyggelsestype"
                        type="nvdb:BebyggelsestypeStandardklasseType">
                  <annotation>
                     <documentation>5177: Angir hvilken type bebyggelse som er mest karakteristisk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5177</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bebyggelsestype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>6920: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6920</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="StandardklassePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Standardklasse"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="StandardklasseStandardklasseType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5176</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standardklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StandardklasseStandardklasseEnumerationType nvdb:StandardklasseStandardklasseOtherType"/>
   </simpleType>
   <simpleType name="StandardklasseStandardklasseEnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5176</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standardklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A3">
            <annotation>
               <documentation>7032: Atkomstveg i tett bebyggelse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7032</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Atkomstgate, tett bebyggelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="A2">
            <annotation>
               <documentation>7031: Atkomstveg i middels tett bebyggelse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7031</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Atkomstveg, middels tett bebyggelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="A1">
            <annotation>
               <documentation>7030: Atkomstveg i ubebygd eller spredt bebyggelse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7030</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Atkomstveg, ubebygd/spredt bebyggelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G/S2">
            <annotation>
               <documentation>7034: Gang-/sykkelveg i middels tett bebyggelse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7034</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gang-/sykkelveg, middels tett bebyggelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G/S3">
            <annotation>
               <documentation>7035: Gang-/sykkelveg i tett bebyggelse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7035</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gang-/sykkelveg, tett bebyggelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G/S1">
            <annotation>
               <documentation>7033: Gang-/sykkelveg i ubebygd eller spredt bebyggelse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7033</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gang-/sykkelveg, ubebygd/spredt bebyggelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="H2">
            <annotation>
               <documentation>7025: Hovedveg i middels tett bebyggelse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7025</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hovedveg, middels tett bebyggelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="H3">
            <annotation>
               <documentation>7026: Hovedveg i tett bebyggelse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7026</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hovedveg, tett bebyggelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="H1">
            <annotation>
               <documentation>7024: Hovedveg i ubebygd eller spredt bebyggelse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7024</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hovedveg, ubebygd/spredt bebyggelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S3">
            <annotation>
               <documentation>7029: Samleveg i tett bebyggelse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7029</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Samlegate, tett bebyggelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S2">
            <annotation>
               <documentation>7028: Samleveg i middels tett bebyggelse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7028</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Samleveg, middels tett bebyggelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S1">
            <annotation>
               <documentation>7027: Samleveg i ubebygd eller spredt bebyggelse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7027</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Samleveg, ubebygd/spredt bebyggelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StandardklasseStandardklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
