GML/576.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.21">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BebyggelsestypeType">
    <annotation>
      <documentation>5177: Angir hvilken type bebyggelse som er mest karakteristisk.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5177</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5177</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bebyggelsestype</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BebyggelsestypeEnumerationType nvdb:BebyggelsestypeOtherType"/>
  </simpleType>
  <simpleType name="BebyggelsestypeEnumerationType">
    <annotation>
      <documentation>5177: Angir hvilken type bebyggelse som er mest karakteristisk.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5177</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5177</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bebyggelsestype</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="bolig">
        <annotation>
          <documentation>7036: Bolig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7036</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bolig</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="industri">
        <annotation>
          <documentation>7037: Industri</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7037</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Industri</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BebyggelsestypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Standardklasse" substitutionGroup="nvdb:AbstraktStandardklasse" type="nvdb:StandardklasseType">
    <annotation>
      <documentation>576: Angir hvilken standardklasse vegen tilhører</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">576</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">576</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Standardklasse</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StandardklasseType">
    <complexContent>
      <extension base="nvdb:AbstraktStandardklasseType">
        <sequence>
          <element minOccurs="0" name="standardklasse" type="nvdb:StandardklasseStandardklasseType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5176</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Standardklasse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bebyggelsestype" type="nvdb:BebyggelsestypeType">
            <annotation>
              <documentation>5177: Angir hvilken type bebyggelse som er mest karakteristisk.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5177</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bebyggelsestype</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6920: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6920</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, hjelpelinje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StandardklassePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Standardklasse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="StandardklasseStandardklasseType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5176</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5176</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Standardklasse</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardklasseStandardklasseEnumerationType nvdb:StandardklasseStandardklasseOtherType"/>
  </simpleType>
  <simpleType name="StandardklasseStandardklasseEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5176</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5176</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Standardklasse</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="hovedveg_UbebygdSpredtBebyggelse">
        <annotation>
          <documentation>7024: Hovedveg i ubebygd eller spredt bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7024</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hovedveg, ubebygd/spredt bebyggelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hovedveg_MiddelsTettBebyggelse">
        <annotation>
          <documentation>7025: Hovedveg i middels tett bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7025</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hovedveg, middels tett bebyggelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hovedveg_TettBebyggelse">
        <annotation>
          <documentation>7026: Hovedveg i tett bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7026</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hovedveg, tett bebyggelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="samleveg_UbebygdSpredtBebyggelse">
        <annotation>
          <documentation>7027: Samleveg i ubebygd eller spredt bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7027</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Samleveg, ubebygd/spredt bebyggelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="samleveg_MiddelsTettBebyggelse">
        <annotation>
          <documentation>7028: Samleveg i middels tett bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7028</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Samleveg, middels tett bebyggelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="samlegate_TettBebyggelse">
        <annotation>
          <documentation>7029: Samleveg i tett bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7029</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Samlegate, tett bebyggelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="atkomstveg_UbebygdSpredtBebyggelse">
        <annotation>
          <documentation>7030: Atkomstveg i ubebygd eller spredt bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7030</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Atkomstveg, ubebygd/spredt bebyggelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="atkomstveg_MiddelsTettBebyggelse">
        <annotation>
          <documentation>7031: Atkomstveg i middels tett bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7031</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Atkomstveg, middels tett bebyggelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="atkomstgate_TettBebyggelse">
        <annotation>
          <documentation>7032: Atkomstveg i tett bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7032</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Atkomstgate, tett bebyggelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gangSykkelveg_UbebygdSpredtBebyggelse">
        <annotation>
          <documentation>7033: Gang-/sykkelveg i ubebygd eller spredt bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7033</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gang-/sykkelveg, ubebygd/spredt bebyggelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gangSykkelveg_MiddelsTettBebyggelse">
        <annotation>
          <documentation>7034: Gang-/sykkelveg i middels tett bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7034</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gang-/sykkelveg, middels tett bebyggelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gangSykkelveg_TettBebyggelse">
        <annotation>
          <documentation>7035: Gang-/sykkelveg i tett bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7035</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gang-/sykkelveg, tett bebyggelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardklasseStandardklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
