GML/577.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Vegfunksjon" substitutionGroup="nvdb:AbstraktVegfunksjon" type="nvdb:VegfunksjonType">
    <annotation>
      <documentation>577: Angir vegfunksjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">577</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">577</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vegfunksjon</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegfunksjonType">
    <complexContent>
      <extension base="nvdb:AbstraktVegfunksjonType">
        <sequence>
          <element minOccurs="0" name="vegfunksjon" type="nvdb:VegfunksjonVegfunksjonType">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5178</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vegfunksjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6921: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6921</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegfunksjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegfunksjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VegfunksjonVegfunksjonType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5178</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5178</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vegfunksjon</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VegfunksjonVegfunksjonEnumerationType nvdb:VegfunksjonVegfunksjonOtherType"/>
  </simpleType>
  <simpleType name="VegfunksjonVegfunksjonEnumerationType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5178</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5178</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vegfunksjon</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stamveger 2009">
        <annotation>
          <documentation>7038: Stamveger 2009</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7038</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stamveger 2009</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Riksveger fra 2010">
        <annotation>
          <documentation>12131: Vegnett forvaltet av staten.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12131</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Riksveger fra 2010</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Primære fylkesveger">
        <annotation>
          <documentation>7040: Primære fylkesveger</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7040</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Primære fylkesveger</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sekundære fylkesveger">
        <annotation>
          <documentation>7039: Sekundære fylkesveger</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7039</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sekundære fylkesveger</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Øvrige fylkesveger">
        <annotation>
          <documentation>8407: Kun til bruk i forbindelse med avleda informasjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8407</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Øvrige fylkesveger</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VegfunksjonVegfunksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
