GML/577.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Vegfunksjon" substitutionGroup="nvdb:AbstraktVegfunksjon" type="nvdb:VegfunksjonType">
    <annotation>
      <documentation>577: Angir vegfunksjon</documentation>
    </annotation>
  </element>
  <complexType name="VegfunksjonType">
    <complexContent>
      <extension base="nvdb:AbstraktVegfunksjonType">
        <sequence>
          <element minOccurs="0" name="vegfunksjon" type="nvdb:VegfunksjonVegfunksjonType"/>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6921: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegfunksjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegfunksjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VegfunksjonVegfunksjonType">
    <union memberTypes="nvdb:VegfunksjonVegfunksjonEnumerationType nvdb:VegfunksjonVegfunksjonOtherType"/>
  </simpleType>
  <simpleType name="VegfunksjonVegfunksjonEnumerationType">
    <restriction base="string">
      <enumeration value="stamveger2009">
        <annotation>
          <documentation>7038: Stamveger 2009</documentation>
        </annotation>
      </enumeration>
      <enumeration value="riksvegerFra2010">
        <annotation>
          <documentation>12131: Vegnett forvaltet av staten</documentation>
        </annotation>
      </enumeration>
      <enumeration value="primæreFylkesveger">
        <annotation>
          <documentation>7040: Primære fylkesveger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sekundæreFylkesveger">
        <annotation>
          <documentation>7039: Sekundære fylkesveger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="øvrigeFylkesveger">
        <annotation>
          <documentation>8407: Kun til bruk i forbindelse med avleda informasjon</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VegfunksjonVegfunksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
