GML/579.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="KoordinatsystemPolitidistriktType">
    <annotation>
      <documentation>8148: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
    </annotation>
    <union memberTypes="nvdb:KoordinatsystemPolitidistriktEnumerationType nvdb:KoordinatsystemPolitidistriktOtherType"/>
  </simpleType>
  <simpleType name="KoordinatsystemPolitidistriktEnumerationType">
    <annotation>
      <documentation>8148: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="NGO_AkseI">
        <annotation>
          <documentation>10857: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseII">
        <annotation>
          <documentation>10858: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseIII">
        <annotation>
          <documentation>10859: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseIV">
        <annotation>
          <documentation>10860: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseV">
        <annotation>
          <documentation>10861: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVI">
        <annotation>
          <documentation>10862: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVII">
        <annotation>
          <documentation>10863: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVIII">
        <annotation>
          <documentation>10864: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone31_EUREF89">
        <annotation>
          <documentation>10865: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone32_EUREF89">
        <annotation>
          <documentation>10866: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone33_EUREF89">
        <annotation>
          <documentation>10867: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone34_EUREF89">
        <annotation>
          <documentation>10868: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone35_EUREF89">
        <annotation>
          <documentation>10869: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone36_EUREF89">
        <annotation>
          <documentation>10870: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone31_ED50">
        <annotation>
          <documentation>10871: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone32_ED50">
        <annotation>
          <documentation>10872: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone33_ED50">
        <annotation>
          <documentation>10873: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone34_ED50">
        <annotation>
          <documentation>10874: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone35_ED50">
        <annotation>
          <documentation>10875: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone36_ED50">
        <annotation>
          <documentation>10876: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_64A_Møre">
        <annotation>
          <documentation>10877: datum NGO1948</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_64B_Møre">
        <annotation>
          <documentation>10878: datum NGO1948</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KoordinatsystemPolitidistriktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Politidistrikt" substitutionGroup="nvdb:AbstraktPolitidistrikt" type="nvdb:PolitidistriktType">
    <annotation>
      <documentation>579: Definerer politidistrikt</documentation>
    </annotation>
  </element>
  <complexType name="PolitidistriktType">
    <complexContent>
      <extension base="nvdb:AbstraktPolitidistriktType">
        <sequence>
          <element minOccurs="0" name="politidistriktsnummer" type="integer">
            <annotation>
              <documentation>5167: Angir nummer på politidistrikt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="politidistriktsnavn" type="string">
            <annotation>
              <documentation>5166: Gir navn til politidistrikt</documentation>
            </annotation>
          </element>
          <element name="koordinatsystem" type="nvdb:KoordinatsystemPolitidistriktType">
            <annotation>
              <documentation>8148: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5170: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>5171: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PolitidistriktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Politidistrikt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
