GML/579.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="KoordinatsystemPolitidistriktType">
    <annotation>
      <documentation>8148: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8148</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8148</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KoordinatsystemPolitidistriktEnumerationType nvdb:KoordinatsystemPolitidistriktOtherType"/>
  </simpleType>
  <simpleType name="KoordinatsystemPolitidistriktEnumerationType">
    <annotation>
      <documentation>8148: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8148</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8148</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="NGO-akse I">
        <annotation>
          <documentation>10857: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10857</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse I</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse II">
        <annotation>
          <documentation>10858: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10858</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse II</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse III">
        <annotation>
          <documentation>10859: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10859</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse III</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse IV">
        <annotation>
          <documentation>10860: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10860</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse IV</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse V">
        <annotation>
          <documentation>10861: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10861</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse V</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse VI">
        <annotation>
          <documentation>10862: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10862</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse VI</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse VII">
        <annotation>
          <documentation>10863: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10863</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse VII</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse VIII">
        <annotation>
          <documentation>10864: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10864</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse VIII</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 31 (EUREF89)">
        <annotation>
          <documentation>10865: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10865</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 31 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 32 (EUREF89)">
        <annotation>
          <documentation>10866: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10866</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 32 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 33 (EUREF89)">
        <annotation>
          <documentation>10867: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10867</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 33 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 34 (EUREF89)">
        <annotation>
          <documentation>10868: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10868</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 34 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 35 (EUREF89)">
        <annotation>
          <documentation>10869: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10869</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 35 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 36 (EUREF89)">
        <annotation>
          <documentation>10870: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10870</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 36 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 31 (ED50)">
        <annotation>
          <documentation>10871: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10871</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 31 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 32 (ED50)">
        <annotation>
          <documentation>10872: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10872</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 32 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 33 (ED50)">
        <annotation>
          <documentation>10873: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10873</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 33 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 34 (ED50)">
        <annotation>
          <documentation>10874: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10874</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 34 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 35 (ED50)">
        <annotation>
          <documentation>10875: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10875</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 35 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 36 (ED50)">
        <annotation>
          <documentation>10876: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10876</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 36 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-64A, Møre">
        <annotation>
          <documentation>10877: datum NGO1948.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10877</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-64A, Møre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-64B, Møre">
        <annotation>
          <documentation>10878: datum NGO1948.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10878</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-64B, Møre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KoordinatsystemPolitidistriktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Politidistrikt" substitutionGroup="nvdb:AbstraktPolitidistrikt" type="nvdb:PolitidistriktType">
    <annotation>
      <documentation>579: Definerer politidistrikt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">579</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">579</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Politidistrikt</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="PolitidistriktType">
    <complexContent>
      <extension base="nvdb:AbstraktPolitidistriktType">
        <sequence>
          <element minOccurs="0" name="politidistriktsnummer" type="integer">
            <annotation>
              <documentation>5167: Angir nummer på politidistrikt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5167</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Politidistriktsnummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="politidistriktsnavn" type="string">
            <annotation>
              <documentation>5166: Gir navn til politidistrikt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5166</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Politidistriktsnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="koordinatsystem" type="nvdb:KoordinatsystemPolitidistriktType">
            <annotation>
              <documentation>8148: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8148</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5170: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5170</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>5171: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5171</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommune2019" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommune2019</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PolitidistriktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Politidistrikt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
