GML/580.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierKontraktsområdeType">
    <annotation>
      <documentation>11801: Angir hvem som er eier av kontrakt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11801</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11801</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierKontraktsområdeEnumerationType nvdb:EierKontraktsområdeOtherType"/>
  </simpleType>
  <simpleType name="EierKontraktsområdeEnumerationType">
    <annotation>
      <documentation>11801: Angir hvem som er eier av kontrakt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11801</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11801</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>19774: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19774</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>19773: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19773</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Viken fylkeskommune">
        <annotation>
          <documentation>19770: Viken fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19770</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Viken fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Innlandet fylkeskommune">
        <annotation>
          <documentation>19772: Innlandet fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19772</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innlandet fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vestfold og Telemark fylkeskommune">
        <annotation>
          <documentation>19775: Vestfold og Telemark fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19775</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vestfold og Telemark fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Agder fylkeskommune">
        <annotation>
          <documentation>19776: Agder fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19776</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Agder fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rogaland fylkeskommune">
        <annotation>
          <documentation>19777: Rogaland fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19777</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rogaland fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vestland fylkeskommune">
        <annotation>
          <documentation>19778: Vestland fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19778</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vestland fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Møre og Romsdal fylkeskommune">
        <annotation>
          <documentation>19779: Møre og Romsdal fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19779</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Møre og Romsdal fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trøndelag fylkeskommune">
        <annotation>
          <documentation>19780: Trøndelag fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19780</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trøndelag fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nordland fylkeskommune">
        <annotation>
          <documentation>19781: Nordland fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19781</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nordland fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Troms og Finnmark fylkeskommune">
        <annotation>
          <documentation>19782: Troms og Finnmark fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19782</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Troms og Finnmark fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oslo kommune">
        <annotation>
          <documentation>19783: Oslo kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19783</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oslo kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>19771: Kommuner med unntak av Oslo kommune.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19771</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierKontraktsområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FellesEierskapMedType">
    <annotation>
      <documentation>12225: Angir eier medeier. Om det er flere enn 2 eiere velges verdi "Flere enn 2 eiere". Informasjon om eierforhold legges da som tekst under tilleggsinformasjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12225</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12225</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Felles eierskap med</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FellesEierskapMedEnumerationType nvdb:FellesEierskapMedOtherType"/>
  </simpleType>
  <simpleType name="FellesEierskapMedEnumerationType">
    <annotation>
      <documentation>12225: Angir eier medeier. Om det er flere enn 2 eiere velges verdi "Flere enn 2 eiere". Informasjon om eierforhold legges da som tekst under tilleggsinformasjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12225</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12225</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Felles eierskap med</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>21308: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21308</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>21309: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21309</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Viken fylkeskommune">
        <annotation>
          <documentation>21310: Viken fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21310</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Viken fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Innlandet fylkeskommune">
        <annotation>
          <documentation>21311: Innlandet fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21311</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innlandet fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vestfold og Telemark fylkeskommune">
        <annotation>
          <documentation>21312: Vestfold og Telemark fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21312</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vestfold og Telemark fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Agder fylkeskommune">
        <annotation>
          <documentation>21313: Agder fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21313</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Agder fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rogaland fylkeskommune">
        <annotation>
          <documentation>21314: Rogaland fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21314</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rogaland fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vestland fylkeskommune">
        <annotation>
          <documentation>21315: Vestland fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21315</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vestland fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Møre og Romsdal fylkeskommune">
        <annotation>
          <documentation>21316: Møre og Romsdal fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21316</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Møre og Romsdal fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trøndelag fylkeskommune">
        <annotation>
          <documentation>21317: Trøndelag fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21317</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trøndelag fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nordland fylkeskommune">
        <annotation>
          <documentation>21318: Nordland fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21318</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nordland fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Troms og Finnmark fylkeskommune">
        <annotation>
          <documentation>21319: Troms og Finnmark fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21319</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Troms og Finnmark fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oslo kommune">
        <annotation>
          <documentation>21320: Oslo kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21320</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oslo kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>21321: Kommuner med unntak av Oslo kommune.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21321</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flere enn 2 eiere">
        <annotation>
          <documentation>21322: Verdi gis dersom det er flere enn to eiere. Informasjon om eierforhold legges da inn under tilleggsinformasjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21322</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Flere enn 2 eiere</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FellesEierskapMedOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Kontraktsområde" substitutionGroup="nvdb:AbstraktKontraktsområde" type="nvdb:KontraktsområdeType">
    <annotation>
      <documentation>580: Kontrakt/avtale om drift/vedlikehold relatert til bestemte veger innenfor et avgrensa område.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">580</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">580</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kontraktsområde</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KontraktsområdeType">
    <complexContent>
      <extension base="nvdb:AbstraktKontraktsområdeType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>5174: Angir navn på kontraktsområdet. Navnet skal settes sammen etter følgende mønster: "NNNN n..........n ÅÅÅÅ-ÅÅÅÅ". "NNNN" er et firesifret nummer knyttet til kontraktsområde, nr &lt; 2100 kan bli tolka som at de to første siffer er fylkesnummer. For siffer mindre enn 1000 skal det gis 0 (f.eks. 0350). "n.....n" er navn på kontraktsområdet. "ÅÅÅÅ-ÅÅÅÅ" angir årstall kontrakten løper fra og til. Eksempel på navn: "1203 Nordhordland 2004-2008.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5174</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nr" type="integer">
            <annotation>
              <documentation>5175: Angir nummer på kontraktsområde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5175</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Nr</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeKontraktsområdeType">
            <annotation>
              <documentation>8832: Angir hvilken type kotraktsområde det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8832</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="datoFra" type="date">
            <annotation>
              <documentation>8833: Kontrakten løper fra og med angitt dato.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8833</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dato fra</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="datoTil" type="date">
            <annotation>
              <documentation>8834: Kontrakten løper til og med angitt dato.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8834</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dato til</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11472: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11472</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierKontraktsområdeType">
            <annotation>
              <documentation>11801: Angir hvem som er eier av kontrakt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11801</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fellesEierskapMed" type="nvdb:FellesEierskapMedType">
            <annotation>
              <documentation>12225: Angir eier medeier. Om det er flere enn 2 eiere velges verdi "Flere enn 2 eiere". Informasjon om eierforhold legges da som tekst under tilleggsinformasjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12225</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Felles eierskap med</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5173: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5173</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>5172: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5172</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRegion" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRegion</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KontraktsområdePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kontraktsområde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeKontraktsområdeType">
    <annotation>
      <documentation>8832: Angir hvilken type kotraktsområde det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8832</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8832</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeKontraktsområdeEnumerationType nvdb:TypeKontraktsområdeOtherType"/>
  </simpleType>
  <simpleType name="TypeKontraktsområdeEnumerationType">
    <annotation>
      <documentation>8832: Angir hvilken type kotraktsområde det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8832</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8832</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Driftskontrakt">
        <annotation>
          <documentation>11750: Driftskontrakt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11750</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Driftskontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS-kontrakt">
        <annotation>
          <documentation>11751: OPS-kontrakt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11751</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS-kontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Refusjonsavtale">
        <annotation>
          <documentation>11752: Refusjonsavtale</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11752</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Refusjonsavtale</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Elektrokontrakt">
        <annotation>
          <documentation>11753: Område/strekninger der det er inngått egen kontrakt rettet mot elektro.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11753</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Elektrokontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veglyskontrakt">
        <annotation>
          <documentation>11754: Område/strekninger der det er inngått egen kontrakt rettet mot veglys i dagen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11754</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veglyskontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnelkontrakt">
        <annotation>
          <documentation>11755: Område/strekninger der det er inngått egen kontrakt rettet mot tunnel/tunnelutstyr.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11755</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnelkontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grøntkontrakt">
        <annotation>
          <documentation>18158: Område/strekninger der det er inngått egen driftskontrakt rettet mot grøntområder/grøntobjekter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18158</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grøntkontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegoppmerkingskontrakt">
        <annotation>
          <documentation>21095: Område/strekninger der det er inngått egen kontrakt rettet mot vegoppmerking.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21095</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegoppmerkingskontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rekkverkskontrakt">
        <annotation>
          <documentation>21405: Område/strekninger der det er inngått egen kontrakt rettet mot rekkverk.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21405</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rekkverkskontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Andrepartskontrakt">
        <annotation>
          <documentation>18159: Område der drift administreres av annen part, f.eks. en kommune på vegne av Statens vegvesen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18159</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Andrepartskontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Utprøving">
        <annotation>
          <documentation>11756: Benyttes som "kladd" dersom man ønsker å se på flere alternativer før man bestemmer seg for hvilke veger som skal være med i en kontrakt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11756</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utprøving</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeKontraktsområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
