GML/581.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AlarmTilVTSVedFjerningAvBrannslokkerType">
    <annotation>
      <documentation>3918: Angir hvorvidt det utløses alarm direkte til Vegtrafikksentralen ved fjerning av brannslokker i tunnel.</documentation>
    </annotation>
    <union memberTypes="nvdb:AlarmTilVTSVedFjerningAvBrannslokkerEnumerationType nvdb:AlarmTilVTSVedFjerningAvBrannslokkerOtherType"/>
  </simpleType>
  <simpleType name="AlarmTilVTSVedFjerningAvBrannslokkerEnumerationType">
    <annotation>
      <documentation>3918: Angir hvorvidt det utløses alarm direkte til Vegtrafikksentralen ved fjerning av brannslokker i tunnel.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4926: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei_FinnesIkkeSlikAlarm">
        <annotation>
          <documentation>4950: Nei, finnes ikke slik alarm</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AlarmTilVTSVedFjerningAvBrannslokkerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AntallParallelleHovedløpType">
    <annotation>
      <documentation>3947: Angir hvor mange parallelle hovedløp tunnelen har. Med hovedløp menes tunnelløp som inngår i hovedvegen (ikke ramper, armer etc.).  Det kan være unntak fra dette i tilfeller der det ikke er noen tunnelløp som har referanse til hovedparsell som inngår i ho</documentation>
    </annotation>
    <union memberTypes="nvdb:AntallParallelleHovedløpEnumerationType nvdb:AntallParallelleHovedløpOtherType"/>
  </simpleType>
  <simpleType name="AntallParallelleHovedløpEnumerationType">
    <annotation>
      <documentation>3947: Angir hvor mange parallelle hovedløp tunnelen har. Med hovedløp menes tunnelløp som inngår i hovedvegen (ikke ramper, armer etc.).  Det kan være unntak fra dette i tilfeller der det ikke er noen tunnelløp som har referanse til hovedparsell som inngår i ho</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>5011: 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>5012: 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>5013: 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>5014: 4</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallParallelleHovedløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KablerSeksjonertType">
    <annotation>
      <documentation>3915: Angir om kabler er seksjonert eller ikke.  Når kabler er seksjonert skaper evt. brudd/skade bare problem på den aktuelle seksjon i tunnelen</documentation>
    </annotation>
    <union memberTypes="nvdb:KablerSeksjonertEnumerationType nvdb:KablerSeksjonertOtherType"/>
  </simpleType>
  <simpleType name="KablerSeksjonertEnumerationType">
    <annotation>
      <documentation>3915: Angir om kabler er seksjonert eller ikke.  Når kabler er seksjonert skaper evt. brudd/skade bare problem på den aktuelle seksjon i tunnelen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4922: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4923: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KablerSeksjonertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KablerSikret_Ved_NedgravingType">
    <annotation>
      <documentation>3916: Angir om kabler er sikret v. nedgraving eller ikke.</documentation>
    </annotation>
    <union memberTypes="nvdb:KablerSikret_Ved_NedgravingEnumerationType nvdb:KablerSikret_Ved_NedgravingOtherType"/>
  </simpleType>
  <simpleType name="KablerSikret_Ved_NedgravingEnumerationType">
    <annotation>
      <documentation>3916: Angir om kabler er sikret v. nedgraving eller ikke.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4924: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4925: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KablerSikret_Ved_NedgravingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonsklasseType">
    <annotation>
      <documentation>9131: Angir restriksjonsklasse for transport av farlig gods gjennom tunnelen.</documentation>
    </annotation>
    <union memberTypes="nvdb:RestriksjonsklasseEnumerationType nvdb:RestriksjonsklasseOtherType"/>
  </simpleType>
  <simpleType name="RestriksjonsklasseEnumerationType">
    <annotation>
      <documentation>9131: Angir restriksjonsklasse for transport av farlig gods gjennom tunnelen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="A">
        <annotation>
          <documentation>12167: Ingen restriksjoner på transport av farlig gods [hb021]</documentation>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>12168: Restriksjoner på farlig gods som kan gi en stor eksplosjon [HB N500 (021)]</documentation>
        </annotation>
      </enumeration>
      <enumeration value="C">
        <annotation>
          <documentation>12169: Restriksjoner på farlig gods som kan gi en stor eksplosjon, eller stort utslipp av giftig gass [HB N500 (021)]</documentation>
        </annotation>
      </enumeration>
      <enumeration value="D">
        <annotation>
          <documentation>12170: Restriksjoner på farlig gods som kan gi en stor eksplosjon, eller stort utslipp av giftig gass eller en stor brann [HB N500 (021)]</documentation>
        </annotation>
      </enumeration>
      <enumeration value="E">
        <annotation>
          <documentation>12171: Restriksjoner på farlig gods unntatt følgende stoffer, UN nr. 2919, 3291, 3331, 3373 [HB N500 (021)]</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonsklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ServiceNødtelefonerTilVTSType">
    <annotation>
      <documentation>3917: Angir om service-/nødtelefonene i tunnelen går direkte til  Vegtrafikksentralen (VTS)</documentation>
    </annotation>
    <union memberTypes="nvdb:ServiceNødtelefonerTilVTSEnumerationType nvdb:ServiceNødtelefonerTilVTSOtherType"/>
  </simpleType>
  <simpleType name="ServiceNødtelefonerTilVTSEnumerationType">
    <annotation>
      <documentation>3917: Angir om service-/nødtelefonene i tunnelen går direkte til  Vegtrafikksentralen (VTS)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5009: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei_IngenServiceNødtelefoner">
        <annotation>
          <documentation>5010: Nei, Ingen service-/nødtelefoner</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ServiceNødtelefonerTilVTSOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Stigning_KvalitetType">
    <annotation>
      <documentation>11510: beskriver hvordan "stigning, maks" er framkommet</documentation>
    </annotation>
    <union memberTypes="nvdb:Stigning_KvalitetEnumerationType nvdb:Stigning_KvalitetOtherType"/>
  </simpleType>
  <simpleType name="Stigning_KvalitetEnumerationType">
    <annotation>
      <documentation>11510: beskriver hvordan "stigning, maks" er framkommet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="verifisert">
        <annotation>
          <documentation>19547: Stigningsverdi er kontrollmålt eller beregnet ut fra pålitelige grunnlagsdata</documentation>
        </annotation>
      </enumeration>
      <enumeration value="noeUsikker">
        <annotation>
          <documentation>19549: Verdi er typisk beregnet med Kurvgen basert på vegnettsdata uten at det er verifisert/kontrollmålt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjentKvalitet">
        <annotation>
          <documentation>19550: Det er ikke kjent hvilken kvalitet verdien har.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Stigning_KvalitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SykkelforbudType">
    <annotation>
      <documentation>9518: Angir om det er forbudt å sykle i tunnelen</documentation>
    </annotation>
    <union memberTypes="nvdb:SykkelforbudEnumerationType nvdb:SykkelforbudOtherType"/>
  </simpleType>
  <simpleType name="SykkelforbudEnumerationType">
    <annotation>
      <documentation>9518: Angir om det er forbudt å sykle i tunnelen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13434: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13435: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SykkelforbudOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tunnel" substitutionGroup="nvdb:AbstraktTunnel" type="nvdb:TunnelType">
    <annotation>
      <documentation>581: Sted hvor veg passerer gjennom jord/fjell eller under større lokk.  Består av ett eller flere tunnelløp.</documentation>
    </annotation>
  </element>
  <complexType name="TunnelType">
    <complexContent>
      <extension base="nvdb:AbstraktTunnelType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>5225: Angir navn på tunnel.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tunnelnummer" type="string">
            <annotation>
              <documentation>9306: Gir unikt nummer for tunnel/skredoverbygg, benyttes av Plania</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tunnelklasse_Prosjektert" type="nvdb:Tunnelklasse_ProsjektertType">
            <annotation>
              <documentation>9134: Angir hvilken tunnelklasse tunnelen ble prosjektert etter. Ikke relevant for tunneler kortere enn 500 meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallParallelleHovedløp" type="nvdb:AntallParallelleHovedløpType">
            <annotation>
              <documentation>3947: Angir hvor mange parallelle hovedløp tunnelen har. Med hovedløp menes tunnelløp som inngår i hovedvegen (ikke ramper, armer etc.).  Det kan være unntak fra dette i tilfeller der det ikke er noen tunnelløp som har referanse til hovedparsell som inngår i hovedvegen, f.eks når tunnel på en arm.
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde_Offisiell" type="integer">
            <annotation>
              <documentation>8945: Angir tunnelens offisielle lengde. Lengde skal oppgis i henhold til regelverk for skilting. Dvs at for tunneler opp til 1000 m avrundes lengde til nærmeste 10 meter, for tunneler over 1000 meter avrundes lengde til nærmeste 100 meter (jfr Håndbok N300). For tunneler med flere løp tas det utgangspunkt i lengste hovedløp. Denne lengden skal registreres uavhengig av om tunnellengde er skiltet eller ikke.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sumLengdeAlleLøp" type="integer">
            <annotation>
              <documentation>8150: Angir total lengde av alle hovedløpene tilhørende tunnelsystemet.  Inkluderer ikke lengde av ramper. Lengde av et hovedløp regnes fra første til siste punkt hvor en normal rett opp fra midt veg treffer tunneltak/portal
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sumLengdeRamper" type="integer">
            <annotation>
              <documentation>8151: Angir total lengde av alle tunnelløp som tilhører rampe(r) tilhørende tunnelsystemet.  Inkluderer ikke lengde av hovedløpene.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stigning_Offisiell" type="double">
            <annotation>
              <documentation>11509: Angir offisiell stigning, dvs stigning som skiltes og evt. legges til grunn i risikovurderinger o.l.
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stigning_Kvalitet" type="nvdb:Stigning_KvalitetType">
            <annotation>
              <documentation>11510: beskriver hvordan "stigning, maks" er framkommet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sikkerhetsgodkjenningsdato" type="date">
            <annotation>
              <documentation>11448: Gir dato for når tunnel sist ble sikkerhetsgodkjent.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="undersjøisk" type="nvdb:UndersjøiskType">
            <annotation>
              <documentation>9517: Angir om tunnel er undersjøisk eller ikke.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sykkelforbud" type="nvdb:SykkelforbudType">
            <annotation>
              <documentation>9518: Angir om det er forbudt å sykle i tunnelen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="serviceNødtelefonerTilVTS" type="nvdb:ServiceNødtelefonerTilVTSType">
            <annotation>
              <documentation>3917: Angir om service-/nødtelefonene i tunnelen går direkte til  Vegtrafikksentralen (VTS)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="alarmTilVTSVedFjerningAvBrannslokker" type="nvdb:AlarmTilVTSVedFjerningAvBrannslokkerType">
            <annotation>
              <documentation>3918: Angir hvorvidt det utløses alarm direkte til Vegtrafikksentralen ved fjerning av brannslokker i tunnel.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kablerSeksjonert" type="nvdb:KablerSeksjonertType">
            <annotation>
              <documentation>3915: Angir om kabler er seksjonert eller ikke.  Når kabler er seksjonert skaper evt. brudd/skade bare problem på den aktuelle seksjon i tunnelen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kablerSikret_Ved_Nedgraving" type="nvdb:KablerSikret_Ved_NedgravingType">
            <annotation>
              <documentation>3916: Angir om kabler er sikret v. nedgraving eller ikke.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="særskiltBrannobjektFraTidspunkt" type="date">
            <annotation>
              <documentation>9507: Angir vedtaksdato dersom tunellen er vedtatt som særskilt brannobjekt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="restriksjonsklasse" type="nvdb:RestriksjonsklasseType">
            <annotation>
              <documentation>9131: Angir restriksjonsklasse for transport av farlig gods gjennom tunnelen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadRestriksjonsklasse" type="string">
            <annotation>
              <documentation>9506: Angir merknader knyttet til restriksjonsklasse</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="brutus_Id" type="string">
            <annotation>
              <documentation>9329: Gir referanse til brudatabanken</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSyklende" type="string">
            <annotation>
              <documentation>3913: Kan f.eks beskrive omkjøringsrute for sykkel/gangtrafikk.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="åpningsår" type="integer">
            <annotation>
              <documentation>10383: Angir byggeår for vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11148: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>6891: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tunnel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="Tunnelklasse_ProsjektertType">
    <annotation>
      <documentation>9134: Angir hvilken tunnelklasse tunnelen ble prosjektert etter. Ikke relevant for tunneler kortere enn 500 meter</documentation>
    </annotation>
    <union memberTypes="nvdb:Tunnelklasse_ProsjektertEnumerationType nvdb:Tunnelklasse_ProsjektertOtherType"/>
  </simpleType>
  <simpleType name="Tunnelklasse_ProsjektertEnumerationType">
    <annotation>
      <documentation>9134: Angir hvilken tunnelklasse tunnelen ble prosjektert etter. Ikke relevant for tunneler kortere enn 500 meter</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="A">
        <annotation>
          <documentation>12172: A</documentation>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>12173: B</documentation>
        </annotation>
      </enumeration>
      <enumeration value="C">
        <annotation>
          <documentation>12174: C</documentation>
        </annotation>
      </enumeration>
      <enumeration value="D">
        <annotation>
          <documentation>12175: D</documentation>
        </annotation>
      </enumeration>
      <enumeration value="E">
        <annotation>
          <documentation>12176: E</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>12177: F</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeRelevant">
        <annotation>
          <documentation>18161: Angis for tunneler med lengde under 500 meter</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Tunnelklasse_ProsjektertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UndersjøiskType">
    <annotation>
      <documentation>9517: Angir om tunnel er undersjøisk eller ikke.</documentation>
    </annotation>
    <union memberTypes="nvdb:UndersjøiskEnumerationType nvdb:UndersjøiskOtherType"/>
  </simpleType>
  <simpleType name="UndersjøiskEnumerationType">
    <annotation>
      <documentation>9517: Angir om tunnel er undersjøisk eller ikke.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13432: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13433: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UndersjøiskOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
