GML/581.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>581: Sted hvor veg passerer gjennom jord/fjell eller under større lokk. Består av ett eller flere tunnelløp.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AlarmTilVTSVedFjerningAvBrannslokkerTunnelType">
      <annotation>
         <documentation>3918: Angir hvorvidt det utløses alarm direkte til Vegtrafikksentralen ved fjerning av brannslokker i tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3918</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Alarm til VTS ved fjerning av brannslokker</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AlarmTilVTSVedFjerningAvBrannslokkerTunnelEnumerationType nvdb:AlarmTilVTSVedFjerningAvBrannslokkerTunnelOtherType"/>
   </simpleType>
   <simpleType name="AlarmTilVTSVedFjerningAvBrannslokkerTunnelEnumerationType">
      <annotation>
         <documentation>3918: Angir hvorvidt det utløses alarm direkte til Vegtrafikksentralen ved fjerning av brannslokker i tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3918</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Alarm til VTS ved fjerning av brannslokker</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4926</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4950</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei, finnes ikke slik alarm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AlarmTilVTSVedFjerningAvBrannslokkerTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="AntallParallelleHovedløpTunnelType">
      <annotation>
         <documentation>3947: Angir hvor mange parallelle hovedløp tunnelen har. Med hovedløp menes tunnelløp som inngår i hovedvegen (ikke ramper, armer etc.). Det kan være unntak fra dette i tilfeller der det ikke er noen tunnelløp som har referanse til hovedparsell som inngår i hovedvegen, f.eks. når tunnel på en arm.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3947</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antall parallelle hovedløp</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AntallParallelleHovedløpTunnelEnumerationType nvdb:AntallParallelleHovedløpTunnelOtherType"/>
   </simpleType>
   <simpleType name="AntallParallelleHovedløpTunnelEnumerationType">
      <annotation>
         <documentation>3947: Angir hvor mange parallelle hovedløp tunnelen har. Med hovedløp menes tunnelløp som inngår i hovedvegen (ikke ramper, armer etc.). Det kan være unntak fra dette i tilfeller der det ikke er noen tunnelløp som har referanse til hovedparsell som inngår i hovedvegen, f.eks. når tunnel på en arm.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3947</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antall parallelle hovedløp</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5011</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5012</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5013</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5014</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AntallParallelleHovedløpTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierTunnelType">
      <annotation>
         <documentation>11984: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11984</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierTunnelEnumerationType nvdb:EierTunnelOtherType"/>
   </simpleType>
   <simpleType name="EierTunnelEnumerationType">
      <annotation>
         <documentation>11984: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11984</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20607</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20608</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20609</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20606</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20605</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>20610: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20610</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KablerSikret_Ved_NedgravingTunnelType">
      <annotation>
         <documentation>3916: Angir om kabler er sikret v. nedgraving eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3916</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kabler sikret v nedgraving</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KablerSikret_Ved_NedgravingTunnelEnumerationType nvdb:KablerSikret_Ved_NedgravingTunnelOtherType"/>
   </simpleType>
   <simpleType name="KablerSikret_Ved_NedgravingTunnelEnumerationType">
      <annotation>
         <documentation>3916: Angir om kabler er sikret v. nedgraving eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3916</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kabler sikret v nedgraving</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4924</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4925</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KablerSikret_Ved_NedgravingTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KopletTilVTSTunnelType">
      <annotation>
         <documentation>12609: Angir hvilken vegtrafikksentral tunnel er koplet til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12609</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Koplet til VTS</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KopletTilVTSTunnelEnumerationType nvdb:KopletTilVTSTunnelOtherType"/>
   </simpleType>
   <simpleType name="KopletTilVTSTunnelEnumerationType">
      <annotation>
         <documentation>12609: Angir hvilken vegtrafikksentral tunnel er koplet til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12609</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Koplet til VTS</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="IN">
            <annotation>
               <documentation>21765: Tunnel er ikke knyttet til overvåkningssentral.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21765</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VM">
            <annotation>
               <documentation>21767: Tunnel er knyttet til VTS Midt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21767</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VTS Midt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VN">
            <annotation>
               <documentation>21766: Tunnel er knyttet til VTS Nord.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21766</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VTS Nord</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VS">
            <annotation>
               <documentation>21769: Tunnel er knyttet til VTS Sør.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21769</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VTS Sør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VV">
            <annotation>
               <documentation>21768: Tunnel er knyttet til VTS Vest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21768</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VTS Vest</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VO">
            <annotation>
               <documentation>21770: Tunnel er knyttet til VTS Øst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21770</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VTS Øst</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KopletTilVTSTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RestriksjonerFarligGodsTunnelType">
      <annotation>
         <documentation>9131: Angir om tunnelen har restriksjoner for transport av farlig gods.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9131</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Restriksjoner farlig gods</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RestriksjonerFarligGodsTunnelEnumerationType nvdb:RestriksjonerFarligGodsTunnelOtherType"/>
   </simpleType>
   <simpleType name="RestriksjonerFarligGodsTunnelEnumerationType">
      <annotation>
         <documentation>9131: Angir om tunnelen har restriksjoner for transport av farlig gods.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9131</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Restriksjoner farlig gods</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>12170: Det er restriksjoner knyttet til transport av farlig gods. Skal være skiltet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12170</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>12167: Ingen restriksjoner på transport av farlig gods.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12167</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RestriksjonerFarligGodsTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ServiceNødtelefonerTilVTSTunnelType">
      <annotation>
         <documentation>3917: Angir om service-/nødtelefonene i tunnelen går direkte til Vegtrafikksentralen (VTS).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3917</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Service-/nødtelefoner til VTS</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ServiceNødtelefonerTilVTSTunnelEnumerationType nvdb:ServiceNødtelefonerTilVTSTunnelOtherType"/>
   </simpleType>
   <simpleType name="ServiceNødtelefonerTilVTSTunnelEnumerationType">
      <annotation>
         <documentation>3917: Angir om service-/nødtelefonene i tunnelen går direkte til Vegtrafikksentralen (VTS).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3917</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Service-/nødtelefoner til VTS</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5009</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5010</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei, Ingen service-/nødtelefoner</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ServiceNødtelefonerTilVTSTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SikkerhetsbelysningTunnelType">
      <annotation>
         <documentation>12899: Angir om tunnel er utstyrt med sikkerhetsbelysning iht Tunnelsikkerhetsforskriften V1-2.8.2, dvs at noe av belysningen er koplet til reservestrømkilde og slås på i tilfelle strømbrudd.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sikkerhetsbelysning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SikkerhetsbelysningTunnelEnumerationType nvdb:SikkerhetsbelysningTunnelOtherType"/>
   </simpleType>
   <simpleType name="SikkerhetsbelysningTunnelEnumerationType">
      <annotation>
         <documentation>12899: Angir om tunnel er utstyrt med sikkerhetsbelysning iht Tunnelsikkerhetsforskriften V1-2.8.2, dvs at noe av belysningen er koplet til reservestrømkilde og slås på i tilfelle strømbrudd.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sikkerhetsbelysning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <documentation>22309: Tunnel har sikkerhetsbelysning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22309</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>22310: Tunnel har ikke sikkerhetsbelysning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22310</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>22311: Det er ikke innhentet informasjon om det er sikkerhetsbelysning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22311</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SikkerhetsbelysningTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SlokkevannsløsningTunnelType">
      <annotation>
         <documentation>12607: Angir hvilken løsning det er for å ha tilgjengelig slokkevann ved behov for brannslokning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12607</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Slokkevannsløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SlokkevannsløsningTunnelEnumerationType nvdb:SlokkevannsløsningTunnelOtherType"/>
   </simpleType>
   <simpleType name="SlokkevannsløsningTunnelEnumerationType">
      <annotation>
         <documentation>12607: Angir hvilken løsning det er for å ha tilgjengelig slokkevann ved behov for brannslokning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12607</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Slokkevannsløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>21761: Løsning som ikke er dekket av øvrige alternativ. Legg inn informasjon under "Tilleggsinformasjon"</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21761</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="AB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21760</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Avtale med brannvesenet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <documentation>21762: Slokkevann er ikke tilgjengelig på stedet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21762</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21757</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Offentlig trykkvann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RL">
            <annotation>
               <documentation>21759: Det samles opp vann fra omkringliggende berg til egne infiltreringskummer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21759</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Reservoarløsning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SlokkevannsløsningTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Stigning_KvalitetTunnelType">
      <annotation>
         <documentation>11510: beskriver hvordan "stigning, maks" er framkommet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11510</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stigning, kvalitet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Stigning_KvalitetTunnelEnumerationType nvdb:Stigning_KvalitetTunnelOtherType"/>
   </simpleType>
   <simpleType name="Stigning_KvalitetTunnelEnumerationType">
      <annotation>
         <documentation>11510: beskriver hvordan "stigning, maks" er framkommet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11510</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stigning, kvalitet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="NU">
            <annotation>
               <documentation>19549: Verdi er typisk beregnet med Kurvgen basert på vegnettsdata uten at det er verifisert/kontrollmålt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19549</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Noe usikker</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UK">
            <annotation>
               <documentation>19550: Det er ikke kjent hvilken kvalitet verdien har.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19550</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent kvalitet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <documentation>19547: Stigningsverdi er kontrollmålt eller beregnet ut fra pålitelige grunnlagsdata.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19547</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Verifisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Stigning_KvalitetTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SykkelforbudTunnelType">
      <annotation>
         <documentation>9518: Angir om det er forbudt å sykle i tunnelen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9518</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelforbud</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SykkelforbudTunnelEnumerationType nvdb:SykkelforbudTunnelOtherType"/>
   </simpleType>
   <simpleType name="SykkelforbudTunnelEnumerationType">
      <annotation>
         <documentation>9518: Angir om det er forbudt å sykle i tunnelen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9518</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelforbud</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13434</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13435</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SykkelforbudTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SykkelvarslingTunnelType">
      <annotation>
         <documentation>13032: Angir om det er system som varsler kjørende om at det er sykkelist i tunnelen. Eventuell utfyllende beskrivelse kan gis under "Merknad syklende" (ET 13032).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13032</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelvarsling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SykkelvarslingTunnelEnumerationType nvdb:SykkelvarslingTunnelOtherType"/>
   </simpleType>
   <simpleType name="SykkelvarslingTunnelEnumerationType">
      <annotation>
         <documentation>13032: Angir om det er system som varsler kjørende om at det er sykkelist i tunnelen. Eventuell utfyllende beskrivelse kan gis under "Merknad syklende" (ET 13032).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13032</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelvarsling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <documentation>22631: Det finnes system for varsling av sykkelist i tunnel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22631</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>22632: Det finnes ikke system for varsling av sykkelist i tunnel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22632</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SykkelvarslingTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TEN_TTunnelType">
      <annotation>
         <documentation>12183: Indikerer at tunnel inngår i TEN-T vegnett. Avledes fra informasjon gitt i egen vegobjekttype "TEN-T veg" (852).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12183</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TEN-T</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TEN_TTunnelEnumerationType nvdb:TEN_TTunnelOtherType"/>
   </simpleType>
   <simpleType name="TEN_TTunnelEnumerationType">
      <annotation>
         <documentation>12183: Indikerer at tunnel inngår i TEN-T vegnett. Avledes fra informasjon gitt i egen vegobjekttype "TEN-T veg" (852).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12183</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TEN-T</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>21241: Tunnel inngår i TENT-T veg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21241</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>21242: Tunnel inngår ikke i TEN-T.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21242</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TEN_TTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tunnel"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:TunnelType">
      <annotation>
         <documentation>581: Sted hvor veg passerer gjennom jord/fjell eller under større lokk. Består av ett eller flere tunnelløp.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">581</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TunnelType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>5225: Angir navn på tunnel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5225</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tunnelklasse_Prosjektert">
                  <annotation>
                     <documentation>9134: Angir hvilken tunnelklasse tunnelen ble prosjektert etter. Ikke relevant for tunneler kortere enn 500 meter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9134</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tunnelklasse, prosjektert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallParallelleHovedløp">
                  <annotation>
                     <documentation>3947: Angir hvor mange parallelle hovedløp tunnelen har. Med hovedløp menes tunnelløp som inngår i hovedvegen (ikke ramper, armer etc.). Det kan være unntak fra dette i tilfeller der det ikke er noen tunnelløp som har referanse til hovedparsell som inngår i hovedvegen, f.eks. når tunnel på en arm.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3947</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall parallelle hovedløp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengde_Offisiell" type="integer">
                  <annotation>
                     <documentation>8945: Angir tunnelens offisielle lengde. Lengde skal oppgis i henhold til regelverk for skilting. Dvs. at for tunneler opp til 1000 m avrundes lengde til nærmeste 10 meter, for tunneler over 1000 meter avrundes lengde til nærmeste 100 meter (jfr. Håndbok N300). For tunneler med flere løp tas det utgangspunkt i lengste hovedløp. Denne lengden skal registreres uavhengig av om tunnellengde er skiltet eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8945</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde, offisiell</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sumLengdeAlleLøp" type="integer">
                  <annotation>
                     <documentation>8150: Angir total lengde av alle hovedløpene tilhørende tunnelsystemet. Inkluderer ikke lengde av ramper. Lengde av et hovedløp regnes fra første til siste punkt hvor en normal rett opp fra midt veg treffer tunneltak/portal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8150</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sum lengde alle løp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sumLengdeRamper" type="integer">
                  <annotation>
                     <documentation>8151: Angir total lengde av alle tunnelløp som tilhører rampe(r) tilhørende tunnelsystemet. Inkluderer ikke lengde av hovedløpene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8151</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sum lengde ramper</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="stigning_Offisiell" type="double">
                  <annotation>
                     <documentation>11509: Angir offisiell stigning, dvs. stigning som skiltes og ev. legges til grunn i risikovurderinger o.l.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11509</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stigning, offisiell</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stigning_Kvalitet">
                  <annotation>
                     <documentation>11510: beskriver hvordan "stigning, maks" er framkommet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11510</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stigning, kvalitet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoForBrukstillatelse" type="date">
                  <annotation>
                     <documentation>11448: Gir dato for godkjent brukstillatelse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11448</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato for brukstillatelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="undersjøisk" type="nvdb:UndersjøiskTunnelType">
                  <annotation>
                     <documentation>9517: Angir om tunnel er undersjøisk eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9517</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Undersjøisk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sykkelforbud" type="nvdb:SykkelforbudTunnelType">
                  <annotation>
                     <documentation>9518: Angir om det er forbudt å sykle i tunnelen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9518</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sykkelforbud</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknadSyklende" type="string">
                  <annotation>
                     <documentation>3913: Kan f.eks. beskrive omkjøringsrute for sykkel/gangtrafikk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3913</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad syklende</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="sykkelvarsling"
                        type="nvdb:SykkelvarslingTunnelType">
                  <annotation>
                     <documentation>13032: Angir om det er system som varsler kjørende om at det er sykkelist i tunnelen. Eventuell utfyllende beskrivelse kan gis under "Merknad syklende" (ET 13032).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13032</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sykkelvarsling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sikkerhetsbelysning" type="nvdb:SikkerhetsbelysningTunnelType">
                  <annotation>
                     <documentation>12899: Angir om tunnel er utstyrt med sikkerhetsbelysning iht Tunnelsikkerhetsforskriften V1-2.8.2, dvs at noe av belysningen er koplet til reservestrømkilde og slås på i tilfelle strømbrudd.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12899</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sikkerhetsbelysning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tunnelstengning" type="nvdb:TunnelstengningTunnelType">
                  <annotation>
                     <documentation>12900: Informasjon om hvilken mulighet det er for å stenge tunnel iht Tunnelsikkerhetsforskriften V1-2.15.1.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12900</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tunnelstengning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kopletTilVTS">
                  <annotation>
                     <documentation>12609: Angir hvilken vegtrafikksentral tunnel er koplet til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12609</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Koplet til VTS</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="serviceNødtelefonerTilVTS">
                  <annotation>
                     <documentation>3917: Angir om service-/nødtelefonene i tunnelen går direkte til Vegtrafikksentralen (VTS).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3917</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Service-/nødtelefoner til VTS</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="alarmTilVTSVedFjerningAvBrannslokker">
                  <annotation>
                     <documentation>3918: Angir hvorvidt det utløses alarm direkte til Vegtrafikksentralen ved fjerning av brannslokker i tunnel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3918</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Alarm til VTS ved fjerning av brannslokker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="slokkevannsløsning" type="nvdb:SlokkevannsløsningTunnelType">
                  <annotation>
                     <documentation>12607: Angir hvilken løsning det er for å ha tilgjengelig slokkevann ved behov for brannslokning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12607</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Slokkevannsløsning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknadSlokkevann" type="string">
                  <annotation>
                     <documentation>12608: Tilleggsinformasjon om slokkevannsløsning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12608</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad slokkevann</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kablerSikret_Ved_Nedgraving">
                  <annotation>
                     <documentation>3916: Angir om kabler er sikret v. nedgraving eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3916</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kabler sikret v nedgraving</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="restriksjonerFarligGods">
                  <annotation>
                     <documentation>9131: Angir om tunnelen har restriksjoner for transport av farlig gods.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9131</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Restriksjoner farlig gods</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknadRestriksjonerFarligGods" type="string">
                  <annotation>
                     <documentation>9506: Angir hvilke restriksjoner gjelder for transport av farlig gods i tunnelen (tidsrom og/eller type gods og evt. vedtaksnummer).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9506</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad restriksjoner farlig gods</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="TEN_T">
                  <annotation>
                     <documentation>12183: Indikerer at tunnel inngår i TEN-T vegnett. Avledes fra informasjon gitt i egen vegobjekttype "TEN-T veg" (852).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12183</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TEN-T</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="åpningsår" type="integer">
                  <annotation>
                     <documentation>10383: Angir byggeår for vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10383</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Åpningsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="driftsmerkingTFM_Lokasjonskode" type="string">
                  <annotation>
                     <documentation>12765: Tverrfaglig merkesystem (TFM) lokasjonskode som skal benyttes i driftsmerking for tunnelen. Denne lokasjonskoden skal utgjøre første del av driftsmerkingen til de enkelte vegobjektene i tunnelen. Merkingen skal være bygd opp slik: ABBCCDDD der A angir anleggseier (S=Statens vegvesen, N=Nye Veier AS, F=Fylkeskommune, O=OPS-selskap og K=Kommune), BB er fylkesnummer, CC er anleggskode (denne skal være TU for tunnel) og DDD er trebokstavskode for tunnelen. Det skal i legges til + foran teksten når den benyttes i driftsmerking.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12765</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking TFM, lokasjonskode</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11148: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11148</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12398: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12398</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="eier" type="nvdb:EierTunnelType">
                  <annotation>
                     <documentation>11984: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11984</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligTunnelType">
                  <annotation>
                     <documentation>12013: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12013</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="tunnelforvalterområde"
                        type="nvdb:TunnelforvalterområdeTunnelType">
                  <annotation>
                     <documentation>12087: Angir hvilket tunnelforvalterområde som har ansvar for tunnel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12087</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tunnelforvalterområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>6891: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6891</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TunnelPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tunnel"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TunnelforvalterområdeTunnelType">
      <annotation>
         <documentation>12087: Angir hvilket tunnelforvalterområde som har ansvar for tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12087</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnelforvalterområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TunnelforvalterområdeTunnelEnumerationType nvdb:TunnelforvalterområdeTunnelOtherType"/>
   </simpleType>
   <simpleType name="TunnelforvalterområdeTunnelEnumerationType">
      <annotation>
         <documentation>12087: Angir hvilket tunnelforvalterområde som har ansvar for tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12087</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnelforvalterområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="M">
            <annotation>
               <documentation>21008: Midt</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21008</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">M</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N1">
            <annotation>
               <documentation>21004: Nord-1</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21004</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">N1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N2">
            <annotation>
               <documentation>21005: Nord-2</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21005</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">N2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N3">
            <annotation>
               <documentation>21006: Nord-3</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21006</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">N3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21007</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S1">
            <annotation>
               <documentation>21013: Sør-1</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21013</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S2">
            <annotation>
               <documentation>21014: Sør-2</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21014</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V1A">
            <annotation>
               <documentation>21010: Vest-1A</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21010</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">V1A</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V1B">
            <annotation>
               <documentation>21764: Vest-1A</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21764</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">V1B</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V2">
            <annotation>
               <documentation>21011: Vest-2</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21011</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">V2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V3">
            <annotation>
               <documentation>21012: Vest-3</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21012</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">V3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ø1">
            <annotation>
               <documentation>21015: Øst-1</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21015</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ø1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ø2">
            <annotation>
               <documentation>21016: Øst-2</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21016</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ø2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ø3">
            <annotation>
               <documentation>21017: Øst-3</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21017</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ø3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ø4">
            <annotation>
               <documentation>21018: Øst-4</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21018</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ø4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TunnelforvalterområdeTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Tunnelklasse_ProsjektertTunnelType">
      <annotation>
         <documentation>9134: Angir hvilken tunnelklasse tunnelen ble prosjektert etter. Ikke relevant for tunneler kortere enn 500 meter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9134</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnelklasse, prosjektert</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Tunnelklasse_ProsjektertTunnelEnumerationType nvdb:Tunnelklasse_ProsjektertTunnelOtherType"/>
   </simpleType>
   <simpleType name="Tunnelklasse_ProsjektertTunnelEnumerationType">
      <annotation>
         <documentation>9134: Angir hvilken tunnelklasse tunnelen ble prosjektert etter. Ikke relevant for tunneler kortere enn 500 meter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9134</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnelklasse, prosjektert</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12172</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">A</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12173</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">B</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="C">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12174</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">C</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="D">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12175</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">D</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="E">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12176</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">E</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12177</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">F</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TK">
            <annotation>
               <documentation>18161: Angis for tunneler med lengde under 500 meter.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18161</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke relevant</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Tunnelklasse_ProsjektertTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TunnelstengningTunnelType">
      <annotation>
         <documentation>12900: Informasjon om hvilken mulighet det er for å stenge tunnel iht Tunnelsikkerhetsforskriften V1-2.15.1.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12900</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnelstengning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TunnelstengningTunnelEnumerationType nvdb:TunnelstengningTunnelOtherType"/>
   </simpleType>
   <simpleType name="TunnelstengningTunnelEnumerationType">
      <annotation>
         <documentation>12900: Informasjon om hvilken mulighet det er for å stenge tunnel iht Tunnelsikkerhetsforskriften V1-2.15.1.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12900</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnelstengning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>22449: Annen automatisk stengningsmetode</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22449</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen stengningsmetode</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="In">
            <annotation>
               <documentation>22314: Det er ingen mulighet å stenge tunnel ved hjelp av rødblinksignal, trafikklys eller variabel skilting. Eventuell stengning må skje manuelt på stedet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22314</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Manuell stengning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rb">
            <annotation>
               <documentation>22312: Tunnel er utstyrt med rødblinksignal eller annet trafikklys som medfører stenging i nødstilfeller.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22312</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikklys</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vs">
            <annotation>
               <documentation>22313: Tunnel kan stenges ved hjelp av fjernstyrte variable skilt med lyssignal som medfører stenging i nødstilfeller.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22313</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Variabel skilting</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TunnelstengningTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UndersjøiskTunnelType">
      <annotation>
         <documentation>9517: Angir om tunnel er undersjøisk eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9517</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Undersjøisk</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UndersjøiskTunnelEnumerationType nvdb:UndersjøiskTunnelOtherType"/>
   </simpleType>
   <simpleType name="UndersjøiskTunnelEnumerationType">
      <annotation>
         <documentation>9517: Angir om tunnel er undersjøisk eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9517</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Undersjøisk</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13432</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13433</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UndersjøiskTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTunnelType">
      <annotation>
         <documentation>12013: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12013</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligTunnelEnumerationType nvdb:VedlikeholdsansvarligTunnelOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTunnelEnumerationType">
      <annotation>
         <documentation>12013: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12013</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20800</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20802</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20799</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20801</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20803</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20798</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20804</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
