GML/583.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>583: Strekning som har enhelig bredde på vegen. Inneholder bredde på dekke, kjørebane og total vegbredde. Merknad: Vegbredde, historisk (VT 583) benevnes "historisk" da den inneholder mye data som er foreldet. Data tilhørende "Vegbredde, beregnet" (VT 838) benyttes i stedet. Data tilhørende VT 583 anbfales bare benyttet på strekninger det ikke finnes data for VT 838.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="DataopprinnelseVegbredde, historiskType">
      <annotation>
         <documentation>5261: Angir hvilke kilde dataene kommer fra.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5261</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dataopprinnelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DataopprinnelseVegbredde, historiskEnumerationType nvdb:DataopprinnelseVegbredde, historiskOtherType"/>
   </simpleType>
   <simpleType name="DataopprinnelseVegbredde, historiskEnumerationType">
      <annotation>
         <documentation>5261: Angir hvilke kilde dataene kommer fra.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5261</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dataopprinnelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="vt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7113</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Generert fra Tverrprofilobjektet (ID 528)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="dr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7114</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Overført fra PMS/Dekke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <documentation>7115: Data registrert ute på veg med VegReg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7115</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VegReg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DataopprinnelseVegbredde, historiskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegbredde, historisk"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Vegbredde, historiskType">
      <annotation>
         <documentation>583: Strekning som har enhelig bredde på vegen. Inneholder bredde på dekke, kjørebane og total vegbredde. Merknad: Vegbredde, historisk (VT 583) benevnes "historisk" da den inneholder mye data som er foreldet. Data tilhørende "Vegbredde, beregnet" (VT 838) benyttes i stedet. Data tilhørende VT 583 anbfales bare benyttet på strekninger det ikke finnes data for VT 838.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">583</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegbredde, historisk</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Vegbredde, historiskType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="vegbredde_Totalt" type="double">
                  <annotation>
                     <documentation>5264: Avstand mellom ytterkant skulder. Dersom skulder er asfaltert, er dette avstanden mellom asfaltkantene eller kantstein. Dersom hele/deler av skulder ikke er asfaltert, er dette avstand mellom punktene hvor skulderen knekkes mot grøften. Dersom hver kjøreretning har egen vegreferanse må vegbredde registreres per kjøreretning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5264</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegbredde, totalt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dekkebredde" type="double">
                  <annotation>
                     <documentation>5555: Angir total dekkebredde eksklusiv eventuell fysiske trafikkdelere.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5555</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dekkebredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kjørebanebredde" type="double">
                  <annotation>
                     <documentation>5556: Angir kjørebanebredden som summen av bredden for hver kjørebane. Bredden på hver kjørebane er avstanden mellom midtpunktet på hver av kantlinjene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5556</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kjørebanebredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="målemetode">
                  <annotation>
                     <documentation>5262: Angir hvilken målemetode som er benyttet for å framskaffe bredde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5262</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Målemetode</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="dataopprinnelse"
                        type="nvdb:DataopprinnelseVegbredde, historiskType">
                  <annotation>
                     <documentation>5261: Angir hvilke kilde dataene kommer fra.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5261</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dataopprinnelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoRegistrert" type="date">
                  <annotation>
                     <documentation>5260: Angir dato for når bredde ble registrert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5260</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato registrert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>6923: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6923</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Vegbredde, historiskPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegbredde, historisk"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="Vegbredde, historiskMålemetodeType">
      <annotation>
         <documentation>5262: Angir hvilken målemetode som er benyttet for å framskaffe bredde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5262</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Målemetode</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Vegbredde, historiskMålemetodeEnumerationType nvdb:Vegbredde, historiskMålemetodeOtherType"/>
   </simpleType>
   <simpleType name="Vegbredde, historiskMålemetodeEnumerationType">
      <annotation>
         <documentation>5262: Angir hvilken målemetode som er benyttet for å framskaffe bredde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5262</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Målemetode</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="uk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7161</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Anslått verdi</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Beregnet fra kartdata/FKB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13459</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Beregnet fra kartdata/FKB</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7168</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Beregnet fra laserdata, dekketilstand</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ws">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7157</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Målt i felt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="dk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7165</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Målt i kart/ortofoto</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Vegbredde, historiskMålemetodeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
