GML/59.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>59: Permeabel duk som hovedsakelig brukes til filter og til separasjon av gode og dårlige masser. Visse duker har også en armeringsfunksjon. Betegnelsen geotekstil og fiberduk benyttes ofte om hverandre (2).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksklasseFiberdukType">
      <annotation>
         <documentation>11455: Angir fiberdukens bruksklasse. Jfr. Håndbok N200 fig 521.1.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11455</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksklasseFiberdukEnumerationType nvdb:BruksklasseFiberdukOtherType"/>
   </simpleType>
   <simpleType name="BruksklasseFiberdukEnumerationType">
      <annotation>
         <documentation>11455: Angir fiberdukens bruksklasse. Jfr. Håndbok N200 fig 521.1.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11455</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19479</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19480</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19481</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19482</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19483</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseFiberdukOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BudsjettFiberdukType">
      <annotation>
         <documentation>5536: Angir hvilket budsjett utlegging går over.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5536</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BudsjettFiberdukEnumerationType nvdb:BudsjettFiberdukOtherType"/>
   </simpleType>
   <simpleType name="BudsjettFiberdukEnumerationType">
      <annotation>
         <documentation>5536: Angir hvilket budsjett utlegging går over.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5536</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7868</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Anlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7869</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vedlikehold</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BudsjettFiberdukOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Fiberduk"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:FiberdukType">
      <annotation>
         <documentation>59: Permeabel duk som hovedsakelig brukes til filter og til separasjon av gode og dårlige masser. Visse duker har også en armeringsfunksjon. Betegnelsen geotekstil og fiberduk benyttes ofte om hverandre (2).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">59</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fiberduk</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FiberdukType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="areal" type="double">
                  <annotation>
                     <documentation>1365: Angir arealet av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1365</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="leggedato" type="date">
                  <annotation>
                     <documentation>5146: Angir leggedato for fiberduk/armeringsnett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5146</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Leggedato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tykkelse" type="integer">
                  <annotation>
                     <documentation>1617: Angir standard tykkelse av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1617</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tykkelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="bruksklasse"
                        type="nvdb:BruksklasseFiberdukType">
                  <annotation>
                     <documentation>11455: Angir fiberdukens bruksklasse. Jfr. Håndbok N200 fig 521.1.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11455</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="string">
                  <annotation>
                     <documentation>8750: Angir hvor i en konstruksjon fiberduken er plassert. Kan f.eks. være "på planering", med mer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8750</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="budsjett" type="nvdb:BudsjettFiberdukType">
                  <annotation>
                     <documentation>5536: Angir hvilket budsjett utlegging går over.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5536</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>5550: Gir permanent merknad.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5550</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="breddeGjennomsnitt" type="double">
                  <annotation>
                     <documentation>5147: Angir representativ bredde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5147</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produsent" type="string">
                  <annotation>
                     <documentation>1520: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1520</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>1443: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1443</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="leverandør" type="string">
                  <annotation>
                     <documentation>1480: Angir navn på firma som har levert vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1480</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Leverandør</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11056: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11056</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12294: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12294</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4762: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4762</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>8876: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8876</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FiberdukPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fiberduk"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
