GML/591.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Høydebegrensning" substitutionGroup="nvdb:AbstraktHøydebegrensning" type="nvdb:HøydebegrensningType">
    <annotation>
      <documentation>591: Strekning i vegnettet hvor kjøretøy kan komme i konflikt med overliggende hinder</documentation>
    </annotation>
  </element>
  <complexType name="HøydebegrensningType">
    <complexContent>
      <extension base="nvdb:AbstraktHøydebegrensningType">
        <sequence>
          <element minOccurs="0" name="skiltaHøyde" type="double">
            <annotation>
              <documentation>5277: Angir skilta høyde i forbindelse med høydebegrensningen. Håndbok N300 (050) beskriver hvordan verdier beregnes ut fra målte høyder
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element name="typeHinder" type="nvdb:TypeHinderType">
            <annotation>
              <documentation>5270: Angir hvilken type hinder det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="beregnetHøyde" type="double">
            <annotation>
              <documentation>10247: Minste målte høyde minus sikkerhetsmargin, avrundet ned til nærmeste desimeter (ref. regelverk i håndbok N300, tidl. Hb 050)
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>5778: Gir navn tilknyttet høydebegrensning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5285: Merknad som gjelder for den bestemte forekomsten uavhengig av tid</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>3846: Angir minste bredde mellom høydemåling for venstre og høyre side.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="hMinHøyreKant" type="double">
            <annotation>
              <documentation>3868: Angir minste høyde for høydebegrensningens høyre kjørebanekant.  Høyre og venstre bestemmes ut fra at en er vendt i retning av vegens metreringsretning.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="hMinMidt" type="double">
            <annotation>
              <documentation>3869: Angir minste høyde innenfor et 3-metersbelte vanligvis plassert i midten av høydebegrensningen.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="hMinVenstreKant" type="double">
            <annotation>
              <documentation>3870: Angir minste høyde for høydebegrensningens venstre kjørebanekant.  Høyre og venstre bestemmes ut fra at en er vendt i retning av vegens metreringsretning.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="målemetodeHøydebegrensning" type="nvdb:HøydebegrensningMålemetodeType">
            <annotation>
              <documentation>9490: Angir målemetode som er brukt for å måle høyder</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="måledato" type="date">
            <annotation>
              <documentation>9489: Angir dato når innmåling er gjort</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11149: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6924: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertUndergang" type="nvdb:AbstraktUndergangPropertyType"/>
          <element minOccurs="0" name="assosiertSkiltportal" type="nvdb:AbstraktSkiltportalPropertyType"/>
          <element minOccurs="0" name="assosiertTunnelløp" type="nvdb:AbstraktTunnelløpPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertSkredoverbygg" type="nvdb:AbstraktSkredoverbyggPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HøydebegrensningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Høydebegrensning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="HøydebegrensningMålemetodeType">
    <annotation>
      <documentation>9490: Angir målemetode som er brukt for å måle høyder</documentation>
    </annotation>
    <union memberTypes="nvdb:HøydebegrensningMålemetodeEnumerationType nvdb:HøydebegrensningMålemetodeOtherType"/>
  </simpleType>
  <simpleType name="HøydebegrensningMålemetodeEnumerationType">
    <annotation>
      <documentation>9490: Angir målemetode som er brukt for å måle høyder</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="laser">
        <annotation>
          <documentation>13366: Laser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="målestav">
        <annotation>
          <documentation>13367: Målestav</documentation>
        </annotation>
      </enumeration>
      <enumeration value="scanningAvHvelv">
        <annotation>
          <documentation>13368: Scanning av hvelv</documentation>
        </annotation>
      </enumeration>
      <enumeration value="teoretiskGrunnlag">
        <annotation>
          <documentation>17875: Høyder er beregnet ut fra teoretisk grunnlag, f.eks digital 3D-modell</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HøydebegrensningMålemetodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeHinderType">
    <annotation>
      <documentation>5270: Angir hvilken type hinder det er tale om</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeHinderEnumerationType nvdb:TypeHinderOtherType"/>
  </simpleType>
  <simpleType name="TypeHinderEnumerationType">
    <annotation>
      <documentation>5270: Angir hvilken type hinder det er tale om</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="undergangBru">
        <annotation>
          <documentation>8151: Undergang/Bru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skredoverbygg">
        <annotation>
          <documentation>8155: Skredoverbygg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brustag">
        <annotation>
          <documentation>8149: Bru-stag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kjøreledning">
        <annotation>
          <documentation>7280: Kjøreledning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brukabler">
        <annotation>
          <documentation>7282: Kabel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kabel">
        <annotation>
          <documentation>8168: Brukabler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skiltportalWire">
        <annotation>
          <documentation>7284: Skiltportal/wire</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ferjesamband">
        <annotation>
          <documentation>8174: Høydebegrensing på standard ferje på gitt ferjesamband</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tunnel">
        <annotation>
          <documentation>8150: Tunnel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bygning">
        <annotation>
          <documentation>8175: Bygning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annetHinder">
        <annotation>
          <documentation>8166: Type høydebegrensing som ikke dekkes av de andre verdiene.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeHinderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
