GML/591.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Høydebegrensning" substitutionGroup="nvdb:AbstraktHøydebegrensning" type="nvdb:HøydebegrensningType">
    <annotation>
      <documentation>591: Strekning i vegnettet hvor kjøretøy kan komme i konflikt med overliggende hinder.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">591</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">591</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Høydebegrensning</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="HøydebegrensningType">
    <complexContent>
      <extension base="nvdb:AbstraktHøydebegrensningType">
        <sequence>
          <element minOccurs="0" name="skiltaHøyde" type="double">
            <annotation>
              <documentation>5277: Angir skilta høyde i forbindelse med høydebegrensningen. Håndbok N300 beskriver hvordan verdier beregnes ut fra målte høyder.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5277</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skilta høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="typeHinder" type="nvdb:TypeHinderType">
            <annotation>
              <documentation>5270: Angir hvilken type hinder det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5270</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type hinder</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beregnetHøyde" type="double">
            <annotation>
              <documentation>10247: Minste målte høyde minus sikkerhetsmargin, avrundet ned til nærmeste desimeter (ref. regelverk i håndbok N300).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10247</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Beregnet høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>5778: Gir navn tilknyttet høydebegrensning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5778</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5285: Merknad som gjelder for den bestemte forekomsten uavhengig av tid.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5285</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>3846: Angir minste bredde mellom høydemåling for venstre og høyre side.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3846</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hMinHøyreKant" type="double">
            <annotation>
              <documentation>3868: Angir minste høyde for høydebegrensningens høyre kjørebanekant. Høyre og venstre bestemmes ut fra at en er vendt i retning av vegens metreringsretning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3868</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">H-min, høyre kant</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hMinMidt" type="double">
            <annotation>
              <documentation>3869: Angir minste høyde innenfor et 3-metersbelte vanligvis plassert i midten av høydebegrensningen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3869</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">H-min, midt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hMinVenstreKant" type="double">
            <annotation>
              <documentation>3870: Angir minste høyde for høydebegrensningens venstre kjørebanekant. Høyre og venstre bestemmes ut fra at en er vendt i retning av vegens metreringsretning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3870</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">H-min, venstre kant</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="målemetodeHøydebegrensning" type="nvdb:MålemetodeHøydebegrensningType">
            <annotation>
              <documentation>9490: Angir målemetode som er brukt for å måle høyder.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9490</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Målemetode</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måledato" type="date">
            <annotation>
              <documentation>9489: Angir dato når innmåling er gjort.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9489</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Måledato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11149: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11149</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12399: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12399</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6924: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6924</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkiltportal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkiltportal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkredoverbygg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkredoverbygg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertUndergang" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktUndergang</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HøydebegrensningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Høydebegrensning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MålemetodeHøydebegrensningType">
    <annotation>
      <documentation>9490: Angir målemetode som er brukt for å måle høyder.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9490</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9490</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Målemetode</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MålemetodeHøydebegrensningEnumerationType nvdb:MålemetodeHøydebegrensningOtherType"/>
  </simpleType>
  <simpleType name="MålemetodeHøydebegrensningEnumerationType">
    <annotation>
      <documentation>9490: Angir målemetode som er brukt for å måle høyder.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9490</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9490</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Målemetode</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="laser">
        <annotation>
          <documentation>13366: Laser</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13366</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Laser</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="målestav">
        <annotation>
          <documentation>13367: Målestav</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13367</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Målestav</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="scanningAvHvelv">
        <annotation>
          <documentation>13368: Skanning av hvelv</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13368</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skanning av hvelv</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="teoretiskGrunnlag">
        <annotation>
          <documentation>17875: Høyder er beregnet ut fra teoretisk grunnlag, f.eks. digital 3D-modell.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17875</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Teoretisk grunnlag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeHøydebegrensningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeHinderType">
    <annotation>
      <documentation>5270: Angir hvilken type hinder det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5270</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5270</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type hinder</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeHinderEnumerationType nvdb:TypeHinderOtherType"/>
  </simpleType>
  <simpleType name="TypeHinderEnumerationType">
    <annotation>
      <documentation>5270: Angir hvilken type hinder det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5270</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5270</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type hinder</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="undergangBru">
        <annotation>
          <documentation>8151: Undergang/Bru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8151</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Undergang/Bru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredoverbygg">
        <annotation>
          <documentation>8155: Skredoverbygg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8155</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredoverbygg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brustag">
        <annotation>
          <documentation>8149: Bru-stag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8149</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bru-stag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kjøreledning">
        <annotation>
          <documentation>7280: Kjøreledning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7280</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjøreledning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kabel">
        <annotation>
          <documentation>8168: Brukabler</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8168</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brukabler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brukabler">
        <annotation>
          <documentation>7282: Kabel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7282</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kabel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skiltportalWire">
        <annotation>
          <documentation>7284: Skiltportal/wire</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7284</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltportal/wire</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ferjesamband">
        <annotation>
          <documentation>8174: Høydebegrensing på standard ferje på gitt ferjesamband.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8174</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferjesamband</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tunnel">
        <annotation>
          <documentation>8150: Tunnel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8150</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bygning">
        <annotation>
          <documentation>8175: Bygning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8175</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bygning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annetHinder">
        <annotation>
          <documentation>8166: Type høydebegrensing som ikke dekkes av de andre verdiene.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8166</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet hinder</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeHinderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
