GML/592.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DekkekodeType">
    <annotation>
      <documentation>5314: Angir hvilken type dekke det er på stedet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5314</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5314</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dekkekode</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DekkekodeEnumerationType nvdb:DekkekodeOtherType"/>
  </simpleType>
  <simpleType name="DekkekodeEnumerationType">
    <annotation>
      <documentation>5314: Angir hvilken type dekke det er på stedet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5314</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5314</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dekkekode</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Asfalt">
        <annotation>
          <documentation>7320: Asfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7320</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>7321: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7321</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grus">
        <annotation>
          <documentation>7322: Grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7322</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekkekodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FormålNedbøyningsmålingType">
    <annotation>
      <documentation>5298: Angir formål med nedbøyningsmåling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5298</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5298</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FormålNedbøyningsmålingEnumerationType nvdb:FormålNedbøyningsmålingOtherType"/>
  </simpleType>
  <simpleType name="FormålNedbøyningsmålingEnumerationType">
    <annotation>
      <documentation>5298: Angir formål med nedbøyningsmåling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5298</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5298</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="S">
        <annotation>
          <documentation>7313: Sommer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7313</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sommer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>7314: Teleløsning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7314</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Teleløsning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>7316: Parallellmåling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7316</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Parallellmåling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>7315: Referansestrekning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7315</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Referansestrekning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FormålNedbøyningsmålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Nedbøyningsmåling" substitutionGroup="nvdb:AbstraktNedbøyningsmåling" type="nvdb:NedbøyningsmålingType">
    <annotation>
      <documentation>592: Måling av hvor mye vegen gir etter ved belastning med fallodd etc.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">592</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">592</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Nedbøyningsmåling</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NedbøyningsmålingType">
    <complexContent>
      <extension base="nvdb:AbstraktNedbøyningsmålingType">
        <sequence>
          <element minOccurs="0" name="bæreevne" type="double">
            <annotation>
              <documentation>5486: Angir bæreevne.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5486</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bæreevne</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bæreevne_Temperaturkorrigert" type="double">
            <annotation>
              <documentation>12546: Bæreevne, temperaturkorrigert [tonn].</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12546</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bæreevne, temperaturkorrigert</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="formål" type="nvdb:FormålNedbøyningsmålingType">
            <annotation>
              <documentation>5298: Angir formål med nedbøyningsmåling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5298</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måledato" type="date">
            <annotation>
              <documentation>5330: Dato for måling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5330</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Måledato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måletidspunkt" type="time">
            <annotation>
              <documentation>5331: Klokkeslett for måling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5331</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Måletidspunkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spor" type="nvdb:SporNedbøyningsmålingType">
            <annotation>
              <documentation>5299: Angir hvor nedbøyning er foretatt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5299</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spor</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_1_Avstand" type="integer">
            <annotation>
              <documentation>5300: Avstand fra lastsenter til geofon-1.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5300</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-1, avstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_1_Nedbøyning" type="integer">
            <annotation>
              <documentation>5307: Målt nedbøyning for geofon-1.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5307</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-1, nedbøyning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_2_Avstand" type="integer">
            <annotation>
              <documentation>5301: Avstand fra lastsenter til geofon-2.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5301</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-2, avstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_2_Nedbøyning" type="integer">
            <annotation>
              <documentation>5308: Målt nedbøyning for geofon-2.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5308</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-2, nedbøyning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_3_Avstand" type="integer">
            <annotation>
              <documentation>5302: Avstand fra lastsenter til geofon-3.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5302</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-3, avstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_3_Nedbøyning" type="integer">
            <annotation>
              <documentation>5309: Målt nedbøyning for geofon-3.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5309</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-3, nedbøyning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_4_Avstand" type="integer">
            <annotation>
              <documentation>5303: Avstand fra lastsenter til geofon-4.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5303</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-4, avstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_4_Nedbøyning" type="integer">
            <annotation>
              <documentation>5310: Målt nedbøyning for geofon-4.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5310</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-4, nedbøyning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_5_Avstand" type="integer">
            <annotation>
              <documentation>5304: Avstand fra lastsenter til geofon-5.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5304</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-5, avstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_5_Nedbøyning" type="integer">
            <annotation>
              <documentation>5311: Målt nedbøyning for geofon-5.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5311</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-5, nedbøyning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_6_Avstand" type="integer">
            <annotation>
              <documentation>5305: Avstand fra lastsenter til geofon-6.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5305</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-6, avstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_6_Nedbøyning" type="integer">
            <annotation>
              <documentation>5312: Målt nedbøyning for geofon-6.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5312</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-6, nedbøyning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_7_Avstand" type="integer">
            <annotation>
              <documentation>5306: Avstand fra lastsenter til geofon-7.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5306</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-7, avstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_7_Nedbøyning" type="integer">
            <annotation>
              <documentation>5313: Målt nedbøyning for geofon-7.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5313</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-7, nedbøyning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_8_Avstand" type="integer">
            <annotation>
              <documentation>8757: Avstand fra lastsenter til geofon-8.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8757</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-8, avstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_8_Nedbøyning" type="integer">
            <annotation>
              <documentation>8758: Målt nedbøyning for geofon-8.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8758</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-8, nedbøyning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_9_Avstand" type="integer">
            <annotation>
              <documentation>8759: Avstand fra lastsenter til geofon-9.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8759</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-9, avstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_9_Nedbøyning" type="integer">
            <annotation>
              <documentation>8760: Målt nedbøyning for geofon-9.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8760</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geofon-9, nedbøyning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkekode" type="nvdb:DekkekodeType">
            <annotation>
              <documentation>5314: Angir hvilken type dekke det er på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5314</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dekkekode</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallKjørefelt" type="integer">
            <annotation>
              <documentation>5315: Angir hvor mange kjørefelt det er på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5315</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall kjørefelt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekketemperatur" type="integer">
            <annotation>
              <documentation>5316: Angir dekketemperatur.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5316</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dekketemperatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lufttemperatur" type="integer">
            <annotation>
              <documentation>5317: Angir lufttemperatur.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5317</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lufttemperatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ringtrykk" type="double">
            <annotation>
              <documentation>11269: Angir lufttrykk (ringtrykk) i bakhjulet til målebilen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11269</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Ringtrykk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skydekke" type="integer">
            <annotation>
              <documentation>5318: Angir skydekke. 0= skyfritt, 9 = Helt overskyet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5318</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skydekke</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyrstype" type="nvdb:UtstyrstypeNedbøyningsmålingType">
            <annotation>
              <documentation>5319: Angir hvilken type utstyr som er benyttet ved nedbøyningsmåling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5319</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utstyrstype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5320: Merknad, kan referere til faste merknadsnummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5320</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="BCI" type="integer">
            <annotation>
              <documentation>12547: BCI.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12547</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">BCI</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dybdeTilBunnAsfaltLag1" type="double">
            <annotation>
              <documentation>12544: Dybde til bunn asfalt lag 1 [cm].</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12544</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dybde til bunn asfalt lag 1</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dybdeTilBunnAsfaltLag2" type="double">
            <annotation>
              <documentation>12545: Dybde til bunn asfalt lag 2 [cm].</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12545</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dybde til bunn asfalt lag 2</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalTøyningUnderkantAsfalt" type="double">
            <annotation>
              <documentation>12548: Horisontal tøyning underkant asfalt (Ea) E=epsilon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12548</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Horisontal tøyning underkant asfalt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitetNedbøyningsmåling" type="integer">
            <annotation>
              <documentation>12543: Kvalitet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12543</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kvalitet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ledig" type="string">
            <annotation>
              <documentation>12551: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12551</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Ledig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overflatemodul_Edim" type="double">
            <annotation>
              <documentation>12549: Overflatemodul (Edim)[MPa].</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12549</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overflatemodul, Edim</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11272: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11272</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="undergrunnsmodul_E_u" type="double">
            <annotation>
              <documentation>12550: Undergrunnsmodul (E_u) [MPa].</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12550</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Undergrunnsmodul, E_u</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ÅDT_Lang" type="integer">
            <annotation>
              <documentation>5321: ÅDT lange kjøretøy. Kjøretøy med lengde større eller lik 5,6 meter defineres som lange kjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5321</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ÅDT-lang</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ÅDT_Total" type="integer">
            <annotation>
              <documentation>5322: ÅDT total.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5322</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ÅDT-total</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ÅDT_År" type="integer">
            <annotation>
              <documentation>12573: Angir hvilket år ÅDT-tall som er benyttet er fra.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12573</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ÅDT-år</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nedbøyning_SenterPlate" type="integer">
            <annotation>
              <documentation>5323: Nedbøyning midt under platen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5323</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Nedbøyning, senter plate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nedbøyning_20cm_Avstand" type="integer">
            <annotation>
              <documentation>5324: Nedbøyning i 20 centimeters avstand.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5324</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Nedbøyning, 20cm-avstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="platediameter_Fallodd" type="integer">
            <annotation>
              <documentation>5325: Diameter av falloddplate.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5325</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Platediameter, fallodd</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kraft" type="double">
            <annotation>
              <documentation>5326: Kraft ved bruk av fallodd.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5326</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kraft</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nødvendigForsterkning" type="integer">
            <annotation>
              <documentation>5327: Forsterkning som er nødvendig.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5327</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Nødvendig forsterkning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="svakhet" type="nvdb:SvakhetType">
            <annotation>
              <documentation>5328: Svakhet i bæreevne.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5328</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Svakhet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="SCI" type="integer">
            <annotation>
              <documentation>5329: Surface-kurvature-index.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5329</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">SCI</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>6892: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6892</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNedbøyningsmåleserie" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNedbøyningsmåleserie</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NedbøyningsmålingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Nedbøyningsmåling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="SporNedbøyningsmålingType">
    <annotation>
      <documentation>5299: Angir hvor nedbøyning er foretatt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5299</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5299</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spor</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SporNedbøyningsmålingEnumerationType nvdb:SporNedbøyningsmålingOtherType"/>
  </simpleType>
  <simpleType name="SporNedbøyningsmålingEnumerationType">
    <annotation>
      <documentation>5299: Angir hvor nedbøyning er foretatt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5299</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5299</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spor</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Y">
        <annotation>
          <documentation>7317: Ytre spor</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7317</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ytre spor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="M">
        <annotation>
          <documentation>7318: Mellom spor</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7318</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mellom spor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I">
        <annotation>
          <documentation>7319: Indre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7319</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Indre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SporNedbøyningsmålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SvakhetType">
    <annotation>
      <documentation>5328: Svakhet i bæreevne.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5328</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5328</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Svakhet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SvakhetEnumerationType nvdb:SvakhetOtherType"/>
  </simpleType>
  <simpleType name="SvakhetEnumerationType">
    <annotation>
      <documentation>5328: Svakhet i bæreevne.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5328</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5328</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Svakhet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="I dekke/bærelag">
        <annotation>
          <documentation>7327: I dekke/bærelag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7327</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I dekke/bærelag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I bærelag/forsterkningslag">
        <annotation>
          <documentation>7328: I bærelag/forsterkningslag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7328</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I bærelag/forsterkningslag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I Forsterkningslag/undergrunn">
        <annotation>
          <documentation>7329: I Forsterkningslag/undergrunn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7329</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I Forsterkningslag/undergrunn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SvakhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtstyrstypeNedbøyningsmålingType">
    <annotation>
      <documentation>5319: Angir hvilken type utstyr som er benyttet ved nedbøyningsmåling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5319</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5319</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utstyrstype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtstyrstypeNedbøyningsmålingEnumerationType nvdb:UtstyrstypeNedbøyningsmålingOtherType"/>
  </simpleType>
  <simpleType name="UtstyrstypeNedbøyningsmålingEnumerationType">
    <annotation>
      <documentation>5319: Angir hvilken type utstyr som er benyttet ved nedbøyningsmåling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5319</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5319</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utstyrstype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Dynaflect">
        <annotation>
          <documentation>7323: Dynaflect</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7323</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dynaflect</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fallodd">
        <annotation>
          <documentation>7324: Fallodd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7324</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fallodd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lacroix">
        <annotation>
          <documentation>7325: Lacroix</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7325</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lacroix</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Benkelmann">
        <annotation>
          <documentation>7326: Benkelmann</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7326</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Benkelmann</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TSD">
        <annotation>
          <documentation>19006: Vogntogbasert utstyr for å måle nedbøyningshastighet, som videre omregnes til nedbøyning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19006</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TSD</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Raptor">
        <annotation>
          <documentation>21719: Raptor</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21719</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Raptor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtstyrstypeNedbøyningsmålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
