GML/595.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Motorveg" substitutionGroup="nvdb:AbstraktMotorveg" type="nvdb:MotorvegType">
    <annotation>
      <documentation>595: Strekninger som har vedtatt status motorveg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">595</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">595</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Motorveg</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="MotorvegType">
    <complexContent>
      <extension base="nvdb:AbstraktMotorvegType">
        <sequence>
          <element name="motorvegtype" type="nvdb:MotorvegtypeType">
            <annotation>
              <documentation>5378: Angir hvilken type motorveg det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5378</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Motorvegtype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedtaksnummer" type="string">
            <annotation>
              <documentation>5376: Angir vedtaksnummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5376</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedtaksnummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer" type="string">
            <annotation>
              <documentation>9485: Gir referanse til relevant sak i vegeiers arkivsystem.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9485</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Arkivnummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6908: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6908</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MotorvegPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Motorveg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MotorvegtypeType">
    <annotation>
      <documentation>5378: Angir hvilken type motorveg det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5378</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5378</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Motorvegtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MotorvegtypeEnumerationType nvdb:MotorvegtypeOtherType"/>
  </simpleType>
  <simpleType name="MotorvegtypeEnumerationType">
    <annotation>
      <documentation>5378: Angir hvilken type motorveg det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5378</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5378</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Motorvegtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="motorveg">
        <annotation>
          <documentation>7355: Motorveg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7355</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Motorveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="motortrafikkveg">
        <annotation>
          <documentation>7356: Motortrafikkveg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7356</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Motortrafikkveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MotorvegtypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
