GML/595.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>595: Strekninger som har vedtatt status motorveg.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Motorveg"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:MotorvegType">
      <annotation>
         <documentation>595: Strekninger som har vedtatt status motorveg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">595</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Motorveg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="MotorvegType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="motorvegtype" type="nvdb:MotorvegtypeMotorvegType">
                  <annotation>
                     <documentation>5378: Angir hvilken type motorveg det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5378</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Motorvegtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vedtaksnummer" type="string">
                  <annotation>
                     <documentation>5376: Angir vedtaksnummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5376</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedtaksnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="arkivnummer" type="string">
                  <annotation>
                     <documentation>9485: Gir referanse til relevant sak i vegeiers arkivsystem.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9485</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>6908: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6908</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="MotorvegPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Motorveg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MotorvegtypeMotorvegType">
      <annotation>
         <documentation>5378: Angir hvilken type motorveg det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5378</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Motorvegtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MotorvegtypeMotorvegEnumerationType nvdb:MotorvegtypeMotorvegOtherType"/>
   </simpleType>
   <simpleType name="MotorvegtypeMotorvegEnumerationType">
      <annotation>
         <documentation>5378: Angir hvilken type motorveg det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5378</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Motorvegtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="MTV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7356</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Motortrafikkveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7355</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Motorveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MotorvegtypeMotorvegOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
