GML/596.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>596: Strekninger som har vedtatt status forkjørsveg. Tidligere register 38-Forkjørsveg i VDB.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Forkjørsveg"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:ForkjørsvegType">
      <annotation>
         <documentation>596: Strekninger som har vedtatt status forkjørsveg. Tidligere register 38-Forkjørsveg i VDB.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">596</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forkjørsveg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="ForkjørsvegType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="vedtaksnummer" type="string">
                  <annotation>
                     <documentation>5379: Angir vedtaksnummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5379</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedtaksnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vedtaksdato" type="date">
                  <annotation>
                     <documentation>5380: Angir vedtaksdato.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5380</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedtaksdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivnummer" type="string">
                  <annotation>
                     <documentation>12676: Gir referanse til relevant sak i vegeiers arkivsystem.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12676</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11469: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11469</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>6836: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6836</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ForkjørsvegPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Forkjørsveg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
