GML/596.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Forkjørsveg" substitutionGroup="nvdb:AbstraktForkjørsveg" type="nvdb:ForkjørsvegType">
    <annotation>
      <documentation>596: Strekninger som har vedtatt status forkjørsveg.  Tidligere register 38-Forkjørsveg i VDB</documentation>
    </annotation>
  </element>
  <complexType name="ForkjørsvegType">
    <complexContent>
      <extension base="nvdb:AbstraktForkjørsvegType">
        <sequence>
          <element minOccurs="0" name="vedtaksnummer" type="string">
            <annotation>
              <documentation>5379: Angir vedtaksnummer</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedtaksdato" type="date">
            <annotation>
              <documentation>5380: Angir vedtaksdato</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11469: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6836: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ForkjørsvegPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Forkjørsveg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
