GML/598.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>598: Landskapsbelastning. Tidligere register 42- Landskap i VDB.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BelastningselementLandskapsbelastning (Historisk)Type">
      <annotation>
         <documentation>5461: Angir belastningselement.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5461</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belastningselement</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelastningselementLandskapsbelastning (Historisk)EnumerationType nvdb:BelastningselementLandskapsbelastning (Historisk)OtherType"/>
   </simpleType>
   <simpleType name="BelastningselementLandskapsbelastning (Historisk)EnumerationType">
      <annotation>
         <documentation>5461: Angir belastningselement.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5461</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belastningselement</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7384</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Konstruksjoner</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7382</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Linjeføring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NO">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7386</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nære omgivelser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7383</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tverrsnitt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7385</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utstyr</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelastningselementLandskapsbelastning (Historisk)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BelastningsgradLandskapsbelastning (Historisk)Type">
      <annotation>
         <documentation>5460: Angir belastningsgrad.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5460</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belastningsgrad</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelastningsgradLandskapsbelastning (Historisk)EnumerationType nvdb:BelastningsgradLandskapsbelastning (Historisk)OtherType"/>
   </simpleType>
   <simpleType name="BelastningsgradLandskapsbelastning (Historisk)EnumerationType">
      <annotation>
         <documentation>5460: Angir belastningsgrad.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5460</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belastningsgrad</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7380</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belastning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9111</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen belastning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7381</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Positiv virkning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7379</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stor belastning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelastningsgradLandskapsbelastning (Historisk)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BelastningstypeLandskapsbelastning (Historisk)Type">
      <annotation>
         <documentation>5459: Angir belastningstype.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5459</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belastningstype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelastningstypeLandskapsbelastning (Historisk)EnumerationType nvdb:BelastningstypeLandskapsbelastning (Historisk)OtherType"/>
   </simpleType>
   <simpleType name="BelastningstypeLandskapsbelastning (Historisk)EnumerationType">
      <annotation>
         <documentation>5459: Angir belastningstype.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5459</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belastningstype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="KP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7377</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Krysser passeringsområder for fauna</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7376</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Langs sjø/vann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ø">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7378</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Øvrige</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelastningstypeLandskapsbelastning (Historisk)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Landskapsbelastning (Historisk)"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Landskapsbelastning (Historisk)Type">
      <annotation>
         <documentation>598: Landskapsbelastning. Tidligere register 42- Landskap i VDB.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">598</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Landskapsbelastning (Historisk)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Landskapsbelastning (Historisk)Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0"
                        name="landskapstema"
                        type="nvdb:LandskapstemaLandskapsbelastning (Historisk)Type">
                  <annotation>
                     <documentation>5457: Angir landskapstema.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5457</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Landskapstema</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="landskapsansvarlig" type="string">
                  <annotation>
                     <documentation>5458: Angir hvem som er landskapsansvarlig. Det skal angis organisasjon/organisasjonsenhet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5458</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Landskapsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="belastningstype"
                        type="nvdb:BelastningstypeLandskapsbelastning (Historisk)Type">
                  <annotation>
                     <documentation>5459: Angir belastningstype.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5459</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belastningstype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="belastningsgrad"
                        type="nvdb:BelastningsgradLandskapsbelastning (Historisk)Type">
                  <annotation>
                     <documentation>5460: Angir belastningsgrad.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5460</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belastningsgrad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="belastningselement"
                        type="nvdb:BelastningselementLandskapsbelastning (Historisk)Type">
                  <annotation>
                     <documentation>5461: Angir belastningselement.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5461</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belastningselement</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="beskrivelse" type="string">
                  <annotation>
                     <documentation>7066: Gir beskrivelse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7066</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Landskapsbelastning (Historisk)PropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Landskapsbelastning (Historisk)"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="LandskapstemaLandskapsbelastning (Historisk)Type">
      <annotation>
         <documentation>5457: Angir landskapstema.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5457</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Landskapstema</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LandskapstemaLandskapsbelastning (Historisk)EnumerationType nvdb:LandskapstemaLandskapsbelastning (Historisk)OtherType"/>
   </simpleType>
   <simpleType name="LandskapstemaLandskapsbelastning (Historisk)EnumerationType">
      <annotation>
         <documentation>5457: Angir landskapstema.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5457</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Landskapstema</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7374</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kulturmiljø</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7372</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Landskapsbilde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7373</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturmiljø</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7375</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Samlet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LandskapstemaLandskapsbelastning (Historisk)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
