GML/599.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>599: Landskapsproblemnivå. Tidligere register 42-Landskap i VDB.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Landskapsproblemnivå (Historisk)"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Landskapsproblemnivå (Historisk)Type">
      <annotation>
         <documentation>599: Landskapsproblemnivå. Tidligere register 42-Landskap i VDB.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">599</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Landskapsproblemnivå (Historisk)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Landskapsproblemnivå (Historisk)Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0"
                        name="landskapstema"
                        type="nvdb:LandskapstemaLandskapsproblemnivå (Historisk)Type">
                  <annotation>
                     <documentation>5462: Angir landskapstema.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5462</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Landskapstema</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="problemverdi"
                        type="nvdb:ProblemverdiLandskapsproblemnivå (Historisk)Type">
                  <annotation>
                     <documentation>5463: Angir problemverdi.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5463</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Problemverdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Landskapsproblemnivå (Historisk)PropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Landskapsproblemnivå (Historisk)"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="LandskapstemaLandskapsproblemnivå (Historisk)Type">
      <annotation>
         <documentation>5462: Angir landskapstema.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5462</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Landskapstema</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LandskapstemaLandskapsproblemnivå (Historisk)EnumerationType nvdb:LandskapstemaLandskapsproblemnivå (Historisk)OtherType"/>
   </simpleType>
   <simpleType name="LandskapstemaLandskapsproblemnivå (Historisk)EnumerationType">
      <annotation>
         <documentation>5462: Angir landskapstema.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5462</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Landskapstema</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7389</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kulturmiljø</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7387</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Landskapsbilde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7388</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturmiljø</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7390</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Samlet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LandskapstemaLandskapsproblemnivå (Historisk)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ProblemverdiLandskapsproblemnivå (Historisk)Type">
      <annotation>
         <documentation>5463: Angir problemverdi.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5463</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Problemverdi</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ProblemverdiLandskapsproblemnivå (Historisk)EnumerationType nvdb:ProblemverdiLandskapsproblemnivå (Historisk)OtherType"/>
   </simpleType>
   <simpleType name="ProblemverdiLandskapsproblemnivå (Historisk)EnumerationType">
      <annotation>
         <documentation>5463: Angir problemverdi.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5463</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Problemverdi</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="IP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7391</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Intet problem</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7392</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lite problem</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7393</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Problem</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7394</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stort problem</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ProblemverdiLandskapsproblemnivå (Historisk)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
