GML/601.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>601: Gir informasjon om oppgraving. Tidligere register 16 i VDB.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Oppgravingsdata"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:OppgravingsdataType">
      <annotation>
         <documentation>601: Gir informasjon om oppgraving. Tidligere register 16 i VDB.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">601</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppgravingsdata</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="OppgravingsdataType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="oppgravingsdato" type="date">
                  <annotation>
                     <documentation>9138: Angir dato for oppgraving.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9138</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Oppgravingsdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="signatur" type="string">
                  <annotation>
                     <documentation>9139: Angir hvem som er ansvarlig for data.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9139</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Signatur</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>6889: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6889</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="OppgravingsdataPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Oppgravingsdata"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
