GML/602.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>602: Gir informasjon om hvert lag i en oppgraving. Tidligere register 16 i VDB.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="Bæreevnegruppe_Material_UndergrunnOppgravingslagType">
      <annotation>
         <documentation>5470: Angir bæreevnegruppe/materialbetegnelse i undergrunn.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5470</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bæreevnegruppe, material,  undergrunn</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Bæreevnegruppe_Material_UndergrunnOppgravingslagEnumerationType nvdb:Bæreevnegruppe_Material_UndergrunnOppgravingslagOtherType"/>
   </simpleType>
   <simpleType name="Bæreevnegruppe_Material_UndergrunnOppgravingslagEnumerationType">
      <annotation>
         <documentation>5470: Angir bæreevnegruppe/materialbetegnelse i undergrunn.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5470</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bæreevnegruppe, material,  undergrunn</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7438</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I - Fjell, steinfylling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="II">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7439</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">II - Grus, sand, velgradert, Cu&gt;10</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="III">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7440</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">III - Sand ensgradert, Cu&lt;10</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7441</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">IV - Grus, sand, morene, med litt finstoff T2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7442</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">V - Grus, sand, morene, med mye finstoff T3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VI">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7443</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VI - Silt, leire T4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VII">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7444</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VII - Myr, torv</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VIII">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7445</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VIII - Bark</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Bæreevnegruppe_Material_UndergrunnOppgravingslagOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Materialbetegnelse_OverbygningOppgravingslagType">
      <annotation>
         <documentation>5469: Angir materialbetegnelse i overbygning. Refererer til HB R211 (015) tabell 15.431-2.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5469</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialbetegnelse, overbygning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Materialbetegnelse_OverbygningOppgravingslagEnumerationType nvdb:Materialbetegnelse_OverbygningOppgravingslagOtherType"/>
   </simpleType>
   <simpleType name="Materialbetegnelse_OverbygningOppgravingslagEnumerationType">
      <annotation>
         <documentation>5469: Angir materialbetegnelse i overbygning. Refererer til HB R211 (015) tabell 15.431-2.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5469</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialbetegnelse, overbygning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7403</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">01 - Betongdekke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7404</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">02 - Asfaltdekke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ag">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7405</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">03 - Asfaltert grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Otta">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7406</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">04 - Ottadekke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="As">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7407</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">05 - Asfaltert sand</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ap">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7408</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">06 - Asfaltert pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Cpm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7409</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">07 - Sementbunden pukk, magerbetong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Og">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7410</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">08 - Oljegrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Pp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7411</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">09 - Penetrert pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7412</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10 - Forkilt pukk, sandf. Pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Blg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7413</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11 - Bærelag grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Flg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7414</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12 - Forsterkningslag sand, grus, sams masse, kult, stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7415</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">13 - T2-materialer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7416</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">14 - T3-materialer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ka">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7417</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">15 - Krakelert asfaltdekke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kog">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7418</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">16 - Krakelert oljegrus, ottadekke, asfaltløsninggrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bst">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7419</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">17 - Brostein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Iso">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7420</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">18 - Isolasjonsplater</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Brk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7421</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">19 - Bark</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Asg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7436</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt skumgrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Alg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7432</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltløsningsrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bsg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7422</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bitumenstab. grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Do">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7424</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dobbel overflatebehandling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Dog">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7425</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dobbel overflatebehandling m/grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Da">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7435</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Drensasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Eg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7426</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emulsjons grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Egd">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7427</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emulsjons grus, drenerende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Egt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7428</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emulsjons grus, tett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ep">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7431</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emulsjons pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Eo">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7429</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enkel overflate behandling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Eog">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7430</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enkel overflatebehandling m/grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ga">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7437</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gjenbruksasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Mad">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7434</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Myk drensasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ma">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7433</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mykasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Cg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7423</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sementstab. grus/pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Materialbetegnelse_OverbygningOppgravingslagOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Oppgravingslag"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:OppgravingslagType">
      <annotation>
         <documentation>602: Gir informasjon om hvert lag i en oppgraving. Tidligere register 16 i VDB.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">602</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppgravingslag</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="OppgravingslagType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="analysedato" type="date">
                  <annotation>
                     <documentation>5471: Angir hvilken dato bæreevneanalyse ble utført.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5471</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Analysedato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="signatur" type="string">
                  <annotation>
                     <documentation>9146: Angir initialer til person som har lagt inn informasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9146</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Signatur</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lagtykkelse" type="integer">
                  <annotation>
                     <documentation>5468: Angir lagtykkelse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5468</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lagtykkelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="materialbetegnelse_Overbygning">
                  <annotation>
                     <documentation>5469: Angir materialbetegnelse i overbygning. Refererer til HB R211 (015) tabell 15.431-2.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5469</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialbetegnelse, overbygning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bæreevnegruppe_Material_Undergrunn">
                  <annotation>
                     <documentation>5470: Angir bæreevnegruppe/materialbetegnelse i undergrunn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5470</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bæreevnegruppe, material,  undergrunn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="prøvenummer"
                        type="nvdb:PrøvenummerOppgravingslagType">
                  <annotation>
                     <documentation>9142: Angir prøvenummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9142</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prøvenummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="jordart" type="string">
                  <annotation>
                     <documentation>9184: Angir jordart.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9184</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Jordart</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="materialeUnder63Mikrometer" type="double">
                  <annotation>
                     <documentation>9137: Angir andel materiale med kornstørrelse &lt; 63 µm. Benevnes også vannfølsomhet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9137</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale &lt; 63 µm</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="materialeUnder20Mikrometer" type="double">
                  <annotation>
                     <documentation>8753: Angir andel materiale med kornstørrelse &lt; 20 µm. Benevnes også finstoffinnhold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8753</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale &lt; 20 µm</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="humusinnhold" type="double">
                  <annotation>
                     <documentation>10250: Innhold av organisk materiale i en jord-/grusprøve. Humus: Finfordelte, delvis nedbrutte plante- og dyrerester i jord- og steinmaterialer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10250</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Humusinnhold</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="telegruppe"
                        type="nvdb:TelegruppeOppgravingslagType">
                  <annotation>
                     <documentation>9144: Angir telegruppe.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9144</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Telegruppe</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="graderingstall_Cu" type="double">
                  <annotation>
                     <documentation>9145: Forholdet mellom kornstørrelsene (d), normalt ved 60 % og 10 % gjennomgang i en kornkurve, dvs. Cu=d60/d10.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9145</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Graderingstall (Cu)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>9185: Tilleggsinformasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9185</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lagnummer" type="string">
                  <annotation>
                     <documentation>5467: Angir sorteringsrekkefølge for gitt lag. Det skal være stigende lagnummer fra nederst til øverst innenfor en oppgravingsprøve, dvs. øverste vegdekke skal ha høyest lagnummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5467</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lagnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>6890: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6890</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="OppgravingslagPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Oppgravingslag"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="PrøvenummerOppgravingslagType">
      <annotation>
         <documentation>9142: Angir prøvenummer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9142</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Prøvenummer</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PrøvenummerOppgravingslagEnumerationType nvdb:PrøvenummerOppgravingslagOtherType"/>
   </simpleType>
   <simpleType name="PrøvenummerOppgravingslagEnumerationType">
      <annotation>
         <documentation>9142: Angir prøvenummer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9142</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Prøvenummer</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12198</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12207</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12199</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12200</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12201</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12202</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12203</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12204</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12205</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12206</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PrøvenummerOppgravingslagOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TelegruppeOppgravingslagType">
      <annotation>
         <documentation>9144: Angir telegruppe.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9144</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Telegruppe</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TelegruppeOppgravingslagEnumerationType nvdb:TelegruppeOppgravingslagOtherType"/>
   </simpleType>
   <simpleType name="TelegruppeOppgravingslagEnumerationType">
      <annotation>
         <documentation>9144: Angir telegruppe.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9144</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Telegruppe</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="T1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12222</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12223</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12224</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12225</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TelegruppeOppgravingslagOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
