GML/602.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="Bæreevnegruppe_Material_UndergrunnType">
    <annotation>
      <documentation>5470: Angir bæreevnegruppe/materialbetegnelse i undergrunn.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5470</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5470</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bæreevnegruppe, material,  undergrunn</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Bæreevnegruppe_Material_UndergrunnEnumerationType nvdb:Bæreevnegruppe_Material_UndergrunnOtherType"/>
  </simpleType>
  <simpleType name="Bæreevnegruppe_Material_UndergrunnEnumerationType">
    <annotation>
      <documentation>5470: Angir bæreevnegruppe/materialbetegnelse i undergrunn.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5470</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5470</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bæreevnegruppe, material,  undergrunn</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="I - Fjell, steinfylling">
        <annotation>
          <documentation>7438: Fjell, steinfylling.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7438</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I - Fjell, steinfylling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="II - Grus, sand, velgradert, Cu&gt;10">
        <annotation>
          <documentation>7439: Grus, sand, velgradert (Cu&gt;10). Telegruppe = T1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7439</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">II - Grus, sand, velgradert, Cu&gt;10</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="III - Sand ensgradert, Cu&lt;10">
        <annotation>
          <documentation>7440: Sand ensgradert. Cu mindre enn 10. Telegruppe T1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7440</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">III - Sand ensgradert, Cu&lt;10</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IV - Grus, sand, morene, med litt finstoff T2">
        <annotation>
          <documentation>7441: Grus, sand, morene: litt finstoff. Telegruppe = T2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7441</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IV - Grus, sand, morene, med litt finstoff T2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="V - Grus, sand, morene, med mye finstoff T3">
        <annotation>
          <documentation>7442: Grus, sand, morene: mye finstoff. Telegruppe = T3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7442</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">V - Grus, sand, morene, med mye finstoff T3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VI - Silt, leire T4">
        <annotation>
          <documentation>7443: Silt, leire. Telegruppe = T4.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7443</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VI - Silt, leire T4</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VII - Myr, torv">
        <annotation>
          <documentation>7444: Myr, torv.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7444</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VII - Myr, torv</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VIII - Bark">
        <annotation>
          <documentation>7445: Bark .</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7445</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VIII - Bark</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Bæreevnegruppe_Material_UndergrunnOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Materialbetegnelse_OverbygningType">
    <annotation>
      <documentation>5469: Angir materialbetegnelse i overbygning. Refererer til HB R211 (015) tabell 15.431-2.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5469</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5469</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialbetegnelse, overbygning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Materialbetegnelse_OverbygningEnumerationType nvdb:Materialbetegnelse_OverbygningOtherType"/>
  </simpleType>
  <simpleType name="Materialbetegnelse_OverbygningEnumerationType">
    <annotation>
      <documentation>5469: Angir materialbetegnelse i overbygning. Refererer til HB R211 (015) tabell 15.431-2.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5469</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5469</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialbetegnelse, overbygning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="01 - Betongdekke">
        <annotation>
          <documentation>7403: 01 - Betongdekke. Materialkoeffisient = 3,0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7403</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">01 - Betongdekke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="02 - Asfaltdekke">
        <annotation>
          <documentation>7404: 02 - Asfaltdekke. Materialkoeffisient = 3,0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7404</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">02 - Asfaltdekke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="03 - Asfaltert grus">
        <annotation>
          <documentation>7405: 03 - Asfaltert grus. Materialkoeffisient = 3,0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7405</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">03 - Asfaltert grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="04 - Ottadekke">
        <annotation>
          <documentation>7406: 04 - Ottadekke. Materialkoeffisient = 1,50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7406</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">04 - Ottadekke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="05 - Asfaltert sand">
        <annotation>
          <documentation>7407: 05 - Asfaltert sand. Materialkoeffisient = 2,0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7407</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">05 - Asfaltert sand</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="06 - Asfaltert pukk">
        <annotation>
          <documentation>7408: 06 - Asfaltert pukk. Materialkoeffisient = 2,0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7408</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">06 - Asfaltert pukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="07 - Sementbunden pukk, magerbetong">
        <annotation>
          <documentation>7409: 07 - Sementbunden pukk magerbetong 2,25.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7409</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">07 - Sementbunden pukk, magerbetong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="08 - Oljegrus">
        <annotation>
          <documentation>7410: 08 - Oljegrus. Materialkoeffisient = 1,25.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7410</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">08 - Oljegrus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="09 - Penetrert pukk">
        <annotation>
          <documentation>7411: 09 - Penetrert pukk. Materialkoeffisient = 1,50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7411</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">09 - Penetrert pukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10 - Forkilt pukk, sandf. Pukk">
        <annotation>
          <documentation>7412: 10 - Forkilt pukk, sandf. pukk. Materialkoeffisient = 1,25. Telegruppe = T1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7412</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">10 - Forkilt pukk, sandf. Pukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="11 - Bærelag grus">
        <annotation>
          <documentation>7413: 11 - Bærelag grus. Materialkoeffisient = 1,25T1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7413</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">11 - Bærelag grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="12 - Forsterkningslag sand, grus, sams masse, kult, stein">
        <annotation>
          <documentation>7414: 12 - Forsterkningslag sand, grus, sams masse, kult, stein. Materialkoeffisient = 1,0. Telegruppe = T1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7414</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">12 - Forsterkningslag sand, grus, sams masse, kult, stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="13 - T2-materialer">
        <annotation>
          <documentation>7415: 13 -T2-materialer. Materialkoeffisient = 0,75. Telegruppe = T2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7415</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">13 - T2-materialer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="14 - T3-materialer">
        <annotation>
          <documentation>7416: 14 - T3-materialer. Materialkoeffisient = 0,50. Telegruppe = T3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7416</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">14 - T3-materialer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="15 - Krakelert asfaltdekke">
        <annotation>
          <documentation>7417: 15 - Krakelert asfaltdekke. Materialkoeffisient = 1,50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7417</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">15 - Krakelert asfaltdekke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="16 - Krakelert oljegrus, ottadekke, asfaltløsninggrus">
        <annotation>
          <documentation>7418: 16 - Krakelert oljegrus ottadekke, asfaltløsninggrus. Materialkoeffisient = 1,25.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7418</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">16 - Krakelert oljegrus, ottadekke, asfaltløsninggrus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="17 - Brostein">
        <annotation>
          <documentation>7419: 17 - Brostein. Materialkoeffisient = 1,25.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7419</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">17 - Brostein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="18 - Isolasjonsplater">
        <annotation>
          <documentation>7420: 18 - Isolasjonsplater. Materialkoeffisient = 0,50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7420</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">18 - Isolasjonsplater</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="19 - Bark">
        <annotation>
          <documentation>7421: 19 - Bark. Materialkoeffisient = 0,00.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7421</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">19 - Bark</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bitumenstab. grus">
        <annotation>
          <documentation>7422: Bitumenstabilisert grus. Materialkoeffisient = 1,50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7422</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bitumenstab. grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sementstab. grus/pukk">
        <annotation>
          <documentation>7423: Sementstabilisert grus/pukk. Materialkoeffisient = 2,25.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7423</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sementstab. grus/pukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dobbel overflatebehandling">
        <annotation>
          <documentation>7424: Dobbel overflatebehandling. Materialkoeffisient = 1,25.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7424</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dobbel overflatebehandling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dobbel overflatebehandling m/grus">
        <annotation>
          <documentation>7425: Dobbel overflatebehandling m/grus. Materialkoeffisient =1,50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7425</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dobbel overflatebehandling m/grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Emulsjons grus">
        <annotation>
          <documentation>7426: Emulsjons grus. Materialkoeffisient = 1,75.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7426</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Emulsjons grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Emulsjons grus, drenerende">
        <annotation>
          <documentation>7427: Emulsjons grus, drenerende. Materialkoeffisient = 1,25.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7427</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Emulsjons grus, drenerende</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Emulsjons grus, tett">
        <annotation>
          <documentation>7428: Emulsjons grus, tett. Materialkoeffisient = 1,50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7428</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Emulsjons grus, tett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Enkel overflate behandling">
        <annotation>
          <documentation>7429: Enkel overflate behandling. Materialkoeffisient = 1,25.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7429</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Enkel overflate behandling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Enkel overflatebehandling m/grus">
        <annotation>
          <documentation>7430: Enkel overflatebehandling m/grus. Materialkoeffisient = 1,50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7430</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Enkel overflatebehandling m/grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Emulsjons pukk">
        <annotation>
          <documentation>7431: Emulsjons pukk. Materialkoeffisient = 1,75.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7431</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Emulsjons pukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltløsningsrus">
        <annotation>
          <documentation>7432: Asfaltløsningsrus. Materialkoeffisient = 1,50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7432</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltløsningsrus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mykasfalt">
        <annotation>
          <documentation>7433: Mykasfalt. Materialkoeffisient = 1,50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7433</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mykasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Myk drensasfalt">
        <annotation>
          <documentation>7434: Myk drensasfalt. Materialkoeffisient = 1,25.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7434</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Myk drensasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Drensasfalt">
        <annotation>
          <documentation>7435: Drensasfalt. Materialkoeffisient = 2,00.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7435</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drensasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfalt skumgrus">
        <annotation>
          <documentation>7436: Asfalt skumgrus. Materialkoeffisient = 1,75.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7436</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt skumgrus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gjenbruksasfalt">
        <annotation>
          <documentation>7437: Gjenbruks-asfalt. Materialkoeffisient = 1,50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7437</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjenbruksasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Materialbetegnelse_OverbygningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Oppgravingslag" substitutionGroup="nvdb:AbstraktOppgravingslag" type="nvdb:OppgravingslagType">
    <annotation>
      <documentation>602: Gir informasjon om hvert lag i en oppgraving. Tidligere register 16 i VDB.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">602</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">602</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppgravingslag</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="OppgravingslagType">
    <complexContent>
      <extension base="nvdb:AbstraktOppgravingslagType">
        <sequence>
          <element minOccurs="0" name="analysedato" type="date">
            <annotation>
              <documentation>5471: Angir hvilken dato bæreevneanalyse ble utført.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5471</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Analysedato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="signatur" type="string">
            <annotation>
              <documentation>9146: Angir initialer til person som har lagt inn informasjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9146</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Signatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lagtykkelse" type="integer">
            <annotation>
              <documentation>5468: Angir lagtykkelse.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5468</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lagtykkelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materialbetegnelse_Overbygning" type="nvdb:Materialbetegnelse_OverbygningType">
            <annotation>
              <documentation>5469: Angir materialbetegnelse i overbygning. Refererer til HB R211 (015) tabell 15.431-2.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5469</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materialbetegnelse, overbygning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bæreevnegruppe_Material_Undergrunn" type="nvdb:Bæreevnegruppe_Material_UndergrunnType">
            <annotation>
              <documentation>5470: Angir bæreevnegruppe/materialbetegnelse i undergrunn.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5470</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bæreevnegruppe, material,  undergrunn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prøvenummer" type="nvdb:PrøvenummerType">
            <annotation>
              <documentation>9142: Angir prøvenummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9142</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prøvenummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="jordart" type="string">
            <annotation>
              <documentation>9184: Angir jordart.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9184</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Jordart</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materialeUnder63Mikrometer" type="double">
            <annotation>
              <documentation>9137: Angir andel materiale med kornstørrelse &lt; 63 µm. Benevnes også vannfølsomhet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9137</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale &lt; 63 µm</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materialeUnder20Mikrometer" type="double">
            <annotation>
              <documentation>8753: Angir andel materiale med kornstørrelse &lt; 20 µm. Benevnes også finstoffinnhold.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8753</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale &lt; 20 µm</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="humusinnhold" type="double">
            <annotation>
              <documentation>10250: Innhold av organisk materiale i en jord-/grusprøve. Humus: Finfordelte, delvis nedbrutte plante- og dyrerester i jord- og steinmaterialer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10250</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Humusinnhold</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="telegruppe" type="nvdb:TelegruppeType">
            <annotation>
              <documentation>9144: Angir telegruppe.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9144</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Telegruppe</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="graderingstall_Cu" type="double">
            <annotation>
              <documentation>9145: Forholdet mellom kornstørrelsene (d), normalt ved 60 % og 10 % gjennomgang i en kornkurve, dvs. Cu=d60/d10.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9145</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Graderingstall (Cu)</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>9185: Tilleggsinformasjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9185</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lagnummer" type="string">
            <annotation>
              <documentation>5467: Angir sorteringsrekkefølge for gitt lag. Det skal være stigende lagnummer fra nederst til øverst innenfor en oppgravingsprøve, dvs. øverste vegdekke skal ha høyest lagnummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5467</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lagnummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>6890: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6890</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertOppgravingsdata" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktOppgravingsdata</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OppgravingslagPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Oppgravingslag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="PrøvenummerType">
    <annotation>
      <documentation>9142: Angir prøvenummer.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9142</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9142</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Prøvenummer</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PrøvenummerEnumerationType nvdb:PrøvenummerOtherType"/>
  </simpleType>
  <simpleType name="PrøvenummerEnumerationType">
    <annotation>
      <documentation>9142: Angir prøvenummer.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9142</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9142</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Prøvenummer</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>12198: 1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12198</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>12199: 2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12199</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>12200: 3</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12200</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>12201: 4</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12201</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>12202: 5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12202</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>12203: 6</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12203</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="7">
        <annotation>
          <documentation>12204: 7</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12204</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">7</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>12205: 8</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12205</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>12206: 9</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12206</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10">
        <annotation>
          <documentation>12207: 10</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">10</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PrøvenummerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TelegruppeType">
    <annotation>
      <documentation>9144: Angir telegruppe.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9144</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9144</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Telegruppe</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TelegruppeEnumerationType nvdb:TelegruppeOtherType"/>
  </simpleType>
  <simpleType name="TelegruppeEnumerationType">
    <annotation>
      <documentation>9144: Angir telegruppe.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9144</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9144</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Telegruppe</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="T1">
        <annotation>
          <documentation>12222: T1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12222</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T2">
        <annotation>
          <documentation>12223: T2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12223</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T3">
        <annotation>
          <documentation>12224: T3</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12224</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T4">
        <annotation>
          <documentation>12225: T4</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12225</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T4</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TelegruppeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
