GML/602.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="Bæreevnegruppe_MatrialUndergrType">
    <annotation>
      <documentation>5470: Angir bæreevnegruppe/materialbetegnelse i undergrunn.</documentation>
    </annotation>
    <union memberTypes="nvdb:Bæreevnegruppe_MatrialUndergrEnumerationType nvdb:Bæreevnegruppe_MatrialUndergrOtherType"/>
  </simpleType>
  <simpleType name="Bæreevnegruppe_MatrialUndergrEnumerationType">
    <annotation>
      <documentation>5470: Angir bæreevnegruppe/materialbetegnelse i undergrunn.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="i_Fjell_Steinfylling">
        <annotation>
          <documentation>7438: Fjell, steinfylling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="II_Grus_Sand_Velgradert_Cu_Over_10">
        <annotation>
          <documentation>7439: Grus, sand, velgradert (Cu&gt;10) .  Telegruppe = T1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="III_SandEnsgradert_Cu_Under_10">
        <annotation>
          <documentation>7440: Sand ensgradert (Cu&lt;10) .  Telegruppe = T1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IV_Grus_Sand_Morene_MedLittFinstoffT2">
        <annotation>
          <documentation>7441: Grus, sand, morene: litt finstoff.  Telegruppe = T2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="V_Grus_Sand_Morene_MedMyeFinstoffT3">
        <annotation>
          <documentation>7442: Grus, sand, morene: mye  finstoff.  Telegruppe =  T3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="VI_Silt_LeireT4">
        <annotation>
          <documentation>7443: Silt, leire.  Telegruppe = T4</documentation>
        </annotation>
      </enumeration>
      <enumeration value="VII_Myr_Torv">
        <annotation>
          <documentation>7444: Myr, torv</documentation>
        </annotation>
      </enumeration>
      <enumeration value="VIII_Bark">
        <annotation>
          <documentation>7445: Bark</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Bæreevnegruppe_MatrialUndergrOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Materialbetegnelse_OverbygningType">
    <annotation>
      <documentation>5469: Angir materialbetegnelse i overbygning.  Refererer til HB R211 (015) tabell 15.431-2</documentation>
    </annotation>
    <union memberTypes="nvdb:Materialbetegnelse_OverbygningEnumerationType nvdb:Materialbetegnelse_OverbygningOtherType"/>
  </simpleType>
  <simpleType name="Materialbetegnelse_OverbygningEnumerationType">
    <annotation>
      <documentation>5469: Angir materialbetegnelse i overbygning.  Refererer til HB R211 (015) tabell 15.431-2</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="01_Betongdekke">
        <annotation>
          <documentation>7403: 01 - Betongdekke.  Materialkoeffisient = 3,0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="02_Asfaltdekke">
        <annotation>
          <documentation>7404: 02 - Asfaltdekke.  Materialkoeffisient = 3,0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="03_AsfaltertGrus">
        <annotation>
          <documentation>7405: 03 - Asfaltert grus.  Materialkoeffisient = 3,0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04_Ottadekke">
        <annotation>
          <documentation>7406: 04 - Ottadekke.  Materialkoeffisient = 1,50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05_AsfaltertSand">
        <annotation>
          <documentation>7407: 05 - Asfaltert sand.  Materialkoeffisient = 2,0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="06_AsfaltertPukk">
        <annotation>
          <documentation>7408: 06 - Asfaltert pukk.  Materialkoeffisient = 2,0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="07_SementbundenPukk_Magerbetong">
        <annotation>
          <documentation>7409: 07 - Sementbunden pukk magerbetong  2,25</documentation>
        </annotation>
      </enumeration>
      <enumeration value="08_Oljegrus">
        <annotation>
          <documentation>7410: 08 - Oljegrus.  Materialkoeffisient = 1,25</documentation>
        </annotation>
      </enumeration>
      <enumeration value="09_PenetrertPukk">
        <annotation>
          <documentation>7411: 09 - Penetrert pukk.  Materialkoeffisient = 1,50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10_ForkiltPukk_SandfPukk">
        <annotation>
          <documentation>7412: 10 - Forkilt pukk, sandf. pukk.  Materialkoeffisient = 1,25.  Telegruppe = T1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11_BærelagGrus">
        <annotation>
          <documentation>7413: 11 - Bærelag grus.  Materialkoeffisient = 1,25T1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12_ForsterkningslagSand_Grus_SamsMasse_Kult_Stein">
        <annotation>
          <documentation>7414: 12 - Forsterkningslag sand, grus,sams masse,kult,stein.  Materialkoeffisient = 1,0.  Telegruppe = T1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13_T2_Materialer">
        <annotation>
          <documentation>7415: 13 -T2-materialer.  Materialkoeffisient = 0,75.  Telegruppe = T2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14_T3_Materialer">
        <annotation>
          <documentation>7416: 14 - T3-materialer.  Materialkoeffisient = 0,50.  Telegruppe = T3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="15_KrakelertAsfaltdekke">
        <annotation>
          <documentation>7417: 15 - Krakelert asfaltdekke.  Materialkoeffisient = 1,50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="16_KrakelertOljegrus_OttadekkeAsfaltløsninggrus">
        <annotation>
          <documentation>7418: 16 - Krakelert oljegrus ottadekke,asfaltløsninggrus.  Materialkoeffisient = 1,25</documentation>
        </annotation>
      </enumeration>
      <enumeration value="17_Brostein">
        <annotation>
          <documentation>7419: 17 - Brostein.  Materialkoeffisient = 1,25</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18_Isolasjonsplater">
        <annotation>
          <documentation>7420: 18 - Isolasjonsplater.  Materialkoeffisient = 0,50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="19_Bark">
        <annotation>
          <documentation>7421: 19 - Bark.  Materialkoeffisient = 0,00</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bitumenstabGrus">
        <annotation>
          <documentation>7422: Bitumenstabilisert grus.  Materialkoeffisient = 1,50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sementstabGrusPukk">
        <annotation>
          <documentation>7423: Sementstabilisert grus/pukk.  Materialkoeffisient = 2,25</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dobbelOverflatebehandling">
        <annotation>
          <documentation>7424: Dobbel overflatebehandling.  Materialkoeffisient = 1,25</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dobbelOverflatebehandlingMed_Grus">
        <annotation>
          <documentation>7425: Dobbel overflatebehandling m/grus.  Materialkoeffisient =1,50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="emulsjonsGrus">
        <annotation>
          <documentation>7426: Emulsjons grus.  Materialkoeffisient = 1,75</documentation>
        </annotation>
      </enumeration>
      <enumeration value="emulsjonsGrus_Drenerende">
        <annotation>
          <documentation>7427: Emulsjons grus, drenerende.  Materialkoeffisient = 1,25</documentation>
        </annotation>
      </enumeration>
      <enumeration value="emulsjonsGrus_Tett">
        <annotation>
          <documentation>7428: Emulsjons grus, tett.  Materialkoeffisient =  1,50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="enkelOverflateBehandl">
        <annotation>
          <documentation>7429: Enkel overflate behandling.  Materialkoeffisient = 1,25</documentation>
        </annotation>
      </enumeration>
      <enumeration value="enkelOverflatebehandlingMed_Grus">
        <annotation>
          <documentation>7430: Enkel overflatebehandling m/grus.  Materialkoeffisient = 1,50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="emulsjonsPukk">
        <annotation>
          <documentation>7431: Emulsjons pukk.  Materialkoeffisient = 1,75</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltløsningsrus">
        <annotation>
          <documentation>7432: Asfaltløsningsrus.  Materialkoeffisient = 1,50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mykasfalt">
        <annotation>
          <documentation>7433: Mykasfalt.  Materialkoeffisient = 1,50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mykDrensasfalt">
        <annotation>
          <documentation>7434: Myk drensasfalt.  Materialkoeffisient = 1,25</documentation>
        </annotation>
      </enumeration>
      <enumeration value="drensasfalt">
        <annotation>
          <documentation>7435: Drensasfalt.  Materialkoeffisient = 2,00</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltSkumgrus">
        <annotation>
          <documentation>7436: Asfalt skumgrus.  Materialkoeffisient = 1,75</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gjenbruksasfalt">
        <annotation>
          <documentation>7437: Gjenbruks-asfalt.  Materialkoeffisient = 1,50</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Materialbetegnelse_OverbygningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Oppgravingslag" substitutionGroup="nvdb:AbstraktOppgravingslag" type="nvdb:OppgravingslagType">
    <annotation>
      <documentation>602: Gir informasjon om hvert lag i en oppgraving.  Tidligere register 16 i VDB</documentation>
    </annotation>
  </element>
  <complexType name="OppgravingslagType">
    <complexContent>
      <extension base="nvdb:AbstraktOppgravingslagType">
        <sequence>
          <element minOccurs="0" name="analysedato" type="date">
            <annotation>
              <documentation>5471: Angir hvilken dato bæreevneanalyse ble utført</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="signatur" type="string">
            <annotation>
              <documentation>9146: Angir navn/initialer til person som har lagt inn informasjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lagtykkelse" type="integer">
            <annotation>
              <documentation>5468: Angir lagtykkelse
Enhet: Centimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="materialbetegnelse_Overbygning" type="nvdb:Materialbetegnelse_OverbygningType">
            <annotation>
              <documentation>5469: Angir materialbetegnelse i overbygning.  Refererer til HB R211 (015) tabell 15.431-2</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bæreevnegruppe_MatrialUndergr" type="nvdb:Bæreevnegruppe_MatrialUndergrType">
            <annotation>
              <documentation>5470: Angir bæreevnegruppe/materialbetegnelse i undergrunn.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prøvenummer" type="nvdb:PrøvenummerType">
            <annotation>
              <documentation>9142: Angir prøvenummer</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="jordart" type="string">
            <annotation>
              <documentation>9184: Angir jordart</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="materialeUnder63Mikrometer" type="double">
            <annotation>
              <documentation>9137: Angir andel materiale med kornstørrelse &lt; 63 µm. Benevnes også vannfølsomhet.
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="materialeUnder20Mikrometer" type="double">
            <annotation>
              <documentation>8753: Angir andel materiale med kornstørrelse &lt; 20 µm. Benevnes også finstoffinnhold.
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="humusinnhold" type="double">
            <annotation>
              <documentation>10250: Innhold av organisk materiale i en jord-/grusprøve. Humus: Finfordelte, delvis nedbrutte plante- og dyrerester i jord- og steinmaterialer.
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="telegruppe" type="nvdb:TelegruppeType">
            <annotation>
              <documentation>9144: Angir telegruppe</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="graderingstall_Cu" type="double">
            <annotation>
              <documentation>9145: Forholdet mellom kornstørrelsene (d), normalt ved 60 % og 10 % gjennomgang i en kornkurve, dvs. Cu=d60/d10.
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>9185: Tilleggsinformasjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lagnummer" type="string">
            <annotation>
              <documentation>5467: Angir sorteringsrekkefølge for gitt lag. Det skal være stigende lagnummer fra nederst til øverst innenfor en oppgravingsprøve, Dvs øverste vegdekke skal ha høyest lagnummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>6890: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OppgravingslagPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Oppgravingslag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="PrøvenummerType">
    <annotation>
      <documentation>9142: Angir prøvenummer</documentation>
    </annotation>
    <union memberTypes="nvdb:PrøvenummerEnumerationType nvdb:PrøvenummerOtherType"/>
  </simpleType>
  <simpleType name="PrøvenummerEnumerationType">
    <annotation>
      <documentation>9142: Angir prøvenummer</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>12198: 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>12199: 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>12200: 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>12201: 4</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>12202: 5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>12203: 6</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7">
        <annotation>
          <documentation>12204: 7</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>12205: 8</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>12206: 9</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10">
        <annotation>
          <documentation>12207: 10</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PrøvenummerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TelegruppeType">
    <annotation>
      <documentation>9144: Angir telegruppe</documentation>
    </annotation>
    <union memberTypes="nvdb:TelegruppeEnumerationType nvdb:TelegruppeOtherType"/>
  </simpleType>
  <simpleType name="TelegruppeEnumerationType">
    <annotation>
      <documentation>9144: Angir telegruppe</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="T1">
        <annotation>
          <documentation>12222: T1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T2">
        <annotation>
          <documentation>12223: T2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T3">
        <annotation>
          <documentation>12224: T3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T4">
        <annotation>
          <documentation>12225: T4</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TelegruppeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
