GML/603.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>603: Gir utstrekning av PMS-parsell.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="PMS-parsell"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:PMS-parsellType">
      <annotation>
         <documentation>603: Gir utstrekning av PMS-parsell.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">603</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">PMS-parsell</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="PMS-parsellType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="stedsangivelse_Fra_Til" type="string">
                  <annotation>
                     <documentation>5472: Angir stedsnavn for start og slutt av PMS-parsell. Rekkefølge som navnene settes i har ikke betydning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5472</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stedsangivelse, fra-til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>6913: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6913</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="PMS-parsellPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:PMS-parsell"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
