GML/604.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>604: En vegstrekning med krav til ulike parametre som gir definerte enhetlige vegnormalstrekninger. Tidligere register 40-Vegnormal i VDB. Tilstandsanalyse (TAV).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Vegnormalstrekning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:VegnormalstrekningType">
      <annotation>
         <documentation>604: En vegstrekning med krav til ulike parametre som gir definerte enhetlige vegnormalstrekninger. Tidligere register 40-Vegnormal i VDB. Tilstandsanalyse (TAV).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">604</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegnormalstrekning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VegnormalstrekningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="vegnormaldata" type="string">
                  <annotation>
                     <documentation>5473: Gir databuffer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5473</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegnormaldata</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>6914: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6914</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VegnormalstrekningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegnormalstrekning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
