GML/605.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>605: Gir informasjon om hvilke værstasjoner (tilhørende Meteorologisk institutt) gitt strekning er knyttet til.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Værrelatert strekning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Værrelatert strekningType">
      <annotation>
         <documentation>605: Gir informasjon om hvilke værstasjoner (tilhørende Meteorologisk institutt) gitt strekning er knyttet til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">605</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Værrelatert strekning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Værrelatert strekningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="værstasjon1" type="integer">
                  <annotation>
                     <documentation>5795: Angir værstasjon 1.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5795</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Værstasjon 1</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="værstasjon2" type="integer">
                  <annotation>
                     <documentation>5796: Angir Værstasjon 2.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5796</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Værstasjon 2</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11630: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11630</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>6915: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6915</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Værrelatert strekningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Værrelatert strekning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
