GML/607.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierVegsperringType">
    <annotation>
      <documentation>9498: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:EierVegsperringEnumerationType nvdb:EierVegsperringOtherType"/>
  </simpleType>
  <simpleType name="EierVegsperringEnumerationType">
    <annotation>
      <documentation>9498: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="StatensVegvesen">
        <annotation>
          <documentation>13378: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NyeVeier">
        <annotation>
          <documentation>18561: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>13379: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>13380: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>13381: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17619: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierVegsperringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FunksjonType">
    <annotation>
      <documentation>11542: Angir hvilken funksjon sperringen har</documentation>
    </annotation>
    <union memberTypes="nvdb:FunksjonEnumerationType nvdb:FunksjonOtherType"/>
  </simpleType>
  <simpleType name="FunksjonEnumerationType">
    <annotation>
      <documentation>11542: Angir hvilken funksjon sperringen har</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="betalingssperring">
        <annotation>
          <documentation>19674: Bom eller annen type vegsperring som kan åpnes ved betaling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bussluse">
        <annotation>
          <documentation>19675: Grop i vegen som hindrer biltrafikk. Tilgjengelig for buss (brede kjøretøy)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fjernstyrtSperring">
        <annotation>
          <documentation>19676: Bom eller annen type vegsperring som kan åpnes vha SMS, bombrikke, oppringning, vaktsentral e.l.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="låstSperring">
        <annotation>
          <documentation>19677: Bom eller annen type vegsperring som kan åpnes med nøkkel eller kode</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafikkavviser">
        <annotation>
          <documentation>19678: Stein, blokk, pullert, rørgelender eller andre vegsperringer som ikke kan flyttes eller åpnes uten verktøy eller store kjøretøyer.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ulåstSperring">
        <annotation>
          <documentation>19679: Bom eller annen type vegsperring som kan åpnes manuelt uten nøkkel eller kode</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FunksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegsperringType">
    <annotation>
      <documentation>7861: Angir hvilken type sperring det er tale om</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeVegsperringEnumerationType nvdb:TypeVegsperringOtherType"/>
  </simpleType>
  <simpleType name="TypeVegsperringEnumerationType">
    <annotation>
      <documentation>7861: Angir hvilken type sperring det er tale om</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="låstBom">
        <annotation>
          <documentation>9975: Bom på tvers av vegen.  I permanent låst posisjon.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rørgelender">
        <annotation>
          <documentation>9971: Rørgelender/trafikkgjerde plassert slik at det stenger for biltrafikk.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="steinblokk">
        <annotation>
          <documentation>9972: Steinblokker plassert slik at det stenger for biltrafikk.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="newJersey">
        <annotation>
          <documentation>9973: New Jersey-steiner o.l. plassert slik at det stenger for biltrafikk.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongkjegle">
        <annotation>
          <documentation>9970: Kjegle(r)/pullert(er) av betong plassert slik at det stenger for biltrafikk.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bussluse">
        <annotation>
          <documentation>9974: Grop i vegen som hindrer biltrafikk.  Tilgjengelig for buss (brede kjøretøy)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafikkavviser">
        <annotation>
          <documentation>11799: Stolper, steiner, blokker etc plassert i vegen eller i overgang mellom veg og fotgjengerareal for å stenge for biltrafikk (egen).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bilsperre">
        <annotation>
          <documentation>11800: Bilsperre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bomMedAutomatiskÅpner">
        <annotation>
          <documentation>13369: Bom som åpner seg automatisk på signal fra kjøretøy</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegsperringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegsperring" substitutionGroup="nvdb:AbstraktVegsperring" type="nvdb:VegsperringType">
    <annotation>
      <documentation>607: Angir at veg er fysisk sperret.</documentation>
    </annotation>
  </element>
  <complexType name="VegsperringType">
    <complexContent>
      <extension base="nvdb:AbstraktVegsperringType">
        <sequence>
          <element name="type" type="nvdb:TypeVegsperringType">
            <annotation>
              <documentation>7861: Angir hvilken type sperring det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="funksjon" type="nvdb:FunksjonType">
            <annotation>
              <documentation>11542: Angir hvilken funksjon sperringen har</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gjeldertidsrom" type="string">
            <annotation>
              <documentation>11543: Angir tidsrommet (hhmm-hhmm) eller (mnd-mnd) vegsperringen gjelder</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5478: Opplysning om spesielle forhold knyttet til fysisk sperring.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierVegsperringType">
            <annotation>
              <documentation>9498: Angir hvem som er eier av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>7930: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6837: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegsperringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegsperring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
