GML/608.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>608: Firma benyttet i forbindelse med dekkelegging eller oppbygging av vegkonstruksjonen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Entreprenør"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:EntreprenørType">
      <annotation>
         <documentation>608: Firma benyttet i forbindelse med dekkelegging eller oppbygging av vegkonstruksjonen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">608</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Entreprenør</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="EntreprenørType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="nummer" type="integer">
                  <annotation>
                     <documentation>5480: Internt nummer til entreprenør.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5480</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="navn" type="string">
                  <annotation>
                     <documentation>5481: Gir navn til entreprenørfirma.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5481</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>5482: Kan gi permanent merknad knyttet til entreprenør.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5482</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="EntreprenørPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Entreprenør"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
