GML/608.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Entreprenør" substitutionGroup="nvdb:AbstraktEntreprenør" type="nvdb:EntreprenørType">
    <annotation>
      <documentation>608: Firma benyttet i forbindelse med dekkelegging eller oppbygging av vegkonstruksjonen.</documentation>
    </annotation>
  </element>
  <complexType name="EntreprenørType">
    <complexContent>
      <extension base="nvdb:AbstraktEntreprenørType">
        <sequence>
          <element minOccurs="0" name="nummer" type="integer">
            <annotation>
              <documentation>5480: Internt nummer til entreprenør</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>5481: Gir navn til entreprenørfirma</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5482: Kan gi permanent merknad knyttet til entreprenør</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EntreprenørPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Entreprenør"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
