GML/609.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Armeringsnett" substitutionGroup="nvdb:AbstraktArmeringsnett" type="nvdb:ArmeringsnettType">
    <annotation>
      <documentation>609: Benyttes geoteknisk for å øke bæreevnen og som stabiliserende tiltak. Stålarmering kan benyttes for å hindre telesprekker i asfalt.</documentation>
    </annotation>
  </element>
  <complexType name="ArmeringsnettType">
    <complexContent>
      <extension base="nvdb:AbstraktArmeringsnettType">
        <sequence>
          <element minOccurs="0" name="materialtype" type="nvdb:MaterialtypeType">
            <annotation>
              <documentation>5483: Angir hvilket materiale armeringsnettet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="plassering" type="nvdb:PlasseringType">
            <annotation>
              <documentation>11321: Angir hvor i konstruksjonen armeringsnettet er plassert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>5484: Angir areal av område med armeringsnett
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Gjennomsnitt" type="double">
            <annotation>
              <documentation>7036: Angir gjennomsnittsbredde av armeringsnett
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utleggingsdato" type="date">
            <annotation>
              <documentation>5544: Angir dato for utlegging.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="budsjett" type="nvdb:BudsjettType">
            <annotation>
              <documentation>5540: Angir hvilket budsjett utlegging går over</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>11323: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>8751: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11328: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11150: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierArmeringsnettType">
            <annotation>
              <documentation>11322: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligArmeringsnettType">
            <annotation>
              <documentation>8118: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6906: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8898: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertEntreprenør" type="nvdb:AbstraktEntreprenørPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="nvdb:AbstraktTilstandSkade_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Strekning" type="nvdb:AbstraktTilstandSkadeFU_StrekningPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ArmeringsnettPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Armeringsnett"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="BudsjettType">
    <annotation>
      <documentation>5540: Angir hvilket budsjett utlegging går over</documentation>
    </annotation>
    <union memberTypes="nvdb:BudsjettEnumerationType nvdb:BudsjettOtherType"/>
  </simpleType>
  <simpleType name="BudsjettEnumerationType">
    <annotation>
      <documentation>5540: Angir hvilket budsjett utlegging går over</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="anlegg">
        <annotation>
          <documentation>7876: Anlegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vedlikehold">
        <annotation>
          <documentation>7877: Vedlikehold</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BudsjettOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierArmeringsnettType">
    <annotation>
      <documentation>11322: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierArmeringsnettEnumerationType nvdb:EierArmeringsnettOtherType"/>
  </simpleType>
  <simpleType name="EierArmeringsnettEnumerationType">
    <annotation>
      <documentation>11322: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>19130: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>19129: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19126: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>19127: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>19128: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>19131: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierArmeringsnettOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeType">
    <annotation>
      <documentation>5483: Angir hvilket materiale armeringsnettet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeEnumerationType nvdb:MaterialtypeOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeEnumerationType">
    <annotation>
      <documentation>5483: Angir hvilket materiale armeringsnettet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>7450: Glassfiber</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S">
        <annotation>
          <documentation>7451: Stål</documentation>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>7452: Plast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>19120: Metode med bakhun/bord. Ikke aktuell på nye anlegg.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringType">
    <annotation>
      <documentation>11321: Angir hvor i konstruksjonen armeringsnettet er plassert</documentation>
    </annotation>
    <union memberTypes="nvdb:PlasseringEnumerationType nvdb:PlasseringOtherType"/>
  </simpleType>
  <simpleType name="PlasseringEnumerationType">
    <annotation>
      <documentation>11321: Angir hvor i konstruksjonen armeringsnettet er plassert</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="underSlitelag">
        <annotation>
          <documentation>19121: Under slitelag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="underBindlag">
        <annotation>
          <documentation>19122: Under bindlag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="underBærelag">
        <annotation>
          <documentation>19123: Under bærelag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="underForsterkningslagPåTraubunn">
        <annotation>
          <documentation>19124: Under forsterkningslag/på traubunn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="underIFylling">
        <annotation>
          <documentation>19125: Under/i fylling</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligArmeringsnettType">
    <annotation>
      <documentation>8118: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligArmeringsnettEnumerationType nvdb:VedlikeholdsansvarligArmeringsnettOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligArmeringsnettEnumerationType">
    <annotation>
      <documentation>8118: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10512: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18775: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19973: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18904: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10590: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10668: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17756: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligArmeringsnettOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
