GML/611.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>611: Gir informasjon om sted langs vegnettet.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="KommunesenterStedsinformasjonType">
      <annotation>
         <documentation>5510: Angir kommunesenter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5510</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommunesenter</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KommunesenterStedsinformasjonEnumerationType nvdb:KommunesenterStedsinformasjonOtherType"/>
   </simpleType>
   <simpleType name="KommunesenterStedsinformasjonEnumerationType">
      <annotation>
         <documentation>5510: Angir kommunesenter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5510</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommunesenter</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7502</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7503</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KommunesenterStedsinformasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Stedsinformasjon"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:StedsinformasjonType">
      <annotation>
         <documentation>611: Gir informasjon om sted langs vegnettet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">611</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stedsinformasjon</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="StedsinformasjonType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="navn_Overordnet" type="string">
                  <annotation>
                     <documentation>5488: Stedsnavn som brukes for å beskrive et større geografisk område som inneholder andre mindre steder, f.eks. navn på region, fylke eller kommune.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5488</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn, overordnet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="navn_Detaljert" type="string">
                  <annotation>
                     <documentation>5487: Gir detaljert navn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5487</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn, detaljert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kommunesenter" type="nvdb:KommunesenterStedsinformasjonType">
                  <annotation>
                     <documentation>5510: Angir kommunesenter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5510</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kommunesenter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>5511: Gir merknad.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5511</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>6886: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6886</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="StedsinformasjonPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Stedsinformasjon"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
