GML/613.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BudsjettFilterlagType">
    <annotation>
      <documentation>5537: Angir hvilket budsjett utlegging går over.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5537</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5537</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BudsjettFilterlagEnumerationType nvdb:BudsjettFilterlagOtherType"/>
  </simpleType>
  <simpleType name="BudsjettFilterlagEnumerationType">
    <annotation>
      <documentation>5537: Angir hvilket budsjett utlegging går over.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5537</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5537</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Anlegg">
        <annotation>
          <documentation>7870: Anlegg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7870</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Anlegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vedlikehold">
        <annotation>
          <documentation>7871: Vedlikehold</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7871</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikehold</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BudsjettFilterlagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Filterlag" substitutionGroup="nvdb:AbstraktFilterlag" type="nvdb:FilterlagType">
    <annotation>
      <documentation>613: Lag av filtermateriale, normalt nederste lag i overbygningen mellom planum og forsterkningslaget (018)</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">613</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">613</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Filterlag</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FilterlagType">
    <complexContent>
      <extension base="nvdb:AbstraktFilterlagType">
        <sequence>
          <element minOccurs="0" name="tykkelse" type="integer">
            <annotation>
              <documentation>11240: Angir normal tykkelse av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11240</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tykkelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_GjSnitt" type="double">
            <annotation>
              <documentation>7037: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7037</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde, gj.snitt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="masseforbruk" type="integer">
            <annotation>
              <documentation>5546: Angir masseforbruk i kg/kvm.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5546</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Masseforbruk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utleggingsdato" type="date">
            <annotation>
              <documentation>5542: Angir dato for utlegging.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5542</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utleggingsdato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="budsjett" type="nvdb:BudsjettFilterlagType">
            <annotation>
              <documentation>5537: Angir hvilket budsjett utlegging går over.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5537</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5551: Gir permanent merknad.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5551</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11468: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11468</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12403: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12403</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6917: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6917</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8899: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8899</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FilterlagPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Filterlag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
