GML/614.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>614: Vedlikeholdstiltak for vegdekke, type fresing av vegdekke.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BudsjettVegdekke, fresingType">
      <annotation>
         <documentation>5534: Angir hvilket budsjett utlegging går over.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5534</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BudsjettVegdekke, fresingEnumerationType nvdb:BudsjettVegdekke, fresingOtherType"/>
   </simpleType>
   <simpleType name="BudsjettVegdekke, fresingEnumerationType">
      <annotation>
         <documentation>5534: Angir hvilket budsjett utlegging går over.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5534</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7864</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Anlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7865</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vedlikehold</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BudsjettVegdekke, fresingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegdekke, fresingType">
      <annotation>
         <documentation>5522: Angir hvilken type fresing det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5522</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeVegdekke, fresingEnumerationType nvdb:TypeVegdekke, fresingOtherType"/>
   </simpleType>
   <simpleType name="TypeVegdekke, fresingEnumerationType">
      <annotation>
         <documentation>5522: Angir hvilken type fresing det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5522</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="D">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7505</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dypfresing</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7504</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Planfresing</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegdekke, fresingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegdekke, fresing"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Vegdekke, fresingType">
      <annotation>
         <documentation>614: Vedlikeholdstiltak for vegdekke, type fresing av vegdekke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">614</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegdekke, fresing</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Vegdekke, fresingType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="tykkelse" type="integer">
                  <annotation>
                     <documentation>5521: Angir tykkelse av fresing.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5521</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tykkelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="type" type="nvdb:TypeVegdekke, fresingType">
                  <annotation>
                     <documentation>5522: Angir hvilken type fresing det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5522</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>5532: Angir gjennomsnittlig fresebredde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5532</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="fresingsdato" type="date">
                  <annotation>
                     <documentation>5545: Angir dato for fresing.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5545</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fresingsdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="budsjett"
                        type="nvdb:BudsjettVegdekke, fresingType">
                  <annotation>
                     <documentation>5534: Angir hvilket budsjett utlegging går over.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5534</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Budsjett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>5548: Gir permanent merknad.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5548</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>6903: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6903</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>8900: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8900</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Vegdekke, fresingPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegdekke, fresing"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
