GML/616.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>616: Strekning med enhetlig feltinndeling.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AdskilteLøpFeltstrekningType">
      <annotation>
         <documentation>12633: Angir om strekningen har så fysisk adskilte løp eller kjørebaner at disse håndteres hver for seg på vegtrasenivå i referansesystemet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12633</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adskilte løp</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AdskilteLøpFeltstrekningEnumerationType nvdb:AdskilteLøpFeltstrekningOtherType"/>
   </simpleType>
   <simpleType name="AdskilteLøpFeltstrekningEnumerationType">
      <annotation>
         <documentation>12633: Angir om strekningen har så fysisk adskilte løp eller kjørebaner at disse håndteres hver for seg på vegtrasenivå i referansesystemet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12633</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adskilte løp</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Med">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21830</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Med</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Mot">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21831</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mot</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21829</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uten</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AdskilteLøpFeltstrekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Feltstrekning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:FeltstrekningType">
      <annotation>
         <documentation>616: Strekning med enhetlig feltinndeling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">616</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Feltstrekning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FeltstrekningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="feltoversikt" type="string">
                  <annotation>
                     <documentation>12647: Angir total feltoversikt for gitt strekning. Hvert felt er separert med #-tegn. De enkelte feltkoder er relatert til vegens metreringsretning. Felt med oddetallskoder, f.eks. 1, 3, 5 osv. har trafikk med metreringsretningen. Felt med partallskoderfeltkoder, f.eks.  2, 4, 6 osv. har trafikk mot metreringsretningen. Kryssdeler, som f.eks. ramper, håndteres i sin helhet som en egen veg med egen feltkode.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12647</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Feltoversikt i metreringsretning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="feltoversikt" type="string">
                  <annotation>
                     <documentation>5528: Angir total feltoversikt for gitt strekning. Hvert felt er separert med #-tegn. De enkelte feltkoder er relatert til vegnettets veglenkeretning. Felt med oddetallskoder, f.eks. 1, 3, 5 osv. har trafikk med veglenkeretningen. Felt med partallskoder, f.eks. 2, 4, 6 osv. har trafikk mot veglenkeretningen. Kryssdeler, som f.eks. ramper, håndteres i sin helhet som en egen veg med egen feltkode.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5528</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Feltoversikt i veglenkeretning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="type" type="nvdb:TypeFeltstrekningType">
                  <annotation>
                     <documentation>12628: Angir hvilken type veg strekning kan karakteriseres som. Beregnes automatisk ut fra vegnettsinformasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12628</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallKjørefelt" type="integer">
                  <annotation>
                     <documentation>12629: Angir antall kjørefelt i vegens tverrsnitt inkludert kollektivfelt. Svingefelt, sykkelfelt og andre spesialfelt telles ikke med.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12629</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall kjørefelt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallKollektivfelt" type="integer">
                  <annotation>
                     <documentation>12630: Angir antall kollektivfelt i vegens tverrsnitt, dvs. kjørefelt som har bokstav K i seg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12630</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall kollektivfelt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallSykkelfelt" type="integer">
                  <annotation>
                     <documentation>12631: Angir antall sykkelfelt i vegens tverrsnitt, dvs. kjørefelt som har bokstav S i seg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12631</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall sykkelfelt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallSvingefelt" type="integer">
                  <annotation>
                     <documentation>12632: Angir antall svingefelt i vegens tverrsnitt, både av- og påkjøringsfelt. Dette vil både være venstresvingefelt (kjørefelt som har bokstav V i seg), og høyresvingefelt (kjørefelt som har bokstav H i seg).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12632</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall svingefelt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="adskilteLøp">
                  <annotation>
                     <documentation>12633: Angir om strekningen har så fysisk adskilte løp eller kjørebaner at disse håndteres hver for seg på vegtrasenivå i referansesystemet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12633</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Adskilte løp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="antallKjørefeltMedMetreringsretning"
                        type="integer">
                  <annotation>
                     <documentation>12668: Antall kjørefelt i vegens tverrsnitt hvor trafikken går med vegens metreringsretning. Svingefelt og sykkelfelt telles ikke med. Kollektivfelt telles med.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12668</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall kjørefelt med metreringsretning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="antallKjørefeltMotMetreringsretning"
                        type="integer">
                  <annotation>
                     <documentation>12669: Antall kjørefelt i vegens tverrsnitt hvor trafikken går mot vegens metreringsretning. Svingefelt og sykkelfelt telles ikke med. Kollektivfelt telles med.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12669</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall kjørefelt mot metreringsretning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="antallKollektivfeltMedMetreringsretning"
                        type="integer">
                  <annotation>
                     <documentation>12670: Antall kollektivfelt i vegens tverrsnitt hvor trafikken går med vegens metreringsretning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12670</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall kollektivfelt med metreringsretning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="antallKollektivfeltMotMetreringsretning"
                        type="integer">
                  <annotation>
                     <documentation>12671: Antall kollektivfelt i vegens tverrsnitt hvor trafikken går mot vegens  metreringsretning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12671</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall kollektivfelt mot metreringsretning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="antallSykkelfeltMedMetreringsretning"
                        type="integer">
                  <annotation>
                     <documentation>12672: Antall sykkelfelt i vegens tverrsnitt hvor trafikken går med vegens metreringsretning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12672</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall sykkelfelt med metreringsretning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="antallSykkelfeltMotMetreringsretning"
                        type="integer">
                  <annotation>
                     <documentation>12673: Antall sykkelfelt i vegens tverrsnitt hvor trafikken går mot vegens metreringsretning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12673</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall sykkelfelt mot metreringsretning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallHøyresvingefelt" type="integer">
                  <annotation>
                     <documentation>12674: Antall høyresvingefelt i vegens tverrsnitt. Dette er svingefelt der kjøretøy svinger til høyre uavhengig av metreringsretning. Svingefelt tilhørende kyssdeler, som f.eks. ramper, håndteres ikke som svingefelt på hovedvegen, men i sin helhet som en egen veg med egen feltkode.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12674</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall høyresvingefelt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallVenstresvingefelt" type="integer">
                  <annotation>
                     <documentation>12675: Antall venstresvingefelt i vegens tverrsnitt. Dette er svingefelt der kjøretøy svinger til venstre uavhengig av metreringsretning. Svingefelt tilhørende kryssdeler, som f.eks. ramper, håndteres ikke som svingefelt på hovedvegen, men i sin helhet som en egen veg med egen feltkode.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12675</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall venstresvingefelt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FeltstrekningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Feltstrekning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeFeltstrekningType">
      <annotation>
         <documentation>12628: Angir hvilken type veg strekning kan karakteriseres som. Beregnes automatisk ut fra vegnettsinformasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12628</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeFeltstrekningEnumerationType nvdb:TypeFeltstrekningOtherType"/>
   </simpleType>
   <simpleType name="TypeFeltstrekningEnumerationType">
      <annotation>
         <documentation>12628: Angir hvilken type veg strekning kan karakteriseres som. Beregnes automatisk ut fra vegnettsinformasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12628</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1F">
            <annotation>
               <documentation>21822: Veg bestående av et kjørefelt med trafikk i bare den ene kjøreretningen. Kollektivfelt telles med, men svingefelt og sykkelfelt telles ikke med.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21822</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1-feltsveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2F">
            <annotation>
               <documentation>21823: Veg bestående av to kjørefelt. For tverrsnittet av vegen er det trafikk i begge kjøreretninger. Kollektivfelt telles med, men svingefelt og sykkelfelt telles ikke med.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21823</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2-feltsveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2FE">
            <annotation>
               <documentation>21827: Veg bestående av to kjørefelt. De to feltene har trafikk i samme retning. Kollektivfelt telles med, men svingefelt og sykkelfelt telles ikke med.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21827</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2-feltsveg envegskjørt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3F">
            <annotation>
               <documentation>21824: Veg bestående av tre kjørefelt. For tverrsnittet av vegen er det trafikk i begge kjøreretninger. Kollektivfelt telles med, men svingefelt og sykkelfelt telles ikke med.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21824</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3-feltsveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3fe">
            <annotation>
               <documentation>21926: Veg bestående av tre kjørefelt. For tverrsnittet av vegen er det trafikk i begge kjøreretninger. Kollektivfelt telles med, men svingefelt og sykkelfelt telles ikke med.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21926</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3-feltsveg envegskjørt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4F">
            <annotation>
               <documentation>21825: Veg bestående av fire kjørefelt eller mer. For tverrsnittet av vegen skal det være minst to felt i hver kjøreretning. Kollektivfelt telles med, men svingefelt og sykkelfelt telles ikke med.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21825</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4-feltsveg eller mer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="A">
            <annotation>
               <documentation>21828: De delene av vegnettet som ikke defineres som en av de andre feltkombinasjonene.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21828</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen type</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="da2">
            <annotation>
               <documentation>21923: Del av veg bestående av to kjørefelt, men der kjøreretningene er adskilt fra hverandre som adskilte løp.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21923</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Del av 2-feltsveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="da3">
            <annotation>
               <documentation>21922: Del av veg bestående av tre kjørefelt, men der kjøreretningene er adskilt fra hverandre som adskilte løp.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21922</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Del av 3-feltsveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="D4F">
            <annotation>
               <documentation>21826: Del av veg bestående av fire kjørefelt eller mer, men der kjøreretningene er adskilt fra hverandre som adskilte løp.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21826</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Del av 4-feltsveg eller mer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeFeltstrekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
