GML/618.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>618: Ett sett med oppgaver som skal gjøres med et utvalg av fagdata for en gitt strekning.</documentation>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Oppdrag, fagdata"
            substitutionGroup="gml:AbstractGML"
            type="nvdb:Oppdrag, fagdataType">
      <annotation>
         <documentation>618: Ett sett med oppgaver som skal gjøres med et utvalg av fagdata for en gitt strekning.</documentation>
      </annotation>
   </element>
   <complexType name="Oppdrag, fagdataType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element minOccurs="0" name="Type">
                  <annotation>
                     <documentation>5600: Angir hvilken type oppdrag det er tale om.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Navn">
                  <annotation>
                     <documentation>5559: Angir navn.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Definert dato (ååååmmdd)">
                  <annotation>
                     <documentation>5563: Angir dato for opprettelse.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Oppdragsgiver"/>
               <element minOccurs="0" name="Initialer_definert_av">
                  <annotation>
                     <documentation>5568: Angir initialer til den som har definert oppdrag.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Frist (ååååmmdd)">
                  <annotation>
                     <documentation>5570: Angir frist for når oppdrag skal være ferdig.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Merknad">
                  <annotation>
                     <documentation>5576: Kan gi fast merknad.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Kostnad">
                  <annotation>
                     <documentation>5580: Gir kostnad til vegobjektet.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Kvalitet"/>
               <element minOccurs="0" name="LedetekstID">
                  <annotation>
                     <documentation>5625: LedetekstID.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Oppdrag, fagdataPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Oppdrag, fagdata"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="Type"
            substitutionGroup="gml:AbstractGML"
            type="nvdb:TypeType">
      <annotation>
         <documentation>5600: Angir hvilken type oppdrag det er tale om.</documentation>
      </annotation>
   </element>
   <complexType name="TypeType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element name="Nyregistrering">
                  <annotation>
                     <documentation>7882: Nyregistrering</documentation>
                  </annotation>
               </element>
               <element name="Spor og jevnhetsmåling">
                  <annotation>
                     <documentation>7883: Spor og jevnhetsmåling</documentation>
                  </annotation>
               </element>
               <element name="Kvalitetskontroll">
                  <annotation>
                     <documentation>7881: Kvalitetskontroll</documentation>
                  </annotation>
               </element>
               <element name="Ajourhold">
                  <annotation>
                     <documentation>7884: Ajourhold</documentation>
                  </annotation>
               </element>
               <element name="Rapportgenerering">
                  <annotation>
                     <documentation>7885: Rapportgenerering</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TypePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Type"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
