GML/619.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>619: Et sett med oppgaver som skal gjøres med et utvalg av vegnettet.</documentation>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Oppdrag, vegnett"
            substitutionGroup="gml:AbstractGML"
            type="nvdb:Oppdrag, vegnettType">
      <annotation>
         <documentation>619: Et sett med oppgaver som skal gjøres med et utvalg av vegnettet.</documentation>
      </annotation>
   </element>
   <complexType name="Oppdrag, vegnettType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element minOccurs="0" name="Type">
                  <annotation>
                     <documentation>5601: Angir hvilken type oppdrag det er tale om.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Navn">
                  <annotation>
                     <documentation>5560: Angir navn.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Definert dato (ååååmmdd)">
                  <annotation>
                     <documentation>5564: Angir dato for opprettelse.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Frist (ååååmmdd)">
                  <annotation>
                     <documentation>5571: Angir frist for når oppgave skal være ferdig.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Status">
                  <annotation>
                     <documentation>5574: Gir status.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Merknad">
                  <annotation>
                     <documentation>5577: Kan gi fast merknad.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Kvalitet"/>
               <element minOccurs="0" name="LedetekstID">
                  <annotation>
                     <documentation>5626: LedetekstID.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Arkivreferanse1">
                  <annotation>
                     <documentation>5596: Arkivreferanse.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Arkivreferanse2">
                  <annotation>
                     <documentation>5597: Arkivreferanse.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Arkivreferanse3">
                  <annotation>
                     <documentation>5598: Arkivreferanse.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Transaksjonstabell"/>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Oppdrag, vegnettPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Oppdrag, vegnett"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="Type"
            substitutionGroup="gml:AbstractGML"
            type="nvdb:TypeType">
      <annotation>
         <documentation>5601: Angir hvilken type oppdrag det er tale om.</documentation>
      </annotation>
   </element>
   <complexType name="TypeType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element name="Utsjekk">
                  <annotation>
                     <documentation>7890: Utsjekk</documentation>
                  </annotation>
               </element>
               <element name="Målebilkjøring">
                  <annotation>
                     <documentation>7891: Målebilkjøring</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TypePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Type"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
