GML/619.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Oppdrag_Vegnett" substitutionGroup="nvdb:AbstraktOppdrag_Vegnett" type="nvdb:Oppdrag_VegnettType">
    <annotation>
      <documentation>619: Et sett med oppgaver som skal gjøres med et utvalg av vegnettet.</documentation>
    </annotation>
  </element>
  <complexType name="Oppdrag_VegnettType">
    <complexContent>
      <extension base="nvdb:AbstraktOppdrag_VegnettType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeOppdrag_VegnettType">
            <annotation>
              <documentation>5601: Angir hvilken type oppdrag det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>5560: Angir navn</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="definertDato" type="date">
            <annotation>
              <documentation>5564: Angir dato for opprettelse</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="frist" type="date">
            <annotation>
              <documentation>5571: Angir frist for når oppgave skal være ferdig</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="status" type="string">
            <annotation>
              <documentation>5574: Gir status</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5577: Kan gi fast merknad</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitet" type="string"/>
          <element minOccurs="0" name="ledetekstID" type="integer">
            <annotation>
              <documentation>5626: LedetekstID</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse1" type="string">
            <annotation>
              <documentation>5596: Arkivreferanse</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse2" type="string">
            <annotation>
              <documentation>5597: Arkivreferanse</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse3" type="string">
            <annotation>
              <documentation>5598: Arkivreferanse</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="transaksjonstabell"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Oppdrag_VegnettPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Oppdrag_Vegnett"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeOppdrag_VegnettType">
    <annotation>
      <documentation>5601: Angir hvilken type oppdrag det er tale om</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeOppdrag_VegnettEnumerationType nvdb:TypeOppdrag_VegnettOtherType"/>
  </simpleType>
  <simpleType name="TypeOppdrag_VegnettEnumerationType">
    <annotation>
      <documentation>5601: Angir hvilken type oppdrag det er tale om</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="utsjekk">
        <annotation>
          <documentation>7890: Utsjekk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="målebilkjøring">
        <annotation>
          <documentation>7891: Målebilkjøring</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeOppdrag_VegnettOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
