GML/62.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AktivForankringType">
    <annotation>
      <documentation>11358: Angir hvor vidt støttekonstruksjonen har en aktiv støttefunksjon etter at anlegget er ferdig.</documentation>
    </annotation>
    <union memberTypes="nvdb:AktivForankringEnumerationType nvdb:AktivForankringOtherType"/>
  </simpleType>
  <simpleType name="AktivForankringEnumerationType">
    <annotation>
      <documentation>11358: Angir hvor vidt støttekonstruksjonen har en aktiv støttefunksjon etter at anlegget er ferdig.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>19213: Støttekonstruksjonen har aktiv støttefunksjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>19214: Støttekonstruksjonen er inaktiv, dvs den har ikke lenger støttefunksjon</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AktivForankringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeStøttekonstruksjonType">
    <annotation>
      <documentation>1265: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdeStøttekonstruksjonEnumerationType nvdb:BruksområdeStøttekonstruksjonOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeStøttekonstruksjonEnumerationType">
    <annotation>
      <documentation>1265: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="støtteOppSkjæringsskråning">
        <annotation>
          <documentation>3374: Støtte opp skjæringsskråning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="støtteOppFyllingsskråning">
        <annotation>
          <documentation>3375: Støtte opp fyllingsskråning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vingemur">
        <annotation>
          <documentation>3380: Vingemur</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sikreFjellskjæring">
        <annotation>
          <documentation>3376: Sikre fjellskjæring</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeStøttekonstruksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierStøttekonstruksjonType">
    <annotation>
      <documentation>5823: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierStøttekonstruksjonEnumerationType nvdb:EierStøttekonstruksjonOtherType"/>
  </simpleType>
  <simpleType name="EierStøttekonstruksjonEnumerationType">
    <annotation>
      <documentation>5823: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>8218: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18583: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10710: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>8244: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>8270: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17606: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierStøttekonstruksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ForblendingType">
    <annotation>
      <documentation>11355: Type forblending</documentation>
    </annotation>
    <union memberTypes="nvdb:ForblendingEnumerationType nvdb:ForblendingOtherType"/>
  </simpleType>
  <simpleType name="ForblendingEnumerationType">
    <annotation>
      <documentation>11355: Type forblending</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="betongmur">
        <annotation>
          <documentation>19208: Betongmur</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ingenForblending">
        <annotation>
          <documentation>19212: Ingen forblending</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tørrmur">
        <annotation>
          <documentation>19209: Tørrmur</documentation>
        </annotation>
      </enumeration>
      <enumeration value="torvblokker">
        <annotation>
          <documentation>19211: Torvblokker</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tre">
        <annotation>
          <documentation>19210: Tre</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ForblendingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringStøttekonstruksjonType">
    <annotation>
      <documentation>1668: Angir fundamenteringsmetode for støttekonstruksjonen</documentation>
    </annotation>
    <union memberTypes="nvdb:FundamenteringStøttekonstruksjonEnumerationType nvdb:FundamenteringStøttekonstruksjonOtherType"/>
  </simpleType>
  <simpleType name="FundamenteringStøttekonstruksjonEnumerationType">
    <annotation>
      <documentation>1668: Angir fundamenteringsmetode for støttekonstruksjonen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="betongsåle">
        <annotation>
          <documentation>3382: Betongsåle</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trykkimpregnertTresåle">
        <annotation>
          <documentation>3383: Trykkimpregnert tresåle</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fjellfot">
        <annotation>
          <documentation>3454: Fjellfot</documentation>
        </annotation>
      </enumeration>
      <enumeration value="løsmasseFjell">
        <annotation>
          <documentation>3384: Evt. masseutskifting angis som kommentar</documentation>
        </annotation>
      </enumeration>
      <enumeration value="påPeler">
        <annotation>
          <documentation>19207: På peler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringStøttekonstruksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Støttekonstruksjon" substitutionGroup="nvdb:AbstraktStøttekonstruksjon" type="nvdb:StøttekonstruksjonType">
    <annotation>
      <documentation>62: Byggverk som brukes for å overvinne nivåforskjell hvor vanlig skråning vil ta for stor plass.  S. brukes også som sikringstiltak.</documentation>
    </annotation>
  </element>
  <complexType name="StøttekonstruksjonType">
    <complexContent>
      <extension base="nvdb:AbstraktStøttekonstruksjonType">
        <sequence>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>3950: Angir areal av synlig del av støttekonstruksjonen
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeStøttekonstruksjonType">
            <annotation>
              <documentation>1126: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeStøttekonstruksjonType">
            <annotation>
              <documentation>1265: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fundamentering" type="nvdb:FundamenteringStøttekonstruksjonType">
            <annotation>
              <documentation>1668: Angir fundamenteringsmetode for støttekonstruksjonen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="forblending" type="nvdb:ForblendingType">
            <annotation>
              <documentation>11355: Type forblending</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="konstruksjonsbeskrivelse" type="string">
            <annotation>
              <documentation>11354: Beskrivelse av relevante forhold som ikke dekkes av andre egenskaper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="konstruksjonshøyde_Maksimal" type="double">
            <annotation>
              <documentation>11356: Største høyde fra bunn til topp av støttekonstruksjonen. Inkluderer både synlig og tildekket del
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="konstruksjonshøyde_Minimum" type="double">
            <annotation>
              <documentation>11357: Minste høyde fra bunn til topp av støttekonstruksjonen. Inkluderer både synlig og tildekket del
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde_Synlig_Maksimal" type="double">
            <annotation>
              <documentation>10844: Angir største synlige høyde for støttekonstruksjon.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde_Synlig_Gjennomsnitt" type="double">
            <annotation>
              <documentation>1582: Angir gjennomsnittlig synlig høyde for støttekonstruksjonen
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tykkelse_Gjennomsnitt" type="double">
            <annotation>
              <documentation>1618: Angir støttekonstruksjonens gjennomsnittstykkelse. Inkluderer ikke eventuell forblending.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1315: Angir lengde av støttekonstruksjon
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="aktivForankring" type="nvdb:AktivForankringType">
            <annotation>
              <documentation>11358: Angir hvor vidt støttekonstruksjonen har en aktiv støttefunksjon etter at anlegget er ferdig.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="brutus_Id" type="string">
            <annotation>
              <documentation>9303: Gir referanse til Brutus</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10368: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11359: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11403: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11057: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierStøttekonstruksjonType">
            <annotation>
              <documentation>5823: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligStøttekonstruksjonType">
            <annotation>
              <documentation>5807: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4765: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10960: Gir flate/polygon som geometrisk avgrenser støttekonstruksjonområdet</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="nvdb:AbstraktTilstandSkade_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Strekning" type="nvdb:AbstraktTilstandSkadeFU_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertStagforankring" type="nvdb:AbstraktStagforankringPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHøydemåling" type="nvdb:AbstraktHøydemålingPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StøttekonstruksjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Støttekonstruksjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeStøttekonstruksjonType">
    <annotation>
      <documentation>1126: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeStøttekonstruksjonEnumerationType nvdb:TypeStøttekonstruksjonOtherType"/>
  </simpleType>
  <simpleType name="TypeStøttekonstruksjonEnumerationType">
    <annotation>
      <documentation>1126: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="naturstein_Murt_Støpt">
        <annotation>
          <documentation>3344: Jfr. Prosess 71.1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="naturstein_Murt_Tørrmur">
        <annotation>
          <documentation>3342: Jfr. Prosess 71.1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>3323: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong_Plasstøpt">
        <annotation>
          <documentation>3327: Jfr. Prosess 71.2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong_PrefabrikkerteElement">
        <annotation>
          <documentation>3333: Jfr. Prosess 71.3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongstein_Murt_Tørrmur">
        <annotation>
          <documentation>3336: Jfr. Prosess 71.3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongstein_Murt_Støpt">
        <annotation>
          <documentation>3340: Jfr. Prosess 71.3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="steinkurver">
        <annotation>
          <documentation>3377: Jfr. Prosess 71.5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="armertJord">
        <annotation>
          <documentation>3379: Jfr. Prosess 71.7</documentation>
        </annotation>
      </enumeration>
      <enumeration value="treSognemur">
        <annotation>
          <documentation>3381: Tre/Sognemur</documentation>
        </annotation>
      </enumeration>
      <enumeration value="spunt">
        <annotation>
          <documentation>3378: Jfr. Prosess 83.61 og 83.63</documentation>
        </annotation>
      </enumeration>
      <enumeration value="slissevegg">
        <annotation>
          <documentation>19204: Jfr. Prosess 83.64</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bjelkestengsel">
        <annotation>
          <documentation>19205: Inkluderer rørvegg med sprøytebetong. Jfr prosess 83.62</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sekantvegg">
        <annotation>
          <documentation>19206: Jfr prosess 83.67</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeStøttekonstruksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStøttekonstruksjonType">
    <annotation>
      <documentation>5807: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligStøttekonstruksjonEnumerationType nvdb:VedlikeholdsansvarligStøttekonstruksjonOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStøttekonstruksjonEnumerationType">
    <annotation>
      <documentation>5807: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>8202: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18723: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19916: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18852: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>8228: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>8254: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17695: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStøttekonstruksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
