GML/62.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>62: Byggverk som brukes for å overvinne nivåforskjell hvor vanlig skråning vil ta for stor plass. S. brukes også som sikringstiltak.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AktivForankringStøttekonstruksjonType">
      <annotation>
         <documentation>11358: Angir hvor vidt støttekonstruksjonen har en aktiv støttefunksjon etter at anlegget er ferdig.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11358</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aktiv forankring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AktivForankringStøttekonstruksjonEnumerationType nvdb:AktivForankringStøttekonstruksjonOtherType"/>
   </simpleType>
   <simpleType name="AktivForankringStøttekonstruksjonEnumerationType">
      <annotation>
         <documentation>11358: Angir hvor vidt støttekonstruksjonen har en aktiv støttefunksjon etter at anlegget er ferdig.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11358</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aktiv forankring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19213</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19214</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AktivForankringStøttekonstruksjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeStøttekonstruksjonType">
      <annotation>
         <documentation>1265: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1265</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeStøttekonstruksjonEnumerationType nvdb:BruksområdeStøttekonstruksjonOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeStøttekonstruksjonEnumerationType">
      <annotation>
         <documentation>1265: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1265</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="sf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3376</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sikre fjellskjæring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fy">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3375</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Støtte opp fyllingsskråning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3374</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Støtte opp skjæringsskråning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3380</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vingemur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeStøttekonstruksjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierStøttekonstruksjonType">
      <annotation>
         <documentation>5823: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5823</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierStøttekonstruksjonEnumerationType nvdb:EierStøttekonstruksjonOtherType"/>
   </simpleType>
   <simpleType name="EierStøttekonstruksjonEnumerationType">
      <annotation>
         <documentation>5823: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5823</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10710</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8244</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8270</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18583</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8218</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17606</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierStøttekonstruksjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ForblendingStøttekonstruksjonType">
      <annotation>
         <documentation>11355: Type forblending.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11355</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forblending</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ForblendingStøttekonstruksjonEnumerationType nvdb:ForblendingStøttekonstruksjonOtherType"/>
   </simpleType>
   <simpleType name="ForblendingStøttekonstruksjonEnumerationType">
      <annotation>
         <documentation>11355: Type forblending.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11355</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forblending</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Betongmur">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19208</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongmur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ingen forblending">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19212</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen forblending</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Torvblokker">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19211</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Torvblokker</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Tre">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19210</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Tørrmur">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19209</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tørrmur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ForblendingStøttekonstruksjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringStøttekonstruksjonType">
      <annotation>
         <documentation>1668: Angir fundamenteringsmetode for støttekonstruksjonen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1668</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FundamenteringStøttekonstruksjonEnumerationType nvdb:FundamenteringStøttekonstruksjonOtherType"/>
   </simpleType>
   <simpleType name="FundamenteringStøttekonstruksjonEnumerationType">
      <annotation>
         <documentation>1668: Angir fundamenteringsmetode for støttekonstruksjonen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1668</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3382</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongsåle</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="f">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3454</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjellfot</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3384</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Løsmasse/fjell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="På peler">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19207</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På peler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3383</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trykkimpregnert tresåle</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringStøttekonstruksjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Støttekonstruksjon"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:StøttekonstruksjonType">
      <annotation>
         <documentation>62: Byggverk som brukes for å overvinne nivåforskjell hvor vanlig skråning vil ta for stor plass. S. brukes også som sikringstiltak.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">62</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støttekonstruksjon</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="StøttekonstruksjonType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="areal" type="integer">
                  <annotation>
                     <documentation>3950: Angir areal av synlig del av støttekonstruksjonen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3950</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeStøttekonstruksjonType">
                  <annotation>
                     <documentation>1126: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1126</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bruksområde" type="nvdb:BruksområdeStøttekonstruksjonType">
                  <annotation>
                     <documentation>1265: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1265</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="fundamentering" type="nvdb:FundamenteringStøttekonstruksjonType">
                  <annotation>
                     <documentation>1668: Angir fundamenteringsmetode for støttekonstruksjonen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1668</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="forblending"
                        type="nvdb:ForblendingStøttekonstruksjonType">
                  <annotation>
                     <documentation>11355: Type forblending.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11355</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Forblending</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="konstruksjonsbeskrivelse" type="string">
                  <annotation>
                     <documentation>11354: Beskrivelse av relevante forhold som ikke dekkes av andre egenskaper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11354</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Konstruksjonsbeskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="konstruksjonshøyde_Maksimal" type="double">
                  <annotation>
                     <documentation>11356: Største høyde fra bunn til topp av støttekonstruksjonen. Inkluderer både synlig og tildekket del.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11356</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Konstruksjonshøyde, maksimal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="konstruksjonshøyde_Minimum" type="double">
                  <annotation>
                     <documentation>11357: Minste høyde fra bunn til topp av støttekonstruksjonen. Inkluderer både synlig og tildekket del.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11357</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Konstruksjonshøyde, minimum</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde_Synlig_Maksimal" type="double">
                  <annotation>
                     <documentation>10844: Angir største synlige høyde for støttekonstruksjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10844</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, synlig, maksimal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde_Synlig_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>1582: Angir gjennomsnittlig synlig høyde for støttekonstruksjonen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1582</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, synlig, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tykkelse_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>1618: Angir støttekonstruksjonens gjennomsnittstykkelse. Inkluderer ikke eventuell forblending.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1618</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tykkelse, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>1315: Angir lengde av støttekonstruksjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1315</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="aktivForankring">
                  <annotation>
                     <documentation>11358: Angir hvor vidt støttekonstruksjonen har en aktiv støttefunksjon etter at anlegget er ferdig.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11358</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Aktiv forankring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="brutus_Id" type="string">
                  <annotation>
                     <documentation>9303: Gir referanse til Brutus.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9303</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Brutus_Id</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10368: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10368</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11359: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11359</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivreferanse" type="string">
                  <annotation>
                     <documentation>11403: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11403</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11057: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11057</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12295: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12295</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierStøttekonstruksjonType">
                  <annotation>
                     <documentation>5823: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5823</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligStøttekonstruksjonType">
                  <annotation>
                     <documentation>5807: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5807</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4765: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4765</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10960: Gir flate/polygon som geometrisk avgrenser objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10960</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="StøttekonstruksjonPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Støttekonstruksjon"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeStøttekonstruksjonType">
      <annotation>
         <documentation>1126: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1126</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeStøttekonstruksjonEnumerationType nvdb:TypeStøttekonstruksjonOtherType"/>
   </simpleType>
   <simpleType name="TypeStøttekonstruksjonEnumerationType">
      <annotation>
         <documentation>1126: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1126</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="aj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3379</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Armert jord</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3323</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3327</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, plasstøpt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3333</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, prefabrikkerte element</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3340</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein, murt, støpt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3336</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein, murt, tørrmur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19205</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bjelkestengsel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ns">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3344</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturstein, murt, støpt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3342</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturstein, murt, tørrmur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19206</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sekantvegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19204</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slissevegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3378</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spunt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3377</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Steinkurver</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ts">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3381</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre/Sognemur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeStøttekonstruksjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligStøttekonstruksjonType">
      <annotation>
         <documentation>5807: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5807</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligStøttekonstruksjonEnumerationType nvdb:VedlikeholdsansvarligStøttekonstruksjonOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligStøttekonstruksjonEnumerationType">
      <annotation>
         <documentation>5807: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5807</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19916</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8228</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18723</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18852</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8254</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8202</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17695</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligStøttekonstruksjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
