GML/620.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Oppgave_Fagdata" substitutionGroup="nvdb:AbstraktOppgave_Fagdata" type="nvdb:Oppgave_FagdataType">
    <annotation>
      <documentation>620: Enkeltoppgave i forbindelse med redigering av fagdata</documentation>
    </annotation>
  </element>
  <complexType name="Oppgave_FagdataType">
    <complexContent>
      <extension base="nvdb:AbstraktOppgave_FagdataType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeOppgave_FagdataType">
            <annotation>
              <documentation>5602: Angir hvilken type oppdrag det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>5561: Angir navn</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="definertDato" type="date">
            <annotation>
              <documentation>5565: Angir dato for opprettelse</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="initialer_definert_av" type="string">
            <annotation>
              <documentation>5569: Angir initialer til den som har definert oppdrag</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="frist" type="date">
            <annotation>
              <documentation>5572: Angir frist for når oppdrag skal være ferdig</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="status" type="string">
            <annotation>
              <documentation>5624: Gir status</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5578: Kan gi fast merknad</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitet" type="string"/>
          <element minOccurs="0" name="ledetekstID" type="integer">
            <annotation>
              <documentation>5627: LedetekstID</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Oppgave_FagdataPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Oppgave_Fagdata"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeOppgave_FagdataType">
    <annotation>
      <documentation>5602: Angir hvilken type oppdrag det er tale om</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeOppgave_FagdataEnumerationType nvdb:TypeOppgave_FagdataOtherType"/>
  </simpleType>
  <simpleType name="TypeOppgave_FagdataEnumerationType">
    <annotation>
      <documentation>5602: Angir hvilken type oppdrag det er tale om</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="nyregistrering">
        <annotation>
          <documentation>7887: Nyregistrering</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sporOgJevnhetsmåling">
        <annotation>
          <documentation>7888: Spor og jevnhetsmåling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kvalitetskontroll">
        <annotation>
          <documentation>7886: Kvalitetskontroll</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ajourhold">
        <annotation>
          <documentation>7889: Ajourhold</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeOppgave_FagdataOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
