GML/620.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>620: Enkeltoppgave i forbindelse med redigering av fagdata.</documentation>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Oppgave, fagdata"
            substitutionGroup="gml:AbstractGML"
            type="nvdb:Oppgave, fagdataType">
      <annotation>
         <documentation>620: Enkeltoppgave i forbindelse med redigering av fagdata.</documentation>
      </annotation>
   </element>
   <complexType name="Oppgave, fagdataType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element minOccurs="0" name="Type">
                  <annotation>
                     <documentation>5602: Angir hvilken type oppdrag det er tale om.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Navn">
                  <annotation>
                     <documentation>5561: Angir navn.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Definert dato (ååååmmdd)">
                  <annotation>
                     <documentation>5565: Angir dato for opprettelse.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Initialer_definert_av">
                  <annotation>
                     <documentation>5569: Angir initialer til den som har definert oppdrag.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Frist (ååååmmdd)">
                  <annotation>
                     <documentation>5572: Angir frist for når oppdrag skal være ferdig.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Status">
                  <annotation>
                     <documentation>5624: Gir status.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Merknad">
                  <annotation>
                     <documentation>5578: Kan gi fast merknad.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Kvalitet"/>
               <element minOccurs="0" name="LedetekstID">
                  <annotation>
                     <documentation>5627: LedetekstID.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Oppgave, fagdataPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Oppgave, fagdata"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="Type"
            substitutionGroup="gml:AbstractGML"
            type="nvdb:TypeType">
      <annotation>
         <documentation>5602: Angir hvilken type oppdrag det er tale om.</documentation>
      </annotation>
   </element>
   <complexType name="TypeType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element name="Nyregistrering">
                  <annotation>
                     <documentation>7887: Nyregistrering</documentation>
                  </annotation>
               </element>
               <element name="Spor og jevnhetsmåling">
                  <annotation>
                     <documentation>7888: Spor og jevnhetsmåling</documentation>
                  </annotation>
               </element>
               <element name="Kvalitetskontroll">
                  <annotation>
                     <documentation>7886: Kvalitetskontroll</documentation>
                  </annotation>
               </element>
               <element name="Ajourhold">
                  <annotation>
                     <documentation>7889: Ajourhold</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TypePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Type"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
