GML/621.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>621: Enkeltoppgave i forbindelse med redigering av vegnettet.</documentation>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Oppgave, vegnett"
            substitutionGroup="gml:AbstractGML"
            type="nvdb:Oppgave, vegnettType">
      <annotation>
         <documentation>621: Enkeltoppgave i forbindelse med redigering av vegnettet.</documentation>
      </annotation>
   </element>
   <complexType name="Oppgave, vegnettType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element minOccurs="0" name="Type">
                  <annotation>
                     <documentation>5603: Angir hvilken type oppdrag det er tale om.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Navn">
                  <annotation>
                     <documentation>5562: Angir navn.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Definert dato (ååååmmdd)">
                  <annotation>
                     <documentation>5566: Angir dato for opprettelse.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Frist (ååååmmdd)">
                  <annotation>
                     <documentation>5573: Angir frist for når oppgave skal være ferdig.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Status">
                  <annotation>
                     <documentation>5575: Gir status.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Merknad">
                  <annotation>
                     <documentation>5579: Kan gi fast merknad.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Kvalitet"/>
               <element minOccurs="0" name="LedetekstID">
                  <annotation>
                     <documentation>5628: LedetekstID.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Oppgave, vegnettPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Oppgave, vegnett"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="Type"
            substitutionGroup="gml:AbstractGML"
            type="nvdb:TypeType">
      <annotation>
         <documentation>5603: Angir hvilken type oppdrag det er tale om.</documentation>
      </annotation>
   </element>
   <complexType name="TypeType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element name="Utsjekk">
                  <annotation>
                     <documentation>7893: Utsjekk</documentation>
                  </annotation>
               </element>
               <element name="Vegnettsredigering">
                  <annotation>
                     <documentation>7894: Vegnettsredigering</documentation>
                  </annotation>
               </element>
               <element name="Godkjenning">
                  <annotation>
                     <documentation>7892: Godkjenning</documentation>
                  </annotation>
               </element>
               <element name="Godkjenning">
                  <annotation>
                     <documentation>7895: Godkjenning</documentation>
                  </annotation>
               </element>
               <element name="Sette vegnett i drift">
                  <annotation>
                     <documentation>7896: Sette vegnett i drift</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TypePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Type"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
