GML/622.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EnhetType">
    <annotation>
      <documentation>7563: Angir enhet</documentation>
    </annotation>
    <union memberTypes="nvdb:EnhetEnumerationType nvdb:EnhetOtherType"/>
  </simpleType>
  <simpleType name="EnhetEnumerationType">
    <annotation>
      <documentation>7563: Angir enhet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1_0">
        <annotation>
          <documentation>9849: 1,0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="0_1">
        <annotation>
          <documentation>9848: 0,1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="0_01">
        <annotation>
          <documentation>9847: 0,01</documentation>
        </annotation>
      </enumeration>
      <enumeration value="0_001">
        <annotation>
          <documentation>9846: 0,001</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EnhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="SOSI_Bestilling" substitutionGroup="nvdb:AbstraktSOSI_Bestilling" type="nvdb:SOSI_BestillingType"/>
  <complexType name="SOSI_BestillingType">
    <complexContent>
      <extension base="nvdb:AbstraktSOSI_BestillingType">
        <sequence>
          <element name="SOSI_Versjon" type="nvdb:SOSI_VersjonType">
            <annotation>
              <documentation>5558: Angir SOSI-versjon</documentation>
            </annotation>
          </element>
          <element name="enhet" type="nvdb:EnhetType">
            <annotation>
              <documentation>7563: Angir enhet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="ledetekst" type="integer">
            <annotation>
              <documentation>5826: LedetekstID</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SOSI_BestillingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:SOSI_Bestilling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="SOSI_VersjonType">
    <annotation>
      <documentation>5558: Angir SOSI-versjon</documentation>
    </annotation>
    <union memberTypes="nvdb:SOSI_VersjonEnumerationType nvdb:SOSI_VersjonOtherType"/>
  </simpleType>
  <simpleType name="SOSI_VersjonEnumerationType">
    <annotation>
      <documentation>5558: Angir SOSI-versjon</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="versjon4_5">
        <annotation>
          <documentation>15929: Versjon 4.5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="versjon4_0">
        <annotation>
          <documentation>11747: Versjon 4.0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="versjon4_0MedTemakoder">
        <annotation>
          <documentation>11748: Versjon 4.0 med temakoder</documentation>
        </annotation>
      </enumeration>
      <enumeration value="versjon3_41">
        <annotation>
          <documentation>7897: Versjon 3.41</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SOSI_VersjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
