GML/622.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Enhet"
            substitutionGroup="gml:AbstractGML"
            type="nvdb:EnhetType">
      <annotation>
         <documentation>7563: Angir enhet.</documentation>
      </annotation>
   </element>
   <complexType name="EnhetType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element name="1,0">
                  <annotation>
                     <documentation>9849: 1,0</documentation>
                  </annotation>
               </element>
               <element name="0,1">
                  <annotation>
                     <documentation>9848: 0,1</documentation>
                  </annotation>
               </element>
               <element name="0,01">
                  <annotation>
                     <documentation>9847: 0,01</documentation>
                  </annotation>
               </element>
               <element name="0,001">
                  <annotation>
                     <documentation>9846: 0,001</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="EnhetPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Enhet"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="SOSI-bestilling"
            substitutionGroup="gml:AbstractGML"
            type="nvdb:SOSI-bestillingType"/>
   <complexType name="SOSI-bestillingType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element name="SOSI-versjon">
                  <annotation>
                     <documentation>5558: Angir SOSI-versjon.</documentation>
                  </annotation>
               </element>
               <element name="Enhet">
                  <annotation>
                     <documentation>7563: Angir enhet.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Ledetekst">
                  <annotation>
                     <documentation>5826: LedetekstID.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SOSI-bestillingPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:SOSI-bestilling"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="SOSI-versjon"
            substitutionGroup="gml:AbstractGML"
            type="nvdb:SOSI-versjonType">
      <annotation>
         <documentation>5558: Angir SOSI-versjon.</documentation>
      </annotation>
   </element>
   <complexType name="SOSI-versjonType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element name="Versjon 4.5">
                  <annotation>
                     <documentation>15929: Versjon 4.5</documentation>
                  </annotation>
               </element>
               <element name="Versjon 4.0">
                  <annotation>
                     <documentation>11747: Versjon 4.0</documentation>
                  </annotation>
               </element>
               <element name="Versjon 4.0 med temakoder">
                  <annotation>
                     <documentation>11748: Versjon 4.0 med temakoder</documentation>
                  </annotation>
               </element>
               <element name="Versjon 3.41">
                  <annotation>
                     <documentation>7897: Versjon 3.41</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SOSI-versjonPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:SOSI-versjon"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
