GML/623.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelystStativForTuristinfoType">
    <annotation>
      <documentation>5649: Angir om tavle er belyst eller ikke</documentation>
    </annotation>
    <union memberTypes="nvdb:BelystStativForTuristinfoEnumerationType nvdb:BelystStativForTuristinfoOtherType"/>
  </simpleType>
  <simpleType name="BelystStativForTuristinfoEnumerationType">
    <annotation>
      <documentation>5649: Angir om tavle er belyst eller ikke</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>7946: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>7947: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelystStativForTuristinfoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierStativForTuristinfoType">
    <annotation>
      <documentation>5652: Angir hvem som er eier av stativet</documentation>
    </annotation>
    <union memberTypes="nvdb:EierStativForTuristinfoEnumerationType nvdb:EierStativForTuristinfoOtherType"/>
  </simpleType>
  <simpleType name="EierStativForTuristinfoEnumerationType">
    <annotation>
      <documentation>5652: Angir hvem som er eier av stativet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>7950: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18586: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10696: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>7951: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>7952: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17595: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierStativForTuristinfoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FestetPåType">
    <annotation>
      <documentation>5656: Angir om stativet er festet på vegg etc</documentation>
    </annotation>
    <union memberTypes="nvdb:FestetPåEnumerationType nvdb:FestetPåOtherType"/>
  </simpleType>
  <simpleType name="FestetPåEnumerationType">
    <annotation>
      <documentation>5656: Angir om stativet er festet på vegg etc</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="bygning">
        <annotation>
          <documentation>7960: Bygning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fjellvegg">
        <annotation>
          <documentation>7961: Fjellvegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mur">
        <annotation>
          <documentation>7962: Mur</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FestetPåOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringStativForTuristinfoType">
    <annotation>
      <documentation>5654: Angir hvordan stativet er fundamentert</documentation>
    </annotation>
    <union memberTypes="nvdb:FundamenteringStativForTuristinfoEnumerationType nvdb:FundamenteringStativForTuristinfoOtherType"/>
  </simpleType>
  <simpleType name="FundamenteringStativForTuristinfoEnumerationType">
    <annotation>
      <documentation>5654: Angir hvordan stativet er fundamentert</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="betongsåle">
        <annotation>
          <documentation>7956: Betongsåle</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stolpefundament">
        <annotation>
          <documentation>7957: Stolpefundament</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringStativForTuristinfoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeStativForTuristinfoType">
    <annotation>
      <documentation>5647: Angir primær materialtype stativet er oppført i</documentation>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeStativForTuristinfoEnumerationType nvdb:MaterialtypeStativForTuristinfoOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeStativForTuristinfoEnumerationType">
    <annotation>
      <documentation>5647: Angir primær materialtype stativet er oppført i</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="tre">
        <annotation>
          <documentation>7968: Tre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="metall">
        <annotation>
          <documentation>7969: Metall</documentation>
        </annotation>
      </enumeration>
      <enumeration value="naturstein">
        <annotation>
          <documentation>7970: Naturstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>7971: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>7972: Betongstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plast">
        <annotation>
          <documentation>7973: Plast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pleksiglass">
        <annotation>
          <documentation>7974: Pleksiglass</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kombinasjonAvFlere">
        <annotation>
          <documentation>7975: Kombinasjon av flere</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeStativForTuristinfoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingStativForTuristinfoType">
    <annotation>
      <documentation>5657: Angir hvilken type overflatebehandling det er på stativet</documentation>
    </annotation>
    <union memberTypes="nvdb:OverflatebehandlingStativForTuristinfoEnumerationType nvdb:OverflatebehandlingStativForTuristinfoOtherType"/>
  </simpleType>
  <simpleType name="OverflatebehandlingStativForTuristinfoEnumerationType">
    <annotation>
      <documentation>5657: Angir hvilken type overflatebehandling det er på stativet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="malt">
        <annotation>
          <documentation>7963: Malt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="beiset">
        <annotation>
          <documentation>7964: Beiset</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lakkert">
        <annotation>
          <documentation>7965: Lakkert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="impregnert">
        <annotation>
          <documentation>7966: Impregnert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ubehandlet">
        <annotation>
          <documentation>7967: Ubehandlet</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingStativForTuristinfoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlexiglassUtenpåInfoplaterType">
    <annotation>
      <documentation>5650: Angir om det er plexiglass utenpå infoplatene</documentation>
    </annotation>
    <union memberTypes="nvdb:PlexiglassUtenpåInfoplaterEnumerationType nvdb:PlexiglassUtenpåInfoplaterOtherType"/>
  </simpleType>
  <simpleType name="PlexiglassUtenpåInfoplaterEnumerationType">
    <annotation>
      <documentation>5650: Angir om det er plexiglass utenpå infoplatene</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>7948: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>7949: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlexiglassUtenpåInfoplaterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="StativForTuristinfo" substitutionGroup="nvdb:AbstraktStativForTuristinfo" type="nvdb:StativForTuristinfoType">
    <annotation>
      <documentation>623: Konstruksjon beregnet for oppsetting av informasjon til trafikkanter, eksempelvis informasjon rettet mot turister. Disse er normalt lokalisert til vegens sideanlegg som f.eks rasteplasser eller lommer, og det er forutsatt at trafikkant står i ro ved lesing av informajson. Informasjonstavler som oppfyller krav til  skiltnummer 560 (Håndbok N300, del 3) skal registreres som skiltpunkt/skiltplate.</documentation>
    </annotation>
  </element>
  <complexType name="StativForTuristinfoType">
    <complexContent>
      <extension base="nvdb:AbstraktStativForTuristinfoType">
        <sequence>
          <element minOccurs="0" name="materialtype" type="nvdb:MaterialtypeStativForTuristinfoType">
            <annotation>
              <documentation>5647: Angir primær materialtype stativet er oppført i</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="double">
            <annotation>
              <documentation>5648: Angir areal av selve tavlen
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="belyst" type="nvdb:BelystStativForTuristinfoType">
            <annotation>
              <documentation>5649: Angir om tavle er belyst eller ikke</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="plexiglassUtenpåInfoplater" type="nvdb:PlexiglassUtenpåInfoplaterType">
            <annotation>
              <documentation>5650: Angir om det er plexiglass utenpå infoplatene</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallInfoplater" type="integer">
            <annotation>
              <documentation>5651: Angir hvor mange infoplater det er på stativet
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelse" type="string">
            <annotation>
              <documentation>7909: Stedsnavn hvor forekomst er lokalisert.  Evt plassering i forhold til stedsnavn.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fundamentering" type="nvdb:FundamenteringStativForTuristinfoType">
            <annotation>
              <documentation>5654: Angir hvordan stativet er fundamentert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tak" type="nvdb:TakType">
            <annotation>
              <documentation>5655: Angir om det er tak over stativet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="festetPå" type="nvdb:FestetPåType">
            <annotation>
              <documentation>5656: Angir om stativet er festet på vegg etc</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="overflatebehandling" type="nvdb:OverflatebehandlingStativForTuristinfoType">
            <annotation>
              <documentation>5657: Angir hvilken type overflatebehandling det er på stativet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>5658: Angir beskrivelse knyttet til stativet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10363: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11152: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierStativForTuristinfoType">
            <annotation>
              <documentation>5652: Angir hvem som er eier av stativet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligStativForTuristinfoType">
            <annotation>
              <documentation>5653: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>6893: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFerjeleie" type="nvdb:AbstraktFerjeleiePropertyType"/>
          <element minOccurs="0" name="assosiertRasteplass" type="nvdb:AbstraktRasteplassPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSystemobjekt" type="nvdb:AbstraktSystemobjektPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StativForTuristinfoPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:StativForTuristinfo"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TakType">
    <annotation>
      <documentation>5655: Angir om det er tak over stativet</documentation>
    </annotation>
    <union memberTypes="nvdb:TakEnumerationType nvdb:TakOtherType"/>
  </simpleType>
  <simpleType name="TakEnumerationType">
    <annotation>
      <documentation>5655: Angir om det er tak over stativet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>7958: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>7959: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStativForTuristinfoType">
    <annotation>
      <documentation>5653: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligStativForTuristinfoEnumerationType nvdb:VedlikeholdsansvarligStativForTuristinfoOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStativForTuristinfoEnumerationType">
    <annotation>
      <documentation>5653: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>7953: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18738: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19907: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18867: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>7954: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>7955: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17686: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStativForTuristinfoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
