GML/623.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>623: Konstruksjon beregnet for oppsetting av informasjon til trafikanter, eksempelvis informasjon rettet mot turister. Disse er normalt lokalisert til vegens sideanlegg som f.eks. rasteplasser eller lommer, og det er forutsatt at trafikant står i ro ved lesing av informasjon. Informasjonstavler som oppfyller krav til skiltnummer 560 (Håndbok N300, del 3) skal registreres som skiltpunkt/skiltplate.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BelystStativ for turistinfoType">
      <annotation>
         <documentation>5649: Angir om tavle er belyst eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5649</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belyst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelystStativ for turistinfoEnumerationType nvdb:BelystStativ for turistinfoOtherType"/>
   </simpleType>
   <simpleType name="BelystStativ for turistinfoEnumerationType">
      <annotation>
         <documentation>5649: Angir om tavle er belyst eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5649</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belyst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7946</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7947</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelystStativ for turistinfoOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierStativ for turistinfoType">
      <annotation>
         <documentation>5652: Angir hvem som er eier av stativet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5652</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierStativ for turistinfoEnumerationType nvdb:EierStativ for turistinfoOtherType"/>
   </simpleType>
   <simpleType name="EierStativ for turistinfoEnumerationType">
      <annotation>
         <documentation>5652: Angir hvem som er eier av stativet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5652</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10696</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7951</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7952</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18586</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7950</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17595: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17595</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierStativ for turistinfoOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FestetPåStativ for turistinfoType">
      <annotation>
         <documentation>5656: Angir om stativet er festet på vegg etc.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5656</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Festet på</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FestetPåStativ for turistinfoEnumerationType nvdb:FestetPåStativ for turistinfoOtherType"/>
   </simpleType>
   <simpleType name="FestetPåStativ for turistinfoEnumerationType">
      <annotation>
         <documentation>5656: Angir om stativet er festet på vegg etc.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5656</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Festet på</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7960</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bygning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="f">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7961</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjellvegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7962</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FestetPåStativ for turistinfoOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringStativ for turistinfoType">
      <annotation>
         <documentation>5654: Angir hvordan stativet er fundamentert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5654</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FundamenteringStativ for turistinfoEnumerationType nvdb:FundamenteringStativ for turistinfoOtherType"/>
   </simpleType>
   <simpleType name="FundamenteringStativ for turistinfoEnumerationType">
      <annotation>
         <documentation>5654: Angir hvordan stativet er fundamentert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5654</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7956</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongsåle</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7957</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stolpefundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringStativ for turistinfoOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeStativ for turistinfoType">
      <annotation>
         <documentation>5647: Angir primær materialtype stativet er oppført i.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5647</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeStativ for turistinfoEnumerationType nvdb:MaterialtypeStativ for turistinfoOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeStativ for turistinfoEnumerationType">
      <annotation>
         <documentation>5647: Angir primær materialtype stativet er oppført i.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5647</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7971</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7972</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7975</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kombinasjon av flere</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7969</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7970</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7973</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="px">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7974</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pleksiglass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7968</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeStativ for turistinfoOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingStativ for turistinfoType">
      <annotation>
         <documentation>5657: Angir hvilken type overflatebehandling det er på stativet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5657</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OverflatebehandlingStativ for turistinfoEnumerationType nvdb:OverflatebehandlingStativ for turistinfoOtherType"/>
   </simpleType>
   <simpleType name="OverflatebehandlingStativ for turistinfoEnumerationType">
      <annotation>
         <documentation>5657: Angir hvilken type overflatebehandling det er på stativet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5657</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7964</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Beiset</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="i">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7966</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Impregnert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7965</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lakkert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7963</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Malt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="u">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7967</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ubehandlet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingStativ for turistinfoOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PleksiglassUtenpåInfoplaterStativ for turistinfoType">
      <annotation>
         <documentation>5650: Angir om det er pleksiglass utenpå infoplatene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5650</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pleksiglass utenpå infoplater</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PleksiglassUtenpåInfoplaterStativ for turistinfoEnumerationType nvdb:PleksiglassUtenpåInfoplaterStativ for turistinfoOtherType"/>
   </simpleType>
   <simpleType name="PleksiglassUtenpåInfoplaterStativ for turistinfoEnumerationType">
      <annotation>
         <documentation>5650: Angir om det er pleksiglass utenpå infoplatene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5650</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pleksiglass utenpå infoplater</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7948</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7949</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PleksiglassUtenpåInfoplaterStativ for turistinfoOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Stativ for turistinfo"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Stativ for turistinfoType">
      <annotation>
         <documentation>623: Konstruksjon beregnet for oppsetting av informasjon til trafikanter, eksempelvis informasjon rettet mot turister. Disse er normalt lokalisert til vegens sideanlegg som f.eks. rasteplasser eller lommer, og det er forutsatt at trafikant står i ro ved lesing av informasjon. Informasjonstavler som oppfyller krav til skiltnummer 560 (Håndbok N300, del 3) skal registreres som skiltpunkt/skiltplate.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">623</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stativ for turistinfo</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Stativ for turistinfoType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="materialtype" type="nvdb:MaterialtypeStativ for turistinfoType">
                  <annotation>
                     <documentation>5647: Angir primær materialtype stativet er oppført i.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5647</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="double">
                  <annotation>
                     <documentation>5648: Angir areal av selve tavlen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5648</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="belyst"
                        type="nvdb:BelystStativ for turistinfoType">
                  <annotation>
                     <documentation>5649: Angir om tavle er belyst eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5649</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belyst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="pleksiglassUtenpåInfoplater">
                  <annotation>
                     <documentation>5650: Angir om det er pleksiglass utenpå infoplatene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5650</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Pleksiglass utenpå infoplater</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallInfoplater" type="integer">
                  <annotation>
                     <documentation>5651: Angir hvor mange infoplater det er på stativet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5651</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall infoplater</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stedsangivelse" type="string">
                  <annotation>
                     <documentation>7909: Stedsnavn hvor forekomst er lokalisert. Ev. plassering i forhold til stedsnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7909</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stedsangivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="fundamentering"
                        type="nvdb:FundamenteringStativ for turistinfoType">
                  <annotation>
                     <documentation>5654: Angir hvordan stativet er fundamentert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5654</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tak" type="nvdb:TakStativ for turistinfoType">
                  <annotation>
                     <documentation>5655: Angir om det er tak over stativet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5655</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tak</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="festetPå">
                  <annotation>
                     <documentation>5656: Angir om stativet er festet på vegg etc.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5656</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Festet på</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="overflatebehandling"
                        type="nvdb:OverflatebehandlingStativ for turistinfoType">
                  <annotation>
                     <documentation>5657: Angir hvilken type overflatebehandling det er på stativet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5657</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="beskrivelse" type="string">
                  <annotation>
                     <documentation>5658: Angir beskrivelse knyttet til stativet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5658</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10363: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10363</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11152: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11152</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12404: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12404</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierStativ for turistinfoType">
                  <annotation>
                     <documentation>5652: Angir hvem som er eier av stativet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5652</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligStativ for turistinfoType">
                  <annotation>
                     <documentation>5653: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5653</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>6893: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6893</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Stativ for turistinfoPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Stativ for turistinfo"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TakStativ for turistinfoType">
      <annotation>
         <documentation>5655: Angir om det er tak over stativet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5655</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tak</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TakStativ for turistinfoEnumerationType nvdb:TakStativ for turistinfoOtherType"/>
   </simpleType>
   <simpleType name="TakStativ for turistinfoEnumerationType">
      <annotation>
         <documentation>5655: Angir om det er tak over stativet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5655</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tak</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7958</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7959</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TakStativ for turistinfoOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligStativ for turistinfoType">
      <annotation>
         <documentation>5653: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5653</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligStativ for turistinfoEnumerationType nvdb:VedlikeholdsansvarligStativ for turistinfoOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligStativ for turistinfoEnumerationType">
      <annotation>
         <documentation>5653: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5653</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19907</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7954</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18738</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18867</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7955</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7953</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17686</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligStativ for turistinfoOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
