GML/625.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>625: Magasin for å fange opp skredmasser eller nedfall fra bergskjæringer.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AdkomstSkredmagasinFanggrøftType">
      <annotation>
         <documentation>9688: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9688</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AdkomstSkredmagasinFanggrøftEnumerationType nvdb:AdkomstSkredmagasinFanggrøftOtherType"/>
   </simpleType>
   <simpleType name="AdkomstSkredmagasinFanggrøftEnumerationType">
      <annotation>
         <documentation>9688: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9688</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="hj">
            <annotation>
               <documentation>19830: Adkomst er mulig med bil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19830</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gr">
            <annotation>
               <documentation>13962: Adkomst for gravemaskin.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13962</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gravemaskin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="he">
            <annotation>
               <documentation>13966: Adkomst for helikopter.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13966</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helikopter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hj">
            <annotation>
               <documentation>13961: Adkomst er mulig med hjullaster.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13961</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hjullaster</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kr">
            <annotation>
               <documentation>13964: Adkomst for kran.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13964</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kran</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ta">
            <annotation>
               <documentation>13965: Adkomst med tau.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13965</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tau</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ft">
            <annotation>
               <documentation>13963: Adkomst til fots.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13963</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Til fots</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AdkomstSkredmagasinFanggrøftOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierSkredmagasinFanggrøftType">
      <annotation>
         <documentation>9690: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9690</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierSkredmagasinFanggrøftEnumerationType nvdb:EierSkredmagasinFanggrøftOtherType"/>
   </simpleType>
   <simpleType name="EierSkredmagasinFanggrøftEnumerationType">
      <annotation>
         <documentation>9690: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9690</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13975</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13976</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13977</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18645</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13974</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17630: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17630</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierSkredmagasinFanggrøftOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="SkredmagasinFanggrøft"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:SkredmagasinFanggrøftType">
      <annotation>
         <documentation>625: Magasin for å fange opp skredmasser eller nedfall fra bergskjæringer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">625</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">SkredmagasinFanggrøft</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SkredmagasinFanggrøftType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeSkredmagasinFanggrøftType">
                  <annotation>
                     <documentation>11265: Angir hvilken type magasin det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11265</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="beskrivelse" type="string">
                  <annotation>
                     <documentation>5661: Kan angi ytterligere beskrivelse av magasinet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5661</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengde" type="double">
                  <annotation>
                     <documentation>9685: Magasinets lengde, målt i vegens lengderetning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9685</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde" type="double">
                  <annotation>
                     <documentation>9686: Gjennomsnittlig bredde av magasinet på tvers av vegens lengderetning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9686</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="magasinvolum" type="integer">
                  <annotation>
                     <documentation>5660: Angir hvor stort volum med masser magasinet kan ta opp.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5660</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Magasinvolum</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="dybdeUnderVegkant" type="double">
                  <annotation>
                     <documentation>9687: Høydeforskjell mellom nærmeste vegkant og bunn av magasin.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9687</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dybde under vegkant</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="adkomst" type="nvdb:AdkomstSkredmagasinFanggrøftType">
                  <annotation>
                     <documentation>9688: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9688</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9689: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9689</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>9874: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9874</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11153: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11153</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12406: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12406</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierSkredmagasinFanggrøftType">
                  <annotation>
                     <documentation>9690: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9690</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligSkredmagasinFanggrøftType">
                  <annotation>
                     <documentation>9691: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9691</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>8902: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8902</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SkredmagasinFanggrøftPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:SkredmagasinFanggrøft"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeSkredmagasinFanggrøftType">
      <annotation>
         <documentation>11265: Angir hvilken type magasin det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11265</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeSkredmagasinFanggrøftEnumerationType nvdb:TypeSkredmagasinFanggrøftOtherType"/>
   </simpleType>
   <simpleType name="TypeSkredmagasinFanggrøftEnumerationType">
      <annotation>
         <documentation>11265: Angir hvilken type magasin det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11265</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FG">
            <annotation>
               <documentation>19005: Magasin for å samle opp nedfall fra bergskjæringer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19005</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fanggrøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SM">
            <annotation>
               <documentation>19004: Magasin for å samle opp skred fra naturlig terreng.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19004</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredmagasin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeSkredmagasinFanggrøftOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSkredmagasinFanggrøftType">
      <annotation>
         <documentation>9691: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9691</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligSkredmagasinFanggrøftEnumerationType nvdb:VedlikeholdsansvarligSkredmagasinFanggrøftOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSkredmagasinFanggrøftEnumerationType">
      <annotation>
         <documentation>9691: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9691</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19992</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13979</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18689</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18818</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13980</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13978</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17766</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSkredmagasinFanggrøftOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
