GML/626.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Friksjonsmåleserie" substitutionGroup="nvdb:AbstraktFriksjonsmåleserie" type="nvdb:FriksjonsmåleserieType">
    <annotation>
      <documentation>626: Gir felles data til serie med målinger</documentation>
    </annotation>
  </element>
  <complexType name="FriksjonsmåleserieType">
    <complexContent>
      <extension base="nvdb:AbstraktFriksjonsmåleserieType">
        <sequence>
          <element minOccurs="0" name="måledato" type="date">
            <annotation>
              <documentation>5742: Angir dato for måling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="klokkeslett" type="string">
            <annotation>
              <documentation>5743: Angir klokkeslett for måling (timer-minutt-sekund)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="filnavn" type="string">
            <annotation>
              <documentation>5744: Angir filnavn</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spor" type="nvdb:SporType">
            <annotation>
              <documentation>11207: Angir i hvilket spor friksjonsmåling er foretatt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="SWVersjon" type="string">
            <annotation>
              <documentation>5745: Angir SoftWare-versjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nextService" type="double">
            <annotation>
              <documentation>5746: NextService
Enhet: Kilometer</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="location" type="string">
            <annotation>
              <documentation>5747: Location:</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="weather" type="string">
            <annotation>
              <documentation>5749: Angir værforhold</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="MWPulsesM" type="double">
            <annotation>
              <documentation>5750: MW Pulses/m</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TWPulsesM" type="double">
            <annotation>
              <documentation>5751: TW Pulses/m</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeFriksjonsmåleserieType">
            <annotation>
              <documentation>5752: Angir type måling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="intervall" type="integer">
            <annotation>
              <documentation>5753: Angir intervall mellom målingene
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="slip_Prosent" type="integer">
            <annotation>
              <documentation>5754: Angir slipprosent
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="PRegConst" type="double">
            <annotation>
              <documentation>5755: P Reg const:</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rosita_id" type="string">
            <annotation>
              <documentation>9117: Gir id for måledatafil/profil i Rosita</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="måleformål" type="nvdb:MåleformålType">
            <annotation>
              <documentation>5905: Angir formål med friksjonsmåling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vannmengde" type="nvdb:VannmengdeType">
            <annotation>
              <documentation>5904: ?</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6902: Gir koordinatsett for å avgrense vegobjektets utstrekning. Vegobjektet representeres med vegnettsgeometri på strekning mellom startpunkt og sluttpunkt. Eventuelt mellomliggende punkt benyttes for å sikre at riktig veglinje benyttes for hele strekningen</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFriksjonsmåling" type="nvdb:AbstraktFriksjonsmålingPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FriksjonsmåleseriePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Friksjonsmåleserie"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MåleformålType">
    <annotation>
      <documentation>5905: Angir formål med friksjonsmåling</documentation>
    </annotation>
    <union memberTypes="nvdb:MåleformålEnumerationType nvdb:MåleformålOtherType"/>
  </simpleType>
  <simpleType name="MåleformålEnumerationType">
    <annotation>
      <documentation>5905: Angir formål med friksjonsmåling</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>8359: Generelle målinger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>8360: Forsøk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K">
        <annotation>
          <documentation>8361: Kalibrering</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R1">
        <annotation>
          <documentation>8362: Referanse-1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R2">
        <annotation>
          <documentation>19490: Referanse-2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R3">
        <annotation>
          <documentation>19492: Referanse-3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>18503: Initiell-1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>18502: Initiell-2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>18501: Initiell-3</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SporType">
    <annotation>
      <documentation>11207: Angir i hvilket spor friksjonsmåling er foretatt.</documentation>
    </annotation>
    <union memberTypes="nvdb:SporEnumerationType nvdb:SporOtherType"/>
  </simpleType>
  <simpleType name="SporEnumerationType">
    <annotation>
      <documentation>11207: Angir i hvilket spor friksjonsmåling er foretatt.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="i">
        <annotation>
          <documentation>18506: Indre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="m">
        <annotation>
          <documentation>18505: Mellom</documentation>
        </annotation>
      </enumeration>
      <enumeration value="y">
        <annotation>
          <documentation>18504: Ytre</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SporOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeFriksjonsmåleserieType">
    <annotation>
      <documentation>5752: Angir type måling</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeFriksjonsmåleserieEnumerationType nvdb:TypeFriksjonsmåleserieOtherType"/>
  </simpleType>
  <simpleType name="TypeFriksjonsmåleserieEnumerationType">
    <annotation>
      <documentation>5752: Angir type måling</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="F">
        <annotation>
          <documentation>7993: Fast slippmåling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>7994: Variabel slippmåling</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFriksjonsmåleserieOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VannmengdeType">
    <annotation>
      <documentation>5904: ?</documentation>
    </annotation>
    <union memberTypes="nvdb:VannmengdeEnumerationType nvdb:VannmengdeOtherType"/>
  </simpleType>
  <simpleType name="VannmengdeEnumerationType">
    <annotation>
      <documentation>5904: ?</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0_0">
        <annotation>
          <documentation>8356: 0,0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="0_5">
        <annotation>
          <documentation>8357: 0,5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1_0">
        <annotation>
          <documentation>8358: 1,0</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VannmengdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
