GML/626.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>626: Gir felles data til serie med målinger.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Friksjonsmåleserie"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:FriksjonsmåleserieType">
      <annotation>
         <documentation>626: Gir felles data til serie med målinger.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">626</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">626</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Friksjonsmåleserie</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FriksjonsmåleserieType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="måledato" type="date">
                  <annotation>
                     <documentation>5742: Angir dato for måling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5742</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Måledato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="klokkeslett" type="string">
                  <annotation>
                     <documentation>5743: Angir klokkeslett for måling (timer-minutt-sekund).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5743</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Klokkeslett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="filnavn" type="string">
                  <annotation>
                     <documentation>5744: Angir filnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5744</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Filnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="spor" type="nvdb:SporType">
                  <annotation>
                     <documentation>11207: Angir i hvilket spor friksjonsmåling er foretatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11207</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spor</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="SWVersjon" type="string">
                  <annotation>
                     <documentation>5745: Angir SoftWare-versjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5745</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">SW Versjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="nextService" type="double">
                  <annotation>
                     <documentation>5746: NextService.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5746</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">NextService</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="location" type="string">
                  <annotation>
                     <documentation>5747: Location:.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5747</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Location</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="weather" type="string">
                  <annotation>
                     <documentation>5749: Angir værforhold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5749</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Weather</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="MWPulsesM" type="double">
                  <annotation>
                     <documentation>5750: MW Pulses/m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5750</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">MW Pulses/m</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="TWPulsesM" type="double">
                  <annotation>
                     <documentation>5751: TW Pulses/m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5751</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TW Pulses/m</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="type" type="nvdb:TypeFriksjonsmåleserieType">
                  <annotation>
                     <documentation>5752: Angir type måling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5752</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="intervall" type="integer">
                  <annotation>
                     <documentation>5753: Angir intervall mellom målingene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5753</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Intervall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="slip_Prosent" type="integer">
                  <annotation>
                     <documentation>5754: Angir slipprosent.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5754</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Slip%</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="PRegConst" type="double">
                  <annotation>
                     <documentation>5755: P Reg const:.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5755</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">P Reg const:</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rosita_id" type="string">
                  <annotation>
                     <documentation>9117: Gir id for måledatafil/profil i Rosita.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9117</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rosita_id</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="måleformål" type="nvdb:MåleformålType">
                  <annotation>
                     <documentation>5905: Angir formål med friksjonsmåling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5905</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Måleformål</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vannmengde" type="nvdb:VannmengdeType">
                  <annotation>
                     <documentation>5904: ?.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5904</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vannmengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>6902: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6902</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FriksjonsmåleseriePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Friksjonsmåleserie"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MåleformålType">
      <annotation>
         <documentation>5905: Angir formål med friksjonsmåling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5905</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5905</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Måleformål</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MåleformålEnumerationType nvdb:MåleformålOtherType"/>
   </simpleType>
   <simpleType name="MåleformålEnumerationType">
      <annotation>
         <documentation>5905: Angir formål med friksjonsmåling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5905</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5905</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Måleformål</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="G">
            <annotation>
               <documentation>8359: Generelle målinger</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8359</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Generelle målinger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <documentation>8360: Forsøk</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8360</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forsøk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <documentation>8361: Kalibrering</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8361</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kalibrering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R1">
            <annotation>
               <documentation>8362: Referanse-1</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8362</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Referanse-1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R2">
            <annotation>
               <documentation>19490: Referanse-2</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19490</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Referanse-2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R3">
            <annotation>
               <documentation>19492: Referanse-3</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19492</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Referanse-3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>18503: Initiell-1</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18503</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Initiell-1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>18502: Initiell-2</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18502</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Initiell-2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <documentation>18501: Initiell-3</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18501</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Initiell-3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MåleformålOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SporType">
      <annotation>
         <documentation>11207: Angir i hvilket spor friksjonsmåling er foretatt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spor</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SporEnumerationType nvdb:SporOtherType"/>
   </simpleType>
   <simpleType name="SporEnumerationType">
      <annotation>
         <documentation>11207: Angir i hvilket spor friksjonsmåling er foretatt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spor</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="i">
            <annotation>
               <documentation>18506: Indre</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18506</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Indre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <documentation>18505: Mellom</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18505</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mellom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="y">
            <annotation>
               <documentation>18504: Ytre</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18504</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ytre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SporOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeFriksjonsmåleserieType">
      <annotation>
         <documentation>5752: Angir type måling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5752</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5752</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeFriksjonsmåleserieEnumerationType nvdb:TypeFriksjonsmåleserieOtherType"/>
   </simpleType>
   <simpleType name="TypeFriksjonsmåleserieEnumerationType">
      <annotation>
         <documentation>5752: Angir type måling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5752</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5752</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="F">
            <annotation>
               <documentation>7993: Fast slippmåling</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7993</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fast slippmåling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <documentation>7994: Variabel slippmåling</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7994</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Variabel slippmåling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeFriksjonsmåleserieOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VannmengdeType">
      <annotation>
         <documentation>5904: ?.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5904</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5904</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vannmengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VannmengdeEnumerationType nvdb:VannmengdeOtherType"/>
   </simpleType>
   <simpleType name="VannmengdeEnumerationType">
      <annotation>
         <documentation>5904: ?.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5904</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5904</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vannmengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="0,0">
            <annotation>
               <documentation>8356: 0,0</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8356</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0,0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="0,5">
            <annotation>
               <documentation>8357: 0,5</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8357</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0,5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1,0">
            <annotation>
               <documentation>8358: 1,0</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8358</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1,0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VannmengdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
