GML/627.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>627: Punkt på vegen som benyttes som referanse i vegnettet.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="ReferanseForReferansepunktType">
      <annotation>
         <documentation>5759: Angir hvilken organisasjon det er referanse for.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5759</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Referanse for</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ReferanseForReferansepunktEnumerationType nvdb:ReferanseForReferansepunktOtherType"/>
   </simpleType>
   <simpleType name="ReferanseForReferansepunktEnumerationType">
      <annotation>
         <documentation>5759: Angir hvilken organisasjon det er referanse for.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5759</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Referanse for</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="jbv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8001</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jernbaneverket</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nsb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8000</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NSB</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SvV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7999</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ReferanseForReferansepunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Referansepunkt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:ReferansepunktType">
      <annotation>
         <documentation>627: Punkt på vegen som benyttes som referanse i vegnettet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">627</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Referansepunkt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="ReferansepunktType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="referansenummer" type="string">
                  <annotation>
                     <documentation>5760: Angir punktets entydige referansenummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5760</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Referansenummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="referanseFor">
                  <annotation>
                     <documentation>5759: Angir hvilken organisasjon det er referanse for.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5759</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Referanse for</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vegident_Generert" type="string">
                  <annotation>
                     <documentation>8133: Angir generert vegident.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8133</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegident, generert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>5761: Gir stedfesting.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5761</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ReferansepunktPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Referansepunkt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
