GML/628.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DekkevariantVegdekke_SporfyllingType">
    <annotation>
      <documentation>5775: Angir detaljer om sporfyllingsmaterialet</documentation>
    </annotation>
    <union memberTypes="nvdb:DekkevariantVegdekke_SporfyllingEnumerationType nvdb:DekkevariantVegdekke_SporfyllingOtherType"/>
  </simpleType>
  <simpleType name="DekkevariantVegdekke_SporfyllingEnumerationType">
    <annotation>
      <documentation>5775: Angir detaljer om sporfyllingsmaterialet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="åpen">
        <annotation>
          <documentation>8139: Åpen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tett">
        <annotation>
          <documentation>8140: Tett</documentation>
        </annotation>
      </enumeration>
      <enumeration value="drenerende">
        <annotation>
          <documentation>8141: Drenerende</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gjenbruksmasse">
        <annotation>
          <documentation>8142: Gjenbruksmasse</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekkevariantVegdekke_SporfyllingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MassetypeVegdekke_SporfyllingType">
    <annotation>
      <documentation>5763: Angir hvilken massetype som benyttes</documentation>
    </annotation>
    <union memberTypes="nvdb:MassetypeVegdekke_SporfyllingEnumerationType nvdb:MassetypeVegdekke_SporfyllingOtherType"/>
  </simpleType>
  <simpleType name="MassetypeVegdekke_SporfyllingEnumerationType">
    <annotation>
      <documentation>5763: Angir hvilken massetype som benyttes</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="grus">
        <annotation>
          <documentation>8008: Grus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="knustAsfalt">
        <annotation>
          <documentation>8052: Knust asfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tynndekke">
        <annotation>
          <documentation>8051: Tynndekke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfalt">
        <annotation>
          <documentation>8009: Asfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltertGrus">
        <annotation>
          <documentation>8014: Asfaltert grus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="støpeasfalt">
        <annotation>
          <documentation>8019: Støpeasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="topeka">
        <annotation>
          <documentation>8024: Topeka</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skjelettasfalt">
        <annotation>
          <documentation>8016: Skjelettasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltbetong">
        <annotation>
          <documentation>8018: Asfaltbetong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltemulsjonsgrus">
        <annotation>
          <documentation>8042: Asfaltemulsjonsgrus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="drensasfalt">
        <annotation>
          <documentation>8017: Drensasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltgrusbetong">
        <annotation>
          <documentation>8015: Asfaltgrusbetong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltgrusbetong_I">
        <annotation>
          <documentation>8043: Asfaltgrusbetong, I</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltgrusbetong_II">
        <annotation>
          <documentation>8044: Asfaltgrusbetong, II</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mykasfalt">
        <annotation>
          <documentation>8012: Mykasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mykDrensasfalt">
        <annotation>
          <documentation>8013: Myk drensasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltertFinpukk">
        <annotation>
          <documentation>8034: Asfaltert finpukk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltløsningsgrus">
        <annotation>
          <documentation>8045: Asfaltløsningsgrus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="emulsjonsgrus">
        <annotation>
          <documentation>8010: Emulsjonsgrus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="emulsjonspukk">
        <annotation>
          <documentation>8046: Emulsjonspukk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="emulsjonsgrus_Tett">
        <annotation>
          <documentation>8011: Emulsjonsgrus, tett</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oljegrus">
        <annotation>
          <documentation>8035: Oljegrus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="enkelOverflatebehandling">
        <annotation>
          <documentation>8036: Enkel overflatebehandling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="steindekke">
        <annotation>
          <documentation>8029: Steindekke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dobbelOverflatebehandling">
        <annotation>
          <documentation>8037: Dobbel overflatebehandling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="enkelOverflatebehandlingGrus">
        <annotation>
          <documentation>8038: Enkel overflatebehandling grus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dobbelOverflatebehandlingGrus">
        <annotation>
          <documentation>8039: Dobbel overflatebehandling grus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gjenbruksasfalt">
        <annotation>
          <documentation>8021: Gjenbruksasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="forsegling">
        <annotation>
          <documentation>8040: Forsegling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fresteAsfaltmaterialer">
        <annotation>
          <documentation>8020: Freste asfaltmaterialer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="frest_AnriketGja">
        <annotation>
          <documentation>8047: Frest, Anriket/Gja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="frest_DjupfrestGja">
        <annotation>
          <documentation>8048: Frest, Djupfrest/Gja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="frest_PlanfrestGja">
        <annotation>
          <documentation>8049: Frest, Planfrest/Gja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="slamasfalt">
        <annotation>
          <documentation>8023: Slamasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gummiasfalt">
        <annotation>
          <documentation>8022: Gummiasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>8025: b</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongdekke_Uarmert">
        <annotation>
          <documentation>8026: Betongdekke, uarmert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="valsebetong">
        <annotation>
          <documentation>8050: Valsebetong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongdekke_VanligArmert">
        <annotation>
          <documentation>8027: Betongdekke, vanlig armert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongdekke_KontinuerligArmert">
        <annotation>
          <documentation>8028: Betongdekke, kontinuerlig armert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongelementer">
        <annotation>
          <documentation>8041: Betongelementer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>8030: Betongstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brostein">
        <annotation>
          <documentation>8031: Brostein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stålgitter">
        <annotation>
          <documentation>8032: Stålgitter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tre">
        <annotation>
          <documentation>8033: Tre</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MassetypeVegdekke_SporfyllingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegdekke_Sporfylling" substitutionGroup="nvdb:AbstraktVegdekke_Sporfylling" type="nvdb:Vegdekke_SporfyllingType">
    <annotation>
      <documentation>628: Vedlikeholdstiltak for vegdekke, type sporfylling</documentation>
    </annotation>
  </element>
  <complexType name="Vegdekke_SporfyllingType">
    <complexContent>
      <extension base="nvdb:AbstraktVegdekke_SporfyllingType">
        <sequence>
          <element name="massetype" type="nvdb:MassetypeVegdekke_SporfyllingType">
            <annotation>
              <documentation>5763: Angir hvilken massetype som benyttes</documentation>
            </annotation>
          </element>
          <element name="masseforbruk" type="integer">
            <annotation>
              <documentation>5764: Angir masseforbruk i kg/kvm
Enhet: Kilo/kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="øvreNominelleSteinstørrelse" type="nvdb:ØvreNominelleSteinstørrelseVegdekke_SporfyllingType">
            <annotation>
              <documentation>5773: Angir øvre nominelle steinstørrelse for asfaltmateriale.
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element name="bredde_GjSnitt" type="double">
            <annotation>
              <documentation>5765: Angir gjennomsnittlig bredde for sporfylling
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element name="leggedato" type="date">
            <annotation>
              <documentation>5766: Angir dato for sporfylling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5767: Gir permanent merknad</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkevariant" type="nvdb:DekkevariantVegdekke_SporfyllingType">
            <annotation>
              <documentation>5775: Angir detaljer om sporfyllingsmaterialet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6900: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Vegdekke_SporfyllingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegdekke_Sporfylling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekke_SporfyllingType">
    <annotation>
      <documentation>5773: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
    </annotation>
    <union memberTypes="nvdb:ØvreNominelleSteinstørrelseVegdekke_SporfyllingEnumerationType nvdb:ØvreNominelleSteinstørrelseVegdekke_SporfyllingOtherType"/>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekke_SporfyllingEnumerationType">
    <annotation>
      <documentation>5773: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>8133: 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>8118: 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>8119: 4</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>8138: 6</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>8120: 8</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>8132: 9</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10">
        <annotation>
          <documentation>8134: 10</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation>8121: 11</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>8122: 12</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13">
        <annotation>
          <documentation>8131: 13</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14">
        <annotation>
          <documentation>8123: 14</documentation>
        </annotation>
      </enumeration>
      <enumeration value="15">
        <annotation>
          <documentation>8135: 15</documentation>
        </annotation>
      </enumeration>
      <enumeration value="16">
        <annotation>
          <documentation>8124: 16</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18">
        <annotation>
          <documentation>8128: 18</documentation>
        </annotation>
      </enumeration>
      <enumeration value="19">
        <annotation>
          <documentation>8129: 19</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>8136: 20</documentation>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>8125: 22</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>8130: 24</documentation>
        </annotation>
      </enumeration>
      <enumeration value="26">
        <annotation>
          <documentation>8137: 26</documentation>
        </annotation>
      </enumeration>
      <enumeration value="28">
        <annotation>
          <documentation>8126: 28</documentation>
        </annotation>
      </enumeration>
      <enumeration value="32">
        <annotation>
          <documentation>8127: 32</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekke_SporfyllingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
