GML/628.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>628: Vedlikeholdstiltak for vegdekke, type sporfylling.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="DekkevariantVegdekke, sporfyllingType">
      <annotation>
         <documentation>5775: Angir detaljer om sporfyllingsmaterialet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5775</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dekkevariant</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DekkevariantVegdekke, sporfyllingEnumerationType nvdb:DekkevariantVegdekke, sporfyllingOtherType"/>
   </simpleType>
   <simpleType name="DekkevariantVegdekke, sporfyllingEnumerationType">
      <annotation>
         <documentation>5775: Angir detaljer om sporfyllingsmaterialet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5775</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dekkevariant</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="d">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8141</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Drenerende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8142</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gjenbruksmasse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8140</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="å">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8139</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DekkevariantVegdekke, sporfyllingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MassetypeVegdekke, sporfyllingType">
      <annotation>
         <documentation>5763: Angir hvilken massetype som benyttes.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5763</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MassetypeVegdekke, sporfyllingEnumerationType nvdb:MassetypeVegdekke, sporfyllingOtherType"/>
   </simpleType>
   <simpleType name="MassetypeVegdekke, sporfyllingEnumerationType">
      <annotation>
         <documentation>5763: Angir hvilken massetype som benyttes.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5763</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8009</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ab">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8018</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltbetong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Aeg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8042</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltemulsjonsgrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Af">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8034</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltert finpukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ag">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8014</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltert grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Agb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8015</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltgrusbetong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="AgbI">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8043</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltgrusbetong, I</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="AgbII">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8044</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltgrusbetong, II</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Alg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8045</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltløsningsgrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <documentation>8025: b.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8025</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8028</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongdekke, kontinuerlig armert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8026</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongdekke, uarmert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ba">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8027</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongdekke, vanlig armert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Be">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8041</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongelementer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8030</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Br">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8031</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brostein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Do">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8037</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dobbel overflatebehandling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Dog">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8039</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dobbel overflatebehandling grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Da">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8017</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Drensasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Eg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8010</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emulsjonsgrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Egt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8011</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emulsjonsgrus, tett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ep">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8046</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emulsjonspukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Eo">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8036</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enkel overflatebehandling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Eog">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8038</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enkel overflatebehandling grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8040</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forsegling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fra">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8047</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Frest, Anriket/Gja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Frd">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8048</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Frest, Djupfrest/Gja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Frp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8049</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Frest, Planfrest/Gja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8020</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Freste asfaltmaterialer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Gja">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8021</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gjenbruksasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8008</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ga">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8022</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gummiasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ak">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8052</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Knust asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Mda">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8013</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Myk drensasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ma">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8012</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mykasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Og">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8035</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oljegrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ska">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8016</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skjelettasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sla">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8023</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slamasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8029</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Steindekke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stå">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8032</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stålgitter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sta">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8019</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Støpeasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Top">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8024</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Topeka</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Tre">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8033</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8051</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tynndekke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8050</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Valsebetong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MassetypeVegdekke, sporfyllingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegdekke, sporfylling"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Vegdekke, sporfyllingType">
      <annotation>
         <documentation>628: Vedlikeholdstiltak for vegdekke, type sporfylling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">628</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegdekke, sporfylling</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Vegdekke, sporfyllingType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="massetype" type="nvdb:MassetypeVegdekke, sporfyllingType">
                  <annotation>
                     <documentation>5763: Angir hvilken massetype som benyttes.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5763</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="masseforbruk" type="integer">
                  <annotation>
                     <documentation>5764: Angir masseforbruk i kg/kvm.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5764</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Masseforbruk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="øvreNominelleSteinstørrelse">
                  <annotation>
                     <documentation>5773: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5773</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>5765: Angir gjennomsnittlig bredde for sporfylling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5765</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="leggedato" type="date">
                  <annotation>
                     <documentation>5766: Angir dato for sporfylling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5766</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Leggedato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>5767: Gir permanent merknad.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5767</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="dekkevariant"
                        type="nvdb:DekkevariantVegdekke, sporfyllingType">
                  <annotation>
                     <documentation>5775: Angir detaljer om sporfyllingsmaterialet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5775</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dekkevariant</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>6900: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6900</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Vegdekke, sporfyllingPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegdekke, sporfylling"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="ØvreNominelleSteinstørrelseVegdekke, sporfyllingType">
      <annotation>
         <documentation>5773: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5773</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ØvreNominelleSteinstørrelseVegdekke, sporfyllingEnumerationType nvdb:ØvreNominelleSteinstørrelseVegdekke, sporfyllingOtherType"/>
   </simpleType>
   <simpleType name="ØvreNominelleSteinstørrelseVegdekke, sporfyllingEnumerationType">
      <annotation>
         <documentation>5773: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5773</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="01">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8133</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8134</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8121</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8122</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="13">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8131</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">13</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8123</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">14</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8135</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">15</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="16">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8124</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">16</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="18">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8128</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">18</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="19">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8129</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">19</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="02">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8118</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="20">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8136</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">20</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="22">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8125</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">22</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8130</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">24</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="26">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8137</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">26</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="28">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8126</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">28</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="32">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8127</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">32</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="04">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8119</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8138</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="08">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8120</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="09">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8132</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ØvreNominelleSteinstørrelseVegdekke, sporfyllingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
