GML/628.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DekkevariantVegdekke_SporfyllingType">
    <annotation>
      <documentation>5775: Angir detaljer om sporfyllingsmaterialet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5775</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5775</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dekkevariant</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DekkevariantVegdekke_SporfyllingEnumerationType nvdb:DekkevariantVegdekke_SporfyllingOtherType"/>
  </simpleType>
  <simpleType name="DekkevariantVegdekke_SporfyllingEnumerationType">
    <annotation>
      <documentation>5775: Angir detaljer om sporfyllingsmaterialet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5775</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5775</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dekkevariant</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Åpen">
        <annotation>
          <documentation>8139: Åpen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8139</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Åpen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tett">
        <annotation>
          <documentation>8140: Tett</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8140</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Drenerende">
        <annotation>
          <documentation>8141: Drenerende</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8141</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drenerende</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gjenbruksmasse">
        <annotation>
          <documentation>8142: Gjenbruksmasse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8142</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjenbruksmasse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekkevariantVegdekke_SporfyllingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MassetypeVegdekke_SporfyllingType">
    <annotation>
      <documentation>5763: Angir hvilken massetype som benyttes.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5763</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5763</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MassetypeVegdekke_SporfyllingEnumerationType nvdb:MassetypeVegdekke_SporfyllingOtherType"/>
  </simpleType>
  <simpleType name="MassetypeVegdekke_SporfyllingEnumerationType">
    <annotation>
      <documentation>5763: Angir hvilken massetype som benyttes.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5763</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5763</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Grus">
        <annotation>
          <documentation>8008: Grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8008</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Knust asfalt">
        <annotation>
          <documentation>8052: Knust asfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8052</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Knust asfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tynndekke">
        <annotation>
          <documentation>8051: Tynndekke</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8051</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tynndekke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfalt">
        <annotation>
          <documentation>8009: Asfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8009</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltert grus">
        <annotation>
          <documentation>8014: Asfaltert grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8014</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltert grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Støpeasfalt">
        <annotation>
          <documentation>8019: Støpeasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8019</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støpeasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Topeka">
        <annotation>
          <documentation>8024: Topeka</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8024</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Topeka</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skjelettasfalt">
        <annotation>
          <documentation>8016: Skjelettasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8016</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjelettasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltbetong">
        <annotation>
          <documentation>8018: Asfaltbetong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8018</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltbetong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltemulsjonsgrus">
        <annotation>
          <documentation>8042: Asfaltemulsjonsgrus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8042</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltemulsjonsgrus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Drensasfalt">
        <annotation>
          <documentation>8017: Drensasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8017</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drensasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltgrusbetong">
        <annotation>
          <documentation>8015: Asfaltgrusbetong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8015</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltgrusbetong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltgrusbetong, I">
        <annotation>
          <documentation>8043: Asfaltgrusbetong, I</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8043</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltgrusbetong, I</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltgrusbetong, II">
        <annotation>
          <documentation>8044: Asfaltgrusbetong, II</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8044</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltgrusbetong, II</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mykasfalt">
        <annotation>
          <documentation>8012: Mykasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8012</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mykasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Myk drensasfalt">
        <annotation>
          <documentation>8013: Myk drensasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8013</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Myk drensasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltert finpukk">
        <annotation>
          <documentation>8034: Asfaltert finpukk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8034</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltert finpukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltløsningsgrus">
        <annotation>
          <documentation>8045: Asfaltløsningsgrus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8045</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltløsningsgrus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Emulsjonsgrus">
        <annotation>
          <documentation>8010: Emulsjonsgrus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8010</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Emulsjonsgrus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Emulsjonspukk">
        <annotation>
          <documentation>8046: Emulsjonspukk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8046</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Emulsjonspukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Emulsjonsgrus, tett">
        <annotation>
          <documentation>8011: Emulsjonsgrus, tett</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8011</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Emulsjonsgrus, tett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oljegrus">
        <annotation>
          <documentation>8035: Oljegrus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8035</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oljegrus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Enkel overflatebehandling">
        <annotation>
          <documentation>8036: Enkel overflatebehandling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8036</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Enkel overflatebehandling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Steindekke">
        <annotation>
          <documentation>8029: Steindekke</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8029</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Steindekke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dobbel overflatebehandling">
        <annotation>
          <documentation>8037: Dobbel overflatebehandling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8037</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dobbel overflatebehandling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Enkel overflatebehandling grus">
        <annotation>
          <documentation>8038: Enkel overflatebehandling grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8038</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Enkel overflatebehandling grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dobbel overflatebehandling grus">
        <annotation>
          <documentation>8039: Dobbel overflatebehandling grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8039</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dobbel overflatebehandling grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gjenbruksasfalt">
        <annotation>
          <documentation>8021: Gjenbruksasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8021</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjenbruksasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Forsegling">
        <annotation>
          <documentation>8040: Forsegling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8040</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forsegling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Freste asfaltmaterialer">
        <annotation>
          <documentation>8020: Freste asfaltmaterialer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8020</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Freste asfaltmaterialer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Frest, Anriket/Gja">
        <annotation>
          <documentation>8047: Frest, Anriket/Gja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8047</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Frest, Anriket/Gja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Frest, Djupfrest/Gja">
        <annotation>
          <documentation>8048: Frest, Djupfrest/Gja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8048</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Frest, Djupfrest/Gja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Frest, Planfrest/Gja">
        <annotation>
          <documentation>8049: Frest, Planfrest/Gja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8049</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Frest, Planfrest/Gja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Slamasfalt">
        <annotation>
          <documentation>8023: Slamasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8023</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Slamasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gummiasfalt">
        <annotation>
          <documentation>8022: Gummiasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8022</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gummiasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>8025: b.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8025</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongdekke, uarmert">
        <annotation>
          <documentation>8026: Betongdekke, uarmert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8026</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongdekke, uarmert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Valsebetong">
        <annotation>
          <documentation>8050: Valsebetong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8050</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Valsebetong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongdekke, vanlig armert">
        <annotation>
          <documentation>8027: Betongdekke, vanlig armert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8027</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongdekke, vanlig armert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongdekke, kontinuerlig armert">
        <annotation>
          <documentation>8028: Betongdekke, kontinuerlig armert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8028</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongdekke, kontinuerlig armert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongelementer">
        <annotation>
          <documentation>8041: Betongelementer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8041</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongelementer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongstein">
        <annotation>
          <documentation>8030: Betongstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8030</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brostein">
        <annotation>
          <documentation>8031: Brostein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8031</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brostein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stålgitter">
        <annotation>
          <documentation>8032: Stålgitter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8032</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stålgitter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tre">
        <annotation>
          <documentation>8033: Tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8033</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MassetypeVegdekke_SporfyllingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegdekke_Sporfylling" substitutionGroup="nvdb:AbstraktVegdekke_Sporfylling" type="nvdb:Vegdekke_SporfyllingType">
    <annotation>
      <documentation>628: Vedlikeholdstiltak for vegdekke, type sporfylling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">628</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">628</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vegdekke, sporfylling</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Vegdekke_SporfyllingType">
    <complexContent>
      <extension base="nvdb:AbstraktVegdekke_SporfyllingType">
        <sequence>
          <element name="massetype" type="nvdb:MassetypeVegdekke_SporfyllingType">
            <annotation>
              <documentation>5763: Angir hvilken massetype som benyttes.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5763</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="masseforbruk" type="integer">
            <annotation>
              <documentation>5764: Angir masseforbruk i kg/kvm.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5764</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Masseforbruk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="øvreNominelleSteinstørrelse" type="nvdb:ØvreNominelleSteinstørrelseVegdekke_SporfyllingType">
            <annotation>
              <documentation>5773: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5773</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bredde_Gjennomsnitt" type="double">
            <annotation>
              <documentation>5765: Angir gjennomsnittlig bredde for sporfylling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5765</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="leggedato" type="date">
            <annotation>
              <documentation>5766: Angir dato for sporfylling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5766</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Leggedato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5767: Gir permanent merknad.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5767</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkevariant" type="nvdb:DekkevariantVegdekke_SporfyllingType">
            <annotation>
              <documentation>5775: Angir detaljer om sporfyllingsmaterialet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5775</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dekkevariant</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6900: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6900</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Vegdekke_SporfyllingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegdekke_Sporfylling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekke_SporfyllingType">
    <annotation>
      <documentation>5773: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5773</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5773</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ØvreNominelleSteinstørrelseVegdekke_SporfyllingEnumerationType nvdb:ØvreNominelleSteinstørrelseVegdekke_SporfyllingOtherType"/>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekke_SporfyllingEnumerationType">
    <annotation>
      <documentation>5773: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5773</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5773</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>8133: 1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8133</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>8118: 2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8118</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>8119: 4</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8119</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>8138: 6</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8138</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>8120: 8</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8120</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>8132: 9</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8132</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10">
        <annotation>
          <documentation>8134: 10</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8134</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">10</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation>8121: 11</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8121</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">11</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>8122: 12</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8122</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="13">
        <annotation>
          <documentation>8131: 13</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8131</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">13</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="14">
        <annotation>
          <documentation>8123: 14</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8123</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">14</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="15">
        <annotation>
          <documentation>8135: 15</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8135</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">15</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="16">
        <annotation>
          <documentation>8124: 16</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8124</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">16</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="18">
        <annotation>
          <documentation>8128: 18</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8128</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">18</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="19">
        <annotation>
          <documentation>8129: 19</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8129</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">19</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>8136: 20</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8136</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">20</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>8125: 22</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8125</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">22</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>8130: 24</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8130</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">24</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="26">
        <annotation>
          <documentation>8137: 26</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8137</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">26</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="28">
        <annotation>
          <documentation>8126: 28</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8126</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">28</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="32">
        <annotation>
          <documentation>8127: 32</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8127</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">32</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekke_SporfyllingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
