GML/629.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DekkevariantVegdekke_FlatelappingType">
    <annotation>
      <documentation>5776: Angir detaljer om dekkelappingsmaterialet</documentation>
    </annotation>
    <union memberTypes="nvdb:DekkevariantVegdekke_FlatelappingEnumerationType nvdb:DekkevariantVegdekke_FlatelappingOtherType"/>
  </simpleType>
  <simpleType name="DekkevariantVegdekke_FlatelappingEnumerationType">
    <annotation>
      <documentation>5776: Angir detaljer om dekkelappingsmaterialet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="åpen">
        <annotation>
          <documentation>8143: Åpen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tett">
        <annotation>
          <documentation>8144: Tett</documentation>
        </annotation>
      </enumeration>
      <enumeration value="drenerende">
        <annotation>
          <documentation>8145: Drenerende</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gjenbruksmasse">
        <annotation>
          <documentation>8146: Gjenbruksmasse</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekkevariantVegdekke_FlatelappingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MassetypeVegdekke_FlatelappingType">
    <annotation>
      <documentation>5768: Angir hvilken massetype som benyttes</documentation>
    </annotation>
    <union memberTypes="nvdb:MassetypeVegdekke_FlatelappingEnumerationType nvdb:MassetypeVegdekke_FlatelappingOtherType"/>
  </simpleType>
  <simpleType name="MassetypeVegdekke_FlatelappingEnumerationType">
    <annotation>
      <documentation>5768: Angir hvilken massetype som benyttes</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="knustAsfalt">
        <annotation>
          <documentation>8096: Knust asfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tynndekke">
        <annotation>
          <documentation>8095: Tynndekke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfalt">
        <annotation>
          <documentation>8053: Asfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltertGrus">
        <annotation>
          <documentation>8058: Asfaltert grus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="støpeasfalt">
        <annotation>
          <documentation>8063: Støpeasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="topeka">
        <annotation>
          <documentation>8068: Topeka</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skjelettasfalt">
        <annotation>
          <documentation>8060: Skjelettasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltbetong">
        <annotation>
          <documentation>8062: Asfaltbetong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltemulsjonsgrus">
        <annotation>
          <documentation>8086: Asfaltemulsjonsgrus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="drensasfalt">
        <annotation>
          <documentation>8061: Drensasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltgrusbetong">
        <annotation>
          <documentation>8059: Asfaltgrusbetong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltgrusbetong_I">
        <annotation>
          <documentation>8087: Asfaltgrusbetong, I</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltgrusbetong_II">
        <annotation>
          <documentation>8088: Asfaltgrusbetong, II</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mykasfalt">
        <annotation>
          <documentation>8056: Mykasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mykDrensasfalt">
        <annotation>
          <documentation>8057: Myk drensasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltertFinpukk">
        <annotation>
          <documentation>8078: Asfaltert finpukk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltløsningsgrus">
        <annotation>
          <documentation>8089: Asfaltløsningsgrus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="emulsjonsgrus">
        <annotation>
          <documentation>8054: Emulsjonsgrus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="emulsjonspukk">
        <annotation>
          <documentation>8090: Emulsjonspukk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="emulsjonsgrus_Tett">
        <annotation>
          <documentation>8055: Emulsjonsgrus, tett</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oljegrus">
        <annotation>
          <documentation>8079: Oljegrus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="enkelOverflatebehandling">
        <annotation>
          <documentation>8080: Enkel overflatebehandling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="steindekke">
        <annotation>
          <documentation>8073: Steindekke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dobbelOverflatebehandling">
        <annotation>
          <documentation>8081: Dobbel overflatebehandling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="enkelOverflatebehandlingGrus">
        <annotation>
          <documentation>8082: Enkel overflatebehandling grus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dobbelOverflatebehandlingGrus">
        <annotation>
          <documentation>8083: Dobbel overflatebehandling grus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gjenbruksasfalt">
        <annotation>
          <documentation>8065: Gjenbruksasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="forsegling">
        <annotation>
          <documentation>8084: Forsegling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fresteAsfaltmaterialer">
        <annotation>
          <documentation>8064: Freste asfaltmaterialer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="frest_AnriketGja">
        <annotation>
          <documentation>8091: Frest, Anriket/Gja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="frest_DjupfrestGja">
        <annotation>
          <documentation>8092: Frest, Djupfrest/Gja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="frest_PlanfrestGja">
        <annotation>
          <documentation>8093: Frest, Planfrest/Gja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="slamasfalt">
        <annotation>
          <documentation>8067: Slamasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gummiasfalt">
        <annotation>
          <documentation>8066: Gummiasfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>8069: b</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongdekke_Uarmert">
        <annotation>
          <documentation>8070: Betongdekke, uarmert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="valsebetong">
        <annotation>
          <documentation>8094: Valsebetong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongdekke_VanligArmert">
        <annotation>
          <documentation>8071: Betongdekke, vanlig armert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongdekke_KontinuerligArmert">
        <annotation>
          <documentation>8072: Betongdekke, kontinuerlig armert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongelementer">
        <annotation>
          <documentation>8085: Betongelementer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>8074: Betongstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brostein">
        <annotation>
          <documentation>8075: Brostein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stålgitter">
        <annotation>
          <documentation>8076: Stålgitter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tre">
        <annotation>
          <documentation>8077: Tre</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MassetypeVegdekke_FlatelappingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegdekke_Flatelapping" substitutionGroup="nvdb:AbstraktVegdekke_Flatelapping" type="nvdb:Vegdekke_FlatelappingType">
    <annotation>
      <documentation>629: Vedlikeholdstiltak for vegdekke, type flatelapping</documentation>
    </annotation>
  </element>
  <complexType name="Vegdekke_FlatelappingType">
    <complexContent>
      <extension base="nvdb:AbstraktVegdekke_FlatelappingType">
        <sequence>
          <element name="massetype" type="nvdb:MassetypeVegdekke_FlatelappingType">
            <annotation>
              <documentation>5768: Angir hvilken massetype som benyttes</documentation>
            </annotation>
          </element>
          <element name="masseforbruk" type="integer">
            <annotation>
              <documentation>5769: Angir masseforbruk i kg/kvm
Enhet: Kilo/kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="øvreNominelleSteinstørrelse" type="nvdb:ØvreNominelleSteinstørrelseVegdekke_FlatelappingType">
            <annotation>
              <documentation>5774: Angir øvre nominelle steinstørrelse for asfaltmateriale.
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element name="leggedato" type="date">
            <annotation>
              <documentation>5770: Angir dato for flatelapping</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5771: Gir permanent merknad</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkevariant" type="nvdb:DekkevariantVegdekke_FlatelappingType">
            <annotation>
              <documentation>5776: Angir detaljer om dekkelappingsmaterialet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6901: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8903: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertEntreprenør" type="nvdb:AbstraktEntreprenørPropertyType"/>
          <element minOccurs="0" name="assosiertVegdekke" type="nvdb:AbstraktVegdekkePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Vegdekke_FlatelappingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegdekke_Flatelapping"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekke_FlatelappingType">
    <annotation>
      <documentation>5774: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
    </annotation>
    <union memberTypes="nvdb:ØvreNominelleSteinstørrelseVegdekke_FlatelappingEnumerationType nvdb:ØvreNominelleSteinstørrelseVegdekke_FlatelappingOtherType"/>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekke_FlatelappingEnumerationType">
    <annotation>
      <documentation>5774: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>8112: 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>8097: 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>8098: 4</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>8117: 6</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>8099: 8</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>8111: 9</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10">
        <annotation>
          <documentation>8113: 10</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation>8100: 11</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>8101: 12</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13">
        <annotation>
          <documentation>8110: 13</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14">
        <annotation>
          <documentation>8102: 14</documentation>
        </annotation>
      </enumeration>
      <enumeration value="15">
        <annotation>
          <documentation>8114: 15</documentation>
        </annotation>
      </enumeration>
      <enumeration value="16">
        <annotation>
          <documentation>8103: 16</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18">
        <annotation>
          <documentation>8107: 18</documentation>
        </annotation>
      </enumeration>
      <enumeration value="19">
        <annotation>
          <documentation>8108: 19</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>8115: 20</documentation>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>8104: 22</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>8109: 24</documentation>
        </annotation>
      </enumeration>
      <enumeration value="26">
        <annotation>
          <documentation>8116: 26</documentation>
        </annotation>
      </enumeration>
      <enumeration value="28">
        <annotation>
          <documentation>8105: 28</documentation>
        </annotation>
      </enumeration>
      <enumeration value="32">
        <annotation>
          <documentation>8106: 32</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekke_FlatelappingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
