GML/629.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DekkevariantVegdekke_FlatelappingType">
    <annotation>
      <documentation>5776: Angir detaljer om dekkelappingsmaterialet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5776</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5776</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dekkevariant</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DekkevariantVegdekke_FlatelappingEnumerationType nvdb:DekkevariantVegdekke_FlatelappingOtherType"/>
  </simpleType>
  <simpleType name="DekkevariantVegdekke_FlatelappingEnumerationType">
    <annotation>
      <documentation>5776: Angir detaljer om dekkelappingsmaterialet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5776</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5776</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dekkevariant</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Åpen">
        <annotation>
          <documentation>8143: Åpen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8143</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Åpen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tett">
        <annotation>
          <documentation>8144: Tett</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8144</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Drenerende">
        <annotation>
          <documentation>8145: Drenerende</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8145</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drenerende</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gjenbruksmasse">
        <annotation>
          <documentation>8146: Gjenbruksmasse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8146</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjenbruksmasse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekkevariantVegdekke_FlatelappingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MassetypeVegdekke_FlatelappingType">
    <annotation>
      <documentation>5768: Angir hvilken massetype som benyttes.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5768</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5768</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MassetypeVegdekke_FlatelappingEnumerationType nvdb:MassetypeVegdekke_FlatelappingOtherType"/>
  </simpleType>
  <simpleType name="MassetypeVegdekke_FlatelappingEnumerationType">
    <annotation>
      <documentation>5768: Angir hvilken massetype som benyttes.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5768</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5768</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Knust asfalt">
        <annotation>
          <documentation>8096: Knust asfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8096</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Knust asfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tynndekke">
        <annotation>
          <documentation>8095: Tynndekke</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8095</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tynndekke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfalt">
        <annotation>
          <documentation>8053: Asfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8053</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltert grus">
        <annotation>
          <documentation>8058: Asfaltert grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8058</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltert grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Støpeasfalt">
        <annotation>
          <documentation>8063: Støpeasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8063</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støpeasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Topeka">
        <annotation>
          <documentation>8068: Topeka</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8068</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Topeka</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skjelettasfalt">
        <annotation>
          <documentation>8060: Skjelettasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8060</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjelettasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltbetong">
        <annotation>
          <documentation>8062: Asfaltbetong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8062</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltbetong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltemulsjonsgrus">
        <annotation>
          <documentation>8086: Asfaltemulsjonsgrus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8086</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltemulsjonsgrus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Drensasfalt">
        <annotation>
          <documentation>8061: Drensasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8061</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drensasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltgrusbetong">
        <annotation>
          <documentation>8059: Asfaltgrusbetong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8059</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltgrusbetong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltgrusbetong, I">
        <annotation>
          <documentation>8087: Asfaltgrusbetong, I</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8087</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltgrusbetong, I</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltgrusbetong, II">
        <annotation>
          <documentation>8088: Asfaltgrusbetong, II</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8088</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltgrusbetong, II</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mykasfalt">
        <annotation>
          <documentation>8056: Mykasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8056</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mykasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Myk drensasfalt">
        <annotation>
          <documentation>8057: Myk drensasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8057</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Myk drensasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltert finpukk">
        <annotation>
          <documentation>8078: Asfaltert finpukk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8078</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltert finpukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltløsningsgrus">
        <annotation>
          <documentation>8089: Asfaltløsningsgrus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8089</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfaltløsningsgrus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Emulsjonsgrus">
        <annotation>
          <documentation>8054: Emulsjonsgrus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8054</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Emulsjonsgrus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Emulsjonspukk">
        <annotation>
          <documentation>8090: Emulsjonspukk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8090</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Emulsjonspukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Emulsjonsgrus, tett">
        <annotation>
          <documentation>8055: Emulsjonsgrus, tett</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8055</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Emulsjonsgrus, tett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oljegrus">
        <annotation>
          <documentation>8079: Oljegrus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8079</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oljegrus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Enkel overflatebehandling">
        <annotation>
          <documentation>8080: Enkel overflatebehandling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8080</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Enkel overflatebehandling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Steindekke">
        <annotation>
          <documentation>8073: Steindekke</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8073</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Steindekke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dobbel overflatebehandling">
        <annotation>
          <documentation>8081: Dobbel overflatebehandling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8081</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dobbel overflatebehandling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Enkel overflatebehandling grus">
        <annotation>
          <documentation>8082: Enkel overflatebehandling grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8082</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Enkel overflatebehandling grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dobbel overflatebehandling grus">
        <annotation>
          <documentation>8083: Dobbel overflatebehandling grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8083</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dobbel overflatebehandling grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gjenbruksasfalt">
        <annotation>
          <documentation>8065: Gjenbruksasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8065</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjenbruksasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Forsegling">
        <annotation>
          <documentation>8084: Forsegling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8084</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forsegling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Freste asfaltmaterialer">
        <annotation>
          <documentation>8064: Freste asfaltmaterialer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8064</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Freste asfaltmaterialer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Frest, Anriket/Gja">
        <annotation>
          <documentation>8091: Frest, Anriket/Gja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8091</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Frest, Anriket/Gja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Frest, Djupfrest/Gja">
        <annotation>
          <documentation>8092: Frest, Djupfrest/Gja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8092</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Frest, Djupfrest/Gja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Frest, Planfrest/Gja">
        <annotation>
          <documentation>8093: Frest, Planfrest/Gja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8093</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Frest, Planfrest/Gja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Slamasfalt">
        <annotation>
          <documentation>8067: Slamasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8067</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Slamasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gummiasfalt">
        <annotation>
          <documentation>8066: Gummiasfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8066</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gummiasfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>8069: b.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8069</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongdekke, uarmert">
        <annotation>
          <documentation>8070: Betongdekke, uarmert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8070</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongdekke, uarmert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Valsebetong">
        <annotation>
          <documentation>8094: Valsebetong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8094</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Valsebetong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongdekke, vanlig armert">
        <annotation>
          <documentation>8071: Betongdekke, vanlig armert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8071</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongdekke, vanlig armert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongdekke, kontinuerlig armert">
        <annotation>
          <documentation>8072: Betongdekke, kontinuerlig armert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8072</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongdekke, kontinuerlig armert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongelementer">
        <annotation>
          <documentation>8085: Betongelementer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8085</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongelementer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongstein">
        <annotation>
          <documentation>8074: Betongstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8074</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brostein">
        <annotation>
          <documentation>8075: Brostein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8075</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brostein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stålgitter">
        <annotation>
          <documentation>8076: Stålgitter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8076</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stålgitter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tre">
        <annotation>
          <documentation>8077: Tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8077</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MassetypeVegdekke_FlatelappingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegdekke_Flatelapping" substitutionGroup="nvdb:AbstraktVegdekke_Flatelapping" type="nvdb:Vegdekke_FlatelappingType">
    <annotation>
      <documentation>629: Vedlikeholdstiltak for vegdekke, type flatelapping.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">629</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">629</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vegdekke, flatelapping</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Vegdekke_FlatelappingType">
    <complexContent>
      <extension base="nvdb:AbstraktVegdekke_FlatelappingType">
        <sequence>
          <element name="massetype" type="nvdb:MassetypeVegdekke_FlatelappingType">
            <annotation>
              <documentation>5768: Angir hvilken massetype som benyttes.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5768</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="masseforbruk" type="integer">
            <annotation>
              <documentation>5769: Angir masseforbruk i kg/kvm.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5769</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Masseforbruk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="øvreNominelleSteinstørrelse" type="nvdb:ØvreNominelleSteinstørrelseVegdekke_FlatelappingType">
            <annotation>
              <documentation>5774: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5774</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="leggedato" type="date">
            <annotation>
              <documentation>5770: Angir dato for flatelapping.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5770</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Leggedato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5771: Gir permanent merknad.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5771</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkevariant" type="nvdb:DekkevariantVegdekke_FlatelappingType">
            <annotation>
              <documentation>5776: Angir detaljer om dekkelappingsmaterialet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5776</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dekkevariant</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>12582: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12582</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6901: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6901</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8903: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8903</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertEntreprenør" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktEntreprenør</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegdekke" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegdekke</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Vegdekke_FlatelappingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegdekke_Flatelapping"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekke_FlatelappingType">
    <annotation>
      <documentation>5774: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5774</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5774</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ØvreNominelleSteinstørrelseVegdekke_FlatelappingEnumerationType nvdb:ØvreNominelleSteinstørrelseVegdekke_FlatelappingOtherType"/>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekke_FlatelappingEnumerationType">
    <annotation>
      <documentation>5774: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5774</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5774</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>8112: 1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8112</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>8097: 2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8097</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>8098: 4</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8098</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>8117: 6</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8117</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>8099: 8</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8099</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>8111: 9</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8111</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10">
        <annotation>
          <documentation>8113: 10</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8113</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">10</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation>8100: 11</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8100</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">11</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>8101: 12</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8101</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="13">
        <annotation>
          <documentation>8110: 13</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8110</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">13</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="14">
        <annotation>
          <documentation>8102: 14</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8102</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">14</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="15">
        <annotation>
          <documentation>8114: 15</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8114</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">15</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="16">
        <annotation>
          <documentation>8103: 16</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8103</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">16</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="18">
        <annotation>
          <documentation>8107: 18</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8107</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">18</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="19">
        <annotation>
          <documentation>8108: 19</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8108</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">19</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>8115: 20</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8115</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">20</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>8104: 22</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8104</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">22</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>8109: 24</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8109</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">24</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="26">
        <annotation>
          <documentation>8116: 26</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8116</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">26</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="28">
        <annotation>
          <documentation>8105: 28</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8105</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">28</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="32">
        <annotation>
          <documentation>8106: 32</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8106</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">32</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekke_FlatelappingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
