GML/629.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>629: Vedlikeholdstiltak for vegdekke, type flatelapping.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="DekkevariantVegdekke, flatelappingType">
      <annotation>
         <documentation>5776: Angir detaljer om dekkelappingsmaterialet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5776</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dekkevariant</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DekkevariantVegdekke, flatelappingEnumerationType nvdb:DekkevariantVegdekke, flatelappingOtherType"/>
   </simpleType>
   <simpleType name="DekkevariantVegdekke, flatelappingEnumerationType">
      <annotation>
         <documentation>5776: Angir detaljer om dekkelappingsmaterialet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5776</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dekkevariant</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="d">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8145</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Drenerende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8146</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gjenbruksmasse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8144</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="å">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8143</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DekkevariantVegdekke, flatelappingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MassetypeVegdekke, flatelappingType">
      <annotation>
         <documentation>5768: Angir hvilken massetype som benyttes.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5768</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MassetypeVegdekke, flatelappingEnumerationType nvdb:MassetypeVegdekke, flatelappingOtherType"/>
   </simpleType>
   <simpleType name="MassetypeVegdekke, flatelappingEnumerationType">
      <annotation>
         <documentation>5768: Angir hvilken massetype som benyttes.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5768</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8053</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ab">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8062</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltbetong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Aeg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8086</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltemulsjonsgrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Af">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8078</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltert finpukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ag">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8058</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltert grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Agb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8059</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltgrusbetong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="AgbI">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8087</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltgrusbetong, I</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="AgbII">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8088</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltgrusbetong, II</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Alg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8089</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltløsningsgrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <documentation>8069: b.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8069</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8072</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongdekke, kontinuerlig armert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8070</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongdekke, uarmert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ba">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8071</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongdekke, vanlig armert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Be">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8085</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongelementer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8074</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Br">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8075</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brostein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Do">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8081</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dobbel overflatebehandling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Dog">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8083</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dobbel overflatebehandling grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Da">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8061</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Drensasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Eg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8054</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emulsjonsgrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Egt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8055</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emulsjonsgrus, tett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ep">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8090</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emulsjonspukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Eo">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8080</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enkel overflatebehandling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Eog">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8082</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enkel overflatebehandling grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8084</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forsegling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fra">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8091</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Frest, Anriket/Gja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Frd">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8092</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Frest, Djupfrest/Gja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Frp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8093</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Frest, Planfrest/Gja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8064</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Freste asfaltmaterialer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Gja">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8065</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gjenbruksasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ga">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8066</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gummiasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ak">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8096</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Knust asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Mda">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8057</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Myk drensasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ma">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8056</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mykasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Og">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8079</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oljegrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ska">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8060</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skjelettasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sla">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8067</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slamasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8073</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Steindekke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stå">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8076</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stålgitter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sta">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8063</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Støpeasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Top">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8068</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Topeka</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Tre">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8077</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8095</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tynndekke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8094</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Valsebetong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MassetypeVegdekke, flatelappingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegdekke, flatelapping"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Vegdekke, flatelappingType">
      <annotation>
         <documentation>629: Vedlikeholdstiltak for vegdekke, type flatelapping.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">629</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegdekke, flatelapping</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Vegdekke, flatelappingType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="massetype" type="nvdb:MassetypeVegdekke, flatelappingType">
                  <annotation>
                     <documentation>5768: Angir hvilken massetype som benyttes.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5768</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="double">
                  <annotation>
                     <documentation>12593: Angir areal av flatelapping.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12593</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="masseforbruk" type="integer">
                  <annotation>
                     <documentation>5769: Angir masseforbruk i kg/kvm.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5769</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Masseforbruk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="øvreNominelleSteinstørrelse">
                  <annotation>
                     <documentation>5774: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5774</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="leggedato" type="date">
                  <annotation>
                     <documentation>5770: Angir dato for flatelapping.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5770</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Leggedato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>5771: Gir permanent merknad.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5771</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="dekkevariant"
                        type="nvdb:DekkevariantVegdekke, flatelappingType">
                  <annotation>
                     <documentation>5776: Angir detaljer om dekkelappingsmaterialet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5776</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dekkevariant</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>12582: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12582</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>6901: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6901</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>8903: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8903</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Vegdekke, flatelappingPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegdekke, flatelapping"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="ØvreNominelleSteinstørrelseVegdekke, flatelappingType">
      <annotation>
         <documentation>5774: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5774</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ØvreNominelleSteinstørrelseVegdekke, flatelappingEnumerationType nvdb:ØvreNominelleSteinstørrelseVegdekke, flatelappingOtherType"/>
   </simpleType>
   <simpleType name="ØvreNominelleSteinstørrelseVegdekke, flatelappingEnumerationType">
      <annotation>
         <documentation>5774: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5774</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="01">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8112</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8113</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8100</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8101</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="13">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8110</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">13</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8102</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">14</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8114</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">15</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="16">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8103</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">16</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="18">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8107</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">18</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="19">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8108</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">19</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="02">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8097</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="20">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8115</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">20</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="22">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8104</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">22</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8109</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">24</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="26">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8116</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">26</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="28">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8105</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">28</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="32">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8106</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">32</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="04">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8098</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8117</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="08">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8099</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="09">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8111</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ØvreNominelleSteinstørrelseVegdekke, flatelappingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
