GML/638.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Trafikkstasjon" substitutionGroup="nvdb:AbstraktTrafikkstasjon" type="nvdb:TrafikkstasjonType">
    <annotation>
      <documentation>638: Trafikkstasjon</documentation>
    </annotation>
  </element>
  <complexType name="TrafikkstasjonType">
    <complexContent>
      <extension base="nvdb:AbstraktTrafikkstasjonType">
        <sequence>
          <element name="navn" type="string">
            <annotation>
              <documentation>5872: Gir navn</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="linkTilInfosider" type="string">
            <annotation>
              <documentation>5865: Link til infosider</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11633: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5866: Koordinater</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkstasjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkstasjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
