GML/638.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Trafikkstasjon" substitutionGroup="nvdb:AbstraktTrafikkstasjon" type="nvdb:TrafikkstasjonType">
    <annotation>
      <documentation>638: Trafikkstasjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkstasjon</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkstasjonType">
    <complexContent>
      <extension base="nvdb:AbstraktTrafikkstasjonType">
        <sequence>
          <element name="navn" type="string">
            <annotation>
              <documentation>5872: Gir navn.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5872</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="linkTilInfosider" type="string">
            <annotation>
              <documentation>5865: Link til infosider.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5865</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Link til infosider</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11633: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11633</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5866: Koordinater.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5866</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkstasjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkstasjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
