GML/64.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DriftsstatusType">
    <annotation>
      <documentation>9229: Angir driftsstatus til ferjekai.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9229</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9229</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Driftsstatus</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DriftsstatusEnumerationType nvdb:DriftsstatusOtherType"/>
  </simpleType>
  <simpleType name="DriftsstatusEnumerationType">
    <annotation>
      <documentation>9229: Angir driftsstatus til ferjekai.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9229</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9229</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Driftsstatus</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Trafikkeres">
        <annotation>
          <documentation>12865: Ferjekai benyttes i normal rutetrafikk.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12865</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkeres</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Beredskapskai">
        <annotation>
          <documentation>21612: Ferjekai benyttes i spesielle situasjoner. Kan f.eks. ved vegstengning, vanskelige værforhold etc.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21612</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Beredskapskai</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nedlagt">
        <annotation>
          <documentation>12866: Ferjekai benyttes ikke lenger i trafikk. Verdi skal kun benyttes for historiske data.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12866</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nedlagt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DriftsstatusOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EgenGangbaneTilFerjeType">
    <annotation>
      <documentation>9493: Angir om det er egen gangbane for gående for ombordstigning til ferje.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9493</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9493</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Egen gangbane til ferje</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EgenGangbaneTilFerjeEnumerationType nvdb:EgenGangbaneTilFerjeOtherType"/>
  </simpleType>
  <simpleType name="EgenGangbaneTilFerjeEnumerationType">
    <annotation>
      <documentation>9493: Angir om det er egen gangbane for gående for ombordstigning til ferje.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9493</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9493</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Egen gangbane til ferje</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>13373: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13373</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>13374: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13374</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Delvis">
        <annotation>
          <documentation>17378: Angir at det delvis er egen gangbane og/eller at det er gangbane til ei ferje/ferjelem og ikke til annen. Det skal gis mer informasjon under "Tilleggsinformasjon".</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17378</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Delvis</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EgenGangbaneTilFerjeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierFerjeleieType">
    <annotation>
      <documentation>7559: Angir hvem som eier vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7559</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7559</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierFerjeleieEnumerationType nvdb:EierFerjeleieOtherType"/>
  </simpleType>
  <simpleType name="EierFerjeleieEnumerationType">
    <annotation>
      <documentation>7559: Angir hvem som eier vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7559</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7559</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>9822: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9822</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18565: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18565</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>9825: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9825</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>9823: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9823</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>9824: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9824</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17608: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17608</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierFerjeleieOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Ferjekai" substitutionGroup="nvdb:AbstraktFerjekai" type="nvdb:FerjekaiType">
    <annotation>
      <documentation>64: Sted med en eller flere ferjelemmer hvor ferje anløper for å ta om bord og slippe av kjøretøy og passasjerer. Inkluderer også område for kjøretøyoppstilling og oppholdsareal for reisende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">64</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">64</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ferjekai</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FerjekaiType">
    <complexContent>
      <extension base="nvdb:AbstraktFerjekaiType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>2179: Angir navn på ferjekai.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2179</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsstatus" type="nvdb:DriftsstatusType">
            <annotation>
              <documentation>9229: Angir driftsstatus til ferjekai.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9229</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsstatus</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallFerjelemmer" type="integer">
            <annotation>
              <documentation>9491: Angir antall ferjelemmer på ferjekai.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9491</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall ferjelemmer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="NSR_Stopplace_ID" type="string">
            <annotation>
              <documentation>10727: Unikt nummer på stoppestedet som ferjekai tilhører. Forbeholdt nummer som benyttes i Nasjonalt Stoppestedregister (NSR). Benyttes for datautveksling mellom NVDB og NSR. Skal skrives slik "NSR:StopPlace:xxxxx" der xxxxx selve nummeret.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10727</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">NSR_Stopplace_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arealTotaltØvrig" type="integer">
            <annotation>
              <documentation>9487: Angir totalt areal av ferjekaiområdet. Dette inkluderer både kjørbart areal ikke kjørbart areal i tilknytning til ferjeleiet som eier har ansvar for.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9487</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal, totalt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arealKjørbartØvrig" type="integer">
            <annotation>
              <documentation>9488: Angir øvrig kjørbart areal på ferjekaia. Dvs. kjørbart areal som kommer i tillegg til areal av oppstillingsområde, parkeringsområde og areal av veger med eget vegnett.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9488</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal, kjørbart øvrig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="egenGangbaneTilFerje" type="nvdb:EgenGangbaneTilFerjeType">
            <annotation>
              <documentation>9493: Angir om det er egen gangbane for gående for ombordstigning til ferje.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9493</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Egen gangbane til ferje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kaikantsikring" type="nvdb:KaikantsikringType">
            <annotation>
              <documentation>9492: Beskriver om ferjekaia har en form for sikring mot vann.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9492</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kaikantsikring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="venterom" type="nvdb:VenteromType">
            <annotation>
              <documentation>10729: Angir om det er venterom i tilknytning til ferjekaia.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10729</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Venterom</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10291: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10291</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9228: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9228</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11467: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11467</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12296: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12296</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eierFerjeleie" type="nvdb:EierFerjeleieType">
            <annotation>
              <documentation>7559: Angir hvem som eier vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7559</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarligFerjeleie" type="nvdb:VedlikeholdsansvarligFerjeleieType">
            <annotation>
              <documentation>7560: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7560</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4766: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4766</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10967: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10967</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="20" minOccurs="0" name="assosiertFerjeoppstillingsplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFerjeoppstillingsplass</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFerjesamband" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFerjesamband</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="30" minOccurs="0" name="assosiertGangadkomst" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGangadkomst</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="30" minOccurs="0" name="assosiertGrøntanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGrøntanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLadetårn" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLadetårn</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="20" minOccurs="0" name="assosiertLekeapparat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLekeapparat</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="20" minOccurs="0" name="assosiertParkeringsområde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktParkeringsområde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="30" minOccurs="0" name="assosiertRenovasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRenovasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSanntidsinformasjon_Kollektivtrafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSanntidsinformasjon_Kollektivtrafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="10" minOccurs="0" name="assosiertService" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktService</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="10" minOccurs="0" name="assosiertStativForTuristinfo" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStativForTuristinfo</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTaktileIndikatorer" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTaktileIndikatorer</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="10" minOccurs="0" name="assosiertToalettanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktToalettanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="50" minOccurs="0" name="assosiertUtemøbler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktUtemøbler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegbom" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegbom</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="30" minOccurs="0" name="assosiertBygning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBygning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FerjekaiPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Ferjekai"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KaikantsikringType">
    <annotation>
      <documentation>9492: Beskriver om ferjekaia har en form for sikring mot vann.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9492</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9492</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kaikantsikring</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KaikantsikringEnumerationType nvdb:KaikantsikringOtherType"/>
  </simpleType>
  <simpleType name="KaikantsikringEnumerationType">
    <annotation>
      <documentation>9492: Beskriver om ferjekaia har en form for sikring mot vann.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9492</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9492</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kaikantsikring</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>13370: Hele kaikanten er sikret/markert.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13370</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Delvis">
        <annotation>
          <documentation>13371: Deler av kaikant er sikret/markert.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13371</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Delvis</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>13372: Kaikant er ikke sikret/markert.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13372</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KaikantsikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligFerjeleieType">
    <annotation>
      <documentation>7560: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7560</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7560</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligFerjeleieEnumerationType nvdb:VedlikeholdsansvarligFerjeleieOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligFerjeleieEnumerationType">
    <annotation>
      <documentation>7560: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7560</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7560</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>9826: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9826</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18690: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18690</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>9829: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9829</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18819: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18819</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>9827: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9827</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>9828: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9828</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17700: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17700</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligFerjeleieOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VenteromType">
    <annotation>
      <documentation>10729: Angir om det er venterom i tilknytning til ferjekaia.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10729</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10729</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Venterom</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VenteromEnumerationType nvdb:VenteromOtherType"/>
  </simpleType>
  <simpleType name="VenteromEnumerationType">
    <annotation>
      <documentation>10729: Angir om det er venterom i tilknytning til ferjekaia.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10729</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10729</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Venterom</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>17383: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17383</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>17384: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17384</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VenteromOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
