GML/640.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>640: Del av vegens vertikalkurvatur. Sirkelbue (høybrekk/lavbrekk) eller rettlinje.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Kurvatur, vertikalelement"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Kurvatur, vertikalelementType">
      <annotation>
         <documentation>640: Del av vegens vertikalkurvatur. Sirkelbue (høybrekk/lavbrekk) eller rettlinje.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">640</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kurvatur, vertikalelement</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Kurvatur, vertikalelementType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeKurvatur, vertikalelementType">
                  <annotation>
                     <documentation>5843: Angir hvilken elementtype det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5843</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="radius" type="integer">
                  <annotation>
                     <documentation>5830: Angir radius for vertikalelementet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5830</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Radius</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høydeStart" type="double">
                  <annotation>
                     <documentation>5831: Angir absolutthøyde i elementets startpunkt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5831</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde start</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høydeSlutt" type="double">
                  <annotation>
                     <documentation>5832: Angir absolutthøyde i elementets sluttpunkt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5832</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde slutt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="stigning_Start" type="double">
                  <annotation>
                     <documentation>5833: Angir stigning i elementets startpunkt. Positiv stigning når høyde stiger i metreringsretning. Negativ stigning når høyde avtar i metreringsretning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5833</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stigning, start</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="stigning_Slutt" type="double">
                  <annotation>
                     <documentation>5834: Angir stigning i elementets sluttpunkt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5834</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stigning, slutt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="beregningsinfo" type="string">
                  <annotation>
                     <documentation>9963: Gir informasjon om KurvGen-beregning som er grunnlag for kurvaturdata.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9963</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beregningsinfo</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>6899: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6899</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Kurvatur, vertikalelementPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kurvatur, vertikalelement"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeKurvatur, vertikalelementType">
      <annotation>
         <documentation>5843: Angir hvilken elementtype det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5843</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeKurvatur, vertikalelementEnumerationType nvdb:TypeKurvatur, vertikalelementOtherType"/>
   </simpleType>
   <simpleType name="TypeKurvatur, vertikalelementEnumerationType">
      <annotation>
         <documentation>5843: Angir hvilken elementtype det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5843</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="r">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8318</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rettlinje</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8319</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sirkelbue</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeKurvatur, vertikalelementOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
