GML/641.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Kurvaturgenerering" substitutionGroup="nvdb:AbstraktKurvaturgenerering" type="nvdb:KurvaturgenereringType">
    <annotation>
      <documentation>641: Administrative data knyttet til et sett med horisontal- og vertikalelement</documentation>
    </annotation>
  </element>
  <complexType name="KurvaturgenereringType">
    <complexContent>
      <extension base="nvdb:AbstraktKurvaturgenereringType">
        <sequence>
          <element minOccurs="0" name="datoGenerert" type="date">
            <annotation>
              <documentation>5835: Angir dato da kurvatur ble generert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kurvgenversjon" type="string">
            <annotation>
              <documentation>5836: Angir hvilken kurvgenversjon som ble brukt for å generere kurvaturen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="SOSI_Filnavn" type="string"/>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5841: Angir merknad knyttet til dataene</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsertAv" type="string">
            <annotation>
              <documentation>5839: Navn på firma/enhet som har produsert dataene</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="string">
            <annotation>
              <documentation>5838: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKurvatur_Horisontalelement" type="nvdb:AbstraktKurvatur_HorisontalelementPropertyType"/>
          <element minOccurs="0" name="assosiertKurvatur_Vertikalelement" type="nvdb:AbstraktKurvatur_VertikalelementPropertyType"/>
          <element minOccurs="0" name="assosiertKurvatur_Vertikalpunkt" type="nvdb:AbstraktKurvatur_VertikalpunktPropertyType"/>
          <element minOccurs="0" name="assosiertKurvatur_Stigning" type="nvdb:AbstraktKurvatur_StigningPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KurvaturgenereringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kurvaturgenerering"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
