GML/642.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>642: Punkt i høybrekk/lavbrekk hvor stigning er 0, dvs. i topp/bunnpunkt.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Kurvatur, vertikalpunkt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Kurvatur, vertikalpunktType">
      <annotation>
         <documentation>642: Punkt i høybrekk/lavbrekk hvor stigning er 0, dvs. i topp/bunnpunkt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">642</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kurvatur, vertikalpunkt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Kurvatur, vertikalpunktType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeKurvatur, vertikalpunktType">
                  <annotation>
                     <documentation>5844: Angir hvilken type vertikalpunkt det er.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5844</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde" type="double">
                  <annotation>
                     <documentation>5845: Angir absolutthøyde i punktet (hoh).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5845</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="beregningsinfo" type="string">
                  <annotation>
                     <documentation>9964: Gir informasjon om KurvGen-beregning som er grunnlag for kurvaturdata.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9964</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beregningsinfo</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>6884: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6884</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Kurvatur, vertikalpunktPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kurvatur, vertikalpunkt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeKurvatur, vertikalpunktType">
      <annotation>
         <documentation>5844: Angir hvilken type vertikalpunkt det er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5844</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeKurvatur, vertikalpunktEnumerationType nvdb:TypeKurvatur, vertikalpunktOtherType"/>
   </simpleType>
   <simpleType name="TypeKurvatur, vertikalpunktEnumerationType">
      <annotation>
         <documentation>5844: Angir hvilken type vertikalpunkt det er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5844</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <documentation>9110: KurvGen (som beregner kurvatur til NVDB) deler vegstrekninger inn i delstrekninger (kurver). For å sikre seg at en har tilstrekkelig høydeinformasjon, beskriver bruddpunktet høyden i overgangen mellom to kurver.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9110</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bruddpunkt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <documentation>8321: Vendepunkt, hvor vertikalkurvatur går fra fall til stigning. I bunn-punktet vil stigningen være null (s=0). Også kalt lavbrekk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8321</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bunnpunkt, lavbrekk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mh">
            <annotation>
               <documentation>9108: Markert knekkpunkt er et punkt hvor stigningsgraden endrer seg markant. Stigningen har samme fortegn før og etter knekkpunktet. Høy innebærer at vertikalkurvaturen er i et høybrekk i dette punktet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9108</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Markert knekkpunkt, høy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ml">
            <annotation>
               <documentation>9109: Markert knekkpunkt er et punkt hvor stigningsgraden endrer seg markant. Stigningen har samme fortegn før og etter knekkpunktet. Lav innebærer at vertikalkurvaturen er i et lavbrekk i dette punktet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9109</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Markert knekkpunkt, lav</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <documentation>8320: Vendepunkt, hvor vertikalkurvatur går fra stigning til fall. I topp-punktet vil stigningen være null (s=0). Også kalt høybrekk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8320</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Toppunkt, høybrekk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeKurvatur, vertikalpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
