GML/643.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GeografiskOppløsningType">
    <annotation>
      <documentation>6067: Angir hva statistikken omfatter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">6067</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">6067</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GeografiskOppløsningEnumerationType nvdb:GeografiskOppløsningOtherType"/>
  </simpleType>
  <simpleType name="GeografiskOppløsningEnumerationType">
    <annotation>
      <documentation>6067: Angir hva statistikken omfatter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">6067</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">6067</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Landet">
        <annotation>
          <documentation>8363: Landet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8363</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Landet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Region">
        <annotation>
          <documentation>8364: Region</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8364</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Region</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylke">
        <annotation>
          <documentation>8365: Fylke</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8365</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegavdeling">
        <annotation>
          <documentation>8366: Vegavdeling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8366</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegavdeling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>11669: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11669</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr land">
        <annotation>
          <documentation>8367: Veg pr land</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8367</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg pr land</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr region">
        <annotation>
          <documentation>8368: Veg pr region</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8368</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg pr region</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr fylke">
        <annotation>
          <documentation>8369: Veg pr fylke</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8369</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg pr fylke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr avdeling">
        <annotation>
          <documentation>8370: Veg pr avdeling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8370</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg pr avdeling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr kommune">
        <annotation>
          <documentation>11674: Veg pr kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11674</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg pr kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HP">
        <annotation>
          <documentation>8371: HP</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8371</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">HP</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="PMS-parsell">
        <annotation>
          <documentation>8372: PMS-parsell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8372</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">PMS-parsell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1000-meter">
        <annotation>
          <documentation>13217: 1000-meter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13217</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1000-meter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Generert">
        <annotation>
          <documentation>11299: Generert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11299</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Generert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GeografiskOppløsningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Historisk_Statistikk_Trafikkmengde" substitutionGroup="nvdb:AbstraktHistorisk_Statistikk_Trafikkmengde" type="nvdb:Historisk_Statistikk_TrafikkmengdeType">
    <annotation>
      <documentation>643: Aggregert informasjon ifbm PMS-rapport 2603. 20220228:Benyttes kun for historiske data.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">643</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">643</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Historisk_Statistikk, trafikkmengde</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Historisk_Statistikk_TrafikkmengdeType">
    <complexContent>
      <extension base="nvdb:AbstraktHistorisk_Statistikk_TrafikkmengdeType">
        <sequence>
          <element minOccurs="0" name="opprettetDato" type="date">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6080</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Opprettet dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelse_Fra_Til" type="string">
            <annotation>
              <documentation>8729: Angir stedsnavn for start og slutt strekning.  Rekkefølge som navnene settes i har ikke betydning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8729</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Stedsangivelse, fra-til</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="geografiskOppløsning" type="nvdb:GeografiskOppløsningType">
            <annotation>
              <documentation>6067: Angir hva statistikken omfatter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6067</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="min_Mm_R_Grunnlag" type="integer">
            <annotation>
              <documentation>6073: Datagrunnlaget for statistikkobjektet er ikke eldre enn gitt år.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6073</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Minimumår, grunnlag</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maks_Mm_År_Grunnlag" type="integer">
            <annotation>
              <documentation>6074: Datagrunnlaget for statistikkobjektet er ikke nyere enn gitt år.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6074</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Maksimumsår, grunnlag</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ÅDT_Fordeling">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6069</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ÅDT-fordeling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="midlereÅDT" type="integer">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6075</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Midlere ÅDT</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="minsteÅDT" type="integer">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6076</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Minste ÅDT</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="størsteÅDT" type="integer">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6077</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Største ÅDT</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ÅDT_90ProsentVerdi" type="integer">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6078</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ÅDT - 90 % verdi</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måltProsent" type="double">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6079</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Målt %</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>7547: Angir total lengde av strekning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7547</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="midlereAndelLange" type="double">
            <annotation>
              <documentation>7927: Midlere andel lange kjøretøy.  Kjøretøy med lengde større eller lik 5,6 meter defineres som lange kjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7927</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Midlere andel lange</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="minsteAndelLange" type="double">
            <annotation>
              <documentation>7928: Minste andel lange kjøretøy.  Kjøretøy med lengde større eller lik 5,6 meter defineres som lange kjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7928</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Minste andel lange</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="størsteAndelLange" type="double">
            <annotation>
              <documentation>7929: Største andel lange kjøretøy.  Kjøretøy med lengde større eller lik 5,6 meter defineres som lange kjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7929</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Største andel lange</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Historisk_Statistikk_TrafikkmengdePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Historisk_Statistikk_Trafikkmengde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
