GML/643.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>643: Aggregert informasjon ifbm PMS-rapport 2603. 20220228:Benyttes kun for historiske data.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="GeografiskOppløsningHistorisk_Statistikk, trafikkmengdeType">
      <annotation>
         <documentation>6067: Angir hva statistikken omfatter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6067</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GeografiskOppløsningHistorisk_Statistikk, trafikkmengdeEnumerationType nvdb:GeografiskOppløsningHistorisk_Statistikk, trafikkmengdeOtherType"/>
   </simpleType>
   <simpleType name="GeografiskOppløsningHistorisk_Statistikk, trafikkmengdeEnumerationType">
      <annotation>
         <documentation>6067: Angir hva statistikken omfatter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6067</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1000">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13217</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1000-meter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8365</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11299</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Generert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="HP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8371</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">HP</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11669</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8363</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Landet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="PMS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8372</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">PMS-parsell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8364</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Region</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VpA">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8370</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr avdeling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VpF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8369</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr fylke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VpK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11674</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VpL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8367</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr land</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VpR">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8368</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr region</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vavd">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8366</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegavdeling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GeografiskOppløsningHistorisk_Statistikk, trafikkmengdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Historisk_Statistikk, trafikkmengde"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Historisk_Statistikk, trafikkmengdeType">
      <annotation>
         <documentation>643: Aggregert informasjon ifbm PMS-rapport 2603. 20220228:Benyttes kun for historiske data.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">643</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Historisk_Statistikk, trafikkmengde</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Historisk_Statistikk, trafikkmengdeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="opprettetDato" type="date">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6080</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Opprettet dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stedsangivelse_Fra_Til" type="string">
                  <annotation>
                     <documentation>8729: Angir stedsnavn for start og slutt strekning. Rekkefølge som navnene settes i har ikke betydning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8729</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stedsangivelse, fra-til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="geografiskOppløsning">
                  <annotation>
                     <documentation>6067: Angir hva statistikken omfatter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6067</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="min_Mm_R_Grunnlag" type="integer">
                  <annotation>
                     <documentation>6073: Datagrunnlaget for statistikkobjektet er ikke eldre enn gitt år.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6073</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Minimumår, grunnlag</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="maks_Mm_År_Grunnlag" type="integer">
                  <annotation>
                     <documentation>6074: Datagrunnlaget for statistikkobjektet er ikke nyere enn gitt år.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6074</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maksimumsår, grunnlag</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="ÅDT_Fordeling" type="string">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6069</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ÅDT-fordeling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="midlereÅDT" type="integer">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6075</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Midlere ÅDT</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="minsteÅDT" type="integer">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6076</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Minste ÅDT</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="størsteÅDT" type="integer">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6077</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Største ÅDT</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="ÅDT_90ProsentVerdi" type="integer">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6078</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ÅDT - 90 % verdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="måltProsent" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6079</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Målt %</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="integer">
                  <annotation>
                     <documentation>7547: Angir total lengde av strekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7547</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="midlereAndelLange" type="double">
                  <annotation>
                     <documentation>7927: Midlere andel lange kjøretøy. Kjøretøy med lengde større eller lik 5,6 meter defineres som lange kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7927</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Midlere andel lange</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="minsteAndelLange" type="double">
                  <annotation>
                     <documentation>7928: Minste andel lange kjøretøy. Kjøretøy med lengde større eller lik 5,6 meter defineres som lange kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7928</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Minste andel lange</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="størsteAndelLange" type="double">
                  <annotation>
                     <documentation>7929: Største andel lange kjøretøy. Kjøretøy med lengde større eller lik 5,6 meter defineres som lange kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7929</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Største andel lange</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Historisk_Statistikk, trafikkmengdePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Historisk_Statistikk, trafikkmengde"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
