GML/644.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.22">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GeografiskOppløsningStatistikk_SpormålingType">
    <annotation>
      <documentation>6081: Angir hva statistikken omfatter</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6081</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6081</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geografisk oppløsning</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GeografiskOppløsningStatistikk_SpormålingEnumerationType nvdb:GeografiskOppløsningStatistikk_SpormålingOtherType"/>
  </simpleType>
  <simpleType name="GeografiskOppløsningStatistikk_SpormålingEnumerationType">
    <annotation>
      <documentation>6081: Angir hva statistikken omfatter</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6081</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6081</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geografisk oppløsning</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Landet">
        <annotation>
          <documentation>8373: Landet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8373</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Landet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Region">
        <annotation>
          <documentation>8374: Region</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8374</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Region</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylke">
        <annotation>
          <documentation>8375: Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8375</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fylke</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegavdeling">
        <annotation>
          <documentation>8376: Vegavdeling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8376</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegavdeling</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>11668: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11668</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr land">
        <annotation>
          <documentation>8377: Veg pr land</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8377</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veg pr land</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr region">
        <annotation>
          <documentation>8378: Veg pr region</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8378</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veg pr region</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr fylke">
        <annotation>
          <documentation>8379: Veg pr fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8379</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veg pr fylke</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr avdeling">
        <annotation>
          <documentation>8380: Veg pr avdeling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8380</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veg pr avdeling</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr kommune">
        <annotation>
          <documentation>11673: Veg pr kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11673</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veg pr kommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HP">
        <annotation>
          <documentation>8381: HP</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8381</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">HP</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="PMS-parsell">
        <annotation>
          <documentation>8382: PMS-parsell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8382</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">PMS-parsell</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1000-meter">
        <annotation>
          <documentation>13218: 1000-meter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13218</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">1000-meter</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Generert">
        <annotation>
          <documentation>11285: Generert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11285</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Generert</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GeografiskOppløsningStatistikk_SpormålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålStatistikk_SpormålingType">
    <annotation>
      <documentation>7924: Angir formal med spormåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7924</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7924</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måleformål</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MåleformålStatistikk_SpormålingEnumerationType nvdb:MåleformålStatistikk_SpormålingOtherType"/>
  </simpleType>
  <simpleType name="MåleformålStatistikk_SpormålingEnumerationType">
    <annotation>
      <documentation>7924: Angir formal med spormåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7924</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7924</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måleformål</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>10103: Generelle målinger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10103</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Generelle målinger</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>10102: Referansemåling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10102</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Referansemåling</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>10101: Forsøksmålinger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10101</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forsøksmålinger</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>10100: Teleløsning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10100</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Teleløsning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>10121: Initiell-1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10121</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Initiell-1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>10122: Initiell-2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10122</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Initiell-2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>10123: Initiell-3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10123</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Initiell-3</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålStatistikk_SpormålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Spor_BjelkeStatistikk_SpormålingType">
    <annotation>
      <documentation>7922: Angir hvilket spor dataene gjelder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7922</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7922</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor, bjelke</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Spor_BjelkeStatistikk_SpormålingEnumerationType nvdb:Spor_BjelkeStatistikk_SpormålingOtherType"/>
  </simpleType>
  <simpleType name="Spor_BjelkeStatistikk_SpormålingEnumerationType">
    <annotation>
      <documentation>7922: Angir hvilket spor dataene gjelder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7922</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7922</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor, bjelke</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Indre">
        <annotation>
          <documentation>10096: Indre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10096</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Indre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mellom">
        <annotation>
          <documentation>10095: Mellom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10095</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Mellom</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ytre">
        <annotation>
          <documentation>10094: Ytre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10094</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ytre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Spor_BjelkeStatistikk_SpormålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Statistikk_Spormåling" substitutionGroup="nvdb:AbstraktStatistikk_Spormåling" type="nvdb:Statistikk_SpormålingType">
    <annotation>
      <documentation>644: Aggregert informasjon ifbm PMS-rapport 2610</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">644</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">644</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Statistikk, spormåling</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Statistikk_SpormålingType">
    <complexContent>
      <extension base="nvdb:AbstraktStatistikk_SpormålingType">
        <sequence>
          <element minOccurs="0" name="opprettetDato" type="date">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6094</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Opprettet dato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelse_Fra_Til" type="string">
            <annotation>
              <documentation>8730: Angir stedsnavn for start og slutt strekning.  Rekkefølge som navnene settes i har ikke betydning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8730</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stedsangivelse, fra-til</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="geografiskOppløsning" type="nvdb:GeografiskOppløsningStatistikk_SpormålingType">
            <annotation>
              <documentation>6081: Angir hva statistikken omfatter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6081</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geografisk oppløsning</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="min_Mm_Dato_Grunnlag" type="date">
            <annotation>
              <documentation>8790: Datagrunnlaget for statistikkobjektet er ikke eldre enn gitt dato.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8790</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Minimumsdato, grunnlag</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maks_Mm_Dato_Grunnlag" type="date">
            <annotation>
              <documentation>8791: Datagrunnlaget for statistikkobjektet er ikke nyere enn gitt dato.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8791</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Maksimumsdato, grunnlag</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="måleformål" type="nvdb:MåleformålStatistikk_SpormålingType">
            <annotation>
              <documentation>7924: Angir formal med spormåling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7924</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måleformål</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybdefordeling">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6084</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spordybdefordeling</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="spor_Bjelke" type="nvdb:Spor_BjelkeStatistikk_SpormålingType">
            <annotation>
              <documentation>7922: Angir hvilket spor dataene gjelder</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7922</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor, bjelke</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_50Prosent" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6088</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spordybde, 50 %</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_90Prosent" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6089</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spordybde, 90 %</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_Midlere" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6090</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spordybde, midlere</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_Minste" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6091</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spordybde, minste</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_Største" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6092</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spordybde, største</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måltProsent" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6093</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Målt %</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfallsfordeling">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6095</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tverrfallsfordeling</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_50Prosent" type="double">
            <annotation>
              <documentation>9470: 50 % av spormålingenen innen for angitt geografisk oppløsning har tverrfall slakere enn gitt verdi.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9470</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tverrfall, 50 %</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_90Prosent" type="double">
            <annotation>
              <documentation>9471: 90 % av spormålingenen innen for angitt geografisk oppløsning har tverrfall slakere enn gitt verdi.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9471</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tverrfall, 90 %</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_Midlere" type="double">
            <annotation>
              <documentation>9472: Midlere verdi for tverrfall basert på spormållinger innen angitt geografisk oppløsning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9472</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tverrfall, midlere</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_Minste" type="double">
            <annotation>
              <documentation>9473: Miste verdi for tverrfall basert på spormållinger innen angitt geografisk oppløsning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9473</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tverrfall, minste</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_Største" type="double">
            <annotation>
              <documentation>9474: Største verdi for tverrfall basert på spormållinger innen angitt geografisk oppløsning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9474</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tverrfall, største</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>7549: Angir total lengde av strekning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7549</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lengde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="summertKjørefeltlengde" type="integer">
            <annotation>
              <documentation>8806: Angir sum lengde av kjørefeltene innenfor en strekning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8806</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Summert kjørefeltlengde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradiusfordeling">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6099</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Horisontalradiusfordeling</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_50Prosent" type="integer">
            <annotation>
              <documentation>9475: 50 % av spormålingenen innen for angitt geografisk oppløsning har horsontalradius mindre enn gitt verdi.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9475</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Horisontalradius, 50 %</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_90Prosent" type="double">
            <annotation>
              <documentation>9476: 90 % av spormålingenen innen for angitt geografisk oppløsning har horisontalradius mindre enn gitt verdi.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9476</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Horisontalradius, 90 %</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_Midlere" type="integer">
            <annotation>
              <documentation>9477: Midlere verdi for horisontalradius basert på spormållinger innen angitt geografisk oppløsning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9477</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Horisontalradius, midlere</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_Minste" type="integer">
            <annotation>
              <documentation>9478: Midlere verdi for horsintalradius basert på spormållinger innen angitt geografisk oppløsning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9478</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Horisontalradius, minste</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_Største" type="integer">
            <annotation>
              <documentation>9479: Midlere verdi for horisontalradius basert på spormållinger innen angitt geografisk oppløsning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9479</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Horisontalradius, største</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapport_Ekstra_1" type="double">
            <annotation>
              <documentation>9480: Ekstra tallverdi til spesielle rapporter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9480</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rapport, ekstra_1</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapport_Ekstra_2" type="double">
            <annotation>
              <documentation>9481: Ekstra tallverdi til spesielle rapporter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9481</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rapport, ekstra_2</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapport_Ekstra_3" type="double">
            <annotation>
              <documentation>9482: Ekstra tallverdi til spesielle rapporter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9482</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rapport, ekstra_3</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Statistikk_SpormålingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Statistikk_Spormåling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
