GML/644.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GeografiskOppløsningStatistikk_Spormåling_UtgårType">
    <annotation>
      <documentation>6081: Angir hva statistikken omfatter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">6081</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">6081</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GeografiskOppløsningStatistikk_Spormåling_UtgårEnumerationType nvdb:GeografiskOppløsningStatistikk_Spormåling_UtgårOtherType"/>
  </simpleType>
  <simpleType name="GeografiskOppløsningStatistikk_Spormåling_UtgårEnumerationType">
    <annotation>
      <documentation>6081: Angir hva statistikken omfatter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">6081</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">6081</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Landet">
        <annotation>
          <documentation>8373: Landet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8373</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Landet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Region">
        <annotation>
          <documentation>8374: Region</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8374</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Region</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylke">
        <annotation>
          <documentation>8375: Fylke</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8375</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegavdeling">
        <annotation>
          <documentation>8376: Vegavdeling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8376</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegavdeling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>11668: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11668</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr land">
        <annotation>
          <documentation>8377: Veg pr land</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8377</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg pr land</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr region">
        <annotation>
          <documentation>8378: Veg pr region</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8378</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg pr region</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr fylke">
        <annotation>
          <documentation>8379: Veg pr fylke</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8379</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg pr fylke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr avdeling">
        <annotation>
          <documentation>8380: Veg pr avdeling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8380</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg pr avdeling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr kommune">
        <annotation>
          <documentation>11673: Veg pr kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11673</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg pr kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HP">
        <annotation>
          <documentation>8381: HP</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8381</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">HP</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="PMS-parsell">
        <annotation>
          <documentation>8382: PMS-parsell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8382</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">PMS-parsell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1000-meter">
        <annotation>
          <documentation>13218: 1000-meter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13218</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1000-meter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Generert">
        <annotation>
          <documentation>11285: Generert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11285</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Generert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GeografiskOppløsningStatistikk_Spormåling_UtgårOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålStatistikk_Spormåling_UtgårType">
    <annotation>
      <documentation>7924: Angir formal med spormåling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7924</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7924</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Måleformål</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MåleformålStatistikk_Spormåling_UtgårEnumerationType nvdb:MåleformålStatistikk_Spormåling_UtgårOtherType"/>
  </simpleType>
  <simpleType name="MåleformålStatistikk_Spormåling_UtgårEnumerationType">
    <annotation>
      <documentation>7924: Angir formal med spormåling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7924</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7924</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Måleformål</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>10103: Generelle målinger</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10103</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Generelle målinger</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>10102: Referansemåling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10102</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Referansemåling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>10101: Forsøksmålinger</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10101</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forsøksmålinger</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>10100: Teleløsning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10100</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Teleløsning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>10121: Initiell-1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10121</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Initiell-1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>10122: Initiell-2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10122</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Initiell-2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>10123: Initiell-3</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10123</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Initiell-3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålStatistikk_Spormåling_UtgårOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Spor_BjelkeStatistikk_Spormåling_UtgårType">
    <annotation>
      <documentation>7922: Angir hvilket spor dataene gjelder.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7922</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7922</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spor, bjelke</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Spor_BjelkeStatistikk_Spormåling_UtgårEnumerationType nvdb:Spor_BjelkeStatistikk_Spormåling_UtgårOtherType"/>
  </simpleType>
  <simpleType name="Spor_BjelkeStatistikk_Spormåling_UtgårEnumerationType">
    <annotation>
      <documentation>7922: Angir hvilket spor dataene gjelder.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7922</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7922</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spor, bjelke</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Indre">
        <annotation>
          <documentation>10096: Indre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10096</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Indre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mellom">
        <annotation>
          <documentation>10095: Mellom</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10095</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mellom</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ytre">
        <annotation>
          <documentation>10094: Ytre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10094</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ytre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Spor_BjelkeStatistikk_Spormåling_UtgårOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Statistikk_Spormåling_Utgår" substitutionGroup="nvdb:AbstraktStatistikk_Spormåling_Utgår" type="nvdb:Statistikk_Spormåling_UtgårType">
    <annotation>
      <documentation>644: Aggregert informasjon ifbm PMS-rapport 2610.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">644</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">644</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Statistikk, spormåling (Utgår)</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Statistikk_Spormåling_UtgårType">
    <complexContent>
      <extension base="nvdb:AbstraktStatistikk_Spormåling_UtgårType">
        <sequence>
          <element minOccurs="0" name="opprettetDato" type="date">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6094</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Opprettet dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelse_Fra_Til" type="string">
            <annotation>
              <documentation>8730: Angir stedsnavn for start og slutt strekning. Rekkefølge som navnene settes i har ikke betydning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8730</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Stedsangivelse, fra-til</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="geografiskOppløsning" type="nvdb:GeografiskOppløsningStatistikk_Spormåling_UtgårType">
            <annotation>
              <documentation>6081: Angir hva statistikken omfatter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6081</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="min_Mm_Dato_Grunnlag" type="date">
            <annotation>
              <documentation>8790: Datagrunnlaget for statistikkobjektet er ikke eldre enn gitt dato.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8790</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Minimumsdato, grunnlag</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maks_Mm_Dato_Grunnlag" type="date">
            <annotation>
              <documentation>8791: Datagrunnlaget for statistikkobjektet er ikke nyere enn gitt dato.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8791</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Maksimumsdato, grunnlag</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="måleformål" type="nvdb:MåleformålStatistikk_Spormåling_UtgårType">
            <annotation>
              <documentation>7924: Angir formal med spormåling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7924</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Måleformål</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybdefordeling">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6084</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spordybdefordeling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="spor_Bjelke" type="nvdb:Spor_BjelkeStatistikk_Spormåling_UtgårType">
            <annotation>
              <documentation>7922: Angir hvilket spor dataene gjelder.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7922</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spor, bjelke</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_50Prosent" type="double">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6088</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spordybde, 50 %</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_90Prosent" type="double">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6089</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spordybde, 90 %</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_Midlere" type="double">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6090</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spordybde, midlere</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_Minste" type="double">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6091</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spordybde, minste</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_Største" type="double">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6092</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spordybde, største</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måltProsent" type="double">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6093</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Målt %</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfallsfordeling">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6095</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tverrfallsfordeling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_50Prosent" type="double">
            <annotation>
              <documentation>9470: 50 % av spormålingene innen for angitt geografisk oppløsning har tverrfall slakere enn gitt verdi.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9470</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tverrfall, 50 %</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_90Prosent" type="double">
            <annotation>
              <documentation>9471: 90 % av spormålingene innen for angitt geografisk oppløsning har tverrfall slakere enn gitt verdi.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9471</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tverrfall, 90 %</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_Midlere" type="double">
            <annotation>
              <documentation>9472: Midlere verdi for tverrfall basert på spormållinger innen angitt geografisk oppløsning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9472</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tverrfall, midlere</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_Minste" type="double">
            <annotation>
              <documentation>9473: Miste verdi for tverrfall basert på spormållinger innen angitt geografisk oppløsning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9473</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tverrfall, minste</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_Største" type="double">
            <annotation>
              <documentation>9474: Største verdi for tverrfall basert på spormållinger innen angitt geografisk oppløsning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9474</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tverrfall, største</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>7549: Angir total lengde av strekning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7549</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="summertKjørefeltlengde" type="integer">
            <annotation>
              <documentation>8806: Angir sum lengde av kjørefeltene innenfor en strekning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8806</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Summert kjørefeltlengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradiusfordeling">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6099</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Horisontalradiusfordeling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_50Prosent" type="integer">
            <annotation>
              <documentation>9475: 50 % av spormålingene innen for angitt geografisk oppløsning har horisontalradius mindre enn gitt verdi.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9475</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Horisontalradius, 50 %</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_90Prosent" type="double">
            <annotation>
              <documentation>9476: 90 % av spormålingene innen for angitt geografisk oppløsning har horisontalradius mindre enn gitt verdi.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9476</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Horisontalradius, 90 %</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_Midlere" type="integer">
            <annotation>
              <documentation>9477: Midlere verdi for horisontalradius basert på spormållinger innen angitt geografisk oppløsning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9477</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Horisontalradius, midlere</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_Minste" type="integer">
            <annotation>
              <documentation>9478: Midlere verdi for horisontalradius basert på spormållinger innen angitt geografisk oppløsning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9478</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Horisontalradius, minste</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_Største" type="integer">
            <annotation>
              <documentation>9479: Midlere verdi for horisontalradius basert på spormållinger innen angitt geografisk oppløsning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9479</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Horisontalradius, største</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapport_Ekstra_1" type="double">
            <annotation>
              <documentation>9480: Ekstra tallverdi til spesielle rapporter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9480</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Rapport, ekstra_1</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapport_Ekstra_2" type="double">
            <annotation>
              <documentation>9481: Ekstra tallverdi til spesielle rapporter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9481</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Rapport, ekstra_2</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapport_Ekstra_3" type="double">
            <annotation>
              <documentation>9482: Ekstra tallverdi til spesielle rapporter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9482</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Rapport, ekstra_3</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Statistikk_Spormåling_UtgårPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Statistikk_Spormåling_Utgår"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
