GML/644.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GeografiskOppløsningStatistikk_SpormålingType">
    <annotation>
      <documentation>6081: Angir hva statistikken omfatter</documentation>
    </annotation>
    <union memberTypes="nvdb:GeografiskOppløsningStatistikk_SpormålingEnumerationType nvdb:GeografiskOppløsningStatistikk_SpormålingOtherType"/>
  </simpleType>
  <simpleType name="GeografiskOppløsningStatistikk_SpormålingEnumerationType">
    <annotation>
      <documentation>6081: Angir hva statistikken omfatter</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="landet">
        <annotation>
          <documentation>8373: Landet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="region">
        <annotation>
          <documentation>8374: Region</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylke">
        <annotation>
          <documentation>8375: Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegavdeling">
        <annotation>
          <documentation>8376: Vegavdeling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>11668: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegPrLand">
        <annotation>
          <documentation>8377: Veg pr land</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegPrRegion">
        <annotation>
          <documentation>8378: Veg pr region</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegPrFylke">
        <annotation>
          <documentation>8379: Veg pr fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegPrAvdeling">
        <annotation>
          <documentation>8380: Veg pr avdeling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegPrKommune">
        <annotation>
          <documentation>11673: Veg pr kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HP">
        <annotation>
          <documentation>8381: HP</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PMS_Parsell">
        <annotation>
          <documentation>8382: PMS-parsell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1000_Meter">
        <annotation>
          <documentation>13218: 1000-meter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="generert">
        <annotation>
          <documentation>11285: Generert</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GeografiskOppløsningStatistikk_SpormålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålStatistikk_SpormålingType">
    <annotation>
      <documentation>7924: Angir formal med spormåling</documentation>
    </annotation>
    <union memberTypes="nvdb:MåleformålStatistikk_SpormålingEnumerationType nvdb:MåleformålStatistikk_SpormålingOtherType"/>
  </simpleType>
  <simpleType name="MåleformålStatistikk_SpormålingEnumerationType">
    <annotation>
      <documentation>7924: Angir formal med spormåling</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>10103: Generelle målinger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>10102: Referansemåling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>10101: Forsøksmålinger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>10100: Teleløsning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>10121: Initiell-1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>10122: Initiell-2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>10123: Initiell-3</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålStatistikk_SpormålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Spor_BjelkeStatistikk_SpormålingType">
    <annotation>
      <documentation>7922: Angir hvilket spor dataene gjelder</documentation>
    </annotation>
    <union memberTypes="nvdb:Spor_BjelkeStatistikk_SpormålingEnumerationType nvdb:Spor_BjelkeStatistikk_SpormålingOtherType"/>
  </simpleType>
  <simpleType name="Spor_BjelkeStatistikk_SpormålingEnumerationType">
    <annotation>
      <documentation>7922: Angir hvilket spor dataene gjelder</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="indre">
        <annotation>
          <documentation>10096: Indre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mellom">
        <annotation>
          <documentation>10095: Mellom</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ytre">
        <annotation>
          <documentation>10094: Ytre</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Spor_BjelkeStatistikk_SpormålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Statistikk_Spormåling" substitutionGroup="nvdb:AbstraktStatistikk_Spormåling" type="nvdb:Statistikk_SpormålingType">
    <annotation>
      <documentation>644: Aggregert informasjon ifbm PMS-rapport 2610</documentation>
    </annotation>
  </element>
  <complexType name="Statistikk_SpormålingType">
    <complexContent>
      <extension base="nvdb:AbstraktStatistikk_SpormålingType">
        <sequence>
          <element minOccurs="0" name="opprettetDato" type="date"/>
          <element minOccurs="0" name="stedsangivelse_Fra_Til" type="string">
            <annotation>
              <documentation>8730: Angir stedsnavn for start og slutt strekning.  Rekkefølge som navnene settes i har ikke betydning.</documentation>
            </annotation>
          </element>
          <element name="geografiskOppløsning" type="nvdb:GeografiskOppløsningStatistikk_SpormålingType">
            <annotation>
              <documentation>6081: Angir hva statistikken omfatter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="min_Mm_Dato_Grunnlag" type="date">
            <annotation>
              <documentation>8790: Datagrunnlaget for statistikkobjektet er ikke eldre enn gitt dato.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="maks_Mm_Dato_Grunnlag" type="date">
            <annotation>
              <documentation>8791: Datagrunnlaget for statistikkobjektet er ikke nyere enn gitt dato.</documentation>
            </annotation>
          </element>
          <element name="måleformål" type="nvdb:MåleformålStatistikk_SpormålingType">
            <annotation>
              <documentation>7924: Angir formal med spormåling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybdefordeling"/>
          <element name="spor_Bjelke" type="nvdb:Spor_BjelkeStatistikk_SpormålingType">
            <annotation>
              <documentation>7922: Angir hvilket spor dataene gjelder</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_50Prosent" type="double">
            <annotation>
              <documentation>6088: Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_90Prosent" type="double">
            <annotation>
              <documentation>6089: Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_Midlere" type="double">
            <annotation>
              <documentation>6090: Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_Minste" type="double">
            <annotation>
              <documentation>6091: Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_Største" type="double">
            <annotation>
              <documentation>6092: Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="måltProsent" type="double">
            <annotation>
              <documentation>6093: Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfallsfordeling"/>
          <element minOccurs="0" name="tverrfall_50Prosent" type="double">
            <annotation>
              <documentation>9470: 50 % av spormålingenen innen for angitt geografisk oppløsning har tverrfall slakere enn gitt verdi.
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_90Prosent" type="double">
            <annotation>
              <documentation>9471: 90 % av spormålingenen innen for angitt geografisk oppløsning har tverrfall slakere enn gitt verdi.
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_Midlere" type="double">
            <annotation>
              <documentation>9472: Midlere verdi for tverrfall basert på spormållinger innen angitt geografisk oppløsning
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_Minste" type="double">
            <annotation>
              <documentation>9473: Miste verdi for tverrfall basert på spormållinger innen angitt geografisk oppløsning
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_Største" type="double">
            <annotation>
              <documentation>9474: Største verdi for tverrfall basert på spormållinger innen angitt geografisk oppløsning
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>7549: Angir total lengde av strekning
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="summertKjørefeltlengde" type="integer">
            <annotation>
              <documentation>8806: Angir sum lengde av kjørefeltene innenfor en strekning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradiusfordeling"/>
          <element minOccurs="0" name="horisontalradius_50Prosent" type="integer">
            <annotation>
              <documentation>9475: 50 % av spormålingenen innen for angitt geografisk oppløsning har horsontalradius mindre enn gitt verdi.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_90Prosent" type="double">
            <annotation>
              <documentation>9476: 90 % av spormålingenen innen for angitt geografisk oppløsning har horisontalradius mindre enn gitt verdi.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_Midlere" type="integer">
            <annotation>
              <documentation>9477: Midlere verdi for horisontalradius basert på spormållinger innen angitt geografisk oppløsning
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_Minste" type="integer">
            <annotation>
              <documentation>9478: Midlere verdi for horsintalradius basert på spormållinger innen angitt geografisk oppløsning
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_Største" type="integer">
            <annotation>
              <documentation>9479: Midlere verdi for horisontalradius basert på spormållinger innen angitt geografisk oppløsning
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rapport_Ekstra_1" type="double">
            <annotation>
              <documentation>9480: Ekstra tallverdi til spesielle rapporter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rapport_Ekstra_2" type="double">
            <annotation>
              <documentation>9481: Ekstra tallverdi til spesielle rapporter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rapport_Ekstra_3" type="double">
            <annotation>
              <documentation>9482: Ekstra tallverdi til spesielle rapporter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Statistikk_SpormålingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Statistikk_Spormåling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
