GML/645.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GeografiskOppløsningStatistikk_JevnhetsmålingType">
    <annotation>
      <documentation>6103: Angir hva statistikken omfatter</documentation>
    </annotation>
    <union memberTypes="nvdb:GeografiskOppløsningStatistikk_JevnhetsmålingEnumerationType nvdb:GeografiskOppløsningStatistikk_JevnhetsmålingOtherType"/>
  </simpleType>
  <simpleType name="GeografiskOppløsningStatistikk_JevnhetsmålingEnumerationType">
    <annotation>
      <documentation>6103: Angir hva statistikken omfatter</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="landet">
        <annotation>
          <documentation>8383: Landet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="region">
        <annotation>
          <documentation>8384: Region</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylke">
        <annotation>
          <documentation>8385: Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegavdeling">
        <annotation>
          <documentation>8386: Vegavdeling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>11667: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegPrLand">
        <annotation>
          <documentation>8387: Veg pr land</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegPrRegion">
        <annotation>
          <documentation>8388: Veg pr region</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegPrFylke">
        <annotation>
          <documentation>8389: Veg pr fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegPrAvdeling">
        <annotation>
          <documentation>8390: Veg pr avdeling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegPrKommune">
        <annotation>
          <documentation>11672: Veg pr kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HP">
        <annotation>
          <documentation>8391: HP</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PMS_Parsell">
        <annotation>
          <documentation>8392: PMS-parsell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1000_Meter">
        <annotation>
          <documentation>13219: 1000-meter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="generert">
        <annotation>
          <documentation>11297: Generert</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GeografiskOppløsningStatistikk_JevnhetsmålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="JevnhetsformålStatistikk_JevnhetsmålingType">
    <annotation>
      <documentation>7925: Angir formal med spormåling</documentation>
    </annotation>
    <union memberTypes="nvdb:JevnhetsformålStatistikk_JevnhetsmålingEnumerationType nvdb:JevnhetsformålStatistikk_JevnhetsmålingOtherType"/>
  </simpleType>
  <simpleType name="JevnhetsformålStatistikk_JevnhetsmålingEnumerationType">
    <annotation>
      <documentation>7925: Angir formal med spormåling</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>10107: Generelle målinger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>10106: Referansemåling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>10105: Forsøksmålinger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>10104: Teleløsning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>10124: Initiell-1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>10125: Initiell-2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>10126: Initiell-3</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="JevnhetsformålStatistikk_JevnhetsmålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Spor_LaserStatistikk_JevnhetsmålingType">
    <annotation>
      <documentation>7923: Angir hvilket spor dataene gjelder</documentation>
    </annotation>
    <union memberTypes="nvdb:Spor_LaserStatistikk_JevnhetsmålingEnumerationType nvdb:Spor_LaserStatistikk_JevnhetsmålingOtherType"/>
  </simpleType>
  <simpleType name="Spor_LaserStatistikk_JevnhetsmålingEnumerationType">
    <annotation>
      <documentation>7923: Angir hvilket spor dataene gjelder</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="indre">
        <annotation>
          <documentation>10099: Indre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mellom">
        <annotation>
          <documentation>10098: Mellom</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ytre">
        <annotation>
          <documentation>10097: Ytre</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Spor_LaserStatistikk_JevnhetsmålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Statistikk_Jevnhetsmåling" substitutionGroup="nvdb:AbstraktStatistikk_Jevnhetsmåling" type="nvdb:Statistikk_JevnhetsmålingType">
    <annotation>
      <documentation>645: Aggregert informasjon ifbm PMS-rapport 2612</documentation>
    </annotation>
  </element>
  <complexType name="Statistikk_JevnhetsmålingType">
    <complexContent>
      <extension base="nvdb:AbstraktStatistikk_JevnhetsmålingType">
        <sequence>
          <element minOccurs="0" name="opprettetDato" type="date"/>
          <element minOccurs="0" name="stedsangivelse_Fra_Til" type="string">
            <annotation>
              <documentation>8731: Angir stedsnavn for start og slutt strekning.  Rekkefølge som navnene settes i har ikke betydning.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="geografiskOppløsning" type="nvdb:GeografiskOppløsningStatistikk_JevnhetsmålingType">
            <annotation>
              <documentation>6103: Angir hva statistikken omfatter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="min_Mm_Dato_Grunnlag" type="date">
            <annotation>
              <documentation>8792: Datagrunnlaget for statistikkobjektet er ikke eldre enn gitt dato.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="maks_Mm_Dato_Grunnlag" type="date">
            <annotation>
              <documentation>8793: Datagrunnlaget for statistikkobjektet er ikke nyere enn gitt dato.</documentation>
            </annotation>
          </element>
          <element name="jevnhetsformål" type="nvdb:JevnhetsformålStatistikk_JevnhetsmålingType">
            <annotation>
              <documentation>7925: Angir formal med spormåling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="jevnhetsfordeling"/>
          <element minOccurs="0" name="MPD_Fordeling"/>
          <element name="spor_Laser" type="nvdb:Spor_LaserStatistikk_JevnhetsmålingType">
            <annotation>
              <documentation>7923: Angir hvilket spor dataene gjelder</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="måltProsent" type="double">
            <annotation>
              <documentation>6110: Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="IRI_Verdi_50Prosent" type="double">
            <annotation>
              <documentation>6111: Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="IRI_Verdi_90Prosent" type="double">
            <annotation>
              <documentation>6112: Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="midlereIRI_Verdi" type="double">
            <annotation>
              <documentation>6113: Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="minsteIRI_Verdi" type="double">
            <annotation>
              <documentation>6114: Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="størsteIRI_Verdi" type="double">
            <annotation>
              <documentation>6115: Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter
Enhet: Millimeter/meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="MPD_50Prosent" type="double">
            <annotation>
              <documentation>9937: Refererer til ET 5907 "MPD, middel" for VT "Jevnhetsmåling (avleda per 20 m)". MPD = Midlere ProfilDybde, et uttrykk for tekstur/ruhet av asfaltens overflate
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="MPD_90Prosent" type="double">
            <annotation>
              <documentation>9938: Refererer til ET 5907 "MPD, middel" for VT "Jevnhetsmåling (avleda per 20 m)". MPD = Midlere ProfilDybde, et uttrykk for tekstur/ruhet av asfaltens overflate
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="midlereMPD_Verdi" type="double">
            <annotation>
              <documentation>9939: Refererer til ET 5907 "MPD, middel" for VT "Jevnhetsmåling (avleda per 20 m)". MPD = Midlere ProfilDybde, et uttrykk for tekstur/ruhet av asfaltens overflate
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="minsteMPD_Verdi" type="double">
            <annotation>
              <documentation>9940: Refererer til ET 5907 "MPD, middel" for VT "Jevnhetsmåling (avleda per 20 m)". MPD = Midlere ProfilDybde, et uttrykk for tekstur/ruhet av asfaltens overflate
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="størsteMPD_Verdi" type="double">
            <annotation>
              <documentation>9941: Refererer til ET 5907 "MPD, middel" for VT "Jevnhetsmåling (avleda per 20 m)". MPD = Midlere ProfilDybde, et uttrykk for tekstur/ruhet av asfaltens overflate
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>7546: Angir total lengde av strekning
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="summertKjørefeltlengde" type="integer">
            <annotation>
              <documentation>8807: Angir sum lengde av kjørefeltene innenfor en strekning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Statistikk_JevnhetsmålingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Statistikk_Jevnhetsmåling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
