GML/645.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>645: Aggregert informasjon ifbm PMS-rapport 2612.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="GeografiskOppløsningStatistikk_Jevnhetsmåling_UtgårType">
      <annotation>
         <documentation>6103: Angir hva statistikken omfatter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6103</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">6103</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GeografiskOppløsningStatistikk_Jevnhetsmåling_UtgårEnumerationType nvdb:GeografiskOppløsningStatistikk_Jevnhetsmåling_UtgårOtherType"/>
   </simpleType>
   <simpleType name="GeografiskOppløsningStatistikk_Jevnhetsmåling_UtgårEnumerationType">
      <annotation>
         <documentation>6103: Angir hva statistikken omfatter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6103</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">6103</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Landet">
            <annotation>
               <documentation>8383: Landet</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8383</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Landet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Region">
            <annotation>
               <documentation>8384: Region</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8384</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Region</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fylke">
            <annotation>
               <documentation>8385: Fylke</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8385</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vegavdeling">
            <annotation>
               <documentation>8386: Vegavdeling</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8386</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegavdeling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kommune">
            <annotation>
               <documentation>11667: Kommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11667</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Veg pr land">
            <annotation>
               <documentation>8387: Veg pr land</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8387</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr land</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Veg pr region">
            <annotation>
               <documentation>8388: Veg pr region</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8388</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr region</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Veg pr fylke">
            <annotation>
               <documentation>8389: Veg pr fylke</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8389</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr fylke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Veg pr avdeling">
            <annotation>
               <documentation>8390: Veg pr avdeling</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8390</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr avdeling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Veg pr kommune">
            <annotation>
               <documentation>11672: Veg pr kommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11672</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="HP">
            <annotation>
               <documentation>8391: HP</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8391</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">HP</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="PMS-parsell">
            <annotation>
               <documentation>8392: PMS-parsell</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8392</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">PMS-parsell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1000-meter">
            <annotation>
               <documentation>13219: 1000-meter</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13219</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1000-meter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Generert">
            <annotation>
               <documentation>11297: Generert</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11297</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Generert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GeografiskOppløsningStatistikk_Jevnhetsmåling_UtgårOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="JevnhetsformålStatistikk_Jevnhetsmåling_UtgårType">
      <annotation>
         <documentation>7925: Angir formal med spormåling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7925</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">7925</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jevnhetsformål</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:JevnhetsformålStatistikk_Jevnhetsmåling_UtgårEnumerationType nvdb:JevnhetsformålStatistikk_Jevnhetsmåling_UtgårOtherType"/>
   </simpleType>
   <simpleType name="JevnhetsformålStatistikk_Jevnhetsmåling_UtgårEnumerationType">
      <annotation>
         <documentation>7925: Angir formal med spormåling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7925</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">7925</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jevnhetsformål</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="G">
            <annotation>
               <documentation>10107: Generelle målinger</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10107</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Generelle målinger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <documentation>10106: Referansemåling</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10106</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Referansemåling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <documentation>10105: Forsøksmålinger</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10105</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forsøksmålinger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <documentation>10104: Teleløsning</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10104</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Teleløsning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>10124: Initiell-1</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10124</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Initiell-1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>10125: Initiell-2</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10125</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Initiell-2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <documentation>10126: Initiell-3</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10126</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Initiell-3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="JevnhetsformålStatistikk_Jevnhetsmåling_UtgårOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Spor_LaserStatistikk_Jevnhetsmåling_UtgårType">
      <annotation>
         <documentation>7923: Angir hvilket spor dataene gjelder.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">7923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spor, laser</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Spor_LaserStatistikk_Jevnhetsmåling_UtgårEnumerationType nvdb:Spor_LaserStatistikk_Jevnhetsmåling_UtgårOtherType"/>
   </simpleType>
   <simpleType name="Spor_LaserStatistikk_Jevnhetsmåling_UtgårEnumerationType">
      <annotation>
         <documentation>7923: Angir hvilket spor dataene gjelder.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">7923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spor, laser</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Indre">
            <annotation>
               <documentation>10099: Indre</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10099</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Indre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Mellom">
            <annotation>
               <documentation>10098: Mellom</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10098</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mellom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ytre">
            <annotation>
               <documentation>10097: Ytre</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10097</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ytre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Spor_LaserStatistikk_Jevnhetsmåling_UtgårOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Statistikk_Jevnhetsmåling_Utgår"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Statistikk_Jevnhetsmåling_UtgårType">
      <annotation>
         <documentation>645: Aggregert informasjon ifbm PMS-rapport 2612.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">645</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">645</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statistikk, jevnhetsmåling (Utgår)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Statistikk_Jevnhetsmåling_UtgårType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="opprettetDato" type="date">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6116</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Opprettet dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stedsangivelse_Fra_Til" type="string">
                  <annotation>
                     <documentation>8731: Angir stedsnavn for start og slutt strekning. Rekkefølge som navnene settes i har ikke betydning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8731</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stedsangivelse, fra-til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="geografiskOppløsning"
                        type="nvdb:GeografiskOppløsningStatistikk_Jevnhetsmåling_UtgårType">
                  <annotation>
                     <documentation>6103: Angir hva statistikken omfatter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6103</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="min_Mm_Dato_Grunnlag" type="date">
                  <annotation>
                     <documentation>8792: Datagrunnlaget for statistikkobjektet er ikke eldre enn gitt dato.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8792</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Minimumsdato, grunnlag</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="maks_Mm_Dato_Grunnlag" type="date">
                  <annotation>
                     <documentation>8793: Datagrunnlaget for statistikkobjektet er ikke nyere enn gitt dato.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8793</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maksimumsdato, grunnlag</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="jevnhetsformål"
                        type="nvdb:JevnhetsformålStatistikk_Jevnhetsmåling_UtgårType">
                  <annotation>
                     <documentation>7925: Angir formal med spormåling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7925</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Jevnhetsformål</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="jevnhetsfordeling">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6106</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Jevnhetsfordeling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="MPD_Fordeling">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9942</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">MPD-fordeling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="spor_Laser"
                        type="nvdb:Spor_LaserStatistikk_Jevnhetsmåling_UtgårType">
                  <annotation>
                     <documentation>7923: Angir hvilket spor dataene gjelder.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7923</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spor, laser</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="måltProsent" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6110</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Målt %</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="IRI_Verdi_50Prosent" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6111</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">IRI-verdi, 50 %</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="IRI_Verdi_90Prosent" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6112</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">IRI-verdi, 90 %</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="midlereIRI_Verdi" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6113</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Midlere IRI-verdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="minsteIRI_Verdi" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6114</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Minste IRI-verdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="størsteIRI_Verdi" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6115</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Største IRI-verdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="MPD_50Prosent" type="double">
                  <annotation>
                     <documentation>9937: Refererer til ET 5907 "MPD, middel" for VT "Jevnhetsmåling (avleda per 20 m)". MPD = Midlere ProfilDybde, et uttrykk for tekstur/ruhet av asfaltens overflate.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9937</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">MPD 50 %</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="MPD_90Prosent" type="double">
                  <annotation>
                     <documentation>9938: Refererer til ET 5907 "MPD, middel" for VT "Jevnhetsmåling (avleda per 20 m)". MPD = Midlere ProfilDybde, et uttrykk for tekstur/ruhet av asfaltens overflate.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9938</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">MPD, 90 %</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="midlereMPD_Verdi" type="double">
                  <annotation>
                     <documentation>9939: Refererer til ET 5907 "MPD, middel" for VT "Jevnhetsmåling (avleda per 20 m)". MPD = Midlere ProfilDybde, et uttrykk for tekstur/ruhet av asfaltens overflate.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9939</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Midlere MPD-verdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="minsteMPD_Verdi" type="double">
                  <annotation>
                     <documentation>9940: Refererer til ET 5907 "MPD, middel" for VT "Jevnhetsmåling (avleda per 20 m)". MPD = Midlere ProfilDybde, et uttrykk for tekstur/ruhet av asfaltens overflate.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9940</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Minste MPD-verdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="størsteMPD_Verdi" type="double">
                  <annotation>
                     <documentation>9941: Refererer til ET 5907 "MPD, middel" for VT "Jevnhetsmåling (avleda per 20 m)". MPD = Midlere ProfilDybde, et uttrykk for tekstur/ruhet av asfaltens overflate.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9941</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Største MPD-verdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="integer">
                  <annotation>
                     <documentation>7546: Angir total lengde av strekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7546</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="summertKjørefeltlengde" type="integer">
                  <annotation>
                     <documentation>8807: Angir sum lengde av kjørefeltene innenfor en strekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8807</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Summert kjørefeltlengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>Angivelse av objektets posisjon</documentation>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Statistikk_Jevnhetsmåling_UtgårPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Statistikk_Jevnhetsmåling_Utgår"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
