GML/647.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>647: Aggregert informasjon ifbm PMS-rapport 2625.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="GeografiskOppløsningStatistikk, vegbredde (Historisk)Type">
      <annotation>
         <documentation>6117: Angir hva statistikken omfatter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6117</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GeografiskOppløsningStatistikk, vegbredde (Historisk)EnumerationType nvdb:GeografiskOppløsningStatistikk, vegbredde (Historisk)OtherType"/>
   </simpleType>
   <simpleType name="GeografiskOppløsningStatistikk, vegbredde (Historisk)EnumerationType">
      <annotation>
         <documentation>6117: Angir hva statistikken omfatter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6117</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1000">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13220</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1000-meter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8395</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11298</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Generert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="HP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8401</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">HP</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11666</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8393</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Landet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="PMS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">PMS-parsell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8394</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Region</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VpA">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8400</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr avdeling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VpF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8399</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr fylke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VpK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11671</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VpL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8397</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr land</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VpR">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8398</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr region</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vavd">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8396</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegavdeling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GeografiskOppløsningStatistikk, vegbredde (Historisk)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Statistikk, vegbredde (Historisk)"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Statistikk, vegbredde (Historisk)Type">
      <annotation>
         <documentation>647: Aggregert informasjon ifbm PMS-rapport 2625.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">647</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statistikk, vegbredde (Historisk)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Statistikk, vegbredde (Historisk)Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="opprettetDato" type="date">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6124</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Opprettet dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stedsangivelse_Fra_Til" type="string">
                  <annotation>
                     <documentation>8732: Angir stedsnavn for start og slutt strekning. Rekkefølge som navnene settes i har ikke betydning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8732</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stedsangivelse, fra-til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="geografiskOppløsning">
                  <annotation>
                     <documentation>6117: Angir hva statistikken omfatter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6117</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="min_Mm_Dato_Grunnlag" type="date">
                  <annotation>
                     <documentation>8794: Datagrunnlaget for statistikkobjektet er ikke eldre enn gitt dato.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8794</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Minimumsdato, grunnlag</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="maks_Mm_Dato_Grunnlag" type="date">
                  <annotation>
                     <documentation>8795: Datagrunnlaget for statistikkobjektet er ikke nyere enn gitt dato.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8795</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maksimumsdato, grunnlag</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="midlereDekkebredde" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6119</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Midlere dekkebredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="midlereKjørebanebredde" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6120</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Midlere kjørebanebredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="midlereVegbredde" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6121</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Midlere vegbredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="dekkeareal" type="integer">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6122</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dekkeareal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="måltProsent" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6123</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Målt %</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="integer">
                  <annotation>
                     <documentation>7548: Angir total lengde av strekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7548</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="dekkebreddefordeling" type="string">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6125</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dekkebreddefordeling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kjørebanebreddefordeling" type="string">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6129</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kjørebanebreddefordeling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vegbreddefordeling" type="string">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6133</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegbreddefordeling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Statistikk, vegbredde (Historisk)PropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Statistikk, vegbredde (Historisk)"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
