GML/647.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GeografiskOppløsningStatistikk_VegbreddeType">
    <annotation>
      <documentation>6117: Angir hva statistikken omfatter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">6117</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">6117</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GeografiskOppløsningStatistikk_VegbreddeEnumerationType nvdb:GeografiskOppløsningStatistikk_VegbreddeOtherType"/>
  </simpleType>
  <simpleType name="GeografiskOppløsningStatistikk_VegbreddeEnumerationType">
    <annotation>
      <documentation>6117: Angir hva statistikken omfatter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">6117</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">6117</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Landet">
        <annotation>
          <documentation>8393: Landet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8393</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Landet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Region">
        <annotation>
          <documentation>8394: Region</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8394</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Region</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylke">
        <annotation>
          <documentation>8395: Fylke</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8395</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegavdeling">
        <annotation>
          <documentation>8396: Vegavdeling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8396</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegavdeling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>11666: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11666</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr land">
        <annotation>
          <documentation>8397: Veg pr land</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8397</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg pr land</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr region">
        <annotation>
          <documentation>8398: Veg pr region</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8398</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg pr region</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr fylke">
        <annotation>
          <documentation>8399: Veg pr fylke</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8399</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg pr fylke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr avdeling">
        <annotation>
          <documentation>8400: Veg pr avdeling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8400</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg pr avdeling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr kommune">
        <annotation>
          <documentation>11671: Veg pr kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11671</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg pr kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HP">
        <annotation>
          <documentation>8401: HP</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8401</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">HP</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="PMS-parsell">
        <annotation>
          <documentation>8402: PMS-parsell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">PMS-parsell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1000-meter">
        <annotation>
          <documentation>13220: 1000-meter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13220</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1000-meter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Generert">
        <annotation>
          <documentation>11298: Generert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11298</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Generert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GeografiskOppløsningStatistikk_VegbreddeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Statistikk_Vegbredde" substitutionGroup="nvdb:AbstraktStatistikk_Vegbredde" type="nvdb:Statistikk_VegbreddeType">
    <annotation>
      <documentation>647: Aggregert informasjon ifbm PMS-rapport 2625</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">647</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">647</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Statistikk, vegbredde</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Statistikk_VegbreddeType">
    <complexContent>
      <extension base="nvdb:AbstraktStatistikk_VegbreddeType">
        <sequence>
          <element minOccurs="0" name="opprettetDato" type="date">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6124</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Opprettet dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelse_Fra_Til" type="string">
            <annotation>
              <documentation>8732: Angir stedsnavn for start og slutt strekning.  Rekkefølge som navnene settes i har ikke betydning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8732</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Stedsangivelse, fra-til</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="geografiskOppløsning" type="nvdb:GeografiskOppløsningStatistikk_VegbreddeType">
            <annotation>
              <documentation>6117: Angir hva statistikken omfatter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6117</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="min_Mm_Dato_Grunnlag" type="date">
            <annotation>
              <documentation>8794: Datagrunnlaget for statistikkobjektet er ikke eldre enn gitt dato.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8794</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Minimumsdato, grunnlag</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maks_Mm_Dato_Grunnlag" type="date">
            <annotation>
              <documentation>8795: Datagrunnlaget for statistikkobjektet er ikke nyere enn gitt dato.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8795</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Maksimumsdato, grunnlag</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="midlereDekkebredde" type="double">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6119</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Midlere dekkebredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="midlereKjørebanebredde" type="double">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6120</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Midlere kjørebanebredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="midlereVegbredde" type="double">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6121</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Midlere vegbredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkeareal" type="integer">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6122</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dekkeareal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måltProsent" type="double">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6123</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Målt %</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>7548: Angir total lengde av strekning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7548</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkebreddefordeling">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6125</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dekkebreddefordeling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjørebanebreddefordeling">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6129</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kjørebanebreddefordeling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vegbreddefordeling">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6133</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vegbreddefordeling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Statistikk_VegbreddePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Statistikk_Vegbredde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
