GML/65.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeBygningType">
    <annotation>
      <documentation>1266: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdeBygningEnumerationType nvdb:BruksområdeBygningOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeBygningEnumerationType">
    <annotation>
      <documentation>1266: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="kontrollVektstasjon">
        <annotation>
          <documentation>3437: Kontroll-/vektstasjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="servicebygg">
        <annotation>
          <documentation>3438: F.eks venterom, kiosk etc</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tekniskBygg">
        <annotation>
          <documentation>12915: Primært teknisk bygg i tunnel. Kan unntaktsvis også gjelde ved ferjeleier eller bruer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lager">
        <annotation>
          <documentation>3439: Lager</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafikksentral">
        <annotation>
          <documentation>3440: Trafikksentral</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bompengeBillettinnkreving">
        <annotation>
          <documentation>3436: Bompenge-/billettinnkreving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafostasjon">
        <annotation>
          <documentation>3441: Trafostasjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bolighus">
        <annotation>
          <documentation>4088: Bolighus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pumpestasjon">
        <annotation>
          <documentation>9089: Pumpestasjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sanitærToalettanlegg">
        <annotation>
          <documentation>5464: Sanitær-/toalettanlegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brøytestasjon">
        <annotation>
          <documentation>7989: Brøytestasjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="garasje">
        <annotation>
          <documentation>7990: Garasje</documentation>
        </annotation>
      </enumeration>
      <enumeration value="driftsbygning">
        <annotation>
          <documentation>7991: Bygning som benyttes i forbindelse med drift/vedlikehold, f.eks til oppbevaring av verktøy/redskap/maskiner etc.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="telefonkiosk">
        <annotation>
          <documentation>7992: Telefonkiosk langs veg.  Gjelder ikke i tunnel</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeBygningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Bygning" substitutionGroup="nvdb:AbstraktBygning" type="nvdb:BygningType">
    <annotation>
      <documentation>65: Bygning i tilknytning til vegen</documentation>
    </annotation>
  </element>
  <complexType name="BygningType">
    <complexContent>
      <extension base="nvdb:AbstraktBygningType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeBygningType">
            <annotation>
              <documentation>1266: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="plassering" type="nvdb:PlasseringBygningType">
            <annotation>
              <documentation>9261: Angir hvor bygning er plassert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arealGrunnflate" type="double">
            <annotation>
              <documentation>1366: Angir arealet av vegobjektet.  Gir areal av byggets grunnflate
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="materialtype" type="nvdb:MaterialtypeBygningType">
            <annotation>
              <documentation>1407: Angir primær materialtype for vegobjektet, om flere materialtyper angis materialtype som er mest dominerende sett fra utside (kledning).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="taktype" type="nvdb:TaktypeType">
            <annotation>
              <documentation>1974: Angir hvilken taktype det er på en bygning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallRom" type="integer">
            <annotation>
              <documentation>9258: Angir hvor mange rom det er i bygning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallDører" type="integer">
            <annotation>
              <documentation>9259: Angir hvor mange dører det er i bygning.  Sum av ulike typer dører.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="overflatebehandling" type="nvdb:OverflatebehandlingType">
            <annotation>
              <documentation>1603: Angir hvordan vegobjektet er overflatebehandla.  Utvendig overflatebehandling.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsavtale" type="string">
            <annotation>
              <documentation>1562: Angir arkivnummer for henvisning til eventuell vedlikeholdsavtale for vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5662: Angir fast merknad til bygning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10281: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10997: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="SCADA_Merking" type="string">
            <annotation>
              <documentation>11710: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11658: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11058: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="FKB_ID" type="string">
            <annotation>
              <documentation>10853: Refererer til FKB-identitet. Benyttes i forbindelse med felles forvaltning av geometri.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierBygningType">
            <annotation>
              <documentation>11219: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>1547: Navn på eier av  vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligBygningType">
            <annotation>
              <documentation>9149: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4767: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>9340: Gir flate/polygon som geometrisk representerer ytre omriss av bygning</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFerjeleie" type="nvdb:AbstraktFerjeleiePropertyType"/>
          <element minOccurs="0" name="assosiertTunnel" type="nvdb:AbstraktTunnelPropertyType"/>
          <element minOccurs="0" name="assosiertRasteplass" type="nvdb:AbstraktRasteplassPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertElektriskKomponent_Test" type="nvdb:AbstraktElektriskKomponent_TestPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKlimaanlegg" type="nvdb:AbstraktKlimaanleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="nvdb:AbstraktTilstandSkade_PunktPropertyType"/>
          <element minOccurs="0" name="assosiertBomstasjon" type="nvdb:AbstraktBomstasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Punkt" type="nvdb:AbstraktTilstandSkadeFU_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSystemobjekt" type="nvdb:AbstraktSystemobjektPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BygningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bygning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="EierBygningType">
    <annotation>
      <documentation>11219: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierBygningEnumerationType nvdb:EierBygningOtherType"/>
  </simpleType>
  <simpleType name="EierBygningEnumerationType">
    <annotation>
      <documentation>11219: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>18518: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18660: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>18520: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>18516: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>18517: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>18519: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierBygningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeBygningType">
    <annotation>
      <documentation>1407: Angir primær materialtype for vegobjektet, om flere materialtyper angis materialtype som er mest dominerende sett fra utside (kledning).</documentation>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeBygningEnumerationType nvdb:MaterialtypeBygningOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeBygningEnumerationType">
    <annotation>
      <documentation>1407: Angir primær materialtype for vegobjektet, om flere materialtyper angis materialtype som er mest dominerende sett fra utside (kledning).</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="tre">
        <annotation>
          <documentation>2191: Tre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>2209: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="metall_Stål_Galvanisert">
        <annotation>
          <documentation>2232: Metall, stål, galvanisert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="leca">
        <annotation>
          <documentation>20078: Leca</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeBygningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingType">
    <annotation>
      <documentation>1603: Angir hvordan vegobjektet er overflatebehandla.  Utvendig overflatebehandling.</documentation>
    </annotation>
    <union memberTypes="nvdb:OverflatebehandlingEnumerationType nvdb:OverflatebehandlingOtherType"/>
  </simpleType>
  <simpleType name="OverflatebehandlingEnumerationType">
    <annotation>
      <documentation>1603: Angir hvordan vegobjektet er overflatebehandla.  Utvendig overflatebehandling.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="malt">
        <annotation>
          <documentation>2155: Malt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="beiset">
        <annotation>
          <documentation>2162: Beiset</documentation>
        </annotation>
      </enumeration>
      <enumeration value="impregnert">
        <annotation>
          <documentation>2168: Impregnert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oljet">
        <annotation>
          <documentation>2174: Oljet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ubehandlet">
        <annotation>
          <documentation>16962: Angis om det valgt bevisst at det skal være ubehandlet overflate</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringBygningType">
    <annotation>
      <documentation>9261: Angir hvor bygning er plassert</documentation>
    </annotation>
    <union memberTypes="nvdb:PlasseringBygningEnumerationType nvdb:PlasseringBygningOtherType"/>
  </simpleType>
  <simpleType name="PlasseringBygningEnumerationType">
    <annotation>
      <documentation>9261: Angir hvor bygning er plassert</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="frittliggende">
        <annotation>
          <documentation>12912: Frittliggende</documentation>
        </annotation>
      </enumeration>
      <enumeration value="iTunnelFjellrom">
        <annotation>
          <documentation>12913: Bygninng er plassert inne i tunnel/fjellrom.  Selve fjellrommet registreres i tillegg</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringBygningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TaktypeType">
    <annotation>
      <documentation>1974: Angir hvilken taktype det er på en bygning</documentation>
    </annotation>
    <union memberTypes="nvdb:TaktypeEnumerationType nvdb:TaktypeOtherType"/>
  </simpleType>
  <simpleType name="TaktypeEnumerationType">
    <annotation>
      <documentation>1974: Angir hvilken taktype det er på en bygning</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stålplater">
        <annotation>
          <documentation>3444: Stålplater</documentation>
        </annotation>
      </enumeration>
      <enumeration value="takstein">
        <annotation>
          <documentation>3442: Takstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongMurstein">
        <annotation>
          <documentation>12914: Tak støpt i betong, bygget av betongelementer, eller bygget av murstein.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skifer">
        <annotation>
          <documentation>3443: Skifer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="papp">
        <annotation>
          <documentation>3446: Papp</documentation>
        </annotation>
      </enumeration>
      <enumeration value="torvtak">
        <annotation>
          <documentation>3445: Torvtak</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TaktypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBygningType">
    <annotation>
      <documentation>9149: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligBygningEnumerationType nvdb:VedlikeholdsansvarligBygningOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBygningEnumerationType">
    <annotation>
      <documentation>9149: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>12232: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18791: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19982: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18920: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>12233: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>12234: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17770: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBygningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
