GML/65.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>65: Bygning i tilknytning til vegen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeBygningType">
      <annotation>
         <documentation>1266: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1266</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeBygningEnumerationType nvdb:BruksområdeBygningOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeBygningEnumerationType">
      <annotation>
         <documentation>1266: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1266</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4088</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bolighus/hytte</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3436</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bompenge-/billettinnkreving</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7989</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brøytestasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="d">
            <annotation>
               <documentation>7991: Bygning som benyttes i forbindelse med drift/vedlikehold, f.eks. til oppbevaring av verktøy/redskap/maskiner etc.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7991</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Driftsbygning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7990</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Garasje</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3437</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kontroll-/vektstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3439</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lager</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ps">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9089</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pumpestasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rt">
            <annotation>
               <documentation>21846: Rom i tunnel hvor en kan oppholde seg i en brannsituasjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21846</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Redningsrom tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sa">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5464</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sanitær-/toalettanlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sb">
            <annotation>
               <documentation>3438: F.eks. venterom, kiosk etc.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3438</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Servicebygg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tb">
            <annotation>
               <documentation>12915: Bygg hvor det er installert teknisk utstyr i tilknytning til f.eks tunnel, ferjeleier, bruer, skredvarsling/saikring eller lignende.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12915</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Teknisk bygg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <documentation>7992: Telefonkiosk langs veg. Gjelder ikke i tunnel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7992</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Telefonkiosk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ts">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3440</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikksentral</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="to">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3441</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafostasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tø">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22706</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tørroppstilte pumper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeBygningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Bygning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:BygningType">
      <annotation>
         <documentation>65: Bygning i tilknytning til vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">65</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bygning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BygningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeBygningType">
                  <annotation>
                     <documentation>1266: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1266</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="nvdb:PlasseringBygningType">
                  <annotation>
                     <documentation>9261: Angir hvor bygning er plassert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9261</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="arealGrunnflate" type="double">
                  <annotation>
                     <documentation>1366: Angir arealet av vegobjektet. Gir areal av byggets grunnflate.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1366</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal grunnflate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialtype" type="nvdb:MaterialtypeBygningType">
                  <annotation>
                     <documentation>1407: Angir primær materialtype for vegobjektet, om flere materialtyper angis materialtype som er mest dominerende sett fra utside (kledning).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1407</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="overflatebehandling" type="nvdb:OverflatebehandlingBygningType">
                  <annotation>
                     <documentation>1603: Angir hvordan vegobjektet er overflatebehandla. Utvendig overflatebehandling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1603</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="taktype" type="nvdb:TaktypeBygningType">
                  <annotation>
                     <documentation>1974: Angir hvilken taktype det er på en bygning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1974</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Taktype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="låsesystem" type="string">
                  <annotation>
                     <documentation>12104: Angir hvilket låsesystem som er benyttet for tilgang til bygning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12104</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Låsesystem</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallRom" type="integer">
                  <annotation>
                     <documentation>9258: Angir hvor mange rom det er i bygning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9258</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall rom</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallDører" type="integer">
                  <annotation>
                     <documentation>9259: Angir hvor mange dører det er i bygning. Sum av ulike typer dører.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9259</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall dører</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vedlikeholdsavtale" type="string">
                  <annotation>
                     <documentation>1562: Angir arkivnummer for henvisning til eventuell vedlikeholdsavtale for vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1562</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsavtale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10281: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10281</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10997: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10997</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="SCADA_Merking" type="string">
                  <annotation>
                     <documentation>11710: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11710</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">SCADA-merking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>5662: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5662</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivreferanse" type="string">
                  <annotation>
                     <documentation>11658: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11658</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11058: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11058</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12297: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12297</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="FKB_ID" type="string">
                  <annotation>
                     <documentation>10853: Refererer til FKB-identitet. Benyttes i forbindelse med felles forvaltning av geometri.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10853</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">FKB_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierBygningType">
                  <annotation>
                     <documentation>11219: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11219</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier_Navn" type="string">
                  <annotation>
                     <documentation>1547: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1547</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligBygningType">
                  <annotation>
                     <documentation>9149: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9149</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4767: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4767</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>9340: Gir flate/polygon som geometrisk representerer ytre omriss av bygning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9340</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BygningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Bygning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="EierBygningType">
      <annotation>
         <documentation>11219: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11219</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierBygningEnumerationType nvdb:EierBygningOtherType"/>
   </simpleType>
   <simpleType name="EierBygningEnumerationType">
      <annotation>
         <documentation>11219: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11219</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18520</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18516</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18517</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18660</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18518</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18519</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierBygningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeBygningType">
      <annotation>
         <documentation>1407: Angir primær materialtype for vegobjektet, om flere materialtyper angis materialtype som er mest dominerende sett fra utside (kledning).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1407</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeBygningEnumerationType nvdb:MaterialtypeBygningOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeBygningEnumerationType">
      <annotation>
         <documentation>1407: Angir primær materialtype for vegobjektet, om flere materialtyper angis materialtype som er mest dominerende sett fra utside (kledning).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1407</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2209</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20078</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Leca</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2232</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, stål, galvanisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2191</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeBygningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingBygningType">
      <annotation>
         <documentation>1603: Angir hvordan vegobjektet er overflatebehandla. Utvendig overflatebehandling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1603</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OverflatebehandlingBygningEnumerationType nvdb:OverflatebehandlingBygningOtherType"/>
   </simpleType>
   <simpleType name="OverflatebehandlingBygningEnumerationType">
      <annotation>
         <documentation>1603: Angir hvordan vegobjektet er overflatebehandla. Utvendig overflatebehandling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1603</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2162</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Beiset</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="im">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2168</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Impregnert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2155</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Malt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="o">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2174</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oljet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>16962: Angis om det valgt bevisst at det skal være ubehandlet overflate.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16962</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ubehandlet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingBygningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringBygningType">
      <annotation>
         <documentation>9261: Angir hvor bygning er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9261</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlasseringBygningEnumerationType nvdb:PlasseringBygningOtherType"/>
   </simpleType>
   <simpleType name="PlasseringBygningEnumerationType">
      <annotation>
         <documentation>9261: Angir hvor bygning er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9261</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12912</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Frittliggende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <documentation>12913: Bygning er plassert inne i tunnel/fjellrom. Selve fjellrommet registreres i tillegg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12913</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I tunnel/fjellrom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringBygningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TaktypeBygningType">
      <annotation>
         <documentation>1974: Angir hvilken taktype det er på en bygning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1974</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Taktype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TaktypeBygningEnumerationType nvdb:TaktypeBygningOtherType"/>
   </simpleType>
   <simpleType name="TaktypeBygningEnumerationType">
      <annotation>
         <documentation>1974: Angir hvilken taktype det er på en bygning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1974</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Taktype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="BM">
            <annotation>
               <documentation>12914: Tak støpt i betong, bygget av betongelementer, eller bygget av murstein.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12914</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong/murstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3446</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Papp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3443</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skifer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3444</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stålplater</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ts">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3442</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Takstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3445</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Torvtak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Tre">
            <annotation>
               <documentation>20909: Taktekking av tre.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20909</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tretak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TaktypeBygningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligBygningType">
      <annotation>
         <documentation>9149: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9149</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligBygningEnumerationType nvdb:VedlikeholdsansvarligBygningOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligBygningEnumerationType">
      <annotation>
         <documentation>9149: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9149</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19982</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12233</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18791</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18920</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12234</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12232</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17770</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligBygningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
