GML/66.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierSkredoverbyggType">
    <annotation>
      <documentation>7995: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7995</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7995</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierSkredoverbyggEnumerationType nvdb:EierSkredoverbyggOtherType"/>
  </simpleType>
  <simpleType name="EierSkredoverbyggEnumerationType">
    <annotation>
      <documentation>7995: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7995</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7995</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10261: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10261</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18610: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18610</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10723: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10723</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10325: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10325</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10389: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10389</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17574: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17574</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSkredoverbyggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skredoverbygg" substitutionGroup="nvdb:AbstraktSkredoverbygg" type="nvdb:SkredoverbyggType">
    <annotation>
      <documentation>66: Konstruksjon som omslutter vegen for å beskytte den mot skred.  Tak og vegg inn mot skråning er massive.  Vegg ut fra skråning er åpen eller evt. tettet med lettere materiale.  Se også utgått Håndbok 100</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">66</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">66</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skredoverbygg</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkredoverbyggType">
    <complexContent>
      <extension base="nvdb:AbstraktSkredoverbyggType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>5282: Angir navn på skredoverbygget.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5282</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeSkredoverbyggType">
            <annotation>
              <documentation>9508: Angir hvilken type skredoverbygg det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9508</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1316: Angir lengde av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1316</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5283: Permanent merknad til aktuell forekomst.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5283</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brutus_Id" type="string">
            <annotation>
              <documentation>9302: Gir referanse til brudatabanken.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9302</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Brutus_Id</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tunnelnummer" type="string">
            <annotation>
              <documentation>9516: Gir unikt nummer for tunnel/skredoverbygg, benyttes av Plania.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9516</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tunnelnummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10361: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10361</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11059: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11059</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12298: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12298</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierSkredoverbyggType">
            <annotation>
              <documentation>7995: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7995</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSkredoverbyggType">
            <annotation>
              <documentation>8058: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8058</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4768: Gir koordinatsett for å avgrense vegobjektets utstrekning. Vegobjektet representeres med vegnettsgeometri på strekning mellom startpunkt og sluttpunkt. Eventuelt mellomliggende punkt benyttes for å sikre at riktig veglinje benyttes for hele strekningen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4768</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Strekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Strekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkadeFU_Strekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHøydebegrensning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHøydebegrensning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkredoverbyggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skredoverbygg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeSkredoverbyggType">
    <annotation>
      <documentation>9508: Angir hvilken type skredoverbygg det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9508</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9508</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSkredoverbyggEnumerationType nvdb:TypeSkredoverbyggOtherType"/>
  </simpleType>
  <simpleType name="TypeSkredoverbyggEnumerationType">
    <annotation>
      <documentation>9508: Angir hvilken type skredoverbygg det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9508</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9508</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Skredoverbygg, u/fjellforankring">
        <annotation>
          <documentation>13398: Skredoverbygg, u/fjellforankring</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13398</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredoverbygg, u/fjellforankring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skredoverbygg, u/fjellforank., sålefund., hel frontvegg">
        <annotation>
          <documentation>13399: Skredoverbygg, u/fjellforank., sålefund., hel frontvegg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13399</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredoverbygg, u/fjellforank., sålefund., hel frontvegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skredoverbygg, u/fjellforank., sålefund., åpen frontvegg">
        <annotation>
          <documentation>13400: Skredoverbygg, u/fjellforank., sålefund., åpen frontvegg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13400</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredoverbygg, u/fjellforank., sålefund., åpen frontvegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skredoverbygg, u/fjellforankring, kassetverrsnitt">
        <annotation>
          <documentation>13401: Skredoverbygg, u/fjellforankring, kassetverrsnitt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13401</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredoverbygg, u/fjellforankring, kassetverrsnitt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skredbygg u/fjellforankring, rørtverrsnitt">
        <annotation>
          <documentation>13402: Skredbygg u/fjellforankring, rørtverrsnitt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13402</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredbygg u/fjellforankring, rørtverrsnitt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skredoverbygg, u/fjellforankring, andre">
        <annotation>
          <documentation>13403: Skredoverbygg, u/fjellforankring, andre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13403</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredoverbygg, u/fjellforankring, andre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skredoverbygg m/fjellforankring">
        <annotation>
          <documentation>13404: Skredoverbygg m/fjellforankring</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13404</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredoverbygg m/fjellforankring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skredoverbygg m/fjellforank., hel frontvegg, u/bakvegg">
        <annotation>
          <documentation>13405: Skredoverbygg m/fjellforank., hel frontvegg, u/bakvegg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13405</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredoverbygg m/fjellforank., hel frontvegg, u/bakvegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skredoverbygg, m/fjellforank., hel frontvegg, m/bakvegg">
        <annotation>
          <documentation>13406: Skredoverbygg, m/fjellforank., hel frontvegg, m/bakvegg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13406</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredoverbygg, m/fjellforank., hel frontvegg, m/bakvegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skredoverbygg, m/fjellforank., åpen frontvegg, u/bakvegg">
        <annotation>
          <documentation>13407: Skredoverbygg, m/fjellforank., åpen frontvegg, u/bakvegg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13407</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredoverbygg, m/fjellforank., åpen frontvegg, u/bakvegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skredoverbygg, m/fjellforank., åpen frontvegg, m/bakvegg">
        <annotation>
          <documentation>13408: Skredoverbygg, m/fjellforank., åpen frontvegg, m/bakvegg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13408</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredoverbygg, m/fjellforank., åpen frontvegg, m/bakvegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skredoverbygg, m/fjellforankring, andre">
        <annotation>
          <documentation>13409: Skredoverbygg, m/fjellforankring, andre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13409</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredoverbygg, m/fjellforankring, andre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSkredoverbyggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkredoverbyggType">
    <annotation>
      <documentation>8058: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8058</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8058</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSkredoverbyggEnumerationType nvdb:VedlikeholdsansvarligSkredoverbyggOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkredoverbyggEnumerationType">
    <annotation>
      <documentation>8058: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8058</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8058</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10452: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10452</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18671: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18671</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19928: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19928</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18800: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18800</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10530: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10530</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10608: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10608</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17711: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17711</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkredoverbyggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
