GML/67.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EkstraBelysningInngangssoneType">
    <annotation>
      <documentation>7864: Angir om det er ekstra belysning i tunnelens inngangssoner i forhold til midt inne i tunnelen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7864</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7864</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ekstra belysning inngangssone</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EkstraBelysningInngangssoneEnumerationType nvdb:EkstraBelysningInngangssoneOtherType"/>
  </simpleType>
  <simpleType name="EkstraBelysningInngangssoneEnumerationType">
    <annotation>
      <documentation>7864: Angir om det er ekstra belysning i tunnelens inngangssoner i forhold til midt inne i tunnelen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7864</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7864</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ekstra belysning inngangssone</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>9978: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9978</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>9979: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9979</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EkstraBelysningInngangssoneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KategoriTunnelløpType">
    <annotation>
      <documentation>8944: Angir hvilken kategori tunnelløpet tilhører.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8944</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8944</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kategori</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KategoriTunnelløpEnumerationType nvdb:KategoriTunnelløpOtherType"/>
  </simpleType>
  <simpleType name="KategoriTunnelløpEnumerationType">
    <annotation>
      <documentation>8944: Angir hvilken kategori tunnelløpet tilhører.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8944</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8944</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kategori</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hovedløp">
        <annotation>
          <documentation>11801: Tunnelløp som fører hovedveg. Hovedveg har vanligvis "normale" hovedparsellnummer (ikke ramper, armer, etc.).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11801</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hovedløp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rampe">
        <annotation>
          <documentation>11802: Tunnelløp som fører rampe.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11802</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rampe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sekundærløp">
        <annotation>
          <documentation>12091: Tunnelløp som fører sekundærveg eller vegarm. Aktuelt for tunnel med kryss.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12091</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sekundærløp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rundkjøring">
        <annotation>
          <documentation>11804: Tunnelløp med rundkjøring.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11804</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rundkjøring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KategoriTunnelløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MalteTunnelveggerType">
    <annotation>
      <documentation>10970: Angir hvorvidt tunnelvegger er malte eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10970</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10970</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Malte tunnelvegger</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MalteTunnelveggerEnumerationType nvdb:MalteTunnelveggerOtherType"/>
  </simpleType>
  <simpleType name="MalteTunnelveggerEnumerationType">
    <annotation>
      <documentation>10970: Angir hvorvidt tunnelvegger er malte eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10970</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10970</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Malte tunnelvegger</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>18403: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18403</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>18404: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18404</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MalteTunnelveggerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tunnelløp" substitutionGroup="nvdb:AbstraktTunnelløp" type="nvdb:TunnelløpType">
    <annotation>
      <documentation>67: Utgravd eller utstøpt passasje gjennom jord/berg eller under større lokk. Har normalt inngang og utgang i dagen. I spesielle tilfeller, f.eks. når forgreninger eller kryss, kan det være utgang mot annet tunnelløp eller inngang fra annet tunnelløp. Se også Undergang, Skredoverbygg og Høydebegrensning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">67</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">67</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tunnelløp</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TunnelløpType">
    <complexContent>
      <extension base="nvdb:AbstraktTunnelløpType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1081: Angir navn på tunnelløp.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1081</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kategori" type="nvdb:KategoriTunnelløpType">
            <annotation>
              <documentation>8944: Angir hvilken kategori tunnelløpet tilhører.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8944</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kategori</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tunnelprofil" type="nvdb:TunnelprofilType">
            <annotation>
              <documentation>1977: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1977</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tunnelprofil</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeTunnelløp" type="nvdb:TypeTunnelløpType">
            <annotation>
              <documentation>1130: Angir hvilken type tunnelløp det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1130</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type tunnelløp</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1317: Angir lengde av tunnelløpet. Et tunnelløp sees på som et rør. Eventuelle portaler regnes som del av tunnelløpet. Lengde av tunnelløp blir lik lengde av "røret". Eksempelvis vil lengde av et rampe-løp strekker seg til der rampen kommer inn i hovedløpet selv om rampeparsell kan fortsette et stykke parallelt med hovedvegen i hovedløpet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1317</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arealTverrsnitt" type="double">
            <annotation>
              <documentation>1367: Angir areal av tunnelløpets tverrsnitt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1367</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal tverrsnitt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>3897: Angir tunnelløpets minimum bredde målt fra tunnelvegg til tunnelvegg i kjørebanenivå.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3897</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>10883: Angir tunnelløpets minimum høyde målt fra topp kjørebane til tak.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10883</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ekstraBelysningInngangssone" type="nvdb:EkstraBelysningInngangssoneType">
            <annotation>
              <documentation>7864: Angir om det er ekstra belysning i tunnelens inngangssoner i forhold til midt inne i tunnelen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7864</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Ekstra belysning inngangssone</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="malteTunnelvegger" type="nvdb:MalteTunnelveggerType">
            <annotation>
              <documentation>10970: Angir hvorvidt tunnelvegger er malte eller ikke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10970</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Malte tunnelvegger</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brutus_Id" type="string">
            <annotation>
              <documentation>9305: Gir referanse til brudatabanken.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9305</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Brutus_Id</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5286: Permanent merknad til aktuell forekomst.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5286</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="åpningsår" type="integer">
            <annotation>
              <documentation>8356: Angir hvilket år tunnelløpet ble åpnet for trafikk.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8356</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Åpningsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppgraderingsår" type="integer">
            <annotation>
              <documentation>10693: Angir hvilket år tunnelløpet sist var oppgradert iht tunnelsikkerhetsforskriften.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10693</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Oppgraderingsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11060: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11060</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12299: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12299</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4769: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4769</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertFordeling" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFordeling</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGassmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGassmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGrøft_Åpen" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGrøft_Åpen</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHydrant" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHydrant</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHøydebegrensning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHøydebegrensning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHøydehinder" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHøydehinder</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHøydemåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHøydemåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertInspeksjonsluke" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktInspeksjonsluke</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKabelbr_Uten_Stige" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKabelbr_Uten_Stige</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKabelgrøft" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKabelgrøft</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKamera" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKamera</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKantstolperRefleks" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKantstolperRefleks</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKlimaanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKlimaanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKondensmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKondensmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKum" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKum</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLedelysstrekning_Optisk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLedelysstrekning_Optisk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLukketRørgrøft" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLukketRørgrøft</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLysmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLysmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertMobiltelefonsamband" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktMobiltelefonsamband</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNødstasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNødstasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNødstrømsaggregat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNødstrømsaggregat</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNødtelefon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNødtelefon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNødutgang" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNødutgang</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertPortDør" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktPortDør</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertPumpestasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktPumpestasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertRadioanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRadioanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSidearealTunnel" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSidearealTunnel</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSignalanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSignalanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSignalpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSignalpunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSiktmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSiktmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSkap_Teknisk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkap_Teknisk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSkiltpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkiltpunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSnuplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSnuplass</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertStøtpute" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStøtpute</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTaljerLøfteutstyr" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTaljerLøfteutstyr</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTelefonsentral" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTelefonsentral</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTemperaturmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTemperaturmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrafikklomme" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikklomme</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertAntenne" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktAntenne</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrafo" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafo</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrekkekum" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrekkekum</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrekkerørKanal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrekkerørKanal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnel" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnel</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelovervåkning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelovervåkning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTunnelport" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelport</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTunnelportal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelportal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertUPS" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktUPS</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVannOgFrostsikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVannOgFrostsikring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVannstandsmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVannstandsmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegbom" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegbom</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVentilasjonsanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVentilasjonsanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVifteVentilator" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVifteVentilator</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVindmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVindmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertEvakueringsbelysning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktEvakueringsbelysning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDetektor_Trafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDetektor_Trafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBetongutstøping" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBetongutstøping</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBevegelsessensor" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBevegelsessensor</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBergsikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBergsikring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDyresperre" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDyresperre</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBrannslokningsapparat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBrannslokningsapparat</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBranndetektor" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBranndetektor</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBrannvarslingsanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBrannvarslingsanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBergrom" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBergrom</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBelysningspunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBelysningspunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBrannslokkingsanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBrannslokkingsanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertElektriskAnlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktElektriskAnlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBelysningsstrekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBelysningsstrekning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelløpPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tunnelløp"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TunnelprofilType">
    <annotation>
      <documentation>1977: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1977</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1977</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tunnelprofil</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TunnelprofilEnumerationType nvdb:TunnelprofilOtherType"/>
  </simpleType>
  <simpleType name="TunnelprofilEnumerationType">
    <annotation>
      <documentation>1977: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1977</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1977</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tunnelprofil</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="T4">
        <annotation>
          <documentation>3404: T4</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3404</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T4</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T5">
        <annotation>
          <documentation>3406: T5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3406</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T5,5">
        <annotation>
          <documentation>8169: T5,5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8169</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T5,5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T6">
        <annotation>
          <documentation>3408: T6</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3408</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T6</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T7">
        <annotation>
          <documentation>8170: T7</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8170</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T7</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T7,5">
        <annotation>
          <documentation>17531: T7,5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17531</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T7,5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8">
        <annotation>
          <documentation>12911: T8</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12911</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8,5">
        <annotation>
          <documentation>3410: T8,5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3410</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T8,5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T9">
        <annotation>
          <documentation>3412: T9</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3412</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T9,5">
        <annotation>
          <documentation>8171: T9,5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8171</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T9,5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T10">
        <annotation>
          <documentation>4350: T10</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4350</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T10</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T10,5">
        <annotation>
          <documentation>17532: T10,5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17532</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T10,5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T11">
        <annotation>
          <documentation>3414: T11</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3414</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T11</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T11,5">
        <annotation>
          <documentation>8172: T11,5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8172</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T11,5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T12">
        <annotation>
          <documentation>3416: T12</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3416</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T12</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T12,5">
        <annotation>
          <documentation>8173: T12,5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8173</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T12,5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T13">
        <annotation>
          <documentation>12237: T13</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12237</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T13</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T13,5">
        <annotation>
          <documentation>17533: T13,5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17533</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T13,5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T14">
        <annotation>
          <documentation>12238: T14</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12238</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T14</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rektangulært tverrsnitt">
        <annotation>
          <documentation>3421: Rektangulært tverrsnitt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3421</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rektangulært tverrsnitt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TunnelprofilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeTunnelløpType">
    <annotation>
      <documentation>1130: Angir hvilken type tunnelløp det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1130</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1130</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type tunnelløp</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeTunnelløpEnumerationType nvdb:TypeTunnelløpOtherType"/>
  </simpleType>
  <simpleType name="TypeTunnelløpEnumerationType">
    <annotation>
      <documentation>1130: Angir hvilken type tunnelløp det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1130</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1130</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type tunnelløp</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Berg">
        <annotation>
          <documentation>3386: Tunnelløp som hovedsakelig går i berg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3386</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Berg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Løsmasse">
        <annotation>
          <documentation>3387: Tunnelløp som går i løsmasser.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3387</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Løsmasse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Berg/løsmasse">
        <annotation>
          <documentation>3388: Tunnelløp som delvis går i berg og delvis i løsmasser.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3388</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Berg/løsmasse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lokk">
        <annotation>
          <documentation>4843: Tunnelløp som går under bygning/lokk.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4843</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lokk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Senketunnel">
        <annotation>
          <documentation>13001: Tunnelløp under vann som er satt sammen av ferdigbygde seksjoner som har blitt senka på plass.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13001</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Senketunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeTunnelløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
