GML/67.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <annotation>
    <documentation>67: Utgravd eller utstøpt passasje gjennom jord/fjell eller under større lokk.  Har normalt inngang og utgang i dagen.  I spesielle tilfeller, f.eks når forgreninger eller kryss, kan det være utgang mot annet tunnelløp eller inngang fra annet tunnelløp. Se også Undergang, Skredoverbygg og Høydebegrensning.</documentation>
  </annotation>
  <include schemaLocation="nvdb.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EkstraBelysningInngangssoneType">
    <annotation>
      <documentation>7864: Angir om det er ekstra belysning i tunnelens inngangssoner i forhold til midt inne i tunnelen..</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7864</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7864</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EKSTRABELYSNINGINNGANGSSONE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EkstraBelysningInngangssoneEnumerationType nvdb:EkstraBelysningInngangssoneOtherType"/>
  </simpleType>
  <simpleType name="EkstraBelysningInngangssoneEnumerationType">
    <annotation>
      <documentation>7864: Angir om det er ekstra belysning i tunnelens inngangssoner i forhold til midt inne i tunnelen..</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7864</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7864</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EKSTRABELYSNINGINNGANGSSONE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>9978: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9978</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>9979: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9979</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EkstraBelysningInngangssoneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KategoriTunnelløpType">
    <annotation>
      <documentation>8944: Angir hvilken kategori tunnelløpet tilhører</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8944</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8944</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KATEGORITUNNELLØP</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KategoriTunnelløpEnumerationType nvdb:KategoriTunnelløpOtherType"/>
  </simpleType>
  <simpleType name="KategoriTunnelløpEnumerationType">
    <annotation>
      <documentation>8944: Angir hvilken kategori tunnelløpet tilhører</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8944</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8944</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KATEGORITUNNELLØP</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="hovedløp">
        <annotation>
          <documentation>11801: Tunnelløp som fører hovedveg.  Hovedveg har vanligvis "normale" hovedparsellnummer (ikke ramper, armer, etc.)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11801</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rampe">
        <annotation>
          <documentation>11802: Tunnelløp som fører rampe.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11802</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sekundærløp">
        <annotation>
          <documentation>12091: Tunnelløp som fører sekundærveg eller vegarm.  Aktuelt for tunnel med kryss.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12091</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rundkjøring">
        <annotation>
          <documentation>11804: Tunnelløp med rundkjøring.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11804</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KategoriTunnelløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MalteTunnelveggerType">
    <annotation>
      <documentation>10970: Angir hvorvidt tunnellvegger er malte eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10970</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10970</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MALTETUNNELVEGGER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MalteTunnelveggerEnumerationType nvdb:MalteTunnelveggerOtherType"/>
  </simpleType>
  <simpleType name="MalteTunnelveggerEnumerationType">
    <annotation>
      <documentation>10970: Angir hvorvidt tunnellvegger er malte eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10970</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10970</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MALTETUNNELVEGGER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>18403: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18403</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>18404: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18404</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MalteTunnelveggerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tunnelløp" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TunnelløpType">
    <annotation>
      <documentation>67: Utgravd eller utstøpt passasje gjennom jord/fjell eller under større lokk.  Har normalt inngang og utgang i dagen.  I spesielle tilfeller, f.eks når forgreninger eller kryss, kan det være utgang mot annet tunnelløp eller inngang fra annet tunnelløp. Se også Undergang, Skredoverbygg og Høydebegrensning.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">67</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">67</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELLØP</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TunnelløpType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1081: Angir navn på tunnelløp.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1081</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kategori" type="nvdb:KategoriTunnelløpType">
            <annotation>
              <documentation>8944: Angir hvilken kategori tunnelløpet tilhører</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8944</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KATEGORI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tunnelprofil" type="nvdb:TunnelprofilType">
            <annotation>
              <documentation>1977: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1977</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELPROFIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeTunnelløp" type="nvdb:TypeTunnelløpType">
            <annotation>
              <documentation>1130: Angir hvilken type tunnelløp det er tale om.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1130</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPETUNNELLØP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1317: Angir lengde av tunnelløpet. Et tunnelløp sees på som et rør. Eventuelle portaler regnes som del av tunnelløpet. Lengde av tunnelløp blir lik lengde av "røret". Eksempelvis vil lengde av et rampe-løp strekker seg til der rampen kommer inn i hovedløpet selv om rampeparsell kan fortsette et stykke parallelt med hovevegen i hovedløpet.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1317</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arealTverrsnitt" type="double">
            <annotation>
              <documentation>1367: Angir areal av tunnelløpets tverrsnitt.
Enhet: Kvadratmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1367</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREALTVERRSNITT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>3897: Angir tunnelløpets minimum bredde målt fra tunnelvegg til tunnelvegg i kjørebanenivå.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3897</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>10883: Angir tunnelløpets minimum høyde målt fra topp kjørebane til tak.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10883</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ekstraBelysningInngangssone" type="nvdb:EkstraBelysningInngangssoneType">
            <annotation>
              <documentation>7864: Angir om det er ekstra belysning i tunnelens inngangssoner i forhold til midt inne i tunnelen..</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7864</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EKSTRABELYSNINGINNGANGSSONE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="malteTunnelvegger" type="nvdb:MalteTunnelveggerType">
            <annotation>
              <documentation>10970: Angir hvorvidt tunnellvegger er malte eller ikke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10970</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MALTETUNNELVEGGER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brutus_Id" type="string">
            <annotation>
              <documentation>9305: Gir referanse til brudatabanken</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9305</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUTUS_ID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5286: Permanent merknad til aktuell forekomst</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5286</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="åpningsår" type="integer">
            <annotation>
              <documentation>8356: Angir hvilket år tunnelløpet ble åpnet for trafikk</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8356</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅPNINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rehabiliteringsår" type="integer">
            <annotation>
              <documentation>10693: Angir hvilket år tunnelløp enten er planlagt rehabiltert eller sist var rehabilitert. Det er her tale om full rehabilitering. Årstall fram i tid tolkes som planlagt år for rehabilitering. Årstall tilbake i tid tolkes som forrige gang tunnelløp ble rehabilitert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10693</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REHABILITERINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11060: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11060</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROSJEKTREFERANSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4769: Gir koordinatsett for å avgrense vegobjektets utstrekning. Vegobjektet representeres med vegnettsgeometri på strekning mellom startpunkt og sluttpunkt. Eventuelt mellomliggende punkt benyttes for å sikre at riktig veglinje benyttes for hele strekningen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4769</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertAntenne" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Antenne</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertTunnelløp</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertTunnelløp</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelløpPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tunnelløp"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TunnelprofilType">
    <annotation>
      <documentation>1977: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1977</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1977</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELPROFIL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TunnelprofilEnumerationType nvdb:TunnelprofilOtherType"/>
  </simpleType>
  <simpleType name="TunnelprofilEnumerationType">
    <annotation>
      <documentation>1977: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1977</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1977</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELPROFIL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="T4">
        <annotation>
          <documentation>3404: T4</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3404</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T5">
        <annotation>
          <documentation>3406: T5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3406</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T5_5">
        <annotation>
          <documentation>8169: T5,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8169</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T6">
        <annotation>
          <documentation>3408: T6</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3408</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T7">
        <annotation>
          <documentation>8170: T7</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8170</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T7_5">
        <annotation>
          <documentation>17531: T7,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17531</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8">
        <annotation>
          <documentation>12911: T8</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12911</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8_5">
        <annotation>
          <documentation>3410: T8,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3410</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T9">
        <annotation>
          <documentation>3412: T9</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3412</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T9_5">
        <annotation>
          <documentation>8171: T9,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8171</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T10">
        <annotation>
          <documentation>4350: T10</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4350</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T10_5">
        <annotation>
          <documentation>17532: T10,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17532</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T11">
        <annotation>
          <documentation>3414: T11</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3414</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T11_5">
        <annotation>
          <documentation>8172: T11,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8172</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T12">
        <annotation>
          <documentation>3416: T12</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3416</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T12_5">
        <annotation>
          <documentation>8173: T12,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8173</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T13">
        <annotation>
          <documentation>12237: T13</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12237</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T13_5">
        <annotation>
          <documentation>17533: T13,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17533</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T14">
        <annotation>
          <documentation>12238: T14</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12238</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rektangulærtTverrsnitt">
        <annotation>
          <documentation>3421: Rektangulært tverrsnitt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3421</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TunnelprofilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeTunnelløpType">
    <annotation>
      <documentation>1130: Angir hvilken type tunnelløp det er tale om.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1130</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1130</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPETUNNELLØP</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeTunnelløpEnumerationType nvdb:TypeTunnelløpOtherType"/>
  </simpleType>
  <simpleType name="TypeTunnelløpEnumerationType">
    <annotation>
      <documentation>1130: Angir hvilken type tunnelløp det er tale om.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1130</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1130</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPETUNNELLØP</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="berg">
        <annotation>
          <documentation>3386: Tunnelløp som hovedsaklig går i berg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3386</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="løsmasse">
        <annotation>
          <documentation>3387: Tunnelløp som går i løsmasser</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3387</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bergLøsmasse">
        <annotation>
          <documentation>3388: Tunnelløp som delvis går i berg og delvis i løsmasser</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3388</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lokk">
        <annotation>
          <documentation>4843: Tunnelløp som går under bygning/lokk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4843</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="senketunnel">
        <annotation>
          <documentation>13001: Tunnelløp under vann som er satt sammen av ferdigbygde seksjoner som har blitt senka på plass.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13001</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeTunnelløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
