GML/67.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EkstraBelysningInngangssoneType">
    <annotation>
      <documentation>7864: Angir om det er ekstra belysning i tunnelens inngangssoner i forhold til midt inne i tunnelen..</documentation>
    </annotation>
    <union memberTypes="nvdb:EkstraBelysningInngangssoneEnumerationType nvdb:EkstraBelysningInngangssoneOtherType"/>
  </simpleType>
  <simpleType name="EkstraBelysningInngangssoneEnumerationType">
    <annotation>
      <documentation>7864: Angir om det er ekstra belysning i tunnelens inngangssoner i forhold til midt inne i tunnelen..</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>9978: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>9979: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EkstraBelysningInngangssoneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KategoriTunnelløpType">
    <annotation>
      <documentation>8944: Angir hvilken kategori tunnelløpet tilhører</documentation>
    </annotation>
    <union memberTypes="nvdb:KategoriTunnelløpEnumerationType nvdb:KategoriTunnelløpOtherType"/>
  </simpleType>
  <simpleType name="KategoriTunnelløpEnumerationType">
    <annotation>
      <documentation>8944: Angir hvilken kategori tunnelløpet tilhører</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="hovedløp">
        <annotation>
          <documentation>11801: Tunnelløp som fører hovedveg.  Hovedveg har vanligvis "normale" hovedparsellnummer (ikke ramper, armer, etc.)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rampe">
        <annotation>
          <documentation>11802: Tunnelløp som fører rampe.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sekundærløp">
        <annotation>
          <documentation>12091: Tunnelløp som fører sekundærveg eller vegarm.  Aktuelt for tunnel med kryss.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rundkjøring">
        <annotation>
          <documentation>11804: Tunnelløp med rundkjøring.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KategoriTunnelløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MalteTunnelveggerType">
    <annotation>
      <documentation>10970: Angir hvorvidt tunnellvegger er malte eller ikke.</documentation>
    </annotation>
    <union memberTypes="nvdb:MalteTunnelveggerEnumerationType nvdb:MalteTunnelveggerOtherType"/>
  </simpleType>
  <simpleType name="MalteTunnelveggerEnumerationType">
    <annotation>
      <documentation>10970: Angir hvorvidt tunnellvegger er malte eller ikke.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>18403: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>18404: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MalteTunnelveggerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tunnelløp" substitutionGroup="nvdb:AbstraktTunnelløp" type="nvdb:TunnelløpType">
    <annotation>
      <documentation>67: Utgravd eller utstøpt passasje gjennom jord/fjell eller under større lokk.  Har normalt inngang og utgang i dagen.  I spesielle tilfeller, f.eks når forgreninger eller kryss, kan det være utgang mot annet tunnelløp eller inngang fra annet tunnelløp. Se også Undergang, Skredoverbygg og Høydebegrensning.</documentation>
    </annotation>
  </element>
  <complexType name="TunnelløpType">
    <complexContent>
      <extension base="nvdb:AbstraktTunnelløpType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1081: Angir navn på tunnelløp.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kategori" type="nvdb:KategoriTunnelløpType">
            <annotation>
              <documentation>8944: Angir hvilken kategori tunnelløpet tilhører</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tunnelprofil" type="nvdb:TunnelprofilType">
            <annotation>
              <documentation>1977: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="typeTunnelløp" type="nvdb:TypeTunnelløpType">
            <annotation>
              <documentation>1130: Angir hvilken type tunnelløp det er tale om.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1317: Angir lengde av tunnelløpet. Et tunnelløp sees på som et rør. Eventuelle portaler regnes som del av tunnelløpet. Lengde av tunnelløp blir lik lengde av "røret". Eksempelvis vil lengde av et rampe-løp strekker seg til der rampen kommer inn i hovedløpet selv om rampeparsell kan fortsette et stykke parallelt med hovevegen i hovedløpet.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arealTverrsnitt" type="double">
            <annotation>
              <documentation>1367: Angir areal av tunnelløpets tverrsnitt.
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>3897: Angir tunnelløpets minimum bredde målt fra tunnelvegg til tunnelvegg i kjørebanenivå.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>10883: Angir tunnelløpets minimum høyde målt fra topp kjørebane til tak.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="ekstraBelysningInngangssone" type="nvdb:EkstraBelysningInngangssoneType">
            <annotation>
              <documentation>7864: Angir om det er ekstra belysning i tunnelens inngangssoner i forhold til midt inne i tunnelen..</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="malteTunnelvegger" type="nvdb:MalteTunnelveggerType">
            <annotation>
              <documentation>10970: Angir hvorvidt tunnellvegger er malte eller ikke.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="brutus_Id" type="string">
            <annotation>
              <documentation>9305: Gir referanse til brudatabanken</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5286: Permanent merknad til aktuell forekomst</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="åpningsår" type="integer">
            <annotation>
              <documentation>8356: Angir hvilket år tunnelløpet ble åpnet for trafikk</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rehabiliteringsår" type="integer">
            <annotation>
              <documentation>10693: Angir hvilket år tunnelløp enten er planlagt rehabiltert eller sist var rehabilitert. Det er her tale om full rehabilitering. Årstall fram i tid tolkes som planlagt år for rehabilitering. Årstall tilbake i tid tolkes som forrige gang tunnelløp ble rehabilitert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11060: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4769: Gir koordinatsett for å avgrense vegobjektets utstrekning. Vegobjektet representeres med vegnettsgeometri på strekning mellom startpunkt og sluttpunkt. Eventuelt mellomliggende punkt benyttes for å sikre at riktig veglinje benyttes for hele strekningen</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHøydehinder" type="nvdb:AbstraktHøydehinderPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLedelysstrekning_Optisk" type="nvdb:AbstraktLedelysstrekning_OptiskPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDetektor_Trafikk" type="nvdb:AbstraktDetektor_TrafikkPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBelysningsstrekning" type="nvdb:AbstraktBelysningsstrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertFordelingstavle" type="nvdb:AbstraktFordelingstavlePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertMobiltelefonsamband" type="nvdb:AbstraktMobiltelefonsambandPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrekkerørKanal" type="nvdb:AbstraktTrekkerørKanalPropertyType"/>
          <element minOccurs="0" name="assosiertTunnel" type="nvdb:AbstraktTunnelPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLysmåler" type="nvdb:AbstraktLysmålerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBrannvarslingsanlegg" type="nvdb:AbstraktBrannvarslingsanleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBranndetektor" type="nvdb:AbstraktBranndetektorPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKamera" type="nvdb:AbstraktKameraPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBergsikring" type="nvdb:AbstraktBergsikringPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrekkekum" type="nvdb:AbstraktTrekkekumPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTaljerLøfteutstyr" type="nvdb:AbstraktTaljerLøfteutstyrPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSkiltpunkt" type="nvdb:AbstraktSkiltpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertStøtpute" type="nvdb:AbstraktStøtputePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSidearealTunnel" type="nvdb:AbstraktSidearealTunnelPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNødstrømsaggregat" type="nvdb:AbstraktNødstrømsaggregatPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGrøft_Åpen" type="nvdb:AbstraktGrøft_ÅpenPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGassmåler" type="nvdb:AbstraktGassmålerPropertyType"/>
          <element minOccurs="0" name="assosiertTunnelovervåkning" type="nvdb:AbstraktTunnelovervåkningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertRømningslysstrekning" type="nvdb:AbstraktRømningslysstrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVifteVentilator" type="nvdb:AbstraktVifteVentilatorPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertElektrostatiskRensesløyfe" type="nvdb:AbstraktElektrostatiskRensesløyfePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDyresperre" type="nvdb:AbstraktDyresperrePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertRadioanlegg" type="nvdb:AbstraktRadioanleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertElektriskAnlegg" type="nvdb:AbstraktElektriskAnleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSignalanlegg" type="nvdb:AbstraktSignalanleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVentilasjonsanlegg" type="nvdb:AbstraktVentilasjonsanleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKabelgrøft" type="nvdb:AbstraktKabelgrøftPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSignalpunkt" type="nvdb:AbstraktSignalpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertFotocelle" type="nvdb:AbstraktFotocellePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHøydemåler" type="nvdb:AbstraktHøydemålerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBergrom" type="nvdb:AbstraktBergromPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVindmåler" type="nvdb:AbstraktVindmålerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNødutgang" type="nvdb:AbstraktNødutgangPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTunnelportal" type="nvdb:AbstraktTunnelportalPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBetongutstøping" type="nvdb:AbstraktBetongutstøpingPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSiktmåler" type="nvdb:AbstraktSiktmålerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertPortDør" type="nvdb:AbstraktPortDørPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNødtelefon" type="nvdb:AbstraktNødtelefonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKlimaanlegg" type="nvdb:AbstraktKlimaanleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSnuplass" type="nvdb:AbstraktSnuplassPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKabelbr_Uten_Stige" type="nvdb:AbstraktKabelbr_Uten_StigePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrafo" type="nvdb:AbstraktTrafoPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegbom" type="nvdb:AbstraktVegbomPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertPumpestasjon" type="nvdb:AbstraktPumpestasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBrannslokningsapparat" type="nvdb:AbstraktBrannslokningsapparatPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVannstandsmåler" type="nvdb:AbstraktVannstandsmålerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBrannslokkingsanlegg" type="nvdb:AbstraktBrannslokkingsanleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTelefonsentral" type="nvdb:AbstraktTelefonsentralPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBrannhendelseITunnel" type="nvdb:AbstraktBrannhendelseITunnelPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVannOgFrostsikring" type="nvdb:AbstraktVannOgFrostsikringPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKum" type="nvdb:AbstraktKumPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertUPS" type="nvdb:AbstraktUPSPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertAntenne" type="nvdb:AbstraktAntennePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNødstasjon" type="nvdb:AbstraktNødstasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSkap_Teknisk" type="nvdb:AbstraktSkap_TekniskPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKondensmåler" type="nvdb:AbstraktKondensmålerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHydrant" type="nvdb:AbstraktHydrantPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrafikklomme" type="nvdb:AbstraktTrafikklommePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKantstolperRefleks" type="nvdb:AbstraktKantstolperRefleksPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTemperaturmåler" type="nvdb:AbstraktTemperaturmålerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertInspeksjonsluke" type="nvdb:AbstraktInspeksjonslukePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTunnelport" type="nvdb:AbstraktTunnelportPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHøydebegrensning" type="nvdb:AbstraktHøydebegrensningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLukketRørgrøft" type="nvdb:AbstraktLukketRørgrøftPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBelysningspunkt" type="nvdb:AbstraktBelysningspunktPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelløpPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tunnelløp"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TunnelprofilType">
    <annotation>
      <documentation>1977: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
    </annotation>
    <union memberTypes="nvdb:TunnelprofilEnumerationType nvdb:TunnelprofilOtherType"/>
  </simpleType>
  <simpleType name="TunnelprofilEnumerationType">
    <annotation>
      <documentation>1977: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="T4">
        <annotation>
          <documentation>3404: T4</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T5">
        <annotation>
          <documentation>3406: T5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T5_5">
        <annotation>
          <documentation>8169: T5,5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T6">
        <annotation>
          <documentation>3408: T6</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T7">
        <annotation>
          <documentation>8170: T7</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T7_5">
        <annotation>
          <documentation>17531: T7,5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T8">
        <annotation>
          <documentation>12911: T8</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T8_5">
        <annotation>
          <documentation>3410: T8,5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T9">
        <annotation>
          <documentation>3412: T9</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T9_5">
        <annotation>
          <documentation>8171: T9,5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T10">
        <annotation>
          <documentation>4350: T10</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T10_5">
        <annotation>
          <documentation>17532: T10,5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T11">
        <annotation>
          <documentation>3414: T11</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T11_5">
        <annotation>
          <documentation>8172: T11,5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T12">
        <annotation>
          <documentation>3416: T12</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T12_5">
        <annotation>
          <documentation>8173: T12,5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T13">
        <annotation>
          <documentation>12237: T13</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T13_5">
        <annotation>
          <documentation>17533: T13,5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T14">
        <annotation>
          <documentation>12238: T14</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rektangulærtTverrsnitt">
        <annotation>
          <documentation>3421: Rektangulært tverrsnitt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TunnelprofilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeTunnelløpType">
    <annotation>
      <documentation>1130: Angir hvilken type tunnelløp det er tale om.</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeTunnelløpEnumerationType nvdb:TypeTunnelløpOtherType"/>
  </simpleType>
  <simpleType name="TypeTunnelløpEnumerationType">
    <annotation>
      <documentation>1130: Angir hvilken type tunnelløp det er tale om.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="berg">
        <annotation>
          <documentation>3386: Tunnelløp som hovedsaklig går i berg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="løsmasse">
        <annotation>
          <documentation>3387: Tunnelløp som går i løsmasser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bergLøsmasse">
        <annotation>
          <documentation>3388: Tunnelløp som delvis går i berg og delvis i løsmasser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lokk">
        <annotation>
          <documentation>4843: Tunnelløp som går under bygning/lokk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="senketunnel">
        <annotation>
          <documentation>13001: Tunnelløp under vann som er satt sammen av ferdigbygde seksjoner som har blitt senka på plass.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeTunnelløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
