GML/69.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>69: Byggverk som benyttes i endene av fjelltunnelene for å beskytte tunnelåpning mot rennende vann og fallende snø, is stein og jord. (HB V440).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BærerTrafikklastTunnelportalType">
      <annotation>
         <documentation>12978: Angir om tunnelportal skal kunne bære trafikklast. Dette er tilfelle når det går en kryssende veg over tunnelportalen på tvers av hovedvegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12978</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bærer trafikklast</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BærerTrafikklastTunnelportalEnumerationType nvdb:BærerTrafikklastTunnelportalOtherType"/>
   </simpleType>
   <simpleType name="BærerTrafikklastTunnelportalEnumerationType">
      <annotation>
         <documentation>12978: Angir om tunnelportal skal kunne bære trafikklast. Dette er tilfelle når det går en kryssende veg over tunnelportalen på tvers av hovedvegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12978</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bærer trafikklast</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <documentation>22538: Tunnelportal bærer trafikklast</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22538</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>22539: Tunnel bærer ikke trafikklast.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22539</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BærerTrafikklastTunnelportalOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tunnelportal"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:TunnelportalType">
      <annotation>
         <documentation>69: Byggverk som benyttes i endene av fjelltunnelene for å beskytte tunnelåpning mot rennende vann og fallende snø, is stein og jord. (HB V440).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">69</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnelportal</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TunnelportalType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bærerTrafikklast">
                  <annotation>
                     <documentation>12978: Angir om tunnelportal skal kunne bære trafikklast. Dette er tilfelle når det går en kryssende veg over tunnelportalen på tvers av hovedvegen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12978</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bærer trafikklast</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typeTverrsnitt">
                  <annotation>
                     <documentation>1131: Angir hvilken type tverrsnitt tunnelportalen har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1131</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type tverrsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengde" type="double">
                  <annotation>
                     <documentation>3097: Angir lengde av tunnelportal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3097</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11205: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11205</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="brutus_Id" type="string">
                  <annotation>
                     <documentation>9304: Gir referanse til brudatabanken.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9304</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Brutus_Id</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11061: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11061</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12300: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12300</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="FKB_ID" type="string">
                  <annotation>
                     <documentation>10849: Refererer til FKB-identitet. Benyttes i forbindelse med felles forvaltning av geometri.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10849</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">FKB_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4771: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4771</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9505: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9505</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TunnelportalPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tunnelportal"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeTverrsnittTunnelportalType">
      <annotation>
         <documentation>1131: Angir hvilken type tverrsnitt tunnelportalen har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1131</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type tverrsnitt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeTverrsnittTunnelportalEnumerationType nvdb:TypeTverrsnittTunnelportalOtherType"/>
   </simpleType>
   <simpleType name="TypeTverrsnittTunnelportalEnumerationType">
      <annotation>
         <documentation>1131: Angir hvilken type tverrsnitt tunnelportalen har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1131</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type tverrsnitt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="R">
            <annotation>
               <documentation>3420: Profil i utløp av portal har en rektangulær form. Mer detaljer om utforming kan legges på tilleggsinformasjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3420</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rektangulært</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <documentation>3423: Profil i utløp av portal har en rund form. Mer detaljer om utforming kan legges på tilleggsinformasjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3423</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sirkulært/buet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeTverrsnittTunnelportalOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
