GML/69.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Tunnelportal" substitutionGroup="nvdb:AbstraktTunnelportal" type="nvdb:TunnelportalType">
    <annotation>
      <documentation>69: Byggverk som benyttes i endene av fjelltunnelene for å beskytte tunnelåpning mot rennende vann og fallende snø, is stein og jord. (HB V440 (129))</documentation>
    </annotation>
  </element>
  <complexType name="TunnelportalType">
    <complexContent>
      <extension base="nvdb:AbstraktTunnelportalType">
        <sequence>
          <element minOccurs="0" name="typeTverrsnitt" type="nvdb:TypeTverrsnittType">
            <annotation>
              <documentation>1131: Angir hvilken type tverrsnitt tunnelportalen har</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>3097: Angir lengde av tunnelportal
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11205: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="brutus_Id" type="string">
            <annotation>
              <documentation>9304: Gir referanse til brudatabanken</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11061: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="FKB_ID" type="string">
            <annotation>
              <documentation>10849: Refererer til FKB-identitet. Benyttes i forbindelse med felles forvaltning av geometri.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4771: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9505: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="nvdb:AbstraktTunnelløpPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="nvdb:AbstraktTilstandSkade_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Punkt" type="nvdb:AbstraktTilstandSkadeFU_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelportalPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tunnelportal"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeTverrsnittType">
    <annotation>
      <documentation>1131: Angir hvilken type tverrsnitt tunnelportalen har</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeTverrsnittEnumerationType nvdb:TypeTverrsnittOtherType"/>
  </simpleType>
  <simpleType name="TypeTverrsnittEnumerationType">
    <annotation>
      <documentation>1131: Angir hvilken type tverrsnitt tunnelportalen har</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="rektangulært">
        <annotation>
          <documentation>3420: Profil i utløp av portal har en rektangulær form. Mer detaljer om utforming kan legges på tilleggsinformasjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sirkulærtBuet">
        <annotation>
          <documentation>3423: Profil i utløp av portal har en rund form. Mer detaljer om utforming kan legges på tilleggsinformasjon</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeTverrsnittOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
