GML/7.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeGjerdeType">
    <annotation>
      <documentation>1249: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdeGjerdeEnumerationType nvdb:BruksområdeGjerdeOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeGjerdeEnumerationType">
    <annotation>
      <documentation>1249: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="trafikkLedegjerde">
        <annotation>
          <documentation>2401: Gjerde som avgrenser fotgjengertrafikk fra motorvogntrafikk.  Kilde: Rekkverksnormal.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vilt">
        <annotation>
          <documentation>2402: Skal hindre dyr i å komme ut i kjørebanen eller vegområdet.  (Temahefte hb111)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="eiendom">
        <annotation>
          <documentation>2403: Eiendom</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gelender">
        <annotation>
          <documentation>2404: Gelender</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sikringsgjerde">
        <annotation>
          <documentation>9295: Skal sikre at personer eller dyr ikke får tilgang til kjørebanen eller spesielt farlig område.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="miljøgjerde">
        <annotation>
          <documentation>3788: Miljøgjerde</documentation>
        </annotation>
      </enumeration>
      <enumeration value="blendingsgjerde">
        <annotation>
          <documentation>9294: Skal hindre blending fra møtende trafikk. (Temahefte hb 111)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeGjerdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierGjerdeType">
    <annotation>
      <documentation>5813: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierGjerdeEnumerationType nvdb:EierGjerdeOtherType"/>
  </simpleType>
  <simpleType name="EierGjerdeEnumerationType">
    <annotation>
      <documentation>5813: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>8208: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18590: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10700: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>8234: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>8260: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17598: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierGjerdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Gjerde" substitutionGroup="nvdb:AbstraktGjerde" type="nvdb:GjerdeType">
    <annotation>
      <documentation>7: Gjerde er frittstående hinder som skal stenge/lede ferdsel av folk eller dyr</documentation>
    </annotation>
  </element>
  <complexType name="GjerdeType">
    <complexContent>
      <extension base="nvdb:AbstraktGjerdeType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeGjerdeType">
            <annotation>
              <documentation>1249: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeGjerdeType">
            <annotation>
              <documentation>1091: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="typeStolpe" type="nvdb:TypeStolpeType">
            <annotation>
              <documentation>2105: Angir hvilken type stolper gjerdet har</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde_GjSnitt" type="double">
            <annotation>
              <documentation>1575: Angir gjennomsnittlig egenhøyde for hele vegobjektet.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1300: Angir eksakt lengde av gjerde
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="overflatebehandling" type="nvdb:OverflatebehandlingGjerdeType">
            <annotation>
              <documentation>1601: Angir hvordan vegobjektet er overflatebehandla</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10301: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11546: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11031: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="FKB_ID" type="string">
            <annotation>
              <documentation>10861: Refererer til FKB-identitet. Benyttes i forbindelse med felles forvaltning av geometri.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierGjerdeType">
            <annotation>
              <documentation>5813: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligGjerdeType">
            <annotation>
              <documentation>5801: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4716: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lydtett" type="nvdb:LydtettType">
            <annotation>
              <documentation>2042: Angir om vegobjektet er lydtett, har betydning for støyutbredelse</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGjerdeport" type="nvdb:AbstraktGjerdeportPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="nvdb:AbstraktTrafikkdelerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="nvdb:AbstraktTilstandSkade_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Strekning" type="nvdb:AbstraktTilstandSkadeFU_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHøydemåling" type="nvdb:AbstraktHøydemålingPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSystemobjekt" type="nvdb:AbstraktSystemobjektPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkøy" type="nvdb:AbstraktTrafikkøyPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GjerdePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Gjerde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="LydtettType">
    <annotation>
      <documentation>2042: Angir om vegobjektet er lydtett, har betydning for støyutbredelse</documentation>
    </annotation>
    <union memberTypes="nvdb:LydtettEnumerationType nvdb:LydtettOtherType"/>
  </simpleType>
  <simpleType name="LydtettEnumerationType">
    <annotation>
      <documentation>2042: Angir om vegobjektet er lydtett, har betydning for støyutbredelse</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3542: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3580: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LydtettOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingGjerdeType">
    <annotation>
      <documentation>1601: Angir hvordan vegobjektet er overflatebehandla</documentation>
    </annotation>
    <union memberTypes="nvdb:OverflatebehandlingGjerdeEnumerationType nvdb:OverflatebehandlingGjerdeOtherType"/>
  </simpleType>
  <simpleType name="OverflatebehandlingGjerdeEnumerationType">
    <annotation>
      <documentation>1601: Angir hvordan vegobjektet er overflatebehandla</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="malt">
        <annotation>
          <documentation>2153: Malt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="beiset">
        <annotation>
          <documentation>2160: Beiset</documentation>
        </annotation>
      </enumeration>
      <enumeration value="impregnert">
        <annotation>
          <documentation>2166: Impregnert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oljet">
        <annotation>
          <documentation>2172: Oljet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lakkert">
        <annotation>
          <documentation>2178: Lakkert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="galvanisert">
        <annotation>
          <documentation>17392: Galvanisert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ingen">
        <annotation>
          <documentation>19466: Vegobjektet har ingen overflatebehandling</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingGjerdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeGjerdeType">
    <annotation>
      <documentation>1091: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeGjerdeEnumerationType nvdb:TypeGjerdeOtherType"/>
  </simpleType>
  <simpleType name="TypeGjerdeEnumerationType">
    <annotation>
      <documentation>1091: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="flettverk_Plastbelagt">
        <annotation>
          <documentation>2406: Flettverk, plastbelagt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="flettverk_Stålflettverksgjerde">
        <annotation>
          <documentation>3253: Flettverk, stålflettverksgjerde</documentation>
        </annotation>
      </enumeration>
      <enumeration value="flettverk_StorrutetGjerde">
        <annotation>
          <documentation>3255: Flettverk, storrutet gjerde</documentation>
        </annotation>
      </enumeration>
      <enumeration value="flettverk_Kraftig">
        <annotation>
          <documentation>10776: Ekstra kraftig flettverk-gjerde oftest benyttet i forbindelse med rassikring.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tregjerde">
        <annotation>
          <documentation>2407: Tregjerde</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tregjerde_Åpent">
        <annotation>
          <documentation>3257: Tregjerde, åpent</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tregjerde_Tett">
        <annotation>
          <documentation>3259: Tregjerde, tett</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stålRørgjerde">
        <annotation>
          <documentation>3364: Stål/rørgjerde</documentation>
        </annotation>
      </enumeration>
      <enumeration value="aluminiumsgjerde">
        <annotation>
          <documentation>3853: Aluminiumsgjerde</documentation>
        </annotation>
      </enumeration>
      <enumeration value="herdetGlass">
        <annotation>
          <documentation>17441: Herdet glass</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pleksiglass">
        <annotation>
          <documentation>17442: Pleksiglass</documentation>
        </annotation>
      </enumeration>
      <enumeration value="steingjerde">
        <annotation>
          <documentation>2405: Steingjerde</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kjettinggjerde">
        <annotation>
          <documentation>19495: Kjettinggjerde</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeGjerdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeStolpeType">
    <annotation>
      <documentation>2105: Angir hvilken type stolper gjerdet har</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeStolpeEnumerationType nvdb:TypeStolpeOtherType"/>
  </simpleType>
  <simpleType name="TypeStolpeEnumerationType">
    <annotation>
      <documentation>2105: Angir hvilken type stolper gjerdet har</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="metall_Aluminium">
        <annotation>
          <documentation>2253: Metall, aluminium</documentation>
        </annotation>
      </enumeration>
      <enumeration value="metall_Stål">
        <annotation>
          <documentation>2243: Metall, stål</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tre">
        <annotation>
          <documentation>2196: Tre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plast">
        <annotation>
          <documentation>2275: Plast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>17440: Betong</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeStolpeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGjerdeType">
    <annotation>
      <documentation>5801: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligGjerdeEnumerationType nvdb:VedlikeholdsansvarligGjerdeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGjerdeEnumerationType">
    <annotation>
      <documentation>5801: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>8196: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18734: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19910: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18863: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>8222: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>8248: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17689: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGjerdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
