GML/7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>7: Gjerde er frittstående hinder som skal stenge/lede ferdsel av folk eller dyr.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeGjerdeType">
      <annotation>
         <documentation>1249: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1249</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeGjerdeEnumerationType nvdb:BruksområdeGjerdeOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeGjerdeEnumerationType">
      <annotation>
         <documentation>1249: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1249</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="BG">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9294</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Blendingsgjerde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="e">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2403</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Eiendom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2404</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gelender</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3788</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Miljøgjerde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9295</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sikringsgjerde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2401</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikk-/ledegjerde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2402</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vilt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeGjerdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierGjerdeType">
      <annotation>
         <documentation>5813: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5813</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierGjerdeEnumerationType nvdb:EierGjerdeOtherType"/>
   </simpleType>
   <simpleType name="EierGjerdeEnumerationType">
      <annotation>
         <documentation>5813: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5813</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10700</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8234</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8260</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18590</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8208</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17598</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierGjerdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Gjerde"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:GjerdeType">
      <annotation>
         <documentation>7: Gjerde er frittstående hinder som skal stenge/lede ferdsel av folk eller dyr.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjerde</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="GjerdeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeGjerdeType">
                  <annotation>
                     <documentation>1249: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1249</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeGjerdeType">
                  <annotation>
                     <documentation>1091: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1091</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="typeStolpe">
                  <annotation>
                     <documentation>2105: Angir hvilken type stolper gjerdet har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2105</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type stolpe</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>1575: Angir gjennomsnittlig egenhøyde for hele vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1575</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>1300: Angir eksakt lengde av gjerde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1300</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="overflatebehandling"
                        type="nvdb:OverflatebehandlingGjerdeType">
                  <annotation>
                     <documentation>1601: Angir hvordan vegobjektet er overflatebehandla.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1601</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="RAL_Kode" type="string">
                  <annotation>
                     <documentation>12838: Angir lakkfargekode for gjerde. Bare aktuelt for lakkerte gjerder.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12838</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">RAL-kode</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10301: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10301</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11546: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11546</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11031: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11031</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12266: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12266</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="FKB_ID" type="string">
                  <annotation>
                     <documentation>10861: Refererer til FKB-identitet. Benyttes i forbindelse med felles forvaltning av geometri.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10861</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">FKB_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierGjerdeType">
                  <annotation>
                     <documentation>5813: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5813</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligGjerdeType">
                  <annotation>
                     <documentation>5801: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5801</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4716: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4716</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lydtett" type="nvdb:LydtettGjerdeType">
                  <annotation>
                     <documentation>2042: Angir om vegobjektet er lydtett, har betydning for støyutbredelse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2042</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lydtett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="GjerdePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Gjerde"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="LydtettGjerdeType">
      <annotation>
         <documentation>2042: Angir om vegobjektet er lydtett, har betydning for støyutbredelse.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2042</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lydtett</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LydtettGjerdeEnumerationType nvdb:LydtettGjerdeOtherType"/>
   </simpleType>
   <simpleType name="LydtettGjerdeEnumerationType">
      <annotation>
         <documentation>2042: Angir om vegobjektet er lydtett, har betydning for støyutbredelse.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2042</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lydtett</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3542</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3580</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LydtettGjerdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingGjerdeType">
      <annotation>
         <documentation>1601: Angir hvordan vegobjektet er overflatebehandla.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1601</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OverflatebehandlingGjerdeEnumerationType nvdb:OverflatebehandlingGjerdeOtherType"/>
   </simpleType>
   <simpleType name="OverflatebehandlingGjerdeEnumerationType">
      <annotation>
         <documentation>1601: Angir hvordan vegobjektet er overflatebehandla.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1601</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2160</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Beiset</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17392</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Galvanisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="im">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2166</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Impregnert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19466</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2178</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lakkert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2153</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Malt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="o">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2172</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oljet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingGjerdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeGjerdeType">
      <annotation>
         <documentation>1091: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1091</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeGjerdeEnumerationType nvdb:TypeGjerdeOtherType"/>
   </simpleType>
   <simpleType name="TypeGjerdeEnumerationType">
      <annotation>
         <documentation>1091: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1091</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ag">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3853</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aluminiumsgjerde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10776</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flettverk, kraftig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2406</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flettverk, plastbelagt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3255</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flettverk, storrutet gjerde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3253</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flettverk, stålflettverksgjerde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="HG">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17441</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Herdet glass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kjettinggjerde">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19495</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjettinggjerde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="PG">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17442</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pleksiglass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2405</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Steingjerde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3364</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål/rørgjerde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2407</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tregjerde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3259</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tregjerde, tett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tå">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3257</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tregjerde, åpent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeGjerdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeStolpeGjerdeType">
      <annotation>
         <documentation>2105: Angir hvilken type stolper gjerdet har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2105</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type stolpe</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeStolpeGjerdeEnumerationType nvdb:TypeStolpeGjerdeOtherType"/>
   </simpleType>
   <simpleType name="TypeStolpeGjerdeEnumerationType">
      <annotation>
         <documentation>2105: Angir hvilken type stolper gjerdet har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2105</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type stolpe</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17440</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="al">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2253</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, aluminium</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ms">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2243</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2275</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2196</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeStolpeGjerdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligGjerdeType">
      <annotation>
         <documentation>5801: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5801</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligGjerdeEnumerationType nvdb:VedlikeholdsansvarligGjerdeOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligGjerdeEnumerationType">
      <annotation>
         <documentation>5801: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5801</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19910</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8222</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18734</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18863</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8248</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8196</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17689</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligGjerdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
