GML/70.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>70: Konstruksjon i tunnel for sikring mot vann og frost.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BrannfarligVann- og frostsikringType">
      <annotation>
         <documentation>3510: Angir om tunnelhvelv er brannfarlig eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3510</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brannfarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BrannfarligVann- og frostsikringEnumerationType nvdb:BrannfarligVann- og frostsikringOtherType"/>
   </simpleType>
   <simpleType name="BrannfarligVann- og frostsikringEnumerationType">
      <annotation>
         <documentation>3510: Angir om tunnelhvelv er brannfarlig eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3510</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brannfarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4706</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4707</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BrannfarligVann- og frostsikringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="HvelvisolasjonVann- og frostsikringType">
      <annotation>
         <documentation>9331: Angir om hvelv er isolert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9331</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hvelvisolasjon</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:HvelvisolasjonVann- og frostsikringEnumerationType nvdb:HvelvisolasjonVann- og frostsikringOtherType"/>
   </simpleType>
   <simpleType name="HvelvisolasjonVann- og frostsikringEnumerationType">
      <annotation>
         <documentation>9331: Angir om hvelv er isolert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9331</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hvelvisolasjon</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13017</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Isolert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13018</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uisolert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="HvelvisolasjonVann- og frostsikringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Sprøytebetong_HarLettilslagVann- og frostsikringType">
      <annotation>
         <documentation>9170: Angir om det er det er lettilslag i sprøytebetong (f.eks. cafco).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9170</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprøytebetong, har lettilslag</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Sprøytebetong_HarLettilslagVann- og frostsikringEnumerationType nvdb:Sprøytebetong_HarLettilslagVann- og frostsikringOtherType"/>
   </simpleType>
   <simpleType name="Sprøytebetong_HarLettilslagVann- og frostsikringEnumerationType">
      <annotation>
         <documentation>9170: Angir om det er det er lettilslag i sprøytebetong (f.eks. cafco).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9170</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprøytebetong, har lettilslag</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12262</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12263</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Sprøytebetong_HarLettilslagVann- og frostsikringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Sprøytebetong_HarMikrofiberVann- og frostsikringType">
      <annotation>
         <documentation>9169: Angir om det er mikrofiber i sprøytebetong (brannsikring).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9169</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprøytebetong, har mikrofiber</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Sprøytebetong_HarMikrofiberVann- og frostsikringEnumerationType nvdb:Sprøytebetong_HarMikrofiberVann- og frostsikringOtherType"/>
   </simpleType>
   <simpleType name="Sprøytebetong_HarMikrofiberVann- og frostsikringEnumerationType">
      <annotation>
         <documentation>9169: Angir om det er mikrofiber i sprøytebetong (brannsikring).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9169</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprøytebetong, har mikrofiber</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12260</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12261</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Sprøytebetong_HarMikrofiberVann- og frostsikringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Sprøytebetong_TykkelseVann- og frostsikringType">
      <annotation>
         <documentation>9171: Angir gjennomsnittlig tykkelse av sprøytebetong.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9171</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprøytebetong, tykkelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Sprøytebetong_TykkelseVann- og frostsikringEnumerationType nvdb:Sprøytebetong_TykkelseVann- og frostsikringOtherType"/>
   </simpleType>
   <simpleType name="Sprøytebetong_TykkelseVann- og frostsikringEnumerationType">
      <annotation>
         <documentation>9171: Angir gjennomsnittlig tykkelse av sprøytebetong.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9171</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprøytebetong, tykkelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12264</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2 cm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12265</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6 cm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12266</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8 cm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Sprøytebetong_TykkelseVann- og frostsikringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeVann- og frostsikringType">
      <annotation>
         <documentation>1132: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1132</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeVann- og frostsikringEnumerationType nvdb:TypeVann- og frostsikringOtherType"/>
   </simpleType>
   <simpleType name="TypeVann- og frostsikringEnumerationType">
      <annotation>
         <documentation>1132: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1132</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3428</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongelementer i vegger og tak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bsb2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12271</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongelementer i vegger, sprøytebetong på knølmontert PE-skum i tak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bsb1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12270</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongelementer i vegger, sprøytebetong på PE-skum i tak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bsk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12272</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongelementer i vegger, stålkassetter i tak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="btd">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12273</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongelementer i vegger, tunnelduk i tak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lbe">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12274</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lettbetongelementer i vegger og tak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ka">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12277</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lette konstruksjoner, kassetthvelv</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ko">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12276</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lette konstruksjoner, kompositthvelv</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pa">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3426</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lette konstruksjoner, platehvelv, aluminium</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ps">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3427</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lette konstruksjoner, platehvelv, stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pe">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12281</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">PE-skum, utildekket</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12282</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Platetak, metall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sb3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12280</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sprøytebetong, fiberarmert på knølmontert PE-skum</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sb1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12279</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sprøytebetonghvelv, nettarmert på membran</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sb2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12278</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sprøytebetonghvelv, nettarmert på PE-skum</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="td">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3425</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnelduk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeVann- og frostsikringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vann- og frostsikring"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Vann- og frostsikringType">
      <annotation>
         <documentation>70: Konstruksjon i tunnel for sikring mot vann og frost.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">70</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vann- og frostsikring</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Vann- og frostsikringType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeVann- og frostsikringType">
                  <annotation>
                     <documentation>1132: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1132</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="integer">
                  <annotation>
                     <documentation>9307: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9307</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>7543: Angir lengde av vann-/frostsikring.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7543</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gjennomsnittligElementlengde" type="integer">
                  <annotation>
                     <documentation>3729: Angir normal lengde på elementene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3729</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjennomsnittlig elementlengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallElement" type="integer">
                  <annotation>
                     <documentation>1644: Angir hvor mange enkeltelement en konstruksjon er satt sammen av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1644</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall element</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tykkelse" type="integer">
                  <annotation>
                     <documentation>1619: Angir total tykkelse av hvelvkonstruksjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1619</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tykkelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="hvelvisolasjon"
                        type="nvdb:HvelvisolasjonVann- og frostsikringType">
                  <annotation>
                     <documentation>9331: Angir om hvelv er isolert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9331</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Hvelvisolasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sprøytebetong_HarMikrofiber">
                  <annotation>
                     <documentation>9169: Angir om det er mikrofiber i sprøytebetong (brannsikring).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9169</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sprøytebetong, har mikrofiber</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sprøytebetong_HarLettilslag">
                  <annotation>
                     <documentation>9170: Angir om det er det er lettilslag i sprøytebetong (f.eks. cafco).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9170</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sprøytebetong, har lettilslag</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sprøytebetong_Tykkelse">
                  <annotation>
                     <documentation>9171: Angir gjennomsnittlig tykkelse av sprøytebetong.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9171</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sprøytebetong, tykkelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="dokumentasjonBrannfarlighet" type="string">
                  <annotation>
                     <documentation>3515: Gir referanse til dokumentasjon om brannfarlighet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3515</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dokumentasjon brannfarlighet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="brannfarlig"
                        type="nvdb:BrannfarligVann- og frostsikringType">
                  <annotation>
                     <documentation>3510: Angir om tunnelhvelv er brannfarlig eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3510</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Brannfarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10391: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10391</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>9172: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9172</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11062: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11062</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12301: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12301</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4772: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4772</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Vann- og frostsikringPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vann- og frostsikring"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
