GML/70.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BrannfarligType">
    <annotation>
      <documentation>3510: Angir om tunnelhvelv er brannfarlig eller ikke</documentation>
    </annotation>
    <union memberTypes="nvdb:BrannfarligEnumerationType nvdb:BrannfarligOtherType"/>
  </simpleType>
  <simpleType name="BrannfarligEnumerationType">
    <annotation>
      <documentation>3510: Angir om tunnelhvelv er brannfarlig eller ikke</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4706: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4707: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BrannfarligOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HvelvisolasjonType">
    <annotation>
      <documentation>9331: Angir om hvelv er isolert</documentation>
    </annotation>
    <union memberTypes="nvdb:HvelvisolasjonEnumerationType nvdb:HvelvisolasjonOtherType"/>
  </simpleType>
  <simpleType name="HvelvisolasjonEnumerationType">
    <annotation>
      <documentation>9331: Angir om hvelv er isolert</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="isolert">
        <annotation>
          <documentation>13017: Isolert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uisolert">
        <annotation>
          <documentation>13018: Uisolert</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HvelvisolasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Sprøytebetong_HarLettilslagType">
    <annotation>
      <documentation>9170: Angir om det er det er lettilslag i sprøytebetong (f.eks cafco)</documentation>
    </annotation>
    <union memberTypes="nvdb:Sprøytebetong_HarLettilslagEnumerationType nvdb:Sprøytebetong_HarLettilslagOtherType"/>
  </simpleType>
  <simpleType name="Sprøytebetong_HarLettilslagEnumerationType">
    <annotation>
      <documentation>9170: Angir om det er det er lettilslag i sprøytebetong (f.eks cafco)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>12262: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>12263: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Sprøytebetong_HarLettilslagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Sprøytebetong_HarMikrofiberType">
    <annotation>
      <documentation>9169: Angir om det er mikrofiber i sprøytebetong (brannsikring)</documentation>
    </annotation>
    <union memberTypes="nvdb:Sprøytebetong_HarMikrofiberEnumerationType nvdb:Sprøytebetong_HarMikrofiberOtherType"/>
  </simpleType>
  <simpleType name="Sprøytebetong_HarMikrofiberEnumerationType">
    <annotation>
      <documentation>9169: Angir om det er mikrofiber i sprøytebetong (brannsikring)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>12260: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>12261: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Sprøytebetong_HarMikrofiberOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Sprøytebetong_TykkelseType">
    <annotation>
      <documentation>9171: Angir gjennomsnittlig tykkelse av sprøytebetong</documentation>
    </annotation>
    <union memberTypes="nvdb:Sprøytebetong_TykkelseEnumerationType nvdb:Sprøytebetong_TykkelseOtherType"/>
  </simpleType>
  <simpleType name="Sprøytebetong_TykkelseEnumerationType">
    <annotation>
      <documentation>9171: Angir gjennomsnittlig tykkelse av sprøytebetong</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="2Cm">
        <annotation>
          <documentation>12264: 2 cm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6Cm">
        <annotation>
          <documentation>12265: 6 cm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8Cm">
        <annotation>
          <documentation>12266: 8 cm</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Sprøytebetong_TykkelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVannOgFrostsikringType">
    <annotation>
      <documentation>1132: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeVannOgFrostsikringEnumerationType nvdb:TypeVannOgFrostsikringOtherType"/>
  </simpleType>
  <simpleType name="TypeVannOgFrostsikringEnumerationType">
    <annotation>
      <documentation>1132: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="betongelementerIVeggerOgTak">
        <annotation>
          <documentation>3428: Betongelementer i vegger og tak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongelementerIVegger_SprøytebetongPåPE_SkumITak">
        <annotation>
          <documentation>12270: Betongelementer i vegger, sprøytebetong på PE-skum i tak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongelementerIVegger_SprøytebetongPåKnølmontertPE_SkumITak">
        <annotation>
          <documentation>12271: Betongelementer i vegger, sprøytebetong på knølmontert PE-skum i tak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongelementerIVegger_StålkassetterITak">
        <annotation>
          <documentation>12272: Betongelementer i vegger, stålkassetter i tak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongelementerIVegger_TunneldukITak">
        <annotation>
          <documentation>12273: Betongelementer i vegger, tunnelduk i tak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lettbetongelementerIVeggerOgTak">
        <annotation>
          <documentation>12274: Lettbetongelementer i vegger og tak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="letteKonstruksjoner_Platehvelv_Aluminium">
        <annotation>
          <documentation>3426: Lette konstruksjoner, platehvelv, aluminium</documentation>
        </annotation>
      </enumeration>
      <enumeration value="letteKonstruksjoner_Platehvelv_Stål">
        <annotation>
          <documentation>3427: Lette konstruksjoner, platehvelv, stål</documentation>
        </annotation>
      </enumeration>
      <enumeration value="letteKonstruksjoner_Kompositthvelv">
        <annotation>
          <documentation>12276: Lette konstruksjoner, kompositthvelv</documentation>
        </annotation>
      </enumeration>
      <enumeration value="letteKonstruksjoner_Kassetthvelv">
        <annotation>
          <documentation>12277: Lette konstruksjoner, kassetthvelv</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sprøytebetonghvelv_NettarmertPå_Mm_Ran">
        <annotation>
          <documentation>12279: Sprøytebetonghvelv, nettarmert på membran</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sprøytebetonghvelv_NettarmertPåPE_Skum">
        <annotation>
          <documentation>12278: Sprøytebetonghvelv, nettarmert på PE-skum</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sprøytebetong_FiberarmertPåKnølmontertPE_Skum">
        <annotation>
          <documentation>12280: Sprøytebetong, fiberarmert på knølmontert PE-skum</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PE_Skum_Utildekket">
        <annotation>
          <documentation>12281: PE-skum, utildekket</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tunnelduk">
        <annotation>
          <documentation>3425: Tunnelduk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="platetak_Metall">
        <annotation>
          <documentation>12282: Platetak, metall</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVannOgFrostsikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="VannOgFrostsikring" substitutionGroup="nvdb:AbstraktVannOgFrostsikring" type="nvdb:VannOgFrostsikringType">
    <annotation>
      <documentation>70: Konstruksjon i tunnel for sikring mot vann og frost.</documentation>
    </annotation>
  </element>
  <complexType name="VannOgFrostsikringType">
    <complexContent>
      <extension base="nvdb:AbstraktVannOgFrostsikringType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeVannOgFrostsikringType">
            <annotation>
              <documentation>1132: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>9307: Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>7543: Angir lengde av vann-/frostsikring
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gjennomsnittligElementlengde" type="integer">
            <annotation>
              <documentation>3729: Angir normal lengde på elementene
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallElement" type="integer">
            <annotation>
              <documentation>1644: Angir hvor mange enkeltelement en konstruksjon er satt sammen av
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tykkelse" type="integer">
            <annotation>
              <documentation>1619: Angir total tykkelse av hvelvkonstruksjon
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="hvelvisolasjon" type="nvdb:HvelvisolasjonType">
            <annotation>
              <documentation>9331: Angir om hvelv er isolert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sprøytebetong_HarMikrofiber" type="nvdb:Sprøytebetong_HarMikrofiberType">
            <annotation>
              <documentation>9169: Angir om det er mikrofiber i sprøytebetong (brannsikring)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sprøytebetong_HarLettilslag" type="nvdb:Sprøytebetong_HarLettilslagType">
            <annotation>
              <documentation>9170: Angir om det er det er lettilslag i sprøytebetong (f.eks cafco)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sprøytebetong_Tykkelse" type="nvdb:Sprøytebetong_TykkelseType">
            <annotation>
              <documentation>9171: Angir gjennomsnittlig tykkelse av sprøytebetong</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dokumentasjonBrannfarlighet" type="string">
            <annotation>
              <documentation>3515: Gir referanse til dokumentasjon om brannfarlighet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="brannfarlig" type="nvdb:BrannfarligType">
            <annotation>
              <documentation>3510: Angir om tunnelhvelv er brannfarlig eller ikke</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10391: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9172: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11062: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4772: Gir koordinatsett for å avgrense vegobjektets utstrekning. Vegobjektet representeres med vegnettsgeometri på strekning mellom startpunkt og sluttpunkt. Eventuelt mellomliggende punkt benyttes for å sikre at riktig veglinje benyttes for hele strekningen</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="nvdb:AbstraktTunnelløpPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertTunnelløpUtenTrafikk" type="nvdb:AbstraktTunnelløpUtenTrafikkPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="nvdb:AbstraktTilstandSkade_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Strekning" type="nvdb:AbstraktTilstandSkadeFU_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertMembran" type="nvdb:AbstraktMembranPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VannOgFrostsikringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:VannOgFrostsikring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
