GML/704.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.23">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="FellesruteType">
    <annotation>
      <documentation>6834: Angir om ruta er primær eller sekundær på strekninger der det er to felles ruter.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6834</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6834</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fellesrute</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FellesruteEnumerationType nvdb:FellesruteOtherType"/>
  </simpleType>
  <simpleType name="FellesruteEnumerationType">
    <annotation>
      <documentation>6834: Angir om ruta er primær eller sekundær på strekninger der det er to felles ruter.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6834</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6834</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fellesrute</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Primær">
        <annotation>
          <documentation>8861: Primær</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8861</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Primær</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sekundær">
        <annotation>
          <documentation>8862: Sekundær</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8862</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sekundær</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FellesruteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PeriodeType">
    <annotation>
      <documentation>6835: Angir periode</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6835</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6835</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Periode</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PeriodeEnumerationType nvdb:PeriodeOtherType"/>
  </simpleType>
  <simpleType name="PeriodeEnumerationType">
    <annotation>
      <documentation>6835: Angir periode</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6835</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6835</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Periode</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="2006-2009">
        <annotation>
          <documentation>8863: 2006-2009</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8863</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">2006-2009</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2010-2019">
        <annotation>
          <documentation>8864: 2010-2019</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8864</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">2010-2019</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2014-2023 / 2018-2029">
        <annotation>
          <documentation>16131: 2014-2023 / 2018-2029</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16131</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">2014-2023 / 2018-2029</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PeriodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Riksvegrute" substitutionGroup="nvdb:AbstraktRiksvegrute" type="nvdb:RiksvegruteType">
    <annotation>
      <documentation>704: Riksveger inndelt i ruter som i hovedsak benyttes i arbeidet med riksvegutredninger og NTP.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">704</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">704</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Riksvegrute</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="RiksvegruteType">
    <complexContent>
      <extension base="nvdb:AbstraktRiksvegruteType">
        <sequence>
          <element minOccurs="0" name="periode" type="nvdb:PeriodeType">
            <annotation>
              <documentation>6835: Angir periode</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6835</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Periode</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="riksvegrute" type="nvdb:RiksvegruteRiksvegruteType">
            <annotation>
              <documentation>11953: Angir nummer og navn på riksvegrute.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11953</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Riksvegrute</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nummer" type="string">
            <annotation>
              <documentation>6827: Angir nr på stamvegrute</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6827</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nummer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>6822: Gir navn til Stamvegstrekning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6822</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Navn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6828</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Beskrivelse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fellesrute" type="nvdb:FellesruteType">
            <annotation>
              <documentation>6834: Angir om ruta er primær eller sekundær på strekninger der det er to felles ruter.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6834</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fellesrute</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RiksvegrutePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Riksvegrute"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="RiksvegruteRiksvegruteType">
    <annotation>
      <documentation>11953: Angir nummer og navn på riksvegrute.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11953</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11953</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Riksvegrute</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RiksvegruteRiksvegruteEnumerationType nvdb:RiksvegruteRiksvegruteOtherType"/>
  </simpleType>
  <simpleType name="RiksvegruteRiksvegruteEnumerationType">
    <annotation>
      <documentation>11953: Angir nummer og navn på riksvegrute.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11953</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11953</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Riksvegrute</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Rute 1: E6 Riksgrensen/Svinesund - Oslo">
        <annotation>
          <documentation>20286: Rute 1: E6 Riksgrensen/Svinesund - Oslo</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20286</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 1: E6 Riksgrensen/Svinesund - Oslo</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 2a: E18 Riksgrensen/Ørje - Oslo">
        <annotation>
          <documentation>20287: Rute 2a: E18 Riksgrensen/Ørje - Oslo</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20287</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 2a: E18 Riksgrensen/Ørje - Oslo</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 2b: E16 Riksgrensen - Hønefoss og Rv35 Hønefoss - Hokksund">
        <annotation>
          <documentation>20288: Rute 2b: E16 Riksgrensen/Riksåsen – Hønefoss og rv 35 Hønefoss – Hokksund med tilknytninger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20288</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 2b: E16 Riksgrensen - Hønefoss og Rv35 Hønefoss - Hokksund</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 3: E18 Oslo - Kristiansand  - Stavanger">
        <annotation>
          <documentation>20289: Rute 3: E18 Oslo - Kristiansand  - Stavanger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20289</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 3: E18 Oslo - Kristiansand  - Stavanger</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 4a: E39 Stavanger - Bergen - Ålesund">
        <annotation>
          <documentation>20290: Rute 4a: E39 Stavanger - Bergen - Ålesund</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20290</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 4a: E39 Stavanger - Bergen - Ålesund</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 4b: E39 Ålesund - Trondheim">
        <annotation>
          <documentation>20291: Rute 4b: E39 Ålesund - Trondheim</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20291</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 4b: E39 Ålesund - Trondheim</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 4c: Rv 9 Kristiansand - Haukeligrend og Rv 13/55 Jøsendal - Sogndal">
        <annotation>
          <documentation>20292: Rute 4c: Rv 9 Kristiansand - Haukeligrend og Rv 13/55 Jøsendal - Sogndal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20292</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 4c: Rv 9 Kristiansand - Haukeligrend og Rv 13/55 Jøsendal - Sogndal</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 5a: E134 Drammen - Haugesund">
        <annotation>
          <documentation>20293: Rute 5a: E134 Drammen - Haugesund</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20293</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 5a: E134 Drammen - Haugesund</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 5b: Rv 7 Hønefoss - Bu og Rv52 Gol - Borlaug">
        <annotation>
          <documentation>20294: Rute 5b: Rv 7 Hønefoss - Bu og Rv52 Gol - Borlaug</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20294</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 5b: Rv 7 Hønefoss - Bu og Rv52 Gol - Borlaug</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 5c: E16 Sandvika - Bergen">
        <annotation>
          <documentation>20295: Rute 5c: E16 Sandvika - Bergen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20295</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 5c: E16 Sandvika - Bergen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 6a: E6 Oslo - Trondheim">
        <annotation>
          <documentation>20296: Rute 6a: E6 Oslo - Trondheim</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20296</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 6a: E6 Oslo - Trondheim</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 6b: Rv3 Kolomoen - Ulsberg">
        <annotation>
          <documentation>20297: Rute 6b: Rv3 Kolomoen - Ulsberg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20297</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 6b: Rv3 Kolomoen - Ulsberg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 6c: Rv15 Otta - Måløy">
        <annotation>
          <documentation>20298: Rute 6c: Rv15 Otta - Måløy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20298</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 6c: Rv15 Otta - Måløy</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 6d: E136 Dombås - Ålesund">
        <annotation>
          <documentation>20299: Rute 6d: E136 Dombås - Ålesund</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20299</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 6d: E136 Dombås - Ålesund</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 6e: Rv70 Oppdal - Kristiansund">
        <annotation>
          <documentation>20300: Rute 6e: Rv70 Oppdal - Kristiansund</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20300</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 6e: Rv70 Oppdal - Kristiansund</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 7: E6 Trondheim - Fauske">
        <annotation>
          <documentation>20301: Rute 7: E6 Trondheim - Fauske</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20301</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 7: E6 Trondheim - Fauske</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 8a: E6 Fauske - Nordkjosbotn">
        <annotation>
          <documentation>20302: Rute 8a: E6 Fauske - Nordkjosbotn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20302</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 8a: E6 Fauske - Nordkjosbotn</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 8b: E6 Nordkjosbotn - Kirkenes">
        <annotation>
          <documentation>20303: Rute 8b: E6 Nordkjosbotn - Kirkenes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20303</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rute 8b: E6 Nordkjosbotn - Kirkenes</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RiksvegruteRiksvegruteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
