GML/705.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>705: Fastlagt rute for sykling. Status som nasjonal sykkelrute for tur/fritidssykling.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EuroVeloSykkelruteSykkelrute, nasjonalType">
      <annotation>
         <documentation>10422: Angir nummer/navn på EuroVelosykkelrute.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10422</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">EuroVelo sykkelrute</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EuroVeloSykkelruteSykkelrute, nasjonalEnumerationType nvdb:EuroVeloSykkelruteSykkelrute, nasjonalOtherType"/>
   </simpleType>
   <simpleType name="EuroVeloSykkelruteSykkelrute, nasjonalEnumerationType">
      <annotation>
         <documentation>10422: Angir nummer/navn på EuroVelosykkelrute.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10422</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">EuroVelo sykkelrute</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="EV1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16839</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1 - Atlantic Coast Route</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="EV11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16842</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11 - East Europe Route</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="EV12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16843</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12 - North Sea Cycle Route</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="EV13">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21737</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">13 - Iron Curtain Trail</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="EV3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16840</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3 - Pilgrims Route</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="EV7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16841</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7 - Sun Route</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EuroVeloSykkelruteSykkelrute, nasjonalOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="NasjonalSykkelruteSykkelrute, nasjonalType">
      <annotation>
         <documentation>10421: Angir nummer/navn på nasjonal sykkelrute.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10421</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nasjonal sykkelrute</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NasjonalSykkelruteSykkelrute, nasjonalEnumerationType nvdb:NasjonalSykkelruteSykkelrute, nasjonalOtherType"/>
   </simpleType>
   <simpleType name="NasjonalSykkelruteSykkelrute, nasjonalEnumerationType">
      <annotation>
         <documentation>10421: Angir nummer/navn på nasjonal sykkelrute.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10421</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nasjonal sykkelrute</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="N1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16822</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1 - Kystruta</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16831</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10 - Nordkapp - Lindesnes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16823</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2 - Kanalruta</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16824</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3 - Fjord og fjell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16825</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4 - Rallarvegen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16826</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5 - Numedalsruta</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16827</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6 - Sognefjellsvegen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16828</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7 - Pilegrimsruta</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16829</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8 - Finnmarksruta</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N9">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16830</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9 - Villmarksruta</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NasjonalSykkelruteSykkelrute, nasjonalOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RiksvegruteSykkelrute, nasjonalType">
      <annotation>
         <documentation>12847: Angir nummer og navn på riksvegrute.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12847</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Riksvegrute</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RiksvegruteSykkelrute, nasjonalEnumerationType nvdb:RiksvegruteSykkelrute, nasjonalOtherType"/>
   </simpleType>
   <simpleType name="RiksvegruteSykkelrute, nasjonalEnumerationType">
      <annotation>
         <documentation>12847: Angir nummer og navn på riksvegrute.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12847</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Riksvegrute</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22268</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 1: E6 Riksgrensen/Svinesund - Oslo</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22269</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 2a: E18 Riksgrensen/Ørje - Oslo</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2b">
            <annotation>
               <documentation>22285: Rute 2b: E16 Riksgrensen/Riksåsen – Hønefoss og rv 35 Hønefoss – Hokksund med tilknytninger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22285</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 2b: E16 Riksgrensen - Hønefoss og Rv35 Hønefoss - Hokksund</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22270</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 3: E18 Oslo - Kristiansand - Stavanger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22271</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 4a: E39 Stavanger - Bergen - Ålesund</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22272</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 4b: E39 Ålesund - Trondheim</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4c">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22273</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 4c: Rv 9 Kristiansand - Haukeligrend og Rv 13/55 Jøsendal - Sogndal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22274</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 5a: E134 Drammen - Haugesund</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22275</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 5b: Rv 7 Hønefoss - Bu og Rv52 Gol - Borlaug</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5c">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22276</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 5c: E16 Sandvika - Bergen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22277</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 6a: E6 Oslo - Trondheim</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22278</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 6b: Rv3 Kolomoen - Ulsberg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6c">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22279</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 6c: Rv15 Otta - Måløy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6d">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22280</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 6d: E136 Dombås - Ålesund</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6e">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22281</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 6e: Rv70 Oppdal - Kristiansund</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22282</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 7: E6 Trondheim - Fauske</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22283</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 8a: E6 Fauske - Nordkjosbotn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22284</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rute 8b: E6 Nordkjosbotn - Kirkenes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RiksvegruteSykkelrute, nasjonalOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SkiltetSykkelrute, nasjonalType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10423</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkiltetSykkelrute, nasjonalEnumerationType nvdb:SkiltetSykkelrute, nasjonalOtherType"/>
   </simpleType>
   <simpleType name="SkiltetSykkelrute, nasjonalEnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10423</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="D">
            <annotation>
               <documentation>16834: Rute er noe sporadisk skiltet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16834</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Delvis</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16832</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16833</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkiltetSykkelrute, nasjonalOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Sykkelrute, nasjonal"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Sykkelrute, nasjonalType">
      <annotation>
         <documentation>705: Fastlagt rute for sykling. Status som nasjonal sykkelrute for tur/fritidssykling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">705</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelrute, nasjonal</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Sykkelrute, nasjonalType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="nasjonalSykkelrute">
                  <annotation>
                     <documentation>10421: Angir nummer/navn på nasjonal sykkelrute.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10421</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nasjonal sykkelrute</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="euroVeloSykkelrute">
                  <annotation>
                     <documentation>10422: Angir nummer/navn på EuroVelosykkelrute.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10422</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">EuroVelo sykkelrute</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="riksvegrute"
                        type="nvdb:RiksvegruteSykkelrute, nasjonalType">
                  <annotation>
                     <documentation>12847: Angir nummer og navn på riksvegrute.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12847</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Riksvegrute</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="beskrivelse" type="string">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6826</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="skiltet" type="nvdb:SkiltetSykkelrute, nasjonalType">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10423</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skiltet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kvalitetssikretDato" type="date">
                  <annotation>
                     <documentation>10931: Dato informasjon sist var kvalitetssikret.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10931</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kvalitetssikret dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kvalitetssikretAv" type="string">
                  <annotation>
                     <documentation>10932: Angir hvem som utførte siste kvalitetssikring.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10932</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kvalitetssikret av</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>6897: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6897</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Sykkelrute, nasjonalPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Sykkelrute, nasjonal"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
