GML/705.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.25">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EuroVeloSykkelruteType">
    <annotation>
      <documentation>10422: Angir nummer/navn på EuroVelosykkelrute</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10422</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10422</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">EuroVelo sykkelrute</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EuroVeloSykkelruteEnumerationType nvdb:EuroVeloSykkelruteOtherType"/>
  </simpleType>
  <simpleType name="EuroVeloSykkelruteEnumerationType">
    <annotation>
      <documentation>10422: Angir nummer/navn på EuroVelosykkelrute</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10422</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10422</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">EuroVelo sykkelrute</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1 - Atlantic Coast Route">
        <annotation>
          <documentation>16839: 1 - Atlantic Coast Route</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16839</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">1 - Atlantic Coast Route</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3 - Pilgrims Route">
        <annotation>
          <documentation>16840: 3 - Pilgrims Route</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16840</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">3 - Pilgrims Route</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="7 - Sun Route">
        <annotation>
          <documentation>16841: 7 - Sun Route</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16841</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">7 - Sun Route</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="11 - East Europe Route">
        <annotation>
          <documentation>16842: 11 - East Europe Route</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16842</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">11 - East Europe Route</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="12 - North Sea Cycle Route">
        <annotation>
          <documentation>16843: 12 - North Sea Cycle Route</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16843</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">12 - North Sea Cycle Route</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EuroVeloSykkelruteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KategoriType">
    <annotation>
      <documentation>10251: Angir hvilken hovedkategori sykkelruta tilhører.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10251</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10251</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kategori</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KategoriEnumerationType nvdb:KategoriOtherType"/>
  </simpleType>
  <simpleType name="KategoriEnumerationType">
    <annotation>
      <documentation>10251: Angir hvilken hovedkategori sykkelruta tilhører.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10251</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10251</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kategori</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Nasjonal/europeisk sykkelrute">
        <annotation>
          <documentation>16741: Sykkelrute som betegnes som offisiell nasjonal og eller europeisk sykkelrute</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16741</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nasjonal/europeisk sykkelrute</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Regional sykkelrute">
        <annotation>
          <documentation>16742: Sykkelruter innenfor fylke/region</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16742</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Regional sykkelrute</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lokal sykkelrute">
        <annotation>
          <documentation>16743: Sykkelrute innenfor avgrenset geografisk område, ofte innenfor en eller et fåtall kommuner. Kan være både transportsykkelruter og tur-/turistsykkelruter både i byer, tettsteder og landlige omgivelser.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16743</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lokal sykkelrute</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NasjonalSykkelruteType">
    <annotation>
      <documentation>10421: Angir nummer/navn på nasjonal sykkelrute</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10421</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10421</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nasjonal sykkelrute</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NasjonalSykkelruteEnumerationType nvdb:NasjonalSykkelruteOtherType"/>
  </simpleType>
  <simpleType name="NasjonalSykkelruteEnumerationType">
    <annotation>
      <documentation>10421: Angir nummer/navn på nasjonal sykkelrute</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10421</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10421</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nasjonal sykkelrute</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1 - Kystruta">
        <annotation>
          <documentation>16822: 1 - Kystruta</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16822</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">1 - Kystruta</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2 - Kanalruta">
        <annotation>
          <documentation>16823: 2 - Kanalruta</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16823</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">2 - Kanalruta</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3 - Fjord og fjell">
        <annotation>
          <documentation>16824: 3 - Fjord og fjell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16824</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">3 - Fjord og fjell</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4 - Rallarvegen">
        <annotation>
          <documentation>16825: 4 - Rallarvegen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16825</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">4 - Rallarvegen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5 - Numedalsruta">
        <annotation>
          <documentation>16826: 5 - Numedalsruta</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16826</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">5 - Numedalsruta</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6 - Sognefjellsvegen">
        <annotation>
          <documentation>16827: 6 - Sognefjellsvegen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16827</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">6 - Sognefjellsvegen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="7 - Pilegrimsruta">
        <annotation>
          <documentation>16828: 7 - Pilegrimsruta</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16828</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">7 - Pilegrimsruta</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8 - Trollheimen">
        <annotation>
          <documentation>16829: 8 - Trollheimen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16829</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">8 - Trollheimen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9 - Villmarksruta">
        <annotation>
          <documentation>16830: 9 - Villmarksruta</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16830</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">9 - Villmarksruta</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10 - Nordkapp - Lindesnes">
        <annotation>
          <documentation>16831: 10 - Nordkapp - Lindesnes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16831</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">10 - Nordkapp - Lindesnes</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NasjonalSykkelruteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkiltetSykkelrute_TurFritidType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10423</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10423</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skiltet</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkiltetSykkelrute_TurFritidEnumerationType nvdb:SkiltetSykkelrute_TurFritidOtherType"/>
  </simpleType>
  <simpleType name="SkiltetSykkelrute_TurFritidEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10423</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10423</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skiltet</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16832: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16832</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16833: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16833</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Delvis">
        <annotation>
          <documentation>16834: Rute er noe sporadisk skiltet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16834</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Delvis</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkiltetSykkelrute_TurFritidOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Sykkelrute_TurFritid" substitutionGroup="nvdb:AbstraktSykkelrute_TurFritid" type="nvdb:Sykkelrute_TurFritidType">
    <annotation>
      <documentation>705: Fastlagt rute for sykling, primært for tur/fritidssykling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">705</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">705</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sykkelrute, tur/fritid</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Sykkelrute_TurFritidType">
    <complexContent>
      <extension base="nvdb:AbstraktSykkelrute_TurFritidType">
        <sequence>
          <element minOccurs="0" name="kategori" type="nvdb:KategoriType">
            <annotation>
              <documentation>10251: Angir hvilken hovedkategori sykkelruta tilhører.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10251</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kategori</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>6824: Gir navn til Sykkelvegrute</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6824</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Navn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nummer" type="string">
            <annotation>
              <documentation>6825: Angir nummer på sykkelrute</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6825</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nummer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6826</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Beskrivelse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nasjonalSykkelrute" type="nvdb:NasjonalSykkelruteType">
            <annotation>
              <documentation>10421: Angir nummer/navn på nasjonal sykkelrute</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10421</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nasjonal sykkelrute</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="euroVeloSykkelrute" type="nvdb:EuroVeloSykkelruteType">
            <annotation>
              <documentation>10422: Angir nummer/navn på EuroVelosykkelrute</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10422</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">EuroVelo sykkelrute</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skiltet" type="nvdb:SkiltetSykkelrute_TurFritidType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10423</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skiltet</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitetssikretDato" type="date">
            <annotation>
              <documentation>10931: Dato informajson sist var kvalitetssikret</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10931</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kvalitetssikret dato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitetssikretAv" type="string">
            <annotation>
              <documentation>10932: Angir hvem som utførte siste kvalitetsskring</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10932</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kvalitetssikret av</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6897: Gir koordinatsett for å avgrense vegobjektets utstrekning. Vegobjektet representeres med vegnettsgeometri på strekning mellom startpunkt og sluttpunkt. Eventuelt mellomliggende punkt benyttes for å sikre at riktig veglinje benyttes for hele strekningen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6897</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, linje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Sykkelrute_TurFritidPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Sykkelrute_TurFritid"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
