GML/705.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EuroVeloSykkelruteType">
    <annotation>
      <documentation>10422: Angir nummer/navn på EuroVelosykkelrute.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10422</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10422</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">EuroVelo sykkelrute</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EuroVeloSykkelruteEnumerationType nvdb:EuroVeloSykkelruteOtherType"/>
  </simpleType>
  <simpleType name="EuroVeloSykkelruteEnumerationType">
    <annotation>
      <documentation>10422: Angir nummer/navn på EuroVelosykkelrute.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10422</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10422</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">EuroVelo sykkelrute</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1 - Atlantic Coast Route">
        <annotation>
          <documentation>16839: 1 - Atlantic Coast Route</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16839</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1 - Atlantic Coast Route</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3 - Pilgrims Route">
        <annotation>
          <documentation>16840: 3 - Pilgrims Route</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16840</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3 - Pilgrims Route</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="7 - Sun Route">
        <annotation>
          <documentation>16841: 7 - Sun Route</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16841</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">7 - Sun Route</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="11 - East Europe Route">
        <annotation>
          <documentation>16842: 11 - East Europe Route</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16842</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">11 - East Europe Route</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="12 - North Sea Cycle Route">
        <annotation>
          <documentation>16843: 12 - North Sea Cycle Route</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16843</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">12 - North Sea Cycle Route</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="13 - Iron Curtain Trail">
        <annotation>
          <documentation>21737: 13 - Iron Curtain Trail</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21737</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">13 - Iron Curtain Trail</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EuroVeloSykkelruteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NasjonalSykkelruteType">
    <annotation>
      <documentation>10421: Angir nummer/navn på nasjonal sykkelrute.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10421</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10421</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Nasjonal sykkelrute</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NasjonalSykkelruteEnumerationType nvdb:NasjonalSykkelruteOtherType"/>
  </simpleType>
  <simpleType name="NasjonalSykkelruteEnumerationType">
    <annotation>
      <documentation>10421: Angir nummer/navn på nasjonal sykkelrute.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10421</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10421</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Nasjonal sykkelrute</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1 - Kystruta">
        <annotation>
          <documentation>16822: 1 - Kystruta</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16822</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1 - Kystruta</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2 - Kanalruta">
        <annotation>
          <documentation>16823: 2 - Kanalruta</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16823</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2 - Kanalruta</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3 - Fjord og fjell">
        <annotation>
          <documentation>16824: 3 - Fjord og fjell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16824</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3 - Fjord og fjell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4 - Rallarvegen">
        <annotation>
          <documentation>16825: 4 - Rallarvegen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16825</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">4 - Rallarvegen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5 - Numedalsruta">
        <annotation>
          <documentation>16826: 5 - Numedalsruta</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16826</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">5 - Numedalsruta</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6 - Sognefjellsvegen">
        <annotation>
          <documentation>16827: 6 - Sognefjellsvegen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16827</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">6 - Sognefjellsvegen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="7 - Pilegrimsruta">
        <annotation>
          <documentation>16828: 7 - Pilegrimsruta</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16828</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">7 - Pilegrimsruta</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8 - Trollheimen">
        <annotation>
          <documentation>16829: 8 - Trollheimen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16829</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8 - Trollheimen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9 - Villmarksruta">
        <annotation>
          <documentation>16830: 9 - Villmarksruta</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16830</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9 - Villmarksruta</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10 - Nordkapp - Lindesnes">
        <annotation>
          <documentation>16831: 10 - Nordkapp - Lindesnes</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16831</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">10 - Nordkapp - Lindesnes</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NasjonalSykkelruteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkiltetSykkelrute_TurFritidType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10423</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10423</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skiltet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkiltetSykkelrute_TurFritidEnumerationType nvdb:SkiltetSykkelrute_TurFritidOtherType"/>
  </simpleType>
  <simpleType name="SkiltetSykkelrute_TurFritidEnumerationType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10423</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10423</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skiltet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16832: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16832</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16833: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16833</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Delvis">
        <annotation>
          <documentation>16834: Rute er noe sporadisk skiltet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16834</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Delvis</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkiltetSykkelrute_TurFritidOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Sykkelrute_TurFritid" substitutionGroup="nvdb:AbstraktSykkelrute_TurFritid" type="nvdb:Sykkelrute_TurFritidType">
    <annotation>
      <documentation>705: Fastlagt rute for sykling, primært for tur/fritidssykling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">705</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">705</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sykkelrute, tur/fritid</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Sykkelrute_TurFritidType">
    <complexContent>
      <extension base="nvdb:AbstraktSykkelrute_TurFritidType">
        <sequence>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6826</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nasjonalSykkelrute" type="nvdb:NasjonalSykkelruteType">
            <annotation>
              <documentation>10421: Angir nummer/navn på nasjonal sykkelrute.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10421</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Nasjonal sykkelrute</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="euroVeloSykkelrute" type="nvdb:EuroVeloSykkelruteType">
            <annotation>
              <documentation>10422: Angir nummer/navn på EuroVelosykkelrute.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10422</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">EuroVelo sykkelrute</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skiltet" type="nvdb:SkiltetSykkelrute_TurFritidType">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10423</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skiltet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitetssikretDato" type="date">
            <annotation>
              <documentation>10931: Dato informasjon sist var kvalitetssikret.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10931</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kvalitetssikret dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitetssikretAv" type="string">
            <annotation>
              <documentation>10932: Angir hvem som utførte siste kvalitetssikring.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10932</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kvalitetssikret av</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6897: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6897</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Sykkelrute_TurFritidPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Sykkelrute_TurFritid"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
