GML/705.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EuroVeloSykkelruteType">
    <annotation>
      <documentation>10422: Angir nummer/navn på EuroVelosykkelrute</documentation>
    </annotation>
    <union memberTypes="nvdb:EuroVeloSykkelruteEnumerationType nvdb:EuroVeloSykkelruteOtherType"/>
  </simpleType>
  <simpleType name="EuroVeloSykkelruteEnumerationType">
    <annotation>
      <documentation>10422: Angir nummer/navn på EuroVelosykkelrute</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1_AtlanticCoastRoute">
        <annotation>
          <documentation>16839: 1 - Atlantic Coast Route</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3_PilgrimsRoute">
        <annotation>
          <documentation>16840: 3 - Pilgrims Route</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7_SunRoute">
        <annotation>
          <documentation>16841: 7 - Sun Route</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11_EastEuropeRoute">
        <annotation>
          <documentation>16842: 11 - East Europe Route</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12_NorthSeaCycleRoute">
        <annotation>
          <documentation>16843: 12 - North Sea Cycle Route</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EuroVeloSykkelruteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KategoriType">
    <annotation>
      <documentation>10251: Angir hvilken hovedkategori sykkelruta tilhører.</documentation>
    </annotation>
    <union memberTypes="nvdb:KategoriEnumerationType nvdb:KategoriOtherType"/>
  </simpleType>
  <simpleType name="KategoriEnumerationType">
    <annotation>
      <documentation>10251: Angir hvilken hovedkategori sykkelruta tilhører.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="nasjonalEuropeiskSykkelrute">
        <annotation>
          <documentation>16741: Sykkelrute som betegnes som offisiell nasjonal og eller europeisk sykkelrute</documentation>
        </annotation>
      </enumeration>
      <enumeration value="regionalSykkelrute">
        <annotation>
          <documentation>16742: Sykkelruter innenfor fylke/region</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lokalSykkelrute">
        <annotation>
          <documentation>16743: Sykkelrute innenfor avgrenset geografisk område, ofte innenfor en eller et fåtall kommuner. Kan være både transportsykkelruter og tur-/turistsykkelruter både i byer, tettsteder og landlige omgivelser.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NasjonalSykkelruteType">
    <annotation>
      <documentation>10421: Angir nummer/navn på nasjonal sykkelrute</documentation>
    </annotation>
    <union memberTypes="nvdb:NasjonalSykkelruteEnumerationType nvdb:NasjonalSykkelruteOtherType"/>
  </simpleType>
  <simpleType name="NasjonalSykkelruteEnumerationType">
    <annotation>
      <documentation>10421: Angir nummer/navn på nasjonal sykkelrute</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1_Kystruta">
        <annotation>
          <documentation>16822: 1 - Kystruta</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2_Kanalruta">
        <annotation>
          <documentation>16823: 2 - Kanalruta</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3_FjordOgFjell">
        <annotation>
          <documentation>16824: 3 - Fjord og fjell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4_Rallarvegen">
        <annotation>
          <documentation>16825: 4 - Rallarvegen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5_Numedalsruta">
        <annotation>
          <documentation>16826: 5 - Numedalsruta</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6_Sognefjellsvegen">
        <annotation>
          <documentation>16827: 6 - Sognefjellsvegen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7_Pilegrimsruta">
        <annotation>
          <documentation>16828: 7 - Pilegrimsruta</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8_Trollheimen">
        <annotation>
          <documentation>16829: 8 - Trollheimen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9_Villmarksruta">
        <annotation>
          <documentation>16830: 9 - Villmarksruta</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10_Nordkapp_Lindesnes">
        <annotation>
          <documentation>16831: 10 - Nordkapp - Lindesnes</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NasjonalSykkelruteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkiltetSykkelrute_TurFritidType">
    <union memberTypes="nvdb:SkiltetSykkelrute_TurFritidEnumerationType nvdb:SkiltetSykkelrute_TurFritidOtherType"/>
  </simpleType>
  <simpleType name="SkiltetSykkelrute_TurFritidEnumerationType">
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16832: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16833: Nei</documentation>
        </annotation>
      </enumeration>
      <enumeration value="delvis">
        <annotation>
          <documentation>16834: Rute er noe sporadisk skiltet</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkiltetSykkelrute_TurFritidOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Sykkelrute_TurFritid" substitutionGroup="nvdb:AbstraktSykkelrute_TurFritid" type="nvdb:Sykkelrute_TurFritidType">
    <annotation>
      <documentation>705: Fastlagt rute for sykling, primært for tur/fritidssykling</documentation>
    </annotation>
  </element>
  <complexType name="Sykkelrute_TurFritidType">
    <complexContent>
      <extension base="nvdb:AbstraktSykkelrute_TurFritidType">
        <sequence>
          <element minOccurs="0" name="kategori" type="nvdb:KategoriType">
            <annotation>
              <documentation>10251: Angir hvilken hovedkategori sykkelruta tilhører.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>6824: Gir navn til Sykkelvegrute</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nummer" type="string">
            <annotation>
              <documentation>6825: Angir nummer på sykkelrute</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string"/>
          <element minOccurs="0" name="nasjonalSykkelrute" type="nvdb:NasjonalSykkelruteType">
            <annotation>
              <documentation>10421: Angir nummer/navn på nasjonal sykkelrute</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="euroVeloSykkelrute" type="nvdb:EuroVeloSykkelruteType">
            <annotation>
              <documentation>10422: Angir nummer/navn på EuroVelosykkelrute</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skiltet" type="nvdb:SkiltetSykkelrute_TurFritidType"/>
          <element minOccurs="0" name="kvalitetssikretDato" type="date">
            <annotation>
              <documentation>10931: Dato informajson sist var kvalitetssikret</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitetssikretAv" type="string">
            <annotation>
              <documentation>10932: Angir hvem som utførte siste kvalitetsskring</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6897: Gir koordinatsett for å avgrense vegobjektets utstrekning. Vegobjektet representeres med vegnettsgeometri på strekning mellom startpunkt og sluttpunkt. Eventuelt mellomliggende punkt benyttes for å sikre at riktig veglinje benyttes for hele strekningen</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Sykkelrute_TurFritidPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Sykkelrute_TurFritid"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
