GML/707.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GeografiskOmrådeType">
    <annotation>
      <documentation>6845: Angir hvilket område indeksen gjelder for</documentation>
    </annotation>
    <union memberTypes="nvdb:GeografiskOmrådeEnumerationType nvdb:GeografiskOmrådeOtherType"/>
  </simpleType>
  <simpleType name="GeografiskOmrådeEnumerationType">
    <annotation>
      <documentation>6845: Angir hvilket område indeksen gjelder for</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="heleLandet">
        <annotation>
          <documentation>9034: Hele landet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="østlandet">
        <annotation>
          <documentation>9035: Landsdel Østlandet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sørlandet">
        <annotation>
          <documentation>9036: Landsdel Sørlandet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vestlandet">
        <annotation>
          <documentation>9037: Landsdel Vestlandet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="midtnorge">
        <annotation>
          <documentation>9051: Landsdel Midtnorge</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nord_Norge">
        <annotation>
          <documentation>9052: Landsdel Nord-Norge</documentation>
        </annotation>
      </enumeration>
      <enumeration value="regionØst">
        <annotation>
          <documentation>9053: Statens vegvesen region Øst</documentation>
        </annotation>
      </enumeration>
      <enumeration value="regionSør">
        <annotation>
          <documentation>9054: Statens vegvesen region Sør</documentation>
        </annotation>
      </enumeration>
      <enumeration value="østfold">
        <annotation>
          <documentation>9058: Østfold Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="akershus">
        <annotation>
          <documentation>9059: Akershus Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oslo">
        <annotation>
          <documentation>9060: Oslo</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hedmark">
        <annotation>
          <documentation>9061: Hedmark Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oppland">
        <annotation>
          <documentation>9062: Oppland Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="buskerud">
        <annotation>
          <documentation>9063: Buskerud Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vestfold">
        <annotation>
          <documentation>9064: Vestfold Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="telemark">
        <annotation>
          <documentation>9065: Telemark Fylke                             </documentation>
        </annotation>
      </enumeration>
      <enumeration value="aust_Agder">
        <annotation>
          <documentation>9066: Aust-Agder Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vest_Agder">
        <annotation>
          <documentation>9067: Vest-Agder Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rogaland">
        <annotation>
          <documentation>9068: Rogaland Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hordaland">
        <annotation>
          <documentation>9069: Hordaland Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sognOgFjordane">
        <annotation>
          <documentation>9070: Sogn og Fjordane Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="møreOgRomsdal">
        <annotation>
          <documentation>9071: Møre og Romsdal Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sør_Trøndelag">
        <annotation>
          <documentation>9072: Sør-Trøndelag Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nord_Trøndelag">
        <annotation>
          <documentation>9073: Nord-Trøndelag Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nordland">
        <annotation>
          <documentation>9074: Nordland Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="troms">
        <annotation>
          <documentation>9075: Troms Fylke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="finnmark">
        <annotation>
          <documentation>9076: Finnmark Fylke</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GeografiskOmrådeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KjøretøytypeType">
    <annotation>
      <documentation>6849: Angir kjøretøytype for indeksen</documentation>
    </annotation>
    <union memberTypes="nvdb:KjøretøytypeEnumerationType nvdb:KjøretøytypeOtherType"/>
  </simpleType>
  <simpleType name="KjøretøytypeEnumerationType">
    <annotation>
      <documentation>6849: Angir kjøretøytype for indeksen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="alle">
        <annotation>
          <documentation>9042: Alle</documentation>
        </annotation>
      </enumeration>
      <enumeration value="korte">
        <annotation>
          <documentation>9043: Korte</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lange">
        <annotation>
          <documentation>9044: Lange</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KjøretøytypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TidsoppløsningType">
    <annotation>
      <documentation>6847: Angir tidsoppløsning for indeksen</documentation>
    </annotation>
    <union memberTypes="nvdb:TidsoppløsningEnumerationType nvdb:TidsoppløsningOtherType"/>
  </simpleType>
  <simpleType name="TidsoppløsningEnumerationType">
    <annotation>
      <documentation>6847: Angir tidsoppløsning for indeksen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="år">
        <annotation>
          <documentation>9038: År</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hittilIÅr">
        <annotation>
          <documentation>9040: Hittil i år</documentation>
        </annotation>
      </enumeration>
      <enumeration value="måned">
        <annotation>
          <documentation>9039: Måned</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12SisteMåneder">
        <annotation>
          <documentation>9041: 12 siste måneder</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TidsoppløsningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkindeks" substitutionGroup="nvdb:AbstraktTrafikkindeks" type="nvdb:TrafikkindeksType"/>
  <complexType name="TrafikkindeksType">
    <complexContent>
      <extension base="nvdb:AbstraktTrafikkindeksType">
        <sequence>
          <element minOccurs="0" name="indeksår" type="integer">
            <annotation>
              <documentation>6844: År indeksen gjelder for.  Indeksen regnes alltid mellom dette år og foregående år</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="geografiskOmråde" type="nvdb:GeografiskOmrådeType">
            <annotation>
              <documentation>6845: Angir hvilket område indeksen gjelder for</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsoppløsning" type="nvdb:TidsoppløsningType">
            <annotation>
              <documentation>6847: Angir tidsoppløsning for indeksen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsperiode" type="integer">
            <annotation>
              <documentation>6848: Angir tidsperiode for indeksen.  F.eks årstall 2004, 2005, 1 for januar, 2 for februar, osv</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kjøretøytype" type="nvdb:KjøretøytypeType">
            <annotation>
              <documentation>6849: Angir kjøretøytype for indeksen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="indeks_AlleDøgn" type="double">
            <annotation>
              <documentation>6850: Indeks hvor alle døgn er inkludert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="indeks_Yrkesdøgn" type="double">
            <annotation>
              <documentation>6851: Indeks for yrkesdøgn, mandag - fredag</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="indeks_Helgedøgn" type="double">
            <annotation>
              <documentation>6852: Indeks for helgedøgn, lørdag + søndag + "røde" dager</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>6863: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkindeksPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkindeks"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
