GML/707.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.25">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GeografiskOmrådeType">
    <annotation>
      <documentation>6845: Angir hvilket område indeksen gjelder for</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6845</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6845</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geografisk område</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GeografiskOmrådeEnumerationType nvdb:GeografiskOmrådeOtherType"/>
  </simpleType>
  <simpleType name="GeografiskOmrådeEnumerationType">
    <annotation>
      <documentation>6845: Angir hvilket område indeksen gjelder for</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6845</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6845</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geografisk område</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hele landet">
        <annotation>
          <documentation>9034: Hele landet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9034</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hele landet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Østlandet">
        <annotation>
          <documentation>9035: Landsdel Østlandet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9035</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Østlandet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sørlandet">
        <annotation>
          <documentation>9036: Landsdel Sørlandet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9036</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sørlandet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vestlandet">
        <annotation>
          <documentation>9037: Landsdel Vestlandet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9037</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vestlandet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Midtnorge">
        <annotation>
          <documentation>9051: Landsdel Midtnorge</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9051</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Midtnorge</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nord-Norge">
        <annotation>
          <documentation>9052: Landsdel Nord-Norge</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9052</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nord-Norge</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Region Øst">
        <annotation>
          <documentation>9053: Statens vegvesen region Øst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9053</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Region Øst</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Region Sør">
        <annotation>
          <documentation>9054: Statens vegvesen region Sør</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9054</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Region Sør</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Østfold">
        <annotation>
          <documentation>9058: Østfold Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9058</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Østfold</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Akershus">
        <annotation>
          <documentation>9059: Akershus Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9059</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Akershus</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oslo">
        <annotation>
          <documentation>9060: Oslo</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9060</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oslo</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hedmark">
        <annotation>
          <documentation>9061: Hedmark Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9061</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hedmark</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oppland">
        <annotation>
          <documentation>9062: Oppland Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9062</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppland</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Buskerud">
        <annotation>
          <documentation>9063: Buskerud Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9063</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Buskerud</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vestfold">
        <annotation>
          <documentation>9064: Vestfold Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9064</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vestfold</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Telemark">
        <annotation>
          <documentation>9065: Telemark Fylke                             </documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9065</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Telemark</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Aust-Agder">
        <annotation>
          <documentation>9066: Aust-Agder Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9066</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Aust-Agder</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vest-Agder">
        <annotation>
          <documentation>9067: Vest-Agder Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9067</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vest-Agder</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rogaland">
        <annotation>
          <documentation>9068: Rogaland Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9068</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rogaland</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hordaland">
        <annotation>
          <documentation>9069: Hordaland Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9069</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hordaland</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sogn og Fjordane">
        <annotation>
          <documentation>9070: Sogn og Fjordane Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9070</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sogn og Fjordane</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Møre og Romsdal">
        <annotation>
          <documentation>9071: Møre og Romsdal Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9071</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Møre og Romsdal</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sør-Trøndelag">
        <annotation>
          <documentation>9072: Sør-Trøndelag Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9072</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sør-Trøndelag</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nord-Trøndelag">
        <annotation>
          <documentation>9073: Nord-Trøndelag Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9073</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nord-Trøndelag</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nordland">
        <annotation>
          <documentation>9074: Nordland Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9074</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nordland</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Troms">
        <annotation>
          <documentation>9075: Troms Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9075</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Troms</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Finnmark">
        <annotation>
          <documentation>9076: Finnmark Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9076</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Finnmark</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GeografiskOmrådeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KjøretøytypeType">
    <annotation>
      <documentation>6849: Angir kjøretøytype for indeksen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6849</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6849</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjøretøytype</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KjøretøytypeEnumerationType nvdb:KjøretøytypeOtherType"/>
  </simpleType>
  <simpleType name="KjøretøytypeEnumerationType">
    <annotation>
      <documentation>6849: Angir kjøretøytype for indeksen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6849</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6849</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjøretøytype</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Alle">
        <annotation>
          <documentation>9042: Alle</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9042</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alle</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Korte">
        <annotation>
          <documentation>9043: Korte</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9043</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Korte</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lange">
        <annotation>
          <documentation>9044: Lange</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9044</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lange</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KjøretøytypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TidsoppløsningType">
    <annotation>
      <documentation>6847: Angir tidsoppløsning for indeksen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6847</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6847</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tidsoppløsning</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TidsoppløsningEnumerationType nvdb:TidsoppløsningOtherType"/>
  </simpleType>
  <simpleType name="TidsoppløsningEnumerationType">
    <annotation>
      <documentation>6847: Angir tidsoppløsning for indeksen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6847</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6847</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tidsoppløsning</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="År">
        <annotation>
          <documentation>9038: År</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9038</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">År</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hittil i år">
        <annotation>
          <documentation>9040: Hittil i år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9040</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hittil i år</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Måned">
        <annotation>
          <documentation>9039: Måned</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9039</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måned</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="12 siste måneder">
        <annotation>
          <documentation>9041: 12 siste måneder</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9041</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">12 siste måneder</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TidsoppløsningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkindeks" substitutionGroup="nvdb:AbstraktTrafikkindeks" type="nvdb:TrafikkindeksType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">707</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">707</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trafikkindeks</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkindeksType">
    <complexContent>
      <extension base="nvdb:AbstraktTrafikkindeksType">
        <sequence>
          <element minOccurs="0" name="indeksår" type="integer">
            <annotation>
              <documentation>6844: År indeksen gjelder for.  Indeksen regnes alltid mellom dette år og foregående år</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6844</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Indeksår</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geografiskOmråde" type="nvdb:GeografiskOmrådeType">
            <annotation>
              <documentation>6845: Angir hvilket område indeksen gjelder for</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6845</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geografisk område</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsoppløsning" type="nvdb:TidsoppløsningType">
            <annotation>
              <documentation>6847: Angir tidsoppløsning for indeksen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6847</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tidsoppløsning</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsperiode" type="integer">
            <annotation>
              <documentation>6848: Angir tidsperiode for indeksen.  F.eks årstall 2004, 2005, 1 for januar, 2 for februar, osv</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6848</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tidsperiode</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjøretøytype" type="nvdb:KjøretøytypeType">
            <annotation>
              <documentation>6849: Angir kjøretøytype for indeksen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6849</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjøretøytype</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="indeks_AlleDøgn" type="double">
            <annotation>
              <documentation>6850: Indeks hvor alle døgn er inkludert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6850</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Indeks, alle døgn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="indeks_Yrkesdøgn" type="double">
            <annotation>
              <documentation>6851: Indeks for yrkesdøgn, mandag - fredag</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6851</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Indeks, yrkesdøgn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="indeks_Helgedøgn" type="double">
            <annotation>
              <documentation>6852: Indeks for helgedøgn, lørdag + søndag + "røde" dager</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6852</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Indeks, helgedøgn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>6863: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6863</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, flate</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkindeksPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkindeks"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
