GML/708.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="LengdeklasseTrafikkdata i tellepunktType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6857</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lengdeklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LengdeklasseTrafikkdata i tellepunktEnumerationType nvdb:LengdeklasseTrafikkdata i tellepunktOtherType"/>
   </simpleType>
   <simpleType name="LengdeklasseTrafikkdata i tellepunktEnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6857</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lengdeklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="24">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9049</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12,5 - 15,9 meter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="22">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9047</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5,6 - 7,5 meter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="23">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9048</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7,6 - 12,4 meter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="20">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9045</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Alle kjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="21">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9046</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kortere enn 5,6 meter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9967</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lange kjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="25">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9050</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lengre enn 15,9 meter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LengdeklasseTrafikkdata i tellepunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Trafikkdata i tellepunkt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Trafikkdata i tellepunktType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">708</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkdata i tellepunkt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Trafikkdata i tellepunktType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="tellepunktnummer" type="integer">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6854</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tellepunktnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="årstall" type="integer">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6855</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Årstall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kjørefelt" type="string">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6856</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kjørefelt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="lengdeklasse"
                        type="nvdb:LengdeklasseTrafikkdata i tellepunktType">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6857</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengdeklasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="ÅDT_AndelLangeKjøretøy" type="double">
                  <annotation>
                     <documentation>6858: Angir hvor stor andel (i prosent) av kjøretøyene som er definert som lange. Kjøretøy med lengde større eller lik 5,6 meter defineres som lange kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6858</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ÅDT, andel lange kjøretøy</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="ÅDT" type="integer">
                  <annotation>
                     <documentation>6859: Årsdøgntrafikk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6859</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ÅDT</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="SDT" type="integer">
                  <annotation>
                     <documentation>6860: Sommerdøgntrafikk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6860</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">SDT</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="YDT" type="integer">
                  <annotation>
                     <documentation>6861: Yrkesdøgntrafikk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6861</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">YDT</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="HDT" type="integer">
                  <annotation>
                     <documentation>6862: Helgedøgntrafikk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6862</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">HDT</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="usikkerhetÅDT" type="double">
                  <annotation>
                     <documentation>7572: Relativ usikkerhet (i %) for årsdøgntrafikk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7572</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Usikkerhet ÅDT</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="usikkerhetSDT" type="double">
                  <annotation>
                     <documentation>7573: Relativ usikkerhet (i %) for sommerdøgntrafikken.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7573</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Usikkerhet SDT</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="usikkerhetYDT" type="double">
                  <annotation>
                     <documentation>7574: Relativ usikkerhet (i %) for yrkesdøgntrafikken.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7574</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Usikkerhet YDT</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="usikkerhetHDT" type="double">
                  <annotation>
                     <documentation>7575: Relativ usikkerhet (i %) for helgedøgntrafikken.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7575</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Usikkerhet HDT</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>6883: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6883</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Trafikkdata i tellepunktPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trafikkdata i tellepunkt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
