GML/71.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>71: Utstøping i tunnel for sikring mot utrasing.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="ArmeringBetongutstøpingType">
      <annotation>
         <documentation>9168: Angir om det er armering, og i tilfelle hvilken type.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9168</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Armering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ArmeringBetongutstøpingEnumerationType nvdb:ArmeringBetongutstøpingOtherType"/>
   </simpleType>
   <simpleType name="ArmeringBetongutstøpingEnumerationType">
      <annotation>
         <documentation>9168: Angir om det er armering, og i tilfelle hvilken type.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9168</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Armering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="d">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12258</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dobbel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="e">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12257</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enkel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ia">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12259</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen armering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ArmeringBetongutstøpingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Betongutstøping"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:BetongutstøpingType">
      <annotation>
         <documentation>71: Utstøping i tunnel for sikring mot utrasing.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">71</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongutstøping</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BetongutstøpingType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>1318: Angir lengde av vegobjektet, er normalt avledet fra geometri/stedfesting.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1318</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tykkelse" type="double">
                  <annotation>
                     <documentation>1620: Angir standard tykkelse av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1620</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tykkelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="armering"
                        type="nvdb:ArmeringBetongutstøpingType">
                  <annotation>
                     <documentation>9168: Angir om det er armering, og i tilfelle hvilken type.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9168</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Armering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="membran" type="nvdb:MembranBetongutstøpingType">
                  <annotation>
                     <documentation>1996: Angir hvilken type membran/drenering det er bak utstøping.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1996</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Membran</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="nvdb:PosisjonBetongutstøpingType">
                  <annotation>
                     <documentation>1650: Angir posisjon til vegobjektet i samleobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1650</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Posisjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10269: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10269</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11571: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11571</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11063: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11063</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12302: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12302</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4773: Gir Linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4773</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BetongutstøpingPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Betongutstøping"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MembranBetongutstøpingType">
      <annotation>
         <documentation>1996: Angir hvilken type membran/drenering det er bak utstøping.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1996</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Membran</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MembranBetongutstøpingEnumerationType nvdb:MembranBetongutstøpingOtherType"/>
   </simpleType>
   <simpleType name="MembranBetongutstøpingEnumerationType">
      <annotation>
         <documentation>1996: Angir hvilken type membran/drenering det er bak utstøping.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1996</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Membran</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3429</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltmembran</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="f">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3430</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Foliemembran</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="i">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3431</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke membran</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MembranBetongutstøpingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PosisjonBetongutstøpingType">
      <annotation>
         <documentation>1650: Angir posisjon til vegobjektet i samleobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1650</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Posisjon</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PosisjonBetongutstøpingEnumerationType nvdb:PosisjonBetongutstøpingOtherType"/>
   </simpleType>
   <simpleType name="PosisjonBetongutstøpingEnumerationType">
      <annotation>
         <documentation>1650: Angir posisjon til vegobjektet i samleobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1650</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Posisjon</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3294</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hele profilet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3296</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Himling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3302</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Såle</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PosisjonBetongutstøpingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
