GML/716.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>716: Et punkt på vegen som er særlig ulykkesutsatt. En strekning på 100 meter som har 4 eller flere ulykker med personskade innenfor et tidsrom på 5 år.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Ulykkespunkt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:UlykkespunktType">
      <annotation>
         <documentation>716: Et punkt på vegen som er særlig ulykkesutsatt. En strekning på 100 meter som har 4 eller flere ulykker med personskade innenfor et tidsrom på 5 år.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">716</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ulykkespunkt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="UlykkespunktType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="fomUlykkesdato" type="date">
                  <annotation>
                     <documentation>6956: Beregningsgrunnlaget - fom. Dato.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6956</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fom. ulykkesdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tomUlykkesdato" type="date">
                  <annotation>
                     <documentation>6957: Beregningsgrunnlaget - tom. dato.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6957</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tom. ulykkesdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kravTilAntallUlykker" type="integer">
                  <annotation>
                     <documentation>6958: Beregningsgrunnlaget - krav til antall ulykker. Vanligvis 4.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6958</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Krav til antall ulykker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengdeUlykkespunkt" type="integer">
                  <annotation>
                     <documentation>6959: Lengde ulykkespunkt i meter. Vanligvis 100 meter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6959</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde ulykkespunkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallUlykker" type="integer">
                  <annotation>
                     <documentation>6962: Antall ulykker på strekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6962</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall ulykker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallDrepte" type="integer">
                  <annotation>
                     <documentation>6963: Antall drepte.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6963</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall drepte</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallMegetAlvorligSkadde" type="integer">
                  <annotation>
                     <documentation>6964: Antall meget alvorlig skadde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6964</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall meget alvorlig skadde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallAlvorligSkadde" type="integer">
                  <annotation>
                     <documentation>6965: Antall alvorlig skadde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6965</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall alvorlig skadde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallLettereSkadde" type="integer">
                  <annotation>
                     <documentation>6966: Antall lettere skadde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6966</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall lettere skadde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="UlykkespunktPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Ulykkespunkt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
