GML/716.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Ulykkespunkt" substitutionGroup="nvdb:AbstraktUlykkespunkt" type="nvdb:UlykkespunktType">
    <annotation>
      <documentation>716: Et punkt på vegen som er særlig ulykkesutsatt. En strekning på 100 meter som har 4 eller flere ulykker med personskade innenfor et tidsrom på 5 år.</documentation>
    </annotation>
  </element>
  <complexType name="UlykkespunktType">
    <complexContent>
      <extension base="nvdb:AbstraktUlykkespunktType">
        <sequence>
          <element minOccurs="0" name="fomUlykkesdato" type="date">
            <annotation>
              <documentation>6956: Beregningsgrunnlaget - fom. dato</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tomUlykkesdato" type="date">
            <annotation>
              <documentation>6957: Beregningsgrunnlaget - tom. dato</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kravTilAntallUlykker" type="integer">
            <annotation>
              <documentation>6958: Beregningsgrunnlaget - krav til antall ulykker. Vanligvis 4.
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeUlykkespunkt" type="integer">
            <annotation>
              <documentation>6959: Lengde ulykkespunkt i meter.  Vanligvis 100 meter.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallUlykker" type="integer">
            <annotation>
              <documentation>6962: Antall ulykker på strekningen
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallDrepte" type="integer">
            <annotation>
              <documentation>6963: Antall drepte
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallMegetAlvorligSkadde" type="integer">
            <annotation>
              <documentation>6964: Antall meget alvorlig skadde
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallAlvorligSkadde" type="integer">
            <annotation>
              <documentation>6965: Antall alvorlig skadde
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLettereSkadde" type="integer">
            <annotation>
              <documentation>6966: Antall lettere skadde
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrafikkulykke" type="nvdb:AbstraktTrafikkulykkePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UlykkespunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Ulykkespunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
