GML/717.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Ulykkesstrekning" substitutionGroup="nvdb:AbstraktUlykkesstrekning" type="nvdb:UlykkesstrekningType">
    <annotation>
      <documentation>717: En strekning på vegen som er særlig ulykkesbelastet. En strekning på 1000 meter som har 10 eller flere ulykker med personskade innenfor et tidsrom på 5 år.</documentation>
    </annotation>
  </element>
  <complexType name="UlykkesstrekningType">
    <complexContent>
      <extension base="nvdb:AbstraktUlykkesstrekningType">
        <sequence>
          <element minOccurs="0" name="fomUlykkesdato" type="date">
            <annotation>
              <documentation>6968: Beregningsgrunnlaget - fom. dato</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tomUlykkesdato" type="date">
            <annotation>
              <documentation>6969: Beregningsgrunnlaget - tom. dato</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kravTilAntallUlykker" type="integer">
            <annotation>
              <documentation>6970: Beregningsgrunnlaget – krav til antall ulykker. Vanligvis 10.
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeUlykkesstrekning" type="integer">
            <annotation>
              <documentation>6971: Lengde ulykkesstrekning.  Vanligvis 1000 meter.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallUlykker" type="integer">
            <annotation>
              <documentation>6974: Antall ulykker på strekningen
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallDrepte" type="integer">
            <annotation>
              <documentation>6975: Antall drepte
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallMegetAlvorligSkadde" type="integer">
            <annotation>
              <documentation>6976: Antall meget alvorlig skadde
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallAlvorligSkadde" type="integer">
            <annotation>
              <documentation>6977: Antall alvorlig skadde
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLettereSkadde" type="integer">
            <annotation>
              <documentation>6978: Antall lettere skadde
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UlykkesstrekningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Ulykkesstrekning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
