GML/717.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>717: En strekning på vegen som er særlig ulykkesbelastet. En strekning på 1000 meter som har 10 eller flere ulykker med personskade innenfor et tidsrom på 5 år.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Ulykkesstrekning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:UlykkesstrekningType">
      <annotation>
         <documentation>717: En strekning på vegen som er særlig ulykkesbelastet. En strekning på 1000 meter som har 10 eller flere ulykker med personskade innenfor et tidsrom på 5 år.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">717</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ulykkesstrekning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="UlykkesstrekningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="fomUlykkesdato" type="date">
                  <annotation>
                     <documentation>6968: Beregningsgrunnlaget - fom. Dato.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6968</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fom. ulykkesdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tomUlykkesdato" type="date">
                  <annotation>
                     <documentation>6969: Beregningsgrunnlaget - tom. dato.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6969</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tom. ulykkesdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kravTilAntallUlykker" type="integer">
                  <annotation>
                     <documentation>6970: Beregningsgrunnlaget – krav til antall ulykker. Vanligvis 10.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6970</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Krav til antall ulykker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengdeUlykkesstrekning" type="integer">
                  <annotation>
                     <documentation>6971: Lengde ulykkesstrekning. Vanligvis 1000 meter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6971</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde ulykkesstrekning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallUlykker" type="integer">
                  <annotation>
                     <documentation>6974: Antall ulykker på strekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6974</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall ulykker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallDrepte" type="integer">
                  <annotation>
                     <documentation>6975: Antall drepte.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6975</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall drepte</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallMegetAlvorligSkadde" type="integer">
                  <annotation>
                     <documentation>6976: Antall meget alvorlig skadde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6976</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall meget alvorlig skadde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallAlvorligSkadde" type="integer">
                  <annotation>
                     <documentation>6977: Antall alvorlig skadde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6977</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall alvorlig skadde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallLettereSkadde" type="integer">
                  <annotation>
                     <documentation>6978: Antall lettere skadde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6978</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall lettere skadde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="UlykkesstrekningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Ulykkesstrekning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
