GML/717.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.24">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Ulykkesstrekning" substitutionGroup="nvdb:AbstraktUlykkesstrekning" type="nvdb:UlykkesstrekningType">
    <annotation>
      <documentation>717: En strekning på vegen som er særlig ulykkesbelastet. En strekning på 1000 meter som har 10 eller flere ulykker med personskade innenfor et tidsrom på 5 år.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">717</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">717</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ulykkesstrekning</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="UlykkesstrekningType">
    <complexContent>
      <extension base="nvdb:AbstraktUlykkesstrekningType">
        <sequence>
          <element minOccurs="0" name="fomUlykkesdato" type="date">
            <annotation>
              <documentation>6968: Beregningsgrunnlaget - fom. dato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6968</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fom. ulykkesdato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tomUlykkesdato" type="date">
            <annotation>
              <documentation>6969: Beregningsgrunnlaget - tom. dato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6969</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tom. ulykkesdato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kravTilAntallUlykker" type="integer">
            <annotation>
              <documentation>6970: Beregningsgrunnlaget – krav til antall ulykker. Vanligvis 10.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6970</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Krav til antall ulykker</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeUlykkesstrekning" type="integer">
            <annotation>
              <documentation>6971: Lengde ulykkesstrekning.  Vanligvis 1000 meter.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6971</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lengde ulykkesstrekning</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallUlykker" type="integer">
            <annotation>
              <documentation>6974: Antall ulykker på strekningen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6974</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall ulykker</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallDrepte" type="integer">
            <annotation>
              <documentation>6975: Antall drepte</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6975</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall drepte</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallMegetAlvorligSkadde" type="integer">
            <annotation>
              <documentation>6976: Antall meget alvorlig skadde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6976</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall meget alvorlig skadde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallAlvorligSkadde" type="integer">
            <annotation>
              <documentation>6977: Antall alvorlig skadde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6977</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall alvorlig skadde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLettereSkadde" type="integer">
            <annotation>
              <documentation>6978: Antall lettere skadde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6978</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall lettere skadde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UlykkesstrekningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Ulykkesstrekning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
