GML/72.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AdkomstType">
    <annotation>
      <documentation>9675: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9675</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9675</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AdkomstEnumerationType nvdb:AdkomstOtherType"/>
  </simpleType>
  <simpleType name="AdkomstEnumerationType">
    <annotation>
      <documentation>9675: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9675</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9675</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Bil">
        <annotation>
          <documentation>19828: Adkomst er mulig med bil.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19828</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hjullaster">
        <annotation>
          <documentation>13942: Adkomst er mulig med hjullaster.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13942</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hjullaster</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gravemaskin">
        <annotation>
          <documentation>13943: Adkomst for gravemaskin.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13943</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gravemaskin</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Til fots">
        <annotation>
          <documentation>13944: Adkomst til fots.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13944</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Til fots</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kran">
        <annotation>
          <documentation>13945: Adkomst for kran.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13945</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kran</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tau">
        <annotation>
          <documentation>13946: Adkomst med tau.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13946</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tau</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Helikopter">
        <annotation>
          <documentation>13947: Adkomst for helikopter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13947</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Helikopter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AdkomstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Bergsikring" substitutionGroup="nvdb:AbstraktBergsikring" type="nvdb:BergsikringType">
    <annotation>
      <documentation>72: Område/felt i tunnel eller bergskjæring i dagen som er sikra med nett, bolter etc.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">72</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">72</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bergsikring</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="BergsikringType">
    <complexContent>
      <extension base="nvdb:AbstraktBergsikringType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeBergsikringType">
            <annotation>
              <documentation>1133: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1133</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="double">
            <annotation>
              <documentation>1368: Angir areal av sikringsfeltet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1368</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallBolterAnker" type="integer">
            <annotation>
              <documentation>1989: Angir hvor mange bolter og/eller anker som er brukt i sikringsområde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1989</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall bolter/anker</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>5296: Angir total lengde av sikringsfelt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5296</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeSprøytebetong" type="nvdb:TypeSprøytebetongType">
            <annotation>
              <documentation>9166: Angir hvilken type sprøytebetong som er benyttet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9166</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type sprøytebetong</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeOverVeg" type="integer">
            <annotation>
              <documentation>9673: Angir største høyde til overkant av bergsikring.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9673</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde over veg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tykkelseSprøytebetong" type="integer">
            <annotation>
              <documentation>9330: Angir tykkelse av sprøytebetong.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9330</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tykkelse sprøytebetong</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="plassering" type="nvdb:PlasseringBergsikringType">
            <annotation>
              <documentation>1651: Angir sikringsfeltets plassering.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1651</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="wiredimensjon" type="integer">
            <annotation>
              <documentation>9674: Angir dimensjon for sikringswire.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9674</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Wiredimensjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="adkomst" type="nvdb:AdkomstType">
            <annotation>
              <documentation>9675: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9675</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>9167: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9167</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9877: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9877</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11064: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11064</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12303: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12303</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierBergsikringType">
            <annotation>
              <documentation>9676: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9676</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligBergsikringType">
            <annotation>
              <documentation>9677: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9677</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4774: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4774</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8877: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8877</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BergsikringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bergsikring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="EierBergsikringType">
    <annotation>
      <documentation>9676: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9676</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9676</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierBergsikringEnumerationType nvdb:EierBergsikringOtherType"/>
  </simpleType>
  <simpleType name="EierBergsikringEnumerationType">
    <annotation>
      <documentation>9676: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9676</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9676</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>13948: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13948</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18659: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18659</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>13949: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13949</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>13950: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13950</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>13951: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13951</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17665: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17665</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierBergsikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringBergsikringType">
    <annotation>
      <documentation>1651: Angir sikringsfeltets plassering.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1651</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1651</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringBergsikringEnumerationType nvdb:PlasseringBergsikringOtherType"/>
  </simpleType>
  <simpleType name="PlasseringBergsikringEnumerationType">
    <annotation>
      <documentation>1651: Angir sikringsfeltets plassering.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1651</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1651</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tunnel, hele profilet">
        <annotation>
          <documentation>3295: Sikring plassert i hele profilet i tunnelløpet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3295</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel, hele profilet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnel, heng og vegger">
        <annotation>
          <documentation>3297: Sikring plassert i heng og vegger i tunnelløp.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3297</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel, heng og vegger</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnel, heng">
        <annotation>
          <documentation>3299: Sikring plassert i heng i tunnelløp.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3299</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel, heng</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnel, såle">
        <annotation>
          <documentation>3303: Sikring plassert i såle i tunnelløp.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3303</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel, såle</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnel, høyre vegg">
        <annotation>
          <documentation>3308: Sikring plassert på høyre vegg (i forhold til vegens metreringsretning) i tunnelløp.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3308</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel, høyre vegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnel, venstre vegg">
        <annotation>
          <documentation>3305: Sikring plassert på venstre vegg (i forhold til vegens metreringsretning) i tunnelløp.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3305</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel, venstre vegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnel, høyre vegg og heng">
        <annotation>
          <documentation>3314: Sikring plassert på høyre vegg (i forhold til vegens metreringsretning) og heng i tunnelløp.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3314</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel, høyre vegg og heng</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnel, venstre vegg og heng">
        <annotation>
          <documentation>3316: Sikring plassert på venstre vegg (i forhold til vegens metreringsretning) og heng i tunnelløp.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3316</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel, venstre vegg og heng</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnel, halve profil høyre side">
        <annotation>
          <documentation>12999: Sikring plassert halve profil høyre side.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12999</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel, halve profil høyre side</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnel, Halve profil venstre side">
        <annotation>
          <documentation>13000: Sikring plassert halve profil venstre side.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13000</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel, Halve profil venstre side</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dagen, skjæring">
        <annotation>
          <documentation>15877: Sikring er plassert i skjæring i dagen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15877</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dagen, skjæring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dagen, naturlig terreng">
        <annotation>
          <documentation>15878: Sikring er plassert i naturlig skråning i dagen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15878</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dagen, naturlig terreng</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringBergsikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeBergsikringType">
    <annotation>
      <documentation>1133: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1133</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1133</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeBergsikringEnumerationType nvdb:TypeBergsikringOtherType"/>
  </simpleType>
  <simpleType name="TypeBergsikringEnumerationType">
    <annotation>
      <documentation>1133: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1133</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1133</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Bart berg">
        <annotation>
          <documentation>12995: Indikerer at det ikke er spesifikke sikringstiltak, men at berg renskes og kontrolleres slik at krav til sikkerhet ivaretas.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12995</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bart berg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bolter">
        <annotation>
          <documentation>3290: Bolter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3290</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bolter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nett">
        <annotation>
          <documentation>3291: Nett</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3291</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nett, ubåtnett">
        <annotation>
          <documentation>13210: Kraftig stålnett som legges over områder med oppsprukket fjell, ur eller løsmasser for å hindre nedfall/ras. Boltes fast til fjellet. Benyttes normalt i fjellskjæringer og ikke i tunneler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13210</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nett, ubåtnett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nett, isnett">
        <annotation>
          <documentation>13212: Stålnett som boltes fast på selve fjellskjæringa. Skal "binde" is og dermed avverga at isen faller ned på vegen. Benyttes normalt i fjellskjæringer og ikke i tunneler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13212</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nett, isnett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nett, steinsprangnett">
        <annotation>
          <documentation>13211: Stålnett som legges over områder med oppsprukket fjell, ur eller løsmasser for å hindre nedfall/ras. Boltes fast til fjellet. Benyttes normalt i fjellskjæringer og ikke i tunneler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13211</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nett, steinsprangnett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Anker">
        <annotation>
          <documentation>15879: Anker/forebygning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15879</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Anker</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fjellbånd">
        <annotation>
          <documentation>3289: Fjellbånd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3289</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjellbånd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprøytebetong">
        <annotation>
          <documentation>12250: Sprøytebetong benyttet i forbindelse med bergsikring.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12250</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprøytebetong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprøytebetongbuer, enkel">
        <annotation>
          <documentation>12251: Sprøytebetongbuer, enkel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12251</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprøytebetongbuer, enkel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprøytebetongbuer, dobbel">
        <annotation>
          <documentation>12252: Sprøytebetongbuer, dobbel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12252</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprøytebetongbuer, dobbel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeBergsikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeSprøytebetongType">
    <annotation>
      <documentation>9166: Angir hvilken type sprøytebetong som er benyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9166</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9166</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type sprøytebetong</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSprøytebetongEnumerationType nvdb:TypeSprøytebetongOtherType"/>
  </simpleType>
  <simpleType name="TypeSprøytebetongEnumerationType">
    <annotation>
      <documentation>9166: Angir hvilken type sprøytebetong som er benyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9166</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9166</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type sprøytebetong</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Uarmert">
        <annotation>
          <documentation>12253: Uarmert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12253</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uarmert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Med PP-fiber">
        <annotation>
          <documentation>12254: Med PP-fiber</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12254</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Med PP-fiber</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Med stålfiber">
        <annotation>
          <documentation>12255: Med stålfiber</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12255</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Med stålfiber</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Med armeringsnett">
        <annotation>
          <documentation>12256: Med armeringsnett</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12256</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Med armeringsnett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSprøytebetongOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBergsikringType">
    <annotation>
      <documentation>9677: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9677</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9677</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligBergsikringEnumerationType nvdb:VedlikeholdsansvarligBergsikringOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBergsikringEnumerationType">
    <annotation>
      <documentation>9677: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9677</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9677</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>13952: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18688: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18688</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19991: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19991</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18817: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18817</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>13953: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13953</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>13954: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13954</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17765: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17765</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBergsikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
