GML/721.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.25">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="FartsgrenseVariabel" substitutionGroup="nvdb:AbstraktFartsgrenseVariabel" type="nvdb:FartsgrenseVariabelType">
    <annotation>
      <documentation>721: Høyeste tillatte hastighet på en vegstrekning innenfor et avgrenset tidsrom.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">721</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">721</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fartsgrense, variabel</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FartsgrenseVariabelType">
    <complexContent>
      <extension base="nvdb:AbstraktFartsgrenseVariabelType">
        <sequence>
          <element name="fartsgrenseVerdi" type="nvdb:FartsgrenseVerdiFartsgrenseVariabelType">
            <annotation>
              <documentation>7023: Verdien på fartsgrensen i angitt tidsrom</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7023</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fartsgrense</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeFartsgrenseVariabelType">
            <annotation>
              <documentation>7016: Angir hvilken type variabel fartsgrense det er</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7016</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ukedag" type="nvdb:UkedagType">
            <annotation>
              <documentation>9401: Angir ukedager en variabel fartsgrense gjelder for.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9401</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ukedag</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoFra" type="string">
            <annotation>
              <documentation>7019: Angir dato (mmdd) som variabel fartsgrense gjelder fra og med i et normalår.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7019</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dato, fra</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoTil" type="string">
            <annotation>
              <documentation>7022: Angir dato (mmdd) som variabel fartsgrense gjelder til og med i et normalår.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7022</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dato, til</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="klokkeslettFra" type="string">
            <annotation>
              <documentation>7017: Angir tidspunkt (hhmm) på døgnet som variabel fartsgrense gjelder fra.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7017</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Klokkeslett, fra</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="klokkeslettTil" type="string">
            <annotation>
              <documentation>7018: Angir tidspunkt på døgnet (hhmm) som variabel fartsgrense gjelder til</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7018</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Klokkeslett, til</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedtaksnummer" type="string">
            <annotation>
              <documentation>9402: Angir vedtaksnummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9402</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vedtaksnummer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gyldigFraDato" type="date">
            <annotation>
              <documentation>9400: Dato for når fartsgrense ble satt i drift.  Den dato skiltene ble "avduket".</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9400</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gyldig fra dato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>8829: Kan gi merknad i forhold til variabel fartsgrense.  F.eks spesifikasjon av gyldighet, retningslinjer for nedsetting av fartsgrense etc</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8829</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Merknad</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer" type="string">
            <annotation>
              <documentation>9399: Gir referanse til relevant sak i vegeiers arkivsystem</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9399</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Arkivnummer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11465: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11465</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Prosjektreferanse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FartsgrenseVariabelPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:FartsgrenseVariabel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="FartsgrenseVerdiFartsgrenseVariabelType">
    <annotation>
      <documentation>7023: Verdien på fartsgrensen i angitt tidsrom</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7023</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7023</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fartsgrense</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FartsgrenseVerdiFartsgrenseVariabelEnumerationType nvdb:FartsgrenseVerdiFartsgrenseVariabelOtherType"/>
  </simpleType>
  <simpleType name="FartsgrenseVerdiFartsgrenseVariabelEnumerationType">
    <annotation>
      <documentation>7023: Verdien på fartsgrensen i angitt tidsrom</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7023</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7023</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fartsgrense</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="20">
        <annotation>
          <documentation>11577: 20</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11577</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">20</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="30">
        <annotation>
          <documentation>9333: 30</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9333</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">30</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="40">
        <annotation>
          <documentation>9334: 40</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9334</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">40</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="50">
        <annotation>
          <documentation>9335: 50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9335</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">50</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="60">
        <annotation>
          <documentation>9336: 60</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9336</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">60</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="70">
        <annotation>
          <documentation>9337: 70</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9337</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">70</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="80">
        <annotation>
          <documentation>9338: 80</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9338</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="90">
        <annotation>
          <documentation>9339: 90</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9339</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">90</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="100">
        <annotation>
          <documentation>9340: 100</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9340</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="110">
        <annotation>
          <documentation>16591: 110</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16591</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FartsgrenseVerdiFartsgrenseVariabelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeFartsgrenseVariabelType">
    <annotation>
      <documentation>7016: Angir hvilken type variabel fartsgrense det er</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7016</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7016</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeFartsgrenseVariabelEnumerationType nvdb:TypeFartsgrenseVariabelOtherType"/>
  </simpleType>
  <simpleType name="TypeFartsgrenseVariabelEnumerationType">
    <annotation>
      <documentation>7016: Angir hvilken type variabel fartsgrense det er</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7016</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7016</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="vinterfartsgrense">
        <annotation>
          <documentation>9327: Vinterfartsgrense</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9327</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vinterfartsgrense</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sommerfartsgrense">
        <annotation>
          <documentation>13242: Sommerfartsgrense</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13242</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sommerfartsgrense</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skole">
        <annotation>
          <documentation>9328: Skole</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9328</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skole</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="miljøfartsgrense">
        <annotation>
          <documentation>13241: Miljøfartsgrense</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13241</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Miljøfartsgrense</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFartsgrenseVariabelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UkedagType">
    <annotation>
      <documentation>9401: Angir ukedager en variabel fartsgrense gjelder for.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9401</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9401</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ukedag</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UkedagEnumerationType nvdb:UkedagOtherType"/>
  </simpleType>
  <simpleType name="UkedagEnumerationType">
    <annotation>
      <documentation>9401: Angir ukedager en variabel fartsgrense gjelder for.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9401</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9401</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ukedag</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="hverdager">
        <annotation>
          <documentation>13243: Mandag - Lørdag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13243</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hverdager</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hverdagerUtenLørdag">
        <annotation>
          <documentation>13244: Mandag - Fredag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13244</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hverdager u/ lørdag</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lørdagOgSøndag">
        <annotation>
          <documentation>13245: Lørdag - Søndag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13245</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lørdag og søndag</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mandag">
        <annotation>
          <documentation>13246: Mandag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13246</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Mandag</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tirsdag">
        <annotation>
          <documentation>13247: Tirsdag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13247</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tirsdag</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="onsdag">
        <annotation>
          <documentation>13248: Onsdag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13248</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Onsdag</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="torsdag">
        <annotation>
          <documentation>13249: Torsdag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13249</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Torsdag</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fredag">
        <annotation>
          <documentation>13250: Fredag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13250</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fredag</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lørdag">
        <annotation>
          <documentation>13251: Lørdag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13251</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lørdag</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="søndag">
        <annotation>
          <documentation>13252: Søndag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13252</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Søndag</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UkedagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
