GML/757.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="ListetypeType">
    <annotation>
      <documentation>7584: Angir hvilken listetype vedlegget hører til</documentation>
    </annotation>
    <union memberTypes="nvdb:ListetypeEnumerationType nvdb:ListetypeOtherType"/>
  </simpleType>
  <simpleType name="ListetypeEnumerationType">
    <annotation>
      <documentation>7584: Angir hvilken listetype vedlegget hører til</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="riksveg_Standard">
        <annotation>
          <documentation>9874: Riksveg, standard</documentation>
        </annotation>
      </enumeration>
      <enumeration value="riksveg_Spesialtransport">
        <annotation>
          <documentation>9875: Riksveg, spesialtransport</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkesveg_Standard">
        <annotation>
          <documentation>9876: Fylkesveg, standard</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkesveg_Spesialrapport">
        <annotation>
          <documentation>9877: Fylkesveg, spesialrapport</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ListetypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegliste_Vedlegg" substitutionGroup="nvdb:AbstraktVegliste_Vedlegg" type="nvdb:Vegliste_VedleggType">
    <annotation>
      <documentation>757: Vedlegg til vegliste.  For intern bruk i forbindelse med utarbeiding av veglister.</documentation>
    </annotation>
  </element>
  <complexType name="Vegliste_VedleggType">
    <complexContent>
      <extension base="nvdb:AbstraktVegliste_VedleggType">
        <sequence>
          <element minOccurs="0" name="fylke" type="integer">
            <annotation>
              <documentation>7586: Angir fylkesnummer</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rekkefølge" type="integer">
            <annotation>
              <documentation>7585: Angir rekkefølge for vedlegget</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="listetype" type="nvdb:ListetypeType">
            <annotation>
              <documentation>7584: Angir hvilken listetype vedlegget hører til</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="innhold">
            <annotation>
              <documentation>7583: Angir innholdet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlegg" type="string">
            <annotation>
              <documentation>7545: Tekst i vedlegg</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>7544: Gir merknad</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Vegliste_VedleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegliste_Vedlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
