GML/757.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>757: Vedlegg til vegliste.  For intern bruk i forbindelse med utarbeiding av veglister.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="ListetypeType">
      <annotation>
         <documentation>7584: Angir hvilken listetype vedlegget hører til</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7584</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">7584</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Listetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ListetypeEnumerationType nvdb:ListetypeOtherType"/>
   </simpleType>
   <simpleType name="ListetypeEnumerationType">
      <annotation>
         <documentation>7584: Angir hvilken listetype vedlegget hører til</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7584</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">7584</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Listetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Riksveg, standard">
            <annotation>
               <documentation>9874: Riksveg, standard</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9874</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Riksveg, standard</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Riksveg, spesialtransport">
            <annotation>
               <documentation>9875: Riksveg, spesialtransport</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9875</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Riksveg, spesialtransport</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fylkesveg, standard">
            <annotation>
               <documentation>9876: Fylkesveg, standard</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9876</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkesveg, standard</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fylkesveg, spesialrapport">
            <annotation>
               <documentation>9877: Fylkesveg, spesialrapport</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9877</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkesveg, spesialrapport</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ListetypeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegliste_Vedlegg"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Vegliste_VedleggType">
      <annotation>
         <documentation>757: Vedlegg til vegliste.  For intern bruk i forbindelse med utarbeiding av veglister.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">757</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">757</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegliste, vedlegg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Vegliste_VedleggType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="fylke" type="integer">
                  <annotation>
                     <documentation>7586: Angir fylkesnummer</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7586</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fylke</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rekkefølge" type="integer">
                  <annotation>
                     <documentation>7585: Angir rekkefølge for vedlegget</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7585</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rekkefølge</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="listetype" type="nvdb:ListetypeType">
                  <annotation>
                     <documentation>7584: Angir hvilken listetype vedlegget hører til</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7584</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Listetype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="innhold">
                  <annotation>
                     <documentation>7583: Angir innholdet</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7583</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Innhold</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vedlegg" type="string">
                  <annotation>
                     <documentation>7545: Tekst i vedlegg</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7545</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlegg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>7544: Gir merknad</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7544</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Vegliste_VedleggPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegliste_Vedlegg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
