GML/760.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Rapportdefinisjon" substitutionGroup="nvdb:AbstraktRapportdefinisjon" type="nvdb:RapportdefinisjonType">
    <annotation>
      <documentation>760: Rapportdefinisjon. Til intern bruk i NVDB.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">760</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">760</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Rapportdefinisjon</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="RapportdefinisjonType">
    <complexContent>
      <extension base="nvdb:AbstraktRapportdefinisjonType">
        <sequence>
          <element minOccurs="0" name="rapportmalfil">
            <annotation>
              <documentation>7580: Rapportmalfil.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7580</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Rapportmalfil</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="publisertdato" type="date">
            <annotation>
              <documentation>7581: Publiseringsdato.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7581</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Publisertdato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapporttype" type="nvdb:RapporttypeType">
            <annotation>
              <documentation>7582: Rapporttype.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7582</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Rapporttype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RapportdefinisjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Rapportdefinisjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="RapporttypeType">
    <annotation>
      <documentation>7582: Rapporttype.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7582</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7582</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Rapporttype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RapporttypeEnumerationType nvdb:RapporttypeOtherType"/>
  </simpleType>
  <simpleType name="RapporttypeEnumerationType">
    <annotation>
      <documentation>7582: Rapporttype.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7582</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7582</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Rapporttype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Punkt">
        <annotation>
          <documentation>9867: Punkt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9867</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Punkt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Strekning">
        <annotation>
          <documentation>9868: Strekning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9868</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Strekning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegnett">
        <annotation>
          <documentation>9869: Vegnett</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9869</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegnett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Detaljert">
        <annotation>
          <documentation>9870: Detaljert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9870</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Detaljert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mangel">
        <annotation>
          <documentation>9871: Mangel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9871</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mangel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Generiskdetaljert">
        <annotation>
          <documentation>9872: Generiskdetaljert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9872</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Generiskdetaljert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hjelpefil">
        <annotation>
          <documentation>9873: Hjelpefil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9873</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hjelpefil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RapporttypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
