GML/760.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>760: Rapportdefinisjon. Til intern bruk i NVDB.</documentation>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Rapportdefinisjon"
            substitutionGroup="gml:AbstractGML"
            type="nvdb:RapportdefinisjonType">
      <annotation>
         <documentation>760: Rapportdefinisjon. Til intern bruk i NVDB.</documentation>
      </annotation>
   </element>
   <complexType name="RapportdefinisjonType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element minOccurs="0" name="Rapportmalfil">
                  <annotation>
                     <documentation>7580: Rapportmalfil.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Publisertdato">
                  <annotation>
                     <documentation>7581: Publiseringsdato.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="Rapporttype">
                  <annotation>
                     <documentation>7582: Rapporttype.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="RapportdefinisjonPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Rapportdefinisjon"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="Rapporttype"
            substitutionGroup="gml:AbstractGML"
            type="nvdb:RapporttypeType">
      <annotation>
         <documentation>7582: Rapporttype.</documentation>
      </annotation>
   </element>
   <complexType name="RapporttypeType">
      <complexContent>
         <extension base="gml:AbstractGMLType">
            <sequence>
               <element name="Punkt">
                  <annotation>
                     <documentation>9867: Punkt</documentation>
                  </annotation>
               </element>
               <element name="Strekning">
                  <annotation>
                     <documentation>9868: Strekning</documentation>
                  </annotation>
               </element>
               <element name="Vegnett">
                  <annotation>
                     <documentation>9869: Vegnett</documentation>
                  </annotation>
               </element>
               <element name="Detaljert">
                  <annotation>
                     <documentation>9870: Detaljert</documentation>
                  </annotation>
               </element>
               <element name="Mangel">
                  <annotation>
                     <documentation>9871: Mangel</documentation>
                  </annotation>
               </element>
               <element name="Generiskdetaljert">
                  <annotation>
                     <documentation>9872: Generiskdetaljert</documentation>
                  </annotation>
               </element>
               <element name="Hjelpefil">
                  <annotation>
                     <documentation>9873: Hjelpefil</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="RapporttypePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Rapporttype"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
