GML/761.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>761: Gir informasjon om tilstand og eventuell skade. Normalt knyttet til et spesifikt punktobjekt.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="TilstandTilstandskade, punktType">
      <annotation>
         <documentation>7596: Angir tilstand til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7596</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandTilstandskade, punktEnumerationType nvdb:TilstandTilstandskade, punktOtherType"/>
   </simpleType>
   <simpleType name="TilstandTilstandskade, punktEnumerationType">
      <annotation>
         <documentation>7596: Angir tilstand til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7596</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9893</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Funksjonell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9892</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mangler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ok">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9890</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ok</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9891</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tiltaksbehov</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandTilstandskade, punktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tilstandskade, punkt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandskade, punktType">
      <annotation>
         <documentation>761: Gir informasjon om tilstand og eventuell skade. Normalt knyttet til et spesifikt punktobjekt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">761</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandskade, punkt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandskade, punktType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0"
                        name="tilstand"
                        type="nvdb:TilstandTilstandskade, punktType">
                  <annotation>
                     <documentation>7596: Angir tilstand til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7596</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="skadetype" type="string">
                  <annotation>
                     <documentation>7590: Angir hvilken type skade det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7590</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoKontrollert" type="date">
                  <annotation>
                     <documentation>8777: Angir dato for når kontroll ble foretatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8777</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="tiltak"
                        type="nvdb:TiltakTilstandskade, punktType">
                  <annotation>
                     <documentation>7594: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7594</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tiltakNår">
                  <annotation>
                     <documentation>7595: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7595</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="test_Tilstandsindeks" type="double">
                  <annotation>
                     <documentation>9834: Angir tilstand. Til testformål.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9834</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Test_Tilstandsindeks</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>7859: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7859</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>7597: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7597</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandskade, punktPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandskade, punkt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TiltakNårTilstandskade, punktType">
      <annotation>
         <documentation>7595: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7595</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TiltakNårTilstandskade, punktEnumerationType nvdb:TiltakNårTilstandskade, punktOtherType"/>
   </simpleType>
   <simpleType name="TiltakNårTilstandskade, punktEnumerationType">
      <annotation>
         <documentation>7595: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7595</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9886</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1 år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9887</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1-2 år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9884</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">14 dager</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9885</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3 mnd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="&gt;2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9888</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&gt; 2år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ps">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9889</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">på sikt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9883</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Straks</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TiltakNårTilstandskade, punktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TiltakTilstandskade, punktType">
      <annotation>
         <documentation>7594: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7594</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TiltakTilstandskade, punktEnumerationType nvdb:TiltakTilstandskade, punktOtherType"/>
   </simpleType>
   <simpleType name="TiltakTilstandskade, punktEnumerationType">
      <annotation>
         <documentation>7594: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7594</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9881</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjernes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ry">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9896</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ryddes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9880</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiftes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="us">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9882</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utbedres på stedet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TiltakTilstandskade, punktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
