GML/761.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="TilstandSkade_Punkt" substitutionGroup="nvdb:AbstraktTilstandSkade_Punkt" type="nvdb:TilstandSkade_PunktType">
    <annotation>
      <documentation>761: Gir informasjon om tilstand og eventuell skade.  Normalt knyttet til et spesifikt punktobjekt.</documentation>
    </annotation>
  </element>
  <complexType name="TilstandSkade_PunktType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkade_PunktType">
        <sequence>
          <element minOccurs="0" name="tilstand" type="nvdb:TilstandTilstandSkade_PunktType">
            <annotation>
              <documentation>7596: Angir tilstand til vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skadetype" type="string">
            <annotation>
              <documentation>7590: Angir hvilken type skade det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>8777: Angir dato for når kontroll ble foretatt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltak" type="nvdb:TiltakTilstandSkade_PunktType">
            <annotation>
              <documentation>7594: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltakNår" type="nvdb:TiltakNårTilstandSkade_PunktType">
            <annotation>
              <documentation>7595: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="test_Tilstandsindeks" type="integer">
            <annotation>
              <documentation>9834: Angir tilstand. Til testformål
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>7859: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>7597: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertDetektor_Trafikk" type="nvdb:AbstraktDetektor_TrafikkPropertyType"/>
          <element minOccurs="0" name="assosiertUtemøbler" type="nvdb:AbstraktUtemøblerPropertyType"/>
          <element minOccurs="0" name="assosiertParkeringsområde" type="nvdb:AbstraktParkeringsområdePropertyType"/>
          <element minOccurs="0" name="assosiertLysmåler" type="nvdb:AbstraktLysmålerPropertyType"/>
          <element minOccurs="0" name="assosiertBrannvarslingsanlegg" type="nvdb:AbstraktBrannvarslingsanleggPropertyType"/>
          <element minOccurs="0" name="assosiertStrøsandkasse" type="nvdb:AbstraktStrøsandkassePropertyType"/>
          <element minOccurs="0" name="assosiertKamera" type="nvdb:AbstraktKameraPropertyType"/>
          <element minOccurs="0" name="assosiertSkiltportal" type="nvdb:AbstraktSkiltportalPropertyType"/>
          <element minOccurs="0" name="assosiertTrekkekum" type="nvdb:AbstraktTrekkekumPropertyType"/>
          <element minOccurs="0" name="assosiertStøtpute" type="nvdb:AbstraktStøtputePropertyType"/>
          <element minOccurs="0" name="assosiertGjerdeport" type="nvdb:AbstraktGjerdeportPropertyType"/>
          <element minOccurs="0" name="assosiertRenovasjon" type="nvdb:AbstraktRenovasjonPropertyType"/>
          <element minOccurs="0" name="assosiertTaktileIndikatorer" type="nvdb:AbstraktTaktileIndikatorerPropertyType"/>
          <element minOccurs="0" name="assosiertNødstrømsaggregat" type="nvdb:AbstraktNødstrømsaggregatPropertyType"/>
          <element minOccurs="0" name="assosiertNedføringsrenne" type="nvdb:AbstraktNedføringsrennePropertyType"/>
          <element minOccurs="0" name="assosiertPumpe" type="nvdb:AbstraktPumpePropertyType"/>
          <element minOccurs="0" name="assosiertGassmåler" type="nvdb:AbstraktGassmålerPropertyType"/>
          <element minOccurs="0" name="assosiertFerist" type="nvdb:AbstraktFeristPropertyType"/>
          <element minOccurs="0" name="assosiertRadar" type="nvdb:AbstraktRadarPropertyType"/>
          <element minOccurs="0" name="assosiertVifteVentilator" type="nvdb:AbstraktVifteVentilatorPropertyType"/>
          <element minOccurs="0" name="assosiertLeskur" type="nvdb:AbstraktLeskurPropertyType"/>
          <element minOccurs="0" name="assosiertDyresperre" type="nvdb:AbstraktDyresperrePropertyType"/>
          <element minOccurs="0" name="assosiertATK_Punkt" type="nvdb:AbstraktATK_PunktPropertyType"/>
          <element minOccurs="0" name="assosiertElektriskAnlegg" type="nvdb:AbstraktElektriskAnleggPropertyType"/>
          <element minOccurs="0" name="assosiertFartsdemper" type="nvdb:AbstraktFartsdemperPropertyType"/>
          <element minOccurs="0" name="assosiertPlantekasseUrne" type="nvdb:AbstraktPlantekasseUrnePropertyType"/>
          <element minOccurs="0" name="assosiertBassengMagasin" type="nvdb:AbstraktBassengMagasinPropertyType"/>
          <element minOccurs="0" name="assosiertToalettanlegg" type="nvdb:AbstraktToalettanleggPropertyType"/>
          <element minOccurs="0" name="assosiertGangfelt" type="nvdb:AbstraktGangfeltPropertyType"/>
          <element minOccurs="0" name="assosiertReferansestolpe" type="nvdb:AbstraktReferansestolpePropertyType"/>
          <element minOccurs="0" name="assosiertRekkverksende" type="nvdb:AbstraktRekkverksendePropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkspeil" type="nvdb:AbstraktTrafikkspeilPropertyType"/>
          <element minOccurs="0" name="assosiertSignalpunkt" type="nvdb:AbstraktSignalpunktPropertyType"/>
          <element minOccurs="0" name="assosiertFotocelle" type="nvdb:AbstraktFotocellePropertyType"/>
          <element minOccurs="0" name="assosiertHøydemåler" type="nvdb:AbstraktHøydemålerPropertyType"/>
          <element minOccurs="0" name="assosiertVindmåler" type="nvdb:AbstraktVindmålerPropertyType"/>
          <element minOccurs="0" name="assosiertTunnelsjakt" type="nvdb:AbstraktTunnelsjaktPropertyType"/>
          <element minOccurs="0" name="assosiertTunnelportal" type="nvdb:AbstraktTunnelportalPropertyType"/>
          <element minOccurs="0" name="assosiertSiktmåler" type="nvdb:AbstraktSiktmålerPropertyType"/>
          <element minOccurs="0" name="assosiertPortDør" type="nvdb:AbstraktPortDørPropertyType"/>
          <element minOccurs="0" name="assosiertNødtelefon" type="nvdb:AbstraktNødtelefonPropertyType"/>
          <element minOccurs="0" name="assosiertSnuplass" type="nvdb:AbstraktSnuplassPropertyType"/>
          <element minOccurs="0" name="assosiertTrafo" type="nvdb:AbstraktTrafoPropertyType"/>
          <element minOccurs="0" name="assosiertVegbom" type="nvdb:AbstraktVegbomPropertyType"/>
          <element minOccurs="0" name="assosiertBrannslokningsapparat" type="nvdb:AbstraktBrannslokningsapparatPropertyType"/>
          <element minOccurs="0" name="assosiertVariabeltSkilt" type="nvdb:AbstraktVariabeltSkiltPropertyType"/>
          <element minOccurs="0" name="assosiertOppslagstavleForRutetabell" type="nvdb:AbstraktOppslagstavleForRutetabellPropertyType"/>
          <element minOccurs="0" name="assosiertTelefonsentral" type="nvdb:AbstraktTelefonsentralPropertyType"/>
          <element minOccurs="0" name="assosiertVegoppmerking_Tverrgående" type="nvdb:AbstraktVegoppmerking_TverrgåendePropertyType"/>
          <element minOccurs="0" name="assosiertNedsenkaKantstein" type="nvdb:AbstraktNedsenkaKantsteinPropertyType"/>
          <element minOccurs="0" name="assosiertStyreapparat" type="nvdb:AbstraktStyreapparatPropertyType"/>
          <element minOccurs="0" name="assosiertKum" type="nvdb:AbstraktKumPropertyType"/>
          <element minOccurs="0" name="assosiertUPS" type="nvdb:AbstraktUPSPropertyType"/>
          <element minOccurs="0" name="assosiertAntenne" type="nvdb:AbstraktAntennePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element minOccurs="0" name="assosiertNødstasjon" type="nvdb:AbstraktNødstasjonPropertyType"/>
          <element minOccurs="0" name="assosiertVærstasjon" type="nvdb:AbstraktVærstasjonPropertyType"/>
          <element minOccurs="0" name="assosiertSkap_Teknisk" type="nvdb:AbstraktSkap_TekniskPropertyType"/>
          <element minOccurs="0" name="assosiertKondensmåler" type="nvdb:AbstraktKondensmålerPropertyType"/>
          <element minOccurs="0" name="assosiertBrannslokkingsanlegg" type="nvdb:AbstraktBrannslokkingsanleggPropertyType"/>
          <element minOccurs="0" name="assosiertVannstandsmåler" type="nvdb:AbstraktVannstandsmålerPropertyType"/>
          <element minOccurs="0" name="assosiertHøydehinder" type="nvdb:AbstraktHøydehinderPropertyType"/>
          <element minOccurs="0" name="assosiertHydrant" type="nvdb:AbstraktHydrantPropertyType"/>
          <element minOccurs="0" name="assosiertLekeapparat" type="nvdb:AbstraktLekeapparatPropertyType"/>
          <element minOccurs="0" name="assosiertKunstUtsmykking" type="nvdb:AbstraktKunstUtsmykkingPropertyType"/>
          <element minOccurs="0" name="assosiertLysarmatur" type="nvdb:AbstraktLysarmaturPropertyType"/>
          <element minOccurs="0" name="assosiertMåleutstyr_Svevestøv" type="nvdb:AbstraktMåleutstyr_SvevestøvPropertyType"/>
          <element minOccurs="0" name="assosiertLysmast" type="nvdb:AbstraktLysmastPropertyType"/>
          <element minOccurs="0" name="assosiertTemperaturmåler" type="nvdb:AbstraktTemperaturmålerPropertyType"/>
          <element minOccurs="0" name="assosiertTunnelport" type="nvdb:AbstraktTunnelportPropertyType"/>
          <element minOccurs="0" name="assosiertStikkrenneKulvert" type="nvdb:AbstraktStikkrenneKulvertPropertyType"/>
          <element minOccurs="0" name="assosiertBygning" type="nvdb:AbstraktBygningPropertyType"/>
          <element minOccurs="0" name="assosiertFaunapassasje" type="nvdb:AbstraktFaunapassasjePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkade_PunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkade_Punkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilstandTilstandSkade_PunktType">
    <annotation>
      <documentation>7596: Angir tilstand til vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:TilstandTilstandSkade_PunktEnumerationType nvdb:TilstandTilstandSkade_PunktOtherType"/>
  </simpleType>
  <simpleType name="TilstandTilstandSkade_PunktEnumerationType">
    <annotation>
      <documentation>7596: Angir tilstand til vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ok">
        <annotation>
          <documentation>9890: Ok</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tiltaksbehov">
        <annotation>
          <documentation>9891: Tiltaksbehov</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mangler">
        <annotation>
          <documentation>9892: Mangler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="funksjonell">
        <annotation>
          <documentation>9893: Funksjonell</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandTilstandSkade_PunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkade_PunktType">
    <annotation>
      <documentation>7595: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
    </annotation>
    <union memberTypes="nvdb:TiltakNårTilstandSkade_PunktEnumerationType nvdb:TiltakNårTilstandSkade_PunktOtherType"/>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkade_PunktEnumerationType">
    <annotation>
      <documentation>7595: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="straks">
        <annotation>
          <documentation>9883: Straks</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14Dager">
        <annotation>
          <documentation>9884: 14 dager</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3Mnd">
        <annotation>
          <documentation>9885: 3 mnd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1År">
        <annotation>
          <documentation>9886: 1 år</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1til2År">
        <annotation>
          <documentation>9887: 1-2 år</documentation>
        </annotation>
      </enumeration>
      <enumeration value="over2år">
        <annotation>
          <documentation>9888: &gt; 2år</documentation>
        </annotation>
      </enumeration>
      <enumeration value="påSikt">
        <annotation>
          <documentation>9889: på sikt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkade_PunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TiltakTilstandSkade_PunktType">
    <annotation>
      <documentation>7594: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot</documentation>
    </annotation>
    <union memberTypes="nvdb:TiltakTilstandSkade_PunktEnumerationType nvdb:TiltakTilstandSkade_PunktOtherType"/>
  </simpleType>
  <simpleType name="TiltakTilstandSkade_PunktEnumerationType">
    <annotation>
      <documentation>7594: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="skiftes">
        <annotation>
          <documentation>9880: Skiftes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fjernes">
        <annotation>
          <documentation>9881: Fjernes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="utbedresPåStedet">
        <annotation>
          <documentation>9882: Utbedres på stedet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ryddes">
        <annotation>
          <documentation>9896: Ryddes</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltakTilstandSkade_PunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
