GML/761.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="TilstandSkade_Punkt" substitutionGroup="nvdb:AbstraktTilstandSkade_Punkt" type="nvdb:TilstandSkade_PunktType">
    <annotation>
      <documentation>761: Gir informasjon om tilstand og eventuell skade. Normalt knyttet til et spesifikt punktobjekt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">761</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">761</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand/skade, punkt</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TilstandSkade_PunktType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkade_PunktType">
        <sequence>
          <element minOccurs="0" name="tilstand" type="nvdb:TilstandTilstandSkade_PunktType">
            <annotation>
              <documentation>7596: Angir tilstand til vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7596</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadetype" type="string">
            <annotation>
              <documentation>7590: Angir hvilken type skade det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7590</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skadetype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>8777: Angir dato for når kontroll ble foretatt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8777</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltak" type="nvdb:TiltakTilstandSkade_PunktType">
            <annotation>
              <documentation>7594: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7594</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltakNår" type="nvdb:TiltakNårTilstandSkade_PunktType">
            <annotation>
              <documentation>7595: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7595</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="test_Tilstandsindeks" type="integer">
            <annotation>
              <documentation>9834: Angir tilstand. Til testformål.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9834</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Test_Tilstandsindeks</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>7859: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7859</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>7597: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7597</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFaunapassasje" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFaunapassasje</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFerist" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFerist</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGangfelt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGangfelt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGassmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGassmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGjerdeport" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGjerdeport</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHydrant" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHydrant</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHøydehinder" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHøydehinder</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHøydemåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHøydemåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKamera" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKamera</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKondensmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKondensmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKum" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKum</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKunstUtsmykking" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKunstUtsmykking</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLekeapparat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLekeapparat</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLeskur" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLeskur</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLysarmatur" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLysarmatur</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLysmast" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLysmast</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLysmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLysmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertMåleutstyr_Svevestøv" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktMåleutstyr_Svevestøv</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNedføringsrenne" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNedføringsrenne</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNedsenkaKantstein" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNedsenkaKantstein</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNødstasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNødstasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNødstrømsaggregat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNødstrømsaggregat</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNødtelefon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNødtelefon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertOppslagstavleForRutetabell" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktOppslagstavleForRutetabell</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertParkeringsområde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktParkeringsområde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertPlantekasseUrne" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktPlantekasseUrne</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertPortDør" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktPortDør</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertPumpe" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktPumpe</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRadar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRadar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertReferansestolpe" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktReferansestolpe</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRekkverksende" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRekkverksende</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRenovasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRenovasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSignalpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSignalpunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSiktmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSiktmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkap_Teknisk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkap_Teknisk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkiltportal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkiltportal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSnuplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSnuplass</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStikkrenneKulvert" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStikkrenneKulvert</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStrøsandkasse" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStrøsandkasse</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStyreapparat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStyreapparat</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStøtpute" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStøtpute</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTaktileIndikatorer" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTaktileIndikatorer</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTelefonsentral" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTelefonsentral</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTemperaturmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTemperaturmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertToalettanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktToalettanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkspeil" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkspeil</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertAntenne" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktAntenne</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafo" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafo</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrekkekum" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrekkekum</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelport" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelport</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelportal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelportal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelsjakt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelsjakt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertUPS" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktUPS</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertUtemøbler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktUtemøbler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVannstandsmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVannstandsmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVariabeltSkilt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVariabeltSkilt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegbom" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegbom</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertATK_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktATK_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegoppmerking_Tverrgående" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegoppmerking_Tverrgående</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVifteVentilator" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVifteVentilator</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVindmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVindmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVærstasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVærstasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFartsdemper" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFartsdemper</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBassengMagasin" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBassengMagasin</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertDetektor_Trafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDetektor_Trafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBygning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBygning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertElektriskAnlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktElektriskAnlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBevegelsessensor" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBevegelsessensor</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBrannslokningsapparat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBrannslokningsapparat</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertDyresperre" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDyresperre</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBrannslokkingsanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBrannslokkingsanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBrannvarslingsanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBrannvarslingsanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkade_PunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkade_Punkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilstandTilstandSkade_PunktType">
    <annotation>
      <documentation>7596: Angir tilstand til vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7596</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7596</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandTilstandSkade_PunktEnumerationType nvdb:TilstandTilstandSkade_PunktOtherType"/>
  </simpleType>
  <simpleType name="TilstandTilstandSkade_PunktEnumerationType">
    <annotation>
      <documentation>7596: Angir tilstand til vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7596</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7596</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ok">
        <annotation>
          <documentation>9890: Ok</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9890</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ok</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tiltaksbehov">
        <annotation>
          <documentation>9891: Tiltaksbehov</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9891</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltaksbehov</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mangler">
        <annotation>
          <documentation>9892: Mangler</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9892</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mangler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Funksjonell">
        <annotation>
          <documentation>9893: Funksjonell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9893</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Funksjonell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandTilstandSkade_PunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkade_PunktType">
    <annotation>
      <documentation>7595: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7595</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7595</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TiltakNårTilstandSkade_PunktEnumerationType nvdb:TiltakNårTilstandSkade_PunktOtherType"/>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkade_PunktEnumerationType">
    <annotation>
      <documentation>7595: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7595</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7595</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Straks">
        <annotation>
          <documentation>9883: Straks</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9883</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Straks</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="14 dager">
        <annotation>
          <documentation>9884: 14 dager</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9884</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">14 dager</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3 mnd">
        <annotation>
          <documentation>9885: 3 mnd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9885</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3 mnd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1 år">
        <annotation>
          <documentation>9886: 1 år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9886</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1 år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1-2 år">
        <annotation>
          <documentation>9887: 1-2 år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9887</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1-2 år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&gt; 2år">
        <annotation>
          <documentation>9888: &gt; 2år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9888</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">&gt; 2år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="på sikt">
        <annotation>
          <documentation>9889: på sikt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9889</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">på sikt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkade_PunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TiltakTilstandSkade_PunktType">
    <annotation>
      <documentation>7594: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7594</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7594</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TiltakTilstandSkade_PunktEnumerationType nvdb:TiltakTilstandSkade_PunktOtherType"/>
  </simpleType>
  <simpleType name="TiltakTilstandSkade_PunktEnumerationType">
    <annotation>
      <documentation>7594: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7594</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7594</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tiltak</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Skiftes">
        <annotation>
          <documentation>9880: Skiftes</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9880</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiftes</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fjernes">
        <annotation>
          <documentation>9881: Fjernes</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9881</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjernes</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Utbedres på stedet">
        <annotation>
          <documentation>9882: Utbedres på stedet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9882</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utbedres på stedet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ryddes">
        <annotation>
          <documentation>9896: Ryddes</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9896</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ryddes</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltakTilstandSkade_PunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
