GML/762.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EtterslepType">
    <annotation>
      <documentation>7592: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
    </annotation>
    <union memberTypes="nvdb:EtterslepEnumerationType nvdb:EtterslepOtherType"/>
  </simpleType>
  <simpleType name="EtterslepEnumerationType">
    <annotation>
      <documentation>7592: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>9894: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>9895: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EtterslepOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkadeFU_Punkt" substitutionGroup="nvdb:AbstraktTilstandSkadeFU_Punkt" type="nvdb:TilstandSkadeFU_PunktType">
    <annotation>
      <documentation>762: Gir informasjon om funksjonalitet.  Normalt knyttet til et spesifikt punkt-objekt.</documentation>
    </annotation>
  </element>
  <complexType name="TilstandSkadeFU_PunktType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkadeFU_PunktType">
        <sequence>
          <element minOccurs="0" name="etterslep" type="nvdb:EtterslepType">
            <annotation>
              <documentation>7592: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>7591: Angir dato for når kontroll ble foretatt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>7593: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>7598: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertUtemøbler" type="nvdb:AbstraktUtemøblerPropertyType"/>
          <element minOccurs="0" name="assosiertBrannvarslingsanlegg" type="nvdb:AbstraktBrannvarslingsanleggPropertyType"/>
          <element minOccurs="0" name="assosiertStrøsandkasse" type="nvdb:AbstraktStrøsandkassePropertyType"/>
          <element minOccurs="0" name="assosiertSkiltportal" type="nvdb:AbstraktSkiltportalPropertyType"/>
          <element minOccurs="0" name="assosiertTrekkekum" type="nvdb:AbstraktTrekkekumPropertyType"/>
          <element minOccurs="0" name="assosiertSkiltpunkt" type="nvdb:AbstraktSkiltpunktPropertyType"/>
          <element minOccurs="0" name="assosiertStøtpute" type="nvdb:AbstraktStøtputePropertyType"/>
          <element minOccurs="0" name="assosiertGjerdeport" type="nvdb:AbstraktGjerdeportPropertyType"/>
          <element minOccurs="0" name="assosiertRenovasjon" type="nvdb:AbstraktRenovasjonPropertyType"/>
          <element minOccurs="0" name="assosiertPumpe" type="nvdb:AbstraktPumpePropertyType"/>
          <element minOccurs="0" name="assosiertVifteVentilator" type="nvdb:AbstraktVifteVentilatorPropertyType"/>
          <element minOccurs="0" name="assosiertLeskur" type="nvdb:AbstraktLeskurPropertyType"/>
          <element minOccurs="0" name="assosiertSkiltplate" type="nvdb:AbstraktSkiltplatePropertyType"/>
          <element minOccurs="0" name="assosiertDyresperre" type="nvdb:AbstraktDyresperrePropertyType"/>
          <element minOccurs="0" name="assosiertATK_Punkt" type="nvdb:AbstraktATK_PunktPropertyType"/>
          <element minOccurs="0" name="assosiertFartsdemper" type="nvdb:AbstraktFartsdemperPropertyType"/>
          <element minOccurs="0" name="assosiertBassengMagasin" type="nvdb:AbstraktBassengMagasinPropertyType"/>
          <element minOccurs="0" name="assosiertToalettanlegg" type="nvdb:AbstraktToalettanleggPropertyType"/>
          <element minOccurs="0" name="assosiertGangfelt" type="nvdb:AbstraktGangfeltPropertyType"/>
          <element minOccurs="0" name="assosiertReferansestolpe" type="nvdb:AbstraktReferansestolpePropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkspeil" type="nvdb:AbstraktTrafikkspeilPropertyType"/>
          <element minOccurs="0" name="assosiertSignalpunkt" type="nvdb:AbstraktSignalpunktPropertyType"/>
          <element minOccurs="0" name="assosiertVindmåler" type="nvdb:AbstraktVindmålerPropertyType"/>
          <element minOccurs="0" name="assosiertTunnelsjakt" type="nvdb:AbstraktTunnelsjaktPropertyType"/>
          <element minOccurs="0" name="assosiertTunnelportal" type="nvdb:AbstraktTunnelportalPropertyType"/>
          <element minOccurs="0" name="assosiertPortDør" type="nvdb:AbstraktPortDørPropertyType"/>
          <element minOccurs="0" name="assosiertSnuplass" type="nvdb:AbstraktSnuplassPropertyType"/>
          <element minOccurs="0" name="assosiertTrafo" type="nvdb:AbstraktTrafoPropertyType"/>
          <element minOccurs="0" name="assosiertVegbom" type="nvdb:AbstraktVegbomPropertyType"/>
          <element minOccurs="0" name="assosiertBrannslokningsapparat" type="nvdb:AbstraktBrannslokningsapparatPropertyType"/>
          <element minOccurs="0" name="assosiertVariabeltSkilt" type="nvdb:AbstraktVariabeltSkiltPropertyType"/>
          <element minOccurs="0" name="assosiertTelefonsentral" type="nvdb:AbstraktTelefonsentralPropertyType"/>
          <element minOccurs="0" name="assosiertVegoppmerking_Tverrgående" type="nvdb:AbstraktVegoppmerking_TverrgåendePropertyType"/>
          <element minOccurs="0" name="assosiertStyreapparat" type="nvdb:AbstraktStyreapparatPropertyType"/>
          <element minOccurs="0" name="assosiertKum" type="nvdb:AbstraktKumPropertyType"/>
          <element minOccurs="0" name="assosiertAntenne" type="nvdb:AbstraktAntennePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element minOccurs="0" name="assosiertVærstasjon" type="nvdb:AbstraktVærstasjonPropertyType"/>
          <element minOccurs="0" name="assosiertSkap_Teknisk" type="nvdb:AbstraktSkap_TekniskPropertyType"/>
          <element minOccurs="0" name="assosiertBrannslokkingsanlegg" type="nvdb:AbstraktBrannslokkingsanleggPropertyType"/>
          <element minOccurs="0" name="assosiertVannstandsmåler" type="nvdb:AbstraktVannstandsmålerPropertyType"/>
          <element minOccurs="0" name="assosiertLekeapparat" type="nvdb:AbstraktLekeapparatPropertyType"/>
          <element minOccurs="0" name="assosiertTemperaturmåler" type="nvdb:AbstraktTemperaturmålerPropertyType"/>
          <element minOccurs="0" name="assosiertTunnelport" type="nvdb:AbstraktTunnelportPropertyType"/>
          <element minOccurs="0" name="assosiertStikkrenneKulvert" type="nvdb:AbstraktStikkrenneKulvertPropertyType"/>
          <element minOccurs="0" name="assosiertBygning" type="nvdb:AbstraktBygningPropertyType"/>
          <element minOccurs="0" name="assosiertBelysningspunkt" type="nvdb:AbstraktBelysningspunktPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkadeFU_PunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkadeFU_Punkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
