GML/762.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>762: Gir informasjon om funksjonalitet. Normalt knyttet til et spesifikt punkt-objekt.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EtterslepTilstandskade FU, punktType">
      <annotation>
         <documentation>7592: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7592</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Etterslep</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EtterslepTilstandskade FU, punktEnumerationType nvdb:EtterslepTilstandskade FU, punktOtherType"/>
   </simpleType>
   <simpleType name="EtterslepTilstandskade FU, punktEnumerationType">
      <annotation>
         <documentation>7592: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7592</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Etterslep</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9894</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9895</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EtterslepTilstandskade FU, punktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tilstandskade FU, punkt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandskade FU, punktType">
      <annotation>
         <documentation>762: Gir informasjon om funksjonalitet. Normalt knyttet til et spesifikt punkt-objekt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">762</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandskade FU, punkt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandskade FU, punktType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0"
                        name="etterslep"
                        type="nvdb:EtterslepTilstandskade FU, punktType">
                  <annotation>
                     <documentation>7592: Angir om det er etterslep i forhold til Håndbok R610 (111).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7592</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etterslep</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoKontrollert" type="date">
                  <annotation>
                     <documentation>7591: Angir dato for når kontroll ble foretatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7591</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>7593: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7593</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>7598: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7598</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandskade FU, punktPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandskade FU, punkt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
