GML/765.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Friksjonsforbedring" substitutionGroup="nvdb:AbstraktFriksjonsforbedring" type="nvdb:FriksjonsforbedringType">
    <annotation>
      <documentation>765: Strekning der det er spesielle krav om vintervedlikehold i form av salting, sanding etc.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">765</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">765</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Friksjonsforbedring</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FriksjonsforbedringType">
    <complexContent>
      <extension base="nvdb:AbstraktFriksjonsforbedringType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeFriksjonsforbedringType">
            <annotation>
              <documentation>7821: Angir hvilken type friksjonsforbedring det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7821</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>7837: Angir merknad. Statisk informasjon knyttet til forekomst.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7837</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FriksjonsforbedringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Friksjonsforbedring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeFriksjonsforbedringType">
    <annotation>
      <documentation>7821: Angir hvilken type friksjonsforbedring det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7821</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7821</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeFriksjonsforbedringEnumerationType nvdb:TypeFriksjonsforbedringOtherType"/>
  </simpleType>
  <simpleType name="TypeFriksjonsforbedringEnumerationType">
    <annotation>
      <documentation>7821: Angir hvilken type friksjonsforbedring det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7821</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7821</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Punktstrøing">
        <annotation>
          <documentation>9905: Punktstrøing</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9905</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Punktstrøing</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFriksjonsforbedringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
