GML/765.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Friksjonsforbedring" substitutionGroup="nvdb:AbstraktFriksjonsforbedring" type="nvdb:FriksjonsforbedringType">
    <annotation>
      <documentation>765: Strekning der det er spesielle krav om vintervedlikehold i form av salting, sanding etc.</documentation>
    </annotation>
  </element>
  <complexType name="FriksjonsforbedringType">
    <complexContent>
      <extension base="nvdb:AbstraktFriksjonsforbedringType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeFriksjonsforbedringType">
            <annotation>
              <documentation>7821: Angir hvilken type friksjonsforbedring det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>7837: Angir merknad.  Statisk informasjon knyttet til forekomst</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FriksjonsforbedringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Friksjonsforbedring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeFriksjonsforbedringType">
    <annotation>
      <documentation>7821: Angir hvilken type friksjonsforbedring det er tale om</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeFriksjonsforbedringEnumerationType nvdb:TypeFriksjonsforbedringOtherType"/>
  </simpleType>
  <simpleType name="TypeFriksjonsforbedringEnumerationType">
    <annotation>
      <documentation>7821: Angir hvilken type friksjonsforbedring det er tale om</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="punktstrøing">
        <annotation>
          <documentation>9905: Punktstrøing</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFriksjonsforbedringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
