GML/766.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierOppslagstavleForRutetabellType">
    <annotation>
      <documentation>8047: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8047</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8047</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierOppslagstavleForRutetabellEnumerationType nvdb:EierOppslagstavleForRutetabellOtherType"/>
  </simpleType>
  <simpleType name="EierOppslagstavleForRutetabellEnumerationType">
    <annotation>
      <documentation>8047: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8047</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8047</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10313: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10313</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18545: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18545</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10774: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10774</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10377: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10377</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10441: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10441</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17661: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17661</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierOppslagstavleForRutetabellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrOppslagstavleForRutetabellType">
    <annotation>
      <documentation>7830: Angir hva tavle er festet på.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7830</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7830</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppsettingsutstyrOppslagstavleForRutetabellEnumerationType nvdb:OppsettingsutstyrOppslagstavleForRutetabellOtherType"/>
  </simpleType>
  <simpleType name="OppsettingsutstyrOppslagstavleForRutetabellEnumerationType">
    <annotation>
      <documentation>7830: Angir hva tavle er festet på.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7830</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7830</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Vegg">
        <annotation>
          <documentation>9951: Vegg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9951</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stolpe">
        <annotation>
          <documentation>9952: Stolpe</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stolpe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Eget stativ">
        <annotation>
          <documentation>9953: Eget stativ</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9953</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eget stativ</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrOppslagstavleForRutetabellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="OppslagstavleForRutetabell" substitutionGroup="nvdb:AbstraktOppslagstavleForRutetabell" type="nvdb:OppslagstavleForRutetabellType">
    <annotation>
      <documentation>766: Tavle hvor det kan henges opp rutetabeller. Benyttes i forbindelse med holdeplasser.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">766</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">766</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppslagstavle for rutetabell</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="OppslagstavleForRutetabellType">
    <complexContent>
      <extension base="nvdb:AbstraktOppslagstavleForRutetabellType">
        <sequence>
          <element minOccurs="0" name="bredde" type="integer">
            <annotation>
              <documentation>7829: Angir bredde av oppslagsareal.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7829</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="integer">
            <annotation>
              <documentation>7828: Angir høyde av oppslagsareal.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7828</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nedreHøyde" type="integer">
            <annotation>
              <documentation>9885: Angir høyde ovre bakken for underkant av oppslagsarealet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9885</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Nedre høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrOppslagstavleForRutetabellType">
            <annotation>
              <documentation>7830: Angir hva tavle er festet på.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7830</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilkomst" type="nvdb:TilkomstType">
            <annotation>
              <documentation>9884: Angir om det er mulig å komme helt inntil rutetidsinformasjonen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9884</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilkomst</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10334: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10334</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>7827: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7827</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierOppslagstavleForRutetabellType">
            <annotation>
              <documentation>8047: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8047</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligOppslagstavleForRutetabellType">
            <annotation>
              <documentation>8125: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8125</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8850: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8850</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHoldeplassutrustning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHoldeplassutrustning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OppslagstavleForRutetabellPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:OppslagstavleForRutetabell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilkomstType">
    <annotation>
      <documentation>9884: Angir om det er mulig å komme helt inntil rutetidsinformasjonen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9884</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9884</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilkomst</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilkomstEnumerationType nvdb:TilkomstOtherType"/>
  </simpleType>
  <simpleType name="TilkomstEnumerationType">
    <annotation>
      <documentation>9884: Angir om det er mulig å komme helt inntil rutetidsinformasjonen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9884</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9884</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilkomst</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16062: Det er mulig å komme helt inn til rutetidsinformasjonen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16062</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16063: Det er ikke mulig å komme helt inn til rutetidsinformasjonen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16063</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilkomstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligOppslagstavleForRutetabellType">
    <annotation>
      <documentation>8125: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8125</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8125</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligOppslagstavleForRutetabellEnumerationType nvdb:VedlikeholdsansvarligOppslagstavleForRutetabellOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligOppslagstavleForRutetabellEnumerationType">
    <annotation>
      <documentation>8125: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8125</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8125</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10519: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10519</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18754: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18754</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19976: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19976</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18883: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18883</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10597: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10597</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10675: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10675</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17759: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17759</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligOppslagstavleForRutetabellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
