GML/766.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierOppslagstavleForRutetabellType">
    <annotation>
      <documentation>8047: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierOppslagstavleForRutetabellEnumerationType nvdb:EierOppslagstavleForRutetabellOtherType"/>
  </simpleType>
  <simpleType name="EierOppslagstavleForRutetabellEnumerationType">
    <annotation>
      <documentation>8047: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10313: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18545: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10774: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10377: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10441: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17661: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierOppslagstavleForRutetabellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrOppslagstavleForRutetabellType">
    <annotation>
      <documentation>7830: Angir hva tavle er festet på.</documentation>
    </annotation>
    <union memberTypes="nvdb:OppsettingsutstyrOppslagstavleForRutetabellEnumerationType nvdb:OppsettingsutstyrOppslagstavleForRutetabellOtherType"/>
  </simpleType>
  <simpleType name="OppsettingsutstyrOppslagstavleForRutetabellEnumerationType">
    <annotation>
      <documentation>7830: Angir hva tavle er festet på.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="vegg">
        <annotation>
          <documentation>9951: Vegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stolpe">
        <annotation>
          <documentation>9952: Stolpe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="egetStativ">
        <annotation>
          <documentation>9953: Eget stativ</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrOppslagstavleForRutetabellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="OppslagstavleForRutetabell" substitutionGroup="nvdb:AbstraktOppslagstavleForRutetabell" type="nvdb:OppslagstavleForRutetabellType">
    <annotation>
      <documentation>766: Tavle hvor det kan henges opp rutetabeller.  Benyttes i forbindelse med holdeplasser.</documentation>
    </annotation>
  </element>
  <complexType name="OppslagstavleForRutetabellType">
    <complexContent>
      <extension base="nvdb:AbstraktOppslagstavleForRutetabellType">
        <sequence>
          <element minOccurs="0" name="bredde" type="integer">
            <annotation>
              <documentation>7829: Angir bredde av oppslagsareal
Enhet: Centimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="integer">
            <annotation>
              <documentation>7828: Angir høyde av oppslagsareal
Enhet: Centimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nedreHøyde" type="integer">
            <annotation>
              <documentation>9885: Angir høyde ovre bakken for underkant av oppslagsarealet
Enhet: Centimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrOppslagstavleForRutetabellType">
            <annotation>
              <documentation>7830: Angir hva tavle er festet på.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilkomst" type="nvdb:TilkomstType">
            <annotation>
              <documentation>9884: Angir om det er mulig å komme helt inntil rutetidsinformasjonen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10334: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>7827: Angir informasjon om materiale, montering e.l.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierOppslagstavleForRutetabellType">
            <annotation>
              <documentation>8047: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligOppslagstavleForRutetabellType">
            <annotation>
              <documentation>8125: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8850: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OppslagstavleForRutetabellPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:OppslagstavleForRutetabell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilkomstType">
    <annotation>
      <documentation>9884: Angir om det er mulig å komme helt inntil rutetidsinformasjonen</documentation>
    </annotation>
    <union memberTypes="nvdb:TilkomstEnumerationType nvdb:TilkomstOtherType"/>
  </simpleType>
  <simpleType name="TilkomstEnumerationType">
    <annotation>
      <documentation>9884: Angir om det er mulig å komme helt inntil rutetidsinformasjonen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16062: Det er mulig å komme helt inn til rutetidsinformasjonen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16063: Det er ikke mulig å komme helt inn til rutetidsinformasjonen</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilkomstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligOppslagstavleForRutetabellType">
    <annotation>
      <documentation>8125: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligOppslagstavleForRutetabellEnumerationType nvdb:VedlikeholdsansvarligOppslagstavleForRutetabellOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligOppslagstavleForRutetabellEnumerationType">
    <annotation>
      <documentation>8125: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10519: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18754: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19976: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18883: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10597: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10675: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17759: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligOppslagstavleForRutetabellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
