GML/766.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>766: Tavle hvor det kan henges opp rutetabeller. Benyttes i forbindelse med holdeplasser.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AdgangOppslagstavle for rutetabellType">
      <annotation>
         <documentation>9884: Angir om det er mulig, også med f.eks. rullestol, å komme helt inntil oppslagstavle for rutetabell.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9884</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adgang</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AdgangOppslagstavle for rutetabellEnumerationType nvdb:AdgangOppslagstavle for rutetabellOtherType"/>
   </simpleType>
   <simpleType name="AdgangOppslagstavle for rutetabellEnumerationType">
      <annotation>
         <documentation>9884: Angir om det er mulig, også med f.eks. rullestol, å komme helt inntil oppslagstavle for rutetabell.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9884</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adgang</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <documentation>16062: Det er mulig å komme helt inn til rutetidsinformasjonen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16062</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <documentation>16063: Det er ikke mulig å komme helt inn til rutetidsinformasjonen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16063</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AdgangOppslagstavle for rutetabellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierOppslagstavle for rutetabellType">
      <annotation>
         <documentation>8047: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8047</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierOppslagstavle for rutetabellEnumerationType nvdb:EierOppslagstavle for rutetabellOtherType"/>
   </simpleType>
   <simpleType name="EierOppslagstavle for rutetabellEnumerationType">
      <annotation>
         <documentation>8047: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8047</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10774</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10377</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10441</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18545</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10313</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17661: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17661</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierOppslagstavle for rutetabellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OppsettingsutstyrOppslagstavle for rutetabellType">
      <annotation>
         <documentation>7830: Angir hva tavle er festet på.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7830</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OppsettingsutstyrOppslagstavle for rutetabellEnumerationType nvdb:OppsettingsutstyrOppslagstavle for rutetabellOtherType"/>
   </simpleType>
   <simpleType name="OppsettingsutstyrOppslagstavle for rutetabellEnumerationType">
      <annotation>
         <documentation>7830: Angir hva tavle er festet på.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7830</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ES">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9953</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Eget stativ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9952</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9951</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OppsettingsutstyrOppslagstavle for rutetabellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Oppslagstavle for rutetabell"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Oppslagstavle for rutetabellType">
      <annotation>
         <documentation>766: Tavle hvor det kan henges opp rutetabeller. Benyttes i forbindelse med holdeplasser.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">766</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppslagstavle for rutetabell</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Oppslagstavle for rutetabellType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="høydeOverkant" type="integer">
                  <annotation>
                     <documentation>7828: Høyde over bakken for øvre kant av oppslagstavle for rutetabell.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7828</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde overkant</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høydeUnderkant" type="integer">
                  <annotation>
                     <documentation>9885: Høyde over bakken for nedre kant av oppslagstavle for rutetabell.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9885</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde underkant</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde" type="integer">
                  <annotation>
                     <documentation>7829: Angir bredde av oppslagsareal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7829</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="adgang" type="nvdb:AdgangOppslagstavle for rutetabellType">
                  <annotation>
                     <documentation>9884: Angir om det er mulig, også med f.eks. rullestol, å komme helt inntil oppslagstavle for rutetabell.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9884</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Adgang</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="ruteinformasjon"
                        type="nvdb:RuteinformasjonOppslagstavle for rutetabellType">
                  <annotation>
                     <documentation>12962: Angir hvilken type informasjon det er om ruter for kollektivtransport.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12962</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Ruteinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="oppsettingsutstyr"
                        type="nvdb:OppsettingsutstyrOppslagstavle for rutetabellType">
                  <annotation>
                     <documentation>7830: Angir hva tavle er festet på.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7830</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10334: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10334</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>7827: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7827</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="eier"
                        type="nvdb:EierOppslagstavle for rutetabellType">
                  <annotation>
                     <documentation>8047: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8047</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligOppslagstavle for rutetabellType">
                  <annotation>
                     <documentation>8125: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8125</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>8850: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8850</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Oppslagstavle for rutetabellPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Oppslagstavle for rutetabell"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="RuteinformasjonOppslagstavle for rutetabellType">
      <annotation>
         <documentation>12962: Angir hvilken type informasjon det er om ruter for kollektivtransport.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12962</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ruteinformasjon</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RuteinformasjonOppslagstavle for rutetabellEnumerationType nvdb:RuteinformasjonOppslagstavle for rutetabellOtherType"/>
   </simpleType>
   <simpleType name="RuteinformasjonOppslagstavle for rutetabellEnumerationType">
      <annotation>
         <documentation>12962: Angir hvilken type informasjon det er om ruter for kollektivtransport.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12962</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ruteinformasjon</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="QR">
            <annotation>
               <documentation>22522: Det er oppslag som viser QR kode til nettsted hvor det finnes informasjon om rutetabeller.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22522</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">QR-kode</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RT">
            <annotation>
               <documentation>22521: Det er oppslag som viser rutetabell.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22521</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rutetabell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RuteinformasjonOppslagstavle for rutetabellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligOppslagstavle for rutetabellType">
      <annotation>
         <documentation>8125: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8125</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligOppslagstavle for rutetabellEnumerationType nvdb:VedlikeholdsansvarligOppslagstavle for rutetabellOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligOppslagstavle for rutetabellEnumerationType">
      <annotation>
         <documentation>8125: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8125</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19976</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10597</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18754</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18883</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10675</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10519</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17759</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligOppslagstavle for rutetabellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
