GML/77.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>77: Rør som fører væske eller gass. Merknad: Rørledning for føring av ledninger/kabler er definert som egen vegobjekttype Trekkerør.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeRørledningType">
      <annotation>
         <documentation>1267: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1267</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeRørledningEnumerationType nvdb:BruksområdeRørledningOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeRørledningEnumerationType">
      <annotation>
         <documentation>1267: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1267</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2894</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjernkjøling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ft">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2893</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjernvarme</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2895</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gassledning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2899</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kulvert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="o">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2896</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oljeledning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2886</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="va">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2892</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, avløp, felles</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vd">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2890</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, drenering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2887</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, hovedledning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vin">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18307</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, infiltrering i grunnen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vo">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2889</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, overvann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4863</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, pumpeledning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2891</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, spillvann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2888</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, stikkledning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2897</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ventilasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeRørledningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierRørledningType">
      <annotation>
         <documentation>5821: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5821</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierRørledningEnumerationType nvdb:EierRørledningOtherType"/>
   </simpleType>
   <simpleType name="EierRørledningEnumerationType">
      <annotation>
         <documentation>5821: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5821</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10708</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8242</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8268</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18597</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8216</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17563</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierRørledningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="HarInnløpsristRørledningType">
      <annotation>
         <documentation>1922: Angir om det er innløpsrist i tilknytning til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1922</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Har innløpsrist</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:HarInnløpsristRørledningEnumerationType nvdb:HarInnløpsristRørledningOtherType"/>
   </simpleType>
   <simpleType name="HarInnløpsristRørledningEnumerationType">
      <annotation>
         <documentation>1922: Angir om det er innløpsrist i tilknytning til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1922</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Har innløpsrist</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3530</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3568</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="HarInnløpsristRørledningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeRørledningType">
      <annotation>
         <documentation>1410: Angir primær materialtype for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1410</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeRørledningEnumerationType nvdb:MaterialtypeRørledningOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeRørledningEnumerationType">
      <annotation>
         <documentation>1410: Angir primær materialtype for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1410</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2210</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2375</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glassfiber</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2238</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2246</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, stål, duktilt støpjern</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2233</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, stål, galvanisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2245</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, stål, korrugert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2256</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturstein/fjell, murstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2271</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pa">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2277</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast, abs-rør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pdv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17368</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast, DV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pn">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2276</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast, npf8001</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pe">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2281</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast, pe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2282</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast, pel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2280</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast, pp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pc">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2278</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast, pvc-rør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2376</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Teglstein, murstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeRørledningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RehabiliteringRørledningType">
      <annotation>
         <documentation>1927: Angir om vegobjektet har vært rehabilitert og hvilken form for rehabilitering.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1927</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rehabilitering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RehabiliteringRørledningEnumerationType nvdb:RehabiliteringRørledningOtherType"/>
   </simpleType>
   <simpleType name="RehabiliteringRørledningEnumerationType">
      <annotation>
         <documentation>1927: Angir om vegobjektet har vært rehabilitert og hvilken form for rehabilitering.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1927</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rehabilitering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="du">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2922</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Delvis utskifting</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ex">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2921</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Epoxy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ps">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3958</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oppblåsbar indre plaststrømpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RehabiliteringRørledningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Rørledning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:RørledningType">
      <annotation>
         <documentation>77: Rør som fører væske eller gass. Merknad: Rørledning for føring av ledninger/kabler er definert som egen vegobjekttype Trekkerør.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">77</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rørledning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="RørledningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeRørledningType">
                  <annotation>
                     <documentation>1267: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1267</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialtype" type="nvdb:MaterialtypeRørledningType">
                  <annotation>
                     <documentation>1410: Angir primær materialtype for vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1410</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="tverrsnittform"
                        type="nvdb:TverrsnittformRørledningType">
                  <annotation>
                     <documentation>1677: Angir hvilken form tverrsnittet av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1677</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tverrsnittform</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="diameter" type="integer">
                  <annotation>
                     <documentation>1724: Angir diameter av rørledning. Det angis ytre eller indre diameter ut fra hva som er standard for aktuell rørtype.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1724</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Diameter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tykkelse" type="double">
                  <annotation>
                     <documentation>1623: Angir standard tykkelse av godset i rørledningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1623</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tykkelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>1322: Angir lengde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1322</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="elementlengde" type="double">
                  <annotation>
                     <documentation>1967: Angir normal lengde av enkeltelement. Lengde av enkeltrør.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1967</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Elementlengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="helningFall" type="double">
                  <annotation>
                     <documentation>1755: Angir fall på rørledning i lengderetning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1755</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Helning/Fall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="harInnløpsrist">
                  <annotation>
                     <documentation>1922: Angir om det er innløpsrist i tilknytning til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1922</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Har innløpsrist</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="farge" type="string">
                  <annotation>
                     <documentation>1292: Angir hovedfarge til vegobjektet. Mest aktuelt for plastrør.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1292</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="skjøtemetode"
                        type="nvdb:SkjøtemetodeRørledningType">
                  <annotation>
                     <documentation>1924: Angir hvordan rørene er sammenkoplet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1924</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skjøtemetode</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="rehabilitering"
                        type="nvdb:RehabiliteringRørledningType">
                  <annotation>
                     <documentation>1927: Angir om vegobjektet har vært rehabilitert og hvilken form for rehabilitering.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1927</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rehabilitering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10350: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10350</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produsent" type="string">
                  <annotation>
                     <documentation>1523: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1523</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>1483: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1483</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>10882: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10882</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivnummer" type="string">
                  <annotation>
                     <documentation>11306: Gir referanse til relevant sak i vegeiers arkivsystem.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11306</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11066: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11066</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12305: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12305</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierRørledningType">
                  <annotation>
                     <documentation>5821: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5821</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier_Navn" type="string">
                  <annotation>
                     <documentation>10877: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10877</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligRørledningType">
                  <annotation>
                     <documentation>5806: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5806</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4778: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4778</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="RørledningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Rørledning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="SkjøtemetodeRørledningType">
      <annotation>
         <documentation>1924: Angir hvordan rørene er sammenkoplet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjøtemetode</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkjøtemetodeRørledningEnumerationType nvdb:SkjøtemetodeRørledningOtherType"/>
   </simpleType>
   <simpleType name="SkjøtemetodeRørledningEnumerationType">
      <annotation>
         <documentation>1924: Angir hvordan rørene er sammenkoplet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjøtemetode</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2915</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Butt i butt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fa">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2913</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fals</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2914</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flens</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2909</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helstøpt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3942</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Krympeplast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2911</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Muffe med pakning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2912</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Muffe uten pakning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2910</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sveist</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkjøtemetodeRørledningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TverrsnittformRørledningType">
      <annotation>
         <documentation>1677: Angir hvilken form tverrsnittet av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1677</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tverrsnittform</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TverrsnittformRørledningEnumerationType nvdb:TverrsnittformRørledningOtherType"/>
   </simpleType>
   <simpleType name="TverrsnittformRørledningEnumerationType">
      <annotation>
         <documentation>1677: Angir hvilken form tverrsnittet av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1677</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tverrsnittform</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="e">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16702</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ellipse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="f">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2533</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Firkanta</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2528</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sirkulært</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TverrsnittformRørledningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligRørledningType">
      <annotation>
         <documentation>5806: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5806</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligRørledningEnumerationType nvdb:VedlikeholdsansvarligRørledningOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligRørledningEnumerationType">
      <annotation>
         <documentation>5806: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5806</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19915</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8227</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18725</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18854</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8253</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8201</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17694</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligRørledningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
