GML/77.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeRørledningType">
    <annotation>
      <documentation>1267: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdeRørledningEnumerationType nvdb:BruksområdeRørledningOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeRørledningEnumerationType">
    <annotation>
      <documentation>1267: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="vann">
        <annotation>
          <documentation>2886: Vann</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vann_Drenering">
        <annotation>
          <documentation>2890: Angis når det er benyttet drensrør, dvs. rør som har åpning for infiltrering av vann fra grunnen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vann_Overvann">
        <annotation>
          <documentation>2889: Tette rør for transport av dreneringsvann</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vann_Stikkledning">
        <annotation>
          <documentation>2888: Vann, stikkledning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vann_Hovedledning">
        <annotation>
          <documentation>2887: Vann, hovedledning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vann_Pumpeledning">
        <annotation>
          <documentation>4863: Vann, pumpeledning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vann_Spillvann">
        <annotation>
          <documentation>2891: Vann, spillvann</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vann_Avløp_Felles">
        <annotation>
          <documentation>2892: Vann, avløp, felles</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vann_InfiltreringIGrunnen">
        <annotation>
          <documentation>18307: Rør med åpninger/hull, benyttes for å magasinere vann i grunnen, dvs motsatt av å drenere.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fjernvarme">
        <annotation>
          <documentation>2893: Fjernvarme</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fjernkjøling">
        <annotation>
          <documentation>2894: Fjernkjøling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gassledning">
        <annotation>
          <documentation>2895: Gassledning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oljeledning">
        <annotation>
          <documentation>2896: Oljeledning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ventilasjon">
        <annotation>
          <documentation>2897: Ventilasjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kulvert">
        <annotation>
          <documentation>2899: Kulvert</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeRørledningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierRørledningType">
    <annotation>
      <documentation>5821: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierRørledningEnumerationType nvdb:EierRørledningOtherType"/>
  </simpleType>
  <simpleType name="EierRørledningEnumerationType">
    <annotation>
      <documentation>5821: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>8216: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18597: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10708: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>8242: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>8268: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17563: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierRørledningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HarInnløpsristType">
    <annotation>
      <documentation>1922: Angir om det er innløpsrist i tilknytning til vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:HarInnløpsristEnumerationType nvdb:HarInnløpsristOtherType"/>
  </simpleType>
  <simpleType name="HarInnløpsristEnumerationType">
    <annotation>
      <documentation>1922: Angir om det er innløpsrist i tilknytning til vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3530: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3568: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HarInnløpsristOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeRørledningType">
    <annotation>
      <documentation>1410: Angir primær materialtype for vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeRørledningEnumerationType nvdb:MaterialtypeRørledningOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeRørledningEnumerationType">
    <annotation>
      <documentation>1410: Angir primær materialtype for vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="betong">
        <annotation>
          <documentation>2210: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="metall_Stål_Galvanisert">
        <annotation>
          <documentation>2233: Metall, stål, galvanisert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="metall_Stål">
        <annotation>
          <documentation>2238: Metall, stål</documentation>
        </annotation>
      </enumeration>
      <enumeration value="metall_Stål_DuktiltStøpjern">
        <annotation>
          <documentation>2246: Metall, stål, duktilt støpjern</documentation>
        </annotation>
      </enumeration>
      <enumeration value="metall_Stål_Korrugert">
        <annotation>
          <documentation>2245: Metall, stål, korrugert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plast">
        <annotation>
          <documentation>2271: Plast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plast_Npf8001">
        <annotation>
          <documentation>2276: Plast, npf8001</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plast_Abs_Rør">
        <annotation>
          <documentation>2277: Plast, abs-rør</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plast_Pvc_Rør">
        <annotation>
          <documentation>2278: Plast, pvc-rør</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plast_Pp">
        <annotation>
          <documentation>2280: Plast, pp</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plast_Pe">
        <annotation>
          <documentation>2281: Plast, pe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plast_DV">
        <annotation>
          <documentation>17368: Dobbeltvegget plastrør</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plast_Pel">
        <annotation>
          <documentation>2282: Plast, pel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="glassfiber">
        <annotation>
          <documentation>2375: Glassfiber</documentation>
        </annotation>
      </enumeration>
      <enumeration value="natursteinFjell_Murstein">
        <annotation>
          <documentation>2256: Naturstein/fjell, murstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="teglstein_Murstein">
        <annotation>
          <documentation>2376: Teglstein, murstein</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeRørledningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RehabiliteringType">
    <annotation>
      <documentation>1927: Angir om vegobjektet har vært rehabilitert og hvilken form for rehabilitering</documentation>
    </annotation>
    <union memberTypes="nvdb:RehabiliteringEnumerationType nvdb:RehabiliteringOtherType"/>
  </simpleType>
  <simpleType name="RehabiliteringEnumerationType">
    <annotation>
      <documentation>1927: Angir om vegobjektet har vært rehabilitert og hvilken form for rehabilitering</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="epoxy">
        <annotation>
          <documentation>2921: Epoxy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="delvisUtskifting">
        <annotation>
          <documentation>2922: Delvis utskifting</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oppblåsbarIndrePlaststrømpe">
        <annotation>
          <documentation>3958: Oppblåsbar indre plaststrømpe</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RehabiliteringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Rørledning" substitutionGroup="nvdb:AbstraktRørledning" type="nvdb:RørledningType">
    <annotation>
      <documentation>77: Rør som fører væske eller gass. Merknad: Rørledning for føring av ledninger/kabler er definert som egen vegobjekttype Trekkerør.</documentation>
    </annotation>
  </element>
  <complexType name="RørledningType">
    <complexContent>
      <extension base="nvdb:AbstraktRørledningType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeRørledningType">
            <annotation>
              <documentation>1267: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="materialtype" type="nvdb:MaterialtypeRørledningType">
            <annotation>
              <documentation>1410: Angir primær materialtype for vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrsnittform" type="nvdb:TverrsnittformType">
            <annotation>
              <documentation>1677: Angir hvilken form tverrsnittet av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="diameter" type="integer">
            <annotation>
              <documentation>1724: Angir diameter av rørledning. Det angis ytre eller indre diameter ut fra hva som er standard for aktuell rørtype.
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tykkelse" type="double">
            <annotation>
              <documentation>1623: Angir standard tykkelse av godset i rørledningen
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1322: Angir lengde av vegobjektet
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="elementlengde" type="double">
            <annotation>
              <documentation>1967: Angir normal lengde av enkeltelement.  Lengde av enkeltrør
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="helningFall" type="double">
            <annotation>
              <documentation>1755: Angir fall på rørledning i lengderetning.
Enhet: Forholdstall</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="harInnløpsrist" type="nvdb:HarInnløpsristType">
            <annotation>
              <documentation>1922: Angir om det er innløpsrist i tilknytning til vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="farge" type="string">
            <annotation>
              <documentation>1292: Angir hovedfarge til vegobjektet. Mest aktuelt for plastrør</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skjøtemetode" type="nvdb:SkjøtemetodeType">
            <annotation>
              <documentation>1924: Angir hvordan rørene er sammenkoplet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rehabilitering" type="nvdb:RehabiliteringType">
            <annotation>
              <documentation>1927: Angir om vegobjektet har vært rehabilitert og hvilken form for rehabilitering</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10350: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>1523: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>1483: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10882: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer" type="string">
            <annotation>
              <documentation>11306: Gir referanse til relevant sak i vegeiers arkivsystem</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11066: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierRørledningType">
            <annotation>
              <documentation>5821: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>10877: Navn på eier av  vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligRørledningType">
            <annotation>
              <documentation>5806: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4778: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="nvdb:AbstraktTilstandSkade_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element minOccurs="0" name="assosiertLukketRørgrøft" type="nvdb:AbstraktLukketRørgrøftPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RørledningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Rørledning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="SkjøtemetodeType">
    <annotation>
      <documentation>1924: Angir hvordan rørene er sammenkoplet</documentation>
    </annotation>
    <union memberTypes="nvdb:SkjøtemetodeEnumerationType nvdb:SkjøtemetodeOtherType"/>
  </simpleType>
  <simpleType name="SkjøtemetodeEnumerationType">
    <annotation>
      <documentation>1924: Angir hvordan rørene er sammenkoplet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="helstøpt">
        <annotation>
          <documentation>2909: Helstøpt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sveist">
        <annotation>
          <documentation>2910: Sveist</documentation>
        </annotation>
      </enumeration>
      <enumeration value="muffeMedPakning">
        <annotation>
          <documentation>2911: Muffe med pakning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="muffeUtenPakning">
        <annotation>
          <documentation>2912: Muffe uten pakning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fals">
        <annotation>
          <documentation>2913: Fals</documentation>
        </annotation>
      </enumeration>
      <enumeration value="flens">
        <annotation>
          <documentation>2914: Flens</documentation>
        </annotation>
      </enumeration>
      <enumeration value="buttIButt">
        <annotation>
          <documentation>2915: Butt i butt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="krympeplast">
        <annotation>
          <documentation>3942: Krympeplast</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkjøtemetodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TverrsnittformType">
    <annotation>
      <documentation>1677: Angir hvilken form tverrsnittet av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:TverrsnittformEnumerationType nvdb:TverrsnittformOtherType"/>
  </simpleType>
  <simpleType name="TverrsnittformEnumerationType">
    <annotation>
      <documentation>1677: Angir hvilken form tverrsnittet av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="sirkulært">
        <annotation>
          <documentation>2528: Sirkulært</documentation>
        </annotation>
      </enumeration>
      <enumeration value="firkanta">
        <annotation>
          <documentation>2533: Firkanta</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ellipse">
        <annotation>
          <documentation>16702: Ellipse</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TverrsnittformOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligRørledningType">
    <annotation>
      <documentation>5806: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligRørledningEnumerationType nvdb:VedlikeholdsansvarligRørledningOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligRørledningEnumerationType">
    <annotation>
      <documentation>5806: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>8201: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18725: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19915: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18854: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>8227: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>8253: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17694: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligRørledningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
