GML/770.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DriftsstatusFerjesambandType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9189</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9189</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Driftsstatus</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DriftsstatusFerjesambandEnumerationType nvdb:DriftsstatusFerjesambandOtherType"/>
  </simpleType>
  <simpleType name="DriftsstatusFerjesambandEnumerationType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9189</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9189</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Driftsstatus</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Helårssamband">
        <annotation>
          <documentation>12858: Sambandet trafikkeres hele året.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12858</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Helårssamband</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Helårs med sambandsutvidelse sommersesong">
        <annotation>
          <documentation>21731: Sambandet består av flere overfarter der deler av disse bare trafikkeres i sommersesongen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21731</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Helårs med sambandsutvidelse sommersesong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sommersamband">
        <annotation>
          <documentation>21525: Sambandet trafikkeres en periode i sommerhalvåret.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21525</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sommersamband</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nedlagt">
        <annotation>
          <documentation>12859: Sambandet er ikke lenger i drift.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12859</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nedlagt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DriftsstatusFerjesambandOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Ferjesamband" substitutionGroup="nvdb:AbstraktFerjesamband" type="nvdb:FerjesambandType">
    <annotation>
      <documentation>770: Overfart som trafikkeres av bilferje. Kan ha to eller flere anløpssteder.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">770</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">770</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ferjesamband</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FerjesambandType">
    <complexContent>
      <extension base="nvdb:AbstraktFerjesambandType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>9186: Angir navn på ferjesambandet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9186</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="FDB_Ferjesambands_Id" type="integer">
            <annotation>
              <documentation>9187: Unik ID for ferjesamband. Benyttes i Ferjedatabanken og i billetteringssystem.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9187</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">FDB_Ferjesambands_Id</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="neTEx_id" type="string">
            <annotation>
              <documentation>12509: Unik ID for ferjesambandet. ID skal være i henhold til NeTEx-format og være lik ferjesambandets ID i nasjonal rutebank/Entur. Eksempel: "MOR:Line:48"</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12509</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">NeTEx_id</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sambandstype" type="nvdb:SambandstypeType">
            <annotation>
              <documentation>10954: Angir hvilken type samband det er, dvs. om det er på stat-, fylke- eller kommunenivå.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10954</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sambandstype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsstatus" type="nvdb:DriftsstatusFerjesambandType">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9189</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsstatus</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="referanseTilEksternInfo" type="string">
            <annotation>
              <documentation>12145: Gir referanse til ekstern informasjon. Angis i form av URL.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12145</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Referanse til ekstern info</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftFraDato" type="string">
            <annotation>
              <documentation>12597: Angir dato (mmdd) når sommersambandet settes i drift i et normalår.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12597</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Drift fra dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftTilDato" type="string">
            <annotation>
              <documentation>12598: Angir dato (mmdd) når sommersambandet tas ut av drift et normalår.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12598</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Drift til dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FerjesambandPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Ferjesamband"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="SambandstypeType">
    <annotation>
      <documentation>10954: Angir hvilken type samband det er, dvs. om det er på stat-, fylke- eller kommunenivå.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10954</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10954</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sambandstype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SambandstypeEnumerationType nvdb:SambandstypeOtherType"/>
  </simpleType>
  <simpleType name="SambandstypeEnumerationType">
    <annotation>
      <documentation>10954: Angir hvilken type samband det er, dvs. om det er på stat-, fylke- eller kommunenivå.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10954</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10954</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sambandstype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Riksvegferjesamband">
        <annotation>
          <documentation>18304: Samband som administreres av stat.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18304</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Riksvegferjesamband</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkesferjesamband">
        <annotation>
          <documentation>18305: Samband som administreres av fylkeskommune.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18305</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkesferjesamband</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommuneferjesamband">
        <annotation>
          <documentation>18306: Ferjesamband som administreres av kommune.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18306</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommuneferjesamband</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat ferjesamband">
        <annotation>
          <documentation>21094: Samband som drives av privat aktør.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21094</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat ferjesamband</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SambandstypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
