GML/774.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>774: Serie med nedbøyningsmålinger.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="FormålNedbøyningsmåleserieType">
      <annotation>
         <documentation>7915: Angir formål med nedbøyningsmåling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7915</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FormålNedbøyningsmåleserieEnumerationType nvdb:FormålNedbøyningsmåleserieOtherType"/>
   </simpleType>
   <simpleType name="FormålNedbøyningsmåleserieEnumerationType">
      <annotation>
         <documentation>7915: Angir formål med nedbøyningsmåling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7915</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10090</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Parallellmåling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10091</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Referansestrekning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10093</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sommer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10092</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Teleløsning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FormålNedbøyningsmåleserieOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Nedbøyningsmåleserie"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:NedbøyningsmåleserieType">
      <annotation>
         <documentation>774: Serie med nedbøyningsmålinger.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">774</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nedbøyningsmåleserie</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="NedbøyningsmåleserieType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="formål" type="nvdb:FormålNedbøyningsmåleserieType">
                  <annotation>
                     <documentation>7915: Angir formål med nedbøyningsmåling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7915</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="måledato" type="date">
                  <annotation>
                     <documentation>8767: Dato for måling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8767</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Måledato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="spor" type="nvdb:SporNedbøyningsmåleserieType">
                  <annotation>
                     <documentation>7916: Angir hvor nedbøyning er foretatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7916</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spor</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="utstyrstype" type="nvdb:UtstyrstypeNedbøyningsmåleserieType">
                  <annotation>
                     <documentation>8768: Angir hvilken type utstyr som er benyttet ved nedbøyningsmåling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8768</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utstyrstype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="utstyrsid" type="string">
                  <annotation>
                     <documentation>8769: Angir Id for utstyrstype.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8769</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utstyrsid</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="operatør" type="string">
                  <annotation>
                     <documentation>8771: Angir hvem som er ansvarlig operatør ved dataregistrering.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8771</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Operatør</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="beskrivelse" type="string">
                  <annotation>
                     <documentation>11271: Beskrivelse som er aktuell for hele måleserie.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11271</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="måledatafilnavn" type="string">
                  <annotation>
                     <documentation>8770: Gir filnavn til rådatafil som ligger på o:\landsdekkende..</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8770</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Måledatafilnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="NedbøyningsmåleseriePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Nedbøyningsmåleserie"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="SporNedbøyningsmåleserieType">
      <annotation>
         <documentation>7916: Angir hvor nedbøyning er foretatt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7916</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spor</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SporNedbøyningsmåleserieEnumerationType nvdb:SporNedbøyningsmåleserieOtherType"/>
   </simpleType>
   <simpleType name="SporNedbøyningsmåleserieEnumerationType">
      <annotation>
         <documentation>7916: Angir hvor nedbøyning er foretatt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7916</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spor</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10087</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Indre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="M">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10088</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mellom spor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Y">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10089</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ytre spor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SporNedbøyningsmåleserieOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UtstyrstypeNedbøyningsmåleserieType">
      <annotation>
         <documentation>8768: Angir hvilken type utstyr som er benyttet ved nedbøyningsmåling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8768</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utstyrstype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UtstyrstypeNedbøyningsmåleserieEnumerationType nvdb:UtstyrstypeNedbøyningsmåleserieOtherType"/>
   </simpleType>
   <simpleType name="UtstyrstypeNedbøyningsmåleserieEnumerationType">
      <annotation>
         <documentation>8768: Angir hvilken type utstyr som er benyttet ved nedbøyningsmåling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8768</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utstyrstype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11608</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Benkelmann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="D">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11605</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dynaflect</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11606</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fallodd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11607</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lacroix</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tsd">
            <annotation>
               <documentation>19007: Vogntogbasert utstyr for å måle nedbøyningshastighet, som videre omregnes til nedbøyning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19007</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TSD</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UtstyrstypeNedbøyningsmåleserieOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
