GML/774.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="FormålNedbøyningsmåleserieType">
    <annotation>
      <documentation>7915: Angir formål med nedbøyningsmåling</documentation>
    </annotation>
    <union memberTypes="nvdb:FormålNedbøyningsmåleserieEnumerationType nvdb:FormålNedbøyningsmåleserieOtherType"/>
  </simpleType>
  <simpleType name="FormålNedbøyningsmåleserieEnumerationType">
    <annotation>
      <documentation>7915: Angir formål med nedbøyningsmåling</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="S">
        <annotation>
          <documentation>10093: Sommer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>10092: Teleløsning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>10090: Parallellmåling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>10091: Referansestrekning</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FormålNedbøyningsmåleserieOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Nedbøyningsmåleserie" substitutionGroup="nvdb:AbstraktNedbøyningsmåleserie" type="nvdb:NedbøyningsmåleserieType">
    <annotation>
      <documentation>774: Serie med nedbøyningsmålinger</documentation>
    </annotation>
  </element>
  <complexType name="NedbøyningsmåleserieType">
    <complexContent>
      <extension base="nvdb:AbstraktNedbøyningsmåleserieType">
        <sequence>
          <element minOccurs="0" name="formål" type="nvdb:FormålNedbøyningsmåleserieType">
            <annotation>
              <documentation>7915: Angir formål med nedbøyningsmåling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="måledato" type="date">
            <annotation>
              <documentation>8767: Dato for måling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spor" type="nvdb:SporNedbøyningsmåleserieType">
            <annotation>
              <documentation>7916: Angir hvor nedbøyning er foretatt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyrstype" type="nvdb:UtstyrstypeType">
            <annotation>
              <documentation>8768: Angir hvilken type utstyr som er benyttet ved nedbøyningsmåling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyrsid" type="string">
            <annotation>
              <documentation>8769: Angir Id for utstyrstype</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="operatør" type="string">
            <annotation>
              <documentation>8771: Angir hvem som er ansvarlig operatør ved dataregistrering</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>11271: Beskrivelse som er aktuell for hele måleserie</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="måledatafilnavn" type="string">
            <annotation>
              <documentation>8770: Gir filnavn til rådatafil som ligger på o:\landsdekkende....</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNedbøyningsmåling" type="nvdb:AbstraktNedbøyningsmålingPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NedbøyningsmåleseriePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Nedbøyningsmåleserie"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="SporNedbøyningsmåleserieType">
    <annotation>
      <documentation>7916: Angir hvor nedbøyning er foretatt</documentation>
    </annotation>
    <union memberTypes="nvdb:SporNedbøyningsmåleserieEnumerationType nvdb:SporNedbøyningsmåleserieOtherType"/>
  </simpleType>
  <simpleType name="SporNedbøyningsmåleserieEnumerationType">
    <annotation>
      <documentation>7916: Angir hvor nedbøyning er foretatt</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Y">
        <annotation>
          <documentation>10089: Ytre spor</documentation>
        </annotation>
      </enumeration>
      <enumeration value="M">
        <annotation>
          <documentation>10088: Mellom spor</documentation>
        </annotation>
      </enumeration>
      <enumeration value="I">
        <annotation>
          <documentation>10087: Indre</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SporNedbøyningsmåleserieOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtstyrstypeType">
    <annotation>
      <documentation>8768: Angir hvilken type utstyr som er benyttet ved nedbøyningsmåling</documentation>
    </annotation>
    <union memberTypes="nvdb:UtstyrstypeEnumerationType nvdb:UtstyrstypeOtherType"/>
  </simpleType>
  <simpleType name="UtstyrstypeEnumerationType">
    <annotation>
      <documentation>8768: Angir hvilken type utstyr som er benyttet ved nedbøyningsmåling</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="dynaflect">
        <annotation>
          <documentation>11605: Dynaflect</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fallodd">
        <annotation>
          <documentation>11606: Fallodd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lacroix">
        <annotation>
          <documentation>11607: Lacroix</documentation>
        </annotation>
      </enumeration>
      <enumeration value="benkelmann">
        <annotation>
          <documentation>11608: Benkelmann</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TSD">
        <annotation>
          <documentation>19007: Vogntogbasert utstyr for å måle nedbøyningshastighet, som videre omregnes til nedbøyning</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtstyrstypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
