GML/774.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.21">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="FormålNedbøyningsmåleserieType">
    <annotation>
      <documentation>7915: Angir formål med nedbøyningsmåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7915</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7915</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Formål</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FormålNedbøyningsmåleserieEnumerationType nvdb:FormålNedbøyningsmåleserieOtherType"/>
  </simpleType>
  <simpleType name="FormålNedbøyningsmåleserieEnumerationType">
    <annotation>
      <documentation>7915: Angir formål med nedbøyningsmåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7915</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7915</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Formål</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="S">
        <annotation>
          <documentation>10093: Sommer</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10093</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sommer</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>10092: Teleløsning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10092</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Teleløsning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>10090: Parallellmåling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10090</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Parallellmåling</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>10091: Referansestrekning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10091</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Referansestrekning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FormålNedbøyningsmåleserieOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Nedbøyningsmåleserie" substitutionGroup="nvdb:AbstraktNedbøyningsmåleserie" type="nvdb:NedbøyningsmåleserieType">
    <annotation>
      <documentation>774: Serie med nedbøyningsmålinger</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">774</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">774</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nedbøyningsmåleserie</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NedbøyningsmåleserieType">
    <complexContent>
      <extension base="nvdb:AbstraktNedbøyningsmåleserieType">
        <sequence>
          <element minOccurs="0" name="formål" type="nvdb:FormålNedbøyningsmåleserieType">
            <annotation>
              <documentation>7915: Angir formål med nedbøyningsmåling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7915</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Formål</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måledato" type="date">
            <annotation>
              <documentation>8767: Dato for måling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8767</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måledato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spor" type="nvdb:SporNedbøyningsmåleserieType">
            <annotation>
              <documentation>7916: Angir hvor nedbøyning er foretatt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7916</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyrstype" type="nvdb:UtstyrstypeType">
            <annotation>
              <documentation>8768: Angir hvilken type utstyr som er benyttet ved nedbøyningsmåling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8768</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utstyrstype</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyrsid" type="string">
            <annotation>
              <documentation>8769: Angir Id for utstyrstype</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8769</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utstyrsid</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="operatør" type="string">
            <annotation>
              <documentation>8771: Angir hvem som er ansvarlig operatør ved dataregistrering</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8771</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Operatør</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>11271: Beskrivelse som er aktuell for hele måleserie</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11271</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Beskrivelse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måledatafilnavn" type="string">
            <annotation>
              <documentation>8770: Gir filnavn til rådatafil som ligger på o:\landsdekkende....</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8770</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måledatafilnavn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNedbøyningsmåling" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktNedbøyningsmåling</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NedbøyningsmåleseriePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Nedbøyningsmåleserie"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="SporNedbøyningsmåleserieType">
    <annotation>
      <documentation>7916: Angir hvor nedbøyning er foretatt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7916</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7916</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SporNedbøyningsmåleserieEnumerationType nvdb:SporNedbøyningsmåleserieOtherType"/>
  </simpleType>
  <simpleType name="SporNedbøyningsmåleserieEnumerationType">
    <annotation>
      <documentation>7916: Angir hvor nedbøyning er foretatt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7916</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7916</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Y">
        <annotation>
          <documentation>10089: Ytre spor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10089</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ytre spor</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="M">
        <annotation>
          <documentation>10088: Mellom spor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10088</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Mellom spor</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I">
        <annotation>
          <documentation>10087: Indre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10087</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Indre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SporNedbøyningsmåleserieOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtstyrstypeType">
    <annotation>
      <documentation>8768: Angir hvilken type utstyr som er benyttet ved nedbøyningsmåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8768</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8768</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utstyrstype</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtstyrstypeEnumerationType nvdb:UtstyrstypeOtherType"/>
  </simpleType>
  <simpleType name="UtstyrstypeEnumerationType">
    <annotation>
      <documentation>8768: Angir hvilken type utstyr som er benyttet ved nedbøyningsmåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8768</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8768</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utstyrstype</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="dynaflect">
        <annotation>
          <documentation>11605: Dynaflect</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11605</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dynaflect</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fallodd">
        <annotation>
          <documentation>11606: Fallodd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11606</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fallodd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lacroix">
        <annotation>
          <documentation>11607: Lacroix</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11607</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lacroix</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="benkelmann">
        <annotation>
          <documentation>11608: Benkelmann</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11608</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Benkelmann</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TSD">
        <annotation>
          <documentation>19007: Vogntogbasert utstyr for å måle nedbøyningshastighet, som videre omregnes til nedbøyning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19007</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TSD</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtstyrstypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
