GML/775.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>775: Strekning hvor det er automatisk overvåkning av fartsnivå. Strekning er definert fra varslingsskilt 556 til 3 km etter siste ATK-punkt for punkt-Atk og til 1 km etter det siste ATK-punktet for streknings-ATK.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="ATK, influensstrekning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:ATK, influensstrekningType">
      <annotation>
         <documentation>775: Strekning hvor det er automatisk overvåkning av fartsnivå. Strekning er definert fra varslingsskilt 556 til 3 km etter siste ATK-punkt for punkt-Atk og til 1 km etter det siste ATK-punktet for streknings-ATK.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">775</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">ATK, influensstrekning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="ATK, influensstrekningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>7917: Gir navn på strekningen. F.eks. fra - til i kjøreretning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7917</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typeTrafikkontroll">
                  <annotation>
                     <documentation>9370: Angir hvilken type trafikkontroll det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9370</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type trafikkontroll</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>7918: Gir merknad.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7918</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ATK, influensstrekningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:ATK, influensstrekning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeTrafikkontrollATK, influensstrekningType">
      <annotation>
         <documentation>9370: Angir hvilken type trafikkontroll det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9370</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type trafikkontroll</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeTrafikkontrollATK, influensstrekningEnumerationType nvdb:TypeTrafikkontrollATK, influensstrekningOtherType"/>
   </simpleType>
   <simpleType name="TypeTrafikkontrollATK, influensstrekningEnumerationType">
      <annotation>
         <documentation>9370: Angir hvilken type trafikkontroll det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9370</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type trafikkontroll</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13097</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Strekning med ATK-punkter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13098</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Streknings-ATK</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeTrafikkontrollATK, influensstrekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
