GML/776.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AkselavstandsregistreringType">
    <annotation>
      <documentation>8127: Angir om det er utstyr for automatisk registrering av akselavstand i tunnelen. Jfr. kode 254 i register 27.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8127</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8127</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Akselavstandsregistrering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AkselavstandsregistreringEnumerationType nvdb:AkselavstandsregistreringOtherType"/>
  </simpleType>
  <simpleType name="AkselavstandsregistreringEnumerationType">
    <annotation>
      <documentation>8127: Angir om det er utstyr for automatisk registrering av akselavstand i tunnelen. Jfr. kode 254 i register 27.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8127</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8127</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Akselavstandsregistrering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>10680: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10680</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>10679: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10679</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AkselavstandsregistreringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AkselvektregistreringType">
    <annotation>
      <documentation>7975: Angir om det er mulighet for automatisk vektregistrering i tunnelløp. Jfr. kode 255 i register 27.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7975</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7975</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Akselvektregistrering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AkselvektregistreringEnumerationType nvdb:AkselvektregistreringOtherType"/>
  </simpleType>
  <simpleType name="AkselvektregistreringEnumerationType">
    <annotation>
      <documentation>7975: Angir om det er mulighet for automatisk vektregistrering i tunnelløp. Jfr. kode 255 i register 27.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7975</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7975</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Akselvektregistrering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>10229: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10229</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>10230: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10230</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AkselvektregistreringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FjernovervåkningType">
    <annotation>
      <documentation>7967: Angir om det er fjernovervåkning i tilknytning til tunnel. Jfr. Kode 210 i register 27.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7967</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7967</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fjernovervåkning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FjernovervåkningEnumerationType nvdb:FjernovervåkningOtherType"/>
  </simpleType>
  <simpleType name="FjernovervåkningEnumerationType">
    <annotation>
      <documentation>7967: Angir om det er fjernovervåkning i tilknytning til tunnel. Jfr. Kode 210 i register 27.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7967</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7967</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fjernovervåkning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>10217: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10217</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>10218: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10218</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FjernovervåkningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HastighetsregistreringType">
    <annotation>
      <documentation>7972: Angir om det er utstyr for automatisk registrering av hastighet i tunnelen. Jfr. kode 251 i register 27.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7972</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7972</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Hastighetsregistrering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HastighetsregistreringEnumerationType nvdb:HastighetsregistreringOtherType"/>
  </simpleType>
  <simpleType name="HastighetsregistreringEnumerationType">
    <annotation>
      <documentation>7972: Angir om det er utstyr for automatisk registrering av hastighet i tunnelen. Jfr. kode 251 i register 27.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7972</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7972</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Hastighetsregistrering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>10221: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10221</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>10222: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10222</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HastighetsregistreringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KjøretøylengderegistreringType">
    <annotation>
      <documentation>7973: Angir om det er utstyr for automatisk registrering av kjøretøylengde i tunnelen. Jfr. kode 251 i register 27.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7973</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7973</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kjøretøylengderegistrering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KjøretøylengderegistreringEnumerationType nvdb:KjøretøylengderegistreringOtherType"/>
  </simpleType>
  <simpleType name="KjøretøylengderegistreringEnumerationType">
    <annotation>
      <documentation>7973: Angir om det er utstyr for automatisk registrering av kjøretøylengde i tunnelen. Jfr. kode 251 i register 27.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7973</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7973</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kjøretøylengderegistrering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>10225: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10225</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>10226: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10226</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KjøretøylengderegistreringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OvervåkningspersonellType">
    <annotation>
      <documentation>7969: Angir om det er overvåkningspersonell tilknyttet tunnel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7969</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7969</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overvåkningspersonell</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OvervåkningspersonellEnumerationType nvdb:OvervåkningspersonellOtherType"/>
  </simpleType>
  <simpleType name="OvervåkningspersonellEnumerationType">
    <annotation>
      <documentation>7969: Angir om det er overvåkningspersonell tilknyttet tunnel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7969</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7969</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overvåkningspersonell</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>10219: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10219</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>10220: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10220</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OvervåkningspersonellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SentraltGrafiskSystemType">
    <annotation>
      <documentation>7965: Angir om det er sentralt grafisk system i forbindelse med tunnelovervåkning. Jfr. kode 215 i register 27.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7965</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7965</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sentralt grafisk system</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SentraltGrafiskSystemEnumerationType nvdb:SentraltGrafiskSystemOtherType"/>
  </simpleType>
  <simpleType name="SentraltGrafiskSystemEnumerationType">
    <annotation>
      <documentation>7965: Angir om det er sentralt grafisk system i forbindelse med tunnelovervåkning. Jfr. kode 215 i register 27.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7965</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7965</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sentralt grafisk system</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>10213: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10213</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>10214: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10214</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SentraltGrafiskSystemOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TrafikkmengderegistreringType">
    <annotation>
      <documentation>7971: Angir om det er utstyr for automatisk registrering av trafikkmengde i tunnelen. Jfr. kode 252 i register 27.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7971</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7971</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkmengderegistrering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TrafikkmengderegistreringEnumerationType nvdb:TrafikkmengderegistreringOtherType"/>
  </simpleType>
  <simpleType name="TrafikkmengderegistreringEnumerationType">
    <annotation>
      <documentation>7971: Angir om det er utstyr for automatisk registrering av trafikkmengde i tunnelen. Jfr. kode 252 i register 27.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7971</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7971</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkmengderegistrering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>10223: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10223</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>10224: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10224</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrafikkmengderegistreringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tunnelovervåkning" substitutionGroup="nvdb:AbstraktTunnelovervåkning" type="nvdb:TunnelovervåkningType">
    <annotation>
      <documentation>776: Utstyr og informasjon ang. tunnelovervåkning. Tilpasset register 27 i VDB.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">776</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">776</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tunnelovervåkning</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TunnelovervåkningType">
    <complexContent>
      <extension base="nvdb:AbstraktTunnelovervåkningType">
        <sequence>
          <element minOccurs="0" name="fjernovervåkning" type="nvdb:FjernovervåkningType">
            <annotation>
              <documentation>7967: Angir om det er fjernovervåkning i tilknytning til tunnel. Jfr. Kode 210 i register 27.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7967</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fjernovervåkning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overvåkningslinjer_Antall" type="integer">
            <annotation>
              <documentation>7968: Angir hvor mange overvåkningslinjer det er i tilknytning til tunnelen. Jfr. kode 211 i register 27.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7968</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overvåkningslinjer, antall</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overvåkningspersonell" type="nvdb:OvervåkningspersonellType">
            <annotation>
              <documentation>7969: Angir om det er overvåkningspersonell tilknyttet tunnel.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7969</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overvåkningspersonell</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lokaltDisplay_Betjeningspanel" type="integer">
            <annotation>
              <documentation>7970: Angir antall lokale display, betjeningspanel. Jfr. kode 214 i register 27.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7970</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lokalt display, betjeningspanel</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sentraltGrafiskSystem" type="nvdb:SentraltGrafiskSystemType">
            <annotation>
              <documentation>7965: Angir om det er sentralt grafisk system i forbindelse med tunnelovervåkning. Jfr. kode 215 i register 27.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7965</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sentralt grafisk system</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hastighetsregistrering" type="nvdb:HastighetsregistreringType">
            <annotation>
              <documentation>7972: Angir om det er utstyr for automatisk registrering av hastighet i tunnelen. Jfr. kode 251 i register 27.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7972</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Hastighetsregistrering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="trafikkmengderegistrering" type="nvdb:TrafikkmengderegistreringType">
            <annotation>
              <documentation>7971: Angir om det er utstyr for automatisk registrering av trafikkmengde i tunnelen. Jfr. kode 252 i register 27.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7971</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Trafikkmengderegistrering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjøretøylengderegistrering" type="nvdb:KjøretøylengderegistreringType">
            <annotation>
              <documentation>7973: Angir om det er utstyr for automatisk registrering av kjøretøylengde i tunnelen. Jfr. kode 251 i register 27.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7973</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kjøretøylengderegistrering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="akselavstandsregistrering" type="nvdb:AkselavstandsregistreringType">
            <annotation>
              <documentation>8127: Angir om det er utstyr for automatisk registrering av akselavstand i tunnelen. Jfr. kode 254 i register 27.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8127</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Akselavstandsregistrering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="akselvektregistrering" type="nvdb:AkselvektregistreringType">
            <annotation>
              <documentation>7975: Angir om det er mulighet for automatisk vektregistrering i tunnelløp. Jfr. kode 255 i register 27.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7975</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Akselvektregistrering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10385: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10385</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11634: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11634</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8851: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8851</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelovervåkningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tunnelovervåkning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
