GML/779.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>779: Sted der senterlinje veg krysser kommunegrense</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Kommunedele"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:KommunedeleType">
      <annotation>
         <documentation>779: Sted der senterlinje veg krysser kommunegrense</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">779</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">779</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommunedele</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="KommunedeleType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="kommune1" type="string">
                  <annotation>
                     <documentation>8142: Angir kommunenummer for en av de to kommunene som grenser mot hverandre i dette punktet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8142</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kommune 1</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kommune2" type="string">
                  <annotation>
                     <documentation>8144: Angir kommunenummer for den andre av de to kommunene som grenser mot hverandre i dette punktet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8144</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kommune 2</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>8842: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8842</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="KommunedelePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kommunedele"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
