GML/779.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Kommunedele" substitutionGroup="nvdb:AbstraktKommunedele" type="nvdb:KommunedeleType">
    <annotation>
      <documentation>779: Sted der senterlinje veg krysser kommunegrense</documentation>
    </annotation>
  </element>
  <complexType name="KommunedeleType">
    <complexContent>
      <extension base="nvdb:AbstraktKommunedeleType">
        <sequence>
          <element minOccurs="0" name="kommune1" type="string">
            <annotation>
              <documentation>8142: Angir kommunenummer for en av de to kommunene som grenser mot hverandre i dette punktet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kommune2" type="string">
            <annotation>
              <documentation>8144: Angir kommunenummer for den andre av de to kommunene som grenser mot hverandre i dette punktet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8842: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KommunedelePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kommunedele"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
