GML/78.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierLukketRørgrøftType">
    <annotation>
      <documentation>10880: Angir hvem som er eier av innholdet i grøften.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10880</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10880</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierLukketRørgrøftEnumerationType nvdb:EierLukketRørgrøftOtherType"/>
  </simpleType>
  <simpleType name="EierLukketRørgrøftEnumerationType">
    <annotation>
      <documentation>10880: Angir hvem som er eier av innholdet i grøften.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10880</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10880</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>17939: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17939</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18633: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18633</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>17942: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17942</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>17940: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17940</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>17941: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17941</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17943: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17943</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierLukketRørgrøftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GrunnforholdLukketRørgrøftType">
    <annotation>
      <documentation>1138: Angir hvilken type masse grøfta går gjennom.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1138</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1138</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Grunnforhold</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GrunnforholdLukketRørgrøftEnumerationType nvdb:GrunnforholdLukketRørgrøftOtherType"/>
  </simpleType>
  <simpleType name="GrunnforholdLukketRørgrøftEnumerationType">
    <annotation>
      <documentation>1138: Angir hvilken type masse grøfta går gjennom.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1138</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1138</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Grunnforhold</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Løsmasse">
        <annotation>
          <documentation>2287: Løsmasse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2287</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Løsmasse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Berg">
        <annotation>
          <documentation>2326: Berg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2326</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Berg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kombinert løsmasse og berg">
        <annotation>
          <documentation>3284: Kombinert løsmasse og berg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3284</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kombinert løsmasse og berg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprengt stein">
        <annotation>
          <documentation>13793: Sprengt stein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13793</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprengt stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GrunnforholdLukketRørgrøftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KablerType">
    <annotation>
      <documentation>9760: Angir om grøften inneholder andre kabler enn varmekabler.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9760</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9760</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kabler</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KablerEnumerationType nvdb:KablerOtherType"/>
  </simpleType>
  <simpleType name="KablerEnumerationType">
    <annotation>
      <documentation>9760: Angir om grøften inneholder andre kabler enn varmekabler.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9760</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9760</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kabler</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>15884: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15884</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>15885: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15885</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KablerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="LukketRørgrøft" substitutionGroup="nvdb:AbstraktLukketRørgrøft" type="nvdb:LukketRørgrøftType">
    <annotation>
      <documentation>78: Trase med nedgravd(e) rørledning(er) eller pukkstreng. Benyttes i første rekke i forbindelse med drenering av veger, men kan også inneholde andre typer rørledninger. Merknad: Lukket rørgrøft med kun kabler og trekkerør er definert som egen vegobjekttype Kabelgrøft.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">78</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">78</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lukket rørgrøft</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LukketRørgrøftType">
    <complexContent>
      <extension base="nvdb:AbstraktLukketRørgrøftType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeLukketRørgrøftType">
            <annotation>
              <documentation>1268: Angir hvilken type lukka rørgrøft det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1268</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="grunnforhold" type="nvdb:GrunnforholdLukketRørgrøftType">
            <annotation>
              <documentation>1138: Angir hvilken type masse grøfta går gjennom.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1138</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Grunnforhold</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>11248: Angir total lengde av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11248</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dybde" type="double">
            <annotation>
              <documentation>1657: Angir dybde av vegobjektet. Dybde måles ned til topp fundament.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1657</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dybde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="varmekabler" type="nvdb:VarmekablerLukketRørgrøftType">
            <annotation>
              <documentation>1831: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1831</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kabler" type="nvdb:KablerType">
            <annotation>
              <documentation>9760: Angir om grøften inneholder andre kabler enn varmekabler.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9760</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kabler</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10323: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10323</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10673: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks. beskrivelse av hvordan grøft er bygget opp. Lagdeling, materialbruk, m.m.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10673</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11067: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11067</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12306: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12306</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierLukketRørgrøftType">
            <annotation>
              <documentation>10880: Angir hvem som er eier av innholdet i grøften.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10880</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligLukketRørgrøftType">
            <annotation>
              <documentation>12181: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12181</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4779: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4779</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>12053: Gir flate/polygon som geometrisk avgrenser grøft. Tenkt benyttet til spesialgrøfter, f.eks. infiltrasjonsgrøft.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12053</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKabel" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKabel</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKum" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKum</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertRørledning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRørledning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Strekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrekkerørKanal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrekkerørKanal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløpUtenTrafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløpUtenTrafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVannhåndteringsanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVannhåndteringsanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LukketRørgrøftPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:LukketRørgrøft"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeLukketRørgrøftType">
    <annotation>
      <documentation>1268: Angir hvilken type lukka rørgrøft det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1268</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1268</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeLukketRørgrøftEnumerationType nvdb:TypeLukketRørgrøftOtherType"/>
  </simpleType>
  <simpleType name="TypeLukketRørgrøftEnumerationType">
    <annotation>
      <documentation>1268: Angir hvilken type lukka rørgrøft det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1268</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1268</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Drensgrøft, dyp">
        <annotation>
          <documentation>5450: Rørgrøft med drensledning og/eller overvannsledning. Frostfri dybde. Se også Håndbok N200 (018).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5450</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drensgrøft, dyp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Drensgrøft, grunn">
        <annotation>
          <documentation>5451: Rørgrøft med drensledning. Ikke frostfri dybde. Se også Håndbok N200 (018).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5451</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drensgrøft, grunn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pukkstreng">
        <annotation>
          <documentation>2924: Jfr. Håndbok N200 (018).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pukkstreng</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Avløpsgrøft">
        <annotation>
          <documentation>11581: Grøft som kun har rør for å lede bort overvann/avløpsvann.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11581</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avløpsgrøft</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Filter-/rensegrøft">
        <annotation>
          <documentation>17232: Grøft fylt med sand. Vann renses ved å renne gjennom sanden. Også benevnt infiltrasjonsgrøft eller sandfiltergrøft. Slike grøfter benyttes bl.a. i forbindelse med rensing av overvann og/eller vaskevann fra tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17232</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Filter-/rensegrøft</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeLukketRørgrøftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VarmekablerLukketRørgrøftType">
    <annotation>
      <documentation>1831: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1831</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1831</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VarmekablerLukketRørgrøftEnumerationType nvdb:VarmekablerLukketRørgrøftOtherType"/>
  </simpleType>
  <simpleType name="VarmekablerLukketRørgrøftEnumerationType">
    <annotation>
      <documentation>1831: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1831</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1831</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>3523: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3523</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>3561: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3561</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VarmekablerLukketRørgrøftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLukketRørgrøftType">
    <annotation>
      <documentation>12181: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12181</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12181</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligLukketRørgrøftEnumerationType nvdb:VedlikeholdsansvarligLukketRørgrøftOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLukketRørgrøftEnumerationType">
    <annotation>
      <documentation>12181: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12181</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12181</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>21243: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21243</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>21244: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21244</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>21245: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21245</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>21246: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21246</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>21247: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21247</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>21248: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21248</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>21249: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21249</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLukketRørgrøftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
