GML/783.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>783: Sted hvor veginngrep hindrer fiskevandring, hindrer vannstrøm eller endrer strandsone.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Fysisk inngrep i vannforekomst"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Fysisk inngrep i vannforekomstType">
      <annotation>
         <documentation>783: Sted hvor veginngrep hindrer fiskevandring, hindrer vannstrøm eller endrer strandsone.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">783</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fysisk inngrep i vannforekomst</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Fysisk inngrep i vannforekomstType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="typeInngrep">
                  <annotation>
                     <documentation>8322: Angir hvilken type inngrep det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8322</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type inngrep</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="hovedproblem"
                        type="nvdb:HovedproblemFysisk inngrep i vannforekomstType">
                  <annotation>
                     <documentation>8323: Angir hva som er hovedproblem ved dette inngrepet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8323</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Hovedproblem</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vannforekomst_ID" type="string">
                  <annotation>
                     <documentation>11190: ID som refererer til vannforekomst i Vann-Nett Portal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11190</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vannforekomst-ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vannforekomstNavn" type="string">
                  <annotation>
                     <documentation>11191: Navn som refererer til vannforekomst i Vann-Nett Portal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11191</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vannforekomst navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vassdragsnummer" type="string">
                  <annotation>
                     <documentation>8324: ID som refererer til vassdragsnummer i NVE Nedbørsfelt (REGINE).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8324</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vassdragsnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vassdragsnavn" type="string">
                  <annotation>
                     <documentation>8325: Navn som refererer til vassdragsforekomst i NVE Nedbørsfelt (Regine).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8325</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vassdragsnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="problembeskrivelse" type="string">
                  <annotation>
                     <documentation>8326: Gir utfyllende beskrivelse av problemet og eventuelle tiltak som er gjort.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8326</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Problembeskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="naturmangfold" type="string">
                  <annotation>
                     <documentation>11195: Beskrivelse av det man kjenner til angående fisk og ev. elvemusling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11195</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Naturmangfold</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="spesielleForhold" type="string">
                  <annotation>
                     <documentation>11196: Relevant informasjon som kan være nyttig å kjenne til, som f.eks. gyro, svært sårbare områder, naturreservat (i eller i umiddelbar nærhet) etc.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11196</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spesielle forhold</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="registreringsdato" type="date">
                  <annotation>
                     <documentation>8327: Dato da opplysningene ble registrert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8327</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Registreringsdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="registrertAv" type="string">
                  <annotation>
                     <documentation>8328: Navn på firma/organisasjon som var ansvarlig for registrering.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8328</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Registrert av</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoUtbedret" type="date">
                  <annotation>
                     <documentation>11192: Dato det sist ble gjort utbedring på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11192</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato utbedret</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="utbedretAv" type="string">
                  <annotation>
                     <documentation>11193: Navn/signatur på de som foretok utbedring.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11193</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utbedret av</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vedlikeholdOppfølging" type="string">
                  <annotation>
                     <documentation>11194: Kort om hva drift må gjøre av oppfølging.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11194</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikehold/oppfølging</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivnummer" type="string">
                  <annotation>
                     <documentation>11197: Gir referanse til relevant sak i vegeiers arkivsystem.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11197</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>8825: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8825</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>8824: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8824</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Fysisk inngrep i vannforekomstPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fysisk inngrep i vannforekomst"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="HovedproblemFysisk inngrep i vannforekomstType">
      <annotation>
         <documentation>8323: Angir hva som er hovedproblem ved dette inngrepet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8323</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hovedproblem</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:HovedproblemFysisk inngrep i vannforekomstEnumerationType nvdb:HovedproblemFysisk inngrep i vannforekomstOtherType"/>
   </simpleType>
   <simpleType name="HovedproblemFysisk inngrep i vannforekomstEnumerationType">
      <annotation>
         <documentation>8323: Angir hva som er hovedproblem ved dette inngrepet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8323</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hovedproblem</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11271</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brudd i vannstrøm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11274</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bunnsubstrat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="D">
            <annotation>
               <documentation>11273: For liten dybde. Fisken kommer ikke videre.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11273</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dybde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ID">
            <annotation>
               <documentation>21574: Hovedproblem er ikke definert.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21574</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke definert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SH">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11272</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Strømningshastighet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="HovedproblemFysisk inngrep i vannforekomstOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeInngrepFysisk inngrep i vannforekomstType">
      <annotation>
         <documentation>8322: Angir hvilken type inngrep det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8322</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type inngrep</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeInngrepFysisk inngrep i vannforekomstEnumerationType nvdb:TypeInngrepFysisk inngrep i vannforekomstOtherType"/>
   </simpleType>
   <simpleType name="TypeInngrepFysisk inngrep i vannforekomstEnumerationType">
      <annotation>
         <documentation>8322: Angir hvilken type inngrep det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8322</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type inngrep</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="BL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11267</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bekkelukking</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11268</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <documentation>11269: Fyllinger kan for eksempel stenge fjordarmer ved at vi anlegger fyllinger med for små kulverter.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11269</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FS">
            <annotation>
               <documentation>11270: Tilfeller hvor fylling er i konflikt med strandsone over strekning på minst 250 meter. Det regnes som konflikt når avstand fra fyllingsfot til vann er mindre enn 30 meter.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11270</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylling i strandsone &gt; 250 m</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11266</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stikkrenne/kulvert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeInngrepFysisk inngrep i vannforekomstOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
