GML/783.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.27">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="FysiskInngrepIVannforekomst" substitutionGroup="nvdb:AbstraktFysiskInngrepIVannforekomst" type="nvdb:FysiskInngrepIVannforekomstType">
    <annotation>
      <documentation>783: sted hvor veginngrep hindrer fiskevandring, hindrer vannstrøm eller endrer strandsone</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">783</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">783</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fysisk inngrep i vannforekomst</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FysiskInngrepIVannforekomstType">
    <complexContent>
      <extension base="nvdb:AbstraktFysiskInngrepIVannforekomstType">
        <sequence>
          <element minOccurs="0" name="typeInngrep" type="nvdb:TypeInngrepType">
            <annotation>
              <documentation>8322: Angir hvilken type inngrep det er tale om.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8322</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type inngrep</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hovedproblem" type="nvdb:HovedproblemType">
            <annotation>
              <documentation>8323: Angir hva som er hovedproblem ved dette inngrepet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8323</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hovedproblem</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vannforekomst_ID" type="string">
            <annotation>
              <documentation>11190: ID som refererer til vannforekomst i Vann-Nett Portal.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11190</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vannforekomst-ID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vannforekosmtNavn" type="string">
            <annotation>
              <documentation>11191: Navn som refererer til vannforekomst i Vann-Nett Portal.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11191</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vannforekosmt navn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vassdragsnummer" type="string">
            <annotation>
              <documentation>8324: ID som refererer til vassdragsnummer i NVE Nedbørsfelt (REGINE).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8324</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vassdragsnummer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vassdragsnavn" type="string">
            <annotation>
              <documentation>8325: Navn som refererer til vassdragsforekomst i NVE Nedbørsfelt (Regine).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8325</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vassdragsnavn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="problembeskrivelse" type="string">
            <annotation>
              <documentation>8326: Gir mulighet for å gi utfyllende beskrivelse av problemet og eventuelle tiltak som er gjort.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8326</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Problembeskrivelse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="naturmangfold" type="string">
            <annotation>
              <documentation>11195: Beskrivelse av det man kjenner til angående fisk og evt elvemusling.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11195</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Naturmangfold</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spesielleForhold" type="string">
            <annotation>
              <documentation>11196: Relevant informasjon som kan være nyttig å kjenne til, som feks gyro, svært sårbare områder, naturreservat (i eller i umiddelbar nærhet) etc.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11196</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spesielle forhold</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>8327: Dato da opplysningene ble registrert.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8327</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Registreringsdato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registrertAv" type="string">
            <annotation>
              <documentation>8328: Navn på firma/organisasjon som var ansvarlig for registrering.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8328</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Registrert av</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoUtbedret" type="date">
            <annotation>
              <documentation>11192: Dato det sist ble gjort utbedring på stedet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11192</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dato utbedret</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utbedretAv" type="string">
            <annotation>
              <documentation>11193: Navn/signatur på de som foretok utbedring.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11193</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utbedret av</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdOppfølging" type="string">
            <annotation>
              <documentation>11194: Kort om hva drift må gjøre av oppfølging.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11194</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vedlikehold/oppfølging</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer" type="string">
            <annotation>
              <documentation>11197: Gir referanse til relevant sak i vegeiers arkivsystem.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11197</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Arkivnummer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8825: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8825</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8824: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8824</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, flate</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStikkrenneKulvert" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStikkrenneKulvert</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FysiskInngrepIVannforekomstPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:FysiskInngrepIVannforekomst"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="HovedproblemType">
    <annotation>
      <documentation>8323: Angir hva som er hovedproblem ved dette inngrepet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8323</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8323</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hovedproblem</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HovedproblemEnumerationType nvdb:HovedproblemOtherType"/>
  </simpleType>
  <simpleType name="HovedproblemEnumerationType">
    <annotation>
      <documentation>8323: Angir hva som er hovedproblem ved dette inngrepet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8323</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8323</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hovedproblem</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Brudd i vannstrøm">
        <annotation>
          <documentation>11271: Brudd i vannstrøm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11271</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Brudd i vannstrøm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Strømningshastighet">
        <annotation>
          <documentation>11272: Strømningshastighet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11272</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Strømningshastighet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dybde">
        <annotation>
          <documentation>11273: For liten dybde.  Fisken kommer ikke videre.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11273</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dybde</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bunnsubstrat">
        <annotation>
          <documentation>11274: Bunnsubstrat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11274</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bunnsubstrat</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HovedproblemOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeInngrepType">
    <annotation>
      <documentation>8322: Angir hvilken type inngrep det er tale om.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8322</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8322</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type inngrep</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeInngrepEnumerationType nvdb:TypeInngrepOtherType"/>
  </simpleType>
  <simpleType name="TypeInngrepEnumerationType">
    <annotation>
      <documentation>8322: Angir hvilken type inngrep det er tale om.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8322</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8322</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type inngrep</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stikkrenne/kulvert">
        <annotation>
          <documentation>11266: Stikkrenne/kulvert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11266</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stikkrenne/kulvert</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bekkelukking">
        <annotation>
          <documentation>11267: Bekkelukking</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11267</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bekkelukking</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bru">
        <annotation>
          <documentation>11268: Bru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11268</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylling">
        <annotation>
          <documentation>11269: Fyllinger kan for eksempel stenge fjordarmer ved at vi anlegger fyllinger med for små kulverter.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11269</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fylling</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylling i strandsone &gt; 250 m">
        <annotation>
          <documentation>11270: Tilfeller hvor fylling er i konflikt med strandsone over strekning på minst 250 meter.  Det regnes som konflikt når avstand fra fyllingsfot til vann er mindre enn 30 meter.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11270</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fylling i strandsone &gt; 250 m</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeInngrepOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
