GML/784.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="KjemiskPåvirkningAvVannforekomst" substitutionGroup="nvdb:AbstraktKjemiskPåvirkningAvVannforekomst" type="nvdb:KjemiskPåvirkningAvVannforekomstType">
    <annotation>
      <documentation>784: Vegstrekning som bidrar til kjemisk forurensning av innsjø eller vassdrag nærmere enn 200 meter fra vegen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">784</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">784</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kjemisk påvirkning av vannforekomst</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KjemiskPåvirkningAvVannforekomstType">
    <complexContent>
      <extension base="nvdb:AbstraktKjemiskPåvirkningAvVannforekomstType">
        <sequence>
          <element minOccurs="0" name="resipienttilstand" type="nvdb:ResipienttilstandType">
            <annotation>
              <documentation>8329: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8329</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Resipienttilstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="resipienttype" type="nvdb:ResipienttypeType">
            <annotation>
              <documentation>8330: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8330</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Resipienttype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vassdragsnummer" type="string">
            <annotation>
              <documentation>8331: Vasssdragsnummer på vassdrag som blir berørt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8331</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vassdragsnummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vassdragsnavn" type="string">
            <annotation>
              <documentation>8332: Gir navn på vassdrag.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8332</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vassdragsnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="problembeskrivelse" type="string">
            <annotation>
              <documentation>8333: Gir mulighet for å gi utfyllende beskrivelse av problemet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8333</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Problembeskrivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8827: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8827</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8826: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8826</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KjemiskPåvirkningAvVannforekomstPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:KjemiskPåvirkningAvVannforekomst"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ResipienttilstandType">
    <annotation>
      <documentation>8329: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8329</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8329</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Resipienttilstand</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ResipienttilstandEnumerationType nvdb:ResipienttilstandOtherType"/>
  </simpleType>
  <simpleType name="ResipienttilstandEnumerationType">
    <annotation>
      <documentation>8329: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8329</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8329</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Resipienttilstand</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stor påvirkning">
        <annotation>
          <documentation>11275: Stor påvirkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11275</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stor påvirkning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Middels eller ukjent påvirkning">
        <annotation>
          <documentation>11276: Middels eller ukjent påvirkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11276</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Middels eller ukjent påvirkning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Liten påvirkning">
        <annotation>
          <documentation>11277: Liten påvirkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11277</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Liten påvirkning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ResipienttilstandOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ResipienttypeType">
    <annotation>
      <documentation>8330: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8330</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8330</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Resipienttype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ResipienttypeEnumerationType nvdb:ResipienttypeOtherType"/>
  </simpleType>
  <simpleType name="ResipienttypeEnumerationType">
    <annotation>
      <documentation>8330: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8330</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8330</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Resipienttype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Innsjø">
        <annotation>
          <documentation>11278: Innsjø</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11278</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innsjø</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grunnvann">
        <annotation>
          <documentation>11279: Grunnvann</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11279</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grunnvann</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Elv/bekk">
        <annotation>
          <documentation>11280: Elv/bekk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11280</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Elv/bekk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Myr">
        <annotation>
          <documentation>11281: Myr</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11281</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Myr</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Våtmark">
        <annotation>
          <documentation>11282: Våtmark</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11282</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Våtmark</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ResipienttypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
