GML/785.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.23">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GeografiskOppløsningType">
    <annotation>
      <documentation>8339: Angir hva statistikken omfatter</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8339</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8339</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geografisk oppløsning</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GeografiskOppløsningEnumerationType nvdb:GeografiskOppløsningOtherType"/>
  </simpleType>
  <simpleType name="GeografiskOppløsningEnumerationType">
    <annotation>
      <documentation>8339: Angir hva statistikken omfatter</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8339</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8339</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geografisk oppløsning</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Landet">
        <annotation>
          <documentation>11290: Landet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11290</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Landet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Region">
        <annotation>
          <documentation>11291: Region</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11291</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Region</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylke">
        <annotation>
          <documentation>11292: Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11292</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fylke</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegavdeling">
        <annotation>
          <documentation>11293: Vegavdeling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11293</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegavdeling</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>11665: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11665</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr land">
        <annotation>
          <documentation>11294: Veg pr land</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11294</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veg pr land</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr region">
        <annotation>
          <documentation>11295: Veg pr region</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11295</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veg pr region</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr fylke">
        <annotation>
          <documentation>11286: Veg pr fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11286</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veg pr fylke</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr avdeling">
        <annotation>
          <documentation>11287: Veg pr avdeling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11287</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veg pr avdeling</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg pr kommune">
        <annotation>
          <documentation>11670: Veg pr kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11670</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veg pr kommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HP">
        <annotation>
          <documentation>11288: HP</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11288</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">HP</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="PMS-parsell">
        <annotation>
          <documentation>11289: PMS-parsell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11289</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">PMS-parsell</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Generert">
        <annotation>
          <documentation>11296: Generert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11296</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Generert</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GeografiskOppløsningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Statistikk_Generell" substitutionGroup="nvdb:AbstraktStatistikk_Generell" type="nvdb:Statistikk_GenerellType">
    <annotation>
      <documentation>785: Aggregert informasjon ifbm en vegobjekttype.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">785</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">785</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Statistikk, generell</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Statistikk_GenerellType">
    <complexContent>
      <extension base="nvdb:AbstraktStatistikk_GenerellType">
        <sequence>
          <element name="kildeVegobjekttypeID" type="integer">
            <annotation>
              <documentation>8340: Id til den vegobjekttypen som objektet inneholder/skal inneholde begrenset statistisk informasjon for</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8340</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kilde vegobjekttypeID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="kildeEgenskapstypeID" type="integer">
            <annotation>
              <documentation>8341: Id til den egenskapstypen som den statistiske informasjonen gjelder for.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8341</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kilde egenskapstypeID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="geografiskOppløsning" type="nvdb:GeografiskOppløsningType">
            <annotation>
              <documentation>8339: Angir hva statistikken omfatter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8339</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geografisk oppløsning</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelse_Fra_Til" type="string">
            <annotation>
              <documentation>8733: Angir stedsnavn for start og slutt strekning.  Rekkefølge som navnene settes i har ikke betydning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8733</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stedsangivelse, fra-til</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fordelingIIntervaller">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8342</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fordeling i intervaller</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="konfidensnivå_50Prosent" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8343</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Konfidensnivå, 50 %</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="konfidensnivå_90Prosent" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8344</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Konfidensnivå, 90 %</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="middelverdi" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8345</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Middelverdi</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="min_Mm_Verdi" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8346</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Minimumsverdi</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksverdi" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8347</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Maksverdi</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="andelMedData" type="double">
            <annotation>
              <documentation>8348: Del av veglengden som har informasjon i den egenskapstypen statistikken er beregna ut fra</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8348</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Andel med data</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fordelingIVerdier">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8349</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fordeling i verdier</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="veglengde" type="integer">
            <annotation>
              <documentation>8350: Målt veglengde som lokasjonsattributten dekker.  Evt. lengde av kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8350</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veglengde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Statistikk_GenerellPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Statistikk_Generell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
