GML/785.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>785: Aggregert informasjon ifbm en vegobjekttype.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="GeografiskOppløsningStatistikk, generellType">
      <annotation>
         <documentation>8339: Angir hva statistikken omfatter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8339</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GeografiskOppløsningStatistikk, generellEnumerationType nvdb:GeografiskOppløsningStatistikk, generellOtherType"/>
   </simpleType>
   <simpleType name="GeografiskOppløsningStatistikk, generellEnumerationType">
      <annotation>
         <documentation>8339: Angir hva statistikken omfatter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8339</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11292</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11296</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Generert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="HP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11288</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">HP</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11665</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11290</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Landet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="PMS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11289</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">PMS-parsell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11291</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Region</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VpA">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11287</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr avdeling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VpF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11286</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr fylke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VpK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11670</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VpL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11294</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr land</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VpR">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11295</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veg pr region</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vavd">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11293</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegavdeling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GeografiskOppløsningStatistikk, generellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Statistikk, generell"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Statistikk, generellType">
      <annotation>
         <documentation>785: Aggregert informasjon ifbm en vegobjekttype.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">785</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statistikk, generell</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Statistikk, generellType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="kildeVegobjekttypeID" type="integer">
                  <annotation>
                     <documentation>8340: Id til den vegobjekttypen som objektet inneholder/skal inneholde begrenset statistisk informasjon for.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8340</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kilde vegobjekttypeID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kildeEgenskapstypeID" type="integer">
                  <annotation>
                     <documentation>8341: Id til den egenskapstypen som den statistiske informasjonen gjelder for.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8341</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kilde egenskapstypeID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="geografiskOppløsning">
                  <annotation>
                     <documentation>8339: Angir hva statistikken omfatter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8339</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geografisk oppløsning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stedsangivelse_Fra_Til" type="string">
                  <annotation>
                     <documentation>8733: Angir stedsnavn for start og slutt strekning. Rekkefølge som navnene settes i har ikke betydning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8733</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stedsangivelse, fra-til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="fordelingIIntervaller" type="string">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8342</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fordeling i intervaller</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="konfidensnivå_50Prosent" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8343</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Konfidensnivå, 50 %</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="konfidensnivå_90Prosent" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8344</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Konfidensnivå, 90 %</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="middelverdi" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8345</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Middelverdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="min_Mm_Verdi" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8346</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Minimumsverdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="maksverdi" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8347</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maksverdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="andelMedData" type="double">
                  <annotation>
                     <documentation>8348: Del av veglengden som har informasjon i den egenskapstypen statistikken er beregna ut fra.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8348</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Andel med data</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="fordelingIVerdier" type="string">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8349</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fordeling i verdier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="veglengde" type="integer">
                  <annotation>
                     <documentation>8350: Målt veglengde som lokasjonsattributten dekker. Ev. lengde av kjørefelt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8350</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Veglengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Statistikk, generellPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Statistikk, generell"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
