GML/786.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierKulturminne_VegminneType">
    <annotation>
      <documentation>8365: Angir hvem som er eier av kulturminne.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8365</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8365</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierKulturminne_VegminneEnumerationType nvdb:EierKulturminne_VegminneOtherType"/>
  </simpleType>
  <simpleType name="EierKulturminne_VegminneEnumerationType">
    <annotation>
      <documentation>8365: Angir hvem som er eier av kulturminne.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8365</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8365</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>11308: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11308</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18548: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18548</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, øvrig">
        <annotation>
          <documentation>11310: Stat, øvrig</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11310</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, øvrig</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>16176: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16176</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>11309: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11309</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>11311: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11311</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>11312: Ukjent</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11312</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierKulturminne_VegminneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EnkeltminneartType">
    <annotation>
      <documentation>8367: Angir hvilken enkeltminneart vegminne tilhører. Begrepet er definert i Askeladden.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8367</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8367</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Enkeltminneart</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EnkeltminneartEnumerationType nvdb:EnkeltminneartOtherType"/>
  </simpleType>
  <simpleType name="EnkeltminneartEnumerationType">
    <annotation>
      <documentation>8367: Angir hvilken enkeltminneart vegminne tilhører. Begrepet er definert i Askeladden.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8367</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8367</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Enkeltminneart</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Vegfar">
        <annotation>
          <documentation>11374: Vegfar</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11374</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegfar</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rideveg">
        <annotation>
          <documentation>11350: Rideveg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11350</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rideveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Postveg">
        <annotation>
          <documentation>11365: Postveg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11365</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Postveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Høgfjellsveg">
        <annotation>
          <documentation>11357: Høgfjellsveg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11357</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Høgfjellsveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kongeveg">
        <annotation>
          <documentation>11363: Kongeveg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11363</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kongeveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjerreveg-fransk prinsipp">
        <annotation>
          <documentation>11352: Kjerreveg-fransk prinsipp</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11352</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjerreveg-fransk prinsipp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Chaussé">
        <annotation>
          <documentation>11353: Chaussé</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11353</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Chaussé</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mellomriksveg">
        <annotation>
          <documentation>11371: Mellomriksveg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11371</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mellomriksveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Motorveg">
        <annotation>
          <documentation>11379: Motorveg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11379</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Motorveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg, 1. generasjons bilveg (før 1960)">
        <annotation>
          <documentation>11397: Veg, 1. generasjons bilveg (før 1960)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11397</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg, 1. generasjons bilveg (før 1960)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg, 2-felts bilveg">
        <annotation>
          <documentation>11394: Veg, 2-felts bilveg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11394</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg, 2-felts bilveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Forbindelsesveg">
        <annotation>
          <documentation>16789: Forbindelsesveg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16789</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbindelsesveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bevegelig bru">
        <annotation>
          <documentation>11377: Bevegelig bru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11377</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bevegelig bru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bjelkebru">
        <annotation>
          <documentation>11349: Bjelkebru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11349</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bjelkebru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Buebru">
        <annotation>
          <documentation>11361: Buebru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11361</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Buebru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fagverksbru / Hengverksbru">
        <annotation>
          <documentation>11382: Fagverksbru / Hengverksbru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11382</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fagverksbru / Hengverksbru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flytebru">
        <annotation>
          <documentation>11385: Flytebru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11385</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Flytebru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fritt frambygd bru / Kassebru">
        <annotation>
          <documentation>11354: Fritt frambygd bru / Kassebru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11354</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fritt frambygd bru / Kassebru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hellebru">
        <annotation>
          <documentation>11351: Hellebru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11351</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hellebru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hengebru">
        <annotation>
          <documentation>11359: Hengebru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11359</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hengebru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hvelvbru">
        <annotation>
          <documentation>11319: Hvelvbru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11319</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hvelvbru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kavlbru">
        <annotation>
          <documentation>11378: Kavlbru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11378</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kavlbru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mastebru">
        <annotation>
          <documentation>11383: Mastebru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11383</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mastebru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Platebru">
        <annotation>
          <documentation>11356: Platebru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11356</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Platebru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skråstagbru">
        <annotation>
          <documentation>11358: Skråstagbru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11358</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skråstagbru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprengverkbru">
        <annotation>
          <documentation>11355: Sprengverkbru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11355</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprengverkbru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Allé">
        <annotation>
          <documentation>11391: Allé</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11391</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Allé</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kryss/Rundkjøring">
        <annotation>
          <documentation>11399: Kryss/Rundkjøring</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11399</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kryss/Rundkjøring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegknute">
        <annotation>
          <documentation>11368: Vegknute</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11368</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegknute</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rekkverk">
        <annotation>
          <documentation>11367: Rekkverk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11367</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rekkverk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rasteplass">
        <annotation>
          <documentation>11387: Rasteplass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11387</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rasteplass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Støttemur">
        <annotation>
          <documentation>11370: Støttemur</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11370</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støttemur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Støyskjerm">
        <annotation>
          <documentation>11395: Støyskjerm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11395</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støyskjerm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegkunst">
        <annotation>
          <documentation>11400: Vegkunst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11400</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegkunst</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegmerker/skilt">
        <annotation>
          <documentation>11401: Vegmerker/skilt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11401</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegmerker/skilt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Båtdrag / Trallebane">
        <annotation>
          <documentation>11380: Båtdrag / Trallebane</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11380</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Båtdrag / Trallebane</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Båtvorr/Steinkai">
        <annotation>
          <documentation>11366: Båtvorr/Steinkai</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11366</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Båtvorr/Steinkai</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferjekai">
        <annotation>
          <documentation>11386: Ferjekai</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11386</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferjekai</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferjekaibru">
        <annotation>
          <documentation>11364: Ferjekaibru</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11364</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferjekaibru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Landkar/Pilar/Pontong">
        <annotation>
          <documentation>11392: Landkar/Pilar/Pontong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11392</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Landkar/Pilar/Pontong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gangstein/Vadestein">
        <annotation>
          <documentation>11388: Gangstein/Vadestein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11388</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gangstein/Vadestein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Varde/Varderekke">
        <annotation>
          <documentation>11317: Varde/Varderekke</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11317</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varde/Varderekke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnel">
        <annotation>
          <documentation>11375: Tunnel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11375</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnelportal">
        <annotation>
          <documentation>11389: Tunnelportal</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11389</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnelportal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skredoverbygg">
        <annotation>
          <documentation>11381: Skredoverbygg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11381</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredoverbygg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kulvert">
        <annotation>
          <documentation>11393: Kulvert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11393</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kulvert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stikkrenne">
        <annotation>
          <documentation>11398: Stikkrenne</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11398</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stikkrenne</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bygate">
        <annotation>
          <documentation>11362: Bygate</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11362</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bygate</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gang- og sykkelveg">
        <annotation>
          <documentation>11390: Gang- og sykkelveg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11390</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gang- og sykkelveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lokalveg">
        <annotation>
          <documentation>11318: Lokalveg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11318</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lokalveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Miljøgate">
        <annotation>
          <documentation>11396: Miljøgate</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11396</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Miljøgate</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bomstasjon">
        <annotation>
          <documentation>11360: Bomstasjon</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11360</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bomstasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oppsynsmannsbrakke">
        <annotation>
          <documentation>21721: Oppsynsmannsbrakke</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21721</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsynsmannsbrakke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Garasje">
        <annotation>
          <documentation>21722: Garasje</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21722</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Garasje</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EnkeltminneartOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KategoriType">
    <annotation>
      <documentation>8366: Angir hvilken hovedkategori vegminnet tilhører. Det er avhengighet til ET "Enkeltminneart".</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8366</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8366</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kategori</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KategoriEnumerationType nvdb:KategoriOtherType"/>
  </simpleType>
  <simpleType name="KategoriEnumerationType">
    <annotation>
      <documentation>8366: Angir hvilken hovedkategori vegminnet tilhører. Det er avhengighet til ET "Enkeltminneart".</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8366</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8366</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kategori</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Veg">
        <annotation>
          <documentation>11314: En veg er en fast trasé som mennesket har skapt ved ferdsel. Menneskene har gått, ridd eller kjørt på vegen. Vegen kan være naturlig og uten bearbeiding eller den kan ha vært bygget med murer, grøfter, stikkrenner etc. Kan deles inn i gang- og rideveg eller kjøreveg. Eksempelvis hulveg, slep, rideveg, kongeveg, postveg, det franske prinsipp (1760-1850), chausse - stigning 1:20 (1850-1912), bilveg (1912-1960) etc.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11314</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bru">
        <annotation>
          <documentation>11315: En bru er en konstruksjon over et vassdrag eller et våtlendt område. Eksempelvis gangsteiner, kavlbru, steinhellebru, hvelvbru, hengebru, fagverksbru, bevegelig bru etc.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11315</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegutstyr">
        <annotation>
          <documentation>21626: Utstyr som har/har hatt direkte tilknytning til og betydning for vegen. Eksempelvis milestein, km stein, rodestolpe, brøytedele, vegskilt, etc.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21626</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegutstyr</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bygning">
        <annotation>
          <documentation>11316: Bygninger som har/har hatt en funksjon knyttet til vegen. Eksempelvis gangsteiner, kavlbru, steinhellebru, hvelvbru, hengebru, fagverksbru, bevegelig bru etc.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11316</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bygning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegrelatert kulturminne">
        <annotation>
          <documentation>11313: Kulturminner som har kommet som følge av at vegen har vært bygget og som har/har hatt en funksjon i forhold til vegen. Eksempelvis grustak, steinbrudd, melkerampe, rasteplass, hestedrikkekar, gjerder, vegkunst etc.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11313</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegrelatert kulturminne</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Kulturminne_Vegminne" substitutionGroup="nvdb:AbstraktKulturminne_Vegminne" type="nvdb:Kulturminne_VegminneType">
    <annotation>
      <documentation>786: Kulturminne (jf. definisjonen på et kulturminne fra Kulturminneloven § 2) som er spor etter menneskelig virksomhet knyttet til samferdsel og veg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">786</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">786</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kulturminne, vegminne</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Kulturminne_VegminneType">
    <complexContent>
      <extension base="nvdb:AbstraktKulturminne_VegminneType">
        <sequence>
          <element minOccurs="0" name="kategori" type="nvdb:KategoriType">
            <annotation>
              <documentation>8366: Angir hvilken hovedkategori vegminnet tilhører. Det er avhengighet til ET "Enkeltminneart".</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8366</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kategori</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="enkeltminneart" type="nvdb:EnkeltminneartType">
            <annotation>
              <documentation>8367: Angir hvilken enkeltminneart vegminne tilhører. Begrepet er definert i Askeladden.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8367</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Enkeltminneart</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>8360: Navn på vegminne.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8360</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelseAvVegminnet" type="string">
            <annotation>
              <documentation>8382: Beskrivelse av vegminne.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8382</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Beskrivelse av vegminnet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datering" type="string">
            <annotation>
              <documentation>12558: Sannsynlig årstall eller tidsperiode vegminnet er datert til.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12558</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Datering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vernestatus" type="nvdb:VernestatusKulturminne_VegminneType">
            <annotation>
              <documentation>12044: Juridisk vern, hjemlet i lov, forskrift, plan mv.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12044</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vernestatus</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="verneplannummer" type="string">
            <annotation>
              <documentation>8359: Viser til objektnummer i "Vegvalg - Nasjonal verneplan for veger, bruer og vegrelaterte kulturminner" (Statens vegvesen, 2002).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8359</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Verneplannummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="askeladden_ID" type="string">
            <annotation>
              <documentation>8363: Gir referanse til unik ID i Askeladden.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8363</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Askeladden_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="linkTilKulturminnesøk" type="string">
            <annotation>
              <documentation>10184: Gir link til Kulturminnesøk, dvs. innsynsløsning for Askeladden. Gir mer detaljert informasjon om forekomst.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10184</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Link til kulturminnesøk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="linkTilFredningspresiseringer" type="string">
            <annotation>
              <documentation>12589: Link til dokument som beskriver hva fredning innebærer i praksis for gitt vegobjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12589</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Link til fredningspresiseringer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="status" type="nvdb:StatusKulturminne_VegminneType">
            <annotation>
              <documentation>12556: Angir hvilken status vegminnet har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12556</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="restriksjonGrøftKantrensk" type="nvdb:RestriksjonGrøftKantrenskKulturminne_VegminneType">
            <annotation>
              <documentation>12045: Angir om det skal tas spesielle hensyn ved grøft/kantrensk.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12045</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Restriksjon grøft/kantrensk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="restriksjonKantklipp" type="nvdb:RestriksjonKantklippKulturminne_VegminneType">
            <annotation>
              <documentation>12046: Angir om det skal tas spesielle hensyn ved kantklipp.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12046</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Restriksjon kantklipp</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="andreRestriksjoner" type="string">
            <annotation>
              <documentation>12230: Beskriver andre restriksjoner knyttet til drift og vedlikehold utover grøft/kantrensk og kantklipp.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12230</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Andre restriksjoner</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sistKontrollert" type="date">
            <annotation>
              <documentation>12557: Angir hvilken status vegminnet har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12557</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sist kontrollert</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>8388: Angir informasjon fortrinnsvis knyttet til forvaltning, drift og vedlikehold.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8388</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierKulturminne_VegminneType">
            <annotation>
              <documentation>8365: Angir hvem som er eier av kulturminne.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8365</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8389: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8389</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>10582: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10582</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10583: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10583</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Kulturminne_VegminnePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kulturminne_Vegminne"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="RestriksjonGrøftKantrenskKulturminne_VegminneType">
    <annotation>
      <documentation>12045: Angir om det skal tas spesielle hensyn ved grøft/kantrensk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12045</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12045</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Restriksjon grøft/kantrensk</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RestriksjonGrøftKantrenskKulturminne_VegminneEnumerationType nvdb:RestriksjonGrøftKantrenskKulturminne_VegminneOtherType"/>
  </simpleType>
  <simpleType name="RestriksjonGrøftKantrenskKulturminne_VegminneEnumerationType">
    <annotation>
      <documentation>12045: Angir om det skal tas spesielle hensyn ved grøft/kantrensk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12045</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12045</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Restriksjon grøft/kantrensk</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Utføres etter særskilt beskrivelse">
        <annotation>
          <documentation>20873: Utføres etter særskilt beskrivelse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20873</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utføres etter særskilt beskrivelse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Utføres som avtalt i driftskontrakt">
        <annotation>
          <documentation>20874: Utføres som avtalt i driftskontrakt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20874</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utføres som avtalt i driftskontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonGrøftKantrenskKulturminne_VegminneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonKantklippKulturminne_VegminneType">
    <annotation>
      <documentation>12046: Angir om det skal tas spesielle hensyn ved kantklipp.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12046</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12046</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Restriksjon kantklipp</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RestriksjonKantklippKulturminne_VegminneEnumerationType nvdb:RestriksjonKantklippKulturminne_VegminneOtherType"/>
  </simpleType>
  <simpleType name="RestriksjonKantklippKulturminne_VegminneEnumerationType">
    <annotation>
      <documentation>12046: Angir om det skal tas spesielle hensyn ved kantklipp.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12046</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12046</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Restriksjon kantklipp</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Utføres etter særskilt beskrivelse">
        <annotation>
          <documentation>20885: Utføres etter særskilt beskrivelse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20885</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utføres etter særskilt beskrivelse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Utføres som avtalt i driftskontrakt">
        <annotation>
          <documentation>20886: Utføres som avtalt i driftskontrakt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20886</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utføres som avtalt i driftskontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonKantklippKulturminne_VegminneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StatusKulturminne_VegminneType">
    <annotation>
      <documentation>12556: Angir hvilken status vegminnet har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12556</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12556</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StatusKulturminne_VegminneEnumerationType nvdb:StatusKulturminne_VegminneOtherType"/>
  </simpleType>
  <simpleType name="StatusKulturminne_VegminneEnumerationType">
    <annotation>
      <documentation>12556: Angir hvilken status vegminnet har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12556</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12556</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="I trafikk">
        <annotation>
          <documentation>21622: Vegminnet har funksjon i trafikkert vegnett.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21622</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I trafikk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ute av bruk/nedlagt">
        <annotation>
          <documentation>21623: Vegminnet har ikke funksjon i trafikkert vegnett.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21623</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ute av bruk/nedlagt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fjernet/borte">
        <annotation>
          <documentation>21624: Vegminnet eksisterer ikke lenger fysisk ute på vegen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21624</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjernet/borte</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StatusKulturminne_VegminneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VernestatusKulturminne_VegminneType">
    <annotation>
      <documentation>12044: Juridisk vern, hjemlet i lov, forskrift, plan mv.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12044</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12044</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vernestatus</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VernestatusKulturminne_VegminneEnumerationType nvdb:VernestatusKulturminne_VegminneOtherType"/>
  </simpleType>
  <simpleType name="VernestatusKulturminne_VegminneEnumerationType">
    <annotation>
      <documentation>12044: Juridisk vern, hjemlet i lov, forskrift, plan mv.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12044</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12044</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vernestatus</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statlig listeført">
        <annotation>
          <documentation>20878: Vegminne i Nasjonal verneplan (NVP).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20878</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statlig listeført</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Automatisk fredet">
        <annotation>
          <documentation>20875: Fredet etter Kulturminnelovens § 4. Gjelder vegminner fra før 1537.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20875</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Automatisk fredet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Forskriftsfredet">
        <annotation>
          <documentation>21621: Vegminne som er fredet etter Kulturminneloven fordi de var statlig eid på fredningstidspunktet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21621</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forskriftsfredet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vedtaksfredet">
        <annotation>
          <documentation>20876: Fredet etter Kulturminnelovens § 15, 19 eller 20. Vegminnet er fredet etter vedtak enten som enkeltobjekt (§15), som enkeltobjekt med et område rundt (§19) eller som kulturmiljø (§20).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20876</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedtaksfredet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vernet etter plan- og bygningsloven">
        <annotation>
          <documentation>20879: Kommunalt verneverdige vegminner som er vernet etter plan- og bygningslov, enten i en kommuneplan, kommunedelplan for kulturminner og kulturmiljøer, eller reguleringsplan.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20879</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vernet etter plan- og bygningsloven</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uklar vernestatus">
        <annotation>
          <documentation>21620: Uavklart vernestatus i Askeladden, der man er usikre på før og etter 1537.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21620</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uklar vernestatus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke vernet">
        <annotation>
          <documentation>20880: Ikke vernet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20880</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke vernet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VernestatusKulturminne_VegminneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
