GML/786.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierVegminneType">
    <annotation>
      <documentation>8365: Angir hvem som er eier av kulturminne</documentation>
    </annotation>
    <union memberTypes="nvdb:EierVegminneEnumerationType nvdb:EierVegminneOtherType"/>
  </simpleType>
  <simpleType name="EierVegminneEnumerationType">
    <annotation>
      <documentation>8365: Angir hvem som er eier av kulturminne</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>11308: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18548: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>16176: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NSB">
        <annotation>
          <documentation>11310: NSB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>11309: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>11312: Ukjent</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>11311: Privat</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierVegminneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EnkeltminneartType">
    <annotation>
      <documentation>8367: Angir hvilken enkeltminneart vegminne tilhører. Begrepet er definert i Askeladden</documentation>
    </annotation>
    <union memberTypes="nvdb:EnkeltminneartEnumerationType nvdb:EnkeltminneartOtherType"/>
  </simpleType>
  <simpleType name="EnkeltminneartEnumerationType">
    <annotation>
      <documentation>8367: Angir hvilken enkeltminneart vegminne tilhører. Begrepet er definert i Askeladden</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="vegfar">
        <annotation>
          <documentation>11374: Vegfar</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rideveg">
        <annotation>
          <documentation>11350: Rideveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="postveg">
        <annotation>
          <documentation>11365: Postveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="høgfjellsveg">
        <annotation>
          <documentation>11357: Høgfjellsveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kongeveg">
        <annotation>
          <documentation>11363: Kongeveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kjerreveg_FranskPrinsipp">
        <annotation>
          <documentation>11352: Kjerreveg-fransk prinsipp</documentation>
        </annotation>
      </enumeration>
      <enumeration value="chauss">
        <annotation>
          <documentation>11353: Chaussé</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mellomriksveg">
        <annotation>
          <documentation>11371: Mellomriksveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="motorveg">
        <annotation>
          <documentation>11379: Motorveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="veg_1GenerasjonsBilveg_Før1960">
        <annotation>
          <documentation>11397: Veg, 1. generasjons bilveg (før 1960)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="veg_2FeltsBilveg">
        <annotation>
          <documentation>11394: Veg, 2-felts bilveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="forbindelsesveg">
        <annotation>
          <documentation>16789: Forbindelsesveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bevegeligBru">
        <annotation>
          <documentation>11377: Bevegelig bru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bjelkebru">
        <annotation>
          <documentation>11349: Bjelkebru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="buebru">
        <annotation>
          <documentation>11361: Buebru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fagverksbruHengverksbru">
        <annotation>
          <documentation>11382: Fagverksbru / Hengverksbru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="flytebru">
        <annotation>
          <documentation>11385: Flytebru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="frittFrambygdBruKassebru">
        <annotation>
          <documentation>11354: Fritt frambygd bru / Kassebru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hellebru">
        <annotation>
          <documentation>11351: Hellebru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hengebru">
        <annotation>
          <documentation>11359: Hengebru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hvelvbru">
        <annotation>
          <documentation>11319: Hvelvbru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kavlbru">
        <annotation>
          <documentation>11378: Kavlbru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mastebru">
        <annotation>
          <documentation>11383: Mastebru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="platebru">
        <annotation>
          <documentation>11356: Platebru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skråstagbru">
        <annotation>
          <documentation>11358: Skråstagbru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sprengverkbru">
        <annotation>
          <documentation>11355: Sprengverkbru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="all">
        <annotation>
          <documentation>11391: Allé</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kryssRundkjøring">
        <annotation>
          <documentation>11399: Kryss/Rundkjøring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegknute">
        <annotation>
          <documentation>11368: Vegknute</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rekkverk">
        <annotation>
          <documentation>11367: Rekkverk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rasteplass">
        <annotation>
          <documentation>11387: Rasteplass</documentation>
        </annotation>
      </enumeration>
      <enumeration value="støttemur">
        <annotation>
          <documentation>11370: Støttemur</documentation>
        </annotation>
      </enumeration>
      <enumeration value="støyskjerm">
        <annotation>
          <documentation>11395: Støyskjerm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegkunst">
        <annotation>
          <documentation>11400: Vegkunst</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegmerkerSkilt">
        <annotation>
          <documentation>11401: Vegmerker/skilt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="båtdragTrallebane">
        <annotation>
          <documentation>11380: Båtdrag / Trallebane</documentation>
        </annotation>
      </enumeration>
      <enumeration value="båtvorrSteinkai">
        <annotation>
          <documentation>11366: Båtvorr/Steinkai</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ferjekai">
        <annotation>
          <documentation>11386: Ferjekai</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ferjekaibru">
        <annotation>
          <documentation>11364: Ferjekaibru</documentation>
        </annotation>
      </enumeration>
      <enumeration value="landkarPilarPontong">
        <annotation>
          <documentation>11392: Landkar/Pilar/Pontong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gangsteinVadestein">
        <annotation>
          <documentation>11388: Gangstein/Vadestein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vardeVarderekke">
        <annotation>
          <documentation>11317: Varde/Varderekke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tunnel">
        <annotation>
          <documentation>11375: Tunnel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tunnelportal">
        <annotation>
          <documentation>11389: Tunnelportal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skredoverbygg">
        <annotation>
          <documentation>11381: Skredoverbygg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kulvert">
        <annotation>
          <documentation>11393: Kulvert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stikkrenne">
        <annotation>
          <documentation>11398: Stikkrenne</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bygate">
        <annotation>
          <documentation>11362: Bygate</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gangOgSykkelveg">
        <annotation>
          <documentation>11390: Gang- og sykkelveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lokalveg">
        <annotation>
          <documentation>11318: Lokalveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="miljøgate">
        <annotation>
          <documentation>11396: Miljøgate</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bomstasjon">
        <annotation>
          <documentation>11360: Bomstasjon</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EnkeltminneartOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegminne" substitutionGroup="nvdb:AbstraktVegminne" type="nvdb:VegminneType">
    <annotation>
      <documentation>786: objekt eller strekning av veg som er verneverdig eller fredet</documentation>
    </annotation>
  </element>
  <complexType name="VegminneType">
    <complexContent>
      <extension base="nvdb:AbstraktVegminneType">
        <sequence>
          <element minOccurs="0" name="NVPNummer" type="string">
            <annotation>
              <documentation>8359: viser til objektnummer i "Vegvalg" - Nasjonal verneplan for veger, bruer og vegrelaterte kulturminner</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="enkeltminneart" type="nvdb:EnkeltminneartType">
            <annotation>
              <documentation>8367: Angir hvilken enkeltminneart vegminne tilhører. Begrepet er definert i Askeladden</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="linkTilKulturminnesøk" type="string">
            <annotation>
              <documentation>10184: Gir link til Kulturminnesøk, dvs innsynsløsning for Askeladden. Gir mer detaljert informasjon om forekomst</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="askeladden_ID" type="string">
            <annotation>
              <documentation>8363: Gir referanse til unik ID i Askeladden</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>8360: Navn på vegminne</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>8388: Angir informasjon fortrinnsvis knyttet til forvaltning, drift og vedlikehold.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierVegminneType">
            <annotation>
              <documentation>8365: Angir hvem som er eier av kulturminne</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8389: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>10582: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10583: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegminnePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegminne"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
