GML/786.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.26">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierVegminneType">
    <annotation>
      <documentation>8365: Angir hvem som er eier av kulturminne</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8365</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8365</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierVegminneEnumerationType nvdb:EierVegminneOtherType"/>
  </simpleType>
  <simpleType name="EierVegminneEnumerationType">
    <annotation>
      <documentation>8365: Angir hvem som er eier av kulturminne</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8365</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8365</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>11308: Stat, Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11308</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stat, Statens vegvesen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18548: Stat, Nye Veier</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18548</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stat, Nye Veier</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, øvrig">
        <annotation>
          <documentation>11310: Stat, øvrig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11310</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stat, øvrig</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>16176: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16176</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>11309: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11309</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>11311: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11311</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Privat</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>11312: Ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11312</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ukjent</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierVegminneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EnkeltminneartType">
    <annotation>
      <documentation>8367: Angir hvilken enkeltminneart vegminne tilhører. Begrepet er definert i Askeladden</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8367</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8367</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Enkeltminneart</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EnkeltminneartEnumerationType nvdb:EnkeltminneartOtherType"/>
  </simpleType>
  <simpleType name="EnkeltminneartEnumerationType">
    <annotation>
      <documentation>8367: Angir hvilken enkeltminneart vegminne tilhører. Begrepet er definert i Askeladden</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8367</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8367</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Enkeltminneart</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Vegfar">
        <annotation>
          <documentation>11374: Vegfar</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11374</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegfar</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rideveg">
        <annotation>
          <documentation>11350: Rideveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11350</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rideveg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Postveg">
        <annotation>
          <documentation>11365: Postveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11365</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Postveg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Høgfjellsveg">
        <annotation>
          <documentation>11357: Høgfjellsveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11357</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Høgfjellsveg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kongeveg">
        <annotation>
          <documentation>11363: Kongeveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11363</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kongeveg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjerreveg-fransk prinsipp">
        <annotation>
          <documentation>11352: Kjerreveg-fransk prinsipp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11352</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjerreveg-fransk prinsipp</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Chaussé">
        <annotation>
          <documentation>11353: Chaussé</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11353</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Chaussé</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mellomriksveg">
        <annotation>
          <documentation>11371: Mellomriksveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11371</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Mellomriksveg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Motorveg">
        <annotation>
          <documentation>11379: Motorveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11379</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Motorveg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg, 1. generasjons bilveg (før 1960)">
        <annotation>
          <documentation>11397: Veg, 1. generasjons bilveg (før 1960)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11397</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veg, 1. generasjons bilveg (før 1960)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veg, 2-felts bilveg">
        <annotation>
          <documentation>11394: Veg, 2-felts bilveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11394</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veg, 2-felts bilveg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Forbindelsesveg">
        <annotation>
          <documentation>16789: Forbindelsesveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16789</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbindelsesveg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bevegelig bru">
        <annotation>
          <documentation>11377: Bevegelig bru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11377</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bevegelig bru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bjelkebru">
        <annotation>
          <documentation>11349: Bjelkebru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11349</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bjelkebru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Buebru">
        <annotation>
          <documentation>11361: Buebru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11361</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Buebru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fagverksbru / Hengverksbru">
        <annotation>
          <documentation>11382: Fagverksbru / Hengverksbru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11382</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fagverksbru / Hengverksbru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flytebru">
        <annotation>
          <documentation>11385: Flytebru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11385</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Flytebru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fritt frambygd bru / Kassebru">
        <annotation>
          <documentation>11354: Fritt frambygd bru / Kassebru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11354</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fritt frambygd bru / Kassebru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hellebru">
        <annotation>
          <documentation>11351: Hellebru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11351</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hellebru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hengebru">
        <annotation>
          <documentation>11359: Hengebru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11359</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hengebru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hvelvbru">
        <annotation>
          <documentation>11319: Hvelvbru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11319</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hvelvbru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kavlbru">
        <annotation>
          <documentation>11378: Kavlbru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11378</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kavlbru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mastebru">
        <annotation>
          <documentation>11383: Mastebru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11383</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Mastebru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Platebru">
        <annotation>
          <documentation>11356: Platebru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11356</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Platebru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skråstagbru">
        <annotation>
          <documentation>11358: Skråstagbru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11358</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skråstagbru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprengverkbru">
        <annotation>
          <documentation>11355: Sprengverkbru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11355</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sprengverkbru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Allé">
        <annotation>
          <documentation>11391: Allé</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11391</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Allé</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kryss/Rundkjøring">
        <annotation>
          <documentation>11399: Kryss/Rundkjøring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11399</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kryss/Rundkjøring</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegknute">
        <annotation>
          <documentation>11368: Vegknute</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11368</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegknute</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rekkverk">
        <annotation>
          <documentation>11367: Rekkverk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11367</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rekkverk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rasteplass">
        <annotation>
          <documentation>11387: Rasteplass</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11387</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rasteplass</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Støttemur">
        <annotation>
          <documentation>11370: Støttemur</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11370</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Støttemur</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Støyskjerm">
        <annotation>
          <documentation>11395: Støyskjerm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11395</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Støyskjerm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegkunst">
        <annotation>
          <documentation>11400: Vegkunst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11400</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegkunst</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegmerker/skilt">
        <annotation>
          <documentation>11401: Vegmerker/skilt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11401</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegmerker/skilt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Båtdrag / Trallebane">
        <annotation>
          <documentation>11380: Båtdrag / Trallebane</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11380</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Båtdrag / Trallebane</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Båtvorr/Steinkai">
        <annotation>
          <documentation>11366: Båtvorr/Steinkai</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11366</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Båtvorr/Steinkai</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferjekai">
        <annotation>
          <documentation>11386: Ferjekai</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11386</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ferjekai</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferjekaibru">
        <annotation>
          <documentation>11364: Ferjekaibru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11364</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ferjekaibru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Landkar/Pilar/Pontong">
        <annotation>
          <documentation>11392: Landkar/Pilar/Pontong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11392</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Landkar/Pilar/Pontong</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gangstein/Vadestein">
        <annotation>
          <documentation>11388: Gangstein/Vadestein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11388</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gangstein/Vadestein</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Varde/Varderekke">
        <annotation>
          <documentation>11317: Varde/Varderekke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11317</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varde/Varderekke</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnel">
        <annotation>
          <documentation>11375: Tunnel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11375</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tunnel</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnelportal">
        <annotation>
          <documentation>11389: Tunnelportal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11389</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tunnelportal</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skredoverbygg">
        <annotation>
          <documentation>11381: Skredoverbygg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11381</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skredoverbygg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kulvert">
        <annotation>
          <documentation>11393: Kulvert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11393</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kulvert</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stikkrenne">
        <annotation>
          <documentation>11398: Stikkrenne</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11398</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stikkrenne</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bygate">
        <annotation>
          <documentation>11362: Bygate</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11362</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bygate</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gang- og sykkelveg">
        <annotation>
          <documentation>11390: Gang- og sykkelveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11390</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gang- og sykkelveg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lokalveg">
        <annotation>
          <documentation>11318: Lokalveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11318</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lokalveg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Miljøgate">
        <annotation>
          <documentation>11396: Miljøgate</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11396</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Miljøgate</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bomstasjon">
        <annotation>
          <documentation>11360: Bomstasjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11360</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bomstasjon</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EnkeltminneartOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonGrøftKantrenskVegminneType">
    <annotation>
      <documentation>12045: Angir om det skal tas spesielle hensyn ved grøft/kantrensk</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12045</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12045</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Restriksjon grøft/kantrensk</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RestriksjonGrøftKantrenskVegminneEnumerationType nvdb:RestriksjonGrøftKantrenskVegminneOtherType"/>
  </simpleType>
  <simpleType name="RestriksjonGrøftKantrenskVegminneEnumerationType">
    <annotation>
      <documentation>12045: Angir om det skal tas spesielle hensyn ved grøft/kantrensk</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12045</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12045</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Restriksjon grøft/kantrensk</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Utføres etter særskilt beskrivelse">
        <annotation>
          <documentation>20873: Utføres etter særskilt beskrivelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20873</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utføres etter særskilt beskrivelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Utføres som avtalt i driftskontrakt">
        <annotation>
          <documentation>20874: Utføres som avtalt i driftskontrakt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20874</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utføres som avtalt i driftskontrakt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonGrøftKantrenskVegminneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonKantklippVegminneType">
    <annotation>
      <documentation>12046: Angir om det skal tas spesielle hensyn ved kantklipp</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12046</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12046</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Restriksjon kantklipp</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RestriksjonKantklippVegminneEnumerationType nvdb:RestriksjonKantklippVegminneOtherType"/>
  </simpleType>
  <simpleType name="RestriksjonKantklippVegminneEnumerationType">
    <annotation>
      <documentation>12046: Angir om det skal tas spesielle hensyn ved kantklipp</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12046</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12046</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Restriksjon kantklipp</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Utføres etter særskilt beskrivelse">
        <annotation>
          <documentation>20885: Utføres etter særskilt beskrivelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20885</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utføres etter særskilt beskrivelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Utføres som avtalt i driftskontrakt">
        <annotation>
          <documentation>20886: Utføres som avtalt i driftskontrakt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20886</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utføres som avtalt i driftskontrakt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonKantklippVegminneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegminne" substitutionGroup="nvdb:AbstraktVegminne" type="nvdb:VegminneType">
    <annotation>
      <documentation>786: objekt eller strekning av veg som er verneverdig eller fredet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">786</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">786</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegminne</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegminneType">
    <complexContent>
      <extension base="nvdb:AbstraktVegminneType">
        <sequence>
          <element minOccurs="0" name="NVPNummer" type="string">
            <annotation>
              <documentation>8359: viser til objektnummer i "Vegvalg" - Nasjonal verneplan for veger, bruer og vegrelaterte kulturminner</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8359</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NVP nummer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vernestatus" type="nvdb:VernestatusVegminneType">
            <annotation>
              <documentation>12044: Juridisk vern, hjemlet i lov, forskrift, plan mv</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12044</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vernestatus</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="enkeltminneart" type="nvdb:EnkeltminneartType">
            <annotation>
              <documentation>8367: Angir hvilken enkeltminneart vegminne tilhører. Begrepet er definert i Askeladden</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8367</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Enkeltminneart</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="linkTilKulturminnesøk" type="string">
            <annotation>
              <documentation>10184: Gir link til Kulturminnesøk, dvs innsynsløsning for Askeladden. Gir mer detaljert informasjon om forekomst</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10184</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Link til kulturminnesøk</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="askeladden_ID" type="string">
            <annotation>
              <documentation>8363: Gir referanse til unik ID i Askeladden</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8363</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Askeladden_ID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="restriksjonGrøftKantrensk" type="nvdb:RestriksjonGrøftKantrenskVegminneType">
            <annotation>
              <documentation>12045: Angir om det skal tas spesielle hensyn ved grøft/kantrensk</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12045</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Restriksjon grøft/kantrensk</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="restriksjonKantklipp" type="nvdb:RestriksjonKantklippVegminneType">
            <annotation>
              <documentation>12046: Angir om det skal tas spesielle hensyn ved kantklipp</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12046</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Restriksjon kantklipp</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>8360: Navn på vegminne</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8360</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Navn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>8388: Angir informasjon fortrinnsvis knyttet til forvaltning, drift og vedlikehold.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8388</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierVegminneType">
            <annotation>
              <documentation>8365: Angir hvem som er eier av kulturminne</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8365</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8389: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8389</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>10582: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10582</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, linje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10583: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10583</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, flate</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegminnePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegminne"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VernestatusVegminneType">
    <annotation>
      <documentation>12044: Juridisk vern, hjemlet i lov, forskrift, plan mv</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12044</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12044</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vernestatus</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VernestatusVegminneEnumerationType nvdb:VernestatusVegminneOtherType"/>
  </simpleType>
  <simpleType name="VernestatusVegminneEnumerationType">
    <annotation>
      <documentation>12044: Juridisk vern, hjemlet i lov, forskrift, plan mv</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12044</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12044</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vernestatus</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Automatisk fredet">
        <annotation>
          <documentation>20875: Automatisk fredet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20875</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Automatisk fredet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vedtaksfredet">
        <annotation>
          <documentation>20876: Vedtaksfredet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20876</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vedtaksfredet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tinglysning">
        <annotation>
          <documentation>20877: Tinglysning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20877</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tinglysning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Verneplan">
        <annotation>
          <documentation>20878: Verneplan</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20878</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Verneplan</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommunal kulturminneplan">
        <annotation>
          <documentation>20879: Kommunal kulturminneplan</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20879</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kommunal kulturminneplan</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen">
        <annotation>
          <documentation>20880: Ingen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20880</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ingen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VernestatusVegminneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
