GML/79.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>79: Rør for vanngjennomløp på tvers av vegen (ev. på tvers av tilgrensende avkjørsel) med maks lysåpning 2,5 meter. Stikkrenne/kulvert har åpent innløp og/eller utløp. Stikkrenne/kulvert kan ha inn- og utløpskonstruksjoner som kummer og støtteskjold. Merknad: Inntil videre registrere stikkrenner med bruksområde biologisk mangfold eller landbruk som vanlig stikkrenne. Dette blir endret på i senere versjon av Datakatalogen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BelegningInnløpStikkrenneKulvertType">
      <annotation>
         <documentation>11418: Angir om det er spesiell belegning i området rundt innløpet av stikkrenna.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11418</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning innløp</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelegningInnløpStikkrenneKulvertEnumerationType nvdb:BelegningInnløpStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="BelegningInnløpStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>11418: Angir om det er spesiell belegning i området rundt innløpet av stikkrenna.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11418</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning innløp</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19271</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19273</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen/stedlige masser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19272</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelegningInnløpStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BelegningStikkrenneStikkrenneKulvertType">
      <annotation>
         <documentation>12232: Angir om det er egen belegning i bunn stikkrenne av annet materiale enn stikkrenne for øvrig. Benyttes for sikring mot erosjon og/eller bremsing av vannhastighet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12232</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning stikkrenne</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelegningStikkrenneStikkrenneKulvertEnumerationType nvdb:BelegningStikkrenneStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="BelegningStikkrenneStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>12232: Angir om det er egen belegning i bunn stikkrenne av annet materiale enn stikkrenne for øvrig. Benyttes for sikring mot erosjon og/eller bremsing av vannhastighet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12232</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning stikkrenne</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <documentation>21348: Det er lagt betong i bunn av stikkrenne.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21348</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ingen belegning">
            <annotation>
               <documentation>21349: Det er ingen ekstra belegning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21349</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen belegning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelegningStikkrenneStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BelegningUtløpStikkrenneKulvertType">
      <annotation>
         <documentation>11419: Angir om det er spesiell belegning i området rundt utløpet av stikkrenna.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11419</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning utløp</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelegningUtløpStikkrenneKulvertEnumerationType nvdb:BelegningUtløpStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="BelegningUtløpStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>11419: Angir om det er spesiell belegning i området rundt utløpet av stikkrenna.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11419</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning utløp</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19274</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19276</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen/stedlige masser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19275</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelegningUtløpStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeStikkrenneKulvertType">
      <annotation>
         <documentation>6981: Angir hva stikkrenne kulvert primært brukes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6981</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeStikkrenneKulvertEnumerationType nvdb:BruksområdeStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>6981: Angir hva stikkrenne kulvert primært brukes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6981</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bm">
            <annotation>
               <documentation>9116: Gjennomløp for å hindre at veg begrenser biologisk mangfold.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9116</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Biologisk mangfold</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <documentation>9115: Gjennomløp under veg som benyttes i forbindelse med landbruk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9115</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Landbruk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <documentation>9114: Gjennomløp for å transportere vann på tvers av vegen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9114</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vd">
            <annotation>
               <documentation>15880: Gjennomløp for å lede vann gjennom voll.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15880</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Voll, vanngjennomløp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierStikkrenneKulvertType">
      <annotation>
         <documentation>7996: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7996</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierStikkrenneKulvertEnumerationType nvdb:EierStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="EierStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>7996: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7996</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10724</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10326</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10390</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18598</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10262</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17573: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17573</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringStikkrenneKulvertType">
      <annotation>
         <documentation>6982: Angir hvordan stikkrenne/kulvert er fundamentert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6982</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FundamenteringStikkrenneKulvertEnumerationType nvdb:FundamenteringStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="FundamenteringStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>6982: Angir hvordan stikkrenne/kulvert er fundamentert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6982</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9117</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bunnplate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="f">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9119</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjellfot</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9120</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9122</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Leire</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9121</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9123</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stedlige masser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9118</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sålefundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="GjennomløpForElvBekkStikkrenneKulvertType">
      <annotation>
         <documentation>10223: Angir om elv/bekk renner gjennom stikkrenne/kulvert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10223</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjennomløp for elv/bekk</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GjennomløpForElvBekkStikkrenneKulvertEnumerationType nvdb:GjennomløpForElvBekkStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="GjennomløpForElvBekkStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>10223: Angir om elv/bekk renner gjennom stikkrenne/kulvert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10223</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjennomløp for elv/bekk</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16700</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16701</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GjennomløpForElvBekkStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="HarInnløpsristStikkrenneKulvertType">
      <annotation>
         <documentation>1923: Angir om det er innløpsrist i tilknytning til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Har innløpsrist</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:HarInnløpsristStikkrenneKulvertEnumerationType nvdb:HarInnløpsristStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="HarInnløpsristStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>1923: Angir om det er innløpsrist i tilknytning til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Har innløpsrist</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3531</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3569</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="HarInnløpsristStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeStikkrenneKulvertType">
      <annotation>
         <documentation>6983: Angir materialtype.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6983</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeStikkrenneKulvertEnumerationType nvdb:MaterialtypeStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>6983: Angir materialtype.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6983</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9125</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="e">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9129</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Eternitt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9128</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9127</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9126</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9124</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PrefabrikkertStikkrenneKulvertType">
      <annotation>
         <documentation>6985: Angir om gjennomløp er plassprodusert eller prefabrikkert. Bare aktuelt for stikkrenne/kulvert av betong.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6985</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Prefabrikkert</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PrefabrikkertStikkrenneKulvertEnumerationType nvdb:PrefabrikkertStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="PrefabrikkertStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>6985: Angir om gjennomløp er plassprodusert eller prefabrikkert. Bare aktuelt for stikkrenne/kulvert av betong.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6985</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Prefabrikkert</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="pp">
            <annotation>
               <documentation>9137: Stikkrenne er støpt på stedet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9137</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plassprodusert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pf">
            <annotation>
               <documentation>9135: Stikkrenne/kulvert er prefabrikkert.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9135</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Prefabrikkert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="PI">
            <annotation>
               <documentation>17382: Stikkrenne/kulvert er prefabrikkert, består av ikke standardiserte moduler.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17382</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Prefabrikkert, ikke NS3121</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pm">
            <annotation>
               <documentation>17377: Stikkrenne/kulvert er prefabrikkert, består av utskiftbare moduler som er i henhold til NS3121.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17377</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Prefabrikkert, NS3121</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PrefabrikkertStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RehabiliteringStikkrenneKulvertType">
      <annotation>
         <documentation>10766: Angir hvilken type rehabilitering som er gjort.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10766</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rehabilitering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RehabiliteringStikkrenneKulvertEnumerationType nvdb:RehabiliteringStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="RehabiliteringStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>10766: Angir hvilken type rehabilitering som er gjort.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10766</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rehabilitering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="du">
            <annotation>
               <documentation>17890: Del av rør er skiftet/forlenget.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17890</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Delvis utskifting</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IR">
            <annotation>
               <documentation>19084: Stikkrenne/kulvert er ikke rehabilitert.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19084</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke rehabilitert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <documentation>17439: Det er etablert en glassfiberstrømpe inni eksisterende vanngjenomløp. Benevnes også "no dig rørfornying".</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17439</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innvendig glassfiberstrømpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RehabiliteringStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RetningStikkrenneKulvertType">
      <annotation>
         <documentation>2049: Angir hvilken retning i forhold til metrering vegobjektet har. Angir klokkeretning som vannet renner i, 12 angir at vannet renner parallelt med vegen i metreringsretningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2049</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Retning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RetningStikkrenneKulvertEnumerationType nvdb:RetningStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="RetningStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>2049: Angir hvilken retning i forhold til metrering vegobjektet har. Angir klokkeretning som vannet renner i, 12 angir at vannet renner parallelt med vegen i metreringsretningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2049</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Retning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="01">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3732</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3936</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3937</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3938</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="02">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3741</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="03">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3748</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="04">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3018</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="05">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3779</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="06">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3782</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="07">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3933</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="08">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3934</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="09">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3935</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RetningStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SpesielleHensynFiskevandringStikkrenneKulvertType">
      <annotation>
         <documentation>11200: Angir om det skal tas spesielle hensyn i forhold til fiskevandring. For mer info se datterobjekt av type "Fysisk inngrep i vannforekomst".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11200</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesielle hensyn fiskevandring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SpesielleHensynFiskevandringStikkrenneKulvertEnumerationType nvdb:SpesielleHensynFiskevandringStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="SpesielleHensynFiskevandringStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>11200: Angir om det skal tas spesielle hensyn i forhold til fiskevandring. For mer info se datterobjekt av type "Fysisk inngrep i vannforekomst".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11200</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesielle hensyn fiskevandring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18490</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18491</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>18492: Verdi benyttes om det ikke er avgjort om det skal tas spesielle hensyn eller ikke.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18492</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SpesielleHensynFiskevandringStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SpesielleProblemStikkrenneKulvertType">
      <annotation>
         <documentation>4562: Angir eventuelle spesielle problem knyttet til stikkrennen. Dette er problem som stadig gjentar seg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4562</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesielle problem</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SpesielleProblemStikkrenneKulvertEnumerationType nvdb:SpesielleProblemStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="SpesielleProblemStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>4562: Angir eventuelle spesielle problem knyttet til stikkrennen. Dette er problem som stadig gjentar seg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4562</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesielle problem</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21654</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kollaps</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mi">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5470</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Masser, innløp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21652</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Masser, innløp og utløp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5471</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Masser, utløp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vi">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5472</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegetasjonstetting, innløp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21653</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegetasjonstetting, innløp og utløp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5473</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegetasjonstetting, utløp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k">
            <annotation>
               <documentation>22263: Stikkrenne er underdimensjonert og klarer ikke ta unna nok vann ved store nedbørsmengder.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22263</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kapasitet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SpesielleProblemStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="StikkrenneKulvert"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:StikkrenneKulvertType">
      <annotation>
         <documentation>79: Rør for vanngjennomløp på tvers av vegen (ev. på tvers av tilgrensende avkjørsel) med maks lysåpning 2,5 meter. Stikkrenne/kulvert har åpent innløp og/eller utløp. Stikkrenne/kulvert kan ha inn- og utløpskonstruksjoner som kummer og støtteskjold. Merknad: Inntil videre registrere stikkrenner med bruksområde biologisk mangfold eller landbruk som vanlig stikkrenne. Dette blir endret på i senere versjon av Datakatalogen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">79</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">StikkrenneKulvert</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="StikkrenneKulvertType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeStikkrenneKulvertType">
                  <annotation>
                     <documentation>6981: Angir hva stikkrenne kulvert primært brukes til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6981</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="navn" type="string">
                  <annotation>
                     <documentation>6980: Angir navn knyttet til stikkrenne/kulvert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6980</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilknyttetLukkaDren">
                  <annotation>
                     <documentation>1941: Angir om stikkrenne er tilknytta lukka drenering. Vannet ledes inn i et lukket dreneringssystem.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1941</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilknyttet lukka dren</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gjennomløpForElvBekk">
                  <annotation>
                     <documentation>10223: Angir om elv/bekk renner gjennom stikkrenne/kulvert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10223</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjennomløp for elv/bekk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialtype" type="nvdb:MaterialtypeStikkrenneKulvertType">
                  <annotation>
                     <documentation>6983: Angir materialtype.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6983</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="belegningStikkrenne">
                  <annotation>
                     <documentation>12232: Angir om det er egen belegning i bunn stikkrenne av annet materiale enn stikkrenne for øvrig. Benyttes for sikring mot erosjon og/eller bremsing av vannhastighet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12232</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belegning stikkrenne</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tverrsnittsform" type="nvdb:TverrsnittsformStikkrenneKulvertType">
                  <annotation>
                     <documentation>6984: Angir hvilken type tverrsnitt gjennomløpskonstruksjon har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6984</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tverrsnittsform</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typeInnløp">
                  <annotation>
                     <documentation>1939: Angir hvilken type innløp det er i ei stikkrenne.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1939</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type innløp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="belegningInnløp">
                  <annotation>
                     <documentation>11418: Angir om det er spesiell belegning i området rundt innløpet av stikkrenna.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11418</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belegning innløp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typeUtløp">
                  <annotation>
                     <documentation>1940: Angir hvilken type utløp det er i ei stikkrenne.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1940</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type utløp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="belegningUtløp">
                  <annotation>
                     <documentation>11419: Angir om det er spesiell belegning i området rundt utløpet av stikkrenna.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11419</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belegning utløp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="fundamentering"
                        type="nvdb:FundamenteringStikkrenneKulvertType">
                  <annotation>
                     <documentation>6982: Angir hvordan stikkrenne/kulvert er fundamentert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6982</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="prefabrikkert"
                        type="nvdb:PrefabrikkertStikkrenneKulvertType">
                  <annotation>
                     <documentation>6985: Angir om gjennomløp er plassprodusert eller prefabrikkert. Bare aktuelt for stikkrenne/kulvert av betong.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6985</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prefabrikkert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>1323: Angir lengde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1323</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="diameter_Innvendig" type="integer">
                  <annotation>
                     <documentation>3113: Angir innvendig diameter av gjennomløp. Benyttes fortrinnsvis for sirkulære tverrsnitt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3113</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Diameter, innvendig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde_Innvendig" type="integer">
                  <annotation>
                     <documentation>4548: Angir innvendig bredde av gjennomløpskonstruksjon. Ikke aktuell for sirkulære tverrsnitt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4548</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, innvendig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høyde_Innvendig" type="integer">
                  <annotation>
                     <documentation>4549: Angir innvendig høyde av gjennomløpskonstruksjon. Tar ikke hensyn til ev. igjenfylling i bunn av konstruksjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4549</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, innvendig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="retning"
                        type="nvdb:RetningStikkrenneKulvertType">
                  <annotation>
                     <documentation>2049: Angir hvilken retning i forhold til metrering vegobjektet har. Angir klokkeretning som vannet renner i, 12 angir at vannet renner parallelt med vegen i metreringsretningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2049</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Retning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vinkel" type="nvdb:VinkelStikkrenneKulvertType">
                  <annotation>
                     <documentation>2123: Angir om vinkel mellom stikkrenna og veg som stikkrenna krysser er rett eller skrå.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2123</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vinkel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="helningFall" type="double">
                  <annotation>
                     <documentation>3112: Angir fall på stikkrenne. Angis alltid som positiv verdi.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3112</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Helning/Fall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tykkelseOverfylling" type="double">
                  <annotation>
                     <documentation>3115: Angir tykkelse overfylling av rørledning. Det vil si gjennomsnittlig tykkelse fra topp av rørledning til topp dekke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3115</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tykkelse overfylling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="overfyllingUtløp" type="double">
                  <annotation>
                     <documentation>10225: Angir tykkelsen på overfylling ved utløp. Det vil si tykkelse fra topp av stikkrenne til topp dekke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10225</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overfylling utløp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="overfyllingInnløp" type="double">
                  <annotation>
                     <documentation>10224: Angir tykkelsen på overfylling ved innløp. Det vil si tykkelse fra topp av stikkrenne til topp dekke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10224</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overfylling innløp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="harInnløpsrist">
                  <annotation>
                     <documentation>1923: Angir om det er innløpsrist i tilknytning til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1923</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Har innløpsrist</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="varmekabler"
                        type="nvdb:VarmekablerStikkrenneKulvertType">
                  <annotation>
                     <documentation>1832: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1832</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallTininger" type="integer">
                  <annotation>
                     <documentation>1942: Angir hvor mange ganger stikkrenna vanligvis må tines i løpet av en vinter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1942</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall tininger</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="rehabilitering"
                        type="nvdb:RehabiliteringStikkrenneKulvertType">
                  <annotation>
                     <documentation>10766: Angir hvilken type rehabilitering som er gjort.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10766</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rehabilitering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="spesielleProblem">
                  <annotation>
                     <documentation>4562: Angir eventuelle spesielle problem knyttet til stikkrennen. Dette er problem som stadig gjentar seg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4562</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spesielle problem</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="spesielleHensynFiskevandring">
                  <annotation>
                     <documentation>11200: Angir om det skal tas spesielle hensyn i forhold til fiskevandring. For mer info se datterobjekt av type "Fysisk inngrep i vannforekomst".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11200</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spesielle hensyn fiskevandring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>4556: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4556</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10481: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10481</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produktnavn_Rør" type="string">
                  <annotation>
                     <documentation>3111: Angir produktnavn for rør. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3111</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn, rør</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>10771: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, kan f.eks. være spesielle forhold knyttet til oppbygging, utdyping av spesielle problem, m.m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10771</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivnummer" type="string">
                  <annotation>
                     <documentation>11307: Gir referanse til relevant sak i vegeiers arkivsystem.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11307</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivreferanse" type="string">
                  <annotation>
                     <documentation>11659: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11659</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11068: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11068</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12307: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12307</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="FKB_ID" type="string">
                  <annotation>
                     <documentation>10855: Refererer til FKB-identitet. Benyttes i forbindelse med felles forvaltning av geometri.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10855</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">FKB_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierStikkrenneKulvertType">
                  <annotation>
                     <documentation>7996: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7996</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligStikkrenneKulvertType">
                  <annotation>
                     <documentation>8060: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8060</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4780: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4780</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>5899: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5899</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>5902: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5902</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høyde_Passasje" type="integer">
                  <annotation>
                     <documentation>6979: Angir innvendig høyde når det er tatt hensyn til eventuelle hindringer, f.eks. masser i bunn, oppheng i tak.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6979</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, passasje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="StikkrenneKulvertPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:StikkrenneKulvert"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TilknyttetLukkaDrenStikkrenneKulvertType">
      <annotation>
         <documentation>1941: Angir om stikkrenne er tilknytta lukka drenering. Vannet ledes inn i et lukket dreneringssystem.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1941</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilknyttet lukka dren</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilknyttetLukkaDrenStikkrenneKulvertEnumerationType nvdb:TilknyttetLukkaDrenStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="TilknyttetLukkaDrenStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>1941: Angir om stikkrenne er tilknytta lukka drenering. Vannet ledes inn i et lukket dreneringssystem.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1941</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilknyttet lukka dren</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3533</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3571</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilknyttetLukkaDrenStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TverrsnittsformStikkrenneKulvertType">
      <annotation>
         <documentation>6984: Angir hvilken type tverrsnitt gjennomløpskonstruksjon har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6984</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tverrsnittsform</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TverrsnittsformStikkrenneKulvertEnumerationType nvdb:TverrsnittsformStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="TverrsnittsformStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>6984: Angir hvilken type tverrsnitt gjennomløpskonstruksjon har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6984</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tverrsnittsform</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="e">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9133</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ellipseform</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9132</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flatbunnet med hvelv</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9131</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rektangulær</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9130</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sirkulær</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TverrsnittsformStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeInnløpStikkrenneKulvertType">
      <annotation>
         <documentation>1939: Angir hvilken type innløp det er i ei stikkrenne.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1939</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type innløp</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeInnløpStikkrenneKulvertEnumerationType nvdb:TypeInnløpStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="TypeInnløpStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>1939: Angir hvilken type innløp det er i ei stikkrenne.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1939</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type innløp</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="si">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2925</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kum over stikkrenne</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="A">
            <annotation>
               <documentation>11744: Vann renner inn direkte fra åpen grøft.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11744</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpent i grøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="åpss">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16761</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpent i grøft med støtteskjold</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="åpnf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16699</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpent med frontmur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeInnløpStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeUtløpStikkrenneKulvertType">
      <annotation>
         <documentation>1940: Angir hvilken type utløp det er i ei stikkrenne.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1940</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type utløp</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeUtløpStikkrenneKulvertEnumerationType nvdb:TypeUtløpStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="TypeUtløpStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>1940: Angir hvilken type utløp det er i ei stikkrenne.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1940</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type utløp</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="BE">
            <annotation>
               <documentation>2929: Vann ledes ut i bekk/elv.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2929</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I bekk/elv</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SK">
            <annotation>
               <documentation>2928: Vann ledes ut i skråning eller ut i terreng.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2928</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I skråning/terreng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FK">
            <annotation>
               <documentation>2927: Vann ledes til kum.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2927</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kum</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="AG">
            <annotation>
               <documentation>11655: Vann ledes til åpen grøft. Merknad: Ofte aktuelt i forbindelse med stikkrenner under avkjørsel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11655</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpen grøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeUtløpStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VarmekablerStikkrenneKulvertType">
      <annotation>
         <documentation>1832: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1832</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VarmekablerStikkrenneKulvertEnumerationType nvdb:VarmekablerStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="VarmekablerStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>1832: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1832</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3524</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3562</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VarmekablerStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligStikkrenneKulvertType">
      <annotation>
         <documentation>8060: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8060</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligStikkrenneKulvertEnumerationType nvdb:VedlikeholdsansvarligStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>8060: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8060</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19929</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10532</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18729</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18858</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10610</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10454</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17712</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VinkelStikkrenneKulvertType">
      <annotation>
         <documentation>2123: Angir om vinkel mellom stikkrenna og veg som stikkrenna krysser er rett eller skrå.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2123</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinkel</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VinkelStikkrenneKulvertEnumerationType nvdb:VinkelStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="VinkelStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>2123: Angir om vinkel mellom stikkrenna og veg som stikkrenna krysser er rett eller skrå.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2123</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinkel</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="r">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2465</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2381</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skrå</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VinkelStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
