GML/79.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelegningInnløpType">
    <annotation>
      <documentation>11418: Angir om det er spesiell belegning i området rundt innløpet av stikkrenna.</documentation>
    </annotation>
    <union memberTypes="nvdb:BelegningInnløpEnumerationType nvdb:BelegningInnløpOtherType"/>
  </simpleType>
  <simpleType name="BelegningInnløpEnumerationType">
    <annotation>
      <documentation>11418: Angir om det er spesiell belegning i området rundt innløpet av stikkrenna.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="asfalt">
        <annotation>
          <documentation>19271: Asfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stein">
        <annotation>
          <documentation>19272: Stein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ingenStedligeMasser">
        <annotation>
          <documentation>19273: Ingen/stedlige masser</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelegningInnløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BelegningUtløpType">
    <annotation>
      <documentation>11419: Angir om det er spesiell belegning i området rundt utløpet av stikkrenna.</documentation>
    </annotation>
    <union memberTypes="nvdb:BelegningUtløpEnumerationType nvdb:BelegningUtløpOtherType"/>
  </simpleType>
  <simpleType name="BelegningUtløpEnumerationType">
    <annotation>
      <documentation>11419: Angir om det er spesiell belegning i området rundt utløpet av stikkrenna.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="asfalt">
        <annotation>
          <documentation>19274: Asfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stein">
        <annotation>
          <documentation>19275: Stein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ingenStedligeMasser">
        <annotation>
          <documentation>19276: Ingen/stedlige masser</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelegningUtløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeStikkrenneKulvertType">
    <annotation>
      <documentation>6981: Angir hva stikkrenne kulvert primært brukes til.</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdeStikkrenneKulvertEnumerationType nvdb:BruksområdeStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>6981: Angir hva stikkrenne kulvert primært brukes til.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="vann">
        <annotation>
          <documentation>9114: Gjennomløp for å transportere vann på tvers av vegen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="landbruk">
        <annotation>
          <documentation>9115: Gjennomløp under veg som benyttes i forbindelse med landbruk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="voll_Vanngjennomløp">
        <annotation>
          <documentation>15880: Gjennomløp for å lede vann gjennom voll</documentation>
        </annotation>
      </enumeration>
      <enumeration value="biologiskMangfold">
        <annotation>
          <documentation>9116: Gjennomløp for å hindre at veg begrenser biologisk mangfold</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierStikkrenneKulvertType">
    <annotation>
      <documentation>7996: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierStikkrenneKulvertEnumerationType nvdb:EierStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="EierStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>7996: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10262: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18598: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10724: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10326: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10390: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17573: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringStikkrenneKulvertType">
    <annotation>
      <documentation>6982: Angir hvordan stikkrenne/kulvert er fundamentert</documentation>
    </annotation>
    <union memberTypes="nvdb:FundamenteringStikkrenneKulvertEnumerationType nvdb:FundamenteringStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="FundamenteringStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>6982: Angir hvordan stikkrenne/kulvert er fundamentert</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="bunnplate">
        <annotation>
          <documentation>9117: Bunnplate</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sålefundament">
        <annotation>
          <documentation>9118: Sålefundament</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fjellfot">
        <annotation>
          <documentation>9119: Fjellfot</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grus">
        <annotation>
          <documentation>9120: Grus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pukk">
        <annotation>
          <documentation>9121: Pukk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="leire">
        <annotation>
          <documentation>9122: Leire</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stedligeMasser">
        <annotation>
          <documentation>9123: Stedlige masser</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GjennomløpForElvBekkType">
    <annotation>
      <documentation>10223: Angir om elv/bekk renner gjennom stikkrenne/kulvert</documentation>
    </annotation>
    <union memberTypes="nvdb:GjennomløpForElvBekkEnumerationType nvdb:GjennomløpForElvBekkOtherType"/>
  </simpleType>
  <simpleType name="GjennomløpForElvBekkEnumerationType">
    <annotation>
      <documentation>10223: Angir om elv/bekk renner gjennom stikkrenne/kulvert</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16700: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16701: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjennomløpForElvBekkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HarInnløpsristStikkrenneKulvertType">
    <annotation>
      <documentation>1923: Angir om det er innløpsrist i tilknytning til vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:HarInnløpsristStikkrenneKulvertEnumerationType nvdb:HarInnløpsristStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="HarInnløpsristStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>1923: Angir om det er innløpsrist i tilknytning til vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3531: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3569: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HarInnløpsristStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeStikkrenneKulvertType">
    <annotation>
      <documentation>6983: Angir materialtype</documentation>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeStikkrenneKulvertEnumerationType nvdb:MaterialtypeStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>6983: Angir materialtype</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="betong">
        <annotation>
          <documentation>9125: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stål">
        <annotation>
          <documentation>9126: Stål</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plast">
        <annotation>
          <documentation>9127: Plast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="naturstein">
        <annotation>
          <documentation>9128: Naturstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tre">
        <annotation>
          <documentation>9124: Tre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="eternitt">
        <annotation>
          <documentation>9129: Eternitt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PrefabrikkertType">
    <annotation>
      <documentation>6985: Angir om gjennomløp er plassprodusert eller prefabrikkert. Bare aktuelt for stikkrenne/kulvert av betong</documentation>
    </annotation>
    <union memberTypes="nvdb:PrefabrikkertEnumerationType nvdb:PrefabrikkertOtherType"/>
  </simpleType>
  <simpleType name="PrefabrikkertEnumerationType">
    <annotation>
      <documentation>6985: Angir om gjennomløp er plassprodusert eller prefabrikkert. Bare aktuelt for stikkrenne/kulvert av betong</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="prefabrikkert">
        <annotation>
          <documentation>9135: Stikkrenne/kulvert er prefabrikkert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="prefabrikkert_NS3121">
        <annotation>
          <documentation>17377: Stikkrenne/kulvert er prefabrikkert, består av utskiftbare moduler som er i henhold til NS3121</documentation>
        </annotation>
      </enumeration>
      <enumeration value="prefabrikkert_IkkeNS3121">
        <annotation>
          <documentation>17382: Stikkrenne/kulvert er prefabrikkert, består av ikke standardiserte moduler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plassprodusert">
        <annotation>
          <documentation>9137: Stikkrenne er støpt på stedet</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PrefabrikkertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RehabiliteringStikkrenneKulvertType">
    <annotation>
      <documentation>10766: Angir hvilken type rehabilitering som er gjort</documentation>
    </annotation>
    <union memberTypes="nvdb:RehabiliteringStikkrenneKulvertEnumerationType nvdb:RehabiliteringStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="RehabiliteringStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>10766: Angir hvilken type rehabilitering som er gjort</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="innvendigGlassfiberstrømpe">
        <annotation>
          <documentation>17439: Det er etablert en glassfiberstrømpe inni eksisterende vanngjenomløp. Benevnes også "no dig rørfornying".</documentation>
        </annotation>
      </enumeration>
      <enumeration value="delvisUtskifting">
        <annotation>
          <documentation>17890: Del av rør er skiftet/forlenget.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeRehabilitert">
        <annotation>
          <documentation>19084: Stikkrenne/kulvert er ikke rehabilitert</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RehabiliteringStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RetningStikkrenneKulvertType">
    <annotation>
      <documentation>2049: Angir hvilken retning i forhold til metrering vegobjektet har.  Angir klokkeretning som vannet renner i, 12 angir at vannet renner parallelt med vegen i metreringsretningen</documentation>
    </annotation>
    <union memberTypes="nvdb:RetningStikkrenneKulvertEnumerationType nvdb:RetningStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="RetningStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>2049: Angir hvilken retning i forhold til metrering vegobjektet har.  Angir klokkeretning som vannet renner i, 12 angir at vannet renner parallelt med vegen i metreringsretningen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>3732: 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>3741: 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>3748: 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>3018: 4</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>3779: 5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>3782: 6</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7">
        <annotation>
          <documentation>3933: 7</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>3934: 8</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>3935: 9</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10">
        <annotation>
          <documentation>3936: 10</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation>3937: 11</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>3938: 12</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RetningStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpesielleHensynFiskevandringType">
    <annotation>
      <documentation>11200: Angir om det skal tas spesielle hensyn i forhold til fiskevandring. For mer info se datterobejkt av type "Fysisk inngrep i vannforekomst"</documentation>
    </annotation>
    <union memberTypes="nvdb:SpesielleHensynFiskevandringEnumerationType nvdb:SpesielleHensynFiskevandringOtherType"/>
  </simpleType>
  <simpleType name="SpesielleHensynFiskevandringEnumerationType">
    <annotation>
      <documentation>11200: Angir om det skal tas spesielle hensyn i forhold til fiskevandring. For mer info se datterobejkt av type "Fysisk inngrep i vannforekomst"</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>18490: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>18491: Nei</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>18492: Verdi benyttes om det ikke er avgjort om det skal tas spesielle hensyn eller ikke</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpesielleHensynFiskevandringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpesielleProblemType">
    <annotation>
      <documentation>4562: Angir eventuelle spesielle problem knyttet til stikkrennen.  Dette er problem som stadig gjentar seg.</documentation>
    </annotation>
    <union memberTypes="nvdb:SpesielleProblemEnumerationType nvdb:SpesielleProblemOtherType"/>
  </simpleType>
  <simpleType name="SpesielleProblemEnumerationType">
    <annotation>
      <documentation>4562: Angir eventuelle spesielle problem knyttet til stikkrennen.  Dette er problem som stadig gjentar seg.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="masser_Innløp">
        <annotation>
          <documentation>5470: Masser, innløp</documentation>
        </annotation>
      </enumeration>
      <enumeration value="masser_Utløp">
        <annotation>
          <documentation>5471: Masser, utløp</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegetasjonstetting_Innløp">
        <annotation>
          <documentation>5472: Vegetasjonstetting, innløp</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegetasjonstetting_Utløp">
        <annotation>
          <documentation>5473: Vegetasjonstetting, utløp</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpesielleProblemOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="StikkrenneKulvert" substitutionGroup="nvdb:AbstraktStikkrenneKulvert" type="nvdb:StikkrenneKulvertType">
    <annotation>
      <documentation>79: Rør for vanngjennomløp på tvers av vegen (evnt. på tvers av tilgrensende avkjørsel) med maks lysåpning 2,5 meter. Stikkrenne/kulvert har åpent innløp og/eller utløp. Stikkrenne/kulvert kan ha inn- og utløpskonstruksjoner som kummer og støtteskjold. Merknad: Inntil videre registrere stikkrenner med bruksområde biologisk mangfold eller landbruk som vanlig stikkrenne. Dette blir endret på i senere versjon av Datakatalogen.</documentation>
    </annotation>
  </element>
  <complexType name="StikkrenneKulvertType">
    <complexContent>
      <extension base="nvdb:AbstraktStikkrenneKulvertType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeStikkrenneKulvertType">
            <annotation>
              <documentation>6981: Angir hva stikkrenne kulvert primært brukes til.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>6980: Angir navn knyttet til stikkrenne/kulvert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilknyttetLukkaDren" type="nvdb:TilknyttetLukkaDrenType">
            <annotation>
              <documentation>1941: Angir om stikkrenne er tilknytta lukka drenering. Vannet ledes inn i et lukket dreneringssystem.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gjennomløpForElvBekk" type="nvdb:GjennomløpForElvBekkType">
            <annotation>
              <documentation>10223: Angir om elv/bekk renner gjennom stikkrenne/kulvert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="materialtype" type="nvdb:MaterialtypeStikkrenneKulvertType">
            <annotation>
              <documentation>6983: Angir materialtype</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrsnittsform" type="nvdb:TverrsnittsformType">
            <annotation>
              <documentation>6984: Angir hvilken type tverrsnitt gjennomløpskonstruksjon har.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="typeInnløp" type="nvdb:TypeInnløpType">
            <annotation>
              <documentation>1939: Angir hvilken type innløp det er i ei stikkrenne</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="belegningInnløp" type="nvdb:BelegningInnløpType">
            <annotation>
              <documentation>11418: Angir om det er spesiell belegning i området rundt innløpet av stikkrenna.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="typeUtløp" type="nvdb:TypeUtløpType">
            <annotation>
              <documentation>1940: Angir hvilken type utløp det er i ei stikkrenne</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="belegningUtløp" type="nvdb:BelegningUtløpType">
            <annotation>
              <documentation>11419: Angir om det er spesiell belegning i området rundt utløpet av stikkrenna.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fundamentering" type="nvdb:FundamenteringStikkrenneKulvertType">
            <annotation>
              <documentation>6982: Angir hvordan stikkrenne/kulvert er fundamentert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prefabrikkert" type="nvdb:PrefabrikkertType">
            <annotation>
              <documentation>6985: Angir om gjennomløp er plassprodusert eller prefabrikkert. Bare aktuelt for stikkrenne/kulvert av betong</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1323: Angir lengde av vegobjektet
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="diameter_Innvendig" type="integer">
            <annotation>
              <documentation>3113: Angir innvendig diameter av gjennomløp.  Benyttes fortrinnsvis for sirkulære tverrsnitt
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Innvendig" type="integer">
            <annotation>
              <documentation>4548: Angir innvendig bredde av gjennomløpskonstruksjon.  Ikke aktuell for sirkulære tverrsnitt
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde_Innvendig" type="integer">
            <annotation>
              <documentation>4549: Angir innvendig høyde av gjennomløpskonstruksjon.  Tar ikke hensyn til evt. gjennfylling i bunn av konstruksjon..
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="retning" type="nvdb:RetningStikkrenneKulvertType">
            <annotation>
              <documentation>2049: Angir hvilken retning i forhold til metrering vegobjektet har.  Angir klokkeretning som vannet renner i, 12 angir at vannet renner parallelt med vegen i metreringsretningen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vinkel" type="nvdb:VinkelType">
            <annotation>
              <documentation>2123: Angir om vinkel mellom stikkrenna og veg som stikkrenna krysser er rett eller skrå.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="helningFall" type="double">
            <annotation>
              <documentation>3112: Angir fall på stikkrenne.  Angis alltid som positiv verdi.
Enhet: Forholdstall</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tykkelseOverfylling" type="double">
            <annotation>
              <documentation>3115: Angir tykkelse overfylling av rørledning.  Det vil si gjennomsnittlig tykkelse fra topp av rørledning til topp dekke.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="overfyllingUtløp" type="double">
            <annotation>
              <documentation>10225: Angir tykkelsen på overfylling ved utløp. Det vil si  tykkelse fra topp av stikkrenne til topp dekke.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="overfyllingInnløp" type="double">
            <annotation>
              <documentation>10224: Angir tykkelsen på overfylling ved innløp. Det vil si  tykkelse fra topp av stikkrenne til topp dekke.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="harInnløpsrist" type="nvdb:HarInnløpsristStikkrenneKulvertType">
            <annotation>
              <documentation>1923: Angir om det er innløpsrist i tilknytning til vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="varmekabler" type="nvdb:VarmekablerStikkrenneKulvertType">
            <annotation>
              <documentation>1832: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallTininger" type="integer">
            <annotation>
              <documentation>1942: Angir hvor mange ganger stikkrenna vanligvis må tines i løpet av en vinter
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rehabilitering" type="nvdb:RehabiliteringStikkrenneKulvertType">
            <annotation>
              <documentation>10766: Angir hvilken type rehabilitering som er gjort</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spesielleProblem" type="nvdb:SpesielleProblemType">
            <annotation>
              <documentation>4562: Angir eventuelle spesielle problem knyttet til stikkrennen.  Dette er problem som stadig gjentar seg.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spesielleHensynFiskevandring" type="nvdb:SpesielleHensynFiskevandringType">
            <annotation>
              <documentation>11200: Angir om det skal tas spesielle hensyn i forhold til fiskevandring. For mer info se datterobejkt av type "Fysisk inngrep i vannforekomst"</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>4556: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10481: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn_Rør" type="string">
            <annotation>
              <documentation>3111: Angir produktnavn for rør. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10771: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, kan f.eks være spesielle forhold knyttet til oppbygging, utdyping av spesielle problem, mm</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer" type="string">
            <annotation>
              <documentation>11307: Gir referanse til relevant sak i vegeiers arkivsystem</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11659: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11068: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="FKB_ID" type="string">
            <annotation>
              <documentation>10855: Refererer til FKB-identitet. Benyttes i forbindelse med felles forvaltning av geometri.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierStikkrenneKulvertType">
            <annotation>
              <documentation>7996: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligStikkrenneKulvertType">
            <annotation>
              <documentation>8060: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4780: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5899: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>5902: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde_Passasje" type="integer">
            <annotation>
              <documentation>6979: Angir innvendig høyde når det er tatt hensyn til eventuelle hindringer, f.eks masser i bunn, oppheng i tak.
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StikkrenneKulvertPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:StikkrenneKulvert"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilknyttetLukkaDrenType">
    <annotation>
      <documentation>1941: Angir om stikkrenne er tilknytta lukka drenering. Vannet ledes inn i et lukket dreneringssystem.</documentation>
    </annotation>
    <union memberTypes="nvdb:TilknyttetLukkaDrenEnumerationType nvdb:TilknyttetLukkaDrenOtherType"/>
  </simpleType>
  <simpleType name="TilknyttetLukkaDrenEnumerationType">
    <annotation>
      <documentation>1941: Angir om stikkrenne er tilknytta lukka drenering. Vannet ledes inn i et lukket dreneringssystem.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3533: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3571: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilknyttetLukkaDrenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TverrsnittsformType">
    <annotation>
      <documentation>6984: Angir hvilken type tverrsnitt gjennomløpskonstruksjon har.</documentation>
    </annotation>
    <union memberTypes="nvdb:TverrsnittsformEnumerationType nvdb:TverrsnittsformOtherType"/>
  </simpleType>
  <simpleType name="TverrsnittsformEnumerationType">
    <annotation>
      <documentation>6984: Angir hvilken type tverrsnitt gjennomløpskonstruksjon har.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="sirkulær">
        <annotation>
          <documentation>9130: Sirkulær</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rektangulær">
        <annotation>
          <documentation>9131: Rektangulær</documentation>
        </annotation>
      </enumeration>
      <enumeration value="flatbunnetMedHvelv">
        <annotation>
          <documentation>9132: Flatbunnet med hvelv</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ellipseform">
        <annotation>
          <documentation>9133: Ellipseform</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TverrsnittsformOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeInnløpType">
    <annotation>
      <documentation>1939: Angir hvilken type innløp det er i ei stikkrenne</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeInnløpEnumerationType nvdb:TypeInnløpOtherType"/>
  </simpleType>
  <simpleType name="TypeInnløpEnumerationType">
    <annotation>
      <documentation>1939: Angir hvilken type innløp det er i ei stikkrenne</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="kumOverStikkrenne">
        <annotation>
          <documentation>2925: Kum over stikkrenne</documentation>
        </annotation>
      </enumeration>
      <enumeration value="åpentIGrøft">
        <annotation>
          <documentation>11744: Vann renner inn direkte fra åpen grøft.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="åpentMedFrontmur">
        <annotation>
          <documentation>16699: Åpent med frontmur</documentation>
        </annotation>
      </enumeration>
      <enumeration value="åpentIGrøftMedStøtteskjold">
        <annotation>
          <documentation>16761: Åpent i grøft med støtteskjold</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeInnløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeUtløpType">
    <annotation>
      <documentation>1940: Angir hvilken type utløp det er i ei stikkrenne</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeUtløpEnumerationType nvdb:TypeUtløpOtherType"/>
  </simpleType>
  <simpleType name="TypeUtløpEnumerationType">
    <annotation>
      <documentation>1940: Angir hvilken type utløp det er i ei stikkrenne</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="kum">
        <annotation>
          <documentation>2927: Vann ledes til kum</documentation>
        </annotation>
      </enumeration>
      <enumeration value="iSkråningTerreng">
        <annotation>
          <documentation>2928: Vann ledes ut i skråning eller ut i terreng</documentation>
        </annotation>
      </enumeration>
      <enumeration value="iBekkElv">
        <annotation>
          <documentation>2929: Vann ledes ut i bekk/elv</documentation>
        </annotation>
      </enumeration>
      <enumeration value="åpenGrøft">
        <annotation>
          <documentation>11655: Vann ledes til åpen grøft.  Merknad: Ofte aktuelt i forbindelse med stikkrenner under avkjørsel.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeUtløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VarmekablerStikkrenneKulvertType">
    <annotation>
      <documentation>1832: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VarmekablerStikkrenneKulvertEnumerationType nvdb:VarmekablerStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="VarmekablerStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>1832: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3524: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3562: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VarmekablerStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStikkrenneKulvertType">
    <annotation>
      <documentation>8060: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligStikkrenneKulvertEnumerationType nvdb:VedlikeholdsansvarligStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>8060: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10454: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18729: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19929: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18858: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10532: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10610: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17712: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VinkelType">
    <annotation>
      <documentation>2123: Angir om vinkel mellom stikkrenna og veg som stikkrenna krysser er rett eller skrå.</documentation>
    </annotation>
    <union memberTypes="nvdb:VinkelEnumerationType nvdb:VinkelOtherType"/>
  </simpleType>
  <simpleType name="VinkelEnumerationType">
    <annotation>
      <documentation>2123: Angir om vinkel mellom stikkrenna og veg som stikkrenna krysser er rett eller skrå.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="rett">
        <annotation>
          <documentation>2465: Rett</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skrå">
        <annotation>
          <documentation>2381: Skrå</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VinkelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
