GML/793.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>793: Objekttype benyttet for å dokumentere noen enum-verdier i NVDB. Det kan forekomme avvik fra NVDB i og med at det ikke er automatisk synkronisering.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="FeltkodeNVDB dokumentasjonType">
      <annotation>
         <documentation>11431: Angir feltkode for flate.  Skal bare gis for kjørefeltflater.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11431</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Feltkode</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FeltkodeNVDB dokumentasjonEnumerationType nvdb:FeltkodeNVDB dokumentasjonOtherType"/>
   </simpleType>
   <simpleType name="FeltkodeNVDB dokumentasjonEnumerationType">
      <annotation>
         <documentation>11431: Angir feltkode for flate.  Skal bare gis for kjørefeltflater.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11431</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Feltkode</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19308</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn"> - Alle kjørefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19309</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1 - Ordinært kjørefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19310</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10 - Ordinært kjørefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19311</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10B - Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10BK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19312</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10BK - Bomstasjon, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10H1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19313</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10H1 - Høyresvingefelt 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10H2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19314</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10H2 - Høyresvingefelt 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19315</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10K - Kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10K+">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19316</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10K+ - Sambruksfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19317</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10O - Oppstillingsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19318</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10OK - Oppstilling, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19319</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">10S - Sykkelfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19320</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11 - Ordinært kjørefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19321</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11B - Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11BK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19322</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11BK - Bomstasjon, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11H1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19323</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11H1 - Høyresvingefelt 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11H2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19324</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11H2 - Høyresvingefelt 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19325</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11K - Kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11K+">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19326</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11K+ - Sambruksfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19327</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11O - Oppstillingsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19328</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11OK - Oppstilling, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19329</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11S - Sykkelfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19330</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12 - Ordinært kjørefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19331</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12B - Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12BK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19332</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12BK - Bomstasjon, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12H1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19333</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12H1 - Høyresvingefelt 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12H2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19334</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12H2 - Høyresvingefelt 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19335</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12K - Kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12K+">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19336</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12K+ - Sambruksfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19337</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12O - Oppstillingsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19338</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12OK - Oppstilling, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19339</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12S - Sykkelfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="13B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19340</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">13B - Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="13BK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19341</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">13BK - Bomstasjon, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="13O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19342</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">13O - Oppstillingsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="13OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19343</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">13OK - Oppstilling, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="13S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19344</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">13S - Sykkelfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19345</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">14B - Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14BK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19346</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">14BK - Bomstasjon, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19347</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">14O - Oppstillingsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19348</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">14OK - Oppstilling, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19349</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">14S - Sykkelfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19350</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1F - Forbikjøringsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1H1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19351</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1H1 - Høyresvingefelt 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1H2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19352</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1H2 - Høyresvingefelt 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19353</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1K - Kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1K+">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19354</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1K+ - Sambruksfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19355</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1O - Oppstillingsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19356</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1OK - Oppstilling, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19357</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1R - Reversibelt kjørefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19358</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1S - Sykkelfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1V1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19359</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1V1 - Venstresvingefelt 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1V2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19360</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1V2 - Venstresvingefelt 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19361</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2 - Ordinært kjørefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19362</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2F - Forbikjøringsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2H1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19363</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2H1 - Høyresvingefelt 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2H2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19364</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2H2 - Høyresvingefelt 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19365</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2K - Kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2K+">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19366</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2K+ - Sambruksfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19367</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2O - Oppstillingsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19368</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2OK - Oppstilling, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19369</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2S - Sykkelfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2V1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19370</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2V1 - Venstresvingefelt 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2V2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19371</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2V2 - Venstresvingefelt 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19372</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3 - Ordinært kjørefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19373</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3B - Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3BK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19374</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3BK - Bomstasjon, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3H1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19375</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3H1 - Høyresvingefelt 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3H2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19376</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3H2 - Høyresvingefelt 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19377</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3K - Kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3K+">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19378</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3K+ - Sambruksfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19379</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3O - Oppstillingsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19380</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3OK - Oppstilling, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19381</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3S - Sykkelfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19382</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4 - Ordinært kjørefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19383</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4B - Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4BK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19384</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4BK - Bomstasjon, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4H1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19385</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4H1 - Høyresvingefelt 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4H2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19386</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4H2 - Høyresvingefelt 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19387</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4K - Kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4K+">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19388</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4K+ - Sambruksfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19389</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4O - Oppstillingsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19390</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4OK - Oppstilling, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19391</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4S - Sykkelfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19392</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5 - Ordinært kjørefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19393</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5B - Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5BK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19394</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5BK - Bomstasjon, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5H1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19395</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5H1 - Høyresvingefelt 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5H2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19396</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5H2 - Høyresvingefelt 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19397</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5K - Kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5K+">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19398</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5K+ - Sambruksfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19399</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5O - Oppstillingsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19400</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5OK - Oppstilling, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19401</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5S - Sykkelfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19402</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6 - Ordinært kjørefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19403</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6B - Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6BK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19404</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6BK - Bomstasjon, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6H1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19405</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6H1 - Høyresvingefelt 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6H2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19406</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6H2 - Høyresvingefelt 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19407</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6K - Kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6K+">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19408</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6K+ - Sambruksfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19409</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6O - Oppstillingsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19410</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6OK - Oppstilling, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19411</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6S - Sykkelfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19412</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7 - Ordinært kjørefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19413</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7B - Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7BK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19414</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7BK - Bomstasjon, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7H1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19415</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7H1 - Høyresvingefelt 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7H2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19416</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7H2 - Høyresvingefelt 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19417</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7K - Kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7K+">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19418</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7K+ - Sambruksfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19419</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7O - Oppstillingsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19420</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7OK - Oppstilling, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19421</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7S - Sykkelfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19422</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8 - Ordinært kjørefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19423</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8B - Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8BK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19424</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8BK - Bomstasjon, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8H1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19425</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8H1 - Høyresvingefelt 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8H2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19426</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8H2 - Høyresvingefelt 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19427</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8K - Kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8K+">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19428</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8K+ - Sambruksfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19429</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8O - Oppstillingsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19430</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8OK - Oppstilling, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19431</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8S - Sykkelfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19432</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9 - Ordinært kjørefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19433</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9B - Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9BK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19434</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9BK - Bomstasjon, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9H1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19435</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9H1 - Høyresvingefelt 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9H2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19436</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9H2 - Høyresvingefelt 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19437</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9K - Kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9K+">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19438</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9K+ - Sambruksfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19439</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9O - Oppstillingsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19440</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9OK - Oppstilling, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19441</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9S - Sykkelfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FeltkodeNVDB dokumentasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="HøydeposisjonNVDB dokumentasjonType">
      <annotation>
         <documentation>8763: Gir lovlige verdier for høydeposisjon i NVDB sin lokasjonsattributt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8763</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Høydeposisjon</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:HøydeposisjonNVDB dokumentasjonEnumerationType nvdb:HøydeposisjonNVDB dokumentasjonOtherType"/>
   </simpleType>
   <simpleType name="HøydeposisjonNVDB dokumentasjonEnumerationType">
      <annotation>
         <documentation>8763: Gir lovlige verdier for høydeposisjon i NVDB sin lokasjonsattributt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8763</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Høydeposisjon</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11587</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Over</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11586</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11588</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Under</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="HøydeposisjonNVDB dokumentasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MediumNVDB dokumentasjonType">
      <annotation>
         <documentation>9792: Objektets beliggenhet i forhold til jordoverflaten. (Definisjon fra SOSI standard).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9792</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Medium</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MediumNVDB dokumentasjonEnumerationType nvdb:MediumNVDB dokumentasjonOtherType"/>
   </simpleType>
   <simpleType name="MediumNVDB dokumentasjonEnumerationType">
      <annotation>
         <documentation>9792: Objektets beliggenhet i forhold til jordoverflaten. (Definisjon fra SOSI standard).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9792</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Medium</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15936</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Alltid i vann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15931</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I bygning/bygningsmessig anlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15932</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I luft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15942</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke registrert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15938</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På isbre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15934</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På sjøbunnen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15930</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På terrenget/på bakkenivå</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15935</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På vannoverflaten</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15937</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tidvis under vann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15941</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15940</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Under isbre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15939</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Under sjøbunnen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15933</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Under terrenget</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MediumNVDB dokumentasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="NVDB dokumentasjon"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:NVDB dokumentasjonType">
      <annotation>
         <documentation>793: Objekttype benyttet for å dokumentere noen enum-verdier i NVDB. Det kan forekomme avvik fra NVDB i og med at det ikke er automatisk synkronisering.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">793</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NVDB dokumentasjon</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="NVDB dokumentasjonType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0"
                        name="sideposisjon"
                        type="nvdb:SideposisjonNVDB dokumentasjonType">
                  <annotation>
                     <documentation>8762: Gir lovlige verdier for sideposisjon i NVDB sin lokasjonsattributt. Høyre og venstre er relatert til vegens metreringsretning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8762</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sideposisjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="høydeposisjon"
                        type="nvdb:HøydeposisjonNVDB dokumentasjonType">
                  <annotation>
                     <documentation>8763: Gir lovlige verdier for høydeposisjon i NVDB sin lokasjonsattributt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8763</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høydeposisjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="feltkode"
                        type="nvdb:FeltkodeNVDB dokumentasjonType">
                  <annotation>
                     <documentation>11431: Angir feltkode for flate.  Skal bare gis for kjørefeltflater.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11431</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Feltkode</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="typeVeg">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11426</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type veg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kvalitet">
                  <annotation>
                     <documentation>9553: Gruppeegenskap bestående av kvalitetsparametre knyttet til geometri.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9553</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kvalitet, geometri</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="temakode" type="double">
                  <annotation>
                     <documentation>9784: Parameter benyttet i forbindelse med utveksling av data på SOSI-format.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9784</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Temakode</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="objektnavn" type="string">
                  <annotation>
                     <documentation>9785: Ord som noen eller noe kalles ved. (Definisjon fra SOSI standard).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9785</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Objektnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="medium"
                        type="nvdb:MediumNVDB dokumentasjonType">
                  <annotation>
                     <documentation>9792: Objektets beliggenhet i forhold til jordoverflaten. (Definisjon fra SOSI standard).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9792</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Medium</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="verifiseringsdato" type="date">
                  <annotation>
                     <documentation>9786: Dato når dataene er fastslått å være i samsvar med virkeligheten. (Definisjon fra SOSI standard).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9786</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, verifiseringsdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="oppdateringsdato" type="date">
                  <annotation>
                     <documentation>9787: Dato som angir datasystemets siste endring på objektet. Merknad: Kan være forskjellig fra datafangsdato ved at data som er registrert kan bufres en kortere eller lengre periode før disse legges inn i datasystemet (databasen). (Definisjon fra SOSI standard).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9787</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, oppdateringsdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosesshistorie" type="string">
                  <annotation>
                     <documentation>9788: Beskrivelse av de prosesser som dataene er gått gjennom som kan ha betydning for kvaliteten og bruken av dataene. Merknad: Prosesshistorie vil kunne inneholde informasjon om transformasjoner. Hva slags informasjon som angis er ofte gitt i andre standarder, f.eks kvalitet og kvalitetsikring. (Definisjon fra SOSI standard).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9788</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosesshistorie</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kommune" type="double">
                  <annotation>
                     <documentation>9789: Nummerering av kommuner i henhold til SSB sin offisielle liste. Merknad: Det presiseres at kommune alltid skal ha 4 siffer, dvs. eventuelt med ledende null. Kommune benyttes for kopling mot en rekke andre registre som også benytter 4 siffer. (Definisjon fra SOSI standard).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9789</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høydereferanse">
                  <annotation>
                     <documentation>9546: Koordinatregistering utført på topp eller bunn av et objekt. (Definisjon fra SOSI standard).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9546</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høydereferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="geometri_Navn" type="string">
                  <annotation>
                     <documentation>9790: Parameter benyttet i forbindelse med utveksling av data på SOSI-format.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9790</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="referansegeometri"
                        type="nvdb:ReferansegeometriNVDB dokumentasjonType">
                  <annotation>
                     <documentation>9547: Angir kode for referansegeometri.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9547</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Referansegeometri</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vegdetaljnivå">
                  <annotation>
                     <documentation>11427: Detaljnivå i vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11427</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Detaljnivå</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="måledato" type="date">
                  <annotation>
                     <documentation>11428: Dato for når en strekning ble metrert i marka, ev. datafangstdato for veglenker med lengde bestemt ut ifra lenkens geometri.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11428</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Måledato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="målemetode">
                  <annotation>
                     <documentation>11429: Målemetode benyttet for å bestemme veglenkens lengde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11429</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Målemetode</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="string">
                  <annotation>
                     <documentation>10806: Angir eier</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10806</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vedlikeholdsansvarlig" type="string">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10807</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="NVDB dokumentasjonPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:NVDB dokumentasjon"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="NVDB dokumentasjonHøydereferanseType">
      <annotation>
         <documentation>9546: Koordinatregistering utført på topp eller bunn av et objekt. (Definisjon fra SOSI standard).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9546</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Høydereferanse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NVDB dokumentasjonHøydereferanseEnumerationType nvdb:NVDB dokumentasjonHøydereferanseOtherType"/>
   </simpleType>
   <simpleType name="NVDB dokumentasjonHøydereferanseEnumerationType">
      <annotation>
         <documentation>9546: Koordinatregistering utført på topp eller bunn av et objekt. (Definisjon fra SOSI standard).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9546</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Høydereferanse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13691</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">FOT</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9999">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13690</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke registrert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13692</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TOP</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="99">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13693</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NVDB dokumentasjonHøydereferanseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="NVDB dokumentasjonMålemetodeType">
      <annotation>
         <documentation>11429: Målemetode benyttet for å bestemme veglenkens lengde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11429</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Målemetode</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NVDB dokumentasjonMålemetodeEnumerationType nvdb:NVDB dokumentasjonMålemetodeOtherType"/>
   </simpleType>
   <simpleType name="NVDB dokumentasjonMålemetodeEnumerationType">
      <annotation>
         <documentation>11429: Målemetode benyttet for å bestemme veglenkens lengde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11429</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Målemetode</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19306</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Geometrisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19305</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metrert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NVDB dokumentasjonMålemetodeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ReferansegeometriNVDB dokumentasjonType">
      <annotation>
         <documentation>9547: Angir kode for referansegeometri.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9547</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Referansegeometri</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ReferansegeometriNVDB dokumentasjonEnumerationType nvdb:ReferansegeometriNVDB dokumentasjonOtherType"/>
   </simpleType>
   <simpleType name="ReferansegeometriNVDB dokumentasjonEnumerationType">
      <annotation>
         <documentation>9547: Angir kode for referansegeometri.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9547</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Referansegeometri</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13694</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ReferansegeometriNVDB dokumentasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SideposisjonNVDB dokumentasjonType">
      <annotation>
         <documentation>8762: Gir lovlige verdier for sideposisjon i NVDB sin lokasjonsattributt. Høyre og venstre er relatert til vegens metreringsretning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8762</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sideposisjon</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SideposisjonNVDB dokumentasjonEnumerationType nvdb:SideposisjonNVDB dokumentasjonOtherType"/>
   </simpleType>
   <simpleType name="SideposisjonNVDB dokumentasjonEnumerationType">
      <annotation>
         <documentation>8762: Gir lovlige verdier for sideposisjon i NVDB sin lokasjonsattributt. Høyre og venstre er relatert til vegens metreringsretning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8762</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sideposisjon</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="H">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11594</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Høyre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="HV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11598</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Høyre og venstre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="HT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11595</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Høyre tilfart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11590</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kryssende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11601</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Langs</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="M">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11593</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Midten</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MH">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11596</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Midten, høyre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11597</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Midten, venstre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11600</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rundkjøring, senter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11591</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Venstre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11592</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Venstre tilfart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SideposisjonNVDB dokumentasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegNVDB dokumentasjonType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11426</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type veg</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeVegNVDB dokumentasjonEnumerationType nvdb:TypeVegNVDB dokumentasjonOtherType"/>
   </simpleType>
   <simpleType name="TypeVegNVDB dokumentasjonEnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11426</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type veg</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="19">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21299</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19291</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bilferje</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19288</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enkel bilveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19297</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fortau</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19293</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gang og sykkelveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="13">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19299</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gangfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19295</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gangveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19300</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gatetun</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19296</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gågate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19287</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kanalisert veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19292</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Passasjerferje</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19289</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rampe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19290</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rundkjøring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="16">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21254</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sti</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19294</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sykkelveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21253</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Traktorveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19298</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trapp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegNVDB dokumentasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VegdetaljnivåNVDB dokumentasjonType">
      <annotation>
         <documentation>11427: Detaljnivå i vegnettet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11427</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Detaljnivå</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VegdetaljnivåNVDB dokumentasjonEnumerationType nvdb:VegdetaljnivåNVDB dokumentasjonOtherType"/>
   </simpleType>
   <simpleType name="VegdetaljnivåNVDB dokumentasjonEnumerationType">
      <annotation>
         <documentation>11427: Detaljnivå i vegnettet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11427</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Detaljnivå</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="KB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19302</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjørebane</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19303</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjørefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19301</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegtrase</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VTKB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19304</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegtrase og kjørebane</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VegdetaljnivåNVDB dokumentasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
