GML/793.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="FeltkodeType">
    <annotation>
      <documentation>11431: Angir feltkode for flate.  Skal bare gis for kjørefeltflater</documentation>
    </annotation>
    <union memberTypes="nvdb:FeltkodeEnumerationType nvdb:FeltkodeOtherType"/>
  </simpleType>
  <simpleType name="FeltkodeEnumerationType">
    <annotation>
      <documentation>11431: Angir feltkode for flate.  Skal bare gis for kjørefeltflater</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="_AlleKjørefelt">
        <annotation>
          <documentation>19308: Feltkode som gjelder alle felt på strekningen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1_OrdinærtKjørefelt">
        <annotation>
          <documentation>19309: Angir første gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til ordinær trafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2_OrdinærtKjørefelt">
        <annotation>
          <documentation>19361: Angir første gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til ordinær trafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3_OrdinærtKjørefelt">
        <annotation>
          <documentation>19372: Angir andre gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til ordinær trafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4_OrdinærtKjørefelt">
        <annotation>
          <documentation>19382: Angir andre gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til ordinær trafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5_OrdinærtKjørefelt">
        <annotation>
          <documentation>19392: Angir tredje gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til ordinær trafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6_OrdinærtKjørefelt">
        <annotation>
          <documentation>19402: Angir tredje gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til ordinær trafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7_OrdinærtKjørefelt">
        <annotation>
          <documentation>19412: Angir fjerde gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til ordinær trafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8_OrdinærtKjørefelt">
        <annotation>
          <documentation>19422: Angir fjerde gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til ordinær trafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9_OrdinærtKjørefelt">
        <annotation>
          <documentation>19432: Angir femte gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til ordinær trafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10_OrdinærtKjørefelt">
        <annotation>
          <documentation>19310: Angir femte gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til ordinær trafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11_OrdinærtKjørefelt">
        <annotation>
          <documentation>19320: Angir sjette gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til ordinær trafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12_OrdinærtKjørefelt">
        <annotation>
          <documentation>19330: Angir sjette gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til ordinær trafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1F_Forbikjøringsfelt">
        <annotation>
          <documentation>19350: Angir forbikjøringsfelt i metreringsretning.  Kjørefeltet ligger til venstre for første gjennomgående kjørefelt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2F_Forbikjøringsfelt">
        <annotation>
          <documentation>19362: Angir forbikjøringsfelt mot metreringsretning.  Kjørefeltet ligger til venstre for første gjennomgående kjørefelt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1R_ReversibeltKjørefelt">
        <annotation>
          <documentation>19357: Angir reversibelt kjørefelt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1K_Kollektivfelt">
        <annotation>
          <documentation>19353: Angir første gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kollektivtrafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2K_Kollektivfelt">
        <annotation>
          <documentation>19365: Angir første gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kollektivtrafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3K_Kollektivfelt">
        <annotation>
          <documentation>19377: Angir andre gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kollektivtrafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4K_Kollektivfelt">
        <annotation>
          <documentation>19387: Angir andre gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kollektivtrafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5K_Kollektivfelt">
        <annotation>
          <documentation>19397: Angir tredje gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kollektivtrafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6K_Kollektivfelt">
        <annotation>
          <documentation>19407: Angir tredje gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kollektivtrafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7K_Kollektivfelt">
        <annotation>
          <documentation>19417: Angir fjerde gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kollektivtrafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8K_Kollektivfelt">
        <annotation>
          <documentation>19427: Angir fjerde gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kollektivtrafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9K_Kollektivfelt">
        <annotation>
          <documentation>19437: Angir femte gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kollektivtrafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10K_Kollektivfelt">
        <annotation>
          <documentation>19315: Angir femte gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kollektivtrafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11K_Kollektivfelt">
        <annotation>
          <documentation>19325: Angir sjette gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kollektivtrafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12K_Kollektivfelt">
        <annotation>
          <documentation>19335: Angir sjette gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kollektivtrafikk.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1K_Sambruksfelt">
        <annotation>
          <documentation>19354: Angir første gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til sambruksfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2K_Sambruksfelt">
        <annotation>
          <documentation>19366: Angir første gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til sambruksfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3K_Sambruksfelt">
        <annotation>
          <documentation>19378: Angir andre gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til sambruksfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4K_Sambruksfelt">
        <annotation>
          <documentation>19388: Angir andre gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til sambruksfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5K_Sambruksfelt">
        <annotation>
          <documentation>19398: Angir tredje gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til sambruksfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6K_Sambruksfelt">
        <annotation>
          <documentation>19408: Angir tredje gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til sambruksfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7K_Sambruksfelt">
        <annotation>
          <documentation>19418: Angir fjerde gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til sambruksfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8K_Sambruksfelt">
        <annotation>
          <documentation>19428: Angir fjerde gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til sambruksfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9K_Sambruksfelt">
        <annotation>
          <documentation>19438: Angir femte gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til sambruksfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10K_Sambruksfelt">
        <annotation>
          <documentation>19316: Angir femte gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til sambruksfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11K_Sambruksfelt">
        <annotation>
          <documentation>19326: Angir sjette gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til sambruksfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12K_Sambruksfelt">
        <annotation>
          <documentation>19336: Angir sjette gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til sambruksfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1S_Sykkelfelt">
        <annotation>
          <documentation>19358: Angir første gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til sykkelfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2S_Sykkelfelt">
        <annotation>
          <documentation>19369: Angir første gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til sykkelfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3S_Sykkelfelt">
        <annotation>
          <documentation>19381: Angir andre gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til sykkelfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4S_Sykkelfelt">
        <annotation>
          <documentation>19391: Angir andre gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til sykkelfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5S_Sykkelfelt">
        <annotation>
          <documentation>19401: Angir tredje gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til sykkelfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6S_Sykkelfelt">
        <annotation>
          <documentation>19411: Angir tredje gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til sykkelfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7S_Sykkelfelt">
        <annotation>
          <documentation>19421: Angir fjerde gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til sykkelfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8S_Sykkelfelt">
        <annotation>
          <documentation>19431: Angir fjerde gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til sykkelfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9S_Sykkelfelt">
        <annotation>
          <documentation>19441: Angir femte gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til sykkelfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10S_Sykkelfelt">
        <annotation>
          <documentation>19319: Angir femte gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til sykkelfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11S_Sykkelfelt">
        <annotation>
          <documentation>19329: Angir sjette gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til sykkelfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12S_Sykkelfelt">
        <annotation>
          <documentation>19339: Angir sjette gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til sykkelfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13S_Sykkelfelt">
        <annotation>
          <documentation>19344: Angir syvende gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til sykkelfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14S_Sykkelfelt">
        <annotation>
          <documentation>19349: Angir syvende gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til sykkelfelt.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3B_Bomstasjon">
        <annotation>
          <documentation>19373: Angir andre gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4B_Bomstasjon">
        <annotation>
          <documentation>19383: Angir andre gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5B_Bomstasjon">
        <annotation>
          <documentation>19393: Angir tredje gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6B_Bomstasjon">
        <annotation>
          <documentation>19403: Angir tredje gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7B_Bomstasjon">
        <annotation>
          <documentation>19413: Angir fjerde gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8B_Bomstasjon">
        <annotation>
          <documentation>19423: Angir fjerde gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9B_Bomstasjon">
        <annotation>
          <documentation>19433: Angir femte gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10B_Bomstasjon">
        <annotation>
          <documentation>19311: Angir femte gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11B_Bomstasjon">
        <annotation>
          <documentation>19321: Angir sjette gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12B_Bomstasjon">
        <annotation>
          <documentation>19331: Angir sjette gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13B_Bomstasjon">
        <annotation>
          <documentation>19340: Angir syvende gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14B_Bomstasjon">
        <annotation>
          <documentation>19345: Angir syvende gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3BK_Bomstasjon_Kollektivfelt">
        <annotation>
          <documentation>19374: Angir andre gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kollektivfelt i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4BK_Bomstasjon_Kollektivfelt">
        <annotation>
          <documentation>19384: Angir andre gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kollektivfeltt i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5BK_Bomstasjon_Kollektivfelt">
        <annotation>
          <documentation>19394: Angir tredje gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kollektivfelt i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6BK_Bomstasjon_Kollektivfelt">
        <annotation>
          <documentation>19404: Angir fjerde gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kollektivfelt i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7BK_Bomstasjon_Kollektivfelt">
        <annotation>
          <documentation>19414: Angir tredje gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kollektivfelt i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8BK_Bomstasjon_Kollektivfelt">
        <annotation>
          <documentation>19424: Angir fjerde gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kollektivfelt i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9BK_Bomstasjon_Kollektivfelt">
        <annotation>
          <documentation>19434: Angir femte gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kollektivfelt i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10BK_Bomstasjon_Kollektivfelt">
        <annotation>
          <documentation>19312: Angir femte gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kollektivfelt i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11BK_Bomstasjon_Kollektivfelt">
        <annotation>
          <documentation>19322: Angir sjette gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kollektivfelt i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12BK_Bomstasjon_Kollektivfelt">
        <annotation>
          <documentation>19332: Angir sjette gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kollektivfelt i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13BK_Bomstasjon_Kollektivfelt">
        <annotation>
          <documentation>19341: Angir syvende gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kollektivfelt i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14BK_Bomstasjon_Kollektivfelt">
        <annotation>
          <documentation>19346: Angir syvende gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kollektivfelt i forbindelse med bomstasjon.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1O_Oppstillingsfelt">
        <annotation>
          <documentation>19355: Angir første gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til oppstilling av kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2O_Oppstillingsfelt">
        <annotation>
          <documentation>19367: Angir første gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kollektivfelt til oppstilling av kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3O_Oppstillingsfelt">
        <annotation>
          <documentation>19379: Angir andre gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til oppstilling av kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4O_Oppstillingsfelt">
        <annotation>
          <documentation>19389: Angir andre gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kollektivfelt til oppstilling av kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5O_Oppstillingsfelt">
        <annotation>
          <documentation>19399: Angir tredje gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kollektivfelt til oppstilling av kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6O_Oppstillingsfelt">
        <annotation>
          <documentation>19409: Angir tredje gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til oppstilling av kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7O_Oppstillingsfelt">
        <annotation>
          <documentation>19419: Angir fjerde gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til oppstilling av kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8O_Oppstillingsfelt">
        <annotation>
          <documentation>19429: Angir fjerde gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til oppstilling av kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9O_Oppstillingsfelt">
        <annotation>
          <documentation>19439: Angir femte gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til oppstilling av kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10O_Oppstillingsfelt">
        <annotation>
          <documentation>19317: Angir femte gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til oppstilling av kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11O_Oppstillingsfelt">
        <annotation>
          <documentation>19327: Angir sjette gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til oppstilling av kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12O_Oppstillingsfelt">
        <annotation>
          <documentation>19337: Angir sjette gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til oppstilling av kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13O_Oppstillingsfelt">
        <annotation>
          <documentation>19342: Angir syvende gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til oppstilling av kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14O_Oppstillingsfelt">
        <annotation>
          <documentation>19347: Angir syvende gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til oppstilling av kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1OK_Oppstilling_Kollektivfelt">
        <annotation>
          <documentation>19356: Angir første gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kombinert kollektivfelt og oppstillingsfelt for kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2OK_Oppstilling_Kollektivfelt">
        <annotation>
          <documentation>19368: Angir første gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kombinert kollektivfelt og oppstillingsfelt for kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3OK_Oppstilling_Kollektivfelt">
        <annotation>
          <documentation>19380: Angir andre gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kombinert kollektivfelt og oppstillingsfelt for kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4OK_Oppstilling_Kollektivfelt">
        <annotation>
          <documentation>19390: Angir andre gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kombinert kollektivfelt og oppstillingsfelt for kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5OK_Oppstilling_Kollektivfelt">
        <annotation>
          <documentation>19400: Angir tredje gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kombinert kollektivfelt og oppstillingsfelt for kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6OK_Oppstilling_Kollektivfelt">
        <annotation>
          <documentation>19410: Angir tredje gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kombinert kollektivfelt og oppstillingsfelt for kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7OK_Oppstilling_Kollektivfelt">
        <annotation>
          <documentation>19420: Angir fjerde gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kombinert kollektivfelt og oppstillingsfelt for kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8OK_Oppstilling_Kollektivfelt">
        <annotation>
          <documentation>19430: Angir fjerde gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kombinert kollektivfelt og oppstillingsfelt for kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9OK_Oppstilling_Kollektivfelt">
        <annotation>
          <documentation>19440: Angir femte gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kombinert kollektivfelt og oppstillingsfelt for kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10OK_Oppstilling_Kollektivfelt">
        <annotation>
          <documentation>19318: Angir femte gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kombinert kollektivfelt og oppstillingsfelt for kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11OK_Oppstilling_Kollektivfelt">
        <annotation>
          <documentation>19328: Angir sjette gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kombinert kollektivfelt og oppstillingsfelt for kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12OK_Oppstilling_Kollektivfelt">
        <annotation>
          <documentation>19338: Angir sjette gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kombinert kollektivfelt og oppstillingsfelt for kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13OK_Oppstilling_Kollektivfelt">
        <annotation>
          <documentation>19343: Angir syvende gjennomgående kjørefelt i metreringsretning. Kjørefeltet benyttes til kombinert kollektivfelt og oppstillingsfelt for kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14OK_Oppstilling_Kollektivfelt">
        <annotation>
          <documentation>19348: Angir syvende gjennomgående kjørefelt mot metreringsretning. Kjørefeltet benyttes til kombinert kollektivfelt og oppstillingsfelt for kjøretøy f.eks i forbindelse med ferjekaier.  Nummerering fra venstre mot høyre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1H1_Høyresvingefelt1">
        <annotation>
          <documentation>19351: Angir første høyresvingefelt i metreringsretning.  Feltet ligger til høyre for første gjennomgående felt i metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2H1_Høyresvingefelt1">
        <annotation>
          <documentation>19363: Angir første høyresvingefelt mot metreringsretning.  Feltet ligger til høyre for første gjennomgående felt mot metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3H1_Høyresvingefelt1">
        <annotation>
          <documentation>19375: Angir første høyresvingefelt i metreringsretning.  Feltet ligger til høyre for andre gjennomgående felt i metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4H1_Høyresvingefelt1">
        <annotation>
          <documentation>19385: Angir første høyresvingefelt mot metreringsretning.  Feltet ligger til høyre for andre gjennomgående felt mot metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5H1_Høyresvingefelt1">
        <annotation>
          <documentation>19395: Angir første høyresvingefelt i metreringsretning.  Feltet ligger til høyre for tredje gjennomgående felt i metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6H1_Høyresvingefelt1">
        <annotation>
          <documentation>19405: Angir første høyresvingefelt mot metreringsretning.  Feltet ligger til høyre for tredje gjennomgående felt mot metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7H1_Høyresvingefelt1">
        <annotation>
          <documentation>19415: Angir første høyresvingefelt i metreringsretning.  Feltet ligger til høyre for fjerde gjennomgående felt i metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8H1_Høyresvingefelt1">
        <annotation>
          <documentation>19425: Angir første høyresvingefelt mot metreringsretning.  Feltet ligger til høyre for fjerde gjennomgående felt mot metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9H1_Høyresvingefelt1">
        <annotation>
          <documentation>19435: Angir første høyresvingefelt i metreringsretning.  Feltet ligger til høyre for femte gjennomgående felt i metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10H1_Høyresvingefelt1">
        <annotation>
          <documentation>19313: Angir første høyresvingefelt mot metreringsretning.  Feltet ligger til høyre for femte gjennomgående felt mot metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11H1_Høyresvingefelt1">
        <annotation>
          <documentation>19323: Angir første høyresvingefelt i metreringsretning.  Feltet ligger til høyre for sjette gjennomgående felt i metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12H1_Høyresvingefelt1">
        <annotation>
          <documentation>19333: Angir første høyresvingefelt mot metreringsretning.  Feltet ligger til høyre for sjette gjennomgående felt mot metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1H2_Høyresvingefelt2">
        <annotation>
          <documentation>19352: Angir andre høyresvingefelt i metreringsretning.  Feltet ligger til høyre for første gjennomgående felt i metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2H2_Høyresvingefelt2">
        <annotation>
          <documentation>19364: Angir andre høyresvingefelt mot metreringsretning.  Feltet ligger til høyre for første gjennomgående felt mot metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3H2_Høyresvingefelt2">
        <annotation>
          <documentation>19376: Angir andre høyresvingefelt i metreringsretning.  Feltet ligger til høyre for andre gjennomgående felt i metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4H2_Høyresvingefelt2">
        <annotation>
          <documentation>19386: Angir andre høyresvingefelt mot metreringsretning.  Feltet ligger til høyre for andre gjennomgående felt mot metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5H2_Høyresvingefelt2">
        <annotation>
          <documentation>19396: Angir andre høyresvingefelt i metreringsretning.  Feltet ligger til høyre for tredje gjennomgående felt i metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6H2_Høyresvingefelt2">
        <annotation>
          <documentation>19406: Angir andre høyresvingefelt mot metreringsretning.  Feltet ligger til høyre for tredje gjennomgående felt mot metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7H2_Høyresvingefelt2">
        <annotation>
          <documentation>19416: Angir andre høyresvingefelt i metreringsretning.  Feltet ligger til høyre for fjerde gjennomgående felt i metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8H2_Høyresvingefelt2">
        <annotation>
          <documentation>19426: Angir andre høyresvingefelt mot metreringsretning.  Feltet ligger til høyre for fjerde gjennomgående felt mot metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9H2_Høyresvingefelt2">
        <annotation>
          <documentation>19436: Angir andre høyresvingefelt i metreringsretning.  Feltet ligger til høyre for femte gjennomgående felt i metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10H2_Høyresvingefelt2">
        <annotation>
          <documentation>19314: Angir andre høyresvingefelt mot metreringsretning.  Feltet ligger til høyre for femte gjennomgående felt mot metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11H2_Høyresvingefelt2">
        <annotation>
          <documentation>19324: Angir andre høyresvingefelt i metreringsretning.  Feltet ligger til høyre for sjette gjennomgående felt i metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12H2_Høyresvingefelt2">
        <annotation>
          <documentation>19334: Angir andre høyresvingefelt mot metreringsretning.  Feltet ligger til høyre for sjette gjennomgående felt mot metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1V1_Venstresvingefelt1">
        <annotation>
          <documentation>19359: Angir første venstresvingefelt i metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1V2_Venstresvingefelt2">
        <annotation>
          <documentation>19360: Angir andre venstresvingefelt i metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2V1_Venstresvingefelt1">
        <annotation>
          <documentation>19370: Angir første venstresvingefelt mot metreringsretning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2V2_Venstresvingefelt2">
        <annotation>
          <documentation>19371: Angir andre venstresvingefelt mot metreringsretning.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FeltkodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HøydeposisjonType">
    <annotation>
      <documentation>8763: Gir lovlige verdier for høydeposisjon i NVDB sin lokasjonsattributt</documentation>
    </annotation>
    <union memberTypes="nvdb:HøydeposisjonEnumerationType nvdb:HøydeposisjonOtherType"/>
  </simpleType>
  <simpleType name="HøydeposisjonEnumerationType">
    <annotation>
      <documentation>8763: Gir lovlige verdier for høydeposisjon i NVDB sin lokasjonsattributt</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="O">
        <annotation>
          <documentation>11587: LEVEL_OVER_T  Ligger over.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>11586: LEVEL_ON_T  Ligger på.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="U">
        <annotation>
          <documentation>11588: LEVEL_UNDER_T  Ligger under.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HøydeposisjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HøydereferanseType">
    <annotation>
      <documentation>9546: Koordinatregistering utført på topp eller bunn av et objekt. (Definisjon fra SOSI standard)</documentation>
    </annotation>
    <union memberTypes="nvdb:HøydereferanseEnumerationType nvdb:HøydereferanseOtherType"/>
  </simpleType>
  <simpleType name="HøydereferanseEnumerationType">
    <annotation>
      <documentation>9546: Koordinatregistering utført på topp eller bunn av et objekt. (Definisjon fra SOSI standard)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="fot">
        <annotation>
          <documentation>13691: Høyden målt til foten av objektet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="topp">
        <annotation>
          <documentation>13692: Høyden målt til toppen av objektet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>13693: Ukjent</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeRegistrert">
        <annotation>
          <documentation>13690: Ikke registrert</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HøydereferanseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MediumType">
    <annotation>
      <documentation>9792: Objektets beliggenhet i forhold til jordoverflaten. (Definisjon fra SOSI standard)</documentation>
    </annotation>
    <union memberTypes="nvdb:MediumEnumerationType nvdb:MediumOtherType"/>
  </simpleType>
  <simpleType name="MediumEnumerationType">
    <annotation>
      <documentation>9792: Objektets beliggenhet i forhold til jordoverflaten. (Definisjon fra SOSI standard)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="påTerrenget">
        <annotation>
          <documentation>15930: På terrenget/på bakkenivå</documentation>
        </annotation>
      </enumeration>
      <enumeration value="iBygning">
        <annotation>
          <documentation>15931: I bygning/bygningsmessig anlegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="iLuft">
        <annotation>
          <documentation>15932: I luft</documentation>
        </annotation>
      </enumeration>
      <enumeration value="underTerrenget">
        <annotation>
          <documentation>15933: Under terrenget</documentation>
        </annotation>
      </enumeration>
      <enumeration value="påSjøbunnen">
        <annotation>
          <documentation>15934: På sjøbunnen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="påVannoverflaten">
        <annotation>
          <documentation>15935: På vannoverflaten</documentation>
        </annotation>
      </enumeration>
      <enumeration value="alltidIVann">
        <annotation>
          <documentation>15936: Alltid i vann</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tidvisUnderVann">
        <annotation>
          <documentation>15937: Tidvis under vann</documentation>
        </annotation>
      </enumeration>
      <enumeration value="påIsbre">
        <annotation>
          <documentation>15938: På isbre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="underSjøbunnen">
        <annotation>
          <documentation>15939: Under sjøbunnen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="underIsbre">
        <annotation>
          <documentation>15940: Under isbre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>15941: Ukjent</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeRegistrert">
        <annotation>
          <documentation>15942: Ikke registrert</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MediumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeNVDBDokumentasjonType">
    <annotation>
      <documentation>11429: Målemetode benyttet for å bestemme veglenkens lengde</documentation>
    </annotation>
    <union memberTypes="nvdb:MålemetodeNVDBDokumentasjonEnumerationType nvdb:MålemetodeNVDBDokumentasjonOtherType"/>
  </simpleType>
  <simpleType name="MålemetodeNVDBDokumentasjonEnumerationType">
    <annotation>
      <documentation>11429: Målemetode benyttet for å bestemme veglenkens lengde</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="metrert">
        <annotation>
          <documentation>19305: Veglenkens lengde er bestemt ved metrering i marka</documentation>
        </annotation>
      </enumeration>
      <enumeration value="geometrisk">
        <annotation>
          <documentation>19306: Veglenkens lengde er bestemt ut ifra lenkens geometri</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeNVDBDokumentasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="NVDBDokumentasjon" substitutionGroup="nvdb:AbstraktNVDBDokumentasjon" type="nvdb:NVDBDokumentasjonType">
    <annotation>
      <documentation>793: Objekttype benyttet for å dokumentere noen enum-verdier i NVDB.  Det kan forekomme avvik fra NVDB i og med at det ikke er automatisk synkronisering.</documentation>
    </annotation>
  </element>
  <complexType name="NVDBDokumentasjonType">
    <complexContent>
      <extension base="nvdb:AbstraktNVDBDokumentasjonType">
        <sequence>
          <element minOccurs="0" name="sideposisjon" type="nvdb:SideposisjonType">
            <annotation>
              <documentation>8762: Gir lovlige verdier for sideposisjon i NVDB sin lokasjonsattributt. Høyre og venstre er relatert til vegens metreringsretning.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeposisjon" type="nvdb:HøydeposisjonType">
            <annotation>
              <documentation>8763: Gir lovlige verdier for høydeposisjon i NVDB sin lokasjonsattributt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="feltkode" type="nvdb:FeltkodeType">
            <annotation>
              <documentation>11431: Angir feltkode for flate.  Skal bare gis for kjørefeltflater</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="typeVeg" type="nvdb:TypeVegType"/>
          <element minOccurs="0" name="kvalitet">
            <annotation>
              <documentation>9553: Gruppeegenskap bestående av kvalitetsparametrer knyttet til geometri</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="temakode" type="integer">
            <annotation>
              <documentation>9784: Parameter benyttet i forbindelse med utveksling av data på SOSI-format</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="objektnavn" type="string">
            <annotation>
              <documentation>9785: Ord som noen eller noe kalles ved. (Definisjon fra SOSI standard)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="nvdb:MediumType">
            <annotation>
              <documentation>9792: Objektets beliggenhet i forhold til jordoverflaten. (Definisjon fra SOSI standard)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="verifiseringsdato" type="date">
            <annotation>
              <documentation>9786: Dato når dataene er fastslått å være i samsvar med virkeligheten. (Definisjon fra SOSI standard)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="oppdateringsdato" type="date">
            <annotation>
              <documentation>9787: Dato som angir datasystemets siste endring på objektet. Merknad: Kan være forskjellig fra datafangsdato ved at data som er registrert kan buffres en kortere eller lengre periode før disse legges inn i datasystemet (databasen). (Definisjon fra SOSI standard)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosesshistorie" type="string">
            <annotation>
              <documentation>9788: Beskrivelse av de prosesser som dataene er gått gjennom som kan ha betydning for kvaliteten og bruken av dataene. Merknad: Prosesshistorie vil kunne inneholde informasjon om transformasjoner. Hva slags informasjon som angis er ofte gitt i andre
standarder, f.eks kvalitet og kvalitetsikring. (Definisjon fra SOSI standard)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kommune" type="integer">
            <annotation>
              <documentation>9789: Nummerering av kommuner i henhold til SSB sin offisielle liste. Merknad: Det presiseres at kommune alltid skal ha 4 siffer, dvs. eventuelt med ledende null. Kommune benyttes for kopling mot en rekke andre registre som også benytter 4 siffer. (Definisjon fra SOSI standard).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høydereferanse" type="nvdb:HøydereferanseType">
            <annotation>
              <documentation>9546: Koordinatregistering utført på topp eller bunn av et objekt. (Definisjon fra SOSI standard)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="geometri_Navn" type="string">
            <annotation>
              <documentation>9790: Parameter benyttet i forbindelse med utveksling av data på SOSI-format</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="referansegeometri" type="nvdb:ReferansegeometriType">
            <annotation>
              <documentation>9547: Angir kode for referansegeometri</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vegdetaljnivå" type="nvdb:VegdetaljnivåType">
            <annotation>
              <documentation>11427: Detaljnivå i vegnettet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="måledato" type="date">
            <annotation>
              <documentation>11428: Dato for når en strekning ble metrert i marka, evt datafangstdato for veglenker med lengde bestemt ut ifra lenkens geometri.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="målemetode" type="nvdb:MålemetodeNVDBDokumentasjonType">
            <annotation>
              <documentation>11429: Målemetode benyttet for å bestemme veglenkens lengde</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NVDBDokumentasjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:NVDBDokumentasjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ReferansegeometriType">
    <annotation>
      <documentation>9547: Angir kode for referansegeometri</documentation>
    </annotation>
    <union memberTypes="nvdb:ReferansegeometriEnumerationType nvdb:ReferansegeometriOtherType"/>
  </simpleType>
  <simpleType name="ReferansegeometriEnumerationType">
    <annotation>
      <documentation>9547: Angir kode for referansegeometri</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13694: Ja</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ReferansegeometriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SideposisjonType">
    <annotation>
      <documentation>8762: Gir lovlige verdier for sideposisjon i NVDB sin lokasjonsattributt. Høyre og venstre er relatert til vegens metreringsretning.</documentation>
    </annotation>
    <union memberTypes="nvdb:SideposisjonEnumerationType nvdb:SideposisjonOtherType"/>
  </simpleType>
  <simpleType name="SideposisjonEnumerationType">
    <annotation>
      <documentation>8762: Gir lovlige verdier for sideposisjon i NVDB sin lokasjonsattributt. Høyre og venstre er relatert til vegens metreringsretning.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="V">
        <annotation>
          <documentation>11591: Angir at vegobjektet er stedfestet på venstre side av vegen (LEFT)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="H">
        <annotation>
          <documentation>11594: Angir at vegobjektet er stedfestet på høyre side av vegen. (RIGHT)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HV">
        <annotation>
          <documentation>11598: Angir at vegobjektet er stedfestet delvis på høyre og delvis på venstre side av vegen (LEFT_AND_RIGHT)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="M">
        <annotation>
          <documentation>11593: Angir at vegobjektet er stedfestet på midtrabatt (MIDDLE)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K">
        <annotation>
          <documentation>11590: Angir at vegobjektet krysser vegen. (CROSSING)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MV">
        <annotation>
          <documentation>11597: Angir at vegobjektet er stedfestet på venstre side av midtrabatt (MIDDLE_LEFT)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MH">
        <annotation>
          <documentation>11596: Angir at vegobjektet er stedfestet på høyre side av midtrabatt (MIDDLE_RIGHT)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="VT">
        <annotation>
          <documentation>11592: Angir at vegobjektet er stedfestet i tilknytning til sideveg/avkjørsel på venstre side av vegen (LEFT_ACCESS)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HT">
        <annotation>
          <documentation>11595: Angir at vegobjektet er stedfestet i tilknytning til sideveg/avkjørsel på høyre side av vegen (RIGHT_ACCESS)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R0">
        <annotation>
          <documentation>11600: Angir at vegobjektet er stedfestet på sentraløya i rundkjøring (ROUNDABOUT_CENTRE)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="L">
        <annotation>
          <documentation>11601: Angir at vegobjektet ligger langs med vegen (LONGITUDINAL)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SideposisjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegType">
    <union memberTypes="nvdb:TypeVegEnumerationType nvdb:TypeVegOtherType"/>
  </simpleType>
  <simpleType name="TypeVegEnumerationType">
    <restriction base="string">
      <enumeration value="kanalisertVeg">
        <annotation>
          <documentation>19287: Veg som har fysisk adskilte kjørebaner med rekkverk eller annen fysisk barriere.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="enkelBilveg">
        <annotation>
          <documentation>19288: Øvrige bilveger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rampe">
        <annotation>
          <documentation>19289: Veg for på- eller avkjøring av annen veg.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rundkjøring">
        <annotation>
          <documentation>19290: Rundkjøring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bilferje">
        <annotation>
          <documentation>19291: Strekning trafikkert av bilferjer som del av vegnettet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="passasjerferje">
        <annotation>
          <documentation>19292: Strekning trafikkert av passasjerferje som del av nettverket</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gangOgSykkelveg">
        <annotation>
          <documentation>19293: Veg som er bestemt for gående, syklende eller kombinert gang- og sykkeltrafikk. Vegen er skilt fra annen veg med gressplen, grøft, gjerde, kantstein eller på annen måte. Normalt skiltet med skilt nr 522.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sykkelveg">
        <annotation>
          <documentation>19294: Veg som er bestemt for syklende. Vegen er skilt fra annen veg med gressplen, grøft, gjerde, kantstein eller på annen måte. Normalt skiltet med skilt nr 520.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gangveg">
        <annotation>
          <documentation>19295: Veg som er bestemt for gående. Vegen er skilt fra annen veg med gressplen, grøft, gjerde, kantstein eller på annen måte.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gågate">
        <annotation>
          <documentation>19296: Område hvor det er forbudt å kjøre motorvogn, og hvor trafikkreglenes bestemmelser om gågate gjelder. Skiltet med skilt nr 548.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fortau">
        <annotation>
          <documentation>19297: Del av veg reservert for gående. Ligger høyere enn vegbanen og er adskilt fra denne med kantstein.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trapp">
        <annotation>
          <documentation>19298: Trapp som naturlig inngår i nettverket</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gangfelt">
        <annotation>
          <documentation>19299: Kryssingssted for gående hvor trafikkreglenes bestemmelser om gangfelt gjelder. Oppmerket og eventuelt skiltet med skilt nr 516.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gatetun">
        <annotation>
          <documentation>19300: boliggate hvor det er iverksatt fysiske tiltak for å etablere et uteareal for alle trafikantkategorier, hvor all kjøring skjer på fotgjengernes vilkår.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VegdetaljnivåType">
    <annotation>
      <documentation>11427: Detaljnivå i vegnettet</documentation>
    </annotation>
    <union memberTypes="nvdb:VegdetaljnivåEnumerationType nvdb:VegdetaljnivåOtherType"/>
  </simpleType>
  <simpleType name="VegdetaljnivåEnumerationType">
    <annotation>
      <documentation>11427: Detaljnivå i vegnettet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="vegtrase">
        <annotation>
          <documentation>19301: Representerer en konstruert senterlinje som den fysiske vegen ikke følger, f.eks. ved fysisk adskilte kjørebaner.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kjørebane">
        <annotation>
          <documentation>19302: Del av veg som består av ett eller flere kjørefelt som ligger inntil hverandre og i samme plan der vegen har fysisk adskilte kjørebaner.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kjørefelt">
        <annotation>
          <documentation>19303: Del av veg som er bestemt for en vognrekke</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegtraseOgKjørebane">
        <annotation>
          <documentation>19304: Del av vegnettet som består av ett eller flere kjørefelt som ligger inntil hverandre og i samme plan der vegen ikke har fysisk adskilte kjørebaner.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VegdetaljnivåOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
