GML/794.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="103.xsd"/>
  <include schemaLocation="153.xsd"/>
  <include schemaLocation="163.xsd"/>
  <include schemaLocation="165.xsd"/>
  <include schemaLocation="167.xsd"/>
  <include schemaLocation="174.xsd"/>
  <include schemaLocation="180.xsd"/>
  <include schemaLocation="181.xsd"/>
  <include schemaLocation="20.xsd"/>
  <include schemaLocation="209.xsd"/>
  <include schemaLocation="210.xsd"/>
  <include schemaLocation="215.xsd"/>
  <include schemaLocation="22.xsd"/>
  <include schemaLocation="23.xsd"/>
  <include schemaLocation="24.xsd"/>
  <include schemaLocation="25.xsd"/>
  <include schemaLocation="26.xsd"/>
  <include schemaLocation="27.xsd"/>
  <include schemaLocation="28.xsd"/>
  <include schemaLocation="3.xsd"/>
  <include schemaLocation="342.xsd"/>
  <include schemaLocation="45.xsd"/>
  <include schemaLocation="460.xsd"/>
  <include schemaLocation="461.xsd"/>
  <include schemaLocation="462.xsd"/>
  <include schemaLocation="464.xsd"/>
  <include schemaLocation="466.xsd"/>
  <include schemaLocation="467.xsd"/>
  <include schemaLocation="468.xsd"/>
  <include schemaLocation="470.xsd"/>
  <include schemaLocation="478.xsd"/>
  <include schemaLocation="481.xsd"/>
  <include schemaLocation="500.xsd"/>
  <include schemaLocation="502.xsd"/>
  <include schemaLocation="519.xsd"/>
  <include schemaLocation="542.xsd"/>
  <include schemaLocation="610.xsd"/>
  <include schemaLocation="623.xsd"/>
  <include schemaLocation="65.xsd"/>
  <include schemaLocation="7.xsd"/>
  <include schemaLocation="73.xsd"/>
  <include schemaLocation="79.xsd"/>
  <include schemaLocation="83.xsd"/>
  <include schemaLocation="85.xsd"/>
  <include schemaLocation="87.xsd"/>
  <include schemaLocation="90.xsd"/>
  <include schemaLocation="95.xsd"/>
  <include schemaLocation="97.xsd"/>
  <include schemaLocation="98.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Systemobjekt" substitutionGroup="gml:AbstractFeature" type="nvdb:SystemobjektType">
    <annotation>
      <documentation>794: Objekttype for å ivareta systeminformasjon</documentation>
    </annotation>
  </element>
  <complexType name="SystemobjektType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>8831: Gir informasjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKantstolperRefleks" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:KantstolperRefleks</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFerist" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Ferist</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertElektriskAnlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:ElektriskAnlegg</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKondensmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kondensmåler</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLekeapparat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Lekeapparat</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBomstasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Bomstasjon</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRenovasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Renovasjon</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStikkrenneKulvert" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:StikkrenneKulvert</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkap_Teknisk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Skap_Teknisk</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBranndetektor" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Branndetektor</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGangfelt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Gangfelt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBygning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Bygning</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStativForTuristinfo" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:StativForTuristinfo</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNødtelefon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Nødtelefon</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSignalpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Signalpunkt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKum" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kum</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHøydemåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Høydemåler</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertAntenne" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Antenne</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStøtpute" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Støtpute</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHøydehinder" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Høydehinder</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkiltportal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Skiltportal</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNødstasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Nødstasjon</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLysmast" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Lysmast</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGassmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Gassmåler</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSikringsbolt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Sikringsbolt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKamera" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kamera</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertReferansestolpe" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Referansestolpe</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLeskur" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Leskur</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertPumpe" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Pumpe</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNødstrømsaggregat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Nødstrømsaggregat</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGjerde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Gjerde</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFartsdemper" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Fartsdemper</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkiltpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Skiltpunkt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHydrant" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Hydrant</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkjerm" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Skjerm</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertPumpestasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Pumpestasjon</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertDetektor_Trafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Detektor_Trafikk</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBelysningspunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Belysningspunkt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTennpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Tennpunkt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkspeil" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafikkspeil</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafo" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafo</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertUPS" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:UPS</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertUtemøbler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Utemøbler</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVannstandsmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Vannstandsmåler</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVariabeltSkilt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:VariabeltSkilt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegbom" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Vegbom</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegoppmerking_Tverrgående" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Vegoppmerking_Tverrgående</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVindmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Vindmåler</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVærstasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Værstasjon</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nvdb:assosiertSystemobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SystemobjektPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Systemobjekt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
