GML/794.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Systemobjekt" substitutionGroup="nvdb:AbstraktSystemobjekt" type="nvdb:SystemobjektType">
    <annotation>
      <documentation>794: Objekttype for å ivareta systeminformasjon</documentation>
    </annotation>
  </element>
  <complexType name="SystemobjektType">
    <complexContent>
      <extension base="nvdb:AbstraktSystemobjektType">
        <sequence>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>8831: Gir informasjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertDetektor_Trafikk" type="nvdb:AbstraktDetektor_TrafikkPropertyType"/>
          <element minOccurs="0" name="assosiertTennpunkt" type="nvdb:AbstraktTennpunktPropertyType"/>
          <element minOccurs="0" name="assosiertUtemøbler" type="nvdb:AbstraktUtemøblerPropertyType"/>
          <element minOccurs="0" name="assosiertBranndetektor" type="nvdb:AbstraktBranndetektorPropertyType"/>
          <element minOccurs="0" name="assosiertKamera" type="nvdb:AbstraktKameraPropertyType"/>
          <element minOccurs="0" name="assosiertSkiltportal" type="nvdb:AbstraktSkiltportalPropertyType"/>
          <element minOccurs="0" name="assosiertSkiltpunkt" type="nvdb:AbstraktSkiltpunktPropertyType"/>
          <element minOccurs="0" name="assosiertStøtpute" type="nvdb:AbstraktStøtputePropertyType"/>
          <element minOccurs="0" name="assosiertRenovasjon" type="nvdb:AbstraktRenovasjonPropertyType"/>
          <element minOccurs="0" name="assosiertNødstrømsaggregat" type="nvdb:AbstraktNødstrømsaggregatPropertyType"/>
          <element minOccurs="0" name="assosiertPumpe" type="nvdb:AbstraktPumpePropertyType"/>
          <element minOccurs="0" name="assosiertGassmåler" type="nvdb:AbstraktGassmålerPropertyType"/>
          <element minOccurs="0" name="assosiertFerist" type="nvdb:AbstraktFeristPropertyType"/>
          <element minOccurs="0" name="assosiertSkjerm" type="nvdb:AbstraktSkjermPropertyType"/>
          <element minOccurs="0" name="assosiertLeskur" type="nvdb:AbstraktLeskurPropertyType"/>
          <element minOccurs="0" name="assosiertElektriskAnlegg" type="nvdb:AbstraktElektriskAnleggPropertyType"/>
          <element minOccurs="0" name="assosiertFartsdemper" type="nvdb:AbstraktFartsdemperPropertyType"/>
          <element minOccurs="0" name="assosiertSikringsbolt" type="nvdb:AbstraktSikringsboltPropertyType"/>
          <element minOccurs="0" name="assosiertGangfelt" type="nvdb:AbstraktGangfeltPropertyType"/>
          <element minOccurs="0" name="assosiertReferansestolpe" type="nvdb:AbstraktReferansestolpePropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkspeil" type="nvdb:AbstraktTrafikkspeilPropertyType"/>
          <element minOccurs="0" name="assosiertSignalpunkt" type="nvdb:AbstraktSignalpunktPropertyType"/>
          <element minOccurs="0" name="assosiertStativForTuristinfo" type="nvdb:AbstraktStativForTuristinfoPropertyType"/>
          <element minOccurs="0" name="assosiertGjerde" type="nvdb:AbstraktGjerdePropertyType"/>
          <element minOccurs="0" name="assosiertHøydemåler" type="nvdb:AbstraktHøydemålerPropertyType"/>
          <element minOccurs="0" name="assosiertVindmåler" type="nvdb:AbstraktVindmålerPropertyType"/>
          <element minOccurs="0" name="assosiertNødtelefon" type="nvdb:AbstraktNødtelefonPropertyType"/>
          <element minOccurs="0" name="assosiertTrafo" type="nvdb:AbstraktTrafoPropertyType"/>
          <element minOccurs="0" name="assosiertVegbom" type="nvdb:AbstraktVegbomPropertyType"/>
          <element minOccurs="0" name="assosiertPumpestasjon" type="nvdb:AbstraktPumpestasjonPropertyType"/>
          <element minOccurs="0" name="assosiertVariabeltSkilt" type="nvdb:AbstraktVariabeltSkiltPropertyType"/>
          <element minOccurs="0" name="assosiertVannstandsmåler" type="nvdb:AbstraktVannstandsmålerPropertyType"/>
          <element minOccurs="0" name="assosiertKondensmåler" type="nvdb:AbstraktKondensmålerPropertyType"/>
          <element minOccurs="0" name="assosiertVegoppmerking_Tverrgående" type="nvdb:AbstraktVegoppmerking_TverrgåendePropertyType"/>
          <element minOccurs="0" name="assosiertBomstasjon" type="nvdb:AbstraktBomstasjonPropertyType"/>
          <element minOccurs="0" name="assosiertKum" type="nvdb:AbstraktKumPropertyType"/>
          <element minOccurs="0" name="assosiertUPS" type="nvdb:AbstraktUPSPropertyType"/>
          <element minOccurs="0" name="assosiertAntenne" type="nvdb:AbstraktAntennePropertyType"/>
          <element minOccurs="0" name="assosiertNødstasjon" type="nvdb:AbstraktNødstasjonPropertyType"/>
          <element minOccurs="0" name="assosiertVærstasjon" type="nvdb:AbstraktVærstasjonPropertyType"/>
          <element minOccurs="0" name="assosiertSkap_Teknisk" type="nvdb:AbstraktSkap_TekniskPropertyType"/>
          <element minOccurs="0" name="assosiertHøydehinder" type="nvdb:AbstraktHøydehinderPropertyType"/>
          <element minOccurs="0" name="assosiertHydrant" type="nvdb:AbstraktHydrantPropertyType"/>
          <element minOccurs="0" name="assosiertLekeapparat" type="nvdb:AbstraktLekeapparatPropertyType"/>
          <element minOccurs="0" name="assosiertKantstolperRefleks" type="nvdb:AbstraktKantstolperRefleksPropertyType"/>
          <element minOccurs="0" name="assosiertLysmast" type="nvdb:AbstraktLysmastPropertyType"/>
          <element minOccurs="0" name="assosiertStikkrenneKulvert" type="nvdb:AbstraktStikkrenneKulvertPropertyType"/>
          <element minOccurs="0" name="assosiertBygning" type="nvdb:AbstraktBygningPropertyType"/>
          <element minOccurs="0" name="assosiertBelysningspunkt" type="nvdb:AbstraktBelysningspunktPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SystemobjektPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Systemobjekt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
