GML/794.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>794: Objekttype for å ivareta systeminformasjon</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Systemobjekt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:SystemobjektType">
      <annotation>
         <documentation>794: Objekttype for å ivareta systeminformasjon</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">794</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">794</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Systemobjekt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SystemobjektType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="beskrivelse" type="string">
                  <annotation>
                     <documentation>8831: Gir informasjon</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8831</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>Angivelse av objektets posisjon</documentation>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SystemobjektPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Systemobjekt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
