GML/798.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Trafikkmengde, kjørefelt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Trafikkmengde, kjørefeltType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">798</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkmengde, kjørefelt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Trafikkmengde, kjørefeltType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence/>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Trafikkmengde, kjørefeltPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trafikkmengde, kjørefelt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
