GML/798.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.25">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="OppdatertFraTrafikkmengde_KjørefeltType">
    <annotation>
      <documentation>9112: Angir hvorfra ÅDT-verdien er kommet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9112</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9112</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppdatert fra</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppdatertFraTrafikkmengde_KjørefeltEnumerationType nvdb:OppdatertFraTrafikkmengde_KjørefeltOtherType"/>
  </simpleType>
  <simpleType name="OppdatertFraTrafikkmengde_KjørefeltEnumerationType">
    <annotation>
      <documentation>9112: Angir hvorfra ÅDT-verdien er kommet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9112</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9112</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppdatert fra</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Oppskrevet fra primærtellepunktet">
        <annotation>
          <documentation>12090: Oppskrevet fra primærtellepunktet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12090</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppskrevet fra primærtellepunktet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oppskrevet fra nivå-1 tellepunktet">
        <annotation>
          <documentation>12089: Oppskrevet fra nivå-1 tellepunktet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12089</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppskrevet fra nivå-1 tellepunktet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oppskrevet fra fylkesindeksen">
        <annotation>
          <documentation>12088: Oppskrevet fra fylkesindeksen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12088</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppskrevet fra fylkesindeksen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brukersatt">
        <annotation>
          <documentation>12087: Brukersatt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12087</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Brukersatt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppdatertFraTrafikkmengde_KjørefeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkmengde_Kjørefelt" substitutionGroup="nvdb:AbstraktTrafikkmengde_Kjørefelt" type="nvdb:Trafikkmengde_KjørefeltType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">798</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">798</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trafikkmengde, kjørefelt</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Trafikkmengde_KjørefeltType">
    <complexContent>
      <extension base="nvdb:AbstraktTrafikkmengde_KjørefeltType">
        <sequence>
          <element name="ÅDT" type="integer">
            <annotation>
              <documentation>9109: Angir årsdøgntrafikk for angitt kjørefelt.  Representativt for gitt strekning.  Gjennomsnittsverdi.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9109</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">ÅDT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ÅDT_AndelLangeKjøretøy" type="integer">
            <annotation>
              <documentation>9110: Angir hvor stor andel (i prosent) av kjøretøyene som er definert som lange.  Kjøretøy med lengde større eller lik 5,6 meter defineres som lange kjøretøy.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9110</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">ÅDT, andel lange kjøretøy</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppdatertFra" type="nvdb:OppdatertFraTrafikkmengde_KjørefeltType">
            <annotation>
              <documentation>9112: Angir hvorfra ÅDT-verdien er kommet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9112</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppdatert fra</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9111: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9111</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, hjelpelinje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkmengde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkmengde</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Trafikkmengde_KjørefeltPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkmengde_Kjørefelt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
