GML/798.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="OppdatertFraTrafikkmengde, kjørefeltType">
      <annotation>
         <documentation>9112: Angir hvorfra ÅDT-verdien er kommet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9112</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppdatert fra</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OppdatertFraTrafikkmengde, kjørefeltEnumerationType nvdb:OppdatertFraTrafikkmengde, kjørefeltOtherType"/>
   </simpleType>
   <simpleType name="OppdatertFraTrafikkmengde, kjørefeltEnumerationType">
      <annotation>
         <documentation>9112: Angir hvorfra ÅDT-verdien er kommet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9112</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppdatert fra</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12087</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brukersatt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ofid">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12088</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oppskrevet fra fylkesindeksen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12089</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oppskrevet fra nivå-1 tellepunktet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12090</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oppskrevet fra primærtellepunktet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OppdatertFraTrafikkmengde, kjørefeltOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Trafikkmengde, kjørefelt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Trafikkmengde, kjørefeltType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">798</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkmengde, kjørefelt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Trafikkmengde, kjørefeltType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="ÅDT" type="integer">
                  <annotation>
                     <documentation>9109: Angir årsdøgntrafikk for angitt kjørefelt. Representativt for gitt strekning. Gjennomsnittsverdi.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9109</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ÅDT</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="ÅDT_AndelLangeKjøretøy" type="integer">
                  <annotation>
                     <documentation>9110: Angir hvor stor andel (i prosent) av kjøretøyene som er definert som lange. Kjøretøy med lengde større eller lik 5,6 meter defineres som lange kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9110</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ÅDT, andel lange kjøretøy</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="oppdatertFra">
                  <annotation>
                     <documentation>9112: Angir hvorfra ÅDT-verdien er kommet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9112</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Oppdatert fra</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9111: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9111</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Trafikkmengde, kjørefeltPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trafikkmengde, kjørefelt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
