GML/799.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DreneringType">
    <annotation>
      <documentation>9114: Angir løsning for drenering i tilknytning til vollen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9114</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9114</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Drenering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DreneringEnumerationType nvdb:DreneringOtherType"/>
  </simpleType>
  <simpleType name="DreneringEnumerationType">
    <annotation>
      <documentation>9114: Angir løsning for drenering i tilknytning til vollen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9114</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9114</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Drenering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Gjenfylt grøft">
        <annotation>
          <documentation>12095: Gjenfylt grøft</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12095</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjenfylt grøft</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gjenfylt grøft med rør">
        <annotation>
          <documentation>12096: Rør i bunn av grøft.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12096</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjenfylt grøft med rør</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DreneringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="JordvollMotBergskjæring" substitutionGroup="nvdb:AbstraktJordvollMotBergskjæring" type="nvdb:JordvollMotBergskjæringType">
    <annotation>
      <documentation>799: Jordvoll mot bergskjæring. Benyttes i første rekke som TS tiltak. Vollen har effekt i forhold til at en unngår dyp sidegrøft, samt at den skjermer noe for kollisjon med bergskjæring. Vollen skrår fra vegkant og opp mot bergskjæring. Kan være grunn sidegrøft.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">799</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">799</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Jordvoll mot bergskjæring</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="JordvollMotBergskjæringType">
    <complexContent>
      <extension base="nvdb:AbstraktJordvollMotBergskjæringType">
        <sequence>
          <element minOccurs="0" name="materialtype" type="nvdb:MaterialtypeJordvollMotBergskjæringType">
            <annotation>
              <documentation>9113: Angir hvilket materiale vollen hovedsakelig er bygd opp av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9113</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="drenering" type="nvdb:DreneringType">
            <annotation>
              <documentation>9114: Angir løsning for drenering i tilknytning til vollen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9114</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Drenering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10313: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10313</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11635: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11635</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9299: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9299</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="JordvollMotBergskjæringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:JordvollMotBergskjæring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaterialtypeJordvollMotBergskjæringType">
    <annotation>
      <documentation>9113: Angir hvilket materiale vollen hovedsakelig er bygd opp av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9113</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9113</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeJordvollMotBergskjæringEnumerationType nvdb:MaterialtypeJordvollMotBergskjæringOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeJordvollMotBergskjæringEnumerationType">
    <annotation>
      <documentation>9113: Angir hvilket materiale vollen hovedsakelig er bygd opp av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9113</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9113</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Løsmasse">
        <annotation>
          <documentation>12092: Løsmasse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12092</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Løsmasse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pukk">
        <annotation>
          <documentation>12093: Pukk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12093</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprengt stein">
        <annotation>
          <documentation>12094: Sprengt stein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12094</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprengt stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeJordvollMotBergskjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
