GML/799.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>799: Jordvoll mot bergskjæring. Benyttes i første rekke som TS tiltak. Vollen har effekt i forhold til at en unngår dyp sidegrøft, samt at den skjermer noe for kollisjon med bergskjæring. Vollen skrår fra vegkant og opp mot bergskjæring. Kan være grunn sidegrøft.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="DreneringJordvoll mot bergskjæringType">
      <annotation>
         <documentation>9114: Angir løsning for drenering i tilknytning til vollen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9114</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drenering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DreneringJordvoll mot bergskjæringEnumerationType nvdb:DreneringJordvoll mot bergskjæringOtherType"/>
   </simpleType>
   <simpleType name="DreneringJordvoll mot bergskjæringEnumerationType">
      <annotation>
         <documentation>9114: Angir løsning for drenering i tilknytning til vollen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9114</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drenering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="GG">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12095</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gjenfylt grøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GGR">
            <annotation>
               <documentation>12096: Rør i bunn av grøft.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12096</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gjenfylt grøft med rør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DreneringJordvoll mot bergskjæringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Jordvoll mot bergskjæring"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Jordvoll mot bergskjæringType">
      <annotation>
         <documentation>799: Jordvoll mot bergskjæring. Benyttes i første rekke som TS tiltak. Vollen har effekt i forhold til at en unngår dyp sidegrøft, samt at den skjermer noe for kollisjon med bergskjæring. Vollen skrår fra vegkant og opp mot bergskjæring. Kan være grunn sidegrøft.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jordvoll mot bergskjæring</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Jordvoll mot bergskjæringType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0"
                        name="materialtype"
                        type="nvdb:MaterialtypeJordvoll mot bergskjæringType">
                  <annotation>
                     <documentation>9113: Angir hvilket materiale vollen hovedsakelig er bygd opp av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9113</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="drenering"
                        type="nvdb:DreneringJordvoll mot bergskjæringType">
                  <annotation>
                     <documentation>9114: Angir løsning for drenering i tilknytning til vollen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9114</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Drenering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10313: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10313</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11635: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11635</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9299: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9299</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Jordvoll mot bergskjæringPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Jordvoll mot bergskjæring"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaterialtypeJordvoll mot bergskjæringType">
      <annotation>
         <documentation>9113: Angir hvilket materiale vollen hovedsakelig er bygd opp av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9113</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeJordvoll mot bergskjæringEnumerationType nvdb:MaterialtypeJordvoll mot bergskjæringOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeJordvoll mot bergskjæringEnumerationType">
      <annotation>
         <documentation>9113: Angir hvilket materiale vollen hovedsakelig er bygd opp av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9113</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Lm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12092</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Løsmasse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12093</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ss">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12094</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sprengt stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeJordvoll mot bergskjæringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
