GML/80.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>80: Forsenkning i terrenget for å lede bort vann. Del av vegens avvanningssystem. Kan også benevnes "kanal". Merknad: Breddemåling skal refereres til topp grøft.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BelegningGrøftebunnGrøft, åpenType">
      <annotation>
         <documentation>3949: Angir hvilken type belegning det er i bunn av grøfta.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3949</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning grøftebunn</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelegningGrøftebunnGrøft, åpenEnumerationType nvdb:BelegningGrøftebunnGrøft, åpenOtherType"/>
   </simpleType>
   <simpleType name="BelegningGrøftebunnGrøft, åpenEnumerationType">
      <annotation>
         <documentation>3949: Angir hvilken type belegning det er i bunn av grøfta.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3949</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning grøftebunn</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4957</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4955</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelegningGrøftebunnGrøft, åpenOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierGrøft, åpenType">
      <annotation>
         <documentation>11962: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11962</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierGrøft, åpenEnumerationType nvdb:EierGrøft, åpenOtherType"/>
   </simpleType>
   <simpleType name="EierGrøft, åpenEnumerationType">
      <annotation>
         <documentation>11962: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11962</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20475</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20476</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20477</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20474</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20473</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>20478: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20478</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierGrøft, åpenOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Grøft, åpen"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Grøft, åpenType">
      <annotation>
         <documentation>80: Forsenkning i terrenget for å lede bort vann. Del av vegens avvanningssystem. Kan også benevnes "kanal". Merknad: Breddemåling skal refereres til topp grøft.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">80</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grøft, åpen</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Grøft, åpenType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeGrøft, åpenType">
                  <annotation>
                     <documentation>1139: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1139</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materiale" type="nvdb:MaterialeGrøft, åpenType">
                  <annotation>
                     <documentation>1944: Angir hvilket materiale grøfta i hovedsak ligger i/er omsluttet av. Ev. belegning skal ikke oppgis her.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1944</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dybde" type="double">
                  <annotation>
                     <documentation>1658: Angir dybde målt fra vegkant til bunn grøft.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1658</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dybde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde_Topp" type="double">
                  <annotation>
                     <documentation>1934: Angir gjennomsnittlig bredde (topp) for hele vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1934</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, topp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde_Bunn" type="double">
                  <annotation>
                     <documentation>1929: Angir gjennomsnittlig bredde (bunn) for hele vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1929</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, bunn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>1324: Angir total lengde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1324</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rekkefølge" type="double">
                  <annotation>
                     <documentation>10725: Kan angi i hvilken rekkefølge grøftene ligger. Bare behov for å angi dette om det er to eller flere grøfter som har samme sideposisjon i forhold til samme veg. Den av grøftene som ligger nærmest vegen gis nr 1, neste nummer 2.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10725</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rekkefølge</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10304: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10304</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>10674: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks. beskrivelse av hvordan grøft er bygget opp. Tettingsmateriale, filtermateriale m.m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10674</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11069: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11069</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12308: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12308</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierGrøft, åpenType">
                  <annotation>
                     <documentation>11962: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11962</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligGrøft, åpenType">
                  <annotation>
                     <documentation>8061: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8061</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4781: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4781</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="belegningGrøftebunn">
                  <annotation>
                     <documentation>3949: Angir hvilken type belegning det er i bunn av grøfta.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3949</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belegning grøftebunn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Grøft, åpenPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Grøft, åpen"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaterialeGrøft, åpenType">
      <annotation>
         <documentation>1944: Angir hvilket materiale grøfta i hovedsak ligger i/er omsluttet av. Ev. belegning skal ikke oppgis her.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1944</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeGrøft, åpenEnumerationType nvdb:MaterialeGrøft, åpenOtherType"/>
   </simpleType>
   <simpleType name="MaterialeGrøft, åpenEnumerationType">
      <annotation>
         <documentation>1944: Angir hvilket materiale grøfta i hovedsak ligger i/er omsluttet av. Ev. belegning skal ikke oppgis her.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1944</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="br">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3046</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Berg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="klb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13798</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kombinasjon løsmasse/berg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3596</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Løsmasse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="my">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3932</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Myr</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ss">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3048</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sprengt stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeGrøft, åpenOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeGrøft, åpenType">
      <annotation>
         <documentation>1139: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1139</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeGrøft, åpenEnumerationType nvdb:TypeGrøft, åpenOtherType"/>
   </simpleType>
   <simpleType name="TypeGrøft, åpenEnumerationType">
      <annotation>
         <documentation>1139: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1139</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="dg">
            <annotation>
               <documentation>3889: Benyttes om dyp sidegrøft som har til hensikt å drenere overbygning. Det er som regel ikke lukka drenering i tillegg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3889</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dyp sidegrøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IF">
            <annotation>
               <documentation>17233: Sidegrøft der overflatevann infiltreres og ledes bort. Større rensegrøfter defineres som "Lukka rørgrøft" av type "Filter-/rensegrøft" eller "Basseng/magasin" med bruksområde "Rensebasseng, infiltrasjon".</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17233</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Filtergrøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="og">
            <annotation>
               <documentation>3890: Benyttes om grunn sidegrøft som bare har til hensikt å drenere overflatevann og ikke overbygning. Det er som regel lukka drenering i tillegg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3890</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grunn sidegrøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2934</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Terrenggrøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="av">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11627</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpent avløp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeGrøft, åpenOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligGrøft, åpenType">
      <annotation>
         <documentation>8061: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8061</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligGrøft, åpenEnumerationType nvdb:VedlikeholdsansvarligGrøft, åpenOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligGrøft, åpenEnumerationType">
      <annotation>
         <documentation>8061: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8061</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19930</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10533</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18792</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18921</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10611</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10455</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17713</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligGrøft, åpenOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
