GML/800.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="ArtsnavnType">
    <annotation>
      <documentation>9118: Angir navn på art</documentation>
    </annotation>
    <union memberTypes="nvdb:ArtsnavnEnumerationType nvdb:ArtsnavnOtherType"/>
  </simpleType>
  <simpleType name="ArtsnavnEnumerationType">
    <annotation>
      <documentation>9118: Angir navn på art</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="kjempebjørnekjeks">
        <annotation>
          <documentation>12132: Heracleum mantegazzianum</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tromsøpalme">
        <annotation>
          <documentation>12133: Heracleum persicum</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kjempespringfrø">
        <annotation>
          <documentation>12134: Impatiens glandulifera</documentation>
        </annotation>
      </enumeration>
      <enumeration value="russekål">
        <annotation>
          <documentation>12136: Bunias orientalis</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hagelupin">
        <annotation>
          <documentation>12137: Lupinus polyphyllus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="parkOgHybridslirekne">
        <annotation>
          <documentation>12138: Fallopia japonica / Fallopia bohemica</documentation>
        </annotation>
      </enumeration>
      <enumeration value="legepestrot">
        <annotation>
          <documentation>16194: Petasites hybridus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kanadagullris">
        <annotation>
          <documentation>16193: Solidago canadensis</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ubestemtSlirekne">
        <annotation>
          <documentation>16192: Fallopia xxx</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kjempeslirekne">
        <annotation>
          <documentation>12139: Fallopia sachalinensis</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skogskjegg">
        <annotation>
          <documentation>12140: Aruncus dioicus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rynkerose">
        <annotation>
          <documentation>12141: Rosa rugosa</documentation>
        </annotation>
      </enumeration>
      <enumeration value="platanlønn">
        <annotation>
          <documentation>12142: Platanlønn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fagerfredløs">
        <annotation>
          <documentation>17883: Fagerfredløs</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hvitsteinkløver">
        <annotation>
          <documentation>17884: Hvitsteinkløver</documentation>
        </annotation>
      </enumeration>
      <enumeration value="høstberberis">
        <annotation>
          <documentation>17885: Høstberberis</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hagepastinakk">
        <annotation>
          <documentation>17886: Hagepastinakk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="andreArter">
        <annotation>
          <documentation>16195: Andre arter</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ArtsnavnOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Bekjempelse_TypeType">
    <annotation>
      <documentation>9977: Angir hvilke midler arten bekjempes med</documentation>
    </annotation>
    <union memberTypes="nvdb:Bekjempelse_TypeEnumerationType nvdb:Bekjempelse_TypeOtherType"/>
  </simpleType>
  <simpleType name="Bekjempelse_TypeEnumerationType">
    <annotation>
      <documentation>9977: Angir hvilke midler arten bekjempes med</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="kantklipp">
        <annotation>
          <documentation>16196: Kantklipp</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kjemisk">
        <annotation>
          <documentation>16197: Kjemisk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mekaniskFjerning">
        <annotation>
          <documentation>16198: Mekanisk fjerning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annet">
        <annotation>
          <documentation>16199: Annet</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Bekjempelse_TypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BekjempelsesgradType">
    <annotation>
      <documentation>9982: Angir i hvilken grad den uønskede fremmede arten bekjempes</documentation>
    </annotation>
    <union memberTypes="nvdb:BekjempelsesgradEnumerationType nvdb:BekjempelsesgradOtherType"/>
  </simpleType>
  <simpleType name="BekjempelsesgradEnumerationType">
    <annotation>
      <documentation>9982: Angir i hvilken grad den uønskede fremmede arten bekjempes</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="overvåkes">
        <annotation>
          <documentation>16202: Arten overvåkes for å se utviklingen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="begrenses">
        <annotation>
          <documentation>16203: Arten bekjempes for å begrense spredning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bekjempes">
        <annotation>
          <documentation>16204: Arten bekjempes for å utryddes</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BekjempelsesgradOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ForekomstFortsetterPåNaboeiendomType">
    <annotation>
      <documentation>9980: Angir om arten også er spredt utenfor arealet som tilhører vegeier.</documentation>
    </annotation>
    <union memberTypes="nvdb:ForekomstFortsetterPåNaboeiendomEnumerationType nvdb:ForekomstFortsetterPåNaboeiendomOtherType"/>
  </simpleType>
  <simpleType name="ForekomstFortsetterPåNaboeiendomEnumerationType">
    <annotation>
      <documentation>9980: Angir om arten også er spredt utenfor arealet som tilhører vegeier.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16200: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16201: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ForekomstFortsetterPåNaboeiendomOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="FremmedeArter" substitutionGroup="nvdb:AbstraktFremmedeArter" type="nvdb:FremmedeArterType">
    <annotation>
      <documentation>800: Område der det vokser "fremmede" arter, dvs arter som ikke ønskes spredd langs vegene.</documentation>
    </annotation>
  </element>
  <complexType name="FremmedeArterType">
    <complexContent>
      <extension base="nvdb:AbstraktFremmedeArterType">
        <sequence>
          <element minOccurs="0" name="artsnavn" type="nvdb:ArtsnavnType">
            <annotation>
              <documentation>9118: Angir navn på art</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="forekomstNr" type="integer">
            <annotation>
              <documentation>9981: Angir nr på forekomst innenfor hovedparsell</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lokalitet" type="string">
            <annotation>
              <documentation>9120: Beskrivelse av stedet. (F.eks bak støyskjerm, nær stikkrenne)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tetthet" type="nvdb:TetthetType"/>
          <element minOccurs="0" name="antallIndivid" type="integer">
            <annotation>
              <documentation>9979: Antall individer av uønsket art på den aktuelle strekningen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="forekomstFortsetterPåNaboeiendom" type="nvdb:ForekomstFortsetterPåNaboeiendomType">
            <annotation>
              <documentation>9980: Angir om arten også er spredt utenfor arealet som tilhører vegeier.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bestandsbredde" type="integer">
            <annotation>
              <documentation>9978: Gjennomsnittsbredde for den uønskede arten innenfor strekningen.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>9976: Størrelse på arealet innenfor vegarealet der den fremmede arten forekommer
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bekjempelse_Type" type="nvdb:Bekjempelse_TypeType">
            <annotation>
              <documentation>9977: Angir hvilke midler arten bekjempes med</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bekjempelsesgrad" type="nvdb:BekjempelsesgradType">
            <annotation>
              <documentation>9982: Angir i hvilken grad den uønskede fremmede arten bekjempes</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="statusBehandling" type="nvdb:StatusBehandlingType">
            <annotation>
              <documentation>10842: Angir hva som er status for behandling av forekomsten</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="status_SistEndret" type="date"/>
          <element minOccurs="0" name="registrertDato" type="date">
            <annotation>
              <documentation>10297: Angir dato for registreringen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9121: Informasjon som kan være nyttig utover det som er sagt om lokalitet. For eksempel naturbeskrivelse (skog, eng, landbruksareal, nær hager). Andre fremmede arter tas inn her.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>9124: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9123: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10965: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FremmedeArterPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:FremmedeArter"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="StatusBehandlingType">
    <annotation>
      <documentation>10842: Angir hva som er status for behandling av forekomsten</documentation>
    </annotation>
    <union memberTypes="nvdb:StatusBehandlingEnumerationType nvdb:StatusBehandlingOtherType"/>
  </simpleType>
  <simpleType name="StatusBehandlingEnumerationType">
    <annotation>
      <documentation>10842: Angir hva som er status for behandling av forekomsten</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ikkeTidligereBehandlet">
        <annotation>
          <documentation>17879: Ikke tidligere behandlet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="behandlingPågår">
        <annotation>
          <documentation>17880: Behandling pågår</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bekjempesOvervåkes">
        <annotation>
          <documentation>17881: Bekjempes/overvåkes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="antattUtryddet">
        <annotation>
          <documentation>17882: Antatt utryddet</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StatusBehandlingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TetthetType">
    <union memberTypes="nvdb:TetthetEnumerationType nvdb:TetthetOtherType"/>
  </simpleType>
  <simpleType name="TetthetEnumerationType">
    <restriction base="string">
      <enumeration value="få">
        <annotation>
          <documentation>12143: Få</documentation>
        </annotation>
      </enumeration>
      <enumeration value="spredt">
        <annotation>
          <documentation>12144: Spredt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tettBestand">
        <annotation>
          <documentation>12145: Tett bestand</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TetthetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
