GML/800.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>800: Område der det vokser "fremmede" arter, dvs. arter som ikke ønskes spredd langs vegene.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="ArtsnavnFremmede arterType">
      <annotation>
         <documentation>9118: Angir navn på art.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9118</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Artsnavn</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ArtsnavnFremmede arterEnumerationType nvdb:ArtsnavnFremmede arterOtherType"/>
   </simpleType>
   <simpleType name="ArtsnavnFremmede arterEnumerationType">
      <annotation>
         <documentation>9118: Angir navn på art.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9118</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Artsnavn</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="k/h">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16195</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Andre arter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ff">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17883</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fagerfredløs</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hl">
            <annotation>
               <documentation>12137: Lupinus polyphyllus.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12137</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hagelupin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17886</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hagepastinakk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hsk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17884</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hvitsteinkløver</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17885</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Høstberberis</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k/h">
            <annotation>
               <documentation>16193: Solidago canadensis.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16193</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kanadagullris</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kb">
            <annotation>
               <documentation>12132: Heracleum mantegazzianum.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12132</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjempebjørnekjeks</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k/h">
            <annotation>
               <documentation>12139: Fallopia sachalinensis.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12139</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjempeslirekne</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ksf">
            <annotation>
               <documentation>12134: Impatiens glandulifera.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12134</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjempespringfrø</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k/h">
            <annotation>
               <documentation>16194: Petasites hybridus.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16194</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Legepestrot</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="psr">
            <annotation>
               <documentation>12138: Fallopia japonica / Fallopia bohemica.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12138</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Park- og hybridslirekne</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12142</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Platanlønn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rk">
            <annotation>
               <documentation>12136: Bunias orientalis.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12136</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Russekål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rr">
            <annotation>
               <documentation>12141: Rosa rugosa.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12141</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rynkerose</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ss">
            <annotation>
               <documentation>12140: Aruncus dioicus.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12140</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skogskjegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sa">
            <annotation>
               <documentation>21908: Andre impatiens-arter enn kjempespringfrø.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21908</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Springfrø-arter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tp">
            <annotation>
               <documentation>12133: Heracleum persicum.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12133</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tromsøpalme</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k/h">
            <annotation>
               <documentation>16192: Fallopia xxx.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16192</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ubestemt Slirekne</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ArtsnavnFremmede arterOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Bekjempelse_TypeFremmede arterType">
      <annotation>
         <documentation>9977: Angir hvilke midler arten bekjempes med.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9977</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bekjempelse, type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Bekjempelse_TypeFremmede arterEnumerationType nvdb:Bekjempelse_TypeFremmede arterOtherType"/>
   </simpleType>
   <simpleType name="Bekjempelse_TypeFremmede arterEnumerationType">
      <annotation>
         <documentation>9977: Angir hvilke midler arten bekjempes med.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9977</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bekjempelse, type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="an">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16199</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16196</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kantklipp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16197</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjemisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16198</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mekanisk fjerning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Bekjempelse_TypeFremmede arterOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BekjempelsesgradFremmede arterType">
      <annotation>
         <documentation>9982: Angir i hvilken grad den uønskede fremmede arten bekjempes.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9982</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bekjempelsesgrad</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BekjempelsesgradFremmede arterEnumerationType nvdb:BekjempelsesgradFremmede arterOtherType"/>
   </simpleType>
   <simpleType name="BekjempelsesgradFremmede arterEnumerationType">
      <annotation>
         <documentation>9982: Angir i hvilken grad den uønskede fremmede arten bekjempes.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9982</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bekjempelsesgrad</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bg">
            <annotation>
               <documentation>16203: Arten bekjempes for å begrense spredning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16203</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Begrenses</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bk">
            <annotation>
               <documentation>16204: Arten bekjempes for å utryddes.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16204</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bekjempes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ov">
            <annotation>
               <documentation>16202: Arten overvåkes for å se utviklingen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16202</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Overvåkes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BekjempelsesgradFremmede arterOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierFremmede arterType">
      <annotation>
         <documentation>11985: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11985</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierFremmede arterEnumerationType nvdb:EierFremmede arterOtherType"/>
   </simpleType>
   <simpleType name="EierFremmede arterEnumerationType">
      <annotation>
         <documentation>11985: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11985</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20613</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20614</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20615</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20612</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20611</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>20616: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20616</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierFremmede arterOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ForekomstFortsetterPåNaboeiendomFremmede arterType">
      <annotation>
         <documentation>9980: Angir om arten også er spredt utenfor arealet som tilhører vegeier.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9980</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forekomst fortsetter på naboeiendom</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ForekomstFortsetterPåNaboeiendomFremmede arterEnumerationType nvdb:ForekomstFortsetterPåNaboeiendomFremmede arterOtherType"/>
   </simpleType>
   <simpleType name="ForekomstFortsetterPåNaboeiendomFremmede arterEnumerationType">
      <annotation>
         <documentation>9980: Angir om arten også er spredt utenfor arealet som tilhører vegeier.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9980</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forekomst fortsetter på naboeiendom</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ja">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16200</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nei">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16201</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ForekomstFortsetterPåNaboeiendomFremmede arterOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Fremmede arter"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Fremmede arterType">
      <annotation>
         <documentation>800: Område der det vokser "fremmede" arter, dvs. arter som ikke ønskes spredd langs vegene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">800</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fremmede arter</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Fremmede arterType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="artsnavn" type="nvdb:ArtsnavnFremmede arterType">
                  <annotation>
                     <documentation>9118: Angir navn på art.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9118</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Artsnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="forekomstNr" type="integer">
                  <annotation>
                     <documentation>9981: Angir nr på forekomst innenfor hovedparsell.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9981</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Forekomst nr</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lokalitet" type="string">
                  <annotation>
                     <documentation>9120: Beskrivelse av stedet. (F.eks. bak støyskjerm, nær stikkrenne).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9120</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lokalitet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tetthet" type="nvdb:TetthetFremmede arterType">
                  <annotation>
                     <documentation>9119: Gir informasjon om plantetetthet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9119</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tetthet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallIndivid" type="integer">
                  <annotation>
                     <documentation>9979: Antall individer av uønsket art på den aktuelle strekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9979</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall individ</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="forekomstFortsetterPåNaboeiendom">
                  <annotation>
                     <documentation>9980: Angir om arten også er spredt utenfor arealet som tilhører vegeier.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9980</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Forekomst fortsetter på naboeiendom</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bestandsbredde" type="integer">
                  <annotation>
                     <documentation>9978: Gjennomsnittsbredde for den uønskede arten innenfor strekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9978</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bestandsbredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="integer">
                  <annotation>
                     <documentation>9976: Størrelse på arealet innenfor vegarealet der den fremmede arten forekommer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9976</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bekjempelse_Type">
                  <annotation>
                     <documentation>9977: Angir hvilke midler arten bekjempes med.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9977</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bekjempelse, type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="bekjempelsesgrad"
                        type="nvdb:BekjempelsesgradFremmede arterType">
                  <annotation>
                     <documentation>9982: Angir i hvilken grad den uønskede fremmede arten bekjempes.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9982</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bekjempelsesgrad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="statusBehandling">
                  <annotation>
                     <documentation>10842: Angir hva som er status for behandling av forekomsten.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10842</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Status behandling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="status_SistEndret" type="date">
                  <annotation>
                     <documentation>10843: Angir dato for når egenskapen "Status behandling" sist ble endret.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10843</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Status, sist endret</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="registrertDato" type="date">
                  <annotation>
                     <documentation>10297: Angir dato for når forekomsten ble registrert i NVDB første gang.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10297</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Registrert dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>9121: Informasjon som kan være nyttig utover det som er sagt om lokalitet. For eksempel naturbeskrivelse (skog, eng, landbruksareal, nær hager). Andre fremmede arter tas inn her.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9121</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierFremmede arterType">
                  <annotation>
                     <documentation>11985: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11985</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligFremmede arterType">
                  <annotation>
                     <documentation>12014: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12014</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>9124: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9124</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9123: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9123</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10965: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10965</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Fremmede arterPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fremmede arter"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="StatusBehandlingFremmede arterType">
      <annotation>
         <documentation>10842: Angir hva som er status for behandling av forekomsten.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10842</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Status behandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StatusBehandlingFremmede arterEnumerationType nvdb:StatusBehandlingFremmede arterOtherType"/>
   </simpleType>
   <simpleType name="StatusBehandlingFremmede arterEnumerationType">
      <annotation>
         <documentation>10842: Angir hva som er status for behandling av forekomsten.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10842</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Status behandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="au">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17882</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Antatt utryddet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17880</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Behandling pågår</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bo">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17881</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bekjempes/overvåkes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ib">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17879</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke tidligere behandlet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StatusBehandlingFremmede arterOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TetthetFremmede arterType">
      <annotation>
         <documentation>9119: Gir informasjon om plantetetthet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9119</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tetthet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TetthetFremmede arterEnumerationType nvdb:TetthetFremmede arterOtherType"/>
   </simpleType>
   <simpleType name="TetthetFremmede arterEnumerationType">
      <annotation>
         <documentation>9119: Gir informasjon om plantetetthet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9119</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tetthet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Få">
            <annotation>
               <documentation>12143: Kun få enkeltplanter.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12143</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Få</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spredt">
            <annotation>
               <documentation>12144: Noe avstand mellom hver enkelt plante, men kan være mange enkeltplanter totalt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12144</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spredt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Tett bestand">
            <annotation>
               <documentation>12145: Enkeltplanetene står tilnærmet inntil hverandre innenfor angitt område.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12145</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tett bestand</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TetthetFremmede arterOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFremmede arterType">
      <annotation>
         <documentation>12014: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12014</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligFremmede arterEnumerationType nvdb:VedlikeholdsansvarligFremmede arterOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFremmede arterEnumerationType">
      <annotation>
         <documentation>12014: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12014</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20807</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20809</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20806</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20808</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20810</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20805</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20811</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFremmede arterOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
