GML/801.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Nødutgang" substitutionGroup="nvdb:AbstraktNødutgang" type="nvdb:NødutgangType">
    <annotation>
      <documentation>801: utgang som kan nyttes i nødstilfelle.</documentation>
    </annotation>
  </element>
  <complexType name="NødutgangType">
    <complexContent>
      <extension base="nvdb:AbstraktNødutgangType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeNødutgangType">
            <annotation>
              <documentation>9129: Angir hvilken type nødutgang det er</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="universellUtforming" type="nvdb:UniversellUtformingType">
            <annotation>
              <documentation>9152: Angir om nødutgang er utformet i henhold til krav om universell utforming.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10332: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11636: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11155: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>9294: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="nvdb:AbstraktTunnelløpPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NødutgangPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Nødutgang"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeNødutgangType">
    <annotation>
      <documentation>9129: Angir hvilken type nødutgang det er</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeNødutgangEnumerationType nvdb:TypeNødutgangOtherType"/>
  </simpleType>
  <simpleType name="TypeNødutgangEnumerationType">
    <annotation>
      <documentation>9129: Angir hvilken type nødutgang det er</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="tilDetFri">
        <annotation>
          <documentation>12163: Til det fri</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tilEgenRømningstunnel">
        <annotation>
          <documentation>12164: Til egen rømningstunnel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tilTrafikkertParallelløp">
        <annotation>
          <documentation>12165: Til trafikkert parallelløp</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeNødutgangOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UniversellUtformingType">
    <annotation>
      <documentation>9152: Angir om nødutgang er utformet i henhold til krav om universell utforming.</documentation>
    </annotation>
    <union memberTypes="nvdb:UniversellUtformingEnumerationType nvdb:UniversellUtformingOtherType"/>
  </simpleType>
  <simpleType name="UniversellUtformingEnumerationType">
    <annotation>
      <documentation>9152: Angir om nødutgang er utformet i henhold til krav om universell utforming.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>12235: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>12236: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UniversellUtformingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
