GML/807.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>807: Strekning mellom to ferjekaier hvor det er tilrettelagt for å reise med ferje.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="DriftsstatusFerjestrekningType">
      <annotation>
         <documentation>9221: Angir hvilken driftsstatus ferjestrekningen har</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9221</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9221</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Driftsstatus</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DriftsstatusFerjestrekningEnumerationType nvdb:DriftsstatusFerjestrekningOtherType"/>
   </simpleType>
   <simpleType name="DriftsstatusFerjestrekningEnumerationType">
      <annotation>
         <documentation>9221: Angir hvilken driftsstatus ferjestrekningen har</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9221</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9221</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Driftsstatus</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Trafikkeres">
            <annotation>
               <documentation>12860: Trafikkeres</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12860</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkeres</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nedlagt">
            <annotation>
               <documentation>12861: Nedlagt</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12861</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nedlagt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DriftsstatusFerjestrekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Ferjestrekning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:FerjestrekningType">
      <annotation>
         <documentation>807: Strekning mellom to ferjekaier hvor det er tilrettelagt for å reise med ferje.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">807</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">807</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferjestrekning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FerjestrekningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="fraNavn" type="string">
                  <annotation>
                     <documentation>9217: Navn på ferjekai som ferja går fra.  Merknad: Når begge ferjekaier tilhører samme veg, vil den ferjekaien med ”lavest” vegident benevnes som fra-kai.  Hvis ferjekaiene tilhører ulike veger, vil den ferjekaien som tilhører vegen som har høyest status benevnes som fra-kai</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9217</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fra navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tilNavn" type="string">
                  <annotation>
                     <documentation>9218: Navn på ferjekai som ferja går til.  Merknad: Når begge ferjekaier tilhører samme veg, vil den ferjekaien med ”høyest” vegident benevnes som til-kai.  Hvis ferjekaiene tilhører ulike veger, vil den ferjekaien som tilhører vegen som har lavest status benevnes som til-kai</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9218</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Til navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="NFDB_Id" type="integer">
                  <annotation>
                     <documentation>9219: Nøkkel i ny FDB</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9219</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">nFDB_Id</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="GFDB_Id" type="integer">
                  <annotation>
                     <documentation>9220: Nøkkel i gammel FDB</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9220</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">gFDB_Id</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="driftsstatus"
                        type="nvdb:DriftsstatusFerjestrekningType">
                  <annotation>
                     <documentation>9221: Angir hvilken driftsstatus ferjestrekningen har</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9221</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsstatus</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sone" type="integer">
                  <annotation>
                     <documentation>9222: Indikator som benyttes i forbindelse med ferjetakst, verdien er en funksjon av overfartslengde</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9222</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sone</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sonepåslag" type="integer">
                  <annotation>
                     <documentation>9223: Antall soner som pålegges strekningen for vegfinansiering</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9223</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sonepåslag</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="overfartstid" type="integer">
                  <annotation>
                     <documentation>9224: Angir hvor lang tid ferja skal bruke på en normal overfart, dvs på flertallet av overfartene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9224</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overfartstid</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengdeFarled" type="integer">
                  <annotation>
                     <documentation>9225: Angir lengde av en normal overfart, dvs for flertallet av overfartene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9225</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde farled</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11637: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11637</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>Angivelse av objektets posisjon</documentation>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FerjestrekningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Ferjestrekning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
