GML/807.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.22">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DriftsstatusFerjestrekningType">
    <annotation>
      <documentation>9221: Angir hvilken driftsstatus ferjestrekningen har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9221</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9221</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Driftsstatus</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DriftsstatusFerjestrekningEnumerationType nvdb:DriftsstatusFerjestrekningOtherType"/>
  </simpleType>
  <simpleType name="DriftsstatusFerjestrekningEnumerationType">
    <annotation>
      <documentation>9221: Angir hvilken driftsstatus ferjestrekningen har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9221</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9221</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Driftsstatus</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Trafikkeres">
        <annotation>
          <documentation>12860: Trafikkeres</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12860</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trafikkeres</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nedlagt">
        <annotation>
          <documentation>12861: Nedlagt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12861</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nedlagt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DriftsstatusFerjestrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Ferjestrekning" substitutionGroup="nvdb:AbstraktFerjestrekning" type="nvdb:FerjestrekningType">
    <annotation>
      <documentation>807: Strekning mellom to ferjekaier hvor det er tilrettelagt for å reise med ferje.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">807</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">807</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ferjestrekning</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FerjestrekningType">
    <complexContent>
      <extension base="nvdb:AbstraktFerjestrekningType">
        <sequence>
          <element name="fraNavn" type="string">
            <annotation>
              <documentation>9217: Navn på ferjekai som ferja går fra.  Merknad: Når begge ferjekaier tilhører samme veg, vil den ferjekaien med ”lavest” vegident benevnes som fra-kai.  Hvis ferjekaiene tilhører ulike veger, vil den ferjekaien som tilhører vegen som har høyest status benevnes som fra-kai</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9217</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fra navn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="tilNavn" type="string">
            <annotation>
              <documentation>9218: Navn på ferjekai som ferja går til.  Merknad: Når begge ferjekaier tilhører samme veg, vil den ferjekaien med ”høyest” vegident benevnes som til-kai.  Hvis ferjekaiene tilhører ulike veger, vil den ferjekaien som tilhører vegen som har lavest status benevnes som til-kai</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9218</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Til navn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="NFDB_Id" type="integer">
            <annotation>
              <documentation>9219: Nøkkel i ny FDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9219</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">nFDB_Id</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="GFDB_Id" type="integer">
            <annotation>
              <documentation>9220: Nøkkel i gammel FDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9220</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">gFDB_Id</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsstatus" type="nvdb:DriftsstatusFerjestrekningType">
            <annotation>
              <documentation>9221: Angir hvilken driftsstatus ferjestrekningen har</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9221</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Driftsstatus</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone" type="integer">
            <annotation>
              <documentation>9222: Indikator som benyttes i forbindelse med ferjetakst, verdien er en funksjon av overfartslengde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9222</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sone</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sonepåslag" type="integer">
            <annotation>
              <documentation>9223: Antall soner som pålegges strekningen for vegfinansiering</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9223</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sonepåslag</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overfartstid" type="integer">
            <annotation>
              <documentation>9224: Angir hvor lang tid ferja skal bruke på en normal overfart, dvs på flertallet av overfartene.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9224</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Overfartstid</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeFarled" type="integer">
            <annotation>
              <documentation>9225: Angir lengde av en normal overfart, dvs for flertallet av overfartene.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9225</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lengde farled</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11637: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11637</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="2" minOccurs="0" name="assosiertFerjeleie" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFerjeleie</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFerjesamband" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFerjesamband</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FerjestrekningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Ferjestrekning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
