GML/808.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>808: Markert vegstrekning for kontroll av utkjørt lengde.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeReferansestrekningType">
      <annotation>
         <documentation>9230: Angir hva strekningen primært benyttes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9230</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeReferansestrekningEnumerationType nvdb:BruksområdeReferansestrekningOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeReferansestrekningEnumerationType">
      <annotation>
         <documentation>9230: Angir hva strekningen primært benyttes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9230</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12869</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fartskontroll</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12868</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Justerstrekning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeReferansestrekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierReferansestrekningType">
      <annotation>
         <documentation>9239: Angir hvem som er eier.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9239</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierReferansestrekningEnumerationType nvdb:EierReferansestrekningOtherType"/>
   </simpleType>
   <simpleType name="EierReferansestrekningEnumerationType">
      <annotation>
         <documentation>9239: Angir hvem som er eier.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9239</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12875</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12873</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Justervesenet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12876</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12877</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18555</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12874</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17628: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17628</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierReferansestrekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Referansestrekning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:ReferansestrekningType">
      <annotation>
         <documentation>808: Markert vegstrekning for kontroll av utkjørt lengde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">808</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Referansestrekning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="ReferansestrekningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeReferansestrekningType">
                  <annotation>
                     <documentation>9230: Angir hva strekningen primært benyttes til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9230</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>9231: Angi navn på strekningen, vanligvis stedsnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9231</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="beskrivelse_Lokalisering" type="string">
                  <annotation>
                     <documentation>9232: Beskriver strekningen, beliggenhet, etc.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9232</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse, lokalisering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="merkeStart" type="string">
                  <annotation>
                     <documentation>9234: Beskriver hvordan strekning er merket i start.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9234</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merke start</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="merkeSlutt" type="string">
                  <annotation>
                     <documentation>9235: Beskriver hvordan strekning er merket i slutt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9235</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merke slutt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="oppmåltDistanse" type="double">
                  <annotation>
                     <documentation>9233: Angir sist oppmålt lengde/utstrekning av strekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9233</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Oppmålt distanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sistKontrollmålt" type="date">
                  <annotation>
                     <documentation>9236: Dato for siste kontrollmåling. For nyetablerte strekninger angis etableringsdato.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9236</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sist kontrollmålt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sistKontrollmåltAv" type="string">
                  <annotation>
                     <documentation>9237: Navn på firma/seksjon som kontrollmålte sist.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9237</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sist kontrollmålt av</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typeKontrollmåling">
                  <annotation>
                     <documentation>9238: Angir hvilken type kontrollmåling som ble foretatt sist.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9238</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type kontrollmåling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9242</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierReferansestrekningType">
                  <annotation>
                     <documentation>9239: Angir hvem som er eier.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9239</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligReferansestrekningType">
                  <annotation>
                     <documentation>9240: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9240</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>11520: Geometri langs referansestrekning. Registrert geometri ved kjøring. Benyttes for kontroll.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11520</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ReferansestrekningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Referansestrekning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeKontrollmålingReferansestrekningType">
      <annotation>
         <documentation>9238: Angir hvilken type kontrollmåling som ble foretatt sist.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9238</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type kontrollmåling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeKontrollmålingReferansestrekningEnumerationType nvdb:TypeKontrollmålingReferansestrekningOtherType"/>
   </simpleType>
   <simpleType name="TypeKontrollmålingReferansestrekningEnumerationType">
      <annotation>
         <documentation>9238: Angir hvilken type kontrollmåling som ble foretatt sist.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9238</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type kontrollmåling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12870</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjørt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LA">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21387</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Landmåling/avstandsmåling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12872</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Målband/snor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12871</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Målehjul</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeKontrollmålingReferansestrekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligReferansestrekningType">
      <annotation>
         <documentation>9240: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9240</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligReferansestrekningEnumerationType nvdb:VedlikeholdsansvarligReferansestrekningOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligReferansestrekningEnumerationType">
      <annotation>
         <documentation>9240: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9240</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12880</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12878</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Justervesenet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12881</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18673</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18802</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12882</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12879</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17771</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligReferansestrekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
