GML/808.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeReferansestrekningType">
    <annotation>
      <documentation>9230: Angir hva streningen primært benyttes til</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdeReferansestrekningEnumerationType nvdb:BruksområdeReferansestrekningOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeReferansestrekningEnumerationType">
    <annotation>
      <documentation>9230: Angir hva streningen primært benyttes til</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="justerstrekning">
        <annotation>
          <documentation>12868: Justerstrekning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fartskontroll">
        <annotation>
          <documentation>12869: Fartskontroll</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeReferansestrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierReferansestrekningType">
    <annotation>
      <documentation>9239: Angir hvem som er eier</documentation>
    </annotation>
    <union memberTypes="nvdb:EierReferansestrekningEnumerationType nvdb:EierReferansestrekningOtherType"/>
  </simpleType>
  <simpleType name="EierReferansestrekningEnumerationType">
    <annotation>
      <documentation>9239: Angir hvem som er eier</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="justervesenet">
        <annotation>
          <documentation>12873: Justervesenet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18555: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>12874: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>12875: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>12876: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>12877: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17628: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierReferansestrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Referansestrekning" substitutionGroup="nvdb:AbstraktReferansestrekning" type="nvdb:ReferansestrekningType">
    <annotation>
      <documentation>808: Markert vegstrekning for kontroll av utkjørt lengde.</documentation>
    </annotation>
  </element>
  <complexType name="ReferansestrekningType">
    <complexContent>
      <extension base="nvdb:AbstraktReferansestrekningType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeReferansestrekningType">
            <annotation>
              <documentation>9230: Angir hva streningen primært benyttes til</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>9231: Angi navn på strekningen, vanligvis stedsnavn</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse_Lokalisering" type="string">
            <annotation>
              <documentation>9232: Beskriver strekningen, beliggenhet, etc</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="oppmåltDistanse" type="double">
            <annotation>
              <documentation>9233: Angir sist oppmålt lengde/utstrekning
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merkeStart" type="string">
            <annotation>
              <documentation>9234: Beskriver hvordan strekning er merket i start</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merkeSlutt" type="string">
            <annotation>
              <documentation>9235: Beskriver hvordan strekning er merket i slutt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sistKontrollmålt" type="date">
            <annotation>
              <documentation>9236: Dato for siste kontrollmåling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sistKontrollmåltAv" type="string">
            <annotation>
              <documentation>9237: Navn på firma/person dom kontrollmålte sist</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="typeKontrollmåling" type="nvdb:TypeKontrollmålingType">
            <annotation>
              <documentation>9238: Angir hvilken type kontrollmåling som er foretatt sist.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string"/>
          <element minOccurs="0" name="eier" type="nvdb:EierReferansestrekningType">
            <annotation>
              <documentation>9239: Angir hvem som er eier</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligReferansestrekningType">
            <annotation>
              <documentation>9240: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>9241: Punkt start</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>9243: Punkt slutt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>11520: Geometri langs referansestrekning (Foreløpig til testformål). Registrert geometri ved kjøring. Benyttes for kontroll</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReferansestrekningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Referansestrekning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeKontrollmålingType">
    <annotation>
      <documentation>9238: Angir hvilken type kontrollmåling som er foretatt sist.</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeKontrollmålingEnumerationType nvdb:TypeKontrollmålingOtherType"/>
  </simpleType>
  <simpleType name="TypeKontrollmålingEnumerationType">
    <annotation>
      <documentation>9238: Angir hvilken type kontrollmåling som er foretatt sist.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="kjørt">
        <annotation>
          <documentation>12870: Kjørt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="målehjul">
        <annotation>
          <documentation>12871: Målehjul</documentation>
        </annotation>
      </enumeration>
      <enumeration value="målbandSnor">
        <annotation>
          <documentation>12872: Målband/snor</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeKontrollmålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligReferansestrekningType">
    <annotation>
      <documentation>9240: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligReferansestrekningEnumerationType nvdb:VedlikeholdsansvarligReferansestrekningOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligReferansestrekningEnumerationType">
    <annotation>
      <documentation>9240: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>12879: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18673: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="justervesnet">
        <annotation>
          <documentation>12878: Justervesnet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>12880: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18802: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>12881: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>12882: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17771: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligReferansestrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
