GML/809.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelysningType">
    <annotation>
      <documentation>9264: Angir om plassen er belyst.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9264</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9264</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelysningEnumerationType nvdb:BelysningOtherType"/>
  </simpleType>
  <simpleType name="BelysningEnumerationType">
    <annotation>
      <documentation>9264: Angir om plassen er belyst.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9264</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9264</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12921: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12921</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12922: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12922</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelysningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DrivstoffyllingsanleggType">
    <annotation>
      <documentation>9269: Angir om det er anlegg for fylling av drivstoff.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9269</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9269</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Drivstoffyllingsanlegg</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DrivstoffyllingsanleggEnumerationType nvdb:DrivstoffyllingsanleggOtherType"/>
  </simpleType>
  <simpleType name="DrivstoffyllingsanleggEnumerationType">
    <annotation>
      <documentation>9269: Angir om det er anlegg for fylling av drivstoff.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9269</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9269</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Drivstoffyllingsanlegg</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12932: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12932</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12933: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12933</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DrivstoffyllingsanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DusjType">
    <annotation>
      <documentation>9274: Angir om det er tilgang til dusj.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9274</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9274</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dusj</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DusjEnumerationType nvdb:DusjOtherType"/>
  </simpleType>
  <simpleType name="DusjEnumerationType">
    <annotation>
      <documentation>9274: Angir om det er tilgang til dusj.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9274</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9274</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dusj</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12942: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12942</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12943: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12943</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DusjOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Døgnhvileplass" substitutionGroup="nvdb:AbstraktDøgnhvileplass" type="nvdb:DøgnhvileplassType">
    <annotation>
      <documentation>809: Et område som er tilrettelagt for hensetting av vogntog i langtransport slik at sjåførene kan innta normal døgnhvile.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">809</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">809</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Døgnhvileplass</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="DøgnhvileplassType">
    <complexContent>
      <extension base="nvdb:AbstraktDøgnhvileplassType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>9245: Navn på døgnhvileplass.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9245</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lokalisertVed" type="nvdb:LokalisertVedType">
            <annotation>
              <documentation>9246: Angir hvor døgnhvileplass er lokalisert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9246</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lokalisert ved</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skiltetAtkomst" type="nvdb:SkiltetAtkomstType">
            <annotation>
              <documentation>9247: Angir hvilken skilting det er i forbindelse med døgnhvileplass.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9247</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skiltet atkomst</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallOppstillingsplasserVogntog" type="integer">
            <annotation>
              <documentation>9467: Angir hvor mange oppstillingsplasser dimensjonert for vogntog, det er tilrettelagt for på døgnhvileplassen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9467</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall oppstillingsplasser vogntog</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilrettelagtForModulvogntog" type="nvdb:TilrettelagtForModulvogntogType">
            <annotation>
              <documentation>12456: Angir hvorvidt døgnhvileplassen er tilrettelagt for modulvogntog.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12456</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilrettelagt for modulvogntog</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kontaktinfo" type="string">
            <annotation>
              <documentation>9249: Kontaktinfo til eier/ansvarlig som det er fysisk opplyst om (i form av oppslag etc.) på døgnhvileplassen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9249</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kontaktinfo</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsansvarlig" type="string">
            <annotation>
              <documentation>9251: Angir hvem som er ansvarlig for drift av døgnhvileplassen. Det skal angis organisasjon/organisasjonsenhet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9251</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal_Totalt" type="integer">
            <annotation>
              <documentation>9252: Angir totalt areal av døgnhvileplass, inkludert kjøreareal, grøntareal, bygninger etc.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9252</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal, totalt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal_Kjørbart" type="integer">
            <annotation>
              <documentation>9253: Angir areal av kjørbart område innenfor Døgnhvileplassen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9253</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal, kjørbart</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vaktordning" type="nvdb:VaktordningType">
            <annotation>
              <documentation>9262: Angir hvilken type vaktordning det er i tilknytning til området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9262</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vaktordning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kameraovervåkning" type="nvdb:KameraovervåkningType">
            <annotation>
              <documentation>9263: Angir om det er kameraovervåkning av området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9263</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kameraovervåkning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belysning" type="nvdb:BelysningType">
            <annotation>
              <documentation>9264: Angir om plassen er belyst.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9264</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stengtMedBommer" type="nvdb:StengtMedBommerType">
            <annotation>
              <documentation>9265: Angir om plassen er stengt med bommer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9265</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Stengt med bommer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="reserveringssystem" type="nvdb:ReserveringssystemType">
            <annotation>
              <documentation>9266: Angir om det er mulig å forhåndsreservere plass.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9266</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Reserveringssystem </sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="systemS_Mm_LderTilgjengeligKapasitet" type="nvdb:SystemS_Mm_LderTilgjengeligKapasitetType">
            <annotation>
              <documentation>9267: Angir om det er system som melder tilgjengelig kapasitet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9267</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">System som melder tilgjengelig kapasitet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="farligGods" type="nvdb:FarligGodsType">
            <annotation>
              <documentation>9268: Angir hvordan det er tilrettelagt for kjøretøy som transporterer farlig gods.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9268</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Farlig gods</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="drivstoffyllingsanlegg" type="nvdb:DrivstoffyllingsanleggType">
            <annotation>
              <documentation>9269: Angir om det er anlegg for fylling av drivstoff.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9269</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Drivstoffyllingsanlegg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vaskeplassForTrailere" type="nvdb:VaskeplassForTrailereType">
            <annotation>
              <documentation>9270: Angir om det er vaskeplass for trailere/vogntog.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9270</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vaskeplass for trailere</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="snøryddingsrampe" type="nvdb:SnøryddingsrampeType">
            <annotation>
              <documentation>12457: Angir om det er snøryddingsrampe i tilknytning til døgnhvileplassen, dvs. sted hvor det er lagt til rette for å kunne fjerne snø fra kjøretøyet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12457</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Snøryddingsrampe</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilgangTilStrøm" type="nvdb:TilgangTilStrømType">
            <annotation>
              <documentation>9271: Angir om det er tilgang til strøm. F.eks. til aggregater og andre formål.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9271</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilgang til strøm</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gebyrForStrøm" type="nvdb:GebyrForStrømType">
            <annotation>
              <documentation>9272: Angir hvorvidt det er gebyr for å bruke strøm.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9272</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gebyr for strøm  </sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="toalett" type="nvdb:ToalettType">
            <annotation>
              <documentation>9273: Angir om det er tilgang til toalett.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9273</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Toalett </sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dusj" type="nvdb:DusjType">
            <annotation>
              <documentation>9274: Angir om det er tilgang til dusj.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9274</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dusj</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kiosk" type="nvdb:KioskType">
            <annotation>
              <documentation>9275: Angir om det er kiosk i tilknytning til plassen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9275</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kiosk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kafeteria" type="nvdb:KafeteriaType">
            <annotation>
              <documentation>9276: Angir om det er kafeteria i tilknytning til plassen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9276</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kafeteria</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppholdsrom" type="nvdb:OppholdsromType">
            <annotation>
              <documentation>9277: Angir om det er oppholdsrom for hvilende.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9277</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Oppholdsrom</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="trådløstInternett" type="nvdb:TrådløstInternettType">
            <annotation>
              <documentation>9278: Angir om det er tilgjengelig trådløst internett på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9278</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Trådløst internett</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kollektivtilbudTilSentrum" type="nvdb:KollektivtilbudTilSentrumType">
            <annotation>
              <documentation>9279: Angir om det er kollektivtilbud til sentrum.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9279</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kollektivtilbud til sentrum</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gangavstandTilServicetilbud" type="nvdb:GangavstandTilServicetilbudType">
            <annotation>
              <documentation>9280: Angir om det er gangavstand til servicetilbud.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9280</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gangavstand til servicetilbud</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="terminalLogistikkområde" type="nvdb:TerminalLogistikkområdeType">
            <annotation>
              <documentation>9281: Angir om lokaliseringen er i et viktig målpunktområde for godstransport.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9281</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Terminal / logistikkområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="årligTilskuddFraStatensVegvesen" type="integer">
            <annotation>
              <documentation>9466: Angir hvor stor årlig bevilgning som tildeles til drift. Inngår i MOTIV-beregninger.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9466</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Årlig tilskudd fra Statens vegvesen</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prisnivå" type="integer">
            <annotation>
              <documentation>9468: Angir hvilket prisnivå tilskudd fra Statens vegvesen (ET 9466) er oppgitt i (Årstall).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9468</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prisnivå</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>9282: Gir mulighet til å angi tilleggsinformasjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9282</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10285: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10285</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11464: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11464</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12411: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12411</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierDøgnhvileplassType">
            <annotation>
              <documentation>9248: Angir hvem som er eier.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9248</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligDøgnhvileplassType">
            <annotation>
              <documentation>9250: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9250</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>9283: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9283</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>9284: Gir flate/polygon som geometrisk avgrenser døgnhvileplassen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9284</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DøgnhvileplassPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Døgnhvileplass"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="EierDøgnhvileplassType">
    <annotation>
      <documentation>9248: Angir hvem som er eier.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9248</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9248</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierDøgnhvileplassEnumerationType nvdb:EierDøgnhvileplassOtherType"/>
  </simpleType>
  <simpleType name="EierDøgnhvileplassEnumerationType">
    <annotation>
      <documentation>9248: Angir hvem som er eier.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9248</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9248</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>12892: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12892</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, annen">
        <annotation>
          <documentation>12893: Stat, annen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12893</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, annen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18563: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18563</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>12894: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12894</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>12895: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12895</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Delt eierskap">
        <annotation>
          <documentation>12897: Delt eierskap</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12897</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Delt eierskap</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>12896: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12896</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierDøgnhvileplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FarligGodsType">
    <annotation>
      <documentation>9268: Angir hvordan det er tilrettelagt for kjøretøy som transporterer farlig gods.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9268</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9268</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Farlig gods</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FarligGodsEnumerationType nvdb:FarligGodsOtherType"/>
  </simpleType>
  <simpleType name="FarligGodsEnumerationType">
    <annotation>
      <documentation>9268: Angir hvordan det er tilrettelagt for kjøretøy som transporterer farlig gods.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9268</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9268</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Farlig gods</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stengt">
        <annotation>
          <documentation>12929: Stengt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12929</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke tilrettelagt spesielt">
        <annotation>
          <documentation>12930: Ikke tilrettelagt spesielt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12930</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke tilrettelagt spesielt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Egne atskilte plasser">
        <annotation>
          <documentation>12931: Egne atskilte plasser</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12931</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Egne atskilte plasser</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FarligGodsOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GangavstandTilServicetilbudType">
    <annotation>
      <documentation>9280: Angir om det er gangavstand til servicetilbud.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9280</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9280</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gangavstand til servicetilbud</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GangavstandTilServicetilbudEnumerationType nvdb:GangavstandTilServicetilbudOtherType"/>
  </simpleType>
  <simpleType name="GangavstandTilServicetilbudEnumerationType">
    <annotation>
      <documentation>9280: Angir om det er gangavstand til servicetilbud.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9280</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9280</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gangavstand til servicetilbud</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12954: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12954</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12955: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12955</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GangavstandTilServicetilbudOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GebyrForStrømType">
    <annotation>
      <documentation>9272: Angir hvorvidt det er gebyr for å bruke strøm.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9272</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9272</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gebyr for strøm  </sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GebyrForStrømEnumerationType nvdb:GebyrForStrømOtherType"/>
  </simpleType>
  <simpleType name="GebyrForStrømEnumerationType">
    <annotation>
      <documentation>9272: Angir hvorvidt det er gebyr for å bruke strøm.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9272</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9272</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gebyr for strøm  </sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12938: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12938</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12939: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12939</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GebyrForStrømOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KafeteriaType">
    <annotation>
      <documentation>9276: Angir om det er kafeteria i tilknytning til plassen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9276</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9276</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kafeteria</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KafeteriaEnumerationType nvdb:KafeteriaOtherType"/>
  </simpleType>
  <simpleType name="KafeteriaEnumerationType">
    <annotation>
      <documentation>9276: Angir om det er kafeteria i tilknytning til plassen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9276</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9276</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kafeteria</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12946: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12946</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12947: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12947</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KafeteriaOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KameraovervåkningType">
    <annotation>
      <documentation>9263: Angir om det er kameraovervåkning av området.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9263</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9263</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kameraovervåkning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KameraovervåkningEnumerationType nvdb:KameraovervåkningOtherType"/>
  </simpleType>
  <simpleType name="KameraovervåkningEnumerationType">
    <annotation>
      <documentation>9263: Angir om det er kameraovervåkning av området.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9263</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9263</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kameraovervåkning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12919: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12919</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12920: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12920</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KameraovervåkningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KioskType">
    <annotation>
      <documentation>9275: Angir om det er kiosk i tilknytning til plassen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9275</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9275</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kiosk</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KioskEnumerationType nvdb:KioskOtherType"/>
  </simpleType>
  <simpleType name="KioskEnumerationType">
    <annotation>
      <documentation>9275: Angir om det er kiosk i tilknytning til plassen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9275</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9275</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kiosk</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12944: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12944</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12945: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12945</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KioskOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KollektivtilbudTilSentrumType">
    <annotation>
      <documentation>9279: Angir om det er kollektivtilbud til sentrum.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9279</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9279</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kollektivtilbud til sentrum</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KollektivtilbudTilSentrumEnumerationType nvdb:KollektivtilbudTilSentrumOtherType"/>
  </simpleType>
  <simpleType name="KollektivtilbudTilSentrumEnumerationType">
    <annotation>
      <documentation>9279: Angir om det er kollektivtilbud til sentrum.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9279</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9279</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kollektivtilbud til sentrum</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12952: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Begrenset tilbud">
        <annotation>
          <documentation>21386: Indikerer at det er et tilbud, men at det er få avganger per døgn, eller at det er lang gangavstand til holdeplass/stasjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21386</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Begrenset tilbud</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12953: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12953</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KollektivtilbudTilSentrumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LokalisertVedType">
    <annotation>
      <documentation>9246: Angir hvor døgnhvileplass er lokalisert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9246</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9246</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lokalisert ved</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LokalisertVedEnumerationType nvdb:LokalisertVedOtherType"/>
  </simpleType>
  <simpleType name="LokalisertVedEnumerationType">
    <annotation>
      <documentation>9246: Angir hvor døgnhvileplass er lokalisert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9246</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9246</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lokalisert ved</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Rasteplass">
        <annotation>
          <documentation>12885: Rasteplass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12885</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rasteplass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bensinstasjon">
        <annotation>
          <documentation>12886: Bensinstasjon</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12886</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bensinstasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegkro">
        <annotation>
          <documentation>12887: Vegkro</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12887</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegkro</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Industriområde">
        <annotation>
          <documentation>12888: Industriområde</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12888</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Industriområde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen virksomhet">
        <annotation>
          <documentation>21524: Lokalisert ved annen type virksomhet enn det som framkommer av øvrige alternativ.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21524</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annen virksomhet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LokalisertVedOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppholdsromType">
    <annotation>
      <documentation>9277: Angir om det er oppholdsrom for hvilende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9277</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9277</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppholdsrom</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppholdsromEnumerationType nvdb:OppholdsromOtherType"/>
  </simpleType>
  <simpleType name="OppholdsromEnumerationType">
    <annotation>
      <documentation>9277: Angir om det er oppholdsrom for hvilende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9277</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9277</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppholdsrom</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12948: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12948</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12949: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12949</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppholdsromOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ReserveringssystemType">
    <annotation>
      <documentation>9266: Angir om det er mulig å forhåndsreservere plass.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9266</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9266</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Reserveringssystem </sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ReserveringssystemEnumerationType nvdb:ReserveringssystemOtherType"/>
  </simpleType>
  <simpleType name="ReserveringssystemEnumerationType">
    <annotation>
      <documentation>9266: Angir om det er mulig å forhåndsreservere plass.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9266</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9266</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Reserveringssystem </sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12925: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12925</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12926: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12926</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ReserveringssystemOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkiltetAtkomstType">
    <annotation>
      <documentation>9247: Angir hvilken skilting det er i forbindelse med døgnhvileplass.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9247</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9247</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skiltet atkomst</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkiltetAtkomstEnumerationType nvdb:SkiltetAtkomstOtherType"/>
  </simpleType>
  <simpleType name="SkiltetAtkomstEnumerationType">
    <annotation>
      <documentation>9247: Angir hvilken skilting det er i forbindelse med døgnhvileplass.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9247</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9247</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skiltet atkomst</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja, forhåndsvarsling og varsling ved avkjøring">
        <annotation>
          <documentation>12889: Ja, forhåndsvarsling og varsling ved avkjøring</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12889</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, forhåndsvarsling og varsling ved avkjøring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, varsling ved avkjøring">
        <annotation>
          <documentation>12890: Ja, varsling ved avkjøring</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12890</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, varsling ved avkjøring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12891: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12891</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkiltetAtkomstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SnøryddingsrampeType">
    <annotation>
      <documentation>12457: Angir om det er snøryddingsrampe i tilknytning til døgnhvileplassen, dvs. sted hvor det er lagt til rette for å kunne fjerne snø fra kjøretøyet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12457</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12457</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Snøryddingsrampe</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SnøryddingsrampeEnumerationType nvdb:SnøryddingsrampeOtherType"/>
  </simpleType>
  <simpleType name="SnøryddingsrampeEnumerationType">
    <annotation>
      <documentation>12457: Angir om det er snøryddingsrampe i tilknytning til døgnhvileplassen, dvs. sted hvor det er lagt til rette for å kunne fjerne snø fra kjøretøyet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12457</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12457</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Snøryddingsrampe</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>21384: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21384</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>21385: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21385</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SnøryddingsrampeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StengtMedBommerType">
    <annotation>
      <documentation>9265: Angir om plassen er stengt med bommer.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9265</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9265</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Stengt med bommer</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StengtMedBommerEnumerationType nvdb:StengtMedBommerOtherType"/>
  </simpleType>
  <simpleType name="StengtMedBommerEnumerationType">
    <annotation>
      <documentation>9265: Angir om plassen er stengt med bommer.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9265</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9265</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Stengt med bommer</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12923: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12924: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StengtMedBommerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SystemS_Mm_LderTilgjengeligKapasitetType">
    <annotation>
      <documentation>9267: Angir om det er system som melder tilgjengelig kapasitet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9267</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9267</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">System som melder tilgjengelig kapasitet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SystemS_Mm_LderTilgjengeligKapasitetEnumerationType nvdb:SystemS_Mm_LderTilgjengeligKapasitetOtherType"/>
  </simpleType>
  <simpleType name="SystemS_Mm_LderTilgjengeligKapasitetEnumerationType">
    <annotation>
      <documentation>9267: Angir om det er system som melder tilgjengelig kapasitet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9267</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9267</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">System som melder tilgjengelig kapasitet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12927: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12927</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12928: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12928</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SystemS_Mm_LderTilgjengeligKapasitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TerminalLogistikkområdeType">
    <annotation>
      <documentation>9281: Angir om lokaliseringen er i et viktig målpunktområde for godstransport.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9281</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9281</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Terminal / logistikkområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TerminalLogistikkområdeEnumerationType nvdb:TerminalLogistikkområdeOtherType"/>
  </simpleType>
  <simpleType name="TerminalLogistikkområdeEnumerationType">
    <annotation>
      <documentation>9281: Angir om lokaliseringen er i et viktig målpunktområde for godstransport.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9281</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9281</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Terminal / logistikkområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12956: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12956</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12957: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12957</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TerminalLogistikkområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilgangTilStrømType">
    <annotation>
      <documentation>9271: Angir om det er tilgang til strøm. F.eks. til aggregater og andre formål.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9271</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9271</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilgang til strøm</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilgangTilStrømEnumerationType nvdb:TilgangTilStrømOtherType"/>
  </simpleType>
  <simpleType name="TilgangTilStrømEnumerationType">
    <annotation>
      <documentation>9271: Angir om det er tilgang til strøm. F.eks. til aggregater og andre formål.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9271</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9271</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilgang til strøm</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12936: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12936</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12937: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12937</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilgangTilStrømOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilrettelagtForModulvogntogType">
    <annotation>
      <documentation>12456: Angir hvorvidt døgnhvileplassen er tilrettelagt for modulvogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12456</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12456</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilrettelagt for modulvogntog</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilrettelagtForModulvogntogEnumerationType nvdb:TilrettelagtForModulvogntogOtherType"/>
  </simpleType>
  <simpleType name="TilrettelagtForModulvogntogEnumerationType">
    <annotation>
      <documentation>12456: Angir hvorvidt døgnhvileplassen er tilrettelagt for modulvogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12456</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12456</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilrettelagt for modulvogntog</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>21382: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21382</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>21383: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21383</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilrettelagtForModulvogntogOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ToalettType">
    <annotation>
      <documentation>9273: Angir om det er tilgang til toalett.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9273</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9273</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Toalett </sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ToalettEnumerationType nvdb:ToalettOtherType"/>
  </simpleType>
  <simpleType name="ToalettEnumerationType">
    <annotation>
      <documentation>9273: Angir om det er tilgang til toalett.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9273</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9273</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Toalett </sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12940: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12940</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12941: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12941</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ToalettOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TrådløstInternettType">
    <annotation>
      <documentation>9278: Angir om det er tilgjengelig trådløst internett på stedet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9278</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9278</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trådløst internett</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TrådløstInternettEnumerationType nvdb:TrådløstInternettOtherType"/>
  </simpleType>
  <simpleType name="TrådløstInternettEnumerationType">
    <annotation>
      <documentation>9278: Angir om det er tilgjengelig trådløst internett på stedet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9278</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9278</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trådløst internett</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12950: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12950</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12951: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12951</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrådløstInternettOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VaktordningType">
    <annotation>
      <documentation>9262: Angir hvilken type vaktordning det er i tilknytning til området.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9262</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9262</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vaktordning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VaktordningEnumerationType nvdb:VaktordningOtherType"/>
  </simpleType>
  <simpleType name="VaktordningEnumerationType">
    <annotation>
      <documentation>9262: Angir hvilken type vaktordning det er i tilknytning til området.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9262</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9262</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vaktordning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Kontinuerlig vakt">
        <annotation>
          <documentation>12916: Kontinuerlig vakt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12916</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kontinuerlig vakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Regelmessig vakt">
        <annotation>
          <documentation>12917: Regelmessig vakt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12917</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Regelmessig vakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen vakt">
        <annotation>
          <documentation>12918: Ingen vakt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12918</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen vakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VaktordningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VaskeplassForTrailereType">
    <annotation>
      <documentation>9270: Angir om det er vaskeplass for trailere/vogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9270</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9270</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vaskeplass for trailere</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VaskeplassForTrailereEnumerationType nvdb:VaskeplassForTrailereOtherType"/>
  </simpleType>
  <simpleType name="VaskeplassForTrailereEnumerationType">
    <annotation>
      <documentation>9270: Angir om det er vaskeplass for trailere/vogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9270</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9270</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vaskeplass for trailere</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12934: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12934</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12935: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12935</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VaskeplassForTrailereOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligDøgnhvileplassType">
    <annotation>
      <documentation>9250: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9250</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9250</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligDøgnhvileplassEnumerationType nvdb:VedlikeholdsansvarligDøgnhvileplassOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligDøgnhvileplassEnumerationType">
    <annotation>
      <documentation>9250: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9250</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9250</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>12898: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12898</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18679: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18679</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19983: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19983</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18808: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18808</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>12899: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17772: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17772</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligDøgnhvileplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
