GML/809.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>809: Et område som er tilrettelagt for hensetting av vogntog i langtransport slik at sjåførene kan innta normal døgnhvile.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BelysningDøgnhvileplassType">
      <annotation>
         <documentation>9264: Angir om plassen er belyst.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9264</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelysningDøgnhvileplassEnumerationType nvdb:BelysningDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="BelysningDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9264: Angir om plassen er belyst.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9264</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12921</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12922</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelysningDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="DrivstoffyllingsanleggDøgnhvileplassType">
      <annotation>
         <documentation>9269: Angir om det er anlegg for fylling av drivstoff.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9269</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drivstoffyllingsanlegg</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DrivstoffyllingsanleggDøgnhvileplassEnumerationType nvdb:DrivstoffyllingsanleggDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="DrivstoffyllingsanleggDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9269: Angir om det er anlegg for fylling av drivstoff.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9269</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drivstoffyllingsanlegg</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12932</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12933</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DrivstoffyllingsanleggDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="DusjDøgnhvileplassType">
      <annotation>
         <documentation>9274: Angir om det er tilgang til dusj.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9274</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dusj</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DusjDøgnhvileplassEnumerationType nvdb:DusjDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="DusjDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9274: Angir om det er tilgang til dusj.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9274</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dusj</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12942</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12943</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DusjDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Døgnhvileplass"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:DøgnhvileplassType">
      <annotation>
         <documentation>809: Et område som er tilrettelagt for hensetting av vogntog i langtransport slik at sjåførene kan innta normal døgnhvile.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">809</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Døgnhvileplass</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="DøgnhvileplassType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>9245: Navn på døgnhvileplass.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9245</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lokalisertVed">
                  <annotation>
                     <documentation>9246: Angir hvor døgnhvileplass er lokalisert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9246</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lokalisert ved</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="skiltetAtkomst">
                  <annotation>
                     <documentation>9247: Angir hvilken skilting det er i forbindelse med døgnhvileplass.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9247</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skiltet atkomst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallOppstillingsplasserVogntog" type="integer">
                  <annotation>
                     <documentation>9467: Angir hvor mange oppstillingsplasser dimensjonert for vogntog, det er tilrettelagt for på døgnhvileplassen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9467</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall oppstillingsplasser vogntog</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallOppstillingsplMedLading_StoreKjt" type="integer">
                  <annotation>
                     <documentation>13043: Angir hvor mange av oppstillingsplassene som er beregnet for store kjøretøy som er tilrettelagt for lading av slike kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13043</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall oppstillingspl. med lading, store kjt.</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tilrettelagtForModulvogntog">
                  <annotation>
                     <documentation>12456: Angir hvorvidt døgnhvileplassen er tilrettelagt for modulvogntog.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12456</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilrettelagt for modulvogntog</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kontaktinfo" type="string">
                  <annotation>
                     <documentation>9249: Kontaktinfo til eier/ansvarlig som det er fysisk opplyst om (i form av oppslag etc.) på døgnhvileplassen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9249</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kontaktinfo</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsansvarlig" type="string">
                  <annotation>
                     <documentation>9251: Angir hvem som er ansvarlig for drift av døgnhvileplassen. Det skal angis organisasjon/organisasjonsenhet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9251</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal_Totalt" type="integer">
                  <annotation>
                     <documentation>9252: Angir totalt areal av døgnhvileplass, inkludert kjøreareal, grøntareal, bygninger etc.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9252</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal, totalt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal_Kjørbart" type="integer">
                  <annotation>
                     <documentation>9253: Angir areal av kjørbart område innenfor Døgnhvileplassen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9253</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal, kjørbart</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vaktordning" type="nvdb:VaktordningDøgnhvileplassType">
                  <annotation>
                     <documentation>9262: Angir hvilken type vaktordning det er i tilknytning til området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9262</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vaktordning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kameraovervåkning"
                        type="nvdb:KameraovervåkningDøgnhvileplassType">
                  <annotation>
                     <documentation>9263: Angir om det er kameraovervåkning av området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9263</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kameraovervåkning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="belysning" type="nvdb:BelysningDøgnhvileplassType">
                  <annotation>
                     <documentation>9264: Angir om plassen er belyst.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9264</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="stengtMedBommer">
                  <annotation>
                     <documentation>9265: Angir om plassen er stengt med bommer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9265</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stengt med bommer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="reserveringssystem"
                        type="nvdb:ReserveringssystemDøgnhvileplassType">
                  <annotation>
                     <documentation>9266: Angir om det er mulig å forhåndsreservere plass.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9266</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Reserveringssystem</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="systemS_Mm_LderTilgjengeligKapasitet">
                  <annotation>
                     <documentation>9267: Angir om det er system som melder tilgjengelig kapasitet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9267</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">System som melder tilgjengelig kapasitet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="farligGods">
                  <annotation>
                     <documentation>9268: Angir hvordan det er tilrettelagt for kjøretøy som transporterer farlig gods.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9268</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Farlig gods</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="drivstoffyllingsanlegg"
                        type="nvdb:DrivstoffyllingsanleggDøgnhvileplassType">
                  <annotation>
                     <documentation>9269: Angir om det er anlegg for fylling av drivstoff.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9269</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Drivstoffyllingsanlegg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vaskeplassForTrailere">
                  <annotation>
                     <documentation>9270: Angir om det er vaskeplass for trailere/vogntog.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9270</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vaskeplass for trailere</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="snøryddingsrampe" type="nvdb:SnøryddingsrampeDøgnhvileplassType">
                  <annotation>
                     <documentation>12457: Angir om det er snøryddingsrampe i tilknytning til døgnhvileplassen, dvs. sted hvor det er lagt til rette for å kunne fjerne snø fra kjøretøyet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12457</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Snøryddingsrampe</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tilgangTilStrøm">
                  <annotation>
                     <documentation>9271: Angir om det er tilgang til strøm. F.eks. til aggregater og andre formål.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9271</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilgang til strøm</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gebyrForStrøm">
                  <annotation>
                     <documentation>9272: Angir hvorvidt det er gebyr for å bruke strøm.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9272</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gebyr for strøm</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="toalett" type="nvdb:ToalettDøgnhvileplassType">
                  <annotation>
                     <documentation>9273: Angir om det er tilgang til toalett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9273</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Toalett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dusj" type="nvdb:DusjDøgnhvileplassType">
                  <annotation>
                     <documentation>9274: Angir om det er tilgang til dusj.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9274</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dusj</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kiosk" type="nvdb:KioskDøgnhvileplassType">
                  <annotation>
                     <documentation>9275: Angir om det er kiosk i tilknytning til plassen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9275</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kiosk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kafeteria" type="nvdb:KafeteriaDøgnhvileplassType">
                  <annotation>
                     <documentation>9276: Angir om det er kafeteria i tilknytning til plassen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9276</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kafeteria</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="oppholdsrom" type="nvdb:OppholdsromDøgnhvileplassType">
                  <annotation>
                     <documentation>9277: Angir om det er oppholdsrom for hvilende.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9277</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Oppholdsrom</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="trådløstInternett">
                  <annotation>
                     <documentation>9278: Angir om det er tilgjengelig trådløst internett på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9278</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Trådløst internett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kollektivtilbudTilSentrum">
                  <annotation>
                     <documentation>9279: Angir om det er kollektivtilbud til sentrum.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9279</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kollektivtilbud til sentrum</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="gangavstandTilServicetilbud">
                  <annotation>
                     <documentation>9280: Angir om det er gangavstand til servicetilbud.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9280</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gangavstand til servicetilbud</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="terminalLogistikkområde">
                  <annotation>
                     <documentation>9281: Angir om lokaliseringen er i et viktig målpunktområde for godstransport.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9281</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Terminal / logistikkområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="årligTilskuddFraStatensVegvesen" type="integer">
                  <annotation>
                     <documentation>9466: Angir hvor stor årlig bevilgning som tildeles til drift. Inngår i MOTIV-beregninger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9466</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Årlig tilskudd fra Statens vegvesen</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="prisnivå" type="integer">
                  <annotation>
                     <documentation>9468: Angir hvilket prisnivå tilskudd fra Statens vegvesen (ET 9466) er oppgitt i (Årstall).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9468</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prisnivå</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>9282: Gir mulighet til å angi tilleggsinformasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9282</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10285: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10285</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11464: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11464</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12411: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12411</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierDøgnhvileplassType">
                  <annotation>
                     <documentation>9248: Angir hvem som er eier.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9248</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligDøgnhvileplassType">
                  <annotation>
                     <documentation>9250: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9250</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>9283: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9283</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>9284: Gir flate/polygon som geometrisk avgrenser døgnhvileplassen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9284</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="DøgnhvileplassPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Døgnhvileplass"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="EierDøgnhvileplassType">
      <annotation>
         <documentation>9248: Angir hvem som er eier.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9248</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierDøgnhvileplassEnumerationType nvdb:EierDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="EierDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9248: Angir hvem som er eier.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9248</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="D">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12897</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Delt eierskap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12894</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12895</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12896</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sa">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12893</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, annen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18563</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12892</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FarligGodsDøgnhvileplassType">
      <annotation>
         <documentation>9268: Angir hvordan det er tilrettelagt for kjøretøy som transporterer farlig gods.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9268</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Farlig gods</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FarligGodsDøgnhvileplassEnumerationType nvdb:FarligGodsDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="FarligGodsDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9268: Angir hvordan det er tilrettelagt for kjøretøy som transporterer farlig gods.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9268</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Farlig gods</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="AP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12931</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Egne atskilte plasser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12930</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke tilrettelagt spesielt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12929</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stengt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FarligGodsDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="GangavstandTilServicetilbudDøgnhvileplassType">
      <annotation>
         <documentation>9280: Angir om det er gangavstand til servicetilbud.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9280</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gangavstand til servicetilbud</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GangavstandTilServicetilbudDøgnhvileplassEnumerationType nvdb:GangavstandTilServicetilbudDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="GangavstandTilServicetilbudDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9280: Angir om det er gangavstand til servicetilbud.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9280</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gangavstand til servicetilbud</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12954</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12955</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GangavstandTilServicetilbudDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="GebyrForStrømDøgnhvileplassType">
      <annotation>
         <documentation>9272: Angir hvorvidt det er gebyr for å bruke strøm.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9272</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gebyr for strøm</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GebyrForStrømDøgnhvileplassEnumerationType nvdb:GebyrForStrømDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="GebyrForStrømDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9272: Angir hvorvidt det er gebyr for å bruke strøm.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9272</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gebyr for strøm</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12938</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12939</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GebyrForStrømDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KafeteriaDøgnhvileplassType">
      <annotation>
         <documentation>9276: Angir om det er kafeteria i tilknytning til plassen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9276</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kafeteria</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KafeteriaDøgnhvileplassEnumerationType nvdb:KafeteriaDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="KafeteriaDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9276: Angir om det er kafeteria i tilknytning til plassen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9276</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kafeteria</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12946</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12947</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KafeteriaDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KameraovervåkningDøgnhvileplassType">
      <annotation>
         <documentation>9263: Angir om det er kameraovervåkning av området.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9263</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kameraovervåkning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KameraovervåkningDøgnhvileplassEnumerationType nvdb:KameraovervåkningDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="KameraovervåkningDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9263: Angir om det er kameraovervåkning av området.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9263</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kameraovervåkning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12919</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12920</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KameraovervåkningDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KioskDøgnhvileplassType">
      <annotation>
         <documentation>9275: Angir om det er kiosk i tilknytning til plassen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9275</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kiosk</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KioskDøgnhvileplassEnumerationType nvdb:KioskDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="KioskDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9275: Angir om det er kiosk i tilknytning til plassen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9275</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kiosk</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12944</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12945</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KioskDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KollektivtilbudTilSentrumDøgnhvileplassType">
      <annotation>
         <documentation>9279: Angir om det er kollektivtilbud til sentrum.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9279</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kollektivtilbud til sentrum</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KollektivtilbudTilSentrumDøgnhvileplassEnumerationType nvdb:KollektivtilbudTilSentrumDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="KollektivtilbudTilSentrumDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9279: Angir om det er kollektivtilbud til sentrum.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9279</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kollektivtilbud til sentrum</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <documentation>21386: Indikerer at det er et tilbud, men at det er få avganger per døgn, eller at det er lang gangavstand til holdeplass/stasjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21386</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Begrenset tilbud</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12952</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12953</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KollektivtilbudTilSentrumDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="LokalisertVedDøgnhvileplassType">
      <annotation>
         <documentation>9246: Angir hvor døgnhvileplass er lokalisert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9246</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lokalisert ved</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LokalisertVedDøgnhvileplassEnumerationType nvdb:LokalisertVedDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="LokalisertVedDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9246: Angir hvor døgnhvileplass er lokalisert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9246</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lokalisert ved</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="av">
            <annotation>
               <documentation>21524: Lokalisert ved annen type virksomhet enn det som framkommer av øvrige alternativ.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21524</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen virksomhet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12886</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bensinstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IO">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12888</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Industriområde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12885</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rasteplass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12887</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegkro</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LokalisertVedDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OppholdsromDøgnhvileplassType">
      <annotation>
         <documentation>9277: Angir om det er oppholdsrom for hvilende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9277</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppholdsrom</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OppholdsromDøgnhvileplassEnumerationType nvdb:OppholdsromDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="OppholdsromDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9277: Angir om det er oppholdsrom for hvilende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9277</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppholdsrom</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12948</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12949</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OppholdsromDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ReserveringssystemDøgnhvileplassType">
      <annotation>
         <documentation>9266: Angir om det er mulig å forhåndsreservere plass.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9266</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Reserveringssystem</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ReserveringssystemDøgnhvileplassEnumerationType nvdb:ReserveringssystemDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="ReserveringssystemDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9266: Angir om det er mulig å forhåndsreservere plass.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9266</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Reserveringssystem</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12925</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12926</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ReserveringssystemDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SkiltetAtkomstDøgnhvileplassType">
      <annotation>
         <documentation>9247: Angir hvilken skilting det er i forbindelse med døgnhvileplass.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9247</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltet atkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkiltetAtkomstDøgnhvileplassEnumerationType nvdb:SkiltetAtkomstDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="SkiltetAtkomstDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9247: Angir hvilken skilting det er i forbindelse med døgnhvileplass.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9247</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltet atkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ja1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12889</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, forhåndsvarsling og varsling ved avkjøring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ja2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12890</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, varsling ved avkjøring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nei">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12891</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkiltetAtkomstDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SnøryddingsrampeDøgnhvileplassType">
      <annotation>
         <documentation>12457: Angir om det er snøryddingsrampe i tilknytning til døgnhvileplassen, dvs. sted hvor det er lagt til rette for å kunne fjerne snø fra kjøretøyet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12457</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Snøryddingsrampe</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SnøryddingsrampeDøgnhvileplassEnumerationType nvdb:SnøryddingsrampeDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="SnøryddingsrampeDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>12457: Angir om det er snøryddingsrampe i tilknytning til døgnhvileplassen, dvs. sted hvor det er lagt til rette for å kunne fjerne snø fra kjøretøyet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12457</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Snøryddingsrampe</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21384</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21385</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SnøryddingsrampeDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="StengtMedBommerDøgnhvileplassType">
      <annotation>
         <documentation>9265: Angir om plassen er stengt med bommer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9265</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengt med bommer</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StengtMedBommerDøgnhvileplassEnumerationType nvdb:StengtMedBommerDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="StengtMedBommerDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9265: Angir om plassen er stengt med bommer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9265</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengt med bommer</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12923</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12924</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StengtMedBommerDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SystemS_Mm_LderTilgjengeligKapasitetDøgnhvileplassType">
      <annotation>
         <documentation>9267: Angir om det er system som melder tilgjengelig kapasitet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9267</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">System som melder tilgjengelig kapasitet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SystemS_Mm_LderTilgjengeligKapasitetDøgnhvileplassEnumerationType nvdb:SystemS_Mm_LderTilgjengeligKapasitetDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="SystemS_Mm_LderTilgjengeligKapasitetDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9267: Angir om det er system som melder tilgjengelig kapasitet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9267</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">System som melder tilgjengelig kapasitet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12927</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12928</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SystemS_Mm_LderTilgjengeligKapasitetDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TerminalLogistikkområdeDøgnhvileplassType">
      <annotation>
         <documentation>9281: Angir om lokaliseringen er i et viktig målpunktområde for godstransport.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9281</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Terminal / logistikkområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TerminalLogistikkområdeDøgnhvileplassEnumerationType nvdb:TerminalLogistikkområdeDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="TerminalLogistikkområdeDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9281: Angir om lokaliseringen er i et viktig målpunktområde for godstransport.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9281</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Terminal / logistikkområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12956</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12957</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TerminalLogistikkområdeDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilgangTilStrømDøgnhvileplassType">
      <annotation>
         <documentation>9271: Angir om det er tilgang til strøm. F.eks. til aggregater og andre formål.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9271</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilgang til strøm</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilgangTilStrømDøgnhvileplassEnumerationType nvdb:TilgangTilStrømDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="TilgangTilStrømDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9271: Angir om det er tilgang til strøm. F.eks. til aggregater og andre formål.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9271</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilgang til strøm</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12936</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12937</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilgangTilStrømDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilrettelagtForModulvogntogDøgnhvileplassType">
      <annotation>
         <documentation>12456: Angir hvorvidt døgnhvileplassen er tilrettelagt for modulvogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12456</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilrettelagt for modulvogntog</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilrettelagtForModulvogntogDøgnhvileplassEnumerationType nvdb:TilrettelagtForModulvogntogDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="TilrettelagtForModulvogntogDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>12456: Angir hvorvidt døgnhvileplassen er tilrettelagt for modulvogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12456</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilrettelagt for modulvogntog</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21382</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21383</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilrettelagtForModulvogntogDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ToalettDøgnhvileplassType">
      <annotation>
         <documentation>9273: Angir om det er tilgang til toalett.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9273</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Toalett</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ToalettDøgnhvileplassEnumerationType nvdb:ToalettDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="ToalettDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9273: Angir om det er tilgang til toalett.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9273</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Toalett</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12940</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12941</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ToalettDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TrådløstInternettDøgnhvileplassType">
      <annotation>
         <documentation>9278: Angir om det er tilgjengelig trådløst internett på stedet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9278</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trådløst internett</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TrådløstInternettDøgnhvileplassEnumerationType nvdb:TrådløstInternettDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="TrådløstInternettDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9278: Angir om det er tilgjengelig trådløst internett på stedet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9278</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trådløst internett</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12950</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12951</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TrådløstInternettDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VaktordningDøgnhvileplassType">
      <annotation>
         <documentation>9262: Angir hvilken type vaktordning det er i tilknytning til området.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9262</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vaktordning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VaktordningDøgnhvileplassEnumerationType nvdb:VaktordningDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="VaktordningDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9262: Angir hvilken type vaktordning det er i tilknytning til området.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9262</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vaktordning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="IV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12918</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen vakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12916</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kontinuerlig vakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12917</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Regelmessig vakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VaktordningDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VaskeplassForTrailereDøgnhvileplassType">
      <annotation>
         <documentation>9270: Angir om det er vaskeplass for trailere/vogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9270</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vaskeplass for trailere</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VaskeplassForTrailereDøgnhvileplassEnumerationType nvdb:VaskeplassForTrailereDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="VaskeplassForTrailereDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9270: Angir om det er vaskeplass for trailere/vogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9270</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vaskeplass for trailere</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12934</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12935</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VaskeplassForTrailereDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligDøgnhvileplassType">
      <annotation>
         <documentation>9250: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9250</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligDøgnhvileplassEnumerationType nvdb:VedlikeholdsansvarligDøgnhvileplassOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligDøgnhvileplassEnumerationType">
      <annotation>
         <documentation>9250: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9250</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19983</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18679</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18808</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12899</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12898</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17772</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligDøgnhvileplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
