GML/810.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>810: Inndeling av vegnettet for å beskrive ulik standard for vinterdrift. Inndelingen baseres på trafikkmengde, viktighet av veg, klima, trafikksikkerhet m.m. (Revidert HB R610).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Vinterdriftsklasse"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:VinterdriftsklasseType">
      <annotation>
         <documentation>810: Inndeling av vegnettet for å beskrive ulik standard for vinterdrift. Inndelingen baseres på trafikkmengde, viktighet av veg, klima, trafikksikkerhet m.m. (Revidert HB R610).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">810</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterdriftsklasse</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VinterdriftsklasseType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="vinterdriftsklasse"
                        type="nvdb:VinterdriftsklasseVinterdriftsklasseType">
                  <annotation>
                     <documentation>9260: Angir hvilken driftsklasse som gjelder på denne strekningen. De ulike driftsklassene er beskrevet i HB R610 (111).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9260</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vinterdriftsklasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11638: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11638</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11481: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11481</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9301: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9301</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VinterdriftsklassePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vinterdriftsklasse"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VinterdriftsklasseVinterdriftsklasseType">
      <annotation>
         <documentation>9260: Angir hvilken driftsklasse som gjelder på denne strekningen. De ulike driftsklassene er beskrevet i HB R610 (111).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9260</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterdriftsklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VinterdriftsklasseVinterdriftsklasseEnumerationType nvdb:VinterdriftsklasseVinterdriftsklasseOtherType"/>
   </simpleType>
   <simpleType name="VinterdriftsklasseVinterdriftsklasseEnumerationType">
      <annotation>
         <documentation>9260: Angir hvilken driftsklasse som gjelder på denne strekningen. De ulike driftsklassene er beskrevet i HB R610 (111).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9260</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterdriftsklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21306</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen vinterdriftsklasse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DkA">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12904</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">DkA</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DkBh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13355</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">DkB, høy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DkBl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13354</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">DkB, lav</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DkBm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12905</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">DkB, middels</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DkC">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12906</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">DkC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DkD">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12907</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">DkD</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DkE">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12908</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">DkE</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GsA">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12909</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">GsA</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GsB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12910</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">GsB</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GsC">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21305</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">GsC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19682</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen vinterdrift</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="si">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15876</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sideanlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VinterdriftsklasseVinterdriftsklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
