GML/810.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>810: Inndeling av vegnettet for å beskrive ulik standard for vinterdrift. Inndelingen baseres på trafikkmengde, viktighet av veg, klima, trafikksikkerhet m.m. (Revidert HB R610).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="StrekningMedKravTilForsterkaVinterfriksjonVinterdriftsklasseType">
      <annotation>
         <documentation>13110: Angir at gitt strekning skal ha ekstra vinterfriksjon under spesielle forhold slik det er beskrevet for DkB, DkC, DkD og DkE i HB 610</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13110</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Strekning med krav til forsterka vinterfriksjon</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StrekningMedKravTilForsterkaVinterfriksjonVinterdriftsklasseEnumerationType nvdb:StrekningMedKravTilForsterkaVinterfriksjonVinterdriftsklasseOtherType"/>
   </simpleType>
   <simpleType name="StrekningMedKravTilForsterkaVinterfriksjonVinterdriftsklasseEnumerationType">
      <annotation>
         <documentation>13110: Angir at gitt strekning skal ha ekstra vinterfriksjon under spesielle forhold slik det er beskrevet for DkB, DkC, DkD og DkE i HB 610</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13110</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Strekning med krav til forsterka vinterfriksjon</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <documentation>22793: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22793</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <documentation>22794: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22794</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StrekningMedKravTilForsterkaVinterfriksjonVinterdriftsklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="StrekningMedSandstrøingDkAVinterdriftsklasseType">
      <annotation>
         <documentation>13109: Angir at gitt strekning skal ha sandstrøing under spesielle forhold slik det er beskrevet for DkA i HB 610.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13109</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Strekning med sandstrøing DkA</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StrekningMedSandstrøingDkAVinterdriftsklasseEnumerationType nvdb:StrekningMedSandstrøingDkAVinterdriftsklasseOtherType"/>
   </simpleType>
   <simpleType name="StrekningMedSandstrøingDkAVinterdriftsklasseEnumerationType">
      <annotation>
         <documentation>13109: Angir at gitt strekning skal ha sandstrøing under spesielle forhold slik det er beskrevet for DkA i HB 610.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13109</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Strekning med sandstrøing DkA</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <documentation>22791: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22791</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <documentation>22792: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22792</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StrekningMedSandstrøingDkAVinterdriftsklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vinterdriftsklasse"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:VinterdriftsklasseType">
      <annotation>
         <documentation>810: Inndeling av vegnettet for å beskrive ulik standard for vinterdrift. Inndelingen baseres på trafikkmengde, viktighet av veg, klima, trafikksikkerhet m.m. (Revidert HB R610).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">810</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterdriftsklasse</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VinterdriftsklasseType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="vinterdriftsklasse"
                        type="nvdb:VinterdriftsklasseVinterdriftsklasseType">
                  <annotation>
                     <documentation>9260: Angir hvilken driftsklasse som gjelder på denne strekningen. De ulike driftsklassene er beskrevet i HB R610 (111).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9260</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vinterdriftsklasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="strekningMedSandstrøingDkA">
                  <annotation>
                     <documentation>13109: Angir at gitt strekning skal ha sandstrøing under spesielle forhold slik det er beskrevet for DkA i HB 610.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13109</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekning med sandstrøing DkA</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="strekningMedKravTilForsterkaVinterfriksjon">
                  <annotation>
                     <documentation>13110: Angir at gitt strekning skal ha ekstra vinterfriksjon under spesielle forhold slik det er beskrevet for DkB, DkC, DkD og DkE i HB 610</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13110</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekning med krav til forsterka vinterfriksjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsareal" type="integer">
                  <annotation>
                     <documentation>13112: Angir areal av tilleggsområde. Arealet kommer i tillegg til selve vegarealet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13112</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsareal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11638: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11638</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11481: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11481</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9301: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9301</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>13111: Avgrenser tilleggsareal utenfor selve vegen som skal vinterdriftes.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13111</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VinterdriftsklassePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vinterdriftsklasse"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VinterdriftsklasseVinterdriftsklasseType">
      <annotation>
         <documentation>9260: Angir hvilken driftsklasse som gjelder på denne strekningen. De ulike driftsklassene er beskrevet i HB R610 (111).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9260</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterdriftsklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VinterdriftsklasseVinterdriftsklasseEnumerationType nvdb:VinterdriftsklasseVinterdriftsklasseOtherType"/>
   </simpleType>
   <simpleType name="VinterdriftsklasseVinterdriftsklasseEnumerationType">
      <annotation>
         <documentation>9260: Angir hvilken driftsklasse som gjelder på denne strekningen. De ulike driftsklassene er beskrevet i HB R610 (111).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9260</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterdriftsklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>21306: Annen vinterdriftsklasse enn det som er definert som standard i HB R610.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21306</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen vinterdriftsklasse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DkA">
            <annotation>
               <documentation>12904: Godkjent føreforhold er bar veg (tørr eller våt). Håndbok R610.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12904</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">DkA</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DkBh">
            <annotation>
               <documentation>13355: Godkjent føreforhold er bar veg (tørr eller våt), hardt snø-/isdekke tillates utenom hjulspor i begrenset tidsrom. Høyt tidskrav. Håndbok R610.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13355</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">DkB, høy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DkBl">
            <annotation>
               <documentation>13354: Godkjent føreforhold er bar veg (tørr eller våt), hardt snø-/isdekke tillates utenom hjulspor i begrenset tidsrom. Lavt tidskrav. Håndbok R610.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13354</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">DkB, lav</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DkBm">
            <annotation>
               <documentation>12905: Godkjent føreforhold er bar veg (tørr eller våt), hardt snø-/isdekke tillates utenom hjulspor i begrenset tidsrom. Middels tidskrav. Håndbok R610.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12905</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">DkB, middels</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DkC">
            <annotation>
               <documentation>12906: Godkjent føreforhold er bar veg (tørr eller våt) i milde perioder og hardt snø-/isdekke i kalde perioder. Håndbok R610.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12906</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">DkC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DkD">
            <annotation>
               <documentation>12907: Godkjent føreforhold er hardt snø-/isdekke. Håndbok R610.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12907</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">DkD</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DkE">
            <annotation>
               <documentation>12908: Godkjent føreforhold er hardt snø-/isdekke. Friksjon ned til 0,20 aksepteres. DkE skal normalt ikke nyttes på riksveg. Håndbok R610.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12908</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">DkE</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GsA">
            <annotation>
               <documentation>12909: Godkjente føreforhold er bar veg (tørr eller våt). Håndbok R610.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12909</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">GsA</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GsB">
            <annotation>
               <documentation>12910: Godkjente føreforhold er bar veg (våt eller tørr) når salt benyttes. Når salt ikke nyttes er godkjente føreforhold hardt snø-/isdekke. Håndbok R763.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12910</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">GsB</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GsC">
            <annotation>
               <documentation>21305: Godkjente føreforhold er hardt snø-/isdekke. Håndbok R763.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21305</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">GsC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IV">
            <annotation>
               <documentation>19682: Det gjennomføres ikke vinterdrift på vegen. Veg er normalt stengt hele vinteren. Merknad: Veger som er vinterstengt, men har vinterdrift i periode før/etter vinterstengning, skal ikke gis verdi "Ingen vinterdrift", men gis den vinterdriftsklassen som gjelder før/etter stengning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19682</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen vinterdrift</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="si">
            <annotation>
               <documentation>15876: Spesiell standard for sideanlegg. Håndbok R610.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15876</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sideanlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VinterdriftsklasseVinterdriftsklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
