GML/810.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.27">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Vinterdriftsklasse" substitutionGroup="nvdb:AbstraktVinterdriftsklasse" type="nvdb:VinterdriftsklasseType">
    <annotation>
      <documentation>810: Inndeling av vegnettet for å beskrive ulik standard for vinterdrift. Inndelingen baseres på trafikkmengde, viktighet av veg, klima, trafikksikkerhet mm. (Revidert HB R610 (111))</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">810</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">810</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vinterdriftsklasse</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VinterdriftsklasseType">
    <complexContent>
      <extension base="nvdb:AbstraktVinterdriftsklasseType">
        <sequence>
          <element name="vinterdriftsklasse" type="nvdb:VinterdriftsklasseVinterdriftsklasseType">
            <annotation>
              <documentation>9260: Angir hvilken driftsklasse som gjelder på denne strekningen. De ulike driftsklassene er beskrevet i HB R610 (111).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9260</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vinterdriftsklasse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11638: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11638</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11481: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11481</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Prosjektreferanse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9301: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9301</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, hjelpelinje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VinterdriftsklassePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vinterdriftsklasse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VinterdriftsklasseVinterdriftsklasseType">
    <annotation>
      <documentation>9260: Angir hvilken driftsklasse som gjelder på denne strekningen. De ulike driftsklassene er beskrevet i HB R610 (111).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9260</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9260</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vinterdriftsklasse</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VinterdriftsklasseVinterdriftsklasseEnumerationType nvdb:VinterdriftsklasseVinterdriftsklasseOtherType"/>
  </simpleType>
  <simpleType name="VinterdriftsklasseVinterdriftsklasseEnumerationType">
    <annotation>
      <documentation>9260: Angir hvilken driftsklasse som gjelder på denne strekningen. De ulike driftsklassene er beskrevet i HB R610 (111).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9260</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9260</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vinterdriftsklasse</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="DkA">
        <annotation>
          <documentation>12904: Godkjent føreforhold er bar veg (tørr eller våt). Håndbok R610</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12904</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">DkA</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="DkB, høy">
        <annotation>
          <documentation>13355: Godkjent føreforhold er bar veg (tørr eller våt),  hardt snø-/isdekke tillates utenom hjulspor i begrenset tidsrom. Høyt tidskrav. Håndbok R610</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13355</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">DkB, høy</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="DkB, middels">
        <annotation>
          <documentation>12905: Godkjent føreforhold er bar veg (tørr eller våt),  hardt snø-/isdekke tillates utenom hjulspor i begrenset tidsrom. Middels tidskrav. Håndbok R610</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12905</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">DkB, middels</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="DkB, lav">
        <annotation>
          <documentation>13354: Godkjent føreforhold er bar veg (tørr eller våt), hardt snø-/isdekke tillates utenom hjulspor i begrenset tidsrom. Lavt tidskrav. Håndbok R610</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13354</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">DkB, lav</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="DkC">
        <annotation>
          <documentation>12906: Godkjent føreforhold er bar veg (tørr eller våt) i milde perioder og hardt snø-/isdekke i kalde perioder. Håndbok R610</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12906</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">DkC</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="DkD">
        <annotation>
          <documentation>12907: Godkjent føreforhold er  hardt snø-/isdekke. Håndbok R610</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12907</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">DkD</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="DkE">
        <annotation>
          <documentation>12908: Godkjent føreforhold er  hardt snø-/isdekke. Friksjon ned til 0,20 aksepteres. DkE skal normalt ikke nyttes på riksveg. Håndbok R610</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12908</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">DkE</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="GsA">
        <annotation>
          <documentation>12909: Godkjente føreforhold er bar veg (tørr eller våt). Håndbok R610</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12909</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">GsA</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="GsB">
        <annotation>
          <documentation>12910: Godkjente føreforhold er bar veg (våt eller tørr) når salt benyttes. Når salt ikke nyttes er godkjente føreforhold hardt snø-/isdekke. Håndbok R763</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12910</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">GsB</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="GsC">
        <annotation>
          <documentation>21305: Godkjente føreforhold er hardt snø-/isdekke. Håndbok R763</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21305</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">GsC</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sideanlegg">
        <annotation>
          <documentation>15876: Spesiell standard for sideanlegg. Håndbok R610</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15876</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sideanlegg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen vinterdriftsklasse">
        <annotation>
          <documentation>21306: Annen vinterdriftsklasse enn det som er definert som standard i HB R610</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21306</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Annen vinterdriftsklasse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen vinterdrift">
        <annotation>
          <documentation>19682: Det gjennomføres ikke vinterdrift på vegen. Veg er normalt stengt hele vinteren. Merknad: Veger som er vinterstengt, men har vinterdrift i periode før/etter vinterstengning, skal ikke gis verdi "Ingen vinterdrift", men gis den vinterdriftsklassen som gjelder før/etter stengning.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19682</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ingen vinterdrift</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VinterdriftsklasseVinterdriftsklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
