GML/812.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierGatevarmeType">
    <annotation>
      <documentation>10892: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:EierGatevarmeEnumerationType nvdb:EierGatevarmeOtherType"/>
  </simpleType>
  <simpleType name="EierGatevarmeEnumerationType">
    <annotation>
      <documentation>10892: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>18165: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18634: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>18168: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>18166: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>18167: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>18169: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierGatevarmeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Gatevarme" substitutionGroup="nvdb:AbstraktGatevarme" type="nvdb:GatevarmeType">
    <annotation>
      <documentation>812: Angir strekning med gatevarme</documentation>
    </annotation>
  </element>
  <complexType name="GatevarmeType">
    <complexContent>
      <extension base="nvdb:AbstraktGatevarmeType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeGatevarmeType">
            <annotation>
              <documentation>9310: Angir hvilken type gatevarme</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>9311: Angir areal av område med gatevarme
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="effekt" type="integer">
            <annotation>
              <documentation>10886: Angir effekt per kvadratmeter.
Enhet: Watt/kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="O_Mm_Ter" type="double">
            <annotation>
              <documentation>10887: Angir ohm/meter for kabel
Enhet: Ohm/meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallFelt" type="integer">
            <annotation>
              <documentation>10869: Angir hvor mange varmefelt gatevarme består av
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="overdekning" type="double">
            <annotation>
              <documentation>10870: Angir samla tykkelse av alle lag som ligger oppå varmekablene. Fra topp kabel til topp dekke.
Enhet: Centimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10871: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>11001: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detaljinformasjon" type="string">
            <annotation>
              <documentation>10425: Angir mer detaljert informasjon om vegobjektet. Kan f.eks være hvilken  type kabler, effekt, leverandør, etc</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11639: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11697: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11157: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierGatevarmeType">
            <annotation>
              <documentation>10892: Angir hvem som er eier av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligGatevarmeType">
            <annotation>
              <documentation>10977: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9312: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10426: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GatevarmePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Gatevarme"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeGatevarmeType">
    <annotation>
      <documentation>9310: Angir hvilken type gatevarme</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeGatevarmeEnumerationType nvdb:TypeGatevarmeOtherType"/>
  </simpleType>
  <simpleType name="TypeGatevarmeEnumerationType">
    <annotation>
      <documentation>9310: Angir hvilken type gatevarme</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="strøm">
        <annotation>
          <documentation>13005: Strøm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vann">
        <annotation>
          <documentation>13006: Vann</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeGatevarmeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGatevarmeType">
    <annotation>
      <documentation>10977: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligGatevarmeEnumerationType nvdb:VedlikeholdsansvarligGatevarmeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGatevarmeEnumerationType">
    <annotation>
      <documentation>10977: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>18338: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18709: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>20010: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18838: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>18339: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>18340: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>18341: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGatevarmeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
