GML/813.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.22">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Gågatereguleringer" substitutionGroup="nvdb:AbstraktGågatereguleringer" type="nvdb:GågatereguleringerType">
    <annotation>
      <documentation>813: Gate uten fortau reservert for gående hvor trafikkreglene for gågate gjelder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">813</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">813</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gågate</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="GågatereguleringerType">
    <complexContent>
      <extension base="nvdb:AbstraktGågatereguleringerType">
        <sequence>
          <element minOccurs="0" name="varetransportHverdagULørdagPeriode1FraKl" type="string">
            <annotation>
              <documentation>9314: Varetransport hverdag  untatt lørdag periode 1, fra klokkeslett</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9314</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varetransport hverdag u lørdag periode 1 fra kl</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="varetransportHverdagULørdagPeriode1TilKl" type="string">
            <annotation>
              <documentation>9315: Varetransport hverdag  untatt lørdag periode 1, til klokkeslett</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9315</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varetransport hverdag u lørdag periode 1 til kl</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="varetransportHverdagULørdagPeriode2FraKl" type="string">
            <annotation>
              <documentation>9316: Varetransport hverdag  untatt lørdag periode 2, fra klokkeslett</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9316</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varetransport hverdag u lørdag periode 2 fra kl</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="varetransportHverdagULørdagPeriode2TilKl" type="string">
            <annotation>
              <documentation>9317: Varetransport hverdag  untatt lørdag periode 2, til klokkeslett</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9317</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varetransport hverdag u lørdag periode 2 til kl</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="varetransportLørdagPeriode1FraKl" type="string">
            <annotation>
              <documentation>11537: Varetransport  lørdag periode 1, fra klokkeslett</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11537</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varetransport lørdag periode 1 fra kl (test)</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="varetransportLørdagPeriode1TilKl" type="string">
            <annotation>
              <documentation>11538: Varetransport lørdag periode 1, til klokkeslett</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11538</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varetransport lørdag periode 1 til kl (test)</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="varetransportLørdagPeriode2FraKl" type="string">
            <annotation>
              <documentation>11539: Varetransport lørdag periode 2, fra klokkeslett</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11539</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varetransport lørdag periode 2 fra kl (test)</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="varetransportLørdagPeriode2TilKl" type="string">
            <annotation>
              <documentation>11540: Varetransport  lørdag periode 2, til klokkeslett</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11540</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varetransport lørdag periode 2 til kl (test)</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjøringTilEiendommeneTillatt" type="nvdb:KjøringTilEiendommeneTillattType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9313</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjøring til eiendommene tillatt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="varetransportLørdagFra" type="string">
            <annotation>
              <documentation>9318: Varetransport lørdag fra klokkeslett</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9318</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varetransport lørdag fra</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="varetransportLørdagTil" type="string">
            <annotation>
              <documentation>9319: Varetransport lørdag til klokkeslett</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9319</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varetransport lørdag til</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9322: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9322</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, hjelpelinje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GågatereguleringerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Gågatereguleringer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KjøringTilEiendommeneTillattType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9313</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9313</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjøring til eiendommene tillatt</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KjøringTilEiendommeneTillattEnumerationType nvdb:KjøringTilEiendommeneTillattOtherType"/>
  </simpleType>
  <simpleType name="KjøringTilEiendommeneTillattEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9313</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9313</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjøring til eiendommene tillatt</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13007: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13007</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13008: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13008</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KjøringTilEiendommeneTillattOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
