GML/815.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>815: Angir hvilken offisiell holdning det er til opprettelse av avkjørsler på strekningen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Avkjørsel, holdningsklasse"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Avkjørsel, holdningsklasseType">
      <annotation>
         <documentation>815: Angir hvilken offisiell holdning det er til opprettelse av avkjørsler på strekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">815</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avkjørsel, holdningsklasse</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Avkjørsel, holdningsklasseType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="klasse" type="nvdb:KlasseAvkjørsel, holdningsklasseType">
                  <annotation>
                     <documentation>9320: Angir holdningsklasse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9320</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Klasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11640: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11640</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9321: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9321</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Avkjørsel, holdningsklassePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Avkjørsel, holdningsklasse"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="KlasseAvkjørsel, holdningsklasseType">
      <annotation>
         <documentation>9320: Angir holdningsklasse.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9320</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Klasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KlasseAvkjørsel, holdningsklasseEnumerationType nvdb:KlasseAvkjørsel, holdningsklasseOtherType"/>
   </simpleType>
   <simpleType name="KlasseAvkjørsel, holdningsklasseEnumerationType">
      <annotation>
         <documentation>9320: Angir holdningsklasse.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9320</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Klasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="LS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13012</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lite streng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13009</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Meget streng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MiS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13011</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mindre streng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13010</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Streng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KlasseAvkjørsel, holdningsklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
