GML/819.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>819: Tavle/skap/koblingsboks/punkt hvor strøm fordeles til teknisk utstyr. Benyttes bl.a. i forbindelse med tunnelutstyr.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeFordelingType">
      <annotation>
         <documentation>12108: Angir hva som er hovedbruksområdet for fordeling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12108</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeFordelingEnumerationType nvdb:BruksområdeFordelingOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeFordelingEnumerationType">
      <annotation>
         <documentation>12108: Angir hva som er hovedbruksområdet for fordeling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12108</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Annet bruksområde">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21720</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet bruksområde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21787</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21054</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bygning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21065</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ferist</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21057</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ferjeleie</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21061</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pumper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21053</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rasteplass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Si">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21055</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signalanlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21056</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skilting</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21063</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spesiell belysning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TR">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21060</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkregistreringsstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21064</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkregulering/overvåking/ITS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21058</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21052</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veglys</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21062</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vifter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21059</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Værstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeFordelingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierFordelingType">
      <annotation>
         <documentation>10076: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10076</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierFordelingEnumerationType nvdb:EierFordelingOtherType"/>
   </simpleType>
   <simpleType name="EierFordelingEnumerationType">
      <annotation>
         <documentation>10076: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10076</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16584</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16585</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16586</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18623</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16583</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17634</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierFordelingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Fordeling"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:FordelingType">
      <annotation>
         <documentation>819: Tavle/skap/koblingsboks/punkt hvor strøm fordeles til teknisk utstyr. Benyttes bl.a. i forbindelse med tunnelutstyr.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">819</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fordeling</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FordelingType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="typeFordeling">
                  <annotation>
                     <documentation>9327: Angir hvilken type fordeling enheten er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type fordeling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="bruksområde"
                        type="nvdb:BruksområdeFordelingType">
                  <annotation>
                     <documentation>12108: Angir hva som er hovedbruksområdet for fordeling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12108</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="nvdb:PlasseringFordelingType">
                  <annotation>
                     <documentation>10065: Angir hvor vegobjektet er plassert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materiale" type="nvdb:MaterialeFordelingType">
                  <annotation>
                     <documentation>12107: Angir hvilket materiale skap/innkapsling er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12107</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="parkering" type="nvdb:ParkeringFordelingType">
                  <annotation>
                     <documentation>10063: Angir avstand til nærmeste parkeringsmulighet for servicebil.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10063</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Parkering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="typeEnhet">
                  <annotation>
                     <documentation>10081: Angir hvilken type/kapsling objektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10081</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type enhet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="spenning" type="nvdb:SpenningFordelingType">
                  <annotation>
                     <documentation>10064: Angir spenningen som leveres til enheten.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10064</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="låsesystem" type="string">
                  <annotation>
                     <documentation>10058: Angir hvilket låsesystem som er benyttet på skapet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10058</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Låsesystem</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallKurser" type="double">
                  <annotation>
                     <documentation>10052: Antall faktiske kurser ut fra fordeling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10052</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall kurser</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tilknyttetOvervåkningssentral">
                  <annotation>
                     <documentation>10067: Angir hvilken overvåkningssentral tavlen er tilknyttet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10067</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilknyttet overvåkningssentral</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="overspenningsvernType" type="string">
                  <annotation>
                     <documentation>10062: Angir produsent og typebetegnelse for eventuelt overspenningsvern.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10062</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overspenningsvern type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="overbelastningsvernType" type="string">
                  <annotation>
                     <documentation>10061: Angir produsent og typebetegnelse for eventuelt overbelastningsvern.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10061</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overbelastningsvern type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="overbelastningsvernStørrelse" type="double">
                  <annotation>
                     <documentation>10060: Angir størrelse på eventuelt overbelastningsvern.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10060</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overbelastningsvern størrelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kjølingType" type="string">
                  <annotation>
                     <documentation>10059: Angir fabrikat og type for eventuell kjøling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10059</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kjøling type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stedsangivelse" type="string">
                  <annotation>
                     <documentation>10068: Angir stedsnavn og/eller eventuell beskrivelse av skapets plassering.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10068</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stedsangivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10053: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10053</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10054: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10054</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="SCADA_Merking" type="string">
                  <annotation>
                     <documentation>11740: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11740</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">SCADA-merking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produsent" type="string">
                  <annotation>
                     <documentation>10056: Angir navn på tavlebygger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10056</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produktnavn" type="string">
                  <annotation>
                     <documentation>10055: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10055</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11642: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11642</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivreferanse" type="string">
                  <annotation>
                     <documentation>11699: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11699</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11158: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11158</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12415: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12415</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierFordelingType">
                  <annotation>
                     <documentation>10076: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10076</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier_Navn" type="string">
                  <annotation>
                     <documentation>10077: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10077</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligFordelingType">
                  <annotation>
                     <documentation>12815: Angir hvem som er ansvarlig for vedlikehold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12815</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>9328: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9328</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FordelingPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fordeling"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaterialeFordelingType">
      <annotation>
         <documentation>12107: Angir hvilket materiale skap/innkapsling er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12107</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeFordelingEnumerationType nvdb:MaterialeFordelingOtherType"/>
   </simpleType>
   <simpleType name="MaterialeFordelingEnumerationType">
      <annotation>
         <documentation>12107: Angir hvilket materiale skap/innkapsling er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12107</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21068</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21069</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21067</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeFordelingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ParkeringFordelingType">
      <annotation>
         <documentation>10063: Angir avstand til nærmeste parkeringsmulighet for servicebil.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10063</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Parkering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ParkeringFordelingEnumerationType nvdb:ParkeringFordelingOtherType"/>
   </simpleType>
   <simpleType name="ParkeringFordelingEnumerationType">
      <annotation>
         <documentation>10063: Angir avstand til nærmeste parkeringsmulighet for servicebil.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10063</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Parkering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="&lt; 100m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16431</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&lt; 100m</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="&lt; 10m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16429</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&lt; 10m</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="&lt; 30m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16430</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&lt; 30m</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="&gt; 100m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16432</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&gt; 100m</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ParkeringFordelingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringFordelingType">
      <annotation>
         <documentation>10065: Angir hvor vegobjektet er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlasseringFordelingEnumerationType nvdb:PlasseringFordelingOtherType"/>
   </simpleType>
   <simpleType name="PlasseringFordelingEnumerationType">
      <annotation>
         <documentation>10065: Angir hvor vegobjektet er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bygg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16440</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I bygg/rom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tunn">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16439</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I tunnelrommet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ute">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16438</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ute</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringFordelingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SpenningFordelingType">
      <annotation>
         <documentation>10064: Angir spenningen som leveres til enheten.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10064</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SpenningFordelingEnumerationType nvdb:SpenningFordelingOtherType"/>
   </simpleType>
   <simpleType name="SpenningFordelingEnumerationType">
      <annotation>
         <documentation>10064: Angir spenningen som leveres til enheten.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10064</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16433</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="230">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16435</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">230</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="230/400">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16437</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">230/400</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16434</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">24</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16436</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">400</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="690">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16715</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">690</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SpenningFordelingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilknyttetOvervåkningssentralFordelingType">
      <annotation>
         <documentation>10067: Angir hvilken overvåkningssentral tavlen er tilknyttet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10067</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilknyttet overvåkningssentral</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilknyttetOvervåkningssentralFordelingEnumerationType nvdb:TilknyttetOvervåkningssentralFordelingOtherType"/>
   </simpleType>
   <simpleType name="TilknyttetOvervåkningssentralFordelingEnumerationType">
      <annotation>
         <documentation>10067: Angir hvilken overvåkningssentral tavlen er tilknyttet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10067</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilknyttet overvåkningssentral</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="AN">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16442</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet sentralt styringssystem</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="D">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21712</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Datek</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IN">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16443</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VTS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16441</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VTS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VM">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21048</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VTS Midt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VN">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21047</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VTS Nord</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21050</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VTS Sør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21049</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VTS Vest</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VO">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21051</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">VTS Øst</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilknyttetOvervåkningssentralFordelingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeEnhetFordelingType">
      <annotation>
         <documentation>10081: Angir hvilken type/kapsling objektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10081</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type enhet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeEnhetFordelingEnumerationType nvdb:TypeEnhetFordelingOtherType"/>
   </simpleType>
   <simpleType name="TypeEnhetFordelingEnumerationType">
      <annotation>
         <documentation>10081: Angir hvilken type/kapsling objektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10081</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type enhet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ann">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16456</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="klem">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16454</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Klemme</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="boks">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16453</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Koblingsboks</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="skap">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16452</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="skin">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16455</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skinne</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeEnhetFordelingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeFordelingFordelingType">
      <annotation>
         <documentation>9327: Angir hvilken type fordeling enheten er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type fordeling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeFordelingFordelingEnumerationType nvdb:TypeFordelingFordelingOtherType"/>
   </simpleType>
   <simpleType name="TypeFordelingFordelingEnumerationType">
      <annotation>
         <documentation>9327: Angir hvilken type fordeling enheten er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type fordeling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="HF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13014</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hovedfordeling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21786</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tilknytningsskap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13015</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Underfordeling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeFordelingFordelingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFordelingType">
      <annotation>
         <documentation>12815: Angir hvem som er ansvarlig for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12815</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligFordelingEnumerationType nvdb:VedlikeholdsansvarligFordelingOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFordelingEnumerationType">
      <annotation>
         <documentation>12815: Angir hvem som er ansvarlig for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12815</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22097</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22099</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22096</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22098</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22100</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22095</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22101</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFordelingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
