GML/819.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierFordelingstavleType">
    <annotation>
      <documentation>10076: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:EierFordelingstavleEnumerationType nvdb:EierFordelingstavleOtherType"/>
  </simpleType>
  <simpleType name="EierFordelingstavleEnumerationType">
    <annotation>
      <documentation>10076: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>16583: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18623: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>16584: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>16585: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>16586: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17634: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierFordelingstavleOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Fordelingstavle" substitutionGroup="nvdb:AbstraktFordelingstavle" type="nvdb:FordelingstavleType">
    <annotation>
      <documentation>819: Tavle/skap/koblingsboks/punkt hvor strøm fordeles til teknisk utstyr. Benyttes bl.a. i forbindelse med tunnelutstyr</documentation>
    </annotation>
  </element>
  <complexType name="FordelingstavleType">
    <complexContent>
      <extension base="nvdb:AbstraktFordelingstavleType">
        <sequence>
          <element minOccurs="0" name="typeFordeling" type="nvdb:TypeFordelingType">
            <annotation>
              <documentation>9327: Angir hvilken type fordeling enheten er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallKurser" type="integer">
            <annotation>
              <documentation>10052: Antall kurser ut fra fordeling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kapslingsgrad" type="nvdb:KapslingsgradType">
            <annotation>
              <documentation>10057: Skapets evne til å motstå støv og vann. Første siffer er støv, andre er vann.  Går fra 00 til 68.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="parkering" type="nvdb:ParkeringType">
            <annotation>
              <documentation>10063: Angir avstand til nærmeste parkeringsmulighet for servicebil</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="plassering" type="nvdb:PlasseringFordelingstavleType">
            <annotation>
              <documentation>10065: Angir hvor vegobjektet er plassert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="selektivitet" type="nvdb:SelektivitetType">
            <annotation>
              <documentation>10037: Angir i hvilken grad vernet som er nærmest feilstedet løser seg ut ved en feil</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilknyttetSRO_Sentral" type="nvdb:TilknyttetSRO_SentralType">
            <annotation>
              <documentation>10067: Angir om tavlen er tilknyttet sentral for Styring, Regulering og Overvåkning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="varmeelement" type="nvdb:VarmeelementType">
            <annotation>
              <documentation>10069: Angir om det er montert varmeelement i skapet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spenning" type="nvdb:SpenningFordelingstavleType">
            <annotation>
              <documentation>10064: Angir spenningen som leveres ut fra enheten
Enhet: Volt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="typeEnhet" type="nvdb:TypeEnhetType">
            <annotation>
              <documentation>10081: Angir hvilken type/kapsling objektet er av
Enhet: Volt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kjølingType" type="string">
            <annotation>
              <documentation>10059: Angir fabrikat og type for eventuell kjøling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="låsesystem" type="string">
            <annotation>
              <documentation>10058: Angir hvilket låsesystem som er benyttet på skapet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="overbelastningsvernStørrelse" type="integer">
            <annotation>
              <documentation>10060: Angir størrelse på eventuelt overbelastningsvern
Enhet: Ampere</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="overbelastningsvernType" type="string">
            <annotation>
              <documentation>10061: Angir produsent og typebetegnelse for eventuelt overbelastningsvern</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="overspenningsvernType" type="string">
            <annotation>
              <documentation>10062: Angir produsent og typebetegnelse for eventuelt overspenningsvern</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelse" type="string">
            <annotation>
              <documentation>10068: Angir stedsnavn og/eller eventuell beskrivelse av skapets plassering</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10053: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10054: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="SCADA_Merking" type="string">
            <annotation>
              <documentation>11740: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>10056: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>10055: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11642: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11699: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11158: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierFordelingstavleType">
            <annotation>
              <documentation>10076: Angir hvem som er eier av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>10077: Navn på eier av  vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>9328: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="nvdb:AbstraktTunnelløpPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertElektriskKomponent_Test" type="nvdb:AbstraktElektriskKomponent_TestPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertElektriskAnlegg" type="nvdb:AbstraktElektriskAnleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FordelingstavlePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fordelingstavle"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KapslingsgradType">
    <annotation>
      <documentation>10057: Skapets evne til å motstå støv og vann. Første siffer er støv, andre er vann.  Går fra 00 til 68.</documentation>
    </annotation>
    <union memberTypes="nvdb:KapslingsgradEnumerationType nvdb:KapslingsgradOtherType"/>
  </simpleType>
  <simpleType name="KapslingsgradEnumerationType">
    <annotation>
      <documentation>10057: Skapets evne til å motstå støv og vann. Første siffer er støv, andre er vann.  Går fra 00 til 68.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="IP00">
        <annotation>
          <documentation>16365: Inntrenging : Ingen beskyttelse. Vann: Ingen beskyttelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP01">
        <annotation>
          <documentation>16366: Inntrenging: Ingen beskyttelse. Vann: Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP02">
        <annotation>
          <documentation>16367: Inntrenging: Ingen beskyttelse. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP03">
        <annotation>
          <documentation>16368: Inntrenging: Ingen beskyttelse. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP04">
        <annotation>
          <documentation>16369: Inntrenging: Ingen beskyttelse. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP05">
        <annotation>
          <documentation>16370: Inntrenging: Ingen beskyttelse. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP06">
        <annotation>
          <documentation>16371: Inntrenging: Ingen beskyttelse. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP07">
        <annotation>
          <documentation>16372: Inntrenging: Ingen beskyttelse. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP08">
        <annotation>
          <documentation>16373: Inntrenging: Ingen beskyttelse. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP10">
        <annotation>
          <documentation>16374: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Ingen beskyttelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP11">
        <annotation>
          <documentation>16375: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP12">
        <annotation>
          <documentation>16376: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP13">
        <annotation>
          <documentation>16377: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP14">
        <annotation>
          <documentation>16378: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP15">
        <annotation>
          <documentation>16379: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP16">
        <annotation>
          <documentation>16380: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP17">
        <annotation>
          <documentation>16381: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP18">
        <annotation>
          <documentation>16382: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP20">
        <annotation>
          <documentation>16383: Inntrenging: Finger, 12,5 mm diameter.  Vann: Ingen beskyttelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP21">
        <annotation>
          <documentation>16384: Inntrenging: Finger, 12,5 mm diameter. Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP22">
        <annotation>
          <documentation>16385: Inntrenging: Finger, 12,5 mm diameter. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP23">
        <annotation>
          <documentation>16386: Inntrenging: Finger, 12,5 mm diameter. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP24">
        <annotation>
          <documentation>16387: Inntrenging: Finger, 12,5 mm diameter. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP25">
        <annotation>
          <documentation>16388: Inntrenging: Finger, 12,5 mm diameter. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP26">
        <annotation>
          <documentation>16389: Inntrenging: Finger, 12,5 mm diameter. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP27">
        <annotation>
          <documentation>16390: Inntrenging: Finger, 12,5 mm diameter. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP28">
        <annotation>
          <documentation>16391: Inntrenging: Finger, 12,5 mm diameter. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP30">
        <annotation>
          <documentation>16392: Inntrenging: Verktøy, 2,5 mm diameter.  Vann: Ingen beskyttelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP31">
        <annotation>
          <documentation>16393: Inntrenging: Verktøy, 2,5 mm diameter Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP32">
        <annotation>
          <documentation>16394: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP33">
        <annotation>
          <documentation>16395: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP34">
        <annotation>
          <documentation>16396: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP35">
        <annotation>
          <documentation>16397: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP36">
        <annotation>
          <documentation>16398: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP37">
        <annotation>
          <documentation>16399: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP38">
        <annotation>
          <documentation>16400: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP40">
        <annotation>
          <documentation>16401: Inntrenging: Tråd 1 mm diameter.  Vann: Ingen beskyttelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP41">
        <annotation>
          <documentation>16402: Inntrenging: Tråd 1 mm diameter Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP42">
        <annotation>
          <documentation>16403: Inntrenging: Tråd 1 mm diameter. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP43">
        <annotation>
          <documentation>16404: Inntrenging: Tråd 1 mm diameter. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP44">
        <annotation>
          <documentation>16405: Inntrenging: Tråd 1 mm diameter. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP45">
        <annotation>
          <documentation>16406: Inntrenging: Tråd 1 mm diameter. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP46">
        <annotation>
          <documentation>16407: Inntrenging: Tråd 1 mm diameter. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP47">
        <annotation>
          <documentation>16408: Inntrenging: Tråd 1 mm diameter. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP48">
        <annotation>
          <documentation>16409: Inntrenging: Tråd 1 mm diameter. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP50">
        <annotation>
          <documentation>16410: Inntrenging: Støvbeskyttet.  Vann: Ingen beskyttelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP51">
        <annotation>
          <documentation>16411: Inntrenging: Støvbeskyttet Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP52">
        <annotation>
          <documentation>16412: Inntrenging: Støvbeskyttet. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP53">
        <annotation>
          <documentation>16413: Inntrenging: Støvbeskyttet. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP54">
        <annotation>
          <documentation>16414: Inntrenging: Støvbeskyttet. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP55">
        <annotation>
          <documentation>16415: Inntrenging: Støvbeskyttet. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP56">
        <annotation>
          <documentation>16416: Inntrenging: Støvbeskyttet. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP57">
        <annotation>
          <documentation>16417: Inntrenging: Støvbeskyttet. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP58">
        <annotation>
          <documentation>16418: Inntrenging: Støvbeskyttet. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP60">
        <annotation>
          <documentation>16419: Inntrenging: Ingen inntregning av støv.  Vann: Ingen beskyttelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP61">
        <annotation>
          <documentation>16420: Inntrenging: Ingen inntregning av støv Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP62">
        <annotation>
          <documentation>16421: Inntrenging: Ingen inntregning av støv. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP63">
        <annotation>
          <documentation>16422: Inntrenging: Ingen inntregning av støv. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP64">
        <annotation>
          <documentation>16423: Inntrenging: Ingen inntregning av støv. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP65">
        <annotation>
          <documentation>16424: Inntrenging: Ingen inntregning av støv. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP66">
        <annotation>
          <documentation>16425: Inntrenging: Ingen inntregning av støv. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP67">
        <annotation>
          <documentation>16426: Inntrenging: Ingen inntregning av støv. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP68">
        <annotation>
          <documentation>16427: Inntrenging: Ingen inntregning av støv. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KapslingsgradOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ParkeringType">
    <annotation>
      <documentation>10063: Angir avstand til nærmeste parkeringsmulighet for servicebil</documentation>
    </annotation>
    <union memberTypes="nvdb:ParkeringEnumerationType nvdb:ParkeringOtherType"/>
  </simpleType>
  <simpleType name="ParkeringEnumerationType">
    <annotation>
      <documentation>10063: Angir avstand til nærmeste parkeringsmulighet for servicebil</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="under10m">
        <annotation>
          <documentation>16429: Avstand til parkering er &lt; 10m</documentation>
        </annotation>
      </enumeration>
      <enumeration value="under30m">
        <annotation>
          <documentation>16430: Avstand til parkering er &lt; 30m</documentation>
        </annotation>
      </enumeration>
      <enumeration value="under100m">
        <annotation>
          <documentation>16431: Avstand til parkering er &lt; 100m</documentation>
        </annotation>
      </enumeration>
      <enumeration value="over100m">
        <annotation>
          <documentation>16432: Avstand til parkering er &gt; 100m</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ParkeringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringFordelingstavleType">
    <annotation>
      <documentation>10065: Angir hvor vegobjektet er plassert</documentation>
    </annotation>
    <union memberTypes="nvdb:PlasseringFordelingstavleEnumerationType nvdb:PlasseringFordelingstavleOtherType"/>
  </simpleType>
  <simpleType name="PlasseringFordelingstavleEnumerationType">
    <annotation>
      <documentation>10065: Angir hvor vegobjektet er plassert</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ute">
        <annotation>
          <documentation>16438: Fordelingstavle er plassert utendørs</documentation>
        </annotation>
      </enumeration>
      <enumeration value="iTunnel">
        <annotation>
          <documentation>16439: Fordelingstavle er plassert i en tunnel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="iBygg">
        <annotation>
          <documentation>16440: Fordelingstavle er plassert i et bygg</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringFordelingstavleOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SelektivitetType">
    <annotation>
      <documentation>10037: Angir i hvilken grad vernet som er nærmest feilstedet løser seg ut ved en feil</documentation>
    </annotation>
    <union memberTypes="nvdb:SelektivitetEnumerationType nvdb:SelektivitetOtherType"/>
  </simpleType>
  <simpleType name="SelektivitetEnumerationType">
    <annotation>
      <documentation>10037: Angir i hvilken grad vernet som er nærmest feilstedet løser seg ut ved en feil</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="delvis">
        <annotation>
          <documentation>16356: Mer enn et (men ikke alle) vern utløses ved feil</documentation>
        </annotation>
      </enumeration>
      <enumeration value="full">
        <annotation>
          <documentation>16357: Kun vernet nærmest feilstedet utløses ved feil</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ingen">
        <annotation>
          <documentation>16358: Ingen prioritering av vern</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SelektivitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpenningFordelingstavleType">
    <annotation>
      <documentation>10064: Angir spenningen som leveres ut fra enheten</documentation>
    </annotation>
    <union memberTypes="nvdb:SpenningFordelingstavleEnumerationType nvdb:SpenningFordelingstavleOtherType"/>
  </simpleType>
  <simpleType name="SpenningFordelingstavleEnumerationType">
    <annotation>
      <documentation>10064: Angir spenningen som leveres ut fra enheten</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="12">
        <annotation>
          <documentation>16433: 12 volt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>16434: 24 volt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="230">
        <annotation>
          <documentation>16435: 230 volt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="400">
        <annotation>
          <documentation>16436: 400 volt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="230_400">
        <annotation>
          <documentation>16437: 230 og 400 volt (TN-nett)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="690">
        <annotation>
          <documentation>16715: 690 volt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpenningFordelingstavleOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilknyttetSRO_SentralType">
    <annotation>
      <documentation>10067: Angir om tavlen er tilknyttet sentral for Styring, Regulering og Overvåkning</documentation>
    </annotation>
    <union memberTypes="nvdb:TilknyttetSRO_SentralEnumerationType nvdb:TilknyttetSRO_SentralOtherType"/>
  </simpleType>
  <simpleType name="TilknyttetSRO_SentralEnumerationType">
    <annotation>
      <documentation>10067: Angir om tavlen er tilknyttet sentral for Styring, Regulering og Overvåkning</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="sentral">
        <annotation>
          <documentation>16441: Fortdelingstavle er knyttet til sentral SRO-sentral</documentation>
        </annotation>
      </enumeration>
      <enumeration value="desentral">
        <annotation>
          <documentation>16442: Fortdelingstavle er knyttet til desentral SRO-sentral</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ingen">
        <annotation>
          <documentation>16443: Fortdelingstavle er ikke knyttet til SRO-sentral</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilknyttetSRO_SentralOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeEnhetType">
    <annotation>
      <documentation>10081: Angir hvilken type/kapsling objektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeEnhetEnumerationType nvdb:TypeEnhetOtherType"/>
  </simpleType>
  <simpleType name="TypeEnhetEnumerationType">
    <annotation>
      <documentation>10081: Angir hvilken type/kapsling objektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="skap">
        <annotation>
          <documentation>16452: Fordeligsskap med innhold</documentation>
        </annotation>
      </enumeration>
      <enumeration value="koblingsboks">
        <annotation>
          <documentation>16453: Enkel koblingsboks eller lignende</documentation>
        </annotation>
      </enumeration>
      <enumeration value="klemme">
        <annotation>
          <documentation>16454: Koblingsklemme, vrihylse, rekkeklemme eller lignende</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skinne">
        <annotation>
          <documentation>16455: Koblingsskinne</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annet">
        <annotation>
          <documentation>16456: Annen type boks eller koblingsmateriell</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeEnhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeFordelingType">
    <annotation>
      <documentation>9327: Angir hvilken type fordeling enheten er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeFordelingEnumerationType nvdb:TypeFordelingOtherType"/>
  </simpleType>
  <simpleType name="TypeFordelingEnumerationType">
    <annotation>
      <documentation>9327: Angir hvilken type fordeling enheten er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="hovedfordeling">
        <annotation>
          <documentation>13014: Hovedfordeling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="underfordeling">
        <annotation>
          <documentation>13015: Underfordeling</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFordelingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VarmeelementType">
    <annotation>
      <documentation>10069: Angir om det er montert varmeelement i skapet</documentation>
    </annotation>
    <union memberTypes="nvdb:VarmeelementEnumerationType nvdb:VarmeelementOtherType"/>
  </simpleType>
  <simpleType name="VarmeelementEnumerationType">
    <annotation>
      <documentation>10069: Angir om det er montert varmeelement i skapet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16444: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16445: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VarmeelementOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
