GML/819.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeFordelingType">
    <annotation>
      <documentation>12108: Angir hva som er hovedbruksområdet for fordeling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12108</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12108</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeFordelingEnumerationType nvdb:BruksområdeFordelingOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeFordelingEnumerationType">
    <annotation>
      <documentation>12108: Angir hva som er hovedbruksområdet for fordeling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12108</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12108</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Veglys">
        <annotation>
          <documentation>21052: Strøm veglys i dagen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21052</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veglys</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bygning">
        <annotation>
          <documentation>21054: Strøm til bygning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21054</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bygning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rasteplass">
        <annotation>
          <documentation>21053: Strøm til belysning og elektriske installasjoner på rasteplass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21053</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rasteplass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signalanlegg">
        <annotation>
          <documentation>21055: Strøm til signalanlegg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21055</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signalanlegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skilting">
        <annotation>
          <documentation>21056: Strøm til skilting</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21056</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skilting</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferjeleie">
        <annotation>
          <documentation>21057: Strøm til belysning og elektriske installasjoner på ferjeleie</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21057</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferjeleie</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnel">
        <annotation>
          <documentation>21058: Strøm til tunnel/tunnelutstyr</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21058</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Værstasjon">
        <annotation>
          <documentation>21059: Strøm til værstasjon</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21059</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Værstasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkregistreringsstasjon">
        <annotation>
          <documentation>21060: Strøm til trafikkregistreringsstasjon</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21060</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkregistreringsstasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pumper">
        <annotation>
          <documentation>21061: Strøm til pumper</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21061</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pumper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vifter">
        <annotation>
          <documentation>21062: Strøm til vifter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21062</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vifter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Utsmykking (broer etc)">
        <annotation>
          <documentation>21063: Strøm til Utsmykking (broer etc)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21063</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utsmykking (broer etc)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkregulering/overvåking">
        <annotation>
          <documentation>21064: Strøm til Trafikkregulering/overvåking</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21064</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkregulering/overvåking</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferist">
        <annotation>
          <documentation>21065: Strøm til elektrisk ferist</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21065</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferist</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeFordelingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierFordelingType">
    <annotation>
      <documentation>10076: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10076</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10076</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierFordelingEnumerationType nvdb:EierFordelingOtherType"/>
  </simpleType>
  <simpleType name="EierFordelingEnumerationType">
    <annotation>
      <documentation>10076: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10076</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10076</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>16583: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16583</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18623: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18623</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>16584: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16584</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>16585: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16585</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>16586: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16586</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17634: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17634</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierFordelingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Fordeling" substitutionGroup="nvdb:AbstraktFordeling" type="nvdb:FordelingType">
    <annotation>
      <documentation>819: Tavle/skap/koblingsboks/punkt hvor strøm fordeles til teknisk utstyr. Benyttes bl.a. i forbindelse med tunnelutstyr</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">819</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">819</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fordeling</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FordelingType">
    <complexContent>
      <extension base="nvdb:AbstraktFordelingType">
        <sequence>
          <element minOccurs="0" name="typeFordeling" type="nvdb:TypeFordelingType">
            <annotation>
              <documentation>9327: Angir hvilken type fordeling enheten er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type fordeling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeFordelingType">
            <annotation>
              <documentation>12108: Angir hva som er hovedbruksområdet for fordeling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12108</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="plassering" type="nvdb:PlasseringFordelingType">
            <annotation>
              <documentation>10065: Angir hvor vegobjektet er plassert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materiale" type="nvdb:MaterialeType">
            <annotation>
              <documentation>12107: Angir hvilket materiale skap/innkapsling er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12107</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="parkering" type="nvdb:ParkeringType">
            <annotation>
              <documentation>10063: Angir avstand til nærmeste parkeringsmulighet for servicebil.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10063</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Parkering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeEnhet" type="nvdb:TypeEnhetType">
            <annotation>
              <documentation>10081: Angir hvilken type/kapsling objektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10081</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type enhet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spenning" type="nvdb:SpenningFordelingType">
            <annotation>
              <documentation>10064: Angir spenningen som leveres ut fra enheten.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10064</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="varmeelement" type="nvdb:VarmeelementType">
            <annotation>
              <documentation>10069: Angir om det er montert varmeelement i skapet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10069</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Varmeelement</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="låsesystem" type="string">
            <annotation>
              <documentation>10058: Angir hvilket låsesystem som er benyttet på skapet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10058</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Låsesystem</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kapslingsgrad" type="nvdb:KapslingsgradType">
            <annotation>
              <documentation>10057: Skapets evne til å motstå støv og vann. Første siffer er støv, andre er vann. Går fra 00 til 68.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10057</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kapslingsgrad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallKurser" type="integer">
            <annotation>
              <documentation>10052: Antall faktiske kurser ut fra fordeling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10052</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall kurser</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="selektivitet" type="nvdb:SelektivitetType">
            <annotation>
              <documentation>10037: Angir i hvilken grad vernet som er nærmest feilstedet løser seg ut ved en feil.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10037</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Selektivitet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilknyttetOvervåkningssentral" type="nvdb:TilknyttetOvervåkningssentralType">
            <annotation>
              <documentation>10067: Angir hvilken overvåkningssentral tavlen er tilknyttet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10067</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilknyttet overvåkningssentral</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overspenningsvernType" type="string">
            <annotation>
              <documentation>10062: Angir produsent og typebetegnelse for eventuelt overspenningsvern.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10062</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overspenningsvern type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overbelastningsvernType" type="string">
            <annotation>
              <documentation>10061: Angir produsent og typebetegnelse for eventuelt overbelastningsvern.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10061</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overbelastningsvern type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overbelastningsvernStørrelse" type="integer">
            <annotation>
              <documentation>10060: Angir størrelse på eventuelt overbelastningsvern.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10060</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overbelastningsvern størrelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjølingType" type="string">
            <annotation>
              <documentation>10059: Angir fabrikat og type for eventuell kjøling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10059</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kjøling type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelse" type="string">
            <annotation>
              <documentation>10068: Angir stedsnavn og/eller eventuell beskrivelse av skapets plassering.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10068</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Stedsangivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10053: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10053</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10054: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10054</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="SCADA_Merking" type="string">
            <annotation>
              <documentation>11740: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11740</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">SCADA-merking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>10056: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10056</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>10055: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10055</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11642: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11642</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11699: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11699</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11158: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11158</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12415: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12415</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierFordelingType">
            <annotation>
              <documentation>10076: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10076</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>10077: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10077</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>9328: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9328</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertElektriskKomponent_Test" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktElektriskKomponent_Test</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertElektriskAnlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktElektriskAnlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FordelingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fordeling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KapslingsgradType">
    <annotation>
      <documentation>10057: Skapets evne til å motstå støv og vann. Første siffer er støv, andre er vann. Går fra 00 til 68.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10057</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10057</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kapslingsgrad</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KapslingsgradEnumerationType nvdb:KapslingsgradOtherType"/>
  </simpleType>
  <simpleType name="KapslingsgradEnumerationType">
    <annotation>
      <documentation>10057: Skapets evne til å motstå støv og vann. Første siffer er støv, andre er vann. Går fra 00 til 68.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10057</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10057</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kapslingsgrad</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="IP00">
        <annotation>
          <documentation>16365: Inntrenging : Ingen beskyttelse. Vann: Ingen beskyttelse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16365</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP00</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP01">
        <annotation>
          <documentation>16366: Inntrenging: Ingen beskyttelse. Vann: Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16366</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP01</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP02">
        <annotation>
          <documentation>16367: Inntrenging: Ingen beskyttelse. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16367</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP02</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP03">
        <annotation>
          <documentation>16368: Inntrenging: Ingen beskyttelse. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16368</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP03</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP04">
        <annotation>
          <documentation>16369: Inntrenging: Ingen beskyttelse. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16369</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP04</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP05">
        <annotation>
          <documentation>16370: Inntrenging: Ingen beskyttelse. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16370</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP05</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP06">
        <annotation>
          <documentation>16371: Inntrenging: Ingen beskyttelse. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16371</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP06</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP07">
        <annotation>
          <documentation>16372: Inntrenging: Ingen beskyttelse. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16372</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP07</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP08">
        <annotation>
          <documentation>16373: Inntrenging: Ingen beskyttelse. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16373</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP08</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP10">
        <annotation>
          <documentation>16374: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Ingen beskyttelse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16374</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP10</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP11">
        <annotation>
          <documentation>16375: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16375</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP11</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP12">
        <annotation>
          <documentation>16376: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16376</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP12</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP13">
        <annotation>
          <documentation>16377: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16377</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP13</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP14">
        <annotation>
          <documentation>16378: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16378</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP14</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP15">
        <annotation>
          <documentation>16379: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16379</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP15</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP16">
        <annotation>
          <documentation>16380: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16380</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP16</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP17">
        <annotation>
          <documentation>16381: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16381</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP17</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP18">
        <annotation>
          <documentation>16382: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16382</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP18</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP20">
        <annotation>
          <documentation>16383: Inntrenging: Finger, 12,5 mm diameter.  Vann: Ingen beskyttelse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16383</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP20</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP21">
        <annotation>
          <documentation>16384: Inntrenging: Finger, 12,5 mm diameter. Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16384</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP21</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP22">
        <annotation>
          <documentation>16385: Inntrenging: Finger, 12,5 mm diameter. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16385</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP22</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP23">
        <annotation>
          <documentation>16386: Inntrenging: Finger, 12,5 mm diameter. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16386</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP23</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP24">
        <annotation>
          <documentation>16387: Inntrenging: Finger, 12,5 mm diameter. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16387</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP24</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP25">
        <annotation>
          <documentation>16388: Inntrenging: Finger, 12,5 mm diameter. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16388</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP25</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP26">
        <annotation>
          <documentation>16389: Inntrenging: Finger, 12,5 mm diameter. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16389</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP26</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP27">
        <annotation>
          <documentation>16390: Inntrenging: Finger, 12,5 mm diameter. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16390</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP27</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP28">
        <annotation>
          <documentation>16391: Inntrenging: Finger, 12,5 mm diameter. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16391</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP28</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP30">
        <annotation>
          <documentation>16392: Inntrenging: Verktøy, 2,5 mm diameter.  Vann: Ingen beskyttelse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16392</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP30</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP31">
        <annotation>
          <documentation>16393: Inntrenging: Verktøy, 2,5 mm diameter Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16393</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP31</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP32">
        <annotation>
          <documentation>16394: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16394</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP32</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP33">
        <annotation>
          <documentation>16395: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16395</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP33</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP34">
        <annotation>
          <documentation>16396: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16396</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP34</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP35">
        <annotation>
          <documentation>16397: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16397</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP35</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP36">
        <annotation>
          <documentation>16398: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16398</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP36</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP37">
        <annotation>
          <documentation>16399: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16399</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP37</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP38">
        <annotation>
          <documentation>16400: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16400</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP38</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP40">
        <annotation>
          <documentation>16401: Inntrenging: Tråd 1 mm diameter.  Vann: Ingen beskyttelse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16401</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP40</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP41">
        <annotation>
          <documentation>16402: Inntrenging: Tråd 1 mm diameter Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16402</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP41</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP42">
        <annotation>
          <documentation>16403: Inntrenging: Tråd 1 mm diameter. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16403</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP42</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP43">
        <annotation>
          <documentation>16404: Inntrenging: Tråd 1 mm diameter. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16404</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP43</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP44">
        <annotation>
          <documentation>16405: Inntrenging: Tråd 1 mm diameter. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16405</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP44</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP45">
        <annotation>
          <documentation>16406: Inntrenging: Tråd 1 mm diameter. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16406</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP45</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP46">
        <annotation>
          <documentation>16407: Inntrenging: Tråd 1 mm diameter. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16407</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP46</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP47">
        <annotation>
          <documentation>16408: Inntrenging: Tråd 1 mm diameter. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16408</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP47</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP48">
        <annotation>
          <documentation>16409: Inntrenging: Tråd 1 mm diameter. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16409</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP48</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP50">
        <annotation>
          <documentation>16410: Inntrenging: Støvbeskyttet.  Vann: Ingen beskyttelse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16410</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP50</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP51">
        <annotation>
          <documentation>16411: Inntrenging: Støvbeskyttet Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16411</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP51</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP52">
        <annotation>
          <documentation>16412: Inntrenging: Støvbeskyttet. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16412</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP52</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP53">
        <annotation>
          <documentation>16413: Inntrenging: Støvbeskyttet. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16413</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP53</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP54">
        <annotation>
          <documentation>16414: Inntrenging: Støvbeskyttet. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16414</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP54</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP55">
        <annotation>
          <documentation>16415: Inntrenging: Støvbeskyttet. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16415</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP55</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP56">
        <annotation>
          <documentation>16416: Inntrenging: Støvbeskyttet. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16416</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP56</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP57">
        <annotation>
          <documentation>16417: Inntrenging: Støvbeskyttet. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16417</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP57</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP58">
        <annotation>
          <documentation>16418: Inntrenging: Støvbeskyttet. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16418</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP58</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP60">
        <annotation>
          <documentation>16419: Inntrenging: Ingen inntregning av støv.  Vann: Ingen beskyttelse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16419</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP60</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP61">
        <annotation>
          <documentation>16420: Inntrenging: Ingen inntregning av støv Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16420</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP61</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP62">
        <annotation>
          <documentation>16421: Inntrenging: Ingen inntregning av støv. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16421</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP62</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP63">
        <annotation>
          <documentation>16422: Inntrenging: Ingen inntregning av støv. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16422</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP63</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP64">
        <annotation>
          <documentation>16423: Inntrenging: Ingen inntregning av støv. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16423</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP64</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP65">
        <annotation>
          <documentation>16424: Inntrenging: Ingen inntregning av støv. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16424</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP65</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP66">
        <annotation>
          <documentation>16425: Inntrenging: Ingen inntregning av støv. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16425</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP66</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP67">
        <annotation>
          <documentation>16426: Inntrenging: Ingen inntregning av støv. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16426</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP67</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP68">
        <annotation>
          <documentation>16427: Inntrenging: Ingen inntregning av støv. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16427</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">IP68</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KapslingsgradOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeType">
    <annotation>
      <documentation>12107: Angir hvilket materiale skap/innkapsling er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeEnumerationType nvdb:MaterialeOtherType"/>
  </simpleType>
  <simpleType name="MaterialeEnumerationType">
    <annotation>
      <documentation>12107: Angir hvilket materiale skap/innkapsling er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stål">
        <annotation>
          <documentation>21067: Stål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21067</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Aluminium">
        <annotation>
          <documentation>21068: Aluminium</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21068</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>21069: Plast/kompositt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21069</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ParkeringType">
    <annotation>
      <documentation>10063: Angir avstand til nærmeste parkeringsmulighet for servicebil.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10063</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10063</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Parkering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ParkeringEnumerationType nvdb:ParkeringOtherType"/>
  </simpleType>
  <simpleType name="ParkeringEnumerationType">
    <annotation>
      <documentation>10063: Angir avstand til nærmeste parkeringsmulighet for servicebil.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10063</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10063</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Parkering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="&lt; 10m">
        <annotation>
          <documentation>16429: Avstand til parkering er &lt; 10m</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16429</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">&lt; 10m</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&lt; 30m">
        <annotation>
          <documentation>16430: Avstand til parkering er &lt; 30m</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16430</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">&lt; 30m</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&lt; 100m">
        <annotation>
          <documentation>16431: Avstand til parkering er &lt; 100m</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16431</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">&lt; 100m</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&gt; 100m">
        <annotation>
          <documentation>16432: Avstand til parkering er &gt; 100m</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16432</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">&gt; 100m</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ParkeringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringFordelingType">
    <annotation>
      <documentation>10065: Angir hvor vegobjektet er plassert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringFordelingEnumerationType nvdb:PlasseringFordelingOtherType"/>
  </simpleType>
  <simpleType name="PlasseringFordelingEnumerationType">
    <annotation>
      <documentation>10065: Angir hvor vegobjektet er plassert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ute">
        <annotation>
          <documentation>16438: Fordelingstavle er plassert utendørs</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16438</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ute</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I tunnel">
        <annotation>
          <documentation>16439: Fordelingstavle er plassert i en tunnel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16439</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I bygg">
        <annotation>
          <documentation>16440: Fordelingstavle er plassert i et bygg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16440</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I bygg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringFordelingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SelektivitetType">
    <annotation>
      <documentation>10037: Angir i hvilken grad vernet som er nærmest feilstedet løser seg ut ved en feil.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10037</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10037</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Selektivitet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SelektivitetEnumerationType nvdb:SelektivitetOtherType"/>
  </simpleType>
  <simpleType name="SelektivitetEnumerationType">
    <annotation>
      <documentation>10037: Angir i hvilken grad vernet som er nærmest feilstedet løser seg ut ved en feil.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10037</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10037</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Selektivitet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Delvis">
        <annotation>
          <documentation>16356: Mer enn et (men ikke alle) vern utløses ved feil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16356</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Delvis</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Full">
        <annotation>
          <documentation>16357: Kun vernet nærmest feilstedet utløses ved feil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16357</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Full</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen">
        <annotation>
          <documentation>16358: Ingen prioritering av vern</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16358</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SelektivitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpenningFordelingType">
    <annotation>
      <documentation>10064: Angir spenningen som leveres ut fra enheten.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10064</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10064</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SpenningFordelingEnumerationType nvdb:SpenningFordelingOtherType"/>
  </simpleType>
  <simpleType name="SpenningFordelingEnumerationType">
    <annotation>
      <documentation>10064: Angir spenningen som leveres ut fra enheten.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10064</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10064</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="12">
        <annotation>
          <documentation>16433: 12 volt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16433</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>16434: 24 volt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16434</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">24</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="230">
        <annotation>
          <documentation>16435: 230 volt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16435</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">230</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="400">
        <annotation>
          <documentation>16436: 400 volt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16436</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">400</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="230/400">
        <annotation>
          <documentation>16437: 230 og 400 volt (TN-nett)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16437</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">230/400</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="690">
        <annotation>
          <documentation>16715: 690 volt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16715</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">690</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpenningFordelingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilknyttetOvervåkningssentralType">
    <annotation>
      <documentation>10067: Angir hvilken overvåkningssentral tavlen er tilknyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10067</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10067</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilknyttet overvåkningssentral</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilknyttetOvervåkningssentralEnumerationType nvdb:TilknyttetOvervåkningssentralOtherType"/>
  </simpleType>
  <simpleType name="TilknyttetOvervåkningssentralEnumerationType">
    <annotation>
      <documentation>10067: Angir hvilken overvåkningssentral tavlen er tilknyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10067</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10067</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilknyttet overvåkningssentral</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="VTS">
        <annotation>
          <documentation>16441: Fortdelingstavle er knyttet til VTS.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16441</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VTS Nord">
        <annotation>
          <documentation>21047: Fortdelingstavle er knyttet til VTS Nord</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21047</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS Nord</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VTS Midt">
        <annotation>
          <documentation>21048: Fortdelingstavle er knyttet til VTS Midt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21048</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS Midt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VTS Vest">
        <annotation>
          <documentation>21049: Fortdelingstavle er knyttet til VTS Vest</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21049</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS Vest</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VTS Sør">
        <annotation>
          <documentation>21050: Fortdelingstavle er knyttet til VTS Sør</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21050</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS Sør</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VTS Øst">
        <annotation>
          <documentation>21051: Fortdelingstavle er knyttet til VTS Øst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21051</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS Øst</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet sentralt styringssystem">
        <annotation>
          <documentation>16442: Fortdelingstavle er knyttet til annet sentralt styringssystem</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16442</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet sentralt styringssystem</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen">
        <annotation>
          <documentation>16443: Fortdelingstavle er ikke knyttet til overvåkningssentral</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16443</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilknyttetOvervåkningssentralOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeEnhetType">
    <annotation>
      <documentation>10081: Angir hvilken type/kapsling objektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10081</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10081</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type enhet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeEnhetEnumerationType nvdb:TypeEnhetOtherType"/>
  </simpleType>
  <simpleType name="TypeEnhetEnumerationType">
    <annotation>
      <documentation>10081: Angir hvilken type/kapsling objektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10081</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10081</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type enhet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Skap">
        <annotation>
          <documentation>16452: Fordeligsskap med innhold</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16452</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skap</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Koblingsboks">
        <annotation>
          <documentation>16453: Enkel koblingsboks eller lignende</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16453</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Koblingsboks</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Klemme">
        <annotation>
          <documentation>16454: Koblingsklemme, vrihylse, rekkeklemme eller lignende</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16454</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Klemme</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skinne">
        <annotation>
          <documentation>16455: Koblingsskinne</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16455</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skinne</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet">
        <annotation>
          <documentation>16456: Annen type boks eller koblingsmateriell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16456</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeEnhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeFordelingType">
    <annotation>
      <documentation>9327: Angir hvilken type fordeling enheten er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type fordeling</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeFordelingEnumerationType nvdb:TypeFordelingOtherType"/>
  </simpleType>
  <simpleType name="TypeFordelingEnumerationType">
    <annotation>
      <documentation>9327: Angir hvilken type fordeling enheten er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type fordeling</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hovedfordeling">
        <annotation>
          <documentation>13014: Hovedfordeling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13014</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hovedfordeling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Underfordeling">
        <annotation>
          <documentation>13015: Underfordeling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13015</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Underfordeling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFordelingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VarmeelementType">
    <annotation>
      <documentation>10069: Angir om det er montert varmeelement i skapet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10069</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10069</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Varmeelement</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VarmeelementEnumerationType nvdb:VarmeelementOtherType"/>
  </simpleType>
  <simpleType name="VarmeelementEnumerationType">
    <annotation>
      <documentation>10069: Angir om det er montert varmeelement i skapet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10069</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10069</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Varmeelement</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16444: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16444</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16445: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16445</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VarmeelementOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
