GML/82.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Hydraveg" substitutionGroup="nvdb:AbstraktHydraveg" type="nvdb:HydravegType">
    <annotation>
      <documentation>82: Drenering av plast.  Legges i vegkant for å skjære av vanntilsig inn mot vegen.</documentation>
    </annotation>
  </element>
  <complexType name="HydravegType">
    <complexContent>
      <extension base="nvdb:AbstraktHydravegType">
        <sequence>
          <element minOccurs="0" name="diameter" type="integer">
            <annotation>
              <documentation>1726: Angir diameter av vegobjektet.  Diameter i bunn av hydraveg
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>1585: Angir vegobjektets egenhøyde.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10308: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>1524: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>1446: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="leverandør" type="string">
            <annotation>
              <documentation>1484: Angir navn på firma som har levert vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11573: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4783: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HydravegPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Hydraveg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
