GML/821.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>821: En klassifisering av vegnett for vekting i ruteplanleggere. Sammen med vegens lengde og andre restriksjoner benyttes denne som et kriterie når en ruteplanlegger foreslår en rute fra A til B.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Funksjonell vegklasse"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Funksjonell vegklasseType">
      <annotation>
         <documentation>821: En klassifisering av vegnett for vekting i ruteplanleggere. Sammen med vegens lengde og andre restriksjoner benyttes denne som et kriterie når en ruteplanlegger foreslår en rute fra A til B.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">821</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Funksjonell vegklasse</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Funksjonell vegklasseType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="vegklasse" type="nvdb:VegklasseFunksjonell vegklasseType">
                  <annotation>
                     <documentation>9338: Angir funksjonell vegklasse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9338</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegklasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>10183: Permanent merknad til aktuell forekomst. Kan gi informasjoner som ikke er mulig å gi på annet vis.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10183</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>11844: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11844</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Funksjonell vegklassePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Funksjonell vegklasse"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VegklasseFunksjonell vegklasseType">
      <annotation>
         <documentation>9338: Angir funksjonell vegklasse.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9338</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VegklasseFunksjonell vegklasseEnumerationType nvdb:VegklasseFunksjonell vegklasseOtherType"/>
   </simpleType>
   <simpleType name="VegklasseFunksjonell vegklasseEnumerationType">
      <annotation>
         <documentation>9338: Angir funksjonell vegklasse.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9338</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="0">
            <annotation>
               <documentation>13060: De viktigste vegene i et vegnettverk, f.eks. motorveger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13060</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>13061: De nest viktigste vegene i et vegnettverk, f.eks. større riksveger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13061</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>13062: De tredje viktigste vegene i et vegnettverk, f.eks. mindre riksveger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13062</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <documentation>13063: De fjerde viktigste vegene i et vegnettverk, f.eks. større fylkesveger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13063</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <documentation>13064: De femte viktigste vegene i et vegnettverk, f.eks. mindre fylkesveger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13064</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <documentation>13065: De sjette viktigste vegene i et vegnettverk, f.eks. de minste fylkesvegene og viktige kommunale veger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13065</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <documentation>13066: De sjuende viktigste vegene i et vegnettverk, f.eks. kommunale veger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13066</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <documentation>13067: De åttende viktigste vegene i et vegnettverk, f.eks. private veger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13067</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <documentation>13068: De niende viktigste vegene i et vegnettverk, f.eks. skogsbilveger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13068</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <documentation>13069: De minst viktige vegene i et vegnettverk, f.eks. veger det ikke er anbefalt å kjøre på, men mulig å kjøre på.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13069</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VegklasseFunksjonell vegklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
