GML/822.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>822: Landbruksmyndighetene sin inndeling av landbruksveger, ut i fra støtteordninger.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="KlasseLandbruksvegLandbruksvegklasseType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9339</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Klasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KlasseLandbruksvegLandbruksvegklasseEnumerationType nvdb:KlasseLandbruksvegLandbruksvegklasseOtherType"/>
   </simpleType>
   <simpleType name="KlasseLandbruksvegLandbruksvegklasseEnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9339</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Klasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="8">
            <annotation>
               <documentation>13077: veger for slepkjøring av tømmer og transport av landbruksprodukter og redskap med landbrukstraktor eller annet lettere transportutstyr. Vegklassen omfatter enklere traktorveger som inngår i det permanente landbruksvegnettet og som medfører varige terrenginngrep. Standarden må i stor grad tilpasses det formål og transportutstyr vegen bygges for.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13077</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enkel traktorveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>13070: helårs bilveg som bygges i samarbeid med det offentlige slik at den senere kan inngå i det offentlige vegnett. Krav til geometrisk utforming m.m. skal være i samsvar med de spesifikasjoner Statens vegvesen har fastsatt for den avtalte vegklasse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13070</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helårs bilveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>13071: helårs bilveg med høy standard som skal kunne trafikkeres med lass hele året. Denne vegklassen skal brukes på grendeveger med blandet trafikkgrunnlag og på skogsbilveger, gardsveger og seterveger med stor trafikkbelastning av tunge kjøretøyer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13071</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helårs landbruksbilveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <documentation>13072: standarden for skogsbilveger med moderat til lavt trafikkgrunnlag, og for enkle gards- og seterveger. Vegen skal kunne trafikkeres med lass hele året, unntatt i teleløsningsperioden og i perioder med spesielt mye nedbør.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13072</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Landbruksbilveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <documentation>13073: bilveger som bygges for transport av tømmer i barmarksperioden, enkle seterveger etc. Vegklassen bør bare bygges i områder der tømmerkvantum og transportavstand tilsier biltransport, men der terrengforhold og tilgjengelige ressurser ikke gir økonomisk grunnlag for å bygge en helårsveg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13073</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sommerbilveg, tømmerbil med henger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <documentation>13074: bilveger beregnet for tømmertransport med bil uten henger utelukkende i barmarksperioden. Vegklassen må bare bygges på steder der det ikke er teknisk mulig eller økonomisk forsvarlig å bygge en høyere vegstandard. Denne vegklassen skal bare benyttes i unntakstilfeller.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13074</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sommerbilveg, tømmerbil uten henger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <documentation>13076: veger for transport av landbruksprodukter og tømmer med lastetraktor og landbrukstraktor med henger. Generelt skal disse vegene kunne nyttes til transport hele året unntatt i teleløsningen. Svake partier i undergrunnen må forsterkes med bærelag.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13076</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Traktorveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <documentation>13075: bilveger for tømmertransport på vinterføre, der vegens bæreevne baseres på tele og snø. Vegklassen egner seg i strøk med stabile vinterforhold og lange transportavstander, og på steder der tømmerdriftene kan konsentreres på enkelte år med flere års mellomrom. Vegklassen bør bare brukes der det ikke er økonomisk grunnlag for å bygge helårsveg, og der den videre skogbehandling ikke krever bedre vegstandard.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13075</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vinterbilveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KlasseLandbruksvegLandbruksvegklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Landbruksvegklasse"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:LandbruksvegklasseType">
      <annotation>
         <documentation>822: Landbruksmyndighetene sin inndeling av landbruksveger, ut i fra støtteordninger.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">822</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Landbruksvegklasse</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="LandbruksvegklasseType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="klasseLandbruksveg">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9339</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Klasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="LandbruksvegklassePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Landbruksvegklasse"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
