GML/822.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>822: Landbruksmyndighetene sin inndeling av landbruksveger, ut i fra støtteordninger.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="KlasseLandbruksvegLandbruksvegklasseType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9339</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Klasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KlasseLandbruksvegLandbruksvegklasseEnumerationType nvdb:KlasseLandbruksvegLandbruksvegklasseOtherType"/>
   </simpleType>
   <simpleType name="KlasseLandbruksvegLandbruksvegklasseEnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9339</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Klasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13077</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enkel traktorveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13070</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helårs bilveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13071</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helårs landbruksbilveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13072</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Landbruksbilveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13073</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sommerbilveg, tømmerbil med henger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13074</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sommerbilveg, tømmerbil uten henger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13076</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Traktorveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13075</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vinterbilveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KlasseLandbruksvegLandbruksvegklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Landbruksvegklasse"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:LandbruksvegklasseType">
      <annotation>
         <documentation>822: Landbruksmyndighetene sin inndeling av landbruksveger, ut i fra støtteordninger.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">822</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Landbruksvegklasse</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="LandbruksvegklasseType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="klasseLandbruksveg">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9339</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Klasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="LandbruksvegklassePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Landbruksvegklasse"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
