GML/829.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>829: Gir informasjon om tilstand og eventuell skade på trær.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="ForandringITreetsOmgivelserTilstandskade, trærType">
      <annotation>
         <documentation>11260: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11260</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forandring i treets omgivelser</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ForandringITreetsOmgivelserTilstandskade, trærEnumerationType nvdb:ForandringITreetsOmgivelserTilstandskade, trærOtherType"/>
   </simpleType>
   <simpleType name="ForandringITreetsOmgivelserTilstandskade, trærEnumerationType">
      <annotation>
         <documentation>11260: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11260</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forandring i treets omgivelser</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="F1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18975</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">F1-Graving</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18976</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">F2-Fylling/senking</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18977</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">F3-Jordkompresjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18978</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">F4-Belegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18979</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">F5-Fristilt tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18980</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">F6-Grunnvannendr.</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18981</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">F7-Saltskader</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18982</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">F8-Ledninger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F9">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18983</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">F9-Jordsprekk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ForandringITreetsOmgivelserTilstandskade, trærOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Krone_PrimærSkadeTilstandskade, trærType">
      <annotation>
         <documentation>11254: Angir hvilken type skade på krone som er mest utbredt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11254</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Krone, primær skade</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Krone_PrimærSkadeTilstandskade, trærEnumerationType nvdb:Krone_PrimærSkadeTilstandskade, trærOtherType"/>
   </simpleType>
   <simpleType name="Krone_PrimærSkadeTilstandskade, trærEnumerationType">
      <annotation>
         <documentation>11254: Angir hvilken type skade på krone som er mest utbredt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11254</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Krone, primær skade</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="K1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18939</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">K1-Greinbrudd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18948</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">K10-Oppstamming</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18949</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">K11-Glissen krone</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18950</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">K12-Avvik</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18940</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">K2-Greinsår</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18941</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">K3-Tørre greiner</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18942</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">K4-Greinsprekk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18943</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">K5-Sopp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18944</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">K6-Barkskader</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18945</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">K7-Kløyving</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18946</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">K8-Hull og råte</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K9">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18947</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">K9-Kronebrudd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Krone_PrimærSkadeTilstandskade, trærOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="NesteKontrollTilstandskade, trærType">
      <annotation>
         <documentation>11273: Angir når det er behov for ny kontroll.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11273</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Neste kontroll</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NesteKontrollTilstandskade, trærEnumerationType nvdb:NesteKontrollTilstandskade, trærOtherType"/>
   </simpleType>
   <simpleType name="NesteKontrollTilstandskade, trærEnumerationType">
      <annotation>
         <documentation>11273: Angir når det er behov for ny kontroll.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11273</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Neste kontroll</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="IN">
            <annotation>
               <documentation>19008: Det er ikke behov for ny kontroll.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19008</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke nødvendig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19010</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Neste vegetasjonsperiode</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1ar">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19011</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Om 1 år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3ar">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19012</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Om 3 år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5ar">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19013</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Om 5 år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NesteKontrollTilstandskade, trærOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Rotsystem_PrimærSkadeTilstandskade, trærType">
      <annotation>
         <documentation>11258: Angir hvilken type skade på rotsystem som er mest utbredt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11258</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rotsystem, primær skade</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Rotsystem_PrimærSkadeTilstandskade, trærEnumerationType nvdb:Rotsystem_PrimærSkadeTilstandskade, trærOtherType"/>
   </simpleType>
   <simpleType name="Rotsystem_PrimærSkadeTilstandskade, trærEnumerationType">
      <annotation>
         <documentation>11258: Angir hvilken type skade på rotsystem som er mest utbredt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11258</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rotsystem, primær skade</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="K8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18970</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">K8-Hull og råte</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18963</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">R1-Lufterøtter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18972</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">R10-Rotkapping</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18973</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">R11-Dyp planting</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18974</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">R12-Avvik</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18964</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">R2-Rothalsutvid.</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18965</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">R3-Rotsprekker</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18966</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">R4-Rotsvulst</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18967</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">R5-Sopp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18968</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">R6-Barkskader</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18969</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">R7-Rotskudd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R9">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18971</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">R9-Frittstående rot</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Rotsystem_PrimærSkadeTilstandskade, trærOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SkadevurderingTilstandskade, trærType">
      <annotation>
         <documentation>11252: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11252</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadevurdering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkadevurderingTilstandskade, trærEnumerationType nvdb:SkadevurderingTilstandskade, trærOtherType"/>
   </simpleType>
   <simpleType name="SkadevurderingTilstandskade, trærEnumerationType">
      <annotation>
         <documentation>11252: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11252</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadevurdering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="IS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18932</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1-ingen skade</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18933</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2-lett skadet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="AS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18934</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3-alvorlig skadet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18935</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4-sterkt skadet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="D">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18936</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5- dødt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkadevurderingTilstandskade, trærOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Stamme_PrimærSkadeTilstandskade, trærType">
      <annotation>
         <documentation>11256: Angir hvilken type skade på stamme som er mest utbredt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11256</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stamme, primær skade</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Stamme_PrimærSkadeTilstandskade, trærEnumerationType nvdb:Stamme_PrimærSkadeTilstandskade, trærOtherType"/>
   </simpleType>
   <simpleType name="Stamme_PrimærSkadeTilstandskade, trærEnumerationType">
      <annotation>
         <documentation>11256: Angir hvilken type skade på stamme som er mest utbredt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11256</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stamme, primær skade</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="K8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18958</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">K8-Hull og råte</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18951</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S1-Påkjørselskade</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18960</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S10-Stang/plombe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18961</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S11-Skakt tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18962</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S12-Avvik</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18952</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S2-Greinsår</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18953</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S3-Skadeinsekter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18954</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S4-Sprukket bark</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18955</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S5-Sopp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18956</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S6-Barkskader</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18957</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S7-Kløyving</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S9">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18959</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S9-Stammeskudd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Stamme_PrimærSkadeTilstandskade, trærOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tilstandskade, trær"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandskade, trærType">
      <annotation>
         <documentation>829: Gir informasjon om tilstand og eventuell skade på trær.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">829</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandskade, trær</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandskade, trærType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="kontrolldato" type="date">
                  <annotation>
                     <documentation>11266: Angir dato tilstand sist ble kontrollert og oppdatert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11266</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kontrolldato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kontrollør" type="string">
                  <annotation>
                     <documentation>11267: Navn/Initialer på kontrollør.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11267</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kontrollør</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vitalitet" type="nvdb:VitalitetTilstandskade, trærType">
                  <annotation>
                     <documentation>11251: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11251</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vitalitet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="skadevurdering" type="nvdb:SkadevurderingTilstandskade, trærType">
                  <annotation>
                     <documentation>11252: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11252</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skadevurdering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="trafikksikkerhetsrisiko"
                        type="nvdb:TrafikksikkerhetsrisikoTilstandskade, trærType">
                  <annotation>
                     <documentation>11253: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11253</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Trafikksikkerhetsrisiko</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="krone_PrimærSkade">
                  <annotation>
                     <documentation>11254: Angir hvilken type skade på krone som er mest utbredt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11254</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Krone, primær skade</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="krone_AndreSkader" type="string">
                  <annotation>
                     <documentation>11255: Angir andre typer skade på krone. Kan gis med kortnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11255</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Krone, andre skader</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stamme_PrimærSkade">
                  <annotation>
                     <documentation>11256: Angir hvilken type skade på stamme som er mest utbredt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11256</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stamme, primær skade</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stamme_AndreSkader" type="string">
                  <annotation>
                     <documentation>11257: Angir andre typer skade på stamme. Kan gis med kortnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11257</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stamme, andre skader</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rotsystem_PrimærSkade">
                  <annotation>
                     <documentation>11258: Angir hvilken type skade på rotsystem som er mest utbredt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11258</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rotsystem, primær skade</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rotsystem_AndreSkader" type="string">
                  <annotation>
                     <documentation>11259: Angir andre typer skade på rotsystem. Kan gis med kortnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11259</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rotsystem, andre skader</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="forandringITreetsOmgivelser">
                  <annotation>
                     <documentation>11260: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11260</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Forandring i treets omgivelser</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknader" type="string">
                  <annotation>
                     <documentation>11261: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11261</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknader</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tiltak_Primært">
                  <annotation>
                     <documentation>11262: Angir viktigste tiltak.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11262</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tiltak, primært</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tiltak_Andre" type="string">
                  <annotation>
                     <documentation>11263: Angir andre tiltak som må gjennomføres.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11263</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tiltak, andre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="nesteKontroll">
                  <annotation>
                     <documentation>11273: Angir når det er behov for ny kontroll.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11273</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Neste kontroll</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>11264: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11264</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandskade, trærPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandskade, trær"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="Tiltak_PrimærtTilstandskade, trærType">
      <annotation>
         <documentation>11262: Angir viktigste tiltak.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11262</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak, primært</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Tiltak_PrimærtTilstandskade, trærEnumerationType nvdb:Tiltak_PrimærtTilstandskade, trærOtherType"/>
   </simpleType>
   <simpleType name="Tiltak_PrimærtTilstandskade, trærEnumerationType">
      <annotation>
         <documentation>11262: Angir viktigste tiltak.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11262</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak, primært</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="BAS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19003</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Behandling av stammeskade</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18988</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Detaljert undersøkelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DVF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18992</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Død ved fjernes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="EP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18986</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Etterplanting</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19001</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Formklipping</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18990</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jordforbedring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KBF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18995</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Krone beskjæres fagmessig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KSE">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18996</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kronestabiliseringssystem etableres</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18987</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Liftbehov</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18998</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oppbinding fjernes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18997</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oppbinding vurderes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19000</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oppbyggningsbeskjæring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18993</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oppstamming</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18989</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trebeskyttelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18984</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trefelling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TFF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18991</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Treflate forstørres</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TSR">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18985</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trestubberydding</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19002</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uttynningsbeskjæring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VHB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18999</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vedlikeholdsbeskjæring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18994</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vekstareal fristilles</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Tiltak_PrimærtTilstandskade, trærOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TrafikksikkerhetsrisikoTilstandskade, trærType">
      <annotation>
         <documentation>11253: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11253</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikksikkerhetsrisiko</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TrafikksikkerhetsrisikoTilstandskade, trærEnumerationType nvdb:TrafikksikkerhetsrisikoTilstandskade, trærOtherType"/>
   </simpleType>
   <simpleType name="TrafikksikkerhetsrisikoTilstandskade, trærEnumerationType">
      <annotation>
         <documentation>11253: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11253</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikksikkerhetsrisiko</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="H">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18938</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Høy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18937</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lav</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TrafikksikkerhetsrisikoTilstandskade, trærOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VitalitetTilstandskade, trærType">
      <annotation>
         <documentation>11251: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11251</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vitalitet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VitalitetTilstandskade, trærEnumerationType nvdb:VitalitetTilstandskade, trærOtherType"/>
   </simpleType>
   <simpleType name="VitalitetTilstandskade, trærEnumerationType">
      <annotation>
         <documentation>11251: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11251</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vitalitet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="G">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18927</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1-god</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18928</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2-noe svekket</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18929</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3-svak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18930</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4-meget svak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="D">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18931</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5-død</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VitalitetTilstandskade, trærOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
