GML/829.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.22">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="ForandringITreetsOmgivelserType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11260</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11260</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forandring i treets omgivelser</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ForandringITreetsOmgivelserEnumerationType nvdb:ForandringITreetsOmgivelserOtherType"/>
  </simpleType>
  <simpleType name="ForandringITreetsOmgivelserEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11260</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11260</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forandring i treets omgivelser</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="F1-Graving">
        <annotation>
          <documentation>18975: F1-Graving</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18975</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">F1-Graving</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F2-Fylling/senking">
        <annotation>
          <documentation>18976: F2-Fylling/senking</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18976</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">F2-Fylling/senking</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F3-Jordkompresjon">
        <annotation>
          <documentation>18977: F3-Jordkompresjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18977</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">F3-Jordkompresjon</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F4-Belegg">
        <annotation>
          <documentation>18978: F4-Belegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18978</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">F4-Belegg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F5-Fristilt tre">
        <annotation>
          <documentation>18979: F5-Fristilt tre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18979</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">F5-Fristilt tre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F6-Grunnvannendr.">
        <annotation>
          <documentation>18980: F6-Grunnvannendr.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18980</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">F6-Grunnvannendr.</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F7-Saltskader">
        <annotation>
          <documentation>18981: F7-Saltskader</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18981</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">F7-Saltskader</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F8-Ledninger">
        <annotation>
          <documentation>18982: F8-Ledninger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18982</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">F8-Ledninger</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F9-Jordsprekk">
        <annotation>
          <documentation>18983: F9-Jordsprekk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18983</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">F9-Jordsprekk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ForandringITreetsOmgivelserOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Krone_PrimærSkadeType">
    <annotation>
      <documentation>11254: Angir hvilken type skade på krone som er mest utbredt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11254</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11254</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Krone, primær skade</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Krone_PrimærSkadeEnumerationType nvdb:Krone_PrimærSkadeOtherType"/>
  </simpleType>
  <simpleType name="Krone_PrimærSkadeEnumerationType">
    <annotation>
      <documentation>11254: Angir hvilken type skade på krone som er mest utbredt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11254</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11254</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Krone, primær skade</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="K1-Greinbrudd">
        <annotation>
          <documentation>18939: K1-Greinbrudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18939</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">K1-Greinbrudd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K2-Greinsår">
        <annotation>
          <documentation>18940: K2-Greinsår</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18940</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">K2-Greinsår</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K3-Tørre greiner">
        <annotation>
          <documentation>18941: K3-Tørre greiner</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18941</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">K3-Tørre greiner</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K4-Greinsprekk">
        <annotation>
          <documentation>18942: K4-Greinsprekk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18942</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">K4-Greinsprekk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K5-Sopp">
        <annotation>
          <documentation>18943: K5-Sopp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18943</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">K5-Sopp</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K6-Barkskader">
        <annotation>
          <documentation>18944: K6-Barkskader</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18944</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">K6-Barkskader</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K7-Kløyving">
        <annotation>
          <documentation>18945: K7-Kløyving</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18945</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">K7-Kløyving</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K8-Hull og råte">
        <annotation>
          <documentation>18946: K8-Hull og råte</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18946</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">K8-Hull og råte</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K9-Kronebrudd">
        <annotation>
          <documentation>18947: K9-Kronebrudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18947</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">K9-Kronebrudd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K10-Oppstamming">
        <annotation>
          <documentation>18948: K10-Oppstamming</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18948</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">K10-Oppstamming</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K11-Glissen krone">
        <annotation>
          <documentation>18949: K11-Glissen krone</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18949</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">K11-Glissen krone</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K12-Avvik">
        <annotation>
          <documentation>18950: K12-Avvik</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18950</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">K12-Avvik</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Krone_PrimærSkadeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NesteKontrollType">
    <annotation>
      <documentation>11273: Angir når det er behov for ny kontroll</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11273</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11273</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Neste kontroll</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NesteKontrollEnumerationType nvdb:NesteKontrollOtherType"/>
  </simpleType>
  <simpleType name="NesteKontrollEnumerationType">
    <annotation>
      <documentation>11273: Angir når det er behov for ny kontroll</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11273</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11273</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Neste kontroll</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Neste vegetasjonsperiode">
        <annotation>
          <documentation>19010: Neste vegetasjonsperiode</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19010</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Neste vegetasjonsperiode</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Om 1 år">
        <annotation>
          <documentation>19011: Om 1 år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19011</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Om 1 år</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Om 3 år">
        <annotation>
          <documentation>19012: Om 3 år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19012</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Om 3 år</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Om 5 år">
        <annotation>
          <documentation>19013: Om 5 år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19013</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Om 5 år</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke nødvendig">
        <annotation>
          <documentation>19008: Det er ikke behov for ny kontroll</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19008</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ikke nødvendig</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NesteKontrollOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Rotsystem_PrimærSkadeType">
    <annotation>
      <documentation>11258: Angir hvilken type skade på rotsystem som er mest utbredt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11258</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11258</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rotsystem, primær skade</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Rotsystem_PrimærSkadeEnumerationType nvdb:Rotsystem_PrimærSkadeOtherType"/>
  </simpleType>
  <simpleType name="Rotsystem_PrimærSkadeEnumerationType">
    <annotation>
      <documentation>11258: Angir hvilken type skade på rotsystem som er mest utbredt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11258</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11258</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rotsystem, primær skade</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="R1-Lufterøtter">
        <annotation>
          <documentation>18963: R1-Lufterøtter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18963</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">R1-Lufterøtter</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R2-Rothalsutvid.">
        <annotation>
          <documentation>18964: R2-Rothalsutvid.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18964</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">R2-Rothalsutvid.</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R3-Rotsprekker">
        <annotation>
          <documentation>18965: R3-Rotsprekker</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18965</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">R3-Rotsprekker</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R4-Rotsvulst">
        <annotation>
          <documentation>18966: R4-Rotsvulst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18966</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">R4-Rotsvulst</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R5-Sopp">
        <annotation>
          <documentation>18967: R5-Sopp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18967</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">R5-Sopp</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R6-Barkskader">
        <annotation>
          <documentation>18968: R6-Barkskader</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18968</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">R6-Barkskader</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R7-Rotskudd">
        <annotation>
          <documentation>18969: R7-Rotskudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18969</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">R7-Rotskudd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K8-Hull og råte">
        <annotation>
          <documentation>18970: K8-Hull og råte</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18970</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">K8-Hull og råte</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R9-Frittstående rot">
        <annotation>
          <documentation>18971: R9-Frittstående rot</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18971</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">R9-Frittstående rot</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R10-Rotkapping">
        <annotation>
          <documentation>18972: R10-Rotkapping</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18972</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">R10-Rotkapping</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R11-Dyp planting">
        <annotation>
          <documentation>18973: R11-Dyp planting</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18973</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">R11-Dyp planting</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R12-Avvik">
        <annotation>
          <documentation>18974: R12-Avvik</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18974</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">R12-Avvik</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Rotsystem_PrimærSkadeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadevurderingType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11252</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11252</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadevurdering</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadevurderingEnumerationType nvdb:SkadevurderingOtherType"/>
  </simpleType>
  <simpleType name="SkadevurderingEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11252</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11252</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadevurdering</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1-ingen skade">
        <annotation>
          <documentation>18932: 1-ingen skade</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18932</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">1-ingen skade</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2-lett skadet">
        <annotation>
          <documentation>18933: 2-lett skadet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18933</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">2-lett skadet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3-alvorlig skadet">
        <annotation>
          <documentation>18934: 3-alvorlig skadet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18934</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">3-alvorlig skadet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4-sterkt skadet">
        <annotation>
          <documentation>18935: 4-sterkt skadet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18935</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">4-sterkt skadet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5- dødt">
        <annotation>
          <documentation>18936: 5- dødt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18936</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">5- dødt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadevurderingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Stamme_PrimærSkadeType">
    <annotation>
      <documentation>11256: Angir hvilken type skade på stamme som er mest utbredt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11256</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11256</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stamme, primær skade</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Stamme_PrimærSkadeEnumerationType nvdb:Stamme_PrimærSkadeOtherType"/>
  </simpleType>
  <simpleType name="Stamme_PrimærSkadeEnumerationType">
    <annotation>
      <documentation>11256: Angir hvilken type skade på stamme som er mest utbredt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11256</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11256</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stamme, primær skade</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="S1-Påkjørselskade">
        <annotation>
          <documentation>18951: S1-Påkjørselskade</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18951</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S1-Påkjørselskade</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S2-Greinsår">
        <annotation>
          <documentation>18952: S2-Greinsår</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18952</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S2-Greinsår</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S3-Skadeinsekter">
        <annotation>
          <documentation>18953: S3-Skadeinsekter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18953</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S3-Skadeinsekter</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S4-Sprukket bark">
        <annotation>
          <documentation>18954: S4-Sprukket bark</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18954</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S4-Sprukket bark</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S5-Sopp">
        <annotation>
          <documentation>18955: S5-Sopp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18955</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S5-Sopp</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S6-Barkskader">
        <annotation>
          <documentation>18956: S6-Barkskader</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18956</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S6-Barkskader</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S7-Kløyving">
        <annotation>
          <documentation>18957: S7-Kløyving</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18957</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S7-Kløyving</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K8-Hull og råte">
        <annotation>
          <documentation>18958: K8-Hull og råte</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18958</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">K8-Hull og råte</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S9-Stammeskudd">
        <annotation>
          <documentation>18959: S9-Stammeskudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18959</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S9-Stammeskudd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S10-Stang/plombe">
        <annotation>
          <documentation>18960: S10-Stang/plombe</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18960</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S10-Stang/plombe</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S11-Skakt tre">
        <annotation>
          <documentation>18961: S11-Skakt tre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18961</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S11-Skakt tre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S12-Avvik">
        <annotation>
          <documentation>18962: S12-Avvik</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18962</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S12-Avvik</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Stamme_PrimærSkadeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkade_Trær" substitutionGroup="nvdb:AbstraktTilstandSkade_Trær_Test" type="nvdb:TilstandSkade_TrærType">
    <annotation>
      <documentation>829: Gir informasjon om tilstand og eventuell skade på trær.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">829</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">829</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilstand/skade, trær</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TilstandSkade_TrærType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkade_Trær_TestType">
        <sequence>
          <element minOccurs="0" name="kontrolldato" type="date">
            <annotation>
              <documentation>11266: Angir dato tilstand sist ble kontrollert og oppdatert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11266</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kontrolldato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kontrollør" type="string">
            <annotation>
              <documentation>11267: Navn/Initialer på kontrollør</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11267</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kontrollør</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vitalitet" type="nvdb:VitalitetType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11251</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vitalitet</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadevurdering" type="nvdb:SkadevurderingType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11252</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skadevurdering</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="trafikksikkerhetsrisiko" type="nvdb:TrafikksikkerhetsrisikoType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11253</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trafikksikkerhetsrisiko</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="krone_PrimærSkade" type="nvdb:Krone_PrimærSkadeType">
            <annotation>
              <documentation>11254: Angir hvilken type skade på krone som er mest utbredt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11254</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Krone, primær skade</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="krone_AndreSkader" type="string">
            <annotation>
              <documentation>11255: Angir andre typer skade på krone. Kan gis med kortnavn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11255</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Krone, andre skader</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stamme_PrimærSkade" type="nvdb:Stamme_PrimærSkadeType">
            <annotation>
              <documentation>11256: Angir hvilken type skade på stamme som er mest utbredt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11256</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stamme, primær skade</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stamme_AndreSkader" type="string">
            <annotation>
              <documentation>11257: Angir andre typer skade på stamme. Kan gis med kortnavn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11257</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stamme, andre skader</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rotsystem_PrimærSkade" type="nvdb:Rotsystem_PrimærSkadeType">
            <annotation>
              <documentation>11258: Angir hvilken type skade på rotsystem som er mest utbredt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11258</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rotsystem, primær skade</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rotsystem_AndreSkader" type="string">
            <annotation>
              <documentation>11259: Angir andre typer skade på rotsystem. Kan gis med kortnavn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11259</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rotsystem, andre skader</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="forandringITreetsOmgivelser" type="nvdb:ForandringITreetsOmgivelserType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11260</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forandring i treets omgivelser</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknader" type="string">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11261</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Merknader</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltak_Primært" type="nvdb:Tiltak_PrimærtType">
            <annotation>
              <documentation>11262: Angir viktigste tiltak</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11262</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tiltak, primært</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltak_Andre" type="string">
            <annotation>
              <documentation>11263: Angir andre tiltak som må gjennomføres</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11263</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tiltak, andre</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nesteKontroll" type="nvdb:NesteKontrollType">
            <annotation>
              <documentation>11273: Angir når det er behov for ny kontroll</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11273</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Neste kontroll</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>11264: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11264</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrær" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrær</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkade_TrærPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkade_Trær"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="Tiltak_PrimærtType">
    <annotation>
      <documentation>11262: Angir viktigste tiltak</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11262</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11262</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tiltak, primært</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Tiltak_PrimærtEnumerationType nvdb:Tiltak_PrimærtOtherType"/>
  </simpleType>
  <simpleType name="Tiltak_PrimærtEnumerationType">
    <annotation>
      <documentation>11262: Angir viktigste tiltak</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11262</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11262</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tiltak, primært</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Trefelling">
        <annotation>
          <documentation>18984: Trefelling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18984</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trefelling</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trestubberydding">
        <annotation>
          <documentation>18985: Trestubberydding</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18985</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trestubberydding</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Etterplanting">
        <annotation>
          <documentation>18986: Etterplanting</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18986</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etterplanting</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Liftbehov">
        <annotation>
          <documentation>18987: Liftbehov</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18987</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Liftbehov</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Detaljert undersøkelse">
        <annotation>
          <documentation>18988: Detaljert undersøkelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18988</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Detaljert undersøkelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trebeskyttelse">
        <annotation>
          <documentation>18989: Trebeskyttelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18989</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trebeskyttelse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jordforbedring">
        <annotation>
          <documentation>18990: Jordforbedring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18990</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Jordforbedring</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Treflate forstørres">
        <annotation>
          <documentation>18991: Treflate forstørres</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18991</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Treflate forstørres</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Død ved fjernes">
        <annotation>
          <documentation>18992: Død ved fjernes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18992</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Død ved fjernes</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oppstamming">
        <annotation>
          <documentation>18993: Oppstamming</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18993</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppstamming</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vekstareal fristilles">
        <annotation>
          <documentation>18994: Vekstareal fristilles</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18994</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vekstareal fristilles</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Krone beskjæres fagmessig">
        <annotation>
          <documentation>18995: Krone beskjæres fagmessig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18995</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Krone beskjæres fagmessig</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kronestabiliseringssystem etableres">
        <annotation>
          <documentation>18996: Kronestabiliseringssystem etableres</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18996</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kronestabiliseringssystem etableres</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oppbinding vurderes">
        <annotation>
          <documentation>18997: Oppbinding vurderes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18997</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppbinding vurderes</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oppbinding fjernes">
        <annotation>
          <documentation>18998: Oppbinding fjernes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18998</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppbinding fjernes</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vedlikeholdsbeskjæring">
        <annotation>
          <documentation>18999: Vedlikeholdsbeskjæring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18999</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vedlikeholdsbeskjæring</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oppbyggningsbeskjæring">
        <annotation>
          <documentation>19000: Oppbyggningsbeskjæring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19000</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppbyggningsbeskjæring</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Formklipping">
        <annotation>
          <documentation>19001: Formklipping</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19001</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Formklipping</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uttynningsbeskjæring">
        <annotation>
          <documentation>19002: Uttynningsbeskjæring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19002</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Uttynningsbeskjæring</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Behandling av stammeskade">
        <annotation>
          <documentation>19003: Behandling av stammeskade</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19003</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Behandling av stammeskade</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Tiltak_PrimærtOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TrafikksikkerhetsrisikoType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11253</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11253</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trafikksikkerhetsrisiko</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TrafikksikkerhetsrisikoEnumerationType nvdb:TrafikksikkerhetsrisikoOtherType"/>
  </simpleType>
  <simpleType name="TrafikksikkerhetsrisikoEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11253</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11253</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trafikksikkerhetsrisiko</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Lav">
        <annotation>
          <documentation>18937: Lav</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18937</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lav</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Høy">
        <annotation>
          <documentation>18938: Høy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18938</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Høy</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrafikksikkerhetsrisikoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VitalitetType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11251</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11251</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vitalitet</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VitalitetEnumerationType nvdb:VitalitetOtherType"/>
  </simpleType>
  <simpleType name="VitalitetEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11251</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11251</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vitalitet</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1-god">
        <annotation>
          <documentation>18927: 1-god</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18927</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">1-god</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2-noe svekket">
        <annotation>
          <documentation>18928: 2-noe svekket</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18928</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">2-noe svekket</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3-svak">
        <annotation>
          <documentation>18929: 3-svak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18929</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">3-svak</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4-meget svak">
        <annotation>
          <documentation>18930: 4-meget svak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18930</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">4-meget svak</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5-død">
        <annotation>
          <documentation>18931: 5-død</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18931</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">5-død</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VitalitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
