GML/829.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="ForandringITreetsOmgivelserType">
    <union memberTypes="nvdb:ForandringITreetsOmgivelserEnumerationType nvdb:ForandringITreetsOmgivelserOtherType"/>
  </simpleType>
  <simpleType name="ForandringITreetsOmgivelserEnumerationType">
    <restriction base="string">
      <enumeration value="F1_Graving">
        <annotation>
          <documentation>18975: F1-Graving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F2_FyllingSenking">
        <annotation>
          <documentation>18976: F2-Fylling/senking</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F3_Jordkompresjon">
        <annotation>
          <documentation>18977: F3-Jordkompresjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F4_Belegg">
        <annotation>
          <documentation>18978: F4-Belegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F5_FristiltTre">
        <annotation>
          <documentation>18979: F5-Fristilt tre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F6_Grunnvannendr">
        <annotation>
          <documentation>18980: F6-Grunnvannendr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F7_Saltskader">
        <annotation>
          <documentation>18981: F7-Saltskader</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F8_Ledninger">
        <annotation>
          <documentation>18982: F8-Ledninger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F9_Jordsprekk">
        <annotation>
          <documentation>18983: F9-Jordsprekk</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ForandringITreetsOmgivelserOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Krone_PrimærSkadeType">
    <annotation>
      <documentation>11254: Angir hvilken type skade på krone som er mest utbredt</documentation>
    </annotation>
    <union memberTypes="nvdb:Krone_PrimærSkadeEnumerationType nvdb:Krone_PrimærSkadeOtherType"/>
  </simpleType>
  <simpleType name="Krone_PrimærSkadeEnumerationType">
    <annotation>
      <documentation>11254: Angir hvilken type skade på krone som er mest utbredt</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="K1_Greinbrudd">
        <annotation>
          <documentation>18939: K1-Greinbrudd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K2_Greinsår">
        <annotation>
          <documentation>18940: K2-Greinsår</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K3_TørreGreiner">
        <annotation>
          <documentation>18941: K3-Tørre greiner</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K4_Greinsprekk">
        <annotation>
          <documentation>18942: K4-Greinsprekk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K5_Sopp">
        <annotation>
          <documentation>18943: K5-Sopp</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K6_Barkskader">
        <annotation>
          <documentation>18944: K6-Barkskader</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K7_Kløyving">
        <annotation>
          <documentation>18945: K7-Kløyving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K8_HullOgRåte">
        <annotation>
          <documentation>18946: K8-Hull og råte</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K9_Kronebrudd">
        <annotation>
          <documentation>18947: K9-Kronebrudd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K10_Oppstamming">
        <annotation>
          <documentation>18948: K10-Oppstamming</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K11_GlissenKrone">
        <annotation>
          <documentation>18949: K11-Glissen krone</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K12_Avvik">
        <annotation>
          <documentation>18950: K12-Avvik</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Krone_PrimærSkadeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NesteKontrollType">
    <annotation>
      <documentation>11273: Angir når det er behov for ny kontroll</documentation>
    </annotation>
    <union memberTypes="nvdb:NesteKontrollEnumerationType nvdb:NesteKontrollOtherType"/>
  </simpleType>
  <simpleType name="NesteKontrollEnumerationType">
    <annotation>
      <documentation>11273: Angir når det er behov for ny kontroll</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="nesteVegetasjonsperiode">
        <annotation>
          <documentation>19010: Neste vegetasjonsperiode</documentation>
        </annotation>
      </enumeration>
      <enumeration value="om1År">
        <annotation>
          <documentation>19011: Om 1 år</documentation>
        </annotation>
      </enumeration>
      <enumeration value="om3År">
        <annotation>
          <documentation>19012: Om 3 år</documentation>
        </annotation>
      </enumeration>
      <enumeration value="om5År">
        <annotation>
          <documentation>19013: Om 5 år</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeNødvendig">
        <annotation>
          <documentation>19008: Det er ikke behov for ny kontroll</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NesteKontrollOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Rotsystem_PrimærSkadeType">
    <annotation>
      <documentation>11258: Angir hvilken type skade på rotsystem som er mest utbredt</documentation>
    </annotation>
    <union memberTypes="nvdb:Rotsystem_PrimærSkadeEnumerationType nvdb:Rotsystem_PrimærSkadeOtherType"/>
  </simpleType>
  <simpleType name="Rotsystem_PrimærSkadeEnumerationType">
    <annotation>
      <documentation>11258: Angir hvilken type skade på rotsystem som er mest utbredt</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="R1_Lufterøtter">
        <annotation>
          <documentation>18963: R1-Lufterøtter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R2_Rothalsutvid">
        <annotation>
          <documentation>18964: R2-Rothalsutvid.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R3_Rotsprekker">
        <annotation>
          <documentation>18965: R3-Rotsprekker</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R4_Rotsvulst">
        <annotation>
          <documentation>18966: R4-Rotsvulst</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R5_Sopp">
        <annotation>
          <documentation>18967: R5-Sopp</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R6_Barkskader">
        <annotation>
          <documentation>18968: R6-Barkskader</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R7_Rotskudd">
        <annotation>
          <documentation>18969: R7-Rotskudd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K8_HullOgRåte">
        <annotation>
          <documentation>18970: K8-Hull og råte</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R9_FrittståendeRot">
        <annotation>
          <documentation>18971: R9-Frittstående rot</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R10_Rotkapping">
        <annotation>
          <documentation>18972: R10-Rotkapping</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R11_DypPlanting">
        <annotation>
          <documentation>18973: R11-Dyp planting</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R12_Avvik">
        <annotation>
          <documentation>18974: R12-Avvik</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Rotsystem_PrimærSkadeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadevurderingType">
    <union memberTypes="nvdb:SkadevurderingEnumerationType nvdb:SkadevurderingOtherType"/>
  </simpleType>
  <simpleType name="SkadevurderingEnumerationType">
    <restriction base="string">
      <enumeration value="1_IngenSkade">
        <annotation>
          <documentation>18932: 1-ingen skade</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2_LettSkadet">
        <annotation>
          <documentation>18933: 2-lett skadet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3_AlvorligSkadet">
        <annotation>
          <documentation>18934: 3-alvorlig skadet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4_SterktSkadet">
        <annotation>
          <documentation>18935: 4-sterkt skadet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5Dødt">
        <annotation>
          <documentation>18936: 5- dødt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadevurderingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Stamme_PrimærSkadeType">
    <annotation>
      <documentation>11256: Angir hvilken type skade på stamme som er mest utbredt</documentation>
    </annotation>
    <union memberTypes="nvdb:Stamme_PrimærSkadeEnumerationType nvdb:Stamme_PrimærSkadeOtherType"/>
  </simpleType>
  <simpleType name="Stamme_PrimærSkadeEnumerationType">
    <annotation>
      <documentation>11256: Angir hvilken type skade på stamme som er mest utbredt</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="S1_Påkjørselskade">
        <annotation>
          <documentation>18951: S1-Påkjørselskade</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S2_Greinsår">
        <annotation>
          <documentation>18952: S2-Greinsår</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S3_Skadeinsekter">
        <annotation>
          <documentation>18953: S3-Skadeinsekter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S4_SprukketBark">
        <annotation>
          <documentation>18954: S4-Sprukket bark</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S5_Sopp">
        <annotation>
          <documentation>18955: S5-Sopp</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S6_Barkskader">
        <annotation>
          <documentation>18956: S6-Barkskader</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S7_Kløyving">
        <annotation>
          <documentation>18957: S7-Kløyving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K8_HullOgRåte">
        <annotation>
          <documentation>18958: K8-Hull og råte</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S9_Stammeskudd">
        <annotation>
          <documentation>18959: S9-Stammeskudd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S10_StangPlombe">
        <annotation>
          <documentation>18960: S10-Stang/plombe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S11_SkaktTre">
        <annotation>
          <documentation>18961: S11-Skakt tre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S12_Avvik">
        <annotation>
          <documentation>18962: S12-Avvik</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Stamme_PrimærSkadeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkade_Trær_Test" substitutionGroup="nvdb:AbstraktTilstandSkade_Trær_Test" type="nvdb:TilstandSkade_Trær_TestType">
    <annotation>
      <documentation>829: Gir informasjon om tilstand og eventuell skade på trær.</documentation>
    </annotation>
  </element>
  <complexType name="TilstandSkade_Trær_TestType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkade_Trær_TestType">
        <sequence>
          <element minOccurs="0" name="kontrolldato" type="date">
            <annotation>
              <documentation>11266: Angir dato tilstand sist ble kontrollert og oppdatert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kontrollør" type="string">
            <annotation>
              <documentation>11267: Navn/Initialer på kontrollør</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vitalitet" type="nvdb:VitalitetType"/>
          <element minOccurs="0" name="skadevurdering" type="nvdb:SkadevurderingType"/>
          <element minOccurs="0" name="trafikksikkerhetsrisiko" type="nvdb:TrafikksikkerhetsrisikoType"/>
          <element minOccurs="0" name="krone_PrimærSkade" type="nvdb:Krone_PrimærSkadeType">
            <annotation>
              <documentation>11254: Angir hvilken type skade på krone som er mest utbredt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="krone_AndreSkader" type="string">
            <annotation>
              <documentation>11255: Angir andre typer skade på krone. Kan gis med kortnavn</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stamme_PrimærSkade" type="nvdb:Stamme_PrimærSkadeType">
            <annotation>
              <documentation>11256: Angir hvilken type skade på stamme som er mest utbredt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stamme_AndreSkader" type="string">
            <annotation>
              <documentation>11257: Angir andre typer skade på stamme. Kan gis med kortnavn</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rotsystem_PrimærSkade" type="nvdb:Rotsystem_PrimærSkadeType">
            <annotation>
              <documentation>11258: Angir hvilken type skade på rotsystem som er mest utbredt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rotsystem_AndreSkader" type="string">
            <annotation>
              <documentation>11259: Angir andre typer skade på rotsystem. Kan gis med kortnavn</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="forandringITreetsOmgivelser" type="nvdb:ForandringITreetsOmgivelserType"/>
          <element minOccurs="0" name="merknader" type="string"/>
          <element minOccurs="0" name="tiltak_Primært" type="nvdb:Tiltak_PrimærtType">
            <annotation>
              <documentation>11262: Angir viktigste tiltak</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltak_Andre" type="string">
            <annotation>
              <documentation>11263: Angir andre tiltak som må gjennomføres</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nesteKontroll" type="nvdb:NesteKontrollType">
            <annotation>
              <documentation>11273: Angir når det er behov for ny kontroll</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>11264: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrær" type="nvdb:AbstraktTrærPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkade_Trær_TestPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkade_Trær_Test"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="Tiltak_PrimærtType">
    <annotation>
      <documentation>11262: Angir viktigste tiltak</documentation>
    </annotation>
    <union memberTypes="nvdb:Tiltak_PrimærtEnumerationType nvdb:Tiltak_PrimærtOtherType"/>
  </simpleType>
  <simpleType name="Tiltak_PrimærtEnumerationType">
    <annotation>
      <documentation>11262: Angir viktigste tiltak</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="trefelling">
        <annotation>
          <documentation>18984: Trefelling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trestubberydding">
        <annotation>
          <documentation>18985: Trestubberydding</documentation>
        </annotation>
      </enumeration>
      <enumeration value="etterplanting">
        <annotation>
          <documentation>18986: Etterplanting</documentation>
        </annotation>
      </enumeration>
      <enumeration value="liftbehov">
        <annotation>
          <documentation>18987: Liftbehov</documentation>
        </annotation>
      </enumeration>
      <enumeration value="detaljertUndersøkelse">
        <annotation>
          <documentation>18988: Detaljert undersøkelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trebeskyttelse">
        <annotation>
          <documentation>18989: Trebeskyttelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="jordforbedring">
        <annotation>
          <documentation>18990: Jordforbedring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="treflateForstørres">
        <annotation>
          <documentation>18991: Treflate forstørres</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dødVedFjernes">
        <annotation>
          <documentation>18992: Død ved fjernes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oppstamming">
        <annotation>
          <documentation>18993: Oppstamming</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vekstarealFristilles">
        <annotation>
          <documentation>18994: Vekstareal fristilles</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kroneBeskjæresFagmessig">
        <annotation>
          <documentation>18995: Krone beskjæres fagmessig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kronestabiliseringssystemEtableres">
        <annotation>
          <documentation>18996: Kronestabiliseringssystem etableres</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oppbindingVurderes">
        <annotation>
          <documentation>18997: Oppbinding vurderes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oppbindingFjernes">
        <annotation>
          <documentation>18998: Oppbinding fjernes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vedlikeholdsbeskjæring">
        <annotation>
          <documentation>18999: Vedlikeholdsbeskjæring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oppbyggningsbeskjæring">
        <annotation>
          <documentation>19000: Oppbyggningsbeskjæring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="formklipping">
        <annotation>
          <documentation>19001: Formklipping</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uttynningsbeskjæring">
        <annotation>
          <documentation>19002: Uttynningsbeskjæring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="behandlingAvStammeskade">
        <annotation>
          <documentation>19003: Behandling av stammeskade</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Tiltak_PrimærtOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TrafikksikkerhetsrisikoType">
    <union memberTypes="nvdb:TrafikksikkerhetsrisikoEnumerationType nvdb:TrafikksikkerhetsrisikoOtherType"/>
  </simpleType>
  <simpleType name="TrafikksikkerhetsrisikoEnumerationType">
    <restriction base="string">
      <enumeration value="lav">
        <annotation>
          <documentation>18937: Lav</documentation>
        </annotation>
      </enumeration>
      <enumeration value="høy">
        <annotation>
          <documentation>18938: Høy</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrafikksikkerhetsrisikoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VitalitetType">
    <union memberTypes="nvdb:VitalitetEnumerationType nvdb:VitalitetOtherType"/>
  </simpleType>
  <simpleType name="VitalitetEnumerationType">
    <restriction base="string">
      <enumeration value="1_God">
        <annotation>
          <documentation>18927: 1-god</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2_NoeSvekket">
        <annotation>
          <documentation>18928: 2-noe svekket</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3_Svak">
        <annotation>
          <documentation>18929: 3-svak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4_MegetSvak">
        <annotation>
          <documentation>18930: 4-meget svak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5_Død">
        <annotation>
          <documentation>18931: 5-død</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VitalitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
