GML/831.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Vegdekkeklasse" substitutionGroup="nvdb:AbstraktVegdekkeklasse" type="nvdb:VegdekkeklasseType">
    <annotation>
      <documentation>831: Angir hvilken vegdekkeklasse gitt vegstrekning tilhører. Benyttes i forbindelse med drift og vedlikehold</documentation>
    </annotation>
  </element>
  <complexType name="VegdekkeklasseType">
    <complexContent>
      <extension base="nvdb:AbstraktVegdekkeklasseType">
        <sequence>
          <element minOccurs="0" name="vegdekkeklasse" type="nvdb:VegdekkeklasseVegdekkeklasseType">
            <annotation>
              <documentation>9421: Angir hvilken vegdekkeklasse som gjelder på denne strekningen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegdekkeklassePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegdekkeklasse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VegdekkeklasseVegdekkeklasseType">
    <annotation>
      <documentation>9421: Angir hvilken vegdekkeklasse som gjelder på denne strekningen.</documentation>
    </annotation>
    <union memberTypes="nvdb:VegdekkeklasseVegdekkeklasseEnumerationType nvdb:VegdekkeklasseVegdekkeklasseOtherType"/>
  </simpleType>
  <simpleType name="VegdekkeklasseVegdekkeklasseEnumerationType">
    <annotation>
      <documentation>9421: Angir hvilken vegdekkeklasse som gjelder på denne strekningen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="vegdekkeklasse1">
        <annotation>
          <documentation>13272: Veger som i hovedsak er bygd i henhold til gjeldende vegnormal Statens vegvesen Håndbok N200.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegdekkeklasse2">
        <annotation>
          <documentation>13273: Veger som ikke kvalifiserer til vegdekkeklasse 1</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VegdekkeklasseVegdekkeklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
