GML/831.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>831: Angir hvilken vegdekkeklasse gitt vegstrekning tilhører. Benyttes i forbindelse med drift og vedlikehold.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Vegdekkeklasse"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:VegdekkeklasseType">
      <annotation>
         <documentation>831: Angir hvilken vegdekkeklasse gitt vegstrekning tilhører. Benyttes i forbindelse med drift og vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">831</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegdekkeklasse</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VegdekkeklasseType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="vegdekkeklasse" type="nvdb:VegdekkeklasseVegdekkeklasseType">
                  <annotation>
                     <documentation>9421: Angir hvilken vegdekkeklasse som gjelder på denne strekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9421</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegdekkeklasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VegdekkeklassePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegdekkeklasse"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VegdekkeklasseVegdekkeklasseType">
      <annotation>
         <documentation>9421: Angir hvilken vegdekkeklasse som gjelder på denne strekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9421</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegdekkeklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VegdekkeklasseVegdekkeklasseEnumerationType nvdb:VegdekkeklasseVegdekkeklasseOtherType"/>
   </simpleType>
   <simpleType name="VegdekkeklasseVegdekkeklasseEnumerationType">
      <annotation>
         <documentation>9421: Angir hvilken vegdekkeklasse som gjelder på denne strekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9421</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegdekkeklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="V1">
            <annotation>
               <documentation>13272: Veger som i hovedsak er bygd i henhold til gjeldende vegnormal Statens vegvesen Håndbok N200.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13272</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegdekkeklasse 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V2">
            <annotation>
               <documentation>13273: Veger som ikke kvalifiserer til vegdekkeklasse 1.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13273</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegdekkeklasse 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VegdekkeklasseVegdekkeklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
