GML/832.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>832: Angir hvilken grøfteklasse den gitte strekningen tilhører.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Grøfteklasse"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:GrøfteklasseType">
      <annotation>
         <documentation>832: Angir hvilken grøfteklasse den gitte strekningen tilhører.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">832</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">832</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grøfteklasse</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="GrøfteklasseType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="grøfteklasse" type="nvdb:GrøfteklasseGrøfteklasseType">
                  <annotation>
                     <documentation>9422: Angir hvilken grøfteklasse som gjelder på denne strekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9422</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Grøfteklasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>Angivelse av objektets posisjon</documentation>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="GrøfteklassePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Grøfteklasse"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="GrøfteklasseGrøfteklasseType">
      <annotation>
         <documentation>9422: Angir hvilken grøfteklasse som gjelder på denne strekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9422</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9422</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grøfteklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GrøfteklasseGrøfteklasseEnumerationType nvdb:GrøfteklasseGrøfteklasseOtherType"/>
   </simpleType>
   <simpleType name="GrøfteklasseGrøfteklasseEnumerationType">
      <annotation>
         <documentation>9422: Angir hvilken grøfteklasse som gjelder på denne strekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9422</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9422</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grøfteklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Grøfteklasse 1">
            <annotation>
               <documentation>13274: Vegstrekning har grøfter hvor krav til utforming har vært mindre strenge enn det som gjelder for grøfter på vegstrekninger som tilhører grøfteklasse 2.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13274</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grøfteklasse 1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Grøfteklasse 2">
            <annotation>
               <documentation>13276: Vegstrekning har grøfter hvor krav til utforming har vært strengere enn det som gjelder for grøfter på vegstrekninger som tilhører grøfteklasse 1.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13276</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grøfteklasse 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GrøfteklasseGrøfteklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
