GML/832.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Grøfteklasse" substitutionGroup="nvdb:AbstraktGrøfteklasse" type="nvdb:GrøfteklasseType">
    <annotation>
      <documentation>832: Angir hvilken grøfteklasse den gitte strekningen tilhører</documentation>
    </annotation>
  </element>
  <complexType name="GrøfteklasseType">
    <complexContent>
      <extension base="nvdb:AbstraktGrøfteklasseType">
        <sequence>
          <element minOccurs="0" name="grøfteklasse" type="nvdb:GrøfteklasseGrøfteklasseType">
            <annotation>
              <documentation>9422: Angir hvilken grøfteklasse som gjelder på denne strekningen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GrøfteklassePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Grøfteklasse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="GrøfteklasseGrøfteklasseType">
    <annotation>
      <documentation>9422: Angir hvilken grøfteklasse som gjelder på denne strekningen.</documentation>
    </annotation>
    <union memberTypes="nvdb:GrøfteklasseGrøfteklasseEnumerationType nvdb:GrøfteklasseGrøfteklasseOtherType"/>
  </simpleType>
  <simpleType name="GrøfteklasseGrøfteklasseEnumerationType">
    <annotation>
      <documentation>9422: Angir hvilken grøfteklasse som gjelder på denne strekningen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="grøfteklasse1">
        <annotation>
          <documentation>13274: Vegstrekning har grøfter hvor krav til utforming har vært mindre strenge enn det som gjelder for grøfter på vegstrekninger som tilhører grøfteklasse 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grøfteklasse2">
        <annotation>
          <documentation>13276: Vegstrekning har grøfter hvor krav til utforming har vært strengere enn det som gjelder for grøfter på vegstrekninger som tilhører grøfteklasse 1</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GrøfteklasseGrøfteklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
