GML/833.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>833: Strekning hvor det er forbikjøringsmulighet i henhold til krav i Håndbok N100 (017).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Forbikjøringsstrekning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:ForbikjøringsstrekningType">
      <annotation>
         <documentation>833: Strekning hvor det er forbikjøringsmulighet i henhold til krav i Håndbok N100 (017).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">833</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbikjøringsstrekning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="ForbikjøringsstrekningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="navn" type="string">
                  <annotation>
                     <documentation>9423: Angir navn. Kan benyttes for å kople mot detaljinformasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9423</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="beskrivelse" type="string">
                  <annotation>
                     <documentation>9424: Gir informasjon om forbikjøringsstrekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9424</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ForbikjøringsstrekningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Forbikjøringsstrekning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
