GML/834.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>834: Angir tilstand og skade knyttet til en bergskjæring.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="FareForNedfallTilstandskade, bergskjæringType">
      <annotation>
         <documentation>9445: Angir om det er fare for fremtidig nedfall fra bergskjæring.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9445</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fare for nedfall</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FareForNedfallTilstandskade, bergskjæringEnumerationType nvdb:FareForNedfallTilstandskade, bergskjæringOtherType"/>
   </simpleType>
   <simpleType name="FareForNedfallTilstandskade, bergskjæringEnumerationType">
      <annotation>
         <documentation>9445: Angir om det er fare for fremtidig nedfall fra bergskjæring.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9445</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fare for nedfall</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13303</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="J3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13305</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, inntil 10 kbm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="J2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13304</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, inntil 5 kbm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="J4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13306</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, mer enn 10 kbm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13302</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FareForNedfallTilstandskade, bergskjæringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ObservertNedfallTilstandskade, bergskjæringType">
      <annotation>
         <documentation>9441: Angir om det er observert nedfall fra skjæring, og indikasjon på omfang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9441</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Observert nedfall</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ObservertNedfallTilstandskade, bergskjæringEnumerationType nvdb:ObservertNedfallTilstandskade, bergskjæringOtherType"/>
   </simpleType>
   <simpleType name="ObservertNedfallTilstandskade, bergskjæringEnumerationType">
      <annotation>
         <documentation>9441: Angir om det er observert nedfall fra skjæring, og indikasjon på omfang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9441</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Observert nedfall</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13292</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, 0-1 kbm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="J2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13293</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, 1-5 kbm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="J3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13294</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, &gt; 5 kbm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13291</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ObservertNedfallTilstandskade, bergskjæringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandTilstandskade, bergskjæringType">
      <annotation>
         <documentation>9444: Angir tilstand på gitt tidspunkt. EU-kategorier.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9444</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandTilstandskade, bergskjæringEnumerationType nvdb:TilstandTilstandskade, bergskjæringOtherType"/>
   </simpleType>
   <simpleType name="TilstandTilstandskade, bergskjæringEnumerationType">
      <annotation>
         <documentation>9444: Angir tilstand på gitt tidspunkt. EU-kategorier.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9444</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13298</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0-God kvalitet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13299</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1-Middels kvalitet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13300</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2-Dårlig kvalitet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13301</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3-Svært dårlig kvalitet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandTilstandskade, bergskjæringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tilstandskade, bergskjæring"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandskade, bergskjæringType">
      <annotation>
         <documentation>834: Angir tilstand og skade knyttet til en bergskjæring.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">834</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandskade, bergskjæring</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandskade, bergskjæringType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="observertNedfall">
                  <annotation>
                     <documentation>9441: Angir om det er observert nedfall fra skjæring, og indikasjon på omfang.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9441</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Observert nedfall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="fareForNedfall">
                  <annotation>
                     <documentation>9445: Angir om det er fare for fremtidig nedfall fra bergskjæring.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9445</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fare for nedfall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vannISkjæring">
                  <annotation>
                     <documentation>9442: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9442</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vann i skjæring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tilstand" type="nvdb:TilstandTilstandskade, bergskjæringType">
                  <annotation>
                     <documentation>9444: Angir tilstand på gitt tidspunkt. EU-kategorier.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9444</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tiltakNår">
                  <annotation>
                     <documentation>9465: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9465</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="datoKontrollert" type="date">
                  <annotation>
                     <documentation>9463: Angir dato for når kontroll ble foretatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9463</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kontrollertAv" type="string">
                  <annotation>
                     <documentation>9464: Angir hvem som er ansvarlig for kontroll. Det skal her angis organisasjonsenhet/firma, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9464</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kontrollert av</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>9443: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9443</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9542: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9542</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandskade, bergskjæringPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandskade, bergskjæring"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TiltakNårTilstandskade, bergskjæringType">
      <annotation>
         <documentation>9465: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9465</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TiltakNårTilstandskade, bergskjæringEnumerationType nvdb:TiltakNårTilstandskade, bergskjæringOtherType"/>
   </simpleType>
   <simpleType name="TiltakNårTilstandskade, bergskjæringEnumerationType">
      <annotation>
         <documentation>9465: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9465</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13350</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1 år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13349</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1-2 år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13352</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">14 dager</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13351</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3 mnd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="&gt;2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13348</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">&gt; 2år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ps">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13347</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">på sikt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13353</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Straks</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TiltakNårTilstandskade, bergskjæringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VannISkjæringTilstandskade, bergskjæringType">
      <annotation>
         <documentation>9442: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9442</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vann i skjæring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VannISkjæringTilstandskade, bergskjæringEnumerationType nvdb:VannISkjæringTilstandskade, bergskjæringOtherType"/>
   </simpleType>
   <simpleType name="VannISkjæringTilstandskade, bergskjæringEnumerationType">
      <annotation>
         <documentation>9442: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9442</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vann i skjæring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13296</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fuktig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13295</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rennende vann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13297</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tørt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VannISkjæringTilstandskade, bergskjæringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
