GML/834.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.22">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="FareForNedfallType">
    <annotation>
      <documentation>9445: Angir om det er fare for fremtidig nedfall fra fjellskjæring</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9445</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9445</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fare for nedfall</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FareForNedfallEnumerationType nvdb:FareForNedfallOtherType"/>
  </simpleType>
  <simpleType name="FareForNedfallEnumerationType">
    <annotation>
      <documentation>9445: Angir om det er fare for fremtidig nedfall fra fjellskjæring</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9445</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9445</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fare for nedfall</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Nei">
        <annotation>
          <documentation>13302: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13302</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja">
        <annotation>
          <documentation>13303: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13303</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, inntil 5 kbm">
        <annotation>
          <documentation>13304: Ja, inntil 5 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13304</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja, inntil 5 kbm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, inntil 10 kbm">
        <annotation>
          <documentation>13305: Ja, inntil 10 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13305</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja, inntil 10 kbm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, mer enn 10 kbm">
        <annotation>
          <documentation>13306: Ja, mer enn 10 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13306</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja, mer enn 10 kbm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FareForNedfallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ObservertNedfallType">
    <annotation>
      <documentation>9441: Angir om det er observert nedfall fra skjæring, og indikasjon på omfang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9441</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9441</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Observert nedfall</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ObservertNedfallEnumerationType nvdb:ObservertNedfallOtherType"/>
  </simpleType>
  <simpleType name="ObservertNedfallEnumerationType">
    <annotation>
      <documentation>9441: Angir om det er observert nedfall fra skjæring, og indikasjon på omfang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9441</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9441</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Observert nedfall</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Nei">
        <annotation>
          <documentation>13291: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13291</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, 0-1 kbm">
        <annotation>
          <documentation>13292: Ja, 0-1 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13292</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja, 0-1 kbm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, 1-5 kbm">
        <annotation>
          <documentation>13293: Ja, 1-5 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13293</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja, 1-5 kbm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, &gt; 5 kbm">
        <annotation>
          <documentation>13294: Ja, &gt; 5 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13294</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja, &gt; 5 kbm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ObservertNedfallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkade_Fjellskjæring" substitutionGroup="nvdb:AbstraktTilstandSkade_Fjellskjæring" type="nvdb:TilstandSkade_FjellskjæringType">
    <annotation>
      <documentation>834: Angir tilstand og skade knyttet til en fjellskjæring</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">834</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">834</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilstand/skade, fjellskjæring</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TilstandSkade_FjellskjæringType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkade_FjellskjæringType">
        <sequence>
          <element minOccurs="0" name="observertNedfall" type="nvdb:ObservertNedfallType">
            <annotation>
              <documentation>9441: Angir om det er observert nedfall fra skjæring, og indikasjon på omfang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9441</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Observert nedfall</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fareForNedfall" type="nvdb:FareForNedfallType">
            <annotation>
              <documentation>9445: Angir om det er fare for fremtidig nedfall fra fjellskjæring</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9445</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fare for nedfall</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vannISkjæring" type="nvdb:VannISkjæringType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9442</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vann i skjæring</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstand" type="nvdb:TilstandTilstandSkade_FjellskjæringType">
            <annotation>
              <documentation>9444: Angir tilstand på gitt tidspunkt. EU-kategorier</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9444</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilstand</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltakNår" type="nvdb:TiltakNårTilstandSkade_FjellskjæringType">
            <annotation>
              <documentation>9465: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9465</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tiltak når</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>9463: Angir dato for når kontroll ble foretatt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9463</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dato kontrollert</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kontrollertAv" type="string">
            <annotation>
              <documentation>9464: Angir hvem som er ansvarlig for kontroll</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9464</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kontrollert av</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9443: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9443</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9542: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9542</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, linje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkjæring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkjæring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkade_FjellskjæringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkade_Fjellskjæring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilstandTilstandSkade_FjellskjæringType">
    <annotation>
      <documentation>9444: Angir tilstand på gitt tidspunkt. EU-kategorier</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9444</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9444</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilstand</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandTilstandSkade_FjellskjæringEnumerationType nvdb:TilstandTilstandSkade_FjellskjæringOtherType"/>
  </simpleType>
  <simpleType name="TilstandTilstandSkade_FjellskjæringEnumerationType">
    <annotation>
      <documentation>9444: Angir tilstand på gitt tidspunkt. EU-kategorier</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9444</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9444</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilstand</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0-God kvalitet">
        <annotation>
          <documentation>13298: 0-God kvalitet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13298</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">0-God kvalitet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1-Middels kvalitet">
        <annotation>
          <documentation>13299: 1-Middels kvalitet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13299</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">1-Middels kvalitet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2-Dårlig kvalitet">
        <annotation>
          <documentation>13300: 2-Dårlig kvalitet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13300</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">2-Dårlig kvalitet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3-Svært dårlig kvalitet">
        <annotation>
          <documentation>13301: 3-Svært dårlig kvalitet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13301</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">3-Svært dårlig kvalitet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandTilstandSkade_FjellskjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkade_FjellskjæringType">
    <annotation>
      <documentation>9465: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9465</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9465</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tiltak når</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TiltakNårTilstandSkade_FjellskjæringEnumerationType nvdb:TiltakNårTilstandSkade_FjellskjæringOtherType"/>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkade_FjellskjæringEnumerationType">
    <annotation>
      <documentation>9465: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9465</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9465</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tiltak når</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Straks">
        <annotation>
          <documentation>13353: Straks</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13353</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Straks</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="14 dager">
        <annotation>
          <documentation>13352: 14 dager</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13352</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">14 dager</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3 mnd">
        <annotation>
          <documentation>13351: 3 mnd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13351</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">3 mnd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1 år">
        <annotation>
          <documentation>13350: 1 år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13350</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">1 år</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1-2 år">
        <annotation>
          <documentation>13349: 1-2 år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13349</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">1-2 år</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&gt; 2år">
        <annotation>
          <documentation>13348: &gt; 2år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13348</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">&gt; 2år</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="på sikt">
        <annotation>
          <documentation>13347: på sikt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13347</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">på sikt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkade_FjellskjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VannISkjæringType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9442</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9442</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vann i skjæring</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VannISkjæringEnumerationType nvdb:VannISkjæringOtherType"/>
  </simpleType>
  <simpleType name="VannISkjæringEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9442</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9442</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vann i skjæring</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Rennende vann">
        <annotation>
          <documentation>13295: Rennende vann</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13295</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rennende vann</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fuktig">
        <annotation>
          <documentation>13296: Fuktig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13296</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fuktig</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tørt">
        <annotation>
          <documentation>13297: Tørt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13297</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tørt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VannISkjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
