GML/834.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="FareForNedfallType">
    <annotation>
      <documentation>9445: Angir om det er fare for fremtidig nedfall fra bergskjæring.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9445</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9445</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fare for nedfall</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FareForNedfallEnumerationType nvdb:FareForNedfallOtherType"/>
  </simpleType>
  <simpleType name="FareForNedfallEnumerationType">
    <annotation>
      <documentation>9445: Angir om det er fare for fremtidig nedfall fra bergskjæring.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9445</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9445</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fare for nedfall</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Nei">
        <annotation>
          <documentation>13302: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13302</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja">
        <annotation>
          <documentation>13303: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13303</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, inntil 5 kbm">
        <annotation>
          <documentation>13304: Ja, inntil 5 kbm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13304</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, inntil 5 kbm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, inntil 10 kbm">
        <annotation>
          <documentation>13305: Ja, inntil 10 kbm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13305</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, inntil 10 kbm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, mer enn 10 kbm">
        <annotation>
          <documentation>13306: Ja, mer enn 10 kbm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13306</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, mer enn 10 kbm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FareForNedfallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ObservertNedfallType">
    <annotation>
      <documentation>9441: Angir om det er observert nedfall fra skjæring, og indikasjon på omfang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9441</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9441</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Observert nedfall</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ObservertNedfallEnumerationType nvdb:ObservertNedfallOtherType"/>
  </simpleType>
  <simpleType name="ObservertNedfallEnumerationType">
    <annotation>
      <documentation>9441: Angir om det er observert nedfall fra skjæring, og indikasjon på omfang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9441</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9441</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Observert nedfall</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Nei">
        <annotation>
          <documentation>13291: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13291</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, 0-1 kbm">
        <annotation>
          <documentation>13292: Ja, 0-1 kbm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13292</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, 0-1 kbm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, 1-5 kbm">
        <annotation>
          <documentation>13293: Ja, 1-5 kbm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13293</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, 1-5 kbm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, &gt; 5 kbm">
        <annotation>
          <documentation>13294: Ja, &gt; 5 kbm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13294</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, &gt; 5 kbm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ObservertNedfallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkade_Bergskjæring" substitutionGroup="nvdb:AbstraktTilstandSkade_Bergskjæring" type="nvdb:TilstandSkade_BergskjæringType">
    <annotation>
      <documentation>834: Angir tilstand og skade knyttet til en bergskjæring.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">834</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">834</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand/skade, bergskjæring</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TilstandSkade_BergskjæringType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandSkade_BergskjæringType">
        <sequence>
          <element minOccurs="0" name="observertNedfall" type="nvdb:ObservertNedfallType">
            <annotation>
              <documentation>9441: Angir om det er observert nedfall fra skjæring, og indikasjon på omfang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9441</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Observert nedfall</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fareForNedfall" type="nvdb:FareForNedfallType">
            <annotation>
              <documentation>9445: Angir om det er fare for fremtidig nedfall fra bergskjæring.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9445</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fare for nedfall</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vannISkjæring" type="nvdb:VannISkjæringType">
            <annotation>
              <documentation>9442: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9442</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vann i skjæring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstand" type="nvdb:TilstandTilstandSkade_BergskjæringType">
            <annotation>
              <documentation>9444: Angir tilstand på gitt tidspunkt. EU-kategorier.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9444</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltakNår" type="nvdb:TiltakNårTilstandSkade_BergskjæringType">
            <annotation>
              <documentation>9465: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9465</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>9463: Angir dato for når kontroll ble foretatt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9463</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dato kontrollert</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kontrollertAv" type="string">
            <annotation>
              <documentation>9464: Angir hvem som er ansvarlig for kontroll.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9464</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kontrollert av</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9443: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9443</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9542: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9542</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkjæring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkjæring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkade_BergskjæringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkade_Bergskjæring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilstandTilstandSkade_BergskjæringType">
    <annotation>
      <documentation>9444: Angir tilstand på gitt tidspunkt. EU-kategorier.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9444</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9444</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandTilstandSkade_BergskjæringEnumerationType nvdb:TilstandTilstandSkade_BergskjæringOtherType"/>
  </simpleType>
  <simpleType name="TilstandTilstandSkade_BergskjæringEnumerationType">
    <annotation>
      <documentation>9444: Angir tilstand på gitt tidspunkt. EU-kategorier.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9444</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9444</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0-God kvalitet">
        <annotation>
          <documentation>13298: 0-God kvalitet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13298</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0-God kvalitet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1-Middels kvalitet">
        <annotation>
          <documentation>13299: 1-Middels kvalitet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13299</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1-Middels kvalitet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2-Dårlig kvalitet">
        <annotation>
          <documentation>13300: 2-Dårlig kvalitet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13300</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2-Dårlig kvalitet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3-Svært dårlig kvalitet">
        <annotation>
          <documentation>13301: 3-Svært dårlig kvalitet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13301</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3-Svært dårlig kvalitet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandTilstandSkade_BergskjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkade_BergskjæringType">
    <annotation>
      <documentation>9465: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9465</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9465</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TiltakNårTilstandSkade_BergskjæringEnumerationType nvdb:TiltakNårTilstandSkade_BergskjæringOtherType"/>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkade_BergskjæringEnumerationType">
    <annotation>
      <documentation>9465: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9465</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9465</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tiltak når</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Straks">
        <annotation>
          <documentation>13353: Straks</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13353</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Straks</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="14 dager">
        <annotation>
          <documentation>13352: 14 dager</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13352</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">14 dager</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3 mnd">
        <annotation>
          <documentation>13351: 3 mnd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13351</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3 mnd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1 år">
        <annotation>
          <documentation>13350: 1 år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13350</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1 år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1-2 år">
        <annotation>
          <documentation>13349: 1-2 år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13349</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1-2 år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&gt; 2år">
        <annotation>
          <documentation>13348: &gt; 2år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13348</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">&gt; 2år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="på sikt">
        <annotation>
          <documentation>13347: på sikt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13347</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">på sikt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkade_BergskjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VannISkjæringType">
    <annotation>
      <documentation>9442: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9442</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9442</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vann i skjæring</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VannISkjæringEnumerationType nvdb:VannISkjæringOtherType"/>
  </simpleType>
  <simpleType name="VannISkjæringEnumerationType">
    <annotation>
      <documentation>9442: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9442</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9442</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vann i skjæring</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Rennende vann">
        <annotation>
          <documentation>13295: Rennende vann</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13295</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rennende vann</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fuktig">
        <annotation>
          <documentation>13296: Fuktig</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13296</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fuktig</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tørt">
        <annotation>
          <documentation>13297: Tørt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13297</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tørt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VannISkjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
