GML/835.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AdkomstFraTilType">
    <annotation>
      <documentation>9457: Angir hva det er adkomst til og fra hvor.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9457</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9457</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Adkomst fra til</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AdkomstFraTilEnumerationType nvdb:AdkomstFraTilOtherType"/>
  </simpleType>
  <simpleType name="AdkomstFraTilEnumerationType">
    <annotation>
      <documentation>9457: Angir hva det er adkomst til og fra hvor.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9457</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9457</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Adkomst fra til</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Biloppstilling - Toalettanlegg">
        <annotation>
          <documentation>13335: Adkomst fra biloppstillingsplass (parkeringsområde) til lekeapparat. Aktuelt for rasteplass og ferjeleie.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13335</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Biloppstilling - Toalettanlegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Biloppstilling - Utemøbler">
        <annotation>
          <documentation>13336: Adkomst fra biloppstillingsplass (parkeringsområde) til utemøbler. Aktuelt for rasteplass og ferjeleie.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13336</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Biloppstilling - Utemøbler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Biloppstilling - Lekeapparat">
        <annotation>
          <documentation>13337: Adkomst fra biloppstillingsplass til lekeapparat. Aktuelt for rasteplass.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13337</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Biloppstilling - Lekeapparat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Biloppstilling - Ferje, ombordstigningssted">
        <annotation>
          <documentation>13338: Adkomst fra biloppstillingsplass (parkeringsområde) til sted hvor en går om bord i ferje.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13338</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Biloppstilling - Ferje, ombordstigningssted</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Biloppstilling - Venterom">
        <annotation>
          <documentation>13339: Adkomst fra biloppstillingsplass (parkeringsområde) til venterom. Aktuelt for ferjeleie,</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13339</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Biloppstilling - Venterom</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Venterom - Ferje, ombordstigningssted">
        <annotation>
          <documentation>13377: Adkomst fra venterom til sted hvor en går ombor i ferje. Aktuelt for ferjeleie.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13377</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Venterom - Ferje, ombordstigningssted</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Biloppstilling - Holdeplass">
        <annotation>
          <documentation>17250: Adkamst fra biloppstillingsplass (parkeringsområde) til holdeplass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17250</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Biloppstilling - Holdeplass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Holdeplass - Ferje, ombordstigningssted">
        <annotation>
          <documentation>13375: Adkomst fra holdeplass til sted hvor en går ombord i ferje.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13375</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Holdeplass - Ferje, ombordstigningssted</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Holdeplass - Venterom">
        <annotation>
          <documentation>13376: Adkomst fra holdeplass til venterom. Aktuelt for ferjeleie.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13376</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Holdeplass - Venterom</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Holdeplass - framover">
        <annotation>
          <documentation>17269: Adkomst, på samme side som holdeplassen, som fortsetter fra holdeplassen i samme retning som bussen kjører.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17269</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Holdeplass - framover</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Holdeplass - bakover">
        <annotation>
          <documentation>17270: Adkomst, på samme side som holdeplassen, som fortsetter fra holdeplassen i motsatt retning av det bussen kjører.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17270</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Holdeplass - bakover</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Holdeplass - mot høyre">
        <annotation>
          <documentation>17271: Adkomst, på samme side som holdeplassen, som går mot høyre i forhold til den retningen  bussen kjører.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17271</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Holdeplass - mot høyre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Holdeplass - mot venstre">
        <annotation>
          <documentation>17272: Adkomst som krysser fra holdeplass og mot venstre over eller under veg sett i forhold til retning bussen kjører.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17272</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Holdeplass - mot venstre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AdkomstFraTilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BelegningGangadkomstType">
    <annotation>
      <documentation>10686: Angir hvilken type belegning gangadkomsten har. Angi det som er mest av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10686</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10686</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelegningGangadkomstEnumerationType nvdb:BelegningGangadkomstOtherType"/>
  </simpleType>
  <simpleType name="BelegningGangadkomstEnumerationType">
    <annotation>
      <documentation>10686: Angir hvilken type belegning gangadkomsten har. Angi det som er mest av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10686</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10686</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Asfalt">
        <annotation>
          <documentation>17252: Asfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17252</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>17253: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17253</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongstein">
        <annotation>
          <documentation>17254: Betongstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17254</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Naturstein, brostein">
        <annotation>
          <documentation>17255: Naturstein, brostein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17255</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturstein, brostein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grus">
        <annotation>
          <documentation>17256: Grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17256</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelegningGangadkomstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BelysningGangadkomstType">
    <annotation>
      <documentation>10730: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10730</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10730</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelysningGangadkomstEnumerationType nvdb:BelysningGangadkomstOtherType"/>
  </simpleType>
  <simpleType name="BelysningGangadkomstEnumerationType">
    <annotation>
      <documentation>10730: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10730</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10730</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>17379: Egen belysning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17379</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Delvis">
        <annotation>
          <documentation>17380: Gangadkomst er delvis belyst. Kan f.eks være belyst fra trafikkert område i nærheten eller at kun en viss del av gangadkomst er belyst.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17380</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Delvis</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>17381: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17381</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelysningGangadkomstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DekkekvalitetType">
    <annotation>
      <documentation>9886: Dekkekvalitet på gangadkomst.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9886</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9886</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dekkekvalitet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DekkekvalitetEnumerationType nvdb:DekkekvalitetOtherType"/>
  </simpleType>
  <simpleType name="DekkekvalitetEnumerationType">
    <annotation>
      <documentation>9886: Dekkekvalitet på gangadkomst.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9886</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9886</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dekkekvalitet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="God">
        <annotation>
          <documentation>16066: Fast og jevnt dekke med maks 2 cm terskler/nivåforskjeller</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16066</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">God</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Middels">
        <annotation>
          <documentation>16067: Noe ujevnheter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16067</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Middels</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dårlig">
        <annotation>
          <documentation>16068: Svært ujevnt eller ikke fast dekke</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16068</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dårlig</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekkekvalitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Gangadkomst" substitutionGroup="nvdb:AbstraktGangadkomst" type="nvdb:GangadkomstType">
    <annotation>
      <documentation>835: Beskriver hvordan hovedadkomst for gående er utformet, dette gjelder adkomst fra biloppstilling/kollektivtrafikk til angitt funksjon/sted innenfor tilhørende område</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">835</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">835</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gangadkomst</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="GangadkomstType">
    <complexContent>
      <extension base="nvdb:AbstraktGangadkomstType">
        <sequence>
          <element name="adkomstFraTil" type="nvdb:AdkomstFraTilType">
            <annotation>
              <documentation>9457: Angir hva det er adkomst til og fra hvor.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9457</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Adkomst fra til</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="minstebredde" type="integer">
            <annotation>
              <documentation>9887: Minste bredde på gangadkomst.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9887</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Minstebredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belysning" type="nvdb:BelysningGangadkomstType">
            <annotation>
              <documentation>10730: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10730</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkekvalitet" type="nvdb:DekkekvalitetType">
            <annotation>
              <documentation>9886: Dekkekvalitet på gangadkomst.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9886</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dekkekvalitet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="punkthinder" type="nvdb:PunkthinderGangadkomstType">
            <annotation>
              <documentation>9888: Angir om det finnes hindringer i form av stolper, skilt, benker etc som reduseres minste frie bredde langs gangadkomst.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9888</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Punkthinder</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nivåforskjell" type="nvdb:NivåforskjellType">
            <annotation>
              <documentation>9458: Angir om det er nivåforskjell mellom fra- og tilsted.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9458</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Nivåforskjell</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stigning" type="nvdb:StigningType">
            <annotation>
              <documentation>9459: Angir største stingingsgrad mellom fra- og tilsted.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9459</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Stigning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belegning" type="nvdb:BelegningGangadkomstType">
            <annotation>
              <documentation>10686: Angir hvilken type belegning gangadkomsten har. Angi det som er mest av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10686</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>9461: Permanent merknad til aktuell forekomst.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9461</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10299: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10299</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9462: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9462</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFerjekai" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFerjekai</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRasteplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktRasteplass</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHoldeplassutrustning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHoldeplassutrustning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GangadkomstPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Gangadkomst"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="NivåforskjellType">
    <annotation>
      <documentation>9458: Angir om det er nivåforskjell mellom fra- og tilsted.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9458</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9458</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Nivåforskjell</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NivåforskjellEnumerationType nvdb:NivåforskjellOtherType"/>
  </simpleType>
  <simpleType name="NivåforskjellEnumerationType">
    <annotation>
      <documentation>9458: Angir om det er nivåforskjell mellom fra- og tilsted.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9458</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9458</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Nivåforskjell</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Nei, under 2,5 cm">
        <annotation>
          <documentation>13340: Nei, under 2,5 cm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13340</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei, under 2,5 cm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, over 2,5 cm">
        <annotation>
          <documentation>13341: Ja, over 2,5 cm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13341</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, over 2,5 cm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NivåforskjellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PunkthinderGangadkomstType">
    <annotation>
      <documentation>9888: Angir om det finnes hindringer i form av stolper, skilt, benker etc som reduseres minste frie bredde langs gangadkomst.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9888</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9888</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Punkthinder</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PunkthinderGangadkomstEnumerationType nvdb:PunkthinderGangadkomstOtherType"/>
  </simpleType>
  <simpleType name="PunkthinderGangadkomstEnumerationType">
    <annotation>
      <documentation>9888: Angir om det finnes hindringer i form av stolper, skilt, benker etc som reduseres minste frie bredde langs gangadkomst.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9888</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9888</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Punkthinder</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16064: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16064</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16065: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16065</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PunkthinderGangadkomstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StigningType">
    <annotation>
      <documentation>9459: Angir største stingingsgrad mellom fra- og tilsted.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9459</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9459</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Stigning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StigningEnumerationType nvdb:StigningOtherType"/>
  </simpleType>
  <simpleType name="StigningEnumerationType">
    <annotation>
      <documentation>9459: Angir største stingingsgrad mellom fra- og tilsted.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9459</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9459</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Stigning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Slakere enn 1:20">
        <annotation>
          <documentation>13342: Slakere enn 1:20</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13342</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Slakere enn 1:20</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Slakere enn 1:15">
        <annotation>
          <documentation>13343: Slakere enn 1:15</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13343</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Slakere enn 1:15</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Slakere enn 1:12">
        <annotation>
          <documentation>13356: Slakere enn 1:12</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13356</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Slakere enn 1:12</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brattere enn 1:12">
        <annotation>
          <documentation>13344: Brattere enn 1:12</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13344</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brattere enn 1:12</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StigningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
