GML/835.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AdkomstFraTilType">
    <annotation>
      <documentation>9457: Angir hva det er adkomst til og fra hvor</documentation>
    </annotation>
    <union memberTypes="nvdb:AdkomstFraTilEnumerationType nvdb:AdkomstFraTilOtherType"/>
  </simpleType>
  <simpleType name="AdkomstFraTilEnumerationType">
    <annotation>
      <documentation>9457: Angir hva det er adkomst til og fra hvor</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="biloppstilling_Toalettanlegg">
        <annotation>
          <documentation>13335: Adkomst fra biloppstillingsplass (parkeringsområde) til lekeapparat. Aktuelt for rasteplass og ferjeleie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="biloppstilling_Utemøbler">
        <annotation>
          <documentation>13336: Adkomst fra biloppstillingsplass (parkeringsområde) til utemøbler. Aktuelt for rasteplass og ferjeleie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="biloppstilling_Lekeapparat">
        <annotation>
          <documentation>13337: Adkomst fra biloppstillingsplass til lekeapparat. Aktuelt for rasteplass.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="biloppstilling_Ferje_Ombordstigningssted">
        <annotation>
          <documentation>13338: Adkomst fra biloppstillingsplass (parkeringsområde) til sted hvor en går om bord i ferje.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="biloppstilling_Venterom">
        <annotation>
          <documentation>13339: Adkomst fra biloppstillingsplass (parkeringsområde) til venterom. Aktuelt for ferjeleie,</documentation>
        </annotation>
      </enumeration>
      <enumeration value="venterom_Ferje_Ombordstigningssted">
        <annotation>
          <documentation>13377: Adkomst fra venterom til sted hvor en går ombor i ferje. Aktuelt for ferjeleie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="biloppstilling_Holdeplass">
        <annotation>
          <documentation>17250: Adkamst fra biloppstillingsplass (parkeringsområde) til holdeplass</documentation>
        </annotation>
      </enumeration>
      <enumeration value="holdeplass_Ferje_Ombordstigningssted">
        <annotation>
          <documentation>13375: Adkomst fra holdeplass til sted hvor en går ombord i ferje.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="holdeplass_Venterom">
        <annotation>
          <documentation>13376: Adkomst fra holdeplass til venterom. Aktuelt for ferjeleie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="holdeplass_Framover">
        <annotation>
          <documentation>17269: Adkomst, på samme side som holdeplassen, som fortsetter fra holdeplassen i samme retning som bussen kjører.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="holdeplass_Bakover">
        <annotation>
          <documentation>17270: Adkomst, på samme side som holdeplassen, som fortsetter fra holdeplassen i motsatt retning av det bussen kjører.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="holdeplass_MotHøyre">
        <annotation>
          <documentation>17271: Adkomst, på samme side som holdeplassen, som går mot høyre i forhold til den retningen  bussen kjører.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="holdeplass_MotVenstre">
        <annotation>
          <documentation>17272: Adkomst som krysser fra holdeplass og mot venstre over eller under veg sett i forhold til retning bussen kjører.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AdkomstFraTilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BelegningGangadkomstType">
    <annotation>
      <documentation>10686: Angir hvilken type belegning gangadkomsten har. Angi det som er mest av.</documentation>
    </annotation>
    <union memberTypes="nvdb:BelegningGangadkomstEnumerationType nvdb:BelegningGangadkomstOtherType"/>
  </simpleType>
  <simpleType name="BelegningGangadkomstEnumerationType">
    <annotation>
      <documentation>10686: Angir hvilken type belegning gangadkomsten har. Angi det som er mest av.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="asfalt">
        <annotation>
          <documentation>17252: Asfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>17253: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>17254: Betongstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="naturstein_Brostein">
        <annotation>
          <documentation>17255: Naturstein, brostein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grus">
        <annotation>
          <documentation>17256: Grus</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelegningGangadkomstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BelysningGangadkomstType">
    <union memberTypes="nvdb:BelysningGangadkomstEnumerationType nvdb:BelysningGangadkomstOtherType"/>
  </simpleType>
  <simpleType name="BelysningGangadkomstEnumerationType">
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>17379: Egen belysning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="delvis">
        <annotation>
          <documentation>17380: Gangadkomst er delvis belyst. Kan f.eks være belyst fra trafikkert område i nærheten eller at kun en viss del av gangadkomst er belyst.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>17381: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelysningGangadkomstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DekkekvalitetType">
    <annotation>
      <documentation>9886: Dekkekvalitet på gangadkomst</documentation>
    </annotation>
    <union memberTypes="nvdb:DekkekvalitetEnumerationType nvdb:DekkekvalitetOtherType"/>
  </simpleType>
  <simpleType name="DekkekvalitetEnumerationType">
    <annotation>
      <documentation>9886: Dekkekvalitet på gangadkomst</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="god">
        <annotation>
          <documentation>16066: Fast og jevnt dekke med maks 2 cm terskler/nivåforskjeller</documentation>
        </annotation>
      </enumeration>
      <enumeration value="middels">
        <annotation>
          <documentation>16067: Noe ujevnheter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dårlig">
        <annotation>
          <documentation>16068: Svært ujevnt eller ikke fast dekke</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekkekvalitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Gangadkomst" substitutionGroup="nvdb:AbstraktGangadkomst" type="nvdb:GangadkomstType">
    <annotation>
      <documentation>835: Beskriver hvordan hovedadkomst for gående er utformet, dette gjelder adkomst fra biloppstilling/kollektivtrafikk til angitt funksjon/sted innenfor tilhørende område</documentation>
    </annotation>
  </element>
  <complexType name="GangadkomstType">
    <complexContent>
      <extension base="nvdb:AbstraktGangadkomstType">
        <sequence>
          <element name="adkomstFraTil" type="nvdb:AdkomstFraTilType">
            <annotation>
              <documentation>9457: Angir hva det er adkomst til og fra hvor</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="minstebredde" type="integer">
            <annotation>
              <documentation>9887: Minste bredde på gangadkomst
Enhet: Centimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="belysning" type="nvdb:BelysningGangadkomstType"/>
          <element minOccurs="0" name="dekkekvalitet" type="nvdb:DekkekvalitetType">
            <annotation>
              <documentation>9886: Dekkekvalitet på gangadkomst</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="punkthinder" type="nvdb:PunkthinderGangadkomstType">
            <annotation>
              <documentation>9888: Angir om det finnes hindringer i form av stolper, skilt, benker etc som reduseres minste frie bredde langs gangadkomst</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nivåforskjell" type="nvdb:NivåforskjellType">
            <annotation>
              <documentation>9458: Angir om det er nivåforskjell mellom fra- og tilsted</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stigning" type="nvdb:StigningType">
            <annotation>
              <documentation>9459: Angir største stingingsgrad mellom fra- og tilsted</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="belegning" type="nvdb:BelegningGangadkomstType">
            <annotation>
              <documentation>10686: Angir hvilken type belegning gangadkomsten har. Angi det som er mest av.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>9461: Permanent merknad til aktuell forekomst</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10299: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9462: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GangadkomstPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Gangadkomst"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="NivåforskjellType">
    <annotation>
      <documentation>9458: Angir om det er nivåforskjell mellom fra- og tilsted</documentation>
    </annotation>
    <union memberTypes="nvdb:NivåforskjellEnumerationType nvdb:NivåforskjellOtherType"/>
  </simpleType>
  <simpleType name="NivåforskjellEnumerationType">
    <annotation>
      <documentation>9458: Angir om det er nivåforskjell mellom fra- og tilsted</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="nei_Under2_5Cm">
        <annotation>
          <documentation>13340: Nei, under 2,5 cm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ja_Over2_5Cm">
        <annotation>
          <documentation>13341: Ja, over 2,5 cm</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NivåforskjellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PunkthinderGangadkomstType">
    <annotation>
      <documentation>9888: Angir om det finnes hindringer i form av stolper, skilt, benker etc som reduseres minste frie bredde langs gangadkomst</documentation>
    </annotation>
    <union memberTypes="nvdb:PunkthinderGangadkomstEnumerationType nvdb:PunkthinderGangadkomstOtherType"/>
  </simpleType>
  <simpleType name="PunkthinderGangadkomstEnumerationType">
    <annotation>
      <documentation>9888: Angir om det finnes hindringer i form av stolper, skilt, benker etc som reduseres minste frie bredde langs gangadkomst</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16064: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16065: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PunkthinderGangadkomstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StigningType">
    <annotation>
      <documentation>9459: Angir største stingingsgrad mellom fra- og tilsted</documentation>
    </annotation>
    <union memberTypes="nvdb:StigningEnumerationType nvdb:StigningOtherType"/>
  </simpleType>
  <simpleType name="StigningEnumerationType">
    <annotation>
      <documentation>9459: Angir største stingingsgrad mellom fra- og tilsted</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="slakereEnn1til20">
        <annotation>
          <documentation>13342: Slakere enn 1:20</documentation>
        </annotation>
      </enumeration>
      <enumeration value="slakereEnn1til15">
        <annotation>
          <documentation>13343: Slakere enn 1:15</documentation>
        </annotation>
      </enumeration>
      <enumeration value="slakereEnn1til12">
        <annotation>
          <documentation>13356: Slakere enn 1:12</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brattereEnn1til12">
        <annotation>
          <documentation>13344: Brattere enn 1:12</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StigningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
