GML/835.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>835: Beskriver hvordan hovedadkomst for gående er utformet, dette gjelder adkomst fra biloppstilling/kollektivtrafikk til angitt funksjon/sted innenfor tilhørende område.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AdkomstFraTilGangadkomstType">
      <annotation>
         <documentation>9457: Angir hva det er adkomst til og fra hvor.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9457</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst fra til</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AdkomstFraTilGangadkomstEnumerationType nvdb:AdkomstFraTilGangadkomstOtherType"/>
   </simpleType>
   <simpleType name="AdkomstFraTilGangadkomstEnumerationType">
      <annotation>
         <documentation>9457: Angir hva det er adkomst til og fra hvor.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9457</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst fra til</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="BF">
            <annotation>
               <documentation>13338: Adkomst fra biloppstillingsplass (parkeringsområde) til sted hvor en går om bord i ferje.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13338</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Biloppstilling - Ferje, ombordstigningssted</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OH">
            <annotation>
               <documentation>17250: Adkomst fra biloppstillingsplass (parkeringsområde) til holdeplass.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17250</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Biloppstilling - Holdeplass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BL">
            <annotation>
               <documentation>13337: Adkomst fra biloppstillingsplass til lekeapparat. Aktuelt for rasteplass.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13337</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Biloppstilling - Lekeapparat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BT">
            <annotation>
               <documentation>13335: Adkomst fra biloppstillingsplass (parkeringsområde) til toalettanlegg. Aktuelt for rasteplass og ferjekai.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13335</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Biloppstilling - Toalettanlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BU">
            <annotation>
               <documentation>13336: Adkomst fra biloppstillingsplass (parkeringsområde) til utemøbler. Aktuelt for rasteplass og ferjekai.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13336</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Biloppstilling - Utemøbler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BV">
            <annotation>
               <documentation>13339: Adkomst fra biloppstillingsplass (parkeringsområde) til venterom. Aktuelt for ferjekai.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13339</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Biloppstilling - Venterom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="HB">
            <annotation>
               <documentation>17270: Adkomst, på samme side som holdeplassen, som fortsetter fra holdeplassen i motsatt retning av det bussen kjører.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17270</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Holdeplass - bakover</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="HF">
            <annotation>
               <documentation>13375: Adkomst fra holdeplass til sted hvor en går ombord i ferje.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13375</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Holdeplass - Ferje, ombordstigningssted</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Hf">
            <annotation>
               <documentation>17269: Adkomst, på samme side som holdeplassen, som fortsetter fra holdeplassen i samme retning som bussen kjører.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17269</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Holdeplass - framover</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Hh">
            <annotation>
               <documentation>17271: Adkomst, på samme side som holdeplassen, som går mot høyre i forhold til den retningen bussen kjører.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17271</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Holdeplass - mot høyre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Hv">
            <annotation>
               <documentation>17272: Adkomst som krysser fra holdeplass og mot venstre over eller under veg sett i forhold til retning bussen kjører.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17272</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Holdeplass - mot venstre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="HV">
            <annotation>
               <documentation>13376: Adkomst fra holdeplass til venterom. Aktuelt for ferjeleie.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13376</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Holdeplass - Venterom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VF">
            <annotation>
               <documentation>13377: Adkomst fra venterom til sted hvor en går ombord i ferje. Aktuelt for ferjekai.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13377</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Venterom - Ferje, ombordstigningssted</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AdkomstFraTilGangadkomstOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BelegningGangadkomstType">
      <annotation>
         <documentation>10686: Angir hvilken type belegning gangadkomsten har. Angi det som er mest av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10686</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelegningGangadkomstEnumerationType nvdb:BelegningGangadkomstOtherType"/>
   </simpleType>
   <simpleType name="BelegningGangadkomstEnumerationType">
      <annotation>
         <documentation>10686: Angir hvilken type belegning gangadkomsten har. Angi det som er mest av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10686</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17252</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17253</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17254</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17256</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17255</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturstein, brostein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelegningGangadkomstOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BelysningGangadkomstType">
      <annotation>
         <documentation>10730: Angir om gangadkomst er belyst.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10730</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelysningGangadkomstEnumerationType nvdb:BelysningGangadkomstOtherType"/>
   </simpleType>
   <simpleType name="BelysningGangadkomstEnumerationType">
      <annotation>
         <documentation>10730: Angir om gangadkomst er belyst.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10730</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="JT">
            <annotation>
               <documentation>17380: Gangadkomst er delvis belyst. Kan f.eks. være belyst fra trafikkert område i nærheten eller at kun en viss del av gangadkomst er belyst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17380</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Delvis</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="J">
            <annotation>
               <documentation>17379: Egen belysning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17379</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17381</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelysningGangadkomstOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="DekkekvalitetGangadkomstType">
      <annotation>
         <documentation>9886: Dekkekvalitet på gangadkomst.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9886</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dekkekvalitet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DekkekvalitetGangadkomstEnumerationType nvdb:DekkekvalitetGangadkomstOtherType"/>
   </simpleType>
   <simpleType name="DekkekvalitetGangadkomstEnumerationType">
      <annotation>
         <documentation>9886: Dekkekvalitet på gangadkomst.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9886</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dekkekvalitet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="d">
            <annotation>
               <documentation>16068: Svært ujevnt eller ikke fast dekke.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16068</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dårlig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <documentation>16066: Fast og jevnt dekke med maks 2 cm terskler/nivåforskjeller.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16066</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">God</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <documentation>16067: Noe ujevnheter.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16067</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Middels</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DekkekvalitetGangadkomstOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Gangadkomst"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:GangadkomstType">
      <annotation>
         <documentation>835: Beskriver hvordan hovedadkomst for gående er utformet, dette gjelder adkomst fra biloppstilling/kollektivtrafikk til angitt funksjon/sted innenfor tilhørende område.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">835</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gangadkomst</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="GangadkomstType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="adkomstFraTil">
                  <annotation>
                     <documentation>9457: Angir hva det er adkomst til og fra hvor.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9457</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Adkomst fra til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="minstebredde" type="double">
                  <annotation>
                     <documentation>9887: Minste bredde på gangadkomst.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9887</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Minstebredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="belysning" type="nvdb:BelysningGangadkomstType">
                  <annotation>
                     <documentation>10730: Angir om gangadkomst er belyst.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10730</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dekkekvalitet" type="nvdb:DekkekvalitetGangadkomstType">
                  <annotation>
                     <documentation>9886: Dekkekvalitet på gangadkomst.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9886</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dekkekvalitet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="punkthinder" type="nvdb:PunkthinderGangadkomstType">
                  <annotation>
                     <documentation>9888: Angir om det finnes hindringer i form av stolper, skilt, benker etc. som reduserer minste frie bredde langs gangadkomst.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9888</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Punkthinder</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="nivåforskjell" type="nvdb:NivåforskjellGangadkomstType">
                  <annotation>
                     <documentation>9458: Angir om det er nivåforskjell mellom fra- og tilsted.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9458</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nivåforskjell</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="stigning" type="nvdb:StigningGangadkomstType">
                  <annotation>
                     <documentation>9459: Angir største stigningsgrad mellom fra- og tilsted.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9459</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stigning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="belegning" type="nvdb:BelegningGangadkomstType">
                  <annotation>
                     <documentation>10686: Angir hvilken type belegning gangadkomsten har. Angi det som er mest av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10686</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>9461: Permanent merknad til aktuell forekomst.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9461</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10299: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10299</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9462: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9462</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="GangadkomstPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Gangadkomst"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="NivåforskjellGangadkomstType">
      <annotation>
         <documentation>9458: Angir om det er nivåforskjell mellom fra- og tilsted.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9458</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nivåforskjell</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NivåforskjellGangadkomstEnumerationType nvdb:NivåforskjellGangadkomstOtherType"/>
   </simpleType>
   <simpleType name="NivåforskjellGangadkomstEnumerationType">
      <annotation>
         <documentation>9458: Angir om det er nivåforskjell mellom fra- og tilsted.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9458</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nivåforskjell</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13341</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, over 2,5 cm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13340</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei, under 2,5 cm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NivåforskjellGangadkomstOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PunkthinderGangadkomstType">
      <annotation>
         <documentation>9888: Angir om det finnes hindringer i form av stolper, skilt, benker etc. som reduserer minste frie bredde langs gangadkomst.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9888</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Punkthinder</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PunkthinderGangadkomstEnumerationType nvdb:PunkthinderGangadkomstOtherType"/>
   </simpleType>
   <simpleType name="PunkthinderGangadkomstEnumerationType">
      <annotation>
         <documentation>9888: Angir om det finnes hindringer i form av stolper, skilt, benker etc. som reduserer minste frie bredde langs gangadkomst.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9888</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Punkthinder</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16064</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16065</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PunkthinderGangadkomstOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="StigningGangadkomstType">
      <annotation>
         <documentation>9459: Angir største stigningsgrad mellom fra- og tilsted.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9459</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stigning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StigningGangadkomstEnumerationType nvdb:StigningGangadkomstOtherType"/>
   </simpleType>
   <simpleType name="StigningGangadkomstEnumerationType">
      <annotation>
         <documentation>9459: Angir største stigningsgrad mellom fra- og tilsted.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9459</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stigning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="&gt;1:12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13344</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brattere enn 1:12</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="&lt;1:12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13356</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slakere enn 1:12</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="&lt;1:15">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13343</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slakere enn 1:15</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="&lt;1:20">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13342</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slakere enn 1:20</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StigningGangadkomstOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
