GML/837.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Belegning_Test" substitutionGroup="nvdb:AbstraktBelegning_Test" type="nvdb:Belegning_TestType">
    <annotation>
      <documentation>837: Område utenfor selve kjørebanen som har egen belegning. Kan også være kjørebane på områder/veger som ikke har eget vegnett i NVDB.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">837</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">837</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belegning (test)</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Belegning_TestType">
    <complexContent>
      <extension base="nvdb:AbstraktBelegning_TestType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeBelegning_TestType">
            <annotation>
              <documentation>9510: Angir type belegning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9510</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>9509: Angir areal av belegning</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9509</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tykkelse" type="integer">
            <annotation>
              <documentation>9515: Angir tykkelse av Belegning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9515</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tykkelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierBelegning_TestType">
            <annotation>
              <documentation>9512: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9512</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligBelegning_TestType">
            <annotation>
              <documentation>9513: Angir hvem som er ansvarlig for vedlikehold</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9513</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>9514: Gir flate som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9514</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkdeler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Belegning_TestPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Belegning_Test"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="EierBelegning_TestType">
    <annotation>
      <documentation>9512: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9512</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9512</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierBelegning_TestEnumerationType nvdb:EierBelegning_TestOtherType"/>
  </simpleType>
  <simpleType name="EierBelegning_TestEnumerationType">
    <annotation>
      <documentation>9512: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9512</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9512</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>13425: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13425</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>21912: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21912</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>13426: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13426</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>13427: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13427</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>13428: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13428</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>21913: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21913</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierBelegning_TestOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeBelegning_TestType">
    <annotation>
      <documentation>9510: Angir type belegning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9510</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9510</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeBelegning_TestEnumerationType nvdb:TypeBelegning_TestOtherType"/>
  </simpleType>
  <simpleType name="TypeBelegning_TestEnumerationType">
    <annotation>
      <documentation>9510: Angir type belegning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9510</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9510</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betong">
        <annotation>
          <documentation>13412: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13412</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, farget">
        <annotation>
          <documentation>13413: Betong, farget</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13413</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong, farget</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, mønstret">
        <annotation>
          <documentation>13414: Betong, mønstret</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13414</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong, mønstret</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, mønstret og farget">
        <annotation>
          <documentation>13415: Betong, mønstret og farget</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13415</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong, mønstret og farget</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongheller">
        <annotation>
          <documentation>13416: Betongheller</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13416</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongheller</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongstein">
        <annotation>
          <documentation>13421: Betongstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13421</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Granitt">
        <annotation>
          <documentation>13423: Granitt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13423</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Granitt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skiferheller">
        <annotation>
          <documentation>13422: Skiferheller</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13422</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiferheller</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein, faststøpt i betong">
        <annotation>
          <documentation>13417: Stein, faststøpt i betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13417</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein, faststøpt i betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein, rundstein">
        <annotation>
          <documentation>13418: Stein, rundstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13418</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein, rundstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein, brostein">
        <annotation>
          <documentation>13419: Stein, brostein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13419</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein, brostein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfalt">
        <annotation>
          <documentation>13411: Asfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13411</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grus">
        <annotation>
          <documentation>13410: Grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13410</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pukk">
        <annotation>
          <documentation>13420: Pukk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13420</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bark">
        <annotation>
          <documentation>13424: Bark</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13424</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bark</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeBelegning_TestOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBelegning_TestType">
    <annotation>
      <documentation>9513: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9513</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9513</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligBelegning_TestEnumerationType nvdb:VedlikeholdsansvarligBelegning_TestOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBelegning_TestEnumerationType">
    <annotation>
      <documentation>9513: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9513</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9513</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>13429: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13429</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>13430: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13430</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>21914: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21914</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>21915: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21915</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>21917: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21917</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>13431: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13431</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>21916: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21916</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBelegning_TestOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
