GML/844.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierNedføringsrenneType">
    <annotation>
      <documentation>11987: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11987</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11987</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierNedføringsrenneEnumerationType nvdb:EierNedføringsrenneOtherType"/>
  </simpleType>
  <simpleType name="EierNedføringsrenneEnumerationType">
    <annotation>
      <documentation>11987: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11987</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11987</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>20623: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20623</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20624: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20624</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20625: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20625</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20626: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20626</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20627: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20627</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20628: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20628</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierNedføringsrenneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeNedføringsrenneType">
    <annotation>
      <documentation>9579: Angir hvilken type materiale vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9579</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9579</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeNedføringsrenneEnumerationType nvdb:MaterialeNedføringsrenneOtherType"/>
  </simpleType>
  <simpleType name="MaterialeNedføringsrenneEnumerationType">
    <annotation>
      <documentation>9579: Angir hvilken type materiale vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9579</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9579</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stein">
        <annotation>
          <documentation>13801: Stein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13801</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>13800: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13800</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Berg">
        <annotation>
          <documentation>13809: Berg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13809</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Berg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>13802: Plast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13802</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stål">
        <annotation>
          <documentation>13803: Stål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13803</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfalt">
        <annotation>
          <documentation>13799: Asfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeNedføringsrenneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Nedføringsrenne" substitutionGroup="nvdb:AbstraktNedføringsrenne" type="nvdb:NedføringsrenneType">
    <annotation>
      <documentation>844: Grøft som fører vann fra topp skjæring ned til kum/stikkrenne.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">844</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">844</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Nedføringsrenne</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NedføringsrenneType">
    <complexContent>
      <extension base="nvdb:AbstraktNedføringsrenneType">
        <sequence>
          <element minOccurs="0" name="utforming" type="nvdb:UtformingNedføringsrenneType">
            <annotation>
              <documentation>9584: Angir hvilken utforming nedføringsrenne har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9584</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materiale" type="nvdb:MaterialeNedføringsrenneType">
            <annotation>
              <documentation>9579: Angir hvilken type materiale vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9579</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>9585: Angir total lengde av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9585</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dybde" type="double">
            <annotation>
              <documentation>9582: Angir dybde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9582</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dybde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Topp" type="double">
            <annotation>
              <documentation>9580: Angir gjennomsnittlig bredde (topp) for hele vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9580</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde, topp</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Bunn" type="double">
            <annotation>
              <documentation>9581: Angir gjennomsnittlig bredde (bunn) for hele vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9581</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde, bunn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10330: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10330</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11643: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11643</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierNedføringsrenneType">
            <annotation>
              <documentation>11987: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11987</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligNedføringsrenneType">
            <annotation>
              <documentation>9586: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9586</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>9593: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9593</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9583: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9583</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NedføringsrennePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Nedføringsrenne"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="UtformingNedføringsrenneType">
    <annotation>
      <documentation>9584: Angir hvilken utforming nedføringsrenne har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9584</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9584</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtformingNedføringsrenneEnumerationType nvdb:UtformingNedføringsrenneOtherType"/>
  </simpleType>
  <simpleType name="UtformingNedføringsrenneEnumerationType">
    <annotation>
      <documentation>9584: Angir hvilken utforming nedføringsrenne har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9584</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9584</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Loddrett">
        <annotation>
          <documentation>13804: Benyttes i fjellskjæringer.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13804</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Loddrett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skrå">
        <annotation>
          <documentation>13805: Benyttes i jordskjæring.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13805</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skrå</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtformingNedføringsrenneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligNedføringsrenneType">
    <annotation>
      <documentation>9586: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9586</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9586</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligNedføringsrenneEnumerationType nvdb:VedlikeholdsansvarligNedføringsrenneOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligNedføringsrenneEnumerationType">
    <annotation>
      <documentation>9586: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9586</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9586</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>13806: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13806</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18683: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18683</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19985: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19985</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18812: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18812</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>13807: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13807</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>13808: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13808</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17774: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17774</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligNedføringsrenneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
