GML/846.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>846: Kjegler som settes opp i rader for å bremse snøskred og for å redusere utløpsdistansen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AdkomstBremsekjegler, snøskredType">
      <annotation>
         <documentation>9620: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9620</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AdkomstBremsekjegler, snøskredEnumerationType nvdb:AdkomstBremsekjegler, snøskredOtherType"/>
   </simpleType>
   <simpleType name="AdkomstBremsekjegler, snøskredEnumerationType">
      <annotation>
         <documentation>9620: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9620</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="hj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19823</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13825</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gravemaskin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="he">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13829</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helikopter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13824</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hjullaster</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13827</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kran</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ta">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13828</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tau</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ft">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13826</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Til fots</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AdkomstBremsekjegler, snøskredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Bremsekjegler, snøskred"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Bremsekjegler, snøskredType">
      <annotation>
         <documentation>846: Kjegler som settes opp i rader for å bremse snøskred og for å redusere utløpsdistansen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">846</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bremsekjegler, snøskred</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Bremsekjegler, snøskredType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="kjegleform" type="nvdb:KjegleformBremsekjegler, snøskredType">
                  <annotation>
                     <documentation>9614: Angir form på kjeglene vegobjektet består av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9614</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kjegleform</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialtypeStøtside">
                  <annotation>
                     <documentation>9621: Angir synlig materialtype på støtside av kjeglene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9621</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype støtside</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallKjegler" type="integer">
                  <annotation>
                     <documentation>9615: Antall kjegler innenfor området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9615</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall kjegler</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallRader" type="integer">
                  <annotation>
                     <documentation>9616: Antall rader med kjegler innenfor området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9616</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall rader</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengdeBunnKjegle" type="double">
                  <annotation>
                     <documentation>9617: Gjennomsnittlig lengde av kjeglene på tvers av skredretningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9617</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde bunn kjegle</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høydeStøtsideKjegle" type="double">
                  <annotation>
                     <documentation>9618: Gjennomsnittlig høyde fra bunn til topp av kjeglene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9618</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde støtside kjegle</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="helningStøtsideKjegle" type="integer">
                  <annotation>
                     <documentation>9619: Gjennomsnittlig helning fra bunn til topp av kjegle på støtsiden.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9619</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Helning støtside kjegle</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="adkomst" type="nvdb:AdkomstBremsekjegler, snøskredType">
                  <annotation>
                     <documentation>9620: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9620</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9622: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9622</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>9873: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9873</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11162: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11162</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12421: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12421</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="eier"
                        type="nvdb:EierBremsekjegler, snøskredType">
                  <annotation>
                     <documentation>9645: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9645</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligBremsekjegler, snøskredType">
                  <annotation>
                     <documentation>9646: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9646</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>9624: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9624</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Bremsekjegler, snøskredPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Bremsekjegler, snøskred"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="EierBremsekjegler, snøskredType">
      <annotation>
         <documentation>9645: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9645</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierBremsekjegler, snøskredEnumerationType nvdb:EierBremsekjegler, snøskredOtherType"/>
   </simpleType>
   <simpleType name="EierBremsekjegler, snøskredEnumerationType">
      <annotation>
         <documentation>9645: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9645</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13877</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13878</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13879</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18653</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13876</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17622</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierBremsekjegler, snøskredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KjegleformBremsekjegler, snøskredType">
      <annotation>
         <documentation>9614: Angir form på kjeglene vegobjektet består av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9614</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjegleform</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KjegleformBremsekjegler, snøskredEnumerationType nvdb:KjegleformBremsekjegler, snøskredOtherType"/>
   </simpleType>
   <simpleType name="KjegleformBremsekjegler, snøskredEnumerationType">
      <annotation>
         <documentation>9614: Angir form på kjeglene vegobjektet består av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9614</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjegleform</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13823</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oval</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13822</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rund</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KjegleformBremsekjegler, snøskredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeStøtsideBremsekjegler, snøskredType">
      <annotation>
         <documentation>9621: Angir synlig materialtype på støtside av kjeglene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9621</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype støtside</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeStøtsideBremsekjegler, snøskredEnumerationType nvdb:MaterialtypeStøtsideBremsekjegler, snøskredOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeStøtsideBremsekjegler, snøskredEnumerationType">
      <annotation>
         <documentation>9621: Angir synlig materialtype på støtside av kjeglene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9621</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype støtside</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="be">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13834</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ga">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13833</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gabioner</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13831</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="jo">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13830</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jord</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13832</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sprengstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tø">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13835</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tørrsteinsmur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeStøtsideBremsekjegler, snøskredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligBremsekjegler, snøskredType">
      <annotation>
         <documentation>9646: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9646</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligBremsekjegler, snøskredEnumerationType nvdb:VedlikeholdsansvarligBremsekjegler, snøskredOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligBremsekjegler, snøskredEnumerationType">
      <annotation>
         <documentation>9646: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9646</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19988</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13881</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18676</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18805</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13882</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13880</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17776</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligBremsekjegler, snøskredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
