GML/846.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AdkomstSkredsikring_BremsekjeglerType">
    <annotation>
      <documentation>9620: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold</documentation>
    </annotation>
    <union memberTypes="nvdb:AdkomstSkredsikring_BremsekjeglerEnumerationType nvdb:AdkomstSkredsikring_BremsekjeglerOtherType"/>
  </simpleType>
  <simpleType name="AdkomstSkredsikring_BremsekjeglerEnumerationType">
    <annotation>
      <documentation>9620: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="bil">
        <annotation>
          <documentation>19823: Adkomst er mulig med bil.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hjullaster">
        <annotation>
          <documentation>13824: Adkomst er mulig med hjullaster.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gravemaskin">
        <annotation>
          <documentation>13825: Adkomst for gravemaskin</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tilFots">
        <annotation>
          <documentation>13826: Adkomst til fots</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kran">
        <annotation>
          <documentation>13827: Adkomst for kran</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tau">
        <annotation>
          <documentation>13828: Adkomt med tau</documentation>
        </annotation>
      </enumeration>
      <enumeration value="helikopter">
        <annotation>
          <documentation>13829: Adkomst for helikopter</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AdkomstSkredsikring_BremsekjeglerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierSkredsikring_BremsekjeglerType">
    <annotation>
      <documentation>9645: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:EierSkredsikring_BremsekjeglerEnumerationType nvdb:EierSkredsikring_BremsekjeglerOtherType"/>
  </simpleType>
  <simpleType name="EierSkredsikring_BremsekjeglerEnumerationType">
    <annotation>
      <documentation>9645: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>13876: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18653: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>13877: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>13878: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>13879: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17622: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSkredsikring_BremsekjeglerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KjegleformType">
    <annotation>
      <documentation>9614: Angir form på kjeglene vegobjektet består av</documentation>
    </annotation>
    <union memberTypes="nvdb:KjegleformEnumerationType nvdb:KjegleformOtherType"/>
  </simpleType>
  <simpleType name="KjegleformEnumerationType">
    <annotation>
      <documentation>9614: Angir form på kjeglene vegobjektet består av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="rund">
        <annotation>
          <documentation>13822: Rund</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oval">
        <annotation>
          <documentation>13823: Oval</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KjegleformOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeStøtsideType">
    <annotation>
      <documentation>9621: Angir synlig materialtype på støtside av kjeglene</documentation>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeStøtsideEnumerationType nvdb:MaterialtypeStøtsideOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeStøtsideEnumerationType">
    <annotation>
      <documentation>9621: Angir synlig materialtype på støtside av kjeglene</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="jord">
        <annotation>
          <documentation>13830: Materialtype Jord</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grus">
        <annotation>
          <documentation>13831: Materialtype Grus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sprengstein">
        <annotation>
          <documentation>13832: Materialtype Sprengstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gabioner">
        <annotation>
          <documentation>13833: Materialtype Gabioner</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>13834: Materialtype Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tørrsteinsmur">
        <annotation>
          <documentation>13835: Materialtype Tørrsteinsmur</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeStøtsideOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skredsikring_Bremsekjegler" substitutionGroup="nvdb:AbstraktSkredsikring_Bremsekjegler" type="nvdb:Skredsikring_BremsekjeglerType">
    <annotation>
      <documentation>846: Kjegler som settes opp i rader for å bremse snøskred og for å redusere utløpsdistansen</documentation>
    </annotation>
  </element>
  <complexType name="Skredsikring_BremsekjeglerType">
    <complexContent>
      <extension base="nvdb:AbstraktSkredsikring_BremsekjeglerType">
        <sequence>
          <element minOccurs="0" name="kjegleform" type="nvdb:KjegleformType">
            <annotation>
              <documentation>9614: Angir form på kjeglene vegobjektet består av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="materialtypeStøtside" type="nvdb:MaterialtypeStøtsideType">
            <annotation>
              <documentation>9621: Angir synlig materialtype på støtside av kjeglene</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antall" type="integer">
            <annotation>
              <documentation>9615: Antall kjegler innenfor området
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallRader" type="integer">
            <annotation>
              <documentation>9616: Antall rader med kjegler innenfor området
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeBunnKjegle" type="double">
            <annotation>
              <documentation>9617: Gjennomsnittlig lengde av kjeglene på tvers av skredretningen
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeStøtsideKjegle" type="double">
            <annotation>
              <documentation>9618: Gjennomsnittlig høyde fra bunn til topp av kjeglene
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="helningStøtsideKjegle" type="integer">
            <annotation>
              <documentation>9619: Gjennomsnittlig helning fra bunn til topp av kjegle på støtsiden.
Enhet: Grader (360)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="adkomst" type="nvdb:AdkomstSkredsikring_BremsekjeglerType">
            <annotation>
              <documentation>9620: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>9622: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9873: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11162: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierSkredsikring_BremsekjeglerType">
            <annotation>
              <documentation>9645: Angir hvem som er eier av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSkredsikring_BremsekjeglerType">
            <annotation>
              <documentation>9646: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9623: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>9624: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="nvdb:AbstraktTilstandSkade_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Skredsikring_BremsekjeglerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skredsikring_Bremsekjegler"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligSkredsikring_BremsekjeglerType">
    <annotation>
      <documentation>9646: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSkredsikring_BremsekjeglerEnumerationType nvdb:VedlikeholdsansvarligSkredsikring_BremsekjeglerOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkredsikring_BremsekjeglerEnumerationType">
    <annotation>
      <documentation>9646: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>13880: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18676: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19988: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18805: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>13881: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>13882: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17776: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkredsikring_BremsekjeglerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
