GML/848.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AdkomstSnøskjermType">
    <annotation>
      <documentation>9634: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold</documentation>
    </annotation>
    <union memberTypes="nvdb:AdkomstSnøskjermEnumerationType nvdb:AdkomstSnøskjermOtherType"/>
  </simpleType>
  <simpleType name="AdkomstSnøskjermEnumerationType">
    <annotation>
      <documentation>9634: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="bil">
        <annotation>
          <documentation>19824: Adkomst er mulig med bil.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hjullaster">
        <annotation>
          <documentation>13841: Adkomst er mulig med hjullaster.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gravemaskin">
        <annotation>
          <documentation>13842: Adkomst for gravemaskin</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tilFots">
        <annotation>
          <documentation>13843: Adkomst til fots</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kran">
        <annotation>
          <documentation>13844: Adkomst for kran</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tau">
        <annotation>
          <documentation>13845: Adkomt med tau</documentation>
        </annotation>
      </enumeration>
      <enumeration value="helikopter">
        <annotation>
          <documentation>13846: Adkomst for helikopter</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AdkomstSnøskjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeSnøskjermType">
    <annotation>
      <documentation>9627: Angir bruksområde for vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdeSnøskjermEnumerationType nvdb:BruksområdeSnøskjermOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeSnøskjermEnumerationType">
    <annotation>
      <documentation>9627: Angir bruksområde for vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="løsneområdeForSkred">
        <annotation>
          <documentation>13836: Løsneområde for skred</documentation>
        </annotation>
      </enumeration>
      <enumeration value="drivsnøPåVeg">
        <annotation>
          <documentation>13837: Drivsnø på veg</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeSnøskjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ByggematerialeType">
    <annotation>
      <documentation>9633: Angir hvilket materiale objektet er bygget av</documentation>
    </annotation>
    <union memberTypes="nvdb:ByggematerialeEnumerationType nvdb:ByggematerialeOtherType"/>
  </simpleType>
  <simpleType name="ByggematerialeEnumerationType">
    <annotation>
      <documentation>9633: Angir hvilket materiale objektet er bygget av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="tre">
        <annotation>
          <documentation>13838: Tre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stål">
        <annotation>
          <documentation>13839: Stål</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plast">
        <annotation>
          <documentation>13840: Plast</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ByggematerialeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierSnøskjermType">
    <annotation>
      <documentation>9638: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:EierSnøskjermEnumerationType nvdb:EierSnøskjermOtherType"/>
  </simpleType>
  <simpleType name="EierSnøskjermEnumerationType">
    <annotation>
      <documentation>9638: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>13883: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18655: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>13884: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>13885: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>13886: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17662: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSnøskjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Snøskjerm" substitutionGroup="nvdb:AbstraktSnøskjerm" type="nvdb:SnøskjermType">
    <annotation>
      <documentation>848: Skjerm som settes opp for å stoppe drivende snø</documentation>
    </annotation>
  </element>
  <complexType name="SnøskjermType">
    <complexContent>
      <extension base="nvdb:AbstraktSnøskjermType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeSnøskjermType">
            <annotation>
              <documentation>9627: Angir bruksområde for vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>9628: Angir total lengde av vegobjektet
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeOverTerreng" type="double">
            <annotation>
              <documentation>9629: Angir avstand fra terreng til topp skjerm
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bakkeklaring" type="double">
            <annotation>
              <documentation>9632: Angir avstand fra terreng opp til første horisontale bord
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gjennomsnittligAvstandTilVeg" type="integer">
            <annotation>
              <documentation>9630: Gjennomsnittlig avstand fra vegkant til snøskjerm
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skjermtetthet" type="integer">
            <annotation>
              <documentation>9631: Angir dekningsgrad mellom nederste og øverste bord
Enhet: Prosent</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="byggemateriale" type="nvdb:ByggematerialeType">
            <annotation>
              <documentation>9633: Angir hvilket materiale objektet er bygget av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="adkomst" type="nvdb:AdkomstSnøskjermType">
            <annotation>
              <documentation>9634: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>9640: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9871: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11163: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="FKB_ID" type="string">
            <annotation>
              <documentation>10856: Refererer til FKB-identitet. Benyttes i forbindelse med felles forvaltning av geometri.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierSnøskjermType">
            <annotation>
              <documentation>9638: Angir hvem som er eier av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSnøskjermType">
            <annotation>
              <documentation>9639: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9641: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SnøskjermPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Snøskjerm"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligSnøskjermType">
    <annotation>
      <documentation>9639: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSnøskjermEnumerationType nvdb:VedlikeholdsansvarligSnøskjermOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSnøskjermEnumerationType">
    <annotation>
      <documentation>9639: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>13887: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18670: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19986: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18799: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>13888: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>13889: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17762: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSnøskjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
