GML/849.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AdkomstSkred_VarslingOvervåkningType">
    <annotation>
      <documentation>9649: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold</documentation>
    </annotation>
    <union memberTypes="nvdb:AdkomstSkred_VarslingOvervåkningEnumerationType nvdb:AdkomstSkred_VarslingOvervåkningOtherType"/>
  </simpleType>
  <simpleType name="AdkomstSkred_VarslingOvervåkningEnumerationType">
    <annotation>
      <documentation>9649: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="bil">
        <annotation>
          <documentation>19825: Adkomst er mulig med bil.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hjullaster">
        <annotation>
          <documentation>13901: Adkomst er mulig med hjullaster.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gravemaskin">
        <annotation>
          <documentation>13902: Adkomst for gravemaskin</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tilFots">
        <annotation>
          <documentation>13903: Adkomst til fots</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kran">
        <annotation>
          <documentation>13904: Adkomst for kran</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tau">
        <annotation>
          <documentation>13905: Adkomt med tau</documentation>
        </annotation>
      </enumeration>
      <enumeration value="helikopter">
        <annotation>
          <documentation>13906: Adkomst for helikopter</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AdkomstSkred_VarslingOvervåkningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OvervåkningstypeType">
    <annotation>
      <documentation>9648: Angir type overvåkning</documentation>
    </annotation>
    <union memberTypes="nvdb:OvervåkningstypeEnumerationType nvdb:OvervåkningstypeOtherType"/>
  </simpleType>
  <simpleType name="OvervåkningstypeEnumerationType">
    <annotation>
      <documentation>9648: Angir type overvåkning</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="geofon">
        <annotation>
          <documentation>13895: Instrument for registrering av rystelser i grunnen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="radar">
        <annotation>
          <documentation>13896: Radar for måling av bevegelser i terrenget</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rystelsesmåling">
        <annotation>
          <documentation>13897: Måling av rystelser (f.eks. i grunnen, i fanggjerde etc.)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="varslingsgjerde">
        <annotation>
          <documentation>13898: Gjerde for varsling av farlig område</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OvervåkningstypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skred_VarslingOvervåkning" substitutionGroup="nvdb:AbstraktSkred_VarslingOvervåkning" type="nvdb:Skred_VarslingOvervåkningType">
    <annotation>
      <documentation>849: Område som blir overvåket med hensyn på skred</documentation>
    </annotation>
  </element>
  <complexType name="Skred_VarslingOvervåkningType">
    <complexContent>
      <extension base="nvdb:AbstraktSkred_VarslingOvervåkningType">
        <sequence>
          <element minOccurs="0" name="typeNaturfare" type="nvdb:TypeNaturfareType">
            <annotation>
              <documentation>9647: Angir hvilken type naturfare overvåkning/varsling gjelder for</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="overvåkningstype" type="nvdb:OvervåkningstypeType">
            <annotation>
              <documentation>9648: Angir type overvåkning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="varslingPåVeg" type="nvdb:VarslingPåVegType">
            <annotation>
              <documentation>9650: Angir type varsling som er satt opp synlig for trafikkanter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="adkomst" type="nvdb:AdkomstSkred_VarslingOvervåkningType">
            <annotation>
              <documentation>9649: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9875: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11164: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9652: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>9651: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Skred_VarslingOvervåkningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skred_VarslingOvervåkning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeNaturfareType">
    <annotation>
      <documentation>9647: Angir hvilken type naturfare overvåkning/varsling gjelder for</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeNaturfareEnumerationType nvdb:TypeNaturfareOtherType"/>
  </simpleType>
  <simpleType name="TypeNaturfareEnumerationType">
    <annotation>
      <documentation>9647: Angir hvilken type naturfare overvåkning/varsling gjelder for</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="snøskred">
        <annotation>
          <documentation>13890: Fare for snøskred</documentation>
        </annotation>
      </enumeration>
      <enumeration value="steinsprangSkred">
        <annotation>
          <documentation>13891: Fare for steinsprang/steinskred</documentation>
        </annotation>
      </enumeration>
      <enumeration value="jordskred">
        <annotation>
          <documentation>13892: Fare for jordskred</documentation>
        </annotation>
      </enumeration>
      <enumeration value="flom">
        <annotation>
          <documentation>13893: Fare for flom</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bølger">
        <annotation>
          <documentation>13894: Fare for bølger</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeNaturfareOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VarslingPåVegType">
    <annotation>
      <documentation>9650: Angir type varsling som er satt opp synlig for trafikkanter</documentation>
    </annotation>
    <union memberTypes="nvdb:VarslingPåVegEnumerationType nvdb:VarslingPåVegOtherType"/>
  </simpleType>
  <simpleType name="VarslingPåVegEnumerationType">
    <annotation>
      <documentation>9650: Angir type varsling som er satt opp synlig for trafikkanter</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="lys">
        <annotation>
          <documentation>13981: Varsling ved hjelp av lys</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bommer">
        <annotation>
          <documentation>13982: Varsling ved hjelp av bommer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ingen">
        <annotation>
          <documentation>15963: Ingen varsling er satt opp</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VarslingPåVegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
