GML/849.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierSkred_VarslingOvervåkningType">
    <annotation>
      <documentation>11988: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11988</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11988</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierSkred_VarslingOvervåkningEnumerationType nvdb:EierSkred_VarslingOvervåkningOtherType"/>
  </simpleType>
  <simpleType name="EierSkred_VarslingOvervåkningEnumerationType">
    <annotation>
      <documentation>11988: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11988</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11988</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>20629: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20629</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20630: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20630</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20631: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20631</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20632: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20632</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20633: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20633</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20634: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20634</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSkred_VarslingOvervåkningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OvervåkningstypeType">
    <annotation>
      <documentation>9648: Angir type overvåkning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9648</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9648</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overvåkningstype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OvervåkningstypeEnumerationType nvdb:OvervåkningstypeOtherType"/>
  </simpleType>
  <simpleType name="OvervåkningstypeEnumerationType">
    <annotation>
      <documentation>9648: Angir type overvåkning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9648</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9648</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overvåkningstype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Geofon">
        <annotation>
          <documentation>13895: Instrument for registrering av rystelser i grunnen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13895</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Geofon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Radar">
        <annotation>
          <documentation>13896: Radar for måling av bevegelser i terrenget.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13896</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Radar</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rystelsesmåling">
        <annotation>
          <documentation>13897: Måling av rystelser (f.eks. i grunnen, i fanggjerde etc.).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13897</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rystelsesmåling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Varslingsgjerde">
        <annotation>
          <documentation>13898: Gjerde for varsling av farlig område.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13898</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varslingsgjerde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Infralyd">
        <annotation>
          <documentation>21024: Infralyd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21024</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Infralyd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen">
        <annotation>
          <documentation>13899: Annen overvåkningstype. Utdypes under Tilleggsinformasjon</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OvervåkningstypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skred_VarslingOvervåkning" substitutionGroup="nvdb:AbstraktSkred_VarslingOvervåkning" type="nvdb:Skred_VarslingOvervåkningType">
    <annotation>
      <documentation>849: Område som blir overvåket av et skredvarslingssystem.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">849</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">849</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skred, varsling/overvåkning</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Skred_VarslingOvervåkningType">
    <complexContent>
      <extension base="nvdb:AbstraktSkred_VarslingOvervåkningType">
        <sequence>
          <element minOccurs="0" name="typeNaturfare" type="nvdb:TypeNaturfareSkred_VarslingOvervåkningType">
            <annotation>
              <documentation>9647: Angir hvilken type naturfare overvåkning/varsling gjelder for.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9647</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type naturfare</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overvåkningstype" type="nvdb:OvervåkningstypeType">
            <annotation>
              <documentation>9648: Angir type overvåkning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9648</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overvåkningstype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stengningAvVeg" type="nvdb:StengningAvVegType">
            <annotation>
              <documentation>9650: Angir hvordan vegen stenges for trafikanter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9650</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Stengning av veg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9875: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9875</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11164: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11164</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12423: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12423</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierSkred_VarslingOvervåkningType">
            <annotation>
              <documentation>11988: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11988</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSkred_VarslingOvervåkningType">
            <annotation>
              <documentation>12016: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12016</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>9651: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9651</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSkredtekniskObjekt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkredtekniskObjekt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Strekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Skred_VarslingOvervåkningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skred_VarslingOvervåkning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="StengningAvVegType">
    <annotation>
      <documentation>9650: Angir hvordan vegen stenges for trafikanter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9650</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9650</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Stengning av veg</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StengningAvVegEnumerationType nvdb:StengningAvVegOtherType"/>
  </simpleType>
  <simpleType name="StengningAvVegEnumerationType">
    <annotation>
      <documentation>9650: Angir hvordan vegen stenges for trafikanter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9650</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9650</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Stengning av veg</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stengning med lys">
        <annotation>
          <documentation>13981: Varsling om stengning vved hejelp av lys.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13981</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengning med lys</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stengning med bommer">
        <annotation>
          <documentation>13982: Stengning ved hjelp av bommer.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13982</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengning med bommer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen stengning">
        <annotation>
          <documentation>15963: Ingen stengning eller varsling er satt opp.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15963</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen stengning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StengningAvVegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeNaturfareSkred_VarslingOvervåkningType">
    <annotation>
      <documentation>9647: Angir hvilken type naturfare overvåkning/varsling gjelder for.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9647</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9647</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type naturfare</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeNaturfareSkred_VarslingOvervåkningEnumerationType nvdb:TypeNaturfareSkred_VarslingOvervåkningOtherType"/>
  </simpleType>
  <simpleType name="TypeNaturfareSkred_VarslingOvervåkningEnumerationType">
    <annotation>
      <documentation>9647: Angir hvilken type naturfare overvåkning/varsling gjelder for.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9647</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9647</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type naturfare</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Snøskred">
        <annotation>
          <documentation>13890: Fare for snøskred.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13890</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Snøskred</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Steinsprang/skred">
        <annotation>
          <documentation>13891: Fare for steinsprang/steinskred.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13891</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Steinsprang/skred</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jordskred">
        <annotation>
          <documentation>13892: Fare for jordskred.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13892</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jordskred</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flom">
        <annotation>
          <documentation>13893: Fare for flom.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13893</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Flom</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bølger">
        <annotation>
          <documentation>13894: Fare for bølger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13894</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bølger</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flere naturfarer">
        <annotation>
          <documentation>21023: Varsling/overvåkning av flere typer naturfare. Utdypes under Tilleggsinformasjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21023</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Flere naturfarer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeNaturfareSkred_VarslingOvervåkningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkred_VarslingOvervåkningType">
    <annotation>
      <documentation>12016: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12016</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12016</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSkred_VarslingOvervåkningEnumerationType nvdb:VedlikeholdsansvarligSkred_VarslingOvervåkningOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkred_VarslingOvervåkningEnumerationType">
    <annotation>
      <documentation>12016: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12016</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12016</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>20819: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20819</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>20820: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20820</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20821: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20821</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>20822: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20822</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20823: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20823</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20824: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20824</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20825: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20825</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkred_VarslingOvervåkningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
