GML/85.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdePumpeType">
    <annotation>
      <documentation>1270: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdePumpeEnumerationType nvdb:BruksområdePumpeOtherType"/>
  </simpleType>
  <simpleType name="BruksområdePumpeEnumerationType">
    <annotation>
      <documentation>1270: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="flo">
        <annotation>
          <documentation>2951: Flo</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tunnel">
        <annotation>
          <documentation>2950: Tunnel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kulvert">
        <annotation>
          <documentation>11602: Fjerning av vann i veg som går i kulvert/lavbrekk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vanntilførselToalettanlegg">
        <annotation>
          <documentation>17453: Punpe benyttes for å pumpe vann til toalettanlegg, bla i forbindelse med rasteplasser</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdePumpeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierPumpeType">
    <annotation>
      <documentation>7997: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierPumpeEnumerationType nvdb:EierPumpeOtherType"/>
  </simpleType>
  <simpleType name="EierPumpeEnumerationType">
    <annotation>
      <documentation>7997: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10263: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18570: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10725: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10327: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10391: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17578: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierPumpeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GodkjentAvløpType">
    <annotation>
      <documentation>8139: Angir om pumpe pumper vann til godkjent avløpsanlegg.</documentation>
    </annotation>
    <union memberTypes="nvdb:GodkjentAvløpEnumerationType nvdb:GodkjentAvløpOtherType"/>
  </simpleType>
  <simpleType name="GodkjentAvløpEnumerationType">
    <annotation>
      <documentation>8139: Angir om pumpe pumper vann til godkjent avløpsanlegg.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>10777: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>10778: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GodkjentAvløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Pumpe" substitutionGroup="nvdb:AbstraktPumpe" type="nvdb:PumpeType">
    <annotation>
      <documentation>85: Innretning for å pumpe vann.</documentation>
    </annotation>
  </element>
  <complexType name="PumpeType">
    <complexContent>
      <extension base="nvdb:AbstraktPumpeType">
        <sequence>
          <element minOccurs="0" name="antall" type="integer">
            <annotation>
              <documentation>3841: Angir hvor mange tilsvarende vegobjekt dette objektet representerer
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="effekt" type="double">
            <annotation>
              <documentation>1950: Angir effekt per pumpe
Enhet: Kilowatt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="godkjentAvløp" type="nvdb:GodkjentAvløpType">
            <annotation>
              <documentation>8139: Angir om pumpe pumper vann til godkjent avløpsanlegg.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdePumpeType">
            <annotation>
              <documentation>1270: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10339: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>3578: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="SCADA_Merking" type="string">
            <annotation>
              <documentation>11711: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent_Pumpe" type="string">
            <annotation>
              <documentation>3554: Angir navn på produsent/fabrikant av pumpe.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn_Pumpe" type="string">
            <annotation>
              <documentation>3814: Angir produktnavn for pumpe. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11574: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11661: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11071: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierPumpeType">
            <annotation>
              <documentation>7997: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligPumpeType">
            <annotation>
              <documentation>3821: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4785: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PumpePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Pumpe"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligPumpeType">
    <annotation>
      <documentation>3821: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligPumpeEnumerationType nvdb:VedlikeholdsansvarligPumpeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPumpeEnumerationType">
    <annotation>
      <documentation>3821: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>4861: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18705: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19899: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18834: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>5544: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>4862: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17677: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPumpeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
