GML/850.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AdkomstSkredsikring_ForbygningType">
    <annotation>
      <documentation>9658: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold</documentation>
    </annotation>
    <union memberTypes="nvdb:AdkomstSkredsikring_ForbygningEnumerationType nvdb:AdkomstSkredsikring_ForbygningOtherType"/>
  </simpleType>
  <simpleType name="AdkomstSkredsikring_ForbygningEnumerationType">
    <annotation>
      <documentation>9658: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="bil">
        <annotation>
          <documentation>19826: Adkomst er mulig med bil.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hjullaster">
        <annotation>
          <documentation>13909: Adkomst er mulig med hjullaster.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gravemaskin">
        <annotation>
          <documentation>13910: Adkomst for gravemaskin</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tilFots">
        <annotation>
          <documentation>13911: Adkomst til fots</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kran">
        <annotation>
          <documentation>13912: Adkomst for kran</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tau">
        <annotation>
          <documentation>13913: Adkomt med tau</documentation>
        </annotation>
      </enumeration>
      <enumeration value="helikopter">
        <annotation>
          <documentation>13914: Adkomst for helikopter</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AdkomstSkredsikring_ForbygningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierSkredsikring_ForbygningType">
    <annotation>
      <documentation>9660: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:EierSkredsikring_ForbygningEnumerationType nvdb:EierSkredsikring_ForbygningOtherType"/>
  </simpleType>
  <simpleType name="EierSkredsikring_ForbygningEnumerationType">
    <annotation>
      <documentation>9660: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>13915: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18648: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>13916: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>13917: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>13918: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17663: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSkredsikring_ForbygningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skredsikring_Forbygning" substitutionGroup="nvdb:AbstraktSkredsikring_Forbygning" type="nvdb:Skredsikring_ForbygningType">
    <annotation>
      <documentation>850: Installasjoner i løsneområde som hindrer skred i å løsne</documentation>
    </annotation>
  </element>
  <complexType name="Skredsikring_ForbygningType">
    <complexContent>
      <extension base="nvdb:AbstraktSkredsikring_ForbygningType">
        <sequence>
          <element name="type" type="nvdb:TypeSkredsikring_ForbygningType">
            <annotation>
              <documentation>9653: Angir type forbygning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="totaltAntall" type="integer">
            <annotation>
              <documentation>9654: Totalt antall forbygninger i skredsikringen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallRader" type="integer">
            <annotation>
              <documentation>9655: Antall rader med forbygninger i skredsikringen
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeSikringselement" type="double">
            <annotation>
              <documentation>9657: Angir gjennomsnitlig høyde for forbygningene
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sikraAreal" type="integer">
            <annotation>
              <documentation>9656: Angir areal for området skredsikringen dekker
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="adkomst" type="nvdb:AdkomstSkredsikring_ForbygningType">
            <annotation>
              <documentation>9658: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>9659: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9872: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11165: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierSkredsikring_ForbygningType">
            <annotation>
              <documentation>9660: Angir hvem som er eier av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSkredsikring_ForbygningType">
            <annotation>
              <documentation>9661: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9663: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>9662: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="nvdb:AbstraktTilstandSkade_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Skredsikring_ForbygningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skredsikring_Forbygning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeSkredsikring_ForbygningType">
    <annotation>
      <documentation>9653: Angir type forbygning</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeSkredsikring_ForbygningEnumerationType nvdb:TypeSkredsikring_ForbygningOtherType"/>
  </simpleType>
  <simpleType name="TypeSkredsikring_ForbygningEnumerationType">
    <annotation>
      <documentation>9653: Angir type forbygning</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="snøanker">
        <annotation>
          <documentation>13907: Paraplyforebygning montert i et system for å holde snø på plass i løsneområdet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="støtteforbygning">
        <annotation>
          <documentation>13908: Horisontale innretninger for å holde snø på plass i løsneområdet.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSkredsikring_ForbygningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkredsikring_ForbygningType">
    <annotation>
      <documentation>9661: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSkredsikring_ForbygningEnumerationType nvdb:VedlikeholdsansvarligSkredsikring_ForbygningOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkredsikring_ForbygningEnumerationType">
    <annotation>
      <documentation>9661: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>13919: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18680: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19989: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18809: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>13920: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>13921: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17763: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkredsikring_ForbygningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
