GML/851.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierSkredutløsningstiltakType">
    <annotation>
      <documentation>9668: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9668</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9668</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierSkredutløsningstiltakEnumerationType nvdb:EierSkredutløsningstiltakOtherType"/>
  </simpleType>
  <simpleType name="EierSkredutløsningstiltakEnumerationType">
    <annotation>
      <documentation>9668: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9668</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9668</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>13932: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13932</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18651: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18651</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>13933: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13933</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>13934: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13934</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>13935: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13935</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17664: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17664</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSkredutløsningstiltakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skredutløsningstiltak" substitutionGroup="nvdb:AbstraktSkredutløsningstiltak" type="nvdb:SkredutløsningstiltakType">
    <annotation>
      <documentation>851: Skredutsatt terreng som er sikret av en eller flere installasjoner i løsneområdet der skred løses ut kunstig. Hver enkelt konstruksjon kartlegges som skredteknisk objekt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">851</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">851</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skredutløsningstiltak</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkredutløsningstiltakType">
    <complexContent>
      <extension base="nvdb:AbstraktSkredutløsningstiltakType">
        <sequence>
          <element name="type" type="nvdb:TypeSkredutløsningstiltakType">
            <annotation>
              <documentation>9664: Angir type skredutløsning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9664</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallEnheter" type="integer">
            <annotation>
              <documentation>9665: Antall enheter for skredutløsning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9665</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall enheter</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>9667: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9667</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9870: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9870</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11166: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11166</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12425: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12425</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierSkredutløsningstiltakType">
            <annotation>
              <documentation>9668: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9668</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSkredutløsningstiltakType">
            <annotation>
              <documentation>9669: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9669</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9671: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9671</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>9670: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9670</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSkredtekniskObjekt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkredtekniskObjekt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Strekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkredutløsningstiltakPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skredutløsningstiltak"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeSkredutløsningstiltakType">
    <annotation>
      <documentation>9664: Angir type skredutløsning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9664</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9664</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSkredutløsningstiltakEnumerationType nvdb:TypeSkredutløsningstiltakOtherType"/>
  </simpleType>
  <simpleType name="TypeSkredutløsningstiltakEnumerationType">
    <annotation>
      <documentation>9664: Angir type skredutløsning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9664</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9664</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Sprengladning, forhåndsplassert">
        <annotation>
          <documentation>13922: Sprengladning som er forhåndsplassert i utløsningsområdet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13922</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprengladning, forhåndsplassert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprengningstårn">
        <annotation>
          <documentation>13923: Innretning som settes opp i fjellsidene for å slippe ut sprenglegemer for å utløse skred.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprengningstårn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gassdetonator">
        <annotation>
          <documentation>13924: Innretning for fjernutløsning av en gasseksplosjon i utløsningsområdet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gassdetonator</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kabelbane">
        <annotation>
          <documentation>13925: Kabelbane som brukes for å bringe sprengladninger inn i skredutløsningsområdet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13925</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kabelbane</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSkredutløsningstiltakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkredutløsningstiltakType">
    <annotation>
      <documentation>9669: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9669</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9669</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSkredutløsningstiltakEnumerationType nvdb:VedlikeholdsansvarligSkredutløsningstiltakOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkredutløsningstiltakEnumerationType">
    <annotation>
      <documentation>9669: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9669</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9669</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>13936: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13936</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18685: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18685</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19990: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19990</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18814: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18814</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>13937: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13937</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>13938: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13938</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17764: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17764</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkredutløsningstiltakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
