GML/852.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>852: Rør eller kanal for trekking av kabel.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierTrekkerørkanalType">
      <annotation>
         <documentation>9717: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9717</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierTrekkerørkanalEnumerationType nvdb:EierTrekkerørkanalOtherType"/>
   </simpleType>
   <simpleType name="EierTrekkerørkanalEnumerationType">
      <annotation>
         <documentation>9717: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9717</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13986</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13987</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13988</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <documentation>18622: Organisasjonsnummer: 915488099.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18622</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <documentation>13985: Organisasjonsnummer: 971032081.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13985</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17565: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17565</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierTrekkerørkanalOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FargeTrekkerørkanalType">
      <annotation>
         <documentation>9720: Angir hovedfarge på vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9720</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FargeTrekkerørkanalEnumerationType nvdb:FargeTrekkerørkanalOtherType"/>
   </simpleType>
   <simpleType name="FargeTrekkerørkanalEnumerationType">
      <annotation>
         <documentation>9720: Angir hovedfarge på vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9720</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15887</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Blå</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="br">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13989</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brun</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gra">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18287</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grå</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13990</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grønn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13991</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gul</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="or">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13992</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oransje</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rd">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13993</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rød</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="so">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13994</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sort</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FargeTrekkerørkanalOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="LedigPlassTrekkerørkanalType">
      <annotation>
         <documentation>9723: Angir om rør/kanal er ledig (tomt).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9723</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ledig plass</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LedigPlassTrekkerørkanalEnumerationType nvdb:LedigPlassTrekkerørkanalOtherType"/>
   </simpleType>
   <simpleType name="LedigPlassTrekkerørkanalEnumerationType">
      <annotation>
         <documentation>9723: Angir om rør/kanal er ledig (tomt).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9723</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ledig plass</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="IR">
            <annotation>
               <documentation>21522: Vil aldri være relevant med ledig plass.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21522</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke relevant</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ja">
            <annotation>
               <documentation>15868: Det er ledig kapasitet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15868</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nei">
            <annotation>
               <documentation>15869: Det er ikke ledig kapasitet for tiden.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15869</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>21523: Det er ikke avklart om det er ledig plass.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21523</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LedigPlassTrekkerørkanalOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeTrekkerørkanalType">
      <annotation>
         <documentation>9724: Angir type materiale i rør/kanal.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9724</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeTrekkerørkanalEnumerationType nvdb:MaterialeTrekkerørkanalOtherType"/>
   </simpleType>
   <simpleType name="MaterialeTrekkerørkanalEnumerationType">
      <annotation>
         <documentation>9724: Angir type materiale i rør/kanal.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9724</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="al">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13998</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="be">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13995</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13996</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13997</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeTrekkerørkanalOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringTrekkerørkanalType">
      <annotation>
         <documentation>9725: Angir hvor/hvordan trekkerøret er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9725</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlasseringTrekkerørkanalEnumerationType nvdb:PlasseringTrekkerørkanalOtherType"/>
   </simpleType>
   <simpleType name="PlasseringTrekkerørkanalEnumerationType">
      <annotation>
         <documentation>9725: Angir hvor/hvordan trekkerøret er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9725</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="be">
            <annotation>
               <documentation>13999: Plasseres bak betongrekkverk (f.eks. New Jersey). Brukes hovedsakelig i tunnel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13999</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bak betongrekkverk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lg">
            <annotation>
               <documentation>14000: I lukket rørgrøft eller kabelgrøft.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14000</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I grøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GUV">
            <annotation>
               <documentation>17275: Ligger i grøft på tvers under vegen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17275</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I grøft under veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ub">
            <annotation>
               <documentation>15881: Festes til kabelstige, f.eks. i en brukasse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15881</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I Kabelbru/stige</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ub">
            <annotation>
               <documentation>15882: Legges i et større rør eller en kanal, f.eks. i en brukasse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15882</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I Trekkerør/kanal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pb">
            <annotation>
               <documentation>14001: Plasseres på banket, hovedsakelig i tunnel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14001</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På bankett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ti">
            <annotation>
               <documentation>14003: På innside av hvelv eller annen vann og frostsikring i tunnel, eller direkte på tunnelvegg der det ikke er noe innenfor.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14003</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På tunnelvegg innside</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tu">
            <annotation>
               <documentation>14004: På utside av hvelv eller annen vann og frostsikring i tunnel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14004</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På tunnelvegg utside</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ub">
            <annotation>
               <documentation>14002: Plasseres under banket, hovedsakelig i tunnel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14002</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Under bankett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BI">
            <annotation>
               <documentation>22622: Plassert inne i brukasse. Åpent tilgjengelig.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22622</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bru innvendig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IB">
            <annotation>
               <documentation>22621: Trekkerør er innstøpt i brukonstruksjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22621</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innstøpt i bru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringTrekkerørkanalOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RelevantForEkomportalenTrekkerørkanalType">
      <annotation>
         <documentation>12452: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12452</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Relevant for Ekomportalen</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RelevantForEkomportalenTrekkerørkanalEnumerationType nvdb:RelevantForEkomportalenTrekkerørkanalOtherType"/>
   </simpleType>
   <simpleType name="RelevantForEkomportalenTrekkerørkanalEnumerationType">
      <annotation>
         <documentation>12452: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12452</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Relevant for Ekomportalen</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <documentation>21372: Indikerer at vegobjektet er relevant for overføring til Ekomportalen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21372</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>21373: Indikerer at vegobjektet er relevant for overføring til Ekomportalen. Klient for overføring av data fra NVDB til Ekom-portalen vil ikke kunne overføre denne forekomsten.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21373</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RelevantForEkomportalenTrekkerørkanalOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Trekkerørkanal"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:TrekkerørkanalType">
      <annotation>
         <documentation>852: Rør eller kanal for trekking av kabel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">852</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trekkerørkanal</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TrekkerørkanalType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeTrekkerørkanalType">
                  <annotation>
                     <documentation>9727: Angir type trekkerør/kanal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9727</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallLøp" type="integer">
                  <annotation>
                     <documentation>9710: Gir antall separate parallelle løp/kammer/rom som trekkerør/kanal består av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9710</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall løp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="nvdb:PlasseringTrekkerørkanalType">
                  <annotation>
                     <documentation>9725: Angir hvor/hvordan trekkerøret er plassert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9725</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="diameter_Indre" type="double">
                  <annotation>
                     <documentation>9713: Angir indre diameter for rør/kanal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9713</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Diameter, indre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="diameter_Ytre" type="double">
                  <annotation>
                     <documentation>9714: Angir ytre diameter for rør/kanal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9714</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Diameter, ytre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde_Ytre" type="double">
                  <annotation>
                     <documentation>9712: Angir ytre bredde for rør/kanal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9712</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, ytre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høyde_Ytre" type="double">
                  <annotation>
                     <documentation>9722: Angir ytre høyde for rør/kanal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9722</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, ytre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>9842: Angir lengde for objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9842</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materiale" type="nvdb:MaterialeTrekkerørkanalType">
                  <annotation>
                     <documentation>9724: Angir type materiale i rør/kanal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9724</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="farge" type="nvdb:FargeTrekkerørkanalType">
                  <annotation>
                     <documentation>9720: Angir hovedfarge på vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9720</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="ledigPlass">
                  <annotation>
                     <documentation>9723: Angir om rør/kanal er ledig (tomt).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9723</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Ledig plass</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="utleidTil">
                  <annotation>
                     <documentation>11521: Angir hvem trekkerør/kanal er utleid til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11521</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utleid til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="utleidTil_Navn" type="string">
                  <annotation>
                     <documentation>11522: Angir navn på leietaker.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11522</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utleid til, Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9716: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9716</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>9715: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9715</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produsent" type="string">
                  <annotation>
                     <documentation>9719: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9719</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produktnavn" type="string">
                  <annotation>
                     <documentation>9726: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9726</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>9882: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper. Kan benyttes for å beskrive ytterligere detaljer om tverrsnitt for multikanaler, multitube og OPI-kanaler, f.eks. diameter på rør i rør.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9882</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivnummer" type="string">
                  <annotation>
                     <documentation>9711: Gir referanse til relevant sak i vegeiers arkivsystem.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9711</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivreferanse" type="string">
                  <annotation>
                     <documentation>11700: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11700</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11167: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11167</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12426: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12426</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="relevantForEkomportalen">
                  <annotation>
                     <documentation>12452: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12452</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Relevant for Ekomportalen</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="eier" type="nvdb:EierTrekkerørkanalType">
                  <annotation>
                     <documentation>9717: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9717</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier_Navn" type="string">
                  <annotation>
                     <documentation>9718: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9718</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligTrekkerørkanalType">
                  <annotation>
                     <documentation>10980: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10980</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9721: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9721</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TrekkerørkanalPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trekkerørkanal"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeTrekkerørkanalType">
      <annotation>
         <documentation>9727: Angir type trekkerør/kanal.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9727</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeTrekkerørkanalEnumerationType nvdb:TypeTrekkerørkanalOtherType"/>
   </simpleType>
   <simpleType name="TypeTrekkerørkanalEnumerationType">
      <annotation>
         <documentation>9727: Angir type trekkerør/kanal.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9727</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ka">
            <annotation>
               <documentation>14006: Enkel kanal.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14006</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kanal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mk">
            <annotation>
               <documentation>14008: Flerløps plastkanal.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14008</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Multikanal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sub">
            <annotation>
               <documentation>14009: Flere fiberrør i et større rør.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14009</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Multitube/Sub</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="opi">
            <annotation>
               <documentation>14007: Kasselignende elementer med mange rørføringer for å trekke kabel i).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14007</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPI-kanal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ro">
            <annotation>
               <documentation>14005: Enkelt rør.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14005</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeTrekkerørkanalOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UtleidTilTrekkerørkanalType">
      <annotation>
         <documentation>11521: Angir hvem trekkerør/kanal er utleid til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11521</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utleid til</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UtleidTilTrekkerørkanalEnumerationType nvdb:UtleidTilTrekkerørkanalOtherType"/>
   </simpleType>
   <simpleType name="UtleidTilTrekkerørkanalEnumerationType">
      <annotation>
         <documentation>11521: Angir hvem trekkerør/kanal er utleid til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11521</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utleid til</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19568</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19571</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke utleid</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19569</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19570</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19567</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UtleidTilTrekkerørkanalOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTrekkerørkanalType">
      <annotation>
         <documentation>10980: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10980</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligTrekkerørkanalEnumerationType nvdb:VedlikeholdsansvarligTrekkerørkanalOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTrekkerørkanalEnumerationType">
      <annotation>
         <documentation>10980: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10980</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20013</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18351</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18715</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18844</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18352</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18350</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18353</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTrekkerørkanalOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
