GML/852.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierTrekkerørKanalType">
    <annotation>
      <documentation>9717: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierTrekkerørKanalEnumerationType nvdb:EierTrekkerørKanalOtherType"/>
  </simpleType>
  <simpleType name="EierTrekkerørKanalEnumerationType">
    <annotation>
      <documentation>9717: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>13985: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18622: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>13986: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>13987: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>13988: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17565: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTrekkerørKanalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FargeTrekkerørKanalType">
    <annotation>
      <documentation>9720: Angir hovedfarge på vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:FargeTrekkerørKanalEnumerationType nvdb:FargeTrekkerørKanalOtherType"/>
  </simpleType>
  <simpleType name="FargeTrekkerørKanalEnumerationType">
    <annotation>
      <documentation>9720: Angir hovedfarge på vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="brun">
        <annotation>
          <documentation>13989: Brun</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grønn">
        <annotation>
          <documentation>13990: Grønn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gul">
        <annotation>
          <documentation>13991: Gul</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oransje">
        <annotation>
          <documentation>13992: Oransje</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rød">
        <annotation>
          <documentation>13993: Rød</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sort">
        <annotation>
          <documentation>13994: Sort</documentation>
        </annotation>
      </enumeration>
      <enumeration value="blå">
        <annotation>
          <documentation>15887: Blå</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grå">
        <annotation>
          <documentation>18287: Grå</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FargeTrekkerørKanalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LedigPlassType">
    <annotation>
      <documentation>9723: Angir om rør/kanal er ledig (tomt)</documentation>
    </annotation>
    <union memberTypes="nvdb:LedigPlassEnumerationType nvdb:LedigPlassOtherType"/>
  </simpleType>
  <simpleType name="LedigPlassEnumerationType">
    <annotation>
      <documentation>9723: Angir om rør/kanal er ledig (tomt)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>15868: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>15869: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LedigPlassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeTrekkerørKanalType">
    <annotation>
      <documentation>9724: Angir type materiale i rør/kanal</documentation>
    </annotation>
    <union memberTypes="nvdb:MaterialeTrekkerørKanalEnumerationType nvdb:MaterialeTrekkerørKanalOtherType"/>
  </simpleType>
  <simpleType name="MaterialeTrekkerørKanalEnumerationType">
    <annotation>
      <documentation>9724: Angir type materiale i rør/kanal</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="betong">
        <annotation>
          <documentation>13995: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plast">
        <annotation>
          <documentation>13996: Plast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="aluminium">
        <annotation>
          <documentation>13998: Aluminium</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stål">
        <annotation>
          <documentation>13997: Stål</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeTrekkerørKanalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringTrekkerørKanalType">
    <annotation>
      <documentation>9725: Angir hvor/hvordan trekkerøret er plassert</documentation>
    </annotation>
    <union memberTypes="nvdb:PlasseringTrekkerørKanalEnumerationType nvdb:PlasseringTrekkerørKanalOtherType"/>
  </simpleType>
  <simpleType name="PlasseringTrekkerørKanalEnumerationType">
    <annotation>
      <documentation>9725: Angir hvor/hvordan trekkerøret er plassert</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="påTunnelveggInnside">
        <annotation>
          <documentation>14003: På innside av hvelv eller annen vann og frostsikring i tunnel, eller direkte på tunnelvegg der det ikke er noe innenfor</documentation>
        </annotation>
      </enumeration>
      <enumeration value="påTunnelveggUtside">
        <annotation>
          <documentation>14004: På utside av hvelv eller annen vann og frostsikring i tunnel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bakBetongrekkverk">
        <annotation>
          <documentation>13999: Plasseres bak betongrekkverk (f.eks. New Jersey). Brukes hovedsaklig i tunnel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="påBankett">
        <annotation>
          <documentation>14001: Plasseres på banket, hovedsaklig i tunnel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="underBankett">
        <annotation>
          <documentation>14002: Plasseres under banket, hovedsaklig i tunnel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="iGrøft">
        <annotation>
          <documentation>14000: I lukket rørgrøft eller kabelgrøft</documentation>
        </annotation>
      </enumeration>
      <enumeration value="iGrøftUnderVeg">
        <annotation>
          <documentation>17275: Ligger i grøft på tvers under vegen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="iKabelbr_Uten_Stige">
        <annotation>
          <documentation>15881: Festes til kabelstige, f.eks. i en brukasse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="iTrekkerørKanal">
        <annotation>
          <documentation>15882: Legges i et større rør eller en kanal, f.eks. i en brukasse</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringTrekkerørKanalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TrekkerørKanal" substitutionGroup="nvdb:AbstraktTrekkerørKanal" type="nvdb:TrekkerørKanalType">
    <annotation>
      <documentation>852: Rør eller kanal for trekking av kabel</documentation>
    </annotation>
  </element>
  <complexType name="TrekkerørKanalType">
    <complexContent>
      <extension base="nvdb:AbstraktTrekkerørKanalType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeTrekkerørKanalType">
            <annotation>
              <documentation>9727: Angir type trekkerør/kanal</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antall" type="integer">
            <annotation>
              <documentation>9710: Gir antall separate rør/kanaler objektet inneholder
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="plassering" type="nvdb:PlasseringTrekkerørKanalType">
            <annotation>
              <documentation>9725: Angir hvor/hvordan trekkerøret er plassert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="diameter_Indre" type="double">
            <annotation>
              <documentation>9713: Angir indre diameter for rør/kanal.
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="diameter_Ytre" type="double">
            <annotation>
              <documentation>9714: Angir ytre diameter for rør/kanal
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Ytre" type="double">
            <annotation>
              <documentation>9712: Angir ytre bredde for rør/kanal
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde_Ytre" type="double">
            <annotation>
              <documentation>9722: Angir ytre høyde for rør/kanal
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>9842: Angir lengde for objektet
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="materiale" type="nvdb:MaterialeTrekkerørKanalType">
            <annotation>
              <documentation>9724: Angir type materiale i rør/kanal</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="farge" type="nvdb:FargeTrekkerørKanalType">
            <annotation>
              <documentation>9720: Angir hovedfarge på vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="ledigPlass" type="nvdb:LedigPlassType">
            <annotation>
              <documentation>9723: Angir om rør/kanal er ledig (tomt)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utleidTil" type="nvdb:UtleidTilTrekkerørKanalType">
            <annotation>
              <documentation>11521: Angir hvem trekkerør/kanal er utleid til</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utleidTil_Navn" type="string">
            <annotation>
              <documentation>11522: Angir navn på leietaker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>9716: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>9715: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>9719: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>9726: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9882: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper. Kan benyttes for å beskrive  ytterligere detaljer om tverrsnitt for multikanaler, multitube og OPI-kanaler, f.eks diameter på rør i rør.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer" type="string">
            <annotation>
              <documentation>9711: Gir referanse til relevant sak i vegeiers arkivsystem</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11700: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11167: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierTrekkerørKanalType">
            <annotation>
              <documentation>9717: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>9718: Navn på eier av  vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTrekkerørKanalType">
            <annotation>
              <documentation>10980: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9721: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrekkerørKanalPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TrekkerørKanal"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeTrekkerørKanalType">
    <annotation>
      <documentation>9727: Angir type trekkerør/kanal</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeTrekkerørKanalEnumerationType nvdb:TypeTrekkerørKanalOtherType"/>
  </simpleType>
  <simpleType name="TypeTrekkerørKanalEnumerationType">
    <annotation>
      <documentation>9727: Angir type trekkerør/kanal</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="rør">
        <annotation>
          <documentation>14005: Enkelt rør</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kanal">
        <annotation>
          <documentation>14006: Enkel kanal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="multikanal">
        <annotation>
          <documentation>14008: Flerløps plastkanal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="multitubeSub">
        <annotation>
          <documentation>14009: Flere fiberrør i et større rør</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPI_Kanal">
        <annotation>
          <documentation>14007: Kasselignende elementer med mange rørføringer for å trekke kabel i)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeTrekkerørKanalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtleidTilTrekkerørKanalType">
    <annotation>
      <documentation>11521: Angir hvem trekkerør/kanal er utleid til</documentation>
    </annotation>
    <union memberTypes="nvdb:UtleidTilTrekkerørKanalEnumerationType nvdb:UtleidTilTrekkerørKanalOtherType"/>
  </simpleType>
  <simpleType name="UtleidTilTrekkerørKanalEnumerationType">
    <annotation>
      <documentation>11521: Angir hvem trekkerør/kanal er utleid til</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat">
        <annotation>
          <documentation>19567: Stat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19568: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>19569: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>19570: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeUtleid">
        <annotation>
          <documentation>19571: Ikke utleid</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtleidTilTrekkerørKanalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrekkerørKanalType">
    <annotation>
      <documentation>10980: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTrekkerørKanalEnumerationType nvdb:VedlikeholdsansvarligTrekkerørKanalOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrekkerørKanalEnumerationType">
    <annotation>
      <documentation>10980: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>18350: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18715: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>20013: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18844: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>18351: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>18352: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>18353: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrekkerørKanalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
