GML/853.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>853: Kum for trekking og/eller sammenkobling av kabler.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BrannsikkerTrekkekumType">
      <annotation>
         <documentation>9742: Angir om kum er brannsikker.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9742</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brannsikker</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BrannsikkerTrekkekumEnumerationType nvdb:BrannsikkerTrekkekumOtherType"/>
   </simpleType>
   <simpleType name="BrannsikkerTrekkekumEnumerationType">
      <annotation>
         <documentation>9742: Angir om kum er brannsikker.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9742</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brannsikker</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ja">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15870</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nei">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15871</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BrannsikkerTrekkekumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierTrekkekumType">
      <annotation>
         <documentation>9732: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9732</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierTrekkekumEnumerationType nvdb:EierTrekkekumOtherType"/>
   </simpleType>
   <simpleType name="EierTrekkekumEnumerationType">
      <annotation>
         <documentation>9732: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9732</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14011</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14012</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14013</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18613</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14010</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17566</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierTrekkekumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KumformTrekkekumType">
      <annotation>
         <documentation>9738: Angir kummens form.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kumform</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KumformTrekkekumEnumerationType nvdb:KumformTrekkekumOtherType"/>
   </simpleType>
   <simpleType name="KumformTrekkekumEnumerationType">
      <annotation>
         <documentation>9738: Angir kummens form.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kumform</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="kv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14022</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kvadratisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="re">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14023</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rektangulær</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ru">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14024</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rund</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KumformTrekkekumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Materiale_KumTrekkekumType">
      <annotation>
         <documentation>9741: Angir type materiale i selve kummen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9741</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale, kum</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Materiale_KumTrekkekumEnumerationType nvdb:Materiale_KumTrekkekumOtherType"/>
   </simpleType>
   <simpleType name="Materiale_KumTrekkekumEnumerationType">
      <annotation>
         <documentation>9741: Angir type materiale i selve kummen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9741</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale, kum</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="be">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14025</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14026</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, spesialprodusert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14027</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SG">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21340</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skumglassplater</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14028</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Materiale_KumTrekkekumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Materiale_LokkTrekkekumType">
      <annotation>
         <documentation>11241: Angir materialtype for kummens lokk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11241</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale, lokk</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Materiale_LokkTrekkekumEnumerationType nvdb:Materiale_LokkTrekkekumOtherType"/>
   </simpleType>
   <simpleType name="Materiale_LokkTrekkekumEnumerationType">
      <annotation>
         <documentation>11241: Angir materialtype for kummens lokk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11241</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale, lokk</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18527</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18528</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18529</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Støpjern</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Materiale_LokkTrekkekumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringTrekkekumType">
      <annotation>
         <documentation>9740: Angir hvor/hvordan trekkekummen er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9740</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlasseringTrekkekumEnumerationType nvdb:PlasseringTrekkekumOtherType"/>
   </simpleType>
   <simpleType name="PlasseringTrekkekumEnumerationType">
      <annotation>
         <documentation>9740: Angir hvor/hvordan trekkekummen er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9740</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14014</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bak betongrekkverk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fn">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14020</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I fjellrom/nisje</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="te">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14016</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I terreng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ba">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14015</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I tunnelbankett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ve">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14019</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I vegbane</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ti">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14017</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På tunnelvegg innside</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14018</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På tunnelvegg utside</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22265</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I fortau</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I g/s-veg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22264</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I g/s-veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="td">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22266</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I trafikkdeler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22267</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I vegskulder</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringTrekkekumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RelevantForEkomportalenTrekkekumType">
      <annotation>
         <documentation>12451: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12451</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Relevant for Ekomportalen</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RelevantForEkomportalenTrekkekumEnumerationType nvdb:RelevantForEkomportalenTrekkekumOtherType"/>
   </simpleType>
   <simpleType name="RelevantForEkomportalenTrekkekumEnumerationType">
      <annotation>
         <documentation>12451: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12451</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Relevant for Ekomportalen</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21368</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21369</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RelevantForEkomportalenTrekkekumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Trekkekum"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:TrekkekumType">
      <annotation>
         <documentation>853: Kum for trekking og/eller sammenkobling av kabler.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">853</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trekkekum</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TrekkekumType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="kumform" type="nvdb:KumformTrekkekumType">
                  <annotation>
                     <documentation>9738: Angir kummens form.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9738</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kumform</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="nvdb:PlasseringTrekkekumType">
                  <annotation>
                     <documentation>9740: Angir hvor/hvordan trekkekummen er plassert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9740</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materiale_Kum">
                  <annotation>
                     <documentation>9741: Angir type materiale i selve kummen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9741</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale, kum</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="materiale_Lokk">
                  <annotation>
                     <documentation>11241: Angir materialtype for kummens lokk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11241</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale, lokk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="brannsikker" type="nvdb:BrannsikkerTrekkekumType">
                  <annotation>
                     <documentation>9742: Angir om kum er brannsikker.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9742</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Brannsikker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="diameter_Ytre" type="double">
                  <annotation>
                     <documentation>9729: Angir ytre diameter for trekkekum.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9729</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Diameter, ytre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde_Ytre" type="double">
                  <annotation>
                     <documentation>9728: Angir ytre bredde for trekkekum.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9728</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, ytre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde_Ytre" type="double">
                  <annotation>
                     <documentation>9739: Angir ytre lengde for kum.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9739</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde, ytre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dybde_Ytre" type="double">
                  <annotation>
                     <documentation>9737: Angir ytre dybde for kum.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9737</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dybde, ytre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallRør" type="integer">
                  <annotation>
                     <documentation>10840: Angir hvor mange rør som ender i kummen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10840</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall rør</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11242: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11242</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9731: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9731</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>9757: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9757</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produsent" type="string">
                  <annotation>
                     <documentation>9734: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9734</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produktnavn" type="string">
                  <annotation>
                     <documentation>9735: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9735</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivnummer" type="string">
                  <annotation>
                     <documentation>9730: Gir referanse til relevant sak i vegeiers arkivsystem.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9730</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivreferanse" type="string">
                  <annotation>
                     <documentation>11701: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11701</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11168: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11168</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12427: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12427</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="FKB_ID" type="string">
                  <annotation>
                     <documentation>10859: Refererer til FKB-identitet. Benyttes i forbindelse med felles forvaltning av geometri.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10859</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">FKB_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="relevantForEkomportalen">
                  <annotation>
                     <documentation>12451: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12451</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Relevant for Ekomportalen</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="eier" type="nvdb:EierTrekkekumType">
                  <annotation>
                     <documentation>9732: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9732</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier_Navn" type="string">
                  <annotation>
                     <documentation>9733: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9733</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligTrekkekumType">
                  <annotation>
                     <documentation>10981: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10981</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>9843: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9843</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TrekkekumPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trekkekum"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VedlikeholdsansvarligTrekkekumType">
      <annotation>
         <documentation>10981: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10981</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligTrekkekumEnumerationType nvdb:VedlikeholdsansvarligTrekkekumOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTrekkekumEnumerationType">
      <annotation>
         <documentation>10981: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10981</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20014</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18355</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18718</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18847</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18356</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18354</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18357</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTrekkekumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
