GML/853.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BrannsikkerType">
    <annotation>
      <documentation>9742: Angir om kum er brannsikker.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9742</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9742</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Brannsikker</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BrannsikkerEnumerationType nvdb:BrannsikkerOtherType"/>
  </simpleType>
  <simpleType name="BrannsikkerEnumerationType">
    <annotation>
      <documentation>9742: Angir om kum er brannsikker.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9742</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9742</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Brannsikker</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>15870: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15870</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>15871: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15871</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BrannsikkerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierTrekkekumType">
    <annotation>
      <documentation>9732: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9732</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9732</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierTrekkekumEnumerationType nvdb:EierTrekkekumOtherType"/>
  </simpleType>
  <simpleType name="EierTrekkekumEnumerationType">
    <annotation>
      <documentation>9732: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9732</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9732</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>14010: Organisasjonsnummer: 971032081.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14010</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18613: Organisasjonsnummer: 915488099.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18613</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>14011: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14011</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>14012: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14012</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>14013: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14013</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17566: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17566</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTrekkekumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KumformType">
    <annotation>
      <documentation>9738: Angir kummens form.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9738</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9738</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kumform</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KumformEnumerationType nvdb:KumformOtherType"/>
  </simpleType>
  <simpleType name="KumformEnumerationType">
    <annotation>
      <documentation>9738: Angir kummens form.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9738</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9738</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kumform</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Kvadratisk">
        <annotation>
          <documentation>14022: Kummen er kvadratisk.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14022</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kvadratisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rektangulær">
        <annotation>
          <documentation>14023: Kummen er rektangulær.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14023</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rektangulær</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rund">
        <annotation>
          <documentation>14024: Kummen er rund.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14024</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rund</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KumformOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Materiale_KumType">
    <annotation>
      <documentation>9741: Angir type materiale i selve kummen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9741</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9741</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale, kum</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Materiale_KumEnumerationType nvdb:Materiale_KumOtherType"/>
  </simpleType>
  <simpleType name="Materiale_KumEnumerationType">
    <annotation>
      <documentation>9741: Angir type materiale i selve kummen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9741</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9741</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale, kum</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betong">
        <annotation>
          <documentation>14025: Kummen er laget av betong.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14025</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, spesialprodusert">
        <annotation>
          <documentation>14026: Kummen er laget av spesialprodusert betong.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14026</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong, spesialprodusert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>14027: Kummen er laget av plast.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14027</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stål">
        <annotation>
          <documentation>14028: Kummen er laget av stål.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14028</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skumglassplater">
        <annotation>
          <documentation>21340: Skumglassisolasjonsplater forsterket med membran.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21340</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skumglassplater</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Materiale_KumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Materiale_LokkType">
    <annotation>
      <documentation>11241: Angir materialtype for kummens lokk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11241</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11241</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale, lokk</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Materiale_LokkEnumerationType nvdb:Materiale_LokkOtherType"/>
  </simpleType>
  <simpleType name="Materiale_LokkEnumerationType">
    <annotation>
      <documentation>11241: Angir materialtype for kummens lokk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11241</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11241</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale, lokk</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betong">
        <annotation>
          <documentation>18527: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18527</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>18528: Plast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18528</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Støpjern">
        <annotation>
          <documentation>18529: Støpjern</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18529</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støpjern</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Materiale_LokkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringTrekkekumType">
    <annotation>
      <documentation>9740: Angir hvor/hvordan trekkekummen er plassert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9740</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9740</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringTrekkekumEnumerationType nvdb:PlasseringTrekkekumOtherType"/>
  </simpleType>
  <simpleType name="PlasseringTrekkekumEnumerationType">
    <annotation>
      <documentation>9740: Angir hvor/hvordan trekkekummen er plassert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9740</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9740</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="På tunnelvegg utside">
        <annotation>
          <documentation>14018: På utside av hvelv eller annen vann og frostsikring i tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14018</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">På tunnelvegg utside</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="På tunnelvegg innside">
        <annotation>
          <documentation>14017: På innside av hvelv eller annen vann og frostsikring i tunnel, eller direkte på tunnelvegg der det ikke er noe innenfor.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14017</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">På tunnelvegg innside</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bak betongrekkverk">
        <annotation>
          <documentation>14014: Bak betongrekkverk, f.eks. New Jersey.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14014</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bak betongrekkverk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I bankett">
        <annotation>
          <documentation>14015: I banketten.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14015</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I bankett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I fjellrom/nisje">
        <annotation>
          <documentation>14020: I utsprengt rom ved siden av tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14020</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I fjellrom/nisje</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I terreng">
        <annotation>
          <documentation>14016: Nedgravd i terreng.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14016</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I terreng</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I veg">
        <annotation>
          <documentation>14019: Nedgravd i veg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14019</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I veg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringTrekkekumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RelevantForEkomportalenTrekkekumType">
    <annotation>
      <documentation>12451: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12451</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12451</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Relevant for Ekomportalen</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RelevantForEkomportalenTrekkekumEnumerationType nvdb:RelevantForEkomportalenTrekkekumOtherType"/>
  </simpleType>
  <simpleType name="RelevantForEkomportalenTrekkekumEnumerationType">
    <annotation>
      <documentation>12451: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12451</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12451</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Relevant for Ekomportalen</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>21368: Indikerer at vegobjektet er relevant for overføring til Ekomportalen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21368</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>21369: Indikerer at vegobjektet er relevant for overføring til Ekomportalen. Klient for overføring av data fra NVDB til Ekom-portalen vil ikke kunne overføre denne forekomsten.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21369</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RelevantForEkomportalenTrekkekumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trekkekum" substitutionGroup="nvdb:AbstraktTrekkekum" type="nvdb:TrekkekumType">
    <annotation>
      <documentation>853: Kum for trekking og/eller sammenkobling av kabler.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">853</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">853</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trekkekum</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrekkekumType">
    <complexContent>
      <extension base="nvdb:AbstraktTrekkekumType">
        <sequence>
          <element minOccurs="0" name="kumform" type="nvdb:KumformType">
            <annotation>
              <documentation>9738: Angir kummens form.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9738</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kumform</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="plassering" type="nvdb:PlasseringTrekkekumType">
            <annotation>
              <documentation>9740: Angir hvor/hvordan trekkekummen er plassert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9740</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materiale_Kum" type="nvdb:Materiale_KumType">
            <annotation>
              <documentation>9741: Angir type materiale i selve kummen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9741</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale, kum</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materiale_Lokk" type="nvdb:Materiale_LokkType">
            <annotation>
              <documentation>11241: Angir materialtype for kummens lokk.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11241</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale, lokk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brannsikker" type="nvdb:BrannsikkerType">
            <annotation>
              <documentation>9742: Angir om kum er brannsikker.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9742</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Brannsikker</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="diameter_Ytre" type="double">
            <annotation>
              <documentation>9729: Angir ytre diameter for trekkekum.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9729</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Diameter, ytre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Ytre" type="double">
            <annotation>
              <documentation>9728: Angir ytre bredde for trekkekum.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9728</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde, ytre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde_Ytre" type="double">
            <annotation>
              <documentation>9739: Angir ytre lengde for kum.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9739</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde, ytre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dybde_Ytre" type="double">
            <annotation>
              <documentation>9737: Angir ytre dybde for kum.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9737</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dybde, ytre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallRør" type="integer">
            <annotation>
              <documentation>10840: Angir hvor mange rør som ender i kummen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10840</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall rør</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11242: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11242</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>9731: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9731</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>9757: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9757</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>9734: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9734</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>9735: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9735</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer" type="string">
            <annotation>
              <documentation>9730: Gir referanse til relevant sak i vegeiers arkivsystem.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9730</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Arkivnummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11701: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11701</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11168: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11168</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12427: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12427</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="FKB_ID" type="string">
            <annotation>
              <documentation>10859: Refererer til FKB-identitet. Benyttes i forbindelse med felles forvaltning av geometri.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10859</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">FKB_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="relevantForEkomportalen" type="nvdb:RelevantForEkomportalenTrekkekumType">
            <annotation>
              <documentation>12451: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12451</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Relevant for Ekomportalen</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierTrekkekumType">
            <annotation>
              <documentation>9732: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9732</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>9733: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9733</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTrekkekumType">
            <annotation>
              <documentation>10981: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10981</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>9843: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9843</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløpUtenTrafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløpUtenTrafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkadeFU_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrekkekumPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trekkekum"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligTrekkekumType">
    <annotation>
      <documentation>10981: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10981</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10981</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTrekkekumEnumerationType nvdb:VedlikeholdsansvarligTrekkekumOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrekkekumEnumerationType">
    <annotation>
      <documentation>10981: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10981</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10981</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>18354: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18354</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18718: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18718</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20014: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20014</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18847: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18847</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>18355: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18355</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>18356: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18356</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>18357: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18357</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrekkekumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
