GML/854.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BrannsikkerTunnelportType">
    <annotation>
      <documentation>9761: Angir om porten er godkjent brannport.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9761</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9761</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Brannsikker</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BrannsikkerTunnelportEnumerationType nvdb:BrannsikkerTunnelportOtherType"/>
  </simpleType>
  <simpleType name="BrannsikkerTunnelportEnumerationType">
    <annotation>
      <documentation>9761: Angir om porten er godkjent brannport.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9761</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9761</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Brannsikker</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>15888: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15888</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>15889: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15889</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BrannsikkerTunnelportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTunnelportType">
    <annotation>
      <documentation>9763: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9763</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9763</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeTunnelportEnumerationType nvdb:BruksområdeTunnelportOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeTunnelportEnumerationType">
    <annotation>
      <documentation>9763: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9763</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9763</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tilgang fjellrom">
        <annotation>
          <documentation>15890: Tilgang fjellrom</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15890</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilgang fjellrom</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tilgang sideløp">
        <annotation>
          <documentation>15891: Tilgang sideløp</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15891</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilgang sideløp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kuldeport">
        <annotation>
          <documentation>15892: Kuldeport</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15892</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kuldeport</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTunnelportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierTunnelportType">
    <annotation>
      <documentation>9764: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9764</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9764</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierTunnelportEnumerationType nvdb:EierTunnelportOtherType"/>
  </simpleType>
  <simpleType name="EierTunnelportEnumerationType">
    <annotation>
      <documentation>9764: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9764</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9764</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>15893: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15893</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18624: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18624</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>15894: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15894</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>15895: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15895</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>15896: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15896</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17623: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17623</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTunnelportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeTunnelportType">
    <annotation>
      <documentation>9769: Angir materiale.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9769</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9769</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeTunnelportEnumerationType nvdb:MaterialeTunnelportOtherType"/>
  </simpleType>
  <simpleType name="MaterialeTunnelportEnumerationType">
    <annotation>
      <documentation>9769: Angir materiale.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9769</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9769</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Aluminium">
        <annotation>
          <documentation>15900: Aluminium</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15900</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stål">
        <annotation>
          <documentation>15901: Stål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15901</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeTunnelportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NormalStillingTunnelportType">
    <annotation>
      <documentation>9770: Angir hva som er normal stilling for dør.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9770</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9770</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Normal stilling</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NormalStillingTunnelportEnumerationType nvdb:NormalStillingTunnelportOtherType"/>
  </simpleType>
  <simpleType name="NormalStillingTunnelportEnumerationType">
    <annotation>
      <documentation>9770: Angir hva som er normal stilling for dør.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9770</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9770</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Normal stilling</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Lukka, låst">
        <annotation>
          <documentation>15902: Lukka, låst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15902</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lukka, låst</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lukka, ulåst">
        <annotation>
          <documentation>15903: Lukka, ulåst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15903</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lukka, ulåst</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Åpen">
        <annotation>
          <documentation>15904: Åpen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15904</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Åpen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NormalStillingTunnelportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tunnelport" substitutionGroup="nvdb:AbstraktTunnelport" type="nvdb:TunnelportType">
    <annotation>
      <documentation>854: Port som kan avstenge et tunnelløp.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">854</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">854</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tunnelport</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TunnelportType">
    <complexContent>
      <extension base="nvdb:AbstraktTunnelportType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeTunnelportType">
            <annotation>
              <documentation>9763: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9763</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeTunnelportType">
            <annotation>
              <documentation>9771: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9771</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materiale" type="nvdb:MaterialeTunnelportType">
            <annotation>
              <documentation>9769: Angir materiale.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9769</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brannsikker" type="nvdb:BrannsikkerTunnelportType">
            <annotation>
              <documentation>9761: Angir om porten er godkjent brannport.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9761</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Brannsikker</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>9762: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9762</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>9768: Angir egenhøyde av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9768</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="normalStilling" type="nvdb:NormalStillingTunnelportType">
            <annotation>
              <documentation>9770: Angir hva som er normal stilling for dør.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9770</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Normal stilling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10386: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10386</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10488: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10488</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="SCADA_Merking" type="string">
            <annotation>
              <documentation>11741: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11741</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">SCADA-merking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11644: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11644</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11702: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11702</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11169: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11169</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12428: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12428</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierTunnelportType">
            <annotation>
              <documentation>9764: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9764</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTunnelportType">
            <annotation>
              <documentation>9765: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9765</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>9767: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9767</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelportPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tunnelport"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeTunnelportType">
    <annotation>
      <documentation>9771: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9771</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9771</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeTunnelportEnumerationType nvdb:TypeTunnelportOtherType"/>
  </simpleType>
  <simpleType name="TypeTunnelportEnumerationType">
    <annotation>
      <documentation>9771: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9771</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9771</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Leddport">
        <annotation>
          <documentation>15905: Leddport</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15905</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Leddport</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skyveport">
        <annotation>
          <documentation>15906: Skyveport</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15906</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skyveport</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeTunnelportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTunnelportType">
    <annotation>
      <documentation>9765: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9765</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9765</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTunnelportEnumerationType nvdb:VedlikeholdsansvarligTunnelportOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTunnelportEnumerationType">
    <annotation>
      <documentation>9765: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9765</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9765</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>15897: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15897</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18669: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18669</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19993: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19993</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18798: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18798</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>15898: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15898</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>15899: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17777: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17777</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTunnelportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
