GML/856.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.23">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Trafikkreguleringer" substitutionGroup="nvdb:AbstraktTrafikkreguleringer" type="nvdb:TrafikkreguleringerType">
    <annotation>
      <documentation>856: Strekning hvor det er restriksjoner for motortrafikk eller gående og syklende</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">856</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">856</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trafikkreguleringer</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkreguleringerType">
    <complexContent>
      <extension base="nvdb:AbstraktTrafikkreguleringerType">
        <sequence>
          <element name="trafikkreguleringer" type="nvdb:TrafikkreguleringerTrafikkreguleringerType">
            <annotation>
              <documentation>9794: Angir eventuelle restriksjoner for motortrafikk, gående og syklende</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9794</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trafikkreguleringer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjeldertidsrom" type="string">
            <annotation>
              <documentation>11541: Angir tidsrommet (hhmm-hhmm) eller (mnd-mnd) trafikkreguleringen gjelder</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11541</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gjelder tidsrom</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>10782: Angir eventuelle unntak for tidspunkt, kjøretøytyper, mm</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10782</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Merknad</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkreguleringerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkreguleringer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TrafikkreguleringerTrafikkreguleringerType">
    <annotation>
      <documentation>9794: Angir eventuelle restriksjoner for motortrafikk, gående og syklende</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9794</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9794</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trafikkreguleringer</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TrafikkreguleringerTrafikkreguleringerEnumerationType nvdb:TrafikkreguleringerTrafikkreguleringerOtherType"/>
  </simpleType>
  <simpleType name="TrafikkreguleringerTrafikkreguleringerEnumerationType">
    <annotation>
      <documentation>9794: Angir eventuelle restriksjoner for motortrafikk, gående og syklende</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9794</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9794</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trafikkreguleringer</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="forbudtForAlleKjøretøy">
        <annotation>
          <documentation>19643: Forbudt for alle kjøretøy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19643</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbudt for alle kjøretøy</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForGående">
        <annotation>
          <documentation>19659: Forbudt for gående</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19659</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbudt for gående</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForGåendeOgSyklende">
        <annotation>
          <documentation>15945: Forbudt for gående og syklende, regulert vha skilt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15945</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbudt for gående og syklende</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForLastebilOgTrekkbil">
        <annotation>
          <documentation>19660: Forbudt for lastebil og trekkbil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19660</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbudt for lastebil og trekkbil</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForLastebilOgTrekkbilUnntattKjøringTilVirksomhetEllerAdresse">
        <annotation>
          <documentation>19661: Forbudt for lastebil og trekkbil unntatt kjøring til virksomhet eller adresse Virksomhet eller adresse spesifiseres som Merknad.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19661</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbudt for lastebil og trekkbil m unntak</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotorsykkel">
        <annotation>
          <documentation>19662: Forbudt for motorsykkel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19662</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbudt for motorsykkel</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotorsykkelOgMoped">
        <annotation>
          <documentation>19663: Forbudt for motorsykkel og moped</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19663</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbudt for motorsykkel og moped</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotortrafikk">
        <annotation>
          <documentation>15946: Forbudt for motortrafikk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15946</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbudt for motortrafikk </taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotortrafikkUnntattBuss">
        <annotation>
          <documentation>19664: Forbudt for motortrafikk unntatt buss</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19664</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbudt for motortrafikk unntatt buss</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotortrafikkUnntattBussOgTaxi">
        <annotation>
          <documentation>19665: Forbudt for motortrafikk unntatt buss og taxi</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19665</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbudt for motortrafikk unntatt buss og taxi</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotortrafikkUnntattMoped">
        <annotation>
          <documentation>19666: Forbudt for motortrafikk unntatt moped</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19666</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbudt for motortrafikk unntatt moped</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotortrafikkUnntattSpesiellMotorvogntype">
        <annotation>
          <documentation>19667: Forbudt for motortrafikk unntatt spesiell motorvogntype. Motorvogntype spesifiseres som Merknad.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19667</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbudt for motortrafikk unntatt spesiell motorvogntype</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotortrafikkUnntattTaxi">
        <annotation>
          <documentation>19668: Forbudt for motortrafikk unntatt taxi</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19668</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbudt for motortrafikk unntatt taxi</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotortrafikkUnntattVaretransport">
        <annotation>
          <documentation>19669: Forbudt for motortrafikk unntatt varetransport</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19669</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbudt for motortrafikk unntatt varetransport</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForSyklende">
        <annotation>
          <documentation>18303: Forbudt for syklende, regulert vha skilt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18303</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbudt for syklende</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForTraktor">
        <annotation>
          <documentation>19670: Forbudt for traktor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19670</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forbudt for traktor</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gjennomkjøringForbudt">
        <annotation>
          <documentation>16847: Gjennomkjøring forbudt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16847</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gjennomkjøring forbudt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gjennomkjøringForbudtForLastebilOgTrekkbil">
        <annotation>
          <documentation>19671: Gjennomkjøring forbudt for lastebil og trekkbil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19671</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gjennomkjøring forbudt for lastebil og trekkbil</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gjennomkjøringForbudtTilVegEllerGate">
        <annotation>
          <documentation>19672: Gjennomkjøring forbudt til veg eller gate. Veg eller gate som Merknad.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19672</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gjennomkjøring forbudt til veg eller gate </taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="motortrafikkKunTillattForKjøringTilEiendommer">
        <annotation>
          <documentation>15948: Forbudt for motortrafikk, med unntak av kjøring til eiendommer.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15948</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Motortrafikk kun tillatt for kjøring til eiendommer </taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="motortrafikkKunTillattForKjøringTilVirksomhetEllerAdresse">
        <annotation>
          <documentation>19673: Motortrafikk kun tillatt for kjøring til virksomhet eller adresse. Virksomhet eller adresse spesifiseres som Merknad.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19673</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Motortrafikk kun tillatt for kjøring til virksomhet eller adresse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="motortrafikkKunTillattForVaretransport">
        <annotation>
          <documentation>15947: Forbudt for motortrafikk, med unntak av varetransport</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15947</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Motortrafikk kun tillatt for varetransport </taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="motortrafikkKunTillattForVaretransportOgKjøringTilEiendommer">
        <annotation>
          <documentation>15949: Forbudt for motortrafikk, med unntak av varetransport og kjøring til eiendommer.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15949</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Motortrafikk kun tillatt for varetransport og kjøring til eiendommer</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="syklingMotKjøreretningenTillatt">
        <annotation>
          <documentation>17464: Sykling mot kjøreretning er tillatt, og dette er regulert vha skilt. Gjelder der det ikke er merket opp egne sykkelfelt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17464</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sykling mot kjøreretningen tillatt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrafikkreguleringerTrafikkreguleringerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
