GML/856.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>856: Strekning hvor det er restriksjoner for motortrafikk eller gående og syklende.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="GjelderUkedagTrafikkreguleringerType">
      <annotation>
         <documentation>12936: Trafikkregulering gjelder kun angitt ukedag.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12936</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjelder ukedag</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GjelderUkedagTrafikkreguleringerEnumerationType nvdb:GjelderUkedagTrafikkreguleringerOtherType"/>
   </simpleType>
   <simpleType name="GjelderUkedagTrafikkreguleringerEnumerationType">
      <annotation>
         <documentation>12936: Trafikkregulering gjelder kun angitt ukedag.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12936</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjelder ukedag</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22485</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fredag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="M">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22481</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mandag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22483</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Onsdag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ti">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22482</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tirsdag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="To">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22484</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Torsdag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GjelderUkedagTrafikkreguleringerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Trafikkreguleringer"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:TrafikkreguleringerType">
      <annotation>
         <documentation>856: Strekning hvor det er restriksjoner for motortrafikk eller gående og syklende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">856</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkreguleringer</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TrafikkreguleringerType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="trafikkreguleringer"
                        type="nvdb:TrafikkreguleringerTrafikkreguleringerType">
                  <annotation>
                     <documentation>9794: Angir eventuelle restriksjoner for motortrafikk, gående og syklende.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9794</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Trafikkreguleringer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gjelderHverdagerULørdagFraKl" type="time">
                  <annotation>
                     <documentation>12930: Trafikkregulering gjelder på hverdager unntatt lørdag fra angitt klokkeslett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12930</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder hverdager u. lørdag fra kl.</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gjelderHverdagerULørdagTilKl" type="time">
                  <annotation>
                     <documentation>12931: Trafikkregulering gjelder på hverdager unntatt lørdag til angitt klokkeslett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12931</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder hverdager u. lørdag til kl.</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gjelderLørdagFraKl" type="time">
                  <annotation>
                     <documentation>12932: Trafikkregulering gjelder på lørdager fra angitt klokkeslett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12932</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder lørdag fra kl.</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gjelderLørdagTilKl" type="time">
                  <annotation>
                     <documentation>12933: Trafikkregulering gjelder på lørdager til angitt klokkeslett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12933</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder lørdag til kl.</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gjelderSøndagFraKl" type="time">
                  <annotation>
                     <documentation>12934: Trafikkregulering gjelder på søndager fra angitt klokkeslett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12934</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder søndag fra kl.</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gjelderSøndagTilKl" type="time">
                  <annotation>
                     <documentation>12935: Trafikkregulering gjelder på søndager til angitt klokkeslett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12935</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder søndag til kl.</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gjelderUkedag">
                  <annotation>
                     <documentation>12936: Trafikkregulering gjelder kun angitt ukedag.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12936</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder ukedag</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>10782: Angir eventuelle unntak for tidspunkt, kjøretøytyper, m.m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10782</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TrafikkreguleringerPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trafikkreguleringer"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TrafikkreguleringerTrafikkreguleringerType">
      <annotation>
         <documentation>9794: Angir eventuelle restriksjoner for motortrafikk, gående og syklende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9794</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkreguleringer</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TrafikkreguleringerTrafikkreguleringerEnumerationType nvdb:TrafikkreguleringerTrafikkreguleringerOtherType"/>
   </simpleType>
   <simpleType name="TrafikkreguleringerTrafikkreguleringerEnumerationType">
      <annotation>
         <documentation>9794: Angir eventuelle restriksjoner for motortrafikk, gående og syklende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9794</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkreguleringer</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="r01">
            <annotation>
               <documentation>19643: Forbudt for alle kjøretøy.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19643</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for alle kjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r02">
            <annotation>
               <documentation>19659: Forbudt for gående.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19659</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for gående</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r03">
            <annotation>
               <documentation>15945: Forbudt for gående og syklende, regulert vha. skilt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15945</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for gående og syklende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r04">
            <annotation>
               <documentation>19660: Forbudt for lastebil og trekkbil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19660</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for lastebil og trekkbil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r05">
            <annotation>
               <documentation>19661: Forbudt for lastebil og trekkbil unntatt kjøring til virksomhet eller adresse Virksomhet eller adresse spesifiseres som Merknad.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19661</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for lastebil og trekkbil m unntak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r06">
            <annotation>
               <documentation>19662: Forbudt for motorsykkel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19662</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for motorsykkel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r07">
            <annotation>
               <documentation>19663: Forbudt for motorsykkel og moped.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19663</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for motorsykkel og moped</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r08">
            <annotation>
               <documentation>15946: Forbudt for motortrafikk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15946</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for motortrafikk </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r09">
            <annotation>
               <documentation>19664: Forbudt for motortrafikk unntatt buss.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19664</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for motortrafikk unntatt buss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r10">
            <annotation>
               <documentation>19665: Forbudt for motortrafikk unntatt buss og taxi.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19665</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for motortrafikk unntatt buss og taxi</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r11">
            <annotation>
               <documentation>19666: Forbudt for motortrafikk unntatt moped.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19666</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for motortrafikk unntatt moped</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r12">
            <annotation>
               <documentation>19667: Forbudt for motortrafikk unntatt spesiell motorvogntype. Motorvogntype spesifiseres som Merknad.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19667</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for motortrafikk unntatt spesiell motorvogntype</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r13">
            <annotation>
               <documentation>19668: Forbudt for motortrafikk unntatt taxi.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19668</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for motortrafikk unntatt taxi</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r14">
            <annotation>
               <documentation>19669: Forbudt for motortrafikk unntatt varetransport.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19669</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for motortrafikk unntatt varetransport</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r15">
            <annotation>
               <documentation>18303: Forbudt for syklende, regulert vha. skilt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18303</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for syklende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r16">
            <annotation>
               <documentation>19670: Forbudt for traktor.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19670</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for traktor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r20">
            <annotation>
               <documentation>15948: Forbudt for motortrafikk, med unntak av kjøring til eiendommer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15948</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Motortrafikk kun tillatt for kjøring til eiendommer </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r21">
            <annotation>
               <documentation>19673: Motortrafikk kun tillatt for kjøring til virksomhet eller adresse. Virksomhet eller adresse spesifiseres som Merknad.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19673</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Motortrafikk kun tillatt for kjøring til virksomhet eller adresse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r22">
            <annotation>
               <documentation>15947: Forbudt for motortrafikk, med unntak av varetransport.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15947</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Motortrafikk kun tillatt for varetransport </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r23">
            <annotation>
               <documentation>15949: Forbudt for motortrafikk, med unntak av varetransport og kjøring til eiendommer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15949</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Motortrafikk kun tillatt for varetransport og kjøring til eiendommer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r15">
            <annotation>
               <documentation>22613: Forbudt for liten elektrisk motorvogn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22613</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forbudt for liten elektrisk motorvogn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TrafikkreguleringerTrafikkreguleringerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
