GML/856.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Trafikkreguleringer" substitutionGroup="nvdb:AbstraktTrafikkreguleringer" type="nvdb:TrafikkreguleringerType">
    <annotation>
      <documentation>856: Strekning hvor det er restriksjoner for motortrafikk eller gående og syklende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">856</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">856</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkreguleringer</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkreguleringerType">
    <complexContent>
      <extension base="nvdb:AbstraktTrafikkreguleringerType">
        <sequence>
          <element name="trafikkreguleringer" type="nvdb:TrafikkreguleringerTrafikkreguleringerType">
            <annotation>
              <documentation>9794: Angir eventuelle restriksjoner for motortrafikk, gående og syklende.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9794</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Trafikkreguleringer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjeldertidsrom" type="string">
            <annotation>
              <documentation>11541: Angir tidsrommet (hhmm-hhmm) eller (mnd-mnd) trafikkreguleringen gjelder.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11541</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder tidsrom</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>10782: Angir eventuelle unntak for tidspunkt, kjøretøytyper, m.m.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10782</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkreguleringerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkreguleringer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TrafikkreguleringerTrafikkreguleringerType">
    <annotation>
      <documentation>9794: Angir eventuelle restriksjoner for motortrafikk, gående og syklende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9794</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9794</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkreguleringer</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TrafikkreguleringerTrafikkreguleringerEnumerationType nvdb:TrafikkreguleringerTrafikkreguleringerOtherType"/>
  </simpleType>
  <simpleType name="TrafikkreguleringerTrafikkreguleringerEnumerationType">
    <annotation>
      <documentation>9794: Angir eventuelle restriksjoner for motortrafikk, gående og syklende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9794</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9794</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkreguleringer</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="forbudtForAlleKjøretøy">
        <annotation>
          <documentation>19643: Forbudt for alle kjøretøy.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19643</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbudt for alle kjøretøy</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForGående">
        <annotation>
          <documentation>19659: Forbudt for gående.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19659</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbudt for gående</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForGåendeOgSyklende">
        <annotation>
          <documentation>15945: Forbudt for gående og syklende, regulert vha. skilt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15945</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbudt for gående og syklende</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForLastebilOgTrekkbil">
        <annotation>
          <documentation>19660: Forbudt for lastebil og trekkbil.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19660</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbudt for lastebil og trekkbil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForLastebilOgTrekkbilUnntattKjøringTilVirksomhetEllerAdresse">
        <annotation>
          <documentation>19661: Forbudt for lastebil og trekkbil unntatt kjøring til virksomhet eller adresse Virksomhet eller adresse spesifiseres som Merknad.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19661</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbudt for lastebil og trekkbil m unntak</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotorsykkel">
        <annotation>
          <documentation>19662: Forbudt for motorsykkel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19662</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbudt for motorsykkel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotorsykkelOgMoped">
        <annotation>
          <documentation>19663: Forbudt for motorsykkel og moped.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19663</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbudt for motorsykkel og moped</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotortrafikk">
        <annotation>
          <documentation>15946: Forbudt for motortrafikk.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15946</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbudt for motortrafikk </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotortrafikkUnntattBuss">
        <annotation>
          <documentation>19664: Forbudt for motortrafikk unntatt buss.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19664</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbudt for motortrafikk unntatt buss</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotortrafikkUnntattBussOgTaxi">
        <annotation>
          <documentation>19665: Forbudt for motortrafikk unntatt buss og taxi.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19665</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbudt for motortrafikk unntatt buss og taxi</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotortrafikkUnntattMoped">
        <annotation>
          <documentation>19666: Forbudt for motortrafikk unntatt moped.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19666</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbudt for motortrafikk unntatt moped</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotortrafikkUnntattSpesiellMotorvogntype">
        <annotation>
          <documentation>19667: Forbudt for motortrafikk unntatt spesiell motorvogntype. Motorvogntype spesifiseres som Merknad.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19667</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbudt for motortrafikk unntatt spesiell motorvogntype</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotortrafikkUnntattTaxi">
        <annotation>
          <documentation>19668: Forbudt for motortrafikk unntatt taxi.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19668</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbudt for motortrafikk unntatt taxi</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForMotortrafikkUnntattVaretransport">
        <annotation>
          <documentation>19669: Forbudt for motortrafikk unntatt varetransport.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19669</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbudt for motortrafikk unntatt varetransport</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForSyklende">
        <annotation>
          <documentation>18303: Forbudt for syklende, regulert vha. skilt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18303</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbudt for syklende</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbudtForTraktor">
        <annotation>
          <documentation>19670: Forbudt for traktor.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19670</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forbudt for traktor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="motortrafikkKunTillattForKjøringTilEiendommer">
        <annotation>
          <documentation>15948: Forbudt for motortrafikk, med unntak av kjøring til eiendommer.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15948</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Motortrafikk kun tillatt for kjøring til eiendommer </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="motortrafikkKunTillattForKjøringTilVirksomhetEllerAdresse">
        <annotation>
          <documentation>19673: Motortrafikk kun tillatt for kjøring til virksomhet eller adresse. Virksomhet eller adresse spesifiseres som Merknad.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19673</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Motortrafikk kun tillatt for kjøring til virksomhet eller adresse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="motortrafikkKunTillattForVaretransport">
        <annotation>
          <documentation>15947: Forbudt for motortrafikk, med unntak av varetransport.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15947</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Motortrafikk kun tillatt for varetransport </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="motortrafikkKunTillattForVaretransportOgKjøringTilEiendommer">
        <annotation>
          <documentation>15949: Forbudt for motortrafikk, med unntak av varetransport og kjøring til eiendommer.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15949</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Motortrafikk kun tillatt for varetransport og kjøring til eiendommer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrafikkreguleringerTrafikkreguleringerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
