GML/857.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>857: Strekning som inngår i gitt rode.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Brøyterode"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:BrøyterodeType">
      <annotation>
         <documentation>857: Strekning som inngår i gitt rode.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">857</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brøyterode</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BrøyterodeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="nummer" type="double">
                  <annotation>
                     <documentation>9806: Angir nummer på rode.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9806</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="navn" type="string">
                  <annotation>
                     <documentation>9807: Angir navn på rode.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9807</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prioritet" type="nvdb:PrioritetBrøyterodeType">
                  <annotation>
                     <documentation>9809: Angir hvilken prioritet som gjelder for aktuell rode.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9809</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prioritet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>9808: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9808</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>11243: Gir flate/polygon som geometrisk avgrenser tilleggsareal som skal brøytes, dvs. sideareal, plasser, fortau, etc.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11243</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>12144: Gir linje/kurve som geometrisk representerer objektet. Benyttes kun i tilfeller der det skal inngå veg som ikke har eget vegnett i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12144</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BrøyterodePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Brøyterode"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="PrioritetBrøyterodeType">
      <annotation>
         <documentation>9809: Angir hvilken prioritet som gjelder for aktuell rode.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9809</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Prioritet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PrioritetBrøyterodeEnumerationType nvdb:PrioritetBrøyterodeOtherType"/>
   </simpleType>
   <simpleType name="PrioritetBrøyterodeEnumerationType">
      <annotation>
         <documentation>9809: Angir hvilken prioritet som gjelder for aktuell rode.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9809</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Prioritet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15958</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">A</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15959</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">B</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="C">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15960</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">C</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PrioritetBrøyterodeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
