GML/858.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="PrioritetStrørodeType">
    <annotation>
      <documentation>9805: Angir hvilken prioritet som gjelder for aktuell rode</documentation>
    </annotation>
    <union memberTypes="nvdb:PrioritetStrørodeEnumerationType nvdb:PrioritetStrørodeOtherType"/>
  </simpleType>
  <simpleType name="PrioritetStrørodeEnumerationType">
    <annotation>
      <documentation>9805: Angir hvilken prioritet som gjelder for aktuell rode</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="A">
        <annotation>
          <documentation>15955: Høyest prioritet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>15956: Middels prioritet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="C">
        <annotation>
          <documentation>15957: Lavest prioritet</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PrioritetStrørodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Strørode" substitutionGroup="nvdb:AbstraktStrørode" type="nvdb:StrørodeType">
    <annotation>
      <documentation>858: Strekning som inngår i gitt rode</documentation>
    </annotation>
  </element>
  <complexType name="StrørodeType">
    <complexContent>
      <extension base="nvdb:AbstraktStrørodeType">
        <sequence>
          <element minOccurs="0" name="nummer" type="integer">
            <annotation>
              <documentation>9802: Angir nummer på rode</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>9803: Angir navn på rode</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prioritet" type="nvdb:PrioritetStrørodeType">
            <annotation>
              <documentation>9805: Angir hvilken prioritet som gjelder for aktuell rode</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9804: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>11244: Gir flate/polygon som geometrisk avgrenser tilleggsareal som som skal strøes, dvs sideareal, plasser, fotau, etc .</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StrørodePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Strørode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
