GML/858.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>858: Strekning som inngår i gitt rode.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="PrioritetStrørodeType">
      <annotation>
         <documentation>9805: Angir hvilken prioritet som gjelder for aktuell rode.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9805</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Prioritet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PrioritetStrørodeEnumerationType nvdb:PrioritetStrørodeOtherType"/>
   </simpleType>
   <simpleType name="PrioritetStrørodeEnumerationType">
      <annotation>
         <documentation>9805: Angir hvilken prioritet som gjelder for aktuell rode.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9805</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Prioritet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>15955: Høyest prioritet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15955</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">A</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <documentation>15956: Middels prioritet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15956</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">B</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="C">
            <annotation>
               <documentation>15957: Lavest prioritet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15957</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">C</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PrioritetStrørodeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Strørode"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:StrørodeType">
      <annotation>
         <documentation>858: Strekning som inngår i gitt rode.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">858</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Strørode</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="StrørodeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="nummer" type="double">
                  <annotation>
                     <documentation>9802: Angir nummer på rode.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9802</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="navn" type="string">
                  <annotation>
                     <documentation>9803: Angir navn på rode.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9803</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prioritet" type="nvdb:PrioritetStrørodeType">
                  <annotation>
                     <documentation>9805: Angir hvilken prioritet som gjelder for aktuell rode.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9805</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prioritet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>9804: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9804</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>11244: Gir flate/polygon som geometrisk avgrenser tilleggsareal som skal strøs, dvs. sideareal, plasser, fortau, etc.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11244</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>12142: Gir linje/kurve som geometrisk representerer objektet. Benyttes kun i tilfeller der det skal inngå veg som ikke har eget vegnett i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12142</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="StrørodePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Strørode"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
