GML/859.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>859: Taktile indikatorer er standardiserte elementer som er lagt ned i gategrunn for å bidra til vegfinning for blinde og svaksynte. Kan bestå av retnings-, varsels- eller oppmerksomhetsindikator. For mer utfyllende informasjon, se HB V129 (278).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeTaktile indikatorerType">
      <annotation>
         <documentation>9812: Angir hovedbruksområde for ledelinje.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9812</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeTaktile indikatorerEnumerationType nvdb:BruksområdeTaktile indikatorerOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeTaktile indikatorerEnumerationType">
      <annotation>
         <documentation>9812: Angir hovedbruksområde for ledelinje.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9812</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ganv">
            <annotation>
               <documentation>15964: Markerer gangfelt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15964</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gangfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ip">
            <annotation>
               <documentation>16968: Benyttes f.eks. ved inngangsparti til toalettanlegg og servicebygg på rasteplass.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16968</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Inngangsparti</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ferj">
            <annotation>
               <documentation>15969: Markerer tilrettelagt kryssingssted på ferjekai.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15969</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kryssingssted på ferjekai</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="buss">
            <annotation>
               <documentation>15967: Punkt der bussen stopper (fremdør).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15967</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Markering stoppunkt på holdeplass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hold">
            <annotation>
               <documentation>15965: Langsgående markering ved perrong eller holdeplass.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15965</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Perrong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <documentation>21799: Varsler rampe/nivåsprang (oppe/nede).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21799</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rampe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="knut">
            <annotation>
               <documentation>15968: Retningsledning på uoversiktlige områder, som kollektivknutepunkt og åpne offentlige rom. Knytter sammen ulike deler av kollektivknutepunktet som stoppunkt, infotavle og terminal. Markerer gangrute fra et målpunkt til et annet. Dette er ofte lengre ledelinjer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15968</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Retningsledning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="trap">
            <annotation>
               <documentation>15966: Varsler trapp/nivåsprang (oppe/nede).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15966</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trapp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeTaktile indikatorerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierTaktile indikatorerType">
      <annotation>
         <documentation>11989: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11989</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierTaktile indikatorerEnumerationType nvdb:EierTaktile indikatorerOtherType"/>
   </simpleType>
   <simpleType name="EierTaktile indikatorerEnumerationType">
      <annotation>
         <documentation>11989: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11989</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20637</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20638</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20639</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20636</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20635</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>20640: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20640</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierTaktile indikatorerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeTaktile indikatorerType">
      <annotation>
         <documentation>9816: Angir hvilken materialtype Taktil indikator er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9816</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeTaktile indikatorerEnumerationType nvdb:MaterialeTaktile indikatorerOtherType"/>
   </simpleType>
   <simpleType name="MaterialeTaktile indikatorerEnumerationType">
      <annotation>
         <documentation>9816: Angir hvilken materialtype Taktil indikator er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9816</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bet">
            <annotation>
               <documentation>15971: Indikator av betong.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15971</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kerm">
            <annotation>
               <documentation>15986: Indikator av keramisk materiale/flis.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15986</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Keramisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="metl">
            <annotation>
               <documentation>15973: Indikator av metall. For eksempel støpejern.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15973</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gumi">
            <annotation>
               <documentation>15987: Indikator av naturgummi.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15987</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturgummi</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sten">
            <annotation>
               <documentation>15972: Indikator av naturstein.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15972</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tre">
            <annotation>
               <documentation>15970: Indikator av tre.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15970</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeTaktile indikatorerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Taktile indikatorer"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Taktile indikatorerType">
      <annotation>
         <documentation>859: Taktile indikatorer er standardiserte elementer som er lagt ned i gategrunn for å bidra til vegfinning for blinde og svaksynte. Kan bestå av retnings-, varsels- eller oppmerksomhetsindikator. For mer utfyllende informasjon, se HB V129 (278).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">859</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Taktile indikatorer</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Taktile indikatorerType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeTaktile indikatorerType">
                  <annotation>
                     <documentation>9812: Angir hovedbruksområde for ledelinje.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9812</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materiale" type="nvdb:MaterialeTaktile indikatorerType">
                  <annotation>
                     <documentation>9816: Angir hvilken materialtype Taktil indikator er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9816</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>9815: Lengde av taktil indikator. Måles i indikatorens lengderetning. Relevant for taktile indikatorerer med tydelig lengderetning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9815</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde" type="double">
                  <annotation>
                     <documentation>9811: Bredde av taktil indikator. Måles på tvers av indikatorens lengderetning. Relevant for taktile indikatorer med enhetlig bredde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9811</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="double">
                  <annotation>
                     <documentation>9810: Totalt areal for Taktil indikator.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9810</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10370: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10370</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>9817: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9817</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11171: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11171</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12430: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12430</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierTaktile indikatorerType">
                  <annotation>
                     <documentation>11989: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11989</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligTaktile indikatorerType">
                  <annotation>
                     <documentation>12017: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12017</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>9814: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9814</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9813: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9813</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10968: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10968</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Taktile indikatorerPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Taktile indikatorer"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VedlikeholdsansvarligTaktile indikatorerType">
      <annotation>
         <documentation>12017: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12017</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligTaktile indikatorerEnumerationType nvdb:VedlikeholdsansvarligTaktile indikatorerOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTaktile indikatorerEnumerationType">
      <annotation>
         <documentation>12017: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12017</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20828</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20830</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20827</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20829</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20831</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20826</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20832</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTaktile indikatorerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
