GML/86.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Belysningsstrekning" substitutionGroup="nvdb:AbstraktBelysningsstrekning" type="nvdb:BelysningsstrekningType">
    <annotation>
      <documentation>86: Gir en strekning langs vegen med belysningspunkt, kabler, stolper og fundamenter som naturlig hører sammen. Alle elektriske objekter i en Belysningsstrekning skal være koblet mot samme Elektriske anlegg, dvs. de skal ligge under samme måler. Belysningsstrekninger i tunnel koples mot tunnelløp, belysningsstrekning i dagen koples mot elektrisk anlegg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">86</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">86</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belysningsstrekning</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="BelysningsstrekningType">
    <complexContent>
      <extension base="nvdb:AbstraktBelysningsstrekningType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeBelysningsstrekningType">
            <annotation>
              <documentation>1271: Angir hva som er hovedbruksområdet for det belysningsstrekning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1271</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeBelysningsstrekningType">
            <annotation>
              <documentation>1144: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1144</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navnPåStrekning" type="string">
            <annotation>
              <documentation>8396: Gir navn på strekning som Belysningsstrekning dekker.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8396</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn på strekning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tenningssystem" type="nvdb:TenningssystemType">
            <annotation>
              <documentation>8404: Angir hvilken teknologi som benyttes for tenning og slukking.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8404</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tenningssystem</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dimming" type="nvdb:DimmingType">
            <annotation>
              <documentation>10001: Angir om belysningsstrekning kan dimmes.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10001</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dimming</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fjernstyring" type="nvdb:FjernstyringType">
            <annotation>
              <documentation>3760: Angir om det er mulig å fjernstyre belysningsstrekning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3760</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avstand_Innbyrdes" type="integer">
            <annotation>
              <documentation>1714: Angir normal innbyrdes avstand mellom belysningspunkt som ligger etter hverandre i rekke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1714</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Avstand, innbyrdes</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="luminansnivå" type="string">
            <annotation>
              <documentation>8740: Gjennomsnittlig luminansnivå ved åpning av anlegget.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8740</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Luminansnivå</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>8399: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8399</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11575: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11575</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11462: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11462</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12311: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12311</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierBelysningsstrekningType">
            <annotation>
              <documentation>5810: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5810</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>8397: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8397</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligBelysningsstrekningType">
            <annotation>
              <documentation>1554: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1554</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4786: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4786</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BelysningsstrekningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Belysningsstrekning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="BruksområdeBelysningsstrekningType">
    <annotation>
      <documentation>1271: Angir hva som er hovedbruksområdet for det belysningsstrekning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1271</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1271</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeBelysningsstrekningEnumerationType nvdb:BruksområdeBelysningsstrekningOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeBelysningsstrekningEnumerationType">
    <annotation>
      <documentation>1271: Angir hva som er hovedbruksområdet for det belysningsstrekning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1271</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1271</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Belysning veg/gate">
        <annotation>
          <documentation>2954: Belysning av veg og gate. Kan også benyttes for belysning av gangfelt og vegkryss når det er sammenhengende belysning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2954</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning veg/gate</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning område/plass">
        <annotation>
          <documentation>2956: Belysning av område eller plass.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2956</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning område/plass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning gangfelt">
        <annotation>
          <documentation>2960: Belysning for gangfelt. Benyttes i tilfeller der belysningsstrekning er satt opp med hovedformål å belyse gangfelt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2960</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning gangfelt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning tunnel">
        <annotation>
          <documentation>2962: Belysning i tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2962</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning gang/sykkelveg">
        <annotation>
          <documentation>2952: Belysning på gang- og sykkelveg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning gang/sykkelveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning bru">
        <annotation>
          <documentation>3318: Brukes kun for spesiell belysning av bru. Vanlig vegbelysning settes som Belysning veg/gate.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3318</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning bru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning ferjeleie">
        <annotation>
          <documentation>16258: Belysning på ferjeleie.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16258</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning ferjeleie</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat område">
        <annotation>
          <documentation>3855: Belysning på privat område.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3855</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat område</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning vegkryss">
        <annotation>
          <documentation>2958: Belysning i vegkryss. Benyttes i tilfeller der belysningsstrekning er satt opp med hovedformål å belyse vegkryss.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2958</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning vegkryss</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeBelysningsstrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DimmingType">
    <annotation>
      <documentation>10001: Angir om belysningsstrekning kan dimmes.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10001</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10001</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dimming</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DimmingEnumerationType nvdb:DimmingOtherType"/>
  </simpleType>
  <simpleType name="DimmingEnumerationType">
    <annotation>
      <documentation>10001: Angir om belysningsstrekning kan dimmes.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10001</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10001</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dimming</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16259: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16259</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16260: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16260</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DimmingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierBelysningsstrekningType">
    <annotation>
      <documentation>5810: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5810</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5810</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierBelysningsstrekningEnumerationType nvdb:EierBelysningsstrekningOtherType"/>
  </simpleType>
  <simpleType name="EierBelysningsstrekningEnumerationType">
    <annotation>
      <documentation>5810: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5810</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5810</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>8205: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8205</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18587: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18587</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10697: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10697</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>8231: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8231</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>8257: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8257</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17596: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17596</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierBelysningsstrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FjernstyringType">
    <annotation>
      <documentation>3760: Angir om det er mulig å fjernstyre belysningsstrekning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3760</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3760</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FjernstyringEnumerationType nvdb:FjernstyringOtherType"/>
  </simpleType>
  <simpleType name="FjernstyringEnumerationType">
    <annotation>
      <documentation>3760: Angir om det er mulig å fjernstyre belysningsstrekning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3760</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3760</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4719: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4719</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4720: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4720</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FjernstyringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TenningssystemType">
    <annotation>
      <documentation>8404: Angir hvilken teknologi som benyttes for tenning og slukking.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8404</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8404</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tenningssystem</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TenningssystemEnumerationType nvdb:TenningssystemOtherType"/>
  </simpleType>
  <simpleType name="TenningssystemEnumerationType">
    <annotation>
      <documentation>8404: Angir hvilken teknologi som benyttes for tenning og slukking.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8404</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8404</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tenningssystem</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Manuell">
        <annotation>
          <documentation>11342: Manuell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11342</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Manuell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lysmåler">
        <annotation>
          <documentation>11343: Lysmåler</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11343</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lysmåler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ur">
        <annotation>
          <documentation>11344: Ur</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11344</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal">
        <annotation>
          <documentation>11345: Signal/frekvens.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11345</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kontaktor">
        <annotation>
          <documentation>11346: Kontaktor</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11346</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kontaktor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Radiotenner">
        <annotation>
          <documentation>11347: Radiotenner</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11347</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Radiotenner</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Slave">
        <annotation>
          <documentation>17568: Slave</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17568</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Slave</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Datekstyring">
        <annotation>
          <documentation>18318: Datekstyring</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18318</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Datekstyring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TenningssystemOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeBelysningsstrekningType">
    <annotation>
      <documentation>1144: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1144</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1144</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeBelysningsstrekningEnumerationType nvdb:TypeBelysningsstrekningOtherType"/>
  </simpleType>
  <simpleType name="TypeBelysningsstrekningEnumerationType">
    <annotation>
      <documentation>1144: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1144</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1144</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Bel.pkt en side av veg">
        <annotation>
          <documentation>3761: Bel.pkt en side av veg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3761</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bel.pkt en side av veg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bel.pkt. begge sider av veg">
        <annotation>
          <documentation>3762: Bel.pkt. begge sider av veg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3762</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bel.pkt. begge sider av veg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bel.pkt, senter">
        <annotation>
          <documentation>3764: Bel.pkt, senter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3764</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bel.pkt, senter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bel.pkt, senter, 2-armet">
        <annotation>
          <documentation>3763: Bel.pkt, senter, 2-armet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3763</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bel.pkt, senter, 2-armet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeBelysningsstrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBelysningsstrekningType">
    <annotation>
      <documentation>1554: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1554</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1554</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligBelysningsstrekningEnumerationType nvdb:VedlikeholdsansvarligBelysningsstrekningOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBelysningsstrekningEnumerationType">
    <annotation>
      <documentation>1554: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1554</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1554</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>2141: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2141</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18716: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18716</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19893: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19893</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18845: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18845</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>2145: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2145</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lokalt e-verk">
        <annotation>
          <documentation>3716: Lokalt e-verk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3716</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lokalt e-verk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>2149: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2149</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17671: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17671</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBelysningsstrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
