GML/860.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DynamiskType">
    <union memberTypes="nvdb:DynamiskEnumerationType nvdb:DynamiskOtherType"/>
  </simpleType>
  <simpleType name="DynamiskEnumerationType">
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>19815: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>19816: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DynamiskOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierRømningslysstrekningType">
    <annotation>
      <documentation>9896: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierRømningslysstrekningEnumerationType nvdb:EierRømningslysstrekningOtherType"/>
  </simpleType>
  <simpleType name="EierRømningslysstrekningEnumerationType">
    <annotation>
      <documentation>9896: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>16075: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18617: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>16076: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>16077: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>16078: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17626: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierRømningslysstrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FjernstyringRømningslysstrekningType">
    <annotation>
      <documentation>9903: Angir om rømningslys kan fjernstyres</documentation>
    </annotation>
    <union memberTypes="nvdb:FjernstyringRømningslysstrekningEnumerationType nvdb:FjernstyringRømningslysstrekningOtherType"/>
  </simpleType>
  <simpleType name="FjernstyringRømningslysstrekningEnumerationType">
    <annotation>
      <documentation>9903: Angir om rømningslys kan fjernstyres</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16084: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16085: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FjernstyringRømningslysstrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MontasjeType">
    <annotation>
      <documentation>11274: Angir hvor lys er montert</documentation>
    </annotation>
    <union memberTypes="nvdb:MontasjeEnumerationType nvdb:MontasjeOtherType"/>
  </simpleType>
  <simpleType name="MontasjeEnumerationType">
    <annotation>
      <documentation>11274: Angir hvor lys er montert</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="påTunnelvegg">
        <annotation>
          <documentation>19016: Rømningslys er festet på tunnelvegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="iHåndlist">
        <annotation>
          <documentation>19017: I håndlist</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MontasjeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Rømningslysstrekning" substitutionGroup="nvdb:AbstraktRømningslysstrekning" type="nvdb:RømningslysstrekningType">
    <annotation>
      <documentation>860: En rekke med lys satt opp i den hensikt å lede trafikkanter ut av en tunnel i en nødsituasjon. Rømningslysene skal normalt være festet på tunnelvegg i bestemt høyde over veg og med fast innbyrdes avstand Det forutsettes at de enkelt rømningslysene som inngår er av samme type.</documentation>
    </annotation>
  </element>
  <complexType name="RømningslysstrekningType">
    <complexContent>
      <extension base="nvdb:AbstraktRømningslysstrekningType">
        <sequence>
          <element minOccurs="0" name="typeLyskilde" type="nvdb:TypeLyskildeType">
            <annotation>
              <documentation>9899: Angir type lyskilde</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallRømningslyspunkt" type="integer">
            <annotation>
              <documentation>9890: Angir hvor mange rømningslyspunkt som inngår i rømningslysstrekning. Der det er flere lyskilder på samme oppsetting  telles det som ett rømningslyspunkt. Dersom Type lyskilde = LED-list gis antall=1
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLyskilderIPunkt" type="integer">
            <annotation>
              <documentation>10185: Angir hvor mange lyskilder (pærer) det er per rømningslyspunkt
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="avstandInnbyrdes" type="integer">
            <annotation>
              <documentation>9891: Angir innbyrdes avstand mellom de enkelte rømningslyspunktene som ligger etter hverandre i rekke.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="montasje" type="nvdb:MontasjeType">
            <annotation>
              <documentation>11274: Angir hvor lys er montert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dynamisk" type="nvdb:DynamiskType"/>
          <element minOccurs="0" name="farge" type="string">
            <annotation>
              <documentation>11824: Farge på lys</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fjernstyring" type="nvdb:FjernstyringRømningslysstrekningType">
            <annotation>
              <documentation>9903: Angir om rømningslys kan fjernstyres</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="effekt" type="integer">
            <annotation>
              <documentation>9895: Angir effekt for ett rømningslyspunkt. For LED-list angis effekt per 25 meter
Enhet: Watt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsstrøm" type="double">
            <annotation>
              <documentation>9894: Angir driftsstrøm for en lyskilde ved full lysstyrke
Enhet: Milliampere</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spenning" type="nvdb:SpenningRømningslysstrekningType">
            <annotation>
              <documentation>9902: Driftspenning for lysene
Enhet: Volt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>9892: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent_Lysarmatur" type="string">
            <annotation>
              <documentation>9901: Angir navn på produsent/fabrikant av de enkelte lysarmaturene.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>9900: Angir produktnavn for lysarmatur. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11646: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11172: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierRømningslysstrekningType">
            <annotation>
              <documentation>9896: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>9897: Navn på eier av  vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligRømningslysstrekningType">
            <annotation>
              <documentation>9906: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9898: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RømningslysstrekningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Rømningslysstrekning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="SpenningRømningslysstrekningType">
    <annotation>
      <documentation>9902: Driftspenning for lysene</documentation>
    </annotation>
    <union memberTypes="nvdb:SpenningRømningslysstrekningEnumerationType nvdb:SpenningRømningslysstrekningOtherType"/>
  </simpleType>
  <simpleType name="SpenningRømningslysstrekningEnumerationType">
    <annotation>
      <documentation>9902: Driftspenning for lysene</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="12">
        <annotation>
          <documentation>16121: 12 volt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>16122: 24 volt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="230">
        <annotation>
          <documentation>16123: 230 volt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="400">
        <annotation>
          <documentation>16124: 400 volt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="690">
        <annotation>
          <documentation>16720: 690 volt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpenningRømningslysstrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeLyskildeType">
    <annotation>
      <documentation>9899: Angir type lyskilde</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeLyskildeEnumerationType nvdb:TypeLyskildeOtherType"/>
  </simpleType>
  <simpleType name="TypeLyskildeEnumerationType">
    <annotation>
      <documentation>9899: Angir type lyskilde</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="LED_Armatur">
        <annotation>
          <documentation>16082: LED-armatur</documentation>
        </annotation>
      </enumeration>
      <enumeration value="LED_List">
        <annotation>
          <documentation>19015: Sammenhengende LED-belysning.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lysstoffrør">
        <annotation>
          <documentation>16083: Armatur med lysstoffrør med fast innbyrdes avstand</documentation>
        </annotation>
      </enumeration>
      <enumeration value="glødelamper">
        <annotation>
          <documentation>16722: Glødelamper med fast innbyrdes avstand</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeLyskildeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligRømningslysstrekningType">
    <annotation>
      <documentation>9906: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligRømningslysstrekningEnumerationType nvdb:VedlikeholdsansvarligRømningslysstrekningOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligRømningslysstrekningEnumerationType">
    <annotation>
      <documentation>9906: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>16081: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18721: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19996: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18850: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>16079: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>16080: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17780: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligRømningslysstrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
