GML/860.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DynamiskType">
    <annotation>
      <documentation>11823: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11823</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11823</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dynamisk</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DynamiskEnumerationType nvdb:DynamiskOtherType"/>
  </simpleType>
  <simpleType name="DynamiskEnumerationType">
    <annotation>
      <documentation>11823: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11823</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11823</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dynamisk</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>19815: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19815</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>19816: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19816</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DynamiskOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierEvakueringsbelysningType">
    <annotation>
      <documentation>9896: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9896</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9896</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierEvakueringsbelysningEnumerationType nvdb:EierEvakueringsbelysningOtherType"/>
  </simpleType>
  <simpleType name="EierEvakueringsbelysningEnumerationType">
    <annotation>
      <documentation>9896: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9896</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9896</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>16075: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16075</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18617: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18617</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>16076: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16076</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>16077: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16077</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>16078: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16078</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17626: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17626</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierEvakueringsbelysningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Evakueringsbelysning" substitutionGroup="nvdb:AbstraktEvakueringsbelysning" type="nvdb:EvakueringsbelysningType">
    <annotation>
      <documentation>860: En rekke med lys satt opp i den hensikt å lede trafikanter ut av en tunnel i en nødsituasjon. Evakueringslysene skal normalt være festet på tunnelvegg i bestemt høyde over veg og med fast innbyrdes avstand Det forutsettes at de enkelt evakueringslysene som inngår er av samme type. (Vegobjekttype ble tom v 2.28 benevnt "Rømningslysstrekning").</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">860</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">860</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Evakueringsbelysning</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="EvakueringsbelysningType">
    <complexContent>
      <extension base="nvdb:AbstraktEvakueringsbelysningType">
        <sequence>
          <element minOccurs="0" name="typeLyskilde" type="nvdb:TypeLyskildeType">
            <annotation>
              <documentation>9899: Angir type lyskilde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type lyskilde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallEvakueringslyspunkt" type="integer">
            <annotation>
              <documentation>9890: Angir hvor mange evakueringslyspunkt som inngår i evakueringsbelysningen. Der det er flere lyskilder på samme oppsetting telles det som ett evakueringslyspunkt. Dersom Type lyskilde = LED-list gis antall=1.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9890</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall evakueringslyspunkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLyskilderIPunkt" type="integer">
            <annotation>
              <documentation>10185: Angir hvor mange lyskilder (pærer) det er per evakueringslyspunkt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10185</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall lyskilder i punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avstandInnbyrdes" type="integer">
            <annotation>
              <documentation>9891: Angir innbyrdes avstand mellom de enkelte evakueringslyspunktene som ligger etter hverandre i rekke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9891</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Avstand innbyrdes</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="montasje" type="nvdb:MontasjeType">
            <annotation>
              <documentation>11274: Angir hvor lys er montert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11274</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Montasje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dynamisk" type="nvdb:DynamiskType">
            <annotation>
              <documentation>11823: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11823</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dynamisk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="farge" type="string">
            <annotation>
              <documentation>11824: Farge på lys.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11824</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fjernstyring" type="nvdb:FjernstyringEvakueringsbelysningType">
            <annotation>
              <documentation>9903: Angir om evakueringslys kan fjernstyres.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9903</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="effekt" type="integer">
            <annotation>
              <documentation>9895: Angir effekt for ett evakueringslyspunkt. For LED-list angis effekt per 25 meter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9895</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Effekt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsstrøm" type="double">
            <annotation>
              <documentation>9894: Angir driftsstrøm for en lyskilde ved full lysstyrke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9894</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsstrøm</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spenning" type="nvdb:SpenningEvakueringsbelysningType">
            <annotation>
              <documentation>9902: Driftsspenning for lysene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9902</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>9892: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9892</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent_Lysarmatur" type="string">
            <annotation>
              <documentation>9901: Angir navn på produsent/fabrikant av de enkelte lysarmaturene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9901</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent, lysarmatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>9900: Angir produktnavn for lysarmatur. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9900</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11646: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11646</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11172: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11172</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12431: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12431</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierEvakueringsbelysningType">
            <annotation>
              <documentation>9896: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9896</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>9897: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9897</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligEvakueringsbelysningType">
            <annotation>
              <documentation>9906: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9906</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9898: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9898</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløpUtenTrafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløpUtenTrafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBelysningspunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBelysningspunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EvakueringsbelysningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Evakueringsbelysning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="FjernstyringEvakueringsbelysningType">
    <annotation>
      <documentation>9903: Angir om evakueringslys kan fjernstyres.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9903</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9903</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FjernstyringEvakueringsbelysningEnumerationType nvdb:FjernstyringEvakueringsbelysningOtherType"/>
  </simpleType>
  <simpleType name="FjernstyringEvakueringsbelysningEnumerationType">
    <annotation>
      <documentation>9903: Angir om evakueringslys kan fjernstyres.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9903</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9903</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16084: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16084</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16085: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16085</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FjernstyringEvakueringsbelysningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MontasjeType">
    <annotation>
      <documentation>11274: Angir hvor lys er montert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11274</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11274</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Montasje</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MontasjeEnumerationType nvdb:MontasjeOtherType"/>
  </simpleType>
  <simpleType name="MontasjeEnumerationType">
    <annotation>
      <documentation>11274: Angir hvor lys er montert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11274</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11274</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Montasje</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="På tunnelvegg">
        <annotation>
          <documentation>19016: Rømningslys er festet på tunnelvegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19016</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">På tunnelvegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I håndlist">
        <annotation>
          <documentation>19017: I håndlist</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19017</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I håndlist</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MontasjeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpenningEvakueringsbelysningType">
    <annotation>
      <documentation>9902: Driftsspenning for lysene.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9902</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9902</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SpenningEvakueringsbelysningEnumerationType nvdb:SpenningEvakueringsbelysningOtherType"/>
  </simpleType>
  <simpleType name="SpenningEvakueringsbelysningEnumerationType">
    <annotation>
      <documentation>9902: Driftsspenning for lysene.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9902</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9902</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="12">
        <annotation>
          <documentation>16121: 12 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16121</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>16122: 24 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16122</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">24</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="230">
        <annotation>
          <documentation>16123: 230 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16123</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">230</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="400">
        <annotation>
          <documentation>16124: 400 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16124</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">400</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="690">
        <annotation>
          <documentation>16720: 690 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16720</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">690</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpenningEvakueringsbelysningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeLyskildeType">
    <annotation>
      <documentation>9899: Angir type lyskilde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type lyskilde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeLyskildeEnumerationType nvdb:TypeLyskildeOtherType"/>
  </simpleType>
  <simpleType name="TypeLyskildeEnumerationType">
    <annotation>
      <documentation>9899: Angir type lyskilde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type lyskilde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="LED-armatur">
        <annotation>
          <documentation>16082: LED-armatur</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16082</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">LED-armatur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="LED-list">
        <annotation>
          <documentation>19015: Sammenhengende LED-belysning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19015</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">LED-list</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lysstoffrør">
        <annotation>
          <documentation>16083: Armatur med lysstoffrør med fast innbyrdes avstand.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16083</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lysstoffrør</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glødelamper">
        <annotation>
          <documentation>16722: Glødelamper med fast innbyrdes avstand.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16722</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glødelamper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeLyskildeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligEvakueringsbelysningType">
    <annotation>
      <documentation>9906: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9906</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9906</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligEvakueringsbelysningEnumerationType nvdb:VedlikeholdsansvarligEvakueringsbelysningOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligEvakueringsbelysningEnumerationType">
    <annotation>
      <documentation>9906: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9906</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9906</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>16081: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16081</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18721: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18721</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19996: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19996</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18850: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18850</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>16079: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16079</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>16080: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16080</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17780: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17780</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligEvakueringsbelysningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
