GML/860.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>860: Lys montert i fastlagt høyde på tunnelvegg i den hensikt å lede trafikanter ut av en tunnel i en nødsituasjon. Det kan være en sammenhengende lyslist eller enkeltlys med fast innbyrdes avstand.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierEvakueringsbelysningType">
      <annotation>
         <documentation>9896: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9896</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierEvakueringsbelysningEnumerationType nvdb:EierEvakueringsbelysningOtherType"/>
   </simpleType>
   <simpleType name="EierEvakueringsbelysningEnumerationType">
      <annotation>
         <documentation>9896: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9896</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16076</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16077</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16078</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18617</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16075</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17626: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17626</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierEvakueringsbelysningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Evakueringsbelysning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:EvakueringsbelysningType">
      <annotation>
         <documentation>860: Lys montert i fastlagt høyde på tunnelvegg i den hensikt å lede trafikanter ut av en tunnel i en nødsituasjon. Det kan være en sammenhengende lyslist eller enkeltlys med fast innbyrdes avstand.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">860</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Evakueringsbelysning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="EvakueringsbelysningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="typeLyskilde">
                  <annotation>
                     <documentation>9899: Angir type lyskilde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type lyskilde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallEvakueringslyspunkt" type="double">
                  <annotation>
                     <documentation>9890: Angir hvor mange evakueringslyspunkt som inngår i evakueringsbelysningen. Der det er flere lyskilder på samme oppsetting telles det som ett evakueringslyspunkt. Dersom Type lyskilde = LED-list gis antall=1.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9890</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall evakueringslyspunkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallLyskilderIPunkt" type="double">
                  <annotation>
                     <documentation>10185: Angir hvor mange lyskilder (pærer) det er per evakueringslyspunkt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10185</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall lyskilder i punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="avstandInnbyrdes" type="double">
                  <annotation>
                     <documentation>9891: Angir innbyrdes avstand mellom de enkelte evakueringslyspunktene som ligger etter hverandre i rekke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9891</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avstand innbyrdes</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="standardLengdeLED_Seksjoner" type="double">
                  <annotation>
                     <documentation>12618: Angir standard lengde av LED seksjoner, det vil si den lengden flest LED seksjoner tilhørende evakueringsbelysningen har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12618</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Standard lengde LED-seksjoner</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="montasje"
                        type="nvdb:MontasjeEvakueringsbelysningType">
                  <annotation>
                     <documentation>11274: Angir hvor lys er montert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11274</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Montasje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="farge" type="string">
                  <annotation>
                     <documentation>11824: Farge på lys.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11824</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="fjernstyring" type="nvdb:FjernstyringEvakueringsbelysningType">
                  <annotation>
                     <documentation>9903: Angir om evakueringslys kan fjernstyres.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9903</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="effekt" type="double">
                  <annotation>
                     <documentation>9895: Angir effekt for ett evakueringslyspunkt. For LED-list angis effekt per 25 meter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9895</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Effekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="driftsstrøm" type="double">
                  <annotation>
                     <documentation>9894: Angir driftsstrøm for en lyskilde ved full lysstyrke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9894</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsstrøm</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="spenning"
                        type="nvdb:SpenningEvakueringsbelysningType">
                  <annotation>
                     <documentation>9902: Driftsspenning for lysene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9902</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9892: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9892</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produsent_Lysarmatur" type="string">
                  <annotation>
                     <documentation>9901: Angir navn på produsent/fabrikant av de enkelte lysarmaturene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9901</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent, lysarmatur</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produktnavn" type="string">
                  <annotation>
                     <documentation>9900: Angir produktnavn for lysarmatur. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9900</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11646: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11646</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11172: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11172</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12431: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12431</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierEvakueringsbelysningType">
                  <annotation>
                     <documentation>9896: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9896</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier_Navn" type="string">
                  <annotation>
                     <documentation>9897: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9897</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligEvakueringsbelysningType">
                  <annotation>
                     <documentation>9906: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9906</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9898: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9898</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="EvakueringsbelysningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Evakueringsbelysning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="FjernstyringEvakueringsbelysningType">
      <annotation>
         <documentation>9903: Angir om evakueringslys kan fjernstyres.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9903</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FjernstyringEvakueringsbelysningEnumerationType nvdb:FjernstyringEvakueringsbelysningOtherType"/>
   </simpleType>
   <simpleType name="FjernstyringEvakueringsbelysningEnumerationType">
      <annotation>
         <documentation>9903: Angir om evakueringslys kan fjernstyres.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9903</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16084</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16085</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FjernstyringEvakueringsbelysningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MontasjeEvakueringsbelysningType">
      <annotation>
         <documentation>11274: Angir hvor lys er montert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11274</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Montasje</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MontasjeEvakueringsbelysningEnumerationType nvdb:MontasjeEvakueringsbelysningOtherType"/>
   </simpleType>
   <simpleType name="MontasjeEvakueringsbelysningEnumerationType">
      <annotation>
         <documentation>11274: Angir hvor lys er montert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11274</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Montasje</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="HL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19017</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I håndlist</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TV">
            <annotation>
               <documentation>19016: Rømningslys er festet på tunnelvegg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19016</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På tunnelvegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22608</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På føringskant</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MontasjeEvakueringsbelysningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SpenningEvakueringsbelysningType">
      <annotation>
         <documentation>9902: Driftsspenning for lysene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9902</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SpenningEvakueringsbelysningEnumerationType nvdb:SpenningEvakueringsbelysningOtherType"/>
   </simpleType>
   <simpleType name="SpenningEvakueringsbelysningEnumerationType">
      <annotation>
         <documentation>9902: Driftsspenning for lysene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9902</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="12">
            <annotation>
               <documentation>16121: 12 volt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16121</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="230">
            <annotation>
               <documentation>16123: 230 volt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16123</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">230</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <documentation>16122: 24 volt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16122</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">24</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400">
            <annotation>
               <documentation>16124: 400 volt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16124</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">400</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="690">
            <annotation>
               <documentation>16720: 690 volt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16720</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">690</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SpenningEvakueringsbelysningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeLyskildeEvakueringsbelysningType">
      <annotation>
         <documentation>9899: Angir type lyskilde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type lyskilde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeLyskildeEvakueringsbelysningEnumerationType nvdb:TypeLyskildeEvakueringsbelysningOtherType"/>
   </simpleType>
   <simpleType name="TypeLyskildeEvakueringsbelysningEnumerationType">
      <annotation>
         <documentation>9899: Angir type lyskilde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type lyskilde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="gl">
            <annotation>
               <documentation>16722: Glødelamper med fast innbyrdes avstand.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16722</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glødelamper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LED">
            <annotation>
               <documentation>16082: Led-armatur med fast innbyrdes avstand.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16082</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">LED-armatur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LED-list">
            <annotation>
               <documentation>19015: Sammenhengende LED-belysning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19015</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">LED-list</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lr">
            <annotation>
               <documentation>16083: Armatur med lysstoffrør med fast innbyrdes avstand.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16083</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysstoffrør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeLyskildeEvakueringsbelysningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligEvakueringsbelysningType">
      <annotation>
         <documentation>9906: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9906</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligEvakueringsbelysningEnumerationType nvdb:VedlikeholdsansvarligEvakueringsbelysningOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligEvakueringsbelysningEnumerationType">
      <annotation>
         <documentation>9906: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9906</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19996</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16079</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18721</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18850</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16080</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16081</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17780</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligEvakueringsbelysningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
