GML/861.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>861: En rekke med lys satt opp i den hensikt å gi optisk ledning for de kjørende. Slike lys kan være satt opp både langs veg i dagen og langs veg i tunnel. Evakueringsbelysning i tunnel registreres som Evakueringsbelysning (861) og ikke som Ledelysstrekning, optisk.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierLedelysstrekning, optiskType">
      <annotation>
         <documentation>9913: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9913</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierLedelysstrekning, optiskEnumerationType nvdb:EierLedelysstrekning, optiskOtherType"/>
   </simpleType>
   <simpleType name="EierLedelysstrekning, optiskEnumerationType">
      <annotation>
         <documentation>9913: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9913</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16118</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16119</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16120</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18618</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16117</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17627: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17627</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierLedelysstrekning, optiskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FjernstyringLedelysstrekning, optiskType">
      <annotation>
         <documentation>9921: Angir om ledelyset kan fjernstyres.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9921</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FjernstyringLedelysstrekning, optiskEnumerationType nvdb:FjernstyringLedelysstrekning, optiskOtherType"/>
   </simpleType>
   <simpleType name="FjernstyringLedelysstrekning, optiskEnumerationType">
      <annotation>
         <documentation>9921: Angir om ledelyset kan fjernstyres.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9921</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16108</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16109</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FjernstyringLedelysstrekning, optiskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="InngårINødsystemetITunnelLedelysstrekning, optiskType">
      <annotation>
         <documentation>9916: Angir om ledelyset inngår i nødsystemet i en tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9916</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inngår i nødsystemet i tunnel</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:InngårINødsystemetITunnelLedelysstrekning, optiskEnumerationType nvdb:InngårINødsystemetITunnelLedelysstrekning, optiskOtherType"/>
   </simpleType>
   <simpleType name="InngårINødsystemetITunnelLedelysstrekning, optiskEnumerationType">
      <annotation>
         <documentation>9916: Angir om ledelyset inngår i nødsystemet i en tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9916</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inngår i nødsystemet i tunnel</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16595</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16596</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="InngårINødsystemetITunnelLedelysstrekning, optiskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Ledelysstrekning, optisk"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Ledelysstrekning, optiskType">
      <annotation>
         <documentation>861: En rekke med lys satt opp i den hensikt å gi optisk ledning for de kjørende. Slike lys kan være satt opp både langs veg i dagen og langs veg i tunnel. Evakueringsbelysning i tunnel registreres som Evakueringsbelysning (861) og ikke som Ledelysstrekning, optisk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">861</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ledelysstrekning, optisk</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Ledelysstrekning, optiskType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="lyskildeType">
                  <annotation>
                     <documentation>9917: Angir type lyskilder i ledelyset.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9917</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="nvdb:PlasseringLedelysstrekning, optiskType">
                  <annotation>
                     <documentation>9923: Angir hvor ledelys er plassert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9923</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="inngårINødsystemetITunnel">
                  <annotation>
                     <documentation>9916: Angir om ledelyset inngår i nødsystemet i en tunnel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9916</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Inngår i nødsystemet i tunnel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallLedelyspunkt" type="double">
                  <annotation>
                     <documentation>9907: Angir hvor mange ledelyspunkt det er totalt i ledelysstrekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9907</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall ledelyspunkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="avstandInnbyrdes" type="double">
                  <annotation>
                     <documentation>9908: Angir normal innbyrdes avstand mellom ledelyspunktene i ledelysstrekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9908</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avstand innbyrdes</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="fjernstyring"
                        type="nvdb:FjernstyringLedelysstrekning, optiskType">
                  <annotation>
                     <documentation>9921: Angir om ledelyset kan fjernstyres.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9921</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="effekt" type="double">
                  <annotation>
                     <documentation>9912: Angir effekt for ett ledelys.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9912</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Effekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="spenning"
                        type="nvdb:SpenningLedelysstrekning, optiskType">
                  <annotation>
                     <documentation>9920: Driftspenning for lysene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9920</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="driftsstrøm" type="double">
                  <annotation>
                     <documentation>9911: Angir driftsstrøm for en lyskilde ved full lysstyrke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9911</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsstrøm</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9909: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9909</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produsent_Lysarmatur" type="string">
                  <annotation>
                     <documentation>9919: Angir navn på produsent/fabrikant av de enkelte lysarmaturene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9919</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent, lysarmatur</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produktnavn" type="string">
                  <annotation>
                     <documentation>9918: Angir produktnavn for lysarmatur. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9918</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11647: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11647</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11173: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11173</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12432: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12432</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="eier"
                        type="nvdb:EierLedelysstrekning, optiskType">
                  <annotation>
                     <documentation>9913: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9913</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier_Navn" type="string">
                  <annotation>
                     <documentation>9914: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9914</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligLedelysstrekning, optiskType">
                  <annotation>
                     <documentation>9924: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9924</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9915: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9915</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Ledelysstrekning, optiskPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Ledelysstrekning, optisk"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="LyskildeTypeLedelysstrekning, optiskType">
      <annotation>
         <documentation>9917: Angir type lyskilder i ledelyset.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9917</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LyskildeTypeLedelysstrekning, optiskEnumerationType nvdb:LyskildeTypeLedelysstrekning, optiskOtherType"/>
   </simpleType>
   <simpleType name="LyskildeTypeLedelysstrekning, optiskEnumerationType">
      <annotation>
         <documentation>9917: Angir type lyskilder i ledelyset.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9917</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="gl">
            <annotation>
               <documentation>16724: Tradisjonell glødelampe.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16724</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glødelampe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LED">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16112</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">LED</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16113</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysstoffrør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="trd">
            <annotation>
               <documentation>16723: Tråd som lyser i hele trådens lengde.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16723</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lystråd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LyskildeTypeLedelysstrekning, optiskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringLedelysstrekning, optiskType">
      <annotation>
         <documentation>9923: Angir hvor ledelys er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlasseringLedelysstrekning, optiskEnumerationType nvdb:PlasseringLedelysstrekning, optiskOtherType"/>
   </simpleType>
   <simpleType name="PlasseringLedelysstrekning, optiskEnumerationType">
      <annotation>
         <documentation>9923: Angir hvor ledelys er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="s1">
            <annotation>
               <documentation>16101: Plassert på egne stolper, kantstolper eller eget oppsttingsutstyr.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16101</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Eget oppsettingsutstyr</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bv">
            <annotation>
               <documentation>16098: Ledelys er montert på bankett eller vegskulder.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16098</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I bankett/vegskulder</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16100</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På mur/vegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16099</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På rekkverk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringLedelysstrekning, optiskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SpenningLedelysstrekning, optiskType">
      <annotation>
         <documentation>9920: Driftspenning for lysene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9920</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SpenningLedelysstrekning, optiskEnumerationType nvdb:SpenningLedelysstrekning, optiskOtherType"/>
   </simpleType>
   <simpleType name="SpenningLedelysstrekning, optiskEnumerationType">
      <annotation>
         <documentation>9920: Driftspenning for lysene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9920</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="12">
            <annotation>
               <documentation>16125: 12 volt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16125</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="230">
            <annotation>
               <documentation>16127: 230 volt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16127</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">230</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <documentation>16126: 24 volt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16126</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">24</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400">
            <annotation>
               <documentation>16128: 400 volt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16128</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">400</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="690">
            <annotation>
               <documentation>16719: 690 volt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16719</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">690</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SpenningLedelysstrekning, optiskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligLedelysstrekning, optiskType">
      <annotation>
         <documentation>9924: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligLedelysstrekning, optiskEnumerationType nvdb:VedlikeholdsansvarligLedelysstrekning, optiskOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligLedelysstrekning, optiskEnumerationType">
      <annotation>
         <documentation>9924: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19997</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16114</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18724</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18853</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16115</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16116</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17781</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligLedelysstrekning, optiskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
