GML/861.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierLedelysstrekning_OptiskType">
    <annotation>
      <documentation>9913: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9913</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9913</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierLedelysstrekning_OptiskEnumerationType nvdb:EierLedelysstrekning_OptiskOtherType"/>
  </simpleType>
  <simpleType name="EierLedelysstrekning_OptiskEnumerationType">
    <annotation>
      <documentation>9913: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9913</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9913</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>16117: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16117</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18618: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18618</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>16118: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16118</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>16119: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16119</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>16120: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16120</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17627: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17627</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierLedelysstrekning_OptiskOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FjernstyringLedelysstrekning_OptiskType">
    <annotation>
      <documentation>9921: Angir om ledelyset kan fjernstyres.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9921</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9921</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FjernstyringLedelysstrekning_OptiskEnumerationType nvdb:FjernstyringLedelysstrekning_OptiskOtherType"/>
  </simpleType>
  <simpleType name="FjernstyringLedelysstrekning_OptiskEnumerationType">
    <annotation>
      <documentation>9921: Angir om ledelyset kan fjernstyres.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9921</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9921</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16108: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16108</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16109: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16109</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FjernstyringLedelysstrekning_OptiskOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="InngårINødsystemetITunnelType">
    <annotation>
      <documentation>9916: Angir om ledelyset inngår i nødsystemet i en tunnel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9916</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9916</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Inngår i nødsystemet i tunnel</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:InngårINødsystemetITunnelEnumerationType nvdb:InngårINødsystemetITunnelOtherType"/>
  </simpleType>
  <simpleType name="InngårINødsystemetITunnelEnumerationType">
    <annotation>
      <documentation>9916: Angir om ledelyset inngår i nødsystemet i en tunnel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9916</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9916</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Inngår i nødsystemet i tunnel</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16595: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16595</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16596: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16596</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InngårINødsystemetITunnelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Ledelysstrekning_Optisk" substitutionGroup="nvdb:AbstraktLedelysstrekning_Optisk" type="nvdb:Ledelysstrekning_OptiskType">
    <annotation>
      <documentation>861: En rekke med lys satt opp i den hensikt å gi optisk ledning for de kjørende. Må ikke forveksles med rømningslys i tunnel, men kan like fullt ha funksjon i forbindelse med evakuering av røyklagt tunnel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">861</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">861</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ledelysstrekning, optisk</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Ledelysstrekning_OptiskType">
    <complexContent>
      <extension base="nvdb:AbstraktLedelysstrekning_OptiskType">
        <sequence>
          <element minOccurs="0" name="lyskildeType" type="nvdb:LyskildeTypeType">
            <annotation>
              <documentation>9917: Angir type lyskilder i ledelyset.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9917</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="plassering" type="nvdb:PlasseringLedelysstrekning_OptiskType">
            <annotation>
              <documentation>9923: Angir hvor ledelys er plassert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9923</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="inngårINødsystemetITunnel" type="nvdb:InngårINødsystemetITunnelType">
            <annotation>
              <documentation>9916: Angir om ledelyset inngår i nødsystemet i en tunnel.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9916</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Inngår i nødsystemet i tunnel</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLedelyspunkt" type="integer">
            <annotation>
              <documentation>9907: Angir hvor mange ledelyspunkt det er totalt i ledelysstrekning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9907</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall ledelyspunkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avstandInnbyrdes" type="integer">
            <annotation>
              <documentation>9908: Angir normal innbyrdes avstand mellom ledelyspunktene i ledelysstrekningen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9908</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Avstand innbyrdes</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fjernstyring" type="nvdb:FjernstyringLedelysstrekning_OptiskType">
            <annotation>
              <documentation>9921: Angir om ledelyset kan fjernstyres.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9921</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="effekt" type="integer">
            <annotation>
              <documentation>9912: Angir effekt for ett ledelys.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9912</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Effekt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spenning" type="nvdb:SpenningLedelysstrekning_OptiskType">
            <annotation>
              <documentation>9920: Driftspenning for lysene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9920</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsstrøm" type="double">
            <annotation>
              <documentation>9911: Angir driftsstrøm for en lyskilde ved full lysstyrke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9911</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsstrøm</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>9909: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9909</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent_Lysarmatur" type="string">
            <annotation>
              <documentation>9919: Angir navn på produsent/fabrikant av de enkelte lysarmaturene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9919</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent, lysarmatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>9918: Angir produktnavn for lysarmatur. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9918</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11647: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11647</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11173: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11173</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12432: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12432</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierLedelysstrekning_OptiskType">
            <annotation>
              <documentation>9913: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9913</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>9914: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9914</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligLedelysstrekning_OptiskType">
            <annotation>
              <documentation>9924: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9924</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9915: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9915</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Ledelysstrekning_OptiskPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Ledelysstrekning_Optisk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="LyskildeTypeType">
    <annotation>
      <documentation>9917: Angir type lyskilder i ledelyset.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9917</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9917</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LyskildeTypeEnumerationType nvdb:LyskildeTypeOtherType"/>
  </simpleType>
  <simpleType name="LyskildeTypeEnumerationType">
    <annotation>
      <documentation>9917: Angir type lyskilder i ledelyset.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9917</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9917</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="LED">
        <annotation>
          <documentation>16112: LED</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16112</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">LED</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lysstoffrør">
        <annotation>
          <documentation>16113: Lysstoffrør</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16113</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lysstoffrør</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lystråd">
        <annotation>
          <documentation>16723: Tråd som lyser i hele trådens lengde.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16723</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lystråd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glødelampe">
        <annotation>
          <documentation>16724: Tradisjonell glødelampe.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16724</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glødelampe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LyskildeTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringLedelysstrekning_OptiskType">
    <annotation>
      <documentation>9923: Angir hvor ledelys er plassert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9923</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9923</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringLedelysstrekning_OptiskEnumerationType nvdb:PlasseringLedelysstrekning_OptiskOtherType"/>
  </simpleType>
  <simpleType name="PlasseringLedelysstrekning_OptiskEnumerationType">
    <annotation>
      <documentation>9923: Angir hvor ledelys er plassert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9923</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9923</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="I bankett/vegskulder">
        <annotation>
          <documentation>16098: Ledelys er montert på bankett eller vegskulder.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16098</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I bankett/vegskulder</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="På rekkverk">
        <annotation>
          <documentation>16099: På rekkverk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16099</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">På rekkverk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="På mur/vegg">
        <annotation>
          <documentation>16100: På mur/vegg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16100</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">På mur/vegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Eget oppsettingsutstyr">
        <annotation>
          <documentation>16101: Plassert på egne stolper, kantstolper eller eget oppsttingsutstyr.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16101</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eget oppsettingsutstyr</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringLedelysstrekning_OptiskOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpenningLedelysstrekning_OptiskType">
    <annotation>
      <documentation>9920: Driftspenning for lysene.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9920</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9920</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SpenningLedelysstrekning_OptiskEnumerationType nvdb:SpenningLedelysstrekning_OptiskOtherType"/>
  </simpleType>
  <simpleType name="SpenningLedelysstrekning_OptiskEnumerationType">
    <annotation>
      <documentation>9920: Driftspenning for lysene.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9920</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9920</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="12">
        <annotation>
          <documentation>16125: 12 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16125</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>16126: 24 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16126</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">24</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="230">
        <annotation>
          <documentation>16127: 230 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16127</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">230</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="400">
        <annotation>
          <documentation>16128: 400 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16128</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">400</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="690">
        <annotation>
          <documentation>16719: 690 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16719</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">690</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpenningLedelysstrekning_OptiskOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLedelysstrekning_OptiskType">
    <annotation>
      <documentation>9924: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9924</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9924</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligLedelysstrekning_OptiskEnumerationType nvdb:VedlikeholdsansvarligLedelysstrekning_OptiskOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLedelysstrekning_OptiskEnumerationType">
    <annotation>
      <documentation>9924: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9924</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9924</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>16116: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16116</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18724: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18724</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19997: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19997</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18853: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18853</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>16114: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16114</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>16115: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16115</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17781: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17781</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLedelysstrekning_OptiskOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
