GML/862.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierReisetidsregistreringspunktType">
    <annotation>
      <documentation>9947: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9947</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9947</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierReisetidsregistreringspunktEnumerationType nvdb:EierReisetidsregistreringspunktOtherType"/>
  </simpleType>
  <simpleType name="EierReisetidsregistreringspunktEnumerationType">
    <annotation>
      <documentation>9947: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9947</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9947</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>16140: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16140</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18544: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18544</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>16141: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16141</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>16142: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16142</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>16143: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16143</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17641: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17641</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierReisetidsregistreringspunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Reisetidsregistreringspunkt" substitutionGroup="nvdb:AbstraktReisetidsregistreringspunkt" type="nvdb:ReisetidsregistreringspunktType">
    <annotation>
      <documentation>862: Stasjon der det er plassert utstyr for registrering av passerende kjøretøy som brukes for registrering av reisetid.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">862</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">862</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Reisetidsregistreringspunkt</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="ReisetidsregistreringspunktType">
    <complexContent>
      <extension base="nvdb:AbstraktReisetidsregistreringspunktType">
        <sequence>
          <element minOccurs="0" name="punktnavn" type="string">
            <annotation>
              <documentation>9946: Navn på registreringspunktet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9946</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Punktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeReisetidsregistreringspunktType">
            <annotation>
              <documentation>9948: Angir hvilken type utstyr/metode som benyttes for reisetidsregistrering.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9948</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="IDEksterntSystem" type="string">
            <annotation>
              <documentation>9949: Gir en referanse (ID) til et eksternt system hvor ytterligere informasjon er lagret.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9949</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ID eksternt system</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10345: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10345</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierReisetidsregistreringspunktType">
            <annotation>
              <documentation>9947: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9947</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>9951: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9951</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReisetidsregistreringspunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Reisetidsregistreringspunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeReisetidsregistreringspunktType">
    <annotation>
      <documentation>9948: Angir hvilken type utstyr/metode som benyttes for reisetidsregistrering.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9948</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9948</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeReisetidsregistreringspunktEnumerationType nvdb:TypeReisetidsregistreringspunktOtherType"/>
  </simpleType>
  <simpleType name="TypeReisetidsregistreringspunktEnumerationType">
    <annotation>
      <documentation>9948: Angir hvilken type utstyr/metode som benyttes for reisetidsregistrering.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9948</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9948</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="AutoPASS">
        <annotation>
          <documentation>16144: AutoPASS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16144</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">AutoPASS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Blåtann">
        <annotation>
          <documentation>16835: Blåtann</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16835</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Blåtann</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Autopass/blåtann">
        <annotation>
          <documentation>16836: Autopass/blåtann</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16836</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Autopass/blåtann</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeReisetidsregistreringspunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
