GML/871.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>871: Historiske data om bruksklasse. Tilsvarende informasjon er nå fordelt på flere vegobjekttyper.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="100TonnVegnettHistorisk_BruksklasseType">
      <annotation>
         <documentation>10147: Angir om vegstrekning inngår i 12/100-tonn vegnett og hvorvidt det tillates kjørt over bruene med eller uten vegfølge.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10147</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2 x totalvekttabell (12/100)</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:100TonnVegnettHistorisk_BruksklasseEnumerationType nvdb:100TonnVegnettHistorisk_BruksklasseOtherType"/>
   </simpleType>
   <simpleType name="100TonnVegnettHistorisk_BruksklasseEnumerationType">
      <annotation>
         <documentation>10147: Angir om vegstrekning inngår i 12/100-tonn vegnett og hvorvidt det tillates kjørt over bruene med eller uten vegfølge.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10147</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2 x totalvekttabell (12/100)</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="100">
            <annotation>
               <documentation>16522: Vegstrekning inngår i 12/100-tonn vegnett. Det kreves vegfølge over bruer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16522</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">100</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="100*">
            <annotation>
               <documentation>17307: Vegstrekning inngår i 12/100-tonn vegnett. Det kreves ikke vegfølge over bruer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17307</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">100*</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>16523: Vegstrekning inngår ikke i 12/100-tonn vegnett.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16523</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="100TonnVegnettHistorisk_BruksklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseTeleHistorisk_BruksklasseType">
      <annotation>
         <documentation>10151: Angir bruksklasse (maks aksellast) for teleløsningsperiode.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10151</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse tele</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksklasseTeleHistorisk_BruksklasseEnumerationType nvdb:BruksklasseTeleHistorisk_BruksklasseOtherType"/>
   </simpleType>
   <simpleType name="BruksklasseTeleHistorisk_BruksklasseEnumerationType">
      <annotation>
         <documentation>10151: Angir bruksklasse (maks aksellast) for teleløsningsperiode.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10151</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse tele</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="6-28">
            <annotation>
               <documentation>16536: Bruksklasse Bk6. Maks totalvekt 28 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16536</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk6 - 28 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8-32">
            <annotation>
               <documentation>16538: Bruksklasse Bk8. Maks totalvekt 32 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16538</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-40">
            <annotation>
               <documentation>16540: Bruksklasse BkT8. Maks totalvekt 40 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16540</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-50">
            <annotation>
               <documentation>16539: Bruksklasse BkT8. Maks totalvekt 50 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16539</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseTeleHistorisk_BruksklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseVinterHistorisk_BruksklasseType">
      <annotation>
         <documentation>10152: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10152</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksklasseVinterHistorisk_BruksklasseEnumerationType nvdb:BruksklasseVinterHistorisk_BruksklasseOtherType"/>
   </simpleType>
   <simpleType name="BruksklasseVinterHistorisk_BruksklasseEnumerationType">
      <annotation>
         <documentation>10152: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10152</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="10-50">
            <annotation>
               <documentation>16545: Bruksklasse Bk10. Maks totalvekt 50 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16545</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8-32">
            <annotation>
               <documentation>16544: Bruksklasse Bk8. Maks totalvekt 32 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16544</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-40">
            <annotation>
               <documentation>16546: Bruksklasse BkT8. Maks totalvekt 40 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16546</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseVinterHistorisk_BruksklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Historisk_Bruksklasse"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Historisk_BruksklasseType">
      <annotation>
         <documentation>871: Historiske data om bruksklasse. Tilsvarende informasjon er nå fordelt på flere vegobjekttyper.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">871</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Historisk_Bruksklasse</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Historisk_BruksklasseType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="bruksklasseVinter">
                  <annotation>
                     <documentation>10152: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10152</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bruksklasseTele">
                  <annotation>
                     <documentation>10151: Angir bruksklasse (maks aksellast) for teleløsningsperiode.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10151</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksklasse tele</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="aksellastTele" type="double">
                  <annotation>
                     <documentation>10148: Angir begrensning i aksellast i teleløsning. Kan angis i stedet for "bruksklasse, tele".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10148</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Aksellast, tele</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="maksVogntoglengde">
                  <annotation>
                     <documentation>10163: Angir maksimal lengde for vogntog.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10163</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="veggruppe" type="nvdb:VeggruppeHistorisk_BruksklasseType">
                  <annotation>
                     <documentation>10178: Angir dispensasjon for spesialtransport avhengig av bruenes tilstand.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10178</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Veggruppe</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="strekningsbeskrivelse" type="string">
                  <annotation>
                     <documentation>10170: Beskrivelse av aktuell vegstrekning. Denne teksten blir henta direkte inn i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10170</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="strekningsbeskrivelseSpesialtran" type="string">
                  <annotation>
                     <documentation>10172: Beskrivelse av aktuell vegstrekning. Denne teksten blir henta direkte inn i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10172</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse, spesialtransport</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="strekningsbeskrivelseTømmertrans" type="string">
                  <annotation>
                     <documentation>10173: Beskrivelse av aktuell vegstrekning. Denne teksten blir henta direkte inn i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10173</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse, tømmertransport</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="strekningsbeskrivelseModulvognto" type="string">
                  <annotation>
                     <documentation>10171: Beskrivelse av aktuell vegstrekning. Denne teksten blir henta direkte inn i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10171</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse, modulvogntog</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stekningsbeskrivelseMobilkranVeg" type="string">
                  <annotation>
                     <documentation>10169: Beskrivelse av aktuell vegstrekning. Denne teksten blir henta direkte inn i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10169</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stekningsbeskrivelse, mobilkran-vegnett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="strekningsbeskrivelse_2XTotalvekt"
                        type="string">
                  <annotation>
                     <documentation>10712: Beskrivelse av aktuell vegstrekning, 2 x totalvekt (12/100). Denne teksten blir hentet direkte inn i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10712</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse, 2 x totalvekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>10167: Permanent merknad til aktuell forekomst. Kan gi informasjoner som ikke er mulig å gi på annet vis.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10167</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="maksTotalvektModulvogntog">
                  <annotation>
                     <documentation>10159: Angir maksimal totalvekt for modulvogntog.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10159</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks totalvekt modulvogntog</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="maksVogntoglengdeModulvogntog">
                  <annotation>
                     <documentation>10164: Angir maksimal lengde for modulvogntog.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10164</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde modulvogntog</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="maksTotalvektTømmertransport">
                  <annotation>
                     <documentation>10160: Angir maksimal totalvekt for tømmertransport.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10160</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks totalvekt tømmertransport</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="maksVogntoglengdeTømmertransport">
                  <annotation>
                     <documentation>10165: Angir maksimal lengde for tømmertransport.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10165</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde tømmertransport</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="modulvogntog_Vinterstengt">
                  <annotation>
                     <documentation>10709: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10709</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Modulvogntog, vinterstengt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="modulvogntog_Linksemitrailer">
                  <annotation>
                     <documentation>10710: Veger som er merket med L i kolonne for type modulvogntog er ikke tillatt for modulvogntog som nevnt i bokstav b nr. 3.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10710</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Modulvogntog, linksemitrailer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="100TonnVegnett">
                  <annotation>
                     <documentation>10147: Angir om vegstrekning inngår i 12/100-tonn vegnett og hvorvidt det tillates kjørt over bruene med eller uten vegfølge.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10147</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">2 x totalvekttabell (12/100)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="mobilkranVegnett">
                  <annotation>
                     <documentation>10168: Angir om vegstrekning inngår i vegnett som kan benyttes av mobilkran/motorredskap, og i så fall hvor mange aksler som tillates.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10168</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Mobilkraner, motorredskap (12/65)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="maksVogntoglengdeSkiltet" type="double">
                  <annotation>
                     <documentation>10166: Angir skiltet maksimallengde for vogntog.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10166</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde, skiltet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="maksKjøretøylengdeSkiltet" type="double">
                  <annotation>
                     <documentation>10156: Angir skiltet maksimallengde for kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10156</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks kjøretøylengde, skiltet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="maksTotalvektKjøretøySkiltet" type="double">
                  <annotation>
                     <documentation>10158: Angir maksimal totalvekt for kjøretøy. Gjelder f.eks. for bruer o.l. som har begrensninger i forhold til bruksklassen. Skal bare gis hvis avvik fra standard bruksklasser.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10158</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks totalvekt kjøretøy, skiltet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="maksTotalvektVogntogSkiltet" type="double">
                  <annotation>
                     <documentation>10161: Angir maksimal totalvekt for vogntog. Gjelder f.eks. for bruer o.l. som har begrensninger i forhold til tunge kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10161</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks totalvekt vogntog, skiltet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="maksAksellastSkiltet" type="double">
                  <annotation>
                     <documentation>10155: Angir maksimal aksellast for kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10155</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks aksellast, skiltet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="veglisteversjon" type="string">
                  <annotation>
                     <documentation>10187: Angir veglisteversjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10187</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Veglisteversjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Historisk_BruksklassePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Historisk_Bruksklasse"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaksTotalvektModulvogntogHistorisk_BruksklasseType">
      <annotation>
         <documentation>10159: Angir maksimal totalvekt for modulvogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10159</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks totalvekt modulvogntog</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaksTotalvektModulvogntogHistorisk_BruksklasseEnumerationType nvdb:MaksTotalvektModulvogntogHistorisk_BruksklasseOtherType"/>
   </simpleType>
   <simpleType name="MaksTotalvektModulvogntogHistorisk_BruksklasseEnumerationType">
      <annotation>
         <documentation>10159: Angir maksimal totalvekt for modulvogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10159</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks totalvekt modulvogntog</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16554</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="60">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16553</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">60</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaksTotalvektModulvogntogHistorisk_BruksklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaksTotalvektTømmertransportHistorisk_BruksklasseType">
      <annotation>
         <documentation>10160: Angir maksimal totalvekt for tømmertransport.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10160</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks totalvekt tømmertransport</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaksTotalvektTømmertransportHistorisk_BruksklasseEnumerationType nvdb:MaksTotalvektTømmertransportHistorisk_BruksklasseOtherType"/>
   </simpleType>
   <simpleType name="MaksTotalvektTømmertransportHistorisk_BruksklasseEnumerationType">
      <annotation>
         <documentation>10160: Angir maksimal totalvekt for tømmertransport.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10160</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks totalvekt tømmertransport</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16557</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="56">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16556</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">56</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="60">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16558</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">60</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaksTotalvektTømmertransportHistorisk_BruksklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeHistorisk_BruksklasseType">
      <annotation>
         <documentation>10163: Angir maksimal lengde for vogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10163</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaksVogntoglengdeHistorisk_BruksklasseEnumerationType nvdb:MaksVogntoglengdeHistorisk_BruksklasseOtherType"/>
   </simpleType>
   <simpleType name="MaksVogntoglengdeHistorisk_BruksklasseEnumerationType">
      <annotation>
         <documentation>10163: Angir maksimal lengde for vogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10163</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="12.40">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16568</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12,40</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15.00">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16567</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">15,00</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="19.50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16566</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">19,50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spes">
            <annotation>
               <documentation>16570: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til vogntog-/kjøretøylengde. Nedsatte verdier gis i egne egenskapstyper.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16570</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeHistorisk_BruksklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeModulvogntogHistorisk_BruksklasseType">
      <annotation>
         <documentation>10164: Angir maksimal lengde for modulvogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10164</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde modulvogntog</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaksVogntoglengdeModulvogntogHistorisk_BruksklasseEnumerationType nvdb:MaksVogntoglengdeModulvogntogHistorisk_BruksklasseOtherType"/>
   </simpleType>
   <simpleType name="MaksVogntoglengdeModulvogntogHistorisk_BruksklasseEnumerationType">
      <annotation>
         <documentation>10164: Angir maksimal lengde for modulvogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10164</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde modulvogntog</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="25.25">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16555</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">25,25</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeModulvogntogHistorisk_BruksklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeTømmertransportHistorisk_BruksklasseType">
      <annotation>
         <documentation>10165: Angir maksimal lengde for tømmertransport.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10165</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde tømmertransport</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaksVogntoglengdeTømmertransportHistorisk_BruksklasseEnumerationType nvdb:MaksVogntoglengdeTømmertransportHistorisk_BruksklasseOtherType"/>
   </simpleType>
   <simpleType name="MaksVogntoglengdeTømmertransportHistorisk_BruksklasseEnumerationType">
      <annotation>
         <documentation>10165: Angir maksimal lengde for tømmertransport.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10165</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde tømmertransport</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="22">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16559</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">22,00</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16560</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">24,00</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeTømmertransportHistorisk_BruksklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MobilkranVegnettHistorisk_BruksklasseType">
      <annotation>
         <documentation>10168: Angir om vegstrekning inngår i vegnett som kan benyttes av mobilkran/motorredskap, og i så fall hvor mange aksler som tillates.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10168</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mobilkraner, motorredskap (12/65)</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MobilkranVegnettHistorisk_BruksklasseEnumerationType nvdb:MobilkranVegnettHistorisk_BruksklasseOtherType"/>
   </simpleType>
   <simpleType name="MobilkranVegnettHistorisk_BruksklasseEnumerationType">
      <annotation>
         <documentation>10168: Angir om vegstrekning inngår i vegnett som kan benyttes av mobilkran/motorredskap, og i så fall hvor mange aksler som tillates.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10168</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mobilkraner, motorredskap (12/65)</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="23">
            <annotation>
               <documentation>16574: Mobilkraner/motorredsskap med 2 og 3 aksler tillates.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16574</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2 og 3 aksler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="34">
            <annotation>
               <documentation>16575: Mobilkraner/motorredsskap med 4 og 5 aksler tillates.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16575</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4 og 5 aksler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>16573: Mobilkraner/motorredsskap tillates ikke.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16573</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5+">
            <annotation>
               <documentation>16576: Mobilkraner/motorredsskap med flere enn 5 aksler tillates.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16576</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Over 5 aksler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MobilkranVegnettHistorisk_BruksklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Modulvogntog_LinksemitrailerHistorisk_BruksklasseType">
      <annotation>
         <documentation>10710: Veger som er merket med L i kolonne for type modulvogntog er ikke tillatt for modulvogntog som nevnt i bokstav b nr. 3.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10710</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Modulvogntog, linksemitrailer</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Modulvogntog_LinksemitrailerHistorisk_BruksklasseEnumerationType nvdb:Modulvogntog_LinksemitrailerHistorisk_BruksklasseOtherType"/>
   </simpleType>
   <simpleType name="Modulvogntog_LinksemitrailerHistorisk_BruksklasseEnumerationType">
      <annotation>
         <documentation>10710: Veger som er merket med L i kolonne for type modulvogntog er ikke tillatt for modulvogntog som nevnt i bokstav b nr. 3.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10710</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Modulvogntog, linksemitrailer</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="L">
            <annotation>
               <documentation>17295: Modulvogntog av type Linksemitrailer er IKKE tillatt på strekning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17295</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">L</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Modulvogntog_LinksemitrailerHistorisk_BruksklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Modulvogntog_VinterstengtHistorisk_BruksklasseType">
      <annotation>
         <documentation>10709: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10709</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Modulvogntog, vinterstengt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Modulvogntog_VinterstengtHistorisk_BruksklasseEnumerationType nvdb:Modulvogntog_VinterstengtHistorisk_BruksklasseOtherType"/>
   </simpleType>
   <simpleType name="Modulvogntog_VinterstengtHistorisk_BruksklasseEnumerationType">
      <annotation>
         <documentation>10709: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10709</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Modulvogntog, vinterstengt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="V">
            <annotation>
               <documentation>17294: Tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17294</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">V</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Modulvogntog_VinterstengtHistorisk_BruksklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VeggruppeHistorisk_BruksklasseType">
      <annotation>
         <documentation>10178: Angir dispensasjon for spesialtransport avhengig av bruenes tilstand.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10178</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veggruppe</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VeggruppeHistorisk_BruksklasseEnumerationType nvdb:VeggruppeHistorisk_BruksklasseOtherType"/>
   </simpleType>
   <simpleType name="VeggruppeHistorisk_BruksklasseEnumerationType">
      <annotation>
         <documentation>10178: Angir dispensasjon for spesialtransport avhengig av bruenes tilstand.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10178</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veggruppe</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>16580: Veger som har bruer med flere kjørefelt, nyere bruer med ett kjørefelt eller veger som ikke har bruer. (Vegliste, spesialtransport).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16580</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">A</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <documentation>16581: Øvrige bruer med ett kjørefelt (Vegliste, spesialtransport).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16581</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">B</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <documentation>16582: Offentlige veger som det må søkes dispensasjon for i hvert enkelt tilfelle.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16582</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VeggruppeHistorisk_BruksklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
