GML/872.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierFaunapassasjeType">
    <annotation>
      <documentation>11990: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11990</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11990</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierFaunapassasjeEnumerationType nvdb:EierFaunapassasjeOtherType"/>
  </simpleType>
  <simpleType name="EierFaunapassasjeEnumerationType">
    <annotation>
      <documentation>11990: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11990</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11990</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>20641: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20641</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20642: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20642</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20643: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20643</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20644: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20644</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20645: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20645</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20646: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20646</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierFaunapassasjeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Faunapassasje" substitutionGroup="nvdb:AbstraktFaunapassasje" type="nvdb:FaunapassasjeType">
    <annotation>
      <documentation>872: Faunapassasjer har som primærfunksjon å koble sammen habitatområder som er fragmentert/isolert på grunn av en eksisterende veg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">872</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">872</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Faunapassasje</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FaunapassasjeType">
    <complexContent>
      <extension base="nvdb:AbstraktFaunapassasjeType">
        <sequence>
          <element minOccurs="0" name="lokalitetsnavn" type="string">
            <annotation>
              <documentation>10229: Navn på passasjen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10229</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lokalitetsnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeFaunapassasjeType">
            <annotation>
              <documentation>10230: Angir hvilken type utforming passasjen har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10230</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>10237: Beskrivelse av passasjen og område rundt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10237</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="regulertFor" type="string">
            <annotation>
              <documentation>10232: Angir hva passasjen er regulert for i reguleringsplan.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10232</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Regulert for</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="flerbrukspassasje" type="string">
            <annotation>
              <documentation>10231: Angir om passasjen har jevnlig menneskelig ferdsel i form av rekreasjon (tursti) eller arbeids-/skogsveg, i tillegg til å kunne brukes som faunapassasje.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10231</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Flerbrukspassasje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="formål" type="nvdb:FormålFaunapassasjeType">
            <annotation>
              <documentation>10233: Angir om passasjen er tilrettelagt for akvatiske og/eller terrestriske organismer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10233</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="integer">
            <annotation>
              <documentation>10235: Passasjens bredde målt langs etter vegen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10235</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>10234: Passasjens lengde målt på tvers av vegen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10234</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeMin" type="double">
            <annotation>
              <documentation>10236: Passasjens minste gjennomgående høyde i 2/3 av passasjens snitt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10236</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde min</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeMaks" type="double">
            <annotation>
              <documentation>10246: Passasjens største gjennomgående høyde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10246</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde maks</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="åpenhet" type="double">
            <annotation>
              <documentation>10238: En indeks som beskriver forholdet mellom høyden, bredden og lengden.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10238</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Åpenhet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brutus_Id" type="string">
            <annotation>
              <documentation>10239: Gir referanse til brudatabanken.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10239</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Brutus_Id</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10289: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10289</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierFaunapassasjeType">
            <annotation>
              <documentation>11990: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11990</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligFaunapassasjeType">
            <annotation>
              <documentation>12018: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12018</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>10240: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10240</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10241: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10241</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertStikkrenneKulvert" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStikkrenneKulvert</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FaunapassasjePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Faunapassasje"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="FormålFaunapassasjeType">
    <annotation>
      <documentation>10233: Angir om passasjen er tilrettelagt for akvatiske og/eller terrestriske organismer.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10233</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10233</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FormålFaunapassasjeEnumerationType nvdb:FormålFaunapassasjeOtherType"/>
  </simpleType>
  <simpleType name="FormålFaunapassasjeEnumerationType">
    <annotation>
      <documentation>10233: Angir om passasjen er tilrettelagt for akvatiske og/eller terrestriske organismer.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10233</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10233</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Akvatisk">
        <annotation>
          <documentation>16734: For alle vannlevende organismer (f.eks. fisk, bunndyr etc).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16734</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Akvatisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Terrestrisk">
        <annotation>
          <documentation>16735: For alle landlevende organismer (f.eks. hjortevilt, smågnagere etc).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16735</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Terrestrisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Begge">
        <annotation>
          <documentation>16736: Passasjen har dobbeltfunksjon, tillater ferdsel av både land- og vannlevende organismer.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16736</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Begge</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FormålFaunapassasjeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeFaunapassasjeType">
    <annotation>
      <documentation>10230: Angir hvilken type utforming passasjen har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10230</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10230</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeFaunapassasjeEnumerationType nvdb:TypeFaunapassasjeOtherType"/>
  </simpleType>
  <simpleType name="TypeFaunapassasjeEnumerationType">
    <annotation>
      <documentation>10230: Angir hvilken type utforming passasjen har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10230</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10230</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Overgang">
        <annotation>
          <documentation>16730: En passasje som fører viltet i bro over vegen. Viltgjerder leder viltet i riktig retning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16730</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overgang</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Undergang">
        <annotation>
          <documentation>16731: En passasje som fører viltet under vegen. Dette er enten en spesiallaget passasje for vilt eller en bru over en naturlig forsenkning i landskapet (e.g. over en bekkedal).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16731</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Undergang</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kulvert">
        <annotation>
          <documentation>16732: Kulverter er gjennomløp beliggende under vegbanen, oftest støpt i betong. Finnes med og uten vannføring. Inkluderer også hvelv/rør i fylling.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16732</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kulvert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sluse">
        <annotation>
          <documentation>16733: En åpning i viltgjerdet på omtrent 20-50 meter der viltet vil ha mulighet til å krysse vegen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16733</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sluse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFaunapassasjeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligFaunapassasjeType">
    <annotation>
      <documentation>12018: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12018</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12018</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligFaunapassasjeEnumerationType nvdb:VedlikeholdsansvarligFaunapassasjeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligFaunapassasjeEnumerationType">
    <annotation>
      <documentation>12018: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12018</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12018</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>20833: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20833</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>20834: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20834</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20835: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20835</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>20836: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20836</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20837: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20837</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20838: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20838</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20839: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20839</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligFaunapassasjeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
