GML/874.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>874: Tilstandsindikator for sykkel. (Opprinnelig beskrivelse: Informasjon om sykkeltilbud langs riksvegrute.)</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="SykkelløsningSykkeltilbud, riksvegrute (endres)Type">
      <annotation>
         <documentation>10419: Angir hvilken løsning det tilbys syklende på gitt strekning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10419</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SykkelløsningSykkeltilbud, riksvegrute (endres)EnumerationType nvdb:SykkelløsningSykkeltilbud, riksvegrute (endres)OtherType"/>
   </simpleType>
   <simpleType name="SykkelløsningSykkeltilbud, riksvegrute (endres)EnumerationType">
      <annotation>
         <documentation>10419: Angir hvilken løsning det tilbys syklende på gitt strekning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10419</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="BT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16817</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Blandet trafikk </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16813</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sykkelløsning langs hovedveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16819</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sykling forbudt eller ikke anbefalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16818</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sykling på lokalt vegnett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SykkelløsningSykkeltilbud, riksvegrute (endres)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Sykkeltilbud, riksvegrute (endres)"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Sykkeltilbud, riksvegrute (endres)Type">
      <annotation>
         <documentation>874: Tilstandsindikator for sykkel. (Opprinnelig beskrivelse: Informasjon om sykkeltilbud langs riksvegrute.)</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">874</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkeltilbud, riksvegrute (endres)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Sykkeltilbud, riksvegrute (endres)Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="tilstandsindikator_Test" type="double">
                  <annotation>
                     <documentation>12848: Tilstandsindikator for gående og syklende.  Baserer seg på hvor god løsning det tilbys for syklende på strekningen sammenlignet med krav i vegnormalene. Metode er under utvikling. Foreløpig klassifisering: 0: God - Tilfredsstiller krav. 1: Middels - Ligger noe under krav. 2: Dårlig - Ligger vesentlig under krav. 3: Svært dårlig - Ligger svært mye under krav. 98: Mangler data. 99: Utenfor utvalg av veger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12848</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstandsindikator (test)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sykkelløsning"
                        type="nvdb:SykkelløsningSykkeltilbud, riksvegrute (endres)Type">
                  <annotation>
                     <documentation>10419: Angir hvilken løsning det tilbys syklende på gitt strekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10419</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sykkelløsning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="beskrivelse" type="string">
                  <annotation>
                     <documentation>10253: Beskrivelse av strekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10253</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kvalitetssikretDato" type="date">
                  <annotation>
                     <documentation>10933: Dato informasjon sist var kvalitetssikret.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10933</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kvalitetssikret dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kvalitetssikretAv" type="string">
                  <annotation>
                     <documentation>10934: Angir navn på seksjon/avdeling som utførte siste kvalitetssikring.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10934</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kvalitetssikret av</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Sykkeltilbud, riksvegrute (endres)PropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Sykkeltilbud, riksvegrute (endres)"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
