GML/874.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="RiksvegruteSykkeltilbud_RiksvegruteType">
    <annotation>
      <documentation>10418: Angir hvilken riksvegrute aktuelt sykkeltilbud gjelder for</documentation>
    </annotation>
    <union memberTypes="nvdb:RiksvegruteSykkeltilbud_RiksvegruteEnumerationType nvdb:RiksvegruteSykkeltilbud_RiksvegruteOtherType"/>
  </simpleType>
  <simpleType name="RiksvegruteSykkeltilbud_RiksvegruteEnumerationType">
    <annotation>
      <documentation>10418: Angir hvilken riksvegrute aktuelt sykkeltilbud gjelder for</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="rute1_E6_RiksgrensenSvinesund_Oslo">
        <annotation>
          <documentation>16796: Rute 1: E6 Riksgrensen/Svinesund - Oslo</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute2a_E18_RiksgrensenØrje_Oslo">
        <annotation>
          <documentation>16797: Rute 2a: E18 Riksgrensen/Ørje - Oslo</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute2b_E16_Riksgrensen_HønefossOgRv35_Hønefoss_Hokksund">
        <annotation>
          <documentation>17280: Rute 2b: E16 Riksgrensen/Riksåsen – Hønefoss og rv 35 Hønefoss – Hokksund med tilknytninger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute3_E18_Oslo_Kristiansand_Stavanger">
        <annotation>
          <documentation>16798: Rute 3: E18 Oslo - Kristiansand  - Stavanger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute4a_E39_Stavanger_Bergen_Ålesund">
        <annotation>
          <documentation>16799: Rute 4a: E39 Stavanger - Bergen - Ålesund</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute4b_E39_Ålesund_Trondheim">
        <annotation>
          <documentation>16800: Rute 4b: E39 Ålesund - Trondheim</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute4c_Rv9_Kristiansand_HaukeligrendOgRv13_55_Jøsendal_Sogndal">
        <annotation>
          <documentation>16801: Rute 4c: Rv 9 Kristiansand - Haukeligrend og Rv 13/55 Jøsendal - Sogndal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute5a_E134_Drammen_Haugesund">
        <annotation>
          <documentation>16802: Rute 5a: E134 Drammen - Haugesund</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute5b_Rv7_Hønefoss_BuOgRv52_Gol_Borlaug">
        <annotation>
          <documentation>16803: Rute 5b: Rv 7 Hønefoss - Bu og Rv52 Gol - Borlaug</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute5c_E16_Sandvika_Bergen">
        <annotation>
          <documentation>16804: Rute 5c: E16 Sandvika - Bergen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute6a_E6_Oslo_Trondheim">
        <annotation>
          <documentation>16805: Rute 6a: E6 Oslo - Trondheim</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute6b_Rv3_Kolomoen_Ulsberg">
        <annotation>
          <documentation>16806: Rute 6b: Rv3 Kolomoen - Ulsberg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute6c_Rv15_Otta_Måløy">
        <annotation>
          <documentation>16807: Rute 6c: Rv15 Otta - Måløy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute6d_E136_Dombås_Ålesund">
        <annotation>
          <documentation>16808: Rute 6d: E136 Dombås - Ålesund</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute6e_Rv70_Oppdal_Kristiansund">
        <annotation>
          <documentation>16809: Rute 6e: Rv70 Oppdal - Kristiansund</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute7_E6_Trondheim_Fauske">
        <annotation>
          <documentation>16810: Rute 7: E6 Trondheim - Fauske</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute8a_E6_Fauske_Nordkjosbotn">
        <annotation>
          <documentation>16811: Rute 8a: E6 Fauske - Nordkjosbotn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rute8b_E6_Nordkjosbotn_Kirkenes">
        <annotation>
          <documentation>16812: Rute 8b: E6 Nordkjosbotn - Kirkenes</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RiksvegruteSykkeltilbud_RiksvegruteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SykkeltilbudType">
    <annotation>
      <documentation>10419: Angir hvilket tilbud det er til syklende</documentation>
    </annotation>
    <union memberTypes="nvdb:SykkeltilbudEnumerationType nvdb:SykkeltilbudOtherType"/>
  </simpleType>
  <simpleType name="SykkeltilbudEnumerationType">
    <annotation>
      <documentation>10419: Angir hvilket tilbud det er til syklende</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="gangOgSykkelveg">
        <annotation>
          <documentation>16813: Strekning hvor det er tilbud om å sykle på egen gang- og sykkelveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sykkelveg">
        <annotation>
          <documentation>16814: Strekning hvor det er tilbud om å sykle på  egen sykkelveg. Sykkelveg kan være med eller uten fortau</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sykkelekspressveg">
        <annotation>
          <documentation>16815: Strekning hvor det er tilbud om å sykle på egen sykkelekspressveg.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sykkelfelt">
        <annotation>
          <documentation>16816: Strekning hvor det tilbud om å sykle i egne sykkelfelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="blandetTrafikk">
        <annotation>
          <documentation>16817: Strekning hvor det kun er tilbud om sykle på samme veg som øvrig trafikk, ikke noen form for eget sykkelanlegg.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sykkeltilbudPåLokaltVegnett">
        <annotation>
          <documentation>16818: Strekning hvor det ikke er sykkeltilbud på/ved selve riksvegen, men hvor det finnes tilbud på lokalt vegnett i stedet.Tilbudet på lokalt vegnett legges inn i tillegg.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sykkelforbud_IkkeAlternativer">
        <annotation>
          <documentation>16819: Strekning hvor det ikke er sykkeltilbud på/ved selve riksvegen, og hvor det heller ikke er tilbud på lokalt vegnett. Syklende må basere seg på skyss med annet transportmiddel.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SykkeltilbudOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Sykkeltilbud_Riksvegrute" substitutionGroup="nvdb:AbstraktSykkeltilbud_Riksvegrute" type="nvdb:Sykkeltilbud_RiksvegruteType">
    <annotation>
      <documentation>874: Informasjon om sykkeltilbud langs riksvegrute</documentation>
    </annotation>
  </element>
  <complexType name="Sykkeltilbud_RiksvegruteType">
    <complexContent>
      <extension base="nvdb:AbstraktSykkeltilbud_RiksvegruteType">
        <sequence>
          <element minOccurs="0" name="riksvegrute" type="nvdb:RiksvegruteSykkeltilbud_RiksvegruteType">
            <annotation>
              <documentation>10418: Angir hvilken riksvegrute aktuelt sykkeltilbud gjelder for</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sykkeltilbud" type="nvdb:SykkeltilbudType">
            <annotation>
              <documentation>10419: Angir hvilket tilbud det er til syklende</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>10253: Beskrivelse av strekning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vurderingAvTilbud" type="nvdb:VurderingAvTilbudType">
            <annotation>
              <documentation>10420: Vurdering av kvalitet på tilbud. Vurdering foretas av regionale sykkelkoordinatorer. Vegnormaler legges til grunn i vurderingen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitetssikretDato" type="date">
            <annotation>
              <documentation>10933: Dato informajson sist var kvalitetssikret</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitetssikretAv" type="string">
            <annotation>
              <documentation>10934: Angir hvem som utførte siste kvalitetsskring</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Sykkeltilbud_RiksvegrutePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Sykkeltilbud_Riksvegrute"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VurderingAvTilbudType">
    <annotation>
      <documentation>10420: Vurdering av kvalitet på tilbud. Vurdering foretas av regionale sykkelkoordinatorer. Vegnormaler legges til grunn i vurderingen.</documentation>
    </annotation>
    <union memberTypes="nvdb:VurderingAvTilbudEnumerationType nvdb:VurderingAvTilbudOtherType"/>
  </simpleType>
  <simpleType name="VurderingAvTilbudEnumerationType">
    <annotation>
      <documentation>10420: Vurdering av kvalitet på tilbud. Vurdering foretas av regionale sykkelkoordinatorer. Vegnormaler legges til grunn i vurderingen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="tilfredsstillende">
        <annotation>
          <documentation>16820: Sykkeltilbudet er tilfredsstillende i forhold til krav som stilles i vegnormalene</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeTilfredsstillende">
        <annotation>
          <documentation>16821: Sykkeltilbudet er ikke tilfredsstillende i forhold til krav som stilles i vegnormalene</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VurderingAvTilbudOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
