GML/874.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="RiksvegruteSykkeltilbud_RiksvegruteType">
    <annotation>
      <documentation>10418: Angir hvilken riksvegrute aktuelt sykkeltilbud gjelder for.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10418</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10418</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Riksvegrute</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RiksvegruteSykkeltilbud_RiksvegruteEnumerationType nvdb:RiksvegruteSykkeltilbud_RiksvegruteOtherType"/>
  </simpleType>
  <simpleType name="RiksvegruteSykkeltilbud_RiksvegruteEnumerationType">
    <annotation>
      <documentation>10418: Angir hvilken riksvegrute aktuelt sykkeltilbud gjelder for.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10418</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10418</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Riksvegrute</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Rute 1: E6 Riksgrensen/Svinesund - Oslo">
        <annotation>
          <documentation>16796: Rute 1: E6 Riksgrensen/Svinesund - Oslo</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16796</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 1: E6 Riksgrensen/Svinesund - Oslo</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 2a: E18 Riksgrensen/Ørje - Oslo">
        <annotation>
          <documentation>16797: Rute 2a: E18 Riksgrensen/Ørje - Oslo</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16797</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 2a: E18 Riksgrensen/Ørje - Oslo</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 2b: E16 Riksgrensen - Hønefoss og Rv35 Hønefoss - Hokksund">
        <annotation>
          <documentation>17280: Rute 2b: E16 Riksgrensen/Riksåsen – Hønefoss og rv 35 Hønefoss – Hokksund med tilknytninger</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17280</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 2b: E16 Riksgrensen - Hønefoss og Rv35 Hønefoss - Hokksund</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 3: E18 Oslo - Kristiansand  - Stavanger">
        <annotation>
          <documentation>16798: Rute 3: E18 Oslo - Kristiansand  - Stavanger</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16798</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 3: E18 Oslo - Kristiansand  - Stavanger</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 4a: E39 Stavanger - Bergen - Ålesund">
        <annotation>
          <documentation>16799: Rute 4a: E39 Stavanger - Bergen - Ålesund</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 4a: E39 Stavanger - Bergen - Ålesund</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 4b: E39 Ålesund - Trondheim">
        <annotation>
          <documentation>16800: Rute 4b: E39 Ålesund - Trondheim</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16800</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 4b: E39 Ålesund - Trondheim</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 4c: Rv 9 Kristiansand - Haukeligrend og Rv 13/55 Jøsendal - Sogndal">
        <annotation>
          <documentation>16801: Rute 4c: Rv 9 Kristiansand - Haukeligrend og Rv 13/55 Jøsendal - Sogndal</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16801</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 4c: Rv 9 Kristiansand - Haukeligrend og Rv 13/55 Jøsendal - Sogndal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 5a: E134 Drammen - Haugesund">
        <annotation>
          <documentation>16802: Rute 5a: E134 Drammen - Haugesund</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16802</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 5a: E134 Drammen - Haugesund</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 5b: Rv 7 Hønefoss - Bu og Rv52 Gol - Borlaug">
        <annotation>
          <documentation>16803: Rute 5b: Rv 7 Hønefoss - Bu og Rv52 Gol - Borlaug</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16803</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 5b: Rv 7 Hønefoss - Bu og Rv52 Gol - Borlaug</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 5c: E16 Sandvika - Bergen">
        <annotation>
          <documentation>16804: Rute 5c: E16 Sandvika - Bergen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16804</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 5c: E16 Sandvika - Bergen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 6a: E6 Oslo - Trondheim">
        <annotation>
          <documentation>16805: Rute 6a: E6 Oslo - Trondheim</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16805</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 6a: E6 Oslo - Trondheim</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 6b: Rv3 Kolomoen - Ulsberg">
        <annotation>
          <documentation>16806: Rute 6b: Rv3 Kolomoen - Ulsberg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16806</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 6b: Rv3 Kolomoen - Ulsberg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 6c: Rv15 Otta - Måløy">
        <annotation>
          <documentation>16807: Rute 6c: Rv15 Otta - Måløy</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16807</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 6c: Rv15 Otta - Måløy</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 6d: E136 Dombås - Ålesund">
        <annotation>
          <documentation>16808: Rute 6d: E136 Dombås - Ålesund</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16808</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 6d: E136 Dombås - Ålesund</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 6e: Rv70 Oppdal - Kristiansund">
        <annotation>
          <documentation>16809: Rute 6e: Rv70 Oppdal - Kristiansund</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16809</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 6e: Rv70 Oppdal - Kristiansund</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 7: E6 Trondheim - Fauske">
        <annotation>
          <documentation>16810: Rute 7: E6 Trondheim - Fauske</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16810</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 7: E6 Trondheim - Fauske</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 8a: E6 Fauske - Nordkjosbotn">
        <annotation>
          <documentation>16811: Rute 8a: E6 Fauske - Nordkjosbotn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16811</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 8a: E6 Fauske - Nordkjosbotn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rute 8b: E6 Nordkjosbotn - Kirkenes">
        <annotation>
          <documentation>16812: Rute 8b: E6 Nordkjosbotn - Kirkenes</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16812</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rute 8b: E6 Nordkjosbotn - Kirkenes</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RiksvegruteSykkeltilbud_RiksvegruteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SykkeltilbudType">
    <annotation>
      <documentation>10419: Angir hvilket tilbud det er til syklende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10419</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10419</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sykkeltilbud</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SykkeltilbudEnumerationType nvdb:SykkeltilbudOtherType"/>
  </simpleType>
  <simpleType name="SykkeltilbudEnumerationType">
    <annotation>
      <documentation>10419: Angir hvilket tilbud det er til syklende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10419</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10419</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sykkeltilbud</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Gang- og sykkelveg">
        <annotation>
          <documentation>16813: Strekning hvor det er tilbud om å sykle på egen gang- og sykkelveg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16813</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gang- og sykkelveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sykkelveg">
        <annotation>
          <documentation>16814: Strekning hvor det er tilbud om å sykle på  egen sykkelveg. Sykkelveg kan være med eller uten fortau</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16814</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sykkelekspressveg">
        <annotation>
          <documentation>16815: Strekning hvor det er tilbud om å sykle på egen sykkelekspressveg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16815</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelekspressveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sykkelfelt">
        <annotation>
          <documentation>16816: Strekning hvor det tilbud om å sykle i egne sykkelfelt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16816</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelfelt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Blandet trafikk">
        <annotation>
          <documentation>16817: Strekning hvor det kun er tilbud om sykle på samme veg som øvrig trafikk, ikke noen form for eget sykkelanlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16817</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Blandet trafikk </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sykkeltilbud på lokalt vegnett">
        <annotation>
          <documentation>16818: Strekning hvor det ikke er sykkeltilbud på/ved selve riksvegen, men hvor det finnes tilbud på lokalt vegnett i stedet.Tilbudet på lokalt vegnett legges inn i tillegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16818</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkeltilbud på lokalt vegnett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sykkelforbud, ikke alternativer">
        <annotation>
          <documentation>16819: Strekning hvor det ikke er sykkeltilbud på/ved selve riksvegen, og hvor det heller ikke er tilbud på lokalt vegnett. Syklende må basere seg på skyss med annet transportmiddel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16819</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelforbud, ikke alternativer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SykkeltilbudOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Sykkeltilbud_Riksvegrute" substitutionGroup="nvdb:AbstraktSykkeltilbud_Riksvegrute" type="nvdb:Sykkeltilbud_RiksvegruteType">
    <annotation>
      <documentation>874: Informasjon om sykkeltilbud langs riksvegrute</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">874</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">874</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sykkeltilbud, riksvegrute</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Sykkeltilbud_RiksvegruteType">
    <complexContent>
      <extension base="nvdb:AbstraktSykkeltilbud_RiksvegruteType">
        <sequence>
          <element minOccurs="0" name="riksvegrute" type="nvdb:RiksvegruteSykkeltilbud_RiksvegruteType">
            <annotation>
              <documentation>10418: Angir hvilken riksvegrute aktuelt sykkeltilbud gjelder for.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10418</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Riksvegrute</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sykkeltilbud" type="nvdb:SykkeltilbudType">
            <annotation>
              <documentation>10419: Angir hvilket tilbud det er til syklende.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10419</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sykkeltilbud</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>10253: Beskrivelse av strekning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10253</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vurderingAvTilbud" type="nvdb:VurderingAvTilbudType">
            <annotation>
              <documentation>10420: Vurdering av kvalitet på tilbud. Vurdering foretas av regionale sykkelkoordinatorer. Vegnormaler legges til grunn i vurderingen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10420</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vurdering av tilbud</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitetssikretDato" type="date">
            <annotation>
              <documentation>10933: Dato informajson sist var kvalitetssikret.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10933</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kvalitetssikret dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitetssikretAv" type="string">
            <annotation>
              <documentation>10934: Angir hvem som utførte siste kvalitetsskring.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10934</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kvalitetssikret av</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Sykkeltilbud_RiksvegrutePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Sykkeltilbud_Riksvegrute"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VurderingAvTilbudType">
    <annotation>
      <documentation>10420: Vurdering av kvalitet på tilbud. Vurdering foretas av regionale sykkelkoordinatorer. Vegnormaler legges til grunn i vurderingen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10420</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10420</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vurdering av tilbud</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VurderingAvTilbudEnumerationType nvdb:VurderingAvTilbudOtherType"/>
  </simpleType>
  <simpleType name="VurderingAvTilbudEnumerationType">
    <annotation>
      <documentation>10420: Vurdering av kvalitet på tilbud. Vurdering foretas av regionale sykkelkoordinatorer. Vegnormaler legges til grunn i vurderingen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10420</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10420</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vurdering av tilbud</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tilfredsstillende">
        <annotation>
          <documentation>16820: Sykkeltilbudet er tilfredsstillende i forhold til krav som stilles i vegnormalene</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16820</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilfredsstillende</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke tilfredsstillende">
        <annotation>
          <documentation>16821: Sykkeltilbudet er ikke tilfredsstillende i forhold til krav som stilles i vegnormalene</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16821</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke tilfredsstillende</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VurderingAvTilbudOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
