GML/875.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>875: Frittstående trapp i tilknytning til gangveg/gangareal.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BarnevognsporTrappType">
      <annotation>
         <documentation>10434: Angir om det finnes barnevognspor i trappa.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10434</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Barnevognspor</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BarnevognsporTrappEnumerationType nvdb:BarnevognsporTrappOtherType"/>
   </simpleType>
   <simpleType name="BarnevognsporTrappEnumerationType">
      <annotation>
         <documentation>10434: Angir om det finnes barnevognspor i trappa.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10434</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Barnevognspor</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16877</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16878</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BarnevognsporTrappOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierTrappType">
      <annotation>
         <documentation>10437: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10437</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierTrappEnumerationType nvdb:EierTrappOtherType"/>
   </simpleType>
   <simpleType name="EierTrappEnumerationType">
      <annotation>
         <documentation>10437: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10437</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16882</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16883</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16884</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18625</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16881</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17636: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17636</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierTrappOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeTrappType">
      <annotation>
         <documentation>10429: Angir type materiale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10429</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeTrappEnumerationType nvdb:MaterialtypeTrappOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeTrappEnumerationType">
      <annotation>
         <documentation>10429: Angir type materiale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10429</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16873</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16875</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Granitt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16874</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16876</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeTrappOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RekkverkHåndlistTrappType">
      <annotation>
         <documentation>10440: Angir om rekkverk/håndlist finnes.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10440</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rekkverk/håndlist</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RekkverkHåndlistTrappEnumerationType nvdb:RekkverkHåndlistTrappOtherType"/>
   </simpleType>
   <simpleType name="RekkverkHåndlistTrappEnumerationType">
      <annotation>
         <documentation>10440: Angir om rekkverk/håndlist finnes.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10440</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rekkverk/håndlist</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="jEn">
            <annotation>
               <documentation>16885: Rekkverk/håndlist på en side av trappen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16885</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, ensidig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="jTo">
            <annotation>
               <documentation>16886: Rekkverk/håndlist på begge sider av trappen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16886</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, tosidig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16887</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RekkverkHåndlistTrappOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Trapp"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:TrappType">
      <annotation>
         <documentation>875: Frittstående trapp i tilknytning til gangveg/gangareal.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">875</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trapp</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TrappType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="materialtype" type="nvdb:MaterialtypeTrappType">
                  <annotation>
                     <documentation>10429: Angir type materiale.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10429</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallTrinn" type="double">
                  <annotation>
                     <documentation>10430: Angir antall trinn i trappen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10430</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall trinn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallRepos" type="double">
                  <annotation>
                     <documentation>10436: Angir antall repos i trappa.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10436</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall repos</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengde" type="double">
                  <annotation>
                     <documentation>10431: Angir lengde på trappen fra nederste steg til øverste steg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10431</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde" type="double">
                  <annotation>
                     <documentation>10432: Angir bredde på trappen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10432</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="barnevognspor"
                        type="nvdb:BarnevognsporTrappType">
                  <annotation>
                     <documentation>10434: Angir om det finnes barnevognspor i trappa.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10434</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Barnevognspor</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="varmekabler" type="nvdb:VarmekablerTrappType">
                  <annotation>
                     <documentation>10435: Angir om det finnes varmekabler i trappa.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10435</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rekkverkHåndlist">
                  <annotation>
                     <documentation>10440: Angir om rekkverk/håndlist finnes.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10440</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rekkverk/håndlist</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10439: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10439</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11648: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11648</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11174: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11174</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12433: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12433</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierTrappType">
                  <annotation>
                     <documentation>10437: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10437</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligTrappType">
                  <annotation>
                     <documentation>10438: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10438</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>10433: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10433</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10734: Gir flate/polygon som geometrisk avgrenser vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10734</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TrappPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trapp"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VarmekablerTrappType">
      <annotation>
         <documentation>10435: Angir om det finnes varmekabler i trappa.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10435</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VarmekablerTrappEnumerationType nvdb:VarmekablerTrappOtherType"/>
   </simpleType>
   <simpleType name="VarmekablerTrappEnumerationType">
      <annotation>
         <documentation>10435: Angir om det finnes varmekabler i trappa.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10435</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16879</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16880</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VarmekablerTrappOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTrappType">
      <annotation>
         <documentation>10438: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10438</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligTrappEnumerationType nvdb:VedlikeholdsansvarligTrappOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTrappEnumerationType">
      <annotation>
         <documentation>10438: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10438</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20000</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16892</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18731</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18860</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16893</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16891</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17785</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligTrappOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
