GML/875.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BarnevognsporType">
    <annotation>
      <documentation>10434: Angir om det finnes barnevognspor i trappa</documentation>
    </annotation>
    <union memberTypes="nvdb:BarnevognsporEnumerationType nvdb:BarnevognsporOtherType"/>
  </simpleType>
  <simpleType name="BarnevognsporEnumerationType">
    <annotation>
      <documentation>10434: Angir om det finnes barnevognspor i trappa</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16877: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16878: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BarnevognsporOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierTrappType">
    <annotation>
      <documentation>10437: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:EierTrappEnumerationType nvdb:EierTrappOtherType"/>
  </simpleType>
  <simpleType name="EierTrappEnumerationType">
    <annotation>
      <documentation>10437: Angir hvem som er eier av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>16881: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18625: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>16882: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>16883: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>16884: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17636: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTrappOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeTrappType">
    <annotation>
      <documentation>10429: Angir type materiale</documentation>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeTrappEnumerationType nvdb:MaterialtypeTrappOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeTrappEnumerationType">
    <annotation>
      <documentation>10429: Angir type materiale</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="betong">
        <annotation>
          <documentation>16873: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stål">
        <annotation>
          <documentation>16874: Stål</documentation>
        </annotation>
      </enumeration>
      <enumeration value="granitt">
        <annotation>
          <documentation>16875: Granitt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tre">
        <annotation>
          <documentation>16876: Tre</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeTrappOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RekkverkHåndlistType">
    <annotation>
      <documentation>10440: Angir om rekkverk/håndlist finnes</documentation>
    </annotation>
    <union memberTypes="nvdb:RekkverkHåndlistEnumerationType nvdb:RekkverkHåndlistOtherType"/>
  </simpleType>
  <simpleType name="RekkverkHåndlistEnumerationType">
    <annotation>
      <documentation>10440: Angir om rekkverk/håndlist finnes</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja_Ensidig">
        <annotation>
          <documentation>16885: Rekkverk/håndlist på en side av trappen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ja_Tosidig">
        <annotation>
          <documentation>16886: Rekkverk/håndlist på begge sider av trappen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16887: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RekkverkHåndlistOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trapp" substitutionGroup="nvdb:AbstraktTrapp" type="nvdb:TrappType">
    <annotation>
      <documentation>875: Frittstående trapp i tilknytning til gangveg/gangareal</documentation>
    </annotation>
  </element>
  <complexType name="TrappType">
    <complexContent>
      <extension base="nvdb:AbstraktTrappType">
        <sequence>
          <element minOccurs="0" name="materialtype" type="nvdb:MaterialtypeTrappType">
            <annotation>
              <documentation>10429: Angir type materiale</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallTrinn" type="integer">
            <annotation>
              <documentation>10430: Angir antall trinn i trappen
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallRepos" type="integer">
            <annotation>
              <documentation>10436: Angir antall repos i trappa
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>10431: Angir lengde på trappen fra nederste steg til øverste steg
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>10432: Angir bredde på trappen
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="barnevognspor" type="nvdb:BarnevognsporType">
            <annotation>
              <documentation>10434: Angir om det finnes barnevognspor i trappa</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="varmekabler" type="nvdb:VarmekablerTrappType">
            <annotation>
              <documentation>10435: Angir om det finnes varmekabler i trappa</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rekkverkHåndlist" type="nvdb:RekkverkHåndlistType">
            <annotation>
              <documentation>10440: Angir om rekkverk/håndlist finnes</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10439: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11648: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11174: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierTrappType">
            <annotation>
              <documentation>10437: Angir hvem som er eier av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTrappType">
            <annotation>
              <documentation>10438: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>10433: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10734: Gir flate/polygon som geometrisk avgrenser vegobjektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTaktileIndikatorer" type="nvdb:AbstraktTaktileIndikatorerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrappPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trapp"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VarmekablerTrappType">
    <annotation>
      <documentation>10435: Angir om det finnes varmekabler i trappa</documentation>
    </annotation>
    <union memberTypes="nvdb:VarmekablerTrappEnumerationType nvdb:VarmekablerTrappOtherType"/>
  </simpleType>
  <simpleType name="VarmekablerTrappEnumerationType">
    <annotation>
      <documentation>10435: Angir om det finnes varmekabler i trappa</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16879: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16880: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VarmekablerTrappOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrappType">
    <annotation>
      <documentation>10438: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTrappEnumerationType nvdb:VedlikeholdsansvarligTrappOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrappEnumerationType">
    <annotation>
      <documentation>10438: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>16891: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18731: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>20000: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18860: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>16892: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>16893: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17785: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrappOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
