GML/877.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DriftstilstandTilstandsgrad_SidegrøftDypType">
    <annotation>
      <documentation>10639: Driftstilstand. 1 = er ikke rensket, 2 = er rensket.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10639</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10639</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Driftstilstand</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DriftstilstandTilstandsgrad_SidegrøftDypEnumerationType nvdb:DriftstilstandTilstandsgrad_SidegrøftDypOtherType"/>
  </simpleType>
  <simpleType name="DriftstilstandTilstandsgrad_SidegrøftDypEnumerationType">
    <annotation>
      <documentation>10639: Driftstilstand. 1 = er ikke rensket, 2 = er rensket.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10639</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10639</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Driftstilstand</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ikke tømt">
        <annotation>
          <documentation>17198: Ikke tømt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17198</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke tømt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tømt">
        <annotation>
          <documentation>17201: Tømt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17201</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tømt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DriftstilstandTilstandsgrad_SidegrøftDypOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGGrøftebredde_BunnType">
    <annotation>
      <documentation>10614: Tilstandsgrad, Grøftebredde, bunn. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10614</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10614</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Grøftebredde, bunn</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGGrøftebredde_BunnEnumerationType nvdb:TGGrøftebredde_BunnOtherType"/>
  </simpleType>
  <simpleType name="TGGrøftebredde_BunnEnumerationType">
    <annotation>
      <documentation>10614: Tilstandsgrad, Grøftebredde, bunn. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10614</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10614</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Grøftebredde, bunn</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17043: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17043</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17069: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17069</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17095: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17095</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17121: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17121</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17147: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17147</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17173: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17173</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGGrøftebredde_BunnOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGGrøftedybdeType">
    <annotation>
      <documentation>10611: Tilstandsgrad, Grøftedybde. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10611</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10611</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Grøftedybde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGGrøftedybdeEnumerationType nvdb:TGGrøftedybdeOtherType"/>
  </simpleType>
  <simpleType name="TGGrøftedybdeEnumerationType">
    <annotation>
      <documentation>10611: Tilstandsgrad, Grøftedybde. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10611</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10611</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Grøftedybde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17040: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17040</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17066: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17066</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17092: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17092</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17118: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17118</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17144: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17144</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17170: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17170</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGGrøftedybdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGKapasitetType">
    <annotation>
      <documentation>10628: Tilstandsgrad, Kapasitet. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10628</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10628</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Kapasitet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGKapasitetEnumerationType nvdb:TGKapasitetOtherType"/>
  </simpleType>
  <simpleType name="TGKapasitetEnumerationType">
    <annotation>
      <documentation>10628: Tilstandsgrad, Kapasitet. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10628</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10628</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Kapasitet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17057: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17057</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17083: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17083</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17109: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17109</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17135: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17135</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17161: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17161</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17187: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17187</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGKapasitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingPraktisk_ManuellTilstandsgrad_SidegrøftDypType">
    <annotation>
      <documentation>10634: Tilstandsgrad, Samlet vurdering praktisk, manuell. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10634</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10634</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering praktisk, manuell</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurderingPraktisk_ManuellTilstandsgrad_SidegrøftDypEnumerationType nvdb:TGSamletVurderingPraktisk_ManuellTilstandsgrad_SidegrøftDypOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurderingPraktisk_ManuellTilstandsgrad_SidegrøftDypEnumerationType">
    <annotation>
      <documentation>10634: Tilstandsgrad, Samlet vurdering praktisk, manuell. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10634</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10634</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering praktisk, manuell</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17063: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17063</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17089: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17089</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17115: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17115</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17141: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17141</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17167: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17167</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17193: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17193</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingPraktisk_ManuellTilstandsgrad_SidegrøftDypOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingTeoretisk_AutomatikkTilstandsgrad_SidegrøftDypType">
    <annotation>
      <documentation>10633: Tilstandsgrad, Samlet vurdering teoretisk, automatikk. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10633</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10633</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering teoretisk, automatikk</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurderingTeoretisk_AutomatikkTilstandsgrad_SidegrøftDypEnumerationType nvdb:TGSamletVurderingTeoretisk_AutomatikkTilstandsgrad_SidegrøftDypOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurderingTeoretisk_AutomatikkTilstandsgrad_SidegrøftDypEnumerationType">
    <annotation>
      <documentation>10633: Tilstandsgrad, Samlet vurdering teoretisk, automatikk. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10633</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10633</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering teoretisk, automatikk</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17062: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17062</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17088: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17088</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17114: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17114</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17140: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17140</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17166: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17166</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17192: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17192</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingTeoretisk_AutomatikkTilstandsgrad_SidegrøftDypOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadeErosjonsbeskyttelseType">
    <annotation>
      <documentation>10626: Tilstandsgrad, Skade erosjonsbeskyttelse. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10626</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10626</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Skade erosjonsbeskyttelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSkadeErosjonsbeskyttelseEnumerationType nvdb:TGSkadeErosjonsbeskyttelseOtherType"/>
  </simpleType>
  <simpleType name="TGSkadeErosjonsbeskyttelseEnumerationType">
    <annotation>
      <documentation>10626: Tilstandsgrad, Skade erosjonsbeskyttelse. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10626</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10626</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Skade erosjonsbeskyttelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17055: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17055</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17081: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17081</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17107: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17107</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17133: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17133</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17159: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17159</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17185: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17185</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadeErosjonsbeskyttelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkråningshelning_IndreType">
    <annotation>
      <documentation>10618: Tilstandsgrad, Skråningshelning, indre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10618</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10618</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Skråningshelning, indre</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSkråningshelning_IndreEnumerationType nvdb:TGSkråningshelning_IndreOtherType"/>
  </simpleType>
  <simpleType name="TGSkråningshelning_IndreEnumerationType">
    <annotation>
      <documentation>10618: Tilstandsgrad, Skråningshelning, indre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10618</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10618</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Skråningshelning, indre</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17047: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17047</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17073: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17073</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17099: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17099</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17125: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17125</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17151: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17151</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17177: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17177</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkråningshelning_IndreOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkråningshelning_YtreType">
    <annotation>
      <documentation>10621: Tilstandsgrad, Skråningshelning, ytre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10621</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10621</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Skråningshelning, ytre</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSkråningshelning_YtreEnumerationType nvdb:TGSkråningshelning_YtreOtherType"/>
  </simpleType>
  <simpleType name="TGSkråningshelning_YtreEnumerationType">
    <annotation>
      <documentation>10621: Tilstandsgrad, Skråningshelning, ytre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10621</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10621</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Skråningshelning, ytre</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17050: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17050</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17076: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17076</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17102: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17102</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17128: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17128</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17154: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17154</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17180: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17180</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkråningshelning_YtreOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGTersklerLengdefallType">
    <annotation>
      <documentation>10624: Tilstandsgrad, terskler/lengdefall. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10624</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10624</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Terskler/lengdefall</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGTersklerLengdefallEnumerationType nvdb:TGTersklerLengdefallOtherType"/>
  </simpleType>
  <simpleType name="TGTersklerLengdefallEnumerationType">
    <annotation>
      <documentation>10624: Tilstandsgrad, terskler/lengdefall. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10624</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10624</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Terskler/lengdefall</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17053: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17053</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17079: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17079</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17105: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17105</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17131: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17131</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17157: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17157</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17183: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17183</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGTersklerLengdefallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tilstandsgrad_SidegrøftDyp" substitutionGroup="nvdb:AbstraktTilstandsgrad_SidegrøftDyp" type="nvdb:Tilstandsgrad_SidegrøftDypType">
    <annotation>
      <documentation>877: Angir tilstandsgrader for åpen dyp sidegrøft.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">877</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">877</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstandsgrad, sidegrøft dyp</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Tilstandsgrad_SidegrøftDypType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandsgrad_SidegrøftDypType">
        <sequence>
          <element minOccurs="0" name="TGGrøftedybde" type="nvdb:TGGrøftedybdeType">
            <annotation>
              <documentation>10611: Tilstandsgrad, Grøftedybde. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10611</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Grøftedybde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadGrøftedybde" type="string">
            <annotation>
              <documentation>10651: Merknad Grøftedybde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10651</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad Grøftedybde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGGrøftebredde_Bunn" type="nvdb:TGGrøftebredde_BunnType">
            <annotation>
              <documentation>10614: Tilstandsgrad, Grøftebredde, bunn. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10614</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Grøftebredde, bunn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadGrøftebredde_Bunn" type="string">
            <annotation>
              <documentation>10650: Merknad Grøftebredde, bunn.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10650</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad Grøftebredde, bunn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSkråningshelning_Indre" type="nvdb:TGSkråningshelning_IndreType">
            <annotation>
              <documentation>10618: Tilstandsgrad, Skråningshelning, indre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10618</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Skråningshelning, indre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkråningshelning_Indre" type="string">
            <annotation>
              <documentation>10664: Merknad Skråningshelning, indre.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10664</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad Skråningshelning, indre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSkråningshelning_Ytre" type="nvdb:TGSkråningshelning_YtreType">
            <annotation>
              <documentation>10621: Tilstandsgrad, Skråningshelning, ytre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10621</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Skråningshelning, ytre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkråningshelning_Ytre" type="string">
            <annotation>
              <documentation>10665: Merknad Skråningshelning, ytre.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10665</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad Skråningshelning, ytre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGTersklerLengdefall" type="nvdb:TGTersklerLengdefallType">
            <annotation>
              <documentation>10624: Tilstandsgrad, terskler/lengdefall. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10624</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Terskler/lengdefall</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadTersklerLengdefall" type="string">
            <annotation>
              <documentation>10666: Merknad Terskler/lengdefall.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10666</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad Terskler/lengdefall</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSkadeErosjonsbeskyttelse" type="nvdb:TGSkadeErosjonsbeskyttelseType">
            <annotation>
              <documentation>10626: Tilstandsgrad, Skade erosjonsbeskyttelse. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10626</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Skade erosjonsbeskyttelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkadeErosjonsbeskyttelse" type="string">
            <annotation>
              <documentation>10658: Merknad Skade erosjonsbeskyttelse.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10658</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad Skade erosjonsbeskyttelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGKapasitet" type="nvdb:TGKapasitetType">
            <annotation>
              <documentation>10628: Tilstandsgrad, Kapasitet. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10628</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Kapasitet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKapasitet" type="string">
            <annotation>
              <documentation>10652: Merknad Kapasitet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10652</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad Kapasitet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurderingTeoretisk_Automatikk" type="nvdb:TGSamletVurderingTeoretisk_AutomatikkTilstandsgrad_SidegrøftDypType">
            <annotation>
              <documentation>10633: Tilstandsgrad, Samlet vurdering teoretisk, automatikk. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10633</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering teoretisk, automatikk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurderingPraktisk_Manuell" type="nvdb:TGSamletVurderingPraktisk_ManuellTilstandsgrad_SidegrøftDypType">
            <annotation>
              <documentation>10634: Tilstandsgrad, Samlet vurdering praktisk, manuell. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10634</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering praktisk, manuell</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSamletVurdering" type="string">
            <annotation>
              <documentation>10509: Merknad Samlet vurdering.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10509</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad Samlet vurdering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>10508: Angir hvor lang strekning registrering representerer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10508</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftstilstand" type="nvdb:DriftstilstandTilstandsgrad_SidegrøftDypType">
            <annotation>
              <documentation>10639: Driftstilstand. 1 = er ikke rensket, 2 = er rensket.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10639</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftstilstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadDriftstilstand" type="string">
            <annotation>
              <documentation>10696: Merknad knyttet til driftstilstand.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10696</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad driftstilstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vannføring" type="nvdb:VannføringTilstandsgrad_SidegrøftDypType">
            <annotation>
              <documentation>10645: Vannføring. 1=liten (kontinuerlig), 2=stor(kontinuerlig),3=Årsvariasjon,4=Stående vann, 5=tørrlagt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10645</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vannføring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeRegistrering" type="nvdb:TypeRegistreringTilstandsgrad_SidegrøftDypType">
            <annotation>
              <documentation>10642: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10642</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type registrering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>10513: Registreringsdato.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10513</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Registreringsdato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="signatur" type="string">
            <annotation>
              <documentation>10514: Signatur.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10514</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Signatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>10515: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10515</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGrøft_Åpen" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGrøft_Åpen</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Tilstandsgrad_SidegrøftDypPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tilstandsgrad_SidegrøftDyp"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeRegistreringTilstandsgrad_SidegrøftDypType">
    <annotation>
      <documentation>10642: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10642</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10642</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type registrering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeRegistreringTilstandsgrad_SidegrøftDypEnumerationType nvdb:TypeRegistreringTilstandsgrad_SidegrøftDypOtherType"/>
  </simpleType>
  <simpleType name="TypeRegistreringTilstandsgrad_SidegrøftDypEnumerationType">
    <annotation>
      <documentation>10642: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10642</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10642</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type registrering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hoved">
        <annotation>
          <documentation>17204: Hovedinspeksjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17204</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hoved</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Årlig">
        <annotation>
          <documentation>17207: Årlig ajourhold.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Årlig</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeRegistreringTilstandsgrad_SidegrøftDypOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VannføringTilstandsgrad_SidegrøftDypType">
    <annotation>
      <documentation>10645: Vannføring. 1=liten (kontinuerlig), 2=stor(kontinuerlig),3=Årsvariasjon,4=Stående vann, 5=tørrlagt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10645</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10645</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vannføring</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VannføringTilstandsgrad_SidegrøftDypEnumerationType nvdb:VannføringTilstandsgrad_SidegrøftDypOtherType"/>
  </simpleType>
  <simpleType name="VannføringTilstandsgrad_SidegrøftDypEnumerationType">
    <annotation>
      <documentation>10645: Vannføring. 1=liten (kontinuerlig), 2=stor(kontinuerlig),3=Årsvariasjon,4=Stående vann, 5=tørrlagt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10645</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10645</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vannføring</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Liten">
        <annotation>
          <documentation>17210: Liten kontinuerlig.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17210</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Liten</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stor">
        <annotation>
          <documentation>17213: Stor, kontinuerlig.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17213</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Årsvariasjon">
        <annotation>
          <documentation>17216: Årsvariasjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17216</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Årsvariasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stående vann">
        <annotation>
          <documentation>17219: Stående vann.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17219</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stående vann</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tørrlagt">
        <annotation>
          <documentation>17222: Tørrlagt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17222</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tørrlagt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VannføringTilstandsgrad_SidegrøftDypOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
