GML/877.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DriftstilstandTilstandsgrad_SidegrøftDypType">
    <annotation>
      <documentation>10639: Driftstilstand. 1 = er ikke rensket, 2 = er rensket</documentation>
    </annotation>
    <union memberTypes="nvdb:DriftstilstandTilstandsgrad_SidegrøftDypEnumerationType nvdb:DriftstilstandTilstandsgrad_SidegrøftDypOtherType"/>
  </simpleType>
  <simpleType name="DriftstilstandTilstandsgrad_SidegrøftDypEnumerationType">
    <annotation>
      <documentation>10639: Driftstilstand. 1 = er ikke rensket, 2 = er rensket</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ikkeTømt">
        <annotation>
          <documentation>17198: Ikke tømt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tømt">
        <annotation>
          <documentation>17201: Tømt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DriftstilstandTilstandsgrad_SidegrøftDypOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGGrøftebredde_BunnType">
    <annotation>
      <documentation>10614: Tilstandsgrad, Grøftebredde, bunn. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGGrøftebredde_BunnEnumerationType nvdb:TGGrøftebredde_BunnOtherType"/>
  </simpleType>
  <simpleType name="TGGrøftebredde_BunnEnumerationType">
    <annotation>
      <documentation>10614: Tilstandsgrad, Grøftebredde, bunn. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17043: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17069: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17095: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17121: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17147: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17173: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGGrøftebredde_BunnOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGGrøftedybdeType">
    <annotation>
      <documentation>10611: Tilstandsgrad, Grøftedybde.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGGrøftedybdeEnumerationType nvdb:TGGrøftedybdeOtherType"/>
  </simpleType>
  <simpleType name="TGGrøftedybdeEnumerationType">
    <annotation>
      <documentation>10611: Tilstandsgrad, Grøftedybde.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17040: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17066: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17092: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17118: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17144: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17170: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGGrøftedybdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGKapasitetType">
    <annotation>
      <documentation>10628: Tilstandsgrad, Kapasitet. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGKapasitetEnumerationType nvdb:TGKapasitetOtherType"/>
  </simpleType>
  <simpleType name="TGKapasitetEnumerationType">
    <annotation>
      <documentation>10628: Tilstandsgrad, Kapasitet. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17057: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17083: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17109: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17135: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17161: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17187: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGKapasitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingPraktisk_ManuellTilstandsgrad_SidegrøftDypType">
    <annotation>
      <documentation>10634: Tilstandsgrad, Samlet vurdering praktisk, manuell. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurderingPraktisk_ManuellTilstandsgrad_SidegrøftDypEnumerationType nvdb:TGSamletVurderingPraktisk_ManuellTilstandsgrad_SidegrøftDypOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurderingPraktisk_ManuellTilstandsgrad_SidegrøftDypEnumerationType">
    <annotation>
      <documentation>10634: Tilstandsgrad, Samlet vurdering praktisk, manuell. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17063: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17089: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17115: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17141: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17167: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17193: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingPraktisk_ManuellTilstandsgrad_SidegrøftDypOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingTeoretisk_AutomatikkTilstandsgrad_SidegrøftDypType">
    <annotation>
      <documentation>10633: Tilstandsgrad, Samlet vurdering teoretisk, automatikk. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurderingTeoretisk_AutomatikkTilstandsgrad_SidegrøftDypEnumerationType nvdb:TGSamletVurderingTeoretisk_AutomatikkTilstandsgrad_SidegrøftDypOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurderingTeoretisk_AutomatikkTilstandsgrad_SidegrøftDypEnumerationType">
    <annotation>
      <documentation>10633: Tilstandsgrad, Samlet vurdering teoretisk, automatikk. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17062: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17088: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17114: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17140: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17166: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17192: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingTeoretisk_AutomatikkTilstandsgrad_SidegrøftDypOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadeErosjonsbeskyttelseType">
    <annotation>
      <documentation>10626: Tilstandsgrad, Skade erosjonsbeskyttelse. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGSkadeErosjonsbeskyttelseEnumerationType nvdb:TGSkadeErosjonsbeskyttelseOtherType"/>
  </simpleType>
  <simpleType name="TGSkadeErosjonsbeskyttelseEnumerationType">
    <annotation>
      <documentation>10626: Tilstandsgrad, Skade erosjonsbeskyttelse. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17055: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17081: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17107: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17133: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17159: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17185: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadeErosjonsbeskyttelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkråningshelning_IndreType">
    <annotation>
      <documentation>10618: Tilstandsgrad, Skråningshelning, indre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGSkråningshelning_IndreEnumerationType nvdb:TGSkråningshelning_IndreOtherType"/>
  </simpleType>
  <simpleType name="TGSkråningshelning_IndreEnumerationType">
    <annotation>
      <documentation>10618: Tilstandsgrad, Skråningshelning, indre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17047: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17073: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17099: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17125: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17151: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17177: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkråningshelning_IndreOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkråningshelning_YtreType">
    <annotation>
      <documentation>10621: Tilstandsgrad, Skråningshelning, ytre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGSkråningshelning_YtreEnumerationType nvdb:TGSkråningshelning_YtreOtherType"/>
  </simpleType>
  <simpleType name="TGSkråningshelning_YtreEnumerationType">
    <annotation>
      <documentation>10621: Tilstandsgrad, Skråningshelning, ytre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17050: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17076: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17102: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17128: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17154: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17180: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkråningshelning_YtreOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGTersklerLengdefallType">
    <annotation>
      <documentation>10624: Tilstandsgrad, terskler/lengdefall. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGTersklerLengdefallEnumerationType nvdb:TGTersklerLengdefallOtherType"/>
  </simpleType>
  <simpleType name="TGTersklerLengdefallEnumerationType">
    <annotation>
      <documentation>10624: Tilstandsgrad, terskler/lengdefall. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17053: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17079: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17105: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17131: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17157: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17183: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGTersklerLengdefallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tilstandsgrad_SidegrøftDyp" substitutionGroup="nvdb:AbstraktTilstandsgrad_SidegrøftDyp" type="nvdb:Tilstandsgrad_SidegrøftDypType">
    <annotation>
      <documentation>877: Angir tilstandsgrader for åpen dyp sidegrøft.</documentation>
    </annotation>
  </element>
  <complexType name="Tilstandsgrad_SidegrøftDypType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandsgrad_SidegrøftDypType">
        <sequence>
          <element minOccurs="0" name="TGGrøftedybde" type="nvdb:TGGrøftedybdeType">
            <annotation>
              <documentation>10611: Tilstandsgrad, Grøftedybde.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadGrøftedybde" type="string">
            <annotation>
              <documentation>10651: Merknad Grøftedybde</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGGrøftebredde_Bunn" type="nvdb:TGGrøftebredde_BunnType">
            <annotation>
              <documentation>10614: Tilstandsgrad, Grøftebredde, bunn. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadGrøftebredde_Bunn" type="string">
            <annotation>
              <documentation>10650: Merknad Grøftebredde, bunn</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSkråningshelning_Indre" type="nvdb:TGSkråningshelning_IndreType">
            <annotation>
              <documentation>10618: Tilstandsgrad, Skråningshelning, indre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkråningshelning_Indre" type="string">
            <annotation>
              <documentation>10664: Merknad Skråningshelning, indre</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSkråningshelning_Ytre" type="nvdb:TGSkråningshelning_YtreType">
            <annotation>
              <documentation>10621: Tilstandsgrad, Skråningshelning, ytre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkråningshelning_Ytre" type="string">
            <annotation>
              <documentation>10665: Merknad Skråningshelning, ytre</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGTersklerLengdefall" type="nvdb:TGTersklerLengdefallType">
            <annotation>
              <documentation>10624: Tilstandsgrad, terskler/lengdefall. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadTersklerLengdefall" type="string">
            <annotation>
              <documentation>10666: Merknad Terskler/lengdefall</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSkadeErosjonsbeskyttelse" type="nvdb:TGSkadeErosjonsbeskyttelseType">
            <annotation>
              <documentation>10626: Tilstandsgrad, Skade erosjonsbeskyttelse. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkadeErosjonsbeskyttelse" type="string">
            <annotation>
              <documentation>10658: Merknad Skade erosjonsbeskyttelse</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGKapasitet" type="nvdb:TGKapasitetType">
            <annotation>
              <documentation>10628: Tilstandsgrad, Kapasitet. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKapasitet" type="string">
            <annotation>
              <documentation>10652: Merknad Kapasitet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurderingTeoretisk_Automatikk" type="nvdb:TGSamletVurderingTeoretisk_AutomatikkTilstandsgrad_SidegrøftDypType">
            <annotation>
              <documentation>10633: Tilstandsgrad, Samlet vurdering teoretisk, automatikk. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurderingPraktisk_Manuell" type="nvdb:TGSamletVurderingPraktisk_ManuellTilstandsgrad_SidegrøftDypType">
            <annotation>
              <documentation>10634: Tilstandsgrad, Samlet vurdering praktisk, manuell. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSamletVurdering" type="string">
            <annotation>
              <documentation>10509: Merknad Samlet vurdering</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>10508: Angir hvor lang strekning registrering representerer.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftstilstand" type="nvdb:DriftstilstandTilstandsgrad_SidegrøftDypType">
            <annotation>
              <documentation>10639: Driftstilstand. 1 = er ikke rensket, 2 = er rensket</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadDriftstilstand" type="string">
            <annotation>
              <documentation>10696: Merknad knyttet til driftstilstand</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vannføring" type="nvdb:VannføringTilstandsgrad_SidegrøftDypType">
            <annotation>
              <documentation>10645: Vannføring. 1=liten (kontinuerlig), 2=stor(kontinuerlig),3=Årsvariasjon,4=Stående vann, 5=tørrlagt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="typeRegistrering" type="nvdb:TypeRegistreringTilstandsgrad_SidegrøftDypType">
            <annotation>
              <documentation>10642: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>10513: Registreringsdato</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="signatur" type="string">
            <annotation>
              <documentation>10514: Signatur</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>10515: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Tilstandsgrad_SidegrøftDypPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tilstandsgrad_SidegrøftDyp"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeRegistreringTilstandsgrad_SidegrøftDypType">
    <annotation>
      <documentation>10642: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeRegistreringTilstandsgrad_SidegrøftDypEnumerationType nvdb:TypeRegistreringTilstandsgrad_SidegrøftDypOtherType"/>
  </simpleType>
  <simpleType name="TypeRegistreringTilstandsgrad_SidegrøftDypEnumerationType">
    <annotation>
      <documentation>10642: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="hoved">
        <annotation>
          <documentation>17204: Hovedinspeksjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="årlig">
        <annotation>
          <documentation>17207: Årlig ajourhold</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeRegistreringTilstandsgrad_SidegrøftDypOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VannføringTilstandsgrad_SidegrøftDypType">
    <annotation>
      <documentation>10645: Vannføring. 1=liten (kontinuerlig), 2=stor(kontinuerlig),3=Årsvariasjon,4=Stående vann, 5=tørrlagt</documentation>
    </annotation>
    <union memberTypes="nvdb:VannføringTilstandsgrad_SidegrøftDypEnumerationType nvdb:VannføringTilstandsgrad_SidegrøftDypOtherType"/>
  </simpleType>
  <simpleType name="VannføringTilstandsgrad_SidegrøftDypEnumerationType">
    <annotation>
      <documentation>10645: Vannføring. 1=liten (kontinuerlig), 2=stor(kontinuerlig),3=Årsvariasjon,4=Stående vann, 5=tørrlagt</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="liten">
        <annotation>
          <documentation>17210: Liten kontinuelrig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stor">
        <annotation>
          <documentation>17213: Stor, kontinuerlig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="årsvariasjon">
        <annotation>
          <documentation>17216: Årsvariasjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ståendeVann">
        <annotation>
          <documentation>17219: Stående vann</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tørrlagt">
        <annotation>
          <documentation>17222: Tørrlagt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VannføringTilstandsgrad_SidegrøftDypOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
