GML/878.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DriftstilstandTilstandsgrad_StikkrenneKulvertType">
    <annotation>
      <documentation>10638: Driftstilstand. 1 = er spylt, 2 = er ikke spylt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Driftstilstand</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DriftstilstandTilstandsgrad_StikkrenneKulvertEnumerationType nvdb:DriftstilstandTilstandsgrad_StikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="DriftstilstandTilstandsgrad_StikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>10638: Driftstilstand. 1 = er spylt, 2 = er ikke spylt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Driftstilstand</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ikke tømt">
        <annotation>
          <documentation>17197: Ikke tømt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17197</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke tømt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tømt">
        <annotation>
          <documentation>17200: Tømt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17200</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tømt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DriftstilstandTilstandsgrad_StikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGByggefeil_BeliggenhetType">
    <annotation>
      <documentation>10616: Tilstandsgrad, TG Byggefeil, Beliggenhet. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10616</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10616</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Byggefeil, Beliggenhet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGByggefeil_BeliggenhetEnumerationType nvdb:TGByggefeil_BeliggenhetOtherType"/>
  </simpleType>
  <simpleType name="TGByggefeil_BeliggenhetEnumerationType">
    <annotation>
      <documentation>10616: Tilstandsgrad, TG Byggefeil, Beliggenhet. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10616</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10616</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Byggefeil, Beliggenhet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17045: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17045</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17071: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17071</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17097: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17097</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17123: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17123</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17149: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17149</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17175: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17175</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGByggefeil_BeliggenhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGByggefeil_HøydeVinkelType">
    <annotation>
      <documentation>10613: Tilstandsgrad, Byggefeil, høyde/vinkel. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10613</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10613</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Byggefeil, høyde/vinkel</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGByggefeil_HøydeVinkelEnumerationType nvdb:TGByggefeil_HøydeVinkelOtherType"/>
  </simpleType>
  <simpleType name="TGByggefeil_HøydeVinkelEnumerationType">
    <annotation>
      <documentation>10613: Tilstandsgrad, Byggefeil, høyde/vinkel. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10613</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10613</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Byggefeil, høyde/vinkel</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17042: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17042</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17068: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17068</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17094: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17094</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17120: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17120</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17146: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17146</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17172: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17172</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGByggefeil_HøydeVinkelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGKapasitetTilstandsgrad_StikkrenneKulvertType">
    <annotation>
      <documentation>10631: Tilstandsgrad, Kapasitet. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10631</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10631</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Kapasitet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGKapasitetTilstandsgrad_StikkrenneKulvertEnumerationType nvdb:TGKapasitetTilstandsgrad_StikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="TGKapasitetTilstandsgrad_StikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>10631: Tilstandsgrad, Kapasitet. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10631</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10631</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Kapasitet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17060: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17060</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17086: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17086</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17112: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17112</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17138: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17138</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17164: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17164</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17190: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17190</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGKapasitetTilstandsgrad_StikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurdering_PraktiskManuellType">
    <annotation>
      <documentation>10636: Tilstandsgrad, Samlet vurdering, praktisk manuell. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10636</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10636</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering, praktisk manuell</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurdering_PraktiskManuellEnumerationType nvdb:TGSamletVurdering_PraktiskManuellOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurdering_PraktiskManuellEnumerationType">
    <annotation>
      <documentation>10636: Tilstandsgrad, Samlet vurdering, praktisk manuell. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10636</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10636</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering, praktisk manuell</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17065: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17065</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17091: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17091</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17117: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17117</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17143: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17143</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17169: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17169</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17195: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17195</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurdering_PraktiskManuellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurdering_TeoretiskAutomatikkType">
    <annotation>
      <documentation>10635: Tilstandsgrad, Samlet vurdering, teoretisk automatikk. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10635</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10635</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering, teoretisk automatikk</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurdering_TeoretiskAutomatikkEnumerationType nvdb:TGSamletVurdering_TeoretiskAutomatikkOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurdering_TeoretiskAutomatikkEnumerationType">
    <annotation>
      <documentation>10635: Tilstandsgrad, Samlet vurdering, teoretisk automatikk. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10635</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10635</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering, teoretisk automatikk</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17064: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17064</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17090: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17090</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17116: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17116</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17142: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17142</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17168: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17168</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17194: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17194</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurdering_TeoretiskAutomatikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSetning_Deformasjon_MangelfulltLengdefallType">
    <annotation>
      <documentation>10623: Tilstandsgrad, Setning, deformasjon, mangelfullt lengdefall. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10623</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10623</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Setning, deformasjon, mangelfullt lengdefall</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSetning_Deformasjon_MangelfulltLengdefallEnumerationType nvdb:TGSetning_Deformasjon_MangelfulltLengdefallOtherType"/>
  </simpleType>
  <simpleType name="TGSetning_Deformasjon_MangelfulltLengdefallEnumerationType">
    <annotation>
      <documentation>10623: Tilstandsgrad, Setning, deformasjon, mangelfullt lengdefall. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10623</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10623</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Setning, deformasjon, mangelfullt lengdefall</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17052: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17052</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17078: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17078</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17104: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17104</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17130: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17130</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17156: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17156</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17182: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17182</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSetning_Deformasjon_MangelfulltLengdefallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadeType">
    <annotation>
      <documentation>10620: Tilstandsgrad, TG Skade inkl. korrosjon. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10620</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10620</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Skade</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSkadeEnumerationType nvdb:TGSkadeOtherType"/>
  </simpleType>
  <simpleType name="TGSkadeEnumerationType">
    <annotation>
      <documentation>10620: Tilstandsgrad, TG Skade inkl. korrosjon. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10620</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10620</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Skade</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17049: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17049</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17075: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17075</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17101: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17101</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17127: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17127</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17153: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17153</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17179: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17179</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadePåErosjonssikringVedInnOgUtløpType">
    <annotation>
      <documentation>10630: Tilstandsgrad. Skade på erosjonssikring ved inn- og utløp. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10630</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10630</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Skade på erosjonssikring ved inn- og utløp</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSkadePåErosjonssikringVedInnOgUtløpEnumerationType nvdb:TGSkadePåErosjonssikringVedInnOgUtløpOtherType"/>
  </simpleType>
  <simpleType name="TGSkadePåErosjonssikringVedInnOgUtløpEnumerationType">
    <annotation>
      <documentation>10630: Tilstandsgrad. Skade på erosjonssikring ved inn- og utløp. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10630</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10630</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Skade på erosjonssikring ved inn- og utløp</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17059: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17059</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17085: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17085</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17111: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17111</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17137: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17137</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17163: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17163</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17189: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17189</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadePåErosjonssikringVedInnOgUtløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadePåInnOgUtløpskonstruksjonType">
    <annotation>
      <documentation>10627: Tilstandsgrad, Skade på inn- og utløpskonstruksjon. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10627</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10627</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Skade på inn- og utløpskonstruksjon</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSkadePåInnOgUtløpskonstruksjonEnumerationType nvdb:TGSkadePåInnOgUtløpskonstruksjonOtherType"/>
  </simpleType>
  <simpleType name="TGSkadePåInnOgUtløpskonstruksjonEnumerationType">
    <annotation>
      <documentation>10627: Tilstandsgrad, Skade på inn- og utløpskonstruksjon. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10627</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10627</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TG Skade på inn- og utløpskonstruksjon</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17056: Tilstandsgrad 0.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17056</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17082: Tilstandsgrad 1.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17082</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17108: Tilstandsgrad 2.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17108</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17134: Tilstandsgrad 3.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17134</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17160: Tilstandsgrad Ikke Undersøkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17160</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17186: Tilstandsgrad mangler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17186</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadePåInnOgUtløpskonstruksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tilstandsgrad_StikkrenneKulvert" substitutionGroup="nvdb:AbstraktTilstandsgrad_StikkrenneKulvert" type="nvdb:Tilstandsgrad_StikkrenneKulvertType">
    <annotation>
      <documentation>878: Angir tilstandsgrader for stikkrenne/kulvert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">878</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">878</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstandsgrad, stikkrenne/kulvert</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Tilstandsgrad_StikkrenneKulvertType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandsgrad_StikkrenneKulvertType">
        <sequence>
          <element minOccurs="0" name="TGByggefeil_HøydeVinkel" type="nvdb:TGByggefeil_HøydeVinkelType">
            <annotation>
              <documentation>10613: Tilstandsgrad, Byggefeil, høyde/vinkel. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10613</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Byggefeil, høyde/vinkel</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadByggefeil_HøydeVinkel" type="string">
            <annotation>
              <documentation>10648: Merknad Byggefeil, høyde/vinkel.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10648</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad Byggefeil, høyde/vinkel</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGByggefeil_Beliggenhet" type="nvdb:TGByggefeil_BeliggenhetType">
            <annotation>
              <documentation>10616: Tilstandsgrad, TG Byggefeil, Beliggenhet. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10616</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Byggefeil, Beliggenhet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadByggefeil_Beliggenhet" type="string">
            <annotation>
              <documentation>10646: Merknad Byggefeil, Beliggenhet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10646</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad Byggefeil, Beliggenhet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSkade" type="nvdb:TGSkadeType">
            <annotation>
              <documentation>10620: Tilstandsgrad, TG Skade inkl. korrosjon. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10620</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Skade</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkade" type="string">
            <annotation>
              <documentation>10657: Merknad Skade.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10657</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad Skade</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSetning_Deformasjon_MangelfulltLengdefall" type="nvdb:TGSetning_Deformasjon_MangelfulltLengdefallType">
            <annotation>
              <documentation>10623: Tilstandsgrad, Setning, deformasjon, mangelfullt lengdefall. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10623</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Setning, deformasjon, mangelfullt lengdefall</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSetning_Deform_MangelfulltLengdefall" type="string">
            <annotation>
              <documentation>10667: Merknad Setning, deform, mangelfullt lengdefall.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10667</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad Setning, deform, mangelfullt lengdefall</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSkadePåInnOgUtløpskonstruksjon" type="nvdb:TGSkadePåInnOgUtløpskonstruksjonType">
            <annotation>
              <documentation>10627: Tilstandsgrad, Skade på inn- og utløpskonstruksjon. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10627</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Skade på inn- og utløpskonstruksjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkadePåInnOgUtløpskonstruksjon" type="string">
            <annotation>
              <documentation>10661: Merknad Skade på inn- og utløpskonstruksjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10661</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad Skade på inn- og utløpskonstruksjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSkadePåErosjonssikringVedInnOgUtløp" type="nvdb:TGSkadePåErosjonssikringVedInnOgUtløpType">
            <annotation>
              <documentation>10630: Tilstandsgrad. Skade på erosjonssikring ved inn- og utløp. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10630</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Skade på erosjonssikring ved inn- og utløp</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkadePåErosjonssikringVedInnOgUtløp" type="string">
            <annotation>
              <documentation>10660: Merknad Skade på erosjonssikring ved inn- og utløp.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10660</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad Skade på erosjonssikring ved inn- og utløp</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGKapasitet" type="nvdb:TGKapasitetTilstandsgrad_StikkrenneKulvertType">
            <annotation>
              <documentation>10631: Tilstandsgrad, Kapasitet. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10631</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Kapasitet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKapasitet" type="string">
            <annotation>
              <documentation>10653: Merknad Kapasitet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10653</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad Kapasitet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurdering_TeoretiskAutomatikk" type="nvdb:TGSamletVurdering_TeoretiskAutomatikkType">
            <annotation>
              <documentation>10635: Tilstandsgrad, Samlet vurdering, teoretisk automatikk. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10635</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering, teoretisk automatikk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurdering_PraktiskManuell" type="nvdb:TGSamletVurdering_PraktiskManuellType">
            <annotation>
              <documentation>10636: Tilstandsgrad, Samlet vurdering, praktisk manuell. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10636</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering, praktisk manuell</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSamletVurdering" type="string">
            <annotation>
              <documentation>10525: Merknad Samlet vurdering.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10525</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad Samlet vurdering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftstilstand" type="nvdb:DriftstilstandTilstandsgrad_StikkrenneKulvertType">
            <annotation>
              <documentation>10638: Driftstilstand. 1 = er spylt, 2 = er ikke spylt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10638</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftstilstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadDriftstilstand" type="string">
            <annotation>
              <documentation>10697: Merknad knyttet til driftstilstand.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10697</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad driftstilstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vannføring" type="nvdb:VannføringTilstandsgrad_StikkrenneKulvertType">
            <annotation>
              <documentation>10644: Vannføring. 1=Liten (kontinuerlig), 2=Stor (kontinuerlig), 3=Årsvariasjon, 4=Stående vann, 5=tørrlagt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10644</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vannføring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeRegistrering" type="nvdb:TypeRegistreringTilstandsgrad_StikkrenneKulvertType">
            <annotation>
              <documentation>10641: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10641</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type registrering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>10529: Registreringsdato.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10529</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Registreringsdato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="signatur" type="string">
            <annotation>
              <documentation>10530: Signatur.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10530</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Signatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>10532: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10532</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>10531: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10531</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStikkrenneKulvert" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStikkrenneKulvert</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Tilstandsgrad_StikkrenneKulvertPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tilstandsgrad_StikkrenneKulvert"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeRegistreringTilstandsgrad_StikkrenneKulvertType">
    <annotation>
      <documentation>10641: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10641</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10641</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type registrering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeRegistreringTilstandsgrad_StikkrenneKulvertEnumerationType nvdb:TypeRegistreringTilstandsgrad_StikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="TypeRegistreringTilstandsgrad_StikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>10641: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10641</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10641</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type registrering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hoved">
        <annotation>
          <documentation>17203: Hovedinspeksjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17203</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hoved</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Årlig">
        <annotation>
          <documentation>17206: Årlig ajourhold.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17206</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Årlig</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeRegistreringTilstandsgrad_StikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VannføringTilstandsgrad_StikkrenneKulvertType">
    <annotation>
      <documentation>10644: Vannføring. 1=Liten (kontinuerlig), 2=Stor (kontinuerlig), 3=Årsvariasjon, 4=Stående vann, 5=tørrlagt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10644</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10644</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vannføring</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VannføringTilstandsgrad_StikkrenneKulvertEnumerationType nvdb:VannføringTilstandsgrad_StikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="VannføringTilstandsgrad_StikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>10644: Vannføring. 1=Liten (kontinuerlig), 2=Stor (kontinuerlig), 3=Årsvariasjon, 4=Stående vann, 5=tørrlagt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10644</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10644</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vannføring</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Liten">
        <annotation>
          <documentation>17209: Liten kontinuerlig.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17209</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Liten</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stor">
        <annotation>
          <documentation>17212: Stor, kontinuerlig.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17212</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Årsvariasjon">
        <annotation>
          <documentation>17215: Årsvariasjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17215</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Årsvariasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stående vann">
        <annotation>
          <documentation>17218: Stående vann.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17218</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stående vann</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tørrlagt">
        <annotation>
          <documentation>17221: Tørrlagt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17221</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tørrlagt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VannføringTilstandsgrad_StikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
