GML/879.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DriftstilstandType">
    <annotation>
      <documentation>10637: Driftstilstand. 1 = er ikke tømt, 2 = er tømt</documentation>
    </annotation>
    <union memberTypes="nvdb:DriftstilstandEnumerationType nvdb:DriftstilstandOtherType"/>
  </simpleType>
  <simpleType name="DriftstilstandEnumerationType">
    <annotation>
      <documentation>10637: Driftstilstand. 1 = er ikke tømt, 2 = er tømt</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ikkeTømt">
        <annotation>
          <documentation>17196: Ikke tømt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tømt">
        <annotation>
          <documentation>17199: Tømt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DriftstilstandOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGByggefeil_MonteringTetthetFrostsikringType">
    <annotation>
      <documentation>10619: Tilstandsgrad, Byggefeil, montering/tetthet/frostsikring. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGByggefeil_MonteringTetthetFrostsikringEnumerationType nvdb:TGByggefeil_MonteringTetthetFrostsikringOtherType"/>
  </simpleType>
  <simpleType name="TGByggefeil_MonteringTetthetFrostsikringEnumerationType">
    <annotation>
      <documentation>10619: Tilstandsgrad, Byggefeil, montering/tetthet/frostsikring. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17048: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17074: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17100: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17126: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17152: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17178: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGByggefeil_MonteringTetthetFrostsikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGKapasitetSandfangkum_SlamromType">
    <annotation>
      <documentation>10622: Tilstandsgrad, Kapasitet sandfangkum (slamrom). 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGKapasitetSandfangkum_SlamromEnumerationType nvdb:TGKapasitetSandfangkum_SlamromOtherType"/>
  </simpleType>
  <simpleType name="TGKapasitetSandfangkum_SlamromEnumerationType">
    <annotation>
      <documentation>10622: Tilstandsgrad, Kapasitet sandfangkum (slamrom). 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17051: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17077: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17103: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17129: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17155: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17181: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGKapasitetSandfangkum_SlamromOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGKapasitetSlukRistType">
    <annotation>
      <documentation>10625: Tisltandsgrad, Kapasitet sluk/rist. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGKapasitetSlukRistEnumerationType nvdb:TGKapasitetSlukRistOtherType"/>
  </simpleType>
  <simpleType name="TGKapasitetSlukRistEnumerationType">
    <annotation>
      <documentation>10625: Tisltandsgrad, Kapasitet sluk/rist. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17054: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17080: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17106: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17132: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17158: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17184: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGKapasitetSlukRistOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingPraktisk_ManuellType">
    <annotation>
      <documentation>10632: Tilstandsgrad, Samlet vurdering praktisk, manuell. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurderingPraktisk_ManuellEnumerationType nvdb:TGSamletVurderingPraktisk_ManuellOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurderingPraktisk_ManuellEnumerationType">
    <annotation>
      <documentation>10632: Tilstandsgrad, Samlet vurdering praktisk, manuell. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17061: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17087: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17113: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17139: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17165: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17191: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingPraktisk_ManuellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingTeoretisk_AutomatikkType">
    <annotation>
      <documentation>10629: Tilstandsgrad, Samlet vurdering teoretisk, automatikk. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurderingTeoretisk_AutomatikkEnumerationType nvdb:TGSamletVurderingTeoretisk_AutomatikkOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurderingTeoretisk_AutomatikkEnumerationType">
    <annotation>
      <documentation>10629: Tilstandsgrad, Samlet vurdering teoretisk, automatikk. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17058: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17084: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17110: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17136: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17162: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17188: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingTeoretisk_AutomatikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadeKumType">
    <annotation>
      <documentation>10612: Tilstandsgrad, Skade kum. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGSkadeKumEnumerationType nvdb:TGSkadeKumOtherType"/>
  </simpleType>
  <simpleType name="TGSkadeKumEnumerationType">
    <annotation>
      <documentation>10612: Tilstandsgrad, Skade kum. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17041: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17067: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17093: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17119: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17145: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17171: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadeKumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadeRist_LokkUtenforFastDekkeType">
    <annotation>
      <documentation>10617: Tilstandsgrad, Skade rist, lokk utenfor fast dekke. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGSkadeRist_LokkUtenforFastDekkeEnumerationType nvdb:TGSkadeRist_LokkUtenforFastDekkeOtherType"/>
  </simpleType>
  <simpleType name="TGSkadeRist_LokkUtenforFastDekkeEnumerationType">
    <annotation>
      <documentation>10617: Tilstandsgrad, Skade rist, lokk utenfor fast dekke. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17046: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17072: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17098: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17124: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17150: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17176: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadeRist_LokkUtenforFastDekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadeSluk_Rist_LokkIFastDekkeType">
    <annotation>
      <documentation>10615: Tilstandsgrad, Skade sluk, rist, lokk i fast dekke. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGSkadeSluk_Rist_LokkIFastDekkeEnumerationType nvdb:TGSkadeSluk_Rist_LokkIFastDekkeOtherType"/>
  </simpleType>
  <simpleType name="TGSkadeSluk_Rist_LokkIFastDekkeEnumerationType">
    <annotation>
      <documentation>10615: Tilstandsgrad, Skade sluk, rist, lokk i fast dekke. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17044: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17070: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17096: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17122: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17148: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17174: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadeSluk_Rist_LokkIFastDekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tilstandsgrad_Kum" substitutionGroup="nvdb:AbstraktTilstandsgrad_Kum" type="nvdb:Tilstandsgrad_KumType">
    <annotation>
      <documentation>879: Angir tilstandsgrader for kum</documentation>
    </annotation>
  </element>
  <complexType name="Tilstandsgrad_KumType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandsgrad_KumType">
        <sequence>
          <element minOccurs="0" name="TGSkadeKum" type="nvdb:TGSkadeKumType">
            <annotation>
              <documentation>10612: Tilstandsgrad, Skade kum. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkadeKum" type="string">
            <annotation>
              <documentation>10659: Merknad Skade kum</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSkadeSluk_Rist_LokkIFastDekke" type="nvdb:TGSkadeSluk_Rist_LokkIFastDekkeType">
            <annotation>
              <documentation>10615: Tilstandsgrad, Skade sluk, rist, lokk i fast dekke. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkadeSluk_Rist_LokkIFastDekke" type="string">
            <annotation>
              <documentation>10663: Merknad Skade sluk, rist, lokk i fast dekke</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSkadeRist_LokkUtenforFastDekke" type="nvdb:TGSkadeRist_LokkUtenforFastDekkeType">
            <annotation>
              <documentation>10617: Tilstandsgrad, Skade rist, lokk utenfor fast dekke. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkadeRist_LokkUtenforFastDekke" type="string">
            <annotation>
              <documentation>10662: Merknad Skade rist, lokk utenfor fast dekke</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGByggefeil_MonteringTetthetFrostsikring" type="nvdb:TGByggefeil_MonteringTetthetFrostsikringType">
            <annotation>
              <documentation>10619: Tilstandsgrad, Byggefeil, montering/tetthet/frostsikring. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadByggefeil_MonteringTetthetFrostsikring" type="string">
            <annotation>
              <documentation>10649: Merknad Byggefeil, montering/tetthet/frostsikring</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGKapasitetSandfangkum_Slamrom" type="nvdb:TGKapasitetSandfangkum_SlamromType">
            <annotation>
              <documentation>10622: Tilstandsgrad, Kapasitet sandfangkum (slamrom). 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKapasitetSandfangkum_Slamrom" type="string">
            <annotation>
              <documentation>10654: Merknad Kapasitet sandfangkum (slamrom)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGKapasitetSlukRist" type="nvdb:TGKapasitetSlukRistType">
            <annotation>
              <documentation>10625: Tisltandsgrad, Kapasitet sluk/rist. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKapasitetSlukRist" type="string">
            <annotation>
              <documentation>10655: Merknad Kapasitet sluk/rist</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurderingTeoretisk_Automatikk" type="nvdb:TGSamletVurderingTeoretisk_AutomatikkType">
            <annotation>
              <documentation>10629: Tilstandsgrad, Samlet vurdering teoretisk, automatikk. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurderingPraktisk_Manuell" type="nvdb:TGSamletVurderingPraktisk_ManuellType">
            <annotation>
              <documentation>10632: Tilstandsgrad, Samlet vurdering praktisk, manuell. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSamletVurdering" type="string">
            <annotation>
              <documentation>10541: Merknad Samlet vurdering</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftstilstand" type="nvdb:DriftstilstandType">
            <annotation>
              <documentation>10637: Driftstilstand. 1 = er ikke tømt, 2 = er tømt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadDriftstilstand" type="string">
            <annotation>
              <documentation>10695: Merknad knyttet til driftstilstand</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vannføring" type="nvdb:VannføringType">
            <annotation>
              <documentation>10643: Vannføring. 1=Liten (kontinuerlig), 2=Stor (kontinuerlig), 3=Årsvariasjon, 4=Stående vann, 5=Tørrlagt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="typeRegistrering" type="nvdb:TypeRegistreringType">
            <annotation>
              <documentation>10640: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>10545: Registreringsdato</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="signatur" type="string">
            <annotation>
              <documentation>10546: Signatur</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>10547: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Tilstandsgrad_KumPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tilstandsgrad_Kum"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeRegistreringType">
    <annotation>
      <documentation>10640: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeRegistreringEnumerationType nvdb:TypeRegistreringOtherType"/>
  </simpleType>
  <simpleType name="TypeRegistreringEnumerationType">
    <annotation>
      <documentation>10640: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="hoved">
        <annotation>
          <documentation>17202: Hovedinspeksjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="årlig">
        <annotation>
          <documentation>17205: Årlig ajourhold</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeRegistreringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VannføringType">
    <annotation>
      <documentation>10643: Vannføring. 1=Liten (kontinuerlig), 2=Stor (kontinuerlig), 3=Årsvariasjon, 4=Stående vann, 5=Tørrlagt</documentation>
    </annotation>
    <union memberTypes="nvdb:VannføringEnumerationType nvdb:VannføringOtherType"/>
  </simpleType>
  <simpleType name="VannføringEnumerationType">
    <annotation>
      <documentation>10643: Vannføring. 1=Liten (kontinuerlig), 2=Stor (kontinuerlig), 3=Årsvariasjon, 4=Stående vann, 5=Tørrlagt</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="liten">
        <annotation>
          <documentation>17208: Liten kontinuelrig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stor">
        <annotation>
          <documentation>17211: Stor, kontinuerlig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="årsvariasjon">
        <annotation>
          <documentation>17214: Årsvariasjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ståendeVann">
        <annotation>
          <documentation>17217: Stående vann</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tørrlagt">
        <annotation>
          <documentation>17220: Tørrlagt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VannføringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
