GML/88.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AntallLyskilderPerArmaturType">
    <annotation>
      <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1955</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1955</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Antall lyskilder per armatur</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AntallLyskilderPerArmaturEnumerationType nvdb:AntallLyskilderPerArmaturOtherType"/>
  </simpleType>
  <simpleType name="AntallLyskilderPerArmaturEnumerationType">
    <annotation>
      <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1955</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1955</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Antall lyskilder per armatur</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>3730: 1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3730</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>3739: 2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3739</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>16294: 3</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16294</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>16295: 4</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16295</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>17876: 5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17876</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>17877: 6</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17877</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallLyskilderPerArmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ArmaturtypeType">
    <annotation>
      <documentation>1145: Angir hvilken type armatur det er. Avledes av Belysningspunkt.Bruksområde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1145</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1145</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Armaturtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ArmaturtypeEnumerationType nvdb:ArmaturtypeOtherType"/>
  </simpleType>
  <simpleType name="ArmaturtypeEnumerationType">
    <annotation>
      <documentation>1145: Angir hvilken type armatur det er. Avledes av Belysningspunkt.Bruksområde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1145</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1145</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Armaturtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Veglys">
        <annotation>
          <documentation>3758: Veglys i dagen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3758</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veglys</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnellys">
        <annotation>
          <documentation>2750: Vegbelysning i tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2750</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnellys</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parklys">
        <annotation>
          <documentation>3759: Lysarmatur som benyttes bl.a. i park.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3759</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Parklys</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lyskaster">
        <annotation>
          <documentation>3760: Lysarmatur av type lyskaster.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3760</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lyskaster</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ArmaturtypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Avskjerming_MaterialeType">
    <annotation>
      <documentation>8401: Angir hvordan glasset på armaturen er utformet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8401</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8401</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Avskjerming, materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Avskjerming_MaterialeEnumerationType nvdb:Avskjerming_MaterialeOtherType"/>
  </simpleType>
  <simpleType name="Avskjerming_MaterialeEnumerationType">
    <annotation>
      <documentation>8401: Angir hvordan glasset på armaturen er utformet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8401</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8401</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Avskjerming, materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Plant">
        <annotation>
          <documentation>11333: Plant</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11333</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plant</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Buet">
        <annotation>
          <documentation>11334: Buet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11334</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Buet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Avskjerming_MaterialeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Avskjerming_TypeType">
    <annotation>
      <documentation>3884: Angir hvilken type avskjerming det er på armaturen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3884</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3884</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Avskjerming, type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Avskjerming_TypeEnumerationType nvdb:Avskjerming_TypeOtherType"/>
  </simpleType>
  <simpleType name="Avskjerming_TypeEnumerationType">
    <annotation>
      <documentation>3884: Angir hvilken type avskjerming det er på armaturen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3884</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3884</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Avskjerming, type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Skjerm, plan">
        <annotation>
          <documentation>4683: Skjerm, plan</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4683</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjerm, plan</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skjerm, buet">
        <annotation>
          <documentation>16971: Skjerm, buet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16971</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjerm, buet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skjerm, halvbuet">
        <annotation>
          <documentation>16972: Skjerm, halvbuet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16972</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjerm, halvbuet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skjerm, dyptrukket">
        <annotation>
          <documentation>4684: Skjerm, dyptrukket</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4684</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjerm, dyptrukket</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Åpen">
        <annotation>
          <documentation>16973: Åpen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16973</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Åpen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Avskjerming_TypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DimmingLysarmaturType">
    <annotation>
      <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset. Ikke aktuelt for lys ved gangfelt etc.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dimming</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DimmingLysarmaturEnumerationType nvdb:DimmingLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="DimmingLysarmaturEnumerationType">
    <annotation>
      <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset. Ikke aktuelt for lys ved gangfelt etc.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dimming</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>11335: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11335</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11336: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11336</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DimmingLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierLysarmaturType">
    <annotation>
      <documentation>9953: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9953</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9953</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierLysarmaturEnumerationType nvdb:EierLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="EierLysarmaturEnumerationType">
    <annotation>
      <documentation>9953: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9953</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9953</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>16150: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16150</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18619: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18619</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>16151: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16151</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>16152: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16152</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>16153: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16153</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17629: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17629</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="InngårINødsystemetLysarmaturType">
    <annotation>
      <documentation>10012: Angir om lysarmatur er en del av nødsystemet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10012</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10012</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Inngår i nødsystemet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:InngårINødsystemetLysarmaturEnumerationType nvdb:InngårINødsystemetLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="InngårINødsystemetLysarmaturEnumerationType">
    <annotation>
      <documentation>10012: Angir om lysarmatur er en del av nødsystemet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10012</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10012</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Inngår i nødsystemet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16446: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16446</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16447: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16447</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InngårINødsystemetLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KonstantLysutbytteType">
    <annotation>
      <documentation>9567: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9567</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9567</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Konstant lysutbytte</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KonstantLysutbytteEnumerationType nvdb:KonstantLysutbytteOtherType"/>
  </simpleType>
  <simpleType name="KonstantLysutbytteEnumerationType">
    <annotation>
      <documentation>9567: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9567</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9567</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Konstant lysutbytte</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>13776: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13776</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>13777: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13777</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KonstantLysutbytteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Lysarmatur" substitutionGroup="nvdb:AbstraktLysarmatur" type="nvdb:LysarmaturType">
    <annotation>
      <documentation>88: Lyskilde med innfatning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">88</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">88</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lysarmatur</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LysarmaturType">
    <complexContent>
      <extension base="nvdb:AbstraktLysarmaturType">
        <sequence>
          <element minOccurs="0" name="lyskildeType" type="nvdb:LyskildeTypeLysarmaturType">
            <annotation>
              <documentation>2077: Angir hvilken type lyskildene er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2077</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="effekt" type="double">
            <annotation>
              <documentation>10805: Angir samlet effekt pr lysarmatur. For damplamper angis lyskildeeffekten og for LED oppgis systemeffekten.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10805</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Effekt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="armaturtype" type="nvdb:ArmaturtypeType">
            <annotation>
              <documentation>1145: Angir hvilken type armatur det er. Avledes av Belysningspunkt.Bruksområde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1145</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Armaturtype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeOverVeg" type="double">
            <annotation>
              <documentation>2054: Angir lysarmaturens høyde over veg.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2054</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde over veg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLyskilderPerArmatur" type="nvdb:AntallLyskilderPerArmaturType">
            <annotation>
              <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1955</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall lyskilder per armatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="inngårINødsystemet" type="nvdb:InngårINødsystemetLysarmaturType">
            <annotation>
              <documentation>10012: Angir om lysarmatur er en del av nødsystemet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10012</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Inngår i nødsystemet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="optikk" type="nvdb:OptikkType">
            <annotation>
              <documentation>9563: Angir optikk i lysarmatur.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9563</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Optikk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="konstantLysutbytte" type="nvdb:KonstantLysutbytteType">
            <annotation>
              <documentation>9567: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9567</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Konstant lysutbytte</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilt" type="nvdb:TiltType">
            <annotation>
              <documentation>12527: Angir hvor mye armatur er vippet opp i forhold til horisontalplanet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12527</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dimming" type="nvdb:DimmingLysarmaturType">
            <annotation>
              <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset. Ikke aktuelt for lys ved gangfelt etc.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dimming</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyrsklasse" type="nvdb:UtstyrsklasseType">
            <annotation>
              <documentation>10014: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10014</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utstyrsklasse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsstrøm_Udimmet" type="integer">
            <annotation>
              <documentation>9562: Angir driftsstrøm for lyskilden.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9562</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsstrøm, udimmet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lysflux" type="integer">
            <annotation>
              <documentation>10011: Total lysmengde fra lysarmaturen, definert som lysmengde målt mot øyets følsomhetskurve.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10011</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lysflux</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="LED_AntallDioder" type="integer">
            <annotation>
              <documentation>9561: Angir antall dioder per lampearmatur.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9561</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">LED, antall dioder</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="LED_EffektPerStk" type="double">
            <annotation>
              <documentation>9560: Ved 25 grader C, 700 mA.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9560</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">LED, effekt per stk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avskjerming_Type" type="nvdb:Avskjerming_TypeType">
            <annotation>
              <documentation>3884: Angir hvilken type avskjerming det er på armaturen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3884</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Avskjerming, type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avskjerming_Materiale" type="nvdb:Avskjerming_MaterialeType">
            <annotation>
              <documentation>8401: Angir hvordan glasset på armaturen er utformet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8401</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Avskjerming, materiale</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fargetemperatur" type="integer">
            <annotation>
              <documentation>9564: Angir fargetemperatur.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9564</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fargetemperatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fargegjengivelsesindeks" type="integer">
            <annotation>
              <documentation>9565: Angir Fargegjengivelsesindeks, (Ra-indeks) for lysarmaturen (0-100).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9565</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fargegjengivelsesindeks</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utskiftbareLyskilder" type="nvdb:UtskiftbareLyskilderType">
            <annotation>
              <documentation>9568: Angir om selve lyskilden(e) kan skiftes ut.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9568</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utskiftbare lyskilder</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lyskildeSistSkiftet" type="date">
            <annotation>
              <documentation>11443: Angir tidspunkt for når lyskilde sist ble skiftet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11443</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lyskilde sist skiftet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="armaturnummer" type="string">
            <annotation>
              <documentation>10585: Entydig nummer innenfor gitt anlegg/område.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10585</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Armaturnummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kommunikasjonsenhet" type="string">
            <annotation>
              <documentation>10584: Navn/adresse på kommunikasjonsenhet som lysarmatur er knyttet til. Kan være VTP (Veglystennpunkt eller konsentrator/segmentkontroller.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10584</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kommunikasjonsenhet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10007: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10007</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10008: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10008</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent_Armatur" type="nvdb:Produsent_ArmaturType">
            <annotation>
              <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1529</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent, armatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent_Driver" type="string">
            <annotation>
              <documentation>9558: Angir navn på produsent/fabrikant av driver.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9558</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent, driver</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent_Lyskilde" type="string">
            <annotation>
              <documentation>9557: Angir navn på produsent/fabrikant av lyskilde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9557</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent, lyskilde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn_Armatur" type="string">
            <annotation>
              <documentation>1451: Angir produktnavn for lysarmaturen. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1451</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn, armatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="leverandør" type="string">
            <annotation>
              <documentation>1489: Angir navn på firma som har levert vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1489</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Leverandør</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11535: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11535</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11662: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11662</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11073: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11073</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12313: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12313</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierLysarmaturType">
            <annotation>
              <documentation>9953: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9953</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>10010: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10010</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligLysarmaturType">
            <annotation>
              <documentation>9955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9955</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4788: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4788</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LysarmaturPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Lysarmatur"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="LyskildeTypeLysarmaturType">
    <annotation>
      <documentation>2077: Angir hvilken type lyskildene er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2077</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2077</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LyskildeTypeLysarmaturEnumerationType nvdb:LyskildeTypeLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="LyskildeTypeLysarmaturEnumerationType">
    <annotation>
      <documentation>2077: Angir hvilken type lyskildene er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2077</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2077</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Kvikksølv">
        <annotation>
          <documentation>3750: Kvikksølv</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3750</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kvikksølv</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Natrium, høytrykk">
        <annotation>
          <documentation>3753: Natrium, høytrykk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3753</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Natrium, høytrykk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Natrium, lavtrykk">
        <annotation>
          <documentation>3955: Natrium, lavtrykk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3955</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Natrium, lavtrykk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lysstoffrør">
        <annotation>
          <documentation>3956: Lysstoffrør</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3956</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lysstoffrør</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glødelampe">
        <annotation>
          <documentation>3957: Glødelampe</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3957</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glødelampe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QL">
        <annotation>
          <documentation>12978: QL</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12978</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">QL</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="LED">
        <annotation>
          <documentation>12979: LED</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12979</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">LED</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metallhalogen">
        <annotation>
          <documentation>3751: Metallhalogen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3751</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metallhalogen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LyskildeTypeLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OptikkType">
    <annotation>
      <documentation>9563: Angir optikk i lysarmatur.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9563</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9563</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Optikk</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OptikkEnumerationType nvdb:OptikkOtherType"/>
  </simpleType>
  <simpleType name="OptikkEnumerationType">
    <annotation>
      <documentation>9563: Angir optikk i lysarmatur.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9563</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9563</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Optikk</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Reflektor">
        <annotation>
          <documentation>13770: Reflektor</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13770</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Reflektor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Linse">
        <annotation>
          <documentation>13771: Linse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13771</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Linse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Reflektor og linse">
        <annotation>
          <documentation>13772: Reflektor og linse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13772</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Reflektor og linse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Direkte lys">
        <annotation>
          <documentation>13773: Verken reflektor eller linse.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13773</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Direkte lys</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OptikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Produsent_ArmaturType">
    <annotation>
      <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1529</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1529</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Produsent, armatur</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Produsent_ArmaturEnumerationType nvdb:Produsent_ArmaturOtherType"/>
  </simpleType>
  <simpleType name="Produsent_ArmaturEnumerationType">
    <annotation>
      <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1529</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1529</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Produsent, armatur</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Aeg">
        <annotation>
          <documentation>3718: Aeg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3718</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aeg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Thorn">
        <annotation>
          <documentation>3719: Thorn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3719</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Thorn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Philips">
        <annotation>
          <documentation>3720: Philips</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3720</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Philips</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Siemens">
        <annotation>
          <documentation>3721: Siemens</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3721</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Siemens</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Siteco">
        <annotation>
          <documentation>4676: Siteco</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4676</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Siteco</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ifa">
        <annotation>
          <documentation>3722: Ifa</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3722</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ifa</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Noral">
        <annotation>
          <documentation>3723: Noral</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3723</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Noral</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Seelux">
        <annotation>
          <documentation>3724: Seelux</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3724</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Seelux</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jernkonst">
        <annotation>
          <documentation>4677: Jernkonst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4677</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jernkonst</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Urbis">
        <annotation>
          <documentation>4079: Urbis</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4079</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Urbis</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="AEC Illuminazione">
        <annotation>
          <documentation>16838: AEC Illuminazione</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16838</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">AEC Illuminazione</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Defa">
        <annotation>
          <documentation>18300: Defa</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18300</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Defa</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Multilux">
        <annotation>
          <documentation>18319: Multilux</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18319</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Multilux</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Heper">
        <annotation>
          <documentation>19468: Heper</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19468</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Heper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Osram">
        <annotation>
          <documentation>19634: Osram</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19634</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Osram</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fagerhult">
        <annotation>
          <documentation>21020: Fagerhult</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21020</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fagerhult</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Euroskilt">
        <annotation>
          <documentation>21389: Euroskilt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21389</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Euroskilt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Schreder">
        <annotation>
          <documentation>21544: Schreder</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21544</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Schreder</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bega">
        <annotation>
          <documentation>21545: Bega</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21545</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bega</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Solar Light">
        <annotation>
          <documentation>21575: Solar Light</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21575</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Solar Light</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Meyer">
        <annotation>
          <documentation>21678: Meyer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21678</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Meyer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tight">
        <annotation>
          <documentation>21680: Tight</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21680</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tight</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Targetti">
        <annotation>
          <documentation>21679: Targetti</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21679</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Targetti</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Multilux">
        <annotation>
          <documentation>21725: Multilux</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21725</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Multilux</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glamox">
        <annotation>
          <documentation>21726: Glamox</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21726</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glamox</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Strill">
        <annotation>
          <documentation>21727: Strill</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21727</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Strill</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lyskomponenter">
        <annotation>
          <documentation>21763: Lyskomponenter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21763</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lyskomponenter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="EnergyOptimal">
        <annotation>
          <documentation>21805: EnergyOptimal</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21805</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">EnergyOptimal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Louis Poulsen">
        <annotation>
          <documentation>21886: Louis Poulsen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21886</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Louis Poulsen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Produsent_ArmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TiltType">
    <annotation>
      <documentation>12527: Angir hvor mye armatur er vippet opp i forhold til horisontalplanet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12527</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12527</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilt</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TiltEnumerationType nvdb:TiltOtherType"/>
  </simpleType>
  <simpleType name="TiltEnumerationType">
    <annotation>
      <documentation>12527: Angir hvor mye armatur er vippet opp i forhold til horisontalplanet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12527</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12527</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilt</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Horisontalt montert">
        <annotation>
          <documentation>21649: Horisontalt montert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21649</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Horisontalt montert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="0-10 grader oppvipp">
        <annotation>
          <documentation>21650: 0-10 grader oppvipp</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21650</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">0-10 grader oppvipp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Over 10 grader oppvipp">
        <annotation>
          <documentation>21651: Over 10 grader oppvipp</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21651</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Over 10 grader oppvipp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtskiftbareLyskilderType">
    <annotation>
      <documentation>9568: Angir om selve lyskilden(e) kan skiftes ut.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9568</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9568</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utskiftbare lyskilder</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtskiftbareLyskilderEnumerationType nvdb:UtskiftbareLyskilderOtherType"/>
  </simpleType>
  <simpleType name="UtskiftbareLyskilderEnumerationType">
    <annotation>
      <documentation>9568: Angir om selve lyskilden(e) kan skiftes ut.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9568</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9568</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utskiftbare lyskilder</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>13778: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13778</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>13779: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13779</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtskiftbareLyskilderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtstyrsklasseType">
    <annotation>
      <documentation>10014: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10014</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10014</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utstyrsklasse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtstyrsklasseEnumerationType nvdb:UtstyrsklasseOtherType"/>
  </simpleType>
  <simpleType name="UtstyrsklasseEnumerationType">
    <annotation>
      <documentation>10014: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10014</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10014</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utstyrsklasse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ujorda">
        <annotation>
          <documentation>16269: Ujorda</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16269</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ujorda</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jorda">
        <annotation>
          <documentation>16270: Jorda</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16270</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jorda</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dobbeltisolert">
        <annotation>
          <documentation>16271: Dobbeltisolert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16271</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dobbeltisolert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtstyrsklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysarmaturType">
    <annotation>
      <documentation>9955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9955</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9955</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligLysarmaturEnumerationType nvdb:VedlikeholdsansvarligLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysarmaturEnumerationType">
    <annotation>
      <documentation>9955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9955</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9955</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>16158: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16158</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18726: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18726</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19998: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19998</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18855: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18855</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>16159: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16159</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>16160: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16160</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17782: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17782</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
