GML/88.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>88: Lyskilde med innfatning.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AntallLyskilderPerArmaturLysarmaturType">
      <annotation>
         <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1955</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antall lyskilder per armatur</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AntallLyskilderPerArmaturLysarmaturEnumerationType nvdb:AntallLyskilderPerArmaturLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="AntallLyskilderPerArmaturLysarmaturEnumerationType">
      <annotation>
         <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1955</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antall lyskilder per armatur</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="01">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3730</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="02">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3739</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="03">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16294</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="04">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16295</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17876</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17877</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AntallLyskilderPerArmaturLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ArmaturtypeLysarmaturType">
      <annotation>
         <documentation>1145: Angir hvilken type armatur det er. Avledes av Belysningspunkt.Bruksområde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1145</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Armaturtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ArmaturtypeLysarmaturEnumerationType nvdb:ArmaturtypeLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="ArmaturtypeLysarmaturEnumerationType">
      <annotation>
         <documentation>1145: Angir hvilken type armatur det er. Avledes av Belysningspunkt.Bruksområde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1145</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Armaturtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="l">
            <annotation>
               <documentation>3760: Lysarmatur av type lyskaster.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3760</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lyskaster</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <documentation>3759: Lysarmatur som benyttes bl.a. i park.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3759</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Parklys</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tn">
            <annotation>
               <documentation>2750: Vegbelysning i tunnel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2750</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnellys</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <documentation>3758: Veglys i dagen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3758</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veglys</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22612</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiltlys</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ArmaturtypeLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Avskjerming_TypeLysarmaturType">
      <annotation>
         <documentation>3884: Angir hvilken type avskjerming det er på armaturen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3884</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avskjerming, type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Avskjerming_TypeLysarmaturEnumerationType nvdb:Avskjerming_TypeLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="Avskjerming_TypeLysarmaturEnumerationType">
      <annotation>
         <documentation>3884: Angir hvilken type avskjerming det er på armaturen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3884</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avskjerming, type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="sb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16971</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skjerm, buet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="dp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4684</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skjerm, dyptrukket</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16972</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skjerm, halvbuet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4683</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skjerm, plan</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16973</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Avskjerming_TypeLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="DimmingLysarmaturType">
      <annotation>
         <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset. Ikke aktuelt for lys ved gangfelt etc.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dimming</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DimmingLysarmaturEnumerationType nvdb:DimmingLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="DimmingLysarmaturEnumerationType">
      <annotation>
         <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset. Ikke aktuelt for lys ved gangfelt etc.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dimming</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11335</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11336</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JD">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22516</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, dynamisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JM">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22515</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, midtpunktdimming</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DimmingLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierLysarmaturType">
      <annotation>
         <documentation>9953: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9953</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierLysarmaturEnumerationType nvdb:EierLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="EierLysarmaturEnumerationType">
      <annotation>
         <documentation>9953: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9953</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16151</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16152</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16153</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18619</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16150</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17629: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17629</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FargePåLysLysarmaturType">
      <annotation>
         <documentation>12994: Angir farge på lys.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12994</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Farge på lys</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FargePåLysLysarmaturEnumerationType nvdb:FargePåLysLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="FargePåLysLysarmaturEnumerationType">
      <annotation>
         <documentation>12994: Angir farge på lys.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12994</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Farge på lys</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22575</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Blå</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <documentation>22572: Grønn, gjerne benyttet på lyslister i forbindelse med nødutganger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22572</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grønn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="H">
            <annotation>
               <documentation>22571: Hvit eller gul/hvit farge</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22571</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hvit</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O">
            <annotation>
               <documentation>22574: Oransje, rød/gul. Gul.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22574</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oransje/gul</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22573</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rød</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FargePåLysLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="InngårINødsystemetLysarmaturType">
      <annotation>
         <documentation>10012: Angir om lysarmatur er en del av nødsystemet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10012</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inngår i nødsystemet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:InngårINødsystemetLysarmaturEnumerationType nvdb:InngårINødsystemetLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="InngårINødsystemetLysarmaturEnumerationType">
      <annotation>
         <documentation>10012: Angir om lysarmatur er en del av nødsystemet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10012</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inngår i nødsystemet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16446</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16447</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="InngårINødsystemetLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KonstantLysutbytteLysarmaturType">
      <annotation>
         <documentation>9567: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9567</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Konstant lysutbytte</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KonstantLysutbytteLysarmaturEnumerationType nvdb:KonstantLysutbytteLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="KonstantLysutbytteLysarmaturEnumerationType">
      <annotation>
         <documentation>9567: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9567</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Konstant lysutbytte</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13776</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13777</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KonstantLysutbytteLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Lysarmatur"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:LysarmaturType">
      <annotation>
         <documentation>88: Lyskilde med innfatning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">88</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lysarmatur</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="LysarmaturType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="lyskildeType">
                  <annotation>
                     <documentation>2077: Angir hvilken type lyskildene er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2077</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="effekt" type="double">
                  <annotation>
                     <documentation>10805: Angir samlet effekt pr lysarmatur. For damplamper angis lyskildeeffekten og for LED oppgis systemeffekten.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10805</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Effekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="armaturtype"
                        type="nvdb:ArmaturtypeLysarmaturType">
                  <annotation>
                     <documentation>1145: Angir hvilken type armatur det er. Avledes av Belysningspunkt.Bruksområde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1145</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Armaturtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høydeOverVeg" type="double">
                  <annotation>
                     <documentation>2054: Angir lysarmaturens høyde over veg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2054</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde over veg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallLyskilderPerArmatur">
                  <annotation>
                     <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1955</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall lyskilder per armatur</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="inngårINødsystemet">
                  <annotation>
                     <documentation>10012: Angir om lysarmatur er en del av nødsystemet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10012</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Inngår i nødsystemet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>1326: Angir lengde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1326</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="optikk" type="nvdb:OptikkLysarmaturType">
                  <annotation>
                     <documentation>9563: Angir optikk i lysarmatur.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9563</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Optikk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="fargePåLys">
                  <annotation>
                     <documentation>12994: Angir farge på lys.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12994</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Farge på lys</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="konstantLysutbytte">
                  <annotation>
                     <documentation>9567: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9567</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Konstant lysutbytte</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilt" type="nvdb:TiltLysarmaturType">
                  <annotation>
                     <documentation>12527: Angir hvor mye armatur er vippet opp i forhold til horisontalplanet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12527</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="dimming" type="nvdb:DimmingLysarmaturType">
                  <annotation>
                     <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset. Ikke aktuelt for lys ved gangfelt etc.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dimming</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="lysdetektering"
                        type="nvdb:LysdetekteringLysarmaturType">
                  <annotation>
                     <documentation>12989: Angir om lysarmatur har lysdetektering for å kunne slå seg på automatisk når det blir mørkt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12989</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lysdetektering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="utstyrsklasse"
                        type="nvdb:UtstyrsklasseLysarmaturType">
                  <annotation>
                     <documentation>10014: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10014</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utstyrsklasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lysflux_Lumen" type="double">
                  <annotation>
                     <documentation>10011: Total lysmengde fra lysarmaturen, definert som lysmengde målt mot øyets følsomhetskurve.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10011</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lysflux (Lumen)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="driftsstrøm_Udimmet" type="integer">
                  <annotation>
                     <documentation>9562: Angir driftsstrøm for lyskilden.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9562</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsstrøm, udimmet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="LED_AntallDioder" type="integer">
                  <annotation>
                     <documentation>9561: Angir antall dioder per lampearmatur.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9561</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">LED, antall dioder</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="LED_EffektPerStk" type="double">
                  <annotation>
                     <documentation>9560: Ved 25 grader C, 700 mA.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9560</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">LED, effekt per stk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="avskjerming_Type">
                  <annotation>
                     <documentation>3884: Angir hvilken type avskjerming det er på armaturen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3884</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avskjerming, type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="fargetemperatur" type="integer">
                  <annotation>
                     <documentation>9564: Angir fargetemperatur.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9564</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fargetemperatur</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="fargegjengivelsesindeks" type="integer">
                  <annotation>
                     <documentation>9565: Angir Fargegjengivelsesindeks, (Ra-indeks) for lysarmaturen (0-100).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9565</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fargegjengivelsesindeks</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="utskiftbareLyskilder">
                  <annotation>
                     <documentation>9568: Angir om selve lyskilden(e) kan skiftes ut.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9568</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utskiftbare lyskilder</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lyskildeSistSkiftet" type="date">
                  <annotation>
                     <documentation>11443: Angir tidspunkt for når lyskilde sist ble skiftet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11443</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lyskilde sist skiftet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="ombyggingssett"
                        type="nvdb:OmbyggingssettLysarmaturType">
                  <annotation>
                     <documentation>12921: Lysarmatur er bygd om til å kunne benytte LED-lyskilde. Opprinnelig innfatning er beholdt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12921</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Ombyggingssett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="ombyggingsår" type="double">
                  <annotation>
                     <documentation>12922: Angir hvilket år lysarmatur ble bygd om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12922</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Ombyggingsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="ombyggingssett_Produktnavn" type="string">
                  <annotation>
                     <documentation>13034: Produktnavn på ombyggingssettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13034</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Ombyggingssett, produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="zhagaSocket">
                  <annotation>
                     <documentation>12960: Sokkel for tilkopling av styring/kommuniksjon i lysarmatur. Kan blant annet gi mulighet til dynamisk dimming.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12960</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Zhaga socket</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="zhagaConnectorOver_Bruksområde">
                  <annotation>
                     <documentation>13137: Angir bruksområde på montert utstyr.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13137</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Zhaga connector Over, Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="zhagaConnectorOver_AnnetBruksområde"
                        type="string">
                  <annotation>
                     <documentation>13138: Angir bruksområde på montert utstyr.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13138</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Zhaga connector Over, Annet bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="zhagaConnectorOver_Produsent" type="string">
                  <annotation>
                     <documentation>13139: Angir navn på produsent av montert utstyr.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13139</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Zhaga connector Over, Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="zhagaConnectorOver_Produktnavn" type="string">
                  <annotation>
                     <documentation>13140: Angir produktnavn på montert utstyr.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13140</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Zhaga connector Over, Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="zhagaConnectorUnder_Bruksområde">
                  <annotation>
                     <documentation>13141: Angir bruksområde på montert utstyr.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13141</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Zhaga connector Under, Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="zhagaConnectorUnder_AnnetBruksområde"
                        type="string">
                  <annotation>
                     <documentation>13142: Angir bruksområde på montert utstyr.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13142</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Zhaga connector Under, Annet bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="zhagaConnectorUnder_Produsent" type="string">
                  <annotation>
                     <documentation>13143: Angir navn på produsent av montert utstyr.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13143</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Zhaga connector Under, Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="zhagaConnectorUnder_Produktnavn" type="string">
                  <annotation>
                     <documentation>13144: Angir produktnavn på montert utstyr.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13144</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Zhaga connector Under, Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="armaturnummer" type="string">
                  <annotation>
                     <documentation>10585: Entydig nummer innenfor gitt anlegg/område.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10585</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Armaturnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kommunikasjonsenhet" type="string">
                  <annotation>
                     <documentation>10584: Navn/adresse på kommunikasjonsenhet som lysarmatur er knyttet til. Kan være VTP (Veglystennpunkt eller konsentrator/segmentkontroller.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10584</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kommunikasjonsenhet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10007: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10007</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10008: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10008</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent_Armatur">
                  <annotation>
                     <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1529</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent, armatur</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produsent_Driver" type="string">
                  <annotation>
                     <documentation>9558: Angir navn på produsent/fabrikant av driver.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9558</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent, driver</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produsent_Lyskilde" type="string">
                  <annotation>
                     <documentation>9557: Angir navn på produsent/fabrikant av lyskilde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9557</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent, lyskilde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn_Armatur" type="string">
                  <annotation>
                     <documentation>1451: Angir produktnavn for lysarmaturen. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1451</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn, armatur</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="leverandør" type="string">
                  <annotation>
                     <documentation>1489: Angir navn på firma som har levert vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1489</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Leverandør</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11535: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11535</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivreferanse" type="string">
                  <annotation>
                     <documentation>11662: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11662</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11073: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11073</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12313: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12313</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierLysarmaturType">
                  <annotation>
                     <documentation>9953: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9953</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier_Navn" type="string">
                  <annotation>
                     <documentation>10010: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10010</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligLysarmaturType">
                  <annotation>
                     <documentation>9955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9955</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4788: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4788</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="LysarmaturPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Lysarmatur"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="LysdetekteringLysarmaturType">
      <annotation>
         <documentation>12989: Angir om lysarmatur har lysdetektering for å kunne slå seg på automatisk når det blir mørkt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12989</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lysdetektering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LysdetekteringLysarmaturEnumerationType nvdb:LysdetekteringLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="LysdetekteringLysarmaturEnumerationType">
      <annotation>
         <documentation>12989: Angir om lysarmatur har lysdetektering for å kunne slå seg på automatisk når det blir mørkt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12989</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lysdetektering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="E">
            <annotation>
               <documentation>22558: Lysarmatur er koplet til ekstern lysdetektor (lysmåler/fotocelle/lyssensor).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22558</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ekstern</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Innebygd">
            <annotation>
               <documentation>22557: Lysarmatur har innebygd lysdetektor (lysmåler/fotocelle/lyssensor).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22557</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innebygd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>22559: Lysarmatur har ingen form for lysdetektering.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22559</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LysdetekteringLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="LyskildeTypeLysarmaturType">
      <annotation>
         <documentation>2077: Angir hvilken type lyskildene er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2077</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LyskildeTypeLysarmaturEnumerationType nvdb:LyskildeTypeLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="LyskildeTypeLysarmaturEnumerationType">
      <annotation>
         <documentation>2077: Angir hvilken type lyskildene er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2077</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="gl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3957</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glødelampe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22070</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kompaktlysrør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3750</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kvikksølv</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LED">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12979</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">LED</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3956</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysstoffrør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3751</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metallhalogen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3753</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Natrium, høytrykk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3955</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Natrium, lavtrykk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="QL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12978</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">QL</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LL">
            <annotation>
               <documentation>22513: Ledbelysning i rekke. Benyttes som evakueringsbelysning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22513</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">LED List</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LR">
            <annotation>
               <documentation>22514: Lysrør basert på LED.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22514</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">LED Lysrør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LyskildeTypeLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OmbyggingssettLysarmaturType">
      <annotation>
         <documentation>12921: Lysarmatur er bygd om til å kunne benytte LED-lyskilde. Opprinnelig innfatning er beholdt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12921</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ombyggingssett</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OmbyggingssettLysarmaturEnumerationType nvdb:OmbyggingssettLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="OmbyggingssettLysarmaturEnumerationType">
      <annotation>
         <documentation>12921: Lysarmatur er bygd om til å kunne benytte LED-lyskilde. Opprinnelig innfatning er beholdt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12921</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ombyggingssett</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <documentation>22474: Lysarmatur er bygd om til Led.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22474</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>22475: Lyskilde er ikke bygd om.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22475</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OmbyggingssettLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OptikkLysarmaturType">
      <annotation>
         <documentation>9563: Angir optikk i lysarmatur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9563</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Optikk</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OptikkLysarmaturEnumerationType nvdb:OptikkLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="OptikkLysarmaturEnumerationType">
      <annotation>
         <documentation>9563: Angir optikk i lysarmatur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9563</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Optikk</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="dir">
            <annotation>
               <documentation>13773: Verken reflektor eller linse.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13773</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Direkte lys</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="linse">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13771</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Linse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="refl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13770</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Reflektor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="refLinse">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13772</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Reflektor og linse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OptikkLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Produsent_ArmaturLysarmaturType">
      <annotation>
         <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1529</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Produsent, armatur</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Produsent_ArmaturLysarmaturEnumerationType nvdb:Produsent_ArmaturLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="Produsent_ArmaturLysarmaturEnumerationType">
      <annotation>
         <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1529</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Produsent, armatur</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="aec">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16838</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">AEC Illuminazione</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ag">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3718</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aeg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21545</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bega</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Def">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18300</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Defa</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="EO">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21805</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">EnergyOptimal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FH">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21020</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fagerhult</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GM">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21726</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glamox</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Hep">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19468</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Heper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IVL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21907</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I-Vision Lighting Solutions</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="if">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3722</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ifa</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Guz">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21905</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">iGuzzini</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="jk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4677</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jernkonst</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21886</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Louis Poulsen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lug">
            <annotation>
               <documentation>21925: Lug Light Factory</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21925</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">LUG</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Lum">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21906</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lumin AS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Lk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21763</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lyskomponenter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="my">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21678</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Meyer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Mo">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21904</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mosaico</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fu">
            <annotation>
               <documentation>18319: Har fra 2025 inngått som del av Function.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18319</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Multilux</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="no">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3723</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Noral</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OR">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19634</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Osram</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ph">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3720</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Philips</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="St">
            <annotation>
               <documentation>21389: Saferoad Traffic AS.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21389</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Saferoad Traffic AS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sch">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21544</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Schreder</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="se">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3724</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Seelux</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="si">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3721</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Siemens</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sit">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4676</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Siteco</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21575</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Solar Light</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="STR">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21727</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Strihl</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21679</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Targetti</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="th">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3719</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Thorn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ti">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21680</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tight</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ur">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4079</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Urbis</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hn">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22287</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Honor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="can">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22308</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Catena</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SG">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22473</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SG</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GE">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22552</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gifas Electric</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="EWO">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22611</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">EWO</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Produsent_ArmaturLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TiltLysarmaturType">
      <annotation>
         <documentation>12527: Angir hvor mye armatur er vippet opp i forhold til horisontalplanet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12527</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TiltLysarmaturEnumerationType nvdb:TiltLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="TiltLysarmaturEnumerationType">
      <annotation>
         <documentation>12527: Angir hvor mye armatur er vippet opp i forhold til horisontalplanet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12527</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21650</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0-10 grader oppvipp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="H">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21649</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Horisontalt montert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Over 10 grader oppvipp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21651</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Over 10 grader oppvipp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TiltLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UtskiftbareLyskilderLysarmaturType">
      <annotation>
         <documentation>9568: Angir om selve lyskilden(e) kan skiftes ut.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9568</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utskiftbare lyskilder</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UtskiftbareLyskilderLysarmaturEnumerationType nvdb:UtskiftbareLyskilderLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="UtskiftbareLyskilderLysarmaturEnumerationType">
      <annotation>
         <documentation>9568: Angir om selve lyskilden(e) kan skiftes ut.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9568</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utskiftbare lyskilder</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13778</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13779</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UtskiftbareLyskilderLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UtstyrsklasseLysarmaturType">
      <annotation>
         <documentation>10014: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10014</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utstyrsklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UtstyrsklasseLysarmaturEnumerationType nvdb:UtstyrsklasseLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="UtstyrsklasseLysarmaturEnumerationType">
      <annotation>
         <documentation>10014: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10014</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utstyrsklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="d">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16271</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dobbeltisolert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16270</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jorda</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="u">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16269</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ujorda</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UtstyrsklasseLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligLysarmaturType">
      <annotation>
         <documentation>9955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9955</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligLysarmaturEnumerationType nvdb:VedlikeholdsansvarligLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligLysarmaturEnumerationType">
      <annotation>
         <documentation>9955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9955</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19998</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16159</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18726</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18855</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16160</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16158</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17782</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ZhagaConnectorOver_BruksområdeLysarmaturType">
      <annotation>
         <documentation>13137: Angir bruksområde på montert utstyr.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13137</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Zhaga connector Over, Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ZhagaConnectorOver_BruksområdeLysarmaturEnumerationType nvdb:ZhagaConnectorOver_BruksområdeLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="ZhagaConnectorOver_BruksområdeLysarmaturEnumerationType">
      <annotation>
         <documentation>13137: Angir bruksområde på montert utstyr.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13137</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Zhaga connector Over, Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="D">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22843</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Deteksjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22845</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Deteksjon og lysmåling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22844</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysmåling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ZhagaConnectorOver_BruksområdeLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ZhagaConnectorUnder_BruksområdeLysarmaturType">
      <annotation>
         <documentation>13141: Angir bruksområde på montert utstyr.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13141</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Zhaga connector Under, Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ZhagaConnectorUnder_BruksområdeLysarmaturEnumerationType nvdb:ZhagaConnectorUnder_BruksområdeLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="ZhagaConnectorUnder_BruksområdeLysarmaturEnumerationType">
      <annotation>
         <documentation>13141: Angir bruksområde på montert utstyr.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13141</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Zhaga connector Under, Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="D">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22846</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Deteksjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22848</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Deteksjon og lysmåling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22847</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysmåling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ZhagaConnectorUnder_BruksområdeLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ZhagaSocketLysarmaturType">
      <annotation>
         <documentation>12960: Sokkel for tilkopling av styring/kommuniksjon i lysarmatur. Kan blant annet gi mulighet til dynamisk dimming.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12960</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Zhaga socket</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ZhagaSocketLysarmaturEnumerationType nvdb:ZhagaSocketLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="ZhagaSocketLysarmaturEnumerationType">
      <annotation>
         <documentation>12960: Sokkel for tilkopling av styring/kommuniksjon i lysarmatur. Kan blant annet gi mulighet til dynamisk dimming.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12960</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Zhaga socket</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="N">
            <annotation>
               <documentation>22512: Lysarmatur har ikke slik innretning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22512</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O">
            <annotation>
               <documentation>22509: Sokkel er plassert på oversiden av lysarmatur.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22509</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Over</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OU">
            <annotation>
               <documentation>22511: Det er sokkel både på overside og underside.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22511</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Over og under</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>22510: Sokkel er plassert på undersiden av lysarmatur.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22510</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Under</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ZhagaSocketLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
