GML/88.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AntallArmaturerIBelysningspktType">
    <annotation>
      <documentation>2199: Vegobjektet kan representere flere objekt av samme type.  Vi angir her hvor mange objekt dette objektet representerer.</documentation>
    </annotation>
    <union memberTypes="nvdb:AntallArmaturerIBelysningspktEnumerationType nvdb:AntallArmaturerIBelysningspktOtherType"/>
  </simpleType>
  <simpleType name="AntallArmaturerIBelysningspktEnumerationType">
    <annotation>
      <documentation>2199: Vegobjektet kan representere flere objekt av samme type.  Vi angir her hvor mange objekt dette objektet representerer.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>4678: 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>4679: 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>4680: 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>4681: 4</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>4682: 5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>4915: 6</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7">
        <annotation>
          <documentation>16784: 7</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>16785: 8</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallArmaturerIBelysningspktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AntallLyskilderPerArmaturType">
    <annotation>
      <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur</documentation>
    </annotation>
    <union memberTypes="nvdb:AntallLyskilderPerArmaturEnumerationType nvdb:AntallLyskilderPerArmaturOtherType"/>
  </simpleType>
  <simpleType name="AntallLyskilderPerArmaturEnumerationType">
    <annotation>
      <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>3730: 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>3739: 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>16294: 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>16295: 4</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>17876: 5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>17877: 6</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallLyskilderPerArmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Avskjerming_MaterialeType">
    <annotation>
      <documentation>8401: Angir hvordan glasset på armaturen er utformet</documentation>
    </annotation>
    <union memberTypes="nvdb:Avskjerming_MaterialeEnumerationType nvdb:Avskjerming_MaterialeOtherType"/>
  </simpleType>
  <simpleType name="Avskjerming_MaterialeEnumerationType">
    <annotation>
      <documentation>8401: Angir hvordan glasset på armaturen er utformet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="plant">
        <annotation>
          <documentation>11333: Plant</documentation>
        </annotation>
      </enumeration>
      <enumeration value="buet">
        <annotation>
          <documentation>11334: Buet</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Avskjerming_MaterialeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Avskjerming_TypeType">
    <annotation>
      <documentation>3884: Angir hvilken type avskjerming det er på armaturen</documentation>
    </annotation>
    <union memberTypes="nvdb:Avskjerming_TypeEnumerationType nvdb:Avskjerming_TypeOtherType"/>
  </simpleType>
  <simpleType name="Avskjerming_TypeEnumerationType">
    <annotation>
      <documentation>3884: Angir hvilken type avskjerming det er på armaturen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="skjerm_Plan">
        <annotation>
          <documentation>4683: Skjerm, plan</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skjerm_Buet">
        <annotation>
          <documentation>16971: Skjerm, buet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skjerm_Halvbuet">
        <annotation>
          <documentation>16972: Skjerm, halvbuet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skjerm_Dyptrukket">
        <annotation>
          <documentation>4684: Skjerm, dyptrukket</documentation>
        </annotation>
      </enumeration>
      <enumeration value="åpen">
        <annotation>
          <documentation>16973: Åpen</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Avskjerming_TypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DimmingLysarmaturType">
    <annotation>
      <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset.  Ikke aktuelt for lys ved gangfelt etc.</documentation>
    </annotation>
    <union memberTypes="nvdb:DimmingLysarmaturEnumerationType nvdb:DimmingLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="DimmingLysarmaturEnumerationType">
    <annotation>
      <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset.  Ikke aktuelt for lys ved gangfelt etc.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>11335: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11336: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DimmingLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierLysarmaturType">
    <annotation>
      <documentation>9953: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierLysarmaturEnumerationType nvdb:EierLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="EierLysarmaturEnumerationType">
    <annotation>
      <documentation>9953: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>16150: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18619: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>16151: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>16152: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>16153: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17629: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="InngårINødsystemetLysarmaturType">
    <annotation>
      <documentation>10012: Angir om lysarmatur er en del av nødsystemet</documentation>
    </annotation>
    <union memberTypes="nvdb:InngårINødsystemetLysarmaturEnumerationType nvdb:InngårINødsystemetLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="InngårINødsystemetLysarmaturEnumerationType">
    <annotation>
      <documentation>10012: Angir om lysarmatur er en del av nødsystemet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16446: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16447: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InngårINødsystemetLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KonstantLysutbytteType">
    <annotation>
      <documentation>9567: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output)</documentation>
    </annotation>
    <union memberTypes="nvdb:KonstantLysutbytteEnumerationType nvdb:KonstantLysutbytteOtherType"/>
  </simpleType>
  <simpleType name="KonstantLysutbytteEnumerationType">
    <annotation>
      <documentation>9567: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13776: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13777: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KonstantLysutbytteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Lysarmatur" substitutionGroup="nvdb:AbstraktLysarmatur" type="nvdb:LysarmaturType">
    <annotation>
      <documentation>88: Lyskilde med innfatning</documentation>
    </annotation>
  </element>
  <complexType name="LysarmaturType">
    <complexContent>
      <extension base="nvdb:AbstraktLysarmaturType">
        <sequence>
          <element minOccurs="0" name="lyskildeType" type="nvdb:LyskildeTypeLysarmaturType">
            <annotation>
              <documentation>2077: Angir hvilken type lyskildene er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="effekt" type="double">
            <annotation>
              <documentation>10805: Angir samlet effekt pr lampearmatur
Enhet: Watt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeOverVeg" type="double">
            <annotation>
              <documentation>2054: Angir armaturens høyde over veg.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLyskilderPerArmatur" type="nvdb:AntallLyskilderPerArmaturType">
            <annotation>
              <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallArmaturerIBelysningspkt" type="nvdb:AntallArmaturerIBelysningspktType">
            <annotation>
              <documentation>2199: Vegobjektet kan representere flere objekt av samme type.  Vi angir her hvor mange objekt dette objektet representerer.
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="inngårINødsystemet" type="nvdb:InngårINødsystemetLysarmaturType">
            <annotation>
              <documentation>10012: Angir om lysarmatur er en del av nødsystemet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="optikk" type="nvdb:OptikkType">
            <annotation>
              <documentation>9563: Angir optikk i lysarmatur</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="konstantLysutbytte" type="nvdb:KonstantLysutbytteType">
            <annotation>
              <documentation>9567: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dimming" type="nvdb:DimmingLysarmaturType">
            <annotation>
              <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset.  Ikke aktuelt for lys ved gangfelt etc.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyrsklasse" type="nvdb:UtstyrsklasseType">
            <annotation>
              <documentation>10014: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsstrøm_Udimmet" type="integer">
            <annotation>
              <documentation>9562: Angir driftsstrøm for lyskilden
Enhet: Milliampere</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lysflux" type="integer">
            <annotation>
              <documentation>10011: Total lysmengde fra lysarmaturen, definert som lysmengde målt mot øyets følsomhetskurve.
Enhet: Lumen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="LED_AntallDioder" type="integer">
            <annotation>
              <documentation>9561: Angir antall dioder per lampearmatur
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="LED_EffektPerStk" type="double">
            <annotation>
              <documentation>9560: Ved 25 grader C, 700 mA
Enhet: Watt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="avskjerming_Type" type="nvdb:Avskjerming_TypeType">
            <annotation>
              <documentation>3884: Angir hvilken type avskjerming det er på armaturen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="LED_EffektArmatur_Totalt_Test" type="integer">
            <annotation>
              <documentation>9559: Ved 25 grader C, 700 mA
Enhet: Watt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="avskjerming_Materiale" type="nvdb:Avskjerming_MaterialeType">
            <annotation>
              <documentation>8401: Angir hvordan glasset på armaturen er utformet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fargetemperatur" type="integer">
            <annotation>
              <documentation>9564: Angir fargetemperatur
Enhet: Kelvin</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fargegjengivelsesindeks" type="integer">
            <annotation>
              <documentation>9565: Angir Fargegjengivelsesindeks, (Ra-indeks) for lysarmaturen (0-100)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utskiftbareLyskilder" type="nvdb:UtskiftbareLyskilderType">
            <annotation>
              <documentation>9568: Angir om selve lyskilden(e) kan skiftes ut</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lyskildeSistSkiftet" type="date">
            <annotation>
              <documentation>11443: Angir tidspunkt for når lyskilde sist ble skiftet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="armaturnummer" type="string">
            <annotation>
              <documentation>10585: Entydig nummer innenfor gitt anlegg/område.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kommunikasjonsenhet" type="string">
            <annotation>
              <documentation>10584: Navn/adresse på kommunikasjonsenhet som lysarmatur er knyttet til.. Kan være VTP (Veglystennpunkt eller konsentrator/segmentkontroller.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10007: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10008: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent_Armatur" type="nvdb:Produsent_ArmaturType">
            <annotation>
              <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent_Driver" type="string">
            <annotation>
              <documentation>9558: Angir navn på produsent/fabrikant av driver.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent_Lyskilde" type="string">
            <annotation>
              <documentation>9557: Angir navn på produsent/fabrikant av lyskilde.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn_Armatur" type="string">
            <annotation>
              <documentation>1451: Angir produktnavn for lysarmaturet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="leverandør" type="string">
            <annotation>
              <documentation>1489: Angir navn på firma som har levert vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11535: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11662: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11073: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierLysarmaturType">
            <annotation>
              <documentation>9953: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>10010: Navn på eier av  vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligLysarmaturType">
            <annotation>
              <documentation>9955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4788: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LysarmaturPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Lysarmatur"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="LyskildeTypeLysarmaturType">
    <annotation>
      <documentation>2077: Angir hvilken type lyskildene er av</documentation>
    </annotation>
    <union memberTypes="nvdb:LyskildeTypeLysarmaturEnumerationType nvdb:LyskildeTypeLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="LyskildeTypeLysarmaturEnumerationType">
    <annotation>
      <documentation>2077: Angir hvilken type lyskildene er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="kvikksølv">
        <annotation>
          <documentation>3750: Kvikksølv</documentation>
        </annotation>
      </enumeration>
      <enumeration value="natrium_Høytrykk">
        <annotation>
          <documentation>3753: Natrium, høytrykk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="natrium_Lavtrykk">
        <annotation>
          <documentation>3955: Natrium, lavtrykk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lysstoffrør">
        <annotation>
          <documentation>3956: Lysstoffrør</documentation>
        </annotation>
      </enumeration>
      <enumeration value="glødelampe">
        <annotation>
          <documentation>3957: Glødelampe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="QL">
        <annotation>
          <documentation>12978: QL</documentation>
        </annotation>
      </enumeration>
      <enumeration value="LED">
        <annotation>
          <documentation>12979: LED</documentation>
        </annotation>
      </enumeration>
      <enumeration value="metallhalogen">
        <annotation>
          <documentation>3751: Metallhalogen</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LyskildeTypeLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OptikkType">
    <annotation>
      <documentation>9563: Angir optikk i lysarmatur</documentation>
    </annotation>
    <union memberTypes="nvdb:OptikkEnumerationType nvdb:OptikkOtherType"/>
  </simpleType>
  <simpleType name="OptikkEnumerationType">
    <annotation>
      <documentation>9563: Angir optikk i lysarmatur</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="reflektor">
        <annotation>
          <documentation>13770: Reflektor</documentation>
        </annotation>
      </enumeration>
      <enumeration value="linse">
        <annotation>
          <documentation>13771: Linse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="reflektorOgLinse">
        <annotation>
          <documentation>13772: Reflektor og linse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="direkteLys">
        <annotation>
          <documentation>13773: Direkte lys</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OptikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Produsent_ArmaturType">
    <annotation>
      <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
    </annotation>
    <union memberTypes="nvdb:Produsent_ArmaturEnumerationType nvdb:Produsent_ArmaturOtherType"/>
  </simpleType>
  <simpleType name="Produsent_ArmaturEnumerationType">
    <annotation>
      <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="aeg">
        <annotation>
          <documentation>3718: Aeg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="thorn">
        <annotation>
          <documentation>3719: Thorn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="philips">
        <annotation>
          <documentation>3720: Philips</documentation>
        </annotation>
      </enumeration>
      <enumeration value="siemens">
        <annotation>
          <documentation>3721: Siemens</documentation>
        </annotation>
      </enumeration>
      <enumeration value="siemensSiteco">
        <annotation>
          <documentation>4676: Siemens/Siteco</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ifa">
        <annotation>
          <documentation>3722: Ifa</documentation>
        </annotation>
      </enumeration>
      <enumeration value="noral">
        <annotation>
          <documentation>3723: Noral</documentation>
        </annotation>
      </enumeration>
      <enumeration value="seelux">
        <annotation>
          <documentation>3724: Seelux</documentation>
        </annotation>
      </enumeration>
      <enumeration value="jernkonst">
        <annotation>
          <documentation>4677: Jernkonst</documentation>
        </annotation>
      </enumeration>
      <enumeration value="urbis">
        <annotation>
          <documentation>4079: Urbis</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AECIlluminazione">
        <annotation>
          <documentation>16838: AEC Illuminazione</documentation>
        </annotation>
      </enumeration>
      <enumeration value="defa">
        <annotation>
          <documentation>18300: Defa</documentation>
        </annotation>
      </enumeration>
      <enumeration value="multilux">
        <annotation>
          <documentation>18319: Multilux</documentation>
        </annotation>
      </enumeration>
      <enumeration value="heper">
        <annotation>
          <documentation>19468: Heper</documentation>
        </annotation>
      </enumeration>
      <enumeration value="osram">
        <annotation>
          <documentation>19634: Osram</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Produsent_ArmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtskiftbareLyskilderType">
    <annotation>
      <documentation>9568: Angir om selve lyskilden(e) kan skiftes ut</documentation>
    </annotation>
    <union memberTypes="nvdb:UtskiftbareLyskilderEnumerationType nvdb:UtskiftbareLyskilderOtherType"/>
  </simpleType>
  <simpleType name="UtskiftbareLyskilderEnumerationType">
    <annotation>
      <documentation>9568: Angir om selve lyskilden(e) kan skiftes ut</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13778: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13779: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtskiftbareLyskilderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtstyrsklasseType">
    <annotation>
      <documentation>10014: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
    </annotation>
    <union memberTypes="nvdb:UtstyrsklasseEnumerationType nvdb:UtstyrsklasseOtherType"/>
  </simpleType>
  <simpleType name="UtstyrsklasseEnumerationType">
    <annotation>
      <documentation>10014: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ujorda">
        <annotation>
          <documentation>16269: Ujorda</documentation>
        </annotation>
      </enumeration>
      <enumeration value="jorda">
        <annotation>
          <documentation>16270: Jorda</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dobbeltisolert">
        <annotation>
          <documentation>16271: Dobbeltisolert</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtstyrsklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysarmaturType">
    <annotation>
      <documentation>9955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligLysarmaturEnumerationType nvdb:VedlikeholdsansvarligLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysarmaturEnumerationType">
    <annotation>
      <documentation>9955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>16158: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18726: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19998: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18855: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>16159: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>16160: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17782: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
