GML/88.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.22">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AntallArmaturerIBelysningspktType">
    <annotation>
      <documentation>2199: Vegobjektet kan representere flere objekt av samme type.  Vi angir her hvor mange objekt dette objektet representerer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2199</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2199</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall armaturer i belysningspkt</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AntallArmaturerIBelysningspktEnumerationType nvdb:AntallArmaturerIBelysningspktOtherType"/>
  </simpleType>
  <simpleType name="AntallArmaturerIBelysningspktEnumerationType">
    <annotation>
      <documentation>2199: Vegobjektet kan representere flere objekt av samme type.  Vi angir her hvor mange objekt dette objektet representerer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2199</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2199</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall armaturer i belysningspkt</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>4678: 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4678</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>4679: 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4679</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>4680: 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4680</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">3</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>4681: 4</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4681</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>4682: 5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4682</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">5</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>4915: 6</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4915</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">6</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="7">
        <annotation>
          <documentation>16784: 7</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16784</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">7</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>16785: 8</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16785</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">8</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallArmaturerIBelysningspktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AntallLyskilderPerArmaturType">
    <annotation>
      <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1955</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1955</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall lyskilder per armatur</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AntallLyskilderPerArmaturEnumerationType nvdb:AntallLyskilderPerArmaturOtherType"/>
  </simpleType>
  <simpleType name="AntallLyskilderPerArmaturEnumerationType">
    <annotation>
      <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1955</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1955</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall lyskilder per armatur</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>3730: 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3730</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>3739: 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3739</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>16294: 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16294</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">3</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>16295: 4</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16295</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>17876: 5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17876</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">5</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>17877: 6</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17877</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">6</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallLyskilderPerArmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Avskjerming_MaterialeType">
    <annotation>
      <documentation>8401: Angir hvordan glasset på armaturen er utformet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8401</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8401</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avskjerming, materiale</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Avskjerming_MaterialeEnumerationType nvdb:Avskjerming_MaterialeOtherType"/>
  </simpleType>
  <simpleType name="Avskjerming_MaterialeEnumerationType">
    <annotation>
      <documentation>8401: Angir hvordan glasset på armaturen er utformet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8401</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8401</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avskjerming, materiale</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Plant">
        <annotation>
          <documentation>11333: Plant</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11333</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Plant</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Buet">
        <annotation>
          <documentation>11334: Buet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11334</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Buet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Avskjerming_MaterialeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Avskjerming_TypeType">
    <annotation>
      <documentation>3884: Angir hvilken type avskjerming det er på armaturen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3884</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3884</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avskjerming, type</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Avskjerming_TypeEnumerationType nvdb:Avskjerming_TypeOtherType"/>
  </simpleType>
  <simpleType name="Avskjerming_TypeEnumerationType">
    <annotation>
      <documentation>3884: Angir hvilken type avskjerming det er på armaturen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3884</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3884</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avskjerming, type</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Skjerm, plan">
        <annotation>
          <documentation>4683: Skjerm, plan</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4683</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skjerm, plan</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skjerm, buet">
        <annotation>
          <documentation>16971: Skjerm, buet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16971</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skjerm, buet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skjerm, halvbuet">
        <annotation>
          <documentation>16972: Skjerm, halvbuet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16972</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skjerm, halvbuet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skjerm, dyptrukket">
        <annotation>
          <documentation>4684: Skjerm, dyptrukket</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4684</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skjerm, dyptrukket</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Åpen">
        <annotation>
          <documentation>16973: Åpen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16973</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Åpen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Avskjerming_TypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DimmingLysarmaturType">
    <annotation>
      <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset.  Ikke aktuelt for lys ved gangfelt etc.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8402</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8402</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dimming</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DimmingLysarmaturEnumerationType nvdb:DimmingLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="DimmingLysarmaturEnumerationType">
    <annotation>
      <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset.  Ikke aktuelt for lys ved gangfelt etc.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8402</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8402</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dimming</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>11335: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11335</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11336: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11336</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DimmingLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierLysarmaturType">
    <annotation>
      <documentation>9953: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9953</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9953</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierLysarmaturEnumerationType nvdb:EierLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="EierLysarmaturEnumerationType">
    <annotation>
      <documentation>9953: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9953</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9953</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>16150: Stat, Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16150</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stat, Statens vegvesen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18619: Stat, Nye Veier</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18619</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stat, Nye Veier</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>16151: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16151</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>16152: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16152</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>16153: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16153</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Privat</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17629: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17629</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Uavklart</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="InngårINødsystemetLysarmaturType">
    <annotation>
      <documentation>10012: Angir om lysarmatur er en del av nødsystemet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10012</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10012</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Inngår i nødsystemet</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:InngårINødsystemetLysarmaturEnumerationType nvdb:InngårINødsystemetLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="InngårINødsystemetLysarmaturEnumerationType">
    <annotation>
      <documentation>10012: Angir om lysarmatur er en del av nødsystemet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10012</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10012</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Inngår i nødsystemet</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16446: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16446</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16447: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16447</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InngårINødsystemetLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KonstantLysutbytteType">
    <annotation>
      <documentation>9567: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9567</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9567</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Konstant lysutbytte</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KonstantLysutbytteEnumerationType nvdb:KonstantLysutbytteOtherType"/>
  </simpleType>
  <simpleType name="KonstantLysutbytteEnumerationType">
    <annotation>
      <documentation>9567: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9567</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9567</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Konstant lysutbytte</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>13776: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13776</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>13777: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13777</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KonstantLysutbytteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Lysarmatur" substitutionGroup="nvdb:AbstraktLysarmatur" type="nvdb:LysarmaturType">
    <annotation>
      <documentation>88: Lyskilde med innfatning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">88</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">88</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lysarmatur</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LysarmaturType">
    <complexContent>
      <extension base="nvdb:AbstraktLysarmaturType">
        <sequence>
          <element minOccurs="0" name="lyskildeType" type="nvdb:LyskildeTypeLysarmaturType">
            <annotation>
              <documentation>2077: Angir hvilken type lyskildene er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2077</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lyskilde type</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="effekt" type="double">
            <annotation>
              <documentation>10805: Angir samlet effekt pr lampearmatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10805</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Effekt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeOverVeg" type="double">
            <annotation>
              <documentation>2054: Angir armaturens høyde over veg.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2054</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Høyde over veg</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLyskilderPerArmatur" type="nvdb:AntallLyskilderPerArmaturType">
            <annotation>
              <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1955</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall lyskilder per armatur</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallArmaturerIBelysningspkt" type="nvdb:AntallArmaturerIBelysningspktType">
            <annotation>
              <documentation>2199: Vegobjektet kan representere flere objekt av samme type.  Vi angir her hvor mange objekt dette objektet representerer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2199</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall armaturer i belysningspkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="inngårINødsystemet" type="nvdb:InngårINødsystemetLysarmaturType">
            <annotation>
              <documentation>10012: Angir om lysarmatur er en del av nødsystemet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10012</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Inngår i nødsystemet</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="optikk" type="nvdb:OptikkType">
            <annotation>
              <documentation>9563: Angir optikk i lysarmatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9563</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Optikk</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="konstantLysutbytte" type="nvdb:KonstantLysutbytteType">
            <annotation>
              <documentation>9567: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9567</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Konstant lysutbytte</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dimming" type="nvdb:DimmingLysarmaturType">
            <annotation>
              <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset.  Ikke aktuelt for lys ved gangfelt etc.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8402</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dimming</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyrsklasse" type="nvdb:UtstyrsklasseType">
            <annotation>
              <documentation>10014: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10014</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utstyrsklasse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsstrøm_Udimmet" type="integer">
            <annotation>
              <documentation>9562: Angir driftsstrøm for lyskilden</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9562</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Driftsstrøm, udimmet</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lysflux" type="integer">
            <annotation>
              <documentation>10011: Total lysmengde fra lysarmaturen, definert som lysmengde målt mot øyets følsomhetskurve.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10011</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lysflux</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="LED_AntallDioder" type="integer">
            <annotation>
              <documentation>9561: Angir antall dioder per lampearmatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9561</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">LED, antall dioder</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="LED_EffektPerStk" type="double">
            <annotation>
              <documentation>9560: Ved 25 grader C, 700 mA</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9560</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">LED, effekt per stk</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avskjerming_Type" type="nvdb:Avskjerming_TypeType">
            <annotation>
              <documentation>3884: Angir hvilken type avskjerming det er på armaturen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3884</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avskjerming, type</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="LED_EffektArmatur_Totalt_Test" type="integer">
            <annotation>
              <documentation>9559: Ved 25 grader C, 700 mA</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9559</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">LED, Effekt armatur, totalt (test)</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avskjerming_Materiale" type="nvdb:Avskjerming_MaterialeType">
            <annotation>
              <documentation>8401: Angir hvordan glasset på armaturen er utformet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8401</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avskjerming, materiale</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fargetemperatur" type="integer">
            <annotation>
              <documentation>9564: Angir fargetemperatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9564</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fargetemperatur</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fargegjengivelsesindeks" type="integer">
            <annotation>
              <documentation>9565: Angir Fargegjengivelsesindeks, (Ra-indeks) for lysarmaturen (0-100)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9565</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fargegjengivelsesindeks</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utskiftbareLyskilder" type="nvdb:UtskiftbareLyskilderType">
            <annotation>
              <documentation>9568: Angir om selve lyskilden(e) kan skiftes ut</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9568</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utskiftbare lyskilder</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lyskildeSistSkiftet" type="date">
            <annotation>
              <documentation>11443: Angir tidspunkt for når lyskilde sist ble skiftet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11443</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lyskilde sist skiftet</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="armaturnummer" type="string">
            <annotation>
              <documentation>10585: Entydig nummer innenfor gitt anlegg/område.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10585</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Armaturnummer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kommunikasjonsenhet" type="string">
            <annotation>
              <documentation>10584: Navn/adresse på kommunikasjonsenhet som lysarmatur er knyttet til.. Kan være VTP (Veglystennpunkt eller konsentrator/segmentkontroller.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10584</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kommunikasjonsenhet</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10007: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10007</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etableringsår</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10008: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10008</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Driftsmerking</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent_Armatur" type="nvdb:Produsent_ArmaturType">
            <annotation>
              <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1529</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produsent, armatur</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent_Driver" type="string">
            <annotation>
              <documentation>9558: Angir navn på produsent/fabrikant av driver.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9558</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produsent, driver</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent_Lyskilde" type="string">
            <annotation>
              <documentation>9557: Angir navn på produsent/fabrikant av lyskilde.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9557</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produsent, lyskilde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn_Armatur" type="string">
            <annotation>
              <documentation>1451: Angir produktnavn for lysarmaturet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1451</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produktnavn, armatur</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="leverandør" type="string">
            <annotation>
              <documentation>1489: Angir navn på firma som har levert vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1489</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Leverandør</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11535: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11535</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11662: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11662</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Arkivreferanse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11073: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11073</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Prosjektreferanse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierLysarmaturType">
            <annotation>
              <documentation>9953: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9953</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>10010: Navn på eier av  vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10010</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier, navn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligLysarmaturType">
            <annotation>
              <documentation>9955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9955</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vedlikeholdsansvarlig</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4788: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4788</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBelysningspunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBelysningspunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LysarmaturPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Lysarmatur"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="LyskildeTypeLysarmaturType">
    <annotation>
      <documentation>2077: Angir hvilken type lyskildene er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2077</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2077</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lyskilde type</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LyskildeTypeLysarmaturEnumerationType nvdb:LyskildeTypeLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="LyskildeTypeLysarmaturEnumerationType">
    <annotation>
      <documentation>2077: Angir hvilken type lyskildene er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2077</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2077</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lyskilde type</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Kvikksølv">
        <annotation>
          <documentation>3750: Kvikksølv</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3750</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kvikksølv</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Natrium, høytrykk">
        <annotation>
          <documentation>3753: Natrium, høytrykk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3753</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Natrium, høytrykk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Natrium, lavtrykk">
        <annotation>
          <documentation>3955: Natrium, lavtrykk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3955</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Natrium, lavtrykk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lysstoffrør">
        <annotation>
          <documentation>3956: Lysstoffrør</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3956</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lysstoffrør</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glødelampe">
        <annotation>
          <documentation>3957: Glødelampe</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3957</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Glødelampe</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QL">
        <annotation>
          <documentation>12978: QL</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12978</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">QL</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="LED">
        <annotation>
          <documentation>12979: LED</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12979</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">LED</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metallhalogen">
        <annotation>
          <documentation>3751: Metallhalogen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3751</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Metallhalogen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LyskildeTypeLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OptikkType">
    <annotation>
      <documentation>9563: Angir optikk i lysarmatur</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9563</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9563</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Optikk</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OptikkEnumerationType nvdb:OptikkOtherType"/>
  </simpleType>
  <simpleType name="OptikkEnumerationType">
    <annotation>
      <documentation>9563: Angir optikk i lysarmatur</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9563</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9563</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Optikk</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Reflektor">
        <annotation>
          <documentation>13770: Reflektor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13770</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Reflektor</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Linse">
        <annotation>
          <documentation>13771: Linse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13771</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Linse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Reflektor og linse">
        <annotation>
          <documentation>13772: Reflektor og linse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13772</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Reflektor og linse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Direkte lys">
        <annotation>
          <documentation>13773: Direkte lys</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13773</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Direkte lys</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OptikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Produsent_ArmaturType">
    <annotation>
      <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1529</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1529</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produsent, armatur</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Produsent_ArmaturEnumerationType nvdb:Produsent_ArmaturOtherType"/>
  </simpleType>
  <simpleType name="Produsent_ArmaturEnumerationType">
    <annotation>
      <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1529</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1529</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produsent, armatur</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Aeg">
        <annotation>
          <documentation>3718: Aeg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3718</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Aeg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Thorn">
        <annotation>
          <documentation>3719: Thorn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3719</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Thorn</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Philips">
        <annotation>
          <documentation>3720: Philips</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3720</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Philips</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Siemens">
        <annotation>
          <documentation>3721: Siemens</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3721</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Siemens</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Siemens/Siteco">
        <annotation>
          <documentation>4676: Siemens/Siteco</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4676</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Siemens/Siteco</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ifa">
        <annotation>
          <documentation>3722: Ifa</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3722</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ifa</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Noral">
        <annotation>
          <documentation>3723: Noral</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3723</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Noral</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Seelux">
        <annotation>
          <documentation>3724: Seelux</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3724</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Seelux</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jernkonst">
        <annotation>
          <documentation>4677: Jernkonst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4677</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Jernkonst</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Urbis">
        <annotation>
          <documentation>4079: Urbis</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4079</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Urbis</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="AEC Illuminazione">
        <annotation>
          <documentation>16838: AEC Illuminazione</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16838</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">AEC Illuminazione</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Defa">
        <annotation>
          <documentation>18300: Defa</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18300</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Defa</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Multilux">
        <annotation>
          <documentation>18319: Multilux</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18319</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Multilux</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Heper">
        <annotation>
          <documentation>19468: Heper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19468</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Heper</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Osram">
        <annotation>
          <documentation>19634: Osram</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19634</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Osram</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Produsent_ArmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtskiftbareLyskilderType">
    <annotation>
      <documentation>9568: Angir om selve lyskilden(e) kan skiftes ut</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9568</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9568</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utskiftbare lyskilder</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtskiftbareLyskilderEnumerationType nvdb:UtskiftbareLyskilderOtherType"/>
  </simpleType>
  <simpleType name="UtskiftbareLyskilderEnumerationType">
    <annotation>
      <documentation>9568: Angir om selve lyskilden(e) kan skiftes ut</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9568</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9568</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utskiftbare lyskilder</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>13778: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13778</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>13779: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13779</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtskiftbareLyskilderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtstyrsklasseType">
    <annotation>
      <documentation>10014: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10014</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10014</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utstyrsklasse</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtstyrsklasseEnumerationType nvdb:UtstyrsklasseOtherType"/>
  </simpleType>
  <simpleType name="UtstyrsklasseEnumerationType">
    <annotation>
      <documentation>10014: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10014</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10014</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utstyrsklasse</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ujorda">
        <annotation>
          <documentation>16269: Ujorda</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16269</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ujorda</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jorda">
        <annotation>
          <documentation>16270: Jorda</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16270</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Jorda</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dobbeltisolert">
        <annotation>
          <documentation>16271: Dobbeltisolert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16271</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dobbeltisolert</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtstyrsklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysarmaturType">
    <annotation>
      <documentation>9955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9955</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9955</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vedlikeholdsansvarlig</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligLysarmaturEnumerationType nvdb:VedlikeholdsansvarligLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysarmaturEnumerationType">
    <annotation>
      <documentation>9955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9955</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9955</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vedlikeholdsansvarlig</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>16158: Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16158</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Statens vegvesen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18726: Nye Veier</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18726</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nye Veier</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19998: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19998</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18855: OPS</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18855</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">OPS</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>16159: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16159</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>16160: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16160</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Privat</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17782: Uavklart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17782</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Uavklart</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
