GML/880.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>880: En strekning på vegen som er særlig ulykkesbelastet. En strekning med egendefinert lengde som har som har et egendefinert antall ulykker med personskade innenfor et egendefinert tidsrom.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Ulykkesstrekning, egendefinert"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Ulykkesstrekning, egendefinertType">
      <annotation>
         <documentation>880: En strekning på vegen som er særlig ulykkesbelastet. En strekning med egendefinert lengde som har som har et egendefinert antall ulykker med personskade innenfor et egendefinert tidsrom.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">880</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ulykkesstrekning, egendefinert</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Ulykkesstrekning, egendefinertType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="fomUlykkesdato" type="date">
                  <annotation>
                     <documentation>10550: Beregningsgrunnlaget - fom. dato.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10550</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fom. ulykkesdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tomUlykkesdato" type="date">
                  <annotation>
                     <documentation>10551: Beregningsgrunnlaget - tom. dato.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10551</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tom. ulykkesdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kravTilAntallUlykker" type="integer">
                  <annotation>
                     <documentation>10552: Beregningsgrunnlaget – krav til antall ulykker. Egendefinert verdi.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10552</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Krav til antall ulykker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengdeUlykkesstrekning" type="integer">
                  <annotation>
                     <documentation>10553: Lengde ulykkesstrekning. Egendefinert verdi.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10553</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde ulykkesstrekning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallUlykker" type="integer">
                  <annotation>
                     <documentation>10556: Antall ulykker på strekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10556</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall ulykker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallDrepte" type="integer">
                  <annotation>
                     <documentation>10557: Antall drepte.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10557</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall drepte</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallMegetAlvorligSkadde" type="integer">
                  <annotation>
                     <documentation>10558: Antall meget alvorlig skadde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10558</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall meget alvorlig skadde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallAlvorligSkadde" type="integer">
                  <annotation>
                     <documentation>10559: Antall alvorlig skadde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10559</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall alvorlig skadde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallLettereSkadde" type="integer">
                  <annotation>
                     <documentation>10560: Antall lettere skadde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10560</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall lettere skadde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Ulykkesstrekning, egendefinertPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Ulykkesstrekning, egendefinert"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
