GML/880.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Ulykkesstrekning_Egendefinert" substitutionGroup="nvdb:AbstraktUlykkesstrekning_Egendefinert" type="nvdb:Ulykkesstrekning_EgendefinertType">
    <annotation>
      <documentation>880: En strekning på vegen som er særlig ulykkesbelastet. En strekning med egendefinert lengde som har som har et egendefinert antall ulykker med personskade innenfor et egendefinert tidsrom.</documentation>
    </annotation>
  </element>
  <complexType name="Ulykkesstrekning_EgendefinertType">
    <complexContent>
      <extension base="nvdb:AbstraktUlykkesstrekning_EgendefinertType">
        <sequence>
          <element minOccurs="0" name="fomUlykkesdato" type="date">
            <annotation>
              <documentation>10550: Beregningsgrunnlaget - fom. dato</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tomUlykkesdato" type="date">
            <annotation>
              <documentation>10551: Beregningsgrunnlaget - tom. dato</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kravTilAntallUlykker" type="integer">
            <annotation>
              <documentation>10552: Beregningsgrunnlaget – krav til antall ulykker. Egendefinert verdi
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeUlykkesstrekning" type="integer">
            <annotation>
              <documentation>10553: Lengde ulykkesstrekning.   Egendefinert verdi.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallUlykker" type="integer">
            <annotation>
              <documentation>10556: Antall ulykker på strekningen
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallDrepte" type="integer">
            <annotation>
              <documentation>10557: Antall drepte
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallMegetAlvorligSkadde" type="integer">
            <annotation>
              <documentation>10558: Antall meget alvorlig skadde
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallAlvorligSkadde" type="integer">
            <annotation>
              <documentation>10559: Antall alvorlig skadde
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLettereSkadde" type="integer">
            <annotation>
              <documentation>10560: Antall lettere skadde
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrafikkulykke" type="nvdb:AbstraktTrafikkulykkePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Ulykkesstrekning_EgendefinertPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Ulykkesstrekning_Egendefinert"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
