GML/882.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BassenginndelingType">
    <annotation>
      <documentation>10450: Angir hvordan bassengene er plassert i forhold til hverandre.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10450</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10450</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bassenginndeling</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BassenginndelingEnumerationType nvdb:BassenginndelingOtherType"/>
  </simpleType>
  <simpleType name="BassenginndelingEnumerationType">
    <annotation>
      <documentation>10450: Angir hvordan bassengene er plassert i forhold til hverandre.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10450</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10450</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bassenginndeling</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Adskilte basseng">
        <annotation>
          <documentation>16901: Bassengene ligger fysisk adskilt fra hverandre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16901</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adskilte basseng</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Basseng vegg i vegg">
        <annotation>
          <documentation>16902: Bassengene ligger side ved side kun adskilt med vegg eller terskel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16902</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Basseng vegg i vegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Felles basseng">
        <annotation>
          <documentation>16903: Felles basseng</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16903</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Felles basseng</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BassenginndelingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DrensvannType">
    <annotation>
      <documentation>10605: Angir om anlegget håndterer drensvan fra tunnel/veg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10605</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10605</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Drensvann</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DrensvannEnumerationType nvdb:DrensvannOtherType"/>
  </simpleType>
  <simpleType name="DrensvannEnumerationType">
    <annotation>
      <documentation>10605: Angir om anlegget håndterer drensvan fra tunnel/veg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10605</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10605</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Drensvann</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Fra tunnel">
        <annotation>
          <documentation>17019: Fra tunnel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17019</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fra tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fra veg i dagen">
        <annotation>
          <documentation>17020: Fra veg i dagen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17020</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fra veg i dagen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fra veg i dagen og tunnel">
        <annotation>
          <documentation>17021: Fra veg i dagen og tunnel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17021</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fra veg i dagen og tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke drensvann">
        <annotation>
          <documentation>17022: Ikke drensvann</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17022</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke drensvann</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DrensvannOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierVannhåndteringsanleggType">
    <annotation>
      <documentation>10609: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10609</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10609</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierVannhåndteringsanleggEnumerationType nvdb:EierVannhåndteringsanleggOtherType"/>
  </simpleType>
  <simpleType name="EierVannhåndteringsanleggEnumerationType">
    <annotation>
      <documentation>10609: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10609</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10609</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>17032: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17032</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18662: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18662</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>17027: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17027</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>17028: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17028</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>17030: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17030</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17639: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17639</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierVannhåndteringsanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Materialbruk_RørType">
    <annotation>
      <documentation>10458: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10458</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10458</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialbruk, rør</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Materialbruk_RørEnumerationType nvdb:Materialbruk_RørOtherType"/>
  </simpleType>
  <simpleType name="Materialbruk_RørEnumerationType">
    <annotation>
      <documentation>10458: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10458</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10458</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialbruk, rør</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betong">
        <annotation>
          <documentation>16922: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16922</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>16923: Plast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Materialbruk_RørOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OvervannType">
    <annotation>
      <documentation>10604: Angir om anlegget håndterer overvann fra tunnel/veg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10604</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10604</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overvann</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OvervannEnumerationType nvdb:OvervannOtherType"/>
  </simpleType>
  <simpleType name="OvervannEnumerationType">
    <annotation>
      <documentation>10604: Angir om anlegget håndterer overvann fra tunnel/veg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10604</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10604</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overvann</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Fra tunnel">
        <annotation>
          <documentation>17015: Fra tunnel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17015</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fra tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fra veg i dagen">
        <annotation>
          <documentation>17016: Fra veg i dagen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17016</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fra veg i dagen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fra veg i dagen og tunnel">
        <annotation>
          <documentation>17017: Fra veg i dagen og tunnel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17017</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fra veg i dagen og tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke overvann">
        <annotation>
          <documentation>17018: Ikke overvann</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17018</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke overvann</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OvervannOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RensingType">
    <annotation>
      <documentation>10607: Angir om anlegget er tiltenkt å ha rensefunksjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10607</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10607</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Rensing</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RensingEnumerationType nvdb:RensingOtherType"/>
  </simpleType>
  <simpleType name="RensingEnumerationType">
    <annotation>
      <documentation>10607: Angir om anlegget er tiltenkt å ha rensefunksjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10607</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10607</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Rensing</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>17038: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17038</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>17039: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17039</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RensingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SikringType">
    <annotation>
      <documentation>10449: Angir hvordan anlegget er sikret.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10449</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10449</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sikring</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SikringEnumerationType nvdb:SikringOtherType"/>
  </simpleType>
  <simpleType name="SikringEnumerationType">
    <annotation>
      <documentation>10449: Angir hvordan anlegget er sikret.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10449</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10449</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sikring</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Inngjerdet">
        <annotation>
          <documentation>16899: Inngjerdet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inngjerdet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Åpent">
        <annotation>
          <documentation>16900: Åpent</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16900</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Åpent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TankbillekkasjeType">
    <annotation>
      <documentation>10608: Angir hvorvidt anlegget er dimensjonert for å håndtere lekkasje fra tankbil.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10608</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10608</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tankbillekkasje</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TankbillekkasjeEnumerationType nvdb:TankbillekkasjeOtherType"/>
  </simpleType>
  <simpleType name="TankbillekkasjeEnumerationType">
    <annotation>
      <documentation>10608: Angir hvorvidt anlegget er dimensjonert for å håndtere lekkasje fra tankbil.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10608</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10608</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tankbillekkasje</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stor tankbil">
        <annotation>
          <documentation>17023: Eget system for å fange opp lekkasje fra tankbil. Er dimensjonert for å ta hånd om lekkasje fra stor tankbil, dvs volum inntil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17023</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stor tankbil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mindre tankbil">
        <annotation>
          <documentation>17024: Eget system for å fange opp lekkasje fra tankbil. Er dimensjonert for å ta hånd om lekkasje fra mindre tankbil, dvs standard lastebil med tank uten henger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17024</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mindre tankbil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kun mindre lekkasjer">
        <annotation>
          <documentation>17025: Eget system for å fange opp mindre lekkasjer.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17025</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kun mindre lekkasjer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hånderes ikke spesielt">
        <annotation>
          <documentation>17026: Anlegget har ikke eget system for å fange opp lekkasje fra tankbil.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17026</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hånderes ikke spesielt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TankbillekkasjeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilgangForSlamfjerningType">
    <annotation>
      <documentation>10459: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10459</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10459</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilgang for slamfjerning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilgangForSlamfjerningEnumerationType nvdb:TilgangForSlamfjerningOtherType"/>
  </simpleType>
  <simpleType name="TilgangForSlamfjerningEnumerationType">
    <annotation>
      <documentation>10459: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10459</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10459</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilgang for slamfjerning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Slamsugingsbil">
        <annotation>
          <documentation>16924: Slamsugingsbil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Slamsugingsbil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lastebil/gravemaskin">
        <annotation>
          <documentation>16925: Lastebil/gravemaskin</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16925</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lastebil/gravemaskin</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilgangForSlamfjerningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vannhåndteringsanlegg" substitutionGroup="nvdb:AbstraktVannhåndteringsanlegg" type="nvdb:VannhåndteringsanleggType">
    <annotation>
      <documentation>882: System som samler opp drensvann og overvann før utslipp i resipient.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">882</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">882</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vannhåndteringsanlegg</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VannhåndteringsanleggType">
    <complexContent>
      <extension base="nvdb:AbstraktVannhåndteringsanleggType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>10602: Gir navn på anlegget.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10602</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tankbillekkasje" type="nvdb:TankbillekkasjeType">
            <annotation>
              <documentation>10608: Angir hvorvidt anlegget er dimensjonert for å håndtere lekkasje fra tankbil.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10608</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tankbillekkasje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rensing" type="nvdb:RensingType">
            <annotation>
              <documentation>10607: Angir om anlegget er tiltenkt å ha rensefunksjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10607</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Rensing</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="resipient" type="string">
            <annotation>
              <documentation>10448: URL til den bestemte forekomsten i vann-nett. Navn på resipient med id fra http://vann-nett.no/saksbehandler/.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10448</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Resipient</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vaskevannTunnel" type="nvdb:VaskevannTunnelType">
            <annotation>
              <documentation>10603: Angir om anlegget tar i mot vaskevann fra tunnel.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10603</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vaskevann tunnel</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overvann" type="nvdb:OvervannType">
            <annotation>
              <documentation>10604: Angir om anlegget håndterer overvann fra tunnel/veg.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10604</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overvann</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sikring" type="nvdb:SikringType">
            <annotation>
              <documentation>10449: Angir hvordan anlegget er sikret.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10449</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sikring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="drensvann" type="nvdb:DrensvannType">
            <annotation>
              <documentation>10605: Angir om anlegget håndterer drensvan fra tunnel/veg.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10605</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Drensvann</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bassenginndeling" type="nvdb:BassenginndelingType">
            <annotation>
              <documentation>10450: Angir hvordan bassengene er plassert i forhold til hverandre.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10450</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bassenginndeling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materialbruk_Rør" type="nvdb:Materialbruk_RørType">
            <annotation>
              <documentation>10458: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10458</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materialbruk, rør</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilgangForSlamfjerning" type="nvdb:TilgangForSlamfjerningType">
            <annotation>
              <documentation>10459: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10459</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilgang for slamfjerning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="adkomst_Beskrivelse" type="string">
            <annotation>
              <documentation>10599: Nødvendig informasjon for atkomst til bassengene: kjørevei, parkering, nøkler, m.m.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10599</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Adkomst, beskrivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10601: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10601</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10600: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10600</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer_Utslippstillatelse" type="string">
            <annotation>
              <documentation>10606: Gir referanse til relevant sak i vegeiers arkivsystemstem til informasjon om utslippstillatelse.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10606</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Arkivnummer, utslippstillatelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11478: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11478</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12436: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12436</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierVannhåndteringsanleggType">
            <annotation>
              <documentation>10609: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10609</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligVannhåndteringsanleggType">
            <annotation>
              <documentation>10610: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10610</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>10668: Punkt som representerer vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10668</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>10785: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10785</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10669: Gir flate/polygon som geometrisk avgrenser vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10669</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnel" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnel</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTank" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTank</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBassengMagasin" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBassengMagasin</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKum" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKum</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLukketRørgrøft" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktLukketRørgrøft</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VannhåndteringsanleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vannhåndteringsanlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VaskevannTunnelType">
    <annotation>
      <documentation>10603: Angir om anlegget tar i mot vaskevann fra tunnel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10603</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10603</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vaskevann tunnel</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VaskevannTunnelEnumerationType nvdb:VaskevannTunnelOtherType"/>
  </simpleType>
  <simpleType name="VaskevannTunnelEnumerationType">
    <annotation>
      <documentation>10603: Angir om anlegget tar i mot vaskevann fra tunnel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10603</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10603</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vaskevann tunnel</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>17013: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17013</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>17014: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17014</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VaskevannTunnelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVannhåndteringsanleggType">
    <annotation>
      <documentation>10610: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10610</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10610</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligVannhåndteringsanleggEnumerationType nvdb:VedlikeholdsansvarligVannhåndteringsanleggOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVannhåndteringsanleggEnumerationType">
    <annotation>
      <documentation>10610: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10610</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10610</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>17033: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17033</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18741: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18741</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20003: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20003</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18870: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18870</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>17029: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17029</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>17031: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17031</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17788: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17788</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVannhåndteringsanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
