GML/882.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>882: Punkt som representerer systemer som samler opp drensvann og overvann før utslipp i resipient, inkludert tunnelvaskevann. Systemene består av fysiske objekter som leder og samler opp vann før utslipp.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BassenginndelingVannhåndteringsanleggType">
      <annotation>
         <documentation>10450: Angir hvordan bassengene er plassert i forhold til hverandre.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10450</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bassenginndeling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BassenginndelingVannhåndteringsanleggEnumerationType nvdb:BassenginndelingVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="BassenginndelingVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10450: Angir hvordan bassengene er plassert i forhold til hverandre.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10450</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bassenginndeling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="AB">
            <annotation>
               <documentation>16901: Bassengene ligger fysisk adskilt fra hverandre.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16901</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Adskilte basseng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VV">
            <annotation>
               <documentation>16902: Bassengene ligger side ved side kun adskilt med vegg eller terskel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16902</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Basseng vegg i vegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16903</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Felles basseng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BassenginndelingVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="DrensvannVannhåndteringsanleggType">
      <annotation>
         <documentation>10605: Angir om anlegget håndterer drensvann fra tunnel/veg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10605</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drensvann</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DrensvannVannhåndteringsanleggEnumerationType nvdb:DrensvannVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="DrensvannVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10605: Angir om anlegget håndterer drensvann fra tunnel/veg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10605</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drensvann</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17019</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fra tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VD">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17020</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fra veg i dagen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TVD">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17021</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fra veg i dagen og tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17022</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke drensvann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DrensvannVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierVannhåndteringsanleggType">
      <annotation>
         <documentation>10609: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10609</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierVannhåndteringsanleggEnumerationType nvdb:EierVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="EierVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10609: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10609</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17027</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17028</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17030</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18662</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17032</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17639: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17639</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Materialbruk_RørVannhåndteringsanleggType">
      <annotation>
         <documentation>10458: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10458</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialbruk, rør</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Materialbruk_RørVannhåndteringsanleggEnumerationType nvdb:Materialbruk_RørVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="Materialbruk_RørVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10458: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10458</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialbruk, rør</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16922</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16923</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Materialbruk_RørVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OvervannVannhåndteringsanleggType">
      <annotation>
         <documentation>10604: Angir om anlegget håndterer overvann fra tunnel/veg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10604</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overvann</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OvervannVannhåndteringsanleggEnumerationType nvdb:OvervannVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="OvervannVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10604: Angir om anlegget håndterer overvann fra tunnel/veg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10604</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overvann</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17015</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fra tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VD">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17016</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fra veg i dagen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TVD">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17017</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fra veg i dagen og tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17018</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke overvann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OvervannVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RensingVannhåndteringsanleggType">
      <annotation>
         <documentation>10607: Angir om anlegget er tiltenkt å ha rensefunksjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10607</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rensing</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RensingVannhåndteringsanleggEnumerationType nvdb:RensingVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="RensingVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10607: Angir om anlegget er tiltenkt å ha rensefunksjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10607</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rensing</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17038</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17039</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RensingVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SikringVannhåndteringsanleggType">
      <annotation>
         <documentation>10449: Angir hvordan anlegget er sikret.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10449</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sikring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SikringVannhåndteringsanleggEnumerationType nvdb:SikringVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="SikringVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10449: Angir hvordan anlegget er sikret.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10449</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sikring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Inn">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16899</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Inngjerdet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16900</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SikringVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TankbillekkasjeVannhåndteringsanleggType">
      <annotation>
         <documentation>10608: Angir hvorvidt anlegget er dimensjonert for å håndtere lekkasje fra tankbil.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10608</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tankbillekkasje</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TankbillekkasjeVannhåndteringsanleggEnumerationType nvdb:TankbillekkasjeVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="TankbillekkasjeVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10608: Angir hvorvidt anlegget er dimensjonert for å håndtere lekkasje fra tankbil.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10608</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tankbillekkasje</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="I">
            <annotation>
               <documentation>17026: Anlegget har ikke eget system for å fange opp lekkasje fra tankbil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17026</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Håndteres ikke spesielt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ML">
            <annotation>
               <documentation>17025: Eget system for å fange opp mindre lekkasjer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17025</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kun mindre lekkasjer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MT">
            <annotation>
               <documentation>17024: Eget system for å fange opp lekkasje fra tankbil. Er dimensjonert for å ta hånd om lekkasje fra mindre tankbil, dvs. standard lastebil med tank uten henger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17024</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mindre tankbil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TB">
            <annotation>
               <documentation>17023: Eget system for å fange opp lekkasje fra tankbil. Er dimensjonert for å ta hånd om lekkasje fra stor tankbil, dvs. volum inntil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17023</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stor tankbil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TankbillekkasjeVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilgangForSlamfjerningVannhåndteringsanleggType">
      <annotation>
         <documentation>10459: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10459</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilgang for slamfjerning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilgangForSlamfjerningVannhåndteringsanleggEnumerationType nvdb:TilgangForSlamfjerningVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="TilgangForSlamfjerningVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10459: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10459</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilgang for slamfjerning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="last">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16925</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lastebil/gravemaskin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="slam">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16924</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slamsugingsbil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilgangForSlamfjerningVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vannhåndteringsanlegg"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:VannhåndteringsanleggType">
      <annotation>
         <documentation>882: Punkt som representerer systemer som samler opp drensvann og overvann før utslipp i resipient, inkludert tunnelvaskevann. Systemene består av fysiske objekter som leder og samler opp vann før utslipp.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">882</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vannhåndteringsanlegg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VannhåndteringsanleggType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="navn" type="string">
                  <annotation>
                     <documentation>10602: Gir navn på anlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10602</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tankbillekkasje"
                        type="nvdb:TankbillekkasjeVannhåndteringsanleggType">
                  <annotation>
                     <documentation>10608: Angir hvorvidt anlegget er dimensjonert for å håndtere lekkasje fra tankbil.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10608</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tankbillekkasje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="rensing" type="nvdb:RensingVannhåndteringsanleggType">
                  <annotation>
                     <documentation>10607: Angir om anlegget er tiltenkt å ha rensefunksjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10607</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rensing</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="resipient" type="string">
                  <annotation>
                     <documentation>10448: URL til den bestemte forekomsten i vann-nett. Navn på resipient med id fra https://vann-nett.no/portal/</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10448</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Resipient</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vaskevannTunnel">
                  <annotation>
                     <documentation>10603: Angir om anlegget tar i mot vaskevann fra tunnel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10603</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vaskevann tunnel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="overvann"
                        type="nvdb:OvervannVannhåndteringsanleggType">
                  <annotation>
                     <documentation>10604: Angir om anlegget håndterer overvann fra tunnel/veg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10604</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overvann</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sikring" type="nvdb:SikringVannhåndteringsanleggType">
                  <annotation>
                     <documentation>10449: Angir hvordan anlegget er sikret.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10449</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sikring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="drensvann" type="nvdb:DrensvannVannhåndteringsanleggType">
                  <annotation>
                     <documentation>10605: Angir om anlegget håndterer drensvann fra tunnel/veg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10605</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Drensvann</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="bassenginndeling"
                        type="nvdb:BassenginndelingVannhåndteringsanleggType">
                  <annotation>
                     <documentation>10450: Angir hvordan bassengene er plassert i forhold til hverandre.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10450</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bassenginndeling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="materialbruk_Rør">
                  <annotation>
                     <documentation>10458: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10458</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialbruk, rør</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilgangForSlamfjerning">
                  <annotation>
                     <documentation>10459: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10459</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilgang for slamfjerning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="adkomst_Beskrivelse" type="string">
                  <annotation>
                     <documentation>10599: Nødvendig informasjon for atkomst til bassengene: kjørevei, parkering, nøkler, m.m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10599</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Adkomst, beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="linkTilUtslippstillatelseINorskeUtslipp"
                        type="string">
                  <annotation>
                     <documentation>12830: På norskeutslipp.no finnes oppdatert informasjon om utslipp, produksjonsmengder og avfall for de største forurensningskildene i Norge. For veg kan dette være registrert under tunneldrift eller annen aktivitet. Dette gjelder kun utslippstillatelse i permanent driftsfase, ikke anleggsfase.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12830</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Link til utslippstillatelse i Norske utslipp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10601: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10601</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>10600: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10600</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivnummer_Utslippstillatelse" type="string">
                  <annotation>
                     <documentation>10606: Gir referanse til relevant sak i vegeiers arkivsystem til informasjon om utslippstillatelse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10606</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivnummer, utslippstillatelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11478: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11478</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12436: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12436</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierVannhåndteringsanleggType">
                  <annotation>
                     <documentation>10609: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10609</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligVannhåndteringsanleggType">
                  <annotation>
                     <documentation>10610: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10610</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>10668: Punkt som representerer vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10668</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10669: Gir flate/polygon som geometrisk avgrenser vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10669</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VannhåndteringsanleggPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vannhåndteringsanlegg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VaskevannTunnelVannhåndteringsanleggType">
      <annotation>
         <documentation>10603: Angir om anlegget tar i mot vaskevann fra tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10603</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vaskevann tunnel</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VaskevannTunnelVannhåndteringsanleggEnumerationType nvdb:VaskevannTunnelVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="VaskevannTunnelVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10603: Angir om anlegget tar i mot vaskevann fra tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10603</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vaskevann tunnel</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17013</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17014</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VaskevannTunnelVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligVannhåndteringsanleggType">
      <annotation>
         <documentation>10610: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10610</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligVannhåndteringsanleggEnumerationType nvdb:VedlikeholdsansvarligVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10610: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10610</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20003</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17029</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18741</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18870</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17031</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17033</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17788</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
