GML/883.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>883: Vegstrekning som periodevis er stengt av skred eller skredfare. Det kan være krav til at entreprenør skal gjøre skredfarevurderinger på strekningen. Skredutsatt veg kan bestå av ett eller flere skredpunkt (se eget objekt).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="GjentakelsesintervallSkredutsatt vegType">
      <annotation>
         <documentation>10679: Angir hvor ofte det statistisk sett oppstår skred eller skredfare slik at veg må stenges.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10679</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjentakelsesintervall</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GjentakelsesintervallSkredutsatt vegEnumerationType nvdb:GjentakelsesintervallSkredutsatt vegOtherType"/>
   </simpleType>
   <simpleType name="GjentakelsesintervallSkredutsatt vegEnumerationType">
      <annotation>
         <documentation>10679: Angir hvor ofte det statistisk sett oppstår skred eller skredfare slik at veg må stenges.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10679</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjentakelsesintervall</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2ga">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17243</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1-2 ganger årlig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fgm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17242</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flere ganger per måned</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fga">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17244</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flere ganger per år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="25a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17245</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hver 2.-5. år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s5a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17246</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sjeldnere enn hvert 5. år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GjentakelsesintervallSkredutsatt vegOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SkredfarevurderingSkredutsatt vegType">
      <annotation>
         <documentation>12226: Angir om det skal gjøres skredfarevurdering på strekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12226</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredfarevurdering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkredfarevurderingSkredutsatt vegEnumerationType nvdb:SkredfarevurderingSkredutsatt vegOtherType"/>
   </simpleType>
   <simpleType name="SkredfarevurderingSkredutsatt vegEnumerationType">
      <annotation>
         <documentation>12226: Angir om det skal gjøres skredfarevurdering på strekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12226</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredfarevurdering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21336</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21337</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkredfarevurderingSkredutsatt vegOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Skredtype1Skredutsatt vegType">
      <annotation>
         <documentation>10678: Angir vanligste skredtype som gir skred på veg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10678</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredtype1</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Skredtype1Skredutsatt vegEnumerationType nvdb:Skredtype1Skredutsatt vegOtherType"/>
   </simpleType>
   <simpleType name="Skredtype1Skredutsatt vegEnumerationType">
      <annotation>
         <documentation>10678: Angir vanligste skredtype som gir skred på veg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10678</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredtype1</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17238</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flomskred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17239</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Is/steinnedfall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17237</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Isnedfall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17235</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jord/løsmasseskred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SN">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17236</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snøskred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17234</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Steinsprang</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17240</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sørpeskred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17241</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utglidning av veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Skredtype1Skredutsatt vegOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Skredtype2Skredutsatt vegType">
      <annotation>
         <documentation>12102: Angir nest vanligste skredtype som gir skred på veg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12102</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredtype2</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Skredtype2Skredutsatt vegEnumerationType nvdb:Skredtype2Skredutsatt vegOtherType"/>
   </simpleType>
   <simpleType name="Skredtype2Skredutsatt vegEnumerationType">
      <annotation>
         <documentation>12102: Angir nest vanligste skredtype som gir skred på veg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12102</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredtype2</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21031</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flomskred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21032</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Is/steinnedfall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21030</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Isnedfall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21028</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jord/løsmasseskred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SN">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21029</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snøskred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21027</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Steinsprang</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21033</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sørpeskred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21034</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utglidning av veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Skredtype2Skredutsatt vegOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Skredtype3Skredutsatt vegType">
      <annotation>
         <documentation>12103: Angir tredje vanligste skredtype som gir skred på veg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12103</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredtype3</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Skredtype3Skredutsatt vegEnumerationType nvdb:Skredtype3Skredutsatt vegOtherType"/>
   </simpleType>
   <simpleType name="Skredtype3Skredutsatt vegEnumerationType">
      <annotation>
         <documentation>12103: Angir tredje vanligste skredtype som gir skred på veg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12103</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredtype3</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FL">
            <annotation>
               <documentation>21043: Dersom det kan opptre flere enn tre skredtyper på strekningen skal denne verdien angis. Informasjon om hvilke typer det gjelder skal angis under tilleggsinformasjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21043</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flere enn tre skredtyper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21039</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flomskred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21040</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Is/steinnedfall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21038</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Isnedfall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21036</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jord/løsmasseskred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SN">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21037</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snøskred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21035</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Steinsprang</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21041</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sørpeskred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21042</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utglidning av veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Skredtype3Skredutsatt vegOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Skredutsatt veg"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Skredutsatt vegType">
      <annotation>
         <documentation>883: Vegstrekning som periodevis er stengt av skred eller skredfare. Det kan være krav til at entreprenør skal gjøre skredfarevurderinger på strekningen. Skredutsatt veg kan bestå av ett eller flere skredpunkt (se eget objekt).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">883</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredutsatt veg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Skredutsatt vegType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>10676: Gjenkjennbart navn på strekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10676</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="skredtype1" type="nvdb:Skredtype1Skredutsatt vegType">
                  <annotation>
                     <documentation>10678: Angir vanligste skredtype som gir skred på veg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10678</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skredtype1</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="skredtype2"
                        type="nvdb:Skredtype2Skredutsatt vegType">
                  <annotation>
                     <documentation>12102: Angir nest vanligste skredtype som gir skred på veg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12102</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skredtype2</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="skredtype3"
                        type="nvdb:Skredtype3Skredutsatt vegType">
                  <annotation>
                     <documentation>12103: Angir tredje vanligste skredtype som gir skred på veg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12103</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skredtype3</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="gjentakelsesintervall"
                        type="nvdb:GjentakelsesintervallSkredutsatt vegType">
                  <annotation>
                     <documentation>10679: Angir hvor ofte det statistisk sett oppstår skred eller skredfare slik at veg må stenges.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10679</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjentakelsesintervall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="skredfarevurdering"
                        type="nvdb:SkredfarevurderingSkredutsatt vegType">
                  <annotation>
                     <documentation>12226: Angir om det skal gjøres skredfarevurdering på strekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12226</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skredfarevurdering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>10680: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10680</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Skredutsatt vegPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Skredutsatt veg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
