GML/884.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Feierode" substitutionGroup="nvdb:AbstraktFeierode" type="nvdb:FeierodeType">
    <annotation>
      <documentation>884: Strekning som inngår i spesifikk rode for feiing/renhold</documentation>
    </annotation>
  </element>
  <complexType name="FeierodeType">
    <complexContent>
      <extension base="nvdb:AbstraktFeierodeType">
        <sequence>
          <element minOccurs="0" name="nummer" type="integer">
            <annotation>
              <documentation>10681: Angir nummer på rode</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>10682: Angir navn på rode</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prioritet" type="nvdb:PrioritetFeierodeType">
            <annotation>
              <documentation>10683: Angir hvilken prioritet som gjelder for aktuell rode</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="renholdsintervall" type="nvdb:RenholdsintervallType">
            <annotation>
              <documentation>11308: Angir hvor ofte det er planlagt å utføre feiing/renhold på strekning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10684: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks informasjon knyttet til rode.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>11245: Gir flate/polygon som geometrisk avgrenser tilleggsareal som som skal feies, dvs sideareal, plasser, fotau, etc .</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeierodePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Feierode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="PrioritetFeierodeType">
    <annotation>
      <documentation>10683: Angir hvilken prioritet som gjelder for aktuell rode</documentation>
    </annotation>
    <union memberTypes="nvdb:PrioritetFeierodeEnumerationType nvdb:PrioritetFeierodeOtherType"/>
  </simpleType>
  <simpleType name="PrioritetFeierodeEnumerationType">
    <annotation>
      <documentation>10683: Angir hvilken prioritet som gjelder for aktuell rode</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="A">
        <annotation>
          <documentation>17247: Høyest prioritet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>17248: Middels prioritet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="C">
        <annotation>
          <documentation>17249: Lavest prioritet</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PrioritetFeierodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RenholdsintervallType">
    <annotation>
      <documentation>11308: Angir hvor ofte det er planlagt å utføre feiing/renhold på strekning</documentation>
    </annotation>
    <union memberTypes="nvdb:RenholdsintervallEnumerationType nvdb:RenholdsintervallOtherType"/>
  </simpleType>
  <simpleType name="RenholdsintervallEnumerationType">
    <annotation>
      <documentation>11308: Angir hvor ofte det er planlagt å utføre feiing/renhold på strekning</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="daglig">
        <annotation>
          <documentation>19085: Daglig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukentlig">
        <annotation>
          <documentation>19086: Ukentlig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="månedlig">
        <annotation>
          <documentation>19087: Månedlig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2GangerÅrlig">
        <annotation>
          <documentation>19088: 2 ganger årlig</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RenholdsintervallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
