GML/885.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierSanntidsinformasjon_KollektivtrafikkType">
    <annotation>
      <documentation>10687: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10687</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10687</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierSanntidsinformasjon_KollektivtrafikkEnumerationType nvdb:EierSanntidsinformasjon_KollektivtrafikkOtherType"/>
  </simpleType>
  <simpleType name="EierSanntidsinformasjon_KollektivtrafikkEnumerationType">
    <annotation>
      <documentation>10687: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10687</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10687</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>17259: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17259</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18627: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18627</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>17260: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17260</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>17261: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17261</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>17262: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17262</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSanntidsinformasjon_KollektivtrafikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkType">
    <annotation>
      <documentation>10691: Angir hvilken type oppsettingsutstyr som er benyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10691</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10691</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkEnumerationType nvdb:OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkOtherType"/>
  </simpleType>
  <simpleType name="OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkEnumerationType">
    <annotation>
      <documentation>10691: Angir hvilken type oppsettingsutstyr som er benyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10691</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10691</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Eget oppsettingsutstyr">
        <annotation>
          <documentation>17265: Skjerm er festet på eget oppsettingsutstyr, f.eks. egen stolpe,.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17265</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eget oppsettingsutstyr</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Leskur">
        <annotation>
          <documentation>17264: Skjerm er festet på leskur.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17264</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Leskur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegg/mur">
        <annotation>
          <documentation>17266: Skjerm er festet på mur eller vegg/bygning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17266</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegg/mur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen stolpe">
        <annotation>
          <documentation>17267: Skjerm er festet på Skiltstolpe/lysmast etc.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17267</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annen stolpe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Sanntidsinformasjon_Kollektivtrafikk" substitutionGroup="nvdb:AbstraktSanntidsinformasjon_Kollektivtrafikk" type="nvdb:Sanntidsinformasjon_KollektivtrafikkType">
    <annotation>
      <documentation>885: Elektronisk skjerm som viser sanntidsinformasjon knyttet til kollektivtrafikk. Kan f. eks. være informasjon om avgangstider, forsinkelser, m.m.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">885</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">885</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sanntidsinformasjon, kollektivtrafikk</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Sanntidsinformasjon_KollektivtrafikkType">
    <complexContent>
      <extension base="nvdb:AbstraktSanntidsinformasjon_KollektivtrafikkType">
        <sequence>
          <element minOccurs="0" name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkType">
            <annotation>
              <documentation>10691: Angir hvilken type oppsettingsutstyr som er benyttet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10691</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>10690: Høyde fra bakkenivå til nedre kant av skjerm.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10690</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10733: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10733</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>12218: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12218</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>10689: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10689</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11651: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11651</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11177: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11177</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12437: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12437</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierSanntidsinformasjon_KollektivtrafikkType">
            <annotation>
              <documentation>10687: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10687</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSanntidsinformasjon_KollektivtrafikkType">
            <annotation>
              <documentation>10688: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10688</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>10692: Punkt som representerer vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10692</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Sanntidsinformasjon_KollektivtrafikkPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Sanntidsinformasjon_Kollektivtrafikk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligSanntidsinformasjon_KollektivtrafikkType">
    <annotation>
      <documentation>10688: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10688</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10688</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSanntidsinformasjon_KollektivtrafikkEnumerationType nvdb:VedlikeholdsansvarligSanntidsinformasjon_KollektivtrafikkOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSanntidsinformasjon_KollektivtrafikkEnumerationType">
    <annotation>
      <documentation>10688: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10688</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10688</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>17263: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17263</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18668: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18668</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20004: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20004</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18797: Selskap som inngår i Offentlig Privat Samarbeid - avtale.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18797</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>17257: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17257</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>17258: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17258</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSanntidsinformasjon_KollektivtrafikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
