GML/885.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>885: Elektronisk skjerm som viser sanntidsinformasjon knyttet til kollektivtrafikk. Kan f. eks. være informasjon om avgangstider, forsinkelser, m.m.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierSanntidsinformasjon, kollektivtrafikkType">
      <annotation>
         <documentation>10687: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10687</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierSanntidsinformasjon, kollektivtrafikkEnumerationType nvdb:EierSanntidsinformasjon, kollektivtrafikkOtherType"/>
   </simpleType>
   <simpleType name="EierSanntidsinformasjon, kollektivtrafikkEnumerationType">
      <annotation>
         <documentation>10687: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10687</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17260</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17261</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17262</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18627</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SvV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17259</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierSanntidsinformasjon, kollektivtrafikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OppsettingsutstyrSanntidsinformasjon, kollektivtrafikkType">
      <annotation>
         <documentation>10691: Angir hvilken type oppsettingsutstyr som er benyttet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10691</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OppsettingsutstyrSanntidsinformasjon, kollektivtrafikkEnumerationType nvdb:OppsettingsutstyrSanntidsinformasjon, kollektivtrafikkOtherType"/>
   </simpleType>
   <simpleType name="OppsettingsutstyrSanntidsinformasjon, kollektivtrafikkEnumerationType">
      <annotation>
         <documentation>10691: Angir hvilken type oppsettingsutstyr som er benyttet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10691</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>17267: Skjerm er festet på Skiltstolpe/lysmast etc.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17267</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen stolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ES">
            <annotation>
               <documentation>17265: Skjerm er festet på eget oppsettingsutstyr, f.eks. egen stolpe,.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17265</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Eget oppsettingsutstyr</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <documentation>17264: Skjerm er festet på leskur.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17264</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Leskur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VM">
            <annotation>
               <documentation>17266: Skjerm er festet på mur eller vegg/bygning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17266</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegg/mur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OppsettingsutstyrSanntidsinformasjon, kollektivtrafikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Sanntidsinformasjon, kollektivtrafikk"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Sanntidsinformasjon, kollektivtrafikkType">
      <annotation>
         <documentation>885: Elektronisk skjerm som viser sanntidsinformasjon knyttet til kollektivtrafikk. Kan f. eks. være informasjon om avgangstider, forsinkelser, m.m.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">885</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sanntidsinformasjon, kollektivtrafikk</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Sanntidsinformasjon, kollektivtrafikkType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="oppsettingsutstyr"
                        type="nvdb:OppsettingsutstyrSanntidsinformasjon, kollektivtrafikkType">
                  <annotation>
                     <documentation>10691: Angir hvilken type oppsettingsutstyr som er benyttet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10691</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde" type="double">
                  <annotation>
                     <documentation>10690: Høyde fra bakkenivå til nedre kant av skjerm.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10690</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10733: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10733</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent" type="string">
                  <annotation>
                     <documentation>12218: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12218</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>10689: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10689</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11651: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11651</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11177: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11177</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12437: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12437</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="eier"
                        type="nvdb:EierSanntidsinformasjon, kollektivtrafikkType">
                  <annotation>
                     <documentation>10687: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10687</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligSanntidsinformasjon, kollektivtrafikkType">
                  <annotation>
                     <documentation>10688: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10688</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>10692: Punkt som representerer vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10692</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Sanntidsinformasjon, kollektivtrafikkPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Sanntidsinformasjon, kollektivtrafikk"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VedlikeholdsansvarligSanntidsinformasjon, kollektivtrafikkType">
      <annotation>
         <documentation>10688: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10688</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligSanntidsinformasjon, kollektivtrafikkEnumerationType nvdb:VedlikeholdsansvarligSanntidsinformasjon, kollektivtrafikkOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSanntidsinformasjon, kollektivtrafikkEnumerationType">
      <annotation>
         <documentation>10688: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10688</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20004</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17257</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18668</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <documentation>18797: Selskap som inngår i Offentlig Privat Samarbeid - avtale.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18797</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17258</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17263</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSanntidsinformasjon, kollektivtrafikkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
