GML/886.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>886: Strekning/rute som anbefales for omkjøring for en eller flere stengningslenker.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="KjøretøykategoriOmkjøringsruteType">
      <annotation>
         <documentation>10764: Angir hvilken kjøretøykategori omkjøringsruta gjelder for.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10764</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjøretøykategori</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KjøretøykategoriOmkjøringsruteEnumerationType nvdb:KjøretøykategoriOmkjøringsruteOtherType"/>
   </simpleType>
   <simpleType name="KjøretøykategoriOmkjøringsruteEnumerationType">
      <annotation>
         <documentation>10764: Angir hvilken kjøretøykategori omkjøringsruta gjelder for.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10764</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjøretøykategori</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Alle kjøretøy">
            <annotation>
               <documentation>17435: Omkjøringsrute gjelder for både lette og tunge kjøretøy som ikke overskrider eventuelle begrensinger angitt i veglistene.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17435</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Alle kjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <documentation>17434: Omkjøringsrute gjelder kun for lette kjøretøy.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17434</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lette kjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KjøretøykategoriOmkjøringsruteOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="NivåOmkjøringsruteType">
      <annotation>
         <documentation>10702: Angir om det er lokal eller overordnet omkjøringsrute. Lokale kontra overordna går på om en omkjøringsrute er beregnet for å hovedsakelig ta seg av lokaltrafikk eller om den også kan ta gjennomgangstrafikken. Lokale o. er beregna for å ta lokal trafikk, overordna o. er beregna for gjennomgangstrafikk og fanger gjerne opp trafikken et godt stykke før aktuell stengningslenke. Se også Håndbok R611 kap. 7.4.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10702</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nivå</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NivåOmkjøringsruteEnumerationType nvdb:NivåOmkjøringsruteOtherType"/>
   </simpleType>
   <simpleType name="NivåOmkjøringsruteEnumerationType">
      <annotation>
         <documentation>10702: Angir om det er lokal eller overordnet omkjøringsrute. Lokale kontra overordna går på om en omkjøringsrute er beregnet for å hovedsakelig ta seg av lokaltrafikk eller om den også kan ta gjennomgangstrafikken. Lokale o. er beregna for å ta lokal trafikk, overordna o. er beregna for gjennomgangstrafikk og fanger gjerne opp trafikken et godt stykke før aktuell stengningslenke. Se også Håndbok R611 kap. 7.4.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10702</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nivå</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="L">
            <annotation>
               <documentation>17288: Omkjøringsrute som er egnet for lokaltrafikk. Se Håndbok R611, kap. 7.4.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17288</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lokal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O">
            <annotation>
               <documentation>17289: Omkjøringsrute som er egnet for å ta gjennomgangstrafikk. Se også Håndbok R611, kap. 7.4.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17289</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Overordnet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NivåOmkjøringsruteOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Omkjøringsrute"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:OmkjøringsruteType">
      <annotation>
         <documentation>886: Strekning/rute som anbefales for omkjøring for en eller flere stengningslenker.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">886</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Omkjøringsrute</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="OmkjøringsruteType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="strekningsnavn" type="string">
                  <annotation>
                     <documentation>10700: Navn på omkjøringsrute. Merknad: Navn skal settes sammen av stedsnavn/kryssnavn ved start og slutt på omkjøringsruta, fortrinnsvis samme navn som benyttes på aktuelle stengningslenker, i tillegg kan det tas med navn på sted eller vegnummer som ruta går via. Navn skal angis i samme rekkefølge som på stengningslenke, med unntak av omkjøringsruter som kun gjelder omkjøring mot stengningslenkens retning. Eksempel på navn på omkjøringsrute "Hommelvik - Værnes, via FV 950".Det skal angis tydelige og beskrivende navn med tanke på at navn også skal benyttes ved trafikkinformasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10700</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekningsnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="omkjøringForVeg" type="string">
                  <annotation>
                     <documentation>10797: Angir hvilken veg omkjøringsruta er omkjøringsrute for. Angis med vegkategori-vegstatus-vegnummer, f.eks. RV9, EV6 osv. (0-er foran i vegnummer skal ikke angis). Gatenavn kan angis om det er snakk om omkjøringsrute for gater/kommunale veger. Om ulik veg ved start og slutt skal veg ved start angis.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10797</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Omkjøring for veg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="retning" type="nvdb:RetningOmkjøringsruteType">
                  <annotation>
                     <documentation>10704: Angir om omkjøringsruta gjelder for begge kjøreretninger eller kun en veg. Utfyllende informasjon kan gis i merknadsfelt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10704</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Retning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="nivå" type="nvdb:NivåOmkjøringsruteType">
                  <annotation>
                     <documentation>10702: Angir om det er lokal eller overordnet omkjøringsrute. Lokale kontra overordna går på om en omkjøringsrute er beregnet for å hovedsakelig ta seg av lokaltrafikk eller om den også kan ta gjennomgangstrafikken. Lokale o. er beregna for å ta lokal trafikk, overordna o. er beregna for gjennomgangstrafikk og fanger gjerne opp trafikken et godt stykke før aktuell stengningslenke. Se også Håndbok R611 kap. 7.4.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10702</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nivå</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoGodkjent" type="date">
                  <annotation>
                     <documentation>12963: Angir dato for når omkjøringsrute ble godkjent.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12963</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato godkjent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>10703: Kan gi tilleggsinformasjon. F.eks. om det er behov for utfyllende beskrivelse av hvor ruta går, om det er restriksjoner knyttet til tungtrafikk, retning på trafikk etc.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10703</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="øktKjørelengde" type="double">
                  <annotation>
                     <documentation>10763: Angir hvor mye lengre det er å kjøre omkjøringsrute i forhold til å kjøre på den stengte hovedvegen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10763</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Økt kjørelengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="øktKjøretid" type="double">
                  <annotation>
                     <documentation>10767: Angir hvor mye lengre tid det tar å kjøre omkjøringsruta i forhold til å kjøre på den stengte hovedvegen. Det legges til grunn normale trafikk- og føreforhold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10767</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Økt kjøretid</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kjøretøykategori" type="nvdb:KjøretøykategoriOmkjøringsruteType">
                  <annotation>
                     <documentation>10764: Angir hvilken kjøretøykategori omkjøringsruta gjelder for.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10764</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kjøretøykategori</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="OmkjøringsrutePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Omkjøringsrute"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="RetningOmkjøringsruteType">
      <annotation>
         <documentation>10704: Angir om omkjøringsruta gjelder for begge kjøreretninger eller kun en veg. Utfyllende informasjon kan gis i merknadsfelt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10704</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Retning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RetningOmkjøringsruteEnumerationType nvdb:RetningOmkjøringsruteOtherType"/>
   </simpleType>
   <simpleType name="RetningOmkjøringsruteEnumerationType">
      <annotation>
         <documentation>10704: Angir om omkjøringsruta gjelder for begge kjøreretninger eller kun en veg. Utfyllende informasjon kan gis i merknadsfelt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10704</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Retning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <documentation>17290: Omkjøringsrute benyttes for trafikk i begge retninger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17290</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Begge</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="E">
            <annotation>
               <documentation>17291: Omkjøringsrute benyttes av trafikk som kjører i den retningen som det er angitt i navn på omkjøringsruta.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17291</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">En veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RetningOmkjøringsruteOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
