GML/887.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>887: Strekning med ensartet trafikkberedskapsklasse.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Trafikkberedskapsklasse"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:TrafikkberedskapsklasseType">
      <annotation>
         <documentation>887: Strekning med ensartet trafikkberedskapsklasse.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">887</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkberedskapsklasse</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TrafikkberedskapsklasseType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="trafikkberedskapsklasse"
                        type="nvdb:TrafikkberedskapsklasseTrafikkberedskapsklasseType">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10698</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Trafikkberedskapsklasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TrafikkberedskapsklassePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trafikkberedskapsklasse"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TrafikkberedskapsklasseTrafikkberedskapsklasseType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10698</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkberedskapsklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TrafikkberedskapsklasseTrafikkberedskapsklasseEnumerationType nvdb:TrafikkberedskapsklasseTrafikkberedskapsklasseOtherType"/>
   </simpleType>
   <simpleType name="TrafikkberedskapsklasseTrafikkberedskapsklasseEnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10698</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkberedskapsklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17283</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TBK1A</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17284</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TBK1B</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17285</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TBK2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17286</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TBK3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17287</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TBK4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TrafikkberedskapsklasseTrafikkberedskapsklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
