GML/887.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Trafikkberedskapsklasse" substitutionGroup="nvdb:AbstraktTrafikkberedskapsklasse" type="nvdb:TrafikkberedskapsklasseType">
    <annotation>
      <documentation>887: Strekning med ensartet trafikkberedskapsklasse.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">887</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">887</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkberedskapsklasse</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkberedskapsklasseType">
    <complexContent>
      <extension base="nvdb:AbstraktTrafikkberedskapsklasseType">
        <sequence>
          <element name="trafikkberedskapsklasse" type="nvdb:TrafikkberedskapsklasseTrafikkberedskapsklasseType">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10698</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Trafikkberedskapsklasse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkberedskapsklassePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkberedskapsklasse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TrafikkberedskapsklasseTrafikkberedskapsklasseType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10698</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10698</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkberedskapsklasse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TrafikkberedskapsklasseTrafikkberedskapsklasseEnumerationType nvdb:TrafikkberedskapsklasseTrafikkberedskapsklasseOtherType"/>
  </simpleType>
  <simpleType name="TrafikkberedskapsklasseTrafikkberedskapsklasseEnumerationType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10698</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10698</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkberedskapsklasse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="TBK1A">
        <annotation>
          <documentation>17283: Vegnett i klasse TBK1 som er tilrettelagt for å iverksette omkjøringsrute ved hjelp av variable skilt som fjernstyres fra VTS.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17283</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TBK1A</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TBK1B">
        <annotation>
          <documentation>17284: Vegnett i klasse TBK1 hvor iverksetting av omkjøringsrute etableres manuelt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17284</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TBK1B</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TBK2">
        <annotation>
          <documentation>17285: Overordnet vegnett og viktige regionale ruter for næringstransport (som ikke tilfredsstiller kriteriene for TBK1) skal kategoriseres i trafikkberedskapsklasse 2 (TBK2).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17285</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TBK2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TBK3">
        <annotation>
          <documentation>17286: Veger som er av betydning for næringstransport, men som ikke er kategorisert i TBK1 eller TBK2, skal kategoriseres i trafikkberedskapsklasse 3 (TBK3).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17286</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TBK3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TBK4">
        <annotation>
          <documentation>17287: Øvrige veger som ikke er kategorisert i TBK1, TBK2 eller TBK3, kategoriseres i TBK4.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17287</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TBK4</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrafikkberedskapsklasseTrafikkberedskapsklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
