GML/888.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Stengningslenke" substitutionGroup="nvdb:AbstraktStengningslenke" type="nvdb:StengningslenkeType">
    <annotation>
      <documentation>888: Delstrekning av en veg mellom to eller flere kryss, hvor det finnes alternativ omkjøringsrute. Merknad:  Det kan også angis stengningslenker for delstrekninger som ikke har omkjøringsruter. (Kilde HB R611)</documentation>
    </annotation>
  </element>
  <complexType name="StengningslenkeType">
    <complexContent>
      <extension base="nvdb:AbstraktStengningslenkeType">
        <sequence>
          <element minOccurs="0" name="nummer" type="string">
            <annotation>
              <documentation>10705: Angir nummer for stengningslenke. Nummereringssystem er beskrevet i HB R611, kap 7,4. Eksempel: Oppland E6 stengningslenke 8 benevnes: 05-EV00006-008</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="strekningsnavn" type="string">
            <annotation>
              <documentation>10706: Navn på stengningslenke. Det skal benyttes stedsnavn eller kryssnavn ved start og slutt av lenka. Stengningslenkene skal navngis i vegens metreringsretning. Det skal angis  tydelige og beskrivende navn med tanke på at navn også kan benyttes ved trafikkinformasjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string"/>
          <element minOccurs="0" name="arkivnummer" type="string">
            <annotation>
              <documentation>10762: Gir referanse til relevant sak i vegeiers arkivsystem</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertOmkjøringsrute" type="nvdb:AbstraktOmkjøringsrutePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StengningslenkePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Stengningslenke"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
