GML/889.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Bruksklasse_Modulvogntog" substitutionGroup="nvdb:AbstraktBruksklasse_Modulvogntog" type="nvdb:Bruksklasse_ModulvogntogType">
    <annotation>
      <documentation>889: Gjeldende bruksklasse for modulvogntog i vegliste.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">889</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">889</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse, modulvogntog</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Bruksklasse_ModulvogntogType">
    <complexContent>
      <extension base="nvdb:AbstraktBruksklasse_ModulvogntogType">
        <sequence>
          <element minOccurs="0" name="strekningsbeskrivelse" type="string">
            <annotation>
              <documentation>10738: Beskrivelse av aktuell vegstrekning. Denne teksten blir henta direkte inn i veglistene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10738</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksTotalvekt" type="nvdb:MaksTotalvektType">
            <annotation>
              <documentation>10741: Angir maksimal tillatt totalvekt for modulvogntog.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10741</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Maks totalvekt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksVogntoglengde" type="nvdb:MaksVogntoglengdeType">
            <annotation>
              <documentation>10742: Angir maksimal tillatt lengde for modulvogntog.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10742</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterstengtFor60Tonn" type="nvdb:VinterstengtFor60TonnType">
            <annotation>
              <documentation>10743: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10743</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vinterstengt for 60 tonn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjelderIkkeLinksemitrailer" type="nvdb:GjelderIkkeLinksemitrailerType">
            <annotation>
              <documentation>10744: Veger som er merket med L i kolonne for type modulvogntog er ikke tillatt for modulvogntog som nevnt i bokstav b nr. 3.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10744</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder ikke linksemitrailer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>11544: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11544</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="veglisteGjelderAlltid" type="string">
            <annotation>
              <documentation>10745: Veglister er forskrift og gjelder alltid foran kartvisning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10745</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vegliste gjelder alltid</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Bruksklasse_ModulvogntogPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bruksklasse_Modulvogntog"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="GjelderIkkeLinksemitrailerType">
    <annotation>
      <documentation>10744: Veger som er merket med L i kolonne for type modulvogntog er ikke tillatt for modulvogntog som nevnt i bokstav b nr. 3.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10744</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10744</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder ikke linksemitrailer</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GjelderIkkeLinksemitrailerEnumerationType nvdb:GjelderIkkeLinksemitrailerOtherType"/>
  </simpleType>
  <simpleType name="GjelderIkkeLinksemitrailerEnumerationType">
    <annotation>
      <documentation>10744: Veger som er merket med L i kolonne for type modulvogntog er ikke tillatt for modulvogntog som nevnt i bokstav b nr. 3.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10744</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10744</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder ikke linksemitrailer</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="L">
        <annotation>
          <documentation>17398: Modulvogntog av type Linksemitrailer er IKKE tillatt på strekning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17398</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">L</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjelderIkkeLinksemitrailerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaksTotalvektType">
    <annotation>
      <documentation>10741: Angir maksimal tillatt totalvekt for modulvogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10741</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10741</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Maks totalvekt</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaksTotalvektEnumerationType nvdb:MaksTotalvektOtherType"/>
  </simpleType>
  <simpleType name="MaksTotalvektEnumerationType">
    <annotation>
      <documentation>10741: Angir maksimal tillatt totalvekt for modulvogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10741</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10741</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Maks totalvekt</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Bk 10/50">
        <annotation>
          <documentation>17394: Bk 10/50</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17394</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk 10/50</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bk 10/60">
        <annotation>
          <documentation>17395: Bk 10/60</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17395</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk 10/60</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaksTotalvektOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaksVogntoglengdeType">
    <annotation>
      <documentation>10742: Angir maksimal tillatt lengde for modulvogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10742</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10742</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaksVogntoglengdeEnumerationType nvdb:MaksVogntoglengdeOtherType"/>
  </simpleType>
  <simpleType name="MaksVogntoglengdeEnumerationType">
    <annotation>
      <documentation>10742: Angir maksimal tillatt lengde for modulvogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10742</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10742</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="25,25">
        <annotation>
          <documentation>17396: 25,25</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17396</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">25,25</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaksVogntoglengdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VinterstengtFor60TonnType">
    <annotation>
      <documentation>10743: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10743</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10743</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vinterstengt for 60 tonn</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VinterstengtFor60TonnEnumerationType nvdb:VinterstengtFor60TonnOtherType"/>
  </simpleType>
  <simpleType name="VinterstengtFor60TonnEnumerationType">
    <annotation>
      <documentation>10743: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10743</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10743</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vinterstengt for 60 tonn</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="V">
        <annotation>
          <documentation>17397: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17397</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">V</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VinterstengtFor60TonnOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
