GML/889.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>889: Gjeldende bruksklasse for modulvogntog i vegliste.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AksellastTeleløsningBruksklasse, modulvogntogType">
      <annotation>
         <documentation>12909: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12909</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AksellastTeleløsningBruksklasse, modulvogntogEnumerationType nvdb:AksellastTeleløsningBruksklasse, modulvogntogOtherType"/>
   </simpleType>
   <simpleType name="AksellastTeleløsningBruksklasse, modulvogntogEnumerationType">
      <annotation>
         <documentation>12909: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12909</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22347</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22348</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22349</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22350</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22351</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AksellastTeleløsningBruksklasse, modulvogntogOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Bruksklasse, modulvogntog"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Bruksklasse, modulvogntogType">
      <annotation>
         <documentation>889: Gjeldende bruksklasse for modulvogntog i vegliste.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">889</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse, modulvogntog</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Bruksklasse, modulvogntogType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="maksTotalvekt">
                  <annotation>
                     <documentation>10741: Angir maksimal tillatt totalvekt for modulvogntog.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10741</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks totalvekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="maksVogntoglengde">
                  <annotation>
                     <documentation>10742: Angir maksimal tillatt lengde for modulvogntog.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10742</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="gjelderIkkeLinksemitrailer">
                  <annotation>
                     <documentation>10744: Veger som er merket med L i kolonne for type modulvogntog er ikke tillatt for modulvogntog som nevnt i bokstav b nr. 3.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10744</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder ikke linksemitrailer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vinterstengtFor60Tonn">
                  <annotation>
                     <documentation>10743: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10743</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vinterstengt for 60 tonn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="aksellastTeleløsning">
                  <annotation>
                     <documentation>12909: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12909</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="telerestriksjonFraDato" type="date">
                  <annotation>
                     <documentation>12887: Feltet angir dato for når telerestriksjon starter. Dato bestemmes av vegeier på bakgrunn av vær- og føreforhold, og settes derfor kort tid før endringen trer i kraft. Dato fra tidligere år er kun historikk og ikke grunnlag for årets endringer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12887</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Telerestriksjon fra dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="telerestriksjonTilDato" type="date">
                  <annotation>
                     <documentation>12893: Feltet angir dato for når telerestriksjon slutter. Dato bestemmes av vegeier på bakgrunn av vær- og føreforhold, og settes derfor kort tid før endringen trer i kraft. Dato fra tidligere år er kun historikk og ikke grunnlag for årets endringer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12893</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Telerestriksjon til dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="strekningsbeskrivelse" type="string">
                  <annotation>
                     <documentation>10738: Beskrivelse av aktuell vegstrekning. Denne teksten blir henta direkte inn i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10738</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>11544: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11544</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="veglisteGjelderAlltid" type="string">
                  <annotation>
                     <documentation>10745: Veglister er forskrift og gjelder alltid foran kartvisning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10745</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegliste gjelder alltid</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Bruksklasse, modulvogntogPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Bruksklasse, modulvogntog"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="GjelderIkkeLinksemitrailerBruksklasse, modulvogntogType">
      <annotation>
         <documentation>10744: Veger som er merket med L i kolonne for type modulvogntog er ikke tillatt for modulvogntog som nevnt i bokstav b nr. 3.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10744</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjelder ikke linksemitrailer</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GjelderIkkeLinksemitrailerBruksklasse, modulvogntogEnumerationType nvdb:GjelderIkkeLinksemitrailerBruksklasse, modulvogntogOtherType"/>
   </simpleType>
   <simpleType name="GjelderIkkeLinksemitrailerBruksklasse, modulvogntogEnumerationType">
      <annotation>
         <documentation>10744: Veger som er merket med L i kolonne for type modulvogntog er ikke tillatt for modulvogntog som nevnt i bokstav b nr. 3.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10744</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjelder ikke linksemitrailer</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="L">
            <annotation>
               <documentation>17398: Modulvogntog av type Linksemitrailer er IKKE tillatt på strekning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17398</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">L</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GjelderIkkeLinksemitrailerBruksklasse, modulvogntogOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaksTotalvektBruksklasse, modulvogntogType">
      <annotation>
         <documentation>10741: Angir maksimal tillatt totalvekt for modulvogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10741</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks totalvekt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaksTotalvektBruksklasse, modulvogntogEnumerationType nvdb:MaksTotalvektBruksklasse, modulvogntogOtherType"/>
   </simpleType>
   <simpleType name="MaksTotalvektBruksklasse, modulvogntogEnumerationType">
      <annotation>
         <documentation>10741: Angir maksimal tillatt totalvekt for modulvogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10741</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks totalvekt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17394</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk 10/50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="60">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17395</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk 10/60</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaksTotalvektBruksklasse, modulvogntogOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, modulvogntogType">
      <annotation>
         <documentation>10742: Angir maksimal tillatt lengde for modulvogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10742</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaksVogntoglengdeBruksklasse, modulvogntogEnumerationType nvdb:MaksVogntoglengdeBruksklasse, modulvogntogOtherType"/>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, modulvogntogEnumerationType">
      <annotation>
         <documentation>10742: Angir maksimal tillatt lengde for modulvogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10742</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2525">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17396</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">25,25</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, modulvogntogOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VinterstengtFor60TonnBruksklasse, modulvogntogType">
      <annotation>
         <documentation>10743: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10743</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterstengt for 60 tonn</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VinterstengtFor60TonnBruksklasse, modulvogntogEnumerationType nvdb:VinterstengtFor60TonnBruksklasse, modulvogntogOtherType"/>
   </simpleType>
   <simpleType name="VinterstengtFor60TonnBruksklasse, modulvogntogEnumerationType">
      <annotation>
         <documentation>10743: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10743</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterstengt for 60 tonn</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="V">
            <annotation>
               <documentation>17397: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17397</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">V</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VinterstengtFor60TonnBruksklasse, modulvogntogOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
