GML/89.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>89: System for regulering og varsling av trafikk. Det er sammensatt av flere signalpunkt med tilhørende signalhoder og blir styrt av et styreapparat. Merknad: Rødblinkanlegg er som regel egne signalanlegg på hvert sted, dvs. rødblink i en ende av en tunnel er et annet signalanlegg enn rødblink i andre enden av tunnelen. Motsatt kan signalpunkt ved et gangfelt høre sammen i samme signalanlegg som signalpunkt for et kryss like ved.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeSignalanleggType">
      <annotation>
         <documentation>1273: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1273</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeSignalanleggEnumerationType nvdb:BruksområdeSignalanleggOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeSignalanleggEnumerationType">
      <annotation>
         <documentation>1273: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1273</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ra">
            <annotation>
               <documentation>2980: Signalanlegg for varsling/stengning av veg pga. annen fare. Normalt inngår rødblink ved stengepunkt/bom. Gulblink kan inngå i forbindelse med varsling/skilting.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2980</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen fare</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bs">
            <annotation>
               <documentation>4873: Signalanlegg for dirigering av trafikk i forbindelse med bomstasjoner. Det benyttes normalt tolyssignaler.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4873</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rb">
            <annotation>
               <documentation>2978: Signalanlegg for varsling/stengning av bru. Normalt inngår rødblink ved stengepunkt/bom. Gulblink kan inngå i forbindelse med varsling/skilting.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2978</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fk">
            <annotation>
               <documentation>4872: Signalanlegg for dirigering av trafikk i forbindelse med om bord- og i ilandkjøring på ferjeleier. Det benyttes normalt Tolyssignaler.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4872</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ferjekai</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gf">
            <annotation>
               <documentation>2975: Signalanlegg for regulering av gangfelt utenfor signalregulerte vegkryss.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2975</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gangfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gb">
            <annotation>
               <documentation>11721: Gult blinkanlegg for varsling av fare. Merknad: Kombinerte gult/rødt blink anlegg gis spesifkt bruksområde.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11721</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gult blinksignal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rh">
            <annotation>
               <documentation>4870: Signalanlegg for varsling/stengning av høgfjellsstrekning. Normalt inngår rødblink ved stengepunkt/bom. Gulblink kan inngå i forbindelse med varsling/skilting.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4870</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Høgfjellsstrekning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bj">
            <annotation>
               <documentation>4874: Signalanlegg i forbindelse med jernbanekryssing.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4874</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jernbane</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kf">
            <annotation>
               <documentation>2979: Signalanlegg for visning av trafikkretning for ett eller flere kjørefelt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2979</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjørefeltsignal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rl">
            <annotation>
               <documentation>4875: Signalanlegg for varsling/stengning av vegstrrekning pga. at et kjøretøy er for høgt. Normalt inngår rødblink ved stengepunkt/bom. Gulblink kan inngå i forbindelse med varsling/skilting.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4875</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lav høyde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <documentation>11718: Signalanlegg for dirigering av trafikk i forbindelse med parkeringsanlegg. Det benyttes normalt tolyssignaler.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11718</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Parkering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sr">
            <annotation>
               <documentation>18277: Signalanlegg som benyttes for å styre tilførsel av trafikk fra rampe til hovedveg. Signalanlegget skal bare slippe én bil av gangen over på grønt lys.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18277</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signaler for rampekontroll</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rs">
            <annotation>
               <documentation>4871: Signalanlegg for varsling/stengning av vegstrekning pga. skred eller fare for skred. Normalt inngår rødblink ved stengepunkt/bom. Gulblink kan inngå i forbindelse med varsling/skilting.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4871</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skred/skredfare</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ss">
            <annotation>
               <documentation>2977: Signalanlegg for regulering av trafikken på steder utenfor vegkryss hvor bare én kjøreretning kan avvikles om gangen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2977</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skyttelsignalanlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rt">
            <annotation>
               <documentation>4876: Signalanlegg for varsling/stengning av tunnel. Normalt inngår rødblink ved stengepunkt/bom. Gulblink kan inngå i forbindelse med varsling/skilting.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4876</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ru">
            <annotation>
               <documentation>11720: Signalanlegg for varsling/stengning av vegstrekning pga. utrykning fra brannstasjon, politistasjon, etc. tunnel. Normalt inngår rødblink ved stengepunkt/bom. Gulblink kan inngå i forbindelse med varsling/skilting.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11720</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utrykningsstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vk">
            <annotation>
               <documentation>2974: Signalanlegg for regulering av vegkryss. Kan bestå av kjøretøysignaler (trelyssignal, sykkelsignal og pilsignal), fotgjengersignal og kollektivsignal.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2974</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegkryss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rv">
            <annotation>
               <documentation>11719: Signalanlegg for varsling/stengning av vegstrekning pga. sterk vind/uvær. Normalt inngår rødblink ved stengepunkt/bom. Gulblink kan inngå i forbindelse med varsling/skilting.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11719</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vind/uvær</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeSignalanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierSignalanleggType">
      <annotation>
         <documentation>7998: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7998</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierSignalanleggEnumerationType nvdb:EierSignalanleggOtherType"/>
   </simpleType>
   <simpleType name="EierSignalanleggEnumerationType">
      <annotation>
         <documentation>7998: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7998</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10726</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10328</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10392</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18567</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10264</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17571: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17571</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierSignalanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EnergitilførselSignalanleggType">
      <annotation>
         <documentation>8822: Angir hvilken energitilførsel det er til signalanlegget.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8822</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Energitilførsel</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EnergitilførselSignalanleggEnumerationType nvdb:EnergitilførselSignalanleggOtherType"/>
   </simpleType>
   <simpleType name="EnergitilførselSignalanleggEnumerationType">
      <annotation>
         <documentation>8822: Angir hvilken energitilførsel det er til signalanlegget.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8822</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Energitilførsel</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="S1">
            <annotation>
               <documentation>11735: (0-50VAC, 0-120VDC).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11735</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spenningsbånd I</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S2">
            <annotation>
               <documentation>11736: (50-1000VAC, 120-1500VDC).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11736</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spenningsbånd II</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EnergitilførselSignalanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="LyshoderSignalanleggType">
      <annotation>
         <documentation>8823: Angir hvilken type lyshoder som er benyttet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8823</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lyshoder</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LyshoderSignalanleggEnumerationType nvdb:LyshoderSignalanleggOtherType"/>
   </simpleType>
   <simpleType name="LyshoderSignalanleggEnumerationType">
      <annotation>
         <documentation>8823: Angir hvilken type lyshoder som er benyttet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8823</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lyshoder</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="G1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11732</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glødelampe spenningsbånd I</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11733</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glødelampe spenningsbånd II</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lg">
            <annotation>
               <documentation>18309: Signalanlegget har kombinasjon av LED og Glødelamper.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18309</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kombinasjon Led/Glødelampe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LED">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11734</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">LED</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LyshoderSignalanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OmrådestyringSignalanleggType">
      <annotation>
         <documentation>8819: Angir om signalanlegg er områdestyrt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8819</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Områdestyring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OmrådestyringSignalanleggEnumerationType nvdb:OmrådestyringSignalanleggOtherType"/>
   </simpleType>
   <simpleType name="OmrådestyringSignalanleggEnumerationType">
      <annotation>
         <documentation>8819: Angir om signalanlegg er områdestyrt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8819</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Områdestyring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11726</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11727</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OmrådestyringSignalanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OvervåkingFraVTSSignalanleggType">
      <annotation>
         <documentation>8820: Angir om signalanlegg kan overvåkes fra VTS.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8820</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overvåking fra VTS</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OvervåkingFraVTSSignalanleggEnumerationType nvdb:OvervåkingFraVTSSignalanleggOtherType"/>
   </simpleType>
   <simpleType name="OvervåkingFraVTSSignalanleggEnumerationType">
      <annotation>
         <documentation>8820: Angir om signalanlegg kan overvåkes fra VTS.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8820</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overvåking fra VTS</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11728</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11729</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OvervåkingFraVTSSignalanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SamkjørtSignalanleggType">
      <annotation>
         <documentation>8818: Angir om signalanlegget er samkjørt med andre signalanlegg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8818</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Samkjørt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SamkjørtSignalanleggEnumerationType nvdb:SamkjørtSignalanleggOtherType"/>
   </simpleType>
   <simpleType name="SamkjørtSignalanleggEnumerationType">
      <annotation>
         <documentation>8818: Angir om signalanlegget er samkjørt med andre signalanlegg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8818</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Samkjørt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11724</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11725</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SamkjørtSignalanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Signalanlegg"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:SignalanleggType">
      <annotation>
         <documentation>89: System for regulering og varsling av trafikk. Det er sammensatt av flere signalpunkt med tilhørende signalhoder og blir styrt av et styreapparat. Merknad: Rødblinkanlegg er som regel egne signalanlegg på hvert sted, dvs. rødblink i en ende av en tunnel er et annet signalanlegg enn rødblink i andre enden av tunnelen. Motsatt kan signalpunkt ved et gangfelt høre sammen i samme signalanlegg som signalpunkt for et kryss like ved.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">89</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signalanlegg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SignalanleggType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="anleggsnummer" type="string">
                  <annotation>
                     <documentation>8809: Gir unikt nummer til signalanlegget. Nummeret er sammensatt av kommunenummer (4 siffer) og et tresifret løpenummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8809</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Anleggsnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="navn" type="string">
                  <annotation>
                     <documentation>7570: Angir navn på signalanlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7570</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bruksområde" type="nvdb:BruksområdeSignalanleggType">
                  <annotation>
                     <documentation>1273: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1273</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vedtaksnummer" type="string">
                  <annotation>
                     <documentation>1889: Angir vedtaksnummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1889</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedtaksnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="igangsettingsdato" type="date">
                  <annotation>
                     <documentation>8813: Angir dato det ble satt i drift signalanlegg første gang på dette stedet uavhengig av eventuell utskifting av utstyr eller mindre endringer i reguleringen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8813</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Igangsettingsdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tidsstyrt" type="nvdb:TidsstyrtSignalanleggType">
                  <annotation>
                     <documentation>8816: Angir om Signalanlegg er tidsstyrt eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8816</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tidsstyrt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="trafikkstyrt" type="nvdb:TrafikkstyrtSignalanleggType">
                  <annotation>
                     <documentation>8817: Angir om signalanlegg er trafikkstyrt eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8817</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Trafikkstyrt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="samkjørt" type="nvdb:SamkjørtSignalanleggType">
                  <annotation>
                     <documentation>8818: Angir om signalanlegget er samkjørt med andre signalanlegg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8818</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Samkjørt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="områdestyring" type="nvdb:OmrådestyringSignalanleggType">
                  <annotation>
                     <documentation>8819: Angir om signalanlegg er områdestyrt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8819</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Områdestyring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="overvåkingFraVTS">
                  <annotation>
                     <documentation>8820: Angir om signalanlegg kan overvåkes fra VTS.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8820</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overvåking fra VTS</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="styringFraVTS">
                  <annotation>
                     <documentation>3758: Angir om det er mulig å styre anlegg fra VTS.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3758</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Styring fra VTS</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="energitilførsel"
                        type="nvdb:EnergitilførselSignalanleggType">
                  <annotation>
                     <documentation>8822: Angir hvilken energitilførsel det er til signalanlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8822</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Energitilførsel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lyshoder" type="nvdb:LyshoderSignalanleggType">
                  <annotation>
                     <documentation>8823: Angir hvilken type lyshoder som er benyttet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8823</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lyshoder</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>8811: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8811</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11074: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11074</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12314: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12314</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierSignalanleggType">
                  <annotation>
                     <documentation>7998: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7998</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligSignalanleggType">
                  <annotation>
                     <documentation>3824: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3824</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4789: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4789</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>8919: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8919</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SignalanleggPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Signalanlegg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="StyringFraVTSSignalanleggType">
      <annotation>
         <documentation>3758: Angir om det er mulig å styre anlegg fra VTS.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3758</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Styring fra VTS</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StyringFraVTSSignalanleggEnumerationType nvdb:StyringFraVTSSignalanleggOtherType"/>
   </simpleType>
   <simpleType name="StyringFraVTSSignalanleggEnumerationType">
      <annotation>
         <documentation>3758: Angir om det er mulig å styre anlegg fra VTS.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3758</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Styring fra VTS</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4725</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4726</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StyringFraVTSSignalanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TidsstyrtSignalanleggType">
      <annotation>
         <documentation>8816: Angir om Signalanlegg er tidsstyrt eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8816</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tidsstyrt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TidsstyrtSignalanleggEnumerationType nvdb:TidsstyrtSignalanleggOtherType"/>
   </simpleType>
   <simpleType name="TidsstyrtSignalanleggEnumerationType">
      <annotation>
         <documentation>8816: Angir om Signalanlegg er tidsstyrt eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8816</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tidsstyrt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11722</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11723</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TidsstyrtSignalanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TrafikkstyrtSignalanleggType">
      <annotation>
         <documentation>8817: Angir om signalanlegg er trafikkstyrt eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8817</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkstyrt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TrafikkstyrtSignalanleggEnumerationType nvdb:TrafikkstyrtSignalanleggOtherType"/>
   </simpleType>
   <simpleType name="TrafikkstyrtSignalanleggEnumerationType">
      <annotation>
         <documentation>8817: Angir om signalanlegg er trafikkstyrt eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8817</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkstyrt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11745</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11746</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TrafikkstyrtSignalanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSignalanleggType">
      <annotation>
         <documentation>3824: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3824</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligSignalanleggEnumerationType nvdb:VedlikeholdsansvarligSignalanleggOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSignalanleggEnumerationType">
      <annotation>
         <documentation>3824: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3824</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19901</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9808</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18702</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18831</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9809</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9807</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17699</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSignalanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
