GML/89.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeSignalanleggType">
    <annotation>
      <documentation>1273: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1273</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1273</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeSignalanleggEnumerationType nvdb:BruksområdeSignalanleggOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeSignalanleggEnumerationType">
    <annotation>
      <documentation>1273: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1273</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1273</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Vegkryss">
        <annotation>
          <documentation>2974: Signalanlegg for regulering av vegkryss. Kan bestå av kjøretøysignaler (trelyssignal, sykkelsignal og pilsignal), fotgjengersignal og kollektivsignal.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2974</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegkryss</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gangfelt">
        <annotation>
          <documentation>2975: Signalanlegg for regulering av gangfelt utenfor signalregulerte vegkryss.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2975</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gangfelt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skyttelsignalanlegg">
        <annotation>
          <documentation>2977: Signalanlegg for regulering av trafikken på steder utenfor vegkryss hvor bare én kjøreretning kan avvikles om gangen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2977</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skyttelsignalanlegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signaler for rampekontroll">
        <annotation>
          <documentation>18277: Signalanlegg som benyttes for å styre tilførsel av trafikk fra rampe til hovedveg. Signalanlegget skal bare slippe én bil av gangen over på grønt lys.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18277</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signaler for rampekontroll</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjørefeltsignal">
        <annotation>
          <documentation>2979: Benyttes for å angi retning på kjørefeltene.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2979</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjørefeltsignal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal, bru">
        <annotation>
          <documentation>2978: Signalanlegg for visning av trafikkretning for ett eller flere kjørefelt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2978</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rødt stoppblinksignal, bru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal, høgfjellsstrekning">
        <annotation>
          <documentation>4870: Rødt blinkanlegg for å markere stengning av høyfjellsstrekning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4870</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rødt stoppblinksignal, høgfjellsstrekning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal, tunnel">
        <annotation>
          <documentation>4876: Rødt blinkanlegg for å markere stengning av tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4876</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rødt stoppblinksignal, tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal, lav høyde">
        <annotation>
          <documentation>4875: Rødt blinkanlegg for å markere stengning av veg pga. at et kjøretøy er for høgt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4875</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rødt stoppblinksignal, lav høyde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal, skred/skredfare">
        <annotation>
          <documentation>4871: Rødt blinkanlegg for å markere stengning av veg pga. skred eller fare for skred.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4871</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rødt stoppblinksignal, skred/skredfare</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal, vind/uvær">
        <annotation>
          <documentation>11719: Rødt blinkanlegg for å markere stengning av veg pga. sterk vind/uvær.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11719</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rødt stoppblinksignal, vind/uvær</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal, utrykningsstasjon">
        <annotation>
          <documentation>11720: Rødt blinkanlegg for å markere stengning av veg pga. utrykning fra brannstasjon, politistasjon, etc. tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11720</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rødt stoppblinksignal, utrykningsstasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal, annen fare">
        <annotation>
          <documentation>2980: Rødt blinkanlegg for å markere stengning av veg pga. annen fare.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2980</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rødt stoppblinksignal, annen fare</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Blinkende signal foran jernbane">
        <annotation>
          <documentation>4874: Signalanlegg i forbindelse med jernbanekryssing.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4874</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Blinkende signal foran jernbane</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gult blinksignal">
        <annotation>
          <documentation>11721: Gult blinkanlegg for varsling av fare. Merknad: Kombinerte gult/rødt blink anlegg gis bruksområde "Rødt blink…".</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11721</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gult blinksignal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferjekai">
        <annotation>
          <documentation>4872: Signalanlegg for dirigering av trafikk i forbindelse med om bord- og i ilandkjøring på ferjeleier. Det benyttes normalt Tolyssignaler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4872</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferjekai</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bomstasjon">
        <annotation>
          <documentation>4873: Signalanlegg for dirigering av trafikk i forbindelse med bomstasjoner. Det benyttes normalt tolyssignaler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4873</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bomstasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parkering">
        <annotation>
          <documentation>11718: Signalanlegg for dirigering av trafikk i forbindelse med parkeringsanlegg. Det benyttes normalt tolyssignaler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11718</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Parkering</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeSignalanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierSignalanleggType">
    <annotation>
      <documentation>7998: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7998</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7998</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierSignalanleggEnumerationType nvdb:EierSignalanleggOtherType"/>
  </simpleType>
  <simpleType name="EierSignalanleggEnumerationType">
    <annotation>
      <documentation>7998: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7998</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7998</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10264: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10264</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18567: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18567</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10726: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10726</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10328: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10328</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10392: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10392</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17571: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17571</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSignalanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EnergitilførselType">
    <annotation>
      <documentation>8822: Angir hvilken energitilførsel det er til signalanlegget.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8822</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8822</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Energitilførsel</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EnergitilførselEnumerationType nvdb:EnergitilførselOtherType"/>
  </simpleType>
  <simpleType name="EnergitilførselEnumerationType">
    <annotation>
      <documentation>8822: Angir hvilken energitilførsel det er til signalanlegget.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8822</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8822</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Energitilførsel</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Spenningsbånd I">
        <annotation>
          <documentation>11735: (0-50VAC, 0-120VDC).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11735</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spenningsbånd I</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Spenningsbånd II">
        <annotation>
          <documentation>11736: (50-1000VAC, 120-1500VDC).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11736</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spenningsbånd II</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EnergitilførselOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LyshoderType">
    <annotation>
      <documentation>8823: Angir hvilken type lyshoder som er benyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8823</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8823</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lyshoder</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LyshoderEnumerationType nvdb:LyshoderOtherType"/>
  </simpleType>
  <simpleType name="LyshoderEnumerationType">
    <annotation>
      <documentation>8823: Angir hvilken type lyshoder som er benyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8823</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8823</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lyshoder</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="LED">
        <annotation>
          <documentation>11734: LED</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11734</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">LED</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glødelampe spenningsbånd I">
        <annotation>
          <documentation>11732: Glødelampe spenningsbånd I</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11732</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glødelampe spenningsbånd I</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glødelampe spenningsbånd II">
        <annotation>
          <documentation>11733: Glødelampe spenningsbånd II</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11733</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glødelampe spenningsbånd II</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kombinasjon Led/Glødelampe">
        <annotation>
          <documentation>18309: Signalanlegget har kombinasjon av LED og Glødelamper.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18309</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kombinasjon Led/Glødelampe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LyshoderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OmrådestyringType">
    <annotation>
      <documentation>8819: Angir om signalanlegg er områdestyrt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8819</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8819</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Områdestyring</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OmrådestyringEnumerationType nvdb:OmrådestyringOtherType"/>
  </simpleType>
  <simpleType name="OmrådestyringEnumerationType">
    <annotation>
      <documentation>8819: Angir om signalanlegg er områdestyrt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8819</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8819</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Områdestyring</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>11726: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11726</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11727: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11727</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OmrådestyringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OvervåkingFraVTSType">
    <annotation>
      <documentation>8820: Angir om signalanlegg kan overvåkes fra VTS.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8820</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8820</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overvåking fra VTS</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OvervåkingFraVTSEnumerationType nvdb:OvervåkingFraVTSOtherType"/>
  </simpleType>
  <simpleType name="OvervåkingFraVTSEnumerationType">
    <annotation>
      <documentation>8820: Angir om signalanlegg kan overvåkes fra VTS.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8820</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8820</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overvåking fra VTS</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>11728: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11728</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11729: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11729</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OvervåkingFraVTSOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SamkjørtType">
    <annotation>
      <documentation>8818: Angir om signalanlegget er samkjørt med andre signalanlegg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8818</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8818</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Samkjørt</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SamkjørtEnumerationType nvdb:SamkjørtOtherType"/>
  </simpleType>
  <simpleType name="SamkjørtEnumerationType">
    <annotation>
      <documentation>8818: Angir om signalanlegget er samkjørt med andre signalanlegg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8818</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8818</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Samkjørt</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>11724: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11724</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11725: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11725</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SamkjørtOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Signalanlegg" substitutionGroup="nvdb:AbstraktSignalanlegg" type="nvdb:SignalanleggType">
    <annotation>
      <documentation>89: System for regulering og varsling av trafikk. Det er sammensatt av flere signalpunkt med tilhørende signalhoder og blir styrt av et styreapparat. Merknad: Rødblinkanlegg er som regel egne signalanlegg på hvert sted, dvs. rødblink i en ende av en tunnel er et annet signalanlegg enn rødblink i andre enden av tunnelen. Motsatt kan signalpunkt ved et gangfelt høre sammen i samme signalanlegg som signalpunkt for et kryss like ved.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">89</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">89</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Signalanlegg</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SignalanleggType">
    <complexContent>
      <extension base="nvdb:AbstraktSignalanleggType">
        <sequence>
          <element minOccurs="0" name="anleggsnummer" type="string">
            <annotation>
              <documentation>8809: Gir unikt nummer til signalanlegget. Nummeret er sammensatt av kommunenummer (4 siffer) og et tresifret løpenummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8809</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Anleggsnummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>7570: Angir navn på signalanlegget.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7570</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeSignalanleggType">
            <annotation>
              <documentation>1273: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1273</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedtaksnummer" type="string">
            <annotation>
              <documentation>1889: Angir vedtaksnummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1889</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedtaksnummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="igangsettingsdato" type="date">
            <annotation>
              <documentation>8813: Angir dato det ble satt i drift signalanlegg første gang på dette stedet uavhengig av eventuell utskifting av utstyr eller mindre endringer i reguleringen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8813</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Igangsettingsdato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsstyrt" type="nvdb:TidsstyrtType">
            <annotation>
              <documentation>8816: Angir om Signalanlegg er tidsstyrt eller ikke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8816</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tidsstyrt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="trafikkstyrt" type="nvdb:TrafikkstyrtType">
            <annotation>
              <documentation>8817: Angir om signalanlegg er trafikkstyrt eller ikke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8817</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Trafikkstyrt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="samkjørt" type="nvdb:SamkjørtType">
            <annotation>
              <documentation>8818: Angir om signalanlegget er samkjørt med andre signalanlegg.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8818</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Samkjørt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="områdestyring" type="nvdb:OmrådestyringType">
            <annotation>
              <documentation>8819: Angir om signalanlegg er områdestyrt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8819</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Områdestyring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overvåkingFraVTS" type="nvdb:OvervåkingFraVTSType">
            <annotation>
              <documentation>8820: Angir om signalanlegg kan overvåkes fra VTS.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8820</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overvåking fra VTS</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="styringFraVTS" type="nvdb:StyringFraVTSType">
            <annotation>
              <documentation>3758: Angir om det er mulig å styre anlegg fra VTS.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3758</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Styring fra VTS</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="energitilførsel" type="nvdb:EnergitilførselType">
            <annotation>
              <documentation>8822: Angir hvilken energitilførsel det er til signalanlegget.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8822</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Energitilførsel</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lyshoder" type="nvdb:LyshoderType">
            <annotation>
              <documentation>8823: Angir hvilken type lyshoder som er benyttet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8823</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lyshoder</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>8811: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8811</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11074: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11074</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12314: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12314</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierSignalanleggType">
            <annotation>
              <documentation>7998: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7998</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSignalanleggType">
            <annotation>
              <documentation>3824: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3824</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4789: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4789</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8919: Gir koordinatsett for å avgrense vegobjektets utstrekning. Vegobjektet representeres med vegnettsgeometri på strekning mellom startpunkt og sluttpunkt. Eventuelt mellomliggende punkt benyttes for å sikre at riktig veglinje benyttes for hele strekningen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8919</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDetektor_Trafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDetektor_Trafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKamera" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKamera</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSignalpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSignalpunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVindmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVindmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStyreapparat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktStyreapparat</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SignalanleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Signalanlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="StyringFraVTSType">
    <annotation>
      <documentation>3758: Angir om det er mulig å styre anlegg fra VTS.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3758</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3758</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Styring fra VTS</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StyringFraVTSEnumerationType nvdb:StyringFraVTSOtherType"/>
  </simpleType>
  <simpleType name="StyringFraVTSEnumerationType">
    <annotation>
      <documentation>3758: Angir om det er mulig å styre anlegg fra VTS.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3758</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3758</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Styring fra VTS</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4725: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4725</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StyringFraVTSOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TidsstyrtType">
    <annotation>
      <documentation>8816: Angir om Signalanlegg er tidsstyrt eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8816</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8816</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tidsstyrt</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TidsstyrtEnumerationType nvdb:TidsstyrtOtherType"/>
  </simpleType>
  <simpleType name="TidsstyrtEnumerationType">
    <annotation>
      <documentation>8816: Angir om Signalanlegg er tidsstyrt eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8816</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8816</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tidsstyrt</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>11722: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11722</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11723: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11723</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TidsstyrtOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TrafikkstyrtType">
    <annotation>
      <documentation>8817: Angir om signalanlegg er trafikkstyrt eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8817</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8817</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkstyrt</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TrafikkstyrtEnumerationType nvdb:TrafikkstyrtOtherType"/>
  </simpleType>
  <simpleType name="TrafikkstyrtEnumerationType">
    <annotation>
      <documentation>8817: Angir om signalanlegg er trafikkstyrt eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8817</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8817</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkstyrt</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>11745: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11745</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11746: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11746</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrafikkstyrtOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSignalanleggType">
    <annotation>
      <documentation>3824: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3824</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3824</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSignalanleggEnumerationType nvdb:VedlikeholdsansvarligSignalanleggOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSignalanleggEnumerationType">
    <annotation>
      <documentation>3824: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3824</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3824</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>9807: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9807</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18702: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18702</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19901: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19901</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18831: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18831</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>9808: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9808</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>9809: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9809</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17699: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17699</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSignalanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
