GML/890.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>890: Angir bruksklasse for modulvogntog. Foreløpig versjon for intern bruk.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AksellastTeleløsningBruksklasse, modulvogntog, uoffisiellType">
      <annotation>
         <documentation>12910: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12910</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AksellastTeleløsningBruksklasse, modulvogntog, uoffisiellEnumerationType nvdb:AksellastTeleløsningBruksklasse, modulvogntog, uoffisiellOtherType"/>
   </simpleType>
   <simpleType name="AksellastTeleløsningBruksklasse, modulvogntog, uoffisiellEnumerationType">
      <annotation>
         <documentation>12910: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12910</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22352</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22353</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22354</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22355</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22356</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AksellastTeleløsningBruksklasse, modulvogntog, uoffisiellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Bruksklasse, modulvogntog, uoffisiell"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Bruksklasse, modulvogntog, uoffisiellType">
      <annotation>
         <documentation>890: Angir bruksklasse for modulvogntog. Foreløpig versjon for intern bruk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">890</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse, modulvogntog, uoffisiell</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Bruksklasse, modulvogntog, uoffisiellType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="maksTotalvekt">
                  <annotation>
                     <documentation>10773: Angir maksimal tillatt totalvekt for modulvogntog.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10773</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks totalvekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="maksVogntoglengde">
                  <annotation>
                     <documentation>10774: Angir maksimal tillatt lengde for modulvogntog.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10774</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="gjelderIkkeLinksemitrailer">
                  <annotation>
                     <documentation>10772: Veger som er merket med L i kolonne for type modulvogntog er ikke tillatt for modulvogntog som nevnt i bokstav b nr. 3.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10772</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder ikke linksemitrailer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vinterstengtFor60Tonn">
                  <annotation>
                     <documentation>10777: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10777</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vinterstengt for 60 tonn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="AksellastTeleløsning">
                  <annotation>
                     <documentation>12910: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12910</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="strekningsbeskrivelse" type="string">
                  <annotation>
                     <documentation>10775: Beskrivelse av aktuell vegstrekning. Denne teksten blir henta direkte inn i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10775</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>11545: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11545</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Bruksklasse, modulvogntog, uoffisiellPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Bruksklasse, modulvogntog, uoffisiell"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="GjelderIkkeLinksemitrailerBruksklasse, modulvogntog, uoffisiellType">
      <annotation>
         <documentation>10772: Veger som er merket med L i kolonne for type modulvogntog er ikke tillatt for modulvogntog som nevnt i bokstav b nr. 3.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10772</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjelder ikke linksemitrailer</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GjelderIkkeLinksemitrailerBruksklasse, modulvogntog, uoffisiellEnumerationType nvdb:GjelderIkkeLinksemitrailerBruksklasse, modulvogntog, uoffisiellOtherType"/>
   </simpleType>
   <simpleType name="GjelderIkkeLinksemitrailerBruksklasse, modulvogntog, uoffisiellEnumerationType">
      <annotation>
         <documentation>10772: Veger som er merket med L i kolonne for type modulvogntog er ikke tillatt for modulvogntog som nevnt i bokstav b nr. 3.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10772</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjelder ikke linksemitrailer</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="L">
            <annotation>
               <documentation>17462: Modulvogntog av type Linksemitrailer er IKKE tillatt på strekning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17462</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">L</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GjelderIkkeLinksemitrailerBruksklasse, modulvogntog, uoffisiellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaksTotalvektBruksklasse, modulvogntog, uoffisiellType">
      <annotation>
         <documentation>10773: Angir maksimal tillatt totalvekt for modulvogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10773</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks totalvekt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaksTotalvektBruksklasse, modulvogntog, uoffisiellEnumerationType nvdb:MaksTotalvektBruksklasse, modulvogntog, uoffisiellOtherType"/>
   </simpleType>
   <simpleType name="MaksTotalvektBruksklasse, modulvogntog, uoffisiellEnumerationType">
      <annotation>
         <documentation>10773: Angir maksimal tillatt totalvekt for modulvogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10773</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks totalvekt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17460</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk 10/50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="60">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17461</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk 10/60</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaksTotalvektBruksklasse, modulvogntog, uoffisiellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, modulvogntog, uoffisiellType">
      <annotation>
         <documentation>10774: Angir maksimal tillatt lengde for modulvogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10774</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaksVogntoglengdeBruksklasse, modulvogntog, uoffisiellEnumerationType nvdb:MaksVogntoglengdeBruksklasse, modulvogntog, uoffisiellOtherType"/>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, modulvogntog, uoffisiellEnumerationType">
      <annotation>
         <documentation>10774: Angir maksimal tillatt lengde for modulvogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10774</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2525">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17459</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">25,25</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, modulvogntog, uoffisiellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VinterstengtFor60TonnBruksklasse, modulvogntog, uoffisiellType">
      <annotation>
         <documentation>10777: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10777</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterstengt for 60 tonn</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VinterstengtFor60TonnBruksklasse, modulvogntog, uoffisiellEnumerationType nvdb:VinterstengtFor60TonnBruksklasse, modulvogntog, uoffisiellOtherType"/>
   </simpleType>
   <simpleType name="VinterstengtFor60TonnBruksklasse, modulvogntog, uoffisiellEnumerationType">
      <annotation>
         <documentation>10777: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10777</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterstengt for 60 tonn</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="V">
            <annotation>
               <documentation>17463: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17463</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">V</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VinterstengtFor60TonnBruksklasse, modulvogntog, uoffisiellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
