GML/891.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Bruksklasse_12_65Mobilkran_Mm" substitutionGroup="nvdb:AbstraktBruksklasse_12_65Mobilkran_Mm" type="nvdb:Bruksklasse_12_65Mobilkran_MmType">
    <annotation>
      <documentation>891: Gjeldende bruksklasse for 12/65 - mobilkran m.m. i vegliste.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">891</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">891</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse, 12/65 mobilkran m.m.</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Bruksklasse_12_65Mobilkran_MmType">
    <complexContent>
      <extension base="nvdb:AbstraktBruksklasse_12_65Mobilkran_MmType">
        <sequence>
          <element minOccurs="0" name="strekningsbeskrivelse" type="string">
            <annotation>
              <documentation>10739: Beskrivelse av aktuell vegstrekning. Denne teksten blir hentet direkte inn i veglistene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10739</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="veglisteGjelderAlltid" type="string">
            <annotation>
              <documentation>10746: Veglister er forskrift og gjelder alltid foran kartvisning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10746</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vegliste gjelder alltid</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>12116: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12116</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Bruksklasse_12_65Mobilkran_MmPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bruksklasse_12_65Mobilkran_Mm"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
