GML/894.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Bruksklasse_12_100_Vegnett_Uoffisiell" substitutionGroup="nvdb:AbstraktBruksklasse_12_100_Vegnett_Uoffisiell" type="nvdb:Bruksklasse_12_100_Vegnett_UoffisiellType">
    <annotation>
      <documentation>894: Angir bruksklasse for 12/100 - vegnett. Foreløpig versjon for intern bruk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">894</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">894</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse, 12/100-vegnett, uoffisiell</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Bruksklasse_12_100_Vegnett_UoffisiellType">
    <complexContent>
      <extension base="nvdb:AbstraktBruksklasse_12_100_Vegnett_UoffisiellType">
        <sequence>
          <element minOccurs="0" name="strekningsbeskrivelse" type="string">
            <annotation>
              <documentation>10780: Beskrivelse av aktuell vegstrekning. Denne teksten blir hentet direkte inn i veglistene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10780</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>12119: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12119</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Bruksklasse_12_100_Vegnett_UoffisiellPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bruksklasse_12_100_Vegnett_Uoffisiell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
