GML/894.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>894: Angir bruksklasse for 12/100 - vegnett. Foreløpig versjon for intern bruk.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AksellastTeleløsningBruksklasse, 12100-vegnett, uoffisiellType">
      <annotation>
         <documentation>12914: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12914</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AksellastTeleløsningBruksklasse, 12100-vegnett, uoffisiellEnumerationType nvdb:AksellastTeleløsningBruksklasse, 12100-vegnett, uoffisiellOtherType"/>
   </simpleType>
   <simpleType name="AksellastTeleløsningBruksklasse, 12100-vegnett, uoffisiellEnumerationType">
      <annotation>
         <documentation>12914: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12914</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22372</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22373</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22374</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22375</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22376</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AksellastTeleløsningBruksklasse, 12100-vegnett, uoffisiellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Bruksklasse, 12100-vegnett, uoffisiell"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Bruksklasse, 12100-vegnett, uoffisiellType">
      <annotation>
         <documentation>894: Angir bruksklasse for 12/100 - vegnett. Foreløpig versjon for intern bruk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">894</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse, 12100-vegnett, uoffisiell</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Bruksklasse, 12100-vegnett, uoffisiellType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="aksellastTeleløsning">
                  <annotation>
                     <documentation>12914: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12914</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="telerestriksjonFraDato" type="date">
                  <annotation>
                     <documentation>12892: Feltet angir dato for når telerestriksjon starter. Dato bestemmes av vegeier på bakgrunn av vær- og føreforhold, og settes derfor kort tid før endringen trer i kraft. Dato fra tidligere år er kun historikk og ikke grunnlag for årets endringer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12892</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Telerestriksjon fra dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="telerestriksjonTilDato" type="date">
                  <annotation>
                     <documentation>12898: Feltet angir dato for når telerestriksjon slutter. Dato bestemmes av vegeier på bakgrunn av vær- og føreforhold, og settes derfor kort tid før endringen trer i kraft. Dato fra tidligere år er kun historikk og ikke grunnlag for årets endringer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12898</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Telerestriksjon til dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="strekningsbeskrivelse" type="string">
                  <annotation>
                     <documentation>10780: Beskrivelse av aktuell vegstrekning. Denne teksten blir hentet direkte inn i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10780</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>12119: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12119</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Bruksklasse, 12100-vegnett, uoffisiellPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Bruksklasse, 12100-vegnett, uoffisiell"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
