GML/895.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.24">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruddhendelseType">
    <annotation>
      <documentation>11012: Angir type bruddhendelse.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11012</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11012</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">01_Bruddhendelse</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruddhendelseEnumerationType nvdb:BruddhendelseOtherType"/>
  </simpleType>
  <simpleType name="BruddhendelseEnumerationType">
    <annotation>
      <documentation>11012: Angir type bruddhendelse.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11012</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11012</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">01_Bruddhendelse</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Veg stengt">
        <annotation>
          <documentation>18469: Veg stengt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18469</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veg stengt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnel stengt">
        <annotation>
          <documentation>18470: Tunnel stengt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18470</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tunnel stengt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bru stengt">
        <annotation>
          <documentation>18471: Bru stengt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18471</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bru stengt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferje/ferjekai stengt">
        <annotation>
          <documentation>18472: Ferje/ferjekai stengt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18472</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ferje/ferjekai stengt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruddhendelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruddårsakHovedgruppeType">
    <annotation>
      <documentation>11864: Angir hovedgruppe bruddfare</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11864</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11864</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">05_Bruddårsak hovedgruppe</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruddårsakHovedgruppeEnumerationType nvdb:BruddårsakHovedgruppeOtherType"/>
  </simpleType>
  <simpleType name="BruddårsakHovedgruppeEnumerationType">
    <annotation>
      <documentation>11864: Angir hovedgruppe bruddfare</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11864</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11864</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">05_Bruddårsak hovedgruppe</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Natur">
        <annotation>
          <documentation>20085: Brukes der naturrelaterte farer er hovedårsak til brudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20085</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Natur</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikk">
        <annotation>
          <documentation>20086: Brukes der trafikkrelaterte farer er hovedårsak til brudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20086</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trafikk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Konstruksjon">
        <annotation>
          <documentation>20087: Brukes der konstruksjonsrelaterte farer er hovedårsak til brudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20087</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Konstruksjon</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruddårsakHovedgruppeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruddårsakSpesifikkType">
    <annotation>
      <documentation>10749: Angir hva som er årsak til bruddhendelse</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10749</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10749</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">02_Bruddårsak spesifikk</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruddårsakSpesifikkEnumerationType nvdb:BruddårsakSpesifikkOtherType"/>
  </simpleType>
  <simpleType name="BruddårsakSpesifikkEnumerationType">
    <annotation>
      <documentation>10749: Angir hva som er årsak til bruddhendelse</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10749</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10749</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">02_Bruddårsak spesifikk</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Bilberging (Vogntog)">
        <annotation>
          <documentation>17410: Brukes i Veg stengt. Brukes der det er eller forventes økt forekomst av fastkjørte vogntog, for eksempel i bratte stigninger vinterstid..</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17410</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bilberging (Vogntog)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brann (i objekter på/nær vegen)">
        <annotation>
          <documentation>17411: Brukes i Tunnel stengt eller Veg stengt. Brukes i tunneler eller der vegen ligger nært opp til objekter som kan forårsake storbrann som fører til langvarig stengt veg, for eksempel prosessindustri. Bensinstasjoner og industriområder generelt skal ikke kartlegges her. Brukes kun i særskilte tilfeller.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17411</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Brann (i objekter på/nær vegen)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dreneringssvikt">
        <annotation>
          <documentation>17413: Brukes i Veg stengt. Brukes der det er skadde og/eller underdimensjonerte stikkrenner eller lukket drenering langs veg som erfaringsvis forårsaker overvann/flom ved store nedbørsmengder.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17413</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dreneringssvikt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Farlig gods ulykke">
        <annotation>
          <documentation>17415: Brukes i Veg stengt. Brukes der det er spesielt høy risiko for ulykker med farlig gods, for eksempel i tilknytning til raffineri/industri.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17415</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Farlig gods ulykke</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flom">
        <annotation>
          <documentation>17417: Brukes i Bru stengt eller Veg stengt. Brukes for bruer, evt. tunneler eller der det er veg langs vassdrag som erfaringsvis er utsatt for flom ved store nedbørsmengder og/eller snøsmelting, eller ved flom i sidebekker på grunn av ekstremnedbør.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17417</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Flom</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fundamenteringssvikt">
        <annotation>
          <documentation>17418: Brukes i Veg stengt. Brukes der det er økt sannsynlighet for brudd i vegfundamenteringen pga. utvasking etter store nedbørsmengder, slitasje fra tungtrafikk, dårlige grunnforhold eller andre årsaker.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17418</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fundamenteringssvikt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Høyde - lengde - bredde - vekt">
        <annotation>
          <documentation>17419: Brukes i Bru stengt, Veg stengt eller Tunnel stengt. Brukes der restriksjoner eller begrensninger kan føre til at kjøretøy som overstiger grensene kjører seg fast, eller skader/ødelegger infrastrukturen eller på annen måte stenger for annen trafikk.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17419</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Høyde - lengde - bredde - vekt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skred kvikkleire">
        <annotation>
          <documentation>17421: Brukes i Veg stengt. Punkt eller strekning med fare for kvikkleireskred der vegen ligger i eller nær et område med kvikkleire.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17421</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skred kvikkleire</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skred jord">
        <annotation>
          <documentation>17422: Brukes i Veg stengt. Punkt eller strekning som er spesielt utsatt for jordskred. Jordskred er raske utglidninger og bevegelse av vannmettede løsmasser i bratte skråninger, utenfor definerte vannveier. Høyt vanninnhold og oppbygging av vanntrykk i løsmassene er oftest den utløsende faktoren for jordskred. Dette skjer som følge langvarig nedbør, eller etter korte og intense regnskyll eller i kombinasjon med rask snøsmelting, se NVE's faktaark 2013-01 om Jordskred og flomskred</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17422</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skred jord</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skred snø">
        <annotation>
          <documentation>17424: Brukes i veg stengt. Punkt eller strekning som er spesielt utsatt for snøskred.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17424</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skred snø</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skred stein">
        <annotation>
          <documentation>17425: Brukes i Veg stengt. Punkt eller strekning som er spesielt utsatt for steinskred</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17425</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skred stein</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nedfall fra fjellskjæring">
        <annotation>
          <documentation>18536: Brukes i Veg stengt. Punkt eller strekning der det er fare for nedfall fra fjellskjæring.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18536</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nedfall fra fjellskjæring</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stormflo">
        <annotation>
          <documentation>17426: Brukes i Veg stengt, evt. Tunnel stengt, Bru stengt eller Ferje/ferjekai stengt. Brukes der det finnes lavtliggende punkt eller strekning som ligger slik til at det kan bli oversvømt ved stormflo.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17426</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stormflo</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Strømbrudd">
        <annotation>
          <documentation>17427: Brukes i Tunnel stengt, Ferje/ferjekai stengt, Veg stengt, Bru stengt. Brukes i tilknytning til mekaniske skilt, bommer, pumpesumper eller lignende, og kun der langvarige strømbrudd er av avgjørende betydning for funksjonsevnen til vegen, brua, tunnelen, ferjekaia.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17427</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Strømbrudd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ulykkespunkt/-strekning">
        <annotation>
          <documentation>17430: Brukes i Veg stengt eller Tunnel stengt. Kartlegging av ulykkespunkt og -strekninger i VegROS skal være et supplement til allerede eksisterende ulykkespunkt i NVDB. Det som spesielt skal registreres er punkt eller strekninger der hyppig forekommende ulykker og utforkjøringer (som oftest uten personskade) er et tegn på potensielle framkommelighetsutfordringer slik de er definert i risikovurderingen i retningslinjene for VegROS. Lokal kunnskap er spesielt viktig i denne kartleggingen.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17430</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ulykkespunkt/-strekning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Utglidning">
        <annotation>
          <documentation>17431: Brukes i Veg stengt. Utglidning brukes også for å indikere en generell massebevegelse i en skråning og er ofte det første bruddet i et senere jordskred. Utglidninger oppstår i slakere terreng med finkornet, vannmettet jord og leire. De finnes gjerne på dyrket mark eller i naturlige skråninger i terrenget, særlig i de bratte sidekantene langs veier, elver, kunstige/modifiserte skråninger, langs jernbaner og i menneskeskapte fyllinger i bebodde områder.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17431</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utglidning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vind">
        <annotation>
          <documentation>17432: Brukes i Veg stengt, Bru stengt, eller Ferje/ferjekai stengt. Brukes for strekning som er spesielt sårbar for sterk vind som storm/orkan, for eksempel vinterstormer over fjelloverganger, eller store trær nær vegen som gir økt risiko for vindfall og dermed stengt veg ved sterk vind/storm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17432</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vind</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Snø">
        <annotation>
          <documentation>17433: Brukes i Veg stengt, Tunnel stengt. Punkt eller strekning som er utsatt for snøfokk o.l.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17433</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Snø</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen årsak">
        <annotation>
          <documentation>18535: Brukes i Veg stengt, Bru stengt, Tunnel stengt, Ferje stengt. Punkt eller strekning der bruddårsak ikke dekkes av det forhåndsdefinerte utvalget.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18535</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Annen årsak</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruddårsakSpesifikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruddårsakUndergruppeType">
    <annotation>
      <documentation>11865: Angir undergruppe bruddfare</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11865</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11865</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">06_Bruddårsak undergruppe</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruddårsakUndergruppeEnumerationType nvdb:BruddårsakUndergruppeOtherType"/>
  </simpleType>
  <simpleType name="BruddårsakUndergruppeEnumerationType">
    <annotation>
      <documentation>11865: Angir undergruppe bruddfare</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11865</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11865</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">06_Bruddårsak undergruppe</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Skred">
        <annotation>
          <documentation>20088: Brukes der skred farer er hovedårsak til brudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20088</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skred</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flom">
        <annotation>
          <documentation>20089: Brukes der flom farer er hovedårsak til brudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20089</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Flom</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vær">
        <annotation>
          <documentation>20090: Brukes der vær farer er hovedårsak til brudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20090</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vær</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ulykke">
        <annotation>
          <documentation>20091: Brukes der ulykker farer er hovedårsak til brudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20091</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ulykke</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Konstruksjonsfeil">
        <annotation>
          <documentation>20092: Brukes der konstruksjonsfeil farer er hovedårsak til brudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20092</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Konstruksjonsfeil</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Teknisk svikt">
        <annotation>
          <documentation>20093: Brukes der teknisk svikt er hovedårsak til brudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20093</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Teknisk svikt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruddårsakUndergruppeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FagligGrunnlagType">
    <annotation>
      <documentation>11247: Angir det faglige grunnlaget for vurderingen.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11247</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11247</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">15_Faglig grunnlag</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FagligGrunnlagEnumerationType nvdb:FagligGrunnlagOtherType"/>
  </simpleType>
  <simpleType name="FagligGrunnlagEnumerationType">
    <annotation>
      <documentation>11247: Angir det faglige grunnlaget for vurderingen.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11247</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11247</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">15_Faglig grunnlag</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Nivå1">
        <annotation>
          <documentation>18540: Identifisere og kartlegge områder, strekninger og vegobjekter der det finnes eller forventes framkommelighetsutfordringer. Liten bruk av fagkompetanse.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18540</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nivå1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nivå 2">
        <annotation>
          <documentation>18541: Identifisere, kartlegge og vurdere områder, strekninger og vegobjekter der det finnes eller forventes framkommelighetsutfordringer. Noe bruk av fagkompetanse.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18541</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nivå 2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nivå 3">
        <annotation>
          <documentation>18542: Identifisere, kartlegge og detaljvurdere områder, strekninger og vegobjekter der det finnes eller forventes framkommelighetsutfordringer. Utstrakt bruk av fagkompetanse.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18542</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nivå 3</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FagligGrunnlagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RisikoType">
    <annotation>
      <documentation>11016: Angir grad av fare for og alvorlighet av et framkommelighetsbrudd på dette stedet/denne strekningen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11016</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11016</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">10_Risiko</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RisikoEnumerationType nvdb:RisikoOtherType"/>
  </simpleType>
  <simpleType name="RisikoEnumerationType">
    <annotation>
      <documentation>11016: Angir grad av fare for og alvorlighet av et framkommelighetsbrudd på dette stedet/denne strekningen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11016</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11016</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">10_Risiko</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Liten">
        <annotation>
          <documentation>18436: Liten</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18436</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Liten</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Middels">
        <annotation>
          <documentation>18437: Middels</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18437</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Middels</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stor">
        <annotation>
          <documentation>18438: Stor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18438</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stor</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RisikoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SårbarhetType">
    <annotation>
      <documentation>11015: Samleparameter for enkeltparametrene Omkjøring og Beredskap</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11015</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11015</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">13_Sårbarhet</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SårbarhetEnumerationType nvdb:SårbarhetOtherType"/>
  </simpleType>
  <simpleType name="SårbarhetEnumerationType">
    <annotation>
      <documentation>11015: Samleparameter for enkeltparametrene Omkjøring og Beredskap</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11015</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11015</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">13_Sårbarhet</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Liten">
        <annotation>
          <documentation>18433: Liten</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18433</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Liten</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Middels">
        <annotation>
          <documentation>18434: Middels</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18434</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Middels</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stor">
        <annotation>
          <documentation>18435: Stor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18435</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stor</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SårbarhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TrusselType">
    <annotation>
      <documentation>11013: Samleparameter for enkeltparametrene Sannsynlighet, Omfang og Varighet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11013</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11013</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">11_Trussel</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TrusselEnumerationType nvdb:TrusselOtherType"/>
  </simpleType>
  <simpleType name="TrusselEnumerationType">
    <annotation>
      <documentation>11013: Samleparameter for enkeltparametrene Sannsynlighet, Omfang og Varighet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11013</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11013</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">11_Trussel</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Liten">
        <annotation>
          <documentation>18427: Liten</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18427</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Liten</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Middels">
        <annotation>
          <documentation>18428: Middels</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18428</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Middels</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stor">
        <annotation>
          <documentation>18429: Stor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18429</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stor</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrusselOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UsikkerhetType">
    <annotation>
      <documentation>11246: Angir grad av usikkerhet i vurderingene som ligger til grunn for fastsettelse av risiko</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11246</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11246</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">14_Usikkerhet</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UsikkerhetEnumerationType nvdb:UsikkerhetOtherType"/>
  </simpleType>
  <simpleType name="UsikkerhetEnumerationType">
    <annotation>
      <documentation>11246: Angir grad av usikkerhet i vurderingene som ligger til grunn for fastsettelse av risiko</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11246</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11246</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">14_Usikkerhet</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Liten">
        <annotation>
          <documentation>18537: Lite usikkerhet. Omfattende faglig grunnlag.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18537</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Liten</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Middels">
        <annotation>
          <documentation>18538: Noe usikkerhet. Noe faglig grunnlag.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18538</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Middels</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stor">
        <annotation>
          <documentation>18539: Stor usikkerhet. Mangelfullt eller svært lite faglig grunnlag.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18539</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stor</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UsikkerhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="VegROS" substitutionGroup="nvdb:AbstraktVegROS" type="nvdb:VegROSType">
    <annotation>
      <documentation>895: Punkt/strekning i vegnettet hvor det er økt risiko og sårbarhet for langvarige fremkommelighetsbrudd. Merknad: Skal ha minst 10 meters utstrekning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">895</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">895</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">VegROS</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegROSType">
    <complexContent>
      <extension base="nvdb:AbstraktVegROSType">
        <sequence>
          <element minOccurs="0" name="a01_Bruddhendelse" type="nvdb:BruddhendelseType">
            <annotation>
              <documentation>11012: Angir type bruddhendelse.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11012</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">01_Bruddhendelse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="a02_BruddårsakSpesifikk" type="nvdb:BruddårsakSpesifikkType">
            <annotation>
              <documentation>10749: Angir hva som er årsak til bruddhendelse</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10749</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">02_Bruddårsak spesifikk</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a03_Sted" type="string">
            <annotation>
              <documentation>10750: Stedsnavn eller strekningsnavn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10750</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">03_Sted</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a04_Beskrivelse" type="string">
            <annotation>
              <documentation>10751: Beskrivelse av hendelse og særskilte forhold ved denne</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10751</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">04_Beskrivelse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a05_BruddårsakHovedgruppe" type="nvdb:BruddårsakHovedgruppeType">
            <annotation>
              <documentation>11864: Angir hovedgruppe bruddfare</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11864</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">05_Bruddårsak hovedgruppe</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a06_BruddårsakUndergruppe" type="nvdb:BruddårsakUndergruppeType">
            <annotation>
              <documentation>11865: Angir undergruppe bruddfare</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11865</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">06_Bruddårsak undergruppe</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a10_Risiko" type="nvdb:RisikoType">
            <annotation>
              <documentation>11016: Angir grad av fare for og alvorlighet av et framkommelighetsbrudd på dette stedet/denne strekningen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11016</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">10_Risiko</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a11_Trussel" type="nvdb:TrusselType">
            <annotation>
              <documentation>11013: Samleparameter for enkeltparametrene Sannsynlighet, Omfang og Varighet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11013</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">11_Trussel</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a12_Verdi" type="nvdb:VerdiType">
            <annotation>
              <documentation>11014: Samleparameter for enkeltparametrene ÅDT, Andel tunge, TBK og Viktighet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11014</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">12_Verdi</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a13_Sårbarhet" type="nvdb:SårbarhetType">
            <annotation>
              <documentation>11015: Samleparameter for enkeltparametrene Omkjøring og Beredskap</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11015</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">13_Sårbarhet</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a14_Usikkerhet" type="nvdb:UsikkerhetType">
            <annotation>
              <documentation>11246: Angir grad av usikkerhet i vurderingene som ligger til grunn for fastsettelse av risiko</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11246</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">14_Usikkerhet</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a15_FagligGrunnlag" type="nvdb:FagligGrunnlagType">
            <annotation>
              <documentation>11247: Angir det faglige grunnlaget for vurderingen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11247</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">15_Faglig grunnlag</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a20_TiltakInvesteringUtbedring" type="string">
            <annotation>
              <documentation>11024: Hvis aktuell, beskriv tiltak. Ved flere tiltak, angi tiltakene med 1. , 2. , osv.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11024</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">20_Tiltak Investering/utbedring</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a21_TiltakDriftVedlikehold" type="string">
            <annotation>
              <documentation>11025: Hvis aktuell, beskriv tiltak. Ved flere tiltak, angi tiltakene med 1. , 2. , osv.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11025</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">21_Tiltak Drift/vedlikehold</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a22_TiltakBeredskap" type="string">
            <annotation>
              <documentation>11026: Hvis aktuell, beskriv tiltak. Ved flere tiltak, angi tiltakene med 1. , 2. , osv.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11026</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">22_Tiltak Beredskap</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a23_TiltakKartleggingAnalyse" type="string">
            <annotation>
              <documentation>11027: Hvis aktuell, beskriv tiltak. Ved flere tiltak, angi tiltakene med 1. , 2. , osv.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11027</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">23_Tiltak Kartlegging/analyse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a50_Merknad" type="string">
            <annotation>
              <documentation>10752: Merknad. Kan benyttes ifm. revisjon eller oppdatering eller for å angi spesielle grunner til at dette er et VegROSpunkt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10752</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">50_Merknad</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a60_Arkivnummer" type="string">
            <annotation>
              <documentation>10754: Referanse til Mime</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10754</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">60_Arkivnummer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="a70_Metadata" type="string">
            <annotation>
              <documentation>10753: Angir hvor det finnes metadata. URL eller filkatalog</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10753</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">70_Metadata</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>11011: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11011</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, hjelpelinje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegROSPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:VegROS"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VerdiType">
    <annotation>
      <documentation>11014: Samleparameter for enkeltparametrene ÅDT, Andel tunge, TBK og Viktighet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11014</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11014</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">12_Verdi</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VerdiEnumerationType nvdb:VerdiOtherType"/>
  </simpleType>
  <simpleType name="VerdiEnumerationType">
    <annotation>
      <documentation>11014: Samleparameter for enkeltparametrene ÅDT, Andel tunge, TBK og Viktighet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11014</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11014</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">12_Verdi</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Liten">
        <annotation>
          <documentation>18430: Liten</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18430</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Liten</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Middels">
        <annotation>
          <documentation>18431: Middels</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18431</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Middels</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stor">
        <annotation>
          <documentation>18432: Stor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18432</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stor</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VerdiOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
