GML/899.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>899: Angir tilstandsgrader for skjerm.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="TGKonstruksjon_FundamenterTilstandsgrad, skjermType">
      <annotation>
         <documentation>10818: Tilstandsgrad Konstruksjon, Fundamenter. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10818</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Konstruksjon, Fundamenter</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TGKonstruksjon_FundamenterTilstandsgrad, skjermEnumerationType nvdb:TGKonstruksjon_FundamenterTilstandsgrad, skjermOtherType"/>
   </simpleType>
   <simpleType name="TGKonstruksjon_FundamenterTilstandsgrad, skjermEnumerationType">
      <annotation>
         <documentation>10818: Tilstandsgrad Konstruksjon, Fundamenter. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10818</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Konstruksjon, Fundamenter</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="TG0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17822</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17823</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17824</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17825</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGIU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17826</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGMang">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17827</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TGKonstruksjon_FundamenterTilstandsgrad, skjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TGKonstruksjon_KnutepunkterSøylerTilstandsgrad, skjermType">
      <annotation>
         <documentation>10816: Tilstandsgrad Konstruksjon, Knutepunkter/søyler. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10816</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Konstruksjon, Knutepunkter/søyler</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TGKonstruksjon_KnutepunkterSøylerTilstandsgrad, skjermEnumerationType nvdb:TGKonstruksjon_KnutepunkterSøylerTilstandsgrad, skjermOtherType"/>
   </simpleType>
   <simpleType name="TGKonstruksjon_KnutepunkterSøylerTilstandsgrad, skjermEnumerationType">
      <annotation>
         <documentation>10816: Tilstandsgrad Konstruksjon, Knutepunkter/søyler. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10816</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Konstruksjon, Knutepunkter/søyler</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="TG0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17816</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17817</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17818</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17819</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGIU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17820</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGMang">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17821</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TGKonstruksjon_KnutepunkterSøylerTilstandsgrad, skjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TGKonstruksjon_SkjevstillingTilstandsgrad, skjermType">
      <annotation>
         <documentation>10814: Tilstandsgrad Konstruksjon, Skjevstilling. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10814</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Konstruksjon, Skjevstilling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TGKonstruksjon_SkjevstillingTilstandsgrad, skjermEnumerationType nvdb:TGKonstruksjon_SkjevstillingTilstandsgrad, skjermOtherType"/>
   </simpleType>
   <simpleType name="TGKonstruksjon_SkjevstillingTilstandsgrad, skjermEnumerationType">
      <annotation>
         <documentation>10814: Tilstandsgrad Konstruksjon, Skjevstilling. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10814</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Konstruksjon, Skjevstilling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="TG0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17810</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17811</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17812</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17813</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGIU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17814</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGMang">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17815</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TGKonstruksjon_SkjevstillingTilstandsgrad, skjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TGKonstruksjon_UtvaskingTilstandsgrad, skjermType">
      <annotation>
         <documentation>10820: Tilstandsgrad Konstruksjon, utvasking. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10820</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Konstruksjon, utvasking</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TGKonstruksjon_UtvaskingTilstandsgrad, skjermEnumerationType nvdb:TGKonstruksjon_UtvaskingTilstandsgrad, skjermOtherType"/>
   </simpleType>
   <simpleType name="TGKonstruksjon_UtvaskingTilstandsgrad, skjermEnumerationType">
      <annotation>
         <documentation>10820: Tilstandsgrad Konstruksjon, utvasking. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10820</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Konstruksjon, utvasking</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="TG0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17828</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17829</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17830</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17831</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGIU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17832</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGMang">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17833</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TGKonstruksjon_UtvaskingTilstandsgrad, skjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TGOverflate_RåteMoseSoppTilstandsgrad, skjermType">
      <annotation>
         <documentation>10824: Tilstandsgrad Overflate, Råte/mose/sopp. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10824</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Overflate, Råte/mose/sopp</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TGOverflate_RåteMoseSoppTilstandsgrad, skjermEnumerationType nvdb:TGOverflate_RåteMoseSoppTilstandsgrad, skjermOtherType"/>
   </simpleType>
   <simpleType name="TGOverflate_RåteMoseSoppTilstandsgrad, skjermEnumerationType">
      <annotation>
         <documentation>10824: Tilstandsgrad Overflate, Råte/mose/sopp. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10824</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Overflate, Råte/mose/sopp</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="TG0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17840</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17841</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17842</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17843</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGIU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17844</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGMang">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17845</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TGOverflate_RåteMoseSoppTilstandsgrad, skjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TGOverflate_TaggingHærverkEtcTilstandsgrad, skjermType">
      <annotation>
         <documentation>10822: Tilstandsgrad Overflate, Tagging/hærverk etc. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10822</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Overflate, Tagging/hærverk etc</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TGOverflate_TaggingHærverkEtcTilstandsgrad, skjermEnumerationType nvdb:TGOverflate_TaggingHærverkEtcTilstandsgrad, skjermOtherType"/>
   </simpleType>
   <simpleType name="TGOverflate_TaggingHærverkEtcTilstandsgrad, skjermEnumerationType">
      <annotation>
         <documentation>10822: Tilstandsgrad Overflate, Tagging/hærverk etc. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10822</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Overflate, Tagging/hærverk etc</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="TG0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17834</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17835</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17836</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17837</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGIU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17838</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGMang">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17839</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TGOverflate_TaggingHærverkEtcTilstandsgrad, skjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TGOverflate_VedlikeholdTilstandsgrad, skjermType">
      <annotation>
         <documentation>10834: Tilstandsgrad Overflate, Vedlikehold. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10834</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Overflate, Vedlikehold</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TGOverflate_VedlikeholdTilstandsgrad, skjermEnumerationType nvdb:TGOverflate_VedlikeholdTilstandsgrad, skjermOtherType"/>
   </simpleType>
   <simpleType name="TGOverflate_VedlikeholdTilstandsgrad, skjermEnumerationType">
      <annotation>
         <documentation>10834: Tilstandsgrad Overflate, Vedlikehold. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10834</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Overflate, Vedlikehold</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="TG0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17857</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17858</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17859</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17860</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGIU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17861</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGMang">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17862</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TGOverflate_VedlikeholdTilstandsgrad, skjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TGSamletVurderingTilstandsgrad, skjermType">
      <annotation>
         <documentation>10826: Tilstandsgrad for skjerm som helhet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10826</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TGSamletVurderingTilstandsgrad, skjermEnumerationType nvdb:TGSamletVurderingTilstandsgrad, skjermOtherType"/>
   </simpleType>
   <simpleType name="TGSamletVurderingTilstandsgrad, skjermEnumerationType">
      <annotation>
         <documentation>10826: Tilstandsgrad for skjerm som helhet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10826</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="TG0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17850</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17851</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17852</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17853</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGIU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17854</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGMang">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17855</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TGSamletVurderingTilstandsgrad, skjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TGSamletVurdering_KonstruksjonTilstandsgrad, skjermType">
      <annotation>
         <documentation>10837: Tilstandsgrad for konstruksjon som helhet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10837</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering, konstruksjon</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TGSamletVurdering_KonstruksjonTilstandsgrad, skjermEnumerationType nvdb:TGSamletVurdering_KonstruksjonTilstandsgrad, skjermOtherType"/>
   </simpleType>
   <simpleType name="TGSamletVurdering_KonstruksjonTilstandsgrad, skjermEnumerationType">
      <annotation>
         <documentation>10837: Tilstandsgrad for konstruksjon som helhet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10837</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering, konstruksjon</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="TG0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17863</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17864</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17865</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17866</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGIU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17867</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGMang">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17868</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TGSamletVurdering_KonstruksjonTilstandsgrad, skjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TGSamletVurdering_StøyTilstandsgrad, skjermType">
      <annotation>
         <documentation>10836: Tilstandsgrad for støy som helhet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10836</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering, støy</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TGSamletVurdering_StøyTilstandsgrad, skjermEnumerationType nvdb:TGSamletVurdering_StøyTilstandsgrad, skjermOtherType"/>
   </simpleType>
   <simpleType name="TGSamletVurdering_StøyTilstandsgrad, skjermEnumerationType">
      <annotation>
         <documentation>10836: Tilstandsgrad for støy som helhet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10836</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering, støy</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="TG0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17869</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17870</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17871</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17872</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGIU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17873</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGMang">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17874</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TGSamletVurdering_StøyTilstandsgrad, skjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TGStøy_AbsorberendeElementerTilstandsgrad, skjermType">
      <annotation>
         <documentation>10812: Tilstandsgrad Støy, absorberende elementer. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10812</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Støy, absorberende elementer</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TGStøy_AbsorberendeElementerTilstandsgrad, skjermEnumerationType nvdb:TGStøy_AbsorberendeElementerTilstandsgrad, skjermOtherType"/>
   </simpleType>
   <simpleType name="TGStøy_AbsorberendeElementerTilstandsgrad, skjermEnumerationType">
      <annotation>
         <documentation>10812: Tilstandsgrad Støy, absorberende elementer. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10812</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Støy, absorberende elementer</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="TG0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17804</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17805</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17806</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17807</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGIU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17808</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGMang">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17809</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TGStøy_AbsorberendeElementerTilstandsgrad, skjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TGStøy_GlipperISkjermTilstandsgrad, skjermType">
      <annotation>
         <documentation>10808: Tilstandsgrad Støy, glipper i skjerm. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10808</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Støy, glipper i skjerm</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TGStøy_GlipperISkjermTilstandsgrad, skjermEnumerationType nvdb:TGStøy_GlipperISkjermTilstandsgrad, skjermOtherType"/>
   </simpleType>
   <simpleType name="TGStøy_GlipperISkjermTilstandsgrad, skjermEnumerationType">
      <annotation>
         <documentation>10808: Tilstandsgrad Støy, glipper i skjerm. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10808</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Støy, glipper i skjerm</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="TG0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17791</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17793</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17794</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17795</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGIU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17796</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGMang">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17797</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TGStøy_GlipperISkjermTilstandsgrad, skjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TGStøy_GlipperMotTerrengTilstandsgrad, skjermType">
      <annotation>
         <documentation>10810: Tilstandsgrad Støy, glipper mot terreng. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10810</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Støy, glipper mot terreng</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TGStøy_GlipperMotTerrengTilstandsgrad, skjermEnumerationType nvdb:TGStøy_GlipperMotTerrengTilstandsgrad, skjermOtherType"/>
   </simpleType>
   <simpleType name="TGStøy_GlipperMotTerrengTilstandsgrad, skjermEnumerationType">
      <annotation>
         <documentation>10810: Tilstandsgrad Støy, glipper mot terreng. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10810</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TG Støy, glipper mot terreng</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="TG0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17798</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17799</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17800</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TG3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17801</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGIU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17802</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TGMang">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17803</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TGStøy_GlipperMotTerrengTilstandsgrad, skjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tilstandsgrad, skjerm"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandsgrad, skjermType">
      <annotation>
         <documentation>899: Angir tilstandsgrader for skjerm.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandsgrad, skjerm</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandsgrad, skjermType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="TGStøy_GlipperISkjerm">
                  <annotation>
                     <documentation>10808: Tilstandsgrad Støy, glipper i skjerm. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10808</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TG Støy, glipper i skjerm</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknadStøy_GlipperISkjerm" type="string">
                  <annotation>
                     <documentation>10809: Merknad Støy, glipper i skjerm.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10809</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad Støy, glipper i skjerm</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="TGStøy_GlipperMotTerreng">
                  <annotation>
                     <documentation>10810: Tilstandsgrad Støy, glipper mot terreng. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10810</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TG Støy, glipper mot terreng</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknadStøy_GlipperMotTerreng" type="string">
                  <annotation>
                     <documentation>10811: Merknad Støy, glipper mot terreng.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10811</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad Støy, glipper mot terreng</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="TGStøy_AbsorberendeElementer">
                  <annotation>
                     <documentation>10812: Tilstandsgrad Støy, absorberende elementer. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10812</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TG Støy, absorberende elementer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="merknadStøy_AbsorberendeElementer"
                        type="string">
                  <annotation>
                     <documentation>10813: Merknad Støy, absorberende elementer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10813</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad Støy, absorberende elementer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="TGKonstruksjon_Skjevstilling">
                  <annotation>
                     <documentation>10814: Tilstandsgrad Konstruksjon, Skjevstilling. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10814</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TG Konstruksjon, Skjevstilling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="merknadKonstruksjon_Skjevstilling"
                        type="string">
                  <annotation>
                     <documentation>10815: Merknad Konstruksjon, Skjevstilling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10815</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad Konstruksjon, Skjevstilling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="TGKonstruksjon_KnutepunkterSøyler">
                  <annotation>
                     <documentation>10816: Tilstandsgrad Konstruksjon, Knutepunkter/søyler. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10816</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TG Konstruksjon, Knutepunkter/søyler</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="merknadKonstruksjon_KnutepunkterSøyler"
                        type="string">
                  <annotation>
                     <documentation>10817: Merknad Konstruksjon, Knutepunkter/søyler.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10817</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad Konstruksjon, Knutepunkter/søyler</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="TGKonstruksjon_Fundamenter">
                  <annotation>
                     <documentation>10818: Tilstandsgrad Konstruksjon, Fundamenter. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10818</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TG Konstruksjon, Fundamenter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="merknadKonstruksjoner_Fundamenter"
                        type="string">
                  <annotation>
                     <documentation>10819: Merknad Konstruksjoner, Fundamenter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10819</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad Konstruksjoner, Fundamenter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="TGKonstruksjon_Utvasking">
                  <annotation>
                     <documentation>10820: Tilstandsgrad Konstruksjon, utvasking. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10820</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TG Konstruksjon, utvasking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknadKonstruksjon_Utvasking" type="string">
                  <annotation>
                     <documentation>10821: Merknad Konstruksjon, utvasking.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10821</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad Konstruksjon, utvasking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="TGOverflate_TaggingHærverkEtc">
                  <annotation>
                     <documentation>10822: Tilstandsgrad Overflate, Tagging/hærverk etc. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10822</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TG Overflate, Tagging/hærverk etc</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="merknadOverflate_TaggingHærverkEtc"
                        type="string">
                  <annotation>
                     <documentation>10823: Merknad Overflate, Tagging/hærverk etc.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10823</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad Overflate, Tagging/hærverk etc</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="TGOverflate_RåteMoseSopp">
                  <annotation>
                     <documentation>10824: Tilstandsgrad Overflate, Råte/mose/sopp. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10824</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TG Overflate, Råte/mose/sopp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknadOverflate_RåteMoseSopp" type="string">
                  <annotation>
                     <documentation>10825: Merknad Overflate, Råte/mose/sopp.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10825</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad Overflate, Råte/mose/sopp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="TGOverflate_Vedlikehold">
                  <annotation>
                     <documentation>10834: Tilstandsgrad Overflate, Vedlikehold. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10834</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TG Overflate, Vedlikehold</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknadOverflate_Vedlikehold" type="string">
                  <annotation>
                     <documentation>10835: Merknad Overflate, Vedlikehold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10835</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad Overflate, Vedlikehold</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="TGSamletVurdering_Støy">
                  <annotation>
                     <documentation>10836: Tilstandsgrad for støy som helhet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10836</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering, støy</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknadSamletVurdering_Støy" type="string">
                  <annotation>
                     <documentation>10838: Merknad samlet vurdering, støy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10838</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad samlet vurdering, støy</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="TGSamletVurdering_Konstruksjon">
                  <annotation>
                     <documentation>10837: Tilstandsgrad for konstruksjon som helhet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10837</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering, konstruksjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="merknadSamletVurdering_Konstruksjon"
                        type="string">
                  <annotation>
                     <documentation>10839: Merknad samlet vurdering, konstruksjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10839</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad samlet vurdering, konstruksjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="TGSamletVurdering">
                  <annotation>
                     <documentation>10826: Tilstandsgrad for skjerm som helhet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10826</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">TG Samlet vurdering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknadSamletVurdering" type="string">
                  <annotation>
                     <documentation>10827: Merknad samlet vurdering.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10827</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad samlet vurdering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="registreringsdato" type="date">
                  <annotation>
                     <documentation>10828: Registreringsdato.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10828</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Registreringsdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="signatur" type="string">
                  <annotation>
                     <documentation>10829: Signatur.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10829</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Signatur</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>10830: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10830</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandsgrad, skjermPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandsgrad, skjerm"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
