GML/899.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="TGKonstruksjon_FundamenterType">
    <annotation>
      <documentation>10818: Tilstandsgrad Konstruksjon, Fundamenter. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGKonstruksjon_FundamenterEnumerationType nvdb:TGKonstruksjon_FundamenterOtherType"/>
  </simpleType>
  <simpleType name="TGKonstruksjon_FundamenterEnumerationType">
    <annotation>
      <documentation>10818: Tilstandsgrad Konstruksjon, Fundamenter. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17822: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17823: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17824: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17825: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17826: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17827: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGKonstruksjon_FundamenterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGKonstruksjon_KnutepunkterSøylerType">
    <annotation>
      <documentation>10816: Tilstandsgrad Konstruksjon, Knutepunkter/søyler. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGKonstruksjon_KnutepunkterSøylerEnumerationType nvdb:TGKonstruksjon_KnutepunkterSøylerOtherType"/>
  </simpleType>
  <simpleType name="TGKonstruksjon_KnutepunkterSøylerEnumerationType">
    <annotation>
      <documentation>10816: Tilstandsgrad Konstruksjon, Knutepunkter/søyler. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17816: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17817: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17818: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17819: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17820: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17821: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGKonstruksjon_KnutepunkterSøylerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGKonstruksjon_SkjevstillingType">
    <annotation>
      <documentation>10814: Tilstandsgrad Konstruksjon, Skjevstilling. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGKonstruksjon_SkjevstillingEnumerationType nvdb:TGKonstruksjon_SkjevstillingOtherType"/>
  </simpleType>
  <simpleType name="TGKonstruksjon_SkjevstillingEnumerationType">
    <annotation>
      <documentation>10814: Tilstandsgrad Konstruksjon, Skjevstilling. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17810: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17811: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17812: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17813: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17814: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17815: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGKonstruksjon_SkjevstillingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGKonstruksjon_UtvaskingType">
    <annotation>
      <documentation>10820: Tilstandsgrad Konstruksjon, utvasking. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGKonstruksjon_UtvaskingEnumerationType nvdb:TGKonstruksjon_UtvaskingOtherType"/>
  </simpleType>
  <simpleType name="TGKonstruksjon_UtvaskingEnumerationType">
    <annotation>
      <documentation>10820: Tilstandsgrad Konstruksjon, utvasking. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17828: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17829: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17830: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17831: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17832: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17833: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGKonstruksjon_UtvaskingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGOverflate_RåteMoseSoppType">
    <annotation>
      <documentation>10824: Tilstandsgrad Overflate, Råte/mose/sopp. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGOverflate_RåteMoseSoppEnumerationType nvdb:TGOverflate_RåteMoseSoppOtherType"/>
  </simpleType>
  <simpleType name="TGOverflate_RåteMoseSoppEnumerationType">
    <annotation>
      <documentation>10824: Tilstandsgrad Overflate, Råte/mose/sopp. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17840: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17841: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17842: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17843: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17844: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17845: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGOverflate_RåteMoseSoppOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGOverflate_TaggingHærverkEtcType">
    <annotation>
      <documentation>10822: Tilstandsgrad Overflate, Tagging/hærverk etc. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGOverflate_TaggingHærverkEtcEnumerationType nvdb:TGOverflate_TaggingHærverkEtcOtherType"/>
  </simpleType>
  <simpleType name="TGOverflate_TaggingHærverkEtcEnumerationType">
    <annotation>
      <documentation>10822: Tilstandsgrad Overflate, Tagging/hærverk etc. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17834: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17835: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17836: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17837: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17838: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17839: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGOverflate_TaggingHærverkEtcOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGOverflate_VedlikeholdType">
    <annotation>
      <documentation>10834: Tilstandsgrad Overflate, Vedlikehold. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGOverflate_VedlikeholdEnumerationType nvdb:TGOverflate_VedlikeholdOtherType"/>
  </simpleType>
  <simpleType name="TGOverflate_VedlikeholdEnumerationType">
    <annotation>
      <documentation>10834: Tilstandsgrad Overflate, Vedlikehold. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17857: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17858: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17859: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17860: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17861: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17862: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGOverflate_VedlikeholdOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingType">
    <annotation>
      <documentation>10826: Tilstandsgrad for skjerm som helhet</documentation>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurderingEnumerationType nvdb:TGSamletVurderingOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurderingEnumerationType">
    <annotation>
      <documentation>10826: Tilstandsgrad for skjerm som helhet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17850: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17851: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17852: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17853: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17854: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17855: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurdering_KonstruksjonType">
    <annotation>
      <documentation>10837: Tilstandsgrad for konstruksjon som helhet.</documentation>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurdering_KonstruksjonEnumerationType nvdb:TGSamletVurdering_KonstruksjonOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurdering_KonstruksjonEnumerationType">
    <annotation>
      <documentation>10837: Tilstandsgrad for konstruksjon som helhet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17863: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17864: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17865: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17866: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17867: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17868: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurdering_KonstruksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurdering_StøyType">
    <annotation>
      <documentation>10836: Tilstandsgrad for støy som helhet.</documentation>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurdering_StøyEnumerationType nvdb:TGSamletVurdering_StøyOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurdering_StøyEnumerationType">
    <annotation>
      <documentation>10836: Tilstandsgrad for støy som helhet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17869: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17870: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17871: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17872: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17873: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17874: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurdering_StøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGStøy_AbsorberendeElementerType">
    <annotation>
      <documentation>10812: Tilstandsgrad Støy, absorberende elementer. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGStøy_AbsorberendeElementerEnumerationType nvdb:TGStøy_AbsorberendeElementerOtherType"/>
  </simpleType>
  <simpleType name="TGStøy_AbsorberendeElementerEnumerationType">
    <annotation>
      <documentation>10812: Tilstandsgrad Støy, absorberende elementer. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17804: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17805: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17806: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17807: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17808: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17809: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGStøy_AbsorberendeElementerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGStøy_GlipperISkjermType">
    <annotation>
      <documentation>10808: Tilstandsgrad Støy, glipper i skjerm. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGStøy_GlipperISkjermEnumerationType nvdb:TGStøy_GlipperISkjermOtherType"/>
  </simpleType>
  <simpleType name="TGStøy_GlipperISkjermEnumerationType">
    <annotation>
      <documentation>10808: Tilstandsgrad Støy, glipper i skjerm. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17791: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17793: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17794: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17795: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17796: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17797: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGStøy_GlipperISkjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGStøy_GlipperMotTerrengType">
    <annotation>
      <documentation>10810: Tilstandsgrad Støy, glipper mot terreng. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <union memberTypes="nvdb:TGStøy_GlipperMotTerrengEnumerationType nvdb:TGStøy_GlipperMotTerrengOtherType"/>
  </simpleType>
  <simpleType name="TGStøy_GlipperMotTerrengEnumerationType">
    <annotation>
      <documentation>10810: Tilstandsgrad Støy, glipper mot terreng. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17798: Tilstandsgrad 0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17799: Tilstandsgrad 1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17800: Tilstandsgrad 2</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17801: Tilstandsgrad 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17802: Tilstandsgrad Ikke Undersøkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17803: Tilstandsgrad mangler</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGStøy_GlipperMotTerrengOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tilstandsgrad_Skjerm" substitutionGroup="nvdb:AbstraktTilstandsgrad_Skjerm" type="nvdb:Tilstandsgrad_SkjermType">
    <annotation>
      <documentation>899: Angir tilstandsgrader for skjerm.</documentation>
    </annotation>
  </element>
  <complexType name="Tilstandsgrad_SkjermType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandsgrad_SkjermType">
        <sequence>
          <element minOccurs="0" name="TGStøy_GlipperISkjerm" type="nvdb:TGStøy_GlipperISkjermType">
            <annotation>
              <documentation>10808: Tilstandsgrad Støy, glipper i skjerm. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadStøy_GlipperISkjerm" type="string">
            <annotation>
              <documentation>10809: Merknad Støy, glipper i skjerm</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGStøy_GlipperMotTerreng" type="nvdb:TGStøy_GlipperMotTerrengType">
            <annotation>
              <documentation>10810: Tilstandsgrad Støy, glipper mot terreng. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadStøy_GlipperMotTerreng" type="string">
            <annotation>
              <documentation>10811: Merknad Støy, glipper mot terreng</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGStøy_AbsorberendeElementer" type="nvdb:TGStøy_AbsorberendeElementerType">
            <annotation>
              <documentation>10812: Tilstandsgrad Støy, absorberende elementer. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadStøy_AbsorberendeElementer" type="string">
            <annotation>
              <documentation>10813: Merknad Støy, absorberende elementer</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGKonstruksjon_Skjevstilling" type="nvdb:TGKonstruksjon_SkjevstillingType">
            <annotation>
              <documentation>10814: Tilstandsgrad Konstruksjon, Skjevstilling. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKonstruksjon_Skjevstilling" type="string">
            <annotation>
              <documentation>10815: Merknad Konstruksjon, Skjevstilling</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGKonstruksjon_KnutepunkterSøyler" type="nvdb:TGKonstruksjon_KnutepunkterSøylerType">
            <annotation>
              <documentation>10816: Tilstandsgrad Konstruksjon, Knutepunkter/søyler. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKonstruksjon_KnutepunkterSøyler" type="string">
            <annotation>
              <documentation>10817: Merknad Konstruksjon, Knutepunkter/søyler</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGKonstruksjon_Fundamenter" type="nvdb:TGKonstruksjon_FundamenterType">
            <annotation>
              <documentation>10818: Tilstandsgrad Konstruksjon, Fundamenter. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKonstruksjoner_Fundamenter" type="string">
            <annotation>
              <documentation>10819: Merknad Konstruksjoner, Fundamenter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGKonstruksjon_Utvasking" type="nvdb:TGKonstruksjon_UtvaskingType">
            <annotation>
              <documentation>10820: Tilstandsgrad Konstruksjon, utvasking. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKonstruksjon_Utvasking" type="string">
            <annotation>
              <documentation>10821: Merknad Konstruksjon, utvasking</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGOverflate_TaggingHærverkEtc" type="nvdb:TGOverflate_TaggingHærverkEtcType">
            <annotation>
              <documentation>10822: Tilstandsgrad Overflate, Tagging/hærverk etc. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadOverflate_TaggingHærverkEtc" type="string">
            <annotation>
              <documentation>10823: Merknad Overflate, Tagging/hærverk etc</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGOverflate_RåteMoseSopp" type="nvdb:TGOverflate_RåteMoseSoppType">
            <annotation>
              <documentation>10824: Tilstandsgrad Overflate, Råte/mose/sopp. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadOverflate_RåteMoseSopp" type="string">
            <annotation>
              <documentation>10825: Merknad Overflate, Råte/mose/sopp</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGOverflate_Vedlikehold" type="nvdb:TGOverflate_VedlikeholdType">
            <annotation>
              <documentation>10834: Tilstandsgrad Overflate, Vedlikehold. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadOverflate_Vedlikehold" type="string">
            <annotation>
              <documentation>10835: Merknad Overflate, Vedlikehold</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurdering_Støy" type="nvdb:TGSamletVurdering_StøyType">
            <annotation>
              <documentation>10836: Tilstandsgrad for støy som helhet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSamletVurdering_Støy" type="string">
            <annotation>
              <documentation>10838: Merknad samlet vurdering, støy</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurdering_Konstruksjon" type="nvdb:TGSamletVurdering_KonstruksjonType">
            <annotation>
              <documentation>10837: Tilstandsgrad for konstruksjon som helhet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSamletVurdering_Konstruksjon" type="string">
            <annotation>
              <documentation>10839: Merknad samlet vurdering, konstruksjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurdering" type="nvdb:TGSamletVurderingType">
            <annotation>
              <documentation>10826: Tilstandsgrad for skjerm som helhet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSamletVurdering" type="string">
            <annotation>
              <documentation>10827: Merknad samlet vurdering</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>10828: Registreringsdato</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="signatur" type="string">
            <annotation>
              <documentation>10829: Signatur</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>10830: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Tilstandsgrad_SkjermPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tilstandsgrad_Skjerm"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
