GML/9.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AvvisningType">
    <annotation>
      <documentation>4082: Angir hvorvidt kantsteinen er avvisende eller ikke avvisende i forhold til kjøretøy</documentation>
    </annotation>
    <union memberTypes="nvdb:AvvisningEnumerationType nvdb:AvvisningOtherType"/>
  </simpleType>
  <simpleType name="AvvisningEnumerationType">
    <annotation>
      <documentation>4082: Angir hvorvidt kantsteinen er avvisende eller ikke avvisende i forhold til kjøretøy</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="avvisende">
        <annotation>
          <documentation>5083: Avvisende</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeAvvisende">
        <annotation>
          <documentation>5084: Ikke avvisende</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AvvisningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierKantsteinType">
    <annotation>
      <documentation>5815: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierKantsteinEnumerationType nvdb:EierKantsteinOtherType"/>
  </simpleType>
  <simpleType name="EierKantsteinEnumerationType">
    <annotation>
      <documentation>5815: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>8210: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18592: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10702: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>8236: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>8262: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17667: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierKantsteinOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Kantstein" substitutionGroup="nvdb:AbstraktKantstein" type="nvdb:KantsteinType">
    <annotation>
      <documentation>9: Stein som settes for å avgrense trafikkøyer, fortau, midtdeler, etc.(1)</documentation>
    </annotation>
  </element>
  <complexType name="KantsteinType">
    <complexContent>
      <extension base="nvdb:AbstraktKantsteinType">
        <sequence>
          <element minOccurs="0" name="materialtype" type="nvdb:MaterialtypeKantsteinType">
            <annotation>
              <documentation>1092: Angir hvilken materialtype vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="avvisning" type="nvdb:AvvisningType">
            <annotation>
              <documentation>4082: Angir hvorvidt kantsteinen er avvisende eller ikke avvisende i forhold til kjøretøy</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kantsteinsprofil" type="nvdb:KantsteinsprofilType">
            <annotation>
              <documentation>1655: Angir hvordan tverrprofilet av kantsteinen er utformet (visflate).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Gjennomsnitt" type="double">
            <annotation>
              <documentation>1678: Angir gjennomsnittlig bredde av vegobjektet
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="elementlengde" type="double">
            <annotation>
              <documentation>1966: Angir normal lengde av enkeltelement.  Lengde av enkelt kantstein
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1301: Angir lengde av vegobjektet, er normalt avledet fra geometri/stedfesting
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde_Egen" type="double">
            <annotation>
              <documentation>10424: Angir egenhøyde av kantstein, dvs synlig høyde + nedgravd høyde
Enhet: Centimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeOverVegdekke" type="double">
            <annotation>
              <documentation>2052: Angir gjennomsnittlig høyde over vegdekke for hele vegobjektet.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10315: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>1509: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>1431: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="leverandør" type="string">
            <annotation>
              <documentation>1468: Angir navn på firma som har levert vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11547: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11032: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierKantsteinType">
            <annotation>
              <documentation>5815: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligKantsteinType">
            <annotation>
              <documentation>5803: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4717: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSidearealTunnel" type="nvdb:AbstraktSidearealTunnelPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="nvdb:AbstraktTrafikkdelerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="nvdb:AbstraktTilstandSkade_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNedsenkaKantstein" type="nvdb:AbstraktNedsenkaKantsteinPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Strekning" type="nvdb:AbstraktTilstandSkadeFU_StrekningPropertyType"/>
          <element minOccurs="0" name="assosiertHoldeplassutrustning" type="nvdb:AbstraktHoldeplassutrustningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element minOccurs="0" name="assosiertFortau" type="nvdb:AbstraktFortauPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkøy" type="nvdb:AbstraktTrafikkøyPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KantsteinPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kantstein"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KantsteinsprofilType">
    <annotation>
      <documentation>1655: Angir hvordan tverrprofilet av kantsteinen er utformet (visflate).</documentation>
    </annotation>
    <union memberTypes="nvdb:KantsteinsprofilEnumerationType nvdb:KantsteinsprofilOtherType"/>
  </simpleType>
  <simpleType name="KantsteinsprofilEnumerationType">
    <annotation>
      <documentation>1655: Angir hvordan tverrprofilet av kantsteinen er utformet (visflate).</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="rett">
        <annotation>
          <documentation>2408: Rett</documentation>
        </annotation>
      </enumeration>
      <enumeration value="litenFas">
        <annotation>
          <documentation>2409: Liten fas</documentation>
        </annotation>
      </enumeration>
      <enumeration value="storFas">
        <annotation>
          <documentation>2410: Stor fas</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skråddVertikalVisflate">
        <annotation>
          <documentation>2411: Skrådd vertikal visflate</documentation>
        </annotation>
      </enumeration>
      <enumeration value="avrundet">
        <annotation>
          <documentation>2412: Avrundet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="holdeplasskantstein">
        <annotation>
          <documentation>17302: Avrundet utforming (konkav). Benyttes i forbindelse med bussholdeplasser. Se Håndbok V123 kap 4.5.4</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KantsteinsprofilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeKantsteinType">
    <annotation>
      <documentation>1092: Angir hvilken materialtype vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeKantsteinEnumerationType nvdb:MaterialtypeKantsteinOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeKantsteinEnumerationType">
    <annotation>
      <documentation>1092: Angir hvilken materialtype vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="betong">
        <annotation>
          <documentation>2199: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong_Plasstøpt">
        <annotation>
          <documentation>3326: Betong, plasstøpt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betong_PrefabrikkerteElement">
        <annotation>
          <documentation>3332: Betong, prefabrikkerte element</documentation>
        </annotation>
      </enumeration>
      <enumeration value="granitt">
        <annotation>
          <documentation>3591: Granitt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skiferHeller">
        <annotation>
          <documentation>3592: Skifer/heller</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfalt">
        <annotation>
          <documentation>5463: Asfalt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeKantsteinOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKantsteinType">
    <annotation>
      <documentation>5803: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligKantsteinEnumerationType nvdb:VedlikeholdsansvarligKantsteinOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKantsteinEnumerationType">
    <annotation>
      <documentation>5803: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>8198: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18743: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19912: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18872: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>8224: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>8250: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17691: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKantsteinOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
