GML/9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>9: Stein som settes for å avgrense trafikkøyer, fortau, midtdeler, etc. (1)</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AvvisningKantsteinType">
      <annotation>
         <documentation>4082: Angir hvorvidt kantsteinen er avvisende eller ikke avvisende i forhold til kjøretøy.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4082</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avvisning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AvvisningKantsteinEnumerationType nvdb:AvvisningKantsteinOtherType"/>
   </simpleType>
   <simpleType name="AvvisningKantsteinEnumerationType">
      <annotation>
         <documentation>4082: Angir hvorvidt kantsteinen er avvisende eller ikke avvisende i forhold til kjøretøy.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4082</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avvisning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5083</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Avvisende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ia">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5084</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke avvisende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AvvisningKantsteinOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BakstøpArmeringKantsteinType">
      <annotation>
         <documentation>12565: Angir om det er bakstøp/armering i tilknytning til kantstein.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12565</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bakstøp/armering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BakstøpArmeringKantsteinEnumerationType nvdb:BakstøpArmeringKantsteinOtherType"/>
   </simpleType>
   <simpleType name="BakstøpArmeringKantsteinEnumerationType">
      <annotation>
         <documentation>12565: Angir om det er bakstøp/armering i tilknytning til kantstein.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12565</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bakstøp/armering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21667</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21668</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BakstøpArmeringKantsteinOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierKantsteinType">
      <annotation>
         <documentation>5815: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5815</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierKantsteinEnumerationType nvdb:EierKantsteinOtherType"/>
   </simpleType>
   <simpleType name="EierKantsteinEnumerationType">
      <annotation>
         <documentation>5815: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5815</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10702</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8236</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8262</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18592</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8210</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17667</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierKantsteinOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Kantstein"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:KantsteinType">
      <annotation>
         <documentation>9: Stein som settes for å avgrense trafikkøyer, fortau, midtdeler, etc. (1)</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kantstein</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="KantsteinType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="materialtype" type="nvdb:MaterialtypeKantsteinType">
                  <annotation>
                     <documentation>1092: Angir hvilken materialtype vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1092</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="avvisning" type="nvdb:AvvisningKantsteinType">
                  <annotation>
                     <documentation>4082: Angir hvorvidt kantsteinen er avvisende eller ikke avvisende i forhold til kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4082</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avvisning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="kantsteinsprofil"
                        type="nvdb:KantsteinsprofilKantsteinType">
                  <annotation>
                     <documentation>1655: Angir hvordan tverrprofilet av kantsteinen er utformet (visflate).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1655</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kantsteinsprofil</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>1678: Angir gjennomsnittlig bredde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1678</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="elementlengde" type="double">
                  <annotation>
                     <documentation>1966: Angir normal lengde av enkeltelement. Lengde av enkelt kantstein.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1966</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Elementlengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>1301: Angir lengde av vegobjektet, er normalt avledet fra geometri/stedfesting.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1301</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høyde_Egen" type="double">
                  <annotation>
                     <documentation>10424: Angir egenhøyde av kantstein, dvs. synlig høyde + nedgravd høyde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10424</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, egen</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høydeOverVegdekke" type="double">
                  <annotation>
                     <documentation>2052: Angir gjennomsnittlig høyde over vegdekke for hele vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2052</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde over vegdekke</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bakstøpArmering">
                  <annotation>
                     <documentation>12565: Angir om det er bakstøp/armering i tilknytning til kantstein.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12565</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bakstøp/armering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10315: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10315</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produsent" type="string">
                  <annotation>
                     <documentation>1509: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1509</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produktnavn" type="string">
                  <annotation>
                     <documentation>1431: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1431</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="leverandør" type="string">
                  <annotation>
                     <documentation>1468: Angir navn på firma som har levert vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1468</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Leverandør</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11547: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11547</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11032: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11032</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12267: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12267</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierKantsteinType">
                  <annotation>
                     <documentation>5815: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5815</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligKantsteinType">
                  <annotation>
                     <documentation>5803: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5803</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4717: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4717</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="KantsteinPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kantstein"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="KantsteinsprofilKantsteinType">
      <annotation>
         <documentation>1655: Angir hvordan tverrprofilet av kantsteinen er utformet (visflate).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1655</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kantsteinsprofil</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KantsteinsprofilKantsteinEnumerationType nvdb:KantsteinsprofilKantsteinOtherType"/>
   </simpleType>
   <simpleType name="KantsteinsprofilKantsteinEnumerationType">
      <annotation>
         <documentation>1655: Angir hvordan tverrprofilet av kantsteinen er utformet (visflate).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1655</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kantsteinsprofil</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ar">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2412</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Avrundet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17302</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Holdeplasskantstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2409</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Liten fas</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2408</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2411</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skrådd vertikal visflate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2410</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stor fas</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KantsteinsprofilKantsteinOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeKantsteinType">
      <annotation>
         <documentation>1092: Angir hvilken materialtype vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1092</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeKantsteinEnumerationType nvdb:MaterialtypeKantsteinOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeKantsteinEnumerationType">
      <annotation>
         <documentation>1092: Angir hvilken materialtype vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1092</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5463</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2199</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3326</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, plasstøpt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3332</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, prefabrikkerte element</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3591</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Granitt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3592</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skifer/heller</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeKantsteinOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKantsteinType">
      <annotation>
         <documentation>5803: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5803</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligKantsteinEnumerationType nvdb:VedlikeholdsansvarligKantsteinOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKantsteinEnumerationType">
      <annotation>
         <documentation>5803: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5803</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19912</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8224</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18743</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18872</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8250</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8198</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17691</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKantsteinOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
