GML/90.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="FundamenteringSignalpunktType">
    <annotation>
      <documentation>1670: Angir hvordan vegobjektet er fundamentert</documentation>
    </annotation>
    <union memberTypes="nvdb:FundamenteringSignalpunktEnumerationType nvdb:FundamenteringSignalpunktOtherType"/>
  </simpleType>
  <simpleType name="FundamenteringSignalpunktEnumerationType">
    <annotation>
      <documentation>1670: Angir hvordan vegobjektet er fundamentert</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="IPåFjellfundament">
        <annotation>
          <documentation>2429: I/på fjellfundament</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IPåJordfundament">
        <annotation>
          <documentation>2434: I/på jordfundament</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IPåFjell">
        <annotation>
          <documentation>3264: I/på fjell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="jordstikk">
        <annotation>
          <documentation>2425: Jordstikk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K_Mm_DFundament">
        <annotation>
          <documentation>3930: Kum med fundament</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringSignalpunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrSignalpunktType">
    <annotation>
      <documentation>1875: Angir hvilken type oppsettingsutstyr vegobjektet er festet på</documentation>
    </annotation>
    <union memberTypes="nvdb:OppsettingsutstyrSignalpunktEnumerationType nvdb:OppsettingsutstyrSignalpunktOtherType"/>
  </simpleType>
  <simpleType name="OppsettingsutstyrSignalpunktEnumerationType">
    <annotation>
      <documentation>1875: Angir hvilken type oppsettingsutstyr vegobjektet er festet på</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="egenStolpe">
        <annotation>
          <documentation>2968: Festet til egen stolpe/mast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="helportal">
        <annotation>
          <documentation>2873: Festet på helportal. En helportal har to innfestinger i bakken.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="halvportal">
        <annotation>
          <documentation>2870: Festet på halvportal. En halvportal har bare en innfesting i bakken.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="wirestrekk">
        <annotation>
          <documentation>2876: Festet på wire som er strekt over vegen. Wire kan være festet til stolper, vegg/bygning eller annet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skiltbjelkeGitterdragerITak">
        <annotation>
          <documentation>18487: Festet på skiltbjelke/gitermast. Skiltbjelke/gitermast benyttes hovedsakelig i  tunnel eller i forbindelse med underganger og er festet i taket.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hengerITakKabelbro">
        <annotation>
          <documentation>2971: Festet direkte i tak eller i kabelbro. Aktuelt i forbindelse med tunneler og underganger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegg">
        <annotation>
          <documentation>2973: Festet til vegg/bygning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lysmast">
        <annotation>
          <documentation>2966: Festet til lysmast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vegbom">
        <annotation>
          <documentation>16737: Festet på vegbom. F.eks Gulblink festet på bom</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrSignalpunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Signalpunkt" substitutionGroup="nvdb:AbstraktSignalpunkt" type="nvdb:SignalpunktType">
    <annotation>
      <documentation>90: Signalhoder inkludert stolpe etc. lokalisert til et punkt.</documentation>
    </annotation>
  </element>
  <complexType name="SignalpunktType">
    <complexContent>
      <extension base="nvdb:AbstraktSignalpunktType">
        <sequence>
          <element minOccurs="0" name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrSignalpunktType">
            <annotation>
              <documentation>1875: Angir hvilken type oppsettingsutstyr vegobjektet er festet på</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsutstyr" type="nvdb:TilleggsutstyrType">
            <annotation>
              <documentation>1963: Angir hvilket tilleggsutstyr det finnes i forbindelse med vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fundamentering" type="nvdb:FundamenteringSignalpunktType">
            <annotation>
              <documentation>1670: Angir hvordan vegobjektet er fundamentert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10355: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>1146: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11075: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4790: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="nvdb:AbstraktTunnelløpPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertSignalanlegg" type="nvdb:AbstraktSignalanleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSignalhode" type="nvdb:AbstraktSignalhodePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Punkt" type="nvdb:AbstraktTilstandSkade_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Punkt" type="nvdb:AbstraktTilstandSkadeFU_PunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSystemobjekt" type="nvdb:AbstraktSystemobjektPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SignalpunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Signalpunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilleggsutstyrType">
    <annotation>
      <documentation>1963: Angir hvilket tilleggsutstyr det finnes i forbindelse med vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:TilleggsutstyrEnumerationType nvdb:TilleggsutstyrOtherType"/>
  </simpleType>
  <simpleType name="TilleggsutstyrEnumerationType">
    <annotation>
      <documentation>1963: Angir hvilket tilleggsutstyr det finnes i forbindelse med vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="trykknappForFotgjengere">
        <annotation>
          <documentation>2989: Trykknapp for fotgjengere</documentation>
        </annotation>
      </enumeration>
      <enumeration value="akustiskSignal">
        <annotation>
          <documentation>2990: Akustisk signal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trykknappForFotgjengereOgAkustiskSignal">
        <annotation>
          <documentation>2991: Trykknapp for fotgjengere og akustisk signal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeTilleggsutstyr">
        <annotation>
          <documentation>18308: Ikke noe tilleggsutstyr. Bare aktuelt å angi denne verdien i tilfeller hvor det er relevant med tilleggsutstyr</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilleggsutstyrOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
