GML/90.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>90: Signalhoder inkludert stolpe etc. lokalisert til et punkt.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierSignalpunktType">
      <annotation>
         <documentation>11965: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11965</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierSignalpunktEnumerationType nvdb:EierSignalpunktOtherType"/>
   </simpleType>
   <simpleType name="EierSignalpunktEnumerationType">
      <annotation>
         <documentation>11965: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11965</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20493</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20494</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20495</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20492</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20491</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>20496: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20496</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierSignalpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringSignalpunktType">
      <annotation>
         <documentation>1670: Angir hvordan vegobjektet er fundamentert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1670</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FundamenteringSignalpunktEnumerationType nvdb:FundamenteringSignalpunktOtherType"/>
   </simpleType>
   <simpleType name="FundamenteringSignalpunktEnumerationType">
      <annotation>
         <documentation>1670: Angir hvordan vegobjektet er fundamentert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1670</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ef">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3264</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I/på fjell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2429</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I/på fjellfundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="jf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2434</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I/på jordfundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ij">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2425</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jordstikk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3930</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kum med fundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringSignalpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OppsettingsutstyrSignalpunktType">
      <annotation>
         <documentation>1875: Angir hvilken type oppsettingsutstyr vegobjektet er festet på.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1875</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OppsettingsutstyrSignalpunktEnumerationType nvdb:OppsettingsutstyrSignalpunktOtherType"/>
   </simpleType>
   <simpleType name="OppsettingsutstyrSignalpunktEnumerationType">
      <annotation>
         <documentation>1875: Angir hvilken type oppsettingsutstyr vegobjektet er festet på.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1875</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="es">
            <annotation>
               <documentation>2968: Festet til egen stolpe/mast.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2968</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Egen stolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ap">
            <annotation>
               <documentation>2870: Festet på halvportal. En halvportal har bare en innfesting i bakken.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2870</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Halvportal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hp">
            <annotation>
               <documentation>2873: Festet på helportal. En helportal har to innfestinger i bakken.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2873</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helportal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tk">
            <annotation>
               <documentation>2971: Festet direkte i tak eller i kabelbro. Aktuelt i forbindelse med tunneler og underganger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2971</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Henger i tak/kabelbro</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lm">
            <annotation>
               <documentation>2966: Festet til lysmast.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2966</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysmast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SB">
            <annotation>
               <documentation>18487: Festet på skiltbjelke/gittermast. Skiltbjelke/gittermast benyttes hovedsakelig i tunnel eller i forbindelse med underganger og er festet i taket.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18487</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiltbjelke/gitterdrager i tak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SP">
            <annotation>
               <documentation>21655: Signalhode er plassert på typisk skiltstolpe/skiltmast.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21655</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiltpunkt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bom">
            <annotation>
               <documentation>16737: Festet på vegbom. F.eks. Gulblink festet på bom.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16737</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegbom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <documentation>2973: Festet til vegg/bygning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2973</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ws">
            <annotation>
               <documentation>2876: Festet på wire som er strekt over vegen. Wire kan være festet til stolper, vegg/bygning eller annet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2876</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Wirestrekk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OppsettingsutstyrSignalpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Signalpunkt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:SignalpunktType">
      <annotation>
         <documentation>90: Signalhoder inkludert stolpe etc. lokalisert til et punkt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">90</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signalpunkt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SignalpunktType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrSignalpunktType">
                  <annotation>
                     <documentation>1875: Angir hvilken type oppsettingsutstyr vegobjektet er festet på.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1875</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="tilleggsutstyr"
                        type="nvdb:TilleggsutstyrSignalpunktType">
                  <annotation>
                     <documentation>1963: Angir hvilket tilleggsutstyr det finnes i forbindelse med vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1963</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsutstyr</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="fundamentering"
                        type="nvdb:FundamenteringSignalpunktType">
                  <annotation>
                     <documentation>1670: Angir hvordan vegobjektet er fundamentert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1670</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="fundamentdetaljer" type="string">
                  <annotation>
                     <documentation>12233: Detaljinformasjon om stolpefundament. Kan være informasjon om produsent, produktnavn, typebetegnelse, størrelse, m.m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12233</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fundamentdetaljer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="RAL_Kode" type="string">
                  <annotation>
                     <documentation>12839: Angir lakkfargekode for stolpe. Bare aktuelt for lakkerte stolper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12839</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">RAL-kode</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10355: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10355</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>1146: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1146</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11075: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11075</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12315: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12315</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierSignalpunktType">
                  <annotation>
                     <documentation>11965: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11965</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligSignalpunktType">
                  <annotation>
                     <documentation>11997: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11997</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4790: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4790</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SignalpunktPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Signalpunkt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TilleggsutstyrSignalpunktType">
      <annotation>
         <documentation>1963: Angir hvilket tilleggsutstyr det finnes i forbindelse med vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1963</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilleggsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilleggsutstyrSignalpunktEnumerationType nvdb:TilleggsutstyrSignalpunktOtherType"/>
   </simpleType>
   <simpleType name="TilleggsutstyrSignalpunktEnumerationType">
      <annotation>
         <documentation>1963: Angir hvilket tilleggsutstyr det finnes i forbindelse med vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1963</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilleggsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2990</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Akustisk signal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="it">
            <annotation>
               <documentation>18308: Ikke noe tilleggsutstyr. Bare aktuelt å angi denne verdien i tilfeller hvor det er relevant med tilleggsutstyr.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18308</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke tilleggsutstyr</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2989</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trykknapp for fotgjengere</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2991</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trykknapp for fotgjengere og akustisk signal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TSV">
            <annotation>
               <documentation>22633: Knapp for sykkelister for å varsle bilister om at det er sykkelister i vegen. Benyttes hovedsakelig i tilknytning til tunneler.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22633</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Knapp for sykkelvarsling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilleggsutstyrSignalpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSignalpunktType">
      <annotation>
         <documentation>11997: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11997</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligSignalpunktEnumerationType nvdb:VedlikeholdsansvarligSignalpunktOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSignalpunktEnumerationType">
      <annotation>
         <documentation>11997: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11997</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20688</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20690</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20687</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20689</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20691</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20686</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20692</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSignalpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
