GML/900.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>900: Gjeldende bruksklasse for tømmertransport i vegliste.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AksellastTeleløsningBruksklasse, tømmertransportType">
      <annotation>
         <documentation>12903: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12903</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AksellastTeleløsningBruksklasse, tømmertransportEnumerationType nvdb:AksellastTeleløsningBruksklasse, tømmertransportOtherType"/>
   </simpleType>
   <simpleType name="AksellastTeleløsningBruksklasse, tømmertransportEnumerationType">
      <annotation>
         <documentation>12903: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12903</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22317</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22318</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22319</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22320</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22321</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AksellastTeleløsningBruksklasse, tømmertransportOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Bruksklasse, tømmertransport"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Bruksklasse, tømmertransportType">
      <annotation>
         <documentation>900: Gjeldende bruksklasse for tømmertransport i vegliste.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">900</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse, tømmertransport</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Bruksklasse, tømmertransportType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksklasseHelår">
                  <annotation>
                     <documentation>10897: Angir helårs bruksklasse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10897</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="maksVogntoglengde">
                  <annotation>
                     <documentation>10909: Angir maksimal lengde for vogntog.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10909</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tillattForModulvogntog1Og2MedSporingskrav">
                  <annotation>
                     <documentation>12057: Angir om det er tillatt for modulvogntog 1 og 2 med sporingskrav.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12057</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tillatt for modulvogntog 1 og 2 med sporingskrav</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bruksklasseVinter">
                  <annotation>
                     <documentation>10903: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10903</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="AksellastTeleløsning">
                  <annotation>
                     <documentation>12903: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12903</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="strekningsbeskrivelse" type="string">
                  <annotation>
                     <documentation>10915: Beskrivelse av aktuell vegstrekning. Denne teksten blir henta direkte inn i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10915</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>11005: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11005</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="veglisteGjelderAlltid" type="string">
                  <annotation>
                     <documentation>11208: Veglister er forskrift og gjelder alltid foran kartvisning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11208</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegliste gjelder alltid</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Bruksklasse, tømmertransportPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Bruksklasse, tømmertransport"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="BruksklasseHelårBruksklasse, tømmertransportType">
      <annotation>
         <documentation>10897: Angir helårs bruksklasse.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10897</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksklasseHelårBruksklasse, tømmertransportEnumerationType nvdb:BruksklasseHelårBruksklasse, tømmertransportOtherType"/>
   </simpleType>
   <simpleType name="BruksklasseHelårBruksklasse, tømmertransportEnumerationType">
      <annotation>
         <documentation>10897: Angir helårs bruksklasse.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10897</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="10-42">
            <annotation>
               <documentation>18213: Bruksklasse Bk10. Maks totalvekt 42 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18213</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 42 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10-50">
            <annotation>
               <documentation>18212: Bruksklasse Bk10. Maks totalvekt 50 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18212</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10-56">
            <annotation>
               <documentation>21694: Bruksklasse Bk10. Maks totalvekt 56 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21694</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 56 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10-60">
            <annotation>
               <documentation>21693: Bruksklasse Bk10. Maks totalvekt 60 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21693</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 60 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6-28">
            <annotation>
               <documentation>18217: Bruksklasse Bk6. Maks totalvekt 28 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18217</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk6 - 28 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8-32">
            <annotation>
               <documentation>18216: Bruksklasse Bk8. Maks totalvekt 32 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18216</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-40">
            <annotation>
               <documentation>18215: Bruksklasse BkT8. Maks totalvekt 40 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18215</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-50">
            <annotation>
               <documentation>18214: Bruksklasse BkT8. Maks totalvekt 50 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18214</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-60">
            <annotation>
               <documentation>21618: Bruksklasse BkT8. Maks totalvekt 60 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21618</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 60 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spes">
            <annotation>
               <documentation>18218: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til aksellastrestriksjon eller begrensning i totalvekt. Nedsatte verdier gis i egne egenskapstyper.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18218</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseHelårBruksklasse, tømmertransportOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseVinterBruksklasse, tømmertransportType">
      <annotation>
         <documentation>10903: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10903</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksklasseVinterBruksklasse, tømmertransportEnumerationType nvdb:BruksklasseVinterBruksklasse, tømmertransportOtherType"/>
   </simpleType>
   <simpleType name="BruksklasseVinterBruksklasse, tømmertransportEnumerationType">
      <annotation>
         <documentation>10903: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10903</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="10-42">
            <annotation>
               <documentation>21695: Bruksklasse Bk10. Maks totalvekt 42 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21695</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 42 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10-50">
            <annotation>
               <documentation>18219: Bruksklasse Bk10. Maks totalvekt 50 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18219</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10-56">
            <annotation>
               <documentation>21698: Bruksklasse Bk10. Maks totalvekt 56 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21698</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 56 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10-60">
            <annotation>
               <documentation>19636: Bruksklasse Bk10. Maks totalvekt 60 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19636</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 60 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6-28">
            <annotation>
               <documentation>21697: Bruksklasse Bk6. Maks totalvekt 28 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21697</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk6 - 28 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8-32">
            <annotation>
               <documentation>18221: Bruksklasse Bk8. Maks totalvekt 32 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18221</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-40">
            <annotation>
               <documentation>18220: Bruksklasse BkT8. Maks totalvekt 40 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18220</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-50">
            <annotation>
               <documentation>21696: Bruksklasse BkT8. Maks totalvekt 50 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21696</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-60">
            <annotation>
               <documentation>21619: Bruksklasse BkT8. Maks totalvekt 60 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21619</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 60 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseVinterBruksklasse, tømmertransportOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, tømmertransportType">
      <annotation>
         <documentation>10909: Angir maksimal lengde for vogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10909</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaksVogntoglengdeBruksklasse, tømmertransportEnumerationType nvdb:MaksVogntoglengdeBruksklasse, tømmertransportOtherType"/>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, tømmertransportEnumerationType">
      <annotation>
         <documentation>10909: Angir maksimal lengde for vogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10909</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1240">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18239</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12,40</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1500">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18424</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">15,00</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1950">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18423</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">19,50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2200">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18237</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">22,00</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2400">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18238</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">24,00</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spes">
            <annotation>
               <documentation>18240: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til vogntog-/kjøretøylengde. Nedsatte verdier gis i egne egenskapstyper.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18240</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, tømmertransportOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TillattForModulvogntog1Og2MedSporingskravBruksklasse, tømmertransportType">
      <annotation>
         <documentation>12057: Angir om det er tillatt for modulvogntog 1 og 2 med sporingskrav.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12057</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tillatt for modulvogntog 1 og 2 med sporingskrav</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TillattForModulvogntog1Og2MedSporingskravBruksklasse, tømmertransportEnumerationType nvdb:TillattForModulvogntog1Og2MedSporingskravBruksklasse, tømmertransportOtherType"/>
   </simpleType>
   <simpleType name="TillattForModulvogntog1Og2MedSporingskravBruksklasse, tømmertransportEnumerationType">
      <annotation>
         <documentation>12057: Angir om det er tillatt for modulvogntog 1 og 2 med sporingskrav.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12057</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tillatt for modulvogntog 1 og 2 med sporingskrav</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <documentation>20911: Indikerer at det er lovlig å kjøre modulvogntog på strekningen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20911</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>20912: Indikerer at det ikke er lovlig å kjøre modulvogntog på strekningen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20912</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TillattForModulvogntog1Og2MedSporingskravBruksklasse, tømmertransportOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
