GML/900.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.23">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksklasseHelårBruksklasse_TømmertransportType">
    <annotation>
      <documentation>10897: Angir helårs bruksklasse.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10897</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10897</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksklasse</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksklasseHelårBruksklasse_TømmertransportEnumerationType nvdb:BruksklasseHelårBruksklasse_TømmertransportOtherType"/>
  </simpleType>
  <simpleType name="BruksklasseHelårBruksklasse_TømmertransportEnumerationType">
    <annotation>
      <documentation>10897: Angir helårs bruksklasse.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10897</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10897</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksklasse</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="10-50">
        <annotation>
          <documentation>18212: Bruksklasse Bk10.  Maks totalvekt 50 tonn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18212</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bk10 - 50 tonn</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10-42">
        <annotation>
          <documentation>18213: Bruksklasse Bk10.  Maks totalvekt 42 tonn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18213</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bk10 - 42 tonn</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-50">
        <annotation>
          <documentation>18214: Bruksklasse BkT8.  Maks totalvekt 50 tonn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18214</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">BkT8 - 50 tonn</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-40">
        <annotation>
          <documentation>18215: Bruksklasse BkT8.  Maks totalvekt 40 tonn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18215</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">BkT8 - 40 tonn</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8-32">
        <annotation>
          <documentation>18216: Bruksklasse Bk8.  Maks totalvekt 32 tonn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18216</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bk8 - 32 tonn</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6-28">
        <annotation>
          <documentation>18217: Bruksklasse Bk6.  Maks totalvekt 28 tonn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18217</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bk6 - 28 tonn</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Spes">
        <annotation>
          <documentation>18218: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til aksellastrestriksjon eller begrensning i totalvekt.  Nedsatte verdier gis i egne egenskapstyper.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18218</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spesiell begrensning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseHelårBruksklasse_TømmertransportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_TømmertransportType">
    <annotation>
      <documentation>10903: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10903</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10903</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksklasse vinter</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksklasseVinterBruksklasse_TømmertransportEnumerationType nvdb:BruksklasseVinterBruksklasse_TømmertransportOtherType"/>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_TømmertransportEnumerationType">
    <annotation>
      <documentation>10903: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10903</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10903</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksklasse vinter</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="10-50">
        <annotation>
          <documentation>18219: Bk10</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18219</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bk10 - 50 tonn</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-40">
        <annotation>
          <documentation>18220: BkT8</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18220</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">BkT8 - 40 tonn</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8-32">
        <annotation>
          <documentation>18221: Bk8</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18221</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bk8 - 32 tonn</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10-60">
        <annotation>
          <documentation>19636: Bk10-60</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19636</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bk10 - 60 tonn</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_TømmertransportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Bruksklasse_Tømmertransport" substitutionGroup="nvdb:AbstraktBruksklasse_Tømmertransport" type="nvdb:Bruksklasse_TømmertransportType">
    <annotation>
      <documentation>900: Gjeldende bruksklasse for tømmertransport i vegliste</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">900</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">900</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksklasse, tømmertransport</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Bruksklasse_TømmertransportType">
    <complexContent>
      <extension base="nvdb:AbstraktBruksklasse_TømmertransportType">
        <sequence>
          <element name="bruksklasseHelår" type="nvdb:BruksklasseHelårBruksklasse_TømmertransportType">
            <annotation>
              <documentation>10897: Angir helårs bruksklasse.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10897</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksklasse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksklasseVinter" type="nvdb:BruksklasseVinterBruksklasse_TømmertransportType">
            <annotation>
              <documentation>10903: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10903</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksklasse vinter</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksVogntoglengde" type="nvdb:MaksVogntoglengdeBruksklasse_TømmertransportType">
            <annotation>
              <documentation>10909: Angir maksimal lengde for vogntog</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10909</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Maks vogntoglengde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tillattForModulvogntog" type="nvdb:TillattForModulvogntogType">
            <annotation>
              <documentation>12057: Angir om det er tillatt å kjøre modulvogntog på strekningen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12057</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tillatt for modulvogntog</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="strekningsbeskrivelse" type="string">
            <annotation>
              <documentation>10915: Beskrivelse av aktuell vegstrekning.  Denne teksten blir henta direkte inn i veglistene.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10915</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Strekningsbeskrivelse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksTotalvektTømmertransport" type="nvdb:MaksTotalvektTømmertransportType">
            <annotation>
              <documentation>10921: Angir maksimal totalvekt for tømmertransport</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10921</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Maks totalvekt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>11005: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11005</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Merknad</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="veglisteGjelderAlltid" type="string">
            <annotation>
              <documentation>11208: Veglister er forskrift og gjelder alltid foran kartvisning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11208</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegliste gjelder alltid</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Bruksklasse_TømmertransportPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bruksklasse_Tømmertransport"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaksTotalvektTømmertransportType">
    <annotation>
      <documentation>10921: Angir maksimal totalvekt for tømmertransport</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10921</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10921</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Maks totalvekt</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaksTotalvektTømmertransportEnumerationType nvdb:MaksTotalvektTømmertransportOtherType"/>
  </simpleType>
  <simpleType name="MaksTotalvektTømmertransportEnumerationType">
    <annotation>
      <documentation>10921: Angir maksimal totalvekt for tømmertransport</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10921</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10921</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Maks totalvekt</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="50">
        <annotation>
          <documentation>18267: 50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18267</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">50</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="56">
        <annotation>
          <documentation>18268: 56</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18268</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">56</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="60">
        <annotation>
          <documentation>18269: 60</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18269</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">60</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaksTotalvektTømmertransportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_TømmertransportType">
    <annotation>
      <documentation>10909: Angir maksimal lengde for vogntog</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10909</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10909</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Maks vogntoglengde</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaksVogntoglengdeBruksklasse_TømmertransportEnumerationType nvdb:MaksVogntoglengdeBruksklasse_TømmertransportOtherType"/>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_TømmertransportEnumerationType">
    <annotation>
      <documentation>10909: Angir maksimal lengde for vogntog</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10909</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10909</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Maks vogntoglengde</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="12,40">
        <annotation>
          <documentation>18239: 12,40</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18239</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">12,40</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="15,00">
        <annotation>
          <documentation>18424: 15,00</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18424</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">15,00</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="19,50">
        <annotation>
          <documentation>18423: 19,50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18423</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">19,50</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="22,00">
        <annotation>
          <documentation>18237: 22,00</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18237</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">22,00</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="24,00">
        <annotation>
          <documentation>18238: 24,00</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18238</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">24,00</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Spesiell begrensning">
        <annotation>
          <documentation>18240: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til vogntog-/kjøretøylengde.  Nedsatte verdier gis i egne egenskapstyper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18240</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spesiell begrensning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_TømmertransportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TillattForModulvogntogType">
    <annotation>
      <documentation>12057: Angir om det er tillatt å kjøre modulvogntog på strekningen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12057</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12057</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tillatt for modulvogntog</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TillattForModulvogntogEnumerationType nvdb:TillattForModulvogntogOtherType"/>
  </simpleType>
  <simpleType name="TillattForModulvogntogEnumerationType">
    <annotation>
      <documentation>12057: Angir om det er tillatt å kjøre modulvogntog på strekningen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12057</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12057</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tillatt for modulvogntog</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>20911: Indikerer at det er lovlig å kjøre modulvogntog på strekningen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20911</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>20912: Indikerer at det ikke er lovlig å kjøre modulvogntog på strekningen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20912</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TillattForModulvogntogOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
