GML/901.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksklasseHelårBruksklasse_Tømmertransport_UoffisiellType">
    <annotation>
      <documentation>10898: Angir helårs bruksklasse.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10898</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10898</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksklasseHelårBruksklasse_Tømmertransport_UoffisiellEnumerationType nvdb:BruksklasseHelårBruksklasse_Tømmertransport_UoffisiellOtherType"/>
  </simpleType>
  <simpleType name="BruksklasseHelårBruksklasse_Tømmertransport_UoffisiellEnumerationType">
    <annotation>
      <documentation>10898: Angir helårs bruksklasse.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10898</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10898</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="10-60">
        <annotation>
          <documentation>21699: Bruksklasse Bk10. Maks totalvekt 60 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21699</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 60 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10-56">
        <annotation>
          <documentation>21700: Bruksklasse Bk10. Maks totalvekt 56 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21700</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 56 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10-50">
        <annotation>
          <documentation>18205: Bruksklasse Bk10. Maks totalvekt 50 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18205</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10-42">
        <annotation>
          <documentation>18206: Bruksklasse Bk10. Maks totalvekt 42 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18206</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 42 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-60">
        <annotation>
          <documentation>21617: Bruksklasse BkT8. Maks totalvekt 60 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21617</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 60 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-50">
        <annotation>
          <documentation>18207: Bruksklasse BkT8. Maks totalvekt 50 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 50 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-40">
        <annotation>
          <documentation>18208: Bruksklasse BkT8. Maks totalvekt 40 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18208</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8-32">
        <annotation>
          <documentation>18209: Bruksklasse Bk8. Maks totalvekt 32 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18209</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6-28">
        <annotation>
          <documentation>18210: Bruksklasse Bk6. Maks totalvekt 28 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18210</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk6 - 28 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Spes">
        <annotation>
          <documentation>18211: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til aksellastrestriksjon eller begrensning i totalvekt. Nedsatte verdier gis i egne egenskapstyper.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18211</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseHelårBruksklasse_Tømmertransport_UoffisiellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_Tømmertransport_UoffisiellType">
    <annotation>
      <documentation>10904: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10904</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10904</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksklasseVinterBruksklasse_Tømmertransport_UoffisiellEnumerationType nvdb:BruksklasseVinterBruksklasse_Tømmertransport_UoffisiellOtherType"/>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_Tømmertransport_UoffisiellEnumerationType">
    <annotation>
      <documentation>10904: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10904</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10904</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="10-60">
        <annotation>
          <documentation>19637: Bruksklasse Bk10. Maks totalvekt 60 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19637</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 60 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10-56">
        <annotation>
          <documentation>21704: Bruksklasse Bk10. Maks totalvekt 56 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21704</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 56 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10-50">
        <annotation>
          <documentation>18222: Bruksklasse Bk10. Maks totalvekt 50 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18222</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10-42">
        <annotation>
          <documentation>21701: Bruksklasse Bk10. Maks totalvekt 42 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21701</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 42 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-60">
        <annotation>
          <documentation>21616: Bruksklasse BkT8. Maks totalvekt 60 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21616</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 60 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-50">
        <annotation>
          <documentation>21702: Bruksklasse BkT8. Maks totalvekt 50 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21702</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 50 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-40">
        <annotation>
          <documentation>18223: Bruksklasse BkT8. Maks totalvekt 40 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18223</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8-32">
        <annotation>
          <documentation>18224: Bruksklasse Bk8. Maks totalvekt 32 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18224</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6-28">
        <annotation>
          <documentation>21703: Bruksklasse Bk6. Maks totalvekt 28 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21703</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk6 - 28 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_Tømmertransport_UoffisiellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Bruksklasse_Tømmertransport_Uoffisiell" substitutionGroup="nvdb:AbstraktBruksklasse_Tømmertransport_Uoffisiell" type="nvdb:Bruksklasse_Tømmertransport_UoffisiellType">
    <annotation>
      <documentation>901: Angir bruksklasse for tømmertransport. Foreløpig versjon for intern bruk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">901</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">901</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse, tømmertransport, uoffisiell</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Bruksklasse_Tømmertransport_UoffisiellType">
    <complexContent>
      <extension base="nvdb:AbstraktBruksklasse_Tømmertransport_UoffisiellType">
        <sequence>
          <element name="bruksklasseHelår" type="nvdb:BruksklasseHelårBruksklasse_Tømmertransport_UoffisiellType">
            <annotation>
              <documentation>10898: Angir helårs bruksklasse.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10898</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksklasseVinter" type="nvdb:BruksklasseVinterBruksklasse_Tømmertransport_UoffisiellType">
            <annotation>
              <documentation>10904: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10904</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksVogntoglengde" type="nvdb:MaksVogntoglengdeBruksklasse_Tømmertransport_UoffisiellType">
            <annotation>
              <documentation>10910: Angir maksimal lengde for vogntog.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10910</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tillattForModulvogntog1Og2MedSporingskrav" type="nvdb:TillattForModulvogntog1Og2MedSporingskravBruksklasse_Tømmertransport_UoffisiellType">
            <annotation>
              <documentation>12058: Angir om det er tillatt for modulvogntog 1 og 2 med sporingskrav.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12058</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tillatt for modulvogntog 1 og 2 med sporingskrav</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="strekningsbeskrivelse" type="string">
            <annotation>
              <documentation>10916: Beskrivelse av aktuell vegstrekning. Denne teksten blir henta direkte inn i veglistene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10916</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksTotalvektTømmertransport" type="nvdb:MaksTotalvektTømmertransportBruksklasse_Tømmertransport_UoffisiellType">
            <annotation>
              <documentation>10922: Angir maksimal totalvekt for tømmertransport.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10922</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Maks totalvekt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>11006: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11006</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Bruksklasse_Tømmertransport_UoffisiellPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bruksklasse_Tømmertransport_Uoffisiell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaksTotalvektTømmertransportBruksklasse_Tømmertransport_UoffisiellType">
    <annotation>
      <documentation>10922: Angir maksimal totalvekt for tømmertransport.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10922</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10922</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Maks totalvekt</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaksTotalvektTømmertransportBruksklasse_Tømmertransport_UoffisiellEnumerationType nvdb:MaksTotalvektTømmertransportBruksklasse_Tømmertransport_UoffisiellOtherType"/>
  </simpleType>
  <simpleType name="MaksTotalvektTømmertransportBruksklasse_Tømmertransport_UoffisiellEnumerationType">
    <annotation>
      <documentation>10922: Angir maksimal totalvekt for tømmertransport.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10922</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10922</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Maks totalvekt</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="50">
        <annotation>
          <documentation>18270: 50</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18270</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">50</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="56">
        <annotation>
          <documentation>18271: 56</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18271</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">56</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="60">
        <annotation>
          <documentation>18272: 60</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18272</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">60</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaksTotalvektTømmertransportBruksklasse_Tømmertransport_UoffisiellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_Tømmertransport_UoffisiellType">
    <annotation>
      <documentation>10910: Angir maksimal lengde for vogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10910</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10910</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaksVogntoglengdeBruksklasse_Tømmertransport_UoffisiellEnumerationType nvdb:MaksVogntoglengdeBruksklasse_Tømmertransport_UoffisiellOtherType"/>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_Tømmertransport_UoffisiellEnumerationType">
    <annotation>
      <documentation>10910: Angir maksimal lengde for vogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10910</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10910</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="12,40">
        <annotation>
          <documentation>18243: 12,40</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18243</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">12,40</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="15,00">
        <annotation>
          <documentation>18426: 15,00</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18426</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">15,00</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="19,50">
        <annotation>
          <documentation>18425: 19,50</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18425</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">19,50</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="22,00">
        <annotation>
          <documentation>18241: 22,00</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18241</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">22,00</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="24,00">
        <annotation>
          <documentation>18242: 24,00</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18242</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">24,00</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Spesiell begrensning">
        <annotation>
          <documentation>18244: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til vogntog-/kjøretøylengde. Nedsatte verdier gis i egne egenskapstyper.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18244</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_Tømmertransport_UoffisiellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TillattForModulvogntog1Og2MedSporingskravBruksklasse_Tømmertransport_UoffisiellType">
    <annotation>
      <documentation>12058: Angir om det er tillatt for modulvogntog 1 og 2 med sporingskrav.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12058</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12058</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tillatt for modulvogntog 1 og 2 med sporingskrav</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TillattForModulvogntog1Og2MedSporingskravBruksklasse_Tømmertransport_UoffisiellEnumerationType nvdb:TillattForModulvogntog1Og2MedSporingskravBruksklasse_Tømmertransport_UoffisiellOtherType"/>
  </simpleType>
  <simpleType name="TillattForModulvogntog1Og2MedSporingskravBruksklasse_Tømmertransport_UoffisiellEnumerationType">
    <annotation>
      <documentation>12058: Angir om det er tillatt for modulvogntog 1 og 2 med sporingskrav.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12058</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12058</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tillatt for modulvogntog 1 og 2 med sporingskrav</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>20913: Indikerer at det er lovlig å kjøre modulvogntog på strekningen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20913</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>20914: Indikerer at det ikke er lovlig å kjøre modulvogntog på strekningen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20914</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TillattForModulvogntog1Og2MedSporingskravBruksklasse_Tømmertransport_UoffisiellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
