GML/901.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksklasseHelårBruksklasse_Tømmertransport_UoffisiellType">
    <annotation>
      <documentation>10898: Angir helårs bruksklasse.</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksklasseHelårBruksklasse_Tømmertransport_UoffisiellEnumerationType nvdb:BruksklasseHelårBruksklasse_Tømmertransport_UoffisiellOtherType"/>
  </simpleType>
  <simpleType name="BruksklasseHelårBruksklasse_Tømmertransport_UoffisiellEnumerationType">
    <annotation>
      <documentation>10898: Angir helårs bruksklasse.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="10-50">
        <annotation>
          <documentation>18205: Bruksklasse Bk10.  Maks totalvekt 50 tonn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10-42">
        <annotation>
          <documentation>18206: Bruksklasse Bk10.  Maks totalvekt 42 tonn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T8-50">
        <annotation>
          <documentation>18207: Bruksklasse BkT8.  Maks totalvekt 50 tonn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T8-40">
        <annotation>
          <documentation>18208: Bruksklasse BkT8.  Maks totalvekt 40 tonn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8-32">
        <annotation>
          <documentation>18209: Bruksklasse Bk8.  Maks totalvekt 32 tonn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6-28">
        <annotation>
          <documentation>18210: Bruksklasse Bk6.  Maks totalvekt 28 tonn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Spes">
        <annotation>
          <documentation>18211: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til aksellastrestriksjon eller begrensning i totalvekt.  Nedsatte verdier gis i egne egenskapstyper.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseHelårBruksklasse_Tømmertransport_UoffisiellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_Tømmertransport_UoffisiellType">
    <annotation>
      <documentation>10904: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksklasseVinterBruksklasse_Tømmertransport_UoffisiellEnumerationType nvdb:BruksklasseVinterBruksklasse_Tømmertransport_UoffisiellOtherType"/>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_Tømmertransport_UoffisiellEnumerationType">
    <annotation>
      <documentation>10904: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="10-50">
        <annotation>
          <documentation>18222: Bk10</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T8-40">
        <annotation>
          <documentation>18223: BkT8</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8-32">
        <annotation>
          <documentation>18224: Bk8</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10-60">
        <annotation>
          <documentation>19637: Bk10-60</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_Tømmertransport_UoffisiellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Bruksklasse_Tømmertransport_Uoffisiell" substitutionGroup="nvdb:AbstraktBruksklasse_Tømmertransport_Uoffisiell" type="nvdb:Bruksklasse_Tømmertransport_UoffisiellType">
    <annotation>
      <documentation>901: Angir bruksklasse for tømmertransport. Foreløpig versjon for intern bruk</documentation>
    </annotation>
  </element>
  <complexType name="Bruksklasse_Tømmertransport_UoffisiellType">
    <complexContent>
      <extension base="nvdb:AbstraktBruksklasse_Tømmertransport_UoffisiellType">
        <sequence>
          <element name="bruksklasseHelår" type="nvdb:BruksklasseHelårBruksklasse_Tømmertransport_UoffisiellType">
            <annotation>
              <documentation>10898: Angir helårs bruksklasse.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksklasseVinter" type="nvdb:BruksklasseVinterBruksklasse_Tømmertransport_UoffisiellType">
            <annotation>
              <documentation>10904: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="maksVogntoglengde" type="nvdb:MaksVogntoglengdeBruksklasse_Tømmertransport_UoffisiellType">
            <annotation>
              <documentation>10910: Angir maksimal lengde for vogntog</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="strekningsbeskrivelse" type="string">
            <annotation>
              <documentation>10916: Beskrivelse av aktuell vegstrekning.  Denne teksten blir henta direkte inn i veglistene.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="maksTotalvektTømmertransport" type="nvdb:MaksTotalvektTømmertransportBruksklasse_Tømmertransport_UoffisiellType">
            <annotation>
              <documentation>10922: Angir maksimal totalvekt for tømmertransport
Enhet: Tonn</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>11006: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Bruksklasse_Tømmertransport_UoffisiellPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bruksklasse_Tømmertransport_Uoffisiell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaksTotalvektTømmertransportBruksklasse_Tømmertransport_UoffisiellType">
    <annotation>
      <documentation>10922: Angir maksimal totalvekt for tømmertransport</documentation>
    </annotation>
    <union memberTypes="nvdb:MaksTotalvektTømmertransportBruksklasse_Tømmertransport_UoffisiellEnumerationType nvdb:MaksTotalvektTømmertransportBruksklasse_Tømmertransport_UoffisiellOtherType"/>
  </simpleType>
  <simpleType name="MaksTotalvektTømmertransportBruksklasse_Tømmertransport_UoffisiellEnumerationType">
    <annotation>
      <documentation>10922: Angir maksimal totalvekt for tømmertransport</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="50">
        <annotation>
          <documentation>18270: 50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="56">
        <annotation>
          <documentation>18271: 56</documentation>
        </annotation>
      </enumeration>
      <enumeration value="60">
        <annotation>
          <documentation>18272: 60</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaksTotalvektTømmertransportBruksklasse_Tømmertransport_UoffisiellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_Tømmertransport_UoffisiellType">
    <annotation>
      <documentation>10910: Angir maksimal lengde for vogntog</documentation>
    </annotation>
    <union memberTypes="nvdb:MaksVogntoglengdeBruksklasse_Tømmertransport_UoffisiellEnumerationType nvdb:MaksVogntoglengdeBruksklasse_Tømmertransport_UoffisiellOtherType"/>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_Tømmertransport_UoffisiellEnumerationType">
    <annotation>
      <documentation>10910: Angir maksimal lengde for vogntog</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="12_40">
        <annotation>
          <documentation>18243: 12,40</documentation>
        </annotation>
      </enumeration>
      <enumeration value="15_00">
        <annotation>
          <documentation>18426: 15,00</documentation>
        </annotation>
      </enumeration>
      <enumeration value="19_50">
        <annotation>
          <documentation>18425: 19,50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="22_00">
        <annotation>
          <documentation>18241: 22,00</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24_00">
        <annotation>
          <documentation>18242: 24,00</documentation>
        </annotation>
      </enumeration>
      <enumeration value="spesiellBegrensning">
        <annotation>
          <documentation>18244: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til vogntog-/kjøretøylengde.  Nedsatte verdier gis i egne egenskapstyper</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_Tømmertransport_UoffisiellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
