GML/901.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>901: Angir bruksklasse for tømmertransport. Foreløpig versjon for intern bruk.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Bruksklasse, tømmertransport, uoffisiell"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Bruksklasse, tømmertransport, uoffisiellType">
      <annotation>
         <documentation>901: Angir bruksklasse for tømmertransport. Foreløpig versjon for intern bruk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">901</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse, tømmertransport, uoffisiell</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Bruksklasse, tømmertransport, uoffisiellType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksklasseHelår">
                  <annotation>
                     <documentation>10898: Angir helårs bruksklasse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10898</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bruksklasseVinter">
                  <annotation>
                     <documentation>10904: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10904</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="maksVogntoglengde">
                  <annotation>
                     <documentation>10910: Angir maksimal lengde for vogntog.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10910</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tillattForModulvogntog1Og2MedSporingskrav">
                  <annotation>
                     <documentation>12058: Angir om det er tillatt for modulvogntog 1 og 2 med sporingskrav.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12058</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tillatt for modulvogntog 1 og 2 med sporingskrav</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="strekningsbeskrivelse" type="string">
                  <annotation>
                     <documentation>10916: Beskrivelse av aktuell vegstrekning. Denne teksten blir henta direkte inn i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10916</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>11006: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11006</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Bruksklasse, tømmertransport, uoffisiellPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Bruksklasse, tømmertransport, uoffisiell"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="BruksklasseHelårBruksklasse, tømmertransport, uoffisiellType">
      <annotation>
         <documentation>10898: Angir helårs bruksklasse.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10898</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksklasseHelårBruksklasse, tømmertransport, uoffisiellEnumerationType nvdb:BruksklasseHelårBruksklasse, tømmertransport, uoffisiellOtherType"/>
   </simpleType>
   <simpleType name="BruksklasseHelårBruksklasse, tømmertransport, uoffisiellEnumerationType">
      <annotation>
         <documentation>10898: Angir helårs bruksklasse.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10898</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="10-42">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18206</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 42 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10-50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18205</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10-56">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21700</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 56 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10-60">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21699</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 60 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6-28">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18210</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk6 - 28 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8-32">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18209</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-40">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18208</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18207</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-60">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21617</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 60 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spes">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18211</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseHelårBruksklasse, tømmertransport, uoffisiellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseVinterBruksklasse, tømmertransport, uoffisiellType">
      <annotation>
         <documentation>10904: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10904</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksklasseVinterBruksklasse, tømmertransport, uoffisiellEnumerationType nvdb:BruksklasseVinterBruksklasse, tømmertransport, uoffisiellOtherType"/>
   </simpleType>
   <simpleType name="BruksklasseVinterBruksklasse, tømmertransport, uoffisiellEnumerationType">
      <annotation>
         <documentation>10904: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10904</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="10-42">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21701</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 42 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10-50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18222</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10-56">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21704</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 56 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10-60">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19637</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 60 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6-28">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21703</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk6 - 28 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8-32">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18224</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-40">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18223</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21702</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-60">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21616</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 60 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseVinterBruksklasse, tømmertransport, uoffisiellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, tømmertransport, uoffisiellType">
      <annotation>
         <documentation>10910: Angir maksimal lengde for vogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10910</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaksVogntoglengdeBruksklasse, tømmertransport, uoffisiellEnumerationType nvdb:MaksVogntoglengdeBruksklasse, tømmertransport, uoffisiellOtherType"/>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, tømmertransport, uoffisiellEnumerationType">
      <annotation>
         <documentation>10910: Angir maksimal lengde for vogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10910</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1240">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18243</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12,40</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1500">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18426</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">15,00</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1950">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18425</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">19,50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2200">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18241</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">22,00</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2400">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18242</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">24,00</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spes">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18244</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, tømmertransport, uoffisiellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TillattForModulvogntog1Og2MedSporingskravBruksklasse, tømmertransport, uoffisiellType">
      <annotation>
         <documentation>12058: Angir om det er tillatt for modulvogntog 1 og 2 med sporingskrav.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12058</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tillatt for modulvogntog 1 og 2 med sporingskrav</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TillattForModulvogntog1Og2MedSporingskravBruksklasse, tømmertransport, uoffisiellEnumerationType nvdb:TillattForModulvogntog1Og2MedSporingskravBruksklasse, tømmertransport, uoffisiellOtherType"/>
   </simpleType>
   <simpleType name="TillattForModulvogntog1Og2MedSporingskravBruksklasse, tømmertransport, uoffisiellEnumerationType">
      <annotation>
         <documentation>12058: Angir om det er tillatt for modulvogntog 1 og 2 med sporingskrav.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12058</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tillatt for modulvogntog 1 og 2 med sporingskrav</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20913</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20914</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TillattForModulvogntog1Og2MedSporingskravBruksklasse, tømmertransport, uoffisiellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
