GML/902.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksklasseHelårBruksklasse_SpesialtransportType">
    <annotation>
      <documentation>10899: Angir helårs bruksklasse.</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksklasseHelårBruksklasse_SpesialtransportEnumerationType nvdb:BruksklasseHelårBruksklasse_SpesialtransportOtherType"/>
  </simpleType>
  <simpleType name="BruksklasseHelårBruksklasse_SpesialtransportEnumerationType">
    <annotation>
      <documentation>10899: Angir helårs bruksklasse.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="10-50">
        <annotation>
          <documentation>18198: Bruksklasse Bk10.  Maks totalvekt 50 tonn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10-42">
        <annotation>
          <documentation>18199: Bruksklasse Bk10.  Maks totalvekt 42 tonn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T8-50">
        <annotation>
          <documentation>18200: Bruksklasse BkT8.  Maks totalvekt 50 tonn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T8-40">
        <annotation>
          <documentation>18201: Bruksklasse BkT8.  Maks totalvekt 40 tonn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8-32">
        <annotation>
          <documentation>18202: Bruksklasse Bk8.  Maks totalvekt 32 tonn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6-28">
        <annotation>
          <documentation>18203: Bruksklasse Bk6.  Maks totalvekt 28 tonn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Spes">
        <annotation>
          <documentation>18204: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til aksellastrestriksjon eller begrensning i totalvekt.  Nedsatte verdier gis i egne egenskapstyper.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseHelårBruksklasse_SpesialtransportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_SpesialtransportType">
    <annotation>
      <documentation>10905: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksklasseVinterBruksklasse_SpesialtransportEnumerationType nvdb:BruksklasseVinterBruksklasse_SpesialtransportOtherType"/>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_SpesialtransportEnumerationType">
    <annotation>
      <documentation>10905: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="10-50">
        <annotation>
          <documentation>18225: Bk10</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T8-40">
        <annotation>
          <documentation>18226: BkT8</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8-32">
        <annotation>
          <documentation>18227: Bk8</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10-60">
        <annotation>
          <documentation>19638: Bk10-60</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_SpesialtransportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Bruksklasse_Spesialtransport" substitutionGroup="nvdb:AbstraktBruksklasse_Spesialtransport" type="nvdb:Bruksklasse_SpesialtransportType">
    <annotation>
      <documentation>902: Gjeldende bruksklasse for spesialtransport i vegliste.</documentation>
    </annotation>
  </element>
  <complexType name="Bruksklasse_SpesialtransportType">
    <complexContent>
      <extension base="nvdb:AbstraktBruksklasse_SpesialtransportType">
        <sequence>
          <element name="bruksklasseHelår" type="nvdb:BruksklasseHelårBruksklasse_SpesialtransportType">
            <annotation>
              <documentation>10899: Angir helårs bruksklasse.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksklasseVinter" type="nvdb:BruksklasseVinterBruksklasse_SpesialtransportType">
            <annotation>
              <documentation>10905: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="maksVogntoglengde" type="nvdb:MaksVogntoglengdeBruksklasse_SpesialtransportType">
            <annotation>
              <documentation>10911: Angir maksimal lengde for vogntog</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="veggruppe" type="nvdb:VeggruppeBruksklasse_SpesialtransportType">
            <annotation>
              <documentation>10923: Angir dispensasjon for spesialtransport avhengig av bruenes tilstand</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="strekningsbeskrivelse" type="string">
            <annotation>
              <documentation>10917: Beskrivelse av aktuell vegstrekning.  Denne teksten blir henta direkte inn i veglistene.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>11007: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="veglisteGjelderAlltid" type="string">
            <annotation>
              <documentation>11209: Veglister er forskrift og gjelder alltid foran kartvisning.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Bruksklasse_SpesialtransportPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bruksklasse_Spesialtransport"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaksVogntoglengdeBruksklasse_SpesialtransportType">
    <annotation>
      <documentation>10911: Angir maksimal lengde for vogntog</documentation>
    </annotation>
    <union memberTypes="nvdb:MaksVogntoglengdeBruksklasse_SpesialtransportEnumerationType nvdb:MaksVogntoglengdeBruksklasse_SpesialtransportOtherType"/>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_SpesialtransportEnumerationType">
    <annotation>
      <documentation>10911: Angir maksimal lengde for vogntog</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="19_50">
        <annotation>
          <documentation>18245: 19,50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="15_00">
        <annotation>
          <documentation>18246: 15,00</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12_40">
        <annotation>
          <documentation>18247: 12,40</documentation>
        </annotation>
      </enumeration>
      <enumeration value="spesiellBegrensning">
        <annotation>
          <documentation>18248: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til vogntog-/kjøretøylengde.  Nedsatte verdier gis i egne egenskapstyper</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_SpesialtransportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VeggruppeBruksklasse_SpesialtransportType">
    <annotation>
      <documentation>10923: Angir dispensasjon for spesialtransport avhengig av bruenes tilstand</documentation>
    </annotation>
    <union memberTypes="nvdb:VeggruppeBruksklasse_SpesialtransportEnumerationType nvdb:VeggruppeBruksklasse_SpesialtransportOtherType"/>
  </simpleType>
  <simpleType name="VeggruppeBruksklasse_SpesialtransportEnumerationType">
    <annotation>
      <documentation>10923: Angir dispensasjon for spesialtransport avhengig av bruenes tilstand</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="A">
        <annotation>
          <documentation>18261: Veger som har bruer med flere kjørefelt, nyere bruer med ett kjørefelt eller veger som ikke har bruer. (Vegliste, spesialtransport)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>18262: Øvrige bruer med ett kjørefelt (Vegliste, spesialtransport)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikke">
        <annotation>
          <documentation>18263: Offentlige veger som det må søkes dispensasjon for i hvert enkelt tilfelle</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VeggruppeBruksklasse_SpesialtransportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
