GML/902.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>902: Gjeldende bruksklasse for spesialtransport i vegliste.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AksellastTeleløsningBruksklasse, spesialtransportType">
      <annotation>
         <documentation>12905: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12905</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AksellastTeleløsningBruksklasse, spesialtransportEnumerationType nvdb:AksellastTeleløsningBruksklasse, spesialtransportOtherType"/>
   </simpleType>
   <simpleType name="AksellastTeleløsningBruksklasse, spesialtransportEnumerationType">
      <annotation>
         <documentation>12905: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12905</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22327</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22328</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22329</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22330</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22331</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AksellastTeleløsningBruksklasse, spesialtransportOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Bruksklasse, spesialtransport"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Bruksklasse, spesialtransportType">
      <annotation>
         <documentation>902: Gjeldende bruksklasse for spesialtransport i vegliste.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">902</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse, spesialtransport</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Bruksklasse, spesialtransportType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksklasseHelår">
                  <annotation>
                     <documentation>10899: Angir helårs bruksklasse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10899</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="maksVogntoglengde">
                  <annotation>
                     <documentation>10911: Angir maksimal lengde for vogntog.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10911</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="veggruppe" type="nvdb:VeggruppeBruksklasse, spesialtransportType">
                  <annotation>
                     <documentation>10923: Angir dispensasjon for spesialtransport avhengig av bruenes tilstand.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10923</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Veggruppe</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bruksklasseVinter">
                  <annotation>
                     <documentation>10905: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10905</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vinterbruksklasseFraDato" type="date">
                  <annotation>
                     <documentation>12866: Feltet angir dato for når vinterbruksklasse starter. Dato bestemmes av vegeier på bakgrunn av vær- og føreforhold, og settes derfor kort tid før endringen trer i kraft. Dato fra tidligere år er kun historikk og ikke grunnlag for årets endringer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12866</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vinterbruksklasse fra dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vinterbruksklasseTilDato" type="date">
                  <annotation>
                     <documentation>12867: Feltet angir dato for når vinterbruksklasse slutter. Dato bestemmes av vegeier på bakgrunn av vær- og føreforhold, og settes derfor kort tid før endringen trer i kraft. Dato fra tidligere år er kun historikk og ikke grunnlag for årets endringer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12867</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vinterbruksklasse til dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="aksellastTeleløsning">
                  <annotation>
                     <documentation>12905: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12905</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="telerestriksjonFraDato" type="date">
                  <annotation>
                     <documentation>12854: Feltet angir dato for når telerestriksjon starter. Dato bestemmes av vegeier på bakgrunn av vær- og føreforhold, og settes derfor kort tid før endringen trer i kraft. Dato fra tidligere år er kun historikk og ikke grunnlag for årets endringer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12854</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Telerestriksjon fra dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="telerestriksjonTilDato" type="date">
                  <annotation>
                     <documentation>12855: Feltet angir dato for når telerestriksjon slutter. Dato bestemmes av vegeier på bakgrunn av vær- og føreforhold, og settes derfor kort tid før endringen trer i kraft. Dato fra tidligere år er kun historikk og ikke grunnlag for årets endringer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12855</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Telerestriksjon til dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="strekningsbeskrivelse" type="string">
                  <annotation>
                     <documentation>10917: Beskrivelse av aktuell vegstrekning. Denne teksten blir henta direkte inn i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10917</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>11007: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11007</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="veglisteGjelderAlltid" type="string">
                  <annotation>
                     <documentation>11209: Veglister er forskrift og gjelder alltid foran kartvisning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11209</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegliste gjelder alltid</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Bruksklasse, spesialtransportPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Bruksklasse, spesialtransport"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="BruksklasseHelårBruksklasse, spesialtransportType">
      <annotation>
         <documentation>10899: Angir helårs bruksklasse.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksklasseHelårBruksklasse, spesialtransportEnumerationType nvdb:BruksklasseHelårBruksklasse, spesialtransportOtherType"/>
   </simpleType>
   <simpleType name="BruksklasseHelårBruksklasse, spesialtransportEnumerationType">
      <annotation>
         <documentation>10899: Angir helårs bruksklasse.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="10-42">
            <annotation>
               <documentation>18199: Bruksklasse Bk10. Maks totalvekt 42 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18199</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 42 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10-50">
            <annotation>
               <documentation>18198: Bruksklasse Bk10. Maks totalvekt 50 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18198</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6-28">
            <annotation>
               <documentation>18203: Bruksklasse Bk6. Maks totalvekt 28 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18203</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk6 - 28 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8-32">
            <annotation>
               <documentation>18202: Bruksklasse Bk8. Maks totalvekt 32 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18202</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-40">
            <annotation>
               <documentation>18201: Bruksklasse BkT8. Maks totalvekt 40 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18201</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-50">
            <annotation>
               <documentation>18200: Bruksklasse BkT8. Maks totalvekt 50 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18200</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spes">
            <annotation>
               <documentation>18204: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til aksellastrestriksjon eller begrensning i totalvekt. Nedsatte verdier gis i egne egenskapstyper.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18204</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseHelårBruksklasse, spesialtransportOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseVinterBruksklasse, spesialtransportType">
      <annotation>
         <documentation>10905: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10905</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksklasseVinterBruksklasse, spesialtransportEnumerationType nvdb:BruksklasseVinterBruksklasse, spesialtransportOtherType"/>
   </simpleType>
   <simpleType name="BruksklasseVinterBruksklasse, spesialtransportEnumerationType">
      <annotation>
         <documentation>10905: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10905</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="10-42">
            <annotation>
               <documentation>21687: Bruksklasse Bk10. Maks totalvekt 42 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21687</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 42 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10-50">
            <annotation>
               <documentation>18225: Bruksklasse Bk10. Maks totalvekt 50 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18225</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6-28">
            <annotation>
               <documentation>21689: Bruksklasse Bk6. Maks totalvekt 28 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21689</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk6 - 28 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8-32">
            <annotation>
               <documentation>18227: Bruksklasse Bk8. Maks totalvekt 32 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18227</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-40">
            <annotation>
               <documentation>18226: Bruksklasse BkT8. Maks totalvekt 40 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18226</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-50">
            <annotation>
               <documentation>21688: Bruksklasse BkT8. Maks totalvekt 50 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21688</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseVinterBruksklasse, spesialtransportOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, spesialtransportType">
      <annotation>
         <documentation>10911: Angir maksimal lengde for vogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10911</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaksVogntoglengdeBruksklasse, spesialtransportEnumerationType nvdb:MaksVogntoglengdeBruksklasse, spesialtransportOtherType"/>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, spesialtransportEnumerationType">
      <annotation>
         <documentation>10911: Angir maksimal lengde for vogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10911</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="12.40">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18247</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12,40</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15.00">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18246</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">15,00</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="19.50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18245</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">19,50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spes">
            <annotation>
               <documentation>18248: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til vogntog-/kjøretøylengde. Nedsatte verdier gis i egne egenskapstyper.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18248</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, spesialtransportOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VeggruppeBruksklasse, spesialtransportType">
      <annotation>
         <documentation>10923: Angir dispensasjon for spesialtransport avhengig av bruenes tilstand.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veggruppe</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VeggruppeBruksklasse, spesialtransportEnumerationType nvdb:VeggruppeBruksklasse, spesialtransportOtherType"/>
   </simpleType>
   <simpleType name="VeggruppeBruksklasse, spesialtransportEnumerationType">
      <annotation>
         <documentation>10923: Angir dispensasjon for spesialtransport avhengig av bruenes tilstand.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veggruppe</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>18261: Veger som har bruer med flere kjørefelt, nyere bruer med ett kjørefelt eller veger som ikke har bruer. (Vegliste, spesialtransport).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18261</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">A</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <documentation>18262: Øvrige bruer med ett kjørefelt (Vegliste, spesialtransport).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18262</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">B</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <documentation>18263: Offentlige veger som det må søkes dispensasjon for i hvert enkelt tilfelle.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18263</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VeggruppeBruksklasse, spesialtransportOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
