GML/903.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksklasseHelårBruksklasse_Spesialtransport_UoffisiellType">
    <annotation>
      <documentation>10900: Angir helårs bruksklasse.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10900</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10900</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksklasseHelårBruksklasse_Spesialtransport_UoffisiellEnumerationType nvdb:BruksklasseHelårBruksklasse_Spesialtransport_UoffisiellOtherType"/>
  </simpleType>
  <simpleType name="BruksklasseHelårBruksklasse_Spesialtransport_UoffisiellEnumerationType">
    <annotation>
      <documentation>10900: Angir helårs bruksklasse.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10900</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10900</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="10-50">
        <annotation>
          <documentation>18191: Bruksklasse Bk10. Maks totalvekt 50 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18191</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10-42">
        <annotation>
          <documentation>18192: Bruksklasse Bk10. Maks totalvekt 42 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18192</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 42 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-50">
        <annotation>
          <documentation>18193: Bruksklasse BkT8. Maks totalvekt 50 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18193</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 50 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-40">
        <annotation>
          <documentation>18194: Bruksklasse BkT8. Maks totalvekt 40 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18194</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8-32">
        <annotation>
          <documentation>18195: Bruksklasse Bk8. Maks totalvekt 32 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18195</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6-28">
        <annotation>
          <documentation>18196: Bruksklasse Bk6. Maks totalvekt 28 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18196</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk6 - 28 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Spes">
        <annotation>
          <documentation>18197: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til aksellastrestriksjon eller begrensning i totalvekt. Nedsatte verdier gis i egne egenskapstyper.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18197</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseHelårBruksklasse_Spesialtransport_UoffisiellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_Spesialtransport_UoffisiellType">
    <annotation>
      <documentation>10906: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10906</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10906</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksklasseVinterBruksklasse_Spesialtransport_UoffisiellEnumerationType nvdb:BruksklasseVinterBruksklasse_Spesialtransport_UoffisiellOtherType"/>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_Spesialtransport_UoffisiellEnumerationType">
    <annotation>
      <documentation>10906: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10906</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10906</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="10-50">
        <annotation>
          <documentation>18228: Bruksklasse Bk10. Maks totalvekt 50 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18228</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10-42">
        <annotation>
          <documentation>21690: Bruksklasse Bk10. Maks totalvekt 42 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21690</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 42 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-50">
        <annotation>
          <documentation>21691: Bruksklasse BkT8. Maks totalvekt 50 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21691</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 50 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-40">
        <annotation>
          <documentation>18229: Bruksklasse BkT8. Maks totalvekt 40 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18229</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8-32">
        <annotation>
          <documentation>18230: Bruksklasse Bk8. Maks totalvekt 32 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18230</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6-28">
        <annotation>
          <documentation>21692: Bruksklasse Bk6. Maks totalvekt 28 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21692</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk6 - 28 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_Spesialtransport_UoffisiellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Bruksklasse_Spesialtransport_Uoffisiell" substitutionGroup="nvdb:AbstraktBruksklasse_Spesialtransport_Uoffisiell" type="nvdb:Bruksklasse_Spesialtransport_UoffisiellType">
    <annotation>
      <documentation>903: Angir bruksklasse for spesialtransport. Foreløpig versjon for intern bruk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">903</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">903</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse, spesialtransport, uoffisiell</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Bruksklasse_Spesialtransport_UoffisiellType">
    <complexContent>
      <extension base="nvdb:AbstraktBruksklasse_Spesialtransport_UoffisiellType">
        <sequence>
          <element name="bruksklasseHelår" type="nvdb:BruksklasseHelårBruksklasse_Spesialtransport_UoffisiellType">
            <annotation>
              <documentation>10900: Angir helårs bruksklasse.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10900</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksklasseVinter" type="nvdb:BruksklasseVinterBruksklasse_Spesialtransport_UoffisiellType">
            <annotation>
              <documentation>10906: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10906</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksVogntoglengde" type="nvdb:MaksVogntoglengdeBruksklasse_Spesialtransport_UoffisiellType">
            <annotation>
              <documentation>10912: Angir maksimal lengde for vogntog.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10912</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="veggruppe" type="nvdb:VeggruppeBruksklasse_Spesialtransport_UoffisiellType">
            <annotation>
              <documentation>10924: Angir dispensasjon for spesialtransport avhengig av bruenes tilstand.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10924</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Veggruppe</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="strekningsbeskrivelse" type="string">
            <annotation>
              <documentation>10918: Beskrivelse av aktuell vegstrekning. Denne teksten blir henta direkte inn i veglistene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10918</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>11008: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11008</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Bruksklasse_Spesialtransport_UoffisiellPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bruksklasse_Spesialtransport_Uoffisiell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaksVogntoglengdeBruksklasse_Spesialtransport_UoffisiellType">
    <annotation>
      <documentation>10912: Angir maksimal lengde for vogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10912</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10912</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaksVogntoglengdeBruksklasse_Spesialtransport_UoffisiellEnumerationType nvdb:MaksVogntoglengdeBruksklasse_Spesialtransport_UoffisiellOtherType"/>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_Spesialtransport_UoffisiellEnumerationType">
    <annotation>
      <documentation>10912: Angir maksimal lengde for vogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10912</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10912</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="19,50">
        <annotation>
          <documentation>18249: 19,50</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18249</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">19,50</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="15,00">
        <annotation>
          <documentation>18250: 15,00</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18250</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">15,00</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="12,40">
        <annotation>
          <documentation>18251: 12,40</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18251</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">12,40</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Spesiell begrensning">
        <annotation>
          <documentation>18252: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til vogntog-/kjøretøylengde. Nedsatte verdier gis i egne egenskapstyper.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18252</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_Spesialtransport_UoffisiellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VeggruppeBruksklasse_Spesialtransport_UoffisiellType">
    <annotation>
      <documentation>10924: Angir dispensasjon for spesialtransport avhengig av bruenes tilstand.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10924</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10924</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Veggruppe</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VeggruppeBruksklasse_Spesialtransport_UoffisiellEnumerationType nvdb:VeggruppeBruksklasse_Spesialtransport_UoffisiellOtherType"/>
  </simpleType>
  <simpleType name="VeggruppeBruksklasse_Spesialtransport_UoffisiellEnumerationType">
    <annotation>
      <documentation>10924: Angir dispensasjon for spesialtransport avhengig av bruenes tilstand.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10924</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10924</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Veggruppe</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="A">
        <annotation>
          <documentation>18264: Veger som har bruer med flere kjørefelt, nyere bruer med ett kjørefelt eller veger som ikke har bruer. (Vegliste, spesialtransport).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18264</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">A</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>18265: Øvrige bruer med ett kjørefelt (Vegliste, spesialtransport).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18265</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">B</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke">
        <annotation>
          <documentation>18266: Offentlige veger som det må søkes dispensasjon for i hvert enkelt tilfelle.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18266</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VeggruppeBruksklasse_Spesialtransport_UoffisiellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
