GML/904.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksklasseHelårType">
    <annotation>
      <documentation>10901: Angir helårs bruksklasse.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10901</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10901</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksklasseHelårEnumerationType nvdb:BruksklasseHelårOtherType"/>
  </simpleType>
  <simpleType name="BruksklasseHelårEnumerationType">
    <annotation>
      <documentation>10901: Angir helårs bruksklasse.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10901</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10901</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="10-50">
        <annotation>
          <documentation>18184: Bruksklasse Bk10.  Maks totalvekt 50 tonn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18184</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10-42">
        <annotation>
          <documentation>18185: Bruksklasse Bk10.  Maks totalvekt 42 tonn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18185</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 42 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-50">
        <annotation>
          <documentation>18186: Bruksklasse BkT8.  Maks totalvekt 50 tonn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18186</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 50 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-40">
        <annotation>
          <documentation>18187: Bruksklasse BkT8.  Maks totalvekt 40 tonn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18187</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8-32">
        <annotation>
          <documentation>18188: Bruksklasse Bk8.  Maks totalvekt 32 tonn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18188</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6-28">
        <annotation>
          <documentation>18189: Bruksklasse Bk6.  Maks totalvekt 28 tonn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18189</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk6 - 28 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Spes">
        <annotation>
          <documentation>18190: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til aksellastrestriksjon eller begrensning i totalvekt.  Nedsatte verdier gis i egne egenskapstyper.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18190</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseHelårOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseVinterType">
    <annotation>
      <documentation>10907: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10907</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10907</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksklasseVinterEnumerationType nvdb:BruksklasseVinterOtherType"/>
  </simpleType>
  <simpleType name="BruksklasseVinterEnumerationType">
    <annotation>
      <documentation>10907: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10907</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10907</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="10-60">
        <annotation>
          <documentation>19640: Bruksklasse Bk10.  Maks totalvekt 60 tonn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19640</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 60 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10-50">
        <annotation>
          <documentation>18231: Bruksklasse Bk10.  Maks totalvekt 50 tonn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18231</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-40">
        <annotation>
          <documentation>18232: Bruksklasse BkT8.  Maks totalvekt 40 tonn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18232</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8-32">
        <annotation>
          <documentation>18233: Bruksklasse Bk8.  Maks totalvekt 32 tonn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18233</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseVinterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Bruksklasse_Normaltransport" substitutionGroup="nvdb:AbstraktBruksklasse_Normaltransport" type="nvdb:Bruksklasse_NormaltransportType">
    <annotation>
      <documentation>904: Gjeldende bruksklasse for normaltransport i vegliste.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">904</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">904</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse, normaltransport</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Bruksklasse_NormaltransportType">
    <complexContent>
      <extension base="nvdb:AbstraktBruksklasse_NormaltransportType">
        <sequence>
          <element name="bruksklasseHelår" type="nvdb:BruksklasseHelårType">
            <annotation>
              <documentation>10901: Angir helårs bruksklasse.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10901</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksklasseVinter" type="nvdb:BruksklasseVinterType">
            <annotation>
              <documentation>10907: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10907</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksVogntoglengde" type="nvdb:MaksVogntoglengdeType">
            <annotation>
              <documentation>10913: Angir maksimal lengde for vogntog.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10913</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="strekningsbeskrivelse" type="string">
            <annotation>
              <documentation>10919: Beskrivelse av aktuell vegstrekning.  Denne teksten blir henta direkte inn i veglistene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10919</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksTotalvektKjøretøySkiltet" type="double">
            <annotation>
              <documentation>10925: Angir maksimal totalvekt for kjøretøy.  Gjelder f.eks for bruer o.l. som har begrensninger i forhold til bruksklassen.  Skal bare gis hvis avvik fra standard bruksklasser.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10925</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Maks totalvekt kjøretøy, skiltet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksTotalvektVogntogSkiltet" type="double">
            <annotation>
              <documentation>10926: Angir maksimal totalvekt for vogntog.  Gjelder f.eks for bruer o.l. som har begrensninger i forhold til tunge kjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10926</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Maks totalvekt vogntog, skiltet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>11009: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11009</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="veglisteGjelderAlltid" type="string">
            <annotation>
              <documentation>11210: Veglister er forskrift og gjelder alltid foran kartvisning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11210</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vegliste gjelder alltid</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Bruksklasse_NormaltransportPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bruksklasse_Normaltransport"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaksVogntoglengdeType">
    <annotation>
      <documentation>10913: Angir maksimal lengde for vogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10913</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10913</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaksVogntoglengdeEnumerationType nvdb:MaksVogntoglengdeOtherType"/>
  </simpleType>
  <simpleType name="MaksVogntoglengdeEnumerationType">
    <annotation>
      <documentation>10913: Angir maksimal lengde for vogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10913</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10913</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="18253">
        <annotation>
          <documentation>18253: 19,50</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18253</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">19,50</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="18254">
        <annotation>
          <documentation>18254: 15,00</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18254</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">15,00</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="18255">
        <annotation>
          <documentation>18255: 12,40</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18255</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">12,40</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="18256">
        <annotation>
          <documentation>18256: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til vogntog-/kjøretøylengde.  Nedsatte verdier gis i egne egenskapstyper</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18256</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaksVogntoglengdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
