GML/905.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>905: Angir bruksklasse for normaltransport. Foreløpig versjon for intern bruk.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AksellastTeleløsningBruksklasse, normaltransport, uoffisiellType">
      <annotation>
         <documentation>12908: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12908</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AksellastTeleløsningBruksklasse, normaltransport, uoffisiellEnumerationType nvdb:AksellastTeleløsningBruksklasse, normaltransport, uoffisiellOtherType"/>
   </simpleType>
   <simpleType name="AksellastTeleløsningBruksklasse, normaltransport, uoffisiellEnumerationType">
      <annotation>
         <documentation>12908: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12908</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22342</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22343</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22344</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22345</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">7 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22346</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AksellastTeleløsningBruksklasse, normaltransport, uoffisiellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Bruksklasse, normaltransport, uoffisiell"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Bruksklasse, normaltransport, uoffisiellType">
      <annotation>
         <documentation>905: Angir bruksklasse for normaltransport. Foreløpig versjon for intern bruk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">905</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse, normaltransport, uoffisiell</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Bruksklasse, normaltransport, uoffisiellType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksklasseHelår">
                  <annotation>
                     <documentation>10902: Angir helårs bruksklasse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10902</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="maksVogntoglengde">
                  <annotation>
                     <documentation>10914: Angir maksimal lengde for vogntog.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10914</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bruksklasseVinter">
                  <annotation>
                     <documentation>10908: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10908</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vinterbruksklasseFraDato" type="date">
                  <annotation>
                     <documentation>12872: Feltet angir dato for når vinterbruksklasse starter. Dato bestemmes av vegeier på bakgrunn av vær- og føreforhold, og settes derfor kort tid før endringen trer i kraft. Dato fra tidligere år er kun historikk og ikke grunnlag for årets endringer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12872</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vinterbruksklasse fra dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vinterbruksklasseTilDato" type="date">
                  <annotation>
                     <documentation>12995: Feltet angir dato for når vinterbruksklasse slutter. Dato bestemmes av vegeier på bakgrunn av vær- og føreforhold, og settes derfor kort tid før endringen trer i kraft. Dato fra tidligere år er kun historikk og ikke grunnlag for årets endringer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12995</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vinterbruksklasse til dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="aksellastTeleløsning">
                  <annotation>
                     <documentation>12908: Angir største tillatte aksellast for periode med aksellastrestriksjoner pga teleløsning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12908</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Aksellast teleløsning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="telerestriksjonFraDato" type="date">
                  <annotation>
                     <documentation>12860: Feltet angir dato for når telerestriksjon starter. Dato bestemmes av vegeier på bakgrunn av vær- og føreforhold, og settes derfor kort tid før endringen trer i kraft. Dato fra tidligere år er kun historikk og ikke grunnlag for årets endringer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12860</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Telerestriksjon fra dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="telerestriksjonTilDato" type="date">
                  <annotation>
                     <documentation>12861: Feltet angir dato for når telerestriksjon slutter. Dato bestemmes av vegeier på bakgrunn av vær- og føreforhold, og settes derfor kort tid før endringen trer i kraft. Dato fra tidligere år er kun historikk og ikke grunnlag for årets endringer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12861</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Telerestriksjon til dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="strekningsbeskrivelse" type="string">
                  <annotation>
                     <documentation>10920: Beskrivelse av aktuell vegstrekning. Denne teksten blir henta direkte inn i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10920</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>11010: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11010</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Bruksklasse, normaltransport, uoffisiellPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Bruksklasse, normaltransport, uoffisiell"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="BruksklasseHelårBruksklasse, normaltransport, uoffisiellType">
      <annotation>
         <documentation>10902: Angir helårs bruksklasse.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10902</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksklasseHelårBruksklasse, normaltransport, uoffisiellEnumerationType nvdb:BruksklasseHelårBruksklasse, normaltransport, uoffisiellOtherType"/>
   </simpleType>
   <simpleType name="BruksklasseHelårBruksklasse, normaltransport, uoffisiellEnumerationType">
      <annotation>
         <documentation>10902: Angir helårs bruksklasse.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10902</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="10-42">
            <annotation>
               <documentation>18178: Bruksklasse Bk10. Maks totalvekt 42 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18178</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 42 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10-50">
            <annotation>
               <documentation>18177: Bruksklasse Bk10. Maks totalvekt 50 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18177</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6-28">
            <annotation>
               <documentation>18182: Bruksklasse Bk6. Maks totalvekt 28 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18182</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk6 - 28 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8-32">
            <annotation>
               <documentation>18181: Bruksklasse Bk8. Maks totalvekt 32 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18181</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-40">
            <annotation>
               <documentation>18180: Bruksklasse BkT8. Maks totalvekt 40 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18180</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-50">
            <annotation>
               <documentation>18179: Bruksklasse BkT8. Maks totalvekt 50 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18179</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spes">
            <annotation>
               <documentation>18183: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til aksellastrestriksjon eller begrensning i totalvekt. Nedsatte verdier gis i egne egenskapstyper.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18183</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseHelårBruksklasse, normaltransport, uoffisiellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseVinterBruksklasse, normaltransport, uoffisiellType">
      <annotation>
         <documentation>10908: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10908</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksklasseVinterBruksklasse, normaltransport, uoffisiellEnumerationType nvdb:BruksklasseVinterBruksklasse, normaltransport, uoffisiellOtherType"/>
   </simpleType>
   <simpleType name="BruksklasseVinterBruksklasse, normaltransport, uoffisiellEnumerationType">
      <annotation>
         <documentation>10908: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10908</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="10-42">
            <annotation>
               <documentation>21684: Bruksklasse Bk10. Maks totalvekt 42 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21684</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 42 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10-50">
            <annotation>
               <documentation>18234: Bruksklasse Bk10. Maks totalvekt 50 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18234</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6-28">
            <annotation>
               <documentation>21686: Bruksklasse Bk6. Maks totalvekt 28 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21686</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk6 - 28 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8-32">
            <annotation>
               <documentation>18236: Bruksklasse Bk8. Maks totalvekt 32 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18236</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-40">
            <annotation>
               <documentation>18235: Bruksklasse BkT8. Maks totalvekt 40 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18235</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T8-50">
            <annotation>
               <documentation>21685: Bruksklasse BkT8. Maks totalvekt 50 tonn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21685</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">BkT8 - 50 tonn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksklasseVinterBruksklasse, normaltransport, uoffisiellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, normaltransport, uoffisiellType">
      <annotation>
         <documentation>10914: Angir maksimal lengde for vogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10914</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaksVogntoglengdeBruksklasse, normaltransport, uoffisiellEnumerationType nvdb:MaksVogntoglengdeBruksklasse, normaltransport, uoffisiellOtherType"/>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, normaltransport, uoffisiellEnumerationType">
      <annotation>
         <documentation>10914: Angir maksimal lengde for vogntog.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10914</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="12.40">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18259</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12,40</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15.00">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18258</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">15,00</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="19.50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18257</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">19,50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spes">
            <annotation>
               <documentation>18260: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til vogntog-/kjøretøylengde. Nedsatte verdier gis i egne egenskapstyper.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18260</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaksVogntoglengdeBruksklasse, normaltransport, uoffisiellOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
