GML/905.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksklasseHelårBruksklasse_Normaltransport_UoffisiellType">
    <annotation>
      <documentation>10902: Angir helårs bruksklasse.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10902</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10902</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksklasseHelårBruksklasse_Normaltransport_UoffisiellEnumerationType nvdb:BruksklasseHelårBruksklasse_Normaltransport_UoffisiellOtherType"/>
  </simpleType>
  <simpleType name="BruksklasseHelårBruksklasse_Normaltransport_UoffisiellEnumerationType">
    <annotation>
      <documentation>10902: Angir helårs bruksklasse.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10902</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10902</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="10-50">
        <annotation>
          <documentation>18177: Bruksklasse Bk10. Maks totalvekt 50 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18177</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10-42">
        <annotation>
          <documentation>18178: Bruksklasse Bk10. Maks totalvekt 42 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18178</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 42 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-50">
        <annotation>
          <documentation>18179: Bruksklasse BkT8. Maks totalvekt 50 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18179</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 50 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-40">
        <annotation>
          <documentation>18180: Bruksklasse BkT8. Maks totalvekt 40 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18180</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8-32">
        <annotation>
          <documentation>18181: Bruksklasse Bk8. Maks totalvekt 32 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18181</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6-28">
        <annotation>
          <documentation>18182: Bruksklasse Bk6. Maks totalvekt 28 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18182</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk6 - 28 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Spes">
        <annotation>
          <documentation>18183: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til aksellastrestriksjon eller begrensning i totalvekt. Nedsatte verdier gis i egne egenskapstyper.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18183</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseHelårBruksklasse_Normaltransport_UoffisiellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_Normaltransport_UoffisiellType">
    <annotation>
      <documentation>10908: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10908</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10908</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksklasseVinterBruksklasse_Normaltransport_UoffisiellEnumerationType nvdb:BruksklasseVinterBruksklasse_Normaltransport_UoffisiellOtherType"/>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_Normaltransport_UoffisiellEnumerationType">
    <annotation>
      <documentation>10908: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10908</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10908</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="10-50">
        <annotation>
          <documentation>18234: Bruksklasse Bk10. Maks totalvekt 50 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18234</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 50 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10-42">
        <annotation>
          <documentation>21684: Bruksklasse Bk10. Maks totalvekt 42 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21684</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk10 - 42 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-50">
        <annotation>
          <documentation>21685: Bruksklasse BkT8. Maks totalvekt 50 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21685</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 50 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-40">
        <annotation>
          <documentation>18235: Bruksklasse BkT8. Maks totalvekt 40 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18235</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BkT8 - 40 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8-32">
        <annotation>
          <documentation>18236: Bruksklasse Bk8. Maks totalvekt 32 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18236</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk8 - 32 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6-28">
        <annotation>
          <documentation>21686: Bruksklasse Bk6. Maks totalvekt 28 tonn.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21686</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bk6 - 28 tonn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_Normaltransport_UoffisiellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Bruksklasse_Normaltransport_Uoffisiell" substitutionGroup="nvdb:AbstraktBruksklasse_Normaltransport_Uoffisiell" type="nvdb:Bruksklasse_Normaltransport_UoffisiellType">
    <annotation>
      <documentation>905: Angir bruksklasse for normaltransport. Foreløpig versjon for intern bruk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">905</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">905</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksklasse, normaltransport, uoffisiell</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Bruksklasse_Normaltransport_UoffisiellType">
    <complexContent>
      <extension base="nvdb:AbstraktBruksklasse_Normaltransport_UoffisiellType">
        <sequence>
          <element name="bruksklasseHelår" type="nvdb:BruksklasseHelårBruksklasse_Normaltransport_UoffisiellType">
            <annotation>
              <documentation>10902: Angir helårs bruksklasse.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10902</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksklasse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksklasseVinter" type="nvdb:BruksklasseVinterBruksklasse_Normaltransport_UoffisiellType">
            <annotation>
              <documentation>10908: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10908</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksklasse vinter</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksVogntoglengde" type="nvdb:MaksVogntoglengdeBruksklasse_Normaltransport_UoffisiellType">
            <annotation>
              <documentation>10914: Angir maksimal lengde for vogntog.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10914</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="strekningsbeskrivelse" type="string">
            <annotation>
              <documentation>10920: Beskrivelse av aktuell vegstrekning. Denne teksten blir henta direkte inn i veglistene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10920</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Strekningsbeskrivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksTotalvektKjøretøySkiltet" type="double">
            <annotation>
              <documentation>10927: Angir maksimal totalvekt for kjøretøy. Gjelder f.eks. for bruer o.l. som har begrensninger i forhold til bruksklassen. Skal bare gis hvis avvik fra standard bruksklasser.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10927</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Maks totalvekt kjøretøy, skiltet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksTotalvektVogntogSkiltet" type="double">
            <annotation>
              <documentation>10928: Angir maksimal totalvekt for vogntog. Gjelder f.eks. for bruer o.l. som har begrensninger i forhold til tunge kjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10928</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Maks totalvekt vogntog, skiltet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>11010: Merknad knyttet til aktuell strekning. Kommer med uthevet tekst i veglistene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11010</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Bruksklasse_Normaltransport_UoffisiellPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bruksklasse_Normaltransport_Uoffisiell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaksVogntoglengdeBruksklasse_Normaltransport_UoffisiellType">
    <annotation>
      <documentation>10914: Angir maksimal lengde for vogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10914</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10914</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaksVogntoglengdeBruksklasse_Normaltransport_UoffisiellEnumerationType nvdb:MaksVogntoglengdeBruksklasse_Normaltransport_UoffisiellOtherType"/>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_Normaltransport_UoffisiellEnumerationType">
    <annotation>
      <documentation>10914: Angir maksimal lengde for vogntog.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10914</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10914</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Maks vogntoglengde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="19,50">
        <annotation>
          <documentation>18257: 19,50</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18257</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">19,50</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="15,00">
        <annotation>
          <documentation>18258: 15,00</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18258</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">15,00</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="12,40">
        <annotation>
          <documentation>18259: 12,40</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18259</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">12,40</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Spesiell begrensning">
        <annotation>
          <documentation>18260: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til vogntog-/kjøretøylengde. Nedsatte verdier gis i egne egenskapstyper.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18260</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesiell begrensning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_Normaltransport_UoffisiellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
