GML/906.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="ElektriskKomponent_Test" substitutionGroup="nvdb:AbstraktElektriskKomponent_Test" type="nvdb:ElektriskKomponent_TestType">
    <annotation>
      <documentation>906: Enkelt teknisk/elektrisk komponent, som f.eks. sikring, jordfeilautomat eller kommunikasjonsutstyr</documentation>
    </annotation>
  </element>
  <complexType name="ElektriskKomponent_TestType">
    <complexContent>
      <extension base="nvdb:AbstraktElektriskKomponent_TestType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeElektriskKomponent_TestType">
            <annotation>
              <documentation>10938: Angir hvilken type det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>11447: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>10935: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>10936: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10939: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>10937: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBygning" type="nvdb:AbstraktBygningPropertyType"/>
          <element minOccurs="0" name="assosiertFordelingstavle" type="nvdb:AbstraktFordelingstavlePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ElektriskKomponent_TestPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:ElektriskKomponent_Test"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeElektriskKomponent_TestType">
    <annotation>
      <documentation>10938: Angir hvilken type det er tale om</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeElektriskKomponent_TestEnumerationType nvdb:TypeElektriskKomponent_TestOtherType"/>
  </simpleType>
  <simpleType name="TypeElektriskKomponent_TestEnumerationType">
    <annotation>
      <documentation>10938: Angir hvilken type det er tale om</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="bryter">
        <annotation>
          <documentation>18279: Bryter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sikring">
        <annotation>
          <documentation>18280: Ulike typer sikring. Inkludert automatasikring</documentation>
        </annotation>
      </enumeration>
      <enumeration value="jordfeilbryter">
        <annotation>
          <documentation>18281: Jordfeilbryter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="releKontraktor">
        <annotation>
          <documentation>18282: Rele/Kontraktor</documentation>
        </annotation>
      </enumeration>
      <enumeration value="strømforsyning">
        <annotation>
          <documentation>18283: Strømforsyning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stikkontakt">
        <annotation>
          <documentation>18284: Stikkontakt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rekkeklemme">
        <annotation>
          <documentation>18285: Rekkeklemme</documentation>
        </annotation>
      </enumeration>
      <enumeration value="varme">
        <annotation>
          <documentation>18286: Varme</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeElektriskKomponent_TestOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
