GML/907.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="SkiltetSykkelrute_HovednettByTettstedType">
    <annotation>
      <documentation>10944: Angir om sykkelrute er skiltet eller ikke</documentation>
    </annotation>
    <union memberTypes="nvdb:SkiltetSykkelrute_HovednettByTettstedEnumerationType nvdb:SkiltetSykkelrute_HovednettByTettstedOtherType"/>
  </simpleType>
  <simpleType name="SkiltetSykkelrute_HovednettByTettstedEnumerationType">
    <annotation>
      <documentation>10944: Angir om sykkelrute er skiltet eller ikke</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>18288: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>18289: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkiltetSykkelrute_HovednettByTettstedOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Sykkelrute_HovednettByTettsted" substitutionGroup="nvdb:AbstraktSykkelrute_HovednettByTettsted" type="nvdb:Sykkelrute_HovednettByTettstedType">
    <annotation>
      <documentation>907: Hovedruter for sykling i byer og tettsteder. Rutene er normalt "vedtatt" i kommunedelplan eller kommunale temaplaner. Rutene er ofte utarbeidet i samarbeid mellom Statens vegvesen og aktuell kommune.</documentation>
    </annotation>
  </element>
  <complexType name="Sykkelrute_HovednettByTettstedType">
    <complexContent>
      <extension base="nvdb:AbstraktSykkelrute_HovednettByTettstedType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>10942: Navn på rute.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nummer" type="string">
            <annotation>
              <documentation>10943: Nummer på sykkelrute</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skiltet" type="nvdb:SkiltetSykkelrute_HovednettByTettstedType">
            <annotation>
              <documentation>10944: Angir om sykkelrute er skiltet eller ikke</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11652: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Sykkelrute_HovednettByTettstedPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Sykkelrute_HovednettByTettsted"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
