GML/907.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>907: Hovedruter for sykling i byer og tettsteder. Rutene er normalt "vedtatt" i kommunedelplan eller kommunale temaplaner. Rutene er ofte utarbeidet i samarbeid mellom Statens vegvesen og aktuell kommune.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="SkiltetSykkelrute, hovednett bytettstedType">
      <annotation>
         <documentation>10944: Angir om sykkelrute er skiltet eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10944</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkiltetSykkelrute, hovednett bytettstedEnumerationType nvdb:SkiltetSykkelrute, hovednett bytettstedOtherType"/>
   </simpleType>
   <simpleType name="SkiltetSykkelrute, hovednett bytettstedEnumerationType">
      <annotation>
         <documentation>10944: Angir om sykkelrute er skiltet eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10944</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18288</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18289</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkiltetSykkelrute, hovednett bytettstedOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Sykkelrute, hovednett bytettsted"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Sykkelrute, hovednett bytettstedType">
      <annotation>
         <documentation>907: Hovedruter for sykling i byer og tettsteder. Rutene er normalt "vedtatt" i kommunedelplan eller kommunale temaplaner. Rutene er ofte utarbeidet i samarbeid mellom Statens vegvesen og aktuell kommune.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">907</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelrute, hovednett bytettsted</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Sykkelrute, hovednett bytettstedType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="rutenavn" type="string">
                  <annotation>
                     <documentation>10942: Navn på ruta.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10942</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rutenavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rutenummer" type="string">
                  <annotation>
                     <documentation>10943: Identifikasjonsnummer eller betegnelse på ruta.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10943</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rutenummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="skiltet"
                        type="nvdb:SkiltetSykkelrute, hovednett bytettstedType">
                  <annotation>
                     <documentation>10944: Angir om sykkelrute er skiltet eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10944</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skiltet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11652: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11652</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Sykkelrute, hovednett bytettstedPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Sykkelrute, hovednett bytettsted"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
