GML/91.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>91: Innfatning med ett eller flere lys/lamper som til sammen danner et trafikklyssignal.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AntallLamperSignalhodeType">
      <annotation>
         <documentation>1958: Angir hvor mange lyspærer det er knyttet til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1958</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antall lamper</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AntallLamperSignalhodeEnumerationType nvdb:AntallLamperSignalhodeOtherType"/>
   </simpleType>
   <simpleType name="AntallLamperSignalhodeEnumerationType">
      <annotation>
         <documentation>1958: Angir hvor mange lyspærer det er knyttet til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1958</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antall lamper</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="01">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3731</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="02">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3740</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="03">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3747</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="04">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3017</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AntallLamperSignalhodeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierSignalhodeType">
      <annotation>
         <documentation>11966: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11966</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierSignalhodeEnumerationType nvdb:EierSignalhodeOtherType"/>
   </simpleType>
   <simpleType name="EierSignalhodeEnumerationType">
      <annotation>
         <documentation>11966: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11966</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20499</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20500</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20501</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20498</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20497</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>20502: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20502</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierSignalhodeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RetningSignalhodeType">
      <annotation>
         <documentation>5659: Angir hvilken retning signalhodet peker relatert til metreringsretning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5659</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Retning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RetningSignalhodeEnumerationType nvdb:RetningSignalhodeOtherType"/>
   </simpleType>
   <simpleType name="RetningSignalhodeEnumerationType">
      <annotation>
         <documentation>5659: Angir hvilken retning signalhodet peker relatert til metreringsretning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5659</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Retning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="12">
            <annotation>
               <documentation>7987: Signalhodet peker i motsatt retning av metreringsretningen på vegen signalhodet er stedfesta.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7987</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="03">
            <annotation>
               <documentation>7978: Signalhodet peker mot høyre sett i forhold til metreringsretning på vegen signalhodet er stedfesta.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7978</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="06">
            <annotation>
               <documentation>7981: Signalhodet peker i samme retning som metreringsretning på vegen signalhodet er stedfesta.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7981</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="09">
            <annotation>
               <documentation>7984: Signalhodet peker mot venstre sett i forhold til metreringsretning på vegen signalhodet er stedfesta.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7984</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">9</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RetningSignalhodeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Signalhode"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:SignalhodeType">
      <annotation>
         <documentation>91: Innfatning med ett eller flere lys/lamper som til sammen danner et trafikklyssignal.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">91</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signalhode</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SignalhodeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeSignalhodeType">
                  <annotation>
                     <documentation>1147: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1147</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallLamper">
                  <annotation>
                     <documentation>1958: Angir hvor mange lyspærer det er knyttet til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1958</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall lamper</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="størrelse" type="nvdb:StørrelseSignalhodeType">
                  <annotation>
                     <documentation>1969: Angir størrelse av vegobjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1969</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Størrelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høyde_Egen" type="double">
                  <annotation>
                     <documentation>1900: Angir vegobjektets egenhøyde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1900</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, egen</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="retning" type="nvdb:RetningSignalhodeType">
                  <annotation>
                     <documentation>5659: Angir hvilken retning signalhodet peker relatert til metreringsretning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5659</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Retning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10354: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10354</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10477: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10477</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="SCADA_Merking" type="string">
                  <annotation>
                     <documentation>11712: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11712</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">SCADA-merking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent" type="string">
                  <annotation>
                     <documentation>1530: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1530</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>1452: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1452</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="leverandør" type="string">
                  <annotation>
                     <documentation>1490: Angir navn på firma som har levert vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1490</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Leverandør</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11002: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11002</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivreferanse" type="string">
                  <annotation>
                     <documentation>11663: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11663</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11076: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11076</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12316: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12316</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierSignalhodeType">
                  <annotation>
                     <documentation>11966: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11966</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligSignalhodeType">
                  <annotation>
                     <documentation>11998: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11998</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4791: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4791</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SignalhodePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Signalhode"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="StørrelseSignalhodeType">
      <annotation>
         <documentation>1969: Angir størrelse av vegobjekt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1969</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Størrelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StørrelseSignalhodeEnumerationType nvdb:StørrelseSignalhodeOtherType"/>
   </simpleType>
   <simpleType name="StørrelseSignalhodeEnumerationType">
      <annotation>
         <documentation>1969: Angir størrelse av vegobjekt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1969</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Størrelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3011</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">100</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="20">
            <annotation>
               <documentation>3929: Verdi benyttes om signalhoder som har størrelse 200 eller 210.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3929</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">200</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3014</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">300</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StørrelseSignalhodeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeSignalhodeType">
      <annotation>
         <documentation>1147: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1147</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeSignalhodeEnumerationType nvdb:TypeSignalhodeOtherType"/>
   </simpleType>
   <simpleType name="TypeSignalhodeEnumerationType">
      <annotation>
         <documentation>1147: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1147</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="js">
            <annotation>
               <documentation>3008: Blinkende signal foran jernbane kan benyttes ved planoverganger der vegtrafikken må stoppes for sikker kryssing av skinnegang. Signal 1096 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3008</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Blinkende signal foran jernbane (1096)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="f">
            <annotation>
               <documentation>3004: Signal rettet mot fotgjengere. Normalt rød og grønn mann. Kan være variant med dobbelt rød mann. Signal 1086 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3004</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fotgjengersignal (1086)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gv">
            <annotation>
               <documentation>3009: Signalet angir at trafikantene må vise særlig aktpågivenhet og varsomhet. Signal 1098 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3009</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gult blinksignal (1098)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h">
            <annotation>
               <documentation>2992: Standard kjøretøysignal. 3 lysåpninger. Rød, gul og gul. Signal 1080 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2992</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hovedsignal, 3 lys (1080)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kf">
            <annotation>
               <documentation>3005: Signaler i form av enten rødt kryss, grønn pil eller gul pil over kjørefelt. De benyttes i forbindelse med stengning eller reversering av kjørefelt i forbindelse med trafikkomlegginger ved vegarbeid, hendelser o.l. på flerfeltsveger og i tunneler der slike hendelser erfaringsmessig skjer forholdsvis hyppig. Signal 1090 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3005</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjørefeltsignal (1090)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p12">
            <annotation>
               <documentation>18414: Kjøretøysignal. Pilsignal, 1 lysåpning. Grønn venstrepil. Variant av signal 1082.3 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18414</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 1 lys, grønn høyre (1082.3)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p11">
            <annotation>
               <documentation>18413: Kjøretøysignal. Pilsignal, 1 lysåpning. Grønn venstrepil. Variant av signal 1082.2 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18413</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 1 lys, grønn rett fram (1082.2)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p10">
            <annotation>
               <documentation>2995: Kjøretøysignal. Pilsignal, 1 lysåpning. Grønn venstrepil. Variant av signal 1082.1 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2995</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 1 lys, grønn venstre (1082.1)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p6">
            <annotation>
               <documentation>18416: Kjøretøysignal. Pilsignal, 2 lysåpninger. Gul og grønn høyrepil. Variant av signal 1082.3 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18416</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 2 lys, gul/grønn, høyre (1082.3)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p5">
            <annotation>
               <documentation>18415: Kjøretøysignal. Pilsignal, 2 lysåpninger. Gul og grønn rett-frampil. Variant av signal 1082.2 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18415</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 2 lys, gul/grønn, rett fram(1082.2)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p4">
            <annotation>
               <documentation>2996: Kjøretøysignal. Pilsignal, 2 lysåpninger. Gul og grønn venstrepil. Variant av signal 1082.1 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2996</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 2 lys, gul/grønn, venstre (1082.1)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p9">
            <annotation>
               <documentation>18417: Kjøretøysignal. Pilsignal, 2 lysåpninger. Rød og gul høyrepil. Variant av signal 1082.3 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18417</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 2 lys, rød/gul, høyre (1082.3)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p8">
            <annotation>
               <documentation>18418: Kjøretøysignal. Pilsignal, 2 lysåpninger. Rød og gul venstrepil. Variant av signal 1082.2 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18418</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 2 lys, rød/gul, rett fram (1082.2)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p7">
            <annotation>
               <documentation>2997: Kjøretøysignal. Pilsignal, 2 lysåpninger. Rød og gul venstrepil. Variant av signal 1082.1 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2997</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 2 lys, rød/gul, venstre (1082.1)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p3">
            <annotation>
               <documentation>3001: Kjøretøysignal, pilsignal, 3 lysåpninger. Rød, gul og grønn høyrepil. Signal 1082.3 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3001</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 3 lys, høyre (1082.3)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p2">
            <annotation>
               <documentation>3000: Kjøretøysignal, pilsignal, 3 lysåpninger. Rød, gul og grønn rett-frampil. Signal 1082.2 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3000</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 3 lys, rett fram (1082.2)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p1">
            <annotation>
               <documentation>2999: Kjøretøysignal, pilsignal, 3 lysåpninger. Rød, gul og grønn venstrepil. Signal 1082.1 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2999</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 3 lys, venstre (1082.1)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rs">
            <annotation>
               <documentation>3007: Rødt stoppblinksignal benyttes hvor trafikken må stoppes helt over en kortere eller lengre periode. Signal 1094 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3007</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rødt stoppblinksignal (1094)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k">
            <annotation>
               <documentation>3002: Standard kjøretøysignal for kollektivtrafikk. 3 lysåpninger. Nederste lysåpning kan være venstrepil, rett-frampil eller høyrepil. Signal 1088 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3002</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signal for kollektivtrafikk (1088)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ss">
            <annotation>
               <documentation>3003: Sykkelsignal gjelder for kjørende i sykkelfelt og sykkelkryssing. Signal 1084 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3003</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sykkelsignal (1084)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ts">
            <annotation>
               <documentation>3006: Tolyssignaler anvendes på bomstasjoner, fergeleier, parkeringsanlegg og andre offentlige steder åpne for allmenn ferdsel hvor formålet er å dirigere trafikk ved lave hastigheter. Signal 1092 i Håndbok N303.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3006</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tolyssignal (1092)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeSignalhodeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSignalhodeType">
      <annotation>
         <documentation>11998: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11998</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligSignalhodeEnumerationType nvdb:VedlikeholdsansvarligSignalhodeOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSignalhodeEnumerationType">
      <annotation>
         <documentation>11998: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11998</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20695</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20697</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20694</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20696</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20698</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20693</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20699</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSignalhodeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
