GML/910.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="FrittståendeKamerastasjon" substitutionGroup="nvdb:AbstraktFrittståendeKamerastasjon" type="nvdb:FrittståendeKamerastasjonType">
    <annotation>
      <documentation>910: Stasjon der det er plassert et kamera for observasjon av trafikkforhold, vær og føre, eller annet</documentation>
    </annotation>
  </element>
  <complexType name="FrittståendeKamerastasjonType">
    <complexContent>
      <extension base="nvdb:AbstraktFrittståendeKamerastasjonType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>11182: Angir navn på stasjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="målestasjonsnummer" type="integer">
            <annotation>
              <documentation>11183: Referanse til unikt målestasjonsnummer i Målestasjonsregisteret</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sistOppdatertFraMSR" type="date">
            <annotation>
              <documentation>11184: Angir dato vegobjekttype sist ble oppdatert fra Målestasjonsregisteret.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11185: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>11186: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKamera" type="nvdb:AbstraktKameraPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FrittståendeKamerastasjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:FrittståendeKamerastasjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
