GML/911.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>911: Område der det i perioder kan knyttes restriksjoner til kjøring med kjøretøy som er basert på fossilt drivstoff. Foreløpig til testformål.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Nullutslippssone (test)"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Nullutslippssone (test)Type">
      <annotation>
         <documentation>911: Område der det i perioder kan knyttes restriksjoner til kjøring med kjøretøy som er basert på fossilt drivstoff. Foreløpig til testformål.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">911</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nullutslippssone (test)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Nullutslippssone (test)Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="område_ID" type="string">
                  <annotation>
                     <documentation>11211: Benyttes som nøkkel inn mot eksternt system.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11211</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Område_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>11212: Navn på sone.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11212</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="beskrivelse" type="string">
                  <annotation>
                     <documentation>11213: Beskrivelse av sone.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11213</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="versjon" type="string">
                  <annotation>
                     <documentation>11214: Angir hvilken versjon av sone det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11214</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Versjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>11215: Flate som geografisk avgrenser sone.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11215</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Nullutslippssone (test)PropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Nullutslippssone (test)"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
