GML/912.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>912: Inndeling av vegnettet i forhold til hvilken funksjon vegen har eller er prioritert for.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Funksjonsklasse"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:FunksjonsklasseType">
      <annotation>
         <documentation>912: Inndeling av vegnettet i forhold til hvilken funksjon vegen har eller er prioritert for.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">912</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Funksjonsklasse</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FunksjonsklasseType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="funksjonsklasse" type="nvdb:FunksjonsklasseFunksjonsklasseType">
                  <annotation>
                     <documentation>11216: Angir hvilken funksjonsklasse vegstrekning er definert som.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11216</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Funksjonsklasse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="normertFylkesvegnettOslo">
                  <annotation>
                     <documentation>12096: Kommunale veger i Oslo som i prinsippet har status som fylkesveg. Vedtatt av Samferdselsdepartementet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12096</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Normert fylkesvegnett Oslo</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vedtak" type="string">
                  <annotation>
                     <documentation>12604: Viser til vedtak i f.eks. fylkestinget der klassifiseringen er vedtatt. Ikke alle fylker gjør vedtak på funksjonsinndelingen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12604</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedtak</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vedtaksdato" type="date">
                  <annotation>
                     <documentation>12605: Angir dato for når vedtaket ble fattet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12605</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedtaksdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FunksjonsklassePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Funksjonsklasse"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="FunksjonsklasseFunksjonsklasseType">
      <annotation>
         <documentation>11216: Angir hvilken funksjonsklasse vegstrekning er definert som.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11216</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Funksjonsklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FunksjonsklasseFunksjonsklasseEnumerationType nvdb:FunksjonsklasseFunksjonsklasseOtherType"/>
   </simpleType>
   <simpleType name="FunksjonsklasseFunksjonsklasseEnumerationType">
      <annotation>
         <documentation>11216: Angir hvilken funksjonsklasse vegstrekning er definert som.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11216</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Funksjonsklasse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>18511: Nasjonale hovedveger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18511</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">A - Nasjonale hovedveger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <documentation>18512: Veger med regional funksjon, overordnet/ regional betydning. Sammen med funksjonsklasse A utgjør disse et overordnet transportnett.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18512</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">B - Regionale hovedveger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="C">
            <annotation>
               <documentation>18513: Veger med viktig lokal, men også en viss regional, funksjon hvor hovedfunksjonen er viktige forbindelsesveger mellom funksjonsklasse A og B og forbindelse til kommunesentra.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18513</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">C - Lokale hovedveger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="D">
            <annotation>
               <documentation>18514: Veger som binder sammen bygder og grender eller gir hovedadkomst til bygd eller grend. Disse vegene har også en samlefunksjon for trafikk til eller fra veger i funksjonsklasse B og C.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18514</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">D - Lokale samleveger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="E">
            <annotation>
               <documentation>18515: Veger som kan være samleveier, men som mest domineres av adkomst til boliger og virksomheter langs disse veiene.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18515</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">E - Lokale adkomstveger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FunksjonsklasseFunksjonsklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="NormertFylkesvegnettOsloFunksjonsklasseType">
      <annotation>
         <documentation>12096: Kommunale veger i Oslo som i prinsippet har status som fylkesveg. Vedtatt av Samferdselsdepartementet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12096</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Normert fylkesvegnett Oslo</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NormertFylkesvegnettOsloFunksjonsklasseEnumerationType nvdb:NormertFylkesvegnettOsloFunksjonsklasseOtherType"/>
   </simpleType>
   <simpleType name="NormertFylkesvegnettOsloFunksjonsklasseEnumerationType">
      <annotation>
         <documentation>12096: Kommunale veger i Oslo som i prinsippet har status som fylkesveg. Vedtatt av Samferdselsdepartementet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12096</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Normert fylkesvegnett Oslo</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <documentation>21072: Vegstrekning er del av normert fylkesveg i Oslo.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21072</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>21073: Vegstrekning er ikke del av normert fylkesvegnett i Oslo.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21073</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NormertFylkesvegnettOsloFunksjonsklasseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
