GML/913.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GjelderForType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12563</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12563</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder for</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GjelderForEnumerationType nvdb:GjelderForOtherType"/>
  </simpleType>
  <simpleType name="GjelderForEnumerationType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12563</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12563</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder for</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Motorvogn">
        <annotation>
          <documentation>21639: Motorvogn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21639</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Motorvogn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Motorvogn unntatt buss">
        <annotation>
          <documentation>21640: Motorvogn unntatt buss</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21640</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Motorvogn unntatt buss</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Motorvogn unntatt taxi">
        <annotation>
          <documentation>21641: Motorvogn unntatt taxi</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21641</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Motorvogn unntatt taxi</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Motorvogn unntatt buss og taxi">
        <annotation>
          <documentation>21642: Motorvogn unntatt buss og taxi</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21642</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Motorvogn unntatt buss og taxi</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lastebil og trekkbil">
        <annotation>
          <documentation>21643: Lastebil og trekkbil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21643</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lastebil og trekkbil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjelderForOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="GjennomkjøringForbudt_Test" substitutionGroup="nvdb:AbstraktGjennomkjøringForbudt_Test" type="nvdb:GjennomkjøringForbudt_TestType">
    <annotation>
      <documentation>913: For uttesting av ny måte å registrere vegnettsrestriksjon på. Skal kun benyttes etter avtale med spesialistgruppe for vegnettegnett.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">913</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">913</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjennomkjøring forbudt (test)</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="GjennomkjøringForbudt_TestType">
    <complexContent>
      <extension base="nvdb:AbstraktGjennomkjøringForbudt_TestType">
        <sequence>
          <element minOccurs="0" name="gjelderFor" type="nvdb:GjelderForType">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12563</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder for</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>11217: Gir merknad knyttet til gjennomkjøring forbudt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11217</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GjennomkjøringForbudt_TestPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:GjennomkjøringForbudt_Test"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
