GML/913.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GjelderForType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12563</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12563</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder for</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GjelderForEnumerationType nvdb:GjelderForOtherType"/>
  </simpleType>
  <simpleType name="GjelderForEnumerationType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12563</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12563</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder for</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Motorvogn">
        <annotation>
          <documentation>21639: Motorvogn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21639</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Motorvogn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lastebil og trekkbil">
        <annotation>
          <documentation>21643: Lastebil og trekkbil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21643</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lastebil og trekkbil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjelderForOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GjelderUkedagType">
    <annotation>
      <documentation>12649: Gjennomkjøring forbudt gjelder kun angitt ukedag.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12649</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12649</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder ukedag</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GjelderUkedagEnumerationType nvdb:GjelderUkedagOtherType"/>
  </simpleType>
  <simpleType name="GjelderUkedagEnumerationType">
    <annotation>
      <documentation>12649: Gjennomkjøring forbudt gjelder kun angitt ukedag.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12649</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12649</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjelder ukedag</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Mandag">
        <annotation>
          <documentation>21855: Mandag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21855</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mandag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tirsdag">
        <annotation>
          <documentation>21856: Tirsdag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21856</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tirsdag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Onsdag">
        <annotation>
          <documentation>21857: Onsdag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21857</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Onsdag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Torsdag">
        <annotation>
          <documentation>21858: Torsdag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21858</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Torsdag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fredag">
        <annotation>
          <documentation>21859: Fredag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21859</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fredag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjelderUkedagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="GjennomkjøringForbudt" substitutionGroup="nvdb:AbstraktGjennomkjøringForbudt" type="nvdb:GjennomkjøringForbudtType">
    <annotation>
      <documentation>913: Punkt der forbud mot gjennomkjøring gjelder fra. I noen tilfeller gjelder forbudet i begge retninger.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">913</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">913</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjennomkjøring forbudt</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="GjennomkjøringForbudtType">
    <complexContent>
      <extension base="nvdb:AbstraktGjennomkjøringForbudtType">
        <sequence>
          <element name="gjelderFor" type="nvdb:GjelderForType">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12563</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder for</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="retning" type="nvdb:RetningType">
            <annotation>
              <documentation>12634: Angir hvilken retning gjennomkjøring forbudt gjelder.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12634</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Retning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>11217: Gir merknad knyttet til gjennomkjøring forbudt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11217</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="unntakForBuss" type="nvdb:UnntakForBussType">
            <annotation>
              <documentation>12635: Ja: Gjennomkjøring forbudt gjelder ikke for buss.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12635</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Unntak for buss</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="unntakForTaxi" type="nvdb:UnntakForTaxiType">
            <annotation>
              <documentation>12636: Ja: Gjennomkjøring forbudt gjelder ikke for taxi.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12636</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Unntak for taxi</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="unntakForMoped" type="nvdb:UnntakForMopedType">
            <annotation>
              <documentation>12637: Ja: Gjennomkjøring forbudt gjelder ikke for moped.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12637</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Unntak for moped</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="unntakForMotorsykkel" type="nvdb:UnntakForMotorsykkelType">
            <annotation>
              <documentation>12638: Ja: Gjennomkjøring forbudt gjelder ikke for motorsykkel.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12638</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Unntak for motorsykkel</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="unntakForTraktor" type="nvdb:UnntakForTraktorType">
            <annotation>
              <documentation>12639: Ja: Gjennomkjøring forbudt gjelder ikke for traktor.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12639</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Unntak for traktor</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjelderHverdagerULørdagFraKl" type="time">
            <annotation>
              <documentation>12640: Gjennomkjøring forbudt gjelder på hverdager unntatt lørdag fra angitt klokkeslett.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12640</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder hverdager u. lørdag fra kl.</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjelderHverdagerULørdagTilKl" type="time">
            <annotation>
              <documentation>12641: Gjennomkjøring forbudt gjelder på hverdager unntatt lørdag til angitt klokkeslett.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12641</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder hverdager u. lørdag til kl.</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjelderLørdagFraKl" type="time">
            <annotation>
              <documentation>12642: Gjennomkjøring forbudt gjelder på lørdager fra angitt klokkeslett.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12642</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder lørdag fra kl.</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjelderLørdagTilKl" type="time">
            <annotation>
              <documentation>12643: Gjennomkjøring forbudt gjelder på lørdager til angitt klokkeslett.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12643</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder lørdag til kl.</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjelderSøndagFraKl" type="time">
            <annotation>
              <documentation>12644: Gjennomkjøring forbudt gjelder på søndager fra angitt klokkeslett.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12644</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder søndag fra kl.</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjelderSøndagTilKl" type="time">
            <annotation>
              <documentation>12645: Gjennomkjøring forbudt gjelder på søndager til angitt klokkeslett.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12645</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder søndag til kl.</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjelderUkedag" type="nvdb:GjelderUkedagType">
            <annotation>
              <documentation>12649: Gjennomkjøring forbudt gjelder kun angitt ukedag.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12649</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjelder ukedag</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGjennomkjøringForbudt_Avgrensing" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktGjennomkjøringForbudt_Avgrensing</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GjennomkjøringForbudtPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:GjennomkjøringForbudt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="RetningType">
    <annotation>
      <documentation>12634: Angir hvilken retning gjennomkjøring forbudt gjelder.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12634</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12634</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Retning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RetningEnumerationType nvdb:RetningOtherType"/>
  </simpleType>
  <simpleType name="RetningEnumerationType">
    <annotation>
      <documentation>12634: Angir hvilken retning gjennomkjøring forbudt gjelder.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12634</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12634</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Retning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="En retning">
        <annotation>
          <documentation>21833: Gjennomkjøring forbudt gjelder kun i en retning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21833</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">En retning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Begge">
        <annotation>
          <documentation>21832: Begge</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21832</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Begge</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RetningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UnntakForBussType">
    <annotation>
      <documentation>12635: Ja: Gjennomkjøring forbudt gjelder ikke for buss.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12635</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12635</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Unntak for buss</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UnntakForBussEnumerationType nvdb:UnntakForBussOtherType"/>
  </simpleType>
  <simpleType name="UnntakForBussEnumerationType">
    <annotation>
      <documentation>12635: Ja: Gjennomkjøring forbudt gjelder ikke for buss.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12635</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12635</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Unntak for buss</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>21835: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21835</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>21836: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21836</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UnntakForBussOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UnntakForMopedType">
    <annotation>
      <documentation>12637: Ja: Gjennomkjøring forbudt gjelder ikke for moped.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12637</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12637</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Unntak for moped</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UnntakForMopedEnumerationType nvdb:UnntakForMopedOtherType"/>
  </simpleType>
  <simpleType name="UnntakForMopedEnumerationType">
    <annotation>
      <documentation>12637: Ja: Gjennomkjøring forbudt gjelder ikke for moped.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12637</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12637</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Unntak for moped</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>21839: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21839</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>21840: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21840</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UnntakForMopedOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UnntakForMotorsykkelType">
    <annotation>
      <documentation>12638: Ja: Gjennomkjøring forbudt gjelder ikke for motorsykkel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Unntak for motorsykkel</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UnntakForMotorsykkelEnumerationType nvdb:UnntakForMotorsykkelOtherType"/>
  </simpleType>
  <simpleType name="UnntakForMotorsykkelEnumerationType">
    <annotation>
      <documentation>12638: Ja: Gjennomkjøring forbudt gjelder ikke for motorsykkel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Unntak for motorsykkel</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>21841: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21841</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>21842: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21842</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UnntakForMotorsykkelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UnntakForTaxiType">
    <annotation>
      <documentation>12636: Ja: Gjennomkjøring forbudt gjelder ikke for taxi.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12636</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12636</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Unntak for taxi</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UnntakForTaxiEnumerationType nvdb:UnntakForTaxiOtherType"/>
  </simpleType>
  <simpleType name="UnntakForTaxiEnumerationType">
    <annotation>
      <documentation>12636: Ja: Gjennomkjøring forbudt gjelder ikke for taxi.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12636</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12636</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Unntak for taxi</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>21837: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21837</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>21838: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21838</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UnntakForTaxiOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UnntakForTraktorType">
    <annotation>
      <documentation>12639: Ja: Gjennomkjøring forbudt gjelder ikke for traktor.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12639</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12639</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Unntak for traktor</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UnntakForTraktorEnumerationType nvdb:UnntakForTraktorOtherType"/>
  </simpleType>
  <simpleType name="UnntakForTraktorEnumerationType">
    <annotation>
      <documentation>12639: Ja: Gjennomkjøring forbudt gjelder ikke for traktor.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12639</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12639</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Unntak for traktor</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>21843: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21843</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>21844: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21844</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UnntakForTraktorOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
