GML/913.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Vegnettsrestriksjon_Test" substitutionGroup="nvdb:AbstraktVegnettsrestriksjon_Test" type="nvdb:Vegnettsrestriksjon_TestType">
    <annotation>
      <documentation>913: For uttesting av ny måte å registrere vegnettsrestriksjon på. Skal kun benyttes etter avtale med spesialistgruppe for vegnettegnett</documentation>
    </annotation>
  </element>
  <complexType name="Vegnettsrestriksjon_TestType">
    <complexContent>
      <extension base="nvdb:AbstraktVegnettsrestriksjon_TestType">
        <sequence>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>11217: Beskriver vegnettsresstriksjon</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Vegnettsrestriksjon_TestPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegnettsrestriksjon_Test"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
