GML/913.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>913: Punkt der forbud mot gjennomkjøring gjelder fra. I noen tilfeller gjelder forbudet i begge retninger.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="GjelderForGjennomkjøring forbudtType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12563</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjelder for</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GjelderForGjennomkjøring forbudtEnumerationType nvdb:GjelderForGjennomkjøring forbudtOtherType"/>
   </simpleType>
   <simpleType name="GjelderForGjennomkjøring forbudtEnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12563</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjelder for</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="LT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21643</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lastebil og trekkbil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="M1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21639</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Motorvogn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GjelderForGjennomkjøring forbudtOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="GjelderUkedagGjennomkjøring forbudtType">
      <annotation>
         <documentation>12649: Gjennomkjøring forbudt gjelder kun angitt ukedag.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12649</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjelder ukedag</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GjelderUkedagGjennomkjøring forbudtEnumerationType nvdb:GjelderUkedagGjennomkjøring forbudtOtherType"/>
   </simpleType>
   <simpleType name="GjelderUkedagGjennomkjøring forbudtEnumerationType">
      <annotation>
         <documentation>12649: Gjennomkjøring forbudt gjelder kun angitt ukedag.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12649</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjelder ukedag</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21859</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fredag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="M">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21855</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mandag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21857</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Onsdag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ti">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21856</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tirsdag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="To">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21858</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Torsdag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GjelderUkedagGjennomkjøring forbudtOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Gjennomkjøring forbudt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Gjennomkjøring forbudtType">
      <annotation>
         <documentation>913: Punkt der forbud mot gjennomkjøring gjelder fra. I noen tilfeller gjelder forbudet i begge retninger.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">913</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjennomkjøring forbudt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Gjennomkjøring forbudtType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="gjelderFor">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12563</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder for</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="retning" type="nvdb:RetningGjennomkjøring forbudtType">
                  <annotation>
                     <documentation>12634: Angir hvilken retning gjennomkjøring forbudt gjelder.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12634</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Retning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>11217: Gir merknad knyttet til gjennomkjøring forbudt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11217</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="unntakForBuss">
                  <annotation>
                     <documentation>12635: Ja: Gjennomkjøring forbudt gjelder ikke for buss.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12635</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Unntak for buss</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="unntakForTaxi">
                  <annotation>
                     <documentation>12636: Ja: Gjennomkjøring forbudt gjelder ikke for taxi.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12636</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Unntak for taxi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="unntakForMoped">
                  <annotation>
                     <documentation>12637: Ja: Gjennomkjøring forbudt gjelder ikke for moped.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12637</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Unntak for moped</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="unntakForMotorsykkel">
                  <annotation>
                     <documentation>12638: Ja: Gjennomkjøring forbudt gjelder ikke for motorsykkel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12638</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Unntak for motorsykkel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="unntakForTraktor">
                  <annotation>
                     <documentation>12639: Ja: Gjennomkjøring forbudt gjelder ikke for traktor.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12639</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Unntak for traktor</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gjelderHverdagerULørdagFraKl" type="time">
                  <annotation>
                     <documentation>12640: Gjennomkjøring forbudt gjelder på hverdager unntatt lørdag fra angitt klokkeslett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12640</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder hverdager u. lørdag fra kl.</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gjelderHverdagerULørdagTilKl" type="time">
                  <annotation>
                     <documentation>12641: Gjennomkjøring forbudt gjelder på hverdager unntatt lørdag til angitt klokkeslett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12641</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder hverdager u. lørdag til kl.</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gjelderLørdagFraKl" type="time">
                  <annotation>
                     <documentation>12642: Gjennomkjøring forbudt gjelder på lørdager fra angitt klokkeslett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12642</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder lørdag fra kl.</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gjelderLørdagTilKl" type="time">
                  <annotation>
                     <documentation>12643: Gjennomkjøring forbudt gjelder på lørdager til angitt klokkeslett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12643</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder lørdag til kl.</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gjelderSøndagFraKl" type="time">
                  <annotation>
                     <documentation>12644: Gjennomkjøring forbudt gjelder på søndager fra angitt klokkeslett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12644</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder søndag fra kl.</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gjelderSøndagTilKl" type="time">
                  <annotation>
                     <documentation>12645: Gjennomkjøring forbudt gjelder på søndager til angitt klokkeslett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12645</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder søndag til kl.</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gjelderUkedag">
                  <annotation>
                     <documentation>12649: Gjennomkjøring forbudt gjelder kun angitt ukedag.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12649</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjelder ukedag</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Gjennomkjøring forbudtPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Gjennomkjøring forbudt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="RetningGjennomkjøring forbudtType">
      <annotation>
         <documentation>12634: Angir hvilken retning gjennomkjøring forbudt gjelder.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12634</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Retning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RetningGjennomkjøring forbudtEnumerationType nvdb:RetningGjennomkjøring forbudtOtherType"/>
   </simpleType>
   <simpleType name="RetningGjennomkjøring forbudtEnumerationType">
      <annotation>
         <documentation>12634: Angir hvilken retning gjennomkjøring forbudt gjelder.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12634</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Retning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21832</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Begge</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="En">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21833</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">En retning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RetningGjennomkjøring forbudtOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UnntakForBussGjennomkjøring forbudtType">
      <annotation>
         <documentation>12635: Ja: Gjennomkjøring forbudt gjelder ikke for buss.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12635</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Unntak for buss</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UnntakForBussGjennomkjøring forbudtEnumerationType nvdb:UnntakForBussGjennomkjøring forbudtOtherType"/>
   </simpleType>
   <simpleType name="UnntakForBussGjennomkjøring forbudtEnumerationType">
      <annotation>
         <documentation>12635: Ja: Gjennomkjøring forbudt gjelder ikke for buss.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12635</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Unntak for buss</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21835</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21836</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UnntakForBussGjennomkjøring forbudtOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UnntakForMopedGjennomkjøring forbudtType">
      <annotation>
         <documentation>12637: Ja: Gjennomkjøring forbudt gjelder ikke for moped.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12637</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Unntak for moped</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UnntakForMopedGjennomkjøring forbudtEnumerationType nvdb:UnntakForMopedGjennomkjøring forbudtOtherType"/>
   </simpleType>
   <simpleType name="UnntakForMopedGjennomkjøring forbudtEnumerationType">
      <annotation>
         <documentation>12637: Ja: Gjennomkjøring forbudt gjelder ikke for moped.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12637</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Unntak for moped</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21839</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21840</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UnntakForMopedGjennomkjøring forbudtOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UnntakForMotorsykkelGjennomkjøring forbudtType">
      <annotation>
         <documentation>12638: Ja: Gjennomkjøring forbudt gjelder ikke for motorsykkel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12638</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Unntak for motorsykkel</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UnntakForMotorsykkelGjennomkjøring forbudtEnumerationType nvdb:UnntakForMotorsykkelGjennomkjøring forbudtOtherType"/>
   </simpleType>
   <simpleType name="UnntakForMotorsykkelGjennomkjøring forbudtEnumerationType">
      <annotation>
         <documentation>12638: Ja: Gjennomkjøring forbudt gjelder ikke for motorsykkel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12638</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Unntak for motorsykkel</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21841</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21842</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UnntakForMotorsykkelGjennomkjøring forbudtOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UnntakForTaxiGjennomkjøring forbudtType">
      <annotation>
         <documentation>12636: Ja: Gjennomkjøring forbudt gjelder ikke for taxi.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12636</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Unntak for taxi</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UnntakForTaxiGjennomkjøring forbudtEnumerationType nvdb:UnntakForTaxiGjennomkjøring forbudtOtherType"/>
   </simpleType>
   <simpleType name="UnntakForTaxiGjennomkjøring forbudtEnumerationType">
      <annotation>
         <documentation>12636: Ja: Gjennomkjøring forbudt gjelder ikke for taxi.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12636</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Unntak for taxi</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21837</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21838</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UnntakForTaxiGjennomkjøring forbudtOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UnntakForTraktorGjennomkjøring forbudtType">
      <annotation>
         <documentation>12639: Ja: Gjennomkjøring forbudt gjelder ikke for traktor.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12639</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Unntak for traktor</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UnntakForTraktorGjennomkjøring forbudtEnumerationType nvdb:UnntakForTraktorGjennomkjøring forbudtOtherType"/>
   </simpleType>
   <simpleType name="UnntakForTraktorGjennomkjøring forbudtEnumerationType">
      <annotation>
         <documentation>12639: Ja: Gjennomkjøring forbudt gjelder ikke for traktor.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12639</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Unntak for traktor</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21843</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21844</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UnntakForTraktorGjennomkjøring forbudtOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
