GML/914.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>914: Oversikt og status for TS-inspeksjoner.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="InspeksjonstypeTS-inspeksjonType">
      <annotation>
         <documentation>11229: Angir type TS-inspeksjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11229</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inspeksjonstype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:InspeksjonstypeTS-inspeksjonEnumerationType nvdb:InspeksjonstypeTS-inspeksjonOtherType"/>
   </simpleType>
   <simpleType name="InspeksjonstypeTS-inspeksjonEnumerationType">
      <annotation>
         <documentation>11229: Angir type TS-inspeksjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11229</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inspeksjonstype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ea">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18521</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Inspeksjon av eksisterende veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18522</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Inspeksjon av GS-veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18523</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Inspeksjon av sykkelrute</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ea">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18525</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Inspeksjon etter åpning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fa">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18524</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Inspeksjon før åpning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18526</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Temainspeksjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="InspeksjonstypeTS-inspeksjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="StatusTS-inspeksjonType">
      <annotation>
         <documentation>11319: Angir status for gjennomføring av tiltak.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11319</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StatusTS-inspeksjonEnumerationType nvdb:StatusTS-inspeksjonOtherType"/>
   </simpleType>
   <simpleType name="StatusTS-inspeksjonEnumerationType">
      <annotation>
         <documentation>11319: Angir status for gjennomføring av tiltak.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11319</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="DG">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19096</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Delvis gjennomført</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19097</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gjennomført</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19095</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen tiltak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StatusTS-inspeksjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="StørreInvesteringTS-inspeksjonType">
      <annotation>
         <documentation>11318: Angir om tiltak er større investering eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11318</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Større investering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StørreInvesteringTS-inspeksjonEnumerationType nvdb:StørreInvesteringTS-inspeksjonOtherType"/>
   </simpleType>
   <simpleType name="StørreInvesteringTS-inspeksjonEnumerationType">
      <annotation>
         <documentation>11318: Angir om tiltak er større investering eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11318</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Større investering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19093</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19094</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StørreInvesteringTS-inspeksjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="TS-inspeksjon"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:TS-inspeksjonType">
      <annotation>
         <documentation>914: Oversikt og status for TS-inspeksjoner.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">914</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TS-inspeksjon</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TS-inspeksjonType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="strekningsnavn" type="string">
                  <annotation>
                     <documentation>11227: Navn på strekning / stedsbestemmelse. Angis med navn fra-til i metreringsretning. Som navn kan benyttes stedsnavn i NVDB, kryss navn eller andre stedsnavn. Navnet vil framgå av rapporten fra aktuell TS-inspeksjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11227</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekningsnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rapportnavn" type="string">
                  <annotation>
                     <documentation>11228: Navn på rapporten som beskriver funnene fra TS-inspeksjonen. Kan være nyttig for å kunne gjenfinne den aktuelle rapporten.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11228</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rapportnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="inspeksjonstype" type="nvdb:InspeksjonstypeTS-inspeksjonType">
                  <annotation>
                     <documentation>11229: Angir type TS-inspeksjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11229</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Inspeksjonstype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="utførtDato" type="date">
                  <annotation>
                     <documentation>11230: Angir dato når inspeksjonen er gjennomført.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11230</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utført dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rapportDato" type="date">
                  <annotation>
                     <documentation>11231: Angir dato når rapporten er levert bestiller.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11231</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rapport dato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bestiller" type="string">
                  <annotation>
                     <documentation>11232: Angir navn på enhet eller prosjekt som har bestilt inspeksjonen. For enhet angis fortrinnsvis navn som er registrert i adresseboka i Outlook (f.eks. Drift Oppland). For prosjekt angis normalt navnet på prosjektet som har bestilt inspeksjonen (f.eks. Prosjekt E6 Biri-Otta). Prosjekt som bestiller vil i hovedsak være aktuelt for inspeksjon før og etter åpning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11232</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bestiller</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kostnad" type="integer">
                  <annotation>
                     <documentation>11236: Angir total beregnet kostnad for gjennomføring av alle kartlagte funn i den aktuelle TS-inspeksjonen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11236</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kostnad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="størreInvestering">
                  <annotation>
                     <documentation>11318: Angir om tiltak er større investering eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11318</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Større investering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="rapportreferanse" type="string">
                  <annotation>
                     <documentation>11239: Referanse til TS-rapport som er lagret på O:\Landsdekkende eller i Mime.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11239</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rapportreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>11237: Kan gi tilleggsinformasjon. F.eks. nærmere beskrivelse av hvilke tiltak som er gjennomført, planlagt tid for gjennomføring (budsjett), avhengigheter for gjennomføring (tiltak som krever regulering) osv..</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11237</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="status" type="nvdb:StatusTS-inspeksjonType">
                  <annotation>
                     <documentation>11319: Angir status for gjennomføring av tiltak.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11319</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TS-inspeksjonPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:TS-inspeksjon"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
