GML/914.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="InspeksjonstypeType">
    <annotation>
      <documentation>11229: Angir type TS-inspeksjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11229</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11229</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Inspeksjonstype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:InspeksjonstypeEnumerationType nvdb:InspeksjonstypeOtherType"/>
  </simpleType>
  <simpleType name="InspeksjonstypeEnumerationType">
    <annotation>
      <documentation>11229: Angir type TS-inspeksjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11229</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11229</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Inspeksjonstype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Inspeksjon av eksisterende veg">
        <annotation>
          <documentation>18521: Inspeksjon av eksisterende veg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18521</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inspeksjon av eksisterende veg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Inspeksjon av GS-veg">
        <annotation>
          <documentation>18522: Inspeksjon av GS-veg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18522</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inspeksjon av GS-veg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Inspeksjon av sykkelrute">
        <annotation>
          <documentation>18523: Inspeksjon av sykkelrute</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18523</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inspeksjon av sykkelrute</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Inspeksjon før åpning">
        <annotation>
          <documentation>18524: Inspeksjon før åpning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18524</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inspeksjon før åpning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Inspeksjon etter åpning">
        <annotation>
          <documentation>18525: Inspeksjon etter åpning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18525</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inspeksjon etter åpning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Temainspeksjon">
        <annotation>
          <documentation>18526: Temainspeksjon</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18526</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Temainspeksjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InspeksjonstypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StatusTS_InspeksjonType">
    <annotation>
      <documentation>11319: Angir status for gjennomføring av tiltak.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11319</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11319</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StatusTS_InspeksjonEnumerationType nvdb:StatusTS_InspeksjonOtherType"/>
  </simpleType>
  <simpleType name="StatusTS_InspeksjonEnumerationType">
    <annotation>
      <documentation>11319: Angir status for gjennomføring av tiltak.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11319</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11319</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ingen tiltak">
        <annotation>
          <documentation>19095: Ingen tiltak</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19095</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen tiltak</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Delvis gjennomført">
        <annotation>
          <documentation>19096: Delvis gjennomført</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19096</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Delvis gjennomført</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gjennomført">
        <annotation>
          <documentation>19097: Gjennomført</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19097</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjennomført</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StatusTS_InspeksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StørreInvesteringType">
    <annotation>
      <documentation>11318: Angir om tiltak er større investering eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11318</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11318</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Større investering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StørreInvesteringEnumerationType nvdb:StørreInvesteringOtherType"/>
  </simpleType>
  <simpleType name="StørreInvesteringEnumerationType">
    <annotation>
      <documentation>11318: Angir om tiltak er større investering eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11318</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11318</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Større investering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>19093: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19093</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>19094: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19094</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StørreInvesteringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TS_Inspeksjon" substitutionGroup="nvdb:AbstraktTS_Inspeksjon" type="nvdb:TS_InspeksjonType">
    <annotation>
      <documentation>914: Oversikt og status for TS-inspeksjoner.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">914</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">914</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">TS-inspeksjon</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TS_InspeksjonType">
    <complexContent>
      <extension base="nvdb:AbstraktTS_InspeksjonType">
        <sequence>
          <element minOccurs="0" name="strekningsnavn" type="string">
            <annotation>
              <documentation>11227: Navn på strekning / stedsbestemmelse. Angis med navn fra-til i metreringsretning. Som navn kan benyttes stedsnavn i NVDB, kryss navn eller andre stedsnavn. Navnet vil framgå av rapporten fra aktuell TS-inspeksjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11227</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Strekningsnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapportnavn" type="string">
            <annotation>
              <documentation>11228: Navn på rapporten som beskriver funnene fra TS-inspeksjonen. Kan være nyttig for å kunne gjenfinne den aktuelle rapporten.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11228</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Rapportnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="inspeksjonstype" type="nvdb:InspeksjonstypeType">
            <annotation>
              <documentation>11229: Angir type TS-inspeksjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11229</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Inspeksjonstype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utførtDato" type="date">
            <annotation>
              <documentation>11230: Angir dato når inspeksjonen er gjennomført.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11230</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utført dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapportDato" type="date">
            <annotation>
              <documentation>11231: Angir dato når rapporten er levert bestiller.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11231</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Rapport dato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bestiller" type="string">
            <annotation>
              <documentation>11232: Angir navn på enhet eller prosjekt som har bestilt inspeksjonen. For enhet angis fortrinnsvis navn som er registrert i adresseboka i Outlook (f.eks. Drift Oppland). For prosjekt angis normalt navnet på prosjektet som har bestilt inspeksjonen (f.eks. Prosjekt E6 Biri-Otta). Prosjekt som bestiller vil i hovedsak være aktuelt for inspeksjon før og etter åpning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11232</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bestiller</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kostnad" type="integer">
            <annotation>
              <documentation>11236: Angir total beregnet kostnad for gjennomføring av alle kartlagte funn i den aktuelle TS-inspeksjonen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11236</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kostnad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="størreInvestering" type="nvdb:StørreInvesteringType">
            <annotation>
              <documentation>11318: Angir om tiltak er større investering eller ikke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11318</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Større investering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapportreferanse" type="string">
            <annotation>
              <documentation>11239: Referanse til TS-rapport som er lagret på O:\Landsdekkende eller i Mime.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11239</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Rapportreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>11237: Kan gi tilleggsinformasjon. F.eks. nærmere beskrivelse av hvilke tiltak som er gjennomført, planlagt tid for gjennomføring (budsjett), avhengigheter for gjennomføring (tiltak som krever regulering) osv..</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11237</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="status" type="nvdb:StatusTS_InspeksjonType">
            <annotation>
              <documentation>11319: Angir status for gjennomføring av tiltak.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11319</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS_InspeksjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TS_Inspeksjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
