GML/915.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Vegsystem" substitutionGroup="nvdb:AbstraktVegsystem" type="nvdb:VegsystemType">
    <annotation>
      <documentation>915: Definerer hvilke deler av vegnettet som forvaltningsmessig hører sammen.</documentation>
    </annotation>
  </element>
  <complexType name="VegsystemType">
    <complexContent>
      <extension base="nvdb:AbstraktVegsystemType">
        <sequence>
          <element name="vegkategori" type="nvdb:VegkategoriType">
            <annotation>
              <documentation>11276: Kategorisering som angir på hvilket nivå vegmyndigheten for strekningen ligger.</documentation>
            </annotation>
          </element>
          <element name="vegfase" type="nvdb:VegfaseType">
            <annotation>
              <documentation>11278: Angir vegens fase i livet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vegnummer" type="integer">
            <annotation>
              <documentation>11277: Angir hvilke deler av vegnettet som rutemessig hører sammen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegsystemPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegsystem"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
