GML/916.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>916: Deler inn vegsystemet i praktisk håndterbare størrelser nummerert i stigende rekkefølge i vegens retning.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AdskilteLøpStrekningType">
      <annotation>
         <documentation>11283: Angir at delstrekningen har så fysisk adskilte løp eller kjørebaner at disse referansemessig må håndteres hver for seg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11283</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adskilte løp</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AdskilteLøpStrekningEnumerationType nvdb:AdskilteLøpStrekningOtherType"/>
   </simpleType>
   <simpleType name="AdskilteLøpStrekningEnumerationType">
      <annotation>
         <documentation>11283: Angir at delstrekningen har så fysisk adskilte løp eller kjørebaner at disse referansemessig må håndteres hver for seg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11283</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adskilte løp</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Med">
            <annotation>
               <documentation>19035: Medstrekning for adskilte løp der kjøreretning er med metreringsretning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19035</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Med</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Mot">
            <annotation>
               <documentation>19091: Motstrekning for adskilte løp der kjøreretning er mot metreringsretning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19091</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mot</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>19036: Delstrekningen har ikke fysisk adskilte løp med egne referanser.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19036</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AdskilteLøpStrekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ArmStrekningType">
      <annotation>
         <documentation>11292: Angir om delstrekningen skal betraktes som en arm til et hovedløp.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11292</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Arm</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ArmStrekningEnumerationType nvdb:ArmStrekningOtherType"/>
   </simpleType>
   <simpleType name="ArmStrekningEnumerationType">
      <annotation>
         <documentation>11292: Angir om delstrekningen skal betraktes som en arm til et hovedløp.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11292</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Arm</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19046</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19047</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ArmStrekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Strekning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:StrekningType">
      <annotation>
         <documentation>916: Deler inn vegsystemet i praktisk håndterbare størrelser nummerert i stigende rekkefølge i vegens retning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">916</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Strekning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="StrekningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="strekningNummer" type="integer">
                  <annotation>
                     <documentation>11281: Nummer for den enkelte strekning i et vegsystem.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11281</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strekning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="delstrekningNummer" type="integer">
                  <annotation>
                     <documentation>11284: Inndeling av Strekning i forhold til delstrekningens funksjon, f.eks. hovedløp, armer, gang- og sykkelveger. Nummeret er unikt innenfor strekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11284</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Delstrekning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="arm" type="nvdb:ArmStrekningType">
                  <annotation>
                     <documentation>11292: Angir om delstrekningen skal betraktes som en arm til et hovedløp.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11292</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arm</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="adskilteLøp">
                  <annotation>
                     <documentation>11283: Angir at delstrekningen har så fysisk adskilte løp eller kjørebaner at disse referansemessig må håndteres hver for seg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11283</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Adskilte løp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="adskilteLøpNummer" type="string">
                  <annotation>
                     <documentation>11314: Unik nummerering innenfor strekningen for adskilte løp som hører sammen, f.eks. 1-1, 1-2.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11314</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Adskilte løp nummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="trafikantgruppe" type="nvdb:TrafikantgruppeStrekningType">
                  <annotation>
                     <documentation>11289: Angir hvilken trafikantgruppe vegen som delstrekningen representerer skal benyttes av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11289</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Trafikantgruppe</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sekvens" type="double">
                  <annotation>
                     <documentation>11282: Deler inn strekningen i sekvenser i stigende rekkefølge. Nummerering av sekvensene er slik at ved sortering kommer armer, gang- og sykkelveger, adskilte løp etc. på riktig plass topologisk. Nummeret er unikt innenfor strekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11282</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sekvens</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="StrekningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Strekning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TrafikantgruppeStrekningType">
      <annotation>
         <documentation>11289: Angir hvilken trafikantgruppe vegen som delstrekningen representerer skal benyttes av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11289</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikantgruppe</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TrafikantgruppeStrekningEnumerationType nvdb:TrafikantgruppeStrekningOtherType"/>
   </simpleType>
   <simpleType name="TrafikantgruppeStrekningEnumerationType">
      <annotation>
         <documentation>11289: Angir hvilken trafikantgruppe vegen som delstrekningen representerer skal benyttes av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11289</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikantgruppe</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="G">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19037</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gående og syklende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19039</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjørende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TrafikantgruppeStrekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
