GML/919.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Sideanlegg" substitutionGroup="nvdb:AbstraktSideanlegg" type="nvdb:SideanleggType">
    <annotation>
      <documentation>919: Sideanlegg som trenger egne referanselenker forvaltningsmessig sett fordi disse ikke er en del av vegen for øvrig</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">919</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">919</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sideanlegg</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SideanleggType">
    <complexContent>
      <extension base="nvdb:AbstraktSideanleggType">
        <sequence>
          <element minOccurs="0" name="ID" type="integer">
            <annotation>
              <documentation>11287: Unik ID for sideanlegget.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11287</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSideanleggsdel" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSideanleggsdel</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SideanleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Sideanlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
