GML/92.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeKabelType">
    <annotation>
      <documentation>1274: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdeKabelEnumerationType nvdb:BruksområdeKabelOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeKabelEnumerationType">
    <annotation>
      <documentation>1274: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="elkraft_Høyspent">
        <annotation>
          <documentation>3024: Elkraft, høyspent</documentation>
        </annotation>
      </enumeration>
      <enumeration value="elkraft_Lavspent">
        <annotation>
          <documentation>3023: Elkraft, lavspent</documentation>
        </annotation>
      </enumeration>
      <enumeration value="signalkabel">
        <annotation>
          <documentation>3022: Signalkabel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="jordleder">
        <annotation>
          <documentation>3026: Jordleder</documentation>
        </annotation>
      </enumeration>
      <enumeration value="EKom_Fiber">
        <annotation>
          <documentation>15950: eKom, fiber</documentation>
        </annotation>
      </enumeration>
      <enumeration value="EKom_Kobber">
        <annotation>
          <documentation>3021: eKom, kobber</documentation>
        </annotation>
      </enumeration>
      <enumeration value="varmekabel">
        <annotation>
          <documentation>13037: Varmekabel</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeKabelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierKabelType">
    <annotation>
      <documentation>5811: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierKabelEnumerationType nvdb:EierKabelOtherType"/>
  </simpleType>
  <simpleType name="EierKabelEnumerationType">
    <annotation>
      <documentation>5811: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>8206: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18588: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10698: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>8232: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>8258: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17561: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierKabelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FramføringsvegType">
    <annotation>
      <documentation>2023: Angir framføringsveg for kabel</documentation>
    </annotation>
    <union memberTypes="nvdb:FramføringsvegEnumerationType nvdb:FramføringsvegOtherType"/>
  </simpleType>
  <simpleType name="FramføringsvegEnumerationType">
    <annotation>
      <documentation>2023: Angir framføringsveg for kabel</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="trekkrørKanal">
        <annotation>
          <documentation>3772: Trekkrør/kanal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grøft">
        <annotation>
          <documentation>3774: Grøft</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kabelbroStige">
        <annotation>
          <documentation>3775: Kabelbro/stige</documentation>
        </annotation>
      </enumeration>
      <enumeration value="luftspenn">
        <annotation>
          <documentation>3773: Luftspenn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vann">
        <annotation>
          <documentation>15883: Kabel er lagt i vann/sjø</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kulvert">
        <annotation>
          <documentation>14040: Kulvert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="slisse">
        <annotation>
          <documentation>14042: Slisse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="borehull">
        <annotation>
          <documentation>14039: Borehull</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kabelbunt">
        <annotation>
          <documentation>14041: Kabelbunt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FramføringsvegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Kabel" substitutionGroup="nvdb:AbstraktKabel" type="nvdb:KabelType">
    <annotation>
      <documentation>92: Elektrisk eller optisk leder</documentation>
    </annotation>
  </element>
  <complexType name="KabelType">
    <complexContent>
      <extension base="nvdb:AbstraktKabelType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeKabelType">
            <annotation>
              <documentation>1274: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="elnummer" type="string">
            <annotation>
              <documentation>11802: Angir Elnummer for kabel. For oppslag/søk på elnummer se EFO-basen (https://efobasen.efo.no/)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="antall" type="integer">
            <annotation>
              <documentation>2202: Vegobjektet kan representere flere objekt av samme type.  Det angis her hvor mange objekt dette objektet representerer.
Enhet: Stykker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>9759: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1327: Angir virkelig/målt lengde av vegobjektet. Inkludert
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde_Kart" type="double">
            <annotation>
              <documentation>9746: Angir 2D kartlengde for vegobjektet i meter
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="farge" type="string">
            <annotation>
              <documentation>1293: Angir hovedfarge til vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="framføringsveg" type="nvdb:FramføringsvegType">
            <annotation>
              <documentation>2023: Angir framføringsveg for kabel</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utleidTil" type="nvdb:UtleidTilType">
            <annotation>
              <documentation>11523: Angir hvem kabel er utleid til</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utleidTil_Navn" type="string">
            <annotation>
              <documentation>11524: Angir navn på leietaker</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>4076: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>9744: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>1531: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9748: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks ekstra Informasjon om leverandør,  produkt etc.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer" type="string">
            <annotation>
              <documentation>9743: Gir referanse til relevant sak i vegeiers arkivsystem</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11664: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11077: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierKabelType">
            <annotation>
              <documentation>5811: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>9745: Navn på eier av  vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligKabelType">
            <annotation>
              <documentation>8062: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4792: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertKabelgrøft" type="nvdb:AbstraktKabelgrøftPropertyType"/>
          <element minOccurs="0" name="assosiertKabelbr_Uten_Stige" type="nvdb:AbstraktKabelbr_Uten_StigePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element minOccurs="0" name="assosiertLukketRørgrøft" type="nvdb:AbstraktLukketRørgrøftPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KabelPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kabel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="UtleidTilType">
    <annotation>
      <documentation>11523: Angir hvem kabel er utleid til</documentation>
    </annotation>
    <union memberTypes="nvdb:UtleidTilEnumerationType nvdb:UtleidTilOtherType"/>
  </simpleType>
  <simpleType name="UtleidTilEnumerationType">
    <annotation>
      <documentation>11523: Angir hvem kabel er utleid til</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat">
        <annotation>
          <documentation>19572: Stat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19573: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>19574: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>19575: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeUtleid">
        <annotation>
          <documentation>19576: Ikke utleid</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtleidTilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKabelType">
    <annotation>
      <documentation>8062: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligKabelEnumerationType nvdb:VedlikeholdsansvarligKabelOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKabelEnumerationType">
    <annotation>
      <documentation>8062: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10456: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18783: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>15951: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18912: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10534: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10612: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17714: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKabelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
