GML/92.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>92: Elektrisk eller optisk leder.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeKabelType">
      <annotation>
         <documentation>1274: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1274</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeKabelEnumerationType nvdb:BruksområdeKabelOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeKabelEnumerationType">
      <annotation>
         <documentation>1274: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1274</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ekfi">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15950</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">eKom, fiber</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ekcu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3021</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">eKom, kobber</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="eh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3024</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Elkraft, høyspent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="el">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3023</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Elkraft, lavspent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="jl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3026</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jordleder</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3022</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signalkabel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13037</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Varmekabel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeKabelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierKabelType">
      <annotation>
         <documentation>5811: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5811</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierKabelEnumerationType nvdb:EierKabelOtherType"/>
   </simpleType>
   <simpleType name="EierKabelEnumerationType">
      <annotation>
         <documentation>5811: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5811</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10698</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8232</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8258</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18588</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8206</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17561: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17561</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierKabelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FramføringsvegKabelType">
      <annotation>
         <documentation>2023: Angir framføringsveg for kabel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2023</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Framføringsveg</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FramføringsvegKabelEnumerationType nvdb:FramføringsvegKabelOtherType"/>
   </simpleType>
   <simpleType name="FramføringsvegKabelEnumerationType">
      <annotation>
         <documentation>2023: Angir framføringsveg for kabel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2023</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Framføringsveg</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14039</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Borehull</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gi">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3774</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3775</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kabelbro/stige</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14041</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kabelbunt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ku">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14040</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kulvert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ls">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3773</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Luftspenn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14042</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slisse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3772</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trekkrør/kanal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kb">
            <annotation>
               <documentation>15883: Kabel er lagt i vann/sjø.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15883</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FramføringsvegKabelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Kabel"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:KabelType">
      <annotation>
         <documentation>92: Elektrisk eller optisk leder.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">92</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kabel</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="KabelType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeKabelType">
                  <annotation>
                     <documentation>1274: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1274</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="elnummer" type="string">
                  <annotation>
                     <documentation>11802: Angir Elnummer for kabel. For oppslag/søk på elnummer se EFO-basen (https://efobasen.efo.no/).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11802</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Elnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antall" type="integer">
                  <annotation>
                     <documentation>2202: Vegobjektet kan representere flere objekt av samme type. Det angis her hvor mange objekt dette objektet representerer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2202</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>9759: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9759</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="spesiellStatus">
                  <annotation>
                     <documentation>12619: Angir at kabelen har en annen status enn å være i daglig drift.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12619</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spesiell status</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>1327: Angir virkelig/målt lengde av vegobjektet. Inkludert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1327</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde_Kart" type="double">
                  <annotation>
                     <documentation>9746: Angir 2D kartlengde for vegobjektet i meter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9746</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde, kart</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="farge" type="string">
                  <annotation>
                     <documentation>1293: Angir hovedfarge til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1293</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="framføringsveg" type="nvdb:FramføringsvegKabelType">
                  <annotation>
                     <documentation>2023: Angir framføringsveg for kabel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2023</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Framføringsveg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høydeLuftspenn" type="integer">
                  <annotation>
                     <documentation>12986: Kabelføringens maksimalhøyde over bakken. (Benevnt "Vertikalavstand" i Nasjonalt register for luftfartshinder (NRL).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12986</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde luftspenn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="luftfartshinderNRL">
                  <annotation>
                     <documentation>12917: Angir om kabel er rapporteringspliktig til Nasjonalt register over luftfartshindre (NRL). Egenskap er bare relevant for kabel i luft.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12917</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Luftfartshinder NRL</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="utleidTil">
                  <annotation>
                     <documentation>11523: Angir hvem kabel er utleid til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11523</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utleid til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="utleidTil_Navn" type="string">
                  <annotation>
                     <documentation>11524: Angir navn på leietaker.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11524</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utleid til, Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>4076: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4076</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>9744: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9744</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produsent" type="string">
                  <annotation>
                     <documentation>1531: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1531</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>9748: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks. ekstra Informasjon om leverandør, produkt etc.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9748</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivnummer" type="string">
                  <annotation>
                     <documentation>9743: Gir referanse til relevant sak i vegeiers arkivsystem.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9743</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivreferanse" type="string">
                  <annotation>
                     <documentation>11664: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11664</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11077: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11077</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12317: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12317</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierKabelType">
                  <annotation>
                     <documentation>5811: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5811</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier_Navn" type="string">
                  <annotation>
                     <documentation>9745: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9745</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligKabelType">
                  <annotation>
                     <documentation>8062: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8062</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4792: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4792</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="KabelPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kabel"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="LuftfartshinderNRLKabelType">
      <annotation>
         <documentation>12917: Angir om kabel er rapporteringspliktig til Nasjonalt register over luftfartshindre (NRL). Egenskap er bare relevant for kabel i luft.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12917</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Luftfartshinder NRL</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LuftfartshinderNRLKabelEnumerationType nvdb:LuftfartshinderNRLKabelOtherType"/>
   </simpleType>
   <simpleType name="LuftfartshinderNRLKabelEnumerationType">
      <annotation>
         <documentation>12917: Angir om kabel er rapporteringspliktig til Nasjonalt register over luftfartshindre (NRL). Egenskap er bare relevant for kabel i luft.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12917</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Luftfartshinder NRL</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J1">
            <annotation>
               <documentation>22443: Kabel er definert som luftfartshinder. Datagrunnlag i NVDB er i henhold til krav fra NRL, bla. krav knyttet til nøyaktighet. Kabel er dermed klar for overføring til NRL.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22443</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, klarert for NRL</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="J2">
            <annotation>
               <documentation>22444: Kabel er definert som luftfartshinder, men datagrunnlag i NVDB er enten ikke i henhold til krav fra NRL eller det er ikke undersøkt om datagrunnlag er i henhold til krav i NRL. Kabel er dermed ikke klar for overføring til NRL.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22444</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, men ikke klarert for NRL</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>22445: Kabel skal ikke rapporteres til NRL.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22445</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei, ikke relevant for NRL</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LuftfartshinderNRLKabelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SpesiellStatusKabelType">
      <annotation>
         <documentation>12619: Angir at kabelen har en annen status enn å være i daglig drift.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12619</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesiell status</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SpesiellStatusKabelEnumerationType nvdb:SpesiellStatusKabelOtherType"/>
   </simpleType>
   <simpleType name="SpesiellStatusKabelEnumerationType">
      <annotation>
         <documentation>12619: Angir at kabelen har en annen status enn å være i daglig drift.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12619</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesiell status</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="RK">
            <annotation>
               <documentation>21792: Kabel er ikke i daglig drift, men ligger klar til å tas i bruk om behov.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21792</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Reservekabel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UK">
            <annotation>
               <documentation>21794: Kabel er ikke i bruk. Endelig status ikke avklart.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21794</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VK">
            <annotation>
               <documentation>21793: Kabel er defekt og kan ikke brukes.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21793</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vraket</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SpesiellStatusKabelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UtleidTilKabelType">
      <annotation>
         <documentation>11523: Angir hvem kabel er utleid til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11523</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utleid til</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UtleidTilKabelEnumerationType nvdb:UtleidTilKabelOtherType"/>
   </simpleType>
   <simpleType name="UtleidTilKabelEnumerationType">
      <annotation>
         <documentation>11523: Angir hvem kabel er utleid til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11523</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utleid til</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19573</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19576</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke utleid</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19574</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19575</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19572</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UtleidTilKabelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKabelType">
      <annotation>
         <documentation>8062: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8062</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligKabelEnumerationType nvdb:VedlikeholdsansvarligKabelOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKabelEnumerationType">
      <annotation>
         <documentation>8062: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8062</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15951</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10534</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18783</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18912</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10612</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10456</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17714</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKabelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
