GML/920.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>920: De enkelte delene et sideanlegg består av.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Sideanleggsdel"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:SideanleggsdelType">
      <annotation>
         <documentation>920: De enkelte delene et sideanlegg består av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">920</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sideanleggsdel</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SideanleggsdelType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="sideanleggsdel" type="integer">
                  <annotation>
                     <documentation>11288: Nummer for den enkelte del av sideanlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11288</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Del</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="trafikantgruppe" type="nvdb:TrafikantgruppeSideanleggsdelType">
                  <annotation>
                     <documentation>11291: Angir hvilken trafikantgruppe vegen som sideanleggsdelen representerer skal benyttes av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11291</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Trafikantgruppe</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SideanleggsdelPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Sideanleggsdel"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TrafikantgruppeSideanleggsdelType">
      <annotation>
         <documentation>11291: Angir hvilken trafikantgruppe vegen som sideanleggsdelen representerer skal benyttes av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11291</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikantgruppe</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TrafikantgruppeSideanleggsdelEnumerationType nvdb:TrafikantgruppeSideanleggsdelOtherType"/>
   </simpleType>
   <simpleType name="TrafikantgruppeSideanleggsdelEnumerationType">
      <annotation>
         <documentation>11291: Angir hvilken trafikantgruppe vegen som sideanleggsdelen representerer skal benyttes av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11291</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikantgruppe</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="G">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19043</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gående og syklende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19045</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjørende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TrafikantgruppeSideanleggsdelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
