GML/922.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>922: Vegstrekning hvor sak om endring av klassifisering vil bli vurdert. Kan være omklassifisering, opptak eller nedleggelse av veg, eller omnummerering.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="ForeslåttEndringVegmyndighet kan bli endretType">
      <annotation>
         <documentation>12111: Angir hvilken type endring som er foreslått.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12111</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Foreslått endring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ForeslåttEndringVegmyndighet kan bli endretEnumerationType nvdb:ForeslåttEndringVegmyndighet kan bli endretOtherType"/>
   </simpleType>
   <simpleType name="ForeslåttEndringVegmyndighet kan bli endretEnumerationType">
      <annotation>
         <documentation>12111: Angir hvilken type endring som er foreslått.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12111</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Foreslått endring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>21082: Annen endring.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21082</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen endring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21079</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Endring til fylkesveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21080</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Endring til kommunal veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21081</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Endring til privat veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21077</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Endring til riksveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21078</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Endring til skogsveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>21084: Veg planlegges nedlagt/fjernet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21084</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nedleggelse av veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ForeslåttEndringVegmyndighet kan bli endretOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegmyndighet kan bli endret"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Vegmyndighet kan bli endretType">
      <annotation>
         <documentation>922: Vegstrekning hvor sak om endring av klassifisering vil bli vurdert. Kan være omklassifisering, opptak eller nedleggelse av veg, eller omnummerering.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">922</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegmyndighet kan bli endret</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Vegmyndighet kan bli endretType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="vegstrekning" type="string">
                  <annotation>
                     <documentation>11315: Vegstrekningen eller prosjektet saken om endret klassifisering gjelder for.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11315</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegstrekning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="saksnummer" type="string">
                  <annotation>
                     <documentation>11316: Saksnummer for den aktuelle saken om endret klassifisering.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11316</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Saksnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="foreslåttEndring">
                  <annotation>
                     <documentation>12111: Angir hvilken type endring som er foreslått.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12111</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Foreslått endring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoSendtTilHøring" type="date">
                  <annotation>
                     <documentation>12110: Den dato saken er sendt til høring.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12110</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato sendt til høring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoVedtatt" type="date">
                  <annotation>
                     <documentation>12112: Den dato saken er vedtatt. Det må presiseres at det er forskjell på vedtaksdato og iverksettingsdato. Iverksettingsdato er den dato som er beskrevet i underskrevet overtakelsesprotokoll og krav iht. NA-rundskriv 97/13 er oppfylt. Endring i vegnettet i NVDB blir gjennomført så nært opp til iverksettingsdato som mulig. I praksis kan det være snakk om forskjell på både måneder og år mellom vedtaksdato og iverksettingsdato.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12112</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato vedtatt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>12114: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12114</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>12113: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12113</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Vegmyndighet kan bli endretPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegmyndighet kan bli endret"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
