GML/922.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.27">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="ForeslåttEndringType">
    <annotation>
      <documentation>12111: Angir hvilken type endring som er foreslått.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12111</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12111</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Foreslått endring</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ForeslåttEndringEnumerationType nvdb:ForeslåttEndringOtherType"/>
  </simpleType>
  <simpleType name="ForeslåttEndringEnumerationType">
    <annotation>
      <documentation>12111: Angir hvilken type endring som er foreslått.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12111</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12111</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Foreslått endring</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Endring til riksveg">
        <annotation>
          <documentation>21077: Endring til riksveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21077</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Endring til riksveg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Endring til fylkesveg">
        <annotation>
          <documentation>21079: Endring til fylkesveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21079</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Endring til fylkesveg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Endring til kommunal veg">
        <annotation>
          <documentation>21080: Endring til kommunal veg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21080</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Endring til kommunal veg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Endring til skogsveg">
        <annotation>
          <documentation>21078: Endring til skogsveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21078</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Endring til skogsveg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Endring til privat veg">
        <annotation>
          <documentation>21081: Endring til privat veg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21081</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Endring til privat veg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nedleggelse av veg">
        <annotation>
          <documentation>21084: Veg planlegges nedlagt/fjernet.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21084</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nedleggelse av veg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen endring">
        <annotation>
          <documentation>21082: Annen endring.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21082</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Annen endring</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ForeslåttEndringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="VegmyndighetKanBliEndret" substitutionGroup="nvdb:AbstraktVegmyndighetKanBliEndret" type="nvdb:VegmyndighetKanBliEndretType">
    <annotation>
      <documentation>922: Vegstrekning hvor sak om endring av klassifisering vil bli vurdert. Kan være omklassifisering, opptak eller nedleggelse av veg, eller omnummerering.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">922</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">922</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegmyndighet kan bli endret</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegmyndighetKanBliEndretType">
    <complexContent>
      <extension base="nvdb:AbstraktVegmyndighetKanBliEndretType">
        <sequence>
          <element name="strekning" type="string">
            <annotation>
              <documentation>11315: Strekningen eller prosjektet saken om endret klassifisering gjelder for.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11315</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Strekning</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="saksnummer" type="string">
            <annotation>
              <documentation>11316: Saksnummer for den aktuelle saken om endret klassifisering.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11316</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Saksnummer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="foreslåttEndring" type="nvdb:ForeslåttEndringType">
            <annotation>
              <documentation>12111: Angir hvilken type endring som er foreslått.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12111</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Foreslått endring</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoSendtTilHøring" type="date">
            <annotation>
              <documentation>12110: Den dato saken er sendt til høring.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12110</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dato sendt til høring</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoVedtatt" type="date">
            <annotation>
              <documentation>12112: Den dato saken er vedtatt. Det må presiseres at det er forskjell på vedtaksdato og iverksettingsdato. Iverksettingsdato er den dato overtakelsesprotokoll er underskrevet og krav ihht NA-rundskriv 97/13 er oppfylt. Endring i vegnettet i NVDB blir gjennomført så nært opp til iverksettingsdato som mulig. I praksis kan det være snakk om forskjell på både måneder og år mellom vedtaksdato og iverksettingsdato.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12112</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dato vedtatt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>12114: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12114</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>12113: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12113</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Prosjektreferanse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegmyndighetKanBliEndretPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:VegmyndighetKanBliEndret"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
