GML/923.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>923: Vegstrekning som ikke er åpen for allmenn trafikk. Åpnes for å lede trafikk til en annen veg når hovedvegen stenges.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Beredskapsveg"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:BeredskapsvegType">
      <annotation>
         <documentation>923: Vegstrekning som ikke er åpen for allmenn trafikk. Åpnes for å lede trafikk til en annen veg når hovedvegen stenges.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Beredskapsveg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BeredskapsvegType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0"
                        name="bruksområde"
                        type="nvdb:BruksområdeBeredskapsvegType">
                  <annotation>
                     <documentation>12599: Angir hvilket bruksområde beredskapsvegen i hovedsak benyttes til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12599</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BeredskapsvegPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Beredskapsveg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="BruksområdeBeredskapsvegType">
      <annotation>
         <documentation>12599: Angir hvilket bruksområde beredskapsvegen i hovedsak benyttes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12599</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeBeredskapsvegEnumerationType nvdb:BruksområdeBeredskapsvegOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeBeredskapsvegEnumerationType">
      <annotation>
         <documentation>12599: Angir hvilket bruksområde beredskapsvegen i hovedsak benyttes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12599</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21734</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Beredskapsferjestrekning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="da">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21733</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Driftsåpning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21732</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sykkelrute</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeBeredskapsvegOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
