GML/924.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>924: Vegstrekning som ikke er 책pen for allmenn trafikk, men som benyttes for 책 komme til tekniske anlegg e.l.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Serviceveg"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:ServicevegType">
      <annotation>
         <documentation>924: Vegstrekning som ikke er 책pen for allmenn trafikk, men som benyttes for 책 komme til tekniske anlegg e.l.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Serviceveg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="ServicevegType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence/>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ServicevegPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Serviceveg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
