GML/925.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AktivType">
    <annotation>
      <documentation>11368: Angir om forankring fortsatt har en funksjon eller om den kun var aktiv i anleggsfase.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11368</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11368</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Aktiv</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AktivEnumerationType nvdb:AktivOtherType"/>
  </simpleType>
  <simpleType name="AktivEnumerationType">
    <annotation>
      <documentation>11368: Angir om forankring fortsatt har en funksjon eller om den kun var aktiv i anleggsfase.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11368</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11368</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Aktiv</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>19220: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19220</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>19221: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19221</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AktivOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeStagforankringType">
    <annotation>
      <documentation>11360: Angir hva stagforankring forankrer.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11360</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11360</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeStagforankringEnumerationType nvdb:BruksområdeStagforankringOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeStagforankringEnumerationType">
    <annotation>
      <documentation>11360: Angir hva stagforankring forankrer.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11360</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11360</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Støttekonstruksjon">
        <annotation>
          <documentation>19215: Støttekonstruksjon</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19215</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støttekonstruksjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jordnagling">
        <annotation>
          <documentation>19216: Jordnagling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19216</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jordnagling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeStagforankringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierStagforankringType">
    <annotation>
      <documentation>11336: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11336</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11336</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierStagforankringEnumerationType nvdb:EierStagforankringOtherType"/>
  </simpleType>
  <simpleType name="EierStagforankringEnumerationType">
    <annotation>
      <documentation>11336: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11336</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11336</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>19136: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19136</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>19135: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19135</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19132: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19132</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>19133: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19133</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>19134: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19134</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>19137: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19137</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierStagforankringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Stagforankring" substitutionGroup="nvdb:AbstraktStagforankring" type="nvdb:StagforankringType">
    <annotation>
      <documentation>925: Stag e.l. som benyttes for å forankre støttevegger, etc. Stagene ligger skrått eller tilnærmet horisontalt ut fra konstruksjonen. En registrert forekomst vil normalt dekke et område med flere enkeltstag.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">925</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">925</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Stagforankring</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StagforankringType">
    <complexContent>
      <extension base="nvdb:AbstraktStagforankringType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeStagforankringType">
            <annotation>
              <documentation>11360: Angir hva stagforankring forankrer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11360</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="typeStag" type="nvdb:TypeStagType">
            <annotation>
              <documentation>11361: Angir type stag for stagforankring.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11361</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type stag</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallEnkeltstag" type="integer">
            <annotation>
              <documentation>11362: Angir hvor mange enkeltstag det er innenfor avgrenset område.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11362</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall enkeltstag</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyesteKotenivåForInnfesting" type="double">
            <annotation>
              <documentation>11363: Kotenivå (moh) ved innfesting i konstruksjonen (høyeste kotenivå ved staghode).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11363</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyeste kotenivå for innfesting</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="staglengde_Maks" type="integer">
            <annotation>
              <documentation>11364: Maks staglengde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11364</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Staglengde, maks</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senteravstand_Maks" type="double">
            <annotation>
              <documentation>11365: Angir maks senteravstand i horisontalretning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11365</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Senteravstand, maks</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vinkel_MaksNedover" type="integer">
            <annotation>
              <documentation>11366: Angir maksimal vinkel under vannrett planum for en enkeltstag 0 =vannrett stag, 90 = loddrett stag.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11366</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vinkel, maks nedover</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vinkel_MinNedover" type="integer">
            <annotation>
              <documentation>11367: Angir minimum vinkel under vannrett planum for en enkeltstag 0 =vannrett stag, 90 = loddrett stag.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11367</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vinkel, min nedover</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="aktiv" type="nvdb:AktivType">
            <annotation>
              <documentation>11368: Angir om forankring fortsatt har en funksjon eller om den kun var aktiv i anleggsfase.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11368</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Aktiv</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>11369: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11369</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11370: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11370</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11330: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11330</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11795: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11795</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12440: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12440</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierStagforankringType">
            <annotation>
              <documentation>11336: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11336</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligStagforankringType">
            <annotation>
              <documentation>11342: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11342</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>11348: Gir flate/polygon som geometrisk avgrenser område med stagforankring.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11348</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StagforankringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Stagforankring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeStagType">
    <annotation>
      <documentation>11361: Angir type stag for stagforankring.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11361</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11361</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type stag</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeStagEnumerationType nvdb:TypeStagOtherType"/>
  </simpleType>
  <simpleType name="TypeStagEnumerationType">
    <annotation>
      <documentation>11361: Angir type stag for stagforankring.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11361</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11361</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type stag</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Lissestag">
        <annotation>
          <documentation>19217: Lissestag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19217</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lissestag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Selvborende stag">
        <annotation>
          <documentation>19218: Selvborende stag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19218</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Selvborende stag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stangstag">
        <annotation>
          <documentation>19219: Stangstag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19219</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stangstag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeStagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStagforankringType">
    <annotation>
      <documentation>11342: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11342</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11342</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligStagforankringEnumerationType nvdb:VedlikeholdsansvarligStagforankringOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStagforankringEnumerationType">
    <annotation>
      <documentation>11342: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11342</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11342</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>19172: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19172</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>19169: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19169</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20015: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20015</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>19170: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19170</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>19168: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19168</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>19171: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19171</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>19173: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19173</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStagforankringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
