GML/926.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierPelerPlateType">
    <annotation>
      <documentation>11337: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11337</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11337</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierPelerPlateEnumerationType nvdb:EierPelerPlateOtherType"/>
  </simpleType>
  <simpleType name="EierPelerPlateEnumerationType">
    <annotation>
      <documentation>11337: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11337</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11337</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>19142: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19142</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>19141: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19141</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19138: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19138</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>19139: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19139</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>19140: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19140</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>19143: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19143</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierPelerPlateOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="PelerPlate" substitutionGroup="nvdb:AbstraktPelerPlate" type="nvdb:PelerPlateType">
    <annotation>
      <documentation>926: Område med peler/plate.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">926</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">926</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Peler/plate</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="PelerPlateType">
    <complexContent>
      <extension base="nvdb:AbstraktPelerPlateType">
        <sequence>
          <element name="type" type="nvdb:TypePelerPlateType">
            <annotation>
              <documentation>11373: Angir hvilken type konstruksjon det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11373</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typePeler" type="nvdb:TypePelerType">
            <annotation>
              <documentation>11374: Angir hva slags type peler det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11374</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type peler</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pellengde_Maks" type="integer">
            <annotation>
              <documentation>11375: Angir største pellengde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11375</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Pellengde, maks</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>11402: Angir areal av pelet område.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11402</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brutusID" type="string">
            <annotation>
              <documentation>11379: Referanse til ID i Brutus.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11379</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">BrutusID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>11377: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11377</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11378: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11378</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11331: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11331</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11796: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11796</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12441: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12441</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierPelerPlateType">
            <annotation>
              <documentation>11337: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11337</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligPelerPlateType">
            <annotation>
              <documentation>11343: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11343</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>11349: Gir flate/polygon som avgrenser område med peler/plater.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11349</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PelerPlatePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:PelerPlate"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypePelerType">
    <annotation>
      <documentation>11374: Angir hva slags type peler det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11374</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11374</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type peler</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypePelerEnumerationType nvdb:TypePelerOtherType"/>
  </simpleType>
  <simpleType name="TypePelerEnumerationType">
    <annotation>
      <documentation>11374: Angir hva slags type peler det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11374</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11374</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type peler</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betong">
        <annotation>
          <documentation>19225: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19225</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stål">
        <annotation>
          <documentation>19226: Stål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19226</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tre">
        <annotation>
          <documentation>19227: Tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19227</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypePelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypePelerPlateType">
    <annotation>
      <documentation>11373: Angir hvilken type konstruksjon det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11373</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11373</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypePelerPlateEnumerationType nvdb:TypePelerPlateOtherType"/>
  </simpleType>
  <simpleType name="TypePelerPlateEnumerationType">
    <annotation>
      <documentation>11373: Angir hvilken type konstruksjon det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11373</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11373</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hatter">
        <annotation>
          <documentation>19222: Hatter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19222</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hatter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Striper">
        <annotation>
          <documentation>19223: Striper</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19223</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Striper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kontinuerlig plate">
        <annotation>
          <documentation>19224: Kontinuerlig plate</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19224</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kontinuerlig plate</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypePelerPlateOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPelerPlateType">
    <annotation>
      <documentation>11343: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11343</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11343</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligPelerPlateEnumerationType nvdb:VedlikeholdsansvarligPelerPlateOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPelerPlateEnumerationType">
    <annotation>
      <documentation>11343: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11343</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11343</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>19178: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19178</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>19175: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19175</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20016: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20016</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>19176: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19176</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>19174: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19174</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>19177: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19177</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>19179: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19179</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPelerPlateOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
