GML/928.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierVertikaldrenType">
    <annotation>
      <documentation>11339: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierVertikaldrenEnumerationType nvdb:EierVertikaldrenOtherType"/>
  </simpleType>
  <simpleType name="EierVertikaldrenEnumerationType">
    <annotation>
      <documentation>11339: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>19154: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>19153: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19150: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>19151: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>19152: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>19155: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierVertikaldrenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVertikaldrenType">
    <annotation>
      <documentation>11386: Angir hva slags type vertikaldren som er installert</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeVertikaldrenEnumerationType nvdb:TypeVertikaldrenOtherType"/>
  </simpleType>
  <simpleType name="TypeVertikaldrenEnumerationType">
    <annotation>
      <documentation>11386: Angir hva slags type vertikaldren som er installert</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="sandGrus">
        <annotation>
          <documentation>19228: Sand/grus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="prefabrikkertePlastdren">
        <annotation>
          <documentation>19229: Prefabrikkerte-/plastdren</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVertikaldrenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVertikaldrenType">
    <annotation>
      <documentation>11345: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligVertikaldrenEnumerationType nvdb:VedlikeholdsansvarligVertikaldrenOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVertikaldrenEnumerationType">
    <annotation>
      <documentation>11345: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>19190: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>19187: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>20018: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>19188: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>19186: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>19189: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>19191: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVertikaldrenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vertikaldren" substitutionGroup="nvdb:AbstraktVertikaldren" type="nvdb:VertikaldrenType">
    <annotation>
      <documentation>928: Område hvor det er installert vertikaldren for å påskynde setninger. Benyttes vanligvis under fyllinger, og bør kombineres med forbelastning med overhøyde.</documentation>
    </annotation>
  </element>
  <complexType name="VertikaldrenType">
    <complexContent>
      <extension base="nvdb:AbstraktVertikaldrenType">
        <sequence>
          <element name="type" type="nvdb:TypeVertikaldrenType">
            <annotation>
              <documentation>11386: Angir hva slags type vertikaldren som er installert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="innbyrdesAvstand" type="double">
            <annotation>
              <documentation>11387: Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dybdeTilBunn" type="double">
            <annotation>
              <documentation>11388: Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>11389: Angir areal av område med vertikaldren
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>11390: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11391: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11333: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11798: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierVertikaldrenType">
            <annotation>
              <documentation>11339: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligVertikaldrenType">
            <annotation>
              <documentation>11345: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>11351: Gir flate/polygon som geometrisk avgrenser område med vertikaldren</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VertikaldrenPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vertikaldren"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
