GML/930.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>930: Oppfylling på opprinnelig terreng begrenset av fyllingsskråning og vegens planum.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierFylling (Volum)Type">
      <annotation>
         <documentation>11341: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11341</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierFylling (Volum)EnumerationType nvdb:EierFylling (Volum)OtherType"/>
   </simpleType>
   <simpleType name="EierFylling (Volum)EnumerationType">
      <annotation>
         <documentation>11341: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11341</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19162</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19163</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19164</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19165</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19166</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>19167: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19167</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierFylling (Volum)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Fylling (Volum)"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Fylling (Volum)Type">
      <annotation>
         <documentation>930: Oppfylling på opprinnelig terreng begrenset av fyllingsskråning og vegens planum.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">930</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylling (Volum)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Fylling (Volum)Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeFylling (Volum)Type">
                  <annotation>
                     <documentation>11399: Angir hvilken type fylling det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11399</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materiale" type="nvdb:MaterialeFylling (Volum)Type">
                  <annotation>
                     <documentation>11529: Angir hvilket materiale selve fyllingen i hovedsak er bygd opp av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11529</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="dekkemateriale" type="string">
                  <annotation>
                     <documentation>11530: Beskrivelse av hvordan fyllingsskråningene er tildekket. Materiale, tykkelse, utførelse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11530</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dekkemateriale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="fyllingssåle"
                        type="nvdb:FyllingssåleFylling (Volum)Type">
                  <annotation>
                     <documentation>11532: Angir om det er etablert fyllingssåle i henhold til kravene gitt i HB N200 kap. 254.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11532</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fyllingssåle</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tykkelse_Maks" type="integer">
                  <annotation>
                     <documentation>11531: Angir største tykkelse av fylling innenfor vegbanen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11531</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tykkelse, maks</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="double">
                  <annotation>
                     <documentation>11400: Angir totalt areal som blir dekket av fyllingen (bunnen av fyllingen).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11400</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11401: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11401</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivreferanse" type="string">
                  <annotation>
                     <documentation>11335: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem. Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11335</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11800: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11800</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12445: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12445</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierFylling (Volum)Type">
                  <annotation>
                     <documentation>11341: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11341</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligFylling (Volum)Type">
                  <annotation>
                     <documentation>11347: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11347</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>11353: Gir flate/polygon som geometrisk avgrenser opprinnelig areal som fyllingen legger beslag på.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11353</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Fylling (Volum)PropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fylling (Volum)"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="FyllingssåleFylling (Volum)Type">
      <annotation>
         <documentation>11532: Angir om det er etablert fyllingssåle i henhold til kravene gitt i HB N200 kap. 254.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11532</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fyllingssåle</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FyllingssåleFylling (Volum)EnumerationType nvdb:FyllingssåleFylling (Volum)OtherType"/>
   </simpleType>
   <simpleType name="FyllingssåleFylling (Volum)EnumerationType">
      <annotation>
         <documentation>11532: Angir om det er etablert fyllingssåle i henhold til kravene gitt i HB N200 kap. 254.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11532</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fyllingssåle</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19595</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19596</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19597</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FyllingssåleFylling (Volum)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeFylling (Volum)Type">
      <annotation>
         <documentation>11529: Angir hvilket materiale selve fyllingen i hovedsak er bygd opp av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11529</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeFylling (Volum)EnumerationType nvdb:MaterialeFylling (Volum)OtherType"/>
   </simpleType>
   <simpleType name="MaterialeFylling (Volum)EnumerationType">
      <annotation>
         <documentation>11529: Angir hvilket materiale selve fyllingen i hovedsak er bygd opp av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11529</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="AL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19604</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen type lette masser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BM">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19608</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Blandede masser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="EP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19607</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ekspandert polystyren</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19600</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19603</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Knust betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19601</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Knust stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19598</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Leire</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19606</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lettklinker</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="M">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19609</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Morenemasser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19599</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sand</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SG">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19605</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skumglass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19602</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sprengt stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeFylling (Volum)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeFylling (Volum)Type">
      <annotation>
         <documentation>11399: Angir hvilken type fylling det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11399</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeFylling (Volum)EnumerationType nvdb:TypeFylling (Volum)OtherType"/>
   </simpleType>
   <simpleType name="TypeFylling (Volum)EnumerationType">
      <annotation>
         <documentation>11399: Angir hvilken type fylling det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11399</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="HV">
            <annotation>
               <documentation>19592: Fylling i veglinja som underlag for vegkonstruksjonen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19592</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hovedfylling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MD">
            <annotation>
               <documentation>19594: Sted for lagring av masser utenfor veglinja.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19594</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Massedeponi</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MF">
            <annotation>
               <documentation>19593: Masser plassert ut for å balansere total massebelastning i tilknytning til en veg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19593</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Motfylling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeFylling (Volum)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFylling (Volum)Type">
      <annotation>
         <documentation>11347: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11347</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligFylling (Volum)EnumerationType nvdb:VedlikeholdsansvarligFylling (Volum)OtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFylling (Volum)EnumerationType">
      <annotation>
         <documentation>11347: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11347</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20020</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19198</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19199</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19200</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19201</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19202</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19203</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFylling (Volum)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
