GML/930.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierFylling_VolumType">
    <annotation>
      <documentation>11341: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierFylling_VolumEnumerationType nvdb:EierFylling_VolumOtherType"/>
  </simpleType>
  <simpleType name="EierFylling_VolumEnumerationType">
    <annotation>
      <documentation>11341: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>19166: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>19165: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19162: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>19163: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>19164: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>19167: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierFylling_VolumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Fylling_Volum" substitutionGroup="nvdb:AbstraktFylling_Volum" type="nvdb:Fylling_VolumType">
    <annotation>
      <documentation>930: Oppfylling på opprinnelig terreng begrenset av fyllingsskråning og vegens planum.</documentation>
    </annotation>
  </element>
  <complexType name="Fylling_VolumType">
    <complexContent>
      <extension base="nvdb:AbstraktFylling_VolumType">
        <sequence>
          <element name="type" type="nvdb:TypeFylling_VolumType">
            <annotation>
              <documentation>11399: Angir hvilken type fylling det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="materiale" type="nvdb:MaterialeType">
            <annotation>
              <documentation>11529: Angir hvilket materiale selve fyllingen i hovedsak er bygd opp av.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkemateriale" type="string">
            <annotation>
              <documentation>11530: Beskrivelse av hvordan fyllingsskråningene er tildekket. Materiale, tykkelse, utførelse.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fyllingssåle" type="nvdb:FyllingssåleType">
            <annotation>
              <documentation>11532: Angir om det er etablert fyllingssåle i henhold til kravene gitt i HB N200 kap 254,</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tykkelse_Maks" type="integer">
            <annotation>
              <documentation>11531: Angir største tykkelse av fylling innenfor vegbanen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>11400: Angir totalt areal som blir dekket av fyllingen (bunnen av fyllingen).
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11401: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11335: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11800: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierFylling_VolumType">
            <annotation>
              <documentation>11341: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligFylling_VolumType">
            <annotation>
              <documentation>11347: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>11353: Gir flate/polygon som geometrisk avgrenser opprinnelig areal som fyllingen legger beslag på</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Fylling_VolumPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fylling_Volum"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="FyllingssåleType">
    <annotation>
      <documentation>11532: Angir om det er etablert fyllingssåle i henhold til kravene gitt i HB N200 kap 254,</documentation>
    </annotation>
    <union memberTypes="nvdb:FyllingssåleEnumerationType nvdb:FyllingssåleOtherType"/>
  </simpleType>
  <simpleType name="FyllingssåleEnumerationType">
    <annotation>
      <documentation>11532: Angir om det er etablert fyllingssåle i henhold til kravene gitt i HB N200 kap 254,</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>19595: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>19596: Nei</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>19597: Ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FyllingssåleOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeType">
    <annotation>
      <documentation>11529: Angir hvilket materiale selve fyllingen i hovedsak er bygd opp av.</documentation>
    </annotation>
    <union memberTypes="nvdb:MaterialeEnumerationType nvdb:MaterialeOtherType"/>
  </simpleType>
  <simpleType name="MaterialeEnumerationType">
    <annotation>
      <documentation>11529: Angir hvilket materiale selve fyllingen i hovedsak er bygd opp av.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="leire">
        <annotation>
          <documentation>19598: Leire</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sand">
        <annotation>
          <documentation>19599: Sand</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grus">
        <annotation>
          <documentation>19600: Grus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="morenemasser">
        <annotation>
          <documentation>19609: Morenemasser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="knustStein">
        <annotation>
          <documentation>19601: Knust stein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sprengtStein">
        <annotation>
          <documentation>19602: Sprengt stein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="knustBetong">
        <annotation>
          <documentation>19603: Knust betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="blandedeMasser">
        <annotation>
          <documentation>19608: Blandede masser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skumglass">
        <annotation>
          <documentation>19605: Skumglass</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lettklinker">
        <annotation>
          <documentation>19606: Lettklinker</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ekspandertPolysteren">
        <annotation>
          <documentation>19607: Ekspandert polysteren</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annenTypeLetteMasser">
        <annotation>
          <documentation>19604: Annen type lette masser</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeFylling_VolumType">
    <annotation>
      <documentation>11399: Angir hvilken type fylling det er tale om</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeFylling_VolumEnumerationType nvdb:TypeFylling_VolumOtherType"/>
  </simpleType>
  <simpleType name="TypeFylling_VolumEnumerationType">
    <annotation>
      <documentation>11399: Angir hvilken type fylling det er tale om</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="hovedfylling">
        <annotation>
          <documentation>19592: Fylling i veglinja som underlag for vegkonstruksjonen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="motfylling">
        <annotation>
          <documentation>19593: Masser plassert ut for å ballansere total massebelastning i tilknytning til en veg.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="massedeponi">
        <annotation>
          <documentation>19594: Sted for lagring av masser utenfor veglinja</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFylling_VolumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligFylling_VolumType">
    <annotation>
      <documentation>11347: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligFylling_VolumEnumerationType nvdb:VedlikeholdsansvarligFylling_VolumOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligFylling_VolumEnumerationType">
    <annotation>
      <documentation>11347: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>19202: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>19199: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>20020: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>19200: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>19198: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>19201: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>19203: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligFylling_VolumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
