GML/931.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierPlantekumType">
    <annotation>
      <documentation>11414: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierPlantekumEnumerationType nvdb:EierPlantekumOtherType"/>
  </simpleType>
  <simpleType name="EierPlantekumEnumerationType">
    <annotation>
      <documentation>11414: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>19252: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>19251: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19248: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>19249: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>19250: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>19253: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierPlantekumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialePlantekumType">
    <annotation>
      <documentation>11407: Angir hvilket materiale vegobjektet i hovedsak er laget av.</documentation>
    </annotation>
    <union memberTypes="nvdb:MaterialePlantekumEnumerationType nvdb:MaterialePlantekumOtherType"/>
  </simpleType>
  <simpleType name="MaterialePlantekumEnumerationType">
    <annotation>
      <documentation>11407: Angir hvilket materiale vegobjektet i hovedsak er laget av.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="betong">
        <annotation>
          <documentation>19238: Betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plastKompositt">
        <annotation>
          <documentation>19239: Plast/kompositt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tre">
        <annotation>
          <documentation>19240: Tre</documentation>
        </annotation>
      </enumeration>
      <enumeration value="metall">
        <annotation>
          <documentation>19241: Metall</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialePlantekumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Plantekum" substitutionGroup="nvdb:AbstraktPlantekum" type="nvdb:PlantekumType">
    <annotation>
      <documentation>931: Nedgravd kum/kasse for å plante tre/busker i. Beskytter/avgrenser rotsystemet til et tre.</documentation>
    </annotation>
  </element>
  <complexType name="PlantekumType">
    <complexContent>
      <extension base="nvdb:AbstraktPlantekumType">
        <sequence>
          <element minOccurs="0" name="materiale" type="nvdb:MaterialePlantekumType">
            <annotation>
              <documentation>11407: Angir hvilket materiale vegobjektet i hovedsak er laget av.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dybde" type="double">
            <annotation>
              <documentation>11408: Angir hvor dypt vegobjektet er.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeDiameter" type="double">
            <annotation>
              <documentation>11409: Angir hvor bredt vegobjektet er, Benyttes til å angi diameter om det er sirkulær form</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>11410: Angir hvor langt vegobjektet er.  Angis bare om rektangulær form</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11411: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierPlantekumType">
            <annotation>
              <documentation>11414: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligPlantekumType">
            <annotation>
              <documentation>11413: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>11412: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PlantekumPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Plantekum"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligPlantekumType">
    <annotation>
      <documentation>11413: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligPlantekumEnumerationType nvdb:VedlikeholdsansvarligPlantekumOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPlantekumEnumerationType">
    <annotation>
      <documentation>11413: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>19246: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>19243: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>20021: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>19244: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>19242: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>19245: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>19247: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPlantekumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
