GML/932.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>932: Enkeltkomponent i et skredvarslingsanlegg eller i et skredutløsningstiltak. Omfatter ikke skilting og signalanlegg på vegen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AdkomstSkredteknisk objektType">
      <annotation>
         <documentation>11435: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11435</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AdkomstSkredteknisk objektEnumerationType nvdb:AdkomstSkredteknisk objektOtherType"/>
   </simpleType>
   <simpleType name="AdkomstSkredteknisk objektEnumerationType">
      <annotation>
         <documentation>11435: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11435</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="hj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19831</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19455</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gravemaskin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="he">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19456</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helikopter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19457</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hjullaster</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19458</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kran</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ta">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19459</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tau</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ft">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19460</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Til fots</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AdkomstSkredteknisk objektOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierSkredteknisk objektType">
      <annotation>
         <documentation>11992: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11992</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierSkredteknisk objektEnumerationType nvdb:EierSkredteknisk objektOtherType"/>
   </simpleType>
   <simpleType name="EierSkredteknisk objektEnumerationType">
      <annotation>
         <documentation>11992: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11992</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20655</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20656</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20657</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20654</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20653</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20658</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierSkredteknisk objektOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringSkredteknisk objektType">
      <annotation>
         <documentation>11433: Beskriver hvordan utstyret er fundamentert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11433</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FundamenteringSkredteknisk objektEnumerationType nvdb:FundamenteringSkredteknisk objektOtherType"/>
   </simpleType>
   <simpleType name="FundamenteringSkredteknisk objektEnumerationType">
      <annotation>
         <documentation>11433: Beskriver hvordan utstyret er fundamentert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11433</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19454</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19453</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I fjell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19452</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I løsmasser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringSkredteknisk objektOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Skredteknisk objekt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Skredteknisk objektType">
      <annotation>
         <documentation>932: Enkeltkomponent i et skredvarslingsanlegg eller i et skredutløsningstiltak. Omfatter ikke skilting og signalanlegg på vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">932</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredteknisk objekt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Skredteknisk objektType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeSkredteknisk objektType">
                  <annotation>
                     <documentation>11432: Beskriver hvilken type utstyr det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11432</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="fundamentering" type="nvdb:FundamenteringSkredteknisk objektType">
                  <annotation>
                     <documentation>11433: Beskriver hvordan utstyret er fundamentert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11433</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde" type="double">
                  <annotation>
                     <documentation>11434: Angir utstyrets egenhøyde fra topp fundament til topp utstyr.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11434</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="adkomst" type="nvdb:AdkomstSkredteknisk objektType">
                  <annotation>
                     <documentation>11435: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11435</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="beskrivelse" type="string">
                  <annotation>
                     <documentation>11437: Beskrivelse av utstyret.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11437</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produsent" type="string">
                  <annotation>
                     <documentation>11436: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11436</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierSkredteknisk objektType">
                  <annotation>
                     <documentation>11992: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11992</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligSkredteknisk objektType">
                  <annotation>
                     <documentation>12019: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12019</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>11745: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11745</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Skredteknisk objektPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Skredteknisk objekt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeSkredteknisk objektType">
      <annotation>
         <documentation>11432: Beskriver hvilken type utstyr det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11432</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeSkredteknisk objektEnumerationType nvdb:TypeSkredteknisk objektOtherType"/>
   </simpleType>
   <simpleType name="TypeSkredteknisk objektEnumerationType">
      <annotation>
         <documentation>11432: Beskriver hvilken type utstyr det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11432</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="GM">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19450</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">	Geofonmast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="AU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19451</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet utstyr</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GD">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19443</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gassdetonator</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GDT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19444</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gassdetonator teknisk bygg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19449</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Geofon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21903</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Infralydsensor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19447</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Radar</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ST">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19442</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sprengningstårn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GSS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19448</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Styreskap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19445</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Taubanemast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TBS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19446</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Taubanesentral</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeSkredteknisk objektOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSkredteknisk objektType">
      <annotation>
         <documentation>12019: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12019</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligSkredteknisk objektEnumerationType nvdb:VedlikeholdsansvarligSkredteknisk objektOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSkredteknisk objektEnumerationType">
      <annotation>
         <documentation>12019: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12019</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20842</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20844</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20841</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20843</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20845</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20840</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20846</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSkredteknisk objektOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
