GML/933.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>933: Strekning til bruk i utarbeidelse av hovedplaner for vegoppmerking.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Vegmerkingsparsell (test)"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Vegmerkingsparsell (test)Type">
      <annotation>
         <documentation>933: Strekning til bruk i utarbeidelse av hovedplaner for vegoppmerking.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">933</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegmerkingsparsell (test)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Vegmerkingsparsell (test)Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="fraSted" type="string">
                  <annotation>
                     <documentation>11440: Angir hvilket sted parsellen starter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11440</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fra sted</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tilSted" type="string">
                  <annotation>
                     <documentation>11441: Angir hvilket sted parsellen slutter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11441</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Til sted</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="beskrivelse" type="string">
                  <annotation>
                     <documentation>11442: Gir beskrivelse av parsellen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11442</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Vegmerkingsparsell (test)PropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegmerkingsparsell (test)"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
