GML/933.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Vegmerkingsparsell_Test" substitutionGroup="nvdb:AbstraktVegmerkingsparsell_Test" type="nvdb:Vegmerkingsparsell_TestType">
    <annotation>
      <documentation>933: Strekning til bruk i utarbeidelse av hovedplaner for vegoppmerking</documentation>
    </annotation>
  </element>
  <complexType name="Vegmerkingsparsell_TestType">
    <complexContent>
      <extension base="nvdb:AbstraktVegmerkingsparsell_TestType">
        <sequence>
          <element minOccurs="0" name="fraSted" type="string">
            <annotation>
              <documentation>11440: Angir hvilket sted parsellen starter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilSted" type="string">
            <annotation>
              <documentation>11441: Angir hvilket sted parsellen slutter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>11442: Gir beskrivelse av parsellen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Vegmerkingsparsell_TestPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegmerkingsparsell_Test"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
