GML/934.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>934: Fastmerke knyttet til bruk i vegens driftsfase, f.eks. i tilknytning til tunneler.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BolttypeFastmerkeType">
      <annotation>
         <documentation>11449: Angir boltetype.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11449</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bolttype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BolttypeFastmerkeEnumerationType nvdb:BolttypeFastmerkeOtherType"/>
   </simpleType>
   <simpleType name="BolttypeFastmerkeEnumerationType">
      <annotation>
         <documentation>11449: Angir boltetype.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11449</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bolttype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19476</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bolt, firkant-type</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19474</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bolt, NGO-type</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19475</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bolt, SK-type</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B1">
            <annotation>
               <documentation>19471: Bolt - uspesifisert type.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19471</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bolt, uspesifisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19473</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kamjern</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19472</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BolttypeFastmerkeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierFastmerkeType">
      <annotation>
         <documentation>11993: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11993</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierFastmerkeEnumerationType nvdb:EierFastmerkeOtherType"/>
   </simpleType>
   <simpleType name="EierFastmerkeEnumerationType">
      <annotation>
         <documentation>11993: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11993</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20661</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20662</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20663</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20660</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20659</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>20664: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20664</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierFastmerkeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Fastmerke"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:FastmerkeType">
      <annotation>
         <documentation>934: Fastmerke knyttet til bruk i vegens driftsfase, f.eks. i tilknytning til tunneler.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">934</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fastmerke</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FastmerkeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bolttype" type="nvdb:BolttypeFastmerkeType">
                  <annotation>
                     <documentation>11449: Angir boltetype.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11449</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bolttype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="fastmerkedato" type="date">
                  <annotation>
                     <documentation>11450: Informasjon om når punktet er etablert og koordinatberegningen er fullført.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11450</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fastmerkedato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="fastmerkenavn" type="string">
                  <annotation>
                     <documentation>11451: Navn på fastmerket.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11451</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fastmerkenavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivreferanse" type="string">
                  <annotation>
                     <documentation>11452: Gir referanse til relevant sak i vegeiers arkivsystem.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11452</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11453: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11453</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierFastmerkeType">
                  <annotation>
                     <documentation>11993: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11993</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligFastmerkeType">
                  <annotation>
                     <documentation>12020: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12020</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>11454: Gir fastmerkets koordinater.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11454</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FastmerkePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fastmerke"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VedlikeholdsansvarligFastmerkeType">
      <annotation>
         <documentation>12020: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12020</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligFastmerkeEnumerationType nvdb:VedlikeholdsansvarligFastmerkeOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFastmerkeEnumerationType">
      <annotation>
         <documentation>12020: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12020</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20849</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20851</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20848</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20850</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20852</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20847</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20853</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligFastmerkeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
