GML/936.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DynamikkType">
    <annotation>
      <documentation>11492: Angir om det er mulig å gi forskjellig informasjon til trafikanter basert på hvor de er plassert i forhold til evt. Hendelsessted</documentation>
    </annotation>
    <union memberTypes="nvdb:DynamikkEnumerationType nvdb:DynamikkOtherType"/>
  </simpleType>
  <simpleType name="DynamikkEnumerationType">
    <annotation>
      <documentation>11492: Angir om det er mulig å gi forskjellig informasjon til trafikanter basert på hvor de er plassert i forhold til evt. Hendelsessted</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>19529: Det kan gis forskjellig beskjed i høyttalerne</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>19530: Det gis samme beskjed i alle høyttalere</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DynamikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierHøyttalersystemType">
    <annotation>
      <documentation>11495: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierHøyttalersystemEnumerationType nvdb:EierHøyttalersystemOtherType"/>
  </simpleType>
  <simpleType name="EierHøyttalersystemEnumerationType">
    <annotation>
      <documentation>11495: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>19527: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>19526: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19523: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>19524: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>19525: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>19528: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierHøyttalersystemOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Høyttalersystem" substitutionGroup="nvdb:AbstraktHøyttalersystem" type="nvdb:HøyttalersystemType">
    <annotation>
      <documentation>936: Anlegg for varsling til trafikantene i tunnel.</documentation>
    </annotation>
  </element>
  <complexType name="HøyttalersystemType">
    <complexContent>
      <extension base="nvdb:AbstraktHøyttalersystemType">
        <sequence>
          <element minOccurs="0" name="dynamikk" type="nvdb:DynamikkType">
            <annotation>
              <documentation>11492: Angir om det er mulig å gi forskjellig informasjon til trafikanter basert på hvor de er plassert i forhold til evt. Hendelsessted</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>11493: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>11496: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="SCADA_Merking" type="string">
            <annotation>
              <documentation>11743: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11653: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivreferanse" type="string">
            <annotation>
              <documentation>11704: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11491: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierHøyttalersystemType">
            <annotation>
              <documentation>11495: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>11494: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnel" type="nvdb:AbstraktTunnelPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHøyttaler" type="nvdb:AbstraktHøyttalerPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HøyttalersystemPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Høyttalersystem"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
