GML/938.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.25">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BakgrunnForGravingType">
    <annotation>
      <documentation>11498: Angir hvilken type graving/tillatelse det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11498</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11498</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bakgrunn for graving</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BakgrunnForGravingEnumerationType nvdb:BakgrunnForGravingOtherType"/>
  </simpleType>
  <simpleType name="BakgrunnForGravingEnumerationType">
    <annotation>
      <documentation>11498: Angir hvilken type graving/tillatelse det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11498</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11498</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bakgrunn for graving</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Nyetablering">
        <annotation>
          <documentation>19532: Graving i tilknytning til etablering av ny infrastruktur el.l.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19532</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nyetablering</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Planlagt vedlikehold">
        <annotation>
          <documentation>19533: Graving i tilknytning til planlagt vedlikehold på eksisterende infrastruktur el.l.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19533</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Planlagt vedlikehold</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Akutt vedlikehold">
        <annotation>
          <documentation>19534: Graving i tilknytning til akutt vedlikehold på eksisterende infrastruktur el.l. Kan f.eks være lekkasje, kabelbrudd etc.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19534</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Akutt vedlikehold</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BakgrunnForGravingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FramføringType">
    <annotation>
      <documentation>11526: Angir hvilken type framføring som primært skal benyttes. Dersom det er ulike typer framføring angis den som benyttes ved kryssing av veg. Om det ikke er kryssing av veg benyttes den som er mest framtredende. Angi beskrivelse i tilleggsinformasjon</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11526</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11526</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Framføring</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FramføringEnumerationType nvdb:FramføringOtherType"/>
  </simpleType>
  <simpleType name="FramføringEnumerationType">
    <annotation>
      <documentation>11526: Angir hvilken type framføring som primært skal benyttes. Dersom det er ulike typer framføring angis den som benyttes ved kryssing av veg. Om det ikke er kryssing av veg benyttes den som er mest framtredende. Angi beskrivelse i tilleggsinformasjon</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11526</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11526</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Framføring</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Boring">
        <annotation>
          <documentation>19577: Boring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19577</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Boring</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Graving">
        <annotation>
          <documentation>19578: Graving</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19578</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Graving</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Microtrenching">
        <annotation>
          <documentation>19579: Microtrenching</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19579</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Microtrenching</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Luftspenn">
        <annotation>
          <documentation>19580: Luftspenn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19580</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Luftspenn</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen framføring">
        <annotation>
          <documentation>19581: Beskrivelse av framføring skal angis under Tilleggsinformasjon (ET 11507)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19581</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Annen framføring</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FramføringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GraveformålType">
    <annotation>
      <documentation>11505: Angir formål for graving</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11505</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11505</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Graveformål</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GraveformålEnumerationType nvdb:GraveformålOtherType"/>
  </simpleType>
  <simpleType name="GraveformålEnumerationType">
    <annotation>
      <documentation>11505: Angir formål for graving</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11505</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11505</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Graveformål</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Vann, avløp, overvann">
        <annotation>
          <documentation>19538: Ledninger, kuimmer etc i tilknytning til vann, avløp og/eller overvannssystem</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19538</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vann, avløp, overvann</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Drenering">
        <annotation>
          <documentation>19539: Ledninger, kuimmer etc i tilknytning til drenering</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19539</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Drenering</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ecom">
        <annotation>
          <documentation>19540: Kabler, trekkerør, trekkekummer, etc relatert til ecom, dvs signal, fiber, bredånd, etc</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19540</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ecom</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Strømforsyning">
        <annotation>
          <documentation>19541: Kabler, trekkerør, trekkekummer, etc relatert til strømforsyning.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19541</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Strømforsyning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fjernvarme/kjøling">
        <annotation>
          <documentation>19542: Rørledninger, kummer etc relatert til fjernvarme/kjøleanlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19542</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fjernvarme/kjøling</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Olje, gass">
        <annotation>
          <documentation>19543: Rørledninger, kummer, etc relart til olje-/gassanlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19543</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Olje, gass</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Avfall">
        <annotation>
          <documentation>19544: Avfallssug, etc</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19544</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avfall</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegvedlikehold">
        <annotation>
          <documentation>19545: Graving i forbindelse med vegvedlikehold</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19545</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegvedlikehold</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet formål">
        <annotation>
          <documentation>19546: Annet formål</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19546</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Annet formål</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GraveformålOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GravestedType">
    <annotation>
      <documentation>11504: Angir hvor det er gitt tillatelse til graving relatert til vegen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11504</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11504</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gravested</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GravestedEnumerationType nvdb:GravestedOtherType"/>
  </simpleType>
  <simpleType name="GravestedEnumerationType">
    <annotation>
      <documentation>11504: Angir hvor det er gitt tillatelse til graving relatert til vegen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11504</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11504</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gravested</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Kryssing av veg">
        <annotation>
          <documentation>19535: Graving på tvers av veg, f.eks i form av kryssing med kabel/rørledning el.l.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19535</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kryssing av veg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I/langs veg">
        <annotation>
          <documentation>19536: Det graves i eller langs veg helt eller delvis innenfor vegkant  f.eks i form av kabelgrøft langs veg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19536</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">I/langs veg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Utenfor vegkant">
        <annotation>
          <documentation>19537: All graving skjer utenfor vegkant</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19537</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Utenfor vegkant</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GravestedOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Gravetillatelse" substitutionGroup="nvdb:AbstraktGravetillatelse" type="nvdb:GravetillatelseType">
    <annotation>
      <documentation>938: Sted hvor det er gitt tillatelse til å grave i vegen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">938</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">938</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gravetillatelse</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="GravetillatelseType">
    <complexContent>
      <extension base="nvdb:AbstraktGravetillatelseType">
        <sequence>
          <element minOccurs="0" name="bakgrunnForGraving" type="nvdb:BakgrunnForGravingType">
            <annotation>
              <documentation>11498: Angir hvilken type graving/tillatelse det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11498</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bakgrunn for graving</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="graveformål" type="nvdb:GraveformålType">
            <annotation>
              <documentation>11505: Angir formål for graving</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11505</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Graveformål</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gravested" type="nvdb:GravestedType">
            <annotation>
              <documentation>11504: Angir hvor det er gitt tillatelse til graving relatert til vegen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11504</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gravested</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="framføring" type="nvdb:FramføringType">
            <annotation>
              <documentation>11526: Angir hvilken type framføring som primært skal benyttes. Dersom det er ulike typer framføring angis den som benyttes ved kryssing av veg. Om det ikke er kryssing av veg benyttes den som er mest framtredende. Angi beskrivelse i tilleggsinformasjon</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11526</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Framføring</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dato_SøknadMottatt" type="date">
            <annotation>
              <documentation>11501: Angir dato for når søknad ble mottatt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11501</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dato, søknad mottatt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dato_PlanlagtOppstart" type="date">
            <annotation>
              <documentation>11502: Angir hvilken dato graving har planlagt start/startet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11502</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dato, planlagt oppstart</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dato_PlanlagtFerdigstillelse" type="date">
            <annotation>
              <documentation>11503: Angir hvilken dato graving er planlagt/ble ferdigsstilt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11503</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dato, planlagt ferdigstillelse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gravedybde" type="integer">
            <annotation>
              <documentation>11506: Angir planlagt gravedybde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11506</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gravedybde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ledningseier" type="string">
            <annotation>
              <documentation>11774: Navn på firma/etat som er ansvarlig for graving og formell søker om gravetillatelsen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11774</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ledningseier</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="entreprenør" type="string">
            <annotation>
              <documentation>11775: Navn på firma/entreprenør som skal utføre gravearbeidet på vegne av ledningseier</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11775</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Entreprenør</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11507: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11507</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer" type="string">
            <annotation>
              <documentation>11499: Gir referanse til relevant sak i vegeiers arkivsystem</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11499</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Arkivnummer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>11517: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11517</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, linje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="innmålingsdataLevert" type="nvdb:InnmålingsdataLevertType">
            <annotation>
              <documentation>11527: Angir om det er levert innmålingsdata som dokumenterer geografisk plassering av tiltak.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11527</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Innmålingsdata levert</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dato_EgenkontrollskjemaMottatt" type="date">
            <annotation>
              <documentation>11525: Dato når egenkontrollskjema ble levert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11525</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dato, egenkontrollskjema mottatt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dato_Garantiutløp" type="date">
            <annotation>
              <documentation>11497: Angir dato garantitid utløper</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11497</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dato, garantiutløp</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GravetillatelsePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Gravetillatelse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="InnmålingsdataLevertType">
    <annotation>
      <documentation>11527: Angir om det er levert innmålingsdata som dokumenterer geografisk plassering av tiltak.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11527</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11527</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Innmålingsdata levert</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:InnmålingsdataLevertEnumerationType nvdb:InnmålingsdataLevertOtherType"/>
  </simpleType>
  <simpleType name="InnmålingsdataLevertEnumerationType">
    <annotation>
      <documentation>11527: Angir om det er levert innmålingsdata som dokumenterer geografisk plassering av tiltak.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11527</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11527</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Innmålingsdata levert</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>19582: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19582</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>19583: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19583</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InnmålingsdataLevertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
