GML/938.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>938: Sted hvor det er gitt tillatelse til å grave i vegen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BakgrunnForGravingGravetillatelseType">
      <annotation>
         <documentation>11498: Angir hvilken type graving/tillatelse det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11498</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bakgrunn for graving</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BakgrunnForGravingGravetillatelseEnumerationType nvdb:BakgrunnForGravingGravetillatelseOtherType"/>
   </simpleType>
   <simpleType name="BakgrunnForGravingGravetillatelseEnumerationType">
      <annotation>
         <documentation>11498: Angir hvilken type graving/tillatelse det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11498</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bakgrunn for graving</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ak">
            <annotation>
               <documentation>19534: Graving i tilknytning til akutt vedlikehold på eksisterende infrastruktur e.l.. Kan f.eks. være lekkasje, kabelbrudd etc.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19534</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Akutt vedlikehold</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ny">
            <annotation>
               <documentation>19532: Graving i tilknytning til etablering av ny infrastruktur e.l..</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19532</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nyetablering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Pl">
            <annotation>
               <documentation>19533: Graving i tilknytning til planlagt vedlikehold på eksisterende infrastruktur e.l..</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19533</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Planlagt vedlikehold</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BakgrunnForGravingGravetillatelseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FramføringGravetillatelseType">
      <annotation>
         <documentation>11526: Angir hvilken type framføring som primært skal benyttes. Dersom det er ulike typer framføring angis den som benyttes ved kryssing av veg. Om det ikke er kryssing av veg benyttes den som er mest framtredende. Angi beskrivelse i tilleggsinformasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11526</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Framføring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FramføringGravetillatelseEnumerationType nvdb:FramføringGravetillatelseOtherType"/>
   </simpleType>
   <simpleType name="FramføringGravetillatelseEnumerationType">
      <annotation>
         <documentation>11526: Angir hvilken type framføring som primært skal benyttes. Dersom det er ulike typer framføring angis den som benyttes ved kryssing av veg. Om det ikke er kryssing av veg benyttes den som er mest framtredende. Angi beskrivelse i tilleggsinformasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11526</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Framføring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>19581: Beskrivelse av framføring skal angis under Tilleggsinformasjon (ET 11507).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19581</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen framføring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19577</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Boring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19578</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Graving</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19580</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Luftspenn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="M">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19579</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Microtrenching</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FramføringGravetillatelseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="GraveformålGravetillatelseType">
      <annotation>
         <documentation>11505: Angir formål for graving.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11505</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Graveformål</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GraveformålGravetillatelseEnumerationType nvdb:GraveformålGravetillatelseOtherType"/>
   </simpleType>
   <simpleType name="GraveformålGravetillatelseEnumerationType">
      <annotation>
         <documentation>11505: Angir formål for graving.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11505</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Graveformål</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19546</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet formål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Avfall">
            <annotation>
               <documentation>19544: Avfallssug, etc.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19544</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Avfall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="D">
            <annotation>
               <documentation>19539: Ledninger, kummer etc. i tilknytning til drenering.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19539</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Drenering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="E">
            <annotation>
               <documentation>19540: Kabler, trekkerør, trekkekummer, etc. relatert til ecom, dvs. signal, fiber, bredbånd, etc.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19540</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ecom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <documentation>19542: Rørledninger, kummer etc. relatert til fjernvarme/kjøleanlegg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19542</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjernvarme/kjøling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <documentation>19543: Rørledninger, kummer, etc. relatert til olje-/gassanlegg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19543</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Olje, gass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <documentation>19541: Kabler, trekkerør, trekkekummer, etc. relatert til strømforsyning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19541</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Strømforsyning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VA">
            <annotation>
               <documentation>19538: Ledninger, kummer etc. i tilknytning til vann, avløp og/eller overvannssystem.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19538</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, avløp, overvann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <documentation>19545: Graving i forbindelse med vegvedlikehold.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19545</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegvedlikehold</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GraveformålGravetillatelseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="GravestedGravetillatelseType">
      <annotation>
         <documentation>11504: Angir hvor det er gitt tillatelse til graving relatert til vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11504</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gravested</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GravestedGravetillatelseEnumerationType nvdb:GravestedGravetillatelseOtherType"/>
   </simpleType>
   <simpleType name="GravestedGravetillatelseEnumerationType">
      <annotation>
         <documentation>11504: Angir hvor det er gitt tillatelse til graving relatert til vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11504</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gravested</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="IL">
            <annotation>
               <documentation>19536: Det graves i eller langs veg helt eller delvis innenfor vegkant f.eks. i form av kabelgrøft langs veg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19536</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I/langs veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <documentation>19535: Graving på tvers av veg, f.eks. i form av kryssing med kabel/rørledning e.l..</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19535</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kryssing av veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>19537: All graving skjer utenfor vegkant.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19537</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utenfor vegkant</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GravestedGravetillatelseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Gravetillatelse"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:GravetillatelseType">
      <annotation>
         <documentation>938: Sted hvor det er gitt tillatelse til å grave i vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">938</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gravetillatelse</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="GravetillatelseType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bakgrunnForGraving">
                  <annotation>
                     <documentation>11498: Angir hvilken type graving/tillatelse det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11498</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bakgrunn for graving</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="graveformål" type="nvdb:GraveformålGravetillatelseType">
                  <annotation>
                     <documentation>11505: Angir formål for graving.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11505</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Graveformål</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="gravested" type="nvdb:GravestedGravetillatelseType">
                  <annotation>
                     <documentation>11504: Angir hvor det er gitt tillatelse til graving relatert til vegen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11504</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gravested</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="framføring" type="nvdb:FramføringGravetillatelseType">
                  <annotation>
                     <documentation>11526: Angir hvilken type framføring som primært skal benyttes. Dersom det er ulike typer framføring angis den som benyttes ved kryssing av veg. Om det ikke er kryssing av veg benyttes den som er mest framtredende. Angi beskrivelse i tilleggsinformasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11526</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Framføring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="dato_SøknadMottatt" type="date">
                  <annotation>
                     <documentation>11501: Angir dato for når søknad ble mottatt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11501</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato, søknad mottatt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="dato_PlanlagtOppstart" type="date">
                  <annotation>
                     <documentation>11502: Angir hvilken dato graving har planlagt start/startet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11502</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato, planlagt oppstart</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="dato_PlanlagtFerdigstillelse" type="date">
                  <annotation>
                     <documentation>11503: Angir hvilken dato graving er planlagt/ble ferdigstilt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11503</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato, planlagt ferdigstillelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="gravedybde" type="double">
                  <annotation>
                     <documentation>11506: Angir planlagt gravedybde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11506</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gravedybde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="ledningseier" type="string">
                  <annotation>
                     <documentation>11774: Navn på firma/etat som er ansvarlig for graving og formell søker om gravetillatelsen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11774</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Ledningseier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="entreprenør" type="string">
                  <annotation>
                     <documentation>11775: Navn på firma/entreprenør som skal utføre gravearbeidet på vegne av ledningseier.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11775</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Entreprenør</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11507: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11507</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="arkivnummer" type="string">
                  <annotation>
                     <documentation>11499: Gir referanse til relevant sak i vegeiers arkivsystem.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11499</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>12595: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12595</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>11517: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11517</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>12703: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12703</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="innmålingsdataLevert">
                  <annotation>
                     <documentation>11527: Angir om det er levert innmålingsdata som dokumenterer geografisk plassering av tiltak.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11527</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Innmålingsdata levert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dato_EgenkontrollskjemaMottatt" type="date">
                  <annotation>
                     <documentation>11525: Dato når egenkontrollskjema ble levert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11525</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato, egenkontrollskjema mottatt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dato_Garantiutløp" type="date">
                  <annotation>
                     <documentation>11497: Angir dato garantitid utløper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11497</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato, garantiutløp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="GravetillatelsePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Gravetillatelse"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="InnmålingsdataLevertGravetillatelseType">
      <annotation>
         <documentation>11527: Angir om det er levert innmålingsdata som dokumenterer geografisk plassering av tiltak.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11527</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innmålingsdata levert</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:InnmålingsdataLevertGravetillatelseEnumerationType nvdb:InnmålingsdataLevertGravetillatelseOtherType"/>
   </simpleType>
   <simpleType name="InnmålingsdataLevertGravetillatelseEnumerationType">
      <annotation>
         <documentation>11527: Angir om det er levert innmålingsdata som dokumenterer geografisk plassering av tiltak.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11527</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innmålingsdata levert</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19582</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19583</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IA">
            <annotation>
               <documentation>22532: Vegeier har ikke behov for innmålte data for det aktuelle tiltaket.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22532</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke aktuelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="InnmålingsdataLevertGravetillatelseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
