GML/943.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="LavutslippssoneGeoSUM_Test" substitutionGroup="nvdb:AbstraktLavutslippssoneGeoSUM_Test" type="nvdb:LavutslippssoneGeoSUM_TestType">
    <annotation>
      <documentation>943: Område der det i perioder kan knyttes restriksjoner til utslipp. Foreløpig til testformål i forbindelse med GeoSUM.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">943</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">943</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lavutslippssone GeoSUM (test)</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LavutslippssoneGeoSUM_TestType">
    <complexContent>
      <extension base="nvdb:AbstraktLavutslippssoneGeoSUM_TestType">
        <sequence>
          <element minOccurs="0" name="område_ID" type="string">
            <annotation>
              <documentation>11746: Benyttes som nøkkel inn mot eksternt system.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11746</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Område_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>11747: Navn på sone.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11747</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>11748: Beskrivelse av sone.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11748</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="versjon" type="string">
            <annotation>
              <documentation>11749: Angir hvilken versjon av sone det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11749</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Versjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsregel" type="string">
            <annotation>
              <documentation>11760: Regler for når restriksjon gjelder.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11760</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tidsregel</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="km_AvgiftEL" type="double">
            <annotation>
              <documentation>11756: Kilometeravgift for elektriske kjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11756</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Km-avgift EL</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="km_AvgiftForbrenning" type="double">
            <annotation>
              <documentation>11757: Kilometeravgift for kjøretøy med forbrenningsmotor.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11757</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Km-avgift forbrenning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="innkjøringsavgiftEL" type="double">
            <annotation>
              <documentation>11758: Innkjøringsavgift for elektriske kjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11758</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Innkjøringsavgift EL</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="innkjøringsavgiftForbrenning" type="double">
            <annotation>
              <documentation>11759: Innkjøringsavgift for kjøretøy med forbrenningsmotor.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11759</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Innkjøringsavgift forbrenning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>11750: Flate som geografisk avgrenser sone.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11750</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri_flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LavutslippssoneGeoSUM_TestPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:LavutslippssoneGeoSUM_Test"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
