GML/943.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>943: Område der det i perioder kan knyttes restriksjoner til utslipp. Foreløpig til testformål i forbindelse med GeoSUM.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Lavutslippssone GeoSUM (test)"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Lavutslippssone GeoSUM (test)Type">
      <annotation>
         <documentation>943: Område der det i perioder kan knyttes restriksjoner til utslipp. Foreløpig til testformål i forbindelse med GeoSUM.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">943</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lavutslippssone GeoSUM (test)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Lavutslippssone GeoSUM (test)Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="område_ID" type="string">
                  <annotation>
                     <documentation>11746: Benyttes som nøkkel inn mot eksternt system.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11746</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Område_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>11747: Navn på sone.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11747</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="beskrivelse" type="string">
                  <annotation>
                     <documentation>11748: Beskrivelse av sone.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11748</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="versjon" type="string">
                  <annotation>
                     <documentation>11749: Angir hvilken versjon av sone det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11749</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Versjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tidsregel" type="string">
                  <annotation>
                     <documentation>11760: Regler for når restriksjon gjelder.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11760</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tidsregel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="km_AvgiftEL" type="double">
                  <annotation>
                     <documentation>11756: Kilometeravgift for elektriske kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11756</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Km-avgift EL</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="km_AvgiftForbrenning" type="double">
                  <annotation>
                     <documentation>11757: Kilometeravgift for kjøretøy med forbrenningsmotor.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11757</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Km-avgift forbrenning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="innkjøringsavgiftEL" type="double">
                  <annotation>
                     <documentation>11758: Innkjøringsavgift for elektriske kjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11758</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Innkjøringsavgift EL</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="innkjøringsavgiftForbrenning" type="double">
                  <annotation>
                     <documentation>11759: Innkjøringsavgift for kjøretøy med forbrenningsmotor.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11759</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Innkjøringsavgift forbrenning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>11750: Flate som geografisk avgrenser sone.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11750</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Lavutslippssone GeoSUM (test)PropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Lavutslippssone GeoSUM (test)"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
