GML/944.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>944: Område der det i perioder kan knyttes restriksjoner til hastighet. Foreløpig til testformål i forbindelse med GeoSUM.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Hastighetssone GeoSUM (test)"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Hastighetssone GeoSUM (test)Type">
      <annotation>
         <documentation>944: Område der det i perioder kan knyttes restriksjoner til hastighet. Foreløpig til testformål i forbindelse med GeoSUM.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">944</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hastighetssone GeoSUM (test)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Hastighetssone GeoSUM (test)Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="område_ID" type="string">
                  <annotation>
                     <documentation>11751: Benyttes som nøkkel inn mot eksternt system.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11751</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Område_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>11752: Navn på sone.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11752</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="beskrivelse" type="string">
                  <annotation>
                     <documentation>11753: Beskrivelse av sone.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11753</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="versjon" type="string">
                  <annotation>
                     <documentation>11754: Angir hvilken versjon av sone det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11754</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Versjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tidsregel" type="string">
                  <annotation>
                     <documentation>11761: Regler for når restriksjon gjelder.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11761</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tidsregel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="fartsgrense" type="double">
                  <annotation>
                     <documentation>11762: Fartsgrense som gjelder i angitt periode.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11762</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fartsgrense</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="skiltkode" type="string">
                  <annotation>
                     <documentation>11763: 5 sifret kode hentet fra ISO TS 14823, GDD-code. Eksempel Skolebarn er 11239)</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11763</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skiltkode</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>11755: Flate som geografisk avgrenser sone.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11755</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Hastighetssone GeoSUM (test)PropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Hastighetssone GeoSUM (test)"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
