GML/945.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Fylke" substitutionGroup="nvdb:AbstraktFylke" type="nvdb:FylkeType">
    <annotation>
      <documentation>945: Gjeldende fylkesinndeling</documentation>
    </annotation>
  </element>
  <complexType name="FylkeType">
    <complexContent>
      <extension base="nvdb:AbstraktFylkeType">
        <sequence>
          <element minOccurs="0" name="fylkesnummer" type="integer">
            <annotation>
              <documentation>11764: Angir fylkesnummer</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fylkesnavn" type="string">
            <annotation>
              <documentation>11765: Angir fylkesnavn</documentation>
            </annotation>
          </element>
          <element name="koordinatsystem" type="nvdb:KoordinatsystemType">
            <annotation>
              <documentation>11768: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>11767: Gir punkt som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>11766: Gir flate/polygon som geometrisk avgrenser området</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FylkePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fylke"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KoordinatsystemType">
    <annotation>
      <documentation>11768: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
    </annotation>
    <union memberTypes="nvdb:KoordinatsystemEnumerationType nvdb:KoordinatsystemOtherType"/>
  </simpleType>
  <simpleType name="KoordinatsystemEnumerationType">
    <annotation>
      <documentation>11768: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="NGO_AkseI">
        <annotation>
          <documentation>19685: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseII">
        <annotation>
          <documentation>19686: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseIII">
        <annotation>
          <documentation>19687: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseIV">
        <annotation>
          <documentation>19688: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseV">
        <annotation>
          <documentation>19689: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVI">
        <annotation>
          <documentation>19690: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVII">
        <annotation>
          <documentation>19691: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVIII">
        <annotation>
          <documentation>19692: datum NGO1948, projeksjon Gauss-Krüger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone31_EUREF89">
        <annotation>
          <documentation>19694: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone32_EUREF89">
        <annotation>
          <documentation>19696: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone33_EUREF89">
        <annotation>
          <documentation>19698: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone34_EUREF89">
        <annotation>
          <documentation>19700: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone35_EUREF89">
        <annotation>
          <documentation>19702: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone36_EUREF89">
        <annotation>
          <documentation>19704: datum EUREF89/WGS84</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone31_ED50">
        <annotation>
          <documentation>19693: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone32_ED50">
        <annotation>
          <documentation>19695: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone33_ED50">
        <annotation>
          <documentation>19697: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone34_ED50">
        <annotation>
          <documentation>19699: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone35_ED50">
        <annotation>
          <documentation>19701: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone36_ED50">
        <annotation>
          <documentation>19703: datum ED50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_64A_Møre">
        <annotation>
          <documentation>19683: datum NGO1948</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NGO_64B_Møre">
        <annotation>
          <documentation>19684: datum NGO1948</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KoordinatsystemOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
