GML/945.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Fylke" substitutionGroup="nvdb:AbstraktFylke" type="nvdb:FylkeType">
    <annotation>
      <documentation>945: Gjeldende fylkesinndeling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">945</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">945</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fylke</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FylkeType">
    <complexContent>
      <extension base="nvdb:AbstraktFylkeType">
        <sequence>
          <element minOccurs="0" name="fylkesnummer" type="integer">
            <annotation>
              <documentation>11764: Angir fylkesnummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11764</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fylkesnummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fylkesnavn" type="string">
            <annotation>
              <documentation>11765: Angir fylkesnavn.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11765</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fylkesnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="koordinatsystem" type="nvdb:KoordinatsystemType">
            <annotation>
              <documentation>11768: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11768</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>11767: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11767</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geometri_Flate" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>11766: Gir flate/polygon som geometrisk avgrenser området. (mulighet for multiflate).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11766</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommune" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommune</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FylkePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fylke"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KoordinatsystemType">
    <annotation>
      <documentation>11768: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11768</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11768</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KoordinatsystemEnumerationType nvdb:KoordinatsystemOtherType"/>
  </simpleType>
  <simpleType name="KoordinatsystemEnumerationType">
    <annotation>
      <documentation>11768: Angir hvilket koordinatsystem som primært benyttes for gitt område.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11768</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11768</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Koordinatsystem</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="NGO-akse I">
        <annotation>
          <documentation>19685: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19685</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse I</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse II">
        <annotation>
          <documentation>19686: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19686</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse II</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse III">
        <annotation>
          <documentation>19687: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19687</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse III</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse IV">
        <annotation>
          <documentation>19688: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19688</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse IV</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse V">
        <annotation>
          <documentation>19689: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19689</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse V</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse VI">
        <annotation>
          <documentation>19690: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19690</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse VI</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse VII">
        <annotation>
          <documentation>19691: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19691</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse VII</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-akse VIII">
        <annotation>
          <documentation>19692: datum NGO1948, projeksjon Gauss-Krüger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19692</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-akse VIII</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 31 (EUREF89)">
        <annotation>
          <documentation>19694: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19694</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 31 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 32 (EUREF89)">
        <annotation>
          <documentation>19696: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19696</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 32 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 33 (EUREF89)">
        <annotation>
          <documentation>19698: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19698</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 33 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 34 (EUREF89)">
        <annotation>
          <documentation>19700: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19700</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 34 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 35 (EUREF89)">
        <annotation>
          <documentation>19702: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19702</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 35 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 36 (EUREF89)">
        <annotation>
          <documentation>19704: datum EUREF89/WGS84.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19704</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 36 (EUREF89)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 31 (ED50)">
        <annotation>
          <documentation>19693: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19693</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 31 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 32 (ED50)">
        <annotation>
          <documentation>19695: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19695</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 32 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 33 (ED50)">
        <annotation>
          <documentation>19697: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19697</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 33 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 34 (ED50)">
        <annotation>
          <documentation>19699: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19699</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 34 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 35 (ED50)">
        <annotation>
          <documentation>19701: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19701</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 35 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTM sone 36 (ED50)">
        <annotation>
          <documentation>19703: datum ED50.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19703</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UTM sone 36 (ED50)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-64A, Møre">
        <annotation>
          <documentation>19683: datum NGO1948.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19683</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-64A, Møre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO-64B, Møre">
        <annotation>
          <documentation>19684: datum NGO1948.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19684</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NGO-64B, Møre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KoordinatsystemOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
