GML/947.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="TilstandEttergivendeRekkverksende_BolterType">
    <annotation>
      <documentation>11788: Angir tilstand på bolter i ettergivende rekkverksende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11788</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11788</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, bolter</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandEttergivendeRekkverksende_BolterEnumerationType nvdb:TilstandEttergivendeRekkverksende_BolterOtherType"/>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_BolterEnumerationType">
    <annotation>
      <documentation>11788: Angir tilstand på bolter i ettergivende rekkverksende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11788</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11788</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, bolter</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19768: Boltene i rekkverksende er ok.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19768</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OK</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ok, utbedret bolter på stedet">
        <annotation>
          <documentation>19756: Løse bolter er skrudd til, manglende bolter er erstattet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19756</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ok, utbedret bolter på stedet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Manglende/løse bolter">
        <annotation>
          <documentation>19757: Manglende bolter eller løse bolter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19757</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Manglende/løse bolter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_BolterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_BruddpinnerType">
    <annotation>
      <documentation>11790: Angir tilstand for bruddpinner for ettergivende rekkverksende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11790</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11790</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, Bruddpinner</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandEttergivendeRekkverksende_BruddpinnerEnumerationType nvdb:TilstandEttergivendeRekkverksende_BruddpinnerOtherType"/>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_BruddpinnerEnumerationType">
    <annotation>
      <documentation>11790: Angir tilstand for bruddpinner for ettergivende rekkverksende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11790</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11790</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, Bruddpinner</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19766: Bruddpinner er ok.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19766</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OK</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mangler bruddpinner">
        <annotation>
          <documentation>19761: Det mangler en eller flere bruddpinner.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19761</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mangler bruddpinner</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_BruddpinnerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_FundamentType">
    <annotation>
      <documentation>11792: Angir tilstand med hensyn på funksjon og fundament for ettergivende rekkverksende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11792</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11792</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, fundament</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandEttergivendeRekkverksende_FundamentEnumerationType nvdb:TilstandEttergivendeRekkverksende_FundamentOtherType"/>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_FundamentEnumerationType">
    <annotation>
      <documentation>11792: Angir tilstand med hensyn på funksjon og fundament for ettergivende rekkverksende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11792</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11792</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, fundament</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19764: Løsmasser bak stolpe som sikrer funksjon ved påkjørsel (frigjøring av stolpe).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19764</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OK</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Manglende løsmasser bak stolper">
        <annotation>
          <documentation>19765: Manglende løsmasser bak stolpe som sikrer funksjon ved påkjørsel (frigjøring av stolpe).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19765</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Manglende løsmasser bak stolper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_FundamentOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_RenholdType">
    <annotation>
      <documentation>11791: Angir tilstand med hensyn på funksjon og renhold for ettergivende rekkverksende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11791</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11791</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, renhold</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandEttergivendeRekkverksende_RenholdEnumerationType nvdb:TilstandEttergivendeRekkverksende_RenholdOtherType"/>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_RenholdEnumerationType">
    <annotation>
      <documentation>11791: Angir tilstand med hensyn på funksjon og renhold for ettergivende rekkverksende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11791</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11791</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, renhold</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19762: Ikke partikler/gjenstander/masser under/i rekkverksende.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19762</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OK</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Partikler/gjenstander/masser under/i rekkverksende">
        <annotation>
          <documentation>19763: Det finnes partikler/gjenstander/masser under/i rekkverksende.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19763</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Partikler/gjenstander/masser under/i rekkverksende</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_RenholdOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_StolperType">
    <annotation>
      <documentation>11789: Angir tilstand på stolper i ettergivende rekkverksende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11789</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11789</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, stolper</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandEttergivendeRekkverksende_StolperEnumerationType nvdb:TilstandEttergivendeRekkverksende_StolperOtherType"/>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_StolperEnumerationType">
    <annotation>
      <documentation>11789: Angir tilstand på stolper i ettergivende rekkverksende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11789</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11789</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, stolper</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19767: Stolpene i rekkverksende er ok.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19767</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OK</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mekanisk skade">
        <annotation>
          <documentation>19758: Det forekommer mekanisk skade på en eller flere stolper.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19758</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mekanisk skade</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skjevhet">
        <annotation>
          <documentation>19759: En eller flere stolper er skjeve.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19759</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjevhet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fundament">
        <annotation>
          <documentation>19760: Fundamentering av stolper er ikke tilfredsstillende.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19760</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundament</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_StolperOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_ArbeidsbreddeSikkerhetType">
    <annotation>
      <documentation>11783: Angir om det er trafikkfarlige objekter innenfor arbeidsbredden til rekkverket.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11783</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11783</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, arbeidsbredde/sikkerhet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandRekkverk_ArbeidsbreddeSikkerhetEnumerationType nvdb:TilstandRekkverk_ArbeidsbreddeSikkerhetOtherType"/>
  </simpleType>
  <simpleType name="TilstandRekkverk_ArbeidsbreddeSikkerhetEnumerationType">
    <annotation>
      <documentation>11783: Angir om det er trafikkfarlige objekter innenfor arbeidsbredden til rekkverket.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11783</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11783</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, arbeidsbredde/sikkerhet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ok">
        <annotation>
          <documentation>19742: Ingen trafikkfarlige objekter innenfor arbeidsbredde.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19742</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ok</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkfarlige objekter innenfor arbeidsbredde">
        <annotation>
          <documentation>19743: Det finnes trafikkfarlige objekter innenfor arbeidsbredden.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19743</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkfarlige objekter innenfor arbeidsbredde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_ArbeidsbreddeSikkerhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_BolterType">
    <annotation>
      <documentation>11784: Angir tilstand på bolter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11784</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11784</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, bolter</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandRekkverk_BolterEnumerationType nvdb:TilstandRekkverk_BolterOtherType"/>
  </simpleType>
  <simpleType name="TilstandRekkverk_BolterEnumerationType">
    <annotation>
      <documentation>11784: Angir tilstand på bolter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11784</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11784</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, bolter</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19744: Bolter er ok innenfor gitt utstrekning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19744</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OK </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ok, utbedret bolter på stedet">
        <annotation>
          <documentation>19745: Løse bolter er skrudd til, manglende bolter er erstattet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19745</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ok, utbedret bolter på stedet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Manglende/løse bolter">
        <annotation>
          <documentation>19746: Det forekommer manglende bolter og/eller løse bolter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19746</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Manglende/løse bolter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_BolterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_HøydeType">
    <annotation>
      <documentation>11781: Angir om det er avvik i høyde på rekkverket. Det er da tale om høyde topp rekkverk i forhold til kjørebanekant. Inngår i både enkel inspeksjon og hovedinspeksjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11781</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11781</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, høyde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandRekkverk_HøydeEnumerationType nvdb:TilstandRekkverk_HøydeOtherType"/>
  </simpleType>
  <simpleType name="TilstandRekkverk_HøydeEnumerationType">
    <annotation>
      <documentation>11781: Angir om det er avvik i høyde på rekkverket. Det er da tale om høyde topp rekkverk i forhold til kjørebanekant. Inngår i både enkel inspeksjon og hovedinspeksjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11781</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11781</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, høyde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ok">
        <annotation>
          <documentation>19738: Avvik er innenfor -10 cm til +5 cm ift. opprinnelig rekkverks­høyde.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ok </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="For høyt/lav">
        <annotation>
          <documentation>19739: Avvik er utenfor -10 cm til +5 cm ift. opprinnelig rekkverks­høyde.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19739</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">For høyt/lav </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_HøydeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_RekkverkselementerType">
    <annotation>
      <documentation>11782: Angir om det er avvik på selve rekkverkets bestanddeler, dvs stolper, skinner, rør. Inngår i både enkel inspeksjon og hovedinspeksjon. Ikke relevant for betongrekkverk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11782</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11782</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, rekkverkselementer</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandRekkverk_RekkverkselementerEnumerationType nvdb:TilstandRekkverk_RekkverkselementerOtherType"/>
  </simpleType>
  <simpleType name="TilstandRekkverk_RekkverkselementerEnumerationType">
    <annotation>
      <documentation>11782: Angir om det er avvik på selve rekkverkets bestanddeler, dvs stolper, skinner, rør. Inngår i både enkel inspeksjon og hovedinspeksjon. Ikke relevant for betongrekkverk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11782</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11782</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, rekkverkselementer</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ok">
        <annotation>
          <documentation>19740: Ikke skade som reduserer styrke/egenskap/funksjon. Ikke andre skader pga. vinter og vinterdrift.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19740</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ok </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skader">
        <annotation>
          <documentation>19741: Skader som reduserer styrke/egenskap/funksjon, kan være skader pga. vinter og vinterdrift. Informasjon om ev. skade angis under tilleggsinformasjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19741</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skader</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_RekkverkselementerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_SkjevhetType">
    <annotation>
      <documentation>11780: Angir om det er avvik knyttet til hvorvidt rekkverket står rett/loddrett. Inngår i både enkel inspeksjon og hovedinspeksjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11780</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11780</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, skjevhet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandRekkverk_SkjevhetEnumerationType nvdb:TilstandRekkverk_SkjevhetOtherType"/>
  </simpleType>
  <simpleType name="TilstandRekkverk_SkjevhetEnumerationType">
    <annotation>
      <documentation>11780: Angir om det er avvik knyttet til hvorvidt rekkverket står rett/loddrett. Inngår i både enkel inspeksjon og hovedinspeksjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11780</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11780</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, skjevhet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ok">
        <annotation>
          <documentation>19736: Mindre enn 10 cm avvik ift. rekkverkslinje for topp rekkverk.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19736</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ok </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skjevhet">
        <annotation>
          <documentation>19737: Mer enn 10 cm avvik ift. rekkverkslinje for topp rekkverk.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19737</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjevhet </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_SkjevhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_OppstrammingType">
    <annotation>
      <documentation>11785: Angir tilstand på oppstramming og forankring av wirerekkverk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11785</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11785</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, oppstramming</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandWirerekkverk_OppstrammingEnumerationType nvdb:TilstandWirerekkverk_OppstrammingOtherType"/>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_OppstrammingEnumerationType">
    <annotation>
      <documentation>11785: Angir tilstand på oppstramming og forankring av wirerekkverk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11785</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11785</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, oppstramming</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19747: Oppstramming og forankring er ok.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19747</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OK </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Behov for oppstramming">
        <annotation>
          <documentation>19748: Det er behov for oppstramming av wirerekkverk.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19748</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Behov for oppstramming</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_OppstrammingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_StolperType">
    <annotation>
      <documentation>11786: Angir tilstand for stolper på wirerekkverk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11786</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11786</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, stolper</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandWirerekkverk_StolperEnumerationType nvdb:TilstandWirerekkverk_StolperOtherType"/>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_StolperEnumerationType">
    <annotation>
      <documentation>11786: Angir tilstand for stolper på wirerekkverk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11786</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11786</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, stolper</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19749: Stolper er ok.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19749</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OK </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mekanisk skade på stolper">
        <annotation>
          <documentation>19750: Det forekommer mekanisk skade på en eller flere stolper.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19750</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mekanisk skade på stolper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Løse stolper">
        <annotation>
          <documentation>19751: Det forekommer en eller flere løse stolper.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19751</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Løse stolper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mangler topphette">
        <annotation>
          <documentation>19752: Det mangler topphette på en eller flere stolper.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19752</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mangler topphette</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_StolperOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_WireType">
    <annotation>
      <documentation>11787: Angir tilstand for wirene.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11787</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11787</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, wire</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandWirerekkverk_WireEnumerationType nvdb:TilstandWirerekkverk_WireOtherType"/>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_WireEnumerationType">
    <annotation>
      <documentation>11787: Angir tilstand for wirene.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11787</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11787</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, wire</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19753: Wirene er ok.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19753</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OK </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mekanisk skade">
        <annotation>
          <documentation>19754: Wire har en eller flere mekaniske skader.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19754</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mekanisk skade</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Loddrett stilling">
        <annotation>
          <documentation>19755: Wire er ute av stilling.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19755</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Loddrett stilling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_WireOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Tilstand_SamletType">
    <annotation>
      <documentation>11779: Angir samlet tilstand for rekkverket.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11779</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11779</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand, samlet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Tilstand_SamletEnumerationType nvdb:Tilstand_SamletOtherType"/>
  </simpleType>
  <simpleType name="Tilstand_SamletEnumerationType">
    <annotation>
      <documentation>11779: Angir samlet tilstand for rekkverket.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11779</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11779</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstand, samlet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ok">
        <annotation>
          <documentation>19732: Indikerer at alt er ok og dermed ikke behov for tiltak. De enkelte tilstandsparametrene skal enten være angitt med "Ok" eller ikke ha verdi.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19732</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ok</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tiltaksbehov">
        <annotation>
          <documentation>19734: Behov for tiltak. Minst en tilstandsparameter skal være angitt med verdi forskjellig fra OK.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19734</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tiltaksbehov</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke registrert">
        <annotation>
          <documentation>19735: Det er ikke gjennomført tilstandsinspeksjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19735</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke registrert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Tilstand_SamletOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tilstandsgrad_Rekkverk" substitutionGroup="nvdb:AbstraktTilstandsgrad_Rekkverk" type="nvdb:Tilstandsgrad_RekkverkType">
    <annotation>
      <documentation>947: Gir informasjon om tilstand til rekkverk. Benyttes i forbindelse med periodiske inspeksjoner.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">947</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">947</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstandsgrad, rekkverk</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Tilstandsgrad_RekkverkType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandsgrad_RekkverkType">
        <sequence>
          <element minOccurs="0" name="datoKontrollert_EnkelInspeksjon" type="date">
            <annotation>
              <documentation>11776: Angir dato for siste enkel inspeksjon. (Ref HB610 kap. 1.3).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11776</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dato kontrollert, enkel inspeksjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert_Hovedinspeksjon" type="date">
            <annotation>
              <documentation>11777: Angir dato for siste hovedinspeksjon. Det opereres med 5-års intervall mellom hoved inspeksjoner. (Ref HB610 kap. 1.3). Merknad: Det er foreløpig ikke tilrettelagt for å lagre alle tilstandsdata som er aktuelle i forbindelse med hovedinspeksjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11777</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dato kontrollert, hovedinspeksjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert_AnnenInspeksjon" type="date">
            <annotation>
              <documentation>11778: Angir dato for siste inspeksjon som ikke er enkel inspeksjon eller hovedinspeksjon. Det skal angis under tilleggsinformasjon hvilken type inspeksjon det er og hva som er kontrollert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11778</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dato kontrollert, annen inspeksjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstand_Samlet" type="nvdb:Tilstand_SamletType">
            <annotation>
              <documentation>11779: Angir samlet tilstand for rekkverket.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11779</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand, samlet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandRekkverk_Skjevhet" type="nvdb:TilstandRekkverk_SkjevhetType">
            <annotation>
              <documentation>11780: Angir om det er avvik knyttet til hvorvidt rekkverket står rett/loddrett. Inngår i både enkel inspeksjon og hovedinspeksjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11780</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, skjevhet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandRekkverk_Høyde" type="nvdb:TilstandRekkverk_HøydeType">
            <annotation>
              <documentation>11781: Angir om det er avvik i høyde på rekkverket. Det er da tale om høyde topp rekkverk i forhold til kjørebanekant. Inngår i både enkel inspeksjon og hovedinspeksjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11781</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandRekkverk_Rekkverkselementer" type="nvdb:TilstandRekkverk_RekkverkselementerType">
            <annotation>
              <documentation>11782: Angir om det er avvik på selve rekkverkets bestanddeler, dvs stolper, skinner, rør. Inngår i både enkel inspeksjon og hovedinspeksjon. Ikke relevant for betongrekkverk.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11782</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, rekkverkselementer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandRekkverk_ArbeidsbreddeSikkerhet" type="nvdb:TilstandRekkverk_ArbeidsbreddeSikkerhetType">
            <annotation>
              <documentation>11783: Angir om det er trafikkfarlige objekter innenfor arbeidsbredden til rekkverket.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11783</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, arbeidsbredde/sikkerhet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandRekkverk_Bolter" type="nvdb:TilstandRekkverk_BolterType">
            <annotation>
              <documentation>11784: Angir tilstand på bolter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11784</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, bolter</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandWirerekkverk_Oppstramming" type="nvdb:TilstandWirerekkverk_OppstrammingType">
            <annotation>
              <documentation>11785: Angir tilstand på oppstramming og forankring av wirerekkverk.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11785</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, oppstramming</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandWirerekkverk_Stolper" type="nvdb:TilstandWirerekkverk_StolperType">
            <annotation>
              <documentation>11786: Angir tilstand for stolper på wirerekkverk.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11786</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, stolper</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandWirerekkverk_Wire" type="nvdb:TilstandWirerekkverk_WireType">
            <annotation>
              <documentation>11787: Angir tilstand for wirene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11787</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, wire</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandEttergivendeRekkverksende_Bolter" type="nvdb:TilstandEttergivendeRekkverksende_BolterType">
            <annotation>
              <documentation>11788: Angir tilstand på bolter i ettergivende rekkverksende.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11788</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, bolter</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandEttergivendeRekkverksende_Stolper" type="nvdb:TilstandEttergivendeRekkverksende_StolperType">
            <annotation>
              <documentation>11789: Angir tilstand på stolper i ettergivende rekkverksende.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11789</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, stolper</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandEttergivendeRekkverksende_Bruddpinner" type="nvdb:TilstandEttergivendeRekkverksende_BruddpinnerType">
            <annotation>
              <documentation>11790: Angir tilstand for bruddpinner for ettergivende rekkverksende.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11790</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, Bruddpinner</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandEttergivendeRekkverksende_Renhold" type="nvdb:TilstandEttergivendeRekkverksende_RenholdType">
            <annotation>
              <documentation>11791: Angir tilstand med hensyn på funksjon og renhold for ettergivende rekkverksende.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11791</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, renhold</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandEttergivendeRekkverksende_Fundament" type="nvdb:TilstandEttergivendeRekkverksende_FundamentType">
            <annotation>
              <documentation>11792: Angir tilstand med hensyn på funksjon og fundament for ettergivende rekkverksende.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11792</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, fundament</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11794: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11794</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>11793: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11793</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Tilstandsgrad_RekkverkPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tilstandsgrad_Rekkverk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
