GML/947.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="TilstandEttergivendeRekkverksende_BolterType">
    <annotation>
      <documentation>11788: Angir tilstand på bolter i ettergivende rekverksende</documentation>
    </annotation>
    <union memberTypes="nvdb:TilstandEttergivendeRekkverksende_BolterEnumerationType nvdb:TilstandEttergivendeRekkverksende_BolterOtherType"/>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_BolterEnumerationType">
    <annotation>
      <documentation>11788: Angir tilstand på bolter i ettergivende rekverksende</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19768: Boltene i rekkverksende er ok</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ok_UtbedretBolterPåStedet">
        <annotation>
          <documentation>19756: Løse bolter er skrudd til, manglende bolter er erstattet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="manglendeLøseBolter">
        <annotation>
          <documentation>19757: Manglende bolter eller løse bolter</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_BolterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_BruddpinnerType">
    <annotation>
      <documentation>11790: Angir tilstand for bruddpinner for ettergvende rekkverksende</documentation>
    </annotation>
    <union memberTypes="nvdb:TilstandEttergivendeRekkverksende_BruddpinnerEnumerationType nvdb:TilstandEttergivendeRekkverksende_BruddpinnerOtherType"/>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_BruddpinnerEnumerationType">
    <annotation>
      <documentation>11790: Angir tilstand for bruddpinner for ettergvende rekkverksende</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19766: Bruddpinner er ok</documentation>
        </annotation>
      </enumeration>
      <enumeration value="manglerBruddpinner">
        <annotation>
          <documentation>19761: Det mangler en eller flere bruddpinner</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_BruddpinnerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_FundamentType">
    <annotation>
      <documentation>11792: Angir tilstand med hensyn på funksjon og fundament for ettergivende rekkverksende</documentation>
    </annotation>
    <union memberTypes="nvdb:TilstandEttergivendeRekkverksende_FundamentEnumerationType nvdb:TilstandEttergivendeRekkverksende_FundamentOtherType"/>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_FundamentEnumerationType">
    <annotation>
      <documentation>11792: Angir tilstand med hensyn på funksjon og fundament for ettergivende rekkverksende</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19764: Løsmasser bak stolpe som sikrer funksjon ved påkjørsel (frigjøring av stolpe)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="manglendeLøsmasserBakStolper">
        <annotation>
          <documentation>19765: Manglende løsmasser bak stolpe som sikrer funksjon ved påkjørsel (frigjøring av stolpe)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_FundamentOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_RenholdType">
    <annotation>
      <documentation>11791: Angir tilstand med hensyn på funksjon og renhold for ettergivende rekkverksende</documentation>
    </annotation>
    <union memberTypes="nvdb:TilstandEttergivendeRekkverksende_RenholdEnumerationType nvdb:TilstandEttergivendeRekkverksende_RenholdOtherType"/>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_RenholdEnumerationType">
    <annotation>
      <documentation>11791: Angir tilstand med hensyn på funksjon og renhold for ettergivende rekkverksende</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19762: Ikke partikler/gjenstander/masser under/i rekkverksende</documentation>
        </annotation>
      </enumeration>
      <enumeration value="partiklerGjenstanderMasserUnderIRekkverksende">
        <annotation>
          <documentation>19763: Det finnes partikler/gjenstander/masser under/i rekkverksende</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_RenholdOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_StolperType">
    <annotation>
      <documentation>11789: Angir tilstand på stolper i ettergivende rekkverksende</documentation>
    </annotation>
    <union memberTypes="nvdb:TilstandEttergivendeRekkverksende_StolperEnumerationType nvdb:TilstandEttergivendeRekkverksende_StolperOtherType"/>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_StolperEnumerationType">
    <annotation>
      <documentation>11789: Angir tilstand på stolper i ettergivende rekkverksende</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19767: Stolpene i rekkverksende er ok</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mekaniskSkade">
        <annotation>
          <documentation>19758: Det forekommer mekanisk skade på en eller flere stolper</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skjevhet">
        <annotation>
          <documentation>19759: En eller flere stolper er skjeve</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fundament">
        <annotation>
          <documentation>19760: Fundamentering av stolper er ikke tilfredsstillende</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandEttergivendeRekkverksende_StolperOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_ArbeidsbreddeSikkerhetType">
    <annotation>
      <documentation>11783: Angir om det er trafikkfarlige objekter innenfor arbeidsbredden til rekkverket</documentation>
    </annotation>
    <union memberTypes="nvdb:TilstandRekkverk_ArbeidsbreddeSikkerhetEnumerationType nvdb:TilstandRekkverk_ArbeidsbreddeSikkerhetOtherType"/>
  </simpleType>
  <simpleType name="TilstandRekkverk_ArbeidsbreddeSikkerhetEnumerationType">
    <annotation>
      <documentation>11783: Angir om det er trafikkfarlige objekter innenfor arbeidsbredden til rekkverket</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ok">
        <annotation>
          <documentation>19742: Ingen trafikkfarlige objekter innenfor arbeidsbredde</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trafikkfarligeObjekterInnenforArbeidsbredde">
        <annotation>
          <documentation>19743: Det finnes trafikkfarlige objekter innenfor arbeidsbredden</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_ArbeidsbreddeSikkerhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_BolterType">
    <annotation>
      <documentation>11784: Angir tilstand på bolter</documentation>
    </annotation>
    <union memberTypes="nvdb:TilstandRekkverk_BolterEnumerationType nvdb:TilstandRekkverk_BolterOtherType"/>
  </simpleType>
  <simpleType name="TilstandRekkverk_BolterEnumerationType">
    <annotation>
      <documentation>11784: Angir tilstand på bolter</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19744: Bolter er ok innenfor gitt utstrekning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ok_UtbedretBolterPåStedet">
        <annotation>
          <documentation>19745: Løse bolter er skrudd til, manglende bolter er erstattet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="manglendeLøseBolter">
        <annotation>
          <documentation>19746: Det forekommer manglende bolter og/eller løse bolter</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_BolterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_HøydeType">
    <annotation>
      <documentation>11781: Angir om det er avvik i høyde på rekkverket. Det er da tale om høyde topp rekkverk i forhold til kjørebanekant. Inngår i både enkel inspeksjon og hovedinspeksjon</documentation>
    </annotation>
    <union memberTypes="nvdb:TilstandRekkverk_HøydeEnumerationType nvdb:TilstandRekkverk_HøydeOtherType"/>
  </simpleType>
  <simpleType name="TilstandRekkverk_HøydeEnumerationType">
    <annotation>
      <documentation>11781: Angir om det er avvik i høyde på rekkverket. Det er da tale om høyde topp rekkverk i forhold til kjørebanekant. Inngår i både enkel inspeksjon og hovedinspeksjon</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ok">
        <annotation>
          <documentation>19738: Avvik er innenfor -10 cm til +5 cm ift. opprinnelig rekkverks­høyde</documentation>
        </annotation>
      </enumeration>
      <enumeration value="forHøytLav">
        <annotation>
          <documentation>19739: Avvik er utenfor -10 cm til +5 cm ift. opprinnelig rekkverks­høyde</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_HøydeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_RekkverkselementerType">
    <annotation>
      <documentation>11782: Angir om det er avvik på selve rekkverkets bestanddeler, dvs stolper, skinner, rør. For betongrekkverk handler det om skader som reduserer styrke/egenskap/funksjon. Kan  være skader pga. vinter og vinterdrift. Info om evt skade angis under tilleggsinforma</documentation>
    </annotation>
    <union memberTypes="nvdb:TilstandRekkverk_RekkverkselementerEnumerationType nvdb:TilstandRekkverk_RekkverkselementerOtherType"/>
  </simpleType>
  <simpleType name="TilstandRekkverk_RekkverkselementerEnumerationType">
    <annotation>
      <documentation>11782: Angir om det er avvik på selve rekkverkets bestanddeler, dvs stolper, skinner, rør. For betongrekkverk handler det om skader som reduserer styrke/egenskap/funksjon. Kan  være skader pga. vinter og vinterdrift. Info om evt skade angis under tilleggsinforma</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ok">
        <annotation>
          <documentation>19740: Ikke skade som reduserer styrke/egenskap/funksjon. Ikke andre skader pga. vinter og vinterdrift</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skader">
        <annotation>
          <documentation>19741: Skader som reduserer styrke/egenskap/funksjon, kan være skader pga. vinter og vinterdrift. Informasjon om evt skade angis under tilleggsinformasjon</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_RekkverkselementerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_SkjevhetType">
    <annotation>
      <documentation>11780: Angir om det er avvik knyttet til hvorvidt rekkverket står rett/loddrett. Inngår i både enkel inspeksjon og hovedinspeksjon</documentation>
    </annotation>
    <union memberTypes="nvdb:TilstandRekkverk_SkjevhetEnumerationType nvdb:TilstandRekkverk_SkjevhetOtherType"/>
  </simpleType>
  <simpleType name="TilstandRekkverk_SkjevhetEnumerationType">
    <annotation>
      <documentation>11780: Angir om det er avvik knyttet til hvorvidt rekkverket står rett/loddrett. Inngår i både enkel inspeksjon og hovedinspeksjon</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ok">
        <annotation>
          <documentation>19736: Mindre enn 10 cm avvik ift rekkverkslinje for topp rekkverk.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skjevhet">
        <annotation>
          <documentation>19737: Mer enn 10 cm avvik ift rekkverkslinje for topp rekkverk</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandRekkverk_SkjevhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_OppstrammingType">
    <annotation>
      <documentation>11785: Angir tilstand på oppstramming og forankring av wirerekkverk</documentation>
    </annotation>
    <union memberTypes="nvdb:TilstandWirerekkverk_OppstrammingEnumerationType nvdb:TilstandWirerekkverk_OppstrammingOtherType"/>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_OppstrammingEnumerationType">
    <annotation>
      <documentation>11785: Angir tilstand på oppstramming og forankring av wirerekkverk</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19747: Oppstramming og forankring er ok</documentation>
        </annotation>
      </enumeration>
      <enumeration value="behovForOppstramming">
        <annotation>
          <documentation>19748: Det er behov for oppstramming av wirerekkverk</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_OppstrammingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_StolperType">
    <annotation>
      <documentation>11786: Angir tilstand for stolper på wirerekkverk</documentation>
    </annotation>
    <union memberTypes="nvdb:TilstandWirerekkverk_StolperEnumerationType nvdb:TilstandWirerekkverk_StolperOtherType"/>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_StolperEnumerationType">
    <annotation>
      <documentation>11786: Angir tilstand for stolper på wirerekkverk</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19749: Stolper er ok</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mekaniskSkadePåStolper">
        <annotation>
          <documentation>19750: Det forekommer mekanisk skade på en eller flere stolper</documentation>
        </annotation>
      </enumeration>
      <enumeration value="løseStolper">
        <annotation>
          <documentation>19751: Det forekommer en eller flere løsestolper</documentation>
        </annotation>
      </enumeration>
      <enumeration value="manglerTopphette">
        <annotation>
          <documentation>19752: Det mangler topphette på en eller flere stolper</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_StolperOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_WireType">
    <annotation>
      <documentation>11787: Angir tilstand for wirene</documentation>
    </annotation>
    <union memberTypes="nvdb:TilstandWirerekkverk_WireEnumerationType nvdb:TilstandWirerekkverk_WireOtherType"/>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_WireEnumerationType">
    <annotation>
      <documentation>11787: Angir tilstand for wirene</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>19753: Wirene er ok</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mekaniskSkade">
        <annotation>
          <documentation>19754: Wire har en eller flere mekanske skader</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lodrettStilling">
        <annotation>
          <documentation>19755: Wire er ute av stilling</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandWirerekkverk_WireOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Tilstand_SamletType">
    <annotation>
      <documentation>11779: Angir samlet tilstand for rekkverket</documentation>
    </annotation>
    <union memberTypes="nvdb:Tilstand_SamletEnumerationType nvdb:Tilstand_SamletOtherType"/>
  </simpleType>
  <simpleType name="Tilstand_SamletEnumerationType">
    <annotation>
      <documentation>11779: Angir samlet tilstand for rekkverket</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ok">
        <annotation>
          <documentation>19732: Indikerer at alt er ok og dermed ikke behov for tiltak. De enkelte tilstandsparametrene skal enten være angitt med "Ok" eller ikke ha verdi.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tiltaksbehov">
        <annotation>
          <documentation>19734: Behov for tiltak. Minst en tilstandsparameter skal være angtt med verdi forskjellig fra OK</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ikkeRegistrert">
        <annotation>
          <documentation>19735: Det er ikke gjennomført tilstandsinspeksjon</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Tilstand_SamletOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tilstandsgrad_Rekkverk" substitutionGroup="nvdb:AbstraktTilstandsgrad_Rekkverk" type="nvdb:Tilstandsgrad_RekkverkType">
    <annotation>
      <documentation>947: Gir informasjon om tilstand til rekkverk. Benyttes i forbindelse med periodiske inspeksjoner.</documentation>
    </annotation>
  </element>
  <complexType name="Tilstandsgrad_RekkverkType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandsgrad_RekkverkType">
        <sequence>
          <element minOccurs="0" name="datoKontrollert_EnkelInspeksjon" type="date">
            <annotation>
              <documentation>11776: Angir dato for siste enkel inspeksjon. (Ref HB610 kap 1.3)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert_Hovedinspeksjon" type="date">
            <annotation>
              <documentation>11777: Angir dato for siste hovedinspeksjon.Det opereres med 5-års intervall mellom hovedinspeksjoner. (Ref HB610 kap 1.3). Merknad: Det er foreløpig ikke tilrettelagt for å lagre alle tilstandsdata som er aktuelle i forbindelse med hovedinspeksjon.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert_AnnenInspeksjon" type="date">
            <annotation>
              <documentation>11778: Angir dato for siste inspeksjon som ikke er enkel inspeksjon eller hovedinspeksjon. Det skal angis under tilleggsinformasjon hvilken type inspeksjon det er og hva som er kontrollert</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstand_Samlet" type="nvdb:Tilstand_SamletType">
            <annotation>
              <documentation>11779: Angir samlet tilstand for rekkverket</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandRekkverk_Skjevhet" type="nvdb:TilstandRekkverk_SkjevhetType">
            <annotation>
              <documentation>11780: Angir om det er avvik knyttet til hvorvidt rekkverket står rett/loddrett. Inngår i både enkel inspeksjon og hovedinspeksjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandRekkverk_Høyde" type="nvdb:TilstandRekkverk_HøydeType">
            <annotation>
              <documentation>11781: Angir om det er avvik i høyde på rekkverket. Det er da tale om høyde topp rekkverk i forhold til kjørebanekant. Inngår i både enkel inspeksjon og hovedinspeksjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandRekkverk_Rekkverkselementer" type="nvdb:TilstandRekkverk_RekkverkselementerType">
            <annotation>
              <documentation>11782: Angir om det er avvik på selve rekkverkets bestanddeler, dvs stolper, skinner, rør. For betongrekkverk handler det om skader som reduserer styrke/egenskap/funksjon. Kan  være skader pga. vinter og vinterdrift. Info om evt skade angis under tilleggsinformasjon, Inngår i både enkel inspeksjon og hovedinspeksjon.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandRekkverk_ArbeidsbreddeSikkerhet" type="nvdb:TilstandRekkverk_ArbeidsbreddeSikkerhetType">
            <annotation>
              <documentation>11783: Angir om det er trafikkfarlige objekter innenfor arbeidsbredden til rekkverket</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandRekkverk_Bolter" type="nvdb:TilstandRekkverk_BolterType">
            <annotation>
              <documentation>11784: Angir tilstand på bolter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandWirerekkverk_Oppstramming" type="nvdb:TilstandWirerekkverk_OppstrammingType">
            <annotation>
              <documentation>11785: Angir tilstand på oppstramming og forankring av wirerekkverk</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandWirerekkverk_Stolper" type="nvdb:TilstandWirerekkverk_StolperType">
            <annotation>
              <documentation>11786: Angir tilstand for stolper på wirerekkverk</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandWirerekkverk_Wire" type="nvdb:TilstandWirerekkverk_WireType">
            <annotation>
              <documentation>11787: Angir tilstand for wirene</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandEttergivendeRekkverksende_Bolter" type="nvdb:TilstandEttergivendeRekkverksende_BolterType">
            <annotation>
              <documentation>11788: Angir tilstand på bolter i ettergivende rekverksende</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandEttergivendeRekkverksende_Stolper" type="nvdb:TilstandEttergivendeRekkverksende_StolperType">
            <annotation>
              <documentation>11789: Angir tilstand på stolper i ettergivende rekkverksende</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandEttergivendeRekkverksende_Bruddpinner" type="nvdb:TilstandEttergivendeRekkverksende_BruddpinnerType">
            <annotation>
              <documentation>11790: Angir tilstand for bruddpinner for ettergvende rekkverksende</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandEttergivendeRekkverksende_Renhold" type="nvdb:TilstandEttergivendeRekkverksende_RenholdType">
            <annotation>
              <documentation>11791: Angir tilstand med hensyn på funksjon og renhold for ettergivende rekkverksende</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandEttergivendeRekkverksende_Fundament" type="nvdb:TilstandEttergivendeRekkverksende_FundamentType">
            <annotation>
              <documentation>11792: Angir tilstand med hensyn på funksjon og fundament for ettergivende rekkverksende</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11794: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>11793: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRekkverk" type="nvdb:AbstraktRekkverkPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Tilstandsgrad_RekkverkPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tilstandsgrad_Rekkverk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
