GML/947.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>947: Gir informasjon om tilstand til rekkverk. Benyttes i forbindelse med periodiske inspeksjoner.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="TilstandEttergivendeRekkverksende_BolterTilstandsgrad, rekkverkType">
      <annotation>
         <documentation>11788: Angir tilstand på bolter i ettergivende rekkverksende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11788</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, bolter</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandEttergivendeRekkverksende_BolterTilstandsgrad, rekkverkEnumerationType nvdb:TilstandEttergivendeRekkverksende_BolterTilstandsgrad, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="TilstandEttergivendeRekkverksende_BolterTilstandsgrad, rekkverkEnumerationType">
      <annotation>
         <documentation>11788: Angir tilstand på bolter i ettergivende rekkverksende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11788</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, bolter</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19757</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Manglende/løse bolter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19768</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OK</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19756</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ok, utbedret bolter på stedet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandEttergivendeRekkverksende_BolterTilstandsgrad, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandEttergivendeRekkverksende_BruddpinnerTilstandsgrad, rekkverkType">
      <annotation>
         <documentation>11790: Angir tilstand for bruddpinner for ettergivende rekkverksende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11790</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, Bruddpinner</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandEttergivendeRekkverksende_BruddpinnerTilstandsgrad, rekkverkEnumerationType nvdb:TilstandEttergivendeRekkverksende_BruddpinnerTilstandsgrad, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="TilstandEttergivendeRekkverksende_BruddpinnerTilstandsgrad, rekkverkEnumerationType">
      <annotation>
         <documentation>11790: Angir tilstand for bruddpinner for ettergivende rekkverksende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11790</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, Bruddpinner</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19761</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mangler bruddpinner</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19766</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OK</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandEttergivendeRekkverksende_BruddpinnerTilstandsgrad, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandEttergivendeRekkverksende_FundamentTilstandsgrad, rekkverkType">
      <annotation>
         <documentation>11792: Angir tilstand med hensyn på funksjon og fundament for ettergivende rekkverksende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11792</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, fundament</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandEttergivendeRekkverksende_FundamentTilstandsgrad, rekkverkEnumerationType nvdb:TilstandEttergivendeRekkverksende_FundamentTilstandsgrad, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="TilstandEttergivendeRekkverksende_FundamentTilstandsgrad, rekkverkEnumerationType">
      <annotation>
         <documentation>11792: Angir tilstand med hensyn på funksjon og fundament for ettergivende rekkverksende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11792</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, fundament</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19765</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Manglende løsmasser bak stolper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19764</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OK</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandEttergivendeRekkverksende_FundamentTilstandsgrad, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandEttergivendeRekkverksende_RenholdTilstandsgrad, rekkverkType">
      <annotation>
         <documentation>11791: Angir tilstand med hensyn på funksjon og renhold for ettergivende rekkverksende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11791</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, renhold</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandEttergivendeRekkverksende_RenholdTilstandsgrad, rekkverkEnumerationType nvdb:TilstandEttergivendeRekkverksende_RenholdTilstandsgrad, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="TilstandEttergivendeRekkverksende_RenholdTilstandsgrad, rekkverkEnumerationType">
      <annotation>
         <documentation>11791: Angir tilstand med hensyn på funksjon og renhold for ettergivende rekkverksende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11791</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, renhold</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19762</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OK</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19763</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Partikler/gjenstander/masser under/i rekkverksende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandEttergivendeRekkverksende_RenholdTilstandsgrad, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandEttergivendeRekkverksende_StolperTilstandsgrad, rekkverkType">
      <annotation>
         <documentation>11789: Angir tilstand på stolper i ettergivende rekkverksende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11789</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, stolper</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandEttergivendeRekkverksende_StolperTilstandsgrad, rekkverkEnumerationType nvdb:TilstandEttergivendeRekkverksende_StolperTilstandsgrad, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="TilstandEttergivendeRekkverksende_StolperTilstandsgrad, rekkverkEnumerationType">
      <annotation>
         <documentation>11789: Angir tilstand på stolper i ettergivende rekkverksende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11789</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, stolper</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2d">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19760</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19758</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mekanisk skade</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19767</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OK</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2c">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19759</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skjevhet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandEttergivendeRekkverksende_StolperTilstandsgrad, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandRekkverk_ArbeidsbreddeSikkerhetTilstandsgrad, rekkverkType">
      <annotation>
         <documentation>11783: Angir om det er trafikkfarlige objekter innenfor arbeidsbredden til rekkverket.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11783</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, arbeidsbredde/sikkerhet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandRekkverk_ArbeidsbreddeSikkerhetTilstandsgrad, rekkverkEnumerationType nvdb:TilstandRekkverk_ArbeidsbreddeSikkerhetTilstandsgrad, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="TilstandRekkverk_ArbeidsbreddeSikkerhetTilstandsgrad, rekkverkEnumerationType">
      <annotation>
         <documentation>11783: Angir om det er trafikkfarlige objekter innenfor arbeidsbredden til rekkverket.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11783</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, arbeidsbredde/sikkerhet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19742</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ok</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19743</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkfarlige objekter innenfor arbeidsbredde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandRekkverk_ArbeidsbreddeSikkerhetTilstandsgrad, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandRekkverk_BolterTilstandsgrad, rekkverkType">
      <annotation>
         <documentation>11784: Angir tilstand på bolter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11784</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, bolter</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandRekkverk_BolterTilstandsgrad, rekkverkEnumerationType nvdb:TilstandRekkverk_BolterTilstandsgrad, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="TilstandRekkverk_BolterTilstandsgrad, rekkverkEnumerationType">
      <annotation>
         <documentation>11784: Angir tilstand på bolter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11784</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, bolter</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19746</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Manglende/løse bolter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19744</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OK </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19745</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ok, utbedret bolter på stedet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandRekkverk_BolterTilstandsgrad, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandRekkverk_HøydeTilstandsgrad, rekkverkType">
      <annotation>
         <documentation>11781: Angir om det er avvik i høyde på rekkverket. Det er da tale om høyde topp rekkverk i forhold til kjørebanekant. Inngår i både enkel inspeksjon og hovedinspeksjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11781</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, høyde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandRekkverk_HøydeTilstandsgrad, rekkverkEnumerationType nvdb:TilstandRekkverk_HøydeTilstandsgrad, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="TilstandRekkverk_HøydeTilstandsgrad, rekkverkEnumerationType">
      <annotation>
         <documentation>11781: Angir om det er avvik i høyde på rekkverket. Det er da tale om høyde topp rekkverk i forhold til kjørebanekant. Inngår i både enkel inspeksjon og hovedinspeksjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11781</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, høyde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19739</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">For høyt/lav </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19738</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ok </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandRekkverk_HøydeTilstandsgrad, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandRekkverk_RekkverkselementerTilstandsgrad, rekkverkType">
      <annotation>
         <documentation>11782: Angir om det er avvik på selve rekkverkets bestanddeler, dvs stolper, skinner, rør. Inngår i både enkel inspeksjon og hovedinspeksjon. Ikke relevant for betongrekkverk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11782</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, rekkverkselementer</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandRekkverk_RekkverkselementerTilstandsgrad, rekkverkEnumerationType nvdb:TilstandRekkverk_RekkverkselementerTilstandsgrad, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="TilstandRekkverk_RekkverkselementerTilstandsgrad, rekkverkEnumerationType">
      <annotation>
         <documentation>11782: Angir om det er avvik på selve rekkverkets bestanddeler, dvs stolper, skinner, rør. Inngår i både enkel inspeksjon og hovedinspeksjon. Ikke relevant for betongrekkverk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11782</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, rekkverkselementer</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19740</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ok </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19741</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skader</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandRekkverk_RekkverkselementerTilstandsgrad, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandRekkverk_SkjevhetTilstandsgrad, rekkverkType">
      <annotation>
         <documentation>11780: Angir om det er avvik knyttet til hvorvidt rekkverket står rett/loddrett. Inngår i både enkel inspeksjon og hovedinspeksjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11780</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, skjevhet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandRekkverk_SkjevhetTilstandsgrad, rekkverkEnumerationType nvdb:TilstandRekkverk_SkjevhetTilstandsgrad, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="TilstandRekkverk_SkjevhetTilstandsgrad, rekkverkEnumerationType">
      <annotation>
         <documentation>11780: Angir om det er avvik knyttet til hvorvidt rekkverket står rett/loddrett. Inngår i både enkel inspeksjon og hovedinspeksjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11780</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, skjevhet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19736</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ok </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19737</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skjevhet </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandRekkverk_SkjevhetTilstandsgrad, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandWirerekkverk_OppstrammingTilstandsgrad, rekkverkType">
      <annotation>
         <documentation>11785: Angir tilstand på oppstramming og forankring av wirerekkverk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11785</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, oppstramming</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandWirerekkverk_OppstrammingTilstandsgrad, rekkverkEnumerationType nvdb:TilstandWirerekkverk_OppstrammingTilstandsgrad, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="TilstandWirerekkverk_OppstrammingTilstandsgrad, rekkverkEnumerationType">
      <annotation>
         <documentation>11785: Angir tilstand på oppstramming og forankring av wirerekkverk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11785</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, oppstramming</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19748</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Behov for oppstramming</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19747</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OK </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandWirerekkverk_OppstrammingTilstandsgrad, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandWirerekkverk_StolperTilstandsgrad, rekkverkType">
      <annotation>
         <documentation>11786: Angir tilstand for stolper på wirerekkverk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11786</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, stolper</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandWirerekkverk_StolperTilstandsgrad, rekkverkEnumerationType nvdb:TilstandWirerekkverk_StolperTilstandsgrad, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="TilstandWirerekkverk_StolperTilstandsgrad, rekkverkEnumerationType">
      <annotation>
         <documentation>11786: Angir tilstand for stolper på wirerekkverk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11786</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, stolper</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19751</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Løse stolper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2c">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19752</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mangler topphette</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19750</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mekanisk skade på stolper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19749</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OK </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandWirerekkverk_StolperTilstandsgrad, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilstandWirerekkverk_WireTilstandsgrad, rekkverkType">
      <annotation>
         <documentation>11787: Angir tilstand for wirene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11787</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, wire</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilstandWirerekkverk_WireTilstandsgrad, rekkverkEnumerationType nvdb:TilstandWirerekkverk_WireTilstandsgrad, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="TilstandWirerekkverk_WireTilstandsgrad, rekkverkEnumerationType">
      <annotation>
         <documentation>11787: Angir tilstand for wirene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11787</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, wire</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19755</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Loddrett stilling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19754</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mekanisk skade</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19753</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OK </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilstandWirerekkverk_WireTilstandsgrad, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Tilstand_SamletTilstandsgrad, rekkverkType">
      <annotation>
         <documentation>11779: Angir samlet tilstand for rekkverket.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11779</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand, samlet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Tilstand_SamletTilstandsgrad, rekkverkEnumerationType nvdb:Tilstand_SamletTilstandsgrad, rekkverkOtherType"/>
   </simpleType>
   <simpleType name="Tilstand_SamletTilstandsgrad, rekkverkEnumerationType">
      <annotation>
         <documentation>11779: Angir samlet tilstand for rekkverket.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11779</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstand, samlet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="9">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19735</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke registrert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19732</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ok</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19734</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tiltaksbehov</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Tilstand_SamletTilstandsgrad, rekkverkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tilstandsgrad, rekkverk"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandsgrad, rekkverkType">
      <annotation>
         <documentation>947: Gir informasjon om tilstand til rekkverk. Benyttes i forbindelse med periodiske inspeksjoner.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">947</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandsgrad, rekkverk</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandsgrad, rekkverkType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="datoKontrollert_EnkelInspeksjon" type="date">
                  <annotation>
                     <documentation>11776: Angir dato for siste enkel inspeksjon. (Ref HB610 kap. 1.3).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11776</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato kontrollert, enkel inspeksjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoKontrollert_Hovedinspeksjon" type="date">
                  <annotation>
                     <documentation>11777: Angir dato for siste hovedinspeksjon. Det opereres med 5-års intervall mellom hoved inspeksjoner. (Ref HB610 kap. 1.3). Merknad: Det er foreløpig ikke tilrettelagt for å lagre alle tilstandsdata som er aktuelle i forbindelse med hovedinspeksjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11777</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato kontrollert, hovedinspeksjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="datoKontrollert_AnnenInspeksjon" type="date">
                  <annotation>
                     <documentation>11778: Angir dato for siste inspeksjon som ikke er enkel inspeksjon eller hovedinspeksjon. Det skal angis under tilleggsinformasjon hvilken type inspeksjon det er og hva som er kontrollert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11778</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato kontrollert, annen inspeksjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tilstand_Samlet">
                  <annotation>
                     <documentation>11779: Angir samlet tilstand for rekkverket.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11779</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand, samlet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilstandRekkverk_Skjevhet">
                  <annotation>
                     <documentation>11780: Angir om det er avvik knyttet til hvorvidt rekkverket står rett/loddrett. Inngår i både enkel inspeksjon og hovedinspeksjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11780</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, skjevhet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilstandRekkverk_Høyde">
                  <annotation>
                     <documentation>11781: Angir om det er avvik i høyde på rekkverket. Det er da tale om høyde topp rekkverk i forhold til kjørebanekant. Inngår i både enkel inspeksjon og hovedinspeksjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11781</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, høyde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilstandRekkverk_Rekkverkselementer">
                  <annotation>
                     <documentation>11782: Angir om det er avvik på selve rekkverkets bestanddeler, dvs stolper, skinner, rør. Inngår i både enkel inspeksjon og hovedinspeksjon. Ikke relevant for betongrekkverk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11782</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, rekkverkselementer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilstandRekkverk_ArbeidsbreddeSikkerhet">
                  <annotation>
                     <documentation>11783: Angir om det er trafikkfarlige objekter innenfor arbeidsbredden til rekkverket.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11783</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, arbeidsbredde/sikkerhet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilstandRekkverk_Bolter">
                  <annotation>
                     <documentation>11784: Angir tilstand på bolter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11784</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand rekkverk, bolter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilstandWirerekkverk_Oppstramming">
                  <annotation>
                     <documentation>11785: Angir tilstand på oppstramming og forankring av wirerekkverk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11785</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, oppstramming</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilstandWirerekkverk_Stolper">
                  <annotation>
                     <documentation>11786: Angir tilstand for stolper på wirerekkverk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11786</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, stolper</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilstandWirerekkverk_Wire">
                  <annotation>
                     <documentation>11787: Angir tilstand for wirene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11787</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand wirerekkverk, wire</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilstandEttergivendeRekkverksende_Bolter">
                  <annotation>
                     <documentation>11788: Angir tilstand på bolter i ettergivende rekkverksende.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11788</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, bolter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilstandEttergivendeRekkverksende_Stolper">
                  <annotation>
                     <documentation>11789: Angir tilstand på stolper i ettergivende rekkverksende.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11789</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, stolper</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilstandEttergivendeRekkverksende_Bruddpinner">
                  <annotation>
                     <documentation>11790: Angir tilstand for bruddpinner for ettergivende rekkverksende.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11790</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, Bruddpinner</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilstandEttergivendeRekkverksende_Renhold">
                  <annotation>
                     <documentation>11791: Angir tilstand med hensyn på funksjon og renhold for ettergivende rekkverksende.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11791</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, renhold</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilstandEttergivendeRekkverksende_Fundament">
                  <annotation>
                     <documentation>11792: Angir tilstand med hensyn på funksjon og fundament for ettergivende rekkverksende.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11792</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstand ettergivende rekkverksende, fundament</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11794: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11794</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>11793: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11793</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandsgrad, rekkverkPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandsgrad, rekkverk"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
