GML/949.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>949: Gang-/sykkelvegstrekning der gang-/sykkelveg og parallell kjøreveg forvaltes av ulike vegmyndigheter og dermed også tilhører ulike vegkategorier. Eksempelvis kommunal gang-/sykkelveg langs fylkesveg.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="GSV langs annen vegkategori"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:GSV langs annen vegkategoriType">
      <annotation>
         <documentation>949: Gang-/sykkelvegstrekning der gang-/sykkelveg og parallell kjøreveg forvaltes av ulike vegmyndigheter og dermed også tilhører ulike vegkategorier. Eksempelvis kommunal gang-/sykkelveg langs fylkesveg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">949</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">GSV langs annen vegkategori</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="GSV langs annen vegkategoriType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="vegkategori"
                        type="nvdb:VegkategoriGSV langs annen vegkategoriType">
                  <annotation>
                     <documentation>11827: Vegkategori/vegmyndighet for kjørevegen gang- og sykkelvegen følger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11827</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegkategori</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vegnummer" type="integer">
                  <annotation>
                     <documentation>11828: Vegnummer for kjørevegen gang- og sykkelvegen følger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11828</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11829: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11829</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="GSV langs annen vegkategoriPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:GSV langs annen vegkategori"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VegkategoriGSV langs annen vegkategoriType">
      <annotation>
         <documentation>11827: Vegkategori/vegmyndighet for kjørevegen gang- og sykkelvegen følger.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11827</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegkategori</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VegkategoriGSV langs annen vegkategoriEnumerationType nvdb:VegkategoriGSV langs annen vegkategoriOtherType"/>
   </simpleType>
   <simpleType name="VegkategoriGSV langs annen vegkategoriEnumerationType">
      <annotation>
         <documentation>11827: Vegkategori/vegmyndighet for kjørevegen gang- og sykkelvegen følger.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11827</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegkategori</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="E">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19847</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Europaveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19849</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkesveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19850</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommunal veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19851</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19848</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Riksveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19852</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skogsveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VegkategoriGSV langs annen vegkategoriOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
