GML/95.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.21">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AvskjæringsleddType">
    <annotation>
      <documentation>8772: Angir om det er avskjæringsledd på skiltpunktets oppsettingsutstyr. Med avskjæringsledd vil stolpe/mast knekke eller bøyes i dette leddet ved påkjørsel.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8772</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8772</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avskjæringsledd</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AvskjæringsleddEnumerationType nvdb:AvskjæringsleddOtherType"/>
  </simpleType>
  <simpleType name="AvskjæringsleddEnumerationType">
    <annotation>
      <documentation>8772: Angir om det er avskjæringsledd på skiltpunktets oppsettingsutstyr. Med avskjæringsledd vil stolpe/mast knekke eller bøyes i dette leddet ved påkjørsel.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8772</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8772</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avskjæringsledd</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>11617: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11617</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11618: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11618</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AvskjæringsleddOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BebyggelseType">
    <annotation>
      <documentation>1919: Angir hvilken type bebyggelse vegobjektet er omgitt av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1919</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1919</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bebyggelse</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BebyggelseEnumerationType nvdb:BebyggelseOtherType"/>
  </simpleType>
  <simpleType name="BebyggelseEnumerationType">
    <annotation>
      <documentation>1919: Angir hvilken type bebyggelse vegobjektet er omgitt av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1919</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1919</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bebyggelse</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="landlig">
        <annotation>
          <documentation>2860: Landlig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2860</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Landlig</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tettbebygd">
        <annotation>
          <documentation>2861: Tettbebygd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2861</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tettbebygd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="by">
        <annotation>
          <documentation>2862: By</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2862</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">By</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BebyggelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BrakettType">
    <annotation>
      <documentation>11199: Angir om det er benyttet brakett for festing av skiltet. Brakett benyttes gjerne for skiltpunkt som er festet på vegg, bru, mm.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11199</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11199</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Brakett</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BrakettEnumerationType nvdb:BrakettOtherType"/>
  </simpleType>
  <simpleType name="BrakettEnumerationType">
    <annotation>
      <documentation>11199: Angir om det er benyttet brakett for festing av skiltet. Brakett benyttes gjerne for skiltpunkt som er festet på vegg, bru, mm.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11199</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11199</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Brakett</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>18493: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18493</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>18494: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18494</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BrakettOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BøyleType">
    <annotation>
      <documentation>8773: Angir om skiltplaten(e) er festet inn i en metallbøyle (som igjen er festet på oppsettingsutstyret).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8773</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8773</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bøyle</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BøyleEnumerationType nvdb:BøyleOtherType"/>
  </simpleType>
  <simpleType name="BøyleEnumerationType">
    <annotation>
      <documentation>8773: Angir om skiltplaten(e) er festet inn i en metallbøyle (som igjen er festet på oppsettingsutstyret).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8773</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8773</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bøyle</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>11619: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11619</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ja_Toppmontert">
        <annotation>
          <documentation>16848: Ja, toppmontert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16848</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja, toppmontert</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ja_Sidemontert">
        <annotation>
          <documentation>16849: Ja, sidemontert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16849</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja, sidemontert</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ja_Midtmontert">
        <annotation>
          <documentation>16850: Ja, midtmontert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16850</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja, midtmontert</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forgrening">
        <annotation>
          <documentation>17268: Skiltstolpe med forgrening. En eller flere av skiltplatene er festet på forgreningen.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17268</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forgrening</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11620: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11620</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BøyleOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierSkiltpunktType">
    <annotation>
      <documentation>7999: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7999</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7999</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierSkiltpunktEnumerationType nvdb:EierSkiltpunktOtherType"/>
  </simpleType>
  <simpleType name="EierSkiltpunktEnumerationType">
    <annotation>
      <documentation>7999: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7999</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7999</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>10265: Stat, Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10265</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stat, Statens vegvesen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>18564: Stat, Nye Veier</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18564</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stat, Nye Veier</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10727: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10727</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10329: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10329</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10393: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10393</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Privat</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17570: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17570</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Uavklart</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSkiltpunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringSkiltpunktType">
    <annotation>
      <documentation>1671: Angir hvordan vegobjektet er fundamentert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1671</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1671</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fundamentering</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FundamenteringSkiltpunktEnumerationType nvdb:FundamenteringSkiltpunktOtherType"/>
  </simpleType>
  <simpleType name="FundamenteringSkiltpunktEnumerationType">
    <annotation>
      <documentation>1671: Angir hvordan vegobjektet er fundamentert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1671</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1671</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fundamentering</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ingen">
        <annotation>
          <documentation>3474: Ingen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3474</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ingen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IPåFjellfundament">
        <annotation>
          <documentation>2430: Skiltpunkt er fundamentert/montert på fjell eller massiv betongkonstruksjon (f.eks bru). Kan være påmontert stålfundament eller innfesting i borehull.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2430</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">I/på fjellfundament</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IPåJordfundament">
        <annotation>
          <documentation>2435: Skiltpunkt er fundamentert/montert på jord/løsmasser/pukk.  Kan være betongfundament eller jordstikk.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2435</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">I/på jordfundament</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringSkiltpunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Kampanje_EgnetType">
    <annotation>
      <documentation>9483: Angir type kampanje(r) som skiltpunktet er tilrettelagt for</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9483</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9483</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kampanje, egnet</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Kampanje_EgnetEnumerationType nvdb:Kampanje_EgnetOtherType"/>
  </simpleType>
  <simpleType name="Kampanje_EgnetEnumerationType">
    <annotation>
      <documentation>9483: Angir type kampanje(r) som skiltpunktet er tilrettelagt for</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9483</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9483</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kampanje, egnet</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="bilbelte">
        <annotation>
          <documentation>13357: Punkt forberedt og egent for bruk i  bilbeltekampanje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13357</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bilbelte</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fart">
        <annotation>
          <documentation>13360: Punkt forberedt og egnet for bruk i  fartskampanje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13360</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fart</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="delVegen">
        <annotation>
          <documentation>17367: Punkt forberedt og egnet for bruk i del vegen-kampanje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17367</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Del vegen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bilbelteFart">
        <annotation>
          <documentation>13361: Punkt forberedt og egnet både for bruk i både bilbeltekampanje og fartskampanje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13361</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bilbelte/Fart</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stoppOgSov_Historisk">
        <annotation>
          <documentation>13358: Punkt forberedt for stopp og sov kampanje. 2016: Kampanjen er utgått. Verdi er kun med for å kunne ta vare på historikk.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13358</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stopp og sov (historisk)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Kampanje_EgnetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Kampanje_PågåendeType">
    <annotation>
      <documentation>10895: Angir type kampanje som pågår i periode angitt under ET 10894 "Kampanjeperiode"</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10895</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10895</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kampanje, pågående</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Kampanje_PågåendeEnumerationType nvdb:Kampanje_PågåendeOtherType"/>
  </simpleType>
  <simpleType name="Kampanje_PågåendeEnumerationType">
    <annotation>
      <documentation>10895: Angir type kampanje som pågår i periode angitt under ET 10894 "Kampanjeperiode"</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10895</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10895</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kampanje, pågående</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="bilbelte">
        <annotation>
          <documentation>18173: Punkt hvor det pågår bilbeltekampanje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18173</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bilbelte</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fart">
        <annotation>
          <documentation>18172: Punkt hvor det pågår fartskampanje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18172</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fart</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="delVegen">
        <annotation>
          <documentation>18174: Punkt hvor det pågår del vegen-kampanje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18174</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Del vegen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ingen">
        <annotation>
          <documentation>18171: Punkt det er tilrettelat for kampanje, men hvor det for tiden ikke pågår noen kampanje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18171</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ingen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Kampanje_PågåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KlimaType">
    <annotation>
      <documentation>1882: Angir hvilken type klima det er der vegobjektet er plassert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1882</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1882</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Klima</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KlimaEnumerationType nvdb:KlimaOtherType"/>
  </simpleType>
  <simpleType name="KlimaEnumerationType">
    <annotation>
      <documentation>1882: Angir hvilken type klima det er der vegobjektet er plassert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1882</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1882</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Klima</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="kystklima">
        <annotation>
          <documentation>3469: Kystklima</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3469</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kystklima</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="innland">
        <annotation>
          <documentation>3894: Innland</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3894</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Innland</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="innland_Under300">
        <annotation>
          <documentation>2857: Innland, &lt; 300</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2857</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Innland, &lt; 300</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="innland_300Til600">
        <annotation>
          <documentation>2858: Innland, 300 til 600</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2858</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Innland, 300 til 600</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="innland_Over600">
        <annotation>
          <documentation>2859: Innland, &gt; 600</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2859</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Innland, &gt; 600</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KlimaOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MiljøType">
    <annotation>
      <documentation>1881: Angir om vegobjektet er lokalisert til et område med kjemisk forurensning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1881</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1881</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Miljø</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MiljøEnumerationType nvdb:MiljøOtherType"/>
  </simpleType>
  <simpleType name="MiljøEnumerationType">
    <annotation>
      <documentation>1881: Angir om vegobjektet er lokalisert til et område med kjemisk forurensning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1881</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1881</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Miljø</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ikkeKjemisk">
        <annotation>
          <documentation>3509: Ikke kjemisk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3509</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ikke kjemisk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kjemiskForurensning">
        <annotation>
          <documentation>3510: Kjemisk forurensning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3510</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjemisk forurensning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MiljøOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrSkiltpunktType">
    <annotation>
      <documentation>1876: Angir hvilket oppsettingsutstyr skiltplatene er festet på</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1876</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1876</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppsettingsutstyr</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppsettingsutstyrSkiltpunktEnumerationType nvdb:OppsettingsutstyrSkiltpunktOtherType"/>
  </simpleType>
  <simpleType name="OppsettingsutstyrSkiltpunktEnumerationType">
    <annotation>
      <documentation>1876: Angir hvilket oppsettingsutstyr skiltplatene er festet på</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1876</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1876</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppsettingsutstyr</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="stolpe60_3Mm_2">
        <annotation>
          <documentation>2866: ytre diameter 60,3 mm og godstykkelse 2,9 mm (beteget som 2")</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2866</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stolpe 60,3 mm (2")</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stolpe88_9Mm_3">
        <annotation>
          <documentation>2868: ytre diameter 88,9 mm og godstykkelse 3,2 mm (beteget som 3")</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2868</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stolpe 88,9 mm (3")</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trestolpe">
        <annotation>
          <documentation>7988: Trestolpe</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7988</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trestolpe</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="søyle_Liten">
        <annotation>
          <documentation>2879: Søyle, liten</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2879</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Søyle, liten</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="søyle_Liten_Rund110Mm">
        <annotation>
          <documentation>4597: Søyle, liten, rund 110 mm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4597</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Søyle, liten, rund 110 mm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="søyle_Liten_Åttekantet120mm">
        <annotation>
          <documentation>4598: Søyle, liten, åttekantet 120mm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4598</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Søyle, liten, åttekantet 120mm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="søyle_Middels">
        <annotation>
          <documentation>2881: Søyle, middels</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2881</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Søyle, middels</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="søyle_Middels_Åttekantet150Mm">
        <annotation>
          <documentation>4599: Søyle, middels, åttekantet 150 mm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4599</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Søyle, middels, åttekantet 150 mm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="søyle_Stor">
        <annotation>
          <documentation>2883: Søyle, stor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2883</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Søyle, stor</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="søyle_Stor_Rund180Mm">
        <annotation>
          <documentation>4600: Søyle, stor, rund 180 mm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4600</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Søyle, stor, rund 180 mm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="søyle_Stor_Åttekantet190Mm">
        <annotation>
          <documentation>4601: Søyle, stor, åttekantet 190 mm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4601</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Søyle, stor, åttekantet 190 mm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gittermast">
        <annotation>
          <documentation>4604: Gittermast</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4604</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gittermast</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gittermast_Trekant200mm">
        <annotation>
          <documentation>4602: Gittermast, trekant 200mm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4602</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gittermast, trekant 200mm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gittermast_Trekant250mm">
        <annotation>
          <documentation>4603: Gittermast, trekant 250mm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4603</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gittermast, trekant 250mm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gittermast_Firkant200mm">
        <annotation>
          <documentation>4605: Gittermast, firkant 200mm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4605</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gittermast, firkant 200mm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gittermast_Firkant250mm">
        <annotation>
          <documentation>4606: Gittermast, firkant 250mm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4606</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gittermast, firkant 250mm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gittermast_Firkant380mm">
        <annotation>
          <documentation>4607: Gittermast, firkant 380mm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4607</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gittermast, firkant 380mm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hengerITakKabelbro">
        <annotation>
          <documentation>18488: Festet direkte i tak eller i kabelbro. Aktuelt i forbindelse med tunneler og underganger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18488</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Henger i tak/kabelbro</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1_RørPåBunnplate">
        <annotation>
          <documentation>8007: System brukt bla i Oppland.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8007</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">1-rør på bunnplate</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2_RørPåBunnplate">
        <annotation>
          <documentation>8006: System brukt bla i Oppland.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8006</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">2-rør på bunnplate</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3_RørPåBunnplate">
        <annotation>
          <documentation>8005: System brukt bla i Oppland.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8005</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">3-rør på bunnplate</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bakkemontertBøyle">
        <annotation>
          <documentation>16851: Bøyle med innfesting i bakken. Skiltplater festes inni bøyle</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16851</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bakkemontert bøyle</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="helportal">
        <annotation>
          <documentation>2874: Festet på helportal. En helportal har to innfestinger i bakken.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2874</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Helportal</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="halvportal">
        <annotation>
          <documentation>2871: Festet på halvportal. En halvportal har bare en innfesting i bakken.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2871</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Halvportal</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="wirestrekk">
        <annotation>
          <documentation>2877: Festet på wire som er spent opp over vegen. Wirw kan være festet i egne stolper, vegg/bygning e.l.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2877</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Wirestrekk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skiltbjelkeGitterdragerITak">
        <annotation>
          <documentation>5043: Festet på skiltbjelke/gitermast. Skiltbjelke/gitermast benyttes hovedsakelig i  tunnel eller i forbindelse med underganger og er festet i taket.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5043</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skiltbjelke/gitterdrager i tak</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="signalstolpe">
        <annotation>
          <documentation>18926: På stolpe som primært er satt opp for  å feste signalhoder.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18926</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signalstolpe</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegg">
        <annotation>
          <documentation>3266: Festet på vegg/bygning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3266</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lysmast">
        <annotation>
          <documentation>2967: Festet på lysmast</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2967</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lysmast</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegbom">
        <annotation>
          <documentation>17567: Festet på vegbom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17567</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegbom</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrSkiltpunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Produktnavn_SkiltmastType">
    <annotation>
      <documentation>10427: Angir produktnavn for ettergivende skiltmast. Verdier er hentet fra oversikt over godkjente produkttyper på vegvesen.no</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10427</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10427</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produktnavn, skiltmast</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Produktnavn_SkiltmastEnumerationType nvdb:Produktnavn_SkiltmastOtherType"/>
  </simpleType>
  <simpleType name="Produktnavn_SkiltmastEnumerationType">
    <annotation>
      <documentation>10427: Angir produktnavn for ettergivende skiltmast. Verdier er hentet fra oversikt over godkjente produkttyper på vegvesen.no</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10427</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10427</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produktnavn, skiltmast</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="HIMASTH500">
        <annotation>
          <documentation>16852: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=509351&amp;method=alle&amp;produkttype=12623</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16852</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">HIMAST H500</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HIMASTH1000">
        <annotation>
          <documentation>16853: HIMAST H1000</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16853</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">HIMAST H1000</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HIMASTH2000">
        <annotation>
          <documentation>16854: HIMAST H2000</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16854</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">HIMAST H2000</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HIMASTH3000">
        <annotation>
          <documentation>16855: HIMAST H3000</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16855</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">HIMAST H3000</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jerol114">
        <annotation>
          <documentation>16856: Jerol 114</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16856</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Jerol 114</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jerol168">
        <annotation>
          <documentation>16857: Jerol 168</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16857</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Jerol 168</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jerol219">
        <annotation>
          <documentation>16858: Jerol 219</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16858</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Jerol 219</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jerol273">
        <annotation>
          <documentation>16859: Jerol 273</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16859</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Jerol 273</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lattixD4412">
        <annotation>
          <documentation>16860: Lattix D4412</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16860</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lattix D4412</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lattix4420">
        <annotation>
          <documentation>16861: Lattix 4420</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16861</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lattix 4420</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lattix4425">
        <annotation>
          <documentation>16862: Lattix 4425</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16862</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lattix 4425</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lattix4438">
        <annotation>
          <documentation>16863: Lattix 4438</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16863</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lattix 4438</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="norsafeNM_89">
        <annotation>
          <documentation>16864: Norsafe NM 89</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16864</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Norsafe NM 89</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="norsafeNM_120">
        <annotation>
          <documentation>16865: Norsafe NM 120</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16865</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Norsafe NM 120</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="norsafeNM_150">
        <annotation>
          <documentation>16866: Norsafe NM 150</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16866</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Norsafe NM 150</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="norsafeNM_190C">
        <annotation>
          <documentation>16867: Norsafe NM 190C</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16867</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Norsafe NM 190C</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="norsafeNM_190D">
        <annotation>
          <documentation>16868: Norsafe NM 190D</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16868</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Norsafe NM 190D</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="norsafeNM_290">
        <annotation>
          <documentation>16869: Norsafe NM 290</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16869</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Norsafe NM 290</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="opplandsmastToløper">
        <annotation>
          <documentation>16870: Opplandsmast toløper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16870</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Opplandsmast toløper</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="opplandsmastTreløper">
        <annotation>
          <documentation>16871: Opplandsmast treløper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16871</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Opplandsmast treløper</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TV">
        <annotation>
          <documentation>16872: T&amp;V</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16872</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">T&amp;V</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Produktnavn_SkiltmastOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkiltholderType">
    <annotation>
      <documentation>10548: Angir om skiltpunktet har skiltholder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10548</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10548</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skiltholder</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkiltholderEnumerationType nvdb:SkiltholderOtherType"/>
  </simpleType>
  <simpleType name="SkiltholderEnumerationType">
    <annotation>
      <documentation>10548: Angir om skiltpunktet har skiltholder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10548</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10548</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skiltholder</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja_Rett">
        <annotation>
          <documentation>16935: Ja, rett</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16935</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja, rett</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ja_Buet">
        <annotation>
          <documentation>16936: Ja, buet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16936</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja, buet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16937: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16937</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkiltholderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skiltpunkt" substitutionGroup="nvdb:AbstraktSkiltpunkt" type="nvdb:SkiltpunktType">
    <annotation>
      <documentation>95: Skiltpunkt er en sammensetning av skiltplater, stolper og stolpefundament mm.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">95</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">95</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skiltpunkt</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkiltpunktType">
    <complexContent>
      <extension base="nvdb:AbstraktSkiltpunktType">
        <sequence>
          <element minOccurs="0" name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrSkiltpunktType">
            <annotation>
              <documentation>1876: Angir hvilket oppsettingsutstyr skiltplatene er festet på</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1876</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppsettingsutstyr</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallOppsettingsutstyr" type="integer">
            <annotation>
              <documentation>1877: Angir antall oppsettingsutstyr det er i forbindelse med vegobjektet.  Antall skiltstolper/søyler knyttet til skiltpunktet. Eventuelle støttestolper skal ikke medregnes.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1877</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall oppsettingsutstyr</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallStøttestolper" type="integer">
            <annotation>
              <documentation>10929: Angir hvor mange støttestolper det er i tilknytning til skiltpunktet. Støttestolpene er skråstilte og benyttes for å avstive skiltpunkt i forhold til bla vindlast.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10929</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall støttestolper</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avskjæringsledd" type="nvdb:AvskjæringsleddType">
            <annotation>
              <documentation>8772: Angir om det er avskjæringsledd på skiltpunktets oppsettingsutstyr. Med avskjæringsledd vil stolpe/mast knekke eller bøyes i dette leddet ved påkjørsel.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8772</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avskjæringsledd</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde_MastStolpe" type="double">
            <annotation>
              <documentation>10428: Gir høyde (lengde) av selve masten/stolpen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10428</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Høyde, mast/stolpe</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeOverVegkant" type="double">
            <annotation>
              <documentation>2055: Angir høyde fra vegkant til underkant nederste skiltplate som ikke er underskilt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2055</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Høyde over vegkant</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avstandFraDekkekant" type="double">
            <annotation>
              <documentation>1884: Angir hvilken avstand det er fra dekkekant til vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1884</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avstand fra dekkekant</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fundamentering" type="nvdb:FundamenteringSkiltpunktType">
            <annotation>
              <documentation>1671: Angir hvordan vegobjektet er fundamentert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1671</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fundamentering</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallFundament" type="integer">
            <annotation>
              <documentation>1887: Angir hvor mange fundament det er i tilknytning til vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1887</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall fundament</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bøyle" type="nvdb:BøyleType">
            <annotation>
              <documentation>8773: Angir om skiltplaten(e) er festet inn i en metallbøyle (som igjen er festet på oppsettingsutstyret).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8773</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bøyle</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kampanje_Egnet" type="nvdb:Kampanje_EgnetType">
            <annotation>
              <documentation>9483: Angir type kampanje(r) som skiltpunktet er tilrettelagt for</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9483</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kampanje, egnet</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kampanje_Pågående" type="nvdb:Kampanje_PågåendeType">
            <annotation>
              <documentation>10895: Angir type kampanje som pågår i periode angitt under ET 10894 "Kampanjeperiode"</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10895</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kampanje, pågående</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kampanjeperiode" type="string">
            <annotation>
              <documentation>10894: Angir hvilken periode gjeldende kampanje gjelder for.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10894</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kampanjeperiode</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bebyggelse" type="nvdb:BebyggelseType">
            <annotation>
              <documentation>1919: Angir hvilken type bebyggelse vegobjektet er omgitt av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1919</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bebyggelse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="klima" type="nvdb:KlimaType">
            <annotation>
              <documentation>1882: Angir hvilken type klima det er der vegobjektet er plassert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1882</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Klima</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="miljø" type="nvdb:MiljøType">
            <annotation>
              <documentation>1881: Angir om vegobjektet er lokalisert til et område med kjemisk forurensning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1881</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Miljø</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brakett" type="nvdb:BrakettType">
            <annotation>
              <documentation>11199: Angir om det er benyttet brakett for festing av skiltet. Brakett benyttes gjerne for skiltpunkt som er festet på vegg, bru, mm.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11199</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Brakett</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skiltholder" type="nvdb:SkiltholderType">
            <annotation>
              <documentation>10548: Angir om skiltpunktet har skiltholder</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10548</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skiltholder</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn_Skiltmast" type="nvdb:Produktnavn_SkiltmastType">
            <annotation>
              <documentation>10427: Angir produktnavn for ettergivende skiltmast. Verdier er hentet fra oversikt over godkjente produkttyper på vegvesen.no</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10427</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produktnavn, skiltmast</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10854: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10854</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11078: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11078</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Prosjektreferanse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierSkiltpunktType">
            <annotation>
              <documentation>7999: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7999</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSkiltpunktType">
            <annotation>
              <documentation>8063: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8063</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vedlikeholdsansvarlig</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4794: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4794</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløpUtenTrafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløpUtenTrafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSkiltplate" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkiltplate</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkiltportal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkiltportal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkadeFU_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSystemobjekt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSystemobjekt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Skiltpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTilstandSkade_Skiltpunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVariabeltSkilt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVariabeltSkilt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBomstasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktBomstasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkiltpunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skiltpunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligSkiltpunktType">
    <annotation>
      <documentation>8063: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8063</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8063</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vedlikeholdsansvarlig</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSkiltpunktEnumerationType nvdb:VedlikeholdsansvarligSkiltpunktOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkiltpunktEnumerationType">
    <annotation>
      <documentation>8063: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8063</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8063</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vedlikeholdsansvarlig</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10457: Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10457</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Statens vegvesen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>18782: Nye Veier</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18782</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nye Veier</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>19931: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19931</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18911: OPS</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18911</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">OPS</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10535: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10535</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10613: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10613</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Privat</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17715: Uavklart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17715</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Uavklart</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkiltpunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
